/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palAlphabet-1: rgb(66.666667% 5.098039% 99.607843%);
    --palAlphabet-2: rgb(19.607843% 51.372549% 99.607843%);
    --palAlphabet-3: rgb(52.156863% 40% 5.098039%);
    --palAlphabet-4: rgb(47.058824% 16.470588% 71.372549%);
    --palAlphabet-5: rgb(33.72549% 33.72549% 33.72549%);
    --palAlphabet-6: rgb(10.980392% 51.372549% 33.72549%);
    --palAlphabet-7: rgb(8.627451% 100% 19.607843%);
    --palAlphabet-8: rgb(96.862745% 88.235294% 62.745098%);
    --palAlphabet-9: rgb(88.627451% 88.627451% 88.627451%);
    --palAlphabet-10: rgb(10.980392% 74.509804% 30.980392%);
    --palAlphabet-11: rgb(76.862745% 27.058824% 10.980392%);
    --palAlphabet-12: rgb(87.058824% 62.745098% 99.215686%);
    --palAlphabet-13: rgb(99.607843% 0% 98.039216%);
    --palAlphabet-14: rgb(19.607843% 35.294118% 60.784314%);
    --palAlphabet-15: rgb(99.607843% 68.627451% 8.627451%);
    --palAlphabet-16: rgb(97.254902% 63.137255% 62.352941%);
    --palAlphabet-17: rgb(56.470588% 67.843137% 10.980392%);
    --palAlphabet-18: rgb(96.470588% 13.333333% 18.039216%);
    --palAlphabet-19: rgb(10.980392% 100% 80.784314%);
    --palAlphabet-20: rgb(18.039216% 85.098039% 100%);
    --palAlphabet-21: rgb(69.411765% 5.098039% 63.137255%);
    --palAlphabet-22: rgb(75.294118% 45.882353% 65.098039%);
    --palAlphabet-23: rgb(98.823529% 10.980392% 74.901961%);
    --palAlphabet-24: rgb(69.019608% 0% 40.784314%);
    --palAlphabet-25: rgb(98.431373% 89.411765% 14.901961%);
    --palAlphabet-26: rgb(98.039216% 0% 52.941176%);
}
