/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palAquatic1-1: rgb(20.392157% 14.117647% 9.803922%);
    --palAquatic1-2: rgb(10.980392% 25.098039% 15.294118%);
    --palAquatic1-3: rgb(94.509804% 78.823529% 5.490196%);
    --palAquatic1-4: rgb(40% 34.509804% 60%);
    --palAquatic1-5: rgb(72.156863% 57.647059% 50.980392%);
}
