/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBam-1: rgb(39.622% 0.81199% 29.605%);
    --palBam-2: rgb(40.507% 1.8136% 30.473%);
    --palBam-3: rgb(41.391% 2.8663% 31.342%);
    --palBam-4: rgb(42.27% 4.01% 32.208%);
    --palBam-5: rgb(43.148% 5.1043% 33.072%);
    --palBam-6: rgb(44.019% 6.117% 33.935%);
    --palBam-7: rgb(44.885% 7.0776% 34.792%);
    --palBam-8: rgb(45.745% 7.9825% 35.645%);
    --palBam-9: rgb(46.599% 8.8578% 36.492%);
    --palBam-10: rgb(47.448% 9.6961% 37.335%);
    --palBam-11: rgb(48.289% 10.516% 38.173%);
    --palBam-12: rgb(49.125% 11.322% 39.005%);
    --palBam-13: rgb(49.951% 12.098% 39.832%);
    --palBam-14: rgb(50.774% 12.868% 40.652%);
    --palBam-15: rgb(51.586% 13.623% 41.466%);
    --palBam-16: rgb(52.394% 14.372% 42.273%);
    --palBam-17: rgb(53.194% 15.107% 43.074%);
    --palBam-18: rgb(53.985% 15.837% 43.868%);
    --palBam-19: rgb(54.77% 16.553% 44.655%);
    --palBam-20: rgb(55.546% 17.269% 45.435%);
    --palBam-21: rgb(56.315% 17.977% 46.207%);
    --palBam-22: rgb(57.075% 18.68% 46.972%);
    --palBam-23: rgb(57.827% 19.379% 47.728%);
    --palBam-24: rgb(58.572% 20.069% 48.477%);
    --palBam-25: rgb(59.306% 20.76% 49.219%);
    --palBam-26: rgb(60.032% 21.444% 49.952%);
    --palBam-27: rgb(60.75% 22.126% 50.677%);
    --palBam-28: rgb(61.457% 22.804% 51.394%);
    --palBam-29: rgb(62.157% 23.479% 52.102%);
    --palBam-30: rgb(62.847% 24.15% 52.801%);
    --palBam-31: rgb(63.526% 24.819% 53.492%);
    --palBam-32: rgb(64.197% 25.485% 54.174%);
    --palBam-33: rgb(64.857% 26.148% 54.848%);
    --palBam-34: rgb(65.507% 26.808% 55.512%);
    --palBam-35: rgb(66.148% 27.469% 56.168%);
    --palBam-36: rgb(66.779% 28.127% 56.814%);
    --palBam-37: rgb(67.398% 28.785% 57.452%);
    --palBam-38: rgb(68.008% 29.442% 58.082%);
    --palBam-39: rgb(68.609% 30.1% 58.704%);
    --palBam-40: rgb(69.201% 30.758% 59.318%);
    --palBam-41: rgb(69.782% 31.419% 59.926%);
    --palBam-42: rgb(70.357% 32.083% 60.526%);
    --palBam-43: rgb(70.924% 32.749% 61.122%);
    --palBam-44: rgb(71.483% 33.423% 61.713%);
    --palBam-45: rgb(72.036% 34.1% 62.3%);
    --palBam-46: rgb(72.584% 34.786% 62.883%);
    --palBam-47: rgb(73.125% 35.481% 63.464%);
    --palBam-48: rgb(73.661% 36.183% 64.043%);
    --palBam-49: rgb(74.193% 36.895% 64.62%);
    --palBam-50: rgb(74.72% 37.618% 65.196%);
    --palBam-51: rgb(75.241% 38.351% 65.77%);
    --palBam-52: rgb(75.758% 39.094% 66.342%);
    --palBam-53: rgb(76.27% 39.847% 66.912%);
    --palBam-54: rgb(76.776% 40.612% 67.481%);
    --palBam-55: rgb(77.276% 41.386% 68.048%);
    --palBam-56: rgb(77.771% 42.17% 68.613%);
    --palBam-57: rgb(78.259% 42.965% 69.176%);
    --palBam-58: rgb(78.741% 43.77% 69.736%);
    --palBam-59: rgb(79.216% 44.581% 70.293%);
    --palBam-60: rgb(79.684% 45.404% 70.848%);
    --palBam-61: rgb(80.146% 46.233% 71.399%);
    --palBam-62: rgb(80.601% 47.072% 71.947%);
    --palBam-63: rgb(81.048% 47.917% 72.492%);
    --palBam-64: rgb(81.488% 48.769% 73.033%);
    --palBam-65: rgb(81.921% 49.627% 73.571%);
    --palBam-66: rgb(82.346% 50.492% 74.104%);
    --palBam-67: rgb(82.765% 51.362% 74.635%);
    --palBam-68: rgb(83.177% 52.236% 75.162%);
    --palBam-69: rgb(83.581% 53.116% 75.684%);
    --palBam-70: rgb(83.979% 53.999% 76.202%);
    --palBam-71: rgb(84.369% 54.887% 76.717%);
    --palBam-72: rgb(84.754% 55.777% 77.228%);
    --palBam-73: rgb(85.131% 56.669% 77.736%);
    --palBam-74: rgb(85.504% 57.564% 78.239%);
    --palBam-75: rgb(85.869% 58.46% 78.739%);
    --palBam-76: rgb(86.23% 59.357% 79.234%);
    --palBam-77: rgb(86.584% 60.255% 79.726%);
    --palBam-78: rgb(86.933% 61.153% 80.215%);
    --palBam-79: rgb(87.276% 62.051% 80.7%);
    --palBam-80: rgb(87.615% 62.948% 81.18%);
    --palBam-81: rgb(87.948% 63.844% 81.658%);
    --palBam-82: rgb(88.277% 64.739% 82.131%);
    --palBam-83: rgb(88.602% 65.632% 82.601%);
    --palBam-84: rgb(88.922% 66.521% 83.067%);
    --palBam-85: rgb(89.238% 67.407% 83.528%);
    --palBam-86: rgb(89.549% 68.29% 83.986%);
    --palBam-87: rgb(89.856% 69.169% 84.439%);
    --palBam-88: rgb(90.159% 70.042% 84.888%);
    --palBam-89: rgb(90.457% 70.911% 85.332%);
    --palBam-90: rgb(90.751% 71.772% 85.771%);
    --palBam-91: rgb(91.04% 72.627% 86.206%);
    --palBam-92: rgb(91.325% 73.474% 86.634%);
    --palBam-93: rgb(91.604% 74.314% 87.055%);
    --palBam-94: rgb(91.88% 75.144% 87.471%);
    --palBam-95: rgb(92.15% 75.964% 87.881%);
    --palBam-96: rgb(92.415% 76.775% 88.283%);
    --palBam-97: rgb(92.674% 77.576% 88.678%);
    --palBam-98: rgb(92.928% 78.365% 89.064%);
    --palBam-99: rgb(93.177% 79.142% 89.443%);
    --palBam-100: rgb(93.419% 79.908% 89.813%);
    --palBam-101: rgb(93.656% 80.661% 90.174%);
    --palBam-102: rgb(93.885% 81.4% 90.525%);
    --palBam-103: rgb(94.108% 82.127% 90.866%);
    --palBam-104: rgb(94.324% 82.839% 91.197%);
    --palBam-105: rgb(94.533% 83.537% 91.516%);
    --palBam-106: rgb(94.733% 84.221% 91.824%);
    --palBam-107: rgb(94.926% 84.888% 92.12%);
    --palBam-108: rgb(95.111% 85.541% 92.403%);
    --palBam-109: rgb(95.287% 86.176% 92.672%);
    --palBam-110: rgb(95.453% 86.794% 92.927%);
    --palBam-111: rgb(95.61% 87.394% 93.168%);
    --palBam-112: rgb(95.757% 87.977% 93.392%);
    --palBam-113: rgb(95.894% 88.54% 93.602%);
    --palBam-114: rgb(96.02% 89.084% 93.793%);
    --palBam-115: rgb(96.134% 89.607% 93.967%);
    --palBam-116: rgb(96.236% 90.11% 94.123%);
    --palBam-117: rgb(96.327% 90.592% 94.261%);
    --palBam-118: rgb(96.405% 91.051% 94.378%);
    --palBam-119: rgb(96.471% 91.487% 94.476%);
    --palBam-120: rgb(96.523% 91.9% 94.553%);
    --palBam-121: rgb(96.563% 92.291% 94.61%);
    --palBam-122: rgb(96.588% 92.657% 94.645%);
    --palBam-123: rgb(96.6% 92.999% 94.659%);
    --palBam-124: rgb(96.599% 93.316% 94.651%);
    --palBam-125: rgb(96.583% 93.609% 94.622%);
    --palBam-126: rgb(96.554% 93.877% 94.571%);
    --palBam-127: rgb(96.511% 94.12% 94.499%);
    --palBam-128: rgb(96.454% 94.34% 94.404%);
    --palBam-129: rgb(96.383% 94.536% 94.287%);
    --palBam-130: rgb(96.298% 94.71% 94.147%);
    --palBam-131: rgb(96.198% 94.861% 93.985%);
    --palBam-132: rgb(96.083% 94.991% 93.797%);
    --palBam-133: rgb(95.951% 95.101% 93.584%);
    --palBam-134: rgb(95.802% 95.192% 93.343%);
    --palBam-135: rgb(95.635% 95.263% 93.074%);
    --palBam-136: rgb(95.449% 95.316% 92.775%);
    --palBam-137: rgb(95.243% 95.35% 92.445%);
    --palBam-138: rgb(95.018% 95.364% 92.084%);
    --palBam-139: rgb(94.772% 95.36% 91.691%);
    --palBam-140: rgb(94.506% 95.337% 91.265%);
    --palBam-141: rgb(94.219% 95.294% 90.808%);
    --palBam-142: rgb(93.911% 95.231% 90.317%);
    --palBam-143: rgb(93.583% 95.15% 89.793%);
    --palBam-144: rgb(93.232% 95.049% 89.238%);
    --palBam-145: rgb(92.861% 94.929% 88.65%);
    --palBam-146: rgb(92.469% 94.79% 88.03%);
    --palBam-147: rgb(92.056% 94.632% 87.378%);
    --palBam-148: rgb(91.622% 94.455% 86.694%);
    --palBam-149: rgb(91.167% 94.259% 85.98%);
    --palBam-150: rgb(90.691% 94.044% 85.234%);
    --palBam-151: rgb(90.194% 93.811% 84.457%);
    --palBam-152: rgb(89.675% 93.56% 83.65%);
    --palBam-153: rgb(89.134% 93.289% 82.813%);
    --palBam-154: rgb(88.573% 93.002% 81.946%);
    --palBam-155: rgb(87.989% 92.695% 81.049%);
    --palBam-156: rgb(87.384% 92.372% 80.124%);
    --palBam-157: rgb(86.757% 92.029% 79.171%);
    --palBam-158: rgb(86.107% 91.669% 78.19%);
    --palBam-159: rgb(85.436% 91.29% 77.181%);
    --palBam-160: rgb(84.743% 90.894% 76.146%);
    --palBam-161: rgb(84.028% 90.48% 75.086%);
    --palBam-162: rgb(83.29% 90.047% 74.001%);
    --palBam-163: rgb(82.531% 89.598% 72.893%);
    --palBam-164: rgb(81.751% 89.13% 71.765%);
    --palBam-165: rgb(80.95% 88.646% 70.616%);
    --palBam-166: rgb(80.128% 88.143% 69.448%);
    --palBam-167: rgb(79.287% 87.624% 68.265%);
    --palBam-168: rgb(78.427% 87.089% 67.069%);
    --palBam-169: rgb(77.548% 86.538% 65.859%);
    --palBam-170: rgb(76.653% 85.971% 64.64%);
    --palBam-171: rgb(75.741% 85.388% 63.415%);
    --palBam-172: rgb(74.814% 84.792% 62.183%);
    --palBam-173: rgb(73.874% 84.182% 60.95%);
    --palBam-174: rgb(72.92% 83.558% 59.716%);
    --palBam-175: rgb(71.956% 82.921% 58.485%);
    --palBam-176: rgb(70.982% 82.273% 57.258%);
    --palBam-177: rgb(69.999% 81.614% 56.037%);
    --palBam-178: rgb(69.009% 80.945% 54.826%);
    --palBam-179: rgb(68.013% 80.266% 53.625%);
    --palBam-180: rgb(67.015% 79.579% 52.437%);
    --palBam-181: rgb(66.013% 78.885% 51.264%);
    --palBam-182: rgb(65.01% 78.184% 50.108%);
    --palBam-183: rgb(64.007% 77.477% 48.969%);
    --palBam-184: rgb(63.005% 76.767% 47.851%);
    --palBam-185: rgb(62.007% 76.053% 46.753%);
    --palBam-186: rgb(61.012% 75.335% 45.676%);
    --palBam-187: rgb(60.022% 74.616% 44.621%);
    --palBam-188: rgb(59.038% 73.896% 43.59%);
    --palBam-189: rgb(58.061% 73.174% 42.581%);
    --palBam-190: rgb(57.091% 72.454% 41.596%);
    --palBam-191: rgb(56.13% 71.735% 40.635%);
    --palBam-192: rgb(55.179% 71.016% 39.696%);
    --palBam-193: rgb(54.235% 70.3% 38.782%);
    --palBam-194: rgb(53.302% 69.587% 37.891%);
    --palBam-195: rgb(52.379% 68.877% 37.022%);
    --palBam-196: rgb(51.467% 68.169% 36.177%);
    --palBam-197: rgb(50.563% 67.467% 35.351%);
    --palBam-198: rgb(49.672% 66.769% 34.547%);
    --palBam-199: rgb(48.792% 66.074% 33.764%);
    --palBam-200: rgb(47.922% 65.385% 33%);
    --palBam-201: rgb(47.063% 64.701% 32.255%);
    --palBam-202: rgb(46.214% 64.023% 31.526%);
    --palBam-203: rgb(45.376% 63.349% 30.815%);
    --palBam-204: rgb(44.549% 62.681% 30.12%);
    --palBam-205: rgb(43.734% 62.019% 29.442%);
    --palBam-206: rgb(42.927% 61.361% 28.778%);
    --palBam-207: rgb(42.13% 60.712% 28.129%);
    --palBam-208: rgb(41.345% 60.066% 27.494%);
    --palBam-209: rgb(40.57% 59.428% 26.872%);
    --palBam-210: rgb(39.803% 58.794% 26.26%);
    --palBam-211: rgb(39.046% 58.168% 25.66%);
    --palBam-212: rgb(38.3% 57.548% 25.072%);
    --palBam-213: rgb(37.561% 56.932% 24.493%);
    --palBam-214: rgb(36.833% 56.324% 23.926%);
    --palBam-215: rgb(36.112% 55.72% 23.365%);
    --palBam-216: rgb(35.4% 55.121% 22.817%);
    --palBam-217: rgb(34.697% 54.527% 22.273%);
    --palBam-218: rgb(33.999% 53.938% 21.736%);
    --palBam-219: rgb(33.309% 53.352% 21.206%);
    --palBam-220: rgb(32.62% 52.77% 20.681%);
    --palBam-221: rgb(31.94% 52.189% 20.156%);
    --palBam-222: rgb(31.26% 51.609% 19.642%);
    --palBam-223: rgb(30.586% 51.031% 19.123%);
    --palBam-224: rgb(29.91% 50.452% 18.609%);
    --palBam-225: rgb(29.233% 49.87% 18.091%);
    --palBam-226: rgb(28.555% 49.285% 17.574%);
    --palBam-227: rgb(27.878% 48.699% 17.058%);
    --palBam-228: rgb(27.195% 48.108% 16.536%);
    --palBam-229: rgb(26.511% 47.515% 16.012%);
    --palBam-230: rgb(25.823% 46.916% 15.488%);
    --palBam-231: rgb(25.134% 46.31% 14.961%);
    --palBam-232: rgb(24.435% 45.702% 14.426%);
    --palBam-233: rgb(23.738% 45.089% 13.886%);
    --palBam-234: rgb(23.03% 44.471% 13.344%);
    --palBam-235: rgb(22.322% 43.847% 12.797%);
    --palBam-236: rgb(21.608% 43.219% 12.239%);
    --palBam-237: rgb(20.886% 42.584% 11.683%);
    --palBam-238: rgb(20.159% 41.947% 11.121%);
    --palBam-239: rgb(19.432% 41.303% 10.546%);
    --palBam-240: rgb(18.691% 40.654% 9.9681%);
    --palBam-241: rgb(17.946% 40% 9.3826%);
    --palBam-242: rgb(17.194% 39.342% 8.7904%);
    --palBam-243: rgb(16.436% 38.679% 8.1888%);
    --palBam-244: rgb(15.666% 38.012% 7.5659%);
    --palBam-245: rgb(14.884% 37.339% 6.9479%);
    --palBam-246: rgb(14.097% 36.663% 6.304%);
    --palBam-247: rgb(13.291% 35.98% 5.6434%);
    --palBam-248: rgb(12.47% 35.294% 4.9637%);
    --palBam-249: rgb(11.638% 34.602% 4.255%);
    --palBam-250: rgb(10.778% 33.909% 3.5407%);
    --palBam-251: rgb(9.8981% 33.21% 2.8358%);
    --palBam-252: rgb(8.99% 32.505% 2.1963%);
    --palBam-253: rgb(8.0424% 31.8% 1.6%);
    --palBam-254: rgb(7.0529% 31.091% 1.0244%);
    --palBam-255: rgb(6.0124% 30.378% 0.51395%);
    --palBam-256: rgb(4.9098% 29.666% 0%);
}
