/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBluGrn-1: rgb(76.862745% 90.196078% 76.470588%);
    --palBluGrn-2: rgb(58.823529% 82.352941% 64.313725%);
    --palBluGrn-3: rgb(42.745098% 73.72549% 56.470588%);
    --palBluGrn-4: rgb(30.196078% 63.529412% 51.764706%);
    --palBluGrn-5: rgb(21.176471% 52.941176% 47.843137%);
    --palBluGrn-6: rgb(14.901961% 41.960784% 43.137255%);
    --palBluGrn-7: rgb(11.372549% 30.980392% 37.647059%);
}
