/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBroc-1: rgb(17.081% 10.027% 29.985%);
    --palBroc-2: rgb(17.075% 10.634% 30.558%);
    --palBroc-3: rgb(17.061% 11.229% 31.13%);
    --palBroc-4: rgb(17.04% 11.821% 31.705%);
    --palBroc-5: rgb(17.013% 12.404% 32.282%);
    --palBroc-6: rgb(16.981% 12.995% 32.86%);
    --palBroc-7: rgb(16.943% 13.572% 33.441%);
    --palBroc-8: rgb(16.9% 14.158% 34.021%);
    --palBroc-9: rgb(16.85% 14.739% 34.603%);
    --palBroc-10: rgb(16.797% 15.317% 35.187%);
    --palBroc-11: rgb(16.745% 15.9% 35.775%);
    --palBroc-12: rgb(16.688% 16.48% 36.361%);
    --palBroc-13: rgb(16.626% 17.063% 36.951%);
    --palBroc-14: rgb(16.562% 17.645% 37.541%);
    --palBroc-15: rgb(16.499% 18.231% 38.135%);
    --palBroc-16: rgb(16.438% 18.822% 38.728%);
    --palBroc-17: rgb(16.373% 19.411% 39.324%);
    --palBroc-18: rgb(16.306% 19.999% 39.922%);
    --palBroc-19: rgb(16.241% 20.596% 40.522%);
    --palBroc-20: rgb(16.178% 21.193% 41.124%);
    --palBroc-21: rgb(16.114% 21.792% 41.729%);
    --palBroc-22: rgb(16.05% 22.393% 42.333%);
    --palBroc-23: rgb(15.991% 22.999% 42.941%);
    --palBroc-24: rgb(15.94% 23.611% 43.551%);
    --palBroc-25: rgb(15.895% 24.223% 44.162%);
    --palBroc-26: rgb(15.856% 24.842% 44.774%);
    --palBroc-27: rgb(15.825% 25.463% 45.388%);
    --palBroc-28: rgb(15.805% 26.087% 46.004%);
    --palBroc-29: rgb(15.799% 26.715% 46.62%);
    --palBroc-30: rgb(15.81% 27.351% 47.238%);
    --palBroc-31: rgb(15.841% 27.989% 47.855%);
    --palBroc-32: rgb(15.892% 28.631% 48.472%);
    --palBroc-33: rgb(15.966% 29.28% 49.09%);
    --palBroc-34: rgb(16.075% 29.934% 49.703%);
    --palBroc-35: rgb(16.216% 30.592% 50.316%);
    --palBroc-36: rgb(16.391% 31.252% 50.927%);
    --palBroc-37: rgb(16.599% 31.919% 51.534%);
    --palBroc-38: rgb(16.854% 32.588% 52.137%);
    --palBroc-39: rgb(17.149% 33.265% 52.735%);
    --palBroc-40: rgb(17.49% 33.942% 53.327%);
    --palBroc-41: rgb(17.874% 34.62% 53.913%);
    --palBroc-42: rgb(18.3% 35.303% 54.493%);
    --palBroc-43: rgb(18.776% 35.987% 55.065%);
    --palBroc-44: rgb(19.288% 36.673% 55.629%);
    --palBroc-45: rgb(19.842% 37.358% 56.186%);
    --palBroc-46: rgb(20.439% 38.045% 56.734%);
    --palBroc-47: rgb(21.065% 38.73% 57.274%);
    --palBroc-48: rgb(21.727% 39.416% 57.805%);
    --palBroc-49: rgb(22.416% 40.103% 58.33%);
    --palBroc-50: rgb(23.136% 40.786% 58.847%);
    --palBroc-51: rgb(23.875% 41.47% 59.358%);
    --palBroc-52: rgb(24.637% 42.151% 59.862%);
    --palBroc-53: rgb(25.418% 42.834% 60.361%);
    --palBroc-54: rgb(26.213% 43.515% 60.855%);
    --palBroc-55: rgb(27.024% 44.195% 61.342%);
    --palBroc-56: rgb(27.844% 44.874% 61.828%);
    --palBroc-57: rgb(28.674% 45.553% 62.31%);
    --palBroc-58: rgb(29.515% 46.231% 62.789%);
    --palBroc-59: rgb(30.363% 46.91% 63.266%);
    --palBroc-60: rgb(31.216% 47.588% 63.742%);
    --palBroc-61: rgb(32.079% 48.266% 64.216%);
    --palBroc-62: rgb(32.944% 48.945% 64.689%);
    --palBroc-63: rgb(33.811% 49.624% 65.162%);
    --palBroc-64: rgb(34.685% 50.304% 65.634%);
    --palBroc-65: rgb(35.562% 50.985% 66.106%);
    --palBroc-66: rgb(36.44% 51.666% 66.578%);
    --palBroc-67: rgb(37.322% 52.348% 67.051%);
    --palBroc-68: rgb(38.206% 53.03% 67.522%);
    --palBroc-69: rgb(39.094% 53.714% 67.995%);
    --palBroc-70: rgb(39.982% 54.397% 68.468%);
    --palBroc-71: rgb(40.874% 55.082% 68.943%);
    --palBroc-72: rgb(41.768% 55.768% 69.416%);
    --palBroc-73: rgb(42.663% 56.454% 69.891%);
    --palBroc-74: rgb(43.56% 57.141% 70.367%);
    --palBroc-75: rgb(44.459% 57.829% 70.843%);
    --palBroc-76: rgb(45.359% 58.519% 71.319%);
    --palBroc-77: rgb(46.261% 59.209% 71.796%);
    --palBroc-78: rgb(47.166% 59.899% 72.273%);
    --palBroc-79: rgb(48.07% 60.59% 72.751%);
    --palBroc-80: rgb(48.977% 61.282% 73.231%);
    --palBroc-81: rgb(49.887% 61.976% 73.71%);
    --palBroc-82: rgb(50.797% 62.67% 74.189%);
    --palBroc-83: rgb(51.709% 63.365% 74.67%);
    --palBroc-84: rgb(52.622% 64.06% 75.151%);
    --palBroc-85: rgb(53.536% 64.757% 75.633%);
    --palBroc-86: rgb(54.452% 65.454% 76.115%);
    --palBroc-87: rgb(55.369% 66.152% 76.598%);
    --palBroc-88: rgb(56.289% 66.851% 77.081%);
    --palBroc-89: rgb(57.208% 67.551% 77.565%);
    --palBroc-90: rgb(58.13% 68.251% 78.05%);
    --palBroc-91: rgb(59.052% 68.954% 78.535%);
    --palBroc-92: rgb(59.977% 69.656% 79.021%);
    --palBroc-93: rgb(60.904% 70.359% 79.507%);
    --palBroc-94: rgb(61.83% 71.063% 79.995%);
    --palBroc-95: rgb(62.758% 71.768% 80.482%);
    --palBroc-96: rgb(63.689% 72.474% 80.97%);
    --palBroc-97: rgb(64.619% 73.181% 81.459%);
    --palBroc-98: rgb(65.552% 73.889% 81.948%);
    --palBroc-99: rgb(66.485% 74.597% 82.438%);
    --palBroc-100: rgb(67.421% 75.305% 82.929%);
    --palBroc-101: rgb(68.357% 76.016% 83.42%);
    --palBroc-102: rgb(69.295% 76.727% 83.911%);
    --palBroc-103: rgb(70.233% 77.438% 84.402%);
    --palBroc-104: rgb(71.174% 78.151% 84.894%);
    --palBroc-105: rgb(72.114% 78.864% 85.385%);
    --palBroc-106: rgb(73.057% 79.577% 85.877%);
    --palBroc-107: rgb(74% 80.291% 86.368%);
    --palBroc-108: rgb(74.943% 81.005% 86.857%);
    --palBroc-109: rgb(75.888% 81.719% 87.343%);
    --palBroc-110: rgb(76.832% 82.432% 87.828%);
    --palBroc-111: rgb(77.776% 83.145% 88.308%);
    --palBroc-112: rgb(78.72% 83.856% 88.783%);
    --palBroc-113: rgb(79.662% 84.564% 89.251%);
    --palBroc-114: rgb(80.602% 85.27% 89.71%);
    --palBroc-115: rgb(81.538% 85.971% 90.156%);
    --palBroc-116: rgb(82.469% 86.666% 90.589%);
    --palBroc-117: rgb(83.394% 87.352% 91.001%);
    --palBroc-118: rgb(84.309% 88.029% 91.391%);
    --palBroc-119: rgb(85.212% 88.692% 91.752%);
    --palBroc-120: rgb(86.097% 89.338% 92.078%);
    --palBroc-121: rgb(86.962% 89.963% 92.365%);
    --palBroc-122: rgb(87.801% 90.562% 92.603%);
    --palBroc-123: rgb(88.606% 91.129% 92.785%);
    --palBroc-124: rgb(89.37% 91.659% 92.905%);
    --palBroc-125: rgb(90.086% 92.145% 92.956%);
    --palBroc-126: rgb(90.746% 92.581% 92.931%);
    --palBroc-127: rgb(91.34% 92.96% 92.825%);
    --palBroc-128: rgb(91.862% 93.277% 92.635%);
    --palBroc-129: rgb(92.307% 93.528% 92.359%);
    --palBroc-130: rgb(92.667% 93.71% 91.997%);
    --palBroc-131: rgb(92.943% 93.822% 91.554%);
    --palBroc-132: rgb(93.133% 93.863% 91.034%);
    --palBroc-133: rgb(93.239% 93.838% 90.443%);
    --palBroc-134: rgb(93.266% 93.749% 89.79%);
    --palBroc-135: rgb(93.219% 93.601% 89.081%);
    --palBroc-136: rgb(93.105% 93.401% 88.326%);
    --palBroc-137: rgb(92.93% 93.154% 87.532%);
    --palBroc-138: rgb(92.702% 92.866% 86.706%);
    --palBroc-139: rgb(92.43% 92.545% 85.854%);
    --palBroc-140: rgb(92.119% 92.194% 84.982%);
    --palBroc-141: rgb(91.776% 91.818% 84.094%);
    --palBroc-142: rgb(91.406% 91.422% 83.194%);
    --palBroc-143: rgb(91.015% 91.011% 82.285%);
    --palBroc-144: rgb(90.606% 90.586% 81.368%);
    --palBroc-145: rgb(90.184% 90.151% 80.447%);
    --palBroc-146: rgb(89.751% 89.708% 79.521%);
    --palBroc-147: rgb(89.309% 89.259% 78.594%);
    --palBroc-148: rgb(88.861% 88.805% 77.664%);
    --palBroc-149: rgb(88.407% 88.347% 76.733%);
    --palBroc-150: rgb(87.949% 87.886% 75.803%);
    --palBroc-151: rgb(87.489% 87.423% 74.871%);
    --palBroc-152: rgb(87.026% 86.958% 73.94%);
    --palBroc-153: rgb(86.561% 86.491% 73.009%);
    --palBroc-154: rgb(86.094% 86.024% 72.077%);
    --palBroc-155: rgb(85.625% 85.553% 71.146%);
    --palBroc-156: rgb(85.153% 85.08% 70.213%);
    --palBroc-157: rgb(84.679% 84.606% 69.282%);
    --palBroc-158: rgb(84.202% 84.128% 68.348%);
    --palBroc-159: rgb(83.72% 83.645% 67.414%);
    --palBroc-160: rgb(83.232% 83.158% 66.478%);
    --palBroc-161: rgb(82.739% 82.665% 65.542%);
    --palBroc-162: rgb(82.238% 82.164% 64.602%);
    --palBroc-163: rgb(81.728% 81.655% 63.661%);
    --palBroc-164: rgb(81.208% 81.135% 62.715%);
    --palBroc-165: rgb(80.676% 80.603% 61.766%);
    --palBroc-166: rgb(80.129% 80.058% 60.815%);
    --palBroc-167: rgb(79.568% 79.499% 59.859%);
    --palBroc-168: rgb(78.99% 78.922% 58.9%);
    --palBroc-169: rgb(78.394% 78.328% 57.94%);
    --palBroc-170: rgb(77.778% 77.715% 56.976%);
    --palBroc-171: rgb(77.143% 77.082% 56.013%);
    --palBroc-172: rgb(76.486% 76.428% 55.05%);
    --palBroc-173: rgb(75.809% 75.754% 54.089%);
    --palBroc-174: rgb(75.112% 75.061% 53.133%);
    --palBroc-175: rgb(74.395% 74.348% 52.183%);
    --palBroc-176: rgb(73.661% 73.616% 51.242%);
    --palBroc-177: rgb(72.909% 72.869% 50.312%);
    --palBroc-178: rgb(72.143% 72.106% 49.397%);
    --palBroc-179: rgb(71.365% 71.331% 48.495%);
    --palBroc-180: rgb(70.576% 70.546% 47.611%);
    --palBroc-181: rgb(69.778% 69.751% 46.744%);
    --palBroc-182: rgb(68.975% 68.951% 45.895%);
    --palBroc-183: rgb(68.166% 68.144% 45.065%);
    --palBroc-184: rgb(67.355% 67.336% 44.254%);
    --palBroc-185: rgb(66.542% 66.525% 43.46%);
    --palBroc-186: rgb(65.729% 65.714% 42.684%);
    --palBroc-187: rgb(64.917% 64.903% 41.924%);
    --palBroc-188: rgb(64.105% 64.093% 41.179%);
    --palBroc-189: rgb(63.296% 63.285% 40.447%);
    --palBroc-190: rgb(62.488% 62.478% 39.727%);
    --palBroc-191: rgb(61.684% 61.674% 39.019%);
    --palBroc-192: rgb(60.881% 60.873% 38.321%);
    --palBroc-193: rgb(60.08% 60.072% 37.63%);
    --palBroc-194: rgb(59.283% 59.275% 36.945%);
    --palBroc-195: rgb(58.488% 58.48% 36.268%);
    --palBroc-196: rgb(57.695% 57.687% 35.596%);
    --palBroc-197: rgb(56.904% 56.896% 34.928%);
    --palBroc-198: rgb(56.116% 56.108% 34.265%);
    --palBroc-199: rgb(55.329% 55.322% 33.604%);
    --palBroc-200: rgb(54.546% 54.538% 32.949%);
    --palBroc-201: rgb(53.765% 53.757% 32.294%);
    --palBroc-202: rgb(52.985% 52.977% 31.642%);
    --palBroc-203: rgb(52.207% 52.198% 30.993%);
    --palBroc-204: rgb(51.433% 51.424% 30.344%);
    --palBroc-205: rgb(50.659% 50.65% 29.701%);
    --palBroc-206: rgb(49.888% 49.879% 29.056%);
    --palBroc-207: rgb(49.12% 49.111% 28.415%);
    --palBroc-208: rgb(48.352% 48.342% 27.777%);
    --palBroc-209: rgb(47.588% 47.578% 27.139%);
    --palBroc-210: rgb(46.825% 46.814% 26.503%);
    --palBroc-211: rgb(46.064% 46.053% 25.87%);
    --palBroc-212: rgb(45.307% 45.296% 25.239%);
    --palBroc-213: rgb(44.55% 44.539% 24.608%);
    --palBroc-214: rgb(43.798% 43.786% 23.981%);
    --palBroc-215: rgb(43.046% 43.033% 23.354%);
    --palBroc-216: rgb(42.296% 42.283% 22.732%);
    --palBroc-217: rgb(41.55% 41.537% 22.111%);
    --palBroc-218: rgb(40.805% 40.792% 21.489%);
    --palBroc-219: rgb(40.065% 40.05% 20.872%);
    --palBroc-220: rgb(39.323% 39.309% 20.257%);
    --palBroc-221: rgb(38.586% 38.571% 19.647%);
    --palBroc-222: rgb(37.851% 37.836% 19.034%);
    --palBroc-223: rgb(37.118% 37.103% 18.426%);
    --palBroc-224: rgb(36.389% 36.373% 17.824%);
    --palBroc-225: rgb(35.663% 35.647% 17.218%);
    --palBroc-226: rgb(34.937% 34.922% 16.619%);
    --palBroc-227: rgb(34.215% 34.2% 16.021%);
    --palBroc-228: rgb(33.497% 33.482% 15.43%);
    --palBroc-229: rgb(32.778% 32.764% 14.84%);
    --palBroc-230: rgb(32.065% 32.052% 14.258%);
    --palBroc-231: rgb(31.352% 31.341% 13.676%);
    --palBroc-232: rgb(30.644% 30.635% 13.103%);
    --palBroc-233: rgb(29.937% 29.931% 12.531%);
    --palBroc-234: rgb(29.233% 29.23% 11.965%);
    --palBroc-235: rgb(28.532% 28.532% 11.406%);
    --palBroc-236: rgb(27.836% 27.841% 10.854%);
    --palBroc-237: rgb(27.14% 27.151% 10.314%);
    --palBroc-238: rgb(26.449% 26.467% 9.7785%);
    --palBroc-239: rgb(25.761% 25.787% 9.2474%);
    --palBroc-240: rgb(25.076% 25.114% 8.7347%);
    --palBroc-241: rgb(24.394% 24.442% 8.2262%);
    --palBroc-242: rgb(23.72% 23.78% 7.7192%);
    --palBroc-243: rgb(23.042% 23.12% 7.2349%);
    --palBroc-244: rgb(22.373% 22.463% 6.7628%);
    --palBroc-245: rgb(21.709% 21.818% 6.3025%);
    --palBroc-246: rgb(21.046% 21.177% 5.8419%);
    --palBroc-247: rgb(20.394% 20.539% 5.3781%);
    --palBroc-248: rgb(19.749% 19.907% 4.8969%);
    --palBroc-249: rgb(19.115% 19.284% 4.3546%);
    --palBroc-250: rgb(18.494% 18.665% 3.7943%);
    --palBroc-251: rgb(17.882% 18.051% 3.1907%);
    --palBroc-252: rgb(17.28% 17.444% 2.6044%);
    --palBroc-253: rgb(16.695% 16.84% 2.0145%);
    --palBroc-254: rgb(16.119% 16.243% 1.4202%);
    --palBroc-255: rgb(15.554% 15.649% 0.80014%);
    --palBroc-256: rgb(15.005% 15.056% 0.19303%);
}
