/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBurgYl-1: rgb(98.431373% 90.196078% 77.254902%);
    --palBurgYl-2: rgb(96.078431% 72.941176% 59.607843%);
    --palBurgYl-3: rgb(93.333333% 54.117647% 50.980392%);
    --palBurgYl-4: rgb(86.27451% 44.313725% 46.27451%);
    --palBurgYl-5: rgb(78.431373% 34.509804% 42.352941%);
    --palBurgYl-6: rgb(61.176471% 24.705882% 36.470588%);
    --palBurgYl-7: rgb(43.921569% 15.686275% 29.019608%);
}
