/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBurningGrass-1: rgb(0% 39.22% 0%);
    --palBurningGrass-2: rgb(0% 100% 0%);
    --palBurningGrass-3: rgb(100% 100% 0%);
    --palBurningGrass-4: rgb(100% 64.71% 0%);
    --palBurningGrass-5: rgb(100% 0% 0%);
}
