/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palChevalier-1: rgb(20.784314% 32.156863% 26.27451%);
    --palChevalier-2: rgb(99.607843% 79.215686% 28.627451%);
    --palChevalier-3: rgb(78.823529% 83.529412% 83.529412%);
    --palChevalier-4: rgb(73.333333% 63.529412% 53.72549%);
}
