/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palDevon-1: rgb(17.103% 10.04% 29.978%);
    --palDevon-2: rgb(17.087% 10.414% 30.337%);
    --palDevon-3: rgb(17.068% 10.786% 30.699%);
    --palDevon-4: rgb(17.046% 11.159% 31.061%);
    --palDevon-5: rgb(17.023% 11.524% 31.422%);
    --palDevon-6: rgb(16.997% 11.894% 31.784%);
    --palDevon-7: rgb(16.97% 12.254% 32.146%);
    --palDevon-8: rgb(16.94% 12.624% 32.509%);
    --palDevon-9: rgb(16.908% 12.989% 32.874%);
    --palDevon-10: rgb(16.874% 13.35% 33.238%);
    --palDevon-11: rgb(16.837% 13.713% 33.601%);
    --palDevon-12: rgb(16.801% 14.077% 33.967%);
    --palDevon-13: rgb(16.765% 14.438% 34.332%);
    --palDevon-14: rgb(16.728% 14.799% 34.698%);
    --palDevon-15: rgb(16.689% 15.16% 35.064%);
    --palDevon-16: rgb(16.648% 15.524% 35.429%);
    --palDevon-17: rgb(16.605% 15.887% 35.797%);
    --palDevon-18: rgb(16.562% 16.251% 36.164%);
    --palDevon-19: rgb(16.52% 16.612% 36.531%);
    --palDevon-20: rgb(16.48% 16.979% 36.9%);
    --palDevon-21: rgb(16.439% 17.341% 37.268%);
    --palDevon-22: rgb(16.397% 17.708% 37.639%);
    --palDevon-23: rgb(16.353% 18.072% 38.008%);
    --palDevon-24: rgb(16.308% 18.44% 38.38%);
    --palDevon-25: rgb(16.264% 18.81% 38.75%);
    --palDevon-26: rgb(16.22% 19.175% 39.124%);
    --palDevon-27: rgb(16.176% 19.545% 39.496%);
    --palDevon-28: rgb(16.131% 19.914% 39.87%);
    --palDevon-29: rgb(16.084% 20.287% 40.244%);
    --palDevon-30: rgb(16.036% 20.662% 40.621%);
    --palDevon-31: rgb(15.991% 21.033% 40.998%);
    --palDevon-32: rgb(15.947% 21.408% 41.376%);
    --palDevon-33: rgb(15.904% 21.784% 41.755%);
    --palDevon-34: rgb(15.86% 22.16% 42.135%);
    --palDevon-35: rgb(15.814% 22.538% 42.518%);
    --palDevon-36: rgb(15.768% 22.918% 42.901%);
    --palDevon-37: rgb(15.723% 23.298% 43.287%);
    --palDevon-38: rgb(15.681% 23.683% 43.674%);
    --palDevon-39: rgb(15.639% 24.063% 44.063%);
    --palDevon-40: rgb(15.595% 24.449% 44.456%);
    --palDevon-41: rgb(15.552% 24.839% 44.851%);
    --palDevon-42: rgb(15.51% 25.226% 45.249%);
    --palDevon-43: rgb(15.469% 25.615% 45.649%);
    --palDevon-44: rgb(15.431% 26.008% 46.054%);
    --palDevon-45: rgb(15.394% 26.403% 46.464%);
    --palDevon-46: rgb(15.36% 26.797% 46.878%);
    --palDevon-47: rgb(15.329% 27.194% 47.296%);
    --palDevon-48: rgb(15.3% 27.597% 47.721%);
    --palDevon-49: rgb(15.276% 27.998% 48.152%);
    --palDevon-50: rgb(15.256% 28.401% 48.589%);
    --palDevon-51: rgb(15.241% 28.806% 49.034%);
    --palDevon-52: rgb(15.232% 29.214% 49.486%);
    --palDevon-53: rgb(15.23% 29.622% 49.944%);
    --palDevon-54: rgb(15.234% 30.031% 50.414%);
    --palDevon-55: rgb(15.246% 30.441% 50.89%);
    --palDevon-56: rgb(15.267% 30.853% 51.375%);
    --palDevon-57: rgb(15.298% 31.262% 51.869%);
    --palDevon-58: rgb(15.339% 31.673% 52.371%);
    --palDevon-59: rgb(15.391% 32.082% 52.882%);
    --palDevon-60: rgb(15.456% 32.486% 53.399%);
    --palDevon-61: rgb(15.532% 32.892% 53.926%);
    --palDevon-62: rgb(15.623% 33.293% 54.46%);
    --palDevon-63: rgb(15.721% 33.688% 55%);
    --palDevon-64: rgb(15.838% 34.08% 55.545%);
    --palDevon-65: rgb(15.962% 34.465% 56.096%);
    --palDevon-66: rgb(16.105% 34.846% 56.651%);
    --palDevon-67: rgb(16.259% 35.22% 57.209%);
    --palDevon-68: rgb(16.426% 35.588% 57.769%);
    --palDevon-69: rgb(16.6% 35.947% 58.331%);
    --palDevon-70: rgb(16.79% 36.299% 58.894%);
    --palDevon-71: rgb(16.993% 36.646% 59.458%);
    --palDevon-72: rgb(17.202% 36.982% 60.021%);
    --palDevon-73: rgb(17.425% 37.313% 60.583%);
    --palDevon-74: rgb(17.653% 37.638% 61.145%);
    --palDevon-75: rgb(17.895% 37.954% 61.705%);
    --palDevon-76: rgb(18.14% 38.265% 62.262%);
    --palDevon-77: rgb(18.398% 38.57% 62.819%);
    --palDevon-78: rgb(18.662% 38.871% 63.374%);
    --palDevon-79: rgb(18.934% 39.167% 63.926%);
    --palDevon-80: rgb(19.213% 39.459% 64.477%);
    --palDevon-81: rgb(19.503% 39.748% 65.028%);
    --palDevon-82: rgb(19.798% 40.036% 65.577%);
    --palDevon-83: rgb(20.103% 40.321% 66.124%);
    --palDevon-84: rgb(20.423% 40.606% 66.671%);
    --palDevon-85: rgb(20.748% 40.891% 67.218%);
    --palDevon-86: rgb(21.086% 41.176% 67.765%);
    --palDevon-87: rgb(21.438% 41.463% 68.311%);
    --palDevon-88: rgb(21.803% 41.753% 68.857%);
    --palDevon-89: rgb(22.183% 42.044% 69.402%);
    --palDevon-90: rgb(22.582% 42.338% 69.948%);
    --palDevon-91: rgb(22.993% 42.637% 70.494%);
    --palDevon-92: rgb(23.429% 42.941% 71.039%);
    --palDevon-93: rgb(23.881% 43.249% 71.584%);
    --palDevon-94: rgb(24.355% 43.562% 72.126%);
    --palDevon-95: rgb(24.855% 43.878% 72.667%);
    --palDevon-96: rgb(25.373% 44.203% 73.207%);
    --palDevon-97: rgb(25.915% 44.53% 73.742%);
    --palDevon-98: rgb(26.478% 44.865% 74.275%);
    --palDevon-99: rgb(27.068% 45.204% 74.803%);
    --palDevon-100: rgb(27.677% 45.548% 75.325%);
    --palDevon-101: rgb(28.309% 45.897% 75.842%);
    --palDevon-102: rgb(28.962% 46.25% 76.352%);
    --palDevon-103: rgb(29.635% 46.607% 76.854%);
    --palDevon-104: rgb(30.326% 46.969% 77.347%);
    --palDevon-105: rgb(31.037% 47.331% 77.832%);
    --palDevon-106: rgb(31.76% 47.697% 78.307%);
    --palDevon-107: rgb(32.497% 48.065% 78.772%);
    --palDevon-108: rgb(33.249% 48.433% 79.227%);
    --palDevon-109: rgb(34.009% 48.804% 79.67%);
    --palDevon-110: rgb(34.779% 49.174% 80.103%);
    --palDevon-111: rgb(35.555% 49.542% 80.525%);
    --palDevon-112: rgb(36.336% 49.911% 80.936%);
    --palDevon-113: rgb(37.122% 50.278% 81.336%);
    --palDevon-114: rgb(37.911% 50.644% 81.727%);
    --palDevon-115: rgb(38.701% 51.008% 82.107%);
    --palDevon-116: rgb(39.494% 51.371% 82.478%);
    --palDevon-117: rgb(40.285% 51.731% 82.84%);
    --palDevon-118: rgb(41.076% 52.088% 83.194%);
    --palDevon-119: rgb(41.863% 52.444% 83.54%);
    --palDevon-120: rgb(42.65% 52.797% 83.878%);
    --palDevon-121: rgb(43.435% 53.148% 84.211%);
    --palDevon-122: rgb(44.217% 53.496% 84.536%);
    --palDevon-123: rgb(44.995% 53.844% 84.856%);
    --palDevon-124: rgb(45.769% 54.187% 85.171%);
    --palDevon-125: rgb(46.541% 54.531% 85.481%);
    --palDevon-126: rgb(47.308% 54.872% 85.786%);
    --palDevon-127: rgb(48.073% 55.212% 86.088%);
    --palDevon-128: rgb(48.834% 55.549% 86.386%);
    --palDevon-129: rgb(49.589% 55.887% 86.68%);
    --palDevon-130: rgb(50.341% 56.225% 86.97%);
    --palDevon-131: rgb(51.089% 56.56% 87.258%);
    --palDevon-132: rgb(51.834% 56.896% 87.542%);
    --palDevon-133: rgb(52.572% 57.232% 87.823%);
    --palDevon-134: rgb(53.305% 57.568% 88.101%);
    --palDevon-135: rgb(54.033% 57.904% 88.375%);
    --palDevon-136: rgb(54.755% 58.241% 88.646%);
    --palDevon-137: rgb(55.471% 58.579% 88.913%);
    --palDevon-138: rgb(56.18% 58.917% 89.176%);
    --palDevon-139: rgb(56.881% 59.258% 89.435%);
    --palDevon-140: rgb(57.576% 59.599% 89.689%);
    --palDevon-141: rgb(58.26% 59.942% 89.939%);
    --palDevon-142: rgb(58.935% 60.286% 90.183%);
    --palDevon-143: rgb(59.601% 60.632% 90.422%);
    --palDevon-144: rgb(60.256% 60.98% 90.655%);
    --palDevon-145: rgb(60.899% 61.329% 90.881%);
    --palDevon-146: rgb(61.529% 61.68% 91.102%);
    --palDevon-147: rgb(62.146% 62.032% 91.315%);
    --palDevon-148: rgb(62.749% 62.385% 91.521%);
    --palDevon-149: rgb(63.338% 62.739% 91.72%);
    --palDevon-150: rgb(63.911% 63.094% 91.91%);
    --palDevon-151: rgb(64.469% 63.449% 92.093%);
    --palDevon-152: rgb(65.011% 63.804% 92.269%);
    --palDevon-153: rgb(65.537% 64.159% 92.436%);
    --palDevon-154: rgb(66.048% 64.514% 92.595%);
    --palDevon-155: rgb(66.542% 64.87% 92.746%);
    --palDevon-156: rgb(67.022% 65.223% 92.89%);
    --palDevon-157: rgb(67.484% 65.577% 93.027%);
    --palDevon-158: rgb(67.933% 65.928% 93.157%);
    --palDevon-159: rgb(68.368% 66.279% 93.279%);
    --palDevon-160: rgb(68.789% 66.628% 93.396%);
    --palDevon-161: rgb(69.197% 66.977% 93.506%);
    --palDevon-162: rgb(69.594% 67.324% 93.611%);
    --palDevon-163: rgb(69.978% 67.669% 93.711%);
    --palDevon-164: rgb(70.354% 68.012% 93.806%);
    --palDevon-165: rgb(70.72% 68.355% 93.896%);
    --palDevon-166: rgb(71.077% 68.697% 93.983%);
    --palDevon-167: rgb(71.427% 69.038% 94.067%);
    --palDevon-168: rgb(71.771% 69.377% 94.147%);
    --palDevon-169: rgb(72.108% 69.716% 94.225%);
    --palDevon-170: rgb(72.441% 70.054% 94.3%);
    --palDevon-171: rgb(72.769% 70.392% 94.373%);
    --palDevon-172: rgb(73.094% 70.728% 94.445%);
    --palDevon-173: rgb(73.416% 71.065% 94.515%);
    --palDevon-174: rgb(73.734% 71.401% 94.583%);
    --palDevon-175: rgb(74.051% 71.738% 94.651%);
    --palDevon-176: rgb(74.366% 72.073% 94.718%);
    --palDevon-177: rgb(74.68% 72.408% 94.784%);
    --palDevon-178: rgb(74.992% 72.744% 94.85%);
    --palDevon-179: rgb(75.303% 73.08% 94.915%);
    --palDevon-180: rgb(75.615% 73.416% 94.98%);
    --palDevon-181: rgb(75.925% 73.752% 95.045%);
    --palDevon-182: rgb(76.236% 74.089% 95.11%);
    --palDevon-183: rgb(76.546% 74.426% 95.174%);
    --palDevon-184: rgb(76.856% 74.763% 95.238%);
    --palDevon-185: rgb(77.167% 75.101% 95.302%);
    --palDevon-186: rgb(77.477% 75.438% 95.367%);
    --palDevon-187: rgb(77.788% 75.776% 95.431%);
    --palDevon-188: rgb(78.098% 76.114% 95.495%);
    --palDevon-189: rgb(78.41% 76.453% 95.559%);
    --palDevon-190: rgb(78.721% 76.791% 95.623%);
    --palDevon-191: rgb(79.032% 77.131% 95.687%);
    --palDevon-192: rgb(79.344% 77.47% 95.752%);
    --palDevon-193: rgb(79.656% 77.811% 95.816%);
    --palDevon-194: rgb(79.969% 78.151% 95.881%);
    --palDevon-195: rgb(80.281% 78.492% 95.945%);
    --palDevon-196: rgb(80.595% 78.833% 96.01%);
    --palDevon-197: rgb(80.909% 79.175% 96.074%);
    --palDevon-198: rgb(81.222% 79.517% 96.139%);
    --palDevon-199: rgb(81.537% 79.859% 96.203%);
    --palDevon-200: rgb(81.851% 80.202% 96.269%);
    --palDevon-201: rgb(82.167% 80.545% 96.334%);
    --palDevon-202: rgb(82.482% 80.889% 96.398%);
    --palDevon-203: rgb(82.797% 81.233% 96.463%);
    --palDevon-204: rgb(83.114% 81.577% 96.529%);
    --palDevon-205: rgb(83.43% 81.921% 96.594%);
    --palDevon-206: rgb(83.747% 82.267% 96.659%);
    --palDevon-207: rgb(84.064% 82.612% 96.725%);
    --palDevon-208: rgb(84.381% 82.958% 96.79%);
    --palDevon-209: rgb(84.699% 83.304% 96.856%);
    --palDevon-210: rgb(85.017% 83.651% 96.921%);
    --palDevon-211: rgb(85.336% 83.998% 96.987%);
    --palDevon-212: rgb(85.655% 84.345% 97.053%);
    --palDevon-213: rgb(85.974% 84.693% 97.118%);
    --palDevon-214: rgb(86.294% 85.041% 97.184%);
    --palDevon-215: rgb(86.614% 85.389% 97.251%);
    --palDevon-216: rgb(86.934% 85.739% 97.316%);
    --palDevon-217: rgb(87.255% 86.088% 97.382%);
    --palDevon-218: rgb(87.576% 86.438% 97.448%);
    --palDevon-219: rgb(87.897% 86.788% 97.515%);
    --palDevon-220: rgb(88.219% 87.138% 97.581%);
    --palDevon-221: rgb(88.541% 87.489% 97.647%);
    --palDevon-222: rgb(88.864% 87.84% 97.714%);
    --palDevon-223: rgb(89.186% 88.192% 97.78%);
    --palDevon-224: rgb(89.51% 88.544% 97.847%);
    --palDevon-225: rgb(89.833% 88.896% 97.914%);
    --palDevon-226: rgb(90.157% 89.249% 97.981%);
    --palDevon-227: rgb(90.481% 89.602% 98.047%);
    --palDevon-228: rgb(90.806% 89.956% 98.114%);
    --palDevon-229: rgb(91.13% 90.31% 98.181%);
    --palDevon-230: rgb(91.456% 90.664% 98.248%);
    --palDevon-231: rgb(91.781% 91.019% 98.315%);
    --palDevon-232: rgb(92.107% 91.374% 98.382%);
    --palDevon-233: rgb(92.433% 91.729% 98.45%);
    --palDevon-234: rgb(92.759% 92.084% 98.517%);
    --palDevon-235: rgb(93.087% 92.441% 98.584%);
    --palDevon-236: rgb(93.413% 92.797% 98.652%);
    --palDevon-237: rgb(93.741% 93.154% 98.719%);
    --palDevon-238: rgb(94.069% 93.511% 98.786%);
    --palDevon-239: rgb(94.397% 93.869% 98.854%);
    --palDevon-240: rgb(94.725% 94.227% 98.921%);
    --palDevon-241: rgb(95.053% 94.585% 98.989%);
    --palDevon-242: rgb(95.382% 94.944% 99.056%);
    --palDevon-243: rgb(95.711% 95.303% 99.124%);
    --palDevon-244: rgb(96.04% 95.662% 99.191%);
    --palDevon-245: rgb(96.369% 96.022% 99.259%);
    --palDevon-246: rgb(96.698% 96.382% 99.326%);
    --palDevon-247: rgb(97.027% 96.742% 99.393%);
    --palDevon-248: rgb(97.357% 97.102% 99.46%);
    --palDevon-249: rgb(97.686% 97.463% 99.527%);
    --palDevon-250: rgb(98.016% 97.824% 99.594%);
    --palDevon-251: rgb(98.345% 98.186% 99.662%);
    --palDevon-252: rgb(98.675% 98.548% 99.728%);
    --palDevon-253: rgb(99.004% 98.91% 99.795%);
    --palDevon-254: rgb(99.334% 99.272% 99.862%);
    --palDevon-255: rgb(99.662% 99.634% 99.929%);
    --palDevon-256: rgb(99.992% 99.997% 99.995%);
}
