/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palFlamingo-1: rgb(0% 0% 0%);
    --palFlamingo-2: rgb(0.032031% 0.020876% 0.015576%);
    --palFlamingo-3: rgb(0.115213% 0.071222% 0.050933%);
    --palFlamingo-4: rgb(0.246632% 0.145292% 0.099932%);
    --palFlamingo-5: rgb(0.426111% 0.240248% 0.15947%);
    --palFlamingo-6: rgb(0.654129% 0.354149% 0.227479%);
    --palFlamingo-7: rgb(0.931453% 0.485497% 0.302435%);
    --palFlamingo-8: rgb(1.259008% 0.633067% 0.383153%);
    --palFlamingo-9: rgb(1.63781% 0.795809% 0.468676%);
    --palFlamingo-10: rgb(2.068947% 0.972796% 0.558214%);
    --palFlamingo-11: rgb(2.553552% 1.163194% 0.651101%);
    --palFlamingo-12: rgb(3.092793% 1.366243% 0.746771%);
    --palFlamingo-13: rgb(3.68787% 1.581232% 0.844736%);
    --palFlamingo-14: rgb(4.329108% 1.807499% 0.944575%);
    --palFlamingo-15: rgb(4.970018% 2.044415% 1.045917%);
    --palFlamingo-16: rgb(5.607744% 2.291381% 1.148441%);
    --palFlamingo-17: rgb(6.242826% 2.547822% 1.251862%);
    --palFlamingo-18: rgb(6.875727% 2.813185% 1.355932%);
    --palFlamingo-19: rgb(7.506844% 3.08693% 1.460431%);
    --palFlamingo-20: rgb(8.136524% 3.368535% 1.565167%);
    --palFlamingo-21: rgb(8.765071% 3.657489% 1.669973%);
    --palFlamingo-22: rgb(9.392754% 3.953289% 1.7747%);
    --palFlamingo-23: rgb(10.019812% 4.248851% 1.879222%);
    --palFlamingo-24: rgb(10.646459% 4.536893% 1.983431%);
    --palFlamingo-25: rgb(11.272888% 4.818555% 2.087234%);
    --palFlamingo-26: rgb(11.899272% 5.094021% 2.190555%);
    --palFlamingo-27: rgb(12.52577% 5.363453% 2.293331%);
    --palFlamingo-28: rgb(13.152527% 5.626994% 2.395516%);
    --palFlamingo-29: rgb(13.779673% 5.88477% 2.497073%);
    --palFlamingo-30: rgb(14.407332% 6.136894% 2.597979%);
    --palFlamingo-31: rgb(15.035614% 6.383462% 2.698225%);
    --palFlamingo-32: rgb(15.664624% 6.624561% 2.79781%);
    --palFlamingo-33: rgb(16.294457% 6.860266% 2.896747%);
    --palFlamingo-34: rgb(16.925203% 7.09064% 2.995057%);
    --palFlamingo-35: rgb(17.556946% 7.315739% 3.092776%);
    --palFlamingo-36: rgb(18.189762% 7.535608% 3.189947%);
    --palFlamingo-37: rgb(18.823726% 7.750287% 3.286623%);
    --palFlamingo-38: rgb(19.458905% 7.959805% 3.38287%);
    --palFlamingo-39: rgb(20.095364% 8.164185% 3.478764%);
    --palFlamingo-40: rgb(20.733163% 8.363445% 3.574389%);
    --palFlamingo-41: rgb(21.372359% 8.557593% 3.669841%);
    --palFlamingo-42: rgb(22.013006% 8.746634% 3.765228%);
    --palFlamingo-43: rgb(22.655154% 8.930565% 3.860667%);
    --palFlamingo-44: rgb(23.298852% 9.10938% 3.956286%);
    --palFlamingo-45: rgb(23.944144% 9.283065% 4.052097%);
    --palFlamingo-46: rgb(24.591073% 9.4516% 4.146142%);
    --palFlamingo-47: rgb(25.239679% 9.614964% 4.239527%);
    --palFlamingo-48: rgb(25.89% 9.773126% 4.33244%);
    --palFlamingo-49: rgb(26.542072% 9.926052% 4.425071%);
    --palFlamingo-50: rgb(27.195929% 10.073705% 4.51761%);
    --palFlamingo-51: rgb(27.851612% 10.216029% 4.610242%);
    --palFlamingo-52: rgb(28.509144% 10.352983% 4.703172%);
    --palFlamingo-53: rgb(29.168551% 10.484515% 4.796603%);
    --palFlamingo-54: rgb(29.829858% 10.610566% 4.890741%);
    --palFlamingo-55: rgb(30.493089% 10.731073% 4.985793%);
    --palFlamingo-56: rgb(31.15827% 10.845962% 5.081968%);
    --palFlamingo-57: rgb(31.825437% 10.955144% 5.179469%);
    --palFlamingo-58: rgb(32.494588% 11.058558% 5.278533%);
    --palFlamingo-59: rgb(33.165741% 11.156121% 5.379388%);
    --palFlamingo-60: rgb(33.838918% 11.247734% 5.482253%);
    --palFlamingo-61: rgb(34.514146% 11.333282% 5.587349%);
    --palFlamingo-62: rgb(35.191413% 11.412692% 5.694939%);
    --palFlamingo-63: rgb(35.870733% 11.48585% 5.805261%);
    --palFlamingo-64: rgb(36.55214% 11.552606% 5.918537%);
    --palFlamingo-65: rgb(37.235602% 11.612887% 6.035055%);
    --palFlamingo-66: rgb(37.921149% 11.666531% 6.155047%);
    --palFlamingo-67: rgb(38.608774% 11.713411% 6.278785%);
    --palFlamingo-68: rgb(39.298465% 11.753398% 6.406542%);
    --palFlamingo-69: rgb(39.990243% 11.786308% 6.538571%);
    --palFlamingo-70: rgb(40.68407% 11.812026% 6.675174%);
    --palFlamingo-71: rgb(41.379968% 11.83034% 6.81661%);
    --palFlamingo-72: rgb(42.0779% 11.84111% 6.963182%);
    --palFlamingo-73: rgb(42.777857% 11.84414% 7.115178%);
    --palFlamingo-74: rgb(43.479835% 11.839213% 7.272887%);
    --palFlamingo-75: rgb(44.183779% 11.826176% 7.436631%);
    --palFlamingo-76: rgb(44.889692% 11.804763% 7.606698%);
    --palFlamingo-77: rgb(45.597537% 11.774759% 7.783407%);
    --palFlamingo-78: rgb(46.307262% 11.735955% 7.967086%);
    --palFlamingo-79: rgb(47.018828% 11.688094% 8.158056%);
    --palFlamingo-80: rgb(47.732206% 11.630887% 8.356643%);
    --palFlamingo-81: rgb(48.447342% 11.564059% 8.563184%);
    --palFlamingo-82: rgb(49.164167% 11.487339% 8.778027%);
    --palFlamingo-83: rgb(49.882616% 11.400421% 9.001524%);
    --palFlamingo-84: rgb(50.602619% 11.302981% 9.23403%);
    --palFlamingo-85: rgb(51.324096% 11.194681% 9.475911%);
    --palFlamingo-86: rgb(52.046957% 11.075165% 9.727541%);
    --palFlamingo-87: rgb(52.771103% 10.944063% 9.9893%);
    --palFlamingo-88: rgb(53.496423% 10.800987% 10.261578%);
    --palFlamingo-89: rgb(54.222828% 10.645458% 10.544773%);
    --palFlamingo-90: rgb(54.950158% 10.477099% 10.839295%);
    --palFlamingo-91: rgb(55.678265% 10.295467% 11.145561%);
    --palFlamingo-92: rgb(56.407005% 10.10005% 11.463998%);
    --palFlamingo-93: rgb(57.136221% 9.890294% 11.795046%);
    --palFlamingo-94: rgb(57.865683% 9.665778% 12.139144%);
    --palFlamingo-95: rgb(58.595251% 9.425758% 12.496762%);
    --palFlamingo-96: rgb(59.324637% 9.16982% 12.868351%);
    --palFlamingo-97: rgb(60.053647% 8.897198% 13.254399%);
    --palFlamingo-98: rgb(60.781996% 8.60729% 13.655381%);
    --palFlamingo-99: rgb(61.509391% 8.299424% 14.071783%);
    --palFlamingo-100: rgb(62.235528% 7.972847% 14.504098%);
    --palFlamingo-101: rgb(62.960086% 7.626735% 14.952833%);
    --palFlamingo-102: rgb(63.68269% 7.260321% 15.418475%);
    --palFlamingo-103: rgb(64.402945% 6.872768% 15.901515%);
    --palFlamingo-104: rgb(65.120429% 6.463189% 16.402435%);
    --palFlamingo-105: rgb(65.834703% 6.030595% 16.921717%);
    --palFlamingo-106: rgb(66.545273% 5.57406% 17.459807%);
    --palFlamingo-107: rgb(67.251615% 5.092618% 18.017123%);
    --palFlamingo-108: rgb(67.953179% 4.585268% 18.594053%);
    --palFlamingo-109: rgb(68.649408% 4.050791% 19.19099%);
    --palFlamingo-110: rgb(69.339656% 3.501827% 19.808181%);
    --palFlamingo-111: rgb(70.02331% 2.974032% 20.445918%);
    --palFlamingo-112: rgb(70.699677% 2.473108% 21.104325%);
    --palFlamingo-113: rgb(71.368081% 2.004735% 21.783521%);
    --palFlamingo-114: rgb(72.027805% 1.575128% 22.483488%);
    --palFlamingo-115: rgb(72.678121% 1.190847% 23.204104%);
    --palFlamingo-116: rgb(73.318299% 0.858729% 23.945145%);
    --palFlamingo-117: rgb(73.947609% 0.5859% 24.706262%);
    --palFlamingo-118: rgb(74.565328% 0.379723% 25.486974%);
    --palFlamingo-119: rgb(75.170751% 0.247734% 26.28666%);
    --palFlamingo-120: rgb(75.763201% 0.197573% 27.104565%);
    --palFlamingo-121: rgb(76.342035% 0.236912% 27.939796%);
    --palFlamingo-122: rgb(76.906659% 0.373375% 28.791328%);
    --palFlamingo-123: rgb(77.456531% 0.614457% 29.658016%);
    --palFlamingo-124: rgb(77.99117% 0.967453% 30.5386%);
    --palFlamingo-125: rgb(78.510166% 1.439382% 31.431727%);
    --palFlamingo-126: rgb(79.013176% 2.036922% 32.335963%);
    --palFlamingo-127: rgb(79.499936% 2.766356% 33.249813%);
    --palFlamingo-128: rgb(79.970258% 3.633527% 34.17174%);
    --palFlamingo-129: rgb(80.424028% 4.610137% 35.100187%);
    --palFlamingo-130: rgb(80.861206% 5.593074% 36.033595%);
    --palFlamingo-131: rgb(81.281824% 6.575513% 36.970423%);
    --palFlamingo-132: rgb(81.685977% 7.556701% 37.909164%);
    --palFlamingo-133: rgb(82.07382% 8.536045% 38.848361%);
    --palFlamingo-134: rgb(82.445563% 9.51305% 39.786621%);
    --palFlamingo-135: rgb(82.801462% 10.487292% 40.722623%);
    --palFlamingo-136: rgb(83.141814% 11.458394% 41.655122%);
    --palFlamingo-137: rgb(83.466964% 12.426002% 42.582926%);
    --palFlamingo-138: rgb(83.777258% 13.38985% 43.505012%);
    --palFlamingo-139: rgb(84.073089% 14.349659% 44.420371%);
    --palFlamingo-140: rgb(84.354864% 15.305194% 45.328109%);
    --palFlamingo-141: rgb(84.622995% 16.256264% 46.227431%);
    --palFlamingo-142: rgb(84.877908% 17.202698% 47.117623%);
    --palFlamingo-143: rgb(85.120054% 18.144313% 47.998013%);
    --palFlamingo-144: rgb(85.349849% 19.081025% 48.868085%);
    --palFlamingo-145: rgb(85.567734% 20.01272% 49.727347%);
    --palFlamingo-146: rgb(85.77415% 20.939307% 50.575378%);
    --palFlamingo-147: rgb(85.969539% 21.860703% 51.411817%);
    --palFlamingo-148: rgb(86.154321% 22.776871% 52.236389%);
    --palFlamingo-149: rgb(86.328918% 23.687774% 53.048865%);
    --palFlamingo-150: rgb(86.493759% 24.593368% 53.84905%);
    --palFlamingo-151: rgb(86.649243% 25.493655% 54.636825%);
    --palFlamingo-152: rgb(86.795766% 26.388635% 55.412108%);
    --palFlamingo-153: rgb(86.933714% 27.278325% 56.174857%);
    --palFlamingo-154: rgb(87.063488% 28.162708% 56.925039%);
    --palFlamingo-155: rgb(87.185473% 29.041795% 57.662667%);
    --palFlamingo-156: rgb(87.299987% 29.915672% 58.387836%);
    --palFlamingo-157: rgb(87.40747% 30.784267% 59.100548%);
    --palFlamingo-158: rgb(87.508176% 31.647731% 59.800984%);
    --palFlamingo-159: rgb(87.602545% 32.505984% 60.489185%);
    --palFlamingo-160: rgb(87.690829% 33.359164% 61.16535%);
    --palFlamingo-161: rgb(87.773379% 34.207284% 61.829617%);
    --palFlamingo-162: rgb(87.850545% 35.050356% 62.482133%);
    --palFlamingo-163: rgb(87.922592% 35.888478% 63.123109%);
    --palFlamingo-164: rgb(87.989827% 36.721697% 63.752735%);
    --palFlamingo-165: rgb(88.052548% 37.550059% 64.371209%);
    --palFlamingo-166: rgb(88.111058% 38.373605% 64.978738%);
    --palFlamingo-167: rgb(88.165635% 39.192396% 65.57554%);
    --palFlamingo-168: rgb(88.216538% 40.006502% 66.161845%);
    --palFlamingo-169: rgb(88.264034% 40.815983% 66.737883%);
    --palFlamingo-170: rgb(88.308383% 41.620898% 67.303885%);
    --palFlamingo-171: rgb(88.349837% 42.421311% 67.860087%);
    --palFlamingo-172: rgb(88.388658% 43.217272% 68.406723%);
    --palFlamingo-173: rgb(88.425089% 44.008842% 68.944031%);
    --palFlamingo-174: rgb(88.459352% 44.796098% 69.472256%);
    --palFlamingo-175: rgb(88.491674% 45.579107% 69.991638%);
    --palFlamingo-176: rgb(88.522277% 46.357936% 70.502418%);
    --palFlamingo-177: rgb(88.551386% 47.132645% 71.004831%);
    --palFlamingo-178: rgb(88.57926% 47.903263% 71.499109%);
    --palFlamingo-179: rgb(88.606054% 48.669904% 71.985498%);
    --palFlamingo-180: rgb(88.631967% 49.432634% 72.46423%);
    --palFlamingo-181: rgb(88.657273% 50.191463% 72.935531%);
    --palFlamingo-182: rgb(88.6821% 50.946512% 73.399636%);
    --palFlamingo-183: rgb(88.706656% 51.697833% 73.856771%);
    --palFlamingo-184: rgb(88.731166% 52.445464% 74.307157%);
    --palFlamingo-185: rgb(88.755748% 53.189523% 74.751019%);
    --palFlamingo-186: rgb(88.780677% 53.930002% 75.188571%);
    --palFlamingo-187: rgb(88.806029% 54.667042% 75.620029%);
    --palFlamingo-188: rgb(88.832077% 55.400637% 76.045604%);
    --palFlamingo-189: rgb(88.858898% 56.130917% 76.465503%);
    --palFlamingo-190: rgb(88.886751% 56.857881% 76.879932%);
    --palFlamingo-191: rgb(88.915723% 57.581648% 77.289087%);
    --palFlamingo-192: rgb(88.946027% 58.302245% 77.693169%);
    --palFlamingo-193: rgb(88.977801% 59.019749% 78.092369%);
    --palFlamingo-194: rgb(89.011184% 59.734231% 78.486874%);
    --palFlamingo-195: rgb(89.046385% 60.445719% 78.876876%);
    --palFlamingo-196: rgb(89.083498% 61.154309% 79.262552%);
    --palFlamingo-197: rgb(89.122688% 61.860051% 79.64408%);
    --palFlamingo-198: rgb(89.164127% 62.562987% 80.021639%);
    --palFlamingo-199: rgb(89.207922% 63.263202% 80.395396%);
    --palFlamingo-200: rgb(89.254218% 63.960749% 80.765517%);
    --palFlamingo-201: rgb(89.303193% 64.655664% 81.132175%);
    --palFlamingo-202: rgb(89.354946% 65.348027% 81.495521%);
    --palFlamingo-203: rgb(89.409613% 66.037894% 81.855714%);
    --palFlamingo-204: rgb(89.467341% 66.725312% 82.212908%);
    --palFlamingo-205: rgb(89.528268% 67.410333% 82.567258%);
    --palFlamingo-206: rgb(89.592507% 68.093022% 82.918904%);
    --palFlamingo-207: rgb(89.660188% 68.77343% 83.267991%);
    --palFlamingo-208: rgb(89.73144% 69.451609% 83.61466%);
    --palFlamingo-209: rgb(89.806405% 70.127602% 83.959053%);
    --palFlamingo-210: rgb(89.885189% 70.80147% 84.301299%);
    --palFlamingo-211: rgb(89.967918% 71.473262% 84.641529%);
    --palFlamingo-212: rgb(90.054714% 72.143026% 84.979872%);
    --palFlamingo-213: rgb(90.145701% 72.81081% 85.316454%);
    --palFlamingo-214: rgb(90.241007% 73.476657% 85.651399%);
    --palFlamingo-215: rgb(90.340743% 74.140617% 85.984825%);
    --palFlamingo-216: rgb(90.445031% 74.802735% 86.316849%);
    --palFlamingo-217: rgb(90.553992% 75.463054% 86.647585%);
    --palFlamingo-218: rgb(90.667746% 76.121615% 86.977146%);
    --palFlamingo-219: rgb(90.786415% 76.778459% 87.305641%);
    --palFlamingo-220: rgb(90.91012% 77.433626% 87.633178%);
    --palFlamingo-221: rgb(91.038981% 78.087154% 87.959861%);
    --palFlamingo-222: rgb(91.173124% 78.739078% 88.285793%);
    --palFlamingo-223: rgb(91.312673% 79.389433% 88.611074%);
    --palFlamingo-224: rgb(91.457758% 80.038249% 88.935803%);
    --palFlamingo-225: rgb(91.6085% 80.685562% 89.260074%);
    --palFlamingo-226: rgb(91.765039% 81.331396% 89.583983%);
    --palFlamingo-227: rgb(91.927511% 81.975775% 89.907623%);
    --palFlamingo-228: rgb(92.096059% 82.618722% 90.231088%);
    --palFlamingo-229: rgb(92.27083% 83.260254% 90.554466%);
    --palFlamingo-230: rgb(92.451964% 83.900395% 90.877841%);
    --palFlamingo-231: rgb(92.639632% 84.53915% 91.201305%);
    --palFlamingo-232: rgb(92.834008% 85.176524% 91.524947%);
    --palFlamingo-233: rgb(93.035272% 85.812518% 91.848857%);
    --palFlamingo-234: rgb(93.243609% 86.447132% 92.173117%);
    --palFlamingo-235: rgb(93.459223% 87.080356% 92.497815%);
    --palFlamingo-236: rgb(93.682359% 87.712161% 92.823055%);
    --palFlamingo-237: rgb(93.913266% 88.342515% 93.148937%);
    --palFlamingo-238: rgb(94.152187% 88.971391% 93.475546%);
    --palFlamingo-239: rgb(94.399458% 89.598719% 93.803021%);
    --palFlamingo-240: rgb(94.655427% 90.224421% 94.131502%);
    --palFlamingo-241: rgb(94.920436% 90.848425% 94.461125%);
    --palFlamingo-242: rgb(95.194957% 91.470593% 94.792118%);
    --palFlamingo-243: rgb(95.479468% 92.090786% 95.124737%);
    --palFlamingo-244: rgb(95.774485% 92.708839% 95.459314%);
    --palFlamingo-245: rgb(96.080631% 93.324527% 95.796364%);
    --palFlamingo-246: rgb(96.398446% 93.937648% 96.136518%);
    --palFlamingo-247: rgb(96.728521% 94.547938% 96.480785%);
    --palFlamingo-248: rgb(97.071125% 95.155233% 96.830475%);
    --palFlamingo-249: rgb(97.426122% 95.759472% 97.187464%);
    --palFlamingo-250: rgb(97.792404% 96.360932% 97.554077%);
    --palFlamingo-251: rgb(98.167361% 96.960465% 97.932802%);
    --palFlamingo-252: rgb(98.546619% 97.559672% 98.325573%);
    --palFlamingo-253: rgb(98.924336% 98.160914% 98.732439%);
    --palFlamingo-254: rgb(99.294687% 98.766807% 99.150675%);
    --palFlamingo-255: rgb(99.653673% 99.379467% 99.57516%);
    --palFlamingo-256: rgb(100% 100% 100%);
}
