/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palFreeze-1: rgb(0% 0% 0%);
    --palFreeze-2: rgb(0.02509% 0.02218% 0.028925%);
    --palFreeze-3: rgb(0.087549% 0.076428% 0.103974%);
    --palFreeze-4: rgb(0.182388% 0.157413% 0.222593%);
    --palFreeze-5: rgb(0.307531% 0.262693% 0.384875%);
    --palFreeze-6: rgb(0.461724% 0.390688% 0.591605%);
    --palFreeze-7: rgb(0.644107% 0.54025% 0.843895%);
    --palFreeze-8: rgb(0.854045% 0.710488% 1.14306%);
    --palFreeze-9: rgb(1.091047% 0.900677% 1.490552%);
    --palFreeze-10: rgb(1.354717% 1.110213% 1.887938%);
    --palFreeze-11: rgb(1.644728% 1.33858% 2.336873%);
    --palFreeze-12: rgb(1.960804% 1.585328% 2.839099%);
    --palFreeze-13: rgb(2.302706% 1.850063% 3.396434%);
    --palFreeze-14: rgb(2.670223% 2.132431% 4.010768%);
    --palFreeze-15: rgb(3.063167% 2.432113% 4.64657%);
    --palFreeze-16: rgb(3.481365% 2.74882% 5.281301%);
    --palFreeze-17: rgb(3.924657% 3.082286% 5.916034%);
    --palFreeze-18: rgb(4.378837% 3.432267% 6.551273%);
    --palFreeze-19: rgb(4.82653% 3.798534% 7.187471%);
    --palFreeze-20: rgb(5.269083% 4.177303% 7.825031%);
    --palFreeze-21: rgb(5.706819% 4.551195% 8.464294%);
    --palFreeze-22: rgb(6.140021% 4.920217% 9.105579%);
    --palFreeze-23: rgb(6.56894% 5.284659% 9.749177%);
    --palFreeze-24: rgb(6.993794% 5.644777% 10.395354%);
    --palFreeze-25: rgb(7.41478% 6.000805% 11.044356%);
    --palFreeze-26: rgb(7.832072% 6.352946% 11.696443%);
    --palFreeze-27: rgb(8.245823% 6.701392% 12.351815%);
    --palFreeze-28: rgb(8.656168% 7.046319% 13.010659%);
    --palFreeze-29: rgb(9.06323% 7.387885% 13.673166%);
    --palFreeze-30: rgb(9.467117% 7.726234% 14.339511%);
    --palFreeze-31: rgb(9.867929% 8.061489% 15.009922%);
    --palFreeze-32: rgb(10.265747% 8.39378% 15.684521%);
    --palFreeze-33: rgb(10.660647% 8.723223% 16.363453%);
    --palFreeze-34: rgb(11.052696% 9.049921% 17.046865%);
    --palFreeze-35: rgb(11.441954% 9.373956% 17.734982%);
    --palFreeze-36: rgb(11.828468% 9.695432% 18.427876%);
    --palFreeze-37: rgb(12.212282% 10.014435% 19.125672%);
    --palFreeze-38: rgb(12.593432% 10.331032% 19.828561%);
    --palFreeze-39: rgb(12.971948% 10.645298% 20.536659%);
    --palFreeze-40: rgb(13.347851% 10.957313% 21.250039%);
    --palFreeze-41: rgb(13.721161% 11.267126% 21.968909%);
    --palFreeze-42: rgb(14.091888% 11.574805% 22.693347%);
    --palFreeze-43: rgb(14.460038% 11.880417% 23.423425%);
    --palFreeze-44: rgb(14.825613% 12.183991% 24.159398%);
    --palFreeze-45: rgb(15.188608% 12.485608% 24.901224%);
    --palFreeze-46: rgb(15.549013% 12.785296% 25.649132%);
    --palFreeze-47: rgb(15.906812% 13.083117% 26.403158%);
    --palFreeze-48: rgb(16.261986% 13.37911% 27.16345%);
    --palFreeze-49: rgb(16.614509% 13.673323% 27.930098%);
    --palFreeze-50: rgb(16.964351% 13.965796% 28.703215%);
    --palFreeze-51: rgb(17.311475% 14.256578% 29.482882%);
    --palFreeze-52: rgb(17.655839% 14.5457% 30.269245%);
    --palFreeze-53: rgb(17.997399% 14.833225% 31.062302%);
    --palFreeze-54: rgb(18.336096% 15.119161% 31.862312%);
    --palFreeze-55: rgb(18.671878% 15.403587% 32.669189%);
    --palFreeze-56: rgb(19.004675% 15.686522% 33.483129%);
    --palFreeze-57: rgb(19.334416% 15.968012% 34.304214%);
    --palFreeze-58: rgb(19.661026% 16.248118% 35.132441%);
    --palFreeze-59: rgb(19.984417% 16.526873% 35.967957%);
    --palFreeze-60: rgb(20.304493% 16.804315% 36.81088%);
    --palFreeze-61: rgb(20.621158% 17.080514% 37.661184%);
    --palFreeze-62: rgb(20.934304% 17.355524% 38.518939%);
    --palFreeze-63: rgb(21.243811% 17.629397% 39.384213%);
    --palFreeze-64: rgb(21.549547% 17.902179% 40.257132%);
    --palFreeze-65: rgb(21.851379% 18.173945% 41.137689%);
    --palFreeze-66: rgb(22.14916% 18.44477% 42.025899%);
    --palFreeze-67: rgb(22.44273% 18.714726% 42.921793%);
    --palFreeze-68: rgb(22.731918% 18.983894% 43.825391%);
    --palFreeze-69: rgb(23.01654% 19.252363% 44.736698%);
    --palFreeze-70: rgb(23.296397% 19.520229% 45.655706%);
    --palFreeze-71: rgb(23.571277% 19.787598% 46.582388%);
    --palFreeze-72: rgb(23.840952% 20.054584% 47.5167%);
    --palFreeze-73: rgb(24.105165% 20.321298% 48.458666%);
    --palFreeze-74: rgb(24.363654% 20.587884% 49.408181%);
    --palFreeze-75: rgb(24.616141% 20.854502% 50.365089%);
    --palFreeze-76: rgb(24.862323% 21.121323% 51.329246%);
    --palFreeze-77: rgb(25.101845% 21.388495% 52.300671%);
    --palFreeze-78: rgb(25.334368% 21.65624% 53.279066%);
    --palFreeze-79: rgb(25.559513% 21.924783% 54.264188%);
    --palFreeze-80: rgb(25.776839% 22.19433% 55.255957%);
    --palFreeze-81: rgb(25.985932% 22.465179% 56.253898%);
    --palFreeze-82: rgb(26.186289% 22.737595% 57.2578%);
    --palFreeze-83: rgb(26.37739% 23.011893% 58.267277%);
    --palFreeze-84: rgb(26.558696% 23.288439% 59.281783%);
    --palFreeze-85: rgb(26.729599% 23.567604% 60.300847%);
    --palFreeze-86: rgb(26.889427% 23.849783% 61.323986%);
    --palFreeze-87: rgb(27.037497% 24.135445% 62.350459%);
    --palFreeze-88: rgb(27.173064% 24.425084% 63.379488%);
    --palFreeze-89: rgb(27.295327% 24.71924% 64.410211%);
    --palFreeze-90: rgb(27.403391% 25.01848% 65.44175%);
    --palFreeze-91: rgb(27.496352% 25.323444% 66.47294%);
    --palFreeze-92: rgb(27.573251% 25.63482% 67.502483%);
    --palFreeze-93: rgb(27.63302% 25.953324% 68.529063%);
    --palFreeze-94: rgb(27.674544% 26.279727% 69.551159%);
    --palFreeze-95: rgb(27.696685% 26.614854% 70.566997%);
    --palFreeze-96: rgb(27.698258% 26.959564% 71.574631%);
    --palFreeze-97: rgb(27.677941% 27.314731% 72.572114%);
    --palFreeze-98: rgb(27.634519% 27.681274% 73.557034%);
    --palFreeze-99: rgb(27.566713% 28.060105% 74.52691%);
    --palFreeze-100: rgb(27.473265% 28.452119% 75.479072%);
    --palFreeze-101: rgb(27.352966% 28.858173% 76.410686%);
    --palFreeze-102: rgb(27.204633% 29.27906% 77.31885%);
    --palFreeze-103: rgb(27.027341% 29.715471% 78.200417%);
    --palFreeze-104: rgb(26.820235% 30.167962% 79.052335%);
    --palFreeze-105: rgb(26.582668% 30.636924% 79.871595%);
    --palFreeze-106: rgb(26.314304% 31.122542% 80.655274%);
    --palFreeze-107: rgb(26.015086% 31.624773% 81.40069%);
    --palFreeze-108: rgb(25.68521% 32.143337% 82.105518%);
    --palFreeze-109: rgb(25.32531% 32.677687% 82.767775%);
    --palFreeze-110: rgb(24.936298% 33.227037% 83.38599%);
    --palFreeze-111: rgb(24.519404% 33.790378% 83.959211%);
    --palFreeze-112: rgb(24.076142% 34.366505% 84.487037%);
    --palFreeze-113: rgb(23.608281% 34.954062% 84.969607%);
    --palFreeze-114: rgb(23.117775% 35.551592% 85.407576%);
    --palFreeze-115: rgb(22.60671% 36.157585% 85.802062%);
    --palFreeze-116: rgb(22.077265% 36.770526% 86.154574%);
    --palFreeze-117: rgb(21.531691% 37.388928% 86.466937%);
    --palFreeze-118: rgb(20.972262% 38.011371% 86.741218%);
    --palFreeze-119: rgb(20.401169% 38.636546% 86.979634%);
    --palFreeze-120: rgb(19.820716% 39.263224% 87.184514%);
    --palFreeze-121: rgb(19.233052% 39.890328% 87.358201%);
    --palFreeze-122: rgb(18.640436% 40.516872% 87.503047%);
    --palFreeze-123: rgb(18.044969% 41.142032% 87.621317%);
    --palFreeze-124: rgb(17.449003% 41.765045% 87.715258%);
    --palFreeze-125: rgb(16.854689% 42.385314% 87.786951%);
    --palFreeze-126: rgb(16.264352% 43.002317% 87.838395%);
    --palFreeze-127: rgb(15.680424% 43.615623% 87.871467%);
    --palFreeze-128: rgb(15.105467% 44.224882% 87.887926%);
    --palFreeze-129: rgb(14.542201% 44.829818% 87.889403%);
    --palFreeze-130: rgb(13.993537% 45.43022% 87.877411%);
    --palFreeze-131: rgb(13.462605% 46.025931% 87.853341%);
    --palFreeze-132: rgb(12.95278% 46.616843% 87.818476%);
    --palFreeze-133: rgb(12.467691% 47.202887% 87.773994%);
    --palFreeze-134: rgb(12.01122% 47.784031% 87.720971%);
    --palFreeze-135: rgb(11.587493% 48.360267% 87.6604%);
    --palFreeze-136: rgb(11.200905% 48.9316% 87.593229%);
    --palFreeze-137: rgb(10.85574% 49.498086% 87.520238%);
    --palFreeze-138: rgb(10.5564% 50.059777% 87.442194%);
    --palFreeze-139: rgb(10.307166% 50.616728% 87.359826%);
    --palFreeze-140: rgb(10.111766% 51.169039% 87.273708%);
    --palFreeze-141: rgb(9.973624% 51.716776% 87.184481%);
    --palFreeze-142: rgb(9.895171% 52.260053% 87.092607%);
    --palFreeze-143: rgb(9.878172% 52.798951% 86.998626%);
    --palFreeze-144: rgb(9.923172% 53.333589% 86.902915%);
    --palFreeze-145: rgb(10.029868% 53.864057% 86.805927%);
    --palFreeze-146: rgb(10.196801% 54.390472% 86.707983%);
    --palFreeze-147: rgb(10.421719% 54.912936% 86.609426%);
    --palFreeze-148: rgb(10.701631% 55.431553% 86.510567%);
    --palFreeze-149: rgb(11.032983% 55.946432% 86.411656%);
    --palFreeze-150: rgb(11.411937% 56.457672% 86.312957%);
    --palFreeze-151: rgb(11.834484% 56.965375% 86.214696%);
    --palFreeze-152: rgb(12.296614% 57.469642% 86.117064%);
    --palFreeze-153: rgb(12.794465% 57.970567% 86.020254%);
    --palFreeze-154: rgb(13.324382% 58.468242% 85.924441%);
    --palFreeze-155: rgb(13.882971% 58.962759% 85.829767%);
    --palFreeze-156: rgb(14.467143% 59.454205% 85.736371%);
    --palFreeze-157: rgb(15.074117% 59.94266% 85.644385%);
    --palFreeze-158: rgb(15.701408% 60.428205% 85.553918%);
    --palFreeze-159: rgb(16.346824% 60.910915% 85.465073%);
    --palFreeze-160: rgb(17.008437% 61.390862% 85.377945%);
    --palFreeze-161: rgb(17.684564% 61.868114% 85.292617%);
    --palFreeze-162: rgb(18.373744% 62.342735% 85.209166%);
    --palFreeze-163: rgb(19.074714% 62.814784% 85.127664%);
    --palFreeze-164: rgb(19.786384% 63.284317% 85.048178%);
    --palFreeze-165: rgb(20.507824% 63.751387% 84.970756%);
    --palFreeze-166: rgb(21.238235% 64.216041% 84.895462%);
    --palFreeze-167: rgb(21.97694% 64.678321% 84.82235%);
    --palFreeze-168: rgb(22.723371% 65.138268% 84.75146%);
    --palFreeze-169: rgb(23.477048% 65.595917% 84.682835%);
    --palFreeze-170: rgb(24.23757% 66.051298% 84.616533%);
    --palFreeze-171: rgb(25.00461% 66.504439% 84.552589%);
    --palFreeze-172: rgb(25.777909% 66.955362% 84.491036%);
    --palFreeze-173: rgb(26.557243% 67.404086% 84.43194%);
    --palFreeze-174: rgb(27.342457% 67.850624% 84.375329%);
    --palFreeze-175: rgb(28.133426% 68.294987% 84.32125%);
    --palFreeze-176: rgb(28.930049% 68.737179% 84.269776%);
    --palFreeze-177: rgb(29.732295% 69.177205% 84.220916%);
    --palFreeze-178: rgb(30.540104% 69.615059% 84.174776%);
    --palFreeze-179: rgb(31.353492% 70.050738% 84.131382%);
    --palFreeze-180: rgb(32.172449% 70.484229% 84.090833%);
    --palFreeze-181: rgb(32.997021% 70.91552% 84.053179%);
    --palFreeze-182: rgb(33.827222% 71.344593% 84.018534%);
    --palFreeze-183: rgb(34.66313% 71.771426% 83.986954%);
    --palFreeze-184: rgb(35.504765% 72.195996% 83.958586%);
    --palFreeze-185: rgb(36.352212% 72.618277% 83.933505%);
    --palFreeze-186: rgb(37.20551% 73.038239% 83.911863%);
    --palFreeze-187: rgb(38.064704% 73.455851% 83.893806%);
    --palFreeze-188: rgb(38.929869% 73.87108% 83.879454%);
    --palFreeze-189: rgb(39.80102% 74.283894% 83.869004%);
    --palFreeze-190: rgb(40.678177% 74.694259% 83.862643%);
    --palFreeze-191: rgb(41.56135% 75.102143% 83.860568%);
    --palFreeze-192: rgb(42.450548% 75.507513% 83.862976%);
    --palFreeze-193: rgb(43.345718% 75.910343% 83.870123%);
    --palFreeze-194: rgb(44.246798% 76.310607% 83.882259%);
    --palFreeze-195: rgb(45.1537% 76.708287% 83.899653%);
    --palFreeze-196: rgb(46.066304% 77.103367% 83.922588%);
    --palFreeze-197: rgb(46.984454% 77.495843% 83.951363%);
    --palFreeze-198: rgb(47.907957% 77.885716% 83.98629%);
    --palFreeze-199: rgb(48.836584% 78.272998% 84.027691%);
    --palFreeze-200: rgb(49.770064% 78.657714% 84.075898%);
    --palFreeze-201: rgb(50.708091% 79.039899% 84.131248%);
    --palFreeze-202: rgb(51.650318% 79.419602% 84.194076%);
    --palFreeze-203: rgb(52.596364% 79.796886% 84.264717%);
    --palFreeze-204: rgb(53.545814% 80.171828% 84.343499%);
    --palFreeze-205: rgb(54.498225% 80.544521% 84.430734%);
    --palFreeze-206: rgb(55.453129% 80.915071% 84.526721%);
    --palFreeze-207: rgb(56.410039% 81.283597% 84.631738%);
    --palFreeze-208: rgb(57.368456% 81.650235% 84.746034%);
    --palFreeze-209: rgb(58.327872% 82.015129% 84.869834%);
    --palFreeze-210: rgb(59.287781% 82.378438% 85.003326%);
    --palFreeze-211: rgb(60.247685% 82.740326% 85.146665%);
    --palFreeze-212: rgb(61.207096% 83.100967% 85.299972%);
    --palFreeze-213: rgb(62.165538% 83.460544% 85.463332%);
    --palFreeze-214: rgb(63.122562% 83.81924% 85.636792%);
    --palFreeze-215: rgb(64.077759% 84.17724% 85.820356%);
    --palFreeze-216: rgb(65.030746% 84.534729% 86.013994%);
    --palFreeze-217: rgb(65.981175% 84.891893% 86.217646%);
    --palFreeze-218: rgb(66.928693% 85.248921% 86.431238%);
    --palFreeze-219: rgb(67.873032% 85.60599% 86.654644%);
    --palFreeze-220: rgb(68.813976% 85.963268% 86.887706%);
    --palFreeze-221: rgb(69.751237% 86.320941% 87.130298%);
    --palFreeze-222: rgb(70.68471% 86.679155% 87.382199%);
    --palFreeze-223: rgb(71.614179% 87.038083% 87.643245%);
    --palFreeze-224: rgb(72.539598% 87.397857% 87.913191%);
    --palFreeze-225: rgb(73.460771% 87.758647% 88.191867%);
    --palFreeze-226: rgb(74.377717% 88.120567% 88.479007%);
    --palFreeze-227: rgb(75.29038% 88.483749% 88.774385%);
    --palFreeze-228: rgb(76.198665% 88.848336% 89.077799%);
    --palFreeze-229: rgb(77.10262% 89.214431% 89.38899%);
    --palFreeze-230: rgb(78.002246% 89.582144% 89.707729%);
    --palFreeze-231: rgb(78.89756% 89.951584% 90.033785%);
    --palFreeze-232: rgb(79.788586% 90.322852% 90.366935%);
    --palFreeze-233: rgb(80.675363% 90.696045% 90.706954%);
    --palFreeze-234: rgb(81.557937% 91.071256% 91.053626%);
    --palFreeze-235: rgb(82.436362% 91.44857% 91.406738%);
    --palFreeze-236: rgb(83.310697% 91.828073% 91.766081%);
    --palFreeze-237: rgb(84.181004% 92.209843% 92.131454%);
    --palFreeze-238: rgb(85.047348% 92.59396% 92.502662%);
    --palFreeze-239: rgb(85.909758% 92.980508% 92.879528%);
    --palFreeze-240: rgb(86.768305% 93.369561% 93.261867%);
    --palFreeze-241: rgb(87.623077% 93.761181% 93.649497%);
    --palFreeze-242: rgb(88.474116% 94.155446% 94.042253%);
    --palFreeze-243: rgb(89.321422% 94.552444% 94.439991%);
    --palFreeze-244: rgb(90.16511% 94.952226% 94.842532%);
    --palFreeze-245: rgb(91.005156% 95.354885% 95.249749%);
    --palFreeze-246: rgb(91.841619% 95.760487% 95.661487%);
    --palFreeze-247: rgb(92.674495% 96.169117% 96.077616%);
    --palFreeze-248: rgb(93.503794% 96.580855% 96.498002%);
    --palFreeze-249: rgb(94.329477% 96.995798% 96.922525%);
    --palFreeze-250: rgb(95.151541% 97.414029% 97.35105%);
    --palFreeze-251: rgb(95.969854% 97.835678% 97.783479%);
    --palFreeze-252: rgb(96.784374% 98.260842% 98.219677%);
    --palFreeze-253: rgb(97.594916% 98.689671% 98.65954%);
    --palFreeze-254: rgb(98.401251% 99.122336% 99.102959%);
    --palFreeze-255: rgb(99.203098% 99.559025% 99.549813%);
    --palFreeze-256: rgb(100% 100% 100%);
}
