/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palG10-1: rgb(20% 40% 80%);
    --palG10-2: rgb(86.27451% 22.352941% 7.058824%);
    --palG10-3: rgb(100% 60% 0%);
    --palG10-4: rgb(6.27451% 58.823529% 9.411765%);
    --palG10-5: rgb(60% 0% 60%);
    --palG10-6: rgb(0% 60% 77.647059%);
    --palG10-7: rgb(86.666667% 26.666667% 46.666667%);
    --palG10-8: rgb(40% 66.666667% 0%);
    --palG10-9: rgb(72.156863% 18.039216% 18.039216%);
    --palG10-10: rgb(19.215686% 38.823529% 58.431373%);
}
