/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGasFlame-1: rgb(87.84% 100% 100%);
    --palGasFlame-2: rgb(52.94% 80.78% 98.04%);
    --palGasFlame-3: rgb(86.67% 62.75% 86.67%);
    --palGasFlame-4: rgb(94.12% 50.2% 50.2%);
    --palGasFlame-5: rgb(100% 62.75% 47.84%);
    --palGasFlame-6: rgb(94.12% 90.2% 54.9%);
}
