/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGeyser-1: rgb(0% 50.196078% 50.196078%);
    --palGeyser-2: rgb(43.921569% 64.313725% 58.039216%);
    --palGeyser-3: rgb(70.588235% 78.431373% 65.882353%);
    --palGeyser-4: rgb(96.470588% 92.941176% 74.117647%);
    --palGeyser-5: rgb(92.941176% 73.333333% 54.117647%);
    --palGeyser-6: rgb(87.058824% 54.117647% 35.294118%);
    --palGeyser-7: rgb(79.215686% 33.72549% 17.254902%);
}
