/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGistRainbow-1: rgb(100% 0% 16%);
    --palGistRainbow-2: rgb(100% 0% 13.9085%);
    --palGistRainbow-3: rgb(100% 0% 11.817%);
    --palGistRainbow-4: rgb(100% 0% 9.7255%);
    --palGistRainbow-5: rgb(100% 0% 7.634%);
    --palGistRainbow-6: rgb(100% 0% 5.5425%);
    --palGistRainbow-7: rgb(100% 0% 3.451%);
    --palGistRainbow-8: rgb(100% 0% 1.3595%);
    --palGistRainbow-9: rgb(100% 0.7419% 0%);
    --palGistRainbow-10: rgb(100% 2.8617% 0%);
    --palGistRainbow-11: rgb(100% 4.9815% 0%);
    --palGistRainbow-12: rgb(100% 7.1012% 0%);
    --palGistRainbow-13: rgb(100% 9.221% 0%);
    --palGistRainbow-14: rgb(100% 11.3408% 0%);
    --palGistRainbow-15: rgb(100% 13.4605% 0%);
    --palGistRainbow-16: rgb(100% 15.5803% 0%);
    --palGistRainbow-17: rgb(100% 17.7001% 0%);
    --palGistRainbow-18: rgb(100% 19.8198% 0%);
    --palGistRainbow-19: rgb(100% 21.9396% 0%);
    --palGistRainbow-20: rgb(100% 24.0594% 0%);
    --palGistRainbow-21: rgb(100% 26.1791% 0%);
    --palGistRainbow-22: rgb(100% 28.2989% 0%);
    --palGistRainbow-23: rgb(100% 30.4187% 0%);
    --palGistRainbow-24: rgb(100% 32.5384% 0%);
    --palGistRainbow-25: rgb(100% 34.6582% 0%);
    --palGistRainbow-26: rgb(100% 36.778% 0%);
    --palGistRainbow-27: rgb(100% 38.8977% 0%);
    --palGistRainbow-28: rgb(100% 41.0175% 0%);
    --palGistRainbow-29: rgb(100% 43.1373% 0%);
    --palGistRainbow-30: rgb(100% 45.257% 0%);
    --palGistRainbow-31: rgb(100% 47.3768% 0%);
    --palGistRainbow-32: rgb(100% 49.4966% 0%);
    --palGistRainbow-33: rgb(100% 51.6163% 0%);
    --palGistRainbow-34: rgb(100% 53.7361% 0%);
    --palGistRainbow-35: rgb(100% 55.8559% 0%);
    --palGistRainbow-36: rgb(100% 57.9756% 0%);
    --palGistRainbow-37: rgb(100% 60.0954% 0%);
    --palGistRainbow-38: rgb(100% 62.2152% 0%);
    --palGistRainbow-39: rgb(100% 64.3349% 0%);
    --palGistRainbow-40: rgb(100% 66.4547% 0%);
    --palGistRainbow-41: rgb(100% 68.5745% 0%);
    --palGistRainbow-42: rgb(100% 70.6942% 0%);
    --palGistRainbow-43: rgb(100% 72.814% 0%);
    --palGistRainbow-44: rgb(100% 74.9338% 0%);
    --palGistRainbow-45: rgb(100% 77.0535% 0%);
    --palGistRainbow-46: rgb(100% 79.1733% 0%);
    --palGistRainbow-47: rgb(100% 81.2931% 0%);
    --palGistRainbow-48: rgb(100% 83.4128% 0%);
    --palGistRainbow-49: rgb(100% 85.5326% 0%);
    --palGistRainbow-50: rgb(100% 87.6524% 0%);
    --palGistRainbow-51: rgb(100% 89.7721% 0%);
    --palGistRainbow-52: rgb(100% 91.8919% 0%);
    --palGistRainbow-53: rgb(100% 94.0117% 0%);
    --palGistRainbow-54: rgb(100% 96.1314% 0%);
    --palGistRainbow-55: rgb(100% 98.2512% 0%);
    --palGistRainbow-56: rgb(99.629% 100% 0%);
    --palGistRainbow-57: rgb(97.5093% 100% 0%);
    --palGistRainbow-58: rgb(95.3895% 100% 0%);
    --palGistRainbow-59: rgb(93.2697% 100% 0%);
    --palGistRainbow-60: rgb(91.15% 100% 0%);
    --palGistRainbow-61: rgb(89.0302% 100% 0%);
    --palGistRainbow-62: rgb(86.9104% 100% 0%);
    --palGistRainbow-63: rgb(84.7907% 100% 0%);
    --palGistRainbow-64: rgb(82.6709% 100% 0%);
    --palGistRainbow-65: rgb(80.5511% 100% 0%);
    --palGistRainbow-66: rgb(78.4314% 100% 0%);
    --palGistRainbow-67: rgb(76.3116% 100% 0%);
    --palGistRainbow-68: rgb(74.1918% 100% 0%);
    --palGistRainbow-69: rgb(72.0721% 100% 0%);
    --palGistRainbow-70: rgb(69.9523% 100% 0%);
    --palGistRainbow-71: rgb(67.8325% 100% 0%);
    --palGistRainbow-72: rgb(65.7128% 100% 0%);
    --palGistRainbow-73: rgb(63.593% 100% 0%);
    --palGistRainbow-74: rgb(61.4732% 100% 0%);
    --palGistRainbow-75: rgb(59.3535% 100% 0%);
    --palGistRainbow-76: rgb(57.2337% 100% 0%);
    --palGistRainbow-77: rgb(55.1139% 100% 0%);
    --palGistRainbow-78: rgb(52.9942% 100% 0%);
    --palGistRainbow-79: rgb(50.8744% 100% 0%);
    --palGistRainbow-80: rgb(48.7546% 100% 0%);
    --palGistRainbow-81: rgb(46.6349% 100% 0%);
    --palGistRainbow-82: rgb(44.5151% 100% 0%);
    --palGistRainbow-83: rgb(42.3953% 100% 0%);
    --palGistRainbow-84: rgb(40.2756% 100% 0%);
    --palGistRainbow-85: rgb(38.1558% 100% 0%);
    --palGistRainbow-86: rgb(36.036% 100% 0%);
    --palGistRainbow-87: rgb(33.9163% 100% 0%);
    --palGistRainbow-88: rgb(31.7965% 100% 0%);
    --palGistRainbow-89: rgb(29.6767% 100% 0%);
    --palGistRainbow-90: rgb(27.557% 100% 0%);
    --palGistRainbow-91: rgb(25.4372% 100% 0%);
    --palGistRainbow-92: rgb(23.3174% 100% 0%);
    --palGistRainbow-93: rgb(21.1977% 100% 0%);
    --palGistRainbow-94: rgb(19.0779% 100% 0%);
    --palGistRainbow-95: rgb(16.9581% 100% 0%);
    --palGistRainbow-96: rgb(14.8384% 100% 0%);
    --palGistRainbow-97: rgb(12.7186% 100% 0%);
    --palGistRainbow-98: rgb(10.5988% 100% 0%);
    --palGistRainbow-99: rgb(8.4791% 100% 0%);
    --palGistRainbow-100: rgb(6.3593% 100% 0%);
    --palGistRainbow-101: rgb(4.2395% 100% 0%);
    --palGistRainbow-102: rgb(2.1198% 100% 0%);
    --palGistRainbow-103: rgb(0% 100% 0%);
    --palGistRainbow-104: rgb(0% 100% 2.1084%);
    --palGistRainbow-105: rgb(0% 100% 4.2167%);
    --palGistRainbow-106: rgb(0% 100% 6.3251%);
    --palGistRainbow-107: rgb(0% 100% 8.4335%);
    --palGistRainbow-108: rgb(0% 100% 10.5419%);
    --palGistRainbow-109: rgb(0% 100% 12.6502%);
    --palGistRainbow-110: rgb(0% 100% 14.7586%);
    --palGistRainbow-111: rgb(0% 100% 16.867%);
    --palGistRainbow-112: rgb(0% 100% 18.9753%);
    --palGistRainbow-113: rgb(0% 100% 21.0837%);
    --palGistRainbow-114: rgb(0% 100% 23.1921%);
    --palGistRainbow-115: rgb(0% 100% 25.3004%);
    --palGistRainbow-116: rgb(0% 100% 27.4088%);
    --palGistRainbow-117: rgb(0% 100% 29.5172%);
    --palGistRainbow-118: rgb(0% 100% 31.6256%);
    --palGistRainbow-119: rgb(0% 100% 33.7339%);
    --palGistRainbow-120: rgb(0% 100% 35.8423%);
    --palGistRainbow-121: rgb(0% 100% 37.9507%);
    --palGistRainbow-122: rgb(0% 100% 40.059%);
    --palGistRainbow-123: rgb(0% 100% 42.1674%);
    --palGistRainbow-124: rgb(0% 100% 44.2758%);
    --palGistRainbow-125: rgb(0% 100% 46.3841%);
    --palGistRainbow-126: rgb(0% 100% 48.4925%);
    --palGistRainbow-127: rgb(0% 100% 50.6009%);
    --palGistRainbow-128: rgb(0% 100% 52.7093%);
    --palGistRainbow-129: rgb(0% 100% 54.8176%);
    --palGistRainbow-130: rgb(0% 100% 56.926%);
    --palGistRainbow-131: rgb(0% 100% 59.0344%);
    --palGistRainbow-132: rgb(0% 100% 61.1427%);
    --palGistRainbow-133: rgb(0% 100% 63.2511%);
    --palGistRainbow-134: rgb(0% 100% 65.3595%);
    --palGistRainbow-135: rgb(0% 100% 67.4678%);
    --palGistRainbow-136: rgb(0% 100% 69.5762%);
    --palGistRainbow-137: rgb(0% 100% 71.6846%);
    --palGistRainbow-138: rgb(0% 100% 73.793%);
    --palGistRainbow-139: rgb(0% 100% 75.9013%);
    --palGistRainbow-140: rgb(0% 100% 78.0097%);
    --palGistRainbow-141: rgb(0% 100% 80.1181%);
    --palGistRainbow-142: rgb(0% 100% 82.2264%);
    --palGistRainbow-143: rgb(0% 100% 84.3348%);
    --palGistRainbow-144: rgb(0% 100% 86.4432%);
    --palGistRainbow-145: rgb(0% 100% 88.5515%);
    --palGistRainbow-146: rgb(0% 100% 90.6599%);
    --palGistRainbow-147: rgb(0% 100% 92.7683%);
    --palGistRainbow-148: rgb(0% 100% 94.8767%);
    --palGistRainbow-149: rgb(0% 100% 96.985%);
    --palGistRainbow-150: rgb(0% 100% 99.0934%);
    --palGistRainbow-151: rgb(0% 98.7852% 100%);
    --palGistRainbow-152: rgb(0% 96.6539% 100%);
    --palGistRainbow-153: rgb(0% 94.5226% 100%);
    --palGistRainbow-154: rgb(0% 92.3913% 100%);
    --palGistRainbow-155: rgb(0% 90.26% 100%);
    --palGistRainbow-156: rgb(0% 88.1287% 100%);
    --palGistRainbow-157: rgb(0% 85.9974% 100%);
    --palGistRainbow-158: rgb(0% 83.8662% 100%);
    --palGistRainbow-159: rgb(0% 81.7349% 100%);
    --palGistRainbow-160: rgb(0% 79.6036% 100%);
    --palGistRainbow-161: rgb(0% 77.4723% 100%);
    --palGistRainbow-162: rgb(0% 75.341% 100%);
    --palGistRainbow-163: rgb(0% 73.2097% 100%);
    --palGistRainbow-164: rgb(0% 71.0784% 100%);
    --palGistRainbow-165: rgb(0% 68.9471% 100%);
    --palGistRainbow-166: rgb(0% 66.8159% 100%);
    --palGistRainbow-167: rgb(0% 64.6846% 100%);
    --palGistRainbow-168: rgb(0% 62.5533% 100%);
    --palGistRainbow-169: rgb(0% 60.422% 100%);
    --palGistRainbow-170: rgb(0% 58.2907% 100%);
    --palGistRainbow-171: rgb(0% 56.1594% 100%);
    --palGistRainbow-172: rgb(0% 54.0281% 100%);
    --palGistRainbow-173: rgb(0% 51.8968% 100%);
    --palGistRainbow-174: rgb(0% 49.7656% 100%);
    --palGistRainbow-175: rgb(0% 47.6343% 100%);
    --palGistRainbow-176: rgb(0% 45.503% 100%);
    --palGistRainbow-177: rgb(0% 43.3717% 100%);
    --palGistRainbow-178: rgb(0% 41.2404% 100%);
    --palGistRainbow-179: rgb(0% 39.1091% 100%);
    --palGistRainbow-180: rgb(0% 36.9778% 100%);
    --palGistRainbow-181: rgb(0% 34.8465% 100%);
    --palGistRainbow-182: rgb(0% 32.7153% 100%);
    --palGistRainbow-183: rgb(0% 30.584% 100%);
    --palGistRainbow-184: rgb(0% 28.4527% 100%);
    --palGistRainbow-185: rgb(0% 26.3214% 100%);
    --palGistRainbow-186: rgb(0% 24.1901% 100%);
    --palGistRainbow-187: rgb(0% 22.0588% 100%);
    --palGistRainbow-188: rgb(0% 19.9275% 100%);
    --palGistRainbow-189: rgb(0% 17.7962% 100%);
    --palGistRainbow-190: rgb(0% 15.665% 100%);
    --palGistRainbow-191: rgb(0% 13.5337% 100%);
    --palGistRainbow-192: rgb(0% 11.4024% 100%);
    --palGistRainbow-193: rgb(0% 9.2711% 100%);
    --palGistRainbow-194: rgb(0% 7.1398% 100%);
    --palGistRainbow-195: rgb(0% 5.0085% 100%);
    --palGistRainbow-196: rgb(0% 2.8772% 100%);
    --palGistRainbow-197: rgb(0% 0.746% 100%);
    --palGistRainbow-198: rgb(1.3853% 0% 100%);
    --palGistRainbow-199: rgb(3.5166% 0% 100%);
    --palGistRainbow-200: rgb(5.6479% 0% 100%);
    --palGistRainbow-201: rgb(7.7792% 0% 100%);
    --palGistRainbow-202: rgb(9.9105% 0% 100%);
    --palGistRainbow-203: rgb(12.0418% 0% 100%);
    --palGistRainbow-204: rgb(14.1731% 0% 100%);
    --palGistRainbow-205: rgb(16.3043% 0% 100%);
    --palGistRainbow-206: rgb(18.4356% 0% 100%);
    --palGistRainbow-207: rgb(20.5669% 0% 100%);
    --palGistRainbow-208: rgb(22.6982% 0% 100%);
    --palGistRainbow-209: rgb(24.8295% 0% 100%);
    --palGistRainbow-210: rgb(26.9608% 0% 100%);
    --palGistRainbow-211: rgb(29.0921% 0% 100%);
    --palGistRainbow-212: rgb(31.2234% 0% 100%);
    --palGistRainbow-213: rgb(33.3546% 0% 100%);
    --palGistRainbow-214: rgb(35.4859% 0% 100%);
    --palGistRainbow-215: rgb(37.6172% 0% 100%);
    --palGistRainbow-216: rgb(39.7485% 0% 100%);
    --palGistRainbow-217: rgb(41.8798% 0% 100%);
    --palGistRainbow-218: rgb(44.0111% 0% 100%);
    --palGistRainbow-219: rgb(46.1424% 0% 100%);
    --palGistRainbow-220: rgb(48.2737% 0% 100%);
    --palGistRainbow-221: rgb(50.4049% 0% 100%);
    --palGistRainbow-222: rgb(52.5362% 0% 100%);
    --palGistRainbow-223: rgb(54.6675% 0% 100%);
    --palGistRainbow-224: rgb(56.7988% 0% 100%);
    --palGistRainbow-225: rgb(58.9301% 0% 100%);
    --palGistRainbow-226: rgb(61.0614% 0% 100%);
    --palGistRainbow-227: rgb(63.1927% 0% 100%);
    --palGistRainbow-228: rgb(65.324% 0% 100%);
    --palGistRainbow-229: rgb(67.4552% 0% 100%);
    --palGistRainbow-230: rgb(69.5865% 0% 100%);
    --palGistRainbow-231: rgb(71.7178% 0% 100%);
    --palGistRainbow-232: rgb(73.8491% 0% 100%);
    --palGistRainbow-233: rgb(75.9804% 0% 100%);
    --palGistRainbow-234: rgb(78.1117% 0% 100%);
    --palGistRainbow-235: rgb(80.243% 0% 100%);
    --palGistRainbow-236: rgb(82.3743% 0% 100%);
    --palGistRainbow-237: rgb(84.5055% 0% 100%);
    --palGistRainbow-238: rgb(86.6368% 0% 100%);
    --palGistRainbow-239: rgb(88.7681% 0% 100%);
    --palGistRainbow-240: rgb(90.8994% 0% 100%);
    --palGistRainbow-241: rgb(93.0307% 0% 100%);
    --palGistRainbow-242: rgb(95.162% 0% 100%);
    --palGistRainbow-243: rgb(97.2933% 0% 100%);
    --palGistRainbow-244: rgb(99.4246% 0% 100%);
    --palGistRainbow-245: rgb(100% 0% 98.4442%);
    --palGistRainbow-246: rgb(100% 0% 96.3129%);
    --palGistRainbow-247: rgb(100% 0% 94.1816%);
    --palGistRainbow-248: rgb(100% 0% 92.0503%);
    --palGistRainbow-249: rgb(100% 0% 89.919%);
    --palGistRainbow-250: rgb(100% 0% 87.7877%);
    --palGistRainbow-251: rgb(100% 0% 85.6564%);
    --palGistRainbow-252: rgb(100% 0% 83.5251%);
    --palGistRainbow-253: rgb(100% 0% 81.3939%);
    --palGistRainbow-254: rgb(100% 0% 79.2626%);
    --palGistRainbow-255: rgb(100% 0% 77.1313%);
    --palGistRainbow-256: rgb(100% 0% 75%);
}
