/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGnuplot-1: rgb(0% 0% 0%);
    --palGnuplot-2: rgb(6.2622% 0% 2.4637%);
    --palGnuplot-3: rgb(8.8561% 0% 4.926%);
    --palGnuplot-4: rgb(10.8465% 0.0002% 7.3853%);
    --palGnuplot-5: rgb(12.5245% 0.0004% 9.84%);
    --palGnuplot-6: rgb(14.0028% 0.0008% 12.2888%);
    --palGnuplot-7: rgb(15.3393% 0.0013% 14.7302%);
    --palGnuplot-8: rgb(16.5683% 0.0021% 17.1626%);
    --palGnuplot-9: rgb(17.7123% 0.0031% 19.5845%);
    --palGnuplot-10: rgb(18.7867% 0.0044% 21.9946%);
    --palGnuplot-11: rgb(19.803% 0.006% 24.3914%);
    --palGnuplot-12: rgb(20.7695% 0.008% 26.7733%);
    --palGnuplot-13: rgb(21.693% 0.0104% 29.139%);
    --palGnuplot-14: rgb(22.5788% 0.0132% 31.487%);
    --palGnuplot-15: rgb(23.4312% 0.0165% 33.8158%);
    --palGnuplot-16: rgb(24.2536% 0.0204% 36.1242%);
    --palGnuplot-17: rgb(25.049% 0.0247% 38.4106%);
    --palGnuplot-18: rgb(25.8199% 0.0296% 40.6737%);
    --palGnuplot-19: rgb(26.5684% 0.0352% 42.9121%);
    --palGnuplot-20: rgb(27.2965% 0.0414% 45.1244%);
    --palGnuplot-21: rgb(28.0056% 0.0482% 47.3094%);
    --palGnuplot-22: rgb(28.6972% 0.0559% 49.4656%);
    --palGnuplot-23: rgb(29.3725% 0.0642% 51.5918%);
    --palGnuplot-24: rgb(30.0327% 0.0734% 53.6867%);
    --palGnuplot-25: rgb(30.6786% 0.0834% 55.7489%);
    --palGnuplot-26: rgb(31.3112% 0.0942% 57.7774%);
    --palGnuplot-27: rgb(31.9313% 0.106% 59.7707%);
    --palGnuplot-28: rgb(32.5396% 0.1187% 61.7278%);
    --palGnuplot-29: rgb(33.1367% 0.1324% 63.6474%);
    --palGnuplot-30: rgb(33.7232% 0.1471% 65.5284%);
    --palGnuplot-31: rgb(34.2997% 0.1628% 67.3696%);
    --palGnuplot-32: rgb(34.8667% 0.1797% 69.1698%);
    --palGnuplot-33: rgb(35.4246% 0.1976% 70.9281%);
    --palGnuplot-34: rgb(35.9738% 0.2167% 72.6434%);
    --palGnuplot-35: rgb(36.5148% 0.237% 74.3145%);
    --palGnuplot-36: rgb(37.0479% 0.2586% 75.9405%);
    --palGnuplot-37: rgb(37.5735% 0.2814% 77.5204%);
    --palGnuplot-38: rgb(38.0917% 0.3055% 79.0532%);
    --palGnuplot-39: rgb(38.6031% 0.3309% 80.5381%);
    --palGnuplot-40: rgb(39.1077% 0.3577% 81.974%);
    --palGnuplot-41: rgb(39.6059% 0.386% 83.3602%);
    --palGnuplot-42: rgb(40.0979% 0.4157% 84.6958%);
    --palGnuplot-43: rgb(40.584% 0.4468% 85.98%);
    --palGnuplot-44: rgb(41.0643% 0.4795% 87.212%);
    --palGnuplot-45: rgb(41.539% 0.5137% 88.391%);
    --palGnuplot-46: rgb(42.0084% 0.5496% 89.5163%);
    --palGnuplot-47: rgb(42.4726% 0.587% 90.5873%);
    --palGnuplot-48: rgb(42.9318% 0.6261% 91.6034%);
    --palGnuplot-49: rgb(43.3861% 0.667% 92.5638%);
    --palGnuplot-50: rgb(43.8357% 0.7095% 93.468%);
    --palGnuplot-51: rgb(44.2807% 0.7539% 94.3154%);
    --palGnuplot-52: rgb(44.7214% 0.8% 95.1057%);
    --palGnuplot-53: rgb(45.1577% 0.848% 95.8381%);
    --palGnuplot-54: rgb(45.5898% 0.8979% 96.5124%);
    --palGnuplot-55: rgb(46.0179% 0.9496% 97.1281%);
    --palGnuplot-56: rgb(46.442% 1.0034% 97.6848%);
    --palGnuplot-57: rgb(46.8623% 1.0591% 98.1823%);
    --palGnuplot-58: rgb(47.2789% 1.1169% 98.6201%);
    --palGnuplot-59: rgb(47.6918% 1.1767% 98.998%);
    --palGnuplot-60: rgb(48.1012% 1.2386% 99.3159%);
    --palGnuplot-61: rgb(48.5071% 1.3027% 99.5734%);
    --palGnuplot-62: rgb(48.9097% 1.3689% 99.7705%);
    --palGnuplot-63: rgb(49.3089% 1.4373% 99.907%);
    --palGnuplot-64: rgb(49.705% 1.508% 99.9829%);
    --palGnuplot-65: rgb(50.0979% 1.581% 99.9981%);
    --palGnuplot-66: rgb(50.4878% 1.6562% 99.9526%);
    --palGnuplot-67: rgb(50.8747% 1.7338% 99.8464%);
    --palGnuplot-68: rgb(51.2587% 1.8139% 99.6795%);
    --palGnuplot-69: rgb(51.6398% 1.8963% 99.4522%);
    --palGnuplot-70: rgb(52.0181% 1.9812% 99.1645%);
    --palGnuplot-71: rgb(52.3937% 2.0686% 98.8165%);
    --palGnuplot-72: rgb(52.7666% 2.1585% 98.4086%);
    --palGnuplot-73: rgb(53.1369% 2.251% 97.941%);
    --palGnuplot-74: rgb(53.5046% 2.3461% 97.4139%);
    --palGnuplot-75: rgb(53.8699% 2.4439% 96.8276%);
    --palGnuplot-76: rgb(54.2326% 2.5443% 96.1826%);
    --palGnuplot-77: rgb(54.593% 2.6474% 95.4791%);
    --palGnuplot-78: rgb(54.951% 2.7533% 94.7177%);
    --palGnuplot-79: rgb(55.3066% 2.862% 93.8988%);
    --palGnuplot-80: rgb(55.66% 2.9735% 93.0229%);
    --palGnuplot-81: rgb(56.0112% 3.0878% 92.0906%);
    --palGnuplot-82: rgb(56.3602% 3.205% 91.1023%);
    --palGnuplot-83: rgb(56.707% 3.3252% 90.0587%);
    --palGnuplot-84: rgb(57.0517% 3.4484% 88.9604%);
    --palGnuplot-85: rgb(57.3944% 3.5745% 87.8081%);
    --palGnuplot-86: rgb(57.735% 3.7037% 86.6025%);
    --palGnuplot-87: rgb(58.0737% 3.836% 85.3444%);
    --palGnuplot-88: rgb(58.4103% 3.9713% 84.0344%);
    --palGnuplot-89: rgb(58.745% 4.1099% 82.6734%);
    --palGnuplot-90: rgb(59.0779% 4.2516% 81.2622%);
    --palGnuplot-91: rgb(59.4089% 4.3965% 79.8017%);
    --palGnuplot-92: rgb(59.738% 4.5447% 78.2928%);
    --palGnuplot-93: rgb(60.0653% 4.6962% 76.7363%);
    --palGnuplot-94: rgb(60.3909% 4.851% 75.1332%);
    --palGnuplot-95: rgb(60.7147% 5.0091% 73.4845%);
    --palGnuplot-96: rgb(61.0368% 5.1707% 71.7912%);
    --palGnuplot-97: rgb(61.3572% 5.3357% 70.0543%);
    --palGnuplot-98: rgb(61.6759% 5.5042% 68.2749%);
    --palGnuplot-99: rgb(61.993% 5.6762% 66.454%);
    --palGnuplot-100: rgb(62.3085% 5.8517% 64.5928%);
    --palGnuplot-101: rgb(62.6224% 6.0309% 62.6924%);
    --palGnuplot-102: rgb(62.9348% 6.2136% 60.7539%);
    --palGnuplot-103: rgb(63.2456% 6.4% 58.7785%);
    --palGnuplot-104: rgb(63.5548% 6.5901% 56.7675%);
    --palGnuplot-105: rgb(63.8626% 6.7839% 54.722%);
    --palGnuplot-106: rgb(64.1689% 6.9815% 52.6432%);
    --palGnuplot-107: rgb(64.4737% 7.1829% 50.5325%);
    --palGnuplot-108: rgb(64.7771% 7.3881% 48.3911%);
    --palGnuplot-109: rgb(65.0791% 7.5972% 46.2204%);
    --palGnuplot-110: rgb(65.3797% 7.8101% 44.0216%);
    --palGnuplot-111: rgb(65.679% 8.0271% 41.796%);
    --palGnuplot-112: rgb(65.9768% 8.248% 39.5451%);
    --palGnuplot-113: rgb(66.2733% 8.4729% 37.2702%);
    --palGnuplot-114: rgb(66.5686% 8.7019% 34.9727%);
    --palGnuplot-115: rgb(66.8625% 8.935% 32.6539%);
    --palGnuplot-116: rgb(67.1551% 9.1722% 30.3153%);
    --palGnuplot-117: rgb(67.4464% 9.4135% 27.9583%);
    --palGnuplot-118: rgb(67.7365% 9.6591% 25.5843%);
    --palGnuplot-119: rgb(68.0254% 9.9089% 23.1948%);
    --palGnuplot-120: rgb(68.313% 10.163% 20.7912%);
    --palGnuplot-121: rgb(68.5994% 10.4213% 18.375%);
    --palGnuplot-122: rgb(68.8847% 10.684% 15.9476%);
    --palGnuplot-123: rgb(69.1687% 10.9511% 13.5105%);
    --palGnuplot-124: rgb(69.4516% 11.2226% 11.0653%);
    --palGnuplot-125: rgb(69.7334% 11.4986% 8.6133%);
    --palGnuplot-126: rgb(70.014% 11.779% 6.1561%);
    --palGnuplot-127: rgb(70.2935% 12.064% 3.6951%);
    --palGnuplot-128: rgb(70.5719% 12.3535% 1.232%);
    --palGnuplot-129: rgb(70.8492% 12.6476% 0%);
    --palGnuplot-130: rgb(71.1254% 12.9464% 0%);
    --palGnuplot-131: rgb(71.4006% 13.2498% 0%);
    --palGnuplot-132: rgb(71.6746% 13.5579% 0%);
    --palGnuplot-133: rgb(71.9477% 13.8708% 0%);
    --palGnuplot-134: rgb(72.2197% 14.1884% 0%);
    --palGnuplot-135: rgb(72.4907% 14.5109% 0%);
    --palGnuplot-136: rgb(72.7607% 14.8382% 0%);
    --palGnuplot-137: rgb(73.0297% 15.1704% 0%);
    --palGnuplot-138: rgb(73.2977% 15.5075% 0%);
    --palGnuplot-139: rgb(73.5647% 15.8495% 0%);
    --palGnuplot-140: rgb(73.8308% 16.1966% 0%);
    --palGnuplot-141: rgb(74.0959% 16.5487% 0%);
    --palGnuplot-142: rgb(74.36% 16.9058% 0%);
    --palGnuplot-143: rgb(74.6232% 17.2681% 0%);
    --palGnuplot-144: rgb(74.8855% 17.6355% 0%);
    --palGnuplot-145: rgb(75.1469% 18.0081% 0%);
    --palGnuplot-146: rgb(75.4074% 18.3858% 0%);
    --palGnuplot-147: rgb(75.667% 18.7689% 0%);
    --palGnuplot-148: rgb(75.9257% 19.1572% 0%);
    --palGnuplot-149: rgb(76.1835% 19.5508% 0%);
    --palGnuplot-150: rgb(76.4404% 19.9498% 0%);
    --palGnuplot-151: rgb(76.6965% 20.3542% 0%);
    --palGnuplot-152: rgb(76.9517% 20.764% 0%);
    --palGnuplot-153: rgb(77.2061% 21.1792% 0%);
    --palGnuplot-154: rgb(77.4597% 21.6% 0%);
    --palGnuplot-155: rgb(77.7124% 22.0263% 0%);
    --palGnuplot-156: rgb(77.9643% 22.4582% 0%);
    --palGnuplot-157: rgb(78.2154% 22.8957% 0%);
    --palGnuplot-158: rgb(78.4657% 23.3388% 0%);
    --palGnuplot-159: rgb(78.7152% 23.7876% 0%);
    --palGnuplot-160: rgb(78.9639% 24.2421% 0%);
    --palGnuplot-161: rgb(79.2118% 24.7024% 0%);
    --palGnuplot-162: rgb(79.459% 25.1685% 0%);
    --palGnuplot-163: rgb(79.7053% 25.6404% 0%);
    --palGnuplot-164: rgb(79.951% 26.1181% 0%);
    --palGnuplot-165: rgb(80.1958% 26.6018% 0%);
    --palGnuplot-166: rgb(80.44% 27.0914% 0%);
    --palGnuplot-167: rgb(80.6834% 27.587% 0%);
    --palGnuplot-168: rgb(80.926% 28.0885% 0%);
    --palGnuplot-169: rgb(81.1679% 28.5961% 0%);
    --palGnuplot-170: rgb(81.4092% 29.1098% 0%);
    --palGnuplot-171: rgb(81.6497% 29.6296% 0%);
    --palGnuplot-172: rgb(81.8895% 30.1556% 0%);
    --palGnuplot-173: rgb(82.1285% 30.6877% 0%);
    --palGnuplot-174: rgb(82.3669% 31.2261% 0%);
    --palGnuplot-175: rgb(82.6047% 31.7707% 0%);
    --palGnuplot-176: rgb(82.8417% 32.3217% 0%);
    --palGnuplot-177: rgb(83.078% 32.8789% 0%);
    --palGnuplot-178: rgb(83.3137% 33.4425% 0%);
    --palGnuplot-179: rgb(83.5487% 34.0126% 0%);
    --palGnuplot-180: rgb(83.7831% 34.589% 0%);
    --palGnuplot-181: rgb(84.0168% 35.172% 0%);
    --palGnuplot-182: rgb(84.2499% 35.7615% 0%);
    --palGnuplot-183: rgb(84.4823% 36.3575% 0%);
    --palGnuplot-184: rgb(84.7141% 36.9601% 0%);
    --palGnuplot-185: rgb(84.9452% 37.5693% 0%);
    --palGnuplot-186: rgb(85.1757% 38.1852% 0%);
    --palGnuplot-187: rgb(85.4056% 38.8077% 0%);
    --palGnuplot-188: rgb(85.6349% 39.437% 0%);
    --palGnuplot-189: rgb(85.8635% 40.0731% 0%);
    --palGnuplot-190: rgb(86.0916% 40.716% 0%);
    --palGnuplot-191: rgb(86.3191% 41.3657% 0%);
    --palGnuplot-192: rgb(86.5459% 42.0223% 0%);
    --palGnuplot-193: rgb(86.7722% 42.6858% 0%);
    --palGnuplot-194: rgb(86.9979% 43.3562% 0%);
    --palGnuplot-195: rgb(87.223% 44.0336% 0%);
    --palGnuplot-196: rgb(87.4475% 44.7181% 0%);
    --palGnuplot-197: rgb(87.6714% 45.4096% 0%);
    --palGnuplot-198: rgb(87.8948% 46.1082% 0%);
    --palGnuplot-199: rgb(88.1176% 46.8139% 0%);
    --palGnuplot-200: rgb(88.3398% 47.5268% 0%);
    --palGnuplot-201: rgb(88.5615% 48.2469% 0%);
    --palGnuplot-202: rgb(88.7826% 48.9742% 0%);
    --palGnuplot-203: rgb(89.0032% 49.7088% 0%);
    --palGnuplot-204: rgb(89.2232% 50.4507% 0%);
    --palGnuplot-205: rgb(89.4427% 51.2% 0%);
    --palGnuplot-206: rgb(89.6617% 51.9566% 0%);
    --palGnuplot-207: rgb(89.8801% 52.7207% 0%);
    --palGnuplot-208: rgb(90.098% 53.4922% 0%);
    --palGnuplot-209: rgb(90.3154% 54.2712% 0%);
    --palGnuplot-210: rgb(90.5322% 55.0577% 0%);
    --palGnuplot-211: rgb(90.7485% 55.8518% 0%);
    --palGnuplot-212: rgb(90.9643% 56.6535% 0%);
    --palGnuplot-213: rgb(91.1796% 57.4628% 0%);
    --palGnuplot-214: rgb(91.3944% 58.2798% 0%);
    --palGnuplot-215: rgb(91.6087% 59.1045% 0%);
    --palGnuplot-216: rgb(91.8225% 59.937% 0%);
    --palGnuplot-217: rgb(92.0358% 60.7772% 0%);
    --palGnuplot-218: rgb(92.2486% 61.6252% 0%);
    --palGnuplot-219: rgb(92.4609% 62.4811% 0%);
    --palGnuplot-220: rgb(92.6727% 63.3449% 0%);
    --palGnuplot-221: rgb(92.8841% 64.2166% 0%);
    --palGnuplot-222: rgb(93.0949% 65.0963% 0%);
    --palGnuplot-223: rgb(93.3053% 65.984% 0%);
    --palGnuplot-224: rgb(93.5152% 66.8797% 0%);
    --palGnuplot-225: rgb(93.7247% 67.7834% 0%);
    --palGnuplot-226: rgb(93.9336% 68.6953% 0%);
    --palGnuplot-227: rgb(94.1422% 69.6153% 0%);
    --palGnuplot-228: rgb(94.3502% 70.5435% 0%);
    --palGnuplot-229: rgb(94.5578% 71.4799% 0%);
    --palGnuplot-230: rgb(94.7649% 72.4246% 0%);
    --palGnuplot-231: rgb(94.9716% 73.3775% 0%);
    --palGnuplot-232: rgb(95.1779% 74.3388% 0%);
    --palGnuplot-233: rgb(95.3836% 75.3084% 0%);
    --palGnuplot-234: rgb(95.589% 76.2864% 0%);
    --palGnuplot-235: rgb(95.7939% 77.2729% 0%);
    --palGnuplot-236: rgb(95.9984% 78.2678% 0%);
    --palGnuplot-237: rgb(96.2024% 79.2712% 0%);
    --palGnuplot-238: rgb(96.406% 80.2832% 0%);
    --palGnuplot-239: rgb(96.6092% 81.3037% 0%);
    --palGnuplot-240: rgb(96.8119% 82.3329% 0%);
    --palGnuplot-241: rgb(97.0143% 83.3706% 0%);
    --palGnuplot-242: rgb(97.2162% 84.4171% 0%);
    --palGnuplot-243: rgb(97.4176% 85.4723% 0%);
    --palGnuplot-244: rgb(97.6187% 86.5363% 0%);
    --palGnuplot-245: rgb(97.8194% 87.609% 0%);
    --palGnuplot-246: rgb(98.0196% 88.6906% 0%);
    --palGnuplot-247: rgb(98.2194% 89.7811% 0%);
    --palGnuplot-248: rgb(98.4189% 90.8804% 0%);
    --palGnuplot-249: rgb(98.6179% 91.9887% 0%);
    --palGnuplot-250: rgb(98.8165% 93.106% 0%);
    --palGnuplot-251: rgb(99.0148% 94.2322% 0%);
    --palGnuplot-252: rgb(99.2126% 95.3675% 0%);
    --palGnuplot-253: rgb(99.41% 96.5119% 0%);
    --palGnuplot-254: rgb(99.6071% 97.6655% 0%);
    --palGnuplot-255: rgb(99.8037% 98.8281% 0%);
    --palGnuplot-256: rgb(100% 100% 0%);
}
