/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGrandBudapest3-1: rgb(100% 86.27451% 71.372549%);
    --palGrandBudapest3-2: rgb(14.509804% 21.960784% 27.058824%);
    --palGrandBudapest3-3: rgb(90.588235% 67.843137% 61.568627%);
    --palGrandBudapest3-4: rgb(40% 45.882353% 43.137255%);
    --palGrandBudapest3-5: rgb(54.509804% 24.705882% 19.215686%);
    --palGrandBudapest3-6: rgb(58.823529% 42.745098% 20.784314%);
}
