/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGreens-1: rgb(96.862745% 98.823529% 96.078431%);
    --palGreens-2: rgb(89.803922% 96.078431% 87.843137%);
    --palGreens-3: rgb(78.039216% 91.372549% 75.294118%);
    --palGreens-4: rgb(63.137255% 85.098039% 60.784314%);
    --palGreens-5: rgb(45.490196% 76.862745% 46.27451%);
    --palGreens-6: rgb(25.490196% 67.058824% 36.470588%);
    --palGreens-7: rgb(13.72549% 54.509804% 27.058824%);
    --palGreens-8: rgb(0% 42.745098% 17.254902%);
    --palGreens-9: rgb(0% 26.666667% 10.588235%);
}
