/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGreysCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palGreysCP-2: rgb(10.5882% 11.7647% 13.7255%);
    --palGreysCP-3: rgb(10.9804% 12.1569% 14.1176%);
    --palGreysCP-4: rgb(10.9804% 12.1569% 14.1176%);
    --palGreysCP-5: rgb(11.3725% 12.549% 14.5098%);
    --palGreysCP-6: rgb(11.3725% 12.549% 14.5098%);
    --palGreysCP-7: rgb(11.7647% 12.9412% 14.5098%);
    --palGreysCP-8: rgb(11.7647% 12.9412% 14.902%);
    --palGreysCP-9: rgb(11.7647% 12.9412% 14.902%);
    --palGreysCP-10: rgb(12.1569% 13.3333% 15.2941%);
    --palGreysCP-11: rgb(12.1569% 13.3333% 15.2941%);
    --palGreysCP-12: rgb(12.549% 13.7255% 15.6863%);
    --palGreysCP-13: rgb(12.549% 13.7255% 15.6863%);
    --palGreysCP-14: rgb(12.9412% 14.1176% 15.6863%);
    --palGreysCP-15: rgb(12.9412% 14.1176% 16.0784%);
    --palGreysCP-16: rgb(13.3333% 14.1176% 16.0784%);
    --palGreysCP-17: rgb(13.3333% 14.5098% 16.4706%);
    --palGreysCP-18: rgb(13.3333% 14.5098% 16.4706%);
    --palGreysCP-19: rgb(13.7255% 14.902% 16.8627%);
    --palGreysCP-20: rgb(13.7255% 14.902% 16.8627%);
    --palGreysCP-21: rgb(14.1176% 15.2941% 16.8627%);
    --palGreysCP-22: rgb(14.1176% 15.2941% 17.2549%);
    --palGreysCP-23: rgb(14.5098% 15.2941% 17.2549%);
    --palGreysCP-24: rgb(14.5098% 15.6863% 17.6471%);
    --palGreysCP-25: rgb(14.902% 15.6863% 17.6471%);
    --palGreysCP-26: rgb(14.902% 16.0784% 18.0392%);
    --palGreysCP-27: rgb(15.2941% 16.0784% 18.0392%);
    --palGreysCP-28: rgb(15.2941% 16.4706% 18.0392%);
    --palGreysCP-29: rgb(15.2941% 16.4706% 18.4314%);
    --palGreysCP-30: rgb(15.6863% 16.8627% 18.4314%);
    --palGreysCP-31: rgb(15.6863% 16.8627% 18.8235%);
    --palGreysCP-32: rgb(16.0784% 16.8627% 18.8235%);
    --palGreysCP-33: rgb(16.0784% 17.2549% 19.2157%);
    --palGreysCP-34: rgb(16.4706% 17.2549% 19.2157%);
    --palGreysCP-35: rgb(16.4706% 17.6471% 19.2157%);
    --palGreysCP-36: rgb(16.8627% 17.6471% 19.6078%);
    --palGreysCP-37: rgb(16.8627% 18.0392% 19.6078%);
    --palGreysCP-38: rgb(17.2549% 18.0392% 20%);
    --palGreysCP-39: rgb(17.2549% 18.4314% 20%);
    --palGreysCP-40: rgb(17.2549% 18.4314% 20.3922%);
    --palGreysCP-41: rgb(17.6471% 18.4314% 20.3922%);
    --palGreysCP-42: rgb(17.6471% 18.8235% 20.3922%);
    --palGreysCP-43: rgb(18.0392% 18.8235% 20.7843%);
    --palGreysCP-44: rgb(18.0392% 19.2157% 20.7843%);
    --palGreysCP-45: rgb(18.4314% 19.2157% 21.1765%);
    --palGreysCP-46: rgb(18.4314% 19.6078% 21.1765%);
    --palGreysCP-47: rgb(18.8235% 19.6078% 21.5686%);
    --palGreysCP-48: rgb(18.8235% 20% 21.5686%);
    --palGreysCP-49: rgb(19.2157% 20% 21.9608%);
    --palGreysCP-50: rgb(19.2157% 20.3922% 21.9608%);
    --palGreysCP-51: rgb(19.6078% 20.3922% 21.9608%);
    --palGreysCP-52: rgb(19.6078% 20.3922% 22.3529%);
    --palGreysCP-53: rgb(19.6078% 20.7843% 22.3529%);
    --palGreysCP-54: rgb(20% 20.7843% 22.7451%);
    --palGreysCP-55: rgb(20% 21.1765% 22.7451%);
    --palGreysCP-56: rgb(20.3922% 21.1765% 23.1373%);
    --palGreysCP-57: rgb(20.3922% 21.5686% 23.1373%);
    --palGreysCP-58: rgb(20.7843% 21.5686% 23.5294%);
    --palGreysCP-59: rgb(20.7843% 21.9608% 23.5294%);
    --palGreysCP-60: rgb(21.1765% 21.9608% 23.5294%);
    --palGreysCP-61: rgb(21.1765% 22.3529% 23.9216%);
    --palGreysCP-62: rgb(21.5686% 22.3529% 23.9216%);
    --palGreysCP-63: rgb(21.5686% 22.7451% 24.3137%);
    --palGreysCP-64: rgb(21.9608% 22.7451% 24.3137%);
    --palGreysCP-65: rgb(21.9608% 22.7451% 24.7059%);
    --palGreysCP-66: rgb(22.3529% 23.1373% 24.7059%);
    --palGreysCP-67: rgb(22.3529% 23.1373% 25.098%);
    --palGreysCP-68: rgb(22.7451% 23.5294% 25.098%);
    --palGreysCP-69: rgb(22.7451% 23.5294% 25.098%);
    --palGreysCP-70: rgb(23.1373% 23.9216% 25.4902%);
    --palGreysCP-71: rgb(23.1373% 23.9216% 25.4902%);
    --palGreysCP-72: rgb(23.5294% 24.3137% 25.8824%);
    --palGreysCP-73: rgb(23.5294% 24.3137% 25.8824%);
    --palGreysCP-74: rgb(23.5294% 24.7059% 26.2745%);
    --palGreysCP-75: rgb(23.9216% 24.7059% 26.2745%);
    --palGreysCP-76: rgb(23.9216% 25.098% 26.6667%);
    --palGreysCP-77: rgb(24.3137% 25.098% 26.6667%);
    --palGreysCP-78: rgb(24.3137% 25.4902% 27.0588%);
    --palGreysCP-79: rgb(24.7059% 25.4902% 27.0588%);
    --palGreysCP-80: rgb(24.7059% 25.8824% 27.0588%);
    --palGreysCP-81: rgb(25.098% 25.8824% 27.451%);
    --palGreysCP-82: rgb(25.098% 26.2745% 27.451%);
    --palGreysCP-83: rgb(25.4902% 26.2745% 27.8431%);
    --palGreysCP-84: rgb(25.4902% 26.2745% 27.8431%);
    --palGreysCP-85: rgb(25.8824% 26.6667% 28.2353%);
    --palGreysCP-86: rgb(25.8824% 26.6667% 28.2353%);
    --palGreysCP-87: rgb(26.2745% 27.0588% 28.6275%);
    --palGreysCP-88: rgb(26.2745% 27.0588% 28.6275%);
    --palGreysCP-89: rgb(26.6667% 27.451% 29.0196%);
    --palGreysCP-90: rgb(26.6667% 27.451% 29.0196%);
    --palGreysCP-91: rgb(27.0588% 27.8431% 29.4118%);
    --palGreysCP-92: rgb(27.0588% 27.8431% 29.4118%);
    --palGreysCP-93: rgb(27.451% 28.2353% 29.4118%);
    --palGreysCP-94: rgb(27.451% 28.2353% 29.8039%);
    --palGreysCP-95: rgb(27.8431% 28.6275% 29.8039%);
    --palGreysCP-96: rgb(27.8431% 28.6275% 30.1961%);
    --palGreysCP-97: rgb(28.2353% 29.0196% 30.1961%);
    --palGreysCP-98: rgb(28.2353% 29.0196% 30.5882%);
    --palGreysCP-99: rgb(28.6275% 29.4118% 30.5882%);
    --palGreysCP-100: rgb(28.6275% 29.4118% 30.9804%);
    --palGreysCP-101: rgb(29.0196% 29.8039% 30.9804%);
    --palGreysCP-102: rgb(29.0196% 29.8039% 31.3725%);
    --palGreysCP-103: rgb(29.4118% 30.1961% 31.3725%);
    --palGreysCP-104: rgb(29.4118% 30.1961% 31.7647%);
    --palGreysCP-105: rgb(29.8039% 30.5882% 31.7647%);
    --palGreysCP-106: rgb(29.8039% 30.5882% 32.1569%);
    --palGreysCP-107: rgb(30.1961% 30.9804% 32.1569%);
    --palGreysCP-108: rgb(30.1961% 30.9804% 32.1569%);
    --palGreysCP-109: rgb(30.5882% 31.3725% 32.549%);
    --palGreysCP-110: rgb(30.5882% 31.3725% 32.549%);
    --palGreysCP-111: rgb(30.9804% 31.7647% 32.9412%);
    --palGreysCP-112: rgb(30.9804% 31.7647% 32.9412%);
    --palGreysCP-113: rgb(31.3725% 32.1569% 33.3333%);
    --palGreysCP-114: rgb(31.3725% 32.1569% 33.3333%);
    --palGreysCP-115: rgb(31.7647% 32.549% 33.7255%);
    --palGreysCP-116: rgb(31.7647% 32.549% 33.7255%);
    --palGreysCP-117: rgb(32.1569% 32.9412% 34.1176%);
    --palGreysCP-118: rgb(32.1569% 32.9412% 34.1176%);
    --palGreysCP-119: rgb(32.549% 33.3333% 34.5098%);
    --palGreysCP-120: rgb(32.549% 33.3333% 34.5098%);
    --palGreysCP-121: rgb(32.9412% 33.7255% 34.902%);
    --palGreysCP-122: rgb(32.9412% 33.7255% 34.902%);
    --palGreysCP-123: rgb(33.3333% 33.7255% 35.2941%);
    --palGreysCP-124: rgb(33.3333% 34.1176% 35.2941%);
    --palGreysCP-125: rgb(33.7255% 34.1176% 35.6863%);
    --palGreysCP-126: rgb(33.7255% 34.5098% 35.6863%);
    --palGreysCP-127: rgb(34.1176% 34.5098% 35.6863%);
    --palGreysCP-128: rgb(34.1176% 34.902% 36.0784%);
    --palGreysCP-129: rgb(34.5098% 34.902% 36.0784%);
    --palGreysCP-130: rgb(34.5098% 35.2941% 36.4706%);
    --palGreysCP-131: rgb(34.902% 35.2941% 36.4706%);
    --palGreysCP-132: rgb(34.902% 35.6863% 36.8627%);
    --palGreysCP-133: rgb(35.2941% 36.0784% 36.8627%);
    --palGreysCP-134: rgb(35.2941% 36.0784% 37.2549%);
    --palGreysCP-135: rgb(35.6863% 36.4706% 37.2549%);
    --palGreysCP-136: rgb(35.6863% 36.4706% 37.6471%);
    --palGreysCP-137: rgb(36.0784% 36.8627% 37.6471%);
    --palGreysCP-138: rgb(36.4706% 36.8627% 38.0392%);
    --palGreysCP-139: rgb(36.4706% 37.2549% 38.0392%);
    --palGreysCP-140: rgb(36.8627% 37.2549% 38.4314%);
    --palGreysCP-141: rgb(36.8627% 37.6471% 38.4314%);
    --palGreysCP-142: rgb(37.2549% 37.6471% 38.8235%);
    --palGreysCP-143: rgb(37.2549% 38.0392% 38.8235%);
    --palGreysCP-144: rgb(37.6471% 38.0392% 39.2157%);
    --palGreysCP-145: rgb(37.6471% 38.4314% 39.2157%);
    --palGreysCP-146: rgb(38.0392% 38.4314% 39.6078%);
    --palGreysCP-147: rgb(38.0392% 38.8235% 39.6078%);
    --palGreysCP-148: rgb(38.4314% 38.8235% 40%);
    --palGreysCP-149: rgb(38.4314% 39.2157% 40%);
    --palGreysCP-150: rgb(38.8235% 39.2157% 40.3922%);
    --palGreysCP-151: rgb(38.8235% 39.6078% 40.3922%);
    --palGreysCP-152: rgb(39.2157% 39.6078% 40.7843%);
    --palGreysCP-153: rgb(39.2157% 40% 40.7843%);
    --palGreysCP-154: rgb(39.6078% 40% 41.1765%);
    --palGreysCP-155: rgb(39.6078% 40.3922% 41.1765%);
    --palGreysCP-156: rgb(40% 40.3922% 41.5686%);
    --palGreysCP-157: rgb(40% 40.7843% 41.5686%);
    --palGreysCP-158: rgb(40.3922% 40.7843% 41.9608%);
    --palGreysCP-159: rgb(40.3922% 41.1765% 41.9608%);
    --palGreysCP-160: rgb(40.7843% 41.1765% 42.3529%);
    --palGreysCP-161: rgb(41.1765% 41.5686% 42.3529%);
    --palGreysCP-162: rgb(41.1765% 41.5686% 42.7451%);
    --palGreysCP-163: rgb(41.5686% 41.9608% 42.7451%);
    --palGreysCP-164: rgb(41.5686% 41.9608% 43.1373%);
    --palGreysCP-165: rgb(41.9608% 42.3529% 43.1373%);
    --palGreysCP-166: rgb(41.9608% 42.3529% 43.5294%);
    --palGreysCP-167: rgb(42.3529% 42.7451% 43.5294%);
    --palGreysCP-168: rgb(42.3529% 42.7451% 43.5294%);
    --palGreysCP-169: rgb(42.7451% 43.1373% 43.9216%);
    --palGreysCP-170: rgb(42.7451% 43.1373% 43.9216%);
    --palGreysCP-171: rgb(43.1373% 43.5294% 44.3137%);
    --palGreysCP-172: rgb(43.1373% 43.5294% 44.3137%);
    --palGreysCP-173: rgb(43.5294% 43.9216% 44.7059%);
    --palGreysCP-174: rgb(43.5294% 44.3137% 44.7059%);
    --palGreysCP-175: rgb(43.9216% 44.3137% 45.098%);
    --palGreysCP-176: rgb(44.3137% 44.7059% 45.098%);
    --palGreysCP-177: rgb(44.3137% 44.7059% 45.4902%);
    --palGreysCP-178: rgb(44.7059% 45.098% 45.4902%);
    --palGreysCP-179: rgb(44.7059% 45.098% 45.8824%);
    --palGreysCP-180: rgb(45.098% 45.4902% 45.8824%);
    --palGreysCP-181: rgb(45.098% 45.4902% 46.2745%);
    --palGreysCP-182: rgb(45.4902% 45.8824% 46.2745%);
    --palGreysCP-183: rgb(45.4902% 45.8824% 46.6667%);
    --palGreysCP-184: rgb(45.8824% 46.2745% 46.6667%);
    --palGreysCP-185: rgb(45.8824% 46.2745% 47.0588%);
    --palGreysCP-186: rgb(46.2745% 46.6667% 47.0588%);
    --palGreysCP-187: rgb(46.2745% 46.6667% 47.451%);
    --palGreysCP-188: rgb(46.6667% 47.0588% 47.8431%);
    --palGreysCP-189: rgb(47.0588% 47.0588% 47.8431%);
    --palGreysCP-190: rgb(47.0588% 47.451% 48.2353%);
    --palGreysCP-191: rgb(47.451% 47.451% 48.2353%);
    --palGreysCP-192: rgb(47.451% 47.8431% 48.6275%);
    --palGreysCP-193: rgb(47.8431% 47.8431% 48.6275%);
    --palGreysCP-194: rgb(47.8431% 48.2353% 49.0196%);
    --palGreysCP-195: rgb(48.2353% 48.6275% 49.0196%);
    --palGreysCP-196: rgb(48.2353% 48.6275% 49.4118%);
    --palGreysCP-197: rgb(48.6275% 49.0196% 49.4118%);
    --palGreysCP-198: rgb(48.6275% 49.0196% 49.8039%);
    --palGreysCP-199: rgb(49.0196% 49.4118% 49.8039%);
    --palGreysCP-200: rgb(49.0196% 49.4118% 50.1961%);
    --palGreysCP-201: rgb(49.4118% 49.8039% 50.1961%);
    --palGreysCP-202: rgb(49.8039% 49.8039% 50.5882%);
    --palGreysCP-203: rgb(49.8039% 50.1961% 50.5882%);
    --palGreysCP-204: rgb(50.1961% 50.1961% 50.9804%);
    --palGreysCP-205: rgb(50.1961% 50.5882% 50.9804%);
    --palGreysCP-206: rgb(50.5882% 50.5882% 51.3725%);
    --palGreysCP-207: rgb(50.5882% 50.9804% 51.3725%);
    --palGreysCP-208: rgb(50.9804% 50.9804% 51.7647%);
    --palGreysCP-209: rgb(50.9804% 51.3725% 51.7647%);
    --palGreysCP-210: rgb(51.3725% 51.7647% 52.1569%);
    --palGreysCP-211: rgb(51.3725% 51.7647% 52.1569%);
    --palGreysCP-212: rgb(51.7647% 52.1569% 52.549%);
    --palGreysCP-213: rgb(52.1569% 52.1569% 52.549%);
    --palGreysCP-214: rgb(52.1569% 52.549% 52.9412%);
    --palGreysCP-215: rgb(52.549% 52.549% 52.9412%);
    --palGreysCP-216: rgb(52.549% 52.9412% 53.3333%);
    --palGreysCP-217: rgb(52.9412% 52.9412% 53.3333%);
    --palGreysCP-218: rgb(52.9412% 53.3333% 53.7255%);
    --palGreysCP-219: rgb(53.3333% 53.3333% 53.7255%);
    --palGreysCP-220: rgb(53.3333% 53.7255% 54.1176%);
    --palGreysCP-221: rgb(53.7255% 53.7255% 54.1176%);
    --palGreysCP-222: rgb(54.1176% 54.1176% 54.5098%);
    --palGreysCP-223: rgb(54.1176% 54.5098% 54.5098%);
    --palGreysCP-224: rgb(54.5098% 54.5098% 54.902%);
    --palGreysCP-225: rgb(54.5098% 54.902% 54.902%);
    --palGreysCP-226: rgb(54.902% 54.902% 55.2941%);
    --palGreysCP-227: rgb(54.902% 55.2941% 55.2941%);
    --palGreysCP-228: rgb(55.2941% 55.2941% 55.6863%);
    --palGreysCP-229: rgb(55.2941% 55.6863% 55.6863%);
    --palGreysCP-230: rgb(55.6863% 55.6863% 56.0784%);
    --palGreysCP-231: rgb(56.0784% 56.0784% 56.4706%);
    --palGreysCP-232: rgb(56.0784% 56.0784% 56.4706%);
    --palGreysCP-233: rgb(56.4706% 56.4706% 56.8627%);
    --palGreysCP-234: rgb(56.4706% 56.8627% 56.8627%);
    --palGreysCP-235: rgb(56.8627% 56.8627% 57.2549%);
    --palGreysCP-236: rgb(56.8627% 57.2549% 57.2549%);
    --palGreysCP-237: rgb(57.2549% 57.2549% 57.6471%);
    --palGreysCP-238: rgb(57.2549% 57.6471% 57.6471%);
    --palGreysCP-239: rgb(57.6471% 57.6471% 58.0392%);
    --palGreysCP-240: rgb(58.0392% 58.0392% 58.0392%);
    --palGreysCP-241: rgb(58.0392% 58.0392% 58.4314%);
    --palGreysCP-242: rgb(58.4314% 58.4314% 58.4314%);
    --palGreysCP-243: rgb(58.4314% 58.4314% 58.8235%);
    --palGreysCP-244: rgb(58.8235% 58.8235% 58.8235%);
    --palGreysCP-245: rgb(58.8235% 59.2157% 59.2157%);
    --palGreysCP-246: rgb(59.2157% 59.2157% 59.2157%);
    --palGreysCP-247: rgb(59.6078% 59.6078% 59.6078%);
    --palGreysCP-248: rgb(59.6078% 59.6078% 59.6078%);
    --palGreysCP-249: rgb(60% 60% 60%);
    --palGreysCP-250: rgb(60% 60% 60%);
    --palGreysCP-251: rgb(60.3922% 60.3922% 60.3922%);
    --palGreysCP-252: rgb(60.3922% 60.3922% 60.3922%);
    --palGreysCP-253: rgb(60.7843% 60.7843% 60.7843%);
    --palGreysCP-254: rgb(61.1765% 61.1765% 61.1765%);
    --palGreysCP-255: rgb(61.1765% 61.1765% 61.1765%);
}
