/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palIceBurn-1: rgb(57.869284% 94.700453% 95.383509%);
    --palIceBurn-2: rgb(57.330096% 94.244813% 95.218584%);
    --palIceBurn-3: rgb(56.790414% 93.790619% 95.055025%);
    --palIceBurn-4: rgb(56.250183% 93.337844% 94.89295%);
    --palIceBurn-5: rgb(55.7094% 92.88647% 94.732325%);
    --palIceBurn-6: rgb(55.168026% 92.436472% 94.573223%);
    --palIceBurn-7: rgb(54.626041% 91.987829% 94.415663%);
    --palIceBurn-8: rgb(54.083428% 91.540519% 94.259649%);
    --palIceBurn-9: rgb(53.540142% 91.094515% 94.105277%);
    --palIceBurn-10: rgb(52.996183% 90.649797% 93.952504%);
    --palIceBurn-11: rgb(52.451517% 90.206341% 93.801392%);
    --palIceBurn-12: rgb(51.906115% 89.764122% 93.65198%);
    --palIceBurn-13: rgb(51.359971% 89.323118% 93.504255%);
    --palIceBurn-14: rgb(50.813051% 88.883304% 93.358271%);
    --palIceBurn-15: rgb(50.265329% 88.444654% 93.214066%);
    --palIceBurn-16: rgb(49.716797% 88.007146% 93.071625%);
    --palIceBurn-17: rgb(49.167433% 87.570754% 92.930975%);
    --palIceBurn-18: rgb(48.617195% 87.135452% 92.79219%);
    --palIceBurn-19: rgb(48.06608% 86.701216% 92.655247%);
    --palIceBurn-20: rgb(47.514069% 86.26802% 92.520162%);
    --palIceBurn-21: rgb(46.961139% 85.835838% 92.386959%);
    --palIceBurn-22: rgb(46.407266% 85.404645% 92.255672%);
    --palIceBurn-23: rgb(45.852424% 84.974413% 92.126329%);
    --palIceBurn-24: rgb(45.296603% 84.545117% 91.998924%);
    --palIceBurn-25: rgb(44.739784% 84.116729% 91.873474%);
    --palIceBurn-26: rgb(44.181946% 83.689223% 91.749997%);
    --palIceBurn-27: rgb(43.62307% 83.262572% 91.628509%);
    --palIceBurn-28: rgb(43.063137% 82.836747% 91.509023%);
    --palIceBurn-29: rgb(42.502129% 82.411721% 91.391555%);
    --palIceBurn-30: rgb(41.940026% 81.987466% 91.276117%);
    --palIceBurn-31: rgb(41.376812% 81.563953% 91.162721%);
    --palIceBurn-32: rgb(40.812469% 81.141153% 91.051377%);
    --palIceBurn-33: rgb(40.24698% 80.719037% 90.942095%);
    --palIceBurn-34: rgb(39.68033% 80.297576% 90.834883%);
    --palIceBurn-35: rgb(39.112505% 79.876739% 90.729746%);
    --palIceBurn-36: rgb(38.543488% 79.456497% 90.626692%);
    --palIceBurn-37: rgb(37.973269% 79.036819% 90.525724%);
    --palIceBurn-38: rgb(37.401834% 78.617674% 90.426845%);
    --palIceBurn-39: rgb(36.829174% 78.199032% 90.330056%);
    --palIceBurn-40: rgb(36.255279% 77.780859% 90.235356%);
    --palIceBurn-41: rgb(35.680142% 77.363124% 90.142744%);
    --palIceBurn-42: rgb(35.103745% 76.945793% 90.052248%);
    --palIceBurn-43: rgb(34.526089% 76.528834% 89.963852%);
    --palIceBurn-44: rgb(33.947179% 76.112213% 89.877532%);
    --palIceBurn-45: rgb(33.367017% 75.695898% 89.793279%);
    --palIceBurn-46: rgb(32.785588% 75.279849% 89.711137%);
    --palIceBurn-47: rgb(32.202912% 74.864036% 89.63106%);
    --palIceBurn-48: rgb(31.619008% 74.448422% 89.553017%);
    --palIceBurn-49: rgb(31.033866% 74.032967% 89.477063%);
    --palIceBurn-50: rgb(30.447528% 73.617639% 89.403125%);
    --palIceBurn-51: rgb(29.860011% 73.202399% 89.331209%);
    --palIceBurn-52: rgb(29.271343% 72.787206% 89.261309%);
    --palIceBurn-53: rgb(28.681572% 72.372025% 89.193378%);
    --palIceBurn-54: rgb(28.090735% 71.956814% 89.127427%);
    --palIceBurn-55: rgb(27.498896% 71.541533% 89.063408%);
    --palIceBurn-56: rgb(26.906124% 71.126143% 89.001292%);
    --palIceBurn-57: rgb(26.312486% 70.710597% 88.941086%);
    --palIceBurn-58: rgb(25.718092% 70.294859% 88.882703%);
    --palIceBurn-59: rgb(25.123043% 69.878883% 88.82614%);
    --palIceBurn-60: rgb(24.527462% 69.462621% 88.771373%);
    --palIceBurn-61: rgb(23.931508% 69.046034% 88.718322%);
    --palIceBurn-62: rgb(23.335351% 68.629075% 88.666946%);
    --palIceBurn-63: rgb(22.739188% 68.211696% 88.617198%);
    --palIceBurn-64: rgb(22.143248% 67.793848% 88.569042%);
    --palIceBurn-65: rgb(21.5478% 67.375483% 88.522406%);
    --palIceBurn-66: rgb(20.953152% 66.956553% 88.477214%);
    --palIceBurn-67: rgb(20.359659% 66.537008% 88.433394%);
    --palIceBurn-68: rgb(19.76773% 66.116797% 88.390868%);
    --palIceBurn-69: rgb(19.177835% 65.695868% 88.349548%);
    --palIceBurn-70: rgb(18.590517% 65.274164% 88.309369%);
    --palIceBurn-71: rgb(18.006401% 64.851634% 88.270206%);
    --palIceBurn-72: rgb(17.426203% 64.428224% 88.231942%);
    --palIceBurn-73: rgb(16.850747% 64.003882% 88.19445%);
    --palIceBurn-74: rgb(16.280986% 63.578543% 88.157637%);
    --palIceBurn-75: rgb(15.718007% 63.152155% 88.121346%);
    --palIceBurn-76: rgb(15.163047% 62.724665% 88.085394%);
    --palIceBurn-77: rgb(14.617558% 62.296002% 88.049685%);
    --palIceBurn-78: rgb(14.083138% 61.866121% 88.013964%);
    --palIceBurn-79: rgb(13.561664% 61.434953% 87.97809%);
    --palIceBurn-80: rgb(13.055227% 61.002443% 87.941833%);
    --palIceBurn-81: rgb(12.566179% 60.568534% 87.904945%);
    --palIceBurn-82: rgb(12.097171% 60.133167% 87.867186%);
    --palIceBurn-83: rgb(11.651156% 59.696278% 87.828307%);
    --palIceBurn-84: rgb(11.23134% 59.257814% 87.787994%);
    --palIceBurn-85: rgb(10.841196% 58.817719% 87.74592%);
    --palIceBurn-86: rgb(10.48443% 58.37594% 87.70174%);
    --palIceBurn-87: rgb(10.164914% 57.93242% 87.655087%);
    --palIceBurn-88: rgb(9.88651% 57.487117% 87.605525%);
    --palIceBurn-89: rgb(9.652994% 57.03999% 87.552588%);
    --palIceBurn-90: rgb(9.468006% 56.590987% 87.495827%);
    --palIceBurn-91: rgb(9.334588% 56.140087% 87.434666%);
    --palIceBurn-92: rgb(9.255347% 55.687251% 87.368561%);
    --palIceBurn-93: rgb(9.231938% 55.232472% 87.296842%);
    --palIceBurn-94: rgb(9.265244% 54.775739% 87.218838%);
    --palIceBurn-95: rgb(9.355187% 54.317052% 87.133816%);
    --palIceBurn-96: rgb(9.50067% 53.85643% 87.040963%);
    --palIceBurn-97: rgb(9.699741% 53.393908% 86.939415%);
    --palIceBurn-98: rgb(9.949602% 52.929541% 86.828228%);
    --palIceBurn-99: rgb(10.24681% 52.463411% 86.706387%);
    --palIceBurn-100: rgb(10.587541% 51.995613% 86.572833%);
    --palIceBurn-101: rgb(10.967576% 51.526281% 86.426419%);
    --palIceBurn-102: rgb(11.38258% 51.055574% 86.26595%);
    --palIceBurn-103: rgb(11.82805% 50.583694% 86.090155%);
    --palIceBurn-104: rgb(12.299581% 50.110877% 85.897736%);
    --palIceBurn-105: rgb(12.792818% 49.637399% 85.687361%);
    --palIceBurn-106: rgb(13.303495% 49.163581% 85.457687%);
    --palIceBurn-107: rgb(13.827461% 48.689788% 85.207389%);
    --palIceBurn-108: rgb(14.360717% 48.216423% 84.93519%);
    --palIceBurn-109: rgb(14.899424% 47.743927% 84.639902%);
    --palIceBurn-110: rgb(15.439799% 47.272781% 84.320453%);
    --palIceBurn-111: rgb(15.978344% 46.803477% 83.975943%);
    --palIceBurn-112: rgb(16.511635% 46.336535% 83.605671%);
    --palIceBurn-113: rgb(17.036521% 45.872465% 83.209177%);
    --palIceBurn-114: rgb(17.550082% 45.411767% 82.786267%);
    --palIceBurn-115: rgb(18.049667% 44.954915% 82.337025%);
    --palIceBurn-116: rgb(18.532943% 44.502339% 81.861819%);
    --palIceBurn-117: rgb(18.997899% 44.054421% 81.361291%);
    --palIceBurn-118: rgb(19.442908% 43.611475% 80.836325%);
    --palIceBurn-119: rgb(19.866639% 43.173758% 80.28803%);
    --palIceBurn-120: rgb(20.268189% 42.741446% 79.717672%);
    --palIceBurn-121: rgb(20.646873% 42.314661% 79.126674%);
    --palIceBurn-122: rgb(21.002416% 41.893452% 78.516513%);
    --palIceBurn-123: rgb(21.334744% 41.477813% 77.888727%);
    --palIceBurn-124: rgb(21.644007% 41.067692% 77.244864%);
    --palIceBurn-125: rgb(21.930549% 40.662992% 76.586449%);
    --palIceBurn-126: rgb(22.194871% 40.263581% 75.914954%);
    --palIceBurn-127: rgb(22.437598% 39.869301% 75.231781%);
    --palIceBurn-128: rgb(22.659392% 39.479978% 74.538284%);
    --palIceBurn-129: rgb(22.86102% 39.09542% 73.835702%);
    --palIceBurn-130: rgb(23.043243% 38.715428% 73.125216%);
    --palIceBurn-131: rgb(23.206893% 38.339797% 72.407881%);
    --palIceBurn-132: rgb(23.352752% 37.968323% 71.684701%);
    --palIceBurn-133: rgb(23.481608% 37.600805% 70.95659%);
    --palIceBurn-134: rgb(23.59424% 37.237043% 70.224378%);
    --palIceBurn-135: rgb(23.691411% 36.876841% 69.48881%);
    --palIceBurn-136: rgb(23.773864% 36.520013% 68.750558%);
    --palIceBurn-137: rgb(23.842228% 36.166379% 68.010314%);
    --palIceBurn-138: rgb(23.897259% 35.815764% 67.26855%);
    --palIceBurn-139: rgb(23.939501% 35.468004% 66.525875%);
    --palIceBurn-140: rgb(23.969623% 35.122941% 65.782678%);
    --palIceBurn-141: rgb(23.988177% 34.780424% 65.039394%);
    --palIceBurn-142: rgb(23.995694% 34.440312% 64.296415%);
    --palIceBurn-143: rgb(23.992678% 34.10247% 63.554088%);
    --palIceBurn-144: rgb(23.979609% 33.766769% 62.812723%);
    --palIceBurn-145: rgb(23.956944% 33.433088% 62.072594%);
    --palIceBurn-146: rgb(23.925118% 33.101313% 61.333943%);
    --palIceBurn-147: rgb(23.884542% 32.771334% 60.596984%);
    --palIceBurn-148: rgb(23.835581% 32.44305% 59.861944%);
    --palIceBurn-149: rgb(23.77858% 32.116362% 59.129023%);
    --palIceBurn-150: rgb(23.713919% 31.791178% 58.398324%);
    --palIceBurn-151: rgb(23.641859% 31.46741% 57.670083%);
    --palIceBurn-152: rgb(23.562751% 31.144977% 56.944356%);
    --palIceBurn-153: rgb(23.476863% 30.823799% 56.221282%);
    --palIceBurn-154: rgb(23.384436% 30.503801% 55.501014%);
    --palIceBurn-155: rgb(23.285756% 30.184913% 54.783592%);
    --palIceBurn-156: rgb(23.181055% 29.867067% 54.069108%);
    --palIceBurn-157: rgb(23.070554% 29.550198% 53.357645%);
    --palIceBurn-158: rgb(22.954464% 29.234247% 52.649273%);
    --palIceBurn-159: rgb(22.832987% 28.919153% 51.944051%);
    --palIceBurn-160: rgb(22.706312% 28.604862% 51.242029%);
    --palIceBurn-161: rgb(22.574622% 28.29132% 50.54325%);
    --palIceBurn-162: rgb(22.438088% 27.978477% 49.847747%);
    --palIceBurn-163: rgb(22.296875% 27.666284% 49.155548%);
    --palIceBurn-164: rgb(22.15114% 27.354694% 48.466672%);
    --palIceBurn-165: rgb(22.001024% 27.043662% 47.781146%);
    --palIceBurn-166: rgb(21.846644% 26.733144% 47.099036%);
    --palIceBurn-167: rgb(21.688162% 26.4231% 46.420287%);
    --palIceBurn-168: rgb(21.525699% 26.113489% 45.744915%);
    --palIceBurn-169: rgb(21.359342% 25.804272% 45.072991%);
    --palIceBurn-170: rgb(21.189245% 25.495414% 44.404423%);
    --palIceBurn-171: rgb(21.015473% 25.186874% 43.739306%);
    --palIceBurn-172: rgb(20.838166% 24.878622% 43.077545%);
    --palIceBurn-173: rgb(20.657379% 24.570619% 42.419227%);
    --palIceBurn-174: rgb(20.473243% 24.262836% 41.76425%);
    --palIceBurn-175: rgb(20.285807% 23.955237% 41.112692%);
    --palIceBurn-176: rgb(20.095176% 23.647793% 40.464482%);
    --palIceBurn-177: rgb(19.90143% 23.340473% 39.819596%);
    --palIceBurn-178: rgb(19.704615% 23.033243% 39.178094%);
    --palIceBurn-179: rgb(19.504823% 22.726077% 38.539893%);
    --palIceBurn-180: rgb(19.302121% 22.418944% 37.904975%);
    --palIceBurn-181: rgb(19.096568% 22.111817% 37.273324%);
    --palIceBurn-182: rgb(18.888207% 21.804663% 36.644962%);
    --palIceBurn-183: rgb(18.677107% 21.497457% 36.019827%);
    --palIceBurn-184: rgb(18.463321% 21.19017% 35.397893%);
    --palIceBurn-185: rgb(18.246898% 20.882775% 34.779136%);
    --palIceBurn-186: rgb(18.027883% 20.575244% 34.163532%);
    --palIceBurn-187: rgb(17.806319% 20.267549% 33.551054%);
    --palIceBurn-188: rgb(17.582247% 19.959662% 32.941673%);
    --palIceBurn-189: rgb(17.355705% 19.651555% 32.335359%);
    --palIceBurn-190: rgb(17.126727% 19.343202% 31.732082%);
    --palIceBurn-191: rgb(16.895348% 19.034573% 31.131809%);
    --palIceBurn-192: rgb(16.661598% 18.725641% 30.534506%);
    --palIceBurn-193: rgb(16.425505% 18.416377% 29.940139%);
    --palIceBurn-194: rgb(16.187095% 18.106754% 29.348671%);
    --palIceBurn-195: rgb(15.946392% 17.796741% 28.760066%);
    --palIceBurn-196: rgb(15.703418% 17.48631% 28.174285%);
    --palIceBurn-197: rgb(15.458188% 17.17543% 27.5913%);
    --palIceBurn-198: rgb(15.210713% 16.864071% 27.011088%);
    --palIceBurn-199: rgb(14.961017% 16.552201% 26.433584%);
    --palIceBurn-200: rgb(14.709112% 16.239789% 25.858744%);
    --palIceBurn-201: rgb(14.455007% 15.926804% 25.286525%);
    --palIceBurn-202: rgb(14.198701% 15.61321% 24.716916%);
    --palIceBurn-203: rgb(13.940203% 15.298974% 24.149861%);
    --palIceBurn-204: rgb(13.679522% 14.984061% 23.585293%);
    --palIceBurn-205: rgb(13.416654% 14.668436% 23.023175%);
    --palIceBurn-206: rgb(13.151588% 14.352057% 22.463501%);
    --palIceBurn-207: rgb(12.884334% 14.03489% 21.906169%);
    --palIceBurn-208: rgb(12.614878% 13.716893% 21.351147%);
    --palIceBurn-209: rgb(12.343203% 13.398023% 20.798415%);
    --palIceBurn-210: rgb(12.069311% 13.07824% 20.247868%);
    --palIceBurn-211: rgb(11.793173% 12.757495% 19.699505%);
    --palIceBurn-212: rgb(11.514778% 12.435745% 19.153238%);
    --palIceBurn-213: rgb(11.234104% 12.112938% 18.609015%);
    --palIceBurn-214: rgb(10.951121% 11.789024% 18.066797%);
    --palIceBurn-215: rgb(10.66581% 11.46395% 17.526489%);
    --palIceBurn-216: rgb(10.378128% 11.137658% 16.988075%);
    --palIceBurn-217: rgb(10.088052% 10.81009% 16.451437%);
    --palIceBurn-218: rgb(9.795529% 10.481182% 15.916562%);
    --palIceBurn-219: rgb(9.500529% 10.150871% 15.383328%);
    --palIceBurn-220: rgb(9.202991% 9.819083% 14.851704%);
    --palIceBurn-221: rgb(8.902871% 9.485748% 14.321584%);
    --palIceBurn-222: rgb(8.600106% 9.150787% 13.792899%);
    --palIceBurn-223: rgb(8.29463% 8.814114% 13.265572%);
    --palIceBurn-224: rgb(7.986379% 8.475645% 12.739482%);
    --palIceBurn-225: rgb(7.675264% 8.135279% 12.214593%);
    --palIceBurn-226: rgb(7.361211% 7.792919% 11.690747%);
    --palIceBurn-227: rgb(7.044121% 7.448455% 11.167864%);
    --palIceBurn-228: rgb(6.72389% 7.101767% 10.64584%);
    --palIceBurn-229: rgb(6.40041% 6.752732% 10.124526%);
    --palIceBurn-230: rgb(6.073553% 6.40121% 9.603817%);
    --palIceBurn-231: rgb(5.743181% 6.047052% 9.083573%);
    --palIceBurn-232: rgb(5.409148% 5.690097% 8.563621%);
    --palIceBurn-233: rgb(5.071284% 5.330166% 8.043811%);
    --palIceBurn-234: rgb(4.729398% 4.967062% 7.52398%);
    --palIceBurn-235: rgb(4.38329% 4.600573% 7.003905%);
    --palIceBurn-236: rgb(4.032533% 4.230459% 6.48337%);
    --palIceBurn-237: rgb(3.681198% 3.85588% 5.962158%);
    --palIceBurn-238: rgb(3.343838% 3.492349% 5.43999%);
    --palIceBurn-239: rgb(3.020655% 3.145663% 4.916556%);
    --palIceBurn-240: rgb(2.711859% 2.815891% 4.391515%);
    --palIceBurn-241: rgb(2.417669% 2.503115% 3.863829%);
    --palIceBurn-242: rgb(2.138315% 2.207428% 3.360127%);
    --palIceBurn-243: rgb(1.87405% 1.928945% 2.894484%);
    --palIceBurn-244: rgb(1.62514% 1.667799% 2.466102%);
    --palIceBurn-245: rgb(1.391875% 1.424146% 2.074208%);
    --palIceBurn-246: rgb(1.17457% 1.19817% 1.718058%);
    --palIceBurn-247: rgb(0.973575% 0.990088% 1.396944%);
    --palIceBurn-248: rgb(0.789285% 0.80016% 1.110189%);
    --palIceBurn-249: rgb(0.622148% 0.628698% 0.857157%);
    --palIceBurn-250: rgb(0.472684% 0.476083% 0.637274%);
    --palIceBurn-251: rgb(0.341513% 0.34279% 0.450037%);
    --palIceBurn-252: rgb(0.229394% 0.229426% 0.295046%);
    --palIceBurn-253: rgb(0.137302% 0.1368% 0.172056%);
    --palIceBurn-254: rgb(0.066576% 0.066063% 0.081098%);
    --palIceBurn-255: rgb(0.019292% 0.01906% 0.022793%);
    --palIceBurn-256: rgb(0% 0% 0%);
    --palIceBurn-257: rgb(0.024615% 0.017402% 0.018678%);
    --palIceBurn-258: rgb(0.087651% 0.059522% 0.064582%);
    --palIceBurn-259: rgb(0.186026% 0.121727% 0.133402%);
    --palIceBurn-260: rgb(0.319002% 0.201789% 0.223163%);
    --palIceBurn-261: rgb(0.486438% 0.298218% 0.332572%);
    --palIceBurn-262: rgb(0.688465% 0.4099% 0.460664%);
    --palIceBurn-263: rgb(0.92536% 0.535941% 0.60667%);
    --palIceBurn-264: rgb(1.197496% 0.6756% 0.769941%);
    --palIceBurn-265: rgb(1.50531% 0.828238% 0.949915%);
    --palIceBurn-266: rgb(1.849283% 0.993297% 1.146086%);
    --palIceBurn-267: rgb(2.229932% 1.17028% 1.357993%);
    --palIceBurn-268: rgb(2.647801% 1.358738% 1.585207%);
    --palIceBurn-269: rgb(3.103458% 1.558259% 1.827322%);
    --palIceBurn-270: rgb(3.597484% 1.768468% 2.083953%);
    --palIceBurn-271: rgb(4.128527% 1.989015% 2.354726%);
    --palIceBurn-272: rgb(4.663688% 2.219574% 2.639278%);
    --palIceBurn-273: rgb(5.195829% 2.459837% 2.937254%);
    --palIceBurn-274: rgb(5.725332% 2.709516% 3.248304%);
    --palIceBurn-275: rgb(6.252528% 2.968336% 3.572079%);
    --palIceBurn-276: rgb(6.777709% 3.236039% 3.908234%);
    --palIceBurn-277: rgb(7.301135% 3.512373% 4.249786%);
    --palIceBurn-278: rgb(7.823033% 3.797101% 4.585147%);
    --palIceBurn-279: rgb(8.343602% 4.089098% 4.915452%);
    --palIceBurn-280: rgb(8.863026% 4.376921% 5.240871%);
    --palIceBurn-281: rgb(9.381466% 4.660434% 5.56155%);
    --palIceBurn-282: rgb(9.89907% 4.939825% 5.877621%);
    --palIceBurn-283: rgb(10.415972% 5.215268% 6.189196%);
    --palIceBurn-284: rgb(10.932303% 5.486915% 6.496371%);
    --palIceBurn-285: rgb(11.448168% 5.754915% 6.799237%);
    --palIceBurn-286: rgb(11.963664% 6.019409% 7.09787%);
    --palIceBurn-287: rgb(12.478882% 6.280523% 7.392337%);
    --palIceBurn-288: rgb(12.993921% 6.538365% 7.68269%);
    --palIceBurn-289: rgb(13.50885% 6.793051% 7.96898%);
    --palIceBurn-290: rgb(14.023734% 7.04469% 8.251252%);
    --palIceBurn-291: rgb(14.538653% 7.293368% 8.529534%);
    --palIceBurn-292: rgb(15.053661% 7.539182% 8.803858%);
    --palIceBurn-293: rgb(15.568804% 7.782225% 9.07425%);
    --palIceBurn-294: rgb(16.084158% 8.022562% 9.340714%);
    --palIceBurn-295: rgb(16.599741% 8.260293% 9.603279%);
    --palIceBurn-296: rgb(17.115623% 8.495474% 9.861938%);
    --palIceBurn-297: rgb(17.63182% 8.728194% 10.116707%);
    --palIceBurn-298: rgb(18.14839% 8.958506% 10.367575%);
    --palIceBurn-299: rgb(18.665343% 9.186493% 10.614548%);
    --palIceBurn-300: rgb(19.182735% 9.4122% 10.857605%);
    --palIceBurn-301: rgb(19.700567% 9.635711% 11.096751%);
    --palIceBurn-302: rgb(20.218885% 9.857069% 11.33196%);
    --palIceBurn-303: rgb(20.737699% 10.076343% 11.56322%);
    --palIceBurn-304: rgb(21.257022% 10.293594% 11.790518%);
    --palIceBurn-305: rgb(21.776892% 10.508866% 12.013818%);
    --palIceBurn-306: rgb(22.297307% 10.722225% 12.233107%);
    --palIceBurn-307: rgb(22.818278% 10.933729% 12.448359%);
    --palIceBurn-308: rgb(23.339817% 11.143429% 12.659544%);
    --palIceBurn-309: rgb(23.861945% 11.351372% 12.866624%);
    --palIceBurn-310: rgb(24.384653% 11.557623% 13.069576%);
    --palIceBurn-311: rgb(24.907946% 11.762233% 13.268366%);
    --palIceBurn-312: rgb(25.431826% 11.965258% 13.462958%);
    --palIceBurn-313: rgb(25.956293% 12.16675% 13.653315%);
    --palIceBurn-314: rgb(26.481344% 12.366766% 13.839399%);
    --palIceBurn-315: rgb(27.006976% 12.565358% 14.02117%);
    --palIceBurn-316: rgb(27.53318% 12.762583% 14.198589%);
    --palIceBurn-317: rgb(28.059949% 12.958498% 14.371614%);
    --palIceBurn-318: rgb(28.587272% 13.15316% 14.540202%);
    --palIceBurn-319: rgb(29.115134% 13.346626% 14.704313%);
    --palIceBurn-320: rgb(29.643521% 13.538958% 14.863902%);
    --palIceBurn-321: rgb(30.172414% 13.730214% 15.018927%);
    --palIceBurn-322: rgb(30.701794% 13.920457% 15.169344%);
    --palIceBurn-323: rgb(31.231639% 14.109751% 15.31511%);
    --palIceBurn-324: rgb(31.761928% 14.298158% 15.456179%);
    --palIceBurn-325: rgb(32.292642% 14.485737% 15.592496%);
    --palIceBurn-326: rgb(32.823742% 14.672565% 15.724032%);
    --palIceBurn-327: rgb(33.355199% 14.858712% 15.850743%);
    --palIceBurn-328: rgb(33.88699% 15.044238% 15.972574%);
    --palIceBurn-329: rgb(34.419076% 15.229223% 16.089488%);
    --palIceBurn-330: rgb(34.951411% 15.413745% 16.201454%);
    --palIceBurn-331: rgb(35.48398% 15.597865% 16.308405%);
    --palIceBurn-332: rgb(36.016717% 15.781679% 16.410329%);
    --palIceBurn-333: rgb(36.549598% 15.965253% 16.507166%);
    --palIceBurn-334: rgb(37.082563% 16.148682% 16.598898%);
    --palIceBurn-335: rgb(37.615579% 16.332036% 16.685469%);
    --palIceBurn-336: rgb(38.14858% 16.515417% 16.766869%);
    --palIceBurn-337: rgb(38.681532% 16.698898% 16.84304%);
    --palIceBurn-338: rgb(39.214367% 16.882582% 16.913973%);
    --palIceBurn-339: rgb(39.74703% 17.06656% 16.979641%);
    --palIceBurn-340: rgb(40.279473% 17.250917% 17.04%);
    --palIceBurn-341: rgb(40.811625% 17.435762% 17.095048%);
    --palIceBurn-342: rgb(41.343422% 17.621191% 17.144765%);
    --palIceBurn-343: rgb(41.874803% 17.807305% 17.189132%);
    --palIceBurn-344: rgb(42.405705% 17.994202% 17.228129%);
    --palIceBurn-345: rgb(42.936053% 18.181993% 17.261758%);
    --palIceBurn-346: rgb(43.465775% 18.370783% 17.290016%);
    --palIceBurn-347: rgb(43.9948% 18.560681% 17.3129%);
    --palIceBurn-348: rgb(44.523052% 18.751796% 17.330414%);
    --palIceBurn-349: rgb(45.050455% 18.944239% 17.342567%);
    --palIceBurn-350: rgb(45.576931% 19.138122% 17.349371%);
    --palIceBurn-351: rgb(46.102401% 19.333559% 17.350844%);
    --palIceBurn-352: rgb(46.626782% 19.530663% 17.347009%);
    --palIceBurn-353: rgb(47.149993% 19.729549% 17.337894%);
    --palIceBurn-354: rgb(47.67195% 19.930331% 17.32353%);
    --palIceBurn-355: rgb(48.192569% 20.133125% 17.303958%);
    --palIceBurn-356: rgb(48.711764% 20.338044% 17.279218%);
    --palIceBurn-357: rgb(49.229449% 20.545203% 17.249361%);
    --palIceBurn-358: rgb(49.745539% 20.754714% 17.21444%);
    --palIceBurn-359: rgb(50.259949% 20.966688% 17.174506%);
    --palIceBurn-360: rgb(50.772591% 21.181236% 17.129632%);
    --palIceBurn-361: rgb(51.283378% 21.398469% 17.079886%);
    --palIceBurn-362: rgb(51.792224% 21.618491% 17.025344%);
    --palIceBurn-363: rgb(52.299045% 21.841406% 16.966083%);
    --palIceBurn-364: rgb(52.803758% 22.067316% 16.902184%);
    --palIceBurn-365: rgb(53.306277% 22.296319% 16.833743%);
    --palIceBurn-366: rgb(53.806522% 22.528511% 16.760853%);
    --palIceBurn-367: rgb(54.304412% 22.763981% 16.683608%);
    --palIceBurn-368: rgb(54.799868% 23.002817% 16.602113%);
    --palIceBurn-369: rgb(55.292813% 23.245103% 16.516477%);
    --palIceBurn-370: rgb(55.783173% 23.490917% 16.426807%);
    --palIceBurn-371: rgb(56.270875% 23.740332% 16.333217%);
    --palIceBurn-372: rgb(56.75585% 23.993418% 16.235825%);
    --palIceBurn-373: rgb(57.238029% 24.250238% 16.13475%);
    --palIceBurn-374: rgb(57.717348% 24.510851% 16.030114%);
    --palIceBurn-375: rgb(58.193746% 24.77531% 15.922042%);
    --palIceBurn-376: rgb(58.667165% 25.043664% 15.810659%);
    --palIceBurn-377: rgb(59.137548% 25.315955% 15.696096%);
    --palIceBurn-378: rgb(59.604843% 25.592219% 15.57848%);
    --palIceBurn-379: rgb(60.069003% 25.872487% 15.457938%);
    --palIceBurn-380: rgb(60.529979% 26.156787% 15.33461%);
    --palIceBurn-381: rgb(60.987733% 26.445137% 15.20862%);
    --palIceBurn-382: rgb(61.442224% 26.737554% 15.080101%);
    --palIceBurn-383: rgb(61.893416% 27.034047% 14.949185%);
    --palIceBurn-384: rgb(62.341279% 27.334621% 14.81601%);
    --palIceBurn-385: rgb(62.785784% 27.639275% 14.680699%);
    --palIceBurn-386: rgb(63.226905% 27.948004% 14.543385%);
    --palIceBurn-387: rgb(63.664621% 28.2608% 14.404197%);
    --palIceBurn-388: rgb(64.098913% 28.577648% 14.263274%);
    --palIceBurn-389: rgb(64.529766% 28.898529% 14.120738%);
    --palIceBurn-390: rgb(64.957166% 29.223423% 13.976716%);
    --palIceBurn-391: rgb(65.381105% 29.552304% 13.831336%);
    --palIceBurn-392: rgb(65.801576% 29.885142% 13.684725%);
    --palIceBurn-393: rgb(66.218574% 30.221905% 13.53701%);
    --palIceBurn-394: rgb(66.632098% 30.562559% 13.388318%);
    --palIceBurn-395: rgb(67.042148% 30.907066% 13.238773%);
    --palIceBurn-396: rgb(67.448729% 31.255384% 13.088503%);
    --palIceBurn-397: rgb(67.851846% 31.607473% 12.937632%);
    --palIceBurn-398: rgb(68.251505% 31.963288% 12.786285%);
    --palIceBurn-399: rgb(68.647718% 32.322782% 12.634591%);
    --palIceBurn-400: rgb(69.040493% 32.68591% 12.482673%);
    --palIceBurn-401: rgb(69.429846% 33.052621% 12.330661%);
    --palIceBurn-402: rgb(69.81579% 33.422868% 12.178683%);
    --palIceBurn-403: rgb(70.19834% 33.796599% 12.026868%);
    --palIceBurn-404: rgb(70.577514% 34.173764% 11.875347%);
    --palIceBurn-405: rgb(70.953331% 34.554309% 11.724277%);
    --palIceBurn-406: rgb(71.32581% 34.938183% 11.573784%);
    --palIceBurn-407: rgb(71.694971% 35.325337% 11.423999%);
    --palIceBurn-408: rgb(72.060834% 35.715718% 11.275072%);
    --palIceBurn-409: rgb(72.423425% 36.109269% 11.127184%);
    --palIceBurn-410: rgb(72.782762% 36.505946% 10.980449%);
    --palIceBurn-411: rgb(73.13887% 36.905693% 10.835048%);
    --palIceBurn-412: rgb(73.491775% 37.30846% 10.691154%);
    --palIceBurn-413: rgb(73.841496% 37.7142% 10.548912%);
    --palIceBurn-414: rgb(74.188065% 38.122856% 10.408544%);
    --palIceBurn-415: rgb(74.531498% 38.534389% 10.270186%);
    --palIceBurn-416: rgb(74.871828% 38.948741% 10.134077%);
    --palIceBurn-417: rgb(75.209074% 39.365872% 10.000384%);
    --palIceBurn-418: rgb(75.543264% 39.785734% 9.869323%);
    --palIceBurn-419: rgb(75.874426% 40.208277% 9.741133%);
    --palIceBurn-420: rgb(76.202578% 40.633464% 9.615999%);
    --palIceBurn-421: rgb(76.527751% 41.061247% 9.494179%);
    --palIceBurn-422: rgb(76.849973% 41.491579% 9.375926%);
    --palIceBurn-423: rgb(77.169263% 41.924427% 9.261462%);
    --palIceBurn-424: rgb(77.485646% 42.359748% 9.151047%);
    --palIceBurn-425: rgb(77.799148% 42.797503% 9.044948%);
    --palIceBurn-426: rgb(78.1098% 43.237646% 8.943468%);
    --palIceBurn-427: rgb(78.417621% 43.680146% 8.846857%);
    --palIceBurn-428: rgb(78.722634% 44.124968% 8.755401%);
    --palIceBurn-429: rgb(79.024865% 44.572074% 8.66939%);
    --palIceBurn-430: rgb(79.324337% 45.021432% 8.589118%);
    --palIceBurn-431: rgb(79.621073% 45.473007% 8.514882%);
    --palIceBurn-432: rgb(79.915097% 45.926767% 8.44698%);
    --palIceBurn-433: rgb(80.206433% 46.382681% 8.385706%);
    --palIceBurn-434: rgb(80.495101% 46.84072% 8.331354%);
    --palIceBurn-435: rgb(80.781125% 47.300854% 8.284214%);
    --palIceBurn-436: rgb(81.064525% 47.763056% 8.244567%);
    --palIceBurn-437: rgb(81.345329% 48.227294% 8.212705%);
    --palIceBurn-438: rgb(81.623558% 48.693542% 8.188894%);
    --palIceBurn-439: rgb(81.899227% 49.161779% 8.173368%);
    --palIceBurn-440: rgb(82.172356% 49.631982% 8.166363%);
    --palIceBurn-441: rgb(82.442963% 50.104128% 8.168096%);
    --palIceBurn-442: rgb(82.711088% 50.578179% 8.178822%);
    --palIceBurn-443: rgb(82.976733% 51.054129% 8.198674%);
    --palIceBurn-444: rgb(83.239912% 51.531958% 8.227805%);
    --palIceBurn-445: rgb(83.500666% 52.011631% 8.266403%);
    --palIceBurn-446: rgb(83.758998% 52.49314% 8.314546%);
    --palIceBurn-447: rgb(84.014922% 52.97647% 8.372309%);
    --palIceBurn-448: rgb(84.268481% 53.461583% 8.439814%);
    --palIceBurn-449: rgb(84.51966% 53.948489% 8.517024%);
    --palIceBurn-450: rgb(84.768513% 54.437144% 8.60403%);
    --palIceBurn-451: rgb(85.01502% 54.927557% 8.700745%);
    --palIceBurn-452: rgb(85.259236% 55.419689% 8.807206%);
    --palIceBurn-453: rgb(85.501137% 55.913552% 8.92328%);
    --palIceBurn-454: rgb(85.740788% 56.4091% 9.048973%);
    --palIceBurn-455: rgb(85.978161% 56.906349% 9.184109%);
    --palIceBurn-456: rgb(86.213299% 57.405268% 9.328617%);
    --palIceBurn-457: rgb(86.446212% 57.90585% 9.482352%);
    --palIceBurn-458: rgb(86.676901% 58.408094% 9.645145%);
    --palIceBurn-459: rgb(86.905411% 58.911967% 9.816879%);
    --palIceBurn-460: rgb(87.131737% 59.417472% 9.997355%);
    --palIceBurn-461: rgb(87.355889% 59.924605% 10.186383%);
    --palIceBurn-462: rgb(87.577894% 60.433346% 10.383795%);
    --palIceBurn-463: rgb(87.797777% 60.943682% 10.589408%);
    --palIceBurn-464: rgb(88.015531% 61.455616% 10.803004%);
    --palIceBurn-465: rgb(88.231174% 61.969139% 11.024385%);
    --palIceBurn-466: rgb(88.444721% 62.484242% 11.253354%);
    --palIceBurn-467: rgb(88.656198% 63.00091% 11.489725%);
    --palIceBurn-468: rgb(88.865616% 63.51914% 11.733295%);
    --palIceBurn-469: rgb(89.072981% 64.03893% 11.98386%);
    --palIceBurn-470: rgb(89.278305% 64.560273% 12.241226%);
    --palIceBurn-471: rgb(89.481603% 65.083165% 12.505206%);
    --palIceBurn-472: rgb(89.682888% 65.607599% 12.775614%);
    --palIceBurn-473: rgb(89.882174% 66.133572% 13.052269%);
    --palIceBurn-474: rgb(90.079473% 66.661079% 13.334997%);
    --palIceBurn-475: rgb(90.274797% 67.190115% 13.623626%);
    --palIceBurn-476: rgb(90.46816% 67.720678% 13.917993%);
    --palIceBurn-477: rgb(90.659573% 68.252766% 14.217936%);
    --palIceBurn-478: rgb(90.849047% 68.786374% 14.523303%);
    --palIceBurn-479: rgb(91.036594% 69.321503% 14.833946%);
    --palIceBurn-480: rgb(91.222224% 69.85815% 15.149722%);
    --palIceBurn-481: rgb(91.405947% 70.396314% 15.470495%);
    --palIceBurn-482: rgb(91.587775% 70.935994% 15.796133%);
    --palIceBurn-483: rgb(91.767716% 71.477191% 16.126513%);
    --palIceBurn-484: rgb(91.945779% 72.019905% 16.461513%);
    --palIceBurn-485: rgb(92.121989% 72.564129% 16.801025%);
    --palIceBurn-486: rgb(92.296355% 73.109863% 17.144936%);
    --palIceBurn-487: rgb(92.468872% 73.657116% 17.49314%);
    --palIceBurn-488: rgb(92.639549% 74.205889% 17.845535%);
    --palIceBurn-489: rgb(92.808393% 74.756185% 18.202028%);
    --palIceBurn-490: rgb(92.975424% 75.308% 18.562529%);
    --palIceBurn-491: rgb(93.140669% 75.861327% 18.926956%);
    --palIceBurn-492: rgb(93.304103% 76.416185% 19.295219%);
    --palIceBurn-493: rgb(93.465733% 76.972578% 19.667241%);
    --palIceBurn-494: rgb(93.62559% 77.530497% 20.042949%);
    --palIceBurn-495: rgb(93.783688% 78.089942% 20.422272%);
    --palIceBurn-496: rgb(93.939998% 78.650935% 20.805139%);
    --palIceBurn-497: rgb(94.094543% 79.213474% 21.191486%);
    --palIceBurn-498: rgb(94.247364% 79.777544% 21.581253%);
    --palIceBurn-499: rgb(94.398413% 80.343178% 21.974379%);
    --palIceBurn-500: rgb(94.547723% 80.910368% 22.370807%);
    --palIceBurn-501: rgb(94.695317% 81.47911% 22.770486%);
    --palIceBurn-502: rgb(94.841148% 82.049435% 23.173362%);
    --palIceBurn-503: rgb(94.985293% 82.621317% 23.579388%);
    --palIceBurn-504: rgb(95.127696% 83.194788% 23.988517%);
    --palIceBurn-505: rgb(95.268386% 83.769845% 24.400704%);
    --palIceBurn-506: rgb(95.407377% 84.34649% 24.815906%);
    --palIceBurn-507: rgb(95.544635% 84.924747% 25.234084%);
    --palIceBurn-508: rgb(95.680225% 85.504596% 25.655197%);
    --palIceBurn-509: rgb(95.814072% 86.08608% 26.079212%);
    --palIceBurn-510: rgb(95.946267% 86.669168% 26.506089%);
    --palIceBurn-511: rgb(96.076719% 87.253909% 26.935799%);
}
