/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palLavender-1: rgb(0% 0% 0%);
    --palLavender-2: rgb(0.022628% 0.012731% 0.018041%);
    --palLavender-3: rgb(0.081365% 0.042889% 0.063983%);
    --palLavender-4: rgb(0.17426% 0.086369% 0.135487%);
    --palLavender-5: rgb(0.301237% 0.14102% 0.232124%);
    --palLavender-6: rgb(0.462645% 0.20532% 0.354023%);
    --palLavender-7: rgb(0.659022% 0.27805% 0.501613%);
    --palLavender-8: rgb(0.890955% 0.358208% 0.675498%);
    --palLavender-9: rgb(1.159086% 0.44491% 0.876435%);
    --palLavender-10: rgb(1.464139% 0.53734% 1.10534%);
    --palLavender-11: rgb(1.80676% 0.634788% 1.363186%);
    --palLavender-12: rgb(2.187663% 0.736569% 1.651095%);
    --palLavender-13: rgb(2.607572% 0.842034% 1.970294%);
    --palLavender-14: rgb(3.067145% 0.950592% 2.322078%);
    --palLavender-15: rgb(3.567141% 1.061629% 2.707918%);
    --palLavender-16: rgb(4.10685% 1.174607% 3.129316%);
    --palLavender-17: rgb(4.652852% 1.288959% 3.587953%);
    --palLavender-18: rgb(5.19624% 1.404142% 4.084816%);
    --palLavender-19: rgb(5.737257% 1.519657% 4.592303%);
    --palLavender-20: rgb(6.276218% 1.634942% 5.10294%);
    --palLavender-21: rgb(6.813304% 1.749501% 5.617217%);
    --palLavender-22: rgb(7.348667% 1.862838% 6.135607%);
    --palLavender-23: rgb(7.882464% 1.974444% 6.658593%);
    --palLavender-24: rgb(8.41482% 2.083813% 7.186642%);
    --palLavender-25: rgb(8.945859% 2.190424% 7.720232%);
    --palLavender-26: rgb(9.475636% 2.293796% 8.259778%);
    --palLavender-27: rgb(10.004205% 2.393437% 8.805707%);
    --palLavender-28: rgb(10.531609% 2.488855% 9.358449%);
    --palLavender-29: rgb(11.057879% 2.579547% 9.918439%);
    --palLavender-30: rgb(11.58304% 2.665003% 10.486124%);
    --palLavender-31: rgb(12.107064% 2.744761% 11.061895%);
    --palLavender-32: rgb(12.629918% 2.818345% 11.64616%);
    --palLavender-33: rgb(13.151556% 2.885291% 12.239321%);
    --palLavender-34: rgb(13.671988% 2.945036% 12.841904%);
    --palLavender-35: rgb(14.19108% 2.997205% 13.454219%);
    --palLavender-36: rgb(14.708768% 3.041311% 14.076718%);
    --palLavender-37: rgb(15.224952% 3.076905% 14.709821%);
    --palLavender-38: rgb(15.739512% 3.103556% 15.35394%);
    --palLavender-39: rgb(16.252277% 3.120918% 16.009413%);
    --palLavender-40: rgb(16.763145% 3.128499% 16.67675%);
    --palLavender-41: rgb(17.271898% 3.126021% 17.356257%);
    --palLavender-42: rgb(17.778331% 3.113174% 18.048291%);
    --palLavender-43: rgb(18.282219% 3.089684% 18.753207%);
    --palLavender-44: rgb(18.783313% 3.055332% 19.471328%);
    --palLavender-45: rgb(19.28133% 3.009975% 20.202937%);
    --palLavender-46: rgb(19.775957% 2.95355% 20.948273%);
    --palLavender-47: rgb(20.266856% 2.886073% 21.707542%);
    --palLavender-48: rgb(20.753682% 2.807585% 22.480982%);
    --palLavender-49: rgb(21.235983% 2.718462% 23.268537%);
    --palLavender-50: rgb(21.713353% 2.61898% 24.070336%);
    --palLavender-51: rgb(22.185282% 2.509787% 24.886196%);
    --palLavender-52: rgb(22.651292% 2.391467% 25.716101%);
    --palLavender-53: rgb(23.110796% 2.265073% 26.559648%);
    --palLavender-54: rgb(23.563205% 2.131743% 27.416461%);
    --palLavender-55: rgb(24.00789% 1.99289% 28.286016%);
    --palLavender-56: rgb(24.444178% 1.850215% 29.167631%);
    --palLavender-57: rgb(24.871362% 1.70574% 30.060452%);
    --palLavender-58: rgb(25.288699% 1.561822% 30.963447%);
    --palLavender-59: rgb(25.69542% 1.421171% 31.875403%);
    --palLavender-60: rgb(26.090744% 1.286769% 32.795026%);
    --palLavender-61: rgb(26.473851% 1.162142% 33.720653%);
    --palLavender-62: rgb(26.843933% 1.051043% 34.650595%);
    --palLavender-63: rgb(27.200172% 0.957681% 35.582895%);
    --palLavender-64: rgb(27.541768% 0.886513% 36.515546%);
    --palLavender-65: rgb(27.867938% 0.842414% 37.446282%);
    --palLavender-66: rgb(28.177937% 0.830466% 38.3728%);
    --palLavender-67: rgb(28.471062% 0.855961% 39.292723%);
    --palLavender-68: rgb(28.746668% 0.924361% 40.203606%);
    --palLavender-69: rgb(29.004178% 1.041207% 41.102988%);
    --palLavender-70: rgb(29.243091% 1.212029% 41.988454%);
    --palLavender-71: rgb(29.462988% 1.442271% 42.857655%);
    --palLavender-72: rgb(29.663543% 1.737211% 43.708347%);
    --palLavender-73: rgb(29.844523% 2.101878% 44.538425%);
    --palLavender-74: rgb(30.005791% 2.54098% 45.34595%);
    --palLavender-75: rgb(30.147309% 3.058837% 46.129177%);
    --palLavender-76: rgb(30.269133% 3.659323% 46.886569%);
    --palLavender-77: rgb(30.371411% 4.334598% 47.616812%);
    --palLavender-78: rgb(30.454379% 5.030898% 48.318821%);
    --palLavender-79: rgb(30.518355% 5.739721% 48.991738%);
    --palLavender-80: rgb(30.563736% 6.457868% 49.634929%);
    --palLavender-81: rgb(30.590977% 7.182667% 50.247989%);
    --palLavender-82: rgb(30.600599% 7.911853% 50.830715%);
    --palLavender-83: rgb(30.593172% 8.643496% 51.383095%);
    --palLavender-84: rgb(30.569335% 9.375915% 51.905274%);
    --palLavender-85: rgb(30.52972% 10.107699% 52.397599%);
    --palLavender-86: rgb(30.475023% 10.837595% 52.860524%);
    --palLavender-87: rgb(30.40596% 11.564525% 53.29464%);
    --palLavender-88: rgb(30.323249% 12.287565% 53.700645%);
    --palLavender-89: rgb(30.227633% 13.005912% 54.079326%);
    --palLavender-90: rgb(30.119873% 13.718861% 54.43154%);
    --palLavender-91: rgb(30.000693% 14.425848% 54.758213%);
    --palLavender-92: rgb(29.870847% 15.126367% 55.060309%);
    --palLavender-93: rgb(29.731106% 15.819975% 55.33883%);
    --palLavender-94: rgb(29.582176% 16.506352% 55.594799%);
    --palLavender-95: rgb(29.424783% 17.185217% 55.829252%);
    --palLavender-96: rgb(29.259638% 17.856345% 56.043231%);
    --palLavender-97: rgb(29.087435% 18.519568% 56.237774%);
    --palLavender-98: rgb(28.908853% 19.174764% 56.413908%);
    --palLavender-99: rgb(28.724549% 19.821856% 56.572648%);
    --palLavender-100: rgb(28.535159% 20.460803% 56.714986%);
    --palLavender-101: rgb(28.341346% 21.09157% 56.841907%);
    --palLavender-102: rgb(28.143672% 21.714202% 56.954343%);
    --palLavender-103: rgb(27.942709% 22.328751% 57.053206%);
    --palLavender-104: rgb(27.739045% 22.935266% 57.139394%);
    --palLavender-105: rgb(27.533219% 23.533837% 57.213762%);
    --palLavender-106: rgb(27.325712% 24.124592% 57.277113%);
    --palLavender-107: rgb(27.11709% 24.707608% 57.33027%);
    --palLavender-108: rgb(26.907752% 25.283065% 57.373949%);
    --palLavender-109: rgb(26.69822% 25.851068% 57.408906%);
    --palLavender-110: rgb(26.488888% 26.411793% 57.435809%);
    --palLavender-111: rgb(26.280153% 26.965407% 57.455304%);
    --palLavender-112: rgb(26.072485% 27.512037% 57.46806%);
    --palLavender-113: rgb(25.866185% 28.051893% 57.474627%);
    --palLavender-114: rgb(25.661612% 28.585144% 57.475572%);
    --palLavender-115: rgb(25.459101% 29.111969% 57.47143%);
    --palLavender-116: rgb(25.258988% 29.632534% 57.462719%);
    --palLavender-117: rgb(25.061546% 30.147031% 57.449907%);
    --palLavender-118: rgb(24.867033% 30.655648% 57.433433%);
    --palLavender-119: rgb(24.675697% 31.158568% 57.413722%);
    --palLavender-120: rgb(24.487763% 31.655975% 57.39117%);
    --palLavender-121: rgb(24.303437% 32.148051% 57.36615%);
    --palLavender-122: rgb(24.122899% 32.63498% 57.339009%);
    --palLavender-123: rgb(23.946309% 33.116943% 57.310074%);
    --palLavender-124: rgb(23.773805% 33.594121% 57.279649%);
    --palLavender-125: rgb(23.605509% 34.066688% 57.248022%);
    --palLavender-126: rgb(23.441531% 34.534818% 57.215469%);
    --palLavender-127: rgb(23.281921% 34.998691% 57.182217%);
    --palLavender-128: rgb(23.126725% 35.458483% 57.14849%);
    --palLavender-129: rgb(22.975967% 35.914363% 57.114494%);
    --palLavender-130: rgb(22.829674% 36.366493% 57.080434%);
    --palLavender-131: rgb(22.687837% 36.815034% 57.046493%);
    --palLavender-132: rgb(22.550382% 37.260161% 57.012801%);
    --palLavender-133: rgb(22.417253% 37.702034% 56.979506%);
    --palLavender-134: rgb(22.288415% 38.140793% 56.946772%);
    --palLavender-135: rgb(22.163703% 38.576615% 56.914663%);
    --palLavender-136: rgb(22.043022% 39.009641% 56.883303%);
    --palLavender-137: rgb(21.926231% 39.440021% 56.852782%);
    --palLavender-138: rgb(21.813127% 39.867913% 56.82314%);
    --palLavender-139: rgb(21.703589% 40.293442% 56.794486%);
    --palLavender-140: rgb(21.597335% 40.716774% 56.766805%);
    --palLavender-141: rgb(21.494223% 41.138023% 56.740192%);
    --palLavender-142: rgb(21.393931% 41.557353% 56.714604%);
    --palLavender-143: rgb(21.296285% 41.974871% 56.690111%);
    --palLavender-144: rgb(21.200937% 42.390731% 56.666651%);
    --palLavender-145: rgb(21.107665% 42.805045% 56.644257%);
    --palLavender-146: rgb(21.016123% 43.21795% 56.622867%);
    --palLavender-147: rgb(20.926022% 43.629563% 56.602457%);
    --palLavender-148: rgb(20.837044% 44.040003% 56.582984%);
    --palLavender-149: rgb(20.748826% 44.449394% 56.564362%);
    --palLavender-150: rgb(20.661079% 44.857838% 56.546561%);
    --palLavender-151: rgb(20.573413% 45.265454% 56.529468%);
    --palLavender-152: rgb(20.48547% 45.672352% 56.512989%);
    --palLavender-153: rgb(20.396941% 46.078623% 56.49706%);
    --palLavender-154: rgb(20.307415% 46.484379% 56.481536%);
    --palLavender-155: rgb(20.216531% 46.889717% 56.466299%);
    --palLavender-156: rgb(20.123956% 47.294722% 56.451243%);
    --palLavender-157: rgb(20.0293% 47.699491% 56.436217%);
    --palLavender-158: rgb(19.932194% 48.104109% 56.421071%);
    --palLavender-159: rgb(19.832279% 48.50866% 56.405653%);
    --palLavender-160: rgb(19.729225% 48.913216% 56.389824%);
    --palLavender-161: rgb(19.622649% 49.317857% 56.373395%);
    --palLavender-162: rgb(19.512204% 49.722653% 56.356194%);
    --palLavender-163: rgb(19.397551% 50.127671% 56.338041%);
    --palLavender-164: rgb(19.278376% 50.53297% 56.318764%);
    --palLavender-165: rgb(19.154342% 50.938609% 56.298163%);
    --palLavender-166: rgb(19.025129% 51.344643% 56.276039%);
    --palLavender-167: rgb(18.890433% 51.751123% 56.252194%);
    --palLavender-168: rgb(18.749962% 52.158093% 56.226424%);
    --palLavender-169: rgb(18.603448% 52.565592% 56.198529%);
    --palLavender-170: rgb(18.450617% 52.973657% 56.168299%);
    --palLavender-171: rgb(18.291209% 53.382322% 56.135517%);
    --palLavender-172: rgb(18.124987% 53.791615% 56.09997%);
    --palLavender-173: rgb(17.951725% 54.20156% 56.061444%);
    --palLavender-174: rgb(17.771219% 54.612176% 56.019726%);
    --palLavender-175: rgb(17.58328% 55.023478% 55.974601%);
    --palLavender-176: rgb(17.387742% 55.435477% 55.925857%);
    --palLavender-177: rgb(17.184443% 55.848181% 55.873275%);
    --palLavender-178: rgb(16.973252% 56.261595% 55.816641%);
    --palLavender-179: rgb(16.75406% 56.675717% 55.755743%);
    --palLavender-180: rgb(16.526782% 57.090544% 55.690372%);
    --palLavender-181: rgb(16.291356% 57.506067% 55.620319%);
    --palLavender-182: rgb(16.047751% 57.922275% 55.545378%);
    --palLavender-183: rgb(15.795965% 58.339154% 55.465347%);
    --palLavender-184: rgb(15.536026% 58.756685% 55.380025%);
    --palLavender-185: rgb(15.268001% 59.174847% 55.289214%);
    --palLavender-186: rgb(14.991996% 59.593616% 55.19272%);
    --palLavender-187: rgb(14.708165% 60.012965% 55.090352%);
    --palLavender-188: rgb(14.416711% 60.432863% 54.981923%);
    --palLavender-189: rgb(14.117895% 60.853277% 54.867251%);
    --palLavender-190: rgb(13.812044% 61.274172% 54.746155%);
    --palLavender-191: rgb(13.499552% 61.69551% 54.618457%);
    --palLavender-192: rgb(13.180906% 62.11725% 54.483985%);
    --palLavender-193: rgb(12.856691% 62.539349% 54.342572%);
    --palLavender-194: rgb(12.527601% 62.961762% 54.194054%);
    --palLavender-195: rgb(12.194462% 63.384441% 54.038271%);
    --palLavender-196: rgb(11.858243% 63.807336% 53.875064%);
    --palLavender-197: rgb(11.520089% 64.230397% 53.704281%);
    --palLavender-198: rgb(11.181315% 64.653571% 53.525762%);
    --palLavender-199: rgb(10.843492% 65.076802% 53.339365%);
    --palLavender-200: rgb(10.508441% 65.500033% 53.144949%);
    --palLavender-201: rgb(10.178265% 65.923203% 52.942374%);
    --palLavender-202: rgb(9.855384% 66.346253% 52.731504%);
    --palLavender-203: rgb(9.542572% 66.769118% 52.512205%);
    --palLavender-204: rgb(9.242918% 67.19174% 52.284316%);
    --palLavender-205: rgb(8.960015% 67.614047% 52.047733%);
    --palLavender-206: rgb(8.697804% 68.035971% 51.802331%);
    --palLavender-207: rgb(8.460602% 68.457443% 51.547985%);
    --palLavender-208: rgb(8.25301% 68.878392% 51.284557%);
    --palLavender-209: rgb(8.079875% 69.298747% 51.011911%);
    --palLavender-210: rgb(7.946223% 69.718428% 50.729957%);
    --palLavender-211: rgb(7.856957% 70.137357% 50.43858%);
    --palLavender-212: rgb(7.816623% 70.555458% 50.137626%);
    --palLavender-213: rgb(7.829345% 70.972648% 49.826987%);
    --palLavender-214: rgb(7.898555% 71.388839% 49.506582%);
    --palLavender-215: rgb(8.026671% 71.803947% 49.176266%);
    --palLavender-216: rgb(8.215118% 72.217884% 48.835903%);
    --palLavender-217: rgb(8.464367% 72.630551% 48.485445%);
    --palLavender-218: rgb(8.773729% 73.04186% 48.124711%);
    --palLavender-219: rgb(9.141753% 73.451708% 47.753621%);
    --palLavender-220: rgb(9.566267% 73.85999% 47.372098%);
    --palLavender-221: rgb(10.044518% 74.266608% 46.979936%);
    --palLavender-222: rgb(10.573581% 74.671439% 46.577169%);
    --palLavender-223: rgb(11.150247% 75.074383% 46.163512%);
    --palLavender-224: rgb(11.771455% 75.475305% 45.739056%);
    --palLavender-225: rgb(12.43416% 75.874093% 45.303511%);
    --palLavender-226: rgb(13.135571% 76.270607% 44.856941%);
    --palLavender-227: rgb(13.873106% 76.664714% 44.39916%);
    --palLavender-228: rgb(14.644456% 77.056271% 43.93009%);
    --palLavender-229: rgb(15.44756% 77.445122% 43.449731%);
    --palLavender-230: rgb(16.280658% 77.831112% 42.957909%);
    --palLavender-231: rgb(17.142217% 78.214072% 42.454593%);
    --palLavender-232: rgb(18.030921% 78.593823% 41.939798%);
    --palLavender-233: rgb(18.945691% 78.970175% 41.413493%);
    --palLavender-234: rgb(19.885649% 79.342929% 40.87567%);
    --palLavender-235: rgb(20.8501% 79.711872% 40.326354%);
    --palLavender-236: rgb(21.83852% 80.076777% 39.765598%);
    --palLavender-237: rgb(22.850506% 80.4374% 39.193553%);
    --palLavender-238: rgb(23.885825% 80.793482% 38.610368%);
    --palLavender-239: rgb(24.944336% 81.144744% 38.01632%);
    --palLavender-240: rgb(26.026002% 81.490888% 37.411775%);
    --palLavender-241: rgb(27.130876% 81.831597% 36.797226%);
    --palLavender-242: rgb(28.259096% 82.166528% 36.173301%);
    --palLavender-243: rgb(29.411073% 82.495305% 35.540556%);
    --palLavender-244: rgb(30.586837% 82.817546% 34.900319%);
    --palLavender-245: rgb(31.786973% 83.132816% 34.25355%);
    --palLavender-246: rgb(33.011592% 83.44068% 33.602138%);
    --palLavender-247: rgb(34.261175% 83.740653% 32.947931%);
    --palLavender-248: rgb(35.536011% 84.032235% 32.293457%);
    --palLavender-249: rgb(36.836204% 84.314916% 31.641947%);
    --palLavender-250: rgb(38.161778% 84.588169% 30.997279%);
    --palLavender-251: rgb(39.512484% 84.851475% 30.364234%);
    --palLavender-252: rgb(40.887749% 85.104339% 29.748583%);
    --palLavender-253: rgb(42.286581% 85.346311% 29.15719%);
    --palLavender-254: rgb(43.707091% 85.577071% 28.598374%);
    --palLavender-255: rgb(45.146975% 85.796396% 28.081359%);
    --palLavender-256: rgb(46.602713% 86.004302% 27.61668%);
}
