/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palLisbon-1: rgb(90.019% 89.986% 99.991%);
    --palLisbon-2: rgb(88.957% 89.21% 99.36%);
    --palLisbon-3: rgb(87.895% 88.435% 98.73%);
    --palLisbon-4: rgb(86.836% 87.66% 98.1%);
    --palLisbon-5: rgb(85.776% 86.888% 97.471%);
    --palLisbon-6: rgb(84.718% 86.115% 96.843%);
    --palLisbon-7: rgb(83.662% 85.344% 96.215%);
    --palLisbon-8: rgb(82.607% 84.574% 95.589%);
    --palLisbon-9: rgb(81.553% 83.806% 94.962%);
    --palLisbon-10: rgb(80.499% 83.038% 94.336%);
    --palLisbon-11: rgb(79.448% 82.271% 93.711%);
    --palLisbon-12: rgb(78.398% 81.505% 93.086%);
    --palLisbon-13: rgb(77.348% 80.74% 92.462%);
    --palLisbon-14: rgb(76.3% 79.976% 91.838%);
    --palLisbon-15: rgb(75.253% 79.212% 91.216%);
    --palLisbon-16: rgb(74.208% 78.45% 90.593%);
    --palLisbon-17: rgb(73.164% 77.688% 89.972%);
    --palLisbon-18: rgb(72.122% 76.927% 89.35%);
    --palLisbon-19: rgb(71.081% 76.167% 88.73%);
    --palLisbon-20: rgb(70.041% 75.408% 88.11%);
    --palLisbon-21: rgb(69.002% 74.649% 87.491%);
    --palLisbon-22: rgb(67.965% 73.892% 86.872%);
    --palLisbon-23: rgb(66.93% 73.134% 86.254%);
    --palLisbon-24: rgb(65.896% 72.378% 85.636%);
    --palLisbon-25: rgb(64.863% 71.623% 85.019%);
    --palLisbon-26: rgb(63.832% 70.868% 84.402%);
    --palLisbon-27: rgb(62.803% 70.113% 83.787%);
    --palLisbon-28: rgb(61.774% 69.36% 83.171%);
    --palLisbon-29: rgb(60.748% 68.607% 82.555%);
    --palLisbon-30: rgb(59.723% 67.854% 81.94%);
    --palLisbon-31: rgb(58.699% 67.103% 81.326%);
    --palLisbon-32: rgb(57.678% 66.352% 80.713%);
    --palLisbon-33: rgb(56.658% 65.601% 80.098%);
    --palLisbon-34: rgb(55.639% 64.85% 79.485%);
    --palLisbon-35: rgb(54.623% 64.1% 78.872%);
    --palLisbon-36: rgb(53.607% 63.351% 78.258%);
    --palLisbon-37: rgb(52.594% 62.601% 77.644%);
    --palLisbon-38: rgb(51.581% 61.852% 77.03%);
    --palLisbon-39: rgb(50.571% 61.104% 76.416%);
    --palLisbon-40: rgb(49.564% 60.355% 75.801%);
    --palLisbon-41: rgb(48.558% 59.606% 75.185%);
    --palLisbon-42: rgb(47.555% 58.857% 74.568%);
    --palLisbon-43: rgb(46.551% 58.109% 73.951%);
    --palLisbon-44: rgb(45.552% 57.361% 73.331%);
    --palLisbon-45: rgb(44.554% 56.612% 72.71%);
    --palLisbon-46: rgb(43.56% 55.862% 72.086%);
    --palLisbon-47: rgb(42.566% 55.113% 71.459%);
    --palLisbon-48: rgb(41.576% 54.363% 70.831%);
    --palLisbon-49: rgb(40.589% 53.612% 70.197%);
    --palLisbon-50: rgb(39.604% 52.861% 69.561%);
    --palLisbon-51: rgb(38.621% 52.108% 68.92%);
    --palLisbon-52: rgb(37.644% 51.355% 68.272%);
    --palLisbon-53: rgb(36.67% 50.6% 67.62%);
    --palLisbon-54: rgb(35.7% 49.846% 66.961%);
    --palLisbon-55: rgb(34.734% 49.09% 66.295%);
    --palLisbon-56: rgb(33.772% 48.331% 65.622%);
    --palLisbon-57: rgb(32.816% 47.573% 64.94%);
    --palLisbon-58: rgb(31.867% 46.812% 64.248%);
    --palLisbon-59: rgb(30.926% 46.051% 63.547%);
    --palLisbon-60: rgb(29.989% 45.291% 62.837%);
    --palLisbon-61: rgb(29.062% 44.528% 62.115%);
    --palLisbon-62: rgb(28.145% 43.766% 61.382%);
    --palLisbon-63: rgb(27.237% 43.002% 60.638%);
    --palLisbon-64: rgb(26.344% 42.238% 59.882%);
    --palLisbon-65: rgb(25.462% 41.477% 59.114%);
    --palLisbon-66: rgb(24.59% 40.715% 58.333%);
    --palLisbon-67: rgb(23.739% 39.954% 57.541%);
    --palLisbon-68: rgb(22.901% 39.196% 56.736%);
    --palLisbon-69: rgb(22.082% 38.44% 55.919%);
    --palLisbon-70: rgb(21.278% 37.688% 55.092%);
    --palLisbon-71: rgb(20.499% 36.938% 54.253%);
    --palLisbon-72: rgb(19.74% 36.193% 53.402%);
    --palLisbon-73: rgb(19.002% 35.453% 52.543%);
    --palLisbon-74: rgb(18.288% 34.718% 51.674%);
    --palLisbon-75: rgb(17.599% 33.988% 50.798%);
    --palLisbon-76: rgb(16.94% 33.265% 49.912%);
    --palLisbon-77: rgb(16.302% 32.546% 49.021%);
    --palLisbon-78: rgb(15.689% 31.838% 48.124%);
    --palLisbon-79: rgb(15.103% 31.136% 47.222%);
    --palLisbon-80: rgb(14.549% 30.442% 46.315%);
    --palLisbon-81: rgb(14.012% 29.756% 45.407%);
    --palLisbon-82: rgb(13.509% 29.078% 44.496%);
    --palLisbon-83: rgb(13.03% 28.408% 43.583%);
    --palLisbon-84: rgb(12.572% 27.748% 42.669%);
    --palLisbon-85: rgb(12.135% 27.096% 41.756%);
    --palLisbon-86: rgb(11.727% 26.45% 40.842%);
    --palLisbon-87: rgb(11.345% 25.812% 39.93%);
    --palLisbon-88: rgb(10.981% 25.186% 39.021%);
    --palLisbon-89: rgb(10.635% 24.564% 38.115%);
    --palLisbon-90: rgb(10.306% 23.952% 37.208%);
    --palLisbon-91: rgb(9.9941% 23.345% 36.307%);
    --palLisbon-92: rgb(9.7002% 22.75% 35.409%);
    --palLisbon-93: rgb(9.4303% 22.159% 34.515%);
    --palLisbon-94: rgb(9.1713% 21.576% 33.624%);
    --palLisbon-95: rgb(8.922% 20.999% 32.738%);
    --palLisbon-96: rgb(8.6919% 20.432% 31.857%);
    --palLisbon-97: rgb(8.4717% 19.867% 30.982%);
    --palLisbon-98: rgb(8.2644% 19.313% 30.108%);
    --palLisbon-99: rgb(8.0696% 18.768% 29.243%);
    --palLisbon-100: rgb(7.8849% 18.223% 28.382%);
    --palLisbon-101: rgb(7.7157% 17.692% 27.529%);
    --palLisbon-102: rgb(7.5616% 17.166% 26.679%);
    --palLisbon-103: rgb(7.4219% 16.651% 25.838%);
    --palLisbon-104: rgb(7.2907% 16.146% 25.002%);
    --palLisbon-105: rgb(7.1722% 15.647% 24.178%);
    --palLisbon-106: rgb(7.0637% 15.156% 23.358%);
    --palLisbon-107: rgb(6.9756% 14.679% 22.551%);
    --palLisbon-108: rgb(6.8993% 14.217% 21.752%);
    --palLisbon-109: rgb(6.8301% 13.767% 20.963%);
    --palLisbon-110: rgb(6.7772% 13.328% 20.186%);
    --palLisbon-111: rgb(6.7395% 12.903% 19.427%);
    --palLisbon-112: rgb(6.7165% 12.499% 18.675%);
    --palLisbon-113: rgb(6.7086% 12.11% 17.943%);
    --palLisbon-114: rgb(6.716% 11.745% 17.227%);
    --palLisbon-115: rgb(6.739% 11.4% 16.53%);
    --palLisbon-116: rgb(6.7779% 11.082% 15.86%);
    --palLisbon-117: rgb(6.8337% 10.781% 15.205%);
    --palLisbon-118: rgb(6.9084% 10.51% 14.582%);
    --palLisbon-119: rgb(6.9909% 10.272% 13.976%);
    --palLisbon-120: rgb(7.0958% 10.059% 13.409%);
    --palLisbon-121: rgb(7.215% 9.8812% 12.866%);
    --palLisbon-122: rgb(7.3639% 9.7347% 12.356%);
    --palLisbon-123: rgb(7.5176% 9.6199% 11.887%);
    --palLisbon-124: rgb(7.6956% 9.5493% 11.442%);
    --palLisbon-125: rgb(7.8977% 9.5119% 11.047%);
    --palLisbon-126: rgb(8.1272% 9.5095% 10.685%);
    --palLisbon-127: rgb(8.373% 9.5427% 10.358%);
    --palLisbon-128: rgb(8.6376% 9.61% 10.069%);
    --palLisbon-129: rgb(8.9318% 9.7212% 9.8263%);
    --palLisbon-130: rgb(9.2445% 9.8697% 9.6142%);
    --palLisbon-131: rgb(9.5823% 10.05% 9.4539%);
    --palLisbon-132: rgb(9.9434% 10.27% 9.3176%);
    --palLisbon-133: rgb(10.331% 10.518% 9.2312%);
    --palLisbon-134: rgb(10.736% 10.803% 9.1807%);
    --palLisbon-135: rgb(11.165% 11.122% 9.1623%);
    --palLisbon-136: rgb(11.615% 11.461% 9.1779%);
    --palLisbon-137: rgb(12.079% 11.839% 9.2234%);
    --palLisbon-138: rgb(12.572% 12.23% 9.2972%);
    --palLisbon-139: rgb(13.079% 12.655% 9.4115%);
    --palLisbon-140: rgb(13.596% 13.101% 9.548%);
    --palLisbon-141: rgb(14.139% 13.561% 9.7052%);
    --palLisbon-142: rgb(14.689% 14.047% 9.8938%);
    --palLisbon-143: rgb(15.255% 14.55% 10.101%);
    --palLisbon-144: rgb(15.837% 15.062% 10.334%);
    --palLisbon-145: rgb(16.427% 15.594% 10.58%);
    --palLisbon-146: rgb(17.026% 16.138% 10.841%);
    --palLisbon-147: rgb(17.633% 16.692% 11.128%);
    --palLisbon-148: rgb(18.252% 17.255% 11.419%);
    --palLisbon-149: rgb(18.882% 17.834% 11.728%);
    --palLisbon-150: rgb(19.515% 18.416% 12.049%);
    --palLisbon-151: rgb(20.155% 19.009% 12.381%);
    --palLisbon-152: rgb(20.805% 19.611% 12.723%);
    --palLisbon-153: rgb(21.458% 20.216% 13.079%);
    --palLisbon-154: rgb(22.119% 20.831% 13.438%);
    --palLisbon-155: rgb(22.783% 21.45% 13.805%);
    --palLisbon-156: rgb(23.454% 22.078% 14.177%);
    --palLisbon-157: rgb(24.127% 22.707% 14.559%);
    --palLisbon-158: rgb(24.807% 23.339% 14.942%);
    --palLisbon-159: rgb(25.49% 23.98% 15.33%);
    --palLisbon-160: rgb(26.176% 24.624% 15.725%);
    --palLisbon-161: rgb(26.868% 25.273% 16.129%);
    --palLisbon-162: rgb(27.563% 25.926% 16.528%);
    --palLisbon-163: rgb(28.262% 26.581% 16.941%);
    --palLisbon-164: rgb(28.963% 27.238% 17.349%);
    --palLisbon-165: rgb(29.669% 27.902% 17.766%);
    --palLisbon-166: rgb(30.376% 28.566% 18.179%);
    --palLisbon-167: rgb(31.09% 29.236% 18.603%);
    --palLisbon-168: rgb(31.804% 29.909% 19.023%);
    --palLisbon-169: rgb(32.522% 30.585% 19.452%);
    --palLisbon-170: rgb(33.245% 31.261% 19.876%);
    --palLisbon-171: rgb(33.97% 31.943% 20.308%);
    --palLisbon-172: rgb(34.697% 32.626% 20.741%);
    --palLisbon-173: rgb(35.426% 33.314% 21.177%);
    --palLisbon-174: rgb(36.16% 34.004% 21.615%);
    --palLisbon-175: rgb(36.896% 34.696% 22.055%);
    --palLisbon-176: rgb(37.635% 35.39% 22.493%);
    --palLisbon-177: rgb(38.376% 36.087% 22.938%);
    --palLisbon-178: rgb(39.12% 36.788% 23.384%);
    --palLisbon-179: rgb(39.866% 37.491% 23.833%);
    --palLisbon-180: rgb(40.617% 38.197% 24.285%);
    --palLisbon-181: rgb(41.369% 38.907% 24.741%);
    --palLisbon-182: rgb(42.124% 39.618% 25.198%);
    --palLisbon-183: rgb(42.882% 40.333% 25.657%);
    --palLisbon-184: rgb(43.643% 41.052% 26.122%);
    --palLisbon-185: rgb(44.408% 41.772% 26.59%);
    --palLisbon-186: rgb(45.174% 42.496% 27.062%);
    --palLisbon-187: rgb(45.943% 43.224% 27.538%);
    --palLisbon-188: rgb(46.716% 43.954% 28.017%);
    --palLisbon-189: rgb(47.492% 44.688% 28.502%);
    --palLisbon-190: rgb(48.269% 45.427% 28.994%);
    --palLisbon-191: rgb(49.051% 46.168% 29.492%);
    --palLisbon-192: rgb(49.836% 46.915% 29.998%);
    --palLisbon-193: rgb(50.622% 47.664% 30.51%);
    --palLisbon-194: rgb(51.414% 48.418% 31.031%);
    --palLisbon-195: rgb(52.207% 49.178% 31.56%);
    --palLisbon-196: rgb(53.005% 49.94% 32.098%);
    --palLisbon-197: rgb(53.805% 50.709% 32.645%);
    --palLisbon-198: rgb(54.608% 51.482% 33.206%);
    --palLisbon-199: rgb(55.413% 52.259% 33.776%);
    --palLisbon-200: rgb(56.223% 53.042% 34.359%);
    --palLisbon-201: rgb(57.033% 53.83% 34.955%);
    --palLisbon-202: rgb(57.847% 54.623% 35.565%);
    --palLisbon-203: rgb(58.663% 55.42% 36.188%);
    --palLisbon-204: rgb(59.481% 56.223% 36.826%);
    --palLisbon-205: rgb(60.301% 57.029% 37.478%);
    --palLisbon-206: rgb(61.122% 57.841% 38.147%);
    --palLisbon-207: rgb(61.944% 58.657% 38.831%);
    --palLisbon-208: rgb(62.766% 59.478% 39.532%);
    --palLisbon-209: rgb(63.589% 60.302% 40.247%);
    --palLisbon-210: rgb(64.412% 61.13% 40.981%);
    --palLisbon-211: rgb(65.234% 61.961% 41.731%);
    --palLisbon-212: rgb(66.055% 62.795% 42.496%);
    --palLisbon-213: rgb(66.876% 63.632% 43.277%);
    --palLisbon-214: rgb(67.694% 64.47% 44.072%);
    --palLisbon-215: rgb(68.51% 65.31% 44.885%);
    --palLisbon-216: rgb(69.323% 66.153% 45.711%);
    --palLisbon-217: rgb(70.133% 66.997% 46.551%);
    --palLisbon-218: rgb(70.942% 67.841% 47.407%);
    --palLisbon-219: rgb(71.746% 68.685% 48.274%);
    --palLisbon-220: rgb(72.547% 69.53% 49.156%);
    --palLisbon-221: rgb(73.343% 70.375% 50.046%);
    --palLisbon-222: rgb(74.136% 71.22% 50.95%);
    --palLisbon-223: rgb(74.926% 72.065% 51.864%);
    --palLisbon-224: rgb(75.712% 72.909% 52.786%);
    --palLisbon-225: rgb(76.495% 73.752% 53.719%);
    --palLisbon-226: rgb(77.273% 74.596% 54.66%);
    --palLisbon-227: rgb(78.049% 75.439% 55.608%);
    --palLisbon-228: rgb(78.821% 76.28% 56.564%);
    --palLisbon-229: rgb(79.59% 77.122% 57.527%);
    --palLisbon-230: rgb(80.357% 77.962% 58.497%);
    --palLisbon-231: rgb(81.121% 78.803% 59.472%);
    --palLisbon-232: rgb(81.882% 79.643% 60.453%);
    --palLisbon-233: rgb(82.642% 80.483% 61.437%);
    --palLisbon-234: rgb(83.4% 81.323% 62.428%);
    --palLisbon-235: rgb(84.156% 82.163% 63.423%);
    --palLisbon-236: rgb(84.911% 83.004% 64.421%);
    --palLisbon-237: rgb(85.665% 83.844% 65.423%);
    --palLisbon-238: rgb(86.419% 84.685% 66.429%);
    --palLisbon-239: rgb(87.171% 85.527% 67.438%);
    --palLisbon-240: rgb(87.923% 86.37% 68.45%);
    --palLisbon-241: rgb(88.675% 87.213% 69.466%);
    --palLisbon-242: rgb(89.427% 88.056% 70.484%);
    --palLisbon-243: rgb(90.179% 88.902% 71.505%);
    --palLisbon-244: rgb(90.931% 89.748% 72.53%);
    --palLisbon-245: rgb(91.683% 90.595% 73.555%);
    --palLisbon-246: rgb(92.435% 91.443% 74.584%);
    --palLisbon-247: rgb(93.188% 92.293% 75.615%);
    --palLisbon-248: rgb(93.942% 93.143% 76.649%);
    --palLisbon-249: rgb(94.696% 93.996% 77.685%);
    --palLisbon-250: rgb(95.45% 94.849% 78.723%);
    --palLisbon-251: rgb(96.204% 95.704% 79.763%);
    --palLisbon-252: rgb(96.96% 96.56% 80.806%);
    --palLisbon-253: rgb(97.716% 97.418% 81.851%);
    --palLisbon-254: rgb(98.473% 98.277% 82.899%);
    --palLisbon-255: rgb(99.23% 99.138% 83.948%);
    --palLisbon-256: rgb(99.987% 100% 84.999%);
}
