/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMargot2-1: rgb(46.27451% 54.509804% 57.647059%);
    --palMargot2-2: rgb(73.72549% 14.117647% 5.882353%);
    --palMargot2-3: rgb(97.647059% 92.54902% 77.254902%);
    --palMargot2-4: rgb(83.137255% 45.098039% 16.078431%);
}
