/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMint-1: rgb(89.411765% 94.509804% 88.235294%);
    --palMint-2: rgb(70.588235% 85.098039% 80%);
    --palMint-3: rgb(53.72549% 75.294118% 71.372549%);
    --palMint-4: rgb(38.823529% 65.098039% 62.745098%);
    --palMint-5: rgb(26.666667% 54.901961% 54.117647%);
    --palMint-6: rgb(15.686275% 44.705882% 45.490196%);
    --palMint-7: rgb(5.098039% 34.509804% 37.254902%);
}
