/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPetroff8-1: rgb(9.411765% 27.058824% 98.431373%);
    --palPetroff8-2: rgb(100% 36.862745% 0.784314%);
    --palPetroff8-3: rgb(78.823529% 12.156863% 8.627451%);
    --palPetroff8-4: rgb(78.431373% 28.627451% 66.27451%);
    --palPetroff8-5: rgb(67.843137% 67.843137% 49.019608%);
    --palPetroff8-6: rgb(52.54902% 78.431373% 86.666667%);
    --palPetroff8-7: rgb(34.117647% 55.294118% 100%);
    --palPetroff8-8: rgb(39.607843% 38.823529% 39.215686%);
}
