/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPlotly-1: rgb(38.823529% 43.137255% 98.039216%);
    --palPlotly-2: rgb(93.72549% 33.333333% 23.137255%);
    --palPlotly-3: rgb(0% 80% 58.823529%);
    --palPlotly-4: rgb(67.058824% 38.823529% 98.039216%);
    --palPlotly-5: rgb(100% 63.137255% 35.294118%);
    --palPlotly-6: rgb(9.803922% 82.745098% 95.294118%);
    --palPlotly-7: rgb(100% 40% 57.254902%);
    --palPlotly-8: rgb(71.372549% 90.980392% 50.196078%);
    --palPlotly-9: rgb(100% 59.215686% 100%);
    --palPlotly-10: rgb(99.607843% 79.607843% 32.156863%);
}
