/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPrinsenvlag-1: rgb(66.652292% 32.162285% 27.174824%);
    --palPrinsenvlag-2: rgb(66.968836% 32.287871% 26.984798%);
    --palPrinsenvlag-3: rgb(67.284074% 32.414922% 26.792319%);
    --palPrinsenvlag-4: rgb(67.597985% 32.543464% 26.597376%);
    --palPrinsenvlag-5: rgb(67.910534% 32.673527% 26.400015%);
    --palPrinsenvlag-6: rgb(68.221702% 32.805138% 26.200216%);
    --palPrinsenvlag-7: rgb(68.531458% 32.938325% 25.998004%);
    --palPrinsenvlag-8: rgb(68.839773% 33.073119% 25.793405%);
    --palPrinsenvlag-9: rgb(69.146625% 33.209542% 25.586399%);
    --palPrinsenvlag-10: rgb(69.451985% 33.347626% 25.377011%);
    --palPrinsenvlag-11: rgb(69.755822% 33.487397% 25.16526%);
    --palPrinsenvlag-12: rgb(70.058111% 33.628884% 24.951152%);
    --palPrinsenvlag-13: rgb(70.358827% 33.77211% 24.734669%);
    --palPrinsenvlag-14: rgb(70.657939% 33.917104% 24.515846%);
    --palPrinsenvlag-15: rgb(70.955417% 34.063895% 24.294689%);
    --palPrinsenvlag-16: rgb(71.251235% 34.212507% 24.071203%);
    --palPrinsenvlag-17: rgb(71.545364% 34.362966% 23.845388%);
    --palPrinsenvlag-18: rgb(71.837777% 34.515299% 23.617239%);
    --palPrinsenvlag-19: rgb(72.128444% 34.669531% 23.386773%);
    --palPrinsenvlag-20: rgb(72.417334% 34.825688% 23.153995%);
    --palPrinsenvlag-21: rgb(72.704419% 34.983796% 22.918904%);
    --palPrinsenvlag-22: rgb(72.989669% 35.143879% 22.681502%);
    --palPrinsenvlag-23: rgb(73.273055% 35.305963% 22.441788%);
    --palPrinsenvlag-24: rgb(73.554545% 35.470071% 22.199761%);
    --palPrinsenvlag-25: rgb(73.834111% 35.636229% 21.955419%);
    --palPrinsenvlag-26: rgb(74.111719% 35.80446% 21.708757%);
    --palPrinsenvlag-27: rgb(74.38734% 35.974788% 21.459773%);
    --palPrinsenvlag-28: rgb(74.660943% 36.147237% 21.208459%);
    --palPrinsenvlag-29: rgb(74.932494% 36.321831% 20.954809%);
    --palPrinsenvlag-30: rgb(75.201961% 36.498591% 20.698815%);
    --palPrinsenvlag-31: rgb(75.469313% 36.677542% 20.440468%);
    --palPrinsenvlag-32: rgb(75.734515% 36.858705% 20.179755%);
    --palPrinsenvlag-33: rgb(75.997534% 37.042103% 19.916666%);
    --palPrinsenvlag-34: rgb(76.258336% 37.227759% 19.651187%);
    --palPrinsenvlag-35: rgb(76.516888% 37.415694% 19.383281%);
    --palPrinsenvlag-36: rgb(76.773152% 37.605929% 19.11295%);
    --palPrinsenvlag-37: rgb(77.027094% 37.798487% 18.840175%);
    --palPrinsenvlag-38: rgb(77.278677% 37.993388% 18.564938%);
    --palPrinsenvlag-39: rgb(77.527865% 38.190653% 18.287207%);
    --palPrinsenvlag-40: rgb(77.774619% 38.390304% 18.006945%);
    --palPrinsenvlag-41: rgb(78.018902% 38.59236% 17.724148%);
    --palPrinsenvlag-42: rgb(78.260674% 38.796842% 17.43879%);
    --palPrinsenvlag-43: rgb(78.499896% 39.003772% 17.150803%);
    --palPrinsenvlag-44: rgb(78.736528% 39.213167% 16.860194%);
    --palPrinsenvlag-45: rgb(78.970528% 39.425049% 16.566921%);
    --palPrinsenvlag-46: rgb(79.201853% 39.639437% 16.270924%);
    --palPrinsenvlag-47: rgb(79.430463% 39.856349% 15.972204%);
    --palPrinsenvlag-48: rgb(79.65631% 40.075807% 15.67068%);
    --palPrinsenvlag-49: rgb(79.879353% 40.297828% 15.366349%);
    --palPrinsenvlag-50: rgb(80.099544% 40.522432% 15.059138%);
    --palPrinsenvlag-51: rgb(80.316837% 40.749637% 14.749033%);
    --palPrinsenvlag-52: rgb(80.531182% 40.979463% 14.435955%);
    --palPrinsenvlag-53: rgb(80.742534% 41.211926% 14.119902%);
    --palPrinsenvlag-54: rgb(80.95084% 41.447048% 13.800779%);
    --palPrinsenvlag-55: rgb(81.15605% 41.684844% 13.478582%);
    --palPrinsenvlag-56: rgb(81.358111% 41.925331% 13.153257%);
    --palPrinsenvlag-57: rgb(81.556969% 42.168531% 12.824736%);
    --palPrinsenvlag-58: rgb(81.752571% 42.414458% 12.49301%);
    --palPrinsenvlag-59: rgb(81.944861% 42.663128% 12.158038%);
    --palPrinsenvlag-60: rgb(82.13378% 42.914562% 11.819759%);
    --palPrinsenvlag-61: rgb(82.31927% 43.168774% 11.478165%);
    --palPrinsenvlag-62: rgb(82.501272% 43.42578% 11.13324%);
    --palPrinsenvlag-63: rgb(82.679726% 43.685595% 10.784972%);
    --palPrinsenvlag-64: rgb(82.854569% 43.948235% 10.433361%);
    --palPrinsenvlag-65: rgb(83.025738% 44.213716% 10.078423%);
    --palPrinsenvlag-66: rgb(83.193167% 44.482051% 9.720189%);
    --palPrinsenvlag-67: rgb(83.356792% 44.753254% 9.358723%);
    --palPrinsenvlag-68: rgb(83.516545% 45.027336% 8.994121%);
    --palPrinsenvlag-69: rgb(83.67236% 45.304311% 8.626511%);
    --palPrinsenvlag-70: rgb(83.824169% 45.584187% 8.256067%);
    --palPrinsenvlag-71: rgb(83.9719% 45.866977% 7.883012%);
    --palPrinsenvlag-72: rgb(84.115485% 46.152687% 7.507655%);
    --palPrinsenvlag-73: rgb(84.254855% 46.441325% 7.130387%);
    --palPrinsenvlag-74: rgb(84.389938% 46.732893% 6.751708%);
    --palPrinsenvlag-75: rgb(84.520666% 47.027397% 6.372252%);
    --palPrinsenvlag-76: rgb(84.64697% 47.324835% 5.992817%);
    --palPrinsenvlag-77: rgb(84.768772% 47.625214% 5.614369%);
    --palPrinsenvlag-78: rgb(84.886013% 47.928522% 5.238195%);
    --palPrinsenvlag-79: rgb(84.998625% 48.234752% 4.865862%);
    --palPrinsenvlag-80: rgb(85.106537% 48.543901% 4.499272%);
    --palPrinsenvlag-81: rgb(85.209693% 48.85595% 4.140848%);
    --palPrinsenvlag-82: rgb(85.308031% 49.170881% 3.793938%);
    --palPrinsenvlag-83: rgb(85.401492% 49.488677% 3.476136%);
    --palPrinsenvlag-84: rgb(85.490031% 49.809305% 3.191223%);
    --palPrinsenvlag-85: rgb(85.573592% 50.132741% 2.94066%);
    --palPrinsenvlag-86: rgb(85.652143% 50.45894% 2.726055%);
    --palPrinsenvlag-87: rgb(85.725644% 50.787865% 2.549044%);
    --palPrinsenvlag-88: rgb(85.794069% 51.119464% 2.411375%);
    --palPrinsenvlag-89: rgb(85.857405% 51.453678% 2.314872%);
    --palPrinsenvlag-90: rgb(85.915633% 51.79045% 2.261415%);
    --palPrinsenvlag-91: rgb(85.968763% 52.129702% 2.253001%);
    --palPrinsenvlag-92: rgb(86.016808% 52.471357% 2.291681%);
    --palPrinsenvlag-93: rgb(86.059788% 52.81533% 2.379575%);
    --palPrinsenvlag-94: rgb(86.097746% 53.161522% 2.518883%);
    --palPrinsenvlag-95: rgb(86.130736% 53.50983% 2.711862%);
    --palPrinsenvlag-96: rgb(86.158824% 53.86014% 2.960822%);
    --palPrinsenvlag-97: rgb(86.182093% 54.212333% 3.268122%);
    --palPrinsenvlag-98: rgb(86.200643% 54.566279% 3.636157%);
    --palPrinsenvlag-99: rgb(86.21459% 54.921839% 4.066935%);
    --palPrinsenvlag-100: rgb(86.224067% 55.278871% 4.537505%);
    --palPrinsenvlag-101: rgb(86.22922% 55.637222% 5.037523%);
    --palPrinsenvlag-102: rgb(86.230215% 55.996736% 5.562905%);
    --palPrinsenvlag-103: rgb(86.22723% 56.357252% 6.11014%);
    --palPrinsenvlag-104: rgb(86.220459% 56.718603% 6.676235%);
    --palPrinsenvlag-105: rgb(86.210105% 57.080622% 7.258649%);
    --palPrinsenvlag-106: rgb(86.196391% 57.443138% 7.855219%);
    --palPrinsenvlag-107: rgb(86.179544% 57.80598% 8.464111%);
    --palPrinsenvlag-108: rgb(86.159796% 58.168982% 9.08376%);
    --palPrinsenvlag-109: rgb(86.137394% 58.531976% 9.712816%);
    --palPrinsenvlag-110: rgb(86.112589% 58.894796% 10.350103%);
    --palPrinsenvlag-111: rgb(86.085618% 59.257291% 10.994631%);
    --palPrinsenvlag-112: rgb(86.056752% 59.619297% 11.645481%);
    --palPrinsenvlag-113: rgb(86.02622% 59.980681% 12.301903%);
    --palPrinsenvlag-114: rgb(85.99429% 60.341292% 12.963172%);
    --palPrinsenvlag-115: rgb(85.96118% 60.701014% 13.628713%);
    --palPrinsenvlag-116: rgb(85.927159% 61.059708% 14.297921%);
    --palPrinsenvlag-117: rgb(85.892431% 61.417274% 14.970344%);
    --palPrinsenvlag-118: rgb(85.857219% 61.77361% 15.645538%);
    --palPrinsenvlag-119: rgb(85.821749% 62.128613% 16.323078%);
    --palPrinsenvlag-120: rgb(85.786223% 62.4822% 17.002606%);
    --palPrinsenvlag-121: rgb(85.750826% 62.834299% 17.68381%);
    --palPrinsenvlag-122: rgb(85.71574% 63.184844% 18.366396%);
    --palPrinsenvlag-123: rgb(85.681139% 63.533775% 19.050095%);
    --palPrinsenvlag-124: rgb(85.647182% 63.881043% 19.734673%);
    --palPrinsenvlag-125: rgb(85.614018% 64.226607% 20.419916%);
    --palPrinsenvlag-126: rgb(85.581797% 64.570426% 21.105611%);
    --palPrinsenvlag-127: rgb(85.550652% 64.912471% 21.791578%);
    --palPrinsenvlag-128: rgb(85.520682% 65.25273% 22.4777%);
    --palPrinsenvlag-129: rgb(85.492% 65.591186% 23.163833%);
    --palPrinsenvlag-130: rgb(85.464743% 65.927812% 23.849786%);
    --palPrinsenvlag-131: rgb(85.438946% 66.262629% 24.535558%);
    --palPrinsenvlag-132: rgb(85.414767% 66.595602% 25.22091%);
    --palPrinsenvlag-133: rgb(85.392217% 66.926764% 25.905882%);
    --palPrinsenvlag-134: rgb(85.371404% 67.256104% 26.590324%);
    --palPrinsenvlag-135: rgb(85.352395% 67.583631% 27.274161%);
    --palPrinsenvlag-136: rgb(85.335228% 67.909366% 27.957374%);
    --palPrinsenvlag-137: rgb(85.319962% 68.233319% 28.639895%);
    --palPrinsenvlag-138: rgb(85.30665% 68.555506% 29.321666%);
    --palPrinsenvlag-139: rgb(85.295346% 68.87594% 30.002626%);
    --palPrinsenvlag-140: rgb(85.286083% 69.194644% 30.682747%);
    --palPrinsenvlag-141: rgb(85.278889% 69.511642% 31.36201%);
    --palPrinsenvlag-142: rgb(85.273808% 69.826951% 32.040362%);
    --palPrinsenvlag-143: rgb(85.270868% 70.140596% 32.71778%);
    --palPrinsenvlag-144: rgb(85.270086% 70.452602% 33.394255%);
    --palPrinsenvlag-145: rgb(85.271482% 70.762997% 34.069777%);
    --palPrinsenvlag-146: rgb(85.275069% 71.071808% 34.74434%);
    --palPrinsenvlag-147: rgb(85.280888% 71.379052% 35.417884%);
    --palPrinsenvlag-148: rgb(85.288958% 71.684754% 36.090388%);
    --palPrinsenvlag-149: rgb(85.299252% 71.988956% 36.761926%);
    --palPrinsenvlag-150: rgb(85.311838% 72.291662% 37.43237%);
    --palPrinsenvlag-151: rgb(85.326681% 72.592917% 38.10181%);
    --palPrinsenvlag-152: rgb(85.343819% 72.892736% 38.770173%);
    --palPrinsenvlag-153: rgb(85.363235% 73.191156% 39.437512%);
    --palPrinsenvlag-154: rgb(85.384974% 73.488187% 40.103733%);
    --palPrinsenvlag-155: rgb(85.408988% 73.783876% 40.768951%);
    --palPrinsenvlag-156: rgb(85.43534% 74.078227% 41.43303%);
    --palPrinsenvlag-157: rgb(85.464002% 74.371278% 42.09604%);
    --palPrinsenvlag-158: rgb(85.494966% 74.663059% 42.758%);
    --palPrinsenvlag-159: rgb(85.52825% 74.953588% 43.418872%);
    --palPrinsenvlag-160: rgb(85.56388% 75.242883% 44.078595%);
    --palPrinsenvlag-161: rgb(85.601825% 75.530979% 44.737242%);
    --palPrinsenvlag-162: rgb(85.64209% 75.817899% 45.394799%);
    --palPrinsenvlag-163: rgb(85.684677% 76.103667% 46.05126%);
    --palPrinsenvlag-164: rgb(85.729588% 76.388305% 46.706615%);
    --palPrinsenvlag-165: rgb(85.776824% 76.671837% 47.360858%);
    --palPrinsenvlag-166: rgb(85.826385% 76.954286% 48.013984%);
    --palPrinsenvlag-167: rgb(85.878269% 77.235673% 48.66599%);
    --palPrinsenvlag-168: rgb(85.932475% 77.516022% 49.316871%);
    --palPrinsenvlag-169: rgb(85.989001% 77.795355% 49.966626%);
    --palPrinsenvlag-170: rgb(86.047843% 78.073694% 50.615255%);
    --palPrinsenvlag-171: rgb(86.108997% 78.351061% 51.262756%);
    --palPrinsenvlag-172: rgb(86.17246% 78.627477% 51.909132%);
    --palPrinsenvlag-173: rgb(86.238226% 78.902964% 52.554383%);
    --palPrinsenvlag-174: rgb(86.30631% 79.177539% 53.198463%);
    --palPrinsenvlag-175: rgb(86.376711% 79.45122% 53.84136%);
    --palPrinsenvlag-176: rgb(86.449402% 79.724034% 54.483129%);
    --palPrinsenvlag-177: rgb(86.524379% 79.996% 55.123773%);
    --palPrinsenvlag-178: rgb(86.601662% 80.267133% 55.763225%);
    --palPrinsenvlag-179: rgb(86.681248% 80.537451% 56.401474%);
    --palPrinsenvlag-180: rgb(86.763102% 80.80698% 57.038602%);
    --palPrinsenvlag-181: rgb(86.847249% 81.075732% 57.674529%);
    --palPrinsenvlag-182: rgb(86.933689% 81.343725% 58.309237%);
    --palPrinsenvlag-183: rgb(87.022379% 81.610986% 58.942831%);
    --palPrinsenvlag-184: rgb(87.11338% 81.877517% 59.575121%);
    --palPrinsenvlag-185: rgb(87.206627% 82.14335% 60.206278%);
    --palPrinsenvlag-186: rgb(87.302157% 82.408493% 60.836178%);
    --palPrinsenvlag-187: rgb(87.399941% 82.672968% 61.464885%);
    --palPrinsenvlag-188: rgb(87.499995% 82.936788% 62.092341%);
    --palPrinsenvlag-189: rgb(87.602298% 83.199973% 62.718585%);
    --palPrinsenvlag-190: rgb(87.706868% 83.462534% 63.343547%);
    --palPrinsenvlag-191: rgb(87.81367% 83.724494% 63.967316%);
    --palPrinsenvlag-192: rgb(87.922749% 83.98586% 64.589737%);
    --palPrinsenvlag-193: rgb(88.034046% 84.246656% 65.210971%);
    --palPrinsenvlag-194: rgb(88.147609% 84.506889% 65.830854%);
    --palPrinsenvlag-195: rgb(88.263406% 84.766578% 66.449469%);
    --palPrinsenvlag-196: rgb(88.381421% 85.025741% 67.066844%);
    --palPrinsenvlag-197: rgb(88.501708% 85.284383% 67.682796%);
    --palPrinsenvlag-198: rgb(88.624212% 85.542527% 68.29748%);
    --palPrinsenvlag-199: rgb(88.748934% 85.800184% 68.910877%);
    --palPrinsenvlag-200: rgb(88.875913% 86.057364% 69.522843%);
    --palPrinsenvlag-201: rgb(89.005116% 86.314085% 70.133472%);
    --palPrinsenvlag-202: rgb(89.136537% 86.570359% 70.742766%);
    --palPrinsenvlag-203: rgb(89.270182% 86.826198% 71.350695%);
    --palPrinsenvlag-204: rgb(89.40608% 87.081612% 71.957145%);
    --palPrinsenvlag-205: rgb(89.5442% 87.336617% 72.562208%);
    --palPrinsenvlag-206: rgb(89.684544% 87.591224% 73.165864%);
    --palPrinsenvlag-207: rgb(89.827117% 87.845445% 73.768094%);
    --palPrinsenvlag-208: rgb(89.971922% 88.09929% 74.368874%);
    --palPrinsenvlag-209: rgb(90.118983% 88.352769% 74.968111%);
    --palPrinsenvlag-210: rgb(90.268282% 88.605894% 75.565865%);
    --palPrinsenvlag-211: rgb(90.419826% 88.858675% 76.162114%);
    --palPrinsenvlag-212: rgb(90.57362% 89.111122% 76.756834%);
    --palPrinsenvlag-213: rgb(90.729672% 89.363244% 77.350003%);
    --palPrinsenvlag-214: rgb(90.887991% 89.61505% 77.941595%);
    --palPrinsenvlag-215: rgb(91.048587% 89.866548% 78.531584%);
    --palPrinsenvlag-216: rgb(91.211471% 90.117745% 79.119942%);
    --palPrinsenvlag-217: rgb(91.376657% 90.36865% 79.70664%);
    --palPrinsenvlag-218: rgb(91.54416% 90.619267% 80.291648%);
    --palPrinsenvlag-219: rgb(91.713997% 90.869604% 80.874931%);
    --palPrinsenvlag-220: rgb(91.886189% 91.119665% 81.456449%);
    --palPrinsenvlag-221: rgb(92.060755% 91.369454% 82.036176%);
    --palPrinsenvlag-222: rgb(92.23772% 91.618974% 82.614071%);
    --palPrinsenvlag-223: rgb(92.417113% 91.868228% 83.19009%);
    --palPrinsenvlag-224: rgb(92.59897% 92.117216% 83.764173%);
    --palPrinsenvlag-225: rgb(92.783327% 92.365938% 84.336269%);
    --palPrinsenvlag-226: rgb(92.970225% 92.614392% 84.90632%);
    --palPrinsenvlag-227: rgb(93.159713% 92.862574% 85.474261%);
    --palPrinsenvlag-228: rgb(93.351846% 93.11048% 86.040018%);
    --palPrinsenvlag-229: rgb(93.546686% 93.3581% 86.603506%);
    --palPrinsenvlag-230: rgb(93.744305% 93.605426% 87.164632%);
    --palPrinsenvlag-231: rgb(93.944783% 93.852446% 87.723287%);
    --palPrinsenvlag-232: rgb(94.148212% 94.099143% 88.279346%);
    --palPrinsenvlag-233: rgb(94.354698% 94.345501% 88.832666%);
    --palPrinsenvlag-234: rgb(94.564358% 94.591498% 89.383078%);
    --palPrinsenvlag-235: rgb(94.777329% 94.83711% 89.930379%);
    --palPrinsenvlag-236: rgb(94.993767% 95.082312% 90.474288%);
    --palPrinsenvlag-237: rgb(95.213831% 95.327074% 91.014586%);
    --palPrinsenvlag-238: rgb(95.437706% 95.571365% 91.550948%);
    --palPrinsenvlag-239: rgb(95.66559% 95.815155% 92.082985%);
    --palPrinsenvlag-240: rgb(95.89769% 96.05842% 92.610239%);
    --palPrinsenvlag-241: rgb(96.134214% 96.301143% 93.132139%);
    --palPrinsenvlag-242: rgb(96.37535% 96.54333% 93.64801%);
    --palPrinsenvlag-243: rgb(96.621233% 96.785008% 94.157169%);
    --palPrinsenvlag-244: rgb(96.871915% 97.02625% 94.658784%);
    --palPrinsenvlag-245: rgb(97.127307% 97.267194% 95.151959%);
    --palPrinsenvlag-246: rgb(97.387107% 97.508065% 95.635746%);
    --palPrinsenvlag-247: rgb(97.650729% 97.749181% 96.109394%);
    --palPrinsenvlag-248: rgb(97.917255% 97.990965% 96.572405%);
    --palPrinsenvlag-249: rgb(98.185438% 98.233926% 97.024699%);
    --palPrinsenvlag-250: rgb(98.45378% 98.478616% 97.466743%);
    --palPrinsenvlag-251: rgb(98.72072% 98.72553% 97.899779%);
    --palPrinsenvlag-252: rgb(98.984857% 98.97504% 98.325623%);
    --palPrinsenvlag-253: rgb(99.245167% 99.227335% 98.746436%);
    --palPrinsenvlag-254: rgb(99.501113% 99.482402% 99.164431%);
    --palPrinsenvlag-255: rgb(99.752626% 99.740053% 99.581723%);
    --palPrinsenvlag-256: rgb(100% 100% 100%);
    --palPrinsenvlag-257: rgb(99.560484% 99.797777% 99.750848%);
    --palPrinsenvlag-258: rgb(99.117312% 99.59749% 99.502498%);
    --palPrinsenvlag-259: rgb(98.670793% 99.398996% 99.25499%);
    --palPrinsenvlag-260: rgb(98.221168% 99.202175% 99.008394%);
    --palPrinsenvlag-261: rgb(97.768629% 99.006925% 98.762791%);
    --palPrinsenvlag-262: rgb(97.313327% 98.813162% 98.518267%);
    --palPrinsenvlag-263: rgb(96.855381% 98.620812% 98.274909%);
    --palPrinsenvlag-264: rgb(96.394888% 98.429814% 98.032799%);
    --palPrinsenvlag-265: rgb(95.931925% 98.240112% 97.792018%);
    --palPrinsenvlag-266: rgb(95.466497% 98.051679% 97.552649%);
    --palPrinsenvlag-267: rgb(94.998687% 97.864459% 97.314762%);
    --palPrinsenvlag-268: rgb(94.52855% 97.678408% 97.078428%);
    --palPrinsenvlag-269: rgb(94.056119% 97.493488% 96.843714%);
    --palPrinsenvlag-270: rgb(93.581368% 97.309685% 96.610692%);
    --palPrinsenvlag-271: rgb(93.10431% 97.126972% 96.379428%);
    --palPrinsenvlag-272: rgb(92.625013% 96.945298% 96.149978%);
    --palPrinsenvlag-273: rgb(92.143452% 96.764651% 95.922409%);
    --palPrinsenvlag-274: rgb(91.659574% 96.585024% 95.696791%);
    --palPrinsenvlag-275: rgb(91.173479% 96.406358% 95.473171%);
    --palPrinsenvlag-276: rgb(90.685073% 96.228663% 95.251624%);
    --palPrinsenvlag-277: rgb(90.194394% 96.051902% 95.032203%);
    --palPrinsenvlag-278: rgb(89.701445% 95.876048% 94.81497%);
    --palPrinsenvlag-279: rgb(89.20616% 95.701101% 94.599995%);
    --palPrinsenvlag-280: rgb(88.708603% 95.527014% 94.387328%);
    --palPrinsenvlag-281: rgb(88.208682% 95.353793% 94.177045%);
    --palPrinsenvlag-282: rgb(87.70645% 95.181396% 93.9692%);
    --palPrinsenvlag-283: rgb(87.201864% 95.009811% 93.763862%);
    --palPrinsenvlag-284: rgb(86.694886% 94.839025% 93.5611%);
    --palPrinsenvlag-285: rgb(86.18558% 94.668991% 93.360967%);
    --palPrinsenvlag-286: rgb(85.673821% 94.499724% 93.163553%);
    --palPrinsenvlag-287: rgb(85.159664% 94.331179% 92.968913%);
    --palPrinsenvlag-288: rgb(84.643115% 94.163327% 92.777111%);
    --palPrinsenvlag-289: rgb(84.124121% 93.996157% 92.588229%);
    --palPrinsenvlag-290: rgb(83.602639% 93.829656% 92.402347%);
    --palPrinsenvlag-291: rgb(83.078714% 93.663781% 92.219526%);
    --palPrinsenvlag-292: rgb(82.552331% 93.498508% 92.039842%);
    --palPrinsenvlag-293: rgb(82.023476% 93.333812% 91.863374%);
    --palPrinsenvlag-294: rgb(81.492141% 93.169667% 91.6902%);
    --palPrinsenvlag-295: rgb(80.958318% 93.006045% 91.520401%);
    --palPrinsenvlag-296: rgb(80.422006% 92.842917% 91.354057%);
    --palPrinsenvlag-297: rgb(79.883207% 92.680252% 91.191251%);
    --palPrinsenvlag-298: rgb(79.341929% 92.518015% 91.032064%);
    --palPrinsenvlag-299: rgb(78.798186% 92.356172% 90.87658%);
    --palPrinsenvlag-300: rgb(78.251997% 92.194687% 90.724881%);
    --palPrinsenvlag-301: rgb(77.703386% 92.03352% 90.577049%);
    --palPrinsenvlag-302: rgb(77.152388% 91.87263% 90.433167%);
    --palPrinsenvlag-303: rgb(76.599037% 91.711974% 90.293319%);
    --palPrinsenvlag-304: rgb(76.043294% 91.551533% 90.157615%);
    --palPrinsenvlag-305: rgb(75.485295% 91.391234% 90.02611%);
    --palPrinsenvlag-306: rgb(74.925107% 91.231028% 89.898879%);
    --palPrinsenvlag-307: rgb(74.362688% 91.070893% 89.776045%);
    --palPrinsenvlag-308: rgb(73.798217% 90.91075% 89.657646%);
    --palPrinsenvlag-309: rgb(73.231718% 90.75056% 89.543782%);
    --palPrinsenvlag-310: rgb(72.663309% 90.590259% 89.434516%);
    --palPrinsenvlag-311: rgb(72.093071% 90.429795% 89.329931%);
    --palPrinsenvlag-312: rgb(71.521168% 90.269097% 89.230072%);
    --palPrinsenvlag-313: rgb(70.947638% 90.108122% 89.13504%);
    --palPrinsenvlag-314: rgb(70.372709% 89.946784% 89.044854%);
    --palPrinsenvlag-315: rgb(69.796522% 89.78502% 88.95957%);
    --palPrinsenvlag-316: rgb(69.219175% 89.622778% 88.879265%);
    --palPrinsenvlag-317: rgb(68.640914% 89.459972% 88.803945%);
    --palPrinsenvlag-318: rgb(68.061927% 89.29653% 88.733641%);
    --palPrinsenvlag-319: rgb(67.482419% 89.132382% 88.668375%);
    --palPrinsenvlag-320: rgb(66.902611% 88.967454% 88.608158%);
    --palPrinsenvlag-321: rgb(66.322736% 88.801671% 88.55299%);
    --palPrinsenvlag-322: rgb(65.743045% 88.634959% 88.502859%);
    --palPrinsenvlag-323: rgb(65.1638% 88.467242% 88.457743%);
    --palPrinsenvlag-324: rgb(64.585276% 88.298445% 88.417606%);
    --palPrinsenvlag-325: rgb(64.007758% 88.128496% 88.382399%);
    --palPrinsenvlag-326: rgb(63.43154% 87.95732% 88.352064%);
    --palPrinsenvlag-327: rgb(62.856925% 87.784849% 88.326526%);
    --palPrinsenvlag-328: rgb(62.28422% 87.611015% 88.305702%);
    --palPrinsenvlag-329: rgb(61.713731% 87.435753% 88.289499%);
    --palPrinsenvlag-330: rgb(61.145756% 87.259004% 88.277819%);
    --palPrinsenvlag-331: rgb(60.58063% 87.080707% 88.270531%);
    --palPrinsenvlag-332: rgb(60.018662% 86.90081% 88.267507%);
    --palPrinsenvlag-333: rgb(59.460149% 86.719263% 88.268617%);
    --palPrinsenvlag-334: rgb(58.90539% 86.536025% 88.273719%);
    --palPrinsenvlag-335: rgb(58.354691% 86.351053% 88.282652%);
    --palPrinsenvlag-336: rgb(57.808328% 86.164315% 88.295263%);
    --palPrinsenvlag-337: rgb(57.266569% 85.975783% 88.311394%);
    --palPrinsenvlag-338: rgb(56.729683% 85.785431% 88.330873%);
    --palPrinsenvlag-339: rgb(56.197909% 85.593244% 88.353536%);
    --palPrinsenvlag-340: rgb(55.671481% 85.399208% 88.379214%);
    --palPrinsenvlag-341: rgb(55.150615% 85.203315% 88.407738%);
    --palPrinsenvlag-342: rgb(54.635509% 85.005563% 88.438943%);
    --palPrinsenvlag-343: rgb(54.126347% 84.805952% 88.472662%);
    --palPrinsenvlag-344: rgb(53.623294% 84.60449% 88.508736%);
    --palPrinsenvlag-345: rgb(53.126502% 84.401185% 88.547004%);
    --palPrinsenvlag-346: rgb(52.636103% 84.196053% 88.587318%);
    --palPrinsenvlag-347: rgb(52.152217% 83.98911% 88.629527%);
    --palPrinsenvlag-348: rgb(51.674947% 83.780375% 88.67349%);
    --palPrinsenvlag-349: rgb(51.204377% 83.569873% 88.719075%);
    --palPrinsenvlag-350: rgb(50.740589% 83.357627% 88.766147%);
    --palPrinsenvlag-351: rgb(50.283642% 83.143665% 88.814586%);
    --palPrinsenvlag-352: rgb(49.833583% 82.928015% 88.86428%);
    --palPrinsenvlag-353: rgb(49.390456% 82.710707% 88.915114%);
    --palPrinsenvlag-354: rgb(48.95429% 82.491772% 88.966986%);
    --palPrinsenvlag-355: rgb(48.5251% 82.271241% 89.019804%);
    --palPrinsenvlag-356: rgb(48.102899% 82.049147% 89.07348%);
    --palPrinsenvlag-357: rgb(47.6877% 81.825522% 89.127918%);
    --palPrinsenvlag-358: rgb(47.279492% 81.600399% 89.183051%);
    --palPrinsenvlag-359: rgb(46.878268% 81.373809% 89.238809%);
    --palPrinsenvlag-360: rgb(46.484017% 81.145785% 89.295124%);
    --palPrinsenvlag-361: rgb(46.096726% 80.916359% 89.351928%);
    --palPrinsenvlag-362: rgb(45.716373% 80.685561% 89.409168%);
    --palPrinsenvlag-363: rgb(45.342933% 80.453422% 89.466796%);
    --palPrinsenvlag-364: rgb(44.976383% 80.219971% 89.524765%);
    --palPrinsenvlag-365: rgb(44.616695% 79.985238% 89.583029%);
    --palPrinsenvlag-366: rgb(44.263843% 79.749249% 89.641551%);
    --palPrinsenvlag-367: rgb(43.917799% 79.512033% 89.70029%);
    --palPrinsenvlag-368: rgb(43.578535% 79.273614% 89.759214%);
    --palPrinsenvlag-369: rgb(43.24602% 79.034018% 89.818294%);
    --palPrinsenvlag-370: rgb(42.920228% 78.793268% 89.877505%);
    --palPrinsenvlag-371: rgb(42.60113% 78.551388% 89.936821%);
    --palPrinsenvlag-372: rgb(42.2887% 78.308397% 89.996218%);
    --palPrinsenvlag-373: rgb(41.982912% 78.064318% 90.055677%);
    --palPrinsenvlag-374: rgb(41.683744% 77.819169% 90.115178%);
    --palPrinsenvlag-375: rgb(41.391171% 77.572969% 90.174702%);
    --palPrinsenvlag-376: rgb(41.105174% 77.325734% 90.234235%);
    --palPrinsenvlag-377: rgb(40.825734% 77.077481% 90.293761%);
    --palPrinsenvlag-378: rgb(40.552833% 76.828225% 90.353265%);
    --palPrinsenvlag-379: rgb(40.286455% 76.577979% 90.412735%);
    --palPrinsenvlag-380: rgb(40.026588% 76.326756% 90.472158%);
    --palPrinsenvlag-381: rgb(39.773221% 76.074568% 90.531522%);
    --palPrinsenvlag-382: rgb(39.526344% 75.821426% 90.590814%);
    --palPrinsenvlag-383: rgb(39.285949% 75.56734% 90.650024%);
    --palPrinsenvlag-384: rgb(39.052032% 75.312317% 90.709139%);
    --palPrinsenvlag-385: rgb(38.82459% 75.056368% 90.768149%);
    --palPrinsenvlag-386: rgb(38.603621% 74.799497% 90.82704%);
    --palPrinsenvlag-387: rgb(38.389126% 74.541711% 90.885801%);
    --palPrinsenvlag-388: rgb(38.181107% 74.283016% 90.944419%);
    --palPrinsenvlag-389: rgb(37.97957% 74.023415% 91.002881%);
    --palPrinsenvlag-390: rgb(37.78452% 73.762912% 91.061172%);
    --palPrinsenvlag-391: rgb(37.595964% 73.50151% 91.119278%);
    --palPrinsenvlag-392: rgb(37.413913% 73.23921% 91.177183%);
    --palPrinsenvlag-393: rgb(37.238377% 72.976014% 91.234869%);
    --palPrinsenvlag-394: rgb(37.069367% 72.711921% 91.292319%);
    --palPrinsenvlag-395: rgb(36.906899% 72.446932% 91.349514%);
    --palPrinsenvlag-396: rgb(36.750986% 72.181046% 91.406432%);
    --palPrinsenvlag-397: rgb(36.601643% 71.91426% 91.463051%);
    --palPrinsenvlag-398: rgb(36.458888% 71.646572% 91.519347%);
    --palPrinsenvlag-399: rgb(36.322738% 71.37798% 91.575295%);
    --palPrinsenvlag-400: rgb(36.19321% 71.108479% 91.630865%);
    --palPrinsenvlag-401: rgb(36.070323% 70.838066% 91.686029%);
    --palPrinsenvlag-402: rgb(35.954096% 70.566736% 91.740753%);
    --palPrinsenvlag-403: rgb(35.844548% 70.294483% 91.795004%);
    --palPrinsenvlag-404: rgb(35.741699% 70.021302% 91.848744%);
    --palPrinsenvlag-405: rgb(35.645567% 69.747187% 91.901933%);
    --palPrinsenvlag-406: rgb(35.556173% 69.472131% 91.954528%);
    --palPrinsenvlag-407: rgb(35.473534% 69.196127% 92.006483%);
    --palPrinsenvlag-408: rgb(35.39767% 68.919168% 92.05775%);
    --palPrinsenvlag-409: rgb(35.328598% 68.641246% 92.108275%);
    --palPrinsenvlag-410: rgb(35.266336% 68.362353% 92.158003%);
    --palPrinsenvlag-411: rgb(35.210901% 68.082482% 92.206873%);
    --palPrinsenvlag-412: rgb(35.162306% 67.801623% 92.25482%);
    --palPrinsenvlag-413: rgb(35.120569% 67.519769% 92.301776%);
    --palPrinsenvlag-414: rgb(35.0857% 67.23691% 92.347666%);
    --palPrinsenvlag-415: rgb(35.057713% 66.953039% 92.392412%);
    --palPrinsenvlag-416: rgb(35.036618% 66.668146% 92.43593%);
    --palPrinsenvlag-417: rgb(35.022422% 66.382224% 92.47813%);
    --palPrinsenvlag-418: rgb(35.015134% 66.095264% 92.518915%);
    --palPrinsenvlag-419: rgb(35.014762% 65.807256% 92.558188%);
    --palPrinsenvlag-420: rgb(35.02131% 65.518194% 92.595839%);
    --palPrinsenvlag-421: rgb(35.034776% 65.228071% 92.631748%);
    --palPrinsenvlag-422: rgb(35.055157% 64.93688% 92.66579%);
    --palPrinsenvlag-423: rgb(35.082449% 64.644617% 92.697831%);
    --palPrinsenvlag-424: rgb(35.116649% 64.351274% 92.727732%);
    --palPrinsenvlag-425: rgb(35.157759% 64.056844% 92.755353%);
    --palPrinsenvlag-426: rgb(35.205752% 63.761329% 92.780518%);
    --palPrinsenvlag-427: rgb(35.260611% 63.464728% 92.803053%);
    --palPrinsenvlag-428: rgb(35.322338% 63.167033% 92.822792%);
    --palPrinsenvlag-429: rgb(35.390898% 62.868251% 92.839527%);
    --palPrinsenvlag-430: rgb(35.466252% 62.568389% 92.853041%);
    --palPrinsenvlag-431: rgb(35.548412% 62.267439% 92.863139%);
    --palPrinsenvlag-432: rgb(35.637299% 61.965423% 92.869552%);
    --palPrinsenvlag-433: rgb(35.732907% 61.662341% 92.872049%);
    --palPrinsenvlag-434: rgb(35.835165% 61.358216% 92.870341%);
    --palPrinsenvlag-435: rgb(35.944053% 61.053057% 92.864157%);
    --palPrinsenvlag-436: rgb(36.059474% 60.746896% 92.853165%);
    --palPrinsenvlag-437: rgb(36.181419% 60.439743% 92.837068%);
    --palPrinsenvlag-438: rgb(36.309769% 60.131644% 92.815486%);
    --palPrinsenvlag-439: rgb(36.444446% 59.822634% 92.788049%);
    --palPrinsenvlag-440: rgb(36.585399% 59.512746% 92.754379%);
    --palPrinsenvlag-441: rgb(36.732489% 59.202039% 92.714033%);
    --palPrinsenvlag-442: rgb(36.885604% 58.890571% 92.666562%);
    --palPrinsenvlag-443: rgb(37.044614% 58.57841% 92.611488%);
    --palPrinsenvlag-444: rgb(37.209375% 58.26563% 92.548304%);
    --palPrinsenvlag-445: rgb(37.379722% 57.95232% 92.476474%);
    --palPrinsenvlag-446: rgb(37.555467% 57.638579% 92.39543%);
    --palPrinsenvlag-447: rgb(37.736397% 57.32452% 92.304575%);
    --palPrinsenvlag-448: rgb(37.922271% 57.01027% 92.203282%);
    --palPrinsenvlag-449: rgb(38.112814% 56.695972% 92.090898%);
    --palPrinsenvlag-450: rgb(38.307719% 56.381787% 91.966742%);
    --palPrinsenvlag-451: rgb(38.506645% 56.067889% 91.830117%);
    --palPrinsenvlag-452: rgb(38.709234% 55.754465% 91.680309%);
    --palPrinsenvlag-453: rgb(38.915019% 55.441739% 91.516587%);
    --palPrinsenvlag-454: rgb(39.123536% 55.129939% 91.338225%);
    --palPrinsenvlag-455: rgb(39.334265% 54.819313% 91.144506%);
    --palPrinsenvlag-456: rgb(39.546604% 54.510136% 90.934731%);
    --palPrinsenvlag-457: rgb(39.759937% 54.202686% 90.708239%);
    --palPrinsenvlag-458: rgb(39.973559% 53.897268% 90.464422%);
    --palPrinsenvlag-459: rgb(40.186734% 53.594189% 90.20274%);
    --palPrinsenvlag-460: rgb(40.398687% 53.293765% 89.922744%);
    --palPrinsenvlag-461: rgb(40.608588% 52.996314% 89.624092%);
    --palPrinsenvlag-462: rgb(40.8156% 52.702146% 89.306564%);
    --palPrinsenvlag-463: rgb(41.018864% 52.411563% 88.970082%);
    --palPrinsenvlag-464: rgb(41.217533% 52.124842% 88.614716%);
    --palPrinsenvlag-465: rgb(41.41077% 51.842242% 88.240695%);
    --palPrinsenvlag-466: rgb(41.597787% 51.563985% 87.848404%);
    --palPrinsenvlag-467: rgb(41.777857% 51.290254% 87.438374%);
    --palPrinsenvlag-468: rgb(41.950288% 51.021199% 87.011295%);
    --palPrinsenvlag-469: rgb(42.11453% 50.756914% 86.567949%);
    --palPrinsenvlag-470: rgb(42.270053% 50.497463% 86.109264%);
    --palPrinsenvlag-471: rgb(42.416486% 50.242855% 85.636211%);
    --palPrinsenvlag-472: rgb(42.553534% 49.993062% 85.149823%);
    --palPrinsenvlag-473: rgb(42.680965% 49.748026% 84.651204%);
    --palPrinsenvlag-474: rgb(42.79867% 49.507649% 84.141437%);
    --palPrinsenvlag-475: rgb(42.906628% 49.271805% 83.621594%);
    --palPrinsenvlag-476: rgb(43.004878% 49.04035% 83.092729%);
    --palPrinsenvlag-477: rgb(43.093526% 48.813121% 82.555862%);
    --palPrinsenvlag-478: rgb(43.172685% 48.589945% 82.012019%);
    --palPrinsenvlag-479: rgb(43.242605% 48.370635% 81.462061%);
    --palPrinsenvlag-480: rgb(43.303533% 48.155002% 80.906828%);
    --palPrinsenvlag-481: rgb(43.355652% 47.942862% 80.347233%);
    --palPrinsenvlag-482: rgb(43.399327% 47.73402% 79.783893%);
    --palPrinsenvlag-483: rgb(43.434803% 47.528295% 79.217561%);
    --palPrinsenvlag-484: rgb(43.462372% 47.325506% 78.648876%);
    --palPrinsenvlag-485: rgb(43.482363% 47.125476% 78.078361%);
    --palPrinsenvlag-486: rgb(43.495068% 46.928041% 77.50655%);
    --palPrinsenvlag-487: rgb(43.500783% 46.733038% 76.933919%);
    --palPrinsenvlag-488: rgb(43.499799% 46.540316% 76.360892%);
    --palPrinsenvlag-489: rgb(43.492405% 46.349729% 75.787842%);
    --palPrinsenvlag-490: rgb(43.478885% 46.161143% 75.215099%);
    --palPrinsenvlag-491: rgb(43.459451% 45.974425% 74.643096%);
    --palPrinsenvlag-492: rgb(43.434417% 45.789456% 74.071981%);
    --palPrinsenvlag-493: rgb(43.404026% 45.606123% 73.502014%);
    --palPrinsenvlag-494: rgb(43.368468% 45.424315% 72.933527%);
    --palPrinsenvlag-495: rgb(43.32802% 45.243935% 72.366593%);
    --palPrinsenvlag-496: rgb(43.282861% 45.064886% 71.801482%);
    --palPrinsenvlag-497: rgb(43.233198% 44.88708% 71.238352%);
    --palPrinsenvlag-498: rgb(43.179251% 44.710437% 70.677279%);
    --palPrinsenvlag-499: rgb(43.121194% 44.534879% 70.118415%);
    --palPrinsenvlag-500: rgb(43.059167% 44.360329% 69.561981%);
    --palPrinsenvlag-501: rgb(42.993371% 44.186723% 69.007983%);
    --palPrinsenvlag-502: rgb(42.923962% 44.013998% 68.456516%);
    --palPrinsenvlag-503: rgb(42.85109% 43.842095% 67.907667%);
    --palPrinsenvlag-504: rgb(42.774895% 43.670957% 67.361507%);
    --palPrinsenvlag-505: rgb(42.695516% 43.500533% 66.818098%);
    --palPrinsenvlag-506: rgb(42.613082% 43.330775% 66.277489%);
    --palPrinsenvlag-507: rgb(42.527716% 43.161637% 65.739725%);
    --palPrinsenvlag-508: rgb(42.43951% 42.993072% 65.204938%);
    --palPrinsenvlag-509: rgb(42.348602% 42.825046% 64.673067%);
    --palPrinsenvlag-510: rgb(42.255102% 42.657522% 64.144126%);
    --palPrinsenvlag-511: rgb(42.159114% 42.490465% 63.618125%);
}
