/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPuOr-1: rgb(49.803922% 23.137255% 3.137255%);
    --palPuOr-2: rgb(70.196078% 34.509804% 2.352941%);
    --palPuOr-3: rgb(87.843137% 50.980392% 7.843137%);
    --palPuOr-4: rgb(99.215686% 72.156863% 38.823529%);
    --palPuOr-5: rgb(99.607843% 87.843137% 71.372549%);
    --palPuOr-6: rgb(96.862745% 96.862745% 96.862745%);
    --palPuOr-7: rgb(84.705882% 85.490196% 92.156863%);
    --palPuOr-8: rgb(69.803922% 67.058824% 82.352941%);
    --palPuOr-9: rgb(50.196078% 45.098039% 67.45098%);
    --palPuOr-10: rgb(32.941176% 15.294118% 53.333333%);
    --palPuOr-11: rgb(17.647059% 0% 29.411765%);
}
