/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPuRd-1: rgb(96.862745% 95.686275% 97.647059%);
    --palPuRd-2: rgb(90.588235% 88.235294% 93.72549%);
    --palPuRd-3: rgb(83.137255% 72.54902% 85.490196%);
    --palPuRd-4: rgb(78.823529% 58.039216% 78.039216%);
    --palPuRd-5: rgb(87.45098% 39.607843% 69.019608%);
    --palPuRd-6: rgb(90.588235% 16.078431% 54.117647%);
    --palPuRd-7: rgb(80.784314% 7.058824% 33.72549%);
    --palPuRd-8: rgb(59.607843% 0% 26.27451%);
    --palPuRd-9: rgb(40.392157% 0% 12.156863%);
}
