/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPurples-1: rgb(98.823529% 98.431373% 99.215686%);
    --palPurples-2: rgb(93.72549% 92.941176% 96.078431%);
    --palPurples-3: rgb(85.490196% 85.490196% 92.156863%);
    --palPurples-4: rgb(73.72549% 74.117647% 86.27451%);
    --palPurples-5: rgb(61.960784% 60.392157% 78.431373%);
    --palPurples-6: rgb(50.196078% 49.019608% 72.941176%);
    --palPurples-7: rgb(41.568627% 31.764706% 63.921569%);
    --palPurples-8: rgb(32.941176% 15.294118% 56.078431%);
    --palPurples-9: rgb(24.705882% 0% 49.019608%);
}
