/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPurplesCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palPurplesCP-2: rgb(10.9804% 11.7647% 14.1176%);
    --palPurplesCP-3: rgb(10.9804% 12.1569% 14.1176%);
    --palPurplesCP-4: rgb(11.3725% 12.1569% 14.5098%);
    --palPurplesCP-5: rgb(11.3725% 12.1569% 14.5098%);
    --palPurplesCP-6: rgb(11.7647% 12.549% 14.902%);
    --palPurplesCP-7: rgb(11.7647% 12.549% 15.2941%);
    --palPurplesCP-8: rgb(12.1569% 12.9412% 15.2941%);
    --palPurplesCP-9: rgb(12.1569% 12.9412% 15.6863%);
    --palPurplesCP-10: rgb(12.549% 12.9412% 16.0784%);
    --palPurplesCP-11: rgb(12.9412% 13.3333% 16.0784%);
    --palPurplesCP-12: rgb(12.9412% 13.3333% 16.4706%);
    --palPurplesCP-13: rgb(13.3333% 13.7255% 16.4706%);
    --palPurplesCP-14: rgb(13.3333% 13.7255% 16.8627%);
    --palPurplesCP-15: rgb(13.7255% 13.7255% 17.2549%);
    --palPurplesCP-16: rgb(13.7255% 14.1176% 17.2549%);
    --palPurplesCP-17: rgb(14.1176% 14.1176% 17.6471%);
    --palPurplesCP-18: rgb(14.5098% 14.1176% 18.0392%);
    --palPurplesCP-19: rgb(14.5098% 14.5098% 18.0392%);
    --palPurplesCP-20: rgb(14.902% 14.5098% 18.4314%);
    --palPurplesCP-21: rgb(14.902% 14.902% 18.4314%);
    --palPurplesCP-22: rgb(15.2941% 14.902% 18.8235%);
    --palPurplesCP-23: rgb(15.2941% 14.902% 19.2157%);
    --palPurplesCP-24: rgb(15.6863% 15.2941% 19.2157%);
    --palPurplesCP-25: rgb(15.6863% 15.2941% 19.6078%);
    --palPurplesCP-26: rgb(16.0784% 15.2941% 20%);
    --palPurplesCP-27: rgb(16.4706% 15.6863% 20%);
    --palPurplesCP-28: rgb(16.4706% 15.6863% 20.3922%);
    --palPurplesCP-29: rgb(16.8627% 16.0784% 20.7843%);
    --palPurplesCP-30: rgb(16.8627% 16.0784% 20.7843%);
    --palPurplesCP-31: rgb(17.2549% 16.0784% 21.1765%);
    --palPurplesCP-32: rgb(17.6471% 16.4706% 21.5686%);
    --palPurplesCP-33: rgb(17.6471% 16.4706% 21.5686%);
    --palPurplesCP-34: rgb(18.0392% 16.8627% 21.9608%);
    --palPurplesCP-35: rgb(18.0392% 16.8627% 22.3529%);
    --palPurplesCP-36: rgb(18.4314% 16.8627% 22.3529%);
    --palPurplesCP-37: rgb(18.4314% 17.2549% 22.7451%);
    --palPurplesCP-38: rgb(18.8235% 17.2549% 22.7451%);
    --palPurplesCP-39: rgb(19.2157% 17.2549% 23.1373%);
    --palPurplesCP-40: rgb(19.2157% 17.6471% 23.5294%);
    --palPurplesCP-41: rgb(19.6078% 17.6471% 23.5294%);
    --palPurplesCP-42: rgb(19.6078% 18.0392% 23.9216%);
    --palPurplesCP-43: rgb(20% 18.0392% 24.3137%);
    --palPurplesCP-44: rgb(20.3922% 18.0392% 24.3137%);
    --palPurplesCP-45: rgb(20.3922% 18.4314% 24.7059%);
    --palPurplesCP-46: rgb(20.7843% 18.4314% 25.098%);
    --palPurplesCP-47: rgb(20.7843% 18.8235% 25.098%);
    --palPurplesCP-48: rgb(21.1765% 18.8235% 25.4902%);
    --palPurplesCP-49: rgb(21.1765% 18.8235% 25.8824%);
    --palPurplesCP-50: rgb(21.5686% 19.2157% 25.8824%);
    --palPurplesCP-51: rgb(21.9608% 19.2157% 26.2745%);
    --palPurplesCP-52: rgb(21.9608% 19.6078% 26.6667%);
    --palPurplesCP-53: rgb(22.3529% 19.6078% 26.6667%);
    --palPurplesCP-54: rgb(22.3529% 19.6078% 27.0588%);
    --palPurplesCP-55: rgb(22.7451% 20% 27.451%);
    --palPurplesCP-56: rgb(23.1373% 20% 27.451%);
    --palPurplesCP-57: rgb(23.1373% 20.3922% 27.8431%);
    --palPurplesCP-58: rgb(23.5294% 20.3922% 28.2353%);
    --palPurplesCP-59: rgb(23.5294% 20.3922% 28.6275%);
    --palPurplesCP-60: rgb(23.9216% 20.7843% 28.6275%);
    --palPurplesCP-61: rgb(24.3137% 20.7843% 29.0196%);
    --palPurplesCP-62: rgb(24.3137% 21.1765% 29.4118%);
    --palPurplesCP-63: rgb(24.7059% 21.1765% 29.4118%);
    --palPurplesCP-64: rgb(25.098% 21.1765% 29.8039%);
    --palPurplesCP-65: rgb(25.098% 21.5686% 30.1961%);
    --palPurplesCP-66: rgb(25.4902% 21.5686% 30.1961%);
    --palPurplesCP-67: rgb(25.4902% 21.9608% 30.5882%);
    --palPurplesCP-68: rgb(25.8824% 21.9608% 30.9804%);
    --palPurplesCP-69: rgb(26.2745% 21.9608% 30.9804%);
    --palPurplesCP-70: rgb(26.2745% 22.3529% 31.3725%);
    --palPurplesCP-71: rgb(26.6667% 22.3529% 31.7647%);
    --palPurplesCP-72: rgb(26.6667% 22.7451% 31.7647%);
    --palPurplesCP-73: rgb(27.0588% 22.7451% 32.1569%);
    --palPurplesCP-74: rgb(27.451% 22.7451% 32.549%);
    --palPurplesCP-75: rgb(27.451% 23.1373% 32.9412%);
    --palPurplesCP-76: rgb(27.8431% 23.1373% 32.9412%);
    --palPurplesCP-77: rgb(27.8431% 23.5294% 33.3333%);
    --palPurplesCP-78: rgb(28.2353% 23.5294% 33.7255%);
    --palPurplesCP-79: rgb(28.6275% 23.5294% 33.7255%);
    --palPurplesCP-80: rgb(28.6275% 23.9216% 34.1176%);
    --palPurplesCP-81: rgb(29.0196% 23.9216% 34.5098%);
    --palPurplesCP-82: rgb(29.4118% 24.3137% 34.5098%);
    --palPurplesCP-83: rgb(29.4118% 24.3137% 34.902%);
    --palPurplesCP-84: rgb(29.8039% 24.3137% 35.2941%);
    --palPurplesCP-85: rgb(29.8039% 24.7059% 35.6863%);
    --palPurplesCP-86: rgb(30.1961% 24.7059% 35.6863%);
    --palPurplesCP-87: rgb(30.5882% 25.098% 36.0784%);
    --palPurplesCP-88: rgb(30.5882% 25.098% 36.4706%);
    --palPurplesCP-89: rgb(30.9804% 25.098% 36.4706%);
    --palPurplesCP-90: rgb(31.3725% 25.4902% 36.8627%);
    --palPurplesCP-91: rgb(31.3725% 25.4902% 37.2549%);
    --palPurplesCP-92: rgb(31.7647% 25.8824% 37.6471%);
    --palPurplesCP-93: rgb(31.7647% 25.8824% 37.6471%);
    --palPurplesCP-94: rgb(32.1569% 25.8824% 38.0392%);
    --palPurplesCP-95: rgb(32.549% 26.2745% 38.4314%);
    --palPurplesCP-96: rgb(32.549% 26.2745% 38.4314%);
    --palPurplesCP-97: rgb(32.9412% 26.6667% 38.8235%);
    --palPurplesCP-98: rgb(33.3333% 26.6667% 39.2157%);
    --palPurplesCP-99: rgb(33.3333% 26.6667% 39.6078%);
    --palPurplesCP-100: rgb(33.7255% 27.0588% 39.6078%);
    --palPurplesCP-101: rgb(34.1176% 27.0588% 40%);
    --palPurplesCP-102: rgb(34.1176% 27.451% 40.3922%);
    --palPurplesCP-103: rgb(34.5098% 27.451% 40.3922%);
    --palPurplesCP-104: rgb(34.5098% 27.451% 40.7843%);
    --palPurplesCP-105: rgb(34.902% 27.8431% 41.1765%);
    --palPurplesCP-106: rgb(35.2941% 27.8431% 41.5686%);
    --palPurplesCP-107: rgb(35.2941% 28.2353% 41.5686%);
    --palPurplesCP-108: rgb(35.6863% 28.2353% 41.9608%);
    --palPurplesCP-109: rgb(36.0784% 28.6275% 42.3529%);
    --palPurplesCP-110: rgb(36.0784% 28.6275% 42.3529%);
    --palPurplesCP-111: rgb(36.4706% 28.6275% 42.7451%);
    --palPurplesCP-112: rgb(36.8627% 29.0196% 43.1373%);
    --palPurplesCP-113: rgb(36.8627% 29.0196% 43.5294%);
    --palPurplesCP-114: rgb(37.2549% 29.4118% 43.5294%);
    --palPurplesCP-115: rgb(37.2549% 29.4118% 43.9216%);
    --palPurplesCP-116: rgb(37.6471% 29.4118% 44.3137%);
    --palPurplesCP-117: rgb(38.0392% 29.8039% 44.7059%);
    --palPurplesCP-118: rgb(38.0392% 29.8039% 44.7059%);
    --palPurplesCP-119: rgb(38.4314% 30.1961% 45.098%);
    --palPurplesCP-120: rgb(38.8235% 30.1961% 45.4902%);
    --palPurplesCP-121: rgb(38.8235% 30.5882% 45.8824%);
    --palPurplesCP-122: rgb(39.2157% 30.5882% 45.8824%);
    --palPurplesCP-123: rgb(39.6078% 30.5882% 46.2745%);
    --palPurplesCP-124: rgb(39.6078% 30.9804% 46.6667%);
    --palPurplesCP-125: rgb(40% 30.9804% 47.0588%);
    --palPurplesCP-126: rgb(40.3922% 31.3725% 47.0588%);
    --palPurplesCP-127: rgb(40.3922% 31.3725% 47.451%);
    --palPurplesCP-128: rgb(40.7843% 31.3725% 47.8431%);
    --palPurplesCP-129: rgb(41.1765% 31.7647% 47.8431%);
    --palPurplesCP-130: rgb(41.1765% 31.7647% 48.2353%);
    --palPurplesCP-131: rgb(41.5686% 32.1569% 48.6275%);
    --palPurplesCP-132: rgb(41.9608% 32.1569% 49.0196%);
    --palPurplesCP-133: rgb(41.9608% 32.549% 49.0196%);
    --palPurplesCP-134: rgb(42.3529% 32.549% 49.4118%);
    --palPurplesCP-135: rgb(42.7451% 32.549% 49.8039%);
    --palPurplesCP-136: rgb(42.7451% 32.9412% 50.1961%);
    --palPurplesCP-137: rgb(43.1373% 32.9412% 50.1961%);
    --palPurplesCP-138: rgb(43.5294% 33.3333% 50.5882%);
    --palPurplesCP-139: rgb(43.5294% 33.3333% 50.9804%);
    --palPurplesCP-140: rgb(43.9216% 33.3333% 51.3725%);
    --palPurplesCP-141: rgb(43.9216% 33.7255% 51.3725%);
    --palPurplesCP-142: rgb(44.3137% 33.7255% 51.7647%);
    --palPurplesCP-143: rgb(44.7059% 34.1176% 52.1569%);
    --palPurplesCP-144: rgb(44.7059% 34.1176% 52.549%);
    --palPurplesCP-145: rgb(45.098% 34.5098% 52.9412%);
    --palPurplesCP-146: rgb(45.4902% 34.5098% 52.9412%);
    --palPurplesCP-147: rgb(45.4902% 34.5098% 53.3333%);
    --palPurplesCP-148: rgb(45.8824% 34.902% 53.7255%);
    --palPurplesCP-149: rgb(46.2745% 34.902% 54.1176%);
    --palPurplesCP-150: rgb(46.2745% 35.2941% 54.1176%);
    --palPurplesCP-151: rgb(46.6667% 35.2941% 54.5098%);
    --palPurplesCP-152: rgb(47.0588% 35.6863% 54.902%);
    --palPurplesCP-153: rgb(47.451% 35.6863% 55.2941%);
    --palPurplesCP-154: rgb(47.451% 35.6863% 55.2941%);
    --palPurplesCP-155: rgb(47.8431% 36.0784% 55.6863%);
    --palPurplesCP-156: rgb(48.2353% 36.0784% 56.0784%);
    --palPurplesCP-157: rgb(48.2353% 36.4706% 56.4706%);
    --palPurplesCP-158: rgb(48.6275% 36.4706% 56.4706%);
    --palPurplesCP-159: rgb(49.0196% 36.8627% 56.8627%);
    --palPurplesCP-160: rgb(49.0196% 36.8627% 57.2549%);
    --palPurplesCP-161: rgb(49.4118% 36.8627% 57.6471%);
    --palPurplesCP-162: rgb(49.8039% 37.2549% 57.6471%);
    --palPurplesCP-163: rgb(49.8039% 37.2549% 58.0392%);
    --palPurplesCP-164: rgb(50.1961% 37.6471% 58.4314%);
    --palPurplesCP-165: rgb(50.5882% 37.6471% 58.8235%);
    --palPurplesCP-166: rgb(50.5882% 38.0392% 59.2157%);
    --palPurplesCP-167: rgb(50.9804% 38.0392% 59.2157%);
    --palPurplesCP-168: rgb(51.3725% 38.0392% 59.6078%);
    --palPurplesCP-169: rgb(51.3725% 38.4314% 60%);
    --palPurplesCP-170: rgb(51.7647% 38.4314% 60.3922%);
    --palPurplesCP-171: rgb(52.1569% 38.8235% 60.3922%);
    --palPurplesCP-172: rgb(52.1569% 38.8235% 60.7843%);
    --palPurplesCP-173: rgb(52.549% 39.2157% 61.1765%);
    --palPurplesCP-174: rgb(52.9412% 39.2157% 61.5686%);
    --palPurplesCP-175: rgb(52.9412% 39.2157% 61.9608%);
    --palPurplesCP-176: rgb(53.3333% 39.6078% 61.9608%);
    --palPurplesCP-177: rgb(53.7255% 39.6078% 62.3529%);
    --palPurplesCP-178: rgb(53.7255% 40% 62.7451%);
    --palPurplesCP-179: rgb(54.1176% 40% 63.1373%);
    --palPurplesCP-180: rgb(54.5098% 40.3922% 63.1373%);
    --palPurplesCP-181: rgb(54.902% 40.3922% 63.5294%);
    --palPurplesCP-182: rgb(54.902% 40.7843% 63.9216%);
    --palPurplesCP-183: rgb(55.2941% 40.7843% 64.3137%);
    --palPurplesCP-184: rgb(55.6863% 40.7843% 64.7059%);
    --palPurplesCP-185: rgb(55.6863% 41.1765% 64.7059%);
    --palPurplesCP-186: rgb(56.0784% 41.1765% 65.098%);
    --palPurplesCP-187: rgb(56.4706% 41.5686% 65.4902%);
    --palPurplesCP-188: rgb(56.4706% 41.5686% 65.8824%);
    --palPurplesCP-189: rgb(56.8627% 41.9608% 66.2745%);
    --palPurplesCP-190: rgb(57.2549% 41.9608% 66.2745%);
    --palPurplesCP-191: rgb(57.2549% 41.9608% 66.6667%);
    --palPurplesCP-192: rgb(57.6471% 42.3529% 67.0588%);
    --palPurplesCP-193: rgb(58.0392% 42.3529% 67.451%);
    --palPurplesCP-194: rgb(58.4314% 42.7451% 67.451%);
    --palPurplesCP-195: rgb(58.4314% 42.7451% 67.8431%);
    --palPurplesCP-196: rgb(58.8235% 43.1373% 68.2353%);
    --palPurplesCP-197: rgb(59.2157% 43.1373% 68.6275%);
    --palPurplesCP-198: rgb(59.2157% 43.5294% 69.0196%);
    --palPurplesCP-199: rgb(59.6078% 43.5294% 69.0196%);
    --palPurplesCP-200: rgb(60% 43.5294% 69.4118%);
    --palPurplesCP-201: rgb(60% 43.9216% 69.8039%);
    --palPurplesCP-202: rgb(60.3922% 43.9216% 70.1961%);
    --palPurplesCP-203: rgb(60.7843% 44.3137% 70.5882%);
    --palPurplesCP-204: rgb(61.1765% 44.3137% 70.5882%);
    --palPurplesCP-205: rgb(61.1765% 44.7059% 70.9804%);
    --palPurplesCP-206: rgb(61.5686% 44.7059% 71.3725%);
    --palPurplesCP-207: rgb(61.9608% 44.7059% 71.7647%);
    --palPurplesCP-208: rgb(61.9608% 45.098% 72.1569%);
    --palPurplesCP-209: rgb(62.3529% 45.098% 72.1569%);
    --palPurplesCP-210: rgb(62.7451% 45.4902% 72.549%);
    --palPurplesCP-211: rgb(62.7451% 45.4902% 72.9412%);
    --palPurplesCP-212: rgb(63.1373% 45.8824% 73.3333%);
    --palPurplesCP-213: rgb(63.5294% 45.8824% 73.7255%);
    --palPurplesCP-214: rgb(63.9216% 46.2745% 73.7255%);
    --palPurplesCP-215: rgb(63.9216% 46.2745% 74.1176%);
    --palPurplesCP-216: rgb(64.3137% 46.2745% 74.5098%);
    --palPurplesCP-217: rgb(64.7059% 46.6667% 74.902%);
    --palPurplesCP-218: rgb(64.7059% 46.6667% 75.2941%);
    --palPurplesCP-219: rgb(65.098% 47.0588% 75.2941%);
    --palPurplesCP-220: rgb(65.4902% 47.0588% 75.6863%);
    --palPurplesCP-221: rgb(65.8824% 47.451% 76.0784%);
    --palPurplesCP-222: rgb(65.8824% 47.451% 76.4706%);
    --palPurplesCP-223: rgb(66.2745% 47.8431% 76.8627%);
    --palPurplesCP-224: rgb(66.6667% 47.8431% 77.2549%);
    --palPurplesCP-225: rgb(66.6667% 47.8431% 77.2549%);
    --palPurplesCP-226: rgb(67.0588% 48.2353% 77.6471%);
    --palPurplesCP-227: rgb(67.451% 48.2353% 78.0392%);
    --palPurplesCP-228: rgb(67.8431% 48.6275% 78.4314%);
    --palPurplesCP-229: rgb(67.8431% 48.6275% 78.8235%);
    --palPurplesCP-230: rgb(68.2353% 49.0196% 78.8235%);
    --palPurplesCP-231: rgb(68.6275% 49.0196% 79.2157%);
    --palPurplesCP-232: rgb(68.6275% 49.4118% 79.6078%);
    --palPurplesCP-233: rgb(69.0196% 49.4118% 80%);
    --palPurplesCP-234: rgb(69.4118% 49.8039% 80.3922%);
    --palPurplesCP-235: rgb(69.8039% 49.8039% 80.7843%);
    --palPurplesCP-236: rgb(69.8039% 49.8039% 80.7843%);
    --palPurplesCP-237: rgb(70.1961% 50.1961% 81.1765%);
    --palPurplesCP-238: rgb(70.5882% 50.1961% 81.5686%);
    --palPurplesCP-239: rgb(70.5882% 50.5882% 81.9608%);
    --palPurplesCP-240: rgb(70.9804% 50.5882% 82.3529%);
    --palPurplesCP-241: rgb(71.3725% 50.9804% 82.3529%);
    --palPurplesCP-242: rgb(71.7647% 50.9804% 82.7451%);
    --palPurplesCP-243: rgb(71.7647% 51.3725% 83.1373%);
    --palPurplesCP-244: rgb(72.1569% 51.3725% 83.5294%);
    --palPurplesCP-245: rgb(72.549% 51.3725% 83.9216%);
    --palPurplesCP-246: rgb(72.549% 51.7647% 84.3137%);
    --palPurplesCP-247: rgb(72.9412% 51.7647% 84.3137%);
    --palPurplesCP-248: rgb(73.3333% 52.1569% 84.7059%);
    --palPurplesCP-249: rgb(73.7255% 52.1569% 85.098%);
    --palPurplesCP-250: rgb(73.7255% 52.549% 85.4902%);
    --palPurplesCP-251: rgb(74.1176% 52.549% 85.8824%);
    --palPurplesCP-252: rgb(74.5098% 52.9412% 86.2745%);
    --palPurplesCP-253: rgb(74.902% 52.9412% 86.2745%);
    --palPurplesCP-254: rgb(74.902% 53.3333% 86.6667%);
    --palPurplesCP-255: rgb(75.2941% 53.3333% 87.0588%);
}
