/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palRdBu-1: rgb(40.392157% 0% 12.156863%);
    --palRdBu-2: rgb(69.803922% 9.411765% 16.862745%);
    --palRdBu-3: rgb(83.921569% 37.647059% 30.196078%);
    --palRdBu-4: rgb(95.686275% 64.705882% 50.980392%);
    --palRdBu-5: rgb(99.215686% 85.882353% 78.039216%);
    --palRdBu-6: rgb(96.862745% 96.862745% 96.862745%);
    --palRdBu-7: rgb(81.960784% 89.803922% 94.117647%);
    --palRdBu-8: rgb(57.254902% 77.254902% 87.058824%);
    --palRdBu-9: rgb(26.27451% 57.647059% 76.470588%);
    --palRdBu-10: rgb(12.941176% 40% 67.45098%);
    --palRdBu-11: rgb(1.960784% 18.823529% 38.039216%);
}
