/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palSeasons-1: rgb(0% 0% 0%);
    --palSeasons-2: rgb(0.025413% 0.021963% 0.029812%);
    --palSeasons-3: rgb(0.088829% 0.075548% 0.107678%);
    --palSeasons-4: rgb(0.185324% 0.155352% 0.231547%);
    --palSeasons-5: rgb(0.312858% 0.258869% 0.402007%);
    --palSeasons-6: rgb(0.470191% 0.384465% 0.620341%);
    --palSeasons-7: rgb(0.656453% 0.530948% 0.888174%);
    --palSeasons-8: rgb(0.870978% 0.697386% 1.207347%);
    --palSeasons-9: rgb(1.113222% 0.883025% 1.579864%);
    --palSeasons-10: rgb(1.382719% 1.087232% 2.007872%);
    --palSeasons-11: rgb(1.679047% 1.30947% 2.493639%);
    --palSeasons-12: rgb(2.001812% 1.549278% 3.039529%);
    --palSeasons-13: rgb(2.350631% 1.806253% 3.648021%);
    --palSeasons-14: rgb(2.725125% 2.080045% 4.311807%);
    --palSeasons-15: rgb(3.12491% 2.370339% 4.981088%);
    --palSeasons-16: rgb(3.54959% 2.676862% 5.65143%);
    --palSeasons-17: rgb(3.99874% 2.999384% 6.323399%);
    --palSeasons-18: rgb(4.452504% 3.337686% 6.997574%);
    --palSeasons-19: rgb(4.899028% 3.691598% 7.674386%);
    --palSeasons-20: rgb(5.33919% 4.060679% 8.35425%);
    --palSeasons-21: rgb(5.773188% 4.42812% 9.037549%);
    --palSeasons-22: rgb(6.201171% 4.790942% 9.724607%);
    --palSeasons-23: rgb(6.623246% 5.149499% 10.415696%);
    --palSeasons-24: rgb(7.03948% 5.504098% 11.111165%);
    --palSeasons-25: rgb(7.4499% 5.855056% 11.811182%);
    --palSeasons-26: rgb(7.854502% 6.202658% 12.515979%);
    --palSeasons-27: rgb(8.253249% 6.547176% 13.225767%);
    --palSeasons-28: rgb(8.646068% 6.88887% 13.940754%);
    --palSeasons-29: rgb(9.032858% 7.228008% 14.661053%);
    --palSeasons-30: rgb(9.413485% 7.564847% 15.386795%);
    --palSeasons-31: rgb(9.787781% 7.899644% 16.118084%);
    --palSeasons-32: rgb(10.155546% 8.232656% 16.855026%);
    --palSeasons-33: rgb(10.516545% 8.564147% 17.597671%);
    --palSeasons-34: rgb(10.870509% 8.894395% 18.346006%);
    --palSeasons-35: rgb(11.217132% 9.223686% 19.099993%);
    --palSeasons-36: rgb(11.556052% 9.552296% 19.859705%);
    --palSeasons-37: rgb(11.886895% 9.880561% 20.62488%);
    --palSeasons-38: rgb(12.209202% 10.208786% 21.395539%);
    --palSeasons-39: rgb(12.5225% 10.537339% 22.171357%);
    --palSeasons-40: rgb(12.826247% 10.866592% 22.95209%);
    --palSeasons-41: rgb(13.119843% 11.196946% 23.737414%);
    --palSeasons-42: rgb(13.402632% 11.528833% 24.526905%);
    --palSeasons-43: rgb(13.673894% 11.862721% 25.320027%);
    --palSeasons-44: rgb(13.93285% 12.199116% 26.116118%);
    --palSeasons-45: rgb(14.178658% 12.538562% 26.914369%);
    --palSeasons-46: rgb(14.410384% 12.881635% 27.713925%);
    --palSeasons-47: rgb(14.627078% 13.228963% 28.513587%);
    --palSeasons-48: rgb(14.827668% 13.581197% 29.312178%);
    --palSeasons-49: rgb(15.0111% 13.939034% 30.108116%);
    --palSeasons-50: rgb(15.176259% 14.303187% 30.899691%);
    --palSeasons-51: rgb(15.32203% 14.674384% 31.684943%);
    --palSeasons-52: rgb(15.447326% 15.053343% 32.461674%);
    --palSeasons-53: rgb(15.551108% 15.440757% 33.227497%);
    --palSeasons-54: rgb(15.632519% 15.837254% 33.979729%);
    --palSeasons-55: rgb(15.690799% 16.243374% 34.71567%);
    --palSeasons-56: rgb(15.725505% 16.659519% 35.432441%);
    --palSeasons-57: rgb(15.736452% 17.085928% 36.127255%);
    --palSeasons-58: rgb(15.723805% 17.522644% 36.797458%);
    --palSeasons-59: rgb(15.68811% 17.969489% 37.440663%);
    --palSeasons-60: rgb(15.630305% 18.426064% 38.054863%);
    --palSeasons-61: rgb(15.551676% 18.891756% 38.638541%);
    --palSeasons-62: rgb(15.453823% 19.365775% 39.190724%);
    --palSeasons-63: rgb(15.338586% 19.847185% 39.711001%);
    --palSeasons-64: rgb(15.207966% 20.334963% 40.199508%);
    --palSeasons-65: rgb(15.064046% 20.828041% 40.656864%);
    --palSeasons-66: rgb(14.908969% 21.325349% 41.084094%);
    --palSeasons-67: rgb(14.744723% 21.825882% 41.482549%);
    --palSeasons-68: rgb(14.57336% 22.328669% 41.853795%);
    --palSeasons-69: rgb(14.396661% 22.832867% 42.199544%);
    --palSeasons-70: rgb(14.216365% 23.337711% 42.521576%);
    --palSeasons-71: rgb(14.034067% 23.842534% 42.82168%);
    --palSeasons-72: rgb(13.851217% 24.346775% 43.101619%);
    --palSeasons-73: rgb(13.66912% 24.849965% 43.363083%);
    --palSeasons-74: rgb(13.488941% 25.351726% 43.607677%);
    --palSeasons-75: rgb(13.311795% 25.851741% 43.836919%);
    --palSeasons-76: rgb(13.138652% 26.34977% 44.052214%);
    --palSeasons-77: rgb(12.970397% 26.845629% 44.254865%);
    --palSeasons-78: rgb(12.807789% 27.339191% 44.446058%);
    --palSeasons-79: rgb(12.651578% 27.830358% 44.626898%);
    --palSeasons-80: rgb(12.502442% 28.319066% 44.798401%);
    --palSeasons-81: rgb(12.36091% 28.805302% 44.961462%);
    --palSeasons-82: rgb(12.227508% 29.289061% 45.116915%);
    --palSeasons-83: rgb(12.102719% 29.770357% 45.265526%);
    --palSeasons-84: rgb(11.986895% 30.249237% 45.40796%);
    --palSeasons-85: rgb(11.880348% 30.725756% 45.544824%);
    --palSeasons-86: rgb(11.783407% 31.199967% 45.676695%);
    --palSeasons-87: rgb(11.696293% 31.671943% 45.804074%);
    --palSeasons-88: rgb(11.619137% 32.141771% 45.927395%);
    --palSeasons-89: rgb(11.552107% 32.609525% 46.047084%);
    --palSeasons-90: rgb(11.495254% 33.075299% 46.163498%);
    --palSeasons-91: rgb(11.448559% 33.539192% 46.276944%);
    --palSeasons-92: rgb(11.412065% 34.001283% 46.387744%);
    --palSeasons-93: rgb(11.385674% 34.461674% 46.496146%);
    --palSeasons-94: rgb(11.369251% 34.920464% 46.602365%);
    --palSeasons-95: rgb(11.362649% 35.377748% 46.706605%);
    --palSeasons-96: rgb(11.365684% 35.833621% 46.809043%);
    --palSeasons-97: rgb(11.378136% 36.288176% 46.909833%);
    --palSeasons-98: rgb(11.399752% 36.741507% 47.009104%);
    --palSeasons-99: rgb(11.430257% 37.193707% 47.106966%);
    --palSeasons-100: rgb(11.469348% 37.644867% 47.203508%);
    --palSeasons-101: rgb(11.516707% 38.095075% 47.298803%);
    --palSeasons-102: rgb(11.572003% 38.544418% 47.392905%);
    --palSeasons-103: rgb(11.634894% 38.992983% 47.485855%);
    --palSeasons-104: rgb(11.705043% 39.440848% 47.577686%);
    --palSeasons-105: rgb(11.782132% 39.88809% 47.668429%);
    --palSeasons-106: rgb(11.865775% 40.334792% 47.758059%);
    --palSeasons-107: rgb(11.955628% 40.781031% 47.846565%);
    --palSeasons-108: rgb(12.051391% 41.226872% 47.933944%);
    --palSeasons-109: rgb(12.152742% 41.672385% 48.020167%);
    --palSeasons-110: rgb(12.25934% 42.117642% 48.105167%);
    --palSeasons-111: rgb(12.370935% 42.562701% 48.188924%);
    --palSeasons-112: rgb(12.487238% 43.007624% 48.271367%);
    --palSeasons-113: rgb(12.607977% 43.452472% 48.352417%);
    --palSeasons-114: rgb(12.732973% 43.897292% 48.432038%);
    --palSeasons-115: rgb(12.861956% 44.342145% 48.510104%);
    --palSeasons-116: rgb(12.9948% 44.78707% 48.586571%);
    --palSeasons-117: rgb(13.131298% 45.232121% 48.661311%);
    --palSeasons-118: rgb(13.271357% 45.677333% 48.734255%);
    --palSeasons-119: rgb(13.414836% 46.122752% 48.805276%);
    --palSeasons-120: rgb(13.561689% 46.568407% 48.874291%);
    --palSeasons-121: rgb(13.71183% 47.014339% 48.941162%);
    --palSeasons-122: rgb(13.865272% 47.460568% 49.005805%);
    --palSeasons-123: rgb(14.02198% 47.90713% 49.06807%);
    --palSeasons-124: rgb(14.182019% 48.354041% 49.127866%);
    --palSeasons-125: rgb(14.34542% 48.801325% 49.185045%);
    --palSeasons-126: rgb(14.512282% 49.248997% 49.239495%);
    --palSeasons-127: rgb(14.682712% 49.697072% 49.291086%);
    --palSeasons-128: rgb(14.856841% 50.14556% 49.339683%);
    --palSeasons-129: rgb(15.034846% 50.594468% 49.385169%);
    --palSeasons-130: rgb(15.216899% 51.043801% 49.427402%);
    --palSeasons-131: rgb(15.40322% 51.493558% 49.466258%);
    --palSeasons-132: rgb(15.594041% 51.943739% 49.501603%);
    --palSeasons-133: rgb(15.789617% 52.394338% 49.533308%);
    --palSeasons-134: rgb(15.990229% 52.845347% 49.561243%);
    --palSeasons-135: rgb(16.196172% 53.296753% 49.58528%);
    --palSeasons-136: rgb(16.407764% 53.748543% 49.605289%);
    --palSeasons-137: rgb(16.625338% 54.200698% 49.621146%);
    --palSeasons-138: rgb(16.849251% 54.653198% 49.632729%);
    --palSeasons-139: rgb(17.079859% 55.106019% 49.639905%);
    --palSeasons-140: rgb(17.317554% 55.559133% 49.642567%);
    --palSeasons-141: rgb(17.56272% 56.012511% 49.640587%);
    --palSeasons-142: rgb(17.815767% 56.46612% 49.633854%);
    --palSeasons-143: rgb(18.077111% 56.919921% 49.622262%);
    --palSeasons-144: rgb(18.347164% 57.373877% 49.605683%);
    --palSeasons-145: rgb(18.626377% 57.827942% 49.584043%);
    --palSeasons-146: rgb(18.91516% 58.282075% 49.557198%);
    --palSeasons-147: rgb(19.213983% 58.736218% 49.525094%);
    --palSeasons-148: rgb(19.523269% 59.190326% 49.487599%);
    --palSeasons-149: rgb(19.843488% 59.644335% 49.444661%);
    --palSeasons-150: rgb(20.175074% 60.098189% 49.396158%);
    --palSeasons-151: rgb(20.5185% 60.551819% 49.342054%);
    --palSeasons-152: rgb(20.874203% 61.00516% 49.282226%);
    --palSeasons-153: rgb(21.242663% 61.458132% 49.216674%);
    --palSeasons-154: rgb(21.624314% 61.910667% 49.145251%);
    --palSeasons-155: rgb(22.01964% 62.362671% 49.067988%);
    --palSeasons-156: rgb(22.429094% 62.81406% 48.984802%);
    --palSeasons-157: rgb(22.853143% 63.26474% 48.895647%);
    --palSeasons-158: rgb(23.292266% 63.714606% 48.800547%);
    --palSeasons-159: rgb(23.746934% 64.163552% 48.699454%);
    --palSeasons-160: rgb(24.217635% 64.611466% 48.592346%);
    --palSeasons-161: rgb(24.704867% 65.058219% 48.479289%);
    --palSeasons-162: rgb(25.209135% 65.503679% 48.360309%);
    --palSeasons-163: rgb(25.730963% 65.947702% 48.235455%);
    --palSeasons-164: rgb(26.270895% 66.390135% 48.104798%);
    --palSeasons-165: rgb(26.829501% 66.83081% 47.968425%);
    --palSeasons-166: rgb(27.407372% 67.269546% 47.82649%);
    --palSeasons-167: rgb(28.005135% 67.706143% 47.679163%);
    --palSeasons-168: rgb(28.623464% 68.140387% 47.526643%);
    --palSeasons-169: rgb(29.263062% 68.57204% 47.369222%);
    --palSeasons-170: rgb(29.924684% 69.000842% 47.207254%);
    --palSeasons-171: rgb(30.609135% 69.426508% 47.041182%);
    --palSeasons-172: rgb(31.317349% 69.848719% 46.87141%);
    --palSeasons-173: rgb(32.050244% 70.267126% 46.698662%);
    --palSeasons-174: rgb(32.808884% 70.681337% 46.523663%);
    --palSeasons-175: rgb(33.594344% 71.090919% 46.347457%);
    --palSeasons-176: rgb(34.407959% 71.495378% 46.17104%);
    --palSeasons-177: rgb(35.250947% 71.894177% 45.996017%);
    --palSeasons-178: rgb(36.124701% 72.286709% 45.824186%);
    --palSeasons-179: rgb(37.030645% 72.672304% 45.657815%);
    --palSeasons-180: rgb(37.970257% 73.050215% 45.499675%);
    --palSeasons-181: rgb(38.944872% 73.41964% 45.353293%);
    --palSeasons-182: rgb(39.955522% 73.779741% 45.223099%);
    --palSeasons-183: rgb(41.002842% 74.129661% 45.114453%);
    --palSeasons-184: rgb(42.086719% 74.468593% 45.033815%);
    --palSeasons-185: rgb(43.20568% 74.795904% 44.98889%);
    --palSeasons-186: rgb(44.356537% 75.111263% 44.988314%);
    --palSeasons-187: rgb(45.533859% 75.414821% 45.041183%);
    --palSeasons-188: rgb(46.72994% 75.707342% 45.156074%);
    --palSeasons-189: rgb(47.935081% 75.990276% 45.339893%);
    --palSeasons-190: rgb(49.138675% 76.265642% 45.596703%);
    --palSeasons-191: rgb(50.330552% 76.535785% 45.927111%);
    --palSeasons-192: rgb(51.502194% 76.803071% 46.328423%);
    --palSeasons-193: rgb(52.647579% 77.069582% 46.795443%);
    --palSeasons-194: rgb(53.763157% 77.336989% 47.321562%);
    --palSeasons-195: rgb(54.847463% 77.606527% 47.899716%);
    --palSeasons-196: rgb(55.900394% 77.879091% 48.52299%);
    --palSeasons-197: rgb(56.923081% 78.155203% 49.185126%);
    --palSeasons-198: rgb(57.917471% 78.435082% 49.88077%);
    --palSeasons-199: rgb(58.884928% 78.719044% 50.604881%);
    --palSeasons-200: rgb(59.827861% 79.007012% 51.35364%);
    --palSeasons-201: rgb(60.748182% 79.298977% 52.123615%);
    --palSeasons-202: rgb(61.647728% 79.594881% 52.911908%);
    --palSeasons-203: rgb(62.528018% 79.894712% 53.715888%);
    --palSeasons-204: rgb(63.391105% 80.198211% 54.533899%);
    --palSeasons-205: rgb(64.237958% 80.505441% 55.363731%);
    --palSeasons-206: rgb(65.070178% 80.816201% 56.204151%);
    --palSeasons-207: rgb(65.888951% 81.13039% 57.05387%);
    --palSeasons-208: rgb(66.695322% 81.447927% 57.911739%);
    --palSeasons-209: rgb(67.490278% 81.76872% 58.776802%);
    --palSeasons-210: rgb(68.274743% 82.092672% 59.648269%);
    --palSeasons-211: rgb(69.049543% 82.419697% 60.525436%);
    --palSeasons-212: rgb(69.815139% 82.749841% 61.407263%);
    --palSeasons-213: rgb(70.572591% 83.082877% 62.293735%);
    --palSeasons-214: rgb(71.322283% 83.418844% 63.184007%);
    --palSeasons-215: rgb(72.064885% 83.757644% 64.07779%);
    --palSeasons-216: rgb(72.800781% 84.099289% 64.974464%);
    --palSeasons-217: rgb(73.530681% 84.443629% 65.874049%);
    --palSeasons-218: rgb(74.254717% 84.79077% 66.775688%);
    --palSeasons-219: rgb(74.973455% 85.140603% 67.679345%);
    --palSeasons-220: rgb(75.687316% 85.49308% 68.584818%);
    --palSeasons-221: rgb(76.396618% 85.848188% 69.491792%);
    --palSeasons-222: rgb(77.101665% 86.205916% 70.399981%);
    --palSeasons-223: rgb(77.802748% 86.566254% 71.309127%);
    --palSeasons-224: rgb(78.500146% 86.92919% 72.218994%);
    --palSeasons-225: rgb(79.194125% 87.294712% 73.129366%);
    --palSeasons-226: rgb(79.884942% 87.662809% 74.040044%);
    --palSeasons-227: rgb(80.572843% 88.03347% 74.950845%);
    --palSeasons-228: rgb(81.258066% 88.406685% 75.861593%);
    --palSeasons-229: rgb(81.940839% 88.782442% 76.772124%);
    --palSeasons-230: rgb(82.621384% 89.160734% 77.682276%);
    --palSeasons-231: rgb(83.299916% 89.54155% 78.591891%);
    --palSeasons-232: rgb(83.976604% 89.924907% 79.500711%);
    --palSeasons-233: rgb(84.651498% 90.310887% 80.408208%);
    --palSeasons-234: rgb(85.32498% 90.699381% 81.314622%);
    --palSeasons-235: rgb(85.997253% 91.090383% 82.219775%);
    --palSeasons-236: rgb(86.668304% 91.484012% 83.122957%);
    --palSeasons-237: rgb(87.338448% 91.880198% 84.024221%);
    --palSeasons-238: rgb(88.007977% 92.278885% 84.923538%);
    --palSeasons-239: rgb(88.676765% 92.680271% 85.81982%);
    --palSeasons-240: rgb(89.34533% 93.084171% 86.7135%);
    --palSeasons-241: rgb(90.013691% 93.490708% 87.603723%);
    --palSeasons-242: rgb(90.682112% 93.899862% 88.490167%);
    --palSeasons-243: rgb(91.350819% 94.311645% 89.372312%);
    --palSeasons-244: rgb(92.019962% 94.726127% 90.249364%);
    --palSeasons-245: rgb(92.689821% 95.143309% 91.120724%);
    --palSeasons-246: rgb(93.360528% 95.563293% 91.985342%);
    --palSeasons-247: rgb(94.032226% 95.986183% 92.842128%);
    --palSeasons-248: rgb(94.705029% 96.412099% 93.689932%);
    --palSeasons-249: rgb(95.378618% 96.841412% 94.526826%);
    --palSeasons-250: rgb(96.052787% 97.274377% 95.35162%);
    --palSeasons-251: rgb(96.726298% 97.711767% 96.161985%);
    --palSeasons-252: rgb(97.397628% 98.154351% 96.956838%);
    --palSeasons-253: rgb(98.064157% 98.60327% 97.735666%);
    --palSeasons-254: rgb(98.722183% 99.059962% 98.499293%);
    --palSeasons-255: rgb(99.368312% 99.525397% 99.251979%);
    --palSeasons-256: rgb(100% 100% 100%);
    --palSeasons-257: rgb(99.424109% 99.505954% 99.228529%);
    --palSeasons-258: rgb(98.836492% 99.02% 98.453168%);
    --palSeasons-259: rgb(98.239087% 98.542174% 97.665676%);
    --palSeasons-260: rgb(97.636% 98.071512% 96.859208%);
    --palSeasons-261: rgb(97.032215% 97.606327% 96.030562%);
    --palSeasons-262: rgb(96.431976% 97.144953% 95.179257%);
    --palSeasons-263: rgb(95.838211% 96.686052% 94.306671%);
    --palSeasons-264: rgb(95.252591% 96.228722% 93.414776%);
    --palSeasons-265: rgb(94.675995% 95.77231% 92.50619%);
    --palSeasons-266: rgb(94.108715% 95.316448% 91.583032%);
    --palSeasons-267: rgb(93.550756% 94.860913% 90.647087%);
    --palSeasons-268: rgb(93.002% 94.405565% 89.699805%);
    --palSeasons-269: rgb(92.462287% 93.950313% 88.74235%);
    --palSeasons-270: rgb(91.931464% 93.495085% 87.775638%);
    --palSeasons-271: rgb(91.409404% 93.039823% 86.80037%);
    --palSeasons-272: rgb(90.896019% 92.584453% 85.817253%);
    --palSeasons-273: rgb(90.391252% 92.12891% 84.826784%);
    --palSeasons-274: rgb(89.895082% 91.673124% 83.829375%);
    --palSeasons-275: rgb(89.407522% 91.217022% 82.825325%);
    --palSeasons-276: rgb(88.928614% 90.760525% 81.814872%);
    --palSeasons-277: rgb(88.458421% 90.303538% 80.798331%);
    --palSeasons-278: rgb(87.997032% 89.845966% 79.775935%);
    --palSeasons-279: rgb(87.544552% 89.387706% 78.747892%);
    --palSeasons-280: rgb(87.101102% 88.928652% 77.7144%);
    --palSeasons-281: rgb(86.666829% 88.468694% 76.675557%);
    --palSeasons-282: rgb(86.241921% 88.007728% 75.63123%);
    --palSeasons-283: rgb(85.826505% 87.54561% 74.581947%);
    --palSeasons-284: rgb(85.420756% 87.082215% 73.527849%);
    --palSeasons-285: rgb(85.024943% 86.617424% 72.468532%);
    --palSeasons-286: rgb(84.639173% 86.151077% 71.404773%);
    --palSeasons-287: rgb(84.263736% 85.683043% 70.33619%);
    --palSeasons-288: rgb(83.898783% 85.213162% 69.263315%);
    --palSeasons-289: rgb(83.544617% 84.741283% 68.185873%);
    --palSeasons-290: rgb(83.201374% 84.267239% 67.104494%);
    --palSeasons-291: rgb(82.869406% 83.790863% 66.018791%);
    --palSeasons-292: rgb(82.548878% 83.31198% 64.929288%);
    --palSeasons-293: rgb(82.240024% 82.830412% 63.836201%);
    --palSeasons-294: rgb(81.943099% 82.345973% 62.739678%);
    --palSeasons-295: rgb(81.65841% 81.858464% 61.639726%);
    --palSeasons-296: rgb(81.386138% 81.367695% 60.53682%);
    --palSeasons-297: rgb(81.126517% 80.873462% 59.431259%);
    --palSeasons-298: rgb(80.87977% 80.375559% 58.323368%);
    --palSeasons-299: rgb(80.646107% 79.873778% 57.213533%);
    --palSeasons-300: rgb(80.425769% 79.367897% 56.102051%);
    --palSeasons-301: rgb(80.218927% 78.8577% 54.989425%);
    --palSeasons-302: rgb(80.025682% 78.342982% 53.876331%);
    --palSeasons-303: rgb(79.846129% 77.823538% 52.76343%);
    --palSeasons-304: rgb(79.680534% 77.299113% 51.650962%);
    --palSeasons-305: rgb(79.52871% 76.76956% 50.54023%);
    --palSeasons-306: rgb(79.390865% 76.234628% 49.431581%);
    --palSeasons-307: rgb(79.266757% 75.69418% 48.32634%);
    --palSeasons-308: rgb(79.156341% 75.148029% 47.225343%);
    --palSeasons-309: rgb(79.059448% 74.596018% 46.12965%);
    --palSeasons-310: rgb(78.975723% 74.038047% 45.040623%);
    --palSeasons-311: rgb(78.9048% 73.474025% 43.959559%);
    --palSeasons-312: rgb(78.846209% 72.903897% 42.887873%);
    --palSeasons-313: rgb(78.799373% 72.327654% 41.827079%);
    --palSeasons-314: rgb(78.763603% 71.745332% 40.778776%);
    --palSeasons-315: rgb(78.738107% 71.157017% 39.744626%);
    --palSeasons-316: rgb(78.722078% 70.562818% 38.726208%);
    --palSeasons-317: rgb(78.714452% 69.962955% 37.72536%);
    --palSeasons-318: rgb(78.714162% 69.357673% 36.743787%);
    --palSeasons-319: rgb(78.720174% 68.74723% 35.783028%);
    --palSeasons-320: rgb(78.731219% 68.132002% 34.844799%);
    --palSeasons-321: rgb(78.746158% 67.512344% 33.930514%);
    --palSeasons-322: rgb(78.763735% 66.888688% 33.041597%);
    --palSeasons-323: rgb(78.78279% 66.261458% 32.179234%);
    --palSeasons-324: rgb(78.802126% 65.631126% 31.34453%);
    --palSeasons-325: rgb(78.820651% 64.998148% 30.538359%);
    --palSeasons-326: rgb(78.837299% 64.362997% 29.761459%);
    --palSeasons-327: rgb(78.851106% 63.726131% 29.014374%);
    --palSeasons-328: rgb(78.861179% 63.087997% 28.297485%);
    --palSeasons-329: rgb(78.866732% 62.449018% 27.611004%);
    --palSeasons-330: rgb(78.867042% 61.809607% 26.95501%);
    --palSeasons-331: rgb(78.861521% 61.170128% 26.329421%);
    --palSeasons-332: rgb(78.849615% 60.530945% 25.734063%);
    --palSeasons-333: rgb(78.830913% 59.892362% 25.168625%);
    --palSeasons-334: rgb(78.805021% 59.254688% 24.632732%);
    --palSeasons-335: rgb(78.771679% 58.618165% 24.1259%);
    --palSeasons-336: rgb(78.730618% 57.983053% 23.647607%);
    --palSeasons-337: rgb(78.681707% 57.349537% 23.197249%);
    --palSeasons-338: rgb(78.624787% 56.717824% 22.774192%);
    --palSeasons-339: rgb(78.559802% 56.088065% 22.377754%);
    --palSeasons-340: rgb(78.486719% 55.460397% 22.007225%);
    --palSeasons-341: rgb(78.405488% 54.834969% 21.661869%);
    --palSeasons-342: rgb(78.316166% 54.211865% 21.34093%);
    --palSeasons-343: rgb(78.21879% 53.591181% 21.04364%);
    --palSeasons-344: rgb(78.113405% 52.973004% 20.769212%);
    --palSeasons-345: rgb(78.000088% 52.357401% 20.516858%);
    --palSeasons-346: rgb(77.878939% 51.744421% 20.285786%);
    --palSeasons-347: rgb(77.750055% 51.13411% 20.075202%);
    --palSeasons-348: rgb(77.613541% 50.526507% 19.884312%);
    --palSeasons-349: rgb(77.469507% 49.921643% 19.712326%);
    --palSeasons-350: rgb(77.318063% 49.319549% 19.558456%);
    --palSeasons-351: rgb(77.15934% 48.720234% 19.421934%);
    --palSeasons-352: rgb(76.993458% 48.123711% 19.301995%);
    --palSeasons-353: rgb(76.82054% 47.529987% 19.19789%);
    --palSeasons-354: rgb(76.640711% 46.939068% 19.108882%);
    --palSeasons-355: rgb(76.454093% 46.350953% 19.03425%);
    --palSeasons-356: rgb(76.260807% 45.765639% 18.973292%);
    --palSeasons-357: rgb(76.060976% 45.18312% 18.925324%);
    --palSeasons-358: rgb(75.854716% 44.603388% 18.889684%);
    --palSeasons-359: rgb(75.642146% 44.026433% 18.865728%);
    --palSeasons-360: rgb(75.42338% 43.452242% 18.852836%);
    --palSeasons-361: rgb(75.198528% 42.880801% 18.850411%);
    --palSeasons-362: rgb(74.967701% 42.312096% 18.857878%);
    --palSeasons-363: rgb(74.731004% 41.746108% 18.874685%);
    --palSeasons-364: rgb(74.48854% 41.182822% 18.900305%);
    --palSeasons-365: rgb(74.240409% 40.622219% 18.934232%);
    --palSeasons-366: rgb(73.986709% 40.064279% 18.975986%);
    --palSeasons-367: rgb(73.727532% 39.508982% 19.02511%);
    --palSeasons-368: rgb(73.462969% 38.95631% 19.081168%);
    --palSeasons-369: rgb(73.193106% 38.40624% 19.143748%);
    --palSeasons-370: rgb(72.918028% 37.858754% 19.21246%);
    --palSeasons-371: rgb(72.637815% 37.313829% 19.286934%);
    --palSeasons-372: rgb(72.352543% 36.771447% 19.366823%);
    --palSeasons-373: rgb(72.062287% 36.231585% 19.451799%);
    --palSeasons-374: rgb(71.767117% 35.694224% 19.541554%);
    --palSeasons-375: rgb(71.467098% 35.159344% 19.635798%);
    --palSeasons-376: rgb(71.162295% 34.626927% 19.734258%);
    --palSeasons-377: rgb(70.852766% 34.096955% 19.83668%);
    --palSeasons-378: rgb(70.538569% 33.56941% 19.942826%);
    --palSeasons-379: rgb(70.219754% 33.044275% 20.052472%);
    --palSeasons-380: rgb(69.896371% 32.521536% 20.165411%);
    --palSeasons-381: rgb(69.568466% 32.001179% 20.281449%);
    --palSeasons-382: rgb(69.236079% 31.483192% 20.400406%);
    --palSeasons-383: rgb(68.899248% 30.967565% 20.522112%);
    --palSeasons-384: rgb(68.558008% 30.454289% 20.646413%);
    --palSeasons-385: rgb(68.212387% 29.943358% 20.773166%);
    --palSeasons-386: rgb(67.862413% 29.434767% 20.902237%);
    --palSeasons-387: rgb(67.508106% 28.928517% 21.033499%);
    --palSeasons-388: rgb(67.149484% 28.424611% 21.166835%);
    --palSeasons-389: rgb(66.786559% 27.923055% 21.302135%);
    --palSeasons-390: rgb(66.419341% 27.423859% 21.4393%);
    --palSeasons-391: rgb(66.047834% 26.927038% 21.578233%);
    --palSeasons-392: rgb(65.672036% 26.432611% 21.718845%);
    --palSeasons-393: rgb(65.291947% 25.940596% 21.861078%);
    --palSeasons-394: rgb(64.907553% 25.451028% 22.004835%);
    --palSeasons-395: rgb(64.518838% 24.963947% 22.150036%);
    --palSeasons-396: rgb(64.125782% 24.479398% 22.296605%);
    --palSeasons-397: rgb(63.728364% 23.997419% 22.444517%);
    --palSeasons-398: rgb(63.326548% 23.518083% 22.593664%);
    --palSeasons-399: rgb(62.920295% 23.041463% 22.743971%);
    --palSeasons-400: rgb(62.50957% 22.567623% 22.895434%);
    --palSeasons-401: rgb(62.094315% 22.096673% 23.047916%);
    --palSeasons-402: rgb(61.67448% 21.628708% 23.201392%);
    --palSeasons-403: rgb(61.25% 21.163854% 23.355763%);
    --palSeasons-404: rgb(60.820808% 20.702239% 23.510975%);
    --palSeasons-405: rgb(60.386826% 20.244025% 23.666911%);
    --palSeasons-406: rgb(59.947975% 19.789371% 23.823533%);
    --palSeasons-407: rgb(59.50416% 19.338482% 23.980685%);
    --palSeasons-408: rgb(59.055285% 18.891564% 24.138288%);
    --palSeasons-409: rgb(58.601246% 18.448856% 24.296231%);
    --palSeasons-410: rgb(58.141927% 18.010629% 24.45435%);
    --palSeasons-411: rgb(57.677209% 17.577177% 24.612495%);
    --palSeasons-412: rgb(57.206964% 17.148824% 24.770502%);
    --palSeasons-413: rgb(56.731054% 16.725931% 24.928179%);
    --palSeasons-414: rgb(56.249336% 16.308892% 25.085316%);
    --palSeasons-415: rgb(55.76166% 15.89814% 25.241661%);
    --palSeasons-416: rgb(55.267868% 15.49415% 25.396947%);
    --palSeasons-417: rgb(54.767798% 15.097434% 25.550864%);
    --palSeasons-418: rgb(54.261283% 14.708548% 25.703063%);
    --palSeasons-419: rgb(53.748153% 14.328089% 25.853158%);
    --palSeasons-420: rgb(53.228237% 13.956693% 26.000714%);
    --palSeasons-421: rgb(52.701358% 13.595036% 26.145292%);
    --palSeasons-422: rgb(52.167349% 13.243826% 26.28635%);
    --palSeasons-423: rgb(51.626048% 12.903801% 26.423296%);
    --palSeasons-424: rgb(51.077291% 12.575719% 26.555552%);
    --palSeasons-425: rgb(50.520944% 12.260342% 26.682384%);
    --palSeasons-426: rgb(49.95687% 11.958437% 26.803101%);
    --palSeasons-427: rgb(49.384968% 11.67074% 26.916888%);
    --palSeasons-428: rgb(48.805158% 11.39795% 27.022906%);
    --palSeasons-429: rgb(48.217382% 11.140716% 27.120303%);
    --palSeasons-430: rgb(47.621632% 10.899588% 27.208136%);
    --palSeasons-431: rgb(47.017933% 10.675016% 27.285463%);
    --palSeasons-432: rgb(46.406357% 10.46732% 27.351326%);
    --palSeasons-433: rgb(45.787023% 10.276671% 27.404762%);
    --palSeasons-434: rgb(45.160101% 10.103069% 27.444823%);
    --palSeasons-435: rgb(44.525817% 9.94633% 27.470583%);
    --palSeasons-436: rgb(43.884451% 9.806082% 27.48117%);
    --palSeasons-437: rgb(43.236329% 9.681766% 27.475772%);
    --palSeasons-438: rgb(42.58183% 9.572641% 27.453659%);
    --palSeasons-439: rgb(41.921374% 9.477799% 27.414193%);
    --palSeasons-440: rgb(41.25542% 9.396185% 27.356841%);
    --palSeasons-441: rgb(40.584463% 9.326613% 27.281175%);
    --palSeasons-442: rgb(39.90901% 9.267823% 27.186898%);
    --palSeasons-443: rgb(39.229586% 9.21849% 27.073831%);
    --palSeasons-444: rgb(38.546731% 9.177238% 26.9419%);
    --palSeasons-445: rgb(37.860984% 9.142696% 26.791149%);
    --palSeasons-446: rgb(37.172853% 9.113546% 26.621743%);
    --palSeasons-447: rgb(36.482885% 9.088432% 26.433903%);
    --palSeasons-448: rgb(35.79154% 9.066163% 26.227986%);
    --palSeasons-449: rgb(35.099313% 9.045533% 26.004381%);
    --palSeasons-450: rgb(34.40665% 9.025454% 25.763556%);
    --palSeasons-451: rgb(33.713958% 9.004941% 25.506035%);
    --palSeasons-452: rgb(33.021632% 8.983073% 25.232371%);
    --palSeasons-453: rgb(32.330037% 8.959019% 24.943149%);
    --palSeasons-454: rgb(31.639505% 8.932038% 24.638975%);
    --palSeasons-455: rgb(30.950337% 8.901475% 24.32047%);
    --palSeasons-456: rgb(30.262805% 8.866755% 23.988257%);
    --palSeasons-457: rgb(29.577147% 8.827381% 23.642961%);
    --palSeasons-458: rgb(28.893574% 8.782924% 23.2852%);
    --palSeasons-459: rgb(28.212338% 8.732934% 22.91558%);
    --palSeasons-460: rgb(27.533542% 8.677173% 22.534696%);
    --palSeasons-461: rgb(26.857379% 8.615309% 22.143128%);
    --palSeasons-462: rgb(26.183947% 8.547151% 21.741433%);
    --palSeasons-463: rgb(25.513403% 8.472445% 21.330158%);
    --palSeasons-464: rgb(24.845792% 8.39109% 20.909815%);
    --palSeasons-465: rgb(24.181201% 8.30294% 20.480902%);
    --palSeasons-466: rgb(23.519734% 8.207836% 20.043906%);
    --palSeasons-467: rgb(22.8614% 8.105738% 19.599271%);
    --palSeasons-468: rgb(22.206236% 7.996572% 19.147429%);
    --palSeasons-469: rgb(21.554266% 7.880284% 18.68879%);
    --palSeasons-470: rgb(20.905499% 7.756832% 18.223739%);
    --palSeasons-471: rgb(20.259933% 7.626186% 17.752642%);
    --palSeasons-472: rgb(19.617552% 7.488328% 17.275841%);
    --palSeasons-473: rgb(18.978352% 7.343221% 16.793665%);
    --palSeasons-474: rgb(18.342297% 7.190857% 16.306416%);
    --palSeasons-475: rgb(17.709324% 7.031248% 15.814365%);
    --palSeasons-476: rgb(17.079372% 6.864393% 15.317769%);
    --palSeasons-477: rgb(16.452442% 6.690221% 14.8169%);
    --palSeasons-478: rgb(15.828396% 6.508789% 14.311947%);
    --palSeasons-479: rgb(15.207189% 6.320047% 13.80313%);
    --palSeasons-480: rgb(14.588721% 6.123987% 13.290628%);
    --palSeasons-481: rgb(13.972898% 5.920577% 12.774609%);
    --palSeasons-482: rgb(13.359595% 5.709801% 12.255209%);
    --palSeasons-483: rgb(12.748726% 5.491583% 11.732577%);
    --palSeasons-484: rgb(12.140114% 5.265915% 11.20679%);
    --palSeasons-485: rgb(11.533645% 5.032704% 10.677955%);
    --palSeasons-486: rgb(10.929162% 4.791872% 10.14614%);
    --palSeasons-487: rgb(10.32647% 4.543345% 9.611373%);
    --palSeasons-488: rgb(9.725382% 4.28701% 9.073675%);
    --palSeasons-489: rgb(9.125697% 4.022385% 8.53305%);
    --palSeasons-490: rgb(8.527201% 3.751746% 7.989478%);
    --palSeasons-491: rgb(7.929616% 3.484313% 7.442882%);
    --palSeasons-492: rgb(7.332664% 3.220771% 6.893169%);
    --palSeasons-493: rgb(6.736028% 2.961813% 6.340211%);
    --palSeasons-494: rgb(6.139357% 2.708138% 5.783834%);
    --palSeasons-495: rgb(5.542251% 2.460454% 5.223818%);
    --palSeasons-496: rgb(4.944255% 2.219479% 4.659884%);
    --palSeasons-497: rgb(4.344847% 1.985942% 4.091682%);
    --palSeasons-498: rgb(3.74503% 1.76059% 3.530297%);
    --palSeasons-499: rgb(3.184208% 1.544185% 3.011323%);
    --palSeasons-500: rgb(2.672848% 1.337514% 2.535235%);
    --palSeasons-501: rgb(2.209632% 1.141388% 2.101538%);
    --palSeasons-502: rgb(1.793276% 0.956667% 1.709702%);
    --palSeasons-503: rgb(1.422581% 0.784255% 1.359203%);
    --palSeasons-504: rgb(1.096425% 0.625118% 1.049526%);
    --palSeasons-505: rgb(0.813783% 0.480306% 0.780181%);
    --palSeasons-506: rgb(0.573749% 0.350989% 0.550729%);
    --palSeasons-507: rgb(0.375552% 0.238512% 0.360794%);
    --palSeasons-508: rgb(0.218654% 0.144479% 0.210158%);
    --palSeasons-509: rgb(0.102891% 0.070937% 0.098895%);
    --palSeasons-510: rgb(0.028859% 0.020827% 0.027725%);
}
