/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palSet3-1: rgb(55.294118% 82.745098% 78.039216%);
    --palSet3-2: rgb(100% 100% 70.196078%);
    --palSet3-3: rgb(74.509804% 72.941176% 85.490196%);
    --palSet3-4: rgb(98.431373% 50.196078% 44.705882%);
    --palSet3-5: rgb(50.196078% 69.411765% 82.745098%);
    --palSet3-6: rgb(99.215686% 70.588235% 38.431373%);
    --palSet3-7: rgb(70.196078% 87.058824% 41.176471%);
    --palSet3-8: rgb(98.823529% 80.392157% 89.803922%);
    --palSet3-9: rgb(85.098039% 85.098039% 85.098039%);
    --palSet3-10: rgb(73.72549% 50.196078% 74.117647%);
    --palSet3-11: rgb(80% 92.156863% 77.254902%);
    --palSet3-12: rgb(100% 92.941176% 43.529412%);
}
