/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTab20c-1: rgb(19.215686% 50.980392% 74.117647%);
    --palTab20c-2: rgb(41.960784% 68.235294% 83.921569%);
    --palTab20c-3: rgb(61.960784% 79.215686% 88.235294%);
    --palTab20c-4: rgb(77.647059% 85.882353% 93.72549%);
    --palTab20c-5: rgb(90.196078% 33.333333% 5.098039%);
    --palTab20c-6: rgb(99.215686% 55.294118% 23.529412%);
    --palTab20c-7: rgb(99.215686% 68.235294% 41.960784%);
    --palTab20c-8: rgb(99.215686% 81.568627% 63.529412%);
    --palTab20c-9: rgb(19.215686% 63.921569% 32.941176%);
    --palTab20c-10: rgb(45.490196% 76.862745% 46.27451%);
    --palTab20c-11: rgb(63.137255% 85.098039% 60.784314%);
    --palTab20c-12: rgb(78.039216% 91.372549% 75.294118%);
    --palTab20c-13: rgb(45.882353% 41.960784% 69.411765%);
    --palTab20c-14: rgb(61.960784% 60.392157% 78.431373%);
    --palTab20c-15: rgb(73.72549% 74.117647% 86.27451%);
    --palTab20c-16: rgb(85.490196% 85.490196% 92.156863%);
    --palTab20c-17: rgb(38.823529% 38.823529% 38.823529%);
    --palTab20c-18: rgb(58.823529% 58.823529% 58.823529%);
    --palTab20c-19: rgb(74.117647% 74.117647% 74.117647%);
    --palTab20c-20: rgb(85.098039% 85.098039% 85.098039%);
}
