/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTableauMedium-1: rgb(44.705882% 61.960784% 80.784314%);
    --palTableauMedium-2: rgb(100% 61.960784% 29.019608%);
    --palTableauMedium-3: rgb(40.392157% 74.901961% 36.078431%);
    --palTableauMedium-4: rgb(92.941176% 40% 36.470588%);
    --palTableauMedium-5: rgb(67.843137% 54.509804% 78.823529%);
    --palTableauMedium-6: rgb(65.882353% 47.058824% 43.137255%);
    --palTableauMedium-7: rgb(92.941176% 59.215686% 79.215686%);
    --palTableauMedium-8: rgb(63.529412% 63.529412% 63.529412%);
    --palTableauMedium-9: rgb(80.392157% 80% 36.470588%);
    --palTableauMedium-10: rgb(42.745098% 80% 85.490196%);
}
