/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTableauLight-1: rgb(68.235294% 78.039216% 90.980392%);
    --palTableauLight-2: rgb(100% 73.333333% 47.058824%);
    --palTableauLight-3: rgb(59.607843% 87.45098% 54.117647%);
    --palTableauLight-4: rgb(100% 59.607843% 58.823529%);
    --palTableauLight-5: rgb(77.254902% 69.019608% 83.529412%);
    --palTableauLight-6: rgb(76.862745% 61.176471% 58.039216%);
    --palTableauLight-7: rgb(96.862745% 71.372549% 82.352941%);
    --palTableauLight-8: rgb(78.039216% 78.039216% 78.039216%);
    --palTableauLight-9: rgb(85.882353% 85.882353% 55.294118%);
    --palTableauLight-10: rgb(61.960784% 85.490196% 89.803922%);
}
