/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTdocDark-1: rgb(58.4% 56.9% 65.1%);
    --palTdocDark-2: rgb(0% 100% 100%);
    --palTdocDark-3: rgb(0% 88% 0%);
    --palTdocDark-4: rgb(100% 50% 0%);
    --palTdocDark-5: rgb(50% 0% 50%);
    --palTdocDark-6: rgb(100% 0% 0%);
    --palTdocDark-7: rgb(40% 100% 100%);
    --palTdocDark-8: rgb(50% 50% 50%);
    --palTdocDark-9: rgb(0% 0% 0%);
    --palTdocDark-10: rgb(80% 80% 80%);
}
