/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTorch-1: rgb(0% 0% 0%);
    --palTorch-2: rgb(0.018674% 0.024309% 0.032846%);
    --palTorch-3: rgb(0.061719% 0.084935% 0.12049%);
    --palTorch-4: rgb(0.122069% 0.177144% 0.262798%);
    --palTorch-5: rgb(0.195825% 0.298986% 0.462279%);
    --palTorch-6: rgb(0.280055% 0.449304% 0.722338%);
    --palTorch-7: rgb(0.372475% 0.627288% 1.046542%);
    --palTorch-8: rgb(0.471098% 0.832341% 1.438856%);
    --palTorch-9: rgb(0.574032% 1.064008% 1.903864%);
    --palTorch-10: rgb(0.679734% 1.321885% 2.445963%);
    --palTorch-11: rgb(0.786757% 1.605625% 3.069891%);
    --palTorch-12: rgb(0.89348% 1.914941% 3.781465%);
    --palTorch-13: rgb(0.998839% 2.249507% 4.557023%);
    --palTorch-14: rgb(1.1014% 2.60905% 5.33905%);
    --palTorch-15: rgb(1.20007% 2.993262% 6.127602%);
    --palTorch-16: rgb(1.293701% 3.401834% 6.92362%);
    --palTorch-17: rgb(1.381183% 3.834435% 7.728004%);
    --palTorch-18: rgb(1.461545% 4.282425% 8.54139%);
    --palTorch-19: rgb(1.533825% 4.723936% 9.364494%);
    --palTorch-20: rgb(1.597013% 5.159511% 10.198189%);
    --palTorch-21: rgb(1.650594% 5.589322% 11.042506%);
    --palTorch-22: rgb(1.693189% 6.013508% 11.899186%);
    --palTorch-23: rgb(1.724649% 6.43214% 12.767826%);
    --palTorch-24: rgb(1.744333% 6.84526% 13.649094%);
    --palTorch-25: rgb(1.751159% 7.252853% 14.544509%);
    --palTorch-26: rgb(1.745185% 7.654879% 15.453837%);
    --palTorch-27: rgb(1.726056% 8.051255% 16.377741%);
    --palTorch-28: rgb(1.693538% 8.441857% 17.31689%);
    --palTorch-29: rgb(1.647536% 8.826521% 18.271955%);
    --palTorch-30: rgb(1.587933% 9.205024% 19.243892%);
    --palTorch-31: rgb(1.515256% 9.577134% 20.232953%);
    --palTorch-32: rgb(1.430001% 9.94256% 21.239768%);
    --palTorch-33: rgb(1.33291% 10.300963% 22.264964%);
    --palTorch-34: rgb(1.224907% 10.651944% 23.309309%);
    --palTorch-35: rgb(1.107172% 10.995036% 24.373667%);
    --palTorch-36: rgb(0.981597% 11.329757% 25.458355%);
    --palTorch-37: rgb(0.850361% 11.655554% 26.563866%);
    --palTorch-38: rgb(0.716035% 11.971791% 27.690797%);
    --palTorch-39: rgb(0.581125% 12.277618% 28.840789%);
    --palTorch-40: rgb(0.45028% 12.572419% 30.01286%);
    --palTorch-41: rgb(0.327023% 12.855046% 31.209254%);
    --palTorch-42: rgb(0.217453% 13.124687% 32.429006%);
    --palTorch-43: rgb(0.12754% 13.380111% 33.673116%);
    --palTorch-44: rgb(0.064532% 13.61994% 34.942367%);
    --palTorch-45: rgb(0.037501% 13.842855% 36.236243%);
    --palTorch-46: rgb(0.056765% 14.047266% 37.554654%);
    --palTorch-47: rgb(0.134404% 14.231344% 38.897475%);
    --palTorch-48: rgb(0.284733% 14.393114% 40.263945%);
    --palTorch-49: rgb(0.524606% 14.530762% 41.651536%);
    --palTorch-50: rgb(0.873427% 14.641697% 43.05926%);
    --palTorch-51: rgb(1.353836% 14.723942% 44.48261%);
    --palTorch-52: rgb(1.991589% 14.77539% 45.916396%);
    --palTorch-53: rgb(2.815668% 14.794231% 47.353456%);
    --palTorch-54: rgb(3.85751% 14.779542% 48.783537%);
    --palTorch-55: rgb(5.05494% 14.731894% 50.192749%);
    --palTorch-56: rgb(6.293976% 14.654165% 51.563197%);
    --palTorch-57: rgb(7.567503% 14.552303% 52.873415%);
    --palTorch-58: rgb(8.863747% 14.435984% 54.099536%);
    --palTorch-59: rgb(10.167044% 14.318579% 55.217881%);
    --palTorch-60: rgb(11.460358% 14.215266% 56.209426%);
    --palTorch-61: rgb(12.727798% 14.14063% 57.062998%);
    --palTorch-62: rgb(13.957016% 14.106174% 57.776658%);
    --palTorch-63: rgb(15.14052% 14.118753% 58.356718%);
    --palTorch-64: rgb(16.275559% 14.180441% 58.815099%);
    --palTorch-65: rgb(17.362354% 14.289807% 59.166383%);
    --palTorch-66: rgb(18.403847% 14.442672% 59.425747%);
    --palTorch-67: rgb(19.403727% 14.633755% 59.607508%);
    --palTorch-68: rgb(20.366121% 14.857333% 59.72452%);
    --palTorch-69: rgb(21.295163% 15.107815% 59.787931%);
    --palTorch-70: rgb(22.194634% 15.3801% 59.807267%);
    --palTorch-71: rgb(23.067894% 15.669707% 59.790604%);
    --palTorch-72: rgb(23.918109% 15.972722% 59.744604%);
    --palTorch-73: rgb(24.747949% 16.285884% 59.674876%);
    --palTorch-74: rgb(25.559602% 16.606519% 59.586227%);
    --palTorch-75: rgb(26.35519% 16.932369% 59.482497%);
    --palTorch-76: rgb(27.136484% 17.26161% 59.366947%);
    --palTorch-77: rgb(27.905018% 17.592772% 59.242306%);
    --palTorch-78: rgb(28.662135% 17.92467% 59.110859%);
    --palTorch-79: rgb(29.40896% 18.25637% 58.974577%);
    --palTorch-80: rgb(30.146622% 18.587097% 58.834956%);
    --palTorch-81: rgb(30.876068% 18.916254% 58.693294%);
    --palTorch-82: rgb(31.59807% 19.243386% 58.550761%);
    --palTorch-83: rgb(32.313391% 19.568127% 58.408248%);
    --palTorch-84: rgb(33.022762% 19.890184% 58.266421%);
    --palTorch-85: rgb(33.726695% 20.209368% 58.126028%);
    --palTorch-86: rgb(34.425866% 20.525493% 57.987398%);
    --palTorch-87: rgb(35.120693% 20.838466% 57.851055%);
    --palTorch-88: rgb(35.811722% 21.148189% 57.717197%);
    --palTorch-89: rgb(36.499373% 21.454609% 57.586076%);
    --palTorch-90: rgb(37.184029% 21.757699% 57.457888%);
    --palTorch-91: rgb(37.866126% 22.057427% 57.332655%);
    --palTorch-92: rgb(38.545996% 22.353794% 57.210464%);
    --palTorch-93: rgb(39.223966% 22.646807% 57.091337%);
    --palTorch-94: rgb(39.90039% 22.936465% 56.975182%);
    --palTorch-95: rgb(40.575567% 23.222785% 56.861929%);
    --palTorch-96: rgb(41.249767% 23.505791% 56.751499%);
    --palTorch-97: rgb(41.923272% 23.785502% 56.64374%);
    --palTorch-98: rgb(42.596355% 24.061936% 56.538467%);
    --palTorch-99: rgb(43.269263% 24.335117% 56.435491%);
    --palTorch-100: rgb(43.942233% 24.60507% 56.334601%);
    --palTorch-101: rgb(44.61548% 24.871822% 56.235578%);
    --palTorch-102: rgb(45.289226% 25.135399% 56.138159%);
    --palTorch-103: rgb(45.963678% 25.395822% 56.042065%);
    --palTorch-104: rgb(46.63903% 25.653118% 55.947011%);
    --palTorch-105: rgb(47.315464% 25.907314% 55.852696%);
    --palTorch-106: rgb(47.993153% 26.158438% 55.758806%);
    --palTorch-107: rgb(48.672256% 26.406518% 55.665014%);
    --palTorch-108: rgb(49.352925% 26.651586% 55.570984%);
    --palTorch-109: rgb(50.035303% 26.893672% 55.476364%);
    --palTorch-110: rgb(50.719518% 27.13281% 55.380795%);
    --palTorch-111: rgb(51.405691% 27.369038% 55.283914%);
    --palTorch-112: rgb(52.093926% 27.602395% 55.18535%);
    --palTorch-113: rgb(52.784321% 27.832923% 55.084727%);
    --palTorch-114: rgb(53.476959% 28.06067% 54.981663%);
    --palTorch-115: rgb(54.171918% 28.285684% 54.875768%);
    --palTorch-116: rgb(54.869257% 28.508019% 54.766658%);
    --palTorch-117: rgb(55.569025% 28.727737% 54.65395%);
    --palTorch-118: rgb(56.271257% 28.944902% 54.537258%);
    --palTorch-119: rgb(56.975981% 29.159583% 54.416199%);
    --palTorch-120: rgb(57.683207% 29.371855% 54.290392%);
    --palTorch-121: rgb(58.392947% 29.581796% 54.159445%);
    --palTorch-122: rgb(59.105191% 29.789492% 54.022986%);
    --palTorch-123: rgb(59.819909% 29.995039% 53.880661%);
    --palTorch-124: rgb(60.537066% 30.198537% 53.732113%);
    --palTorch-125: rgb(61.256618% 30.400095% 53.576994%);
    --palTorch-126: rgb(61.978528% 30.599811% 53.414922%);
    --palTorch-127: rgb(62.702714% 30.797815% 53.245593%);
    --palTorch-128: rgb(63.429091% 30.994238% 53.068698%);
    --palTorch-129: rgb(64.157567% 31.189215% 52.883933%);
    --palTorch-130: rgb(64.888083% 31.382865% 52.690924%);
    --palTorch-131: rgb(65.620487% 31.575361% 52.489464%);
    --palTorch-132: rgb(66.354654% 31.766864% 52.27929%);
    --palTorch-133: rgb(67.090504% 31.95751% 52.060047%);
    --palTorch-134: rgb(67.827849% 32.147501% 51.831584%);
    --palTorch-135: rgb(68.566547% 32.337014% 51.593655%);
    --palTorch-136: rgb(69.306469% 32.526223% 51.345982%);
    --palTorch-137: rgb(70.047391% 32.715362% 51.088483%);
    --palTorch-138: rgb(70.789208% 32.904596% 50.820811%);
    --palTorch-139: rgb(71.531651% 33.094193% 50.542973%);
    --palTorch-140: rgb(72.274598% 33.284339% 50.254642%);
    --palTorch-141: rgb(73.017764% 33.47532% 49.955857%);
    --palTorch-142: rgb(73.761008% 33.667343% 49.64631%);
    --palTorch-143: rgb(74.504037% 33.860712% 49.326047%);
    --palTorch-144: rgb(75.246632% 34.055692% 48.994927%);
    --palTorch-145: rgb(75.988565% 34.252558% 48.652812%);
    --palTorch-146: rgb(76.729532% 34.451641% 48.299749%);
    --palTorch-147: rgb(77.46926% 34.653258% 47.935685%);
    --palTorch-148: rgb(78.207495% 34.857724% 47.560502%);
    --palTorch-149: rgb(78.943906% 35.065406% 47.174257%);
    --palTorch-150: rgb(79.678167% 35.27668% 46.776985%);
    --palTorch-151: rgb(80.409941% 35.491935% 46.368715%);
    --palTorch-152: rgb(81.138874% 35.711579% 45.949501%);
    --palTorch-153: rgb(81.86459% 35.936045% 45.519421%);
    --palTorch-154: rgb(82.586689% 36.165787% 45.078585%);
    --palTorch-155: rgb(83.304748% 36.401286% 44.627135%);
    --palTorch-156: rgb(84.018318% 36.643047% 44.16525%);
    --palTorch-157: rgb(84.726936% 36.891593% 43.69308%);
    --palTorch-158: rgb(85.430107% 37.14748% 43.21083%);
    --palTorch-159: rgb(86.127261% 37.411315% 42.718907%);
    --palTorch-160: rgb(86.817848% 37.683705% 42.217546%);
    --palTorch-161: rgb(87.501258% 37.965302% 41.707127%);
    --palTorch-162: rgb(88.176832% 38.256796% 41.188129%);
    --palTorch-163: rgb(88.843866% 38.558908% 40.661095%);
    --palTorch-164: rgb(89.501643% 38.872382% 40.12647%);
    --palTorch-165: rgb(90.149337% 39.198022% 39.585092%);
    --palTorch-166: rgb(90.7861% 39.536651% 39.037728%);
    --palTorch-167: rgb(91.411023% 39.889127% 38.48528%);
    --palTorch-168: rgb(92.02313% 40.256346% 37.928813%);
    --palTorch-169: rgb(92.621378% 40.639229% 37.369574%);
    --palTorch-170: rgb(93.204657% 41.038724% 36.809018%);
    --palTorch-171: rgb(93.771802% 41.455801% 36.248652%);
    --palTorch-172: rgb(94.32156% 41.891431% 35.690498%);
    --palTorch-173: rgb(94.852631% 42.346593% 35.136636%);
    --palTorch-174: rgb(95.363654% 42.822236% 34.589628%);
    --palTorch-175: rgb(95.853225% 43.319287% 34.052196%);
    --palTorch-176: rgb(96.319906% 43.838608% 33.527536%);
    --palTorch-177: rgb(96.762255% 44.380966% 33.019262%);
    --palTorch-178: rgb(97.178846% 44.947023% 32.53131%);
    --palTorch-179: rgb(97.568305% 45.537281% 32.068061%);
    --palTorch-180: rgb(97.929365% 46.152034% 31.634312%);
    --palTorch-181: rgb(98.260883% 46.791377% 31.235074%);
    --palTorch-182: rgb(98.561917% 47.455118% 30.875671%);
    --palTorch-183: rgb(98.831751% 48.142796% 30.561484%);
    --palTorch-184: rgb(99.069973% 48.853619% 30.297922%);
    --palTorch-185: rgb(99.276472% 49.586504% 30.090129%);
    --palTorch-186: rgb(99.451475% 50.340077% 29.942856%);
    --palTorch-187: rgb(99.595568% 51.112687% 29.860285%);
    --palTorch-188: rgb(99.709661% 51.902474% 29.845833%);
    --palTorch-189: rgb(99.794961% 52.707424% 29.902034%);
    --palTorch-190: rgb(99.852928% 53.52543% 30.030464%);
    --palTorch-191: rgb(99.885217% 54.354361% 30.231724%);
    --palTorch-192: rgb(99.893646% 55.192099% 30.505475%);
    --palTorch-193: rgb(99.880078% 56.036642% 30.85051%);
    --palTorch-194: rgb(99.846401% 56.88611% 31.26489%);
    --palTorch-195: rgb(99.794556% 57.738725% 31.746061%);
    --palTorch-196: rgb(99.726313% 58.592964% 32.291032%);
    --palTorch-197: rgb(99.643514% 59.447366% 32.896456%);
    --palTorch-198: rgb(99.547765% 60.30075% 33.558838%);
    --palTorch-199: rgb(99.440644% 61.152037% 34.274579%);
    --palTorch-200: rgb(99.323628% 62.000305% 35.040078%);
    --palTorch-201: rgb(99.198083% 62.84477% 35.85181%);
    --palTorch-202: rgb(99.06527% 63.684776% 36.706378%);
    --palTorch-203: rgb(98.926348% 64.519784% 37.600549%);
    --palTorch-204: rgb(98.782383% 65.349353% 38.531279%);
    --palTorch-205: rgb(98.634388% 66.173108% 39.49569%);
    --palTorch-206: rgb(98.483345% 66.990723% 40.49106%);
    --palTorch-207: rgb(98.33004% 67.802014% 41.514979%);
    --palTorch-208: rgb(98.17537% 68.606748% 42.565062%);
    --palTorch-209: rgb(98.020064% 69.404809% 43.639208%);
    --palTorch-210: rgb(97.864823% 70.196105% 44.735464%);
    --palTorch-211: rgb(97.710347% 70.980558% 45.851987%);
    --palTorch-212: rgb(97.557296% 71.758122% 46.987077%);
    --palTorch-213: rgb(97.406291% 72.528774% 48.139162%);
    --palTorch-214: rgb(97.257924% 73.292519% 49.306792%);
    --palTorch-215: rgb(97.112757% 74.049376% 50.488623%);
    --palTorch-216: rgb(96.971327% 74.799382% 51.683411%);
    --palTorch-217: rgb(96.834148% 75.542588% 52.89%);
    --palTorch-218: rgb(96.701711% 76.279055% 54.107315%);
    --palTorch-219: rgb(96.574602% 77.008809% 55.334211%);
    --palTorch-220: rgb(96.453202% 77.731963% 56.569846%);
    --palTorch-221: rgb(96.338006% 78.448582% 57.813269%);
    --palTorch-222: rgb(96.229481% 79.158745% 59.063598%);
    --palTorch-223: rgb(96.128047% 79.862551% 60.320042%);
    --palTorch-224: rgb(96.034121% 80.560095% 61.581843%);
    --palTorch-225: rgb(95.948184% 81.251453% 62.848172%);
    --palTorch-226: rgb(95.870567% 81.936753% 64.11843%);
    --palTorch-227: rgb(95.801686% 82.616092% 65.39192%);
    --palTorch-228: rgb(95.742003% 83.289549% 66.667882%);
    --palTorch-229: rgb(95.691841% 83.957252% 67.945777%);
    --palTorch-230: rgb(95.651582% 84.619305% 69.224991%);
    --palTorch-231: rgb(95.621603% 85.275815% 70.504922%);
    --palTorch-232: rgb(95.602277% 85.926885% 71.784986%);
    --palTorch-233: rgb(95.593972% 86.572619% 73.064613%);
    --palTorch-234: rgb(95.597055% 87.213122% 74.343247%);
    --palTorch-235: rgb(95.611893% 87.848492% 75.620336%);
    --palTorch-236: rgb(95.638859% 88.478826% 76.895337%);
    --palTorch-237: rgb(95.678334% 89.104214% 78.167708%);
    --palTorch-238: rgb(95.730717% 89.724738% 79.436904%);
    --palTorch-239: rgb(95.796428% 90.340468% 80.702373%);
    --palTorch-240: rgb(95.875958% 90.951453% 81.963494%);
    --palTorch-241: rgb(95.969806% 91.55773% 83.219698%);
    --palTorch-242: rgb(96.078541% 92.159309% 84.470397%);
    --palTorch-243: rgb(96.202865% 92.756153% 85.714925%);
    --palTorch-244: rgb(96.343698% 93.348153% 86.952433%);
    --palTorch-245: rgb(96.502132% 93.935129% 88.182121%);
    --palTorch-246: rgb(96.679684% 94.516758% 89.402922%);
    --palTorch-247: rgb(96.87859% 95.09249% 90.613208%);
    --palTorch-248: rgb(97.101994% 95.661475% 91.810827%);
    --palTorch-249: rgb(97.354759% 96.222377% 92.99179%);
    --palTorch-250: rgb(97.643957% 96.773343% 94.148791%);
    --palTorch-251: rgb(97.978302% 97.312565% 95.268046%);
    --palTorch-252: rgb(98.362318% 97.84075% 96.327718%);
    --palTorch-253: rgb(98.782923% 98.365208% 97.309516%);
    --palTorch-254: rgb(99.208207% 98.897571% 98.224704%);
    --palTorch-255: rgb(99.614668% 99.443276% 99.111154%);
    --palTorch-256: rgb(100% 100% 100%);
}
