/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTurbid-1: rgb(91.372549% 96.470588% 67.058824%);
    --palTurbid-2: rgb(90.980392% 96.078431% 66.666667%);
    --palTurbid-3: rgb(90.980392% 95.294118% 65.882353%);
    --palTurbid-4: rgb(90.588235% 94.901961% 65.490196%);
    --palTurbid-5: rgb(90.196078% 94.509804% 64.705882%);
    --palTurbid-6: rgb(90.196078% 94.117647% 64.313725%);
    --palTurbid-7: rgb(89.803922% 93.72549% 63.529412%);
    --palTurbid-8: rgb(89.803922% 93.333333% 63.137255%);
    --palTurbid-9: rgb(89.411765% 92.54902% 62.352941%);
    --palTurbid-10: rgb(89.411765% 92.156863% 61.960784%);
    --palTurbid-11: rgb(89.019608% 91.764706% 61.176471%);
    --palTurbid-12: rgb(89.019608% 91.372549% 60.784314%);
    --palTurbid-13: rgb(88.627451% 90.980392% 60.392157%);
    --palTurbid-14: rgb(88.627451% 90.588235% 59.607843%);
    --palTurbid-15: rgb(88.235294% 89.803922% 59.215686%);
    --palTurbid-16: rgb(87.843137% 89.411765% 58.431373%);
    --palTurbid-17: rgb(87.843137% 89.019608% 58.039216%);
    --palTurbid-18: rgb(87.45098% 88.627451% 57.254902%);
    --palTurbid-19: rgb(87.45098% 88.235294% 56.862745%);
    --palTurbid-20: rgb(87.058824% 87.843137% 56.078431%);
    --palTurbid-21: rgb(87.058824% 87.45098% 55.686275%);
    --palTurbid-22: rgb(86.666667% 86.666667% 55.294118%);
    --palTurbid-23: rgb(86.666667% 86.27451% 54.509804%);
    --palTurbid-24: rgb(86.27451% 85.882353% 54.117647%);
    --palTurbid-25: rgb(86.27451% 85.490196% 53.333333%);
    --palTurbid-26: rgb(85.882353% 85.098039% 52.941176%);
    --palTurbid-27: rgb(85.882353% 84.705882% 52.54902%);
    --palTurbid-28: rgb(85.490196% 84.313725% 51.764706%);
    --palTurbid-29: rgb(85.490196% 83.529412% 51.372549%);
    --palTurbid-30: rgb(85.098039% 83.137255% 50.980392%);
    --palTurbid-31: rgb(85.098039% 82.745098% 50.196078%);
    --palTurbid-32: rgb(85.098039% 82.352941% 49.803922%);
    --palTurbid-33: rgb(84.705882% 81.960784% 49.411765%);
    --palTurbid-34: rgb(84.705882% 81.568627% 48.627451%);
    --palTurbid-35: rgb(84.313725% 81.176471% 48.235294%);
    --palTurbid-36: rgb(84.313725% 80.784314% 47.843137%);
    --palTurbid-37: rgb(83.921569% 80% 47.058824%);
    --palTurbid-38: rgb(83.921569% 79.607843% 46.666667%);
    --palTurbid-39: rgb(83.529412% 79.215686% 46.27451%);
    --palTurbid-40: rgb(83.529412% 78.823529% 45.490196%);
    --palTurbid-41: rgb(83.137255% 78.431373% 45.098039%);
    --palTurbid-42: rgb(83.137255% 78.039216% 44.705882%);
    --palTurbid-43: rgb(82.745098% 77.647059% 44.313725%);
    --palTurbid-44: rgb(82.745098% 77.254902% 43.529412%);
    --palTurbid-45: rgb(82.745098% 76.470588% 43.137255%);
    --palTurbid-46: rgb(82.352941% 76.078431% 42.745098%);
    --palTurbid-47: rgb(82.352941% 75.686275% 42.352941%);
    --palTurbid-48: rgb(81.960784% 75.294118% 41.960784%);
    --palTurbid-49: rgb(81.960784% 74.901961% 41.176471%);
    --palTurbid-50: rgb(81.568627% 74.509804% 40.784314%);
    --palTurbid-51: rgb(81.568627% 74.117647% 40.392157%);
    --palTurbid-52: rgb(81.176471% 73.72549% 40%);
    --palTurbid-53: rgb(81.176471% 73.333333% 39.607843%);
    --palTurbid-54: rgb(81.176471% 72.941176% 39.215686%);
    --palTurbid-55: rgb(80.784314% 72.156863% 38.431373%);
    --palTurbid-56: rgb(80.784314% 71.764706% 38.039216%);
    --palTurbid-57: rgb(80.392157% 71.372549% 37.647059%);
    --palTurbid-58: rgb(80.392157% 70.980392% 37.254902%);
    --palTurbid-59: rgb(80% 70.588235% 36.862745%);
    --palTurbid-60: rgb(80% 70.196078% 36.470588%);
    --palTurbid-61: rgb(79.607843% 69.803922% 36.078431%);
    --palTurbid-62: rgb(79.607843% 69.411765% 35.686275%);
    --palTurbid-63: rgb(79.215686% 69.019608% 35.294118%);
    --palTurbid-64: rgb(79.215686% 68.627451% 34.901961%);
    --palTurbid-65: rgb(79.215686% 68.235294% 34.509804%);
    --palTurbid-66: rgb(78.823529% 67.45098% 34.117647%);
    --palTurbid-67: rgb(78.823529% 67.058824% 33.72549%);
    --palTurbid-68: rgb(78.431373% 66.666667% 33.333333%);
    --palTurbid-69: rgb(78.431373% 66.27451% 32.941176%);
    --palTurbid-70: rgb(78.039216% 65.882353% 32.54902%);
    --palTurbid-71: rgb(78.039216% 65.490196% 32.156863%);
    --palTurbid-72: rgb(77.647059% 65.098039% 31.764706%);
    --palTurbid-73: rgb(77.647059% 64.705882% 31.764706%);
    --palTurbid-74: rgb(77.254902% 64.313725% 31.372549%);
    --palTurbid-75: rgb(77.254902% 63.921569% 30.980392%);
    --palTurbid-76: rgb(76.862745% 63.529412% 30.588235%);
    --palTurbid-77: rgb(76.862745% 63.137255% 30.196078%);
    --palTurbid-78: rgb(76.470588% 62.745098% 30.196078%);
    --palTurbid-79: rgb(76.470588% 62.352941% 29.803922%);
    --palTurbid-80: rgb(76.078431% 61.960784% 29.411765%);
    --palTurbid-81: rgb(76.078431% 61.176471% 29.019608%);
    --palTurbid-82: rgb(75.686275% 60.784314% 29.019608%);
    --palTurbid-83: rgb(75.686275% 60.392157% 28.627451%);
    --palTurbid-84: rgb(75.294118% 60% 28.235294%);
    --palTurbid-85: rgb(75.294118% 59.607843% 28.235294%);
    --palTurbid-86: rgb(74.901961% 59.215686% 27.843137%);
    --palTurbid-87: rgb(74.901961% 58.823529% 27.843137%);
    --palTurbid-88: rgb(74.509804% 58.431373% 27.45098%);
    --palTurbid-89: rgb(74.117647% 58.039216% 27.058824%);
    --palTurbid-90: rgb(74.117647% 57.647059% 27.058824%);
    --palTurbid-91: rgb(73.72549% 57.254902% 26.666667%);
    --palTurbid-92: rgb(73.72549% 56.862745% 26.666667%);
    --palTurbid-93: rgb(73.333333% 56.470588% 26.27451%);
    --palTurbid-94: rgb(73.333333% 56.078431% 26.27451%);
    --palTurbid-95: rgb(72.941176% 55.686275% 25.882353%);
    --palTurbid-96: rgb(72.54902% 55.294118% 25.882353%);
    --palTurbid-97: rgb(72.54902% 54.901961% 25.882353%);
    --palTurbid-98: rgb(72.156863% 54.509804% 25.490196%);
    --palTurbid-99: rgb(71.764706% 54.117647% 25.490196%);
    --palTurbid-100: rgb(71.764706% 53.72549% 25.098039%);
    --palTurbid-101: rgb(71.372549% 53.72549% 25.098039%);
    --palTurbid-102: rgb(71.372549% 53.333333% 25.098039%);
    --palTurbid-103: rgb(70.980392% 52.941176% 25.098039%);
    --palTurbid-104: rgb(70.588235% 52.54902% 24.705882%);
    --palTurbid-105: rgb(70.196078% 52.156863% 24.705882%);
    --palTurbid-106: rgb(70.196078% 51.764706% 24.705882%);
    --palTurbid-107: rgb(69.803922% 51.372549% 24.313725%);
    --palTurbid-108: rgb(69.411765% 50.980392% 24.313725%);
    --palTurbid-109: rgb(69.411765% 50.588235% 24.313725%);
    --palTurbid-110: rgb(69.019608% 50.196078% 24.313725%);
    --palTurbid-111: rgb(68.627451% 49.803922% 23.921569%);
    --palTurbid-112: rgb(68.627451% 49.411765% 23.921569%);
    --palTurbid-113: rgb(68.235294% 49.019608% 23.921569%);
    --palTurbid-114: rgb(67.843137% 49.019608% 23.921569%);
    --palTurbid-115: rgb(67.45098% 48.627451% 23.921569%);
    --palTurbid-116: rgb(67.45098% 48.235294% 23.921569%);
    --palTurbid-117: rgb(67.058824% 47.843137% 23.529412%);
    --palTurbid-118: rgb(66.666667% 47.45098% 23.529412%);
    --palTurbid-119: rgb(66.27451% 47.058824% 23.529412%);
    --palTurbid-120: rgb(65.882353% 46.666667% 23.529412%);
    --palTurbid-121: rgb(65.882353% 46.666667% 23.529412%);
    --palTurbid-122: rgb(65.490196% 46.27451% 23.529412%);
    --palTurbid-123: rgb(65.098039% 45.882353% 23.529412%);
    --palTurbid-124: rgb(64.705882% 45.490196% 23.529412%);
    --palTurbid-125: rgb(64.313725% 45.098039% 23.137255%);
    --palTurbid-126: rgb(64.313725% 44.705882% 23.137255%);
    --palTurbid-127: rgb(63.921569% 44.705882% 23.137255%);
    --palTurbid-128: rgb(63.529412% 44.313725% 23.137255%);
    --palTurbid-129: rgb(63.137255% 43.921569% 23.137255%);
    --palTurbid-130: rgb(62.745098% 43.529412% 23.137255%);
    --palTurbid-131: rgb(62.352941% 43.137255% 23.137255%);
    --palTurbid-132: rgb(61.960784% 43.137255% 23.137255%);
    --palTurbid-133: rgb(61.960784% 42.745098% 23.137255%);
    --palTurbid-134: rgb(61.568627% 42.352941% 23.137255%);
    --palTurbid-135: rgb(61.176471% 41.960784% 23.137255%);
    --palTurbid-136: rgb(60.784314% 41.960784% 23.137255%);
    --palTurbid-137: rgb(60.392157% 41.568627% 23.137255%);
    --palTurbid-138: rgb(60% 41.176471% 23.137255%);
    --palTurbid-139: rgb(59.607843% 40.784314% 23.137255%);
    --palTurbid-140: rgb(59.215686% 40.784314% 22.745098%);
    --palTurbid-141: rgb(58.823529% 40.392157% 22.745098%);
    --palTurbid-142: rgb(58.823529% 40% 22.745098%);
    --palTurbid-143: rgb(58.431373% 39.607843% 22.745098%);
    --palTurbid-144: rgb(58.039216% 39.607843% 22.745098%);
    --palTurbid-145: rgb(57.647059% 39.215686% 22.745098%);
    --palTurbid-146: rgb(57.254902% 38.823529% 22.745098%);
    --palTurbid-147: rgb(56.862745% 38.431373% 22.745098%);
    --palTurbid-148: rgb(56.470588% 38.431373% 22.745098%);
    --palTurbid-149: rgb(56.078431% 38.039216% 22.745098%);
    --palTurbid-150: rgb(55.686275% 37.647059% 22.745098%);
    --palTurbid-151: rgb(55.294118% 37.647059% 22.745098%);
    --palTurbid-152: rgb(54.901961% 37.254902% 22.745098%);
    --palTurbid-153: rgb(54.509804% 36.862745% 22.745098%);
    --palTurbid-154: rgb(54.117647% 36.862745% 22.745098%);
    --palTurbid-155: rgb(53.72549% 36.470588% 22.745098%);
    --palTurbid-156: rgb(53.333333% 36.078431% 22.745098%);
    --palTurbid-157: rgb(52.941176% 36.078431% 22.352941%);
    --palTurbid-158: rgb(52.54902% 35.686275% 22.352941%);
    --palTurbid-159: rgb(52.156863% 35.294118% 22.352941%);
    --palTurbid-160: rgb(51.764706% 35.294118% 22.352941%);
    --palTurbid-161: rgb(51.372549% 34.901961% 22.352941%);
    --palTurbid-162: rgb(50.980392% 34.509804% 22.352941%);
    --palTurbid-163: rgb(50.588235% 34.509804% 22.352941%);
    --palTurbid-164: rgb(50.196078% 34.117647% 22.352941%);
    --palTurbid-165: rgb(49.803922% 33.72549% 22.352941%);
    --palTurbid-166: rgb(49.411765% 33.72549% 22.352941%);
    --palTurbid-167: rgb(49.019608% 33.333333% 21.960784%);
    --palTurbid-168: rgb(48.627451% 32.941176% 21.960784%);
    --palTurbid-169: rgb(48.235294% 32.941176% 21.960784%);
    --palTurbid-170: rgb(47.843137% 32.54902% 21.960784%);
    --palTurbid-171: rgb(47.45098% 32.54902% 21.960784%);
    --palTurbid-172: rgb(47.058824% 32.156863% 21.960784%);
    --palTurbid-173: rgb(46.666667% 31.764706% 21.960784%);
    --palTurbid-174: rgb(46.27451% 31.764706% 21.960784%);
    --palTurbid-175: rgb(45.882353% 31.372549% 21.568627%);
    --palTurbid-176: rgb(45.490196% 30.980392% 21.568627%);
    --palTurbid-177: rgb(45.098039% 30.980392% 21.568627%);
    --palTurbid-178: rgb(44.705882% 30.588235% 21.568627%);
    --palTurbid-179: rgb(44.313725% 30.588235% 21.568627%);
    --palTurbid-180: rgb(43.921569% 30.196078% 21.568627%);
    --palTurbid-181: rgb(43.529412% 29.803922% 21.176471%);
    --palTurbid-182: rgb(43.137255% 29.803922% 21.176471%);
    --palTurbid-183: rgb(42.745098% 29.411765% 21.176471%);
    --palTurbid-184: rgb(42.352941% 29.411765% 21.176471%);
    --palTurbid-185: rgb(41.960784% 29.019608% 20.784314%);
    --palTurbid-186: rgb(41.568627% 28.627451% 20.784314%);
    --palTurbid-187: rgb(41.176471% 28.627451% 20.784314%);
    --palTurbid-188: rgb(40.392157% 28.235294% 20.784314%);
    --palTurbid-189: rgb(40% 28.235294% 20.784314%);
    --palTurbid-190: rgb(39.607843% 27.843137% 20.392157%);
    --palTurbid-191: rgb(39.215686% 27.45098% 20.392157%);
    --palTurbid-192: rgb(38.823529% 27.45098% 20.392157%);
    --palTurbid-193: rgb(38.431373% 27.058824% 20.392157%);
    --palTurbid-194: rgb(38.039216% 27.058824% 20%);
    --palTurbid-195: rgb(37.647059% 26.666667% 20%);
    --palTurbid-196: rgb(37.254902% 26.27451% 20%);
    --palTurbid-197: rgb(36.862745% 26.27451% 20%);
    --palTurbid-198: rgb(36.470588% 25.882353% 19.607843%);
    --palTurbid-199: rgb(36.078431% 25.882353% 19.607843%);
    --palTurbid-200: rgb(35.686275% 25.490196% 19.607843%);
    --palTurbid-201: rgb(35.294118% 25.490196% 19.215686%);
    --palTurbid-202: rgb(34.901961% 25.098039% 19.215686%);
    --palTurbid-203: rgb(34.509804% 24.705882% 19.215686%);
    --palTurbid-204: rgb(34.117647% 24.705882% 18.823529%);
    --palTurbid-205: rgb(33.72549% 24.313725% 18.823529%);
    --palTurbid-206: rgb(33.333333% 24.313725% 18.823529%);
    --palTurbid-207: rgb(32.941176% 23.921569% 18.823529%);
    --palTurbid-208: rgb(32.54902% 23.529412% 18.431373%);
    --palTurbid-209: rgb(32.156863% 23.529412% 18.431373%);
    --palTurbid-210: rgb(31.764706% 23.137255% 18.431373%);
    --palTurbid-211: rgb(31.372549% 23.137255% 18.039216%);
    --palTurbid-212: rgb(30.980392% 22.745098% 18.039216%);
    --palTurbid-213: rgb(30.588235% 22.352941% 18.039216%);
    --palTurbid-214: rgb(30.196078% 22.352941% 17.647059%);
    --palTurbid-215: rgb(29.411765% 21.960784% 17.647059%);
    --palTurbid-216: rgb(29.019608% 21.960784% 17.254902%);
    --palTurbid-217: rgb(28.627451% 21.568627% 17.254902%);
    --palTurbid-218: rgb(28.235294% 21.176471% 17.254902%);
    --palTurbid-219: rgb(27.843137% 21.176471% 16.862745%);
    --palTurbid-220: rgb(27.45098% 20.784314% 16.862745%);
    --palTurbid-221: rgb(27.058824% 20.784314% 16.862745%);
    --palTurbid-222: rgb(26.666667% 20.392157% 16.470588%);
    --palTurbid-223: rgb(26.27451% 20% 16.470588%);
    --palTurbid-224: rgb(25.882353% 20% 16.078431%);
    --palTurbid-225: rgb(25.490196% 19.607843% 16.078431%);
    --palTurbid-226: rgb(25.098039% 19.607843% 16.078431%);
    --palTurbid-227: rgb(24.705882% 19.215686% 15.686275%);
    --palTurbid-228: rgb(24.313725% 18.823529% 15.686275%);
    --palTurbid-229: rgb(23.921569% 18.823529% 15.294118%);
    --palTurbid-230: rgb(23.529412% 18.431373% 15.294118%);
    --palTurbid-231: rgb(23.137255% 18.431373% 15.294118%);
    --palTurbid-232: rgb(22.745098% 18.039216% 14.901961%);
    --palTurbid-233: rgb(22.352941% 17.647059% 14.901961%);
    --palTurbid-234: rgb(21.960784% 17.647059% 14.509804%);
    --palTurbid-235: rgb(21.568627% 17.254902% 14.509804%);
    --palTurbid-236: rgb(21.176471% 16.862745% 14.117647%);
    --palTurbid-237: rgb(20.784314% 16.862745% 14.117647%);
    --palTurbid-238: rgb(20.392157% 16.470588% 14.117647%);
    --palTurbid-239: rgb(20% 16.470588% 13.72549%);
    --palTurbid-240: rgb(19.607843% 16.078431% 13.72549%);
    --palTurbid-241: rgb(19.215686% 15.686275% 13.333333%);
    --palTurbid-242: rgb(18.823529% 15.686275% 13.333333%);
    --palTurbid-243: rgb(18.431373% 15.294118% 12.941176%);
    --palTurbid-244: rgb(18.039216% 14.901961% 12.941176%);
    --palTurbid-245: rgb(17.647059% 14.901961% 12.54902%);
    --palTurbid-246: rgb(17.254902% 14.509804% 12.54902%);
    --palTurbid-247: rgb(16.862745% 14.117647% 12.156863%);
    --palTurbid-248: rgb(16.470588% 14.117647% 12.156863%);
    --palTurbid-249: rgb(16.078431% 13.72549% 12.156863%);
    --palTurbid-250: rgb(15.686275% 13.72549% 11.764706%);
    --palTurbid-251: rgb(15.294118% 13.333333% 11.764706%);
    --palTurbid-252: rgb(14.901961% 12.941176% 11.372549%);
    --palTurbid-253: rgb(14.509804% 12.941176% 11.372549%);
    --palTurbid-254: rgb(14.117647% 12.54902% 10.980392%);
    --palTurbid-255: rgb(13.72549% 12.156863% 10.980392%);
    --palTurbid-256: rgb(13.333333% 12.156863% 10.588235%);
}
