/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTurbo-1: rgb(18.995% 7.176% 23.217%);
    --palTurbo-2: rgb(19.483% 8.339% 26.149%);
    --palTurbo-3: rgb(19.956% 9.498% 29.024%);
    --palTurbo-4: rgb(20.415% 10.652% 31.844%);
    --palTurbo-5: rgb(20.86% 11.802% 34.607%);
    --palTurbo-6: rgb(21.291% 12.947% 37.314%);
    --palTurbo-7: rgb(21.708% 14.087% 39.964%);
    --palTurbo-8: rgb(22.111% 15.223% 42.558%);
    --palTurbo-9: rgb(22.5% 16.354% 45.096%);
    --palTurbo-10: rgb(22.875% 17.481% 47.578%);
    --palTurbo-11: rgb(23.236% 18.603% 50.004%);
    --palTurbo-12: rgb(23.582% 19.72% 52.373%);
    --palTurbo-13: rgb(23.915% 20.833% 54.686%);
    --palTurbo-14: rgb(24.234% 21.941% 56.942%);
    --palTurbo-15: rgb(24.539% 23.044% 59.142%);
    --palTurbo-16: rgb(24.83% 24.143% 61.286%);
    --palTurbo-17: rgb(25.107% 25.237% 63.374%);
    --palTurbo-18: rgb(25.369% 26.327% 65.406%);
    --palTurbo-19: rgb(25.618% 27.412% 67.381%);
    --palTurbo-20: rgb(25.853% 28.492% 69.3%);
    --palTurbo-21: rgb(26.074% 29.568% 71.162%);
    --palTurbo-22: rgb(26.28% 30.639% 72.968%);
    --palTurbo-23: rgb(26.473% 31.706% 74.718%);
    --palTurbo-24: rgb(26.652% 32.768% 76.412%);
    --palTurbo-25: rgb(26.816% 33.825% 78.05%);
    --palTurbo-26: rgb(26.967% 34.878% 79.631%);
    --palTurbo-27: rgb(27.103% 35.926% 81.156%);
    --palTurbo-28: rgb(27.226% 36.97% 82.624%);
    --palTurbo-29: rgb(27.334% 38.008% 84.037%);
    --palTurbo-30: rgb(27.429% 39.043% 85.393%);
    --palTurbo-31: rgb(27.509% 40.072% 86.692%);
    --palTurbo-32: rgb(27.576% 41.097% 87.936%);
    --palTurbo-33: rgb(27.628% 42.118% 89.123%);
    --palTurbo-34: rgb(27.667% 43.134% 90.254%);
    --palTurbo-35: rgb(27.691% 44.145% 91.328%);
    --palTurbo-36: rgb(27.701% 45.152% 92.347%);
    --palTurbo-37: rgb(27.698% 46.153% 93.309%);
    --palTurbo-38: rgb(27.68% 47.151% 94.214%);
    --palTurbo-39: rgb(27.648% 48.144% 95.064%);
    --palTurbo-40: rgb(27.603% 49.132% 95.857%);
    --palTurbo-41: rgb(27.543% 50.115% 96.594%);
    --palTurbo-42: rgb(27.469% 51.094% 97.275%);
    --palTurbo-43: rgb(27.381% 52.069% 97.899%);
    --palTurbo-44: rgb(27.273% 53.04% 98.461%);
    --palTurbo-45: rgb(27.106% 54.015% 98.93%);
    --palTurbo-46: rgb(26.878% 54.995% 99.303%);
    --palTurbo-47: rgb(26.592% 55.979% 99.583%);
    --palTurbo-48: rgb(26.252% 56.967% 99.773%);
    --palTurbo-49: rgb(25.862% 57.958% 99.876%);
    --palTurbo-50: rgb(25.425% 58.95% 99.896%);
    --palTurbo-51: rgb(24.946% 59.943% 99.835%);
    --palTurbo-52: rgb(24.427% 60.937% 99.697%);
    --palTurbo-53: rgb(23.874% 61.931% 99.485%);
    --palTurbo-54: rgb(23.288% 62.923% 99.202%);
    --palTurbo-55: rgb(22.676% 63.913% 98.851%);
    --palTurbo-56: rgb(22.039% 64.901% 98.436%);
    --palTurbo-57: rgb(21.382% 65.886% 97.959%);
    --palTurbo-58: rgb(20.708% 66.866% 97.423%);
    --palTurbo-59: rgb(20.021% 67.842% 96.833%);
    --palTurbo-60: rgb(19.326% 68.812% 96.19%);
    --palTurbo-61: rgb(18.625% 69.775% 95.498%);
    --palTurbo-62: rgb(17.923% 70.732% 94.761%);
    --palTurbo-63: rgb(17.223% 71.68% 93.981%);
    --palTurbo-64: rgb(16.529% 72.62% 93.161%);
    --palTurbo-65: rgb(15.844% 73.551% 92.305%);
    --palTurbo-66: rgb(15.173% 74.472% 91.416%);
    --palTurbo-67: rgb(14.519% 75.381% 90.496%);
    --palTurbo-68: rgb(13.886% 76.279% 89.55%);
    --palTurbo-69: rgb(13.278% 77.165% 88.58%);
    --palTurbo-70: rgb(12.698% 78.037% 87.59%);
    --palTurbo-71: rgb(12.151% 78.896% 86.581%);
    --palTurbo-72: rgb(11.639% 79.74% 85.559%);
    --palTurbo-73: rgb(11.167% 80.569% 84.525%);
    --palTurbo-74: rgb(10.738% 81.381% 83.484%);
    --palTurbo-75: rgb(10.357% 82.177% 82.437%);
    --palTurbo-76: rgb(10.026% 82.955% 81.389%);
    --palTurbo-77: rgb(9.75% 83.714% 80.342%);
    --palTurbo-78: rgb(9.532% 84.455% 79.299%);
    --palTurbo-79: rgb(9.377% 85.175% 78.264%);
    --palTurbo-80: rgb(9.287% 85.875% 77.24%);
    --palTurbo-81: rgb(9.267% 86.554% 76.23%);
    --palTurbo-82: rgb(9.32% 87.211% 75.237%);
    --palTurbo-83: rgb(9.451% 87.844% 74.265%);
    --palTurbo-84: rgb(9.662% 88.454% 73.316%);
    --palTurbo-85: rgb(9.958% 89.04% 72.393%);
    --palTurbo-86: rgb(10.342% 89.6% 71.5%);
    --palTurbo-87: rgb(10.815% 90.142% 70.599%);
    --palTurbo-88: rgb(11.374% 90.673% 69.651%);
    --palTurbo-89: rgb(12.014% 91.193% 68.66%);
    --palTurbo-90: rgb(12.733% 91.701% 67.627%);
    --palTurbo-91: rgb(13.526% 92.197% 66.556%);
    --palTurbo-92: rgb(14.391% 92.68% 65.448%);
    --palTurbo-93: rgb(15.323% 93.151% 64.308%);
    --palTurbo-94: rgb(16.319% 93.609% 63.137%);
    --palTurbo-95: rgb(17.377% 94.053% 61.938%);
    --palTurbo-96: rgb(18.491% 94.484% 60.713%);
    --palTurbo-97: rgb(19.659% 94.901% 59.466%);
    --palTurbo-98: rgb(20.877% 95.304% 58.199%);
    --palTurbo-99: rgb(22.142% 95.692% 56.914%);
    --palTurbo-100: rgb(23.449% 96.065% 55.614%);
    --palTurbo-101: rgb(24.797% 96.423% 54.303%);
    --palTurbo-102: rgb(26.18% 96.765% 52.981%);
    --palTurbo-103: rgb(27.597% 97.092% 51.653%);
    --palTurbo-104: rgb(29.042% 97.403% 50.321%);
    --palTurbo-105: rgb(30.513% 97.697% 48.987%);
    --palTurbo-106: rgb(32.006% 97.974% 47.654%);
    --palTurbo-107: rgb(33.517% 98.234% 46.325%);
    --palTurbo-108: rgb(35.043% 98.477% 45.002%);
    --palTurbo-109: rgb(36.581% 98.702% 43.688%);
    --palTurbo-110: rgb(38.127% 98.909% 42.386%);
    --palTurbo-111: rgb(39.678% 99.098% 41.098%);
    --palTurbo-112: rgb(41.229% 99.268% 39.826%);
    --palTurbo-113: rgb(42.778% 99.419% 38.575%);
    --palTurbo-114: rgb(44.321% 99.551% 37.345%);
    --palTurbo-115: rgb(45.854% 99.663% 36.14%);
    --palTurbo-116: rgb(47.375% 99.755% 34.963%);
    --palTurbo-117: rgb(48.879% 99.828% 33.816%);
    --palTurbo-118: rgb(50.362% 99.879% 32.701%);
    --palTurbo-119: rgb(51.822% 99.91% 31.622%);
    --palTurbo-120: rgb(53.255% 99.919% 30.581%);
    --palTurbo-121: rgb(54.658% 99.907% 29.581%);
    --palTurbo-122: rgb(56.026% 99.873% 28.623%);
    --palTurbo-123: rgb(57.357% 99.817% 27.712%);
    --palTurbo-124: rgb(58.646% 99.739% 26.849%);
    --palTurbo-125: rgb(59.891% 99.638% 26.038%);
    --palTurbo-126: rgb(61.088% 99.514% 25.28%);
    --palTurbo-127: rgb(62.233% 99.366% 24.579%);
    --palTurbo-128: rgb(63.323% 99.195% 23.937%);
    --palTurbo-129: rgb(64.362% 98.999% 23.356%);
    --palTurbo-130: rgb(65.394% 98.775% 22.835%);
    --palTurbo-131: rgb(66.428% 98.524% 22.37%);
    --palTurbo-132: rgb(67.462% 98.246% 21.96%);
    --palTurbo-133: rgb(68.494% 97.941% 21.602%);
    --palTurbo-134: rgb(69.525% 97.61% 21.294%);
    --palTurbo-135: rgb(70.553% 97.255% 21.032%);
    --palTurbo-136: rgb(71.577% 96.875% 20.815%);
    --palTurbo-137: rgb(72.596% 96.47% 20.64%);
    --palTurbo-138: rgb(73.61% 96.043% 20.504%);
    --palTurbo-139: rgb(74.617% 95.593% 20.406%);
    --palTurbo-140: rgb(75.617% 95.121% 20.343%);
    --palTurbo-141: rgb(76.608% 94.627% 20.311%);
    --palTurbo-142: rgb(77.591% 94.113% 20.31%);
    --palTurbo-143: rgb(78.563% 93.579% 20.336%);
    --palTurbo-144: rgb(79.524% 93.025% 20.386%);
    --palTurbo-145: rgb(80.473% 92.452% 20.459%);
    --palTurbo-146: rgb(81.41% 91.861% 20.552%);
    --palTurbo-147: rgb(82.333% 91.253% 20.663%);
    --palTurbo-148: rgb(83.241% 90.627% 20.788%);
    --palTurbo-149: rgb(84.133% 89.986% 20.926%);
    --palTurbo-150: rgb(85.01% 89.328% 21.074%);
    --palTurbo-151: rgb(85.868% 88.655% 21.23%);
    --palTurbo-152: rgb(86.709% 87.968% 21.391%);
    --palTurbo-153: rgb(87.53% 87.267% 21.555%);
    --palTurbo-154: rgb(88.331% 86.553% 21.719%);
    --palTurbo-155: rgb(89.112% 85.826% 21.88%);
    --palTurbo-156: rgb(89.87% 85.087% 22.038%);
    --palTurbo-157: rgb(90.605% 84.337% 22.188%);
    --palTurbo-158: rgb(91.317% 83.576% 22.328%);
    --palTurbo-159: rgb(92.004% 82.806% 22.456%);
    --palTurbo-160: rgb(92.666% 82.025% 22.57%);
    --palTurbo-161: rgb(93.301% 81.236% 22.667%);
    --palTurbo-162: rgb(93.909% 80.439% 22.744%);
    --palTurbo-163: rgb(94.489% 79.634% 22.8%);
    --palTurbo-164: rgb(95.039% 78.823% 22.831%);
    --palTurbo-165: rgb(95.56% 78.005% 22.836%);
    --palTurbo-166: rgb(96.049% 77.181% 22.811%);
    --palTurbo-167: rgb(96.507% 76.352% 22.754%);
    --palTurbo-168: rgb(96.931% 75.519% 22.663%);
    --palTurbo-169: rgb(97.323% 74.682% 22.536%);
    --palTurbo-170: rgb(97.679% 73.842% 22.369%);
    --palTurbo-171: rgb(98% 73% 22.161%);
    --palTurbo-172: rgb(98.289% 72.14% 21.918%);
    --palTurbo-173: rgb(98.549% 71.25% 21.65%);
    --palTurbo-174: rgb(98.781% 70.33% 21.358%);
    --palTurbo-175: rgb(98.986% 69.382% 21.043%);
    --palTurbo-176: rgb(99.163% 68.408% 20.706%);
    --palTurbo-177: rgb(99.314% 67.408% 20.348%);
    --palTurbo-178: rgb(99.438% 66.386% 19.971%);
    --palTurbo-179: rgb(99.535% 65.341% 19.577%);
    --palTurbo-180: rgb(99.607% 64.277% 19.165%);
    --palTurbo-181: rgb(99.654% 63.193% 18.738%);
    --palTurbo-182: rgb(99.675% 62.093% 18.297%);
    --palTurbo-183: rgb(99.672% 60.977% 17.842%);
    --palTurbo-184: rgb(99.644% 59.846% 17.376%);
    --palTurbo-185: rgb(99.593% 58.703% 16.899%);
    --palTurbo-186: rgb(99.517% 57.549% 16.412%);
    --palTurbo-187: rgb(99.419% 56.386% 15.918%);
    --palTurbo-188: rgb(99.297% 55.214% 15.417%);
    --palTurbo-189: rgb(99.153% 54.036% 14.91%);
    --palTurbo-190: rgb(98.987% 52.854% 14.398%);
    --palTurbo-191: rgb(98.799% 51.667% 13.883%);
    --palTurbo-192: rgb(98.59% 50.479% 13.367%);
    --palTurbo-193: rgb(98.36% 49.291% 12.849%);
    --palTurbo-194: rgb(98.108% 48.104% 12.332%);
    --palTurbo-195: rgb(97.837% 46.92% 11.817%);
    --palTurbo-196: rgb(97.545% 45.74% 11.305%);
    --palTurbo-197: rgb(97.234% 44.565% 10.797%);
    --palTurbo-198: rgb(96.904% 43.399% 10.294%);
    --palTurbo-199: rgb(96.555% 42.241% 9.798%);
    --palTurbo-200: rgb(96.187% 41.093% 9.31%);
    --palTurbo-201: rgb(95.801% 39.958% 8.831%);
    --palTurbo-202: rgb(95.398% 38.836% 8.362%);
    --palTurbo-203: rgb(94.977% 37.729% 7.905%);
    --palTurbo-204: rgb(94.538% 36.638% 7.461%);
    --palTurbo-205: rgb(94.084% 35.566% 7.031%);
    --palTurbo-206: rgb(93.612% 34.513% 6.616%);
    --palTurbo-207: rgb(93.125% 33.482% 6.218%);
    --palTurbo-208: rgb(92.623% 32.473% 5.837%);
    --palTurbo-209: rgb(92.105% 31.489% 5.475%);
    --palTurbo-210: rgb(91.572% 30.53% 5.134%);
    --palTurbo-211: rgb(91.024% 29.599% 4.814%);
    --palTurbo-212: rgb(90.463% 28.696% 4.516%);
    --palTurbo-213: rgb(89.888% 27.824% 4.243%);
    --palTurbo-214: rgb(89.298% 26.981% 3.993%);
    --palTurbo-215: rgb(88.691% 26.152% 3.753%);
    --palTurbo-216: rgb(88.066% 25.334% 3.521%);
    --palTurbo-217: rgb(87.422% 24.526% 3.297%);
    --palTurbo-218: rgb(86.76% 23.73% 3.082%);
    --palTurbo-219: rgb(86.079% 22.945% 2.875%);
    --palTurbo-220: rgb(85.38% 22.17% 2.677%);
    --palTurbo-221: rgb(84.662% 21.407% 2.487%);
    --palTurbo-222: rgb(83.926% 20.654% 2.305%);
    --palTurbo-223: rgb(83.172% 19.912% 2.131%);
    --palTurbo-224: rgb(82.399% 19.182% 1.966%);
    --palTurbo-225: rgb(81.608% 18.462% 1.809%);
    --palTurbo-226: rgb(80.799% 17.753% 1.66%);
    --palTurbo-227: rgb(79.971% 17.055% 1.52%);
    --palTurbo-228: rgb(79.125% 16.368% 1.387%);
    --palTurbo-229: rgb(78.26% 15.693% 1.264%);
    --palTurbo-230: rgb(77.377% 15.028% 1.148%);
    --palTurbo-231: rgb(76.476% 14.374% 1.041%);
    --palTurbo-232: rgb(75.556% 13.731% 0.942%);
    --palTurbo-233: rgb(74.617% 13.098% 0.851%);
    --palTurbo-234: rgb(73.661% 12.477% 0.769%);
    --palTurbo-235: rgb(72.686% 11.867% 0.695%);
    --palTurbo-236: rgb(71.692% 11.268% 0.629%);
    --palTurbo-237: rgb(70.68% 10.68% 0.571%);
    --palTurbo-238: rgb(69.65% 10.102% 0.522%);
    --palTurbo-239: rgb(68.602% 9.536% 0.481%);
    --palTurbo-240: rgb(67.535% 8.98% 0.449%);
    --palTurbo-241: rgb(66.449% 8.436% 0.424%);
    --palTurbo-242: rgb(65.345% 7.902% 0.408%);
    --palTurbo-243: rgb(64.223% 7.38% 0.401%);
    --palTurbo-244: rgb(63.082% 6.868% 0.401%);
    --palTurbo-245: rgb(61.923% 6.367% 0.41%);
    --palTurbo-246: rgb(60.746% 5.878% 0.427%);
    --palTurbo-247: rgb(59.55% 5.399% 0.453%);
    --palTurbo-248: rgb(58.336% 4.931% 0.486%);
    --palTurbo-249: rgb(57.103% 4.474% 0.529%);
    --palTurbo-250: rgb(55.852% 4.028% 0.579%);
    --palTurbo-251: rgb(54.583% 3.593% 0.638%);
    --palTurbo-252: rgb(53.295% 3.169% 0.705%);
    --palTurbo-253: rgb(51.989% 2.756% 0.78%);
    --palTurbo-254: rgb(50.664% 2.354% 0.863%);
    --palTurbo-255: rgb(49.321% 1.963% 0.955%);
    --palTurbo-256: rgb(47.96% 1.583% 1.055%);
}
