/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palWaterlily-1: rgb(12.434357% 0.588452% 21.400096%);
    --palWaterlily-2: rgb(12.931129% 0.675787% 22.011754%);
    --palWaterlily-3: rgb(13.427605% 0.761301% 22.627813%);
    --palWaterlily-4: rgb(13.923743% 0.844618% 23.248445%);
    --palWaterlily-5: rgb(14.419489% 0.925374% 23.873832%);
    --palWaterlily-6: rgb(14.914773% 1.003226% 24.504157%);
    --palWaterlily-7: rgb(15.409628% 1.077599% 25.139847%);
    --palWaterlily-8: rgb(15.903865% 1.148361% 25.780936%);
    --palWaterlily-9: rgb(16.39749% 1.214941% 26.427895%);
    --palWaterlily-10: rgb(16.890307% 1.277188% 27.080848%);
    --palWaterlily-11: rgb(17.382209% 1.33473% 27.740161%);
    --palWaterlily-12: rgb(17.87306% 1.38722% 28.406219%);
    --palWaterlily-13: rgb(18.362636% 1.434494% 29.07931%);
    --palWaterlily-14: rgb(18.850717% 1.476335% 29.759833%);
    --palWaterlily-15: rgb(19.336978% 1.51277% 30.448066%);
    --palWaterlily-16: rgb(19.821038% 1.543943% 31.144297%);
    --palWaterlily-17: rgb(20.302543% 1.569841% 31.849056%);
    --palWaterlily-18: rgb(20.780909% 1.59109% 32.562507%);
    --palWaterlily-19: rgb(21.255503% 1.608416% 33.284912%);
    --palWaterlily-20: rgb(21.725536% 1.622978% 34.016407%);
    --palWaterlily-21: rgb(22.190089% 1.636307% 34.757095%);
    --palWaterlily-22: rgb(22.647956% 1.650931% 35.506605%);
    --palWaterlily-23: rgb(23.097774% 1.669935% 36.264494%);
    --palWaterlily-24: rgb(23.537868% 1.697681% 37.029727%);
    --palWaterlily-25: rgb(23.966261% 1.740014% 37.800537%);
    --palWaterlily-26: rgb(24.380764% 1.804107% 38.574545%);
    --palWaterlily-27: rgb(24.778982% 1.898922% 39.348282%);
    --palWaterlily-28: rgb(25.158529% 2.034719% 40.117401%);
    --palWaterlily-29: rgb(25.517266% 2.222479% 40.876847%);
    --palWaterlily-30: rgb(25.853565% 2.473093% 41.621127%);
    --palWaterlily-31: rgb(26.166567% 2.795975% 42.345155%);
    --palWaterlily-32: rgb(26.456273% 3.198252% 43.044714%);
    --palWaterlily-33: rgb(26.723479% 3.684228% 43.716929%);
    --palWaterlily-34: rgb(26.969569% 4.248896% 44.360388%);
    --palWaterlily-35: rgb(27.196284% 4.848981% 44.974895%);
    --palWaterlily-36: rgb(27.405475% 5.471025% 45.561291%);
    --palWaterlily-37: rgb(27.598966% 6.106965% 46.121003%);
    --palWaterlily-38: rgb(27.778467% 6.750507% 46.655789%);
    --palWaterlily-39: rgb(27.945476% 7.396949% 47.167607%);
    --palWaterlily-40: rgb(28.101352% 8.042854% 47.658345%);
    --palWaterlily-41: rgb(28.247268% 8.685793% 48.129838%);
    --palWaterlily-42: rgb(28.384236% 9.324093% 48.583798%);
    --palWaterlily-43: rgb(28.513137% 9.956639% 49.021794%);
    --palWaterlily-44: rgb(28.634701% 10.58275% 49.445266%);
    --palWaterlily-45: rgb(28.749631% 11.201977% 49.855477%);
    --palWaterlily-46: rgb(28.858462% 11.814153% 50.253603%);
    --palWaterlily-47: rgb(28.961712% 12.419213% 50.640676%);
    --palWaterlily-48: rgb(29.059833% 13.017201% 51.017629%);
    --palWaterlily-49: rgb(29.153215% 13.608239% 51.385302%);
    --palWaterlily-50: rgb(29.242208% 14.1925% 51.744454%);
    --palWaterlily-51: rgb(29.327113% 14.770193% 52.095768%);
    --palWaterlily-52: rgb(29.408197% 15.341549% 52.439862%);
    --palWaterlily-53: rgb(29.485717% 15.906795% 52.777294%);
    --palWaterlily-54: rgb(29.559924% 16.466147% 53.10857%);
    --palWaterlily-55: rgb(29.630976% 17.01988% 53.434154%);
    --palWaterlily-56: rgb(29.69911% 17.568189% 53.754465%);
    --palWaterlily-57: rgb(29.76446% 18.111329% 54.069888%);
    --palWaterlily-58: rgb(29.827178% 18.649525% 54.380773%);
    --palWaterlily-59: rgb(29.887444% 19.182963% 54.687447%);
    --palWaterlily-60: rgb(29.945363% 19.711869% 54.990205%);
    --palWaterlily-61: rgb(30.001054% 20.236443% 55.289318%);
    --palWaterlily-62: rgb(30.054631% 20.756873% 55.585038%);
    --palWaterlily-63: rgb(30.106201% 21.273339% 55.8776%);
    --palWaterlily-64: rgb(30.155859% 21.786013% 56.167217%);
    --palWaterlily-65: rgb(30.203696% 22.295063% 56.45409%);
    --palWaterlily-66: rgb(30.249793% 22.800646% 56.738403%);
    --palWaterlily-67: rgb(30.294227% 23.302915% 57.020328%);
    --palWaterlily-68: rgb(30.337068% 23.802016% 57.300024%);
    --palWaterlily-69: rgb(30.378382% 24.298087% 57.577639%);
    --palWaterlily-70: rgb(30.418229% 24.79126% 57.85331%);
    --palWaterlily-71: rgb(30.456679% 25.281657% 58.127171%);
    --palWaterlily-72: rgb(30.493787% 25.769398% 58.39934%);
    --palWaterlily-73: rgb(30.529589% 26.254606% 58.669927%);
    --palWaterlily-74: rgb(30.564131% 26.737393% 58.939035%);
    --palWaterlily-75: rgb(30.597473% 27.217857% 59.206767%);
    --palWaterlily-76: rgb(30.629654% 27.6961% 59.473213%);
    --palWaterlily-77: rgb(30.660696% 28.17223% 59.738453%);
    --palWaterlily-78: rgb(30.690651% 28.64633% 60.002572%);
    --palWaterlily-79: rgb(30.719552% 29.118493% 60.265644%);
    --palWaterlily-80: rgb(30.747413% 29.588812% 60.527731%);
    --palWaterlily-81: rgb(30.774293% 30.057358% 60.788908%);
    --palWaterlily-82: rgb(30.800193% 30.524222% 61.049227%);
    --palWaterlily-83: rgb(30.825149% 30.989477% 61.308745%);
    --palWaterlily-84: rgb(30.849187% 31.453196% 61.567516%);
    --palWaterlily-85: rgb(30.872319% 31.915455% 61.825584%);
    --palWaterlily-86: rgb(30.894582% 32.376318% 62.082997%);
    --palWaterlily-87: rgb(30.915975% 32.835858% 62.33979%);
    --palWaterlily-88: rgb(30.936539% 33.294131% 62.596007%);
    --palWaterlily-89: rgb(30.956268% 33.751209% 62.851674%);
    --palWaterlily-90: rgb(30.9752% 34.207144% 63.106829%);
    --palWaterlily-91: rgb(30.993331% 34.662001% 63.361494%);
    --palWaterlily-92: rgb(31.010692% 35.11583% 63.615698%);
    --palWaterlily-93: rgb(31.027282% 35.568691% 63.869459%);
    --palWaterlily-94: rgb(31.043127% 36.020633% 64.122798%);
    --palWaterlily-95: rgb(31.058231% 36.471711% 64.375731%);
    --palWaterlily-96: rgb(31.072612% 36.92197% 64.628271%);
    --palWaterlily-97: rgb(31.08628% 37.371461% 64.88043%);
    --palWaterlily-98: rgb(31.099249% 37.82023% 65.132216%);
    --palWaterlily-99: rgb(31.111533% 38.268321% 65.383636%);
    --palWaterlily-100: rgb(31.123142% 38.715778% 65.634691%);
    --palWaterlily-101: rgb(31.134094% 39.162643% 65.885384%);
    --palWaterlily-102: rgb(31.144402% 39.608958% 66.135714%);
    --palWaterlily-103: rgb(31.154081% 40.054761% 66.385675%);
    --palWaterlily-104: rgb(31.163148% 40.50009% 66.635262%);
    --palWaterlily-105: rgb(31.171621% 40.944984% 66.884467%);
    --palWaterlily-106: rgb(31.17952% 41.389476% 67.133278%);
    --palWaterlily-107: rgb(31.186865% 41.833603% 67.381681%);
    --palWaterlily-108: rgb(31.19368% 42.277397% 67.629662%);
    --palWaterlily-109: rgb(31.199992% 42.72089% 67.877201%);
    --palWaterlily-110: rgb(31.205825% 43.164113% 68.124278%);
    --palWaterlily-111: rgb(31.211216% 43.607095% 68.37087%);
    --palWaterlily-112: rgb(31.216189% 44.049867% 68.616949%);
    --palWaterlily-113: rgb(31.220796% 44.492453% 68.862492%);
    --palWaterlily-114: rgb(31.225061% 44.934882% 69.107462%);
    --palWaterlily-115: rgb(31.229048% 45.377175% 69.351832%);
    --palWaterlily-116: rgb(31.232786% 45.819361% 69.595559%);
    --palWaterlily-117: rgb(31.236353% 46.261456% 69.838612%);
    --palWaterlily-118: rgb(31.239787% 46.703487% 70.080943%);
    --palWaterlily-119: rgb(31.243174% 47.145469% 70.322513%);
    --palWaterlily-120: rgb(31.246573% 47.587424% 70.563272%);
    --palWaterlily-121: rgb(31.250071% 48.029366% 70.803171%);
    --palWaterlily-122: rgb(31.253759% 48.471311% 71.042159%);
    --palWaterlily-123: rgb(31.257717% 48.913278% 71.280175%);
    --palWaterlily-124: rgb(31.262078% 49.35527% 71.51717%);
    --palWaterlily-125: rgb(31.26692% 49.797308% 71.753069%);
    --palWaterlily-126: rgb(31.272396% 50.239396% 71.987816%);
    --palWaterlily-127: rgb(31.278644% 50.681539% 72.221344%);
    --palWaterlily-128: rgb(31.285779% 51.123752% 72.453568%);
    --palWaterlily-129: rgb(31.293998% 51.56603% 72.684425%);
    --palWaterlily-130: rgb(31.303476% 52.008375% 72.913836%);
    --palWaterlily-131: rgb(31.314366% 52.450796% 73.141704%);
    --palWaterlily-132: rgb(31.326906% 52.893282% 73.367953%);
    --palWaterlily-133: rgb(31.341322% 53.33583% 73.592494%);
    --palWaterlily-134: rgb(31.357856% 53.77843% 73.815229%);
    --palWaterlily-135: rgb(31.376746% 54.221081% 74.036052%);
    --palWaterlily-136: rgb(31.398291% 54.663764% 74.254862%);
    --palWaterlily-137: rgb(31.422803% 55.106464% 74.471556%);
    --palWaterlily-138: rgb(31.450612% 55.549161% 74.686019%);
    --palWaterlily-139: rgb(31.482075% 55.991833% 74.898134%);
    --palWaterlily-140: rgb(31.517574% 56.434455% 75.107779%);
    --palWaterlily-141: rgb(31.557523% 56.876997% 75.314825%);
    --palWaterlily-142: rgb(31.602366% 57.319425% 75.519142%);
    --palWaterlily-143: rgb(31.652582% 57.7617% 75.720593%);
    --palWaterlily-144: rgb(31.708684% 58.203779% 75.919038%);
    --palWaterlily-145: rgb(31.771222% 58.645611% 76.114332%);
    --palWaterlily-146: rgb(31.840787% 59.087143% 76.306326%);
    --palWaterlily-147: rgb(31.918007% 59.528313% 76.494869%);
    --palWaterlily-148: rgb(32.003532% 59.96906% 76.679791%);
    --palWaterlily-149: rgb(32.09808% 60.409308% 76.860934%);
    --palWaterlily-150: rgb(32.202424% 60.84897% 77.038148%);
    --palWaterlily-151: rgb(32.317357% 61.28796% 77.211265%);
    --palWaterlily-152: rgb(32.443695% 61.726187% 77.380097%);
    --palWaterlily-153: rgb(32.582371% 62.163533% 77.544516%);
    --palWaterlily-154: rgb(32.734269% 62.599895% 77.70432%);
    --palWaterlily-155: rgb(32.900405% 63.035134% 77.859393%);
    --palWaterlily-156: rgb(33.081742% 63.469128% 78.00954%);
    --palWaterlily-157: rgb(33.279358% 63.901718% 78.154661%);
    --palWaterlily-158: rgb(33.494302% 64.332754% 78.294608%);
    --palWaterlily-159: rgb(33.727653% 64.762069% 78.429266%);
    --palWaterlily-160: rgb(33.980514% 65.18948% 78.558566%);
    --palWaterlily-161: rgb(34.253965% 65.614801% 78.682444%);
    --palWaterlily-162: rgb(34.549065% 66.037837% 78.800872%);
    --palWaterlily-163: rgb(34.866835% 66.458383% 78.913863%);
    --palWaterlily-164: rgb(35.208231% 66.876231% 79.021477%);
    --palWaterlily-165: rgb(35.574127% 67.291169% 79.123827%);
    --palWaterlily-166: rgb(35.965281% 67.702987% 79.221088%);
    --palWaterlily-167: rgb(36.382312% 68.111477% 79.313499%);
    --palWaterlily-168: rgb(36.825671% 68.516444% 79.401368%);
    --palWaterlily-169: rgb(37.295618% 68.917704% 79.485074%);
    --palWaterlily-170: rgb(37.792196% 69.315094% 79.565068%);
    --palWaterlily-171: rgb(38.315216% 69.708476% 79.641869%);
    --palWaterlily-172: rgb(38.86425% 70.097742% 79.716057%);
    --palWaterlily-173: rgb(39.438623% 70.482817% 79.788271%);
    --palWaterlily-174: rgb(40.03742% 70.863664% 79.859195%);
    --palWaterlily-175: rgb(40.659514% 71.240286% 79.929533%);
    --palWaterlily-176: rgb(41.303585% 71.612724% 80.000005%);
    --palWaterlily-177: rgb(41.968153% 71.98106% 80.071327%);
    --palWaterlily-178: rgb(42.65162% 72.345411% 80.144199%);
    --palWaterlily-179: rgb(43.352311% 72.705927% 80.219282%);
    --palWaterlily-180: rgb(44.068514% 73.062784% 80.297193%);
    --palWaterlily-181: rgb(44.798499% 73.416184% 80.378517%);
    --palWaterlily-182: rgb(45.540582% 73.766347% 80.463763%);
    --palWaterlily-183: rgb(46.293189% 74.113497% 80.553339%);
    --palWaterlily-184: rgb(47.054756% 74.457873% 80.647656%);
    --palWaterlily-185: rgb(47.823856% 74.799715% 80.747031%);
    --palWaterlily-186: rgb(48.599174% 75.139259% 80.85172%);
    --palWaterlily-187: rgb(49.379555% 75.476731% 80.961897%);
    --palWaterlily-188: rgb(50.163802% 75.812375% 81.077799%);
    --palWaterlily-189: rgb(50.951018% 76.146396% 81.199484%);
    --palWaterlily-190: rgb(51.740343% 76.479002% 81.327029%);
    --palWaterlily-191: rgb(52.53101% 76.810393% 81.460481%);
    --palWaterlily-192: rgb(53.322356% 77.140754% 81.599852%);
    --palWaterlily-193: rgb(54.113819% 77.470259% 81.745128%);
    --palWaterlily-194: rgb(54.904863% 77.799078% 81.896303%);
    --palWaterlily-195: rgb(55.695031% 78.127373% 82.053353%);
    --palWaterlily-196: rgb(56.484078% 78.455267% 82.216148%);
    --palWaterlily-197: rgb(57.271595% 78.782912% 82.384685%);
    --palWaterlily-198: rgb(58.057376% 79.110425% 82.558859%);
    --palWaterlily-199: rgb(58.841174% 79.437931% 82.738612%);
    --palWaterlily-200: rgb(59.622922% 79.765517% 82.923797%);
    --palWaterlily-201: rgb(60.402262% 80.09333% 83.114456%);
    --palWaterlily-202: rgb(61.179265% 80.421427% 83.310394%);
    --palWaterlily-203: rgb(61.953824% 80.749903% 83.511535%);
    --palWaterlily-204: rgb(62.725857% 81.078844% 83.717801%);
    --palWaterlily-205: rgb(63.495307% 81.408331% 83.929113%);
    --palWaterlily-206: rgb(64.262139% 81.73844% 84.145388%);
    --palWaterlily-207: rgb(65.026337% 82.069239% 84.36654%);
    --palWaterlily-208: rgb(65.7879% 82.400793% 84.592486%);
    --palWaterlily-209: rgb(66.546844% 82.733162% 84.823141%);
    --palWaterlily-210: rgb(67.303197% 83.0664% 85.058419%);
    --palWaterlily-211: rgb(68.056996% 83.400559% 85.298238%);
    --palWaterlily-212: rgb(68.808289% 83.735685% 85.542516%);
    --palWaterlily-213: rgb(69.557018% 84.071852% 85.791228%);
    --palWaterlily-214: rgb(70.303254% 84.409099% 86.044288%);
    --palWaterlily-215: rgb(71.047142% 84.747442% 86.30158%);
    --palWaterlily-216: rgb(71.788585% 85.086963% 86.563112%);
    --palWaterlily-217: rgb(72.527708% 85.427682% 86.828781%);
    --palWaterlily-218: rgb(73.264583% 85.769631% 87.098521%);
    --palWaterlily-219: rgb(73.999166% 86.112874% 87.372319%);
    --palWaterlily-220: rgb(74.731621% 86.457417% 87.650067%);
    --palWaterlily-221: rgb(75.461912% 86.803319% 87.931756%);
    --palWaterlily-222: rgb(76.190122% 87.150605% 88.217322%);
    --palWaterlily-223: rgb(76.916383% 87.499286% 88.506677%);
    --palWaterlily-224: rgb(77.640537% 87.849452% 88.799879%);
    --palWaterlily-225: rgb(78.362842% 88.201078% 89.096784%);
    --palWaterlily-226: rgb(79.083329% 88.554198% 89.397361%);
    --palWaterlily-227: rgb(79.801871% 88.908894% 89.701653%);
    --palWaterlily-228: rgb(80.518675% 89.26515% 90.009549%);
    --palWaterlily-229: rgb(81.233783% 89.622995% 90.321016%);
    --palWaterlily-230: rgb(81.94723% 89.982462% 90.636025%);
    --palWaterlily-231: rgb(82.659011% 90.343594% 90.954568%);
    --palWaterlily-232: rgb(83.369156% 90.706423% 91.276619%);
    --palWaterlily-233: rgb(84.077761% 91.070961% 91.602124%);
    --palWaterlily-234: rgb(84.784862% 91.437236% 91.931059%);
    --palWaterlily-235: rgb(85.490492% 91.805279% 92.263401%);
    --palWaterlily-236: rgb(86.194682% 92.175119% 92.599126%);
    --palWaterlily-237: rgb(86.897464% 92.546784% 92.938214%);
    --palWaterlily-238: rgb(87.598869% 92.920304% 93.280643%);
    --palWaterlily-239: rgb(88.298922% 93.295708% 93.626395%);
    --palWaterlily-240: rgb(88.99765% 93.673027% 93.975451%);
    --palWaterlily-241: rgb(89.695077% 94.052289% 94.327794%);
    --palWaterlily-242: rgb(90.391222% 94.433526% 94.683409%);
    --palWaterlily-243: rgb(91.086103% 94.816769% 95.042279%);
    --palWaterlily-244: rgb(91.779733% 95.202051% 95.404393%);
    --palWaterlily-245: rgb(92.472121% 95.589406% 95.769737%);
    --palWaterlily-246: rgb(93.163272% 95.97887% 96.138299%);
    --palWaterlily-247: rgb(93.853161% 96.370486% 96.510081%);
    --palWaterlily-248: rgb(94.541738% 96.76431% 96.885089%);
    --palWaterlily-249: rgb(95.229045% 97.160364% 97.263292%);
    --palWaterlily-250: rgb(95.915055% 97.558695% 97.644685%);
    --palWaterlily-251: rgb(96.599731% 97.959353% 98.029261%);
    --palWaterlily-252: rgb(97.28302% 98.362395% 98.417016%);
    --palWaterlily-253: rgb(97.964739% 98.767922% 98.807995%);
    --palWaterlily-254: rgb(98.644895% 99.175974% 99.202153%);
    --palWaterlily-255: rgb(99.323371% 99.586633% 99.599488%);
    --palWaterlily-256: rgb(100% 100% 100%);
    --palWaterlily-257: rgb(99.382469% 99.580955% 99.43211%);
    --palWaterlily-258: rgb(98.760164% 99.16633% 98.862986%);
    --palWaterlily-259: rgb(98.13374% 98.755931% 98.291625%);
    --palWaterlily-260: rgb(97.503997% 98.349458% 97.717497%);
    --palWaterlily-261: rgb(96.871626% 97.946629% 97.140333%);
    --palWaterlily-262: rgb(96.237164% 97.547209% 96.560034%);
    --palWaterlily-263: rgb(95.601185% 97.150923% 95.97673%);
    --palWaterlily-264: rgb(94.963976% 96.757616% 95.390497%);
    --palWaterlily-265: rgb(94.325909% 96.367088% 94.801568%);
    --palWaterlily-266: rgb(93.687235% 95.979187% 94.210153%);
    --palWaterlily-267: rgb(93.048036% 95.593835% 93.616375%);
    --palWaterlily-268: rgb(92.408561% 95.210878% 93.020504%);
    --palWaterlily-269: rgb(91.768886% 94.83024% 92.422693%);
    --palWaterlily-270: rgb(91.129032% 94.451872% 91.823051%);
    --palWaterlily-271: rgb(90.489147% 94.075664% 91.22179%);
    --palWaterlily-272: rgb(89.849256% 93.701566% 90.619023%);
    --palWaterlily-273: rgb(89.209319% 93.329557% 90.0148%);
    --palWaterlily-274: rgb(88.569452% 92.959547% 89.409297%);
    --palWaterlily-275: rgb(87.929669% 92.591493% 88.802599%);
    --palWaterlily-276: rgb(87.289905% 92.225388% 88.194719%);
    --palWaterlily-277: rgb(86.650216% 91.86117% 87.585767%);
    --palWaterlily-278: rgb(86.010629% 91.498793% 86.975822%);
    --palWaterlily-279: rgb(85.37114% 91.138223% 86.364935%);
    --palWaterlily-280: rgb(84.73167% 90.779464% 85.753082%);
    --palWaterlily-281: rgb(84.09228% 90.422454% 85.140359%);
    --palWaterlily-282: rgb(83.45297% 90.06716% 84.526808%);
    --palWaterlily-283: rgb(82.813733% 89.713553% 83.912458%);
    --palWaterlily-284: rgb(82.174544% 89.361612% 83.29732%);
    --palWaterlily-285: rgb(81.535347% 89.01133% 82.681372%);
    --palWaterlily-286: rgb(80.89619% 88.662654% 82.064685%);
    --palWaterlily-287: rgb(80.257057% 88.315559% 81.447273%);
    --palWaterlily-288: rgb(79.617936% 87.97002% 80.829144%);
    --palWaterlily-289: rgb(78.978811% 87.626012% 80.210307%);
    --palWaterlily-290: rgb(78.339667% 87.283512% 79.590767%);
    --palWaterlily-291: rgb(77.700472% 86.942502% 78.970513%);
    --palWaterlily-292: rgb(77.061205% 86.60296% 78.34954%);
    --palWaterlily-293: rgb(76.421875% 86.264852% 77.727873%);
    --palWaterlily-294: rgb(75.782467% 85.928154% 77.10551%);
    --palWaterlily-295: rgb(75.142964% 85.592843% 76.482449%);
    --palWaterlily-296: rgb(74.503349% 85.258894% 75.858685%);
    --palWaterlily-297: rgb(73.863604% 84.926286% 75.234213%);
    --palWaterlily-298: rgb(73.223714% 84.594994% 74.609027%);
    --palWaterlily-299: rgb(72.583661% 84.264994% 73.983119%);
    --palWaterlily-300: rgb(71.943428% 83.936264% 73.35648%);
    --palWaterlily-301: rgb(71.302998% 83.60878% 72.729102%);
    --palWaterlily-302: rgb(70.662354% 83.282518% 72.100975%);
    --palWaterlily-303: rgb(70.021479% 82.957454% 71.472089%);
    --palWaterlily-304: rgb(69.380357% 82.633564% 70.842432%);
    --palWaterlily-305: rgb(68.738971% 82.310825% 70.211992%);
    --palWaterlily-306: rgb(68.097304% 81.989211% 69.580759%);
    --palWaterlily-307: rgb(67.455294% 81.668717% 68.948672%);
    --palWaterlily-308: rgb(66.812958% 81.349304% 68.315752%);
    --palWaterlily-309: rgb(66.170286% 81.030946% 67.68199%);
    --palWaterlily-310: rgb(65.527262% 80.713617% 67.047373%);
    --palWaterlily-311: rgb(64.883872% 80.397291% 66.411886%);
    --palWaterlily-312: rgb(64.240101% 80.081943% 65.775515%);
    --palWaterlily-313: rgb(63.595841% 79.767582% 65.13815%);
    --palWaterlily-314: rgb(62.951158% 79.454151% 64.499858%);
    --palWaterlily-315: rgb(62.306045% 79.141621% 63.860627%);
    --palWaterlily-316: rgb(61.660476% 78.82997% 63.220428%);
    --palWaterlily-317: rgb(61.014331% 78.519209% 62.579136%);
    --palWaterlily-318: rgb(60.367711% 78.20927% 61.936849%);
    --palWaterlily-319: rgb(59.720594% 77.900127% 61.293539%);
    --palWaterlily-320: rgb(59.072831% 77.591802% 60.649044%);
    --palWaterlily-321: rgb(58.424556% 77.284215% 60.003495%);
    --palWaterlily-322: rgb(57.775664% 76.977369% 59.356774%);
    --palWaterlily-323: rgb(57.126149% 76.671233% 58.708865%);
    --palWaterlily-324: rgb(56.476033% 76.365767% 58.059777%);
    --palWaterlily-325: rgb(55.825218% 76.060971% 57.409393%);
    --palWaterlily-326: rgb(55.17378% 75.756786% 56.757778%);
    --palWaterlily-327: rgb(54.521614% 75.453214% 56.104804%);
    --palWaterlily-328: rgb(53.868762% 75.150206% 55.450494%);
    --palWaterlily-329: rgb(53.215208% 74.847735% 54.794811%);
    --palWaterlily-330: rgb(52.560864% 74.545795% 54.137634%);
    --palWaterlily-331: rgb(51.905823% 74.244322% 53.479036%);
    --palWaterlily-332: rgb(51.25% 73.943309% 52.818895%);
    --palWaterlily-333: rgb(50.593365% 73.642732% 52.157144%);
    --palWaterlily-334: rgb(49.935973% 73.342539% 51.493803%);
    --palWaterlily-335: rgb(49.277805% 73.042701% 50.828809%);
    --palWaterlily-336: rgb(48.618824% 72.743197% 50.162076%);
    --palWaterlily-337: rgb(47.958991% 72.444003% 49.493507%);
    --palWaterlily-338: rgb(47.298359% 72.14507% 48.8231%);
    --palWaterlily-339: rgb(46.636921% 71.846366% 48.150783%);
    --palWaterlily-340: rgb(45.974679% 71.547856% 47.476485%);
    --palWaterlily-341: rgb(45.31164% 71.249506% 46.800133%);
    --palWaterlily-342: rgb(44.647816% 70.951278% 46.121648%);
    --palWaterlily-343: rgb(43.983228% 70.653133% 45.440955%);
    --palWaterlily-344: rgb(43.317907% 70.355031% 44.757974%);
    --palWaterlily-345: rgb(42.651828% 70.056948% 44.072551%);
    --palWaterlily-346: rgb(41.985059% 69.758833% 43.384622%);
    --palWaterlily-347: rgb(41.317687% 69.460632% 42.694128%);
    --palWaterlily-348: rgb(40.649778% 69.162299% 42.000968%);
    --palWaterlily-349: rgb(39.981272% 68.863823% 41.304872%);
    --palWaterlily-350: rgb(39.312423% 68.56511% 40.605913%);
    --palWaterlily-351: rgb(38.64318% 68.26615% 39.903778%);
    --palWaterlily-352: rgb(37.973812% 67.96685% 39.1985%);
    --palWaterlily-353: rgb(37.304275% 67.667203% 38.4897%);
    --palWaterlily-354: rgb(36.63487% 67.367115% 37.777377%);
    --palWaterlily-355: rgb(35.965765% 67.066532% 37.061319%);
    --palWaterlily-356: rgb(35.297165% 66.765394% 36.341301%);
    --palWaterlily-357: rgb(34.629317% 66.463637% 35.61709%);
    --palWaterlily-358: rgb(33.962524% 66.161188% 34.888442%);
    --palWaterlily-359: rgb(33.29715% 65.857969% 34.155107%);
    --palWaterlily-360: rgb(32.633633% 65.553892% 33.416823%);
    --palWaterlily-361: rgb(31.972491% 65.24886% 32.673327%);
    --palWaterlily-362: rgb(31.314248% 64.942789% 31.924201%);
    --palWaterlily-363: rgb(30.659623% 64.635564% 31.169136%);
    --palWaterlily-364: rgb(30.009369% 64.327077% 30.407659%);
    --palWaterlily-365: rgb(29.36448% 64.017187% 29.639406%);
    --palWaterlily-366: rgb(28.72604% 63.705756% 28.863847%);
    --palWaterlily-367: rgb(28.09536% 63.392625% 28.080436%);
    --palWaterlily-368: rgb(27.474016% 63.077607% 27.288617%);
    --palWaterlily-369: rgb(26.863813% 62.760506% 26.487647%);
    --palWaterlily-370: rgb(26.267002% 62.441075% 25.676914%);
    --palWaterlily-371: rgb(25.686147% 62.119053% 24.85549%);
    --palWaterlily-372: rgb(25.124393% 61.794122% 24.02251%);
    --palWaterlily-373: rgb(24.585511% 61.465902% 23.177057%);
    --palWaterlily-374: rgb(24.074014% 61.133945% 22.318124%);
    --palWaterlily-375: rgb(23.595315% 60.797718% 21.444629%);
    --palWaterlily-376: rgb(23.155932% 60.456563% 20.555579%);
    --palWaterlily-377: rgb(22.763671% 60.109683% 19.649969%);
    --palWaterlily-378: rgb(22.427864% 59.756085% 18.727215%);
    --palWaterlily-379: rgb(22.159446% 59.394541% 17.787608%);
    --palWaterlily-380: rgb(21.970884% 59.023557% 16.832692%);
    --palWaterlily-381: rgb(21.875529% 58.641365% 15.866581%);
    --palWaterlily-382: rgb(21.885793% 58.246043% 14.8977%);
    --palWaterlily-383: rgb(22.009608% 57.83585% 13.940533%);
    --palWaterlily-384: rgb(22.245044% 57.409882% 13.016467%);
    --palWaterlily-385: rgb(22.576171% 56.968811% 12.15079%);
    --palWaterlily-386: rgb(22.97455% 56.515118% 11.365853%);
    --palWaterlily-387: rgb(23.407808% 56.052386% 10.674215%);
    --palWaterlily-388: rgb(23.848634% 55.584188% 10.077283%);
    --palWaterlily-389: rgb(24.278697% 55.113355% 9.568718%);
    --palWaterlily-390: rgb(24.687702% 54.641845% 9.138767%);
    --palWaterlily-391: rgb(25.070795% 54.170912% 8.777129%);
    --palWaterlily-392: rgb(25.426366% 53.701323% 8.47427%);
    --palWaterlily-393: rgb(25.754688% 53.23351% 8.221878%);
    --palWaterlily-394: rgb(26.056796% 52.767728% 8.012845%);
    --palWaterlily-395: rgb(26.334064% 52.304119% 7.841111%);
    --palWaterlily-396: rgb(26.588045% 51.842744% 7.701528%);
    --palWaterlily-397: rgb(26.820294% 51.383615% 7.589709%);
    --palWaterlily-398: rgb(27.0323% 50.926715% 7.501892%);
    --palWaterlily-399: rgb(27.225402% 50.472022% 7.434809%);
    --palWaterlily-400: rgb(27.400849% 50.019497% 7.385633%);
    --palWaterlily-401: rgb(27.559818% 49.56909% 7.351934%);
    --palWaterlily-402: rgb(27.703238% 49.120778% 7.331473%);
    --palWaterlily-403: rgb(27.832162% 48.674492% 7.322459%);
    --palWaterlily-404: rgb(27.947412% 48.230192% 7.323212%);
    --palWaterlily-405: rgb(28.049758% 47.787835% 7.332273%);
    --palWaterlily-406: rgb(28.139919% 47.347376% 7.348371%);
    --palWaterlily-407: rgb(28.218562% 46.908766% 7.370402%);
    --palWaterlily-408: rgb(28.286261% 46.47197% 7.397352%);
    --palWaterlily-409: rgb(28.343564% 46.036946% 7.428352%);
    --palWaterlily-410: rgb(28.390985% 45.603654% 7.462643%);
    --palWaterlily-411: rgb(28.429006% 45.172052% 7.499567%);
    --palWaterlily-412: rgb(28.458007% 44.742115% 7.53847%);
    --palWaterlily-413: rgb(28.478415% 44.313801% 7.578856%);
    --palWaterlily-414: rgb(28.490602% 43.887075% 7.620262%);
    --palWaterlily-415: rgb(28.494907% 43.461906% 7.662274%);
    --palWaterlily-416: rgb(28.491652% 43.038262% 7.704527%);
    --palWaterlily-417: rgb(28.481132% 42.616112% 7.7467%);
    --palWaterlily-418: rgb(28.463599% 42.195434% 7.788471%);
    --palWaterlily-419: rgb(28.439348% 41.77619% 7.829633%);
    --palWaterlily-420: rgb(28.408628% 41.35835% 7.869974%);
    --palWaterlily-421: rgb(28.37163% 40.9419% 7.90924%);
    --palWaterlily-422: rgb(28.328605% 40.5268% 7.947311%);
    --palWaterlily-423: rgb(28.279736% 40.113032% 7.984003%);
    --palWaterlily-424: rgb(28.225231% 39.700566% 8.019202%);
    --palWaterlily-425: rgb(28.165244% 39.289384% 8.052756%);
    --palWaterlily-426: rgb(28.09998% 38.879452% 8.084604%);
    --palWaterlily-427: rgb(28.029571% 38.470756% 8.114612%);
    --palWaterlily-428: rgb(27.954177% 38.063269% 8.142708%);
    --palWaterlily-429: rgb(27.873954% 37.656965% 8.168838%);
    --palWaterlily-430: rgb(27.789035% 37.251823% 8.192932%);
    --palWaterlily-431: rgb(27.699548% 36.847822% 8.214928%);
    --palWaterlily-432: rgb(27.605604% 36.444944% 8.234761%);
    --palWaterlily-433: rgb(27.507335% 36.043163% 8.252408%);
    --palWaterlily-434: rgb(27.404853% 35.642457% 8.267831%);
    --palWaterlily-435: rgb(27.298263% 35.242806% 8.280996%);
    --palWaterlily-436: rgb(27.187665% 34.844188% 8.291875%);
    --palWaterlily-437: rgb(27.073158% 34.446585% 8.300442%);
    --palWaterlily-438: rgb(26.954834% 34.049973% 8.306678%);
    --palWaterlily-439: rgb(26.832781% 33.654334% 8.310564%);
    --palWaterlily-440: rgb(26.70708% 33.259648% 8.312079%);
    --palWaterlily-441: rgb(26.577808% 32.865896% 8.311205%);
    --palWaterlily-442: rgb(26.445049% 32.473055% 8.307943%);
    --palWaterlily-443: rgb(26.308876% 32.081105% 8.302283%);
    --palWaterlily-444: rgb(26.169362% 31.690026% 8.294219%);
    --palWaterlily-445: rgb(26.02657% 31.299798% 8.283742%);
    --palWaterlily-446: rgb(25.880553% 30.910406% 8.270826%);
    --palWaterlily-447: rgb(25.731388% 30.521825% 8.255493%);
    --palWaterlily-448: rgb(25.579133% 30.134033% 8.237742%);
    --palWaterlily-449: rgb(25.423833% 29.747015% 8.217546%);
    --palWaterlily-450: rgb(25.265547% 29.360749% 8.194916%);
    --palWaterlily-451: rgb(25.104334% 28.975212% 8.169866%);
    --palWaterlily-452: rgb(24.940226% 28.59039% 8.142361%);
    --palWaterlily-453: rgb(24.773284% 28.206257% 8.112428%);
    --palWaterlily-454: rgb(24.603549% 27.822793% 8.080061%);
    --palWaterlily-455: rgb(24.431057% 27.439981% 8.045246%);
    --palWaterlily-456: rgb(24.255862% 27.057794% 8.008011%);
    --palWaterlily-457: rgb(24.077983% 26.676218% 7.968318%);
    --palWaterlily-458: rgb(23.897479% 26.295224% 7.926209%);
    --palWaterlily-459: rgb(23.714362% 25.914798% 7.881643%);
    --palWaterlily-460: rgb(23.528689% 25.534911% 7.834662%);
    --palWaterlily-461: rgb(23.340468% 25.155548% 7.785225%);
    --palWaterlily-462: rgb(23.149749% 24.776679% 7.733371%);
    --palWaterlily-463: rgb(22.956545% 24.398289% 7.679069%);
    --palWaterlily-464: rgb(22.760892% 24.020347% 7.622341%);
    --palWaterlily-465: rgb(22.562811% 23.642835% 7.563177%);
    --palWaterlily-466: rgb(22.362324% 23.265727% 7.501578%);
    --palWaterlily-467: rgb(22.159459% 22.888997% 7.437557%);
    --palWaterlily-468: rgb(21.954224% 22.512625% 7.371087%);
    --palWaterlily-469: rgb(21.746649% 22.136579% 7.302195%);
    --palWaterlily-470: rgb(21.536746% 21.760838% 7.230872%);
    --palWaterlily-471: rgb(21.324527% 21.385374% 7.157112%);
    --palWaterlily-472: rgb(21.110013% 21.010159% 7.080928%);
    --palWaterlily-473: rgb(20.89321% 20.635167% 7.002313%);
    --palWaterlily-474: rgb(20.674127% 20.260369% 6.921265%);
    --palWaterlily-475: rgb(20.452777% 19.885735% 6.837794%);
    --palWaterlily-476: rgb(20.229165% 19.511235% 6.751901%);
    --palWaterlily-477: rgb(20.00329% 19.136842% 6.663574%);
    --palWaterlily-478: rgb(19.77516% 18.762521% 6.572831%);
    --palWaterlily-479: rgb(19.544775% 18.38824% 6.479672%);
    --palWaterlily-480: rgb(19.31213% 18.013969% 6.384095%);
    --palWaterlily-481: rgb(19.077219% 17.639672% 6.286104%);
    --palWaterlily-482: rgb(18.840038% 17.265315% 6.185709%);
    --palWaterlily-483: rgb(18.600578% 16.890862% 6.082917%);
    --palWaterlily-484: rgb(18.358823% 16.516277% 5.977729%);
    --palWaterlily-485: rgb(18.114755% 16.141524% 5.870151%);
    --palWaterlily-486: rgb(17.868358% 15.766562% 5.760198%);
    --palWaterlily-487: rgb(17.619607% 15.391353% 5.647879%);
    --palWaterlily-488: rgb(17.368476% 15.015856% 5.533204%);
    --palWaterlily-489: rgb(17.11493% 14.640032% 5.416183%);
    --palWaterlily-490: rgb(16.858932% 14.263837% 5.296828%);
    --palWaterlily-491: rgb(16.600443% 13.887229% 5.175158%);
    --palWaterlily-492: rgb(16.339415% 13.510163% 5.051188%);
    --palWaterlily-493: rgb(16.075793% 13.132595% 4.924932%);
    --palWaterlily-494: rgb(15.809517% 12.754478% 4.796409%);
    --palWaterlily-495: rgb(15.540519% 12.375769% 4.665629%);
    --palWaterlily-496: rgb(15.268725% 11.996418% 4.532612%);
    --palWaterlily-497: rgb(14.994054% 11.616378% 4.397374%);
    --palWaterlily-498: rgb(14.716414% 11.2356% 4.259926%);
    --palWaterlily-499: rgb(14.435705% 10.854034% 4.120279%);
    --palWaterlily-500: rgb(14.151819% 10.47163% 3.977633%);
    --palWaterlily-501: rgb(13.864637% 10.088335% 3.834104%);
    --palWaterlily-502: rgb(13.57403% 9.704098% 3.691515%);
    --palWaterlily-503: rgb(13.279861% 9.318862% 3.549973%);
    --palWaterlily-504: rgb(12.981983% 8.932571% 3.409578%);
    --palWaterlily-505: rgb(12.680239% 8.545164% 3.270415%);
    --palWaterlily-506: rgb(12.374463% 8.156576% 3.132562%);
    --palWaterlily-507: rgb(12.064478% 7.766739% 2.996087%);
    --palWaterlily-508: rgb(11.750102% 7.375577% 2.861046%);
    --palWaterlily-509: rgb(11.431142% 6.983006% 2.727485%);
    --palWaterlily-510: rgb(11.107399% 6.588932% 2.595442%);
    --palWaterlily-511: rgb(10.778667% 6.193249% 2.464948%);
}
