/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palYlGnBu-1: rgb(100% 100% 85.098039%);
    --palYlGnBu-2: rgb(92.941176% 97.254902% 69.411765%);
    --palYlGnBu-3: rgb(78.039216% 91.372549% 70.588235%);
    --palYlGnBu-4: rgb(49.803922% 80.392157% 73.333333%);
    --palYlGnBu-5: rgb(25.490196% 71.372549% 76.862745%);
    --palYlGnBu-6: rgb(11.372549% 56.862745% 75.294118%);
    --palYlGnBu-7: rgb(13.333333% 36.862745% 65.882353%);
    --palYlGnBu-8: rgb(14.509804% 20.392157% 58.039216%);
    --palYlGnBu-9: rgb(3.137255% 11.372549% 34.509804%);
}
