/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palYlGn-1: rgb(100% 100% 89.803922%);
    --palYlGn-2: rgb(96.862745% 98.823529% 72.54902%);
    --palYlGn-3: rgb(85.098039% 94.117647% 63.921569%);
    --palYlGn-4: rgb(67.843137% 86.666667% 55.686275%);
    --palYlGn-5: rgb(47.058824% 77.647059% 47.45098%);
    --palYlGn-6: rgb(25.490196% 67.058824% 36.470588%);
    --palYlGn-7: rgb(13.72549% 51.764706% 26.27451%);
    --palYlGn-8: rgb(0% 40.784314% 21.568627%);
    --palYlGn-9: rgb(0% 27.058824% 16.078431%);
}
