/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palAfmhot-1: rgb(0% 0% 0%);
    --palAfmhot-2: rgb(5.13% 0% 0%);
    --palAfmhot-3: rgb(10.26% 0% 0%);
    --palAfmhot-4: rgb(15.3861% 0% 0%);
    --palAfmhot-5: rgb(20.5115% 0% 0%);
    --palAfmhot-6: rgb(25.6399% 0% 0%);
    --palAfmhot-7: rgb(30.77% 0% 0%);
    --palAfmhot-8: rgb(35.8976% 0% 0%);
    --palAfmhot-9: rgb(41.023% 0% 0%);
    --palAfmhot-10: rgb(46.1499% 0% 0%);
    --palAfmhot-11: rgb(51.28% 1.28% 0%);
    --palAfmhot-12: rgb(56.4099% 6.4099% 0%);
    --palAfmhot-13: rgb(61.54% 11.54% 0%);
    --palAfmhot-14: rgb(66.67% 16.67% 0%);
    --palAfmhot-15: rgb(71.7953% 21.7953% 0%);
    --palAfmhot-16: rgb(76.9207% 26.9207% 0%);
    --palAfmhot-17: rgb(82.05% 32.05% 0%);
    --palAfmhot-18: rgb(87.18% 37.1799% 0%);
    --palAfmhot-19: rgb(92.3069% 42.3069% 0%);
    --palAfmhot-20: rgb(97.4323% 47.4323% 0%);
    --palAfmhot-21: rgb(100% 52.5676% 2.5676%);
    --palAfmhot-22: rgb(100% 57.693% 7.693%);
    --palAfmhot-23: rgb(100% 62.82% 12.8199%);
    --palAfmhot-24: rgb(100% 67.95% 17.95%);
    --palAfmhot-25: rgb(100% 73.0792% 23.0792%);
    --palAfmhot-26: rgb(100% 78.2046% 28.2046%);
    --palAfmhot-27: rgb(100% 83.33% 33.33%);
    --palAfmhot-28: rgb(100% 88.46% 38.46%);
    --palAfmhot-29: rgb(100% 93.59% 43.59%);
    --palAfmhot-30: rgb(100% 98.72% 48.72%);
    --palAfmhot-31: rgb(100% 100% 53.85%);
    --palAfmhot-32: rgb(100% 100% 58.9769%);
    --palAfmhot-33: rgb(100% 100% 64.1023%);
    --palAfmhot-34: rgb(100% 100% 69.23%);
    --palAfmhot-35: rgb(100% 100% 74.3599%);
    --palAfmhot-36: rgb(100% 100% 79.4884%);
    --palAfmhot-37: rgb(100% 100% 84.6138%);
    --palAfmhot-38: rgb(100% 100% 89.74%);
    --palAfmhot-39: rgb(100% 100% 94.87%);
    --palAfmhot-40: rgb(100% 100% 100%);
}
