/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palAlgae-1: rgb(84.3137% 97.647% 81.5686%);
    --palAlgae-2: rgb(80.9653% 95.4751% 77.6168%);
    --palAlgae-3: rgb(77.9788% 92.911% 74.0573%);
    --palAlgae-4: rgb(74.6606% 90.739% 70.3469%);
    --palAlgae-5: rgb(71.3122% 88.5671% 66.9381%);
    --palAlgae-6: rgb(68.0844% 86.3951% 63.2579%);
    --palAlgae-7: rgb(64.917% 84.2232% 59.9095%);
    --palAlgae-8: rgb(61.6591% 82.0512% 56.561%);
    --palAlgae-9: rgb(58.19% 80.2714% 53.2126%);
    --palAlgae-10: rgb(54.5701% 78.0995% 50.2564%);
    --palAlgae-11: rgb(51.0708% 76.3197% 47.1493%);
    --palAlgae-12: rgb(47.1191% 74.5098% 44.3438%);
    --palAlgae-13: rgb(43.3484% 72.549% 41.3876%);
    --palAlgae-14: rgb(39.2156% 70.5882% 38.8235%);
    --palAlgae-15: rgb(34.8717% 68.8084% 36.4705%);
    --palAlgae-16: rgb(29.7435% 67.0588% 34.4796%);
    --palAlgae-17: rgb(24.2232% 65.2488% 32.9411%);
    --palAlgae-18: rgb(18.7028% 63.469% 32.1568%);
    --palAlgae-19: rgb(13.5746% 61.2971% 31.7647%);
    --palAlgae-20: rgb(9.2307% 59.1251% 31.3725%);
    --palAlgae-21: rgb(5.5806% 56.9532% 31.3725%);
    --palAlgae-22: rgb(3.4087% 54.7812% 30.8597%);
    --palAlgae-23: rgb(2.745% 52.549% 30.196%);
    --palAlgae-24: rgb(3.1372% 50.0452% 29.4117%);
    --palAlgae-25: rgb(4.3137% 47.8733% 28.6576%);
    --palAlgae-26: rgb(5.6711% 45.3092% 27.8431%);
    --palAlgae-27: rgb(7.0588% 43.1372% 27.0588%);
    --palAlgae-28: rgb(7.8431% 40.9653% 25.8823%);
    --palAlgae-29: rgb(8.6576% 38.4313% 24.7058%);
    --palAlgae-30: rgb(9.4117% 36.2292% 23.5294%);
    --palAlgae-31: rgb(9.8039% 34.0573% 22.2926%);
    --palAlgae-32: rgb(10.196% 31.8853% 20.7843%);
    --palAlgae-33: rgb(10.196% 29.7134% 19.5173%);
    --palAlgae-34: rgb(10.196% 27.5414% 18.0392%);
    --palAlgae-35: rgb(9.8039% 25.098% 16.3499%);
    --palAlgae-36: rgb(9.4117% 23.1372% 14.9019%);
    --palAlgae-37: rgb(9.0196% 20.7843% 13.1825%);
    --palAlgae-38: rgb(8.6274% 18.4615% 11.4027%);
    --palAlgae-39: rgb(7.8431% 16.2895% 9.6229%);
    --palAlgae-40: rgb(7.0588% 14.1176% 7.8431%);
}
