/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palAntique-1: rgb(52.156863% 36.078431% 45.882353%);
    --palAntique-2: rgb(85.098039% 68.627451% 41.960784%);
    --palAntique-3: rgb(68.627451% 39.215686% 34.509804%);
    --palAntique-4: rgb(45.098039% 43.529412% 29.803922%);
    --palAntique-5: rgb(32.156863% 41.568627% 51.372549%);
    --palAntique-6: rgb(38.431373% 32.54902% 46.666667%);
    --palAntique-7: rgb(40.784314% 52.156863% 36.078431%);
    --palAntique-8: rgb(61.176471% 61.176471% 36.862745%);
    --palAntique-9: rgb(62.745098% 38.039216% 46.666667%);
    --palAntique-10: rgb(54.901961% 47.058824% 36.470588%);
    --palAntique-11: rgb(27.45098% 45.098039% 47.058824%);
    --palAntique-12: rgb(48.627451% 48.627451% 48.627451%);
}
