/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palArctic-1: rgb(0% 0% 0%);
    --palArctic-2: rgb(0.6686% 0.6755% 0.9168%);
    --palArctic-3: rgb(2.2907% 2.3652% 3.5753%);
    --palArctic-4: rgb(4.6702% 4.8988% 7.3282%);
    --palArctic-5: rgb(7.0795% 7.4813% 11.0639%);
    --palArctic-6: rgb(9.3205% 9.9463% 14.834%);
    --palArctic-7: rgb(11.4247% 12.3321% 18.675%);
    --palArctic-8: rgb(13.407% 14.663% 22.6119%);
    --palArctic-9: rgb(15.2726% 16.9564% 26.6639%);
    --palArctic-10: rgb(17.0199% 19.2263% 30.846%);
    --palArctic-11: rgb(18.64% 21.4846% 35.1709%);
    --palArctic-12: rgb(20.118% 23.7426% 39.6472%);
    --palArctic-13: rgb(21.4286% 26.0124% 44.2813%);
    --palArctic-14: rgb(22.5368% 28.308% 49.0707%);
    --palArctic-15: rgb(23.3861% 30.648% 54.0048%);
    --palArctic-16: rgb(23.8976% 33.0574% 59.0483%);
    --palArctic-17: rgb(23.9428% 35.5749% 64.1222%);
    --palArctic-18: rgb(23.3419% 38.2589% 69.0428%);
    --palArctic-19: rgb(21.9174% 41.1896% 73.3875%);
    --palArctic-20: rgb(20.0205% 44.3862% 76.4424%);
    --palArctic-21: rgb(19.0908% 47.6659% 77.9265%);
    --palArctic-22: rgb(20.1224% 50.8308% 78.4506%);
    --palArctic-23: rgb(22.7737% 53.8403% 78.5997%);
    --palArctic-24: rgb(26.3713% 56.7183% 78.6591%);
    --palArctic-25: rgb(30.4476% 59.4969% 78.7566%);
    --palArctic-26: rgb(34.7602% 62.2028% 78.9532%);
    --palArctic-27: rgb(39.1899% 64.8579% 79.2785%);
    --palArctic-28: rgb(43.683% 67.4788% 79.751%);
    --palArctic-29: rgb(48.215% 70.0794% 80.38%);
    --palArctic-30: rgb(52.7774% 72.6708% 81.175%);
    --palArctic-31: rgb(57.3683% 75.2625% 82.1421%);
    --palArctic-32: rgb(61.9891% 77.863% 83.2898%);
    --palArctic-33: rgb(66.6419% 80.48% 84.6258%);
    --palArctic-34: rgb(71.3285% 83.1212% 86.1594%);
    --palArctic-35: rgb(76.0491% 85.7945% 87.9003%);
    --palArctic-36: rgb(80.8022% 88.5085% 89.8579%);
    --palArctic-37: rgb(85.5837% 91.2732% 92.0419%);
    --palArctic-38: rgb(90.3864% 94.0998% 94.4581%);
    --palArctic-39: rgb(95.199% 97.0026% 97.1121%);
    --palArctic-40: rgb(100% 100% 100%);
}
