/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palB231-1: rgb(89.0625% 99.6093% 87.1093%);
    --palB231-2: rgb(76.5324% 95.8834% 78.3052%);
    --palB231-3: rgb(70.6129% 94.1105% 76.5324%);
    --palB231-4: rgb(62.56% 91.9471% 73.1971%);
    --palB231-5: rgb(55.018% 89.393% 69.9218%);
    --palB231-6: rgb(51.6826% 86.0576% 69.1406%);
    --palB231-7: rgb(48.7379% 83.1129% 68.3593%);
    --palB231-8: rgb(46.5745% 80.9495% 68.3593%);
    --palB231-9: rgb(44.8016% 79.1766% 67.9687%);
    --palB231-10: rgb(43.0288% 77.4038% 67.9687%);
    --palB231-11: rgb(41.256% 76.0216% 67.5781%);
    --palB231-12: rgb(39.0925% 74.6394% 67.1875%);
    --palB231-13: rgb(36.929% 73.2572% 66.7968%);
    --palB231-14: rgb(35.5468% 71.4843% 66.4062%);
    --palB231-15: rgb(33.9843% 69.9218% 66.4062%);
    --palB231-16: rgb(32.3918% 68.3293% 66.4062%);
    --palB231-17: rgb(31.0096% 66.5564% 66.0156%);
    --palB231-18: rgb(30.0781% 64.4531% 65.1742%);
    --palB231-19: rgb(28.9062% 61.9591% 63.792%);
    --palB231-20: rgb(27.7343% 58.8942% 61.6286%);
    --palB231-21: rgb(26.5625% 55.5588% 59.4651%);
    --palB231-22: rgb(25.3906% 52.2235% 57.3016%);
    --palB231-23: rgb(23.8882% 48.8882% 55.4687%);
    --palB231-24: rgb(22.6562% 46.3341% 53.3653%);
    --palB231-25: rgb(21.4843% 43.3894% 51.2019%);
    --palB231-26: rgb(20.1322% 40.8353% 49.429%);
    --palB231-27: rgb(19.1406% 38.6718% 47.2656%);
    --palB231-28: rgb(17.9687% 36.1177% 45.3125%);
    --palB231-29: rgb(17.1875% 33.5637% 43.7199%);
    --palB231-30: rgb(16.4062% 31.0096% 41.9471%);
    --palB231-31: rgb(15.625% 28.5156% 40.5649%);
    --palB231-32: rgb(14.8437% 26.292% 38.792%);
    --palB231-33: rgb(14.4531% 24.1286% 38.2812%);
    --palB231-34: rgb(14.0625% 21.9651% 37.8906%);
    --palB231-35: rgb(13.2812% 20.1923% 36.7187%);
    --palB231-36: rgb(12.8906% 18.4194% 35.9375%);
    --palB231-37: rgb(11.9591% 15.8653% 34.2247%);
    --palB231-38: rgb(11.3281% 13.7019% 32.8125%);
    --palB231-39: rgb(10.5468% 13.2812% 31.25%);
    --palB231-40: rgb(10.1562% 12.8906% 30.0781%);
}
