/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBalance-1: rgb(9.4117% 10.9803% 26.2745%);
    --palBalance-2: rgb(11.9758% 14.7209% 33.9668%);
    --palBalance-3: rgb(14.1478% 18.0693% 42.4434%);
    --palBalance-4: rgb(15.6862% 21.4177% 51.3122%);
    --palBalance-5: rgb(16.0784% 24.7662% 60.6334%);
    --palBalance-6: rgb(13.9668% 28.7782% 69.834%);
    --palBalance-7: rgb(7.1794% 34.2986% 74.5098%);
    --palBalance-8: rgb(4.2232% 39.819% 74.2081%);
    --palBalance-9: rgb(10.0452% 44.9472% 73.3333%);
    --palBalance-10: rgb(16.742% 49.6832% 72.9411%);
    --palBalance-11: rgb(23.5897% 54.0271% 72.9411%);
    --palBalance-12: rgb(30.4977% 58.4012% 72.9411%);
    --palBalance-13: rgb(37.7978% 62.5339% 73.3333%);
    --palBalance-14: rgb(45.8823% 66.6666% 74.5098%);
    --palBalance-15: rgb(53.9668% 70.2262% 75.8974%);
    --palBalance-16: rgb(62.0512% 73.7858% 78.0693%);
    --palBalance-17: rgb(69.7435% 77.7375% 80.6334%);
    --palBalance-18: rgb(77.0437% 81.6892% 83.65%);
    --palBalance-19: rgb(84.3438% 86.0331% 86.9381%);
    --palBalance-20: rgb(91.5535% 90.7692% 90.7692%);
    --palBalance-21: rgb(93.4238% 90.0754% 89.2911%);
    --palBalance-22: rgb(90.8597% 84.0723% 81.9909%);
    --palBalance-23: rgb(88.6877% 78.1598% 74.6907%);
    --palBalance-24: rgb(86.9079% 72.0965% 67.3906%);
    --palBalance-25: rgb(85.1282% 66.3348% 59.6983%);
    --palBalance-26: rgb(83.3484% 60.4223% 52.3981%);
    --palBalance-27: rgb(81.5686% 54.5098% 45.098%);
    --palBalance-28: rgb(79.7888% 48.5972% 38.19%);
    --palBalance-29: rgb(78.009% 42.6847% 31.282%);
    --palBalance-30: rgb(75.8371% 36.5309% 25.0075%);
    --palBalance-31: rgb(73.6651% 30.0754% 19.4871%);
    --palBalance-32: rgb(70.8295% 23.3785% 15.4147%);
    --palBalance-33: rgb(67.3604% 16.6817% 14.1176%);
    --palBalance-34: rgb(62.5339% 10.7692% 14.8114%);
    --palBalance-35: rgb(57.0135% 6.8174% 15.8069%);
    --palBalance-36: rgb(50.377% 5.4901% 16.0784%);
    --palBalance-37: rgb(43.469% 5.4901% 15.1432%);
    --palBalance-38: rgb(36.923% 5.4901% 12.9713%);
    --palBalance-39: rgb(30.0452% 4.917% 10.2262%);
    --palBalance-40: rgb(23.5294% 3.5294% 7.0588%);
}
