/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBam-1: rgb(39.622% 0.8119% 29.605%);
    --palBam-2: rgb(45.348% 7.5648% 35.2513%);
    --palBam-3: rgb(50.8364% 12.926% 40.7146%);
    --palBam-4: rgb(56.0192% 17.7046% 45.91%);
    --palBam-5: rgb(60.8587% 22.2303% 50.7873%);
    --palBam-6: rgb(65.307% 26.6049% 55.3076%);
    --palBam-7: rgb(69.335% 30.9105% 59.4583%);
    --palBam-8: rgb(73.0001% 35.3206% 63.3299%);
    --palBam-9: rgb(76.4256% 40.0823% 67.087%);
    --palBam-10: rgb(79.6119% 45.2773% 70.7626%);
    --palBam-11: rgb(82.5071% 50.8266% 74.3082%);
    --palBam-12: rgb(85.102% 56.6003% 77.6969%);
    --palBam-13: rgb(87.4324% 62.465% 80.9215%);
    --palBam-14: rgb(89.549% 68.29% 83.986%);
    --palBam-15: rgb(91.4752% 73.9263% 86.8606%);
    --palBam-16: rgb(93.1956% 79.2009% 89.4714%);
    --palBam-17: rgb(94.656% 83.9579% 91.7055%);
    --palBam-18: rgb(95.778% 88.0636% 93.4243%);
    --palBam-19: rgb(96.4506% 91.3528% 94.4458%);
    --palBam-20: rgb(96.5763% 93.6708% 94.6102%);
    --palBam-21: rgb(96.1095% 94.961% 93.8403%);
    --palBam-22: rgb(94.9423% 95.3627% 91.963%);
    --palBam-23: rgb(92.918% 94.9474% 88.7404%);
    --palBam-24: rgb(89.9943% 93.7144% 84.1466%);
    --palBam-25: rgb(86.157% 91.6966% 78.2654%);
    --palBam-26: rgb(81.3813% 88.9066% 71.2346%);
    --palBam-27: rgb(75.741% 85.388% 63.415%);
    --palBam-28: rgb(69.4659% 81.2537% 55.3849%);
    --palBam-29: rgb(62.9282% 76.712% 47.7665%);
    --palBam-30: rgb(56.4996% 72.0115% 41.0046%);
    --palBam-31: rgb(50.4259% 67.3596% 35.2273%);
    --palBam-32: rgb(44.8034% 62.8865% 30.3338%);
    --palBam-33: rgb(39.6283% 58.6495% 26.1215%);
    --palBam-34: rgb(34.8592% 54.664% 22.3985%);
    --palBam-35: rgb(30.378% 50.8528% 18.9648%);
    --palBam-36: rgb(25.9288% 47.0081% 15.5686%);
    --palBam-37: rgb(21.3303% 42.9747% 12.0251%);
    --palBam-38: rgb(16.4943% 38.73% 8.235%);
    --palBam-39: rgb(11.241% 34.2821% 3.9253%);
    --palBam-40: rgb(4.9098% 29.666% 0%);
}
