/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBatlow-1: rgb(0.5193% 9.8238% 34.984%);
    --palBatlow-2: rgb(2.7881% 13.8227% 35.6764%);
    --palBatlow-3: rgb(4.421% 17.5466% 36.3151%);
    --palBatlow-4: rgb(5.424% 20.9356% 36.8868%);
    --palBatlow-5: rgb(6.1207% 23.9276% 37.3797%);
    --palBatlow-6: rgb(6.7606% 26.5869% 37.8005%);
    --palBatlow-7: rgb(7.488% 29.0496% 38.1558%);
    --palBatlow-8: rgb(8.4386% 31.4213% 38.417%);
    --palBatlow-9: rgb(9.7355% 33.7224% 38.5117%);
    --palBatlow-10: rgb(11.5273% 35.914% 38.3386%);
    --palBatlow-11: rgb(13.8767% 37.9418% 37.7856%);
    --palBatlow-12: rgb(16.7588% 39.7686% 36.792%);
    --palBatlow-13: rgb(20.0788% 41.387% 35.3606%);
    --palBatlow-14: rgb(23.707% 42.832% 33.563%);
    --palBatlow-15: rgb(27.54% 44.1606% 31.5063%);
    --palBatlow-16: rgb(31.5125% 45.4256% 29.3015%);
    --palBatlow-17: rgb(35.5856% 46.6603% 27.0366%);
    --palBatlow-18: rgb(39.7495% 47.8879% 24.7674%);
    --palBatlow-19: rgb(44.032% 49.1212% 22.539%);
    --palBatlow-20: rgb(48.4726% 50.3663% 20.4333%);
    --palBatlow-21: rgb(53.1232% 51.6219% 18.6074%);
    --palBatlow-22: rgb(57.9924% 52.8635% 17.3376%);
    --palBatlow-23: rgb(63.0314% 54.048% 17.003%);
    --palBatlow-24: rgb(68.1224% 55.131% 17.8669%);
    --palBatlow-25: rgb(73.1298% 56.0903% 19.888%);
    --palBatlow-26: rgb(77.9537% 56.9481% 22.8251%);
    --palBatlow-27: rgb(82.547% 57.773% 26.42%);
    --palBatlow-28: rgb(86.8583% 58.6671% 30.5943%);
    --palBatlow-29: rgb(90.7663% 59.7463% 35.3743%);
    --palBatlow-30: rgb(94.0606% 61.0989% 40.7679%);
    --palBatlow-31: rgb(96.5407% 62.7346% 46.6275%);
    --palBatlow-32: rgb(98.1353% 64.5764% 52.6753%);
    --palBatlow-33: rgb(98.9677% 66.501% 58.6308%);
    --palBatlow-34: rgb(99.2759% 68.4148% 64.3446%);
    --palBatlow-35: rgb(99.2969% 70.2883% 69.8377%);
    --palBatlow-36: rgb(99.1872% 72.1453% 75.2397%);
    --palBatlow-37: rgb(99.0198% 74.0303% 80.7071%);
    --palBatlow-38: rgb(98.8077% 75.9728% 86.3406%);
    --palBatlow-39: rgb(98.5269% 77.982% 92.1607%);
    --palBatlow-40: rgb(98.135% 80.041% 98.127%);
}
