/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBerlin-1: rgb(62.108% 69.018% 99.951%);
    --palBerlin-2: rgb(56.2022% 68.3593% 97.2242%);
    --palBerlin-3: rgb(50.1129% 67.5803% 94.3564%);
    --palBerlin-4: rgb(43.8197% 66.5043% 91.1209%);
    --palBerlin-5: rgb(37.399% 64.802% 87.1704%);
    --palBerlin-6: rgb(31.2293% 62.1164% 82.2186%);
    --palBerlin-7: rgb(25.9708% 58.3856% 76.3592%);
    --palBerlin-8: rgb(22.0638% 53.9273% 70.0261%);
    --palBerlin-9: rgb(19.3059% 49.1635% 63.6299%);
    --palBerlin-10: rgb(17.1687% 44.3596% 57.3433%);
    --palBerlin-11: rgb(15.2836% 39.6172% 51.1946%);
    --palBerlin-12: rgb(13.4986% 34.9701% 45.1849%);
    --palBerlin-13: rgb(11.7709% 30.4298% 39.3145%);
    --palBerlin-14: rgb(10.118% 26.011% 33.595%);
    --palBerlin-15: rgb(8.6156% 21.7332% 28.0424%);
    --palBerlin-16: rgb(7.3871% 17.6365% 22.6814%);
    --palBerlin-17: rgb(6.6208% 13.823% 17.5816%);
    --palBerlin-18: rgb(6.4803% 10.4725% 12.9205%);
    --palBerlin-19: rgb(6.7859% 7.7315% 9.0118%);
    --palBerlin-20: rgb(8.3787% 5.505% 5.4496%);
    --palBerlin-21: rgb(11.0006% 4.4141% 2.3217%);
    --palBerlin-22: rgb(13.7736% 4.6536% 0.7466%);
    --palBerlin-23: rgb(16.7071% 5.4082% 0.2024%);
    --palBerlin-24: rgb(20.0506% 5.9915% 0.1239%);
    --palBerlin-25: rgb(23.5992% 6.7541% 0.205%);
    --palBerlin-26: rgb(27.3699% 7.7822% 0.4907%);
    --palBerlin-27: rgb(31.502% 9.253% 1.3324%);
    --palBerlin-28: rgb(36.2085% 11.4767% 3.2671%);
    --palBerlin-29: rgb(41.5346% 14.6709% 6.3097%);
    --palBerlin-30: rgb(47.1596% 18.732% 10.1473%);
    --palBerlin-31: rgb(52.6453% 23.2629% 14.9566%);
    --palBerlin-32: rgb(57.8697% 27.9451% 20.268%);
    --palBerlin-33: rgb(62.9493% 32.6816% 25.8179%);
    --palBerlin-34: rgb(68.0182% 37.4812% 31.5189%);
    --palBerlin-35: rgb(73.1486% 42.358% 37.3389%);
    --palBerlin-36: rgb(78.3643% 47.3233% 43.2685%);
    --palBerlin-37: rgb(83.6662% 52.3729% 49.303%);
    --palBerlin-38: rgb(89.0473% 57.5061% 55.4353%);
    --palBerlin-39: rgb(94.4943% 62.7186% 61.666%);
    --palBerlin-40: rgb(99.987% 68.007% 67.995%);
}
