/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBilbao-1: rgb(29.914% 0.0324% 0.3026%);
    --palBilbao-2: rgb(33.7595% 3.5167% 5.3555%);
    --palBilbao-3: rgb(37.534% 7.2951% 8.8196%);
    --palBilbao-4: rgb(41.0754% 10.5379% 12.0208%);
    --palBilbao-5: rgb(44.3885% 13.5441% 15.3168%);
    --palBilbao-6: rgb(47.5488% 16.4421% 18.622%);
    --palBilbao-7: rgb(50.6026% 19.31% 21.8678%);
    --palBilbao-8: rgb(53.5323% 22.2038% 24.9879%);
    --palBilbao-9: rgb(56.2321% 25.1737% 27.8406%);
    --palBilbao-10: rgb(58.5148% 28.194% 30.2062%);
    --palBilbao-11: rgb(60.2153% 31.1048% 31.9093%);
    --palBilbao-12: rgb(61.3706% 33.7623% 32.9996%);
    --palBilbao-13: rgb(62.1729% 36.155% 33.7005%);
    --palBilbao-14: rgb(62.809% 38.354% 34.227%);
    --palBilbao-15: rgb(63.3757% 40.4209% 34.6846%);
    --palBilbao-16: rgb(63.9122% 42.4009% 35.1158%);
    --palBilbao-17: rgb(64.431% 44.3226% 35.5327%);
    --palBilbao-18: rgb(64.9408% 46.2051% 35.9385%);
    --palBilbao-19: rgb(65.4443% 48.0676% 36.3419%);
    --palBilbao-20: rgb(65.9477% 49.928% 36.7443%);
    --palBilbao-21: rgb(66.4552% 51.804% 37.1506%);
    --palBilbao-22: rgb(66.9749% 53.7153% 37.5686%);
    --palBilbao-23: rgb(67.5139% 55.6914% 38.0206%);
    --palBilbao-24: rgb(68.1033% 57.7786% 38.5993%);
    --palBilbao-25: rgb(68.8116% 60.0628% 39.5827%);
    --palBilbao-26: rgb(69.7426% 62.6143% 41.4924%);
    --palBilbao-27: rgb(70.932% 65.31% 44.731%);
    --palBilbao-28: rgb(72.2466% 67.8343% 49.0576%);
    --palBilbao-29: rgb(73.5151% 69.9879% 53.7447%);
    --palBilbao-30: rgb(74.6736% 71.8208% 58.3002%);
    --palBilbao-31: rgb(75.7381% 73.4576% 62.5757%);
    --palBilbao-32: rgb(76.7415% 74.9761% 66.5624%);
    --palBilbao-33: rgb(77.76% 76.463% 70.3144%);
    --palBilbao-34: rgb(78.9821% 78.1063% 73.9778%);
    --palBilbao-35: rgb(80.7454% 80.2242% 77.7857%);
    --palBilbao-36: rgb(83.3626% 83.1055% 81.9056%);
    --palBilbao-37: rgb(86.8505% 86.7506% 86.2825%);
    --palBilbao-38: rgb(90.9367% 90.9072% 90.7668%);
    --palBilbao-39: rgb(95.3696% 95.3636% 95.3323%);
    --palBilbao-40: rgb(100% 100% 100%);
}
