/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBlues-1: rgb(96.862745% 98.431373% 100%);
    --palBlues-2: rgb(87.058824% 92.156863% 96.862745%);
    --palBlues-3: rgb(77.647059% 85.882353% 93.72549%);
    --palBlues-4: rgb(61.960784% 79.215686% 88.235294%);
    --palBlues-5: rgb(41.960784% 68.235294% 83.921569%);
    --palBlues-6: rgb(25.882353% 57.254902% 77.647059%);
    --palBlues-7: rgb(12.941176% 44.313725% 70.980392%);
    --palBlues-8: rgb(3.137255% 31.764706% 61.176471%);
    --palBlues-9: rgb(3.137255% 18.823529% 41.960784%);
}
