/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBlueBlgra2-1: rgb(91.0156% 97.6562% 98.0468%);
    --palBlueBlgra2-2: rgb(89.2427% 96.875% 97.2656%);
    --palBlueBlgra2-3: rgb(87.5% 95.7031% 96.4843%);
    --palBlueBlgra2-4: rgb(86.0877% 94.9218% 96.0937%);
    --palBlueBlgra2-5: rgb(84.375% 93.75% 95.3125%);
    --palBlueBlgra2-6: rgb(82.8125% 92.9687% 94.5312%);
    --palBlueBlgra2-7: rgb(81.1598% 91.7968% 93.75%);
    --palBlueBlgra2-8: rgb(79.6875% 91.0156% 93.3593%);
    --palBlueBlgra2-9: rgb(78.0048% 89.8437% 92.5781%);
    --palBlueBlgra2-10: rgb(76.2319% 89.0625% 91.7968%);
    --palBlueBlgra2-11: rgb(74.8497% 87.7403% 90.8653%);
    --palBlueBlgra2-12: rgb(72.6862% 85.5769% 89.4831%);
    --palBlueBlgra2-13: rgb(70.9134% 83.804% 88.1009%);
    --palBlueBlgra2-14: rgb(69.1406% 81.6406% 86.7187%);
    --palBlueBlgra2-15: rgb(66.9771% 79.8677% 85.1562%);
    --palBlueBlgra2-16: rgb(65.2043% 77.7343% 83.5637%);
    --palBlueBlgra2-17: rgb(63.2812% 75.9314% 82.1814%);
    --palBlueBlgra2-18: rgb(61.268% 73.768% 80.7992%);
    --palBlueBlgra2-19: rgb(59.4951% 71.9951% 79.2968%);
    --palBlueBlgra2-20: rgb(57.4218% 69.8317% 77.7343%);
    --palBlueBlgra2-21: rgb(55.8593% 67.9687% 76.1718%);
    --palBlueBlgra2-22: rgb(54.1766% 65.8954% 74.4891%);
    --palBlueBlgra2-23: rgb(52.7343% 63.7319% 72.7163%);
    --palBlueBlgra2-24: rgb(51.0216% 61.9591% 70.9435%);
    --palBlueBlgra2-25: rgb(49.6093% 59.7956% 69.1706%);
    --palBlueBlgra2-26: rgb(47.8665% 58.0228% 67.3978%);
    --palBlueBlgra2-27: rgb(46.4843% 55.8593% 65.625%);
    --palBlueBlgra2-28: rgb(44.7115% 53.6959% 64.0625%);
    --palBlueBlgra2-29: rgb(43.3293% 51.923% 62.1093%);
    --palBlueBlgra2-30: rgb(41.5564% 49.7596% 60.5468%);
    --palBlueBlgra2-31: rgb(39.393% 47.2055% 57.7524%);
    --palBlueBlgra2-32: rgb(37.2295% 44.381% 54.8076%);
    --palBlueBlgra2-33: rgb(34.7656% 41.7067% 51.7728%);
    --palBlueBlgra2-34: rgb(32.512% 38.762% 48.6177%);
    --palBlueBlgra2-35: rgb(30.3485% 36.2079% 45.5829%);
    --palBlueBlgra2-36: rgb(27.7944% 33.2632% 42.6382%);
    --palBlueBlgra2-37: rgb(25.631% 30.3185% 39.5432%);
    --palBlueBlgra2-38: rgb(23.4675% 27.7644% 36.3581%);
    --palBlueBlgra2-39: rgb(20.9134% 24.8197% 33.4134%);
    --palBlueBlgra2-40: rgb(18.75% 22.2656% 30.4687%);
}
