/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBrocO-1: rgb(21.429% 18.467% 21.821%);
    --palBrocO-2: rgb(21.1439% 18.7845% 24.8795%);
    --palBrocO-3: rgb(21.0787% 19.8733% 28.6166%);
    --palBrocO-4: rgb(21.2609% 21.8333% 33.0148%);
    --palBrocO-5: rgb(21.7821% 24.6562% 37.9239%);
    --palBrocO-6: rgb(22.8152% 28.2452% 43.0926%);
    --palBrocO-7: rgb(24.543% 32.3909% 48.2197%);
    --palBrocO-8: rgb(27.084% 36.8601% 53.067%);
    --palBrocO-9: rgb(30.4157% 41.4701% 57.5206%);
    --palBrocO-10: rgb(34.4139% 46.0985% 61.5754%);
    --palBrocO-11: rgb(38.9244% 50.691% 65.2818%);
    --palBrocO-12: rgb(43.8071% 55.224% 68.703%);
    --palBrocO-13: rgb(48.9466% 59.688% 71.877%);
    --palBrocO-14: rgb(54.243% 64.065% 74.801%);
    --palBrocO-15: rgb(59.5939% 68.3155% 77.4082%);
    --palBrocO-16: rgb(64.873% 72.3626% 79.5695%);
    --palBrocO-17: rgb(69.8981% 76.0663% 81.0683%);
    --palBrocO-18: rgb(74.403% 79.2206% 81.6354%);
    --palBrocO-19: rgb(78.0375% 81.5513% 80.9829%);
    --palBrocO-20: rgb(80.4372% 82.7848% 78.928%);
    --palBrocO-21: rgb(81.3377% 82.7353% 75.4746%);
    --palBrocO-22: rgb(80.6776% 81.3795% 70.849%);
    --palBrocO-23: rgb(78.6098% 78.86% 65.4166%);
    --palBrocO-24: rgb(75.418% 75.4106% 59.567%);
    --palBrocO-25: rgb(71.426% 71.295% 53.6275%);
    --palBrocO-26: rgb(66.92% 66.7431% 47.8378%);
    --palBrocO-27: rgb(62.134% 61.944% 42.345%);
    --palBrocO-28: rgb(57.2406% 57.0396% 37.2446%);
    --palBrocO-29: rgb(52.3663% 52.1337% 32.5753%);
    --palBrocO-30: rgb(47.6083% 47.3063% 28.3796%);
    --palBrocO-31: rgb(43.048% 42.621% 24.691%);
    --palBrocO-32: rgb(38.7654% 38.1426% 21.5675%);
    --palBrocO-33: rgb(34.8526% 33.953% 19.0789%);
    --palBrocO-34: rgb(31.3949% 30.136% 17.2944%);
    --palBrocO-35: rgb(28.4679% 26.7824% 16.2561%);
    --palBrocO-36: rgb(26.1058% 23.9564% 15.9533%);
    --palBrocO-37: rgb(24.296% 21.7046% 16.3632%);
    --palBrocO-38: rgb(22.9774% 20.0306% 17.4231%);
    --palBrocO-39: rgb(22.0747% 18.9525% 19.1082%);
    --palBrocO-40: rgb(21.492% 18.482% 21.413%);
}
