/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBrownBlue12-1: rgb(20% 9.803922% 0%);
    --palBrownBlue12-2: rgb(0.784314% 18.431373% 0%);
    --palBrownBlue12-3: rgb(20.784314% 37.647059% 20.784314%);
    --palBrownBlue12-4: rgb(1.568627% 60.784314% 47.843137%);
    --palBrownBlue12-5: rgb(6.27451% 68.627451% 59.215686%);
    --palBrownBlue12-6: rgb(16.470588% 85.490196% 80.392157%);
    --palBrownBlue12-7: rgb(1.568627% 99.215686% 100%);
    --palBrownBlue12-8: rgb(20.784314% 97.254902% 100%);
    --palBrownBlue12-9: rgb(0.392157% 93.72549% 100%);
    --palBrownBlue12-10: rgb(19.607843% 89.019608% 100%);
    --palBrownBlue12-11: rgb(0% 66.27451% 80%);
    --palBrownBlue12-12: rgb(0% 47.843137% 60%);
}
