/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBrownVbrown1-1: rgb(69.9218% 68.3593% 60.9375%);
    --palBrownVbrown1-2: rgb(67.3677% 65.4146% 57.7824%);
    --palBrownVbrown1-3: rgb(65.2043% 62.4699% 54.2668%);
    --palBrownVbrown1-4: rgb(62.2596% 58.7439% 50.5408%);
    --palBrownVbrown1-5: rgb(59.375% 55.018% 46.8149%);
    --palBrownVbrown1-6: rgb(57.9326% 52.8545% 43.8701%);
    --palBrownVbrown1-7: rgb(56.5504% 50.3004% 40.9254%);
    --palBrownVbrown1-8: rgb(54.7776% 48.137% 37.9807%);
    --palBrownVbrown1-9: rgb(53.3954% 45.9735% 35.5468%);
    --palBrownVbrown1-10: rgb(52.0132% 44.2007% 34.375%);
    --palBrownVbrown1-11: rgb(50.7812% 42.5781% 33.0528%);
    --palBrownVbrown1-12: rgb(49.6093% 41.0156% 32.0312%);
    --palBrownVbrown1-13: rgb(48.2572% 39.2728% 30.679%);
    --palBrownVbrown1-14: rgb(46.4843% 37.5% 29.2968%);
    --palBrownVbrown1-15: rgb(45.1021% 35.9375% 28.125%);
    --palBrownVbrown1-16: rgb(43.7199% 34.3449% 26.923%);
    --palBrownVbrown1-17: rgb(42.1875% 32.8125% 25.5408%);
    --palBrownVbrown1-18: rgb(40.5649% 31.1899% 24.5492%);
    --palBrownVbrown1-19: rgb(38.792% 29.417% 23.4375%);
    --palBrownVbrown1-20: rgb(37.4098% 28.0348% 22.2656%);
    --palBrownVbrown1-21: rgb(35.637% 26.5625% 21.0937%);
    --palBrownVbrown1-22: rgb(33.8641% 25% 19.9218%);
    --palBrownVbrown1-23: rgb(32.0913% 23.4975% 18.75%);
    --palBrownVbrown1-24: rgb(30.7091% 22.2656% 17.4278%);
    --palBrownVbrown1-25: rgb(28.9362% 21.0937% 16.4362%);
    --palBrownVbrown1-26: rgb(27.7343% 19.9218% 15.625%);
    --palBrownVbrown1-27: rgb(26.5625% 18.75% 14.8437%);
    --palBrownVbrown1-28: rgb(25.1802% 17.7584% 14.0625%);
    --palBrownVbrown1-29: rgb(23.8281% 16.7668% 13.2812%);
    --palBrownVbrown1-30: rgb(22.6562% 15.625% 12.6502%);
    --palBrownVbrown1-31: rgb(21.4242% 14.7836% 12.0492%);
    --palBrownVbrown1-32: rgb(20.042% 13.6718% 11.3281%);
    --palBrownVbrown1-33: rgb(18.6598% 12.5% 10.4567%);
    --palBrownVbrown1-34: rgb(17.2776% 11.4182% 9.375%);
    --palBrownVbrown1-35: rgb(16.0156% 10.4266% 8.2031%);
    --palBrownVbrown1-36: rgb(14.8437% 9.375% 7.4218%);
    --palBrownVbrown1-37: rgb(13.5216% 8.2031% 6.4903%);
    --palBrownVbrown1-38: rgb(12.5% 7.4218% 5.8593%);
    --palBrownVbrown1-39: rgb(11.1478% 6.25% 4.8978%);
    --palBrownVbrown1-40: rgb(10.1562% 5.4687% 3.9062%);
}
