/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBuda-1: rgb(70.015% 0.2744% 70.061%);
    --palBuda-2: rgb(70.0325% 5.6119% 67.8725%);
    --palBuda-3: rgb(70.038% 9.6011% 65.8435%);
    --palBuda-4: rgb(70.055% 12.8959% 64.0253%);
    --palBuda-5: rgb(70.1312% 15.8755% 62.4262%);
    --palBuda-6: rgb(70.3438% 18.6647% 61.0426%);
    --palBuda-7: rgb(70.7629% 21.3253% 59.8609%);
    --palBuda-8: rgb(71.3863% 23.8969% 58.8466%);
    --palBuda-9: rgb(72.1379% 26.3956% 57.9493%);
    --palBuda-10: rgb(72.933% 28.8223% 57.1162%);
    --palBuda-11: rgb(73.7227% 31.1835% 56.3198%);
    --palBuda-12: rgb(74.4969% 33.4899% 55.545%);
    --palBuda-13: rgb(75.2546% 35.7483% 54.7884%);
    --palBuda-14: rgb(75.999% 37.972% 54.044%);
    --palBuda-15: rgb(76.7333% 40.1683% 53.3097%);
    --palBuda-16: rgb(77.4595% 42.3425% 52.5844%);
    --palBuda-17: rgb(78.178% 44.5044% 51.8675%);
    --palBuda-18: rgb(78.8821% 46.6609% 51.1636%);
    --palBuda-19: rgb(79.5589% 48.8248% 50.4877%);
    --palBuda-20: rgb(80.1979% 51.0073% 49.8495%);
    --palBuda-21: rgb(80.7984% 53.2092% 49.2495%);
    --palBuda-22: rgb(81.3714% 55.4246% 48.6782%);
    --palBuda-23: rgb(81.9329% 57.6495% 48.1163%);
    --palBuda-24: rgb(82.4926% 59.8801% 47.5596%);
    --palBuda-25: rgb(83.0533% 62.1186% 47.0006%);
    --palBuda-26: rgb(83.6156% 64.3677% 46.4393%);
    --palBuda-27: rgb(84.182% 66.629% 45.875%);
    --palBuda-28: rgb(84.7503% 68.9043% 45.3076%);
    --palBuda-29: rgb(85.3237% 71.197% 44.7343%);
    --palBuda-30: rgb(85.9017% 73.5074% 44.1592%);
    --palBuda-31: rgb(86.4846% 75.838% 43.5783%);
    --palBuda-32: rgb(87.073% 78.1909% 42.9916%);
    --palBuda-33: rgb(87.6716% 80.5694% 42.399%);
    --palBuda-34: rgb(88.3064% 82.9821% 41.8087%);
    --palBuda-35: rgb(89.0694% 85.459% 41.2401%);
    --palBuda-36: rgb(90.164% 88.059% 40.7396%);
    --palBuda-37: rgb(91.8324% 90.8362% 40.371%);
    --palBuda-38: rgb(94.1497% 93.7885% 40.1567%);
    --palBuda-39: rgb(96.96% 96.8641% 40.0648%);
    --palBuda-40: rgb(100% 100% 40.02%);
}
