/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palC716-1: rgb(24.6093% 1.1718% 16.4062%);
    --palC716-2: rgb(22.4459% 2.3437% 17.9687%);
    --palC716-3: rgb(20.2824% 3.125% 19.1706%);
    --palC716-4: rgb(17.7283% 4.1466% 20.5528%);
    --palC716-5: rgb(16.0156% 5.0781% 21.935%);
    --palC716-6: rgb(16.6766% 6.5204% 24.0985%);
    --palC716-7: rgb(17.1875% 7.8125% 26.1718%);
    --palC716-8: rgb(17.9687% 9.2848% 28.125%);
    --palC716-9: rgb(18.75% 10.667% 30.1983%);
    --palC716-10: rgb(19.4711% 12.0492% 32.4218%);
    --palC716-11: rgb(20.0721% 13.4314% 34.7656%);
    --palC716-12: rgb(20.7031% 14.8137% 37.0793%);
    --palC716-13: rgb(21.6646% 16.4062% 39.8137%);
    --palC716-14: rgb(23.4375% 17.9687% 43.75%);
    --palC716-15: rgb(25% 19.7415% 47.8665%);
    --palC716-16: rgb(26.5925% 21.5144% 52.0132%);
    --palC716-17: rgb(27.9747% 23.0468% 56.0997%);
    --palC716-18: rgb(28.9663% 24.6093% 59.8858%);
    --palC716-19: rgb(30.0781% 26.0516% 63.8221%);
    --palC716-20: rgb(31.25% 27.4338% 67.7584%);
    --palC716-21: rgb(32.3317% 29.2067% 71.0036%);
    --palC716-22: rgb(32.9326% 30.9795% 73.5576%);
    --palC716-23: rgb(33.9242% 32.7524% 76.1117%);
    --palC716-24: rgb(34.7656% 34.1346% 78.6658%);
    --palC716-25: rgb(35.9074% 36.6887% 80.8293%);
    --palC716-26: rgb(37.2896% 39.2427% 82.6021%);
    --palC716-27: rgb(39.0625% 42.1875% 84.7656%);
    --palC716-28: rgb(40.4447% 44.7415% 86.7187%);
    --palC716-29: rgb(42.6081% 47.6862% 87.8906%);
    --palC716-30: rgb(44.7716% 51.0216% 88.2812%);
    --palC716-31: rgb(47.3257% 54.0264% 89.0625%);
    --palC716-32: rgb(49.8798% 57.3016% 89.4531%);
    --palC716-33: rgb(51.5625% 60.2463% 89.9338%);
    --palC716-34: rgb(53.0348% 62.8004% 90.625%);
    --palC716-35: rgb(54.6875% 65.3545% 91.0156%);
    --palC716-36: rgb(56.25% 67.9086% 91.4062%);
    --palC716-37: rgb(60.0661% 71.2439% 92.7283%);
    --palC716-38: rgb(64.393% 74.5793% 93.75%);
    --palC716-39: rgb(68.3293% 78.0949% 95.1021%);
    --palC716-40: rgb(72.6562% 81.6406% 96.0937%);
}
