/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palCavalcanti-1: rgb(81.960784% 66.666667% 0%);
    --palCavalcanti-2: rgb(3.137255% 19.607843% 7.45098%);
    --palCavalcanti-3: rgb(57.254902% 58.039216% 37.647059%);
    --palCavalcanti-4: rgb(43.529412% 59.607843% 47.45098%);
    --palCavalcanti-5: rgb(51.764706% 12.941176% 6.666667%);
}
