/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palCetGCategory10-1: rgb(12.1093% 46.4843% 69.9218%);
    --palCetGCategory10-2: rgb(67.2475% 47.9567% 61.298%);
    --palCetGCategory10-3: rgb(39.1826% 5.649% 30.3786%);
    --palCetGCategory10-4: rgb(41.7067% 9.2848% 61.298%);
    --palCetGCategory10-5: rgb(55.4086% 84.2848% 9.6153%);
    --palCetGCategory10-6: rgb(74.3088% 16.8269% 99.6093%);
    --palCetGCategory10-7: rgb(68.9903% 53.125% 54.387%);
    --palCetGCategory10-8: rgb(60.4867% 42.4579% 57.4819%);
    --palCetGCategory10-9: rgb(20.2824% 54.9579% 53.4555%);
    --palCetGCategory10-10: rgb(84.2848% 81.2199% 9.4951%);
    --palCetGCategory10-11: rgb(53.3052% 43.9302% 36.2079%);
    --palCetGCategory10-12: rgb(95.7331% 28.155% 3.7259%);
    --palCetGCategory10-13: rgb(45.643% 53.2151% 79.2067%);
    --palCetGCategory10-14: rgb(48.4375% 41.7968% 27.3437%);
    --palCetGCategory10-15: rgb(73.9783% 48.167% 51.923%);
    --palCetGCategory10-16: rgb(67.9987% 15.2343% 2.3737%);
    --palCetGCategory10-17: rgb(28.6057% 52.2836% 73.8281%);
    --palCetGCategory10-18: rgb(42.8185% 39.7536% 44.9819%);
    --palCetGCategory10-19: rgb(60.7872% 22.6562% 71.8449%);
    --palCetGCategory10-20: rgb(40.1442% 50.5408% 46.7848%);
    --palCetGCategory10-21: rgb(64.7235% 64.9338% 70.9735%);
    --palCetGCategory10-22: rgb(2.554% 58.5336% 84.1346%);
    --palCetGCategory10-23: rgb(81.5805% 97.5661% 87.1995%);
    --palCetGCategory10-24: rgb(22.2055% 72.0552% 22.3557%);
    --palCetGCategory10-25: rgb(76.893% 6.0096% 78.3353%);
    --palCetGCategory10-26: rgb(36.8088% 18.7199% 11.1177%);
    --palCetGCategory10-27: rgb(52.7343% 59.7656% 49.2187%);
    --palCetGCategory10-28: rgb(74.399% 51.5324% 39.7536%);
    --palCetGCategory10-29: rgb(79.8677% 13.4314% 48.3173%);
    --palCetGCategory10-30: rgb(59.6454% 59.435% 43.6598%);
    --palCetGCategory10-31: rgb(80.8293% 33.4134% 32.0612%);
    --palCetGCategory10-32: rgb(56.0697% 63.0709% 51.893%);
    --palCetGCategory10-33: rgb(79.417% 90.9254% 65.5348%);
    --palCetGCategory10-34: rgb(44.5913% 55.9495% 59.7055%);
    --palCetGCategory10-35: rgb(47.7463% 47.6262% 31.9411%);
    --palCetGCategory10-36: rgb(2.9146% 49.9399% 30.9495%);
    --palCetGCategory10-37: rgb(40.9855% 20.2824% 20.9134%);
    --palCetGCategory10-38: rgb(66.4062% 97.8966% 86.268%);
    --palCetGCategory10-39: rgb(18.7199% 14.7235% 64.393%);
    --palCetGCategory10-40: rgb(33.9843% 73.8281% 55.4687%);
}
