/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palColormap66-1: rgb(99.6093% 98.8281% 93.3593%);
    --palColormap66-2: rgb(97.2656% 96.6646% 84.5252%);
    --palColormap66-3: rgb(96.0937% 94.8918% 78.8461%);
    --palColormap66-4: rgb(94.9218% 92.3377% 72.7163%);
    --palColormap66-5: rgb(93.3593% 89.7836% 67.0673%);
    --palColormap66-6: rgb(92.5781% 87.8906% 63.5216%);
    --palColormap66-7: rgb(91.4062% 85.8473% 60.0661%);
    --palColormap66-8: rgb(90.3245% 83.6838% 56.4302%);
    --palColormap66-9: rgb(89.3329% 81.911% 53.3954%);
    --palColormap66-10: rgb(87.9507% 79.3569% 51.2319%);
    --palColormap66-11: rgb(86.7187% 76.8028% 49.0685%);
    --palColormap66-12: rgb(85.5468% 74.6394% 46.905%);
    --palColormap66-13: rgb(84.1947% 72.0853% 45.1322%);
    --palColormap66-14: rgb(82.8125% 69.9218% 43.75%);
    --palColormap66-15: rgb(81.6406% 67.7584% 41.9771%);
    --palColormap66-16: rgb(80.4387% 65.5949% 40.5949%);
    --palColormap66-17: rgb(79.0564% 63.4314% 39.0625%);
    --palColormap66-18: rgb(78.125% 61.268% 37.8305%);
    --palColormap66-19: rgb(77.0733% 59.1045% 36.4483%);
    --palColormap66-20: rgb(76.0817% 56.9411% 35.1562%);
    --palColormap66-21: rgb(74.6995% 54.387% 33.6838%);
    --palColormap66-22: rgb(72.536% 51.8329% 31.5204%);
    --palColormap66-23: rgb(70.7632% 49.2788% 29.7475%);
    --palColormap66-24: rgb(69.1406% 46.7247% 27.9747%);
    --palColormap66-25: rgb(67.6081% 44.9218% 27.3437%);
    --palColormap66-26: rgb(66.0156% 42.9687% 27.7343%);
    --palColormap66-27: rgb(64.4531% 41.7968% 28.125%);
    --palColormap66-28: rgb(63.0709% 40.4146% 28.5156%);
    --palColormap66-29: rgb(61.6887% 39.0625% 28.9062%);
    --palColormap66-30: rgb(59.9158% 38.0408% 28.9062%);
    --palColormap66-31: rgb(57.7524% 36.6586% 28.9062%);
    --palColormap66-32: rgb(55.1983% 35.2764% 28.5156%);
    --palColormap66-33: rgb(53.0348% 33.8942% 28.125%);
    --palColormap66-34: rgb(50.8713% 32.4218% 28.125%);
    --palColormap66-35: rgb(48.8281% 31.25% 27.7343%);
    --palColormap66-36: rgb(46.935% 30.0781% 27.3437%);
    --palColormap66-37: rgb(44.7716% 28.5156% 26.5625%);
    --palColormap66-38: rgb(42.9687% 27.3437% 26.1718%);
    --palColormap66-39: rgb(40.4447% 26.1718% 25.2103%);
    --palColormap66-40: rgb(37.5% 25.3906% 24.6093%);
}
