/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palCopperCM-1: rgb(0% 0% 0%);
    --palCopperCM-2: rgb(2.0478% 2.1904% 2.9127%);
    --palCopperCM-3: rgb(6.3916% 7.153% 9.3729%);
    --palCopperCM-4: rgb(10.3031% 12.0082% 15.7379%);
    --palCopperCM-5: rgb(13.6064% 16.7304% 22.1107%);
    --palCopperCM-6: rgb(16.3085% 21.4552% 28.5313%);
    --palCopperCM-7: rgb(18.3239% 26.2813% 34.9329%);
    --palCopperCM-8: rgb(19.5374% 31.2976% 41.0391%);
    --palCopperCM-9: rgb(20.3793% 36.5157% 46.058%);
    --palCopperCM-10: rgb(22.8978% 41.6435% 49.3587%);
    --palCopperCM-11: rgb(27.4782% 46.5264% 51.876%);
    --palCopperCM-12: rgb(33.0174% 51.288% 54.2996%);
    --palCopperCM-13: rgb(38.9614% 56.0314% 56.8271%);
    --palCopperCM-14: rgb(45.1215% 60.8214% 59.5082%);
    --palCopperCM-15: rgb(51.4545% 65.7009% 62.34%);
    --palCopperCM-16: rgb(57.9899% 70.6965% 65.2928%);
    --palCopperCM-17: rgb(64.815% 75.8161% 68.3275%);
    --palCopperCM-18: rgb(72.0713% 81.0433% 71.4331%);
    --palCopperCM-19: rgb(79.9311% 86.3361% 74.7012%);
    --palCopperCM-20: rgb(88.5219% 91.6423% 78.4488%);
    --palCopperCM-21: rgb(91.7937% 91.2128% 76.9273%);
    --palCopperCM-22: rgb(88.5926% 84.1625% 68.8799%);
    --palCopperCM-23: rgb(85.6684% 77.2236% 61.663%);
    --palCopperCM-24: rgb(82.7906% 70.4325% 55.4206%);
    --palCopperCM-25: rgb(79.7449% 63.8446% 50.2724%);
    --palCopperCM-26: rgb(76.3409% 57.5358% 46.2661%);
    --palCopperCM-27: rgb(72.4444% 51.5884% 43.3073%);
    --palCopperCM-28: rgb(68.0178% 46.0569% 41.1438%);
    --palCopperCM-29: rgb(63.1146% 40.9472% 39.4536%);
    --palCopperCM-30: rgb(57.8275% 36.228% 37.9484%);
    --palCopperCM-31: rgb(52.2371% 31.8577% 36.4099%);
    --palCopperCM-32: rgb(46.3844% 27.8081% 34.6636%);
    --palCopperCM-33: rgb(40.2621% 24.0803% 32.5109%);
    --palCopperCM-34: rgb(33.8549% 20.6864% 29.6248%);
    --palCopperCM-35: rgb(27.3211% 17.5051% 25.6273%);
    --palCopperCM-36: rgb(20.9886% 14.2228% 20.6337%);
    --palCopperCM-37: rgb(14.9438% 10.6279% 15.1037%);
    --palCopperCM-38: rgb(9.0434% 6.6119% 9.2818%);
    --palCopperCM-39: rgb(3.059% 2.2441% 3.1654%);
    --palCopperCM-40: rgb(0.0235% 0.0202% 0.0233%);
}
