/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palCorkO-1: rgb(24.651% 24.352% 22.92%);
    --palCorkO-2: rgb(24.382% 23.8227% 25.1424%);
    --palCorkO-3: rgb(24.1833% 23.8058% 27.867%);
    --palCorkO-4: rgb(24.121% 24.4658% 31.21%);
    --palCorkO-5: rgb(24.3017% 25.9599% 35.2272%);
    --palCorkO-6: rgb(24.8828% 28.3674% 39.8567%);
    --palCorkO-7: rgb(26.0402% 31.6336% 44.8692%);
    --palCorkO-8: rgb(27.9353% 35.5586% 49.9457%);
    --palCorkO-9: rgb(30.6261% 39.8782% 54.794%);
    --palCorkO-10: rgb(34.0352% 44.3678% 59.245%);
    --palCorkO-11: rgb(38.0103% 48.8728% 63.2536%);
    --palCorkO-12: rgb(42.3791% 53.3211% 66.8466%);
    --palCorkO-13: rgb(46.9855% 57.6776% 70.0576%);
    --palCorkO-14: rgb(51.679% 61.917% 72.895%);
    --palCorkO-15: rgb(56.2905% 65.9989% 75.3022%);
    --palCorkO-16: rgb(60.6137% 69.843% 77.1603%);
    --palCorkO-17: rgb(64.3695% 73.3073% 78.2782%);
    --palCorkO-18: rgb(67.2243% 76.187% 78.4466%);
    --palCorkO-19: rgb(68.8464% 78.2453% 77.49%);
    --palCorkO-20: rgb(69.0327% 79.2978% 75.3806%);
    --palCorkO-21: rgb(67.7918% 79.2843% 72.243%);
    --palCorkO-22: rgb(65.3333% 78.286% 68.317%);
    --palCorkO-23: rgb(61.9771% 76.4691% 63.8493%);
    --palCorkO-24: rgb(58.0345% 74.002% 59.023%);
    --palCorkO-25: rgb(53.77% 71.0164% 53.9526%);
    --palCorkO-26: rgb(49.3847% 67.5833% 48.7043%);
    --palCorkO-27: rgb(45.054% 63.752% 43.346%);
    --palCorkO-28: rgb(40.9432% 59.5715% 37.9933%);
    --palCorkO-29: rgb(37.2133% 55.1387% 32.8265%);
    --palCorkO-30: rgb(34.0155% 50.6067% 28.097%);
    --palCorkO-31: rgb(31.4346% 46.1802% 24.0726%);
    --palCorkO-32: rgb(29.4843% 42.0572% 20.9616%);
    --palCorkO-33: rgb(28.088% 38.3755% 18.8471%);
    --palCorkO-34: rgb(27.1249% 35.1953% 17.6791%);
    --palCorkO-35: rgb(26.464% 32.4959% 17.3136%);
    --palCorkO-36: rgb(25.9926% 30.2265% 17.5729%);
    --palCorkO-37: rgb(25.622% 28.325% 18.3101%);
    --palCorkO-38: rgb(25.3006% 26.7373% 19.4219%);
    --palCorkO-39: rgb(24.9927% 25.4502% 20.8541%);
    --palCorkO-40: rgb(24.696% 24.47% 22.62%);
}
