/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palCubeYF-1: rgb(48.2352% 0.7843% 56.4705%);
    --palCubeYF-2: rgb(50.4072% 3.3484% 62.3831%);
    --palCubeYF-3: rgb(52.1568% 5.1583% 69.472%);
    --palCubeYF-4: rgb(52.549% 10.92% 74.9924%);
    --palCubeYF-5: rgb(52.1568% 16.9834% 80.1206%);
    --palCubeYF-6: rgb(51.101% 21.8401% 85.2488%);
    --palCubeYF-7: rgb(49.8039% 26.7571% 89.5927%);
    --palCubeYF-8: rgb(47.1493% 31.1915% 94.4193%);
    --palCubeYF-9: rgb(44.9773% 35.0226% 98.1598%);
    --palCubeYF-10: rgb(43.1372% 38.371% 99.2156%);
    --palCubeYF-11: rgb(41.1764% 42.1116% 100%);
    --palCubeYF-12: rgb(40.0301% 46.2141% 98.8536%);
    --palCubeYF-13: rgb(37.8582% 50.558% 95.8974%);
    --palCubeYF-14: rgb(35.2941% 53.7254% 93.3333%);
    --palCubeYF-15: rgb(33.1221% 56.6817% 90.377%);
    --palCubeYF-16: rgb(30.9502% 60.0301% 87.0286%);
    --palCubeYF-17: rgb(28.7782% 62.9864% 84.0723%);
    --palCubeYF-18: rgb(25.822% 66.7269% 79.5475%);
    --palCubeYF-19: rgb(23.65% 69.2911% 75.9276%);
    --palCubeYF-20: rgb(21.8702% 71.5535% 71.9758%);
    --palCubeYF-21: rgb(22.745% 73.7254% 68.0241%);
    --palCubeYF-22: rgb(24.3137% 75.6862% 63.6802%);
    --palCubeYF-23: rgb(26.2141% 77.9788% 58.1598%);
    --palCubeYF-24: rgb(27.4509% 79.7586% 53.8159%);
    --palCubeYF-25: rgb(28.6274% 81.5686% 49.472%);
    --palCubeYF-26: rgb(30.196% 83.1372% 44.5248%);
    --palCubeYF-27: rgb(31.7647% 84.7058% 40%);
    --palCubeYF-28: rgb(33.9366% 86.4856% 34.8717%);
    --palCubeYF-29: rgb(35.2941% 88.2352% 31.3423%);
    --palCubeYF-30: rgb(36.9532% 89.653% 27.8431%);
    --palCubeYF-31: rgb(40.9049% 90.5882% 28.6877%);
    --palCubeYF-32: rgb(45.3695% 91.3725% 30.196%);
    --palCubeYF-33: rgb(51.9457% 92.1568% 31.3725%);
    --palCubeYF-34: rgb(57.466% 92.4585% 32.4585%);
    --palCubeYF-35: rgb(63.3785% 92.549% 33.3333%);
    --palCubeYF-36: rgb(67.3906% 92.549% 33.7254%);
    --palCubeYF-37: rgb(70.8898% 92.549% 34.1176%);
    --palCubeYF-38: rgb(74.8416% 92.549% 34.8717%);
    --palCubeYF-39: rgb(78.6123% 92.549% 35.2941%);
    --palCubeYF-40: rgb(81.9607% 92.1568% 35.6862%);
}
