/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palCubehelix-1: rgb(0% 0% 0%);
    --palCubehelix-2: rgb(4.0361% 1.4946% 4.2723%);
    --palCubehelix-3: rgb(7.1392% 3.3453% 9.1807%);
    --palCubehelix-4: rgb(9.1915% 5.69% 14.3361%);
    --palCubehelix-5: rgb(10.2323% 8.5853% 19.3107%);
    --palCubehelix-6: rgb(10.3992% 12.0246% 23.7023%);
    --palCubehelix-7: rgb(9.9469% 15.9476% 27.1938%);
    --palCubehelix-8: rgb(9.1876% 20.2353% 29.5576%);
    --palCubehelix-9: rgb(8.4853% 24.7323% 30.6815%);
    --palCubehelix-10: rgb(8.2184% 29.2353% 30.5838%);
    --palCubehelix-11: rgb(8.7076% 33.5523% 29.4%);
    --palCubehelix-12: rgb(10.2261% 37.4961% 27.3969%);
    --palCubehelix-13: rgb(12.9753% 40.9069% 24.9253%);
    --palCubehelix-14: rgb(17% 43.68% 22.37%);
    --palCubehelix-15: rgb(22.2946% 45.75% 20.1738%);
    --palCubehelix-16: rgb(28.6715% 47.1215% 18.73%);
    --palCubehelix-17: rgb(35.9038% 47.853% 18.3907%);
    --palCubehelix-18: rgb(43.6461% 48.07% 19.413%);
    --palCubehelix-19: rgb(51.5307% 47.9323% 21.9561%);
    --palCubehelix-20: rgb(59.1507% 47.6384% 26.043%);
    --palCubehelix-21: rgb(66.1469% 47.3969% 31.583%);
    --palCubehelix-22: rgb(72.1723% 47.4192% 38.3446%);
    --palCubehelix-23: rgb(76.9915% 47.883% 46.0123%);
    --palCubehelix-24: rgb(80.4615% 48.9407% 54.1984%);
    --palCubehelix-25: rgb(82.543% 50.6853% 62.4738%);
    --palCubehelix-26: rgb(83.3238% 53.1484% 70.4153%);
    --palCubehelix-27: rgb(83% 56.32% 77.63%);
    --palCubehelix-28: rgb(81.8261% 60.1138% 83.7876%);
    --palCubehelix-29: rgb(80.1692% 64.3923% 88.6784%);
    --palCubehelix-30: rgb(78.4% 68.983% 92.1946%);
    --palCubehelix-31: rgb(76.8807% 73.6907% 94.3753%);
    --palCubehelix-32: rgb(75.9646% 78.3176% 95.3584%);
    --palCubehelix-33: rgb(75.8984% 82.6876% 95.4184%);
    --palCubehelix-34: rgb(76.8769% 86.6384% 94.883%);
    --palCubehelix-35: rgb(78.943% 90.0676% 94.1561%);
    --palCubehelix-36: rgb(82.0369% 92.9384% 93.6376%);
    --palCubehelix-37: rgb(86.0038% 95.253% 93.7107%);
    --palCubehelix-38: rgb(90.5546% 97.1007% 94.683%);
    --palCubehelix-39: rgb(95.3469% 98.6215% 96.7546%);
    --palCubehelix-40: rgb(100% 100% 100%);
}
