/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palCurl-1: rgb(8.2352% 11.3725% 26.6666%);
    --palCurl-2: rgb(9.4117% 16.5108% 29.4117%);
    --palCurl-3: rgb(10.196% 21.2569% 32.2373%);
    --palCurl-4: rgb(10.9803% 26.003% 35.2941%);
    --palCurl-5: rgb(10.9803% 30.7491% 38.2001%);
    --palCurl-6: rgb(10.3871% 35.4952% 40.9854%);
    --palCurl-7: rgb(9.0196% 40.2413% 43.7707%);
    --palCurl-8: rgb(7.1694% 45.3795% 46.1639%);
    --palCurl-9: rgb(6.6666% 50.1256% 47.8431%);
    --palCurl-10: rgb(10.9502% 54.8717% 49.3815%);
    --palCurl-11: rgb(19.6279% 59.2257% 50.196%);
    --palCurl-12: rgb(29.5625% 63.1372% 51.3725%);
    --palCurl-13: rgb(39.7888% 66.7571% 53.4238%);
    --palCurl-14: rgb(49.281% 70.196% 56.4705%);
    --palCurl-15: rgb(58.381% 73.7254% 60.563%);
    --palCurl-16: rgb(66.6968% 77.2549% 65.5203%);
    --palCurl-17: rgb(74.6204% 81.0356% 71.2317%);
    --palCurl-18: rgb(82.2523% 84.9974% 77.8381%);
    --palCurl-19: rgb(89.3514% 89.3514% 84.6455%);
    --palCurl-20: rgb(96.8225% 94.0975% 92.1367%);
    --palCurl-21: rgb(98.0191% 93.6852% 92.1166%);
    --palCurl-22: rgb(95.2337% 87.3303% 83.4087%);
    --palCurl-23: rgb(92.9411% 80.9753% 74.8014%);
    --palCurl-24: rgb(90.9803% 74.369% 66.7772%);
    --palCurl-25: rgb(89.4117% 68.0542% 59.2458%);
    --palCurl-26: rgb(87.8431% 61.7395% 52.3278%);
    --palCurl-27: rgb(85.8823% 55.1633% 46.7973%);
    --palCurl-28: rgb(83.9215% 48.7179% 42.4434%);
    --palCurl-29: rgb(81.1764% 42.4534% 39.6581%);
    --palCurl-30: rgb(77.6571% 36.4906% 38.4313%);
    --palCurl-31: rgb(73.6953% 30.9502% 37.647%);
    --palCurl-32: rgb(69.3413% 25.8119% 37.647%);
    --palCurl-33: rgb(64.2031% 21.1764% 37.647%);
    --palCurl-34: rgb(59.0648% 16.8627% 38.0392%);
    --palCurl-35: rgb(53.1422% 13.1422% 37.647%);
    --palCurl-36: rgb(46.8275% 10.196% 36.8627%);
    --palCurl-37: rgb(40.2413% 8.6274% 34.6304%);
    --palCurl-38: rgb(33.4942% 7.4509% 31.0608%);
    --palCurl-39: rgb(26.7471% 6.6666% 26.3147%);
    --palCurl-40: rgb(20.3921% 5.098% 20.7843%);
}
