/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palDevon-1: rgb(17.103% 10.04% 29.978%);
    --palDevon-2: rgb(16.9538% 12.4532% 32.3414%);
    --palDevon-3: rgb(16.725% 14.8267% 34.7261%);
    --palDevon-4: rgb(16.4547% 17.2017% 37.1264%);
    --palDevon-5: rgb(16.169% 19.6017% 39.5535%);
    --palDevon-6: rgb(15.8735% 22.0443% 42.018%);
    --palDevon-7: rgb(15.585% 24.539% 44.5471%);
    --palDevon-8: rgb(15.3361% 27.1023% 47.1995%);
    --palDevon-9: rgb(15.2312% 29.7478% 50.0886%);
    --palDevon-10: rgb(15.446% 32.4238% 53.3194%);
    --palDevon-11: rgb(16.1642% 34.9898% 56.8656%);
    --palDevon-12: rgb(17.4078% 37.2875% 60.5397%);
    --palDevon-13: rgb(19.0627% 39.3017% 64.1803%);
    --palDevon-14: rgb(21.086% 41.176% 67.765%);
    --palDevon-15: rgb(23.6723% 43.1068% 71.3324%);
    --palDevon-16: rgb(27.1148% 45.2304% 74.8431%);
    --palDevon-17: rgb(31.4819% 47.5562% 78.1243%);
    --palDevon-18: rgb(36.4569% 49.9674% 80.9975%);
    --palDevon-19: rgb(41.6208% 52.3344% 83.4335%);
    --palDevon-20: rgb(46.718% 54.6096% 85.5513%);
    --palDevon-21: rgb(51.662% 56.8184% 87.4764%);
    --palDevon-22: rgb(56.3956% 59.0219% 89.2556%);
    --palDevon-23: rgb(60.8% 61.2753% 90.8462%);
    --palDevon-24: rgb(64.6774% 63.5855% 92.1606%);
    --palDevon-25: rgb(67.8984% 65.901% 93.147%);
    --palDevon-26: rgb(70.5229% 68.1703% 93.8475%);
    --palDevon-27: rgb(72.769% 70.392% 94.373%);
    --palDevon-28: rgb(74.848% 72.5889% 94.8195%);
    --palDevon-29: rgb(76.8799% 74.789% 95.2429%);
    --palDevon-30: rgb(78.9123% 77.0002% 95.6623%);
    --palDevon-31: rgb(80.9571% 79.2276% 96.084%);
    --palDevon-32: rgb(83.0164% 81.4711% 96.5086%);
    --palDevon-33: rgb(85.0906% 83.731% 96.9362%);
    --palDevon-34: rgb(87.1809% 86.0074% 97.3667%);
    --palDevon-35: rgb(89.2856% 88.3003% 97.8006%);
    --palDevon-36: rgb(91.4058% 90.6095% 98.2376%);
    --palDevon-37: rgb(93.5391% 92.9343% 98.6777%);
    --palDevon-38: rgb(95.6856% 95.2753% 99.1187%);
    --palDevon-39: rgb(97.8383% 97.6296% 99.5579%);
    --palDevon-40: rgb(99.992% 99.997% 99.995%);
}
