/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palDSeteq2-1: rgb(54.6875% 42.5781% 35.9375%);
    --palDSeteq2-2: rgb(57.2415% 45.9134% 38.8822%);
    --palDSeteq2-3: rgb(59.7956% 49.2487% 42.2175%);
    --palDSeteq2-4: rgb(62.3497% 52.5841% 45.1622%);
    --palDSeteq2-5: rgb(64.9038% 55.9194% 48.1069%);
    --palDSeteq2-6: rgb(67.4579% 59.1346% 51.0516%);
    --palDSeteq2-7: rgb(70.4026% 62.5901% 54.387%);
    --palDSeteq2-8: rgb(72.5661% 65.1442% 56.9411%);
    --palDSeteq2-9: rgb(74.3389% 67.3076% 59.4951%);
    --palDSeteq2-10: rgb(76.1117% 69.8617% 62.4399%);
    --palDSeteq2-11: rgb(77.8846% 72.0252% 64.9939%);
    --palDSeteq2-12: rgb(79.6875% 74.1887% 67.548%);
    --palDSeteq2-13: rgb(81.6406% 76.3521% 70.1021%);
    --palDSeteq2-14: rgb(83.5937% 78.5156% 72.6562%);
    --palDSeteq2-15: rgb(85.7572% 81.6706% 76.2019%);
    --palDSeteq2-16: rgb(87.9206% 84.7956% 79.7475%);
    --palDSeteq2-17: rgb(90.2343% 87.7403% 83.4435%);
    --palDSeteq2-18: rgb(92.6382% 90.685% 87.1694%);
    --palDSeteq2-19: rgb(94.8016% 93.6298% 90.8954%);
    --palDSeteq2-20: rgb(96.9651% 96.6646% 94.6213%);
    --palDSeteq2-21: rgb(98.9182% 98.4375% 87.5%);
    --palDSeteq2-22: rgb(98.0468% 96.875% 85.4266%);
    --palDSeteq2-23: rgb(96.935% 95.3725% 83.2632%);
    --palDSeteq2-24: rgb(96.0937% 93.9903% 81.25%);
    --palDSeteq2-25: rgb(94.9519% 92.6081% 79.2968%);
    --palDSeteq2-26: rgb(94.1406% 91.2259% 77.1634%);
    --palDSeteq2-27: rgb(93.3593% 89.8437% 75%);
    --palDSeteq2-28: rgb(92.5781% 88.6718% 72.8365%);
    --palDSeteq2-29: rgb(91.7968% 87.4699% 70.3125%);
    --palDSeteq2-30: rgb(91.0156% 86.0877% 68.1189%);
    --palDSeteq2-31: rgb(90.2343% 85.0961% 65.9555%);
    --palDSeteq2-32: rgb(89.4531% 83.7139% 63.4014%);
    --palDSeteq2-33: rgb(88.6718% 82.4218% 61.2379%);
    --palDSeteq2-34: rgb(87.9807% 80.5588% 58.6838%);
    --palDSeteq2-35: rgb(87.1093% 78.3954% 55.7391%);
    --palDSeteq2-36: rgb(86.3281% 75.8413% 52.7944%);
    --palDSeteq2-37: rgb(85.3966% 73.2872% 49.8497%);
    --palDSeteq2-38: rgb(84.375% 71.0937% 46.905%);
    --palDSeteq2-39: rgb(83.5937% 68.5697% 43.9603%);
    --palDSeteq2-40: rgb(82.8125% 66.0156% 41.4062%);
}
