/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palDusk-1: rgb(0% 0% 0%);
    --palDusk-2: rgb(0.4452% 0.5075% 0.8508%);
    --palDusk-3: rgb(1.3807% 1.7971% 3.5343%);
    --palDusk-4: rgb(2.4367% 3.8612% 7.5151%);
    --palDusk-5: rgb(3.1507% 6.3665% 11.4667%);
    --palDusk-6: rgb(2.93% 8.9678% 15.1088%);
    --palDusk-7: rgb(1.7048% 11.708% 17.7604%);
    --palDusk-8: rgb(0.9491% 14.3739% 19.1118%);
    --palDusk-9: rgb(1.7547% 16.8208% 19.7704%);
    --palDusk-10: rgb(4.1837% 19.0869% 20.1729%);
    --palDusk-11: rgb(7.2924% 21.2296% 20.4595%);
    --palDusk-12: rgb(10.3636% 23.2881% 20.6477%);
    --palDusk-13: rgb(13.4238% 25.2805% 20.7008%);
    --palDusk-14: rgb(16.5536% 27.2071% 20.5686%);
    --palDusk-15: rgb(19.8435% 29.052% 20.2089%);
    --palDusk-16: rgb(23.3572% 30.7935% 19.6164%);
    --palDusk-17: rgb(27.122% 32.4091% 18.8183%);
    --palDusk-18: rgb(31.1244% 33.8848% 17.8734%);
    --palDusk-19: rgb(35.3321% 35.213% 16.8547%);
    --palDusk-20: rgb(39.7035% 36.3941% 15.846%);
    --palDusk-21: rgb(44.1997% 37.4325% 14.9374%);
    --palDusk-22: rgb(48.7859% 38.3363% 14.2254%);
    --palDusk-23: rgb(53.4337% 39.1154% 13.8071%);
    --palDusk-24: rgb(58.1213% 39.7801% 13.7724%);
    --palDusk-25: rgb(62.8325% 40.3413% 14.1845%);
    --palDusk-26: rgb(67.5563% 40.8077% 15.0814%);
    --palDusk-27: rgb(72.2836% 41.1892% 16.4683%);
    --palDusk-28: rgb(77.0018% 41.497% 18.3591%);
    --palDusk-29: rgb(81.6823% 41.7573% 20.7966%);
    --palDusk-30: rgb(86.2402% 42.0433% 23.9519%);
    --palDusk-31: rgb(90.3823% 42.6239% 28.2879%);
    --palDusk-32: rgb(93.1689% 44.4065% 34.4378%);
    --palDusk-33: rgb(94.2976% 47.7158% 41.0959%);
    --palDusk-34: rgb(94.7441% 51.5554% 47.2864%);
    --palDusk-35: rgb(94.9145% 55.5064% 53.109%);
    --palDusk-36: rgb(94.9328% 59.4611% 58.6748%);
    --palDusk-37: rgb(94.8554% 63.3888% 64.0378%);
    --palDusk-38: rgb(94.7214% 67.2812% 69.2214%);
    --palDusk-39: rgb(94.5641% 71.1374% 74.2275%);
    --palDusk-40: rgb(94.4207% 74.9586% 79.0455%);
}
