/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palEclipse-1: rgb(0% 0% 0%);
    --palEclipse-2: rgb(0.5782% 0.6201% 0.9128%);
    --palEclipse-3: rgb(1.9049% 2.1843% 3.657%);
    --palEclipse-4: rgb(3.7257% 4.5966% 7.5674%);
    --palEclipse-5: rgb(5.5978% 7.1669% 11.4946%);
    --palEclipse-6: rgb(7.1065% 9.6712% 15.4719%);
    --palEclipse-7: rgb(8.199% 12.1632% 19.4989%);
    --palEclipse-8: rgb(8.7679% 14.6889% 23.5358%);
    --palEclipse-9: rgb(8.6279% 17.2931% 27.4804%);
    --palEclipse-10: rgb(7.4941% 20.0162% 31.121%);
    --palEclipse-11: rgb(5.0865% 22.862% 34.0766%);
    --palEclipse-12: rgb(2.3709% 25.7234% 35.97%);
    --palEclipse-13: rgb(2.7291% 28.4265% 36.9109%);
    --palEclipse-14: rgb(6.6813% 30.9153% 37.3906%);
    --palEclipse-15: rgb(11.3216% 33.2291% 37.7476%);
    --palEclipse-16: rgb(15.8061% 35.4237% 38.133%);
    --palEclipse-17: rgb(20.0648% 37.541% 38.6035%);
    --palEclipse-18: rgb(24.1222% 39.6132% 39.1723%);
    --palEclipse-19: rgb(28.0108% 41.6638% 39.8321%);
    --palEclipse-20: rgb(31.7635% 43.7111% 40.5574%);
    --palEclipse-21: rgb(35.4155% 45.7679% 41.3058%);
    --palEclipse-22: rgb(39.0158% 47.8395% 42.0152%);
    --palEclipse-23: rgb(42.6353% 49.9194% 42.6117%);
    --palEclipse-24: rgb(46.3635% 51.9884% 43.0314%);
    --palEclipse-25: rgb(50.2786% 54.0206% 43.2508%);
    --palEclipse-26: rgb(54.4185% 55.9966% 43.2879%);
    --palEclipse-27: rgb(58.772% 57.9118% 43.1788%);
    --palEclipse-28: rgb(63.3081% 59.7722% 42.9416%);
    --palEclipse-29: rgb(67.9883% 61.5921% 42.5668%);
    --palEclipse-30: rgb(72.7769% 63.3905% 42.0045%);
    --palEclipse-31: rgb(77.6205% 65.2011% 41.1578%);
    --palEclipse-32: rgb(82.3922% 67.1032% 39.8555%);
    --palEclipse-33: rgb(86.709% 69.3128% 37.9813%);
    --palEclipse-34: rgb(89.9664% 72.1318% 36.1043%);
    --palEclipse-35: rgb(92.2875% 75.4663% 34.9012%);
    --palEclipse-36: rgb(94.1239% 79.0818% 34.2387%);
    --palEclipse-37: rgb(95.6954% 82.8725% 33.8787%);
    --palEclipse-38: rgb(97.0931% 86.7975% 33.6687%);
    --palEclipse-39: rgb(98.354% 90.8428% 33.5127%);
    --palEclipse-40: rgb(99.4942% 95.0035% 33.3428%);
}
