/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palElectric-1: rgb(0% 0% 0%);
    --palElectric-2: rgb(11.764706% 0% 39.215686%);
    --palElectric-3: rgb(47.058824% 0% 39.215686%);
    --palElectric-4: rgb(62.745098% 35.294118% 0%);
    --palElectric-5: rgb(90.196078% 78.431373% 0%);
    --palElectric-6: rgb(100% 98.039216% 86.27451%);
}
