/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palEmerald-1: rgb(0% 0% 0%);
    --palEmerald-2: rgb(0.4869% 0.6168% 0.4431%);
    --palEmerald-3: rgb(1.6005% 2.2225% 1.4213%);
    --palEmerald-4: rgb(3.1857% 4.7291% 2.7599%);
    --palEmerald-5: rgb(5.0626% 7.3722% 4.3483%);
    --palEmerald-6: rgb(6.8205% 9.9245% 5.8709%);
    --palEmerald-7: rgb(8.4479% 12.4193% 7.2447%);
    --palEmerald-8: rgb(9.9641% 14.8775% 8.4938%);
    --palEmerald-9: rgb(11.3806% 17.3138% 9.6347%);
    --palEmerald-10: rgb(12.7034% 19.739% 10.6798%);
    --palEmerald-11: rgb(13.9339% 22.1619% 11.6384%);
    --palEmerald-12: rgb(15.0708% 24.5898% 12.5191%);
    --palEmerald-13: rgb(16.1079% 27.0289% 13.3285%);
    --palEmerald-14: rgb(17.0366% 29.4852% 14.075%);
    --palEmerald-15: rgb(17.841% 31.9643% 14.7664%);
    --palEmerald-16: rgb(18.5008% 34.4718% 15.4144%);
    --palEmerald-17: rgb(18.9823% 37.014% 16.0343%);
    --palEmerald-18: rgb(19.2379% 39.5973% 16.6501%);
    --palEmerald-19: rgb(19.1895% 42.23% 17.3017%);
    --palEmerald-20: rgb(18.711% 44.9211% 18.0599%);
    --palEmerald-21: rgb(17.584% 47.6802% 19.0616%);
    --palEmerald-22: rgb(15.4714% 50.5053% 20.5742%);
    --palEmerald-23: rgb(12.1901% 53.3439% 22.9673%);
    --palEmerald-24: rgb(8.4175% 56.0934% 26.2633%);
    --palEmerald-25: rgb(5.3248% 58.7249% 30.0456%);
    --palEmerald-26: rgb(4.1619% 61.271% 34.0239%);
    --palEmerald-27: rgb(5.4753% 63.7645% 38.0823%);
    --palEmerald-28: rgb(8.2414% 66.2269% 42.1796%);
    --palEmerald-29: rgb(11.4893% 68.6737% 46.2994%);
    --palEmerald-30: rgb(14.8574% 71.1164% 50.4358%);
    --palEmerald-31: rgb(18.2282% 73.5642% 54.5875%);
    --palEmerald-32: rgb(21.5644% 76.0251% 58.7556%);
    --palEmerald-33: rgb(24.8552% 78.5064% 62.9427%);
    --palEmerald-34: rgb(28.0983% 81.0146% 67.1528%);
    --palEmerald-35: rgb(31.2947% 83.5558% 71.3912%);
    --palEmerald-36: rgb(34.4464% 86.1357% 75.664%);
    --palEmerald-37: rgb(37.5555% 88.76% 79.9786%);
    --palEmerald-38: rgb(40.6247% 91.4335% 84.3433%);
    --palEmerald-39: rgb(43.6564% 94.1615% 88.7674%);
    --palEmerald-40: rgb(46.6538% 96.9481% 93.2605%);
}
