/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palFire-1: rgb(10.5882% 11.7647% 13.7255%);
    --palFire-2: rgb(13.7355% 12.5489% 14.5098%);
    --palFire-3: rgb(16.8727% 13.3433% 14.912%);
    --palFire-4: rgb(19.638% 14.3287% 15.6863%);
    --palFire-5: rgb(22.373% 15.2941% 16.4706%);
    --palFire-6: rgb(25.3192% 16.0784% 17.0839%);
    --palFire-7: rgb(28.2654% 16.8627% 17.6471%);
    --palFire-8: rgb(31.2116% 17.6471% 18.4314%);
    --palFire-9: rgb(33.7657% 18.4314% 18.8637%);
    --palFire-10: rgb(36.7118% 19.2157% 19.6078%);
    --palFire-11: rgb(39.658% 20% 20.3922%);
    --palFire-12: rgb(42.2121% 20.7843% 20.7843%);
    --palFire-13: rgb(45.1583% 21.6289% 21.5686%);
    --palFire-14: rgb(48.1045% 22.6143% 22.2221%);
    --palFire-15: rgb(50.6585% 23.5294% 22.7451%);
    --palFire-16: rgb(53.6048% 24.3137% 23.4087%);
    --palFire-17: rgb(56.1588% 25.4902% 23.9216%);
    --palFire-18: rgb(59.105% 26.2745% 24.7059%);
    --palFire-19: rgb(61.6591% 27.451% 25.0979%);
    --palFire-20: rgb(64.2131% 28.5269% 25.7818%);
    --palFire-21: rgb(66.8678% 29.5123% 26.2745%);
    --palFire-22: rgb(69.7134% 30.8898% 26.6667%);
    --palFire-23: rgb(71.8753% 32.1569% 27.451%);
    --palFire-24: rgb(74.4293% 33.645% 27.8431%);
    --palFire-25: rgb(76.5912% 35.0226% 28.2353%);
    --palFire-26: rgb(78.7531% 36.7923% 28.6275%);
    --palFire-27: rgb(80.5229% 38.562% 28.7581%);
    --palFire-28: rgb(81.9608% 40.7239% 29.0196%);
    --palFire-29: rgb(83.278% 43.278% 29.0196%);
    --palFire-30: rgb(84.3137% 45.4399% 29.0196%);
    --palFire-31: rgb(85.641% 47.8431% 29.0196%);
    --palFire-32: rgb(87.0185% 50.1558% 29.0196%);
    --palFire-33: rgb(88.2353% 52.3177% 29.4118%);
    --palFire-34: rgb(89.7737% 54.4796% 29.8039%);
    --palFire-35: rgb(91.1513% 56.2493% 30.5882%);
    --palFire-36: rgb(92.549% 58.4112% 31.3725%);
    --palFire-37: rgb(94.2986% 60.3922% 32.3378%);
    --palFire-38: rgb(96.0683% 62.3428% 33.3333%);
    --palFire-39: rgb(97.8381% 64.1126% 34.902%);
    --palFire-40: rgb(100% 65.8824% 36.4706%);
}
