/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palFlag-1: rgb(100% 0% 0%);
    --palFlag-2: rgb(36.7176% 55.7323% 100%);
    --palFlag-3: rgb(19.3407% 0% 0%);
    --palFlag-4: rgb(100% 95.3815% 88.1446%);
    --palFlag-5: rgb(0% 0% 54.5515%);
    --palFlag-6: rgb(98.3507% 16.47% 7.6915%);
    --palFlag-7: rgb(28.0484% 45.9392% 100%);
    --palFlag-8: rgb(28.0484% 0% 0%);
    --palFlag-9: rgb(98.3507% 97.6776% 92.3084%);
    --palFlag-10: rgb(0% 0% 45.4484%);
    --palFlag-11: rgb(100% 23.4569% 11.8553%);
    --palFlag-12: rgb(19.3407% 35.2146% 100%);
    --palFlag-13: rgb(36.7176% 0% 0%);
    --palFlag-14: rgb(100% 100% 100%);
    --palFlag-15: rgb(0% 0% 36.7176%);
    --palFlag-16: rgb(100% 35.2146% 19.3407%);
    --palFlag-17: rgb(11.8553% 23.4569% 100%);
    --palFlag-18: rgb(45.4484% 0% 0%);
    --palFlag-19: rgb(92.3084% 97.6776% 98.3507%);
    --palFlag-20: rgb(0% 0% 28.0484%);
    --palFlag-21: rgb(100% 45.9392% 28.0484%);
    --palFlag-22: rgb(7.6915% 16.47% 98.3507%);
    --palFlag-23: rgb(54.5515% 0% 0%);
    --palFlag-24: rgb(88.1446% 95.3815% 100%);
    --palFlag-25: rgb(0% 0% 19.3407%);
    --palFlag-26: rgb(100% 55.7323% 36.7176%);
    --palFlag-27: rgb(0% 0% 100%);
    --palFlag-28: rgb(63.2823% 0% 0%);
    --palFlag-29: rgb(80.6592% 93.0284% 100%);
    --palFlag-30: rgb(0% 0% 11.8553%);
    --palFlag-31: rgb(100% 65.6038% 45.4484%);
    --palFlag-32: rgb(1.6492% 4.5323% 92.3084%);
    --palFlag-33: rgb(71.9515% 0% 0%);
    --palFlag-34: rgb(71.9515% 87.323% 100%);
    --palFlag-35: rgb(1.6492% 0% 7.6915%);
    --palFlag-36: rgb(100% 74.1776% 54.5515%);
    --palFlag-37: rgb(0% 0% 88.1446%);
    --palFlag-38: rgb(80.6592% 0% 0%);
    --palFlag-39: rgb(63.2823% 80.7707% 100%);
    --palFlag-40: rgb(0% 0% 0%);
}
