/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palFreeze-1: rgb(0% 0% 0%);
    --palFreeze-2: rgb(0.7571% 0.6319% 1.0049%);
    --palFreeze-3: rgb(2.7004% 2.1554% 4.0596%);
    --palFreeze-4: rgb(5.5384% 4.4073% 8.2184%);
    --palFreeze-5: rgb(8.3089% 6.7544% 12.4531%);
    --palFreeze-6: rgb(10.932% 8.9493% 16.8365%);
    --palFreeze-7: rgb(13.4339% 11.0288% 21.4159%);
    --palFreeze-8: rgb(15.8242% 13.0143% 26.2291%);
    --palFreeze-9: rgb(18.1016% 14.9212% 31.3084%);
    --palFreeze-10: rgb(20.2552% 16.7616% 36.6811%);
    --palFreeze-11: rgb(22.262% 18.5485% 42.3704%);
    --palFreeze-12: rgb(24.0848% 20.3007% 48.3862%);
    --palFreeze-13: rgb(25.6598% 22.0491% 54.7219%);
    --palFreeze-14: rgb(26.8894% 23.8497% 61.3239%);
    --palFreeze-15: rgb(27.6054% 25.8063% 68.0552%);
    --palFreeze-16: rgb(27.5595% 28.0902% 74.6001%);
    --palFreeze-17: rgb(26.4175% 30.9357% 80.3538%);
    --palFreeze-18: rgb(24.0041% 34.4568% 84.5612%);
    --palFreeze-19: rgb(20.5768% 38.4441% 86.9062%);
    --palFreeze-20: rgb(16.7184% 42.5276% 87.7988%);
    --palFreeze-21: rgb(13.0704% 46.4804% 87.8265%);
    --palFreeze-22: rgb(10.4797% 50.2311% 87.4168%);
    --palFreeze-23: rgb(10.0134% 53.7824% 86.8208%);
    --palFreeze-24: rgb(12.0122% 57.1593% 86.1771%);
    --palFreeze-25: rgb(15.6531% 60.3908% 85.5608%);
    --palFreeze-26: rgb(20.1193% 63.4998% 85.0124%);
    --palFreeze-27: rgb(25.0046% 66.5044% 84.5525%);
    --palFreeze-28: rgb(30.1672% 69.4129% 84.196%);
    --palFreeze-29: rgb(35.5699% 72.2284% 83.9566%);
    --palFreeze-30: rgb(41.2216% 74.9452% 83.8613%);
    --palFreeze-31: rgb(47.1265% 77.5558% 83.9567%);
    --palFreeze-32: rgb(53.2536% 80.0564% 84.3192%);
    --palFreeze-33: rgb(59.5092% 82.4619% 85.0364%);
    --palFreeze-34: rgb(65.7618% 84.8094% 86.1706%);
    --palFreeze-35: rgb(71.8989% 87.1487% 87.7263%);
    --palFreeze-36: rgb(77.8638% 89.5255% 89.6586%);
    --palFreeze-37: rgb(83.6454% 91.9749% 91.9066%);
    --palFreeze-38: rgb(89.2562% 94.5219% 94.4093%);
    --palFreeze-39: rgb(94.7088% 97.1888% 97.1203%);
    --palFreeze-40: rgb(100% 100% 100%);
}
