/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palFushiaRedPink1-1: rgb(34.375% 0.3906% 23.4375%);
    --palFushiaRedPink1-2: rgb(38.8822% 1.7728% 24.0384%);
    --palFushiaRedPink1-3: rgb(43.3894% 3.5156% 24.6093%);
    --palFushiaRedPink1-4: rgb(47.7463% 5.3185% 24.8497%);
    --palFushiaRedPink1-5: rgb(52.0733% 7.0913% 25.06%);
    --palFushiaRedPink1-6: rgb(56.7908% 8.9843% 25.3906%);
    --palFushiaRedPink1-7: rgb(61.1177% 10.9375% 25.7812%);
    --palFushiaRedPink1-8: rgb(65.8353% 12.8004% 26.1718%);
    --palFushiaRedPink1-9: rgb(70.4326% 14.5733% 26.292%);
    --palFushiaRedPink1-10: rgb(72.5961% 16.4062% 27.2836%);
    --palFushiaRedPink1-11: rgb(74.7596% 18.5096% 28.125%);
    --palFushiaRedPink1-12: rgb(77.3137% 20.2824% 28.9062%);
    --palFushiaRedPink1-13: rgb(79.4771% 22.0552% 29.6875%);
    --palFushiaRedPink1-14: rgb(82.0312% 23.8281% 30.4687%);
    --palFushiaRedPink1-15: rgb(84.1947% 25.7812% 31.25%);
    --palFushiaRedPink1-16: rgb(86.7487% 27.3737% 32.0612%);
    --palFushiaRedPink1-17: rgb(88.9122% 29.2968% 33.0528%);
    --palFushiaRedPink1-18: rgb(91.4663% 30.9194% 33.9843%);
    --palFushiaRedPink1-19: rgb(93.6298% 32.6923% 34.7656%);
    --palFushiaRedPink1-20: rgb(96.1838% 34.4651% 35.5468%);
    --palFushiaRedPink1-21: rgb(97.6562% 37.0192% 37.4098%);
    --palFushiaRedPink1-22: rgb(98.0468% 40.3545% 40.3545%);
    --palFushiaRedPink1-23: rgb(98.4375% 43.2992% 43.2992%);
    --palFushiaRedPink1-24: rgb(98.8281% 46.6346% 46.2439%);
    --palFushiaRedPink1-25: rgb(98.8281% 49.5492% 49.1887%);
    --palFushiaRedPink1-26: rgb(99.2187% 52.3137% 52.1334%);
    --palFushiaRedPink1-27: rgb(99.2187% 55.0781% 55.0781%);
    --palFushiaRedPink1-28: rgb(99.2187% 58.0228% 58.0228%);
    --palFushiaRedPink1-29: rgb(99.2187% 60.5769% 61.3581%);
    --palFushiaRedPink1-30: rgb(99.2187% 63.5216% 64.3028%);
    --palFushiaRedPink1-31: rgb(99.2187% 66.0757% 66.4663%);
    --palFushiaRedPink1-32: rgb(99.2187% 69.0204% 68.2391%);
    --palFushiaRedPink1-33: rgb(99.2187% 71.5745% 69.9218%);
    --palFushiaRedPink1-34: rgb(99.2187% 74.1286% 71.4843%);
    --palFushiaRedPink1-35: rgb(99.2187% 77.0733% 73.4375%);
    --palFushiaRedPink1-36: rgb(98.8281% 79.6274% 75%);
    --palFushiaRedPink1-37: rgb(98.6778% 82.1814% 76.9531%);
    --palFushiaRedPink1-38: rgb(98.4375% 85.0961% 78.5156%);
    --palFushiaRedPink1-39: rgb(98.0468% 87.6802% 80.4687%);
    --palFushiaRedPink1-40: rgb(97.6562% 90.2343% 82.0312%);
}
