/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGem-1: rgb(25.3859% 0.8936% 2.323%);
    --palGem-2: rgb(28.5189% 0.3704% 4.9278%);
    --palGem-3: rgb(31.3816% 0.0776% 8.3782%);
    --palGem-4: rgb(33.9952% 0.0952% 12.2374%);
    --palGem-5: rgb(36.4015% 0.4295% 16.3859%);
    --palGem-6: rgb(38.6321% 1.0769% 20.7548%);
    --palGem-7: rgb(40.7114% 2.034% 25.2969%);
    --palGem-8: rgb(42.6557% 3.3059% 29.9811%);
    --palGem-9: rgb(44.4758% 4.8439% 34.7856%);
    --palGem-10: rgb(46.1776% 6.3966% 39.6952%);
    --palGem-11: rgb(47.7609% 7.9559% 44.6983%);
    --palGem-12: rgb(49.2211% 9.5479% 49.7823%);
    --palGem-13: rgb(50.546% 11.2044% 54.9317%);
    --palGem-14: rgb(51.7189% 12.9614% 60.1218%);
    --palGem-15: rgb(52.713% 14.8629% 65.316%);
    --palGem-16: rgb(53.4981% 16.9532% 70.4609%);
    --palGem-17: rgb(54.0332% 19.2798% 75.4816%);
    --palGem-18: rgb(54.2764% 21.8793% 80.2831%);
    --palGem-19: rgb(54.1821% 24.7757% 84.7489%);
    --palGem-20: rgb(53.7143% 27.9655% 88.757%);
    --palGem-21: rgb(52.8519% 31.416% 92.193%);
    --palGem-22: rgb(51.6001% 35.0644% 94.9772%);
    --palGem-23: rgb(49.9941% 38.8288% 97.0839%);
    --palGem-24: rgb(48.0931% 42.6245% 98.5428%);
    --palGem-25: rgb(45.9736% 46.3791% 99.4371%);
    --palGem-26: rgb(43.7116% 50.0412% 99.8705%);
    --palGem-27: rgb(41.3777% 53.5832% 99.9594%);
    --palGem-28: rgb(39.027% 56.9943% 99.8043%);
    --palGem-29: rgb(36.6988% 60.2799% 99.4937%);
    --palGem-30: rgb(34.4162% 63.4512% 99.0928%);
    --palGem-31: rgb(32.1858% 66.5254% 98.6495%);
    --palGem-32: rgb(30.0017% 69.5201% 98.194%);
    --palGem-33: rgb(27.8481% 72.453% 97.7417%);
    --palGem-34: rgb(25.7085% 75.3399% 97.2951%);
    --palGem-35: rgb(23.5833% 78.1931% 96.8445%);
    --palGem-36: rgb(21.5302% 81.0204% 96.3691%);
    --palGem-37: rgb(19.7606% 83.8212% 95.835%);
    --palGem-38: rgb(18.8417% 86.5801% 95.1922%);
    --palGem-39: rgb(20.115% 89.241% 94.3566%);
    --palGem-40: rgb(26.6298% 91.5633% 93.189%);
}
