/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGistHeat-1: rgb(0% 0% 0%);
    --palGistHeat-2: rgb(3.8461% 0% 0%);
    --palGistHeat-3: rgb(7.6923% 0% 0%);
    --palGistHeat-4: rgb(11.5384% 0% 0%);
    --palGistHeat-5: rgb(15.3846% 0% 0%);
    --palGistHeat-6: rgb(19.2307% 0% 0%);
    --palGistHeat-7: rgb(23.0769% 0% 0%);
    --palGistHeat-8: rgb(26.923% 0% 0%);
    --palGistHeat-9: rgb(30.7692% 0% 0%);
    --palGistHeat-10: rgb(34.6153% 0% 0%);
    --palGistHeat-11: rgb(38.4615% 0% 0%);
    --palGistHeat-12: rgb(42.3076% 0% 0%);
    --palGistHeat-13: rgb(46.1538% 0% 0%);
    --palGistHeat-14: rgb(50% 0% 0%);
    --palGistHeat-15: rgb(53.8461% 0% 0%);
    --palGistHeat-16: rgb(57.6923% 0% 0%);
    --palGistHeat-17: rgb(61.5384% 0% 0%);
    --palGistHeat-18: rgb(65.3846% 0% 0%);
    --palGistHeat-19: rgb(69.2307% 0% 0%);
    --palGistHeat-20: rgb(73.0769% 0% 0%);
    --palGistHeat-21: rgb(76.923% 2.5641% 0%);
    --palGistHeat-22: rgb(80.7692% 7.6923% 0%);
    --palGistHeat-23: rgb(84.6153% 12.8205% 0%);
    --palGistHeat-24: rgb(88.4615% 17.9487% 0%);
    --palGistHeat-25: rgb(92.3076% 23.0769% 0%);
    --palGistHeat-26: rgb(96.1538% 28.2051% 0%);
    --palGistHeat-27: rgb(100% 33.3333% 0%);
    --palGistHeat-28: rgb(100% 38.4615% 0%);
    --palGistHeat-29: rgb(100% 43.5897% 0%);
    --palGistHeat-30: rgb(100% 48.7179% 0%);
    --palGistHeat-31: rgb(100% 53.8461% 7.6923%);
    --palGistHeat-32: rgb(100% 58.9743% 17.9487%);
    --palGistHeat-33: rgb(100% 64.1025% 28.2051%);
    --palGistHeat-34: rgb(100% 69.2308% 38.4615%);
    --palGistHeat-35: rgb(100% 74.3589% 48.7179%);
    --palGistHeat-36: rgb(100% 79.4871% 58.9743%);
    --palGistHeat-37: rgb(100% 84.6153% 69.2308%);
    --palGistHeat-38: rgb(100% 89.7435% 79.4871%);
    --palGistHeat-39: rgb(100% 94.8717% 89.7435%);
    --palGistHeat-40: rgb(100% 100% 100%);
}
