/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGistNcar-1: rgb(0% 0% 50.2%);
    --palGistNcar-2: rgb(0% 18.7129% 26.0773%);
    --palGistNcar-3: rgb(0% 37.0033% 2.7361%);
    --palGistNcar-4: rgb(0% 19.6451% 45.3281%);
    --palGistNcar-5: rgb(0% 2.2615% 87.9672%);
    --palGistNcar-6: rgb(0% 31.4983% 100%);
    --palGistNcar-7: rgb(0% 67.7074% 100%);
    --palGistNcar-8: rgb(0% 84.0379% 100%);
    --palGistNcar-9: rgb(0% 95.3401% 99.1947%);
    --palGistNcar-10: rgb(0% 99.3147% 82.3842%);
    --palGistNcar-11: rgb(0% 98.1491% 65.5736%);
    --palGistNcar-12: rgb(0% 98.5175% 41.2609%);
    --palGistNcar-13: rgb(0.0011% 99.5868% 14.5098%);
    --palGistNcar-14: rgb(14.987% 94.0799% 0%);
    --palGistNcar-15: rgb(31.3163% 84.4318% 0%);
    --palGistNcar-16: rgb(42.3293% 86.0278% 0%);
    --palGistNcar-17: rgb(47.4072% 94.3819% 0%);
    --palGistNcar-18: rgb(55.672% 100% 8.0446%);
    --palGistNcar-19: rgb(67.3413% 100% 18.2574%);
    --palGistNcar-20: rgb(79.0105% 100% 18.3697%);
    --palGistNcar-21: rgb(90.6797% 100% 8.1569%);
    --palGistNcar-22: rgb(100% 95.8414% 0%);
    --palGistNcar-23: rgb(100% 89.5176% 0%);
    --palGistNcar-24: rgb(100% 83.1936% 1.0057%);
    --palGistNcar-25: rgb(100% 76.8699% 3.766%);
    --palGistNcar-26: rgb(100% 65.0371% 4.5912%);
    --palGistNcar-27: rgb(100% 44.0386% 2.1972%);
    --palGistNcar-28: rgb(100% 25.1032% 0.0001%);
    --palGistNcar-29: rgb(100% 12.9107% 0%);
    --palGistNcar-30: rgb(100% 0.7181% 11.1565%);
    --palGistNcar-31: rgb(100% 0% 56.6378%);
    --palGistNcar-32: rgb(98.1502% 0.9247% 98.2584%);
    --palGistNcar-33: rgb(80.4955% 9.7509% 100%);
    --palGistNcar-34: rgb(62.8318% 19.3361% 99.6334%);
    --palGistNcar-35: rgb(76.8174% 34.5012% 96.5555%);
    --palGistNcar-36: rgb(91.9983% 49.6621% 93.4837%);
    --palGistNcar-37: rgb(94.1348% 61.6164% 94.9342%);
    --palGistNcar-38: rgb(95.9599% 73.4943% 96.4928%);
    --palGistNcar-39: rgb(97.7849% 85.3721% 98.0514%);
    --palGistNcar-40: rgb(99.61% 97.25% 99.61%);
}
