/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGistEarth-1: rgb(0% 0% 0%);
    --palGistEarth-2: rgb(1.7088% 0% 41.2922%);
    --palGistEarth-3: rgb(3.4176% 5.4701% 45.8503%);
    --palGistEarth-4: rgb(5.1264% 11.3678% 46.3152%);
    --palGistEarth-5: rgb(6.8352% 17.2656% 46.78%);
    --palGistEarth-6: rgb(8.544% 22.7585% 47.2448%);
    --palGistEarth-7: rgb(10.2528% 28.0922% 47.7096%);
    --palGistEarth-8: rgb(11.9615% 33.1152% 48.1744%);
    --palGistEarth-9: rgb(13.6704% 37.9099% 48.6392%);
    --palGistEarth-10: rgb(15.3791% 42.0401% 49.104%);
    --palGistEarth-11: rgb(17.0879% 46.0924% 49.5688%);
    --palGistEarth-12: rgb(18.7967% 50.1449% 50.0336%);
    --palGistEarth-13: rgb(20.0129% 51.656% 46.9439%);
    --palGistEarth-14: rgb(21.2223% 53.1321% 43.8053%);
    --palGistEarth-15: rgb(22.4316% 54.6081% 40.6665%);
    --palGistEarth-16: rgb(23.641% 56.0842% 37.5278%);
    --palGistEarth-17: rgb(24.8504% 57.5602% 34.3892%);
    --palGistEarth-18: rgb(26.0597% 59.0363% 31.2505%);
    --palGistEarth-19: rgb(27.7486% 60.5124% 28.1118%);
    --palGistEarth-20: rgb(33.4482% 61.9885% 28.6737%);
    --palGistEarth-21: rgb(39.1478% 63.4645% 30.1684%);
    --palGistEarth-22: rgb(44.8475% 64.7098% 31.663%);
    --palGistEarth-23: rgb(49.6804% 65.8349% 32.6506%);
    --palGistEarth-24: rgb(53.9085% 66.9599% 33.4609%);
    --palGistEarth-25: rgb(58.1367% 68.085% 34.2713%);
    --palGistEarth-26: rgb(62.3649% 69.2101% 35.0817%);
    --palGistEarth-27: rgb(66.5932% 70.3352% 35.8922%);
    --palGistEarth-28: rgb(70.8213% 71.4602% 36.7025%);
    --palGistEarth-29: rgb(72.5938% 69.9871% 37.5129%);
    --palGistEarth-30: rgb(73.6654% 67.7726% 38.3233%);
    --palGistEarth-31: rgb(74.7371% 65.5582% 39.1337%);
    --palGistEarth-32: rgb(76.2762% 64.2463% 42.2%);
    --palGistEarth-33: rgb(79.1442% 65.9071% 48.4818%);
    --palGistEarth-34: rgb(82.0121% 68.1293% 54.7636%);
    --palGistEarth-35: rgb(84.8801% 70.6415% 61.0454%);
    --palGistEarth-36: rgb(87.7481% 74.2245% 67.5154%);
    --palGistEarth-37: rgb(90.616% 79.2051% 75.2441%);
    --palGistEarth-38: rgb(93.484% 84.4738% 82.9727%);
    --palGistEarth-39: rgb(96.352% 90.9808% 90.7013%);
    --palGistEarth-40: rgb(99.22% 98.43% 98.43%);
}
