/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGlasgow-1: rgb(21.181% 7.3933% 22.061%);
    --palGlasgow-2: rgb(23.6909% 8.0202% 19.993%);
    --palGlasgow-3: rgb(25.9859% 8.6733% 17.987%);
    --palGlasgow-4: rgb(28.1582% 9.3108% 16.056%);
    --palGlasgow-5: rgb(30.2794% 9.9408% 14.1836%);
    --palGlasgow-6: rgb(32.4413% 10.5837% 12.3192%);
    --palGlasgow-7: rgb(34.7508% 11.2984% 10.4%);
    --palGlasgow-8: rgb(37.283% 12.2133% 8.3654%);
    --palGlasgow-9: rgb(39.9675% 13.5833% 6.1899%);
    --palGlasgow-10: rgb(42.476% 15.6305% 3.8072%);
    --palGlasgow-11: rgb(44.3326% 18.3402% 1.846%);
    --palGlasgow-12: rgb(45.3264% 21.3561% 0.756%);
    --palGlasgow-13: rgb(45.6637% 24.3349% 0.2824%);
    --palGlasgow-14: rgb(45.684% 27.176% 0.0982%);
    --palGlasgow-15: rgb(45.5826% 29.9173% 0.169%);
    --palGlasgow-16: rgb(45.4073% 32.6147% 0.6792%);
    --palGlasgow-17: rgb(45.1155% 35.2974% 2.2543%);
    --palGlasgow-18: rgb(44.6504% 37.9307% 5.6853%);
    --palGlasgow-19: rgb(44.0028% 40.4519% 10.0165%);
    --palGlasgow-20: rgb(43.2261% 42.8163% 14.7338%);
    --palGlasgow-21: rgb(42.39% 45.0286% 19.625%);
    --palGlasgow-22: rgb(41.5463% 47.1306% 24.5672%);
    --palGlasgow-23: rgb(40.7086% 49.1654% 29.5088%);
    --palGlasgow-24: rgb(39.8775% 51.1629% 34.4376%);
    --palGlasgow-25: rgb(39.0536% 53.1408% 39.3513%);
    --palGlasgow-26: rgb(38.2653% 55.1034% 44.2393%);
    --palGlasgow-27: rgb(37.634% 57.07% 49.102%);
    --palGlasgow-28: rgb(37.4779% 59.0866% 53.9636%);
    --palGlasgow-29: rgb(38.3271% 61.1995% 58.8257%);
    --palGlasgow-30: rgb(40.6306% 63.3923% 63.5576%);
    --palGlasgow-31: rgb(44.2635% 65.5681% 67.9684%);
    --palGlasgow-32: rgb(48.6438% 67.6439% 71.9823%);
    --palGlasgow-33: rgb(53.235% 69.6053% 75.68%);
    --palGlasgow-34: rgb(57.7766% 71.4751% 79.1683%);
    --palGlasgow-35: rgb(62.179% 73.2667% 82.5025%);
    --palGlasgow-36: rgb(66.4529% 75.0015% 85.7249%);
    --palGlasgow-37: rgb(70.7329% 76.7358% 88.9406%);
    --palGlasgow-38: rgb(75.2616% 78.5705% 92.3188%);
    --palGlasgow-39: rgb(80.2911% 80.6043% 96.0112%);
    --palGlasgow-40: rgb(85.897% 82.865% 100%);
}
