/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGothic-1: rgb(0% 0% 0%);
    --palGothic-2: rgb(0.6392% 0.6645% 1.1425%);
    --palGothic-3: rgb(2.1797% 2.2847% 4.7762%);
    --palGothic-4: rgb(4.4914% 4.6436% 9.4929%);
    --palGothic-5: rgb(6.9589% 6.9881% 14.4307%);
    --palGothic-6: rgb(9.3875% 9.0871% 19.6815%);
    --palGothic-7: rgb(11.8669% 10.9305% 25.3149%);
    --palGothic-8: rgb(14.4875% 12.4721% 31.3939%);
    --palGothic-9: rgb(17.3498% 13.6258% 37.97%);
    --palGothic-10: rgb(20.5691% 14.2503% 45.0693%);
    --palGothic-11: rgb(24.2767% 14.1132% 52.6538%);
    --palGothic-12: rgb(28.5877% 12.8711% 60.5049%);
    --palGothic-13: rgb(33.5187% 10.1003% 67.9985%);
    --palGothic-14: rgb(38.7845% 5.8238% 74.0005%);
    --palGothic-15: rgb(43.8902% 2.1136% 77.65%);
    --palGothic-16: rgb(48.6155% 2.6712% 79.2907%);
    --palGothic-17: rgb(53.0332% 6.4394% 79.6765%);
    --palGothic-18: rgb(57.2673% 10.3713% 79.3721%);
    --palGothic-19: rgb(61.3965% 13.9443% 78.6742%);
    --palGothic-20: rgb(65.4554% 17.241% 77.7219%);
    --palGothic-21: rgb(69.435% 20.4088% 76.5551%);
    --palGothic-22: rgb(73.2634% 23.6495% 75.1471%);
    --palGothic-23: rgb(76.7107% 27.3237% 73.4194%);
    --palGothic-24: rgb(78.9611% 32.2759% 71.5273%);
    --palGothic-25: rgb(79.1965% 38.4233% 71.4735%);
    --palGothic-26: rgb(78.9147% 43.9901% 73.4135%);
    --palGothic-27: rgb(78.6511% 49.0119% 76.0591%);
    --palGothic-28: rgb(78.4581% 53.6921% 78.9752%);
    --palGothic-29: rgb(78.3553% 58.1466% 81.9974%);
    --palGothic-30: rgb(78.3588% 62.4422% 85.0529%);
    --palGothic-31: rgb(78.4741% 66.6319% 88.092%);
    --palGothic-32: rgb(78.6993% 70.7622% 91.0418%);
    --palGothic-33: rgb(79.0485% 74.8765% 93.7372%);
    --palGothic-34: rgb(79.6677% 78.9857% 95.807%);
    --palGothic-35: rgb(81.0906% 82.9661% 96.7795%);
    --palGothic-36: rgb(83.7841% 86.6299% 96.9908%);
    --palGothic-37: rgb(87.3738% 90.0472% 97.2123%);
    --palGothic-38: rgb(91.4115% 93.3614% 97.7373%);
    --palGothic-39: rgb(95.6729% 96.6579% 98.6456%);
    --palGothic-40: rgb(100% 100% 100%);
}
