/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGreenGrey-1: rgb(50.1961% 72.9412% 41.1765%);
    --palGreenGrey-2: rgb(48.0341% 69.4016% 39.7988%);
    --palGreenGrey-3: rgb(45.8723% 65.8723% 38.4213%);
    --palGreenGrey-4: rgb(43.7104% 62.5339% 36.8627%);
    --palGreenGrey-5: rgb(41.5484% 59.1754% 35.2941%);
    --palGreenGrey-6: rgb(39.6078% 55.8572% 33.8964%);
    --palGreenGrey-7: rgb(37.6169% 52.4886% 32.5188%);
    --palGreenGrey-8: rgb(35.455% 49.1805% 31.1412%);
    --palGreenGrey-9: rgb(33.293% 45.8421% 29.7636%);
    --palGreenGrey-10: rgb(31.1312% 42.5037% 28.3861%);
    --palGreenGrey-11: rgb(29.3615% 39.5575% 27.0085%);
    --palGreenGrey-12: rgb(27.1995% 36.2191% 25.4902%);
    --palGreenGrey-13: rgb(25.0979% 33.2729% 24.2533%);
    --palGreenGrey-14: rgb(23.268% 30.3268% 22.7451%);
    --palGreenGrey-15: rgb(21.1765% 27.3102% 21.1765%);
    --palGreenGrey-16: rgb(19.3363% 24.4343% 20%);
    --palGreenGrey-17: rgb(17.2549% 21.4881% 18.4314%);
    --palGreenGrey-18: rgb(15.4047% 18.5419% 17.2549%);
    --palGreenGrey-19: rgb(13.6349% 15.8974% 15.6863%);
    --palGreenGrey-20: rgb(11.473% 13.0417% 14.5098%);
    --palGreenGrey-21: rgb(11.7647% 12.9412% 14.6103%);
    --palGreenGrey-22: rgb(14.0271% 15.2036% 16.8627%);
    --palGreenGrey-23: rgb(16.189% 17.3655% 19.2157%);
    --palGreenGrey-24: rgb(18.743% 19.5273% 21.4881%);
    --palGreenGrey-25: rgb(20.9049% 22.0814% 23.65%);
    --palGreenGrey-26: rgb(23.459% 24.2433% 25.812%);
    --palGreenGrey-27: rgb(26.013% 26.7973% 28.366%);
    --palGreenGrey-28: rgb(28.5671% 29.3514% 30.5278%);
    --palGreenGrey-29: rgb(31.1211% 31.9054% 33.0819%);
    --palGreenGrey-30: rgb(33.6752% 34.0673% 35.636%);
    --palGreenGrey-31: rgb(36.2292% 37.0135% 37.7979%);
    --palGreenGrey-32: rgb(38.7832% 39.5675% 40.3519%);
    --palGreenGrey-33: rgb(41.7295% 42.1216% 42.906%);
    --palGreenGrey-34: rgb(44.2835% 44.6757% 45.46%);
    --palGreenGrey-35: rgb(47.2297% 47.2297% 48.014%);
    --palGreenGrey-36: rgb(49.7837% 50.1759% 50.568%);
    --palGreenGrey-37: rgb(52.73% 52.73% 53.1221%);
    --palGreenGrey-38: rgb(55.284% 55.6762% 55.6762%);
    --palGreenGrey-39: rgb(58.2302% 58.2302% 58.6224%);
    --palGreenGrey-40: rgb(61.1765% 61.1765% 61.1765%);
}
