/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGreenMagenta-1: rgb(0% 31.372549% 0%);
    --palGreenMagenta-2: rgb(0% 52.54902% 0%);
    --palGreenMagenta-3: rgb(0% 73.333333% 0%);
    --palGreenMagenta-4: rgb(0% 94.509804% 0%);
    --palGreenMagenta-5: rgb(31.372549% 100% 31.372549%);
    --palGreenMagenta-6: rgb(52.54902% 100% 52.54902%);
    --palGreenMagenta-7: rgb(73.333333% 100% 73.333333%);
    --palGreenMagenta-8: rgb(100% 100% 100%);
    --palGreenMagenta-9: rgb(100% 94.509804% 100%);
    --palGreenMagenta-10: rgb(100% 73.333333% 100%);
    --palGreenMagenta-11: rgb(100% 52.54902% 100%);
    --palGreenMagenta-12: rgb(100% 31.372549% 100%);
    --palGreenMagenta-13: rgb(94.509804% 0% 94.509804%);
    --palGreenMagenta-14: rgb(73.333333% 0% 73.333333%);
    --palGreenMagenta-15: rgb(52.54902% 0% 52.54902%);
    --palGreenMagenta-16: rgb(31.372549% 0% 31.372549%);
}
