/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palHeart-1: rgb(10.5882% 11.7647% 13.7255%);
    --palHeart-2: rgb(12.3579% 12.7501% 15.8873%);
    --palHeart-3: rgb(14.1276% 13.7355% 18.0392%);
    --palHeart-4: rgb(16.2895% 14.902% 20.2111%);
    --palHeart-5: rgb(18.0593% 16.0784% 22.3529%);
    --palHeart-6: rgb(19.829% 16.8627% 24.3137%);
    --palHeart-7: rgb(21.9909% 18.0392% 26.6667%);
    --palHeart-8: rgb(23.7606% 19.0547% 28.8587%);
    --palHeart-9: rgb(25.9226% 20.0402% 31.0206%);
    --palHeart-10: rgb(27.8431% 21.1765% 33.1824%);
    --palHeart-11: rgb(29.8541% 22.3529% 35.3443%);
    --palHeart-12: rgb(32.0161% 23.1373% 37.5063%);
    --palHeart-13: rgb(34.1176% 24.3137% 39.6681%);
    --palHeart-14: rgb(36.0784% 25.4902% 42.2222%);
    --palHeart-15: rgb(38.1095% 26.3448% 44.384%);
    --palHeart-16: rgb(40.2715% 27.451% 46.546%);
    --palHeart-17: rgb(42.4333% 28.6275% 48.7079%);
    --palHeart-18: rgb(44.7059% 29.8039% 50.8697%);
    --palHeart-19: rgb(47.1493% 30.9804% 53.0316%);
    --palHeart-20: rgb(49.3112% 32.0563% 54.902%);
    --palHeart-21: rgb(51.473% 33.0417% 56.9632%);
    --palHeart-22: rgb(54.0271% 34.4192% 59.1251%);
    --palHeart-23: rgb(56.189% 35.4047% 60.8949%);
    --palHeart-24: rgb(58.743% 36.7822% 62.6646%);
    --palHeart-25: rgb(60.9049% 37.7677% 64.4343%);
    --palHeart-26: rgb(63.459% 39.1453% 65.8824%);
    --palHeart-27: rgb(66.013% 40.3922% 67.451%);
    --palHeart-28: rgb(68.5671% 41.5686% 68.2353%);
    --palHeart-29: rgb(71.1211% 43.1373% 68.8788%);
    --palHeart-30: rgb(73.6752% 44.3137% 69.0196%);
    --palHeart-31: rgb(76.6214% 45.8824% 69.0196%);
    --palHeart-32: rgb(78.7832% 47.4107% 69.4118%);
    --palHeart-33: rgb(81.3373% 48.7883% 69.8039%);
    --palHeart-34: rgb(83.8914% 50.1961% 70.558%);
    --palHeart-35: rgb(86.0533% 51.9356% 71.3725%);
    --palHeart-36: rgb(88.2151% 53.3333% 72.1569%);
    --palHeart-37: rgb(90.377% 55.0829% 73.5143%);
    --palHeart-38: rgb(92.5389% 56.8526% 74.8919%);
    --palHeart-39: rgb(94.3086% 58.4314% 76.2694%);
    --palHeart-40: rgb(96.0784% 60% 78.0392%);
}
