/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palHigh4-1: rgb(86.3281% 94.9218% 94.5312%);
    --palHigh4-2: rgb(80.048% 88.4314% 88.2512%);
    --palHigh4-3: rgb(73.7379% 81.9411% 81.5805%);
    --palHigh4-4: rgb(67.2475% 75.3004% 75.3004%);
    --palHigh4-5: rgb(60.8173% 68.6298% 68.9603%);
    --palHigh4-6: rgb(54.5372% 62.0793% 62.3497%);
    --palHigh4-7: rgb(48.2572% 55.679% 56.0697%);
    --palHigh4-8: rgb(43.9302% 50.5709% 51.6526%);
    --palHigh4-9: rgb(39.7235% 45.4627% 47.1454%);
    --palHigh4-10: rgb(35.667% 40.7451% 43.0288%);
    --palHigh4-11: rgb(43.2692% 36.3882% 28.5757%);
    --palHigh4-12: rgb(49.5492% 43.2692% 36.2379%);
    --palHigh4-13: rgb(56.0096% 50.3605% 43.7199%);
    --palHigh4-14: rgb(60.9375% 55.8593% 49.6093%);
    --palHigh4-15: rgb(65.655% 60.9675% 55.4987%);
    --palHigh4-16: rgb(70.7632% 66.4963% 61.4182%);
    --palHigh4-17: rgb(76.893% 73.768% 69.4711%);
    --palHigh4-18: rgb(83.3233% 81.0396% 77.1334%);
    --palHigh4-19: rgb(89.4831% 88.3112% 85.1862%);
    --palHigh4-20: rgb(95.8834% 95.4927% 93.2391%);
    --palHigh4-21: rgb(97.7463% 96.5745% 84.9459%);
    --palHigh4-22: rgb(94.8016% 92.4579% 78.9362%);
    --palHigh4-23: rgb(92.6382% 89.1225% 73.5576%);
    --palHigh4-24: rgb(91.4062% 86.5685% 69.2307%);
    --palHigh4-25: rgb(89.8737% 84.405% 64.9038%);
    --palHigh4-26: rgb(88.6718% 82.2415% 60.5769%);
    --palHigh4-27: rgb(87.8906% 80.4687% 57.0312%);
    --palHigh4-28: rgb(87.5% 78.6959% 53.4855%);
    --palHigh4-29: rgb(86.7187% 76.923% 49.9399%);
    --palHigh4-30: rgb(86.3281% 75.1502% 46.3942%);
    --palHigh4-31: rgb(74.2788% 31.7608% 24.3389%);
    --palHigh4-32: rgb(76.8329% 37.6502% 27.2235%);
    --palHigh4-33: rgb(78.9963% 43.6298% 29.7776%);
    --palHigh4-34: rgb(81.5504% 49.7295% 32.6322%);
    --palHigh4-35: rgb(84.4951% 55.4387% 42.1574%);
    --palHigh4-36: rgb(87.4399% 61.2079% 51.7127%);
    --palHigh4-37: rgb(90.3846% 67.2475% 61.3882%);
    --palHigh4-38: rgb(92.1574% 72.9867% 69.411%);
    --palHigh4-39: rgb(93.75% 79.0564% 77.1033%);
    --palHigh4-40: rgb(95.3125% 84.7656% 84.7656%);
}
