/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palHigh5-1: rgb(25.3906% 28.5156% 45.7031%);
    --palHigh5-2: rgb(32.0612% 39.1225% 54.7475%);
    --palHigh5-3: rgb(38.762% 49.7596% 64.1526%);
    --palHigh5-4: rgb(47.8365% 60.5769% 73.2271%);
    --palHigh5-5: rgb(60.006% 70.9435% 82.2716%);
    --palHigh5-6: rgb(72.0552% 81.1598% 91.7067%);
    --palHigh5-7: rgb(80.7391% 88.4615% 95.012%);
    --palHigh5-8: rgb(88.4014% 94.3509% 97.1754%);
    --palHigh5-9: rgb(94.7115% 97.5661% 92.0973%);
    --palHigh5-10: rgb(81.9411% 87.3497% 81.0997%);
    --palHigh5-11: rgb(69.5612% 77.524% 69.9519%);
    --palHigh5-12: rgb(60.637% 69.5913% 62.56%);
    --palHigh5-13: rgb(54.3269% 62.7403% 57.8425%);
    --palHigh5-14: rgb(48.0468% 55.8593% 52.7343%);
    --palHigh5-15: rgb(41.1658% 48.9783% 47.6262%);
    --palHigh5-16: rgb(34.6754% 42.0973% 42.518%);
    --palHigh5-17: rgb(43.8401% 37.0492% 29.387%);
    --palHigh5-18: rgb(49.3389% 43.0889% 36.0576%);
    --palHigh5-19: rgb(54.8377% 48.9783% 42.3377%);
    --palHigh5-20: rgb(60.7271% 55.2584% 49.0985%);
    --palHigh5-21: rgb(66.2259% 61.5384% 55.9795%);
    --palHigh5-22: rgb(72.7463% 68.9603% 64.0024%);
    --palHigh5-23: rgb(83.3533% 81.0096% 77.4338%);
    --palHigh5-24: rgb(93.9603% 93.3293% 90.9855%);
    --palHigh5-25: rgb(98.0769% 96.905% 85.2163%);
    --palHigh5-26: rgb(95.5228% 93.3894% 80.1081%);
    --palHigh5-27: rgb(93.3593% 89.8437% 75%);
    --palHigh5-28: rgb(91.4062% 86.899% 69.2908%);
    --palHigh5-29: rgb(89.4531% 83.5637% 63.6117%);
    --palHigh5-30: rgb(88.0408% 80.6189% 57.7223%);
    --palHigh5-31: rgb(87.1093% 77.6742% 51.8329%);
    --palHigh5-32: rgb(86.0576% 74.7295% 45.9435%);
    --palHigh5-33: rgb(75.8713% 34.6454% 25.4807%);
    --palHigh5-34: rgb(78.8161% 41.5264% 28.0348%);
    --palHigh5-35: rgb(81.3701% 48.798% 32.1514%);
    --palHigh5-36: rgb(84.7055% 53.786% 40.054%);
    --palHigh5-37: rgb(87.6502% 59.435% 49.429%);
    --palHigh5-38: rgb(89.8137% 65.9254% 59.2548%);
    --palHigh5-39: rgb(92.7584% 74.9399% 71.6045%);
    --palHigh5-40: rgb(95.3125% 84.7656% 84.7656%);
}
