/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palHolly-1: rgb(7.7201% 7.8786% 0.25%);
    --palHolly-2: rgb(11.1765% 12.9223% 1.1164%);
    --palHolly-3: rgb(14.0923% 17.8484% 2.3239%);
    --palHolly-4: rgb(16.5135% 22.759% 3.7925%);
    --palHolly-5: rgb(18.4095% 27.7178% 5.3556%);
    --palHolly-6: rgb(19.6803% 32.7719% 6.8872%);
    --palHolly-7: rgb(20.1217% 37.9622% 8.5591%);
    --palHolly-8: rgb(19.302% 43.3283% 10.726%);
    --palHolly-9: rgb(16.4081% 48.8528% 14.9026%);
    --palHolly-10: rgb(21.6011% 53.25% 23.3494%);
    --palHolly-11: rgb(30.2106% 57.1134% 30.7708%);
    --palHolly-12: rgb(38.4076% 60.9334% 37.7376%);
    --palHolly-13: rgb(46.2455% 64.7981% 44.5417%);
    --palHolly-14: rgb(53.8522% 68.7578% 51.3184%);
    --palHolly-15: rgb(61.3142% 72.8529% 58.1567%);
    --palHolly-16: rgb(68.6838% 77.1208% 65.1333%);
    --palHolly-17: rgb(75.9823% 81.601% 72.3304%);
    --palHolly-18: rgb(83.1906% 86.3424% 79.8502%);
    --palHolly-19: rgb(90.2216% 91.4176% 87.8073%);
    --palHolly-20: rgb(96.9332% 96.9526% 96.0254%);
    --palHolly-21: rgb(97.717% 96.5962% 96.4705%);
    --palHolly-22: rgb(93.49% 89.9219% 89.6716%);
    --palHolly-23: rgb(90.2246% 83.2102% 82.7423%);
    --palHolly-24: rgb(87.3078% 76.6168% 75.9626%);
    --palHolly-25: rgb(84.6078% 70.1382% 69.3728%);
    --palHolly-26: rgb(82.0391% 63.757% 62.9933%);
    --palHolly-27: rgb(79.5321% 57.4506% 56.8473%);
    --palHolly-28: rgb(77.0246% 51.1914% 50.9716%);
    --palHolly-29: rgb(74.4547% 44.9454% 45.4333%);
    --palHolly-30: rgb(71.7492% 38.6717% 40.3756%);
    --palHolly-31: rgb(68.7502% 32.3629% 36.2075%);
    --palHolly-32: rgb(64.5382% 26.757% 34.2291%);
    --palHolly-33: rgb(58.2707% 23.2512% 33.4211%);
    --palHolly-34: rgb(51.529% 20.4965% 32.0191%);
    --palHolly-35: rgb(44.7826% 17.9096% 30.0703%);
    --palHolly-36: rgb(38.1236% 15.3221% 27.6476%);
    --palHolly-37: rgb(31.57% 12.6495% 24.7767%);
    --palHolly-38: rgb(25.1108% 9.8253% 21.4503%);
    --palHolly-39: rgb(18.712% 6.7704% 17.6276%);
    --palHolly-40: rgb(12.3056% 3.3692% 13.2176%);
}
