/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palHSV-1: rgb(100% 0% 0%);
    --palHSV-2: rgb(100% 15.1442% 0%);
    --palHSV-3: rgb(100% 30.2884% 0%);
    --palHSV-4: rgb(100% 45.4327% 0%);
    --palHSV-5: rgb(100% 60.5769% 0%);
    --palHSV-6: rgb(100% 75.7212% 0%);
    --palHSV-7: rgb(100% 90.8655% 0%);
    --palHSV-8: rgb(93.9903% 100% 0%);
    --palHSV-9: rgb(78.846% 100% 0%);
    --palHSV-10: rgb(63.7018% 100% 0%);
    --palHSV-11: rgb(48.5575% 100% 0%);
    --palHSV-12: rgb(33.4132% 100% 0%);
    --palHSV-13: rgb(18.269% 100% 0%);
    --palHSV-14: rgb(3.1249% 100% 0.0001%);
    --palHSV-15: rgb(0% 100% 12.0193%);
    --palHSV-16: rgb(0% 100% 27.1635%);
    --palHSV-17: rgb(0% 100% 42.3076%);
    --palHSV-18: rgb(0% 100% 57.4518%);
    --palHSV-19: rgb(0% 100% 72.596%);
    --palHSV-20: rgb(0% 100% 87.7401%);
    --palHSV-21: rgb(0% 97.1156% 100%);
    --palHSV-22: rgb(0% 81.9714% 100%);
    --palHSV-23: rgb(0% 66.8271% 100%);
    --palHSV-24: rgb(0% 51.6829% 100%);
    --palHSV-25: rgb(0% 36.5386% 100%);
    --palHSV-26: rgb(0% 21.3944% 100%);
    --palHSV-27: rgb(0% 6.2502% 100%);
    --palHSV-28: rgb(8.894% 0% 100%);
    --palHSV-29: rgb(24.0382% 0% 100%);
    --palHSV-30: rgb(39.1825% 0% 100%);
    --palHSV-31: rgb(54.3268% 0% 100%);
    --palHSV-32: rgb(69.471% 0% 100%);
    --palHSV-33: rgb(84.6153% 0% 100%);
    --palHSV-34: rgb(97.8365% 0% 98.0769%);
    --palHSV-35: rgb(100% 0% 85.0962%);
    --palHSV-36: rgb(100% 0% 69.9519%);
    --palHSV-37: rgb(100% 0% 54.8077%);
    --palHSV-38: rgb(100% 0% 39.6634%);
    --palHSV-39: rgb(100% 0% 24.5192%);
    --palHSV-40: rgb(100% 0% 9.375%);
}
