/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palIce-1: rgb(1.5686% 2.3529% 7.4509%);
    --palIce-2: rgb(3.7405% 4.5248% 11.0105%);
    --palIce-3: rgb(6.3046% 6.6968% 14.5701%);
    --palIce-4: rgb(8.8687% 8.8687% 18.2805%);
    --palIce-5: rgb(11.0407% 10.9803% 22.0814%);
    --palIce-6: rgb(13.2126% 12.8205% 26.0331%);
    --palIce-7: rgb(15.3846% 14.6003% 29.9849%);
    --palIce-8: rgb(17.2549% 16.7722% 33.9366%);
    --palIce-9: rgb(19.2156% 18.552% 38.1598%);
    --palIce-10: rgb(20.7843% 20.7239% 42.2926%);
    --palIce-11: rgb(22.3529% 22.5037% 46.5761%);
    --palIce-12: rgb(23.4992% 24.6757% 50.92%);
    --palIce-13: rgb(24.3137% 27.2398% 55.0829%);
    --palIce-14: rgb(24.7058% 29.4117% 58.8235%);
    --palIce-15: rgb(24.7058% 32.368% 62.1719%);
    --palIce-16: rgb(24.6757% 34.9321% 64.736%);
    --palIce-17: rgb(24.3137% 37.8883% 67.0588%);
    --palIce-18: rgb(24.3137% 40.8446% 68.6877%);
    --palIce-19: rgb(24.7058% 43.8009% 70.196%);
    --palIce-20: rgb(25.4901% 46.4555% 71.3725%);
    --palIce-21: rgb(26.5761% 49.3212% 72.4585%);
    --palIce-22: rgb(27.8431% 52.2775% 73.3333%);
    --palIce-23: rgb(29.4117% 54.8416% 74.1176%);
    --palIce-24: rgb(31.5233% 57.5565% 75.2941%);
    --palIce-25: rgb(33.3333% 60.3619% 76.0784%);
    --palIce-26: rgb(35.8672% 62.926% 77.2549%);
    --palIce-27: rgb(38.0392% 65.8823% 78.0392%);
    --palIce-28: rgb(40.9954% 68.4464% 79.2156%);
    --palIce-29: rgb(43.5897% 71.0105% 80.3921%);
    --palIce-30: rgb(46.9079% 73.9668% 81.4177%);
    --palIce-31: rgb(50.3167% 76.5309% 82.4132%);
    --palIce-32: rgb(54.2684% 79.095% 83.5294%);
    --palIce-33: rgb(58.6123% 81.6591% 84.7963%);
    --palIce-34: rgb(63.3484% 83.9215% 86.2745%);
    --palIce-35: rgb(68.0844% 86.3951% 87.9638%);
    --palIce-36: rgb(72.8808% 88.9592% 90.1357%);
    --palIce-37: rgb(77.9487% 91.1312% 92.3076%);
    --palIce-38: rgb(82.6847% 93.6953% 94.4796%);
    --palIce-39: rgb(87.4208% 96.2594% 97.0437%);
    --palIce-40: rgb(91.7647% 99.2156% 99.2156%);
}
