/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palIceBurn-1: rgb(57.8692% 94.7004% 95.3835%);
    --palIceBurn-2: rgb(50.7709% 88.8495% 93.3471%);
    --palIceBurn-3: rgb(43.5369% 83.197% 91.6101%);
    --palIceBurn-4: rgb(36.1225% 77.6844% 90.2139%);
    --palIceBurn-5: rgb(28.4997% 72.2442% 89.173%);
    --palIceBurn-6: rgb(20.7248% 66.7951% 88.4603%);
    --palIceBurn-7: rgb(13.3279% 61.2353% 87.9613%);
    --palIceBurn-8: rgb(9.2427% 55.4423% 87.3299%);
    --palIceBurn-9: rgb(13.107% 49.3458% 85.546%);
    --palIceBurn-10: rgb(19.7362% 43.3084% 80.4567%);
    --palIceBurn-11: rgb(23.319% 38.054% 71.8515%);
    --palIceBurn-12: rgb(23.9604% 33.4844% 62.1864%);
    --palIceBurn-13: rgb(22.9633% 29.2585% 52.7037%);
    --palIceBurn-14: rgb(21.0154% 25.1868% 43.7393%);
    --palIceBurn-15: rgb(18.4466% 21.1665% 35.3502%);
    --palIceBurn-16: rgb(15.4201% 17.1275% 27.502%);
    --palIceBurn-17: rgb(12.0055% 13.0042% 20.1213%);
    --palIceBurn-18: rgb(8.1997% 8.7099% 13.1036%);
    --palIceBurn-19: rgb(3.8974% 4.0863% 6.2829%);
    --palIceBurn-20: rgb(0.5531% 0.5582% 0.7556%);
    --palIceBurn-21: rgb(0.816% 0.4777% 0.5392%);
    --palIceBurn-22: rgb(6.5757% 3.133% 3.7789%);
    --palIceBurn-23: rgb(13.3504% 6.7146% 7.8808%);
    --palIceBurn-24: rgb(20.0992% 9.8059% 11.2776%);
    --palIceBurn-25: rgb(26.9261% 12.5348% 13.9932%);
    --palIceBurn-26: rgb(33.846% 15.0299% 15.9632%);
    --palIceBurn-27: rgb(40.8116% 17.4357% 17.095%);
    --palIceBurn-28: rgb(47.7119% 19.9459% 17.322%);
    --palIceBurn-29: rgb(54.3806% 22.8007% 16.671%);
    --palIceBurn-30: rgb(60.6356% 26.2233% 15.3055%);
    --palIceBurn-31: rgb(66.3458% 30.3267% 13.4912%);
    --palIceBurn-32: rgb(71.4677% 35.087% 11.5161%);
    --palIceBurn-33: rgb(76.0258% 40.4045% 9.6833%);
    --palIceBurn-34: rgb(80.0719% 46.1722% 8.4139%);
    --palIceBurn-35: rgb(83.6596% 52.3079% 8.296%);
    --palIceBurn-36: rgb(86.8351% 58.7569% 9.764%);
    --palIceBurn-37: rgb(89.6364% 65.4865% 12.7132%);
    --palIceBurn-38: rgb(92.0948% 72.4804% 16.7487%);
    --palIceBurn-39: rgb(94.2356% 79.7341% 21.5512%);
    --palIceBurn-40: rgb(96.0767% 87.2539% 26.9357%);
}
