/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palInferno-1: rgb(0.1462% 0.0466% 1.3866%);
    --palInferno-2: rgb(1.0692% 0.863% 5.9621%);
    --palInferno-3: rgb(2.9736% 2.1672% 11.5296%);
    --palInferno-4: rgb(5.9458% 3.5812% 17.4092%);
    --palInferno-5: rgb(9.3868% 4.5709% 23.5826%);
    --palInferno-6: rgb(13.378% 4.699% 29.701%);
    --palInferno-7: rgb(17.8093% 4.1154% 34.9694%);
    --palInferno-8: rgb(22.319% 3.6453% 38.7065%);
    --palInferno-9: rgb(26.6821% 4.0039% 41.0154%);
    --palInferno-10: rgb(30.8955% 5.1097% 42.3484%);
    --palInferno-11: rgb(35.0179% 6.5504% 43.0482%);
    --palInferno-12: rgb(39.0974% 8.0747% 43.3097%);
    --palInferno-13: rgb(43.1638% 9.5841% 43.2239%);
    --palInferno-14: rgb(47.2328% 11.0547% 42.8334%);
    --palInferno-15: rgb(51.3088% 12.4948% 42.1472%);
    --palInferno-16: rgb(55.3871% 13.9304% 41.1694%);
    --palInferno-17: rgb(59.4553% 15.3969% 39.8957%);
    --palInferno-18: rgb(63.4942% 16.9368% 38.3298%);
    --palInferno-19: rgb(67.4779% 18.599% 36.4781%);
    --palInferno-20: rgb(71.375% 20.4343% 34.3586%);
    --palInferno-21: rgb(75.1486% 22.4938% 31.9955%);
    --palInferno-22: rgb(78.7579% 24.8225% 29.4219%);
    --palInferno-23: rgb(82.1609% 27.4544% 26.6747%);
    --palInferno-24: rgb(85.3156% 30.4097% 23.7904%);
    --palInferno-25: rgb(88.1865% 33.6884% 20.7984%);
    --palInferno-26: rgb(90.7421% 37.2778% 17.714%);
    --palInferno-27: rgb(92.9644% 41.1479% 14.5367%);
    --palInferno-28: rgb(94.8363% 45.2674% 11.2521%);
    --palInferno-29: rgb(96.3541% 49.5984% 7.8671%);
    --palInferno-30: rgb(97.5099% 54.1098% 4.5454%);
    --palInferno-31: rgb(98.3019% 58.772% 2.4523%);
    --palInferno-32: rgb(98.7222% 63.5611% 3.3682%);
    --palInferno-33: rgb(98.7656% 68.4551% 7.422%);
    --palInferno-34: rgb(98.4257% 73.4319% 12.7509%);
    --palInferno-35: rgb(97.7069% 78.4632% 18.9029%);
    --palInferno-36: rgb(96.6519% 83.501% 25.9755%);
    --palInferno-37: rgb(95.4311% 88.4404% 34.2818%);
    --palInferno-38: rgb(94.6424% 93.0253% 44.1136%);
    --palInferno-39: rgb(95.6083% 96.8253% 54.7705%);
    --palInferno-40: rgb(98.8362% 99.8364% 64.4924%);
}
