/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palInfinity-1: rgb(34.5623% 2.5864% 44.4693%);
    --palInfinity-2: rgb(35.5228% 6.784% 51.8361%);
    --palInfinity-3: rgb(35.6115% 11.486% 58.5063%);
    --palInfinity-4: rgb(34.6371% 16.6621% 63.9924%);
    --palInfinity-5: rgb(32.4785% 22.1623% 67.8769%);
    --palInfinity-6: rgb(29.1633% 27.7019% 69.9986%);
    --palInfinity-7: rgb(24.8826% 32.9991% 70.5374%);
    --palInfinity-8: rgb(19.9183% 37.8805% 69.9084%);
    --palInfinity-9: rgb(14.5547% 42.3019% 68.5666%);
    --palInfinity-10: rgb(9.0827% 46.3066% 66.8718%);
    --palInfinity-11: rgb(4.1734% 49.9744% 65.0479%);
    --palInfinity-12: rgb(2.8013% 53.3885% 63.1977%);
    --palInfinity-13: rgb(6.4069% 56.617% 61.3302%);
    --palInfinity-14: rgb(11.73% 59.7045% 59.3897%);
    --palInfinity-15: rgb(17.5019% 62.6665% 57.2847%);
    --palInfinity-16: rgb(23.7197% 65.4877% 54.9213%);
    --palInfinity-17: rgb(30.5237% 68.1244% 52.2428%);
    --palInfinity-18: rgb(37.9985% 70.5147% 49.2699%);
    --palInfinity-19: rgb(46.118% 72.5959% 46.1301%);
    --palInfinity-20: rgb(54.7455% 74.3265% 43.0588%);
    --palInfinity-21: rgb(60.8873% 73.1565% 37.4373%);
    --palInfinity-22: rgb(64.0865% 68.6468% 29.0276%);
    --palInfinity-23: rgb(67.191% 63.8482% 21.3167%);
    --palInfinity-24: rgb(69.8796% 58.8578% 14.2724%);
    --palInfinity-25: rgb(72.0006% 53.7517% 7.8069%);
    --palInfinity-26: rgb(73.4884% 48.5929% 2.2098%);
    --palInfinity-27: rgb(74.3156% 43.4399% 0.6296%);
    --palInfinity-28: rgb(74.4649% 38.3584% 2.8577%);
    --palInfinity-29: rgb(73.9136% 33.4379% 7.3661%);
    --palInfinity-30: rgb(72.6313% 28.809% 11.8297%);
    --palInfinity-31: rgb(70.5995% 24.6403% 16.2396%);
    --palInfinity-32: rgb(67.8461% 21.0924% 20.6072%);
    --palInfinity-33: rgb(64.4674% 18.2375% 24.8288%);
    --palInfinity-34: rgb(60.6101% 16.0124% 28.7564%);
    --palInfinity-35: rgb(56.4321% 14.2438% 32.2701%);
    --palInfinity-36: rgb(52.0757% 12.7085% 35.3143%);
    --palInfinity-37: rgb(47.6579% 11.1734% 37.9077%);
    --palInfinity-38: rgb(43.2712% 9.3874% 40.1443%);
    --palInfinity-39: rgb(38.9877% 6.9817% 42.1928%);
    --palInfinity-40: rgb(34.8692% 2.9841% 44.297%);
}
