/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palJet-1: rgb(0% 0% 50%);
    --palJet-2: rgb(0% 0% 61.655%);
    --palJet-3: rgb(0% 0% 73.31%);
    --palJet-4: rgb(0% 0% 84.965%);
    --palJet-5: rgb(0% 0% 96.62%);
    --palJet-6: rgb(0% 1.282% 100%);
    --palJet-7: rgb(0% 11.5384% 100%);
    --palJet-8: rgb(0% 21.7948% 100%);
    --palJet-9: rgb(0% 32.0512% 100%);
    --palJet-10: rgb(0% 42.3076% 100%);
    --palJet-11: rgb(0% 52.5641% 100%);
    --palJet-12: rgb(0% 62.8205% 100%);
    --palJet-13: rgb(0% 73.0769% 100%);
    --palJet-14: rgb(0% 83.3333% 100%);
    --palJet-15: rgb(2.8949% 93.5897% 93.8792%);
    --palJet-16: rgb(11.1662% 100% 85.6078%);
    --palJet-17: rgb(19.4375% 100% 77.3366%);
    --palJet-18: rgb(27.7088% 100% 69.0653%);
    --palJet-19: rgb(35.9801% 100% 60.794%);
    --palJet-20: rgb(44.2514% 100% 52.5227%);
    --palJet-21: rgb(52.5227% 100% 44.2514%);
    --palJet-22: rgb(60.794% 100% 35.9801%);
    --palJet-23: rgb(69.0653% 100% 27.7088%);
    --palJet-24: rgb(77.3366% 100% 19.4375%);
    --palJet-25: rgb(85.6078% 100% 11.1662%);
    --palJet-26: rgb(93.8792% 99.4637% 2.8949%);
    --palJet-27: rgb(100% 90.1235% 0%);
    --palJet-28: rgb(100% 80.6267% 0%);
    --palJet-29: rgb(100% 71.13% 0%);
    --palJet-30: rgb(100% 61.6334% 0%);
    --palJet-31: rgb(100% 52.1367% 0%);
    --palJet-32: rgb(100% 42.64% 0%);
    --palJet-33: rgb(100% 33.1434% 0%);
    --palJet-34: rgb(100% 23.6466% 0%);
    --palJet-35: rgb(100% 14.15% 0%);
    --palJet-36: rgb(96.62% 4.6533% 0%);
    --palJet-37: rgb(84.965% 0% 0%);
    --palJet-38: rgb(73.31% 0% 0%);
    --palJet-39: rgb(61.655% 0% 0%);
    --palJet-40: rgb(50% 0% 0%);
}
