/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palJungle-1: rgb(0% 0% 0%);
    --palJungle-2: rgb(0.4689% 0.7792% 0.6746%);
    --palJungle-3: rgb(1.3623% 2.8675% 2.2512%);
    --palJungle-4: rgb(2.3967% 5.9569% 4.4274%);
    --palJungle-5: rgb(3.4181% 9.0045% 6.5327%);
    --palJungle-6: rgb(4.3112% 11.9701% 8.3582%);
    --palJungle-7: rgb(4.9521% 14.8852% 9.94%);
    --palJungle-8: rgb(5.3389% 17.7685% 11.2969%);
    --palJungle-9: rgb(5.4792% 20.6323% 12.4384%);
    --palJungle-10: rgb(5.3746% 23.4846% 13.3675%);
    --palJungle-11: rgb(5.0215% 26.3307% 14.0807%);
    --palJungle-12: rgb(4.419% 29.174% 14.5712%);
    --palJungle-13: rgb(3.5833% 32.016% 14.8235%);
    --palJungle-14: rgb(2.68% 34.8565% 14.8188%);
    --palJungle-15: rgb(1.9248% 37.6932% 14.5232%);
    --palJungle-16: rgb(1.6174% 40.5214% 13.8931%);
    --palJungle-17: rgb(2.2322% 43.3325% 12.8518%);
    --palJungle-18: rgb(4.4948% 46.1107% 11.277%);
    --palJungle-19: rgb(8.3209% 48.8249% 8.9239%);
    --palJungle-20: rgb(13.4632% 51.404% 5.2364%);
    --palJungle-21: rgb(20.5453% 53.6532% 0.7991%);
    --palJungle-22: rgb(28.1977% 55.5162% 3.6694%);
    --palJungle-23: rgb(34.1484% 57.42% 10.6065%);
    --palJungle-24: rgb(39.1053% 59.4208% 16.5732%);
    --palJungle-25: rgb(43.5523% 61.4937% 22.0981%);
    --palJungle-26: rgb(47.6992% 63.6261% 27.4196%);
    --palJungle-27: rgb(51.6574% 65.8115% 32.6502%);
    --palJungle-28: rgb(55.489% 68.0486% 37.8456%);
    --palJungle-29: rgb(59.2361% 70.3373% 43.0362%);
    --palJungle-30: rgb(62.9257% 72.6801% 48.2379%);
    --palJungle-31: rgb(66.5788% 75.0795% 53.4585%);
    --palJungle-32: rgb(70.2107% 77.5394% 58.7012%);
    --palJungle-33: rgb(73.8345% 80.0639% 63.9653%);
    --palJungle-34: rgb(77.4616% 82.6574% 69.2477%);
    --palJungle-35: rgb(81.1033% 85.3248% 74.5417%);
    --palJungle-36: rgb(84.7721% 88.0704% 79.8359%);
    --palJungle-37: rgb(88.4848% 90.8985% 85.1083%);
    --palJungle-38: rgb(92.2675% 93.8117% 90.3115%);
    --palJungle-39: rgb(96.1487% 96.8212% 95.3206%);
    --palJungle-40: rgb(100% 100% 100%);
}
