/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLajolla-1: rgb(9.8791% 9.9669% 0.0088%);
    --palLajolla-2: rgb(12.0856% 10.7553% 1.2788%);
    --palLajolla-3: rgb(14.2986% 11.5406% 2.565%);
    --palLajolla-4: rgb(16.641% 12.3533% 4.0154%);
    --palLajolla-5: rgb(19.2038% 13.2376% 5.5103%);
    --palLajolla-6: rgb(22.057% 14.2079% 6.9933%);
    --palLajolla-7: rgb(25.2379% 15.2769% 8.5022%);
    --palLajolla-8: rgb(28.7447% 16.463% 10.2443%);
    --palLajolla-9: rgb(32.5931% 17.769% 12.2406%);
    --palLajolla-10: rgb(36.7848% 19.1855% 14.4655%);
    --palLajolla-11: rgb(41.2904% 20.696% 16.8433%);
    --palLajolla-12: rgb(46.0625% 22.2526% 19.2892%);
    --palLajolla-13: rgb(51.0634% 23.7961% 21.6753%);
    --palLajolla-14: rgb(56.256% 25.2529% 23.853%);
    --palLajolla-15: rgb(61.5795% 26.5739% 25.687%);
    --palLajolla-16: rgb(66.9252% 27.7933% 27.1283%);
    --palLajolla-17: rgb(72.102% 29.0776% 28.2128%);
    --palLajolla-18: rgb(76.8389% 30.7106% 29.034%);
    --palLajolla-19: rgb(80.8316% 32.9523% 29.6786%);
    --palLajolla-20: rgb(83.8614% 35.834% 30.1859%);
    --palLajolla-21: rgb(85.9189% 39.1016% 30.5883%);
    --palLajolla-22: rgb(87.2425% 42.4569% 30.9075%);
    --palLajolla-23: rgb(88.1492% 45.736% 31.1741%);
    --palLajolla-24: rgb(88.8686% 48.904% 31.4184%);
    --palLajolla-25: rgb(89.5175% 51.9801% 31.6503%);
    --palLajolla-26: rgb(90.1393% 54.9963% 31.8756%);
    --palLajolla-27: rgb(90.751% 57.978% 32.099%);
    --palLajolla-28: rgb(91.3606% 60.949% 32.3213%);
    --palLajolla-29: rgb(91.9732% 63.9353% 32.5488%);
    --palLajolla-30: rgb(92.5976% 66.9666% 32.8096%);
    --palLajolla-31: rgb(93.2456% 70.0882% 33.1874%);
    --palLajolla-32: rgb(93.9435% 73.3716% 33.9264%);
    --palLajolla-33: rgb(94.727% 76.9011% 35.5293%);
    --palLajolla-34: rgb(95.6265% 80.7097% 38.6936%);
    --palLajolla-35: rgb(96.6077% 84.6553% 43.8409%);
    --palLajolla-36: rgb(97.5684% 88.4491% 50.6341%);
    --palLajolla-37: rgb(98.4066% 91.8511% 58.1949%);
    --palLajolla-38: rgb(99.0858% 94.8171% 65.7311%);
    --palLajolla-39: rgb(99.6153% 97.4235% 72.8283%);
    --palLajolla-40: rgb(100% 99.78% 79.425%);
}
