/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLapaz-1: rgb(10.352% 4.7787% 39.353%);
    --palLapaz-2: rgb(11.245% 8.2503% 41.4553%);
    --palLapaz-3: rgb(12.0326% 11.3374% 43.5443%);
    --palLapaz-4: rgb(12.7494% 14.2377% 45.604%);
    --palLapaz-5: rgb(13.4132% 17.0479% 47.6184%);
    --palLapaz-6: rgb(14.0456% 19.7906% 49.5698%);
    --palLapaz-7: rgb(14.6728% 22.4933% 51.4463%);
    --palLapaz-8: rgb(15.3206% 25.1597% 53.2313%);
    --palLapaz-9: rgb(16.0163% 27.7924% 54.9143%);
    --palLapaz-10: rgb(16.7863% 30.392% 56.4836%);
    --palLapaz-11: rgb(17.6575% 32.9603% 57.9325%);
    --palLapaz-12: rgb(18.6576% 35.4943% 59.2511%);
    --palLapaz-13: rgb(19.8172% 37.9889% 60.431%);
    --palLapaz-14: rgb(21.167% 40.445% 61.467%);
    --palLapaz-15: rgb(22.7313% 42.8565% 62.3497%);
    --palLapaz-16: rgb(24.5311% 45.2173% 63.0713%);
    --palLapaz-17: rgb(26.5943% 47.5155% 63.6186%);
    --palLapaz-18: rgb(28.9223% 49.739% 63.9841%);
    --palLapaz-19: rgb(31.5136% 51.8698% 64.1543%);
    --palLapaz-20: rgb(34.3503% 53.8873% 64.1251%);
    --palLapaz-21: rgb(37.3982% 55.766% 63.8935%);
    --palLapaz-22: rgb(40.6196% 57.4882% 63.4666%);
    --palLapaz-23: rgb(43.9673% 59.0373% 62.8636%);
    --palLapaz-24: rgb(47.397% 60.4103% 62.114%);
    --palLapaz-25: rgb(50.8758% 61.6195% 61.2672%);
    --palLapaz-26: rgb(54.3891% 62.6954% 60.3861%);
    --palLapaz-27: rgb(57.952% 63.694% 59.553%);
    --palLapaz-28: rgb(61.6033% 64.694% 58.8797%);
    --palLapaz-29: rgb(65.4112% 65.8053% 58.5125%);
    --palLapaz-30: rgb(69.4558% 67.1617% 58.639%);
    --palLapaz-31: rgb(73.7896% 68.9% 59.475%);
    --palLapaz-32: rgb(78.3783% 71.1326% 61.2293%);
    --palLapaz-33: rgb(83.0399% 73.8724% 63.9965%);
    --palLapaz-34: rgb(87.4578% 77.005% 67.6891%);
    --palLapaz-35: rgb(91.2935% 80.3176% 72.035%);
    --palLapaz-36: rgb(94.3333% 83.5953% 76.7009%);
    --palLapaz-37: rgb(96.5516% 86.7045% 81.4281%);
    --palLapaz-38: rgb(98.0702% 89.6127% 86.0817%);
    --palLapaz-39: rgb(99.0608% 92.3493% 90.6354%);
    --palLapaz-40: rgb(99.706% 94.979% 95.121%);
}
