/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLOrangesat1-1: rgb(71.4843% 23.4375% 1.1718%);
    --palLOrangesat1-2: rgb(73.6478% 25.6009% 1.1718%);
    --palLOrangesat1-3: rgb(75.4206% 27.7343% 1.1718%);
    --palLOrangesat1-4: rgb(77.5841% 29.5372% 1.1718%);
    --palLOrangesat1-5: rgb(79.7475% 31.7007% 1.5625%);
    --palLOrangesat1-6: rgb(81.6406% 33.8641% 1.5625%);
    --palLOrangesat1-7: rgb(83.2932% 35.637% 1.1718%);
    --palLOrangesat1-8: rgb(85.0661% 37.8004% 1.1718%);
    --palLOrangesat1-9: rgb(86.4483% 39.9639% 0.7812%);
    --palLOrangesat1-10: rgb(88.2211% 42.1274% 0.7812%);
    --palLOrangesat1-11: rgb(89.6033% 44.2908% 0.7812%);
    --palLOrangesat1-12: rgb(90.2343% 46.4543% 1.5625%);
    --palLOrangesat1-13: rgb(90.8052% 48.6177% 2.3437%);
    --palLOrangesat1-14: rgb(91.4062% 51.1718% 3.125%);
    --palLOrangesat1-15: rgb(92.1875% 53.3353% 3.9062%);
    --palLOrangesat1-16: rgb(92.6081% 55.4987% 5.0781%);
    --palLOrangesat1-17: rgb(93.5997% 57.6622% 6.0997%);
    --palLOrangesat1-18: rgb(94.5312% 59.7656% 7.4218%);
    --palLOrangesat1-19: rgb(95.1923% 61.7187% 8.5937%);
    --palLOrangesat1-20: rgb(96.0937% 63.762% 9.8557%);
    --palLOrangesat1-21: rgb(96.7848% 65.625% 11.2379%);
    --palLOrangesat1-22: rgb(97.2656% 67.3076% 13.0108%);
    --palLOrangesat1-23: rgb(98.0468% 68.75% 14.7836%);
    --palLOrangesat1-24: rgb(98.4375% 70.4627% 16.4062%);
    --palLOrangesat1-25: rgb(99.2187% 71.875% 17.9687%);
    --palLOrangesat1-26: rgb(99.2187% 73.6177% 21.0637%);
    --palLOrangesat1-27: rgb(99.2187% 75.3906% 24.6093%);
    --palLOrangesat1-28: rgb(99.6093% 76.7728% 28.3353%);
    --palLOrangesat1-29: rgb(99.6093% 78.5456% 32.0612%);
    --palLOrangesat1-30: rgb(99.6093% 80.0781% 35.7872%);
    --palLOrangesat1-31: rgb(99.6093% 81.25% 39.1225%);
    --palLOrangesat1-32: rgb(99.6093% 81.6406% 42.4579%);
    --palLOrangesat1-33: rgb(99.6093% 82.4218% 45.7932%);
    --palLOrangesat1-34: rgb(99.6093% 83.1129% 49.0384%);
    --palLOrangesat1-35: rgb(99.6093% 83.7139% 52.0733%);
    --palLOrangesat1-36: rgb(99.6093% 85.8774% 58.804%);
    --palLOrangesat1-37: rgb(99.6093% 88.4314% 65.685%);
    --palLOrangesat1-38: rgb(99.6093% 90.9855% 72.5661%);
    --palLOrangesat1-39: rgb(99.6093% 93.149% 79.4471%);
    --palLOrangesat1-40: rgb(99.6093% 95.7031% 86.3281%);
}
