/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLPurplowsat3-1: rgb(42.1875% 29.2968% 66.4062%);
    --palLPurplowsat3-2: rgb(43.75% 30.8593% 67.5781%);
    --palLPurplowsat3-3: rgb(45.3125% 32.4519% 68.78%);
    --palLPurplowsat3-4: rgb(46.7247% 34.2247% 69.9218%);
    --palLPurplowsat3-5: rgb(48.1069% 35.9975% 71.0937%);
    --palLPurplowsat3-6: rgb(49.4891% 37.7704% 72.2656%);
    --palLPurplowsat3-7: rgb(51.1718% 39.4531% 73.4375%);
    --palLPurplowsat3-8: rgb(52.6442% 41.0156% 74.6093%);
    --palLPurplowsat3-9: rgb(54.0264% 42.9687% 75.7812%);
    --palLPurplowsat3-10: rgb(55.4086% 44.5312% 76.893%);
    --palLPurplowsat3-11: rgb(56.7908% 46.2439% 78.125%);
    --palLPurplowsat3-12: rgb(58.5637% 48.0168% 79.2668%);
    --palLPurplowsat3-13: rgb(59.9459% 50.1802% 80.4687%);
    --palLPurplowsat3-14: rgb(61.7187% 51.9531% 81.6406%);
    --palLPurplowsat3-15: rgb(63.1009% 53.9062% 83.0228%);
    --palLPurplowsat3-16: rgb(64.8437% 55.8894% 84.375%);
    --palLPurplowsat3-17: rgb(66.4062% 57.8125% 85.5468%);
    --palLPurplowsat3-18: rgb(68.0288% 59.8257% 86.7187%);
    --palLPurplowsat3-19: rgb(69.5312% 61.5985% 87.8906%);
    --palLPurplowsat3-20: rgb(71.1838% 63.762% 89.1526%);
    --palLPurplowsat3-21: rgb(72.6562% 65.5348% 90.5348%);
    --palLPurplowsat3-22: rgb(74.3389% 67.5781% 91.7968%);
    --palLPurplowsat3-23: rgb(76.1117% 69.4711% 92.9687%);
    --palLPurplowsat3-24: rgb(77.4939% 71.4843% 94.2908%);
    --palLPurplowsat3-25: rgb(78.5156% 72.6562% 94.5312%);
    --palLPurplowsat3-26: rgb(79.6875% 74.0084% 94.9218%);
    --palLPurplowsat3-27: rgb(80.4687% 75.3906% 95.3125%);
    --palLPurplowsat3-28: rgb(81.6406% 76.7728% 95.7031%);
    --palLPurplowsat3-29: rgb(82.8125% 78.125% 96.0937%);
    --palLPurplowsat3-30: rgb(83.5937% 79.2968% 96.3341%);
    --palLPurplowsat3-31: rgb(84.7656% 80.5288% 96.4843%);
    --palLPurplowsat3-32: rgb(85.5468% 81.911% 96.875%);
    --palLPurplowsat3-33: rgb(86.7187% 83.2031% 97.2656%);
    --palLPurplowsat3-34: rgb(87.8004% 84.375% 97.6562%);
    --palLPurplowsat3-35: rgb(88.6718% 85.667% 97.7764%);
    --palLPurplowsat3-36: rgb(89.7836% 87.0492% 98.0468%);
    --palLPurplowsat3-37: rgb(90.625% 88.2812% 98.4375%);
    --palLPurplowsat3-38: rgb(91.7668% 89.4531% 98.8281%);
    --palLPurplowsat3-39: rgb(92.5781% 90.8052% 99.2187%);
    --palLPurplowsat3-40: rgb(93.75% 92.1875% 99.6093%);
}
