/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLRedsat1-1: rgb(31.6406% 0% 0%);
    --palLRedsat1-2: rgb(34.5853% 0.6009% 0.7812%);
    --palLRedsat1-3: rgb(37.1394% 1.2019% 1.9531%);
    --palLRedsat1-4: rgb(40.0841% 2.1935% 2.9747%);
    --palLRedsat1-5: rgb(42.6382% 2.7944% 3.9663%);
    --palLRedsat1-6: rgb(45.5829% 3.786% 5.0781%);
    --palLRedsat1-7: rgb(48.137% 4.387% 5.9495%);
    --palLRedsat1-8: rgb(51.0817% 5.3786% 7.0312%);
    --palLRedsat1-9: rgb(53.6358% 5.9795% 8.2031%);
    --palLRedsat1-10: rgb(56.5805% 6.9711% 9.3149%);
    --palLRedsat1-11: rgb(59.1346% 7.8125% 10.3064%);
    --palLRedsat1-12: rgb(60.9074% 9.375% 12.0793%);
    --palLRedsat1-13: rgb(63.0709% 11.1177% 13.6718%);
    --palLRedsat1-14: rgb(64.8437% 12.5% 15.2343%);
    --palLRedsat1-15: rgb(66.7968% 14.2728% 17.0072%);
    --palLRedsat1-16: rgb(68.78% 16.0156% 18.3894%);
    --palLRedsat1-17: rgb(70.7031% 17.4278% 20.1622%);
    --palLRedsat1-18: rgb(72.7163% 19.1406% 21.875%);
    --palLRedsat1-19: rgb(74.4891% 20.7031% 23.3173%);
    --palLRedsat1-20: rgb(76.5625% 22.3557% 25.0901%);
    --palLRedsat1-21: rgb(78.125% 24.5192% 27.2536%);
    --palLRedsat1-22: rgb(79.2968% 27.4639% 30.1983%);
    --palLRedsat1-23: rgb(80.4687% 30.3485% 33.143%);
    --palLRedsat1-24: rgb(81.7908% 32.9627% 36.0877%);
    --palLRedsat1-25: rgb(83.173% 35.9074% 39.0324%);
    --palLRedsat1-26: rgb(84.1646% 38.8521% 42.1574%);
    --palLRedsat1-27: rgb(85.5468% 41.7968% 44.9218%);
    --palLRedsat1-28: rgb(86.7187% 44.3509% 48.0769%);
    --palLRedsat1-29: rgb(87.9206% 47.2956% 51.2019%);
    --palLRedsat1-30: rgb(89.0625% 50.2403% 54.1466%);
    --palLRedsat1-31: rgb(90.2343% 53.5757% 57.1514%);
    --palLRedsat1-32: rgb(91.0156% 57.1814% 60.4266%);
    --palLRedsat1-33: rgb(91.7968% 60.7271% 63.8521%);
    --palLRedsat1-34: rgb(92.5781% 64.3629% 67.0973%);
    --palLRedsat1-35: rgb(93.4795% 68.0889% 70.5528%);
    --palLRedsat1-36: rgb(94.4711% 71.7548% 73.768%);
    --palLRedsat1-37: rgb(95.3125% 75.1502% 77.1033%);
    --palLRedsat1-38: rgb(96.0937% 78.8461% 80.4387%);
    --palLRedsat1-39: rgb(96.875% 82.3918% 83.774%);
    --palLRedsat1-40: rgb(97.6562% 85.9375% 87.1093%);
}
