/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLRedWarm1-1: rgb(35.1562% 3.5156% 12.5%);
    --palLRedWarm1-2: rgb(37.3197% 4.6875% 12.5%);
    --palLRedWarm1-3: rgb(39.4831% 5.4687% 12.1093%);
    --palLRedWarm1-4: rgb(41.6466% 6.25% 12.1093%);
    --palLRedWarm1-5: rgb(43.75% 7.4218% 12.1093%);
    --palLRedWarm1-6: rgb(45.7031% 8.2031% 12.1093%);
    --palLRedWarm1-7: rgb(47.7463% 8.9843% 11.7187%);
    --palLRedWarm1-8: rgb(49.9098% 9.7656% 11.7187%);
    --palLRedWarm1-9: rgb(52.0733% 10.9375% 11.7187%);
    --palLRedWarm1-10: rgb(54.2367% 11.7187% 11.7187%);
    --palLRedWarm1-11: rgb(56.4002% 12.6502% 11.7187%);
    --palLRedWarm1-12: rgb(58.9543% 14.0625% 11.7187%);
    --palLRedWarm1-13: rgb(61.1177% 15.625% 11.7187%);
    --palLRedWarm1-14: rgb(63.2812% 17.1875% 11.7187%);
    --palLRedWarm1-15: rgb(65.8353% 18.5697% 11.7187%);
    --palLRedWarm1-16: rgb(67.9987% 19.9519% 11.7187%);
    --palLRedWarm1-17: rgb(70.1622% 21.7247% 11.7187%);
    --palLRedWarm1-18: rgb(72.7163% 23.1069% 11.7187%);
    --palLRedWarm1-19: rgb(74.8798% 24.4891% 11.7187%);
    --palLRedWarm1-20: rgb(77.0432% 26.1718% 11.7187%);
    --palLRedWarm1-21: rgb(79.2067% 28.0348% 12.8004%);
    --palLRedWarm1-22: rgb(80.9795% 30.9795% 15.3545%);
    --palLRedWarm1-23: rgb(83.143% 33.9242% 17.9086%);
    --palLRedWarm1-24: rgb(84.9158% 36.8689% 20.4627%);
    --palLRedWarm1-25: rgb(86.6887% 39.423% 23.0168%);
    --palLRedWarm1-26: rgb(88.4615% 42.3677% 25.5709%);
    --palLRedWarm1-27: rgb(90.2343% 45.3125% 28.125%);
    --palLRedWarm1-28: rgb(92.1875% 48.0769% 30.4687%);
    --palLRedWarm1-29: rgb(94.1406% 50.8112% 32.8425%);
    --palLRedWarm1-30: rgb(95.9435% 53.756% 35.3966%);
    --palLRedWarm1-31: rgb(96.4843% 57.0913% 39.9038%);
    --palLRedWarm1-32: rgb(96.4843% 60.4266% 44.6814%);
    --palLRedWarm1-33: rgb(96.875% 63.762% 49.399%);
    --palLRedWarm1-34: rgb(96.875% 67.0973% 54.2067%);
    --palLRedWarm1-35: rgb(96.875% 70.4326% 59.2247%);
    --palLRedWarm1-36: rgb(97.2656% 73.768% 63.9423%);
    --palLRedWarm1-37: rgb(97.2656% 77.1033% 68.6598%);
    --palLRedWarm1-38: rgb(97.6262% 80.4387% 73.768%);
    --palLRedWarm1-39: rgb(97.6562% 83.774% 78.4855%);
    --palLRedWarm1-40: rgb(97.6562% 87.1093% 83.2031%);
}
