/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLTurqmed2-1: rgb(16.0156% 40.2343% 43.75%);
    --palLTurqmed2-2: rgb(18.179% 43.179% 45.9134%);
    --palLTurqmed2-3: rgb(20.3125% 45.7331% 48.4675%);
    --palLTurqmed2-4: rgb(22.2656% 48.2872% 51.0216%);
    --palLTurqmed2-5: rgb(24.2788% 50.8413% 53.5757%);
    --palLTurqmed2-6: rgb(26.4423% 53.3954% 55.7391%);
    --palLTurqmed2-7: rgb(28.6057% 56.0396% 58.2932%);
    --palLTurqmed2-8: rgb(30.7692% 58.8942% 60.8473%);
    --palLTurqmed2-9: rgb(32.8125% 61.4483% 63.4014%);
    --palLTurqmed2-10: rgb(34.7055% 64.0024% 65.5649%);
    --palLTurqmed2-11: rgb(36.8689% 66.4062% 67.9687%);
    --palLTurqmed2-12: rgb(38.6418% 67.9387% 69.5012%);
    --palLTurqmed2-13: rgb(40.4146% 69.5312% 70.8834%);
    --palLTurqmed2-14: rgb(42.1875% 71.0937% 72.6562%);
    --palLTurqmed2-15: rgb(43.9603% 72.4759% 74.0384%);
    --palLTurqmed2-16: rgb(45.7031% 74.2187% 75.4206%);
    --palLTurqmed2-17: rgb(47.506% 75.631% 77.1935%);
    --palLTurqmed2-18: rgb(49.2187% 77.0132% 78.5757%);
    --palLTurqmed2-19: rgb(51.0516% 78.786% 80.0781%);
    --palLTurqmed2-20: rgb(52.7343% 80.1682% 81.7307%);
    --palLTurqmed2-21: rgb(54.5973% 81.6406% 82.8125%);
    --palLTurqmed2-22: rgb(56.3701% 82.8125% 83.7139%);
    --palLTurqmed2-23: rgb(58.5336% 83.9843% 84.7055%);
    --palLTurqmed2-24: rgb(60.5468% 85.1562% 85.5468%);
    --palLTurqmed2-25: rgb(62.4699% 86.298% 86.3281%);
    --palLTurqmed2-26: rgb(64.6334% 87.5% 87.1093%);
    --palLTurqmed2-27: rgb(66.4062% 88.6718% 87.8906%);
    --palLTurqmed2-28: rgb(68.5697% 89.8437% 88.8822%);
    --palLTurqmed2-29: rgb(70.3425% 91.0156% 89.8437%);
    --palLTurqmed2-30: rgb(72.506% 92.0372% 90.625%);
    --palLTurqmed2-31: rgb(74.6694% 92.9687% 91.4062%);
    --palLTurqmed2-32: rgb(76.8329% 93.75% 92.0673%);
    --palLTurqmed2-33: rgb(78.9963% 94.5312% 92.5781%);
    --palLTurqmed2-34: rgb(81.1598% 94.9218% 93.3593%);
    --palLTurqmed2-35: rgb(83.3233% 95.7031% 94.1406%);
    --palLTurqmed2-36: rgb(85.4867% 96.4843% 94.8617%);
    --palLTurqmed2-37: rgb(87.6502% 97.2656% 95.3125%);
    --palLTurqmed2-38: rgb(89.8137% 98.0468% 96.0937%);
    --palLTurqmed2-39: rgb(91.9771% 98.8281% 96.875%);
    --palLTurqmed2-40: rgb(94.5312% 99.6093% 97.2656%);
}
