/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMagma-1: rgb(0.1462% 0.0466% 1.3866%);
    --palMagma-2: rgb(1.0523% 0.8994% 5.7101%);
    --palMagma-3: rgb(2.8397% 2.3398% 10.9416%);
    --palMagma-4: rgb(5.4963% 4.1101% 16.4136%);
    --palMagma-5: rgb(8.417% 5.6518% 22.2165%);
    --palMagma-6: rgb(11.677% 6.6175% 28.3386%);
    --palMagma-7: rgb(15.4264% 6.8571% 34.5546%);
    --palMagma-8: rgb(19.6626% 6.4082% 40.2195%);
    --palMagma-9: rgb(24.0892% 5.9466% 44.4849%);
    --palMagma-10: rgb(28.3957% 6.2984% 47.1949%);
    --palMagma-11: rgb(32.5289% 7.4624% 48.813%);
    --palMagma-12: rgb(36.5541% 9.0123% 49.7869%);
    --palMagma-13: rgb(40.5354% 10.6578% 50.3693%);
    --palMagma-14: rgb(44.5163% 12.2724% 50.6901%);
    --palMagma-15: rgb(48.5245% 13.8126% 50.8%);
    --palMagma-16: rgb(52.5749% 15.2735% 50.7169%);
    --palMagma-17: rgb(56.6746% 16.6651% 50.433%);
    --palMagma-18: rgb(60.8219% 18.0091% 49.9344%);
    --palMagma-19: rgb(65.0079% 19.336% 49.201%);
    --palMagma-20: rgb(69.2146% 20.6872% 48.216%);
    --palMagma-21: rgb(73.4139% 22.1187% 46.9664%);
    --palMagma-22: rgb(77.5625% 23.7049% 45.4512%);
    --palMagma-23: rgb(81.5981% 25.5428% 43.6898%);
    --palMagma-24: rgb(85.4294% 27.7548% 41.7389%);
    --palMagma-25: rgb(88.934% 30.4729% 39.7236%);
    --palMagma-26: rgb(91.9625% 33.8083% 37.8743%);
    --palMagma-27: rgb(94.4006% 37.7643% 36.5136%);
    --palMagma-28: rgb(96.222% 42.2128% 35.9543%);
    --palMagma-29: rgb(97.5205% 46.9427% 36.3215%);
    --palMagma-30: rgb(98.4184% 51.7854% 37.5736%);
    --palMagma-31: rgb(99.025% 56.6435% 39.5674%);
    --palMagma-32: rgb(99.4162% 61.4735% 42.1615%);
    --palMagma-33: rgb(99.6396% 66.265% 45.2321%);
    --palMagma-34: rgb(99.7308% 71.0177% 48.688%);
    --palMagma-35: rgb(99.7101% 75.7407% 52.4656%);
    --palMagma-36: rgb(99.5967% 80.4422% 56.522%);
    --palMagma-37: rgb(99.4085% 85.1298% 60.8305%);
    --palMagma-38: rgb(99.1718% 89.8076% 65.3656%);
    --palMagma-39: rgb(98.9269% 94.4762% 70.0908%);
    --palMagma-40: rgb(98.7053% 99.1438% 74.9504%);
}
