/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palManagua-1: rgb(100% 81.263% 40.424%);
    --palManagua-2: rgb(96.7986% 76.0458% 38.6889%);
    --palManagua-3: rgb(93.63% 71.0223% 37.0147%);
    --palManagua-4: rgb(90.504% 66.2093% 35.409%);
    --palManagua-5: rgb(87.4083% 61.5936% 33.8663%);
    --palManagua-6: rgb(84.3296% 57.1592% 32.383%);
    --palManagua-7: rgb(81.2483% 52.8987% 30.9606%);
    --palManagua-8: rgb(78.1498% 48.8092% 29.6%);
    --palManagua-9: rgb(75.017% 44.8953% 28.3102%);
    --palManagua-10: rgb(71.8218% 41.1533% 27.0963%);
    --palManagua-11: rgb(68.5123% 37.5525% 25.9603%);
    --palManagua-12: rgb(65.0221% 34.0497% 24.9068%);
    --palManagua-13: rgb(61.299% 30.6204% 23.9542%);
    --palManagua-14: rgb(57.359% 27.302% 23.155%);
    --palManagua-15: rgb(53.2747% 24.1784% 22.5793%);
    --palManagua-16: rgb(49.1691% 21.3664% 22.3246%);
    --palManagua-17: rgb(45.1896% 18.9968% 22.5074%);
    --palManagua-18: rgb(41.4848% 17.2049% 23.258%);
    --palManagua-19: rgb(38.1903% 16.1268% 24.7058%);
    --palManagua-20: rgb(35.4063% 15.8596% 26.9575%);
    --palManagua-21: rgb(33.19% 16.4518% 30.0481%);
    --palManagua-22: rgb(31.5526% 17.8822% 33.9081%);
    --palManagua-23: rgb(30.4557% 20.0484% 38.3633%);
    --palManagua-24: rgb(29.8564% 22.8352% 43.1947%);
    --palManagua-25: rgb(29.7095% 26.0866% 48.1665%);
    --palManagua-26: rgb(29.9748% 29.6701% 53.0672%);
    --palManagua-27: rgb(30.601% 33.454% 57.733%);
    --palManagua-28: rgb(31.5166% 37.3253% 62.0553%);
    --palManagua-29: rgb(32.6443% 41.2137% 65.9917%);
    --palManagua-30: rgb(33.9241% 45.0977% 69.5678%);
    --palManagua-31: rgb(35.3173% 49.0216% 72.8733%);
    --palManagua-32: rgb(36.8116% 53.0624% 76.0164%);
    --palManagua-33: rgb(38.3897% 57.2613% 79.0728%);
    --palManagua-34: rgb(40.0311% 61.6182% 82.0765%);
    --palManagua-35: rgb(41.7106% 66.1104% 85.0417%);
    --palManagua-36: rgb(43.4166% 70.7288% 87.9867%);
    --palManagua-37: rgb(45.1443% 75.4842% 90.9372%);
    --palManagua-38: rgb(46.8933% 80.3992% 93.9167%);
    --palManagua-39: rgb(48.655% 85.4811% 96.9361%);
    --palManagua-40: rgb(50.4109% 90.708% 99.978%);
}
