/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMargot3-1: rgb(52.941176% 63.529412% 64.313725%);
    --palMargot3-2: rgb(79.215686% 62.745098% 39.607843%);
    --palMargot3-3: rgb(83.921569% 79.215686% 74.901961%);
    --palMargot3-4: rgb(83.921569% 62.745098% 62.745098%);
}
