/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palMatter-1: rgb(99.6078% 92.9411% 69.0196%);
    --palMatter-2: rgb(99.2156% 89.3815% 65.6711%);
    --palMatter-3: rgb(98.8235% 85.8521% 62.2926%);
    --palMatter-4: rgb(98.4313% 82.2624% 58.9743%);
    --palMatter-5: rgb(98.0392% 78.7631% 55.6259%);
    --palMatter-6: rgb(97.647% 75.1432% 52.6696%);
    --palMatter-7: rgb(97.2549% 71.6742% 49.7134%);
    --palMatter-8: rgb(96.561% 68.3257% 47.1493%);
    --palMatter-9: rgb(96.0784% 64.5852% 44.5852%);
    --palMatter-10: rgb(95.3544% 61.2368% 42.0211%);
    --palMatter-11: rgb(94.7511% 57.7375% 39.8491%);
    --palMatter-12: rgb(93.7556% 54.1478% 37.6772%);
    --palMatter-13: rgb(92.9411% 50.7993% 36.0784%);
    --palMatter-14: rgb(92.1568% 47.0588% 34.5098%);
    --palMatter-15: rgb(90.9803% 43.7104% 33.5143%);
    --palMatter-16: rgb(89.7737% 40.3619% 32.911%);
    --palMatter-17: rgb(87.9939% 37.0135% 32.549%);
    --palMatter-18: rgb(86.2745% 33.6651% 32.549%);
    --palMatter-19: rgb(84.4343% 30.7088% 32.9411%);
    --palMatter-20: rgb(82.2624% 27.7526% 33.4238%);
    --palMatter-21: rgb(79.6983% 25.1885% 34.1176%);
    --palMatter-22: rgb(77.1342% 23.0165% 35.0226%);
    --palMatter-23: rgb(74.5701% 20.8446% 36.018%);
    --palMatter-24: rgb(71.6138% 18.6726% 36.8627%);
    --palMatter-25: rgb(68.6576% 16.8929% 37.6168%);
    --palMatter-26: rgb(65.3092% 15.5052% 38.0392%);
    --palMatter-27: rgb(62.3529% 14.1176% 38.4313%);
    --palMatter-28: rgb(59.0045% 12.9411% 38.8235%);
    --palMatter-29: rgb(55.6561% 11.7647% 38.8235%);
    --palMatter-30: rgb(52.3076% 11.1312% 38.8235%);
    --palMatter-31: rgb(48.9592% 10.5882% 38.4313%);
    --palMatter-32: rgb(45.6108% 10.196% 37.7677%);
    --palMatter-33: rgb(41.8702% 9.8039% 36.8627%);
    --palMatter-34: rgb(38.5218% 9.4117% 35.6862%);
    --palMatter-35: rgb(35.1734% 9.0196% 34.1176%);
    --palMatter-36: rgb(31.825% 8.6274% 32.549%);
    --palMatter-37: rgb(28.3257% 8.2352% 30.5882%);
    --palMatter-38: rgb(25.1282% 7.4509% 28.6576%);
    --palMatter-39: rgb(21.7797% 6.6666% 26.4856%);
    --palMatter-40: rgb(18.4313% 5.8823% 24.3137%);
}
