/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palMoonrise3-1: rgb(94.901961% 85.490196% 32.156863%);
    --palMoonrise3-2: rgb(77.254902% 61.568627% 0%);
    --palMoonrise3-3: rgb(79.607843% 79.607843% 78.823529%);
    --palMoonrise3-4: rgb(10.588235% 11.764706% 7.843137%);
}
