/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palNavia-1: rgb(1.342% 7.5817% 15.299%);
    --palNavia-2: rgb(1.7894% 10.4548% 20.012%);
    --palNavia-3: rgb(2.0055% 13.2893% 24.9961%);
    --palNavia-4: rgb(2.221% 16.2746% 30.1536%);
    --palNavia-5: rgb(2.5072% 19.3718% 35.3412%);
    --palNavia-6: rgb(2.9739% 22.5459% 40.4%);
    --palNavia-7: rgb(3.8095% 25.7704% 45.1336%);
    --palNavia-8: rgb(5.1092% 29.0216% 49.312%);
    --palNavia-9: rgb(6.8235% 32.2561% 52.695%);
    --palNavia-10: rgb(8.8004% 35.394% 55.0966%);
    --palNavia-11: rgb(10.8241% 38.2973% 56.4488%);
    --palNavia-12: rgb(12.691% 40.8313% 56.8808%);
    --palNavia-13: rgb(14.3566% 42.9496% 56.6542%);
    --palNavia-14: rgb(15.867% 44.742% 56.048%);
    --palNavia-15: rgb(17.3013% 46.331% 55.2515%);
    --palNavia-16: rgb(18.7136% 47.8038% 54.3765%);
    --palNavia-17: rgb(20.1241% 49.2144% 53.477%);
    --palNavia-18: rgb(21.5594% 50.6007% 52.5694%);
    --palNavia-19: rgb(23.0422% 51.9978% 51.6473%);
    --palNavia-20: rgb(24.5932% 53.4361% 50.6976%);
    --palNavia-21: rgb(26.244% 54.948% 49.7034%);
    --palNavia-22: rgb(28.0157% 56.558% 48.6483%);
    --palNavia-23: rgb(29.9283% 58.2928% 47.5192%);
    --palNavia-24: rgb(32.0076% 60.1737% 46.3065%);
    --palNavia-25: rgb(34.2772% 62.2171% 45.0185%);
    --palNavia-26: rgb(36.7839% 64.4418% 43.6843%);
    --palNavia-27: rgb(39.619% 66.867% 42.382%);
    --palNavia-28: rgb(42.9429% 69.5197% 41.2876%);
    --palNavia-29: rgb(46.9619% 72.4074% 40.6984%);
    --palNavia-30: rgb(51.8703% 75.4946% 41.0594%);
    --palNavia-31: rgb(57.6636% 78.6513% 42.7995%);
    --palNavia-32: rgb(64.0303% 81.672% 46.105%);
    --palNavia-33: rgb(70.4177% 84.3694% 50.7211%);
    --palNavia-34: rgb(76.3312% 86.6717% 56.1026%);
    --palNavia-35: rgb(81.541% 88.6424% 61.7216%);
    --palNavia-36: rgb(86.0489% 90.3829% 67.2262%);
    --palNavia-37: rgb(89.9341% 91.9584% 72.3971%);
    --palNavia-38: rgb(93.2762% 93.3889% 77.1052%);
    --palNavia-39: rgb(96.1493% 94.6718% 81.2947%);
    --palNavia-40: rgb(98.669% 95.828% 85.048%);
}
