/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palNipySpectral-1: rgb(0% 0% 0%);
    --palNipySpectral-2: rgb(46.67% 0% 53.33%);
    --palNipySpectral-3: rgb(53.33% 0% 60%);
    --palNipySpectral-4: rgb(0% 0% 66.67%);
    --palNipySpectral-5: rgb(0% 0% 86.67%);
    --palNipySpectral-6: rgb(0% 46.67% 86.67%);
    --palNipySpectral-7: rgb(0% 60% 86.67%);
    --palNipySpectral-8: rgb(0% 66.67% 66.67%);
    --palNipySpectral-9: rgb(0% 66.67% 53.33%);
    --palNipySpectral-10: rgb(0% 60% 0%);
    --palNipySpectral-11: rgb(0% 73.33% 0%);
    --palNipySpectral-12: rgb(0% 86.67% 0%);
    --palNipySpectral-13: rgb(0% 100% 0%);
    --palNipySpectral-14: rgb(73.33% 100% 0%);
    --palNipySpectral-15: rgb(93.33% 93.33% 0%);
    --palNipySpectral-16: rgb(100% 80% 0%);
    --palNipySpectral-17: rgb(100% 60% 0%);
    --palNipySpectral-18: rgb(100% 0% 0%);
    --palNipySpectral-19: rgb(86.67% 0% 0%);
    --palNipySpectral-20: rgb(80% 0% 0%);
    --palNipySpectral-21: rgb(80% 80% 80%);
}
