/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palNuuk-1: rgb(1.8013% 35.076% 55.062%);
    --palNuuk-2: rgb(6.5421% 35.7606% 54.1236%);
    --palNuuk-3: rgb(9.8622% 36.4941% 53.237%);
    --palNuuk-4: rgb(12.6716% 37.3088% 52.4368%);
    --palNuuk-5: rgb(15.3419% 38.2336% 51.7641%);
    --palNuuk-6: rgb(18.0319% 39.2984% 51.2613%);
    --palNuuk-7: rgb(20.824% 40.5216% 50.9712%);
    --palNuuk-8: rgb(23.7495% 41.915% 50.9234%);
    --palNuuk-9: rgb(26.8236% 43.4702% 51.1343%);
    --palNuuk-10: rgb(30.0275% 45.1714% 51.5996%);
    --palNuuk-11: rgb(33.3349% 46.986% 52.2939%);
    --palNuuk-12: rgb(36.7101% 48.8833% 53.1708%);
    --palNuuk-13: rgb(40.1189% 50.8339% 54.1738%);
    --palNuuk-14: rgb(43.526% 52.812% 55.24%);
    --palNuuk-15: rgb(46.8936% 54.7936% 56.3026%);
    --palNuuk-16: rgb(50.1879% 56.7588% 57.2958%);
    --palNuuk-17: rgb(53.3606% 58.6864% 58.1582%);
    --palNuuk-18: rgb(56.3681% 60.552% 58.8352%);
    --palNuuk-19: rgb(59.1585% 62.3331% 59.2873%);
    --palNuuk-20: rgb(61.6954% 64.0057% 59.488%);
    --palNuuk-21: rgb(63.9547% 65.5581% 59.4347%);
    --palNuuk-22: rgb(65.9364% 66.9829% 59.1426%);
    --palNuuk-23: rgb(67.6618% 68.2893% 58.6406%);
    --palNuuk-24: rgb(69.163% 69.491% 57.9653%);
    --palNuuk-25: rgb(70.4891% 70.6111% 57.1551%);
    --palNuuk-26: rgb(71.6852% 71.6733% 56.2515%);
    --palNuuk-27: rgb(72.799% 72.705% 55.288%);
    --palNuuk-28: rgb(73.8783% 73.7381% 54.3067%);
    --palNuuk-29: rgb(74.9733% 74.813% 53.3523%);
    --palNuuk-30: rgb(76.1436% 75.9786% 52.4919%);
    --palNuuk-31: rgb(77.4618% 77.3028% 51.8123%);
    --palNuuk-32: rgb(79.019% 78.8723% 51.4423%);
    --palNuuk-33: rgb(80.907% 80.7763% 51.5482%);
    --palNuuk-34: rgb(83.19% 83.0743% 52.3163%);
    --palNuuk-35: rgb(85.8519% 85.7452% 53.8778%);
    --palNuuk-36: rgb(88.7631% 88.6609% 56.2329%);
    --palNuuk-37: rgb(91.7215% 91.6249% 59.2311%);
    --palNuuk-38: rgb(94.5516% 94.4694% 62.6346%);
    --palNuuk-39: rgb(97.1761% 97.1229% 66.2315%);
    --palNuuk-40: rgb(99.624% 99.617% 69.898%);
}
