/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOcean-1: rgb(0% 50% 0%);
    --palOcean-2: rgb(0% 46.1523% 2.5653%);
    --palOcean-3: rgb(0% 42.3046% 5.13%);
    --palOcean-4: rgb(0% 38.463% 7.69%);
    --palOcean-5: rgb(0% 34.6192% 10.26%);
    --palOcean-6: rgb(0% 30.7715% 12.8199%);
    --palOcean-7: rgb(0% 26.9238% 15.3823%);
    --palOcean-8: rgb(0% 23.0761% 17.95%);
    --palOcean-9: rgb(0% 19.2284% 20.51%);
    --palOcean-10: rgb(0% 15.3807% 23.0799%);
    --palOcean-11: rgb(0% 11.5369% 25.64%);
    --palOcean-12: rgb(0% 7.6953% 28.2092%);
    --palOcean-13: rgb(0% 3.8476% 30.77%);
    --palOcean-14: rgb(0% 0% 33.33%);
    --palOcean-15: rgb(0% 3.8476% 35.9%);
    --palOcean-16: rgb(0% 7.6953% 38.46%);
    --palOcean-17: rgb(0% 11.5369% 41.0261%);
    --palOcean-18: rgb(0% 15.3807% 43.59%);
    --palOcean-19: rgb(0% 19.2284% 46.1499%);
    --palOcean-20: rgb(0% 23.0761% 48.72%);
    --palOcean-21: rgb(0% 26.9238% 51.28%);
    --palOcean-22: rgb(0% 30.7715% 53.85%);
    --palOcean-23: rgb(0% 34.6192% 56.4099%);
    --palOcean-24: rgb(0% 38.463% 58.9738%);
    --palOcean-25: rgb(0% 42.3046% 61.54%);
    --palOcean-26: rgb(0% 46.1523% 64.1%);
    --palOcean-27: rgb(0% 50% 66.67%);
    --palOcean-28: rgb(7.6953% 53.8476% 69.23%);
    --palOcean-29: rgb(15.3807% 57.6953% 71.7907%);
    --palOcean-30: rgb(23.0761% 61.5369% 74.3599%);
    --palOcean-31: rgb(30.77% 65.3807% 76.9199%);
    --palOcean-32: rgb(38.46% 69.2284% 79.49%);
    --palOcean-33: rgb(46.1523% 73.0761% 82.05%);
    --palOcean-34: rgb(53.8476% 76.9238% 84.6176%);
    --palOcean-35: rgb(61.54% 80.7715% 87.18%);
    --palOcean-36: rgb(69.2299% 84.6192% 89.74%);
    --palOcean-37: rgb(76.9238% 88.463% 92.3099%);
    --palOcean-38: rgb(84.6192% 92.3046% 94.87%);
    --palOcean-39: rgb(92.3046% 96.1523% 97.4346%);
    --palOcean-40: rgb(100% 100% 100%);
}
