/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOleron-1: rgb(10.105% 15.003% 35.027%);
    --palOleron-2: rgb(14.0363% 18.8202% 38.8663%);
    --palOleron-3: rgb(17.9404% 22.7558% 42.8028%);
    --palOleron-4: rgb(21.9333% 26.7982% 46.84%);
    --palOleron-5: rgb(26.0368% 30.9364% 50.9743%);
    --palOleron-6: rgb(30.24% 35.1666% 55.199%);
    --palOleron-7: rgb(34.5376% 39.4816% 59.5106%);
    --palOleron-8: rgb(38.921% 43.8775% 63.9037%);
    --palOleron-9: rgb(43.3843% 48.3496% 68.3723%);
    --palOleron-10: rgb(47.9213% 52.8943% 72.9143%);
    --palOleron-11: rgb(52.5294% 57.5084% 77.523%);
    --palOleron-12: rgb(57.2046% 62.1856% 82.1752%);
    --palOleron-13: rgb(61.9286% 66.9086% 86.7439%);
    --palOleron-14: rgb(66.603% 71.575% 90.861%);
    --palOleron-15: rgb(70.9773% 75.9347% 93.9616%);
    --palOleron-16: rgb(74.8606% 79.8086% 95.8803%);
    --palOleron-17: rgb(78.3738% 83.3224% 97.0396%);
    --palOleron-18: rgb(81.7646% 86.7166% 97.9391%);
    --palOleron-19: rgb(85.1549% 90.1143% 98.7913%);
    --palOleron-20: rgb(88.5646% 93.5396% 99.6397%);
    --palOleron-21: rgb(13.1423% 30.7223% 0.0249%);
    --palOleron-22: rgb(19.4252% 32.5627% 0.0071%);
    --palOleron-23: rgb(25.0275% 34.2733% 0.0677%);
    --palOleron-24: rgb(30.4186% 36.0211% 0.5079%);
    --palOleron-25: rgb(35.971% 38.1576% 2.284%);
    --palOleron-26: rgb(41.8468% 40.969% 6.6605%);
    --palOleron-27: rgb(47.812% 44.317% 12.065%);
    --palOleron-28: rgb(53.567% 47.8382% 17.7893%);
    --palOleron-29: rgb(59.1086% 51.3966% 23.5677%);
    --palOleron-30: rgb(64.6371% 55.1345% 29.3603%);
    --palOleron-31: rgb(70.3088% 59.2001% 35.2041%);
    --palOleron-32: rgb(76.1346% 63.5678% 41.1139%);
    --palOleron-33: rgb(81.9932% 68.1343% 47.1377%);
    --palOleron-34: rgb(87.5521% 72.856% 53.3709%);
    --palOleron-35: rgb(92.0963% 77.6354% 59.7954%);
    --palOleron-36: rgb(95.0144% 82.2138% 66.1066%);
    --palOleron-37: rgb(96.5685% 86.4836% 72.1203%);
    --palOleron-38: rgb(97.519% 90.6193% 78.0116%);
    --palOleron-39: rgb(98.315% 94.7857% 83.9641%);
    --palOleron-40: rgb(99.049% 99.02% 90.023%);
}
