/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOtherOutl6-1: rgb(17.5781% 12.1093% 12.1093%);
    --palOtherOutl6-2: rgb(20.5228% 15.054% 14.2728%);
    --palOtherOutl6-3: rgb(24.2788% 18.78% 17.6081%);
    --palOtherOutl6-4: rgb(28.2151% 22.7463% 20.9435%);
    --palOtherOutl6-5: rgb(32.1514% 26.6826% 24.3389%);
    --palOtherOutl6-6: rgb(35.8173% 30.7391% 27.8846%);
    --palOtherOutl6-7: rgb(39.9338% 34.9459% 31.3401%);
    --palOtherOutl6-8: rgb(43.5697% 39.2728% 34.9759%);
    --palOtherOutl6-9: rgb(47.506% 43.7199% 38.5216%);
    --palOtherOutl6-10: rgb(52.6141% 49.4891% 43.2992%);
    --palOtherOutl6-11: rgb(58.5036% 56.1598% 49.1286%);
    --palOtherOutl6-12: rgb(65.1442% 63.1911% 55.3786%);
    --palOtherOutl6-13: rgb(71.4543% 70.0721% 61.6887%);
    --palOtherOutl6-14: rgb(77.7343% 76.5625% 67.9687%);
    --palOtherOutl6-15: rgb(85.006% 84.8257% 76.2319%);
    --palOtherOutl6-16: rgb(93.4495% 93.4495% 86.8689%);
    --palOtherOutl6-17: rgb(98.0468% 98.0468% 76.1117%);
    --palOtherOutl6-18: rgb(97.2055% 92.7884% 54.5973%);
    --palOtherOutl6-19: rgb(95.8233% 81.4603% 31.8209%);
    --palOtherOutl6-20: rgb(93.3593% 66.256% 14.0024%);
    --palOtherOutl6-21: rgb(90.8052% 50.1502% 4.0865%);
    --palOtherOutl6-22: rgb(79.6274% 30.2884% 0%);
    --palOtherOutl6-23: rgb(62.9807% 14.423% 1.5625%);
    --palOtherOutl6-24: rgb(40.024% 5.8593% 7.2716%);
    --palOtherOutl6-25: rgb(41.7067% 26.5324% 25.7512%);
    --palOtherOutl6-26: rgb(46.8449% 30.048% 27.1334%);
    --palOtherOutl6-27: rgb(51.9531% 33.2031% 28.125%);
    --palOtherOutl6-28: rgb(57.6622% 36.7487% 28.9062%);
    --palOtherOutl6-29: rgb(62.53% 39.8737% 28.8762%);
    --palOtherOutl6-30: rgb(66.1057% 43.0588% 27.7343%);
    --palOtherOutl6-31: rgb(70.042% 48.167% 28.6358%);
    --palOtherOutl6-32: rgb(74.7596% 54.3269% 33.7439%);
    --palOtherOutl6-33: rgb(77.4338% 59.9459% 37.1995%);
    --palOtherOutl6-34: rgb(80.3786% 65.4447% 40.5348%);
    --palOtherOutl6-35: rgb(83.4435% 71.0637% 44.2608%);
    --palOtherOutl6-36: rgb(86.6586% 76.8329% 49.0985%);
    --palOtherOutl6-37: rgb(89.9939% 82.7223% 54.7475%);
    --palOtherOutl6-38: rgb(92.548% 87.8305% 63.5516%);
    --palOtherOutl6-39: rgb(95.4927% 93.7199% 75.6911%);
    --palOtherOutl6-40: rgb(99.6093% 98.8281% 93.3593%);
}
