/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palOxy-1: rgb(25.098% 1.9607% 1.9607%);
    --palOxy-2: rgb(29.0497% 2.3529% 2.9562%);
    --palOxy-3: rgb(33.3936% 2.745% 4.3137%);
    --palOxy-4: rgb(37.9788% 2.745% 5.098%);
    --palOxy-5: rgb(42.0814% 2.3529% 5.8823%);
    --palOxy-6: rgb(46.8174% 1.9607% 5.8823%);
    --palOxy-7: rgb(50.7692% 2.5339% 5.0075%);
    --palOxy-8: rgb(54.0271% 6.5761% 3.6199%);
    --palOxy-9: rgb(31.4932% 31.4932% 31.3725%);
    --palOxy-10: rgb(34.0573% 33.9969% 33.6651%);
    --palOxy-11: rgb(36.2292% 36.2292% 35.8371%);
    --palOxy-12: rgb(38.7933% 38.7933% 38.4012%);
    --palOxy-13: rgb(41.1463% 40.9653% 40.7541%);
    --palOxy-14: rgb(43.5294% 43.5294% 43.1372%);
    --palOxy-15: rgb(46.2745% 46.0935% 45.7013%);
    --palOxy-16: rgb(48.6576% 48.2956% 48.2654%);
    --palOxy-17: rgb(51.2217% 51.2217% 50.8295%);
    --palOxy-18: rgb(53.7858% 53.7858% 53.3936%);
    --palOxy-19: rgb(56.6214% 56.3499% 56.2292%);
    --palOxy-20: rgb(59.2156% 58.914% 58.5218%);
    --palOxy-21: rgb(61.8702% 61.8702% 61.4781%);
    --palOxy-22: rgb(64.555% 64.555% 64.1628%);
    --palOxy-23: rgb(67.3906% 67.3906% 66.9984%);
    --palOxy-24: rgb(70.3469% 70.3469% 69.9547%);
    --palOxy-25: rgb(73.3031% 73.273% 72.8808%);
    --palOxy-26: rgb(76.2594% 76.2594% 75.8672%);
    --palOxy-27: rgb(79.6078% 79.2156% 78.8235%);
    --palOxy-28: rgb(82.3831% 82.3831% 81.9909%);
    --palOxy-29: rgb(85.5203% 85.5203% 85.1282%);
    --palOxy-30: rgb(88.8687% 88.8687% 88.4766%);
    --palOxy-31: rgb(92.2775% 92.2775% 91.4932%);
    --palOxy-32: rgb(95.5656% 95.5656% 95.1734%);
    --palOxy-33: rgb(94.0271% 97.5565% 35.0226%);
    --palOxy-34: rgb(91.7647% 93.6048% 25.5505%);
    --palOxy-35: rgb(91.3725% 89.2911% 20.9351%);
    --palOxy-36: rgb(90.6485% 84.7662% 17.7073%);
    --palOxy-37: rgb(89.8039% 80.7239% 15.3846%);
    --palOxy-38: rgb(89.0196% 76.5007% 13.3634%);
    --palOxy-39: rgb(87.6621% 72.368% 11.5837%);
    --palOxy-40: rgb(86.6666% 68.6274% 9.8039%);
}
