/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPhase-1: rgb(65.8823% 47.0588% 5.098%);
    --palPhase-2: rgb(69.6229% 44.4947% 9.6229%);
    --palPhase-3: rgb(72.9713% 41.9306% 13.7858%);
    --palPhase-4: rgb(75.9276% 39.3665% 17.8883%);
    --palPhase-5: rgb(78.8838% 36.4102% 22.0814%);
    --palPhase-6: rgb(81.4479% 33.1825% 26.8174%);
    --palPhase-7: rgb(83.5294% 30.015% 31.9457%);
    --palPhase-8: rgb(85.098% 26.4555% 37.7677%);
    --palPhase-9: rgb(86.6666% 22.6244% 44.2835%);
    --palPhase-10: rgb(87.3906% 19.276% 51.5837%);
    --palPhase-11: rgb(87.0588% 15.9276% 59.6681%);
    --palPhase-12: rgb(86.2745% 14.5098% 67.7224%);
    --palPhase-13: rgb(84.1327% 15.4751% 75.0527%);
    --palPhase-14: rgb(81.5686% 18.4313% 81.5686%);
    --palPhase-15: rgb(78.009% 22.5641% 87.0889%);
    --palPhase-16: rgb(74.0573% 27.0889% 91.0105%);
    --palPhase-17: rgb(69.3212% 31.2217% 93.7254%);
    --palPhase-18: rgb(64.193% 35.4147% 95.2941%);
    --palPhase-19: rgb(58.7933% 39.3665% 95.6862%);
    --palPhase-20: rgb(52.7601% 42.926% 95.2036%);
    --palPhase-21: rgb(46.4555% 46.4856% 93.4238%);
    --palPhase-22: rgb(39.638% 49.5324% 90.4675%);
    --palPhase-23: rgb(32.3378% 52.0965% 86.3951%);
    --palPhase-24: rgb(25.5806% 54.1176% 81.6591%);
    --palPhase-25: rgb(19.6681% 55.6862% 76.1387%);
    --palPhase-26: rgb(14.9321% 56.8627% 71.0105%);
    --palPhase-27: rgb(11.7647% 57.647% 65.8823%);
    --palPhase-28: rgb(9.5927% 58.4313% 60.7541%);
    --palPhase-29: rgb(7.4208% 59.2156% 55.6259%);
    --palPhase-30: rgb(5.098% 59.6078% 50.4977%);
    --palPhase-31: rgb(4.7662% 60% 44.917%);
    --palPhase-32: rgb(8.7782% 60.3921% 38.2805%);
    --palPhase-33: rgb(15.6561% 60.3921% 30.7088%);
    --palPhase-34: rgb(24.736% 59.6983% 22.6244%);
    --palPhase-35: rgb(34.2081% 58.3107% 14.5399%);
    --palPhase-36: rgb(43.288% 56.4705% 8.6877%);
    --palPhase-37: rgb(50.2564% 54.3589% 5.8823%);
    --palPhase-38: rgb(56.018% 51.7948% 5.098%);
    --palPhase-39: rgb(61.1463% 49.6229% 5.098%);
    --palPhase-40: rgb(65.8823% 47.0588% 5.098%);
}
