/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPrinsenvlag-1: rgb(66.6522% 32.1622% 27.1748%);
    --palPrinsenvlag-2: rgb(70.6808% 33.9283% 24.4988%);
    --palPrinsenvlag-3: rgb(74.4294% 36.0013% 21.4211%);
    --palPrinsenvlag-4: rgb(77.8309% 38.4369% 17.9416%);
    --palPrinsenvlag-5: rgb(80.8066% 41.2842% 14.0217%);
    --palPrinsenvlag-6: rgb(83.256% 44.5863% 9.5811%);
    --palPrinsenvlag-7: rgb(85.0484% 48.3774% 4.6966%);
    --palPrinsenvlag-8: rgb(86.0399% 52.6565% 2.339%);
    --palPrinsenvlag-9: rgb(86.2016% 57.3037% 7.6257%);
    --palPrinsenvlag-10: rgb(85.8326% 62.0193% 16.1146%);
    --palPrinsenvlag-11: rgb(85.4203% 66.5187% 25.0627%);
    --palPrinsenvlag-12: rgb(85.2712% 70.7152% 33.9658%);
    --palPrinsenvlag-13: rgb(85.4925% 74.6406% 42.707%);
    --palPrinsenvlag-14: rgb(86.1089% 78.351% 51.2627%);
    --palPrinsenvlag-15: rgb(87.1205% 81.8979% 59.6236%);
    --palPrinsenvlag-16: rgb(88.5205% 85.324% 67.7773%);
    --palPrinsenvlag-17: rgb(90.3032% 88.6642% 75.7034%);
    --palPrinsenvlag-18: rgb(92.473% 91.9448% 83.3667%);
    --palPrinsenvlag-19: rgb(95.0784% 95.1764% 90.682%);
    --palPrinsenvlag-20: rgb(98.3092% 98.3468% 97.2287%);
    --palPrinsenvlag-21: rgb(97.0667% 98.7095% 98.3872%);
    --palPrinsenvlag-22: rgb(90.8729% 96.297% 95.3368%);
    --palPrinsenvlag-23: rgb(84.2838% 94.0475% 92.6463%);
    --palPrinsenvlag-24: rgb(77.2795% 91.9097% 90.4663%);
    --palPrinsenvlag-25: rgb(69.8851% 89.8099% 88.9726%);
    --palPrinsenvlag-26: rgb(62.3282% 87.6243% 88.3073%);
    --palPrinsenvlag-27: rgb(55.1506% 85.2033% 88.4077%);
    --palPrinsenvlag-28: rgb(48.9212% 82.4748% 88.971%);
    --palPrinsenvlag-29: rgb(43.8656% 79.4753% 89.7093%);
    --palPrinsenvlag-30: rgb(39.9681% 76.2685% 90.4858%);
    --palPrinsenvlag-31: rgb(37.1863% 72.8947% 91.2525%);
    --palPrinsenvlag-32: rgb(35.5243% 69.3659% 91.9745%);
    --palPrinsenvlag-33: rgb(35.0177% 65.6738% 92.5755%);
    --palPrinsenvlag-34: rgb(35.6887% 61.8022% 92.8708%);
    --palPrinsenvlag-35: rgb(37.4878% 57.7592% 92.4266%);
    --palPrinsenvlag-36: rgb(40.1211% 53.6874% 90.2832%);
    --palPrinsenvlag-37: rgb(42.5219% 50.0507% 85.262%);
    --palPrinsenvlag-38: rgb(43.4792% 47.1562% 78.1661%);
    --palPrinsenvlag-39: rgb(43.1834% 44.724% 70.7204%);
    --palPrinsenvlag-40: rgb(42.1591% 42.4904% 63.6181%);
}
