/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palPrism-1: rgb(100% 0% 0%);
    --palPrism-2: rgb(100% 91.1823% 0%);
    --palPrism-3: rgb(3.923% 72.7469% 24.5223%);
    --palPrism-4: rgb(34.8392% 0% 99.7846%);
    --palPrism-5: rgb(100% 8.4838% 0%);
    --palPrism-6: rgb(83.3476% 100% 0%);
    --palPrism-7: rgb(0% 41.11% 68.4561%);
    --palPrism-8: rgb(67.3246% 0% 76.9892%);
    --palPrism-9: rgb(100% 41.663% 0%);
    --palPrism-10: rgb(49.9838% 100% 0%);
    --palPrism-11: rgb(0.4653% 9.1876% 96.4492%);
    --palPrism-12: rgb(98.7061% 0% 35.5669%);
    --palPrism-13: rgb(100% 73.0046% 0%);
    --palPrism-14: rgb(19.8% 91.29% 0%);
    --palPrism-15: rgb(14.833% 0% 100%);
    --palPrism-16: rgb(100% 0.1499% 0%);
    --palPrism-17: rgb(99.883% 96.1038% 0%);
    --palPrism-18: rgb(0.3638% 64.7569% 37.16%);
    --palPrism-19: rgb(43.1492% 0% 96.1507%);
    --palPrism-20: rgb(100% 17.1884% 0%);
    --palPrism-21: rgb(74.4723% 100% 0%);
    --palPrism-22: rgb(0% 32.1161% 78.1438%);
    --palPrism-23: rgb(76.3184% 0% 67.18%);
    --palPrism-24: rgb(100% 50.5061% 0%);
    --palPrism-25: rgb(41.2984% 100% 0%);
    --palPrism-26: rgb(2.3907% 4.1353% 99.7146%);
    --palPrism-27: rgb(100% 0% 22.87%);
    --palPrism-28: rgb(100% 80.2815% 0%);
    --palPrism-29: rgb(13.2515% 85.0599% 2.1246%);
    --palPrism-30: rgb(21.5892% 0% 100%);
    --palPrism-31: rgb(100% 1.383% 0%);
    --palPrism-32: rgb(95.043% 98.3107% 0%);
    --palPrism-33: rgb(0% 56.3438% 49.223%);
    --palPrism-34: rgb(51.8115% 0% 90.9769%);
    --palPrism-35: rgb(100% 26.09% 0%);
    --palPrism-36: rgb(65.4753% 100% 0%);
    --palPrism-37: rgb(0% 23.1523% 86.7084%);
    --palPrism-38: rgb(85.2123% 0% 56.3815%);
    --palPrism-39: rgb(100% 59.0938% 0%);
    --palPrism-40: rgb(32.95% 99.83% 0%);
}
