/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palPuBu-1: rgb(100% 96.862745% 98.431373%);
    --palPuBu-2: rgb(92.54902% 90.588235% 94.901961%);
    --palPuBu-3: rgb(81.568627% 81.960784% 90.196078%);
    --palPuBu-4: rgb(65.098039% 74.117647% 85.882353%);
    --palPuBu-5: rgb(45.490196% 66.27451% 81.176471%);
    --palPuBu-6: rgb(21.176471% 56.470588% 75.294118%);
    --palPuBu-7: rgb(1.960784% 43.921569% 69.019608%);
    --palPuBu-8: rgb(1.568627% 35.294118% 55.294118%);
    --palPuBu-9: rgb(0.784314% 21.960784% 34.509804%);
}
