/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPurplesCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palPurplesCP-2: rgb(11.9658% 12.7501% 15.2941%);
    --palPurplesCP-3: rgb(13.3433% 13.7255% 16.8727%);
    --palPurplesCP-4: rgb(14.902% 14.7209% 18.4314%);
    --palPurplesCP-5: rgb(16.4706% 15.6863% 20.0201%);
    --palPurplesCP-6: rgb(17.8682% 16.6917% 21.7898%);
    --palPurplesCP-7: rgb(19.2458% 17.6471% 23.5294%);
    --palPurplesCP-8: rgb(20.7843% 18.6626% 25.0979%);
    --palPurplesCP-9: rgb(22.3529% 19.6078% 26.7069%);
    --palPurplesCP-10: rgb(23.7707% 20.6334% 28.6275%);
    --palPurplesCP-11: rgb(25.4902% 21.6188% 30.2463%);
    --palPurplesCP-12: rgb(26.918% 22.7451% 32.0161%);
    --palPurplesCP-13: rgb(28.6275% 23.5897% 33.7858%);
    --palPurplesCP-14: rgb(30.0653% 24.7059% 35.6863%);
    --palPurplesCP-15: rgb(31.7647% 25.8824% 37.6471%);
    --palPurplesCP-16: rgb(33.3333% 26.6667% 39.4871%);
    --palPurplesCP-17: rgb(34.9824% 27.8431% 41.2569%);
    --palPurplesCP-18: rgb(36.7521% 28.909% 43.0266%);
    --palPurplesCP-19: rgb(38.1297% 29.8944% 44.7963%);
    --palPurplesCP-20: rgb(39.8994% 30.9804% 46.9582%);
    --palPurplesCP-21: rgb(41.6691% 32.1569% 48.728%);
    --palPurplesCP-22: rgb(43.4389% 33.2428% 50.4977%);
    --palPurplesCP-23: rgb(44.8164% 34.2282% 52.6596%);
    --palPurplesCP-24: rgb(46.5862% 35.2941% 54.4293%);
    --palPurplesCP-25: rgb(48.3559% 36.4706% 56.4706%);
    --palPurplesCP-26: rgb(50.1257% 37.5767% 58.361%);
    --palPurplesCP-27: rgb(51.8954% 38.562% 60.3922%);
    --palPurplesCP-28: rgb(53.6651% 39.6078% 62.2925%);
    --palPurplesCP-29: rgb(55.4348% 40.7843% 64.4544%);
    --palPurplesCP-30: rgb(57.2046% 41.9608% 66.2745%);
    --palPurplesCP-31: rgb(58.9743% 43.1373% 68.3861%);
    --palPurplesCP-32: rgb(60.744% 44.2734% 70.5479%);
    --palPurplesCP-33: rgb(62.5138% 45.2589% 72.3177%);
    --palPurplesCP-34: rgb(64.2835% 46.2745% 74.4796%);
    --palPurplesCP-35: rgb(66.0533% 47.6219% 76.6415%);
    --palPurplesCP-36: rgb(67.8431% 48.6275% 78.8033%);
    --palPurplesCP-37: rgb(69.8039% 49.8039% 80.7843%);
    --palPurplesCP-38: rgb(71.7546% 50.9804% 82.735%);
    --palPurplesCP-39: rgb(73.5243% 52.1568% 84.8969%);
    --palPurplesCP-40: rgb(75.2941% 53.3333% 87.0588%);
}
