/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPurpleGrey-1: rgb(75.2941% 53.3333% 87.0588%);
    --palPurpleGrey-2: rgb(71.5635% 51.1714% 82.735%);
    --palPurpleGrey-3: rgb(67.833% 48.6174% 78.8033%);
    --palPurpleGrey-4: rgb(64.2835% 46.4555% 74.4796%);
    --palPurpleGrey-5: rgb(60.744% 44.2935% 70.5479%);
    --palPurpleGrey-6: rgb(57.0336% 41.9608% 66.4454%);
    --palPurpleGrey-7: rgb(53.6651% 39.5776% 62.3227%);
    --palPurpleGrey-8: rgb(50.1256% 37.4158% 58.3609%);
    --palPurpleGrey-9: rgb(46.6264% 35.2538% 54.4695%);
    --palPurpleGrey-10: rgb(43.2881% 33.092% 50.4977%);
    --palPurpleGrey-11: rgb(39.9497% 30.9301% 46.9582%);
    --palPurpleGrey-12: rgb(36.6113% 28.7682% 43.0266%);
    --palPurpleGrey-13: rgb(33.2729% 26.6667% 39.4871%);
    --palPurpleGrey-14: rgb(30.0653% 24.8366% 35.817%);
    --palPurpleGrey-15: rgb(26.9884% 22.6747% 32.0865%);
    --palPurpleGrey-16: rgb(23.7707% 20.5128% 28.7481%);
    --palPurpleGrey-17: rgb(20.7038% 18.743% 25.0175%);
    --palPurpleGrey-18: rgb(17.7576% 16.5811% 21.7898%);
    --palPurpleGrey-19: rgb(14.8114% 14.8114% 18.3408%);
    --palPurpleGrey-20: rgb(11.8652% 12.6495% 15.3946%);
    --palPurpleGrey-21: rgb(11.7647% 12.9412% 14.6103%);
    --palPurpleGrey-22: rgb(14.0271% 15.2036% 16.8627%);
    --palPurpleGrey-23: rgb(16.189% 17.3655% 19.2157%);
    --palPurpleGrey-24: rgb(18.743% 19.5273% 21.4881%);
    --palPurpleGrey-25: rgb(20.9049% 22.0814% 23.65%);
    --palPurpleGrey-26: rgb(23.459% 24.2433% 25.812%);
    --palPurpleGrey-27: rgb(26.013% 26.7973% 28.366%);
    --palPurpleGrey-28: rgb(28.5671% 29.3514% 30.5278%);
    --palPurpleGrey-29: rgb(31.1211% 31.9054% 33.0819%);
    --palPurpleGrey-30: rgb(33.6752% 34.0673% 35.636%);
    --palPurpleGrey-31: rgb(36.2292% 37.0135% 37.7979%);
    --palPurpleGrey-32: rgb(38.7832% 39.5675% 40.3519%);
    --palPurpleGrey-33: rgb(41.7295% 42.1216% 42.906%);
    --palPurpleGrey-34: rgb(44.2835% 44.6757% 45.46%);
    --palPurpleGrey-35: rgb(47.2297% 47.2297% 48.014%);
    --palPurpleGrey-36: rgb(49.7837% 50.1759% 50.568%);
    --palPurpleGrey-37: rgb(52.73% 52.73% 53.1221%);
    --palPurpleGrey-38: rgb(55.284% 55.6762% 55.6762%);
    --palPurpleGrey-39: rgb(58.2302% 58.2302% 58.6224%);
    --palPurpleGrey-40: rgb(61.1765% 61.1765% 61.1765%);
}
