/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPurpleGray-1: rgb(48.235294% 40% 82.352941%);
    --palPurpleGray-2: rgb(65.098039% 60% 90.980392%);
    --palPurpleGray-3: rgb(86.27451% 37.254902% 74.117647%);
    --palPurpleGray-4: rgb(100% 75.294118% 85.490196%);
    --palPurpleGray-5: rgb(37.254902% 35.294118% 25.490196%);
    --palPurpleGray-6: rgb(70.588235% 69.411765% 60.784314%);
    --palPurpleGray-7: rgb(60% 33.72549% 53.333333%);
    --palPurpleGray-8: rgb(84.705882% 59.607843% 72.941176%);
    --palPurpleGray-9: rgb(67.058824% 41.568627% 83.529412%);
    --palPurpleGray-10: rgb(81.568627% 59.607843% 93.333333%);
    --palPurpleGray-11: rgb(54.509804% 48.627451% 43.137255%);
    --palPurpleGray-12: rgb(85.882353% 83.137255% 77.254902%);
}
