/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palRdYlBu-1: rgb(64.705882% 0% 14.901961%);
    --palRdYlBu-2: rgb(84.313725% 18.823529% 15.294118%);
    --palRdYlBu-3: rgb(95.686275% 42.745098% 26.27451%);
    --palRdYlBu-4: rgb(99.215686% 68.235294% 38.039216%);
    --palRdYlBu-5: rgb(99.607843% 87.843137% 56.470588%);
    --palRdYlBu-6: rgb(100% 100% 74.901961%);
    --palRdYlBu-7: rgb(87.843137% 95.294118% 97.254902%);
    --palRdYlBu-8: rgb(67.058824% 85.098039% 91.372549%);
    --palRdYlBu-9: rgb(45.490196% 67.843137% 81.960784%);
    --palRdYlBu-10: rgb(27.058824% 45.882353% 70.588235%);
    --palRdYlBu-11: rgb(19.215686% 21.176471% 58.431373%);
}
