/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedsCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palRedsCP-2: rgb(12.7501% 12.5489% 14.5098%);
    --palRedsCP-3: rgb(14.5198% 13.3433% 15.2941%);
    --palRedsCP-4: rgb(16.6817% 14.3287% 15.8974%);
    --palRedsCP-5: rgb(18.8235% 14.9221% 16.8627%);
    --palRedsCP-6: rgb(20.6133% 15.9074% 17.4761%);
    --palRedsCP-7: rgb(22.7752% 16.8627% 18.0693%);
    --palRedsCP-8: rgb(24.9371% 17.6471% 18.8235%);
    --palRedsCP-9: rgb(26.7069% 18.4314% 19.6078%);
    --palRedsCP-10: rgb(28.8687% 19.2157% 20.3922%);
    --palRedsCP-11: rgb(31.0306% 20.0502% 21.1765%);
    --palRedsCP-12: rgb(32.9412% 21.0357% 21.9608%);
    --palRedsCP-13: rgb(34.9623% 21.6289% 22.7451%);
    --palRedsCP-14: rgb(37.1241% 22.6143% 23.5294%);
    --palRedsCP-15: rgb(39.286% 23.5294% 24.3137%);
    --palRedsCP-16: rgb(41.4479% 24.3137% 25.0979%);
    --palRedsCP-17: rgb(43.6098% 25.0979% 25.8824%);
    --palRedsCP-18: rgb(45.7717% 25.8824% 26.6667%);
    --palRedsCP-19: rgb(47.9336% 26.7571% 27.451%);
    --palRedsCP-20: rgb(50.0955% 27.7425% 28.2353%);
    --palRedsCP-21: rgb(52.2574% 28.6275% 29.1201%);
    --palRedsCP-22: rgb(54.4192% 29.4118% 29.8039%);
    --palRedsCP-23: rgb(56.5811% 30.1961% 30.6988%);
    --palRedsCP-24: rgb(58.743% 30.9804% 31.6842%);
    --palRedsCP-25: rgb(60.9049% 31.7647% 32.549%);
    --palRedsCP-26: rgb(63.459% 32.549% 33.2629%);
    --palRedsCP-27: rgb(65.6209% 33.464% 34.1176%);
    --palRedsCP-28: rgb(67.7827% 34.4494% 34.902%);
    --palRedsCP-29: rgb(69.9446% 35.2941% 35.6863%);
    --palRedsCP-30: rgb(72.4987% 36.0784% 36.4706%);
    --palRedsCP-31: rgb(74.6606% 36.8627% 37.4057%);
    --palRedsCP-32: rgb(77.2146% 37.6471% 38.3911%);
    --palRedsCP-33: rgb(79.3765% 38.5922% 39.2157%);
    --palRedsCP-34: rgb(81.9306% 39.5776% 40%);
    --palRedsCP-35: rgb(84.0925% 40.3922% 40.7843%);
    --palRedsCP-36: rgb(86.6465% 41.1765% 41.5686%);
    --palRedsCP-37: rgb(88.8084% 42.1417% 42.5339%);
    --palRedsCP-38: rgb(91.3624% 43.1272% 43.5193%);
    --palRedsCP-39: rgb(93.5243% 43.9216% 44.3137%);
    --palRedsCP-40: rgb(96.0784% 44.7059% 45.098%);
}
