/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palRedTeal-1: rgb(96.0784% 44.7059% 45.098%);
    --palRedTeal-2: rgb(91.3624% 42.9361% 43.3283%);
    --palRedTeal-3: rgb(86.6465% 41.1765% 41.5686%);
    --palRedTeal-4: rgb(81.7496% 39.3966% 40%);
    --palRedTeal-5: rgb(77.2146% 37.6471% 38.4112%);
    --palRedTeal-6: rgb(72.4987% 36.0784% 36.6415%);
    --palRedTeal-7: rgb(67.7827% 34.4796% 34.8718%);
    --palRedTeal-8: rgb(63.2981% 32.7099% 33.102%);
    --palRedTeal-9: rgb(58.743% 30.9401% 31.7244%);
    --palRedTeal-10: rgb(54.4192% 29.4118% 29.9547%);
    --palRedTeal-11: rgb(50.0955% 27.7928% 28.2353%);
    --palRedTeal-12: rgb(45.6309% 26.0231% 26.8074%);
    --palRedTeal-13: rgb(41.4479% 24.2533% 25.0979%);
    --palRedTeal-14: rgb(37.1241% 22.4836% 23.5294%);
    --palRedTeal-15: rgb(32.8708% 21.1061% 21.9608%);
    --palRedTeal-16: rgb(28.8688% 19.3363% 20.5128%);
    --palRedTeal-17: rgb(24.9371% 17.5666% 18.8235%);
    --palRedTeal-18: rgb(20.6134% 15.7968% 17.3655%);
    --palRedTeal-19: rgb(16.6817% 14.4192% 15.9879%);
    --palRedTeal-20: rgb(12.6495% 12.6495% 14.5098%);
    --palRedTeal-21: rgb(11.3725% 13.0417% 15.0025%);
    --palRedTeal-22: rgb(12.8506% 15.5957% 17.9487%);
    --palRedTeal-23: rgb(14.2282% 18.5419% 20.8949%);
    --palRedTeal-24: rgb(15.6863% 21.4077% 23.7607%);
    --palRedTeal-25: rgb(17.2549% 24.0422% 26.7873%);
    --palRedTeal-26: rgb(18.7531% 26.9884% 29.7335%);
    --palRedTeal-27: rgb(20.1307% 29.9346% 32.6797%);
    --palRedTeal-28: rgb(21.5686% 33.2126% 35.9577%);
    --palRedTeal-29: rgb(23.1373% 36.2191% 38.9642%);
    --palRedTeal-30: rgb(24.6556% 39.1654% 42.3026%);
    --palRedTeal-31: rgb(26.0332% 42.5037% 45.641%);
    --palRedTeal-32: rgb(27.451% 45.8019% 48.9793%);
    --palRedTeal-33: rgb(29.0196% 48.7883% 52.3177%);
    --palRedTeal-34: rgb(30.558% 52.1267% 55.6561%);
    --palRedTeal-35: rgb(31.9356% 55.465% 59.1653%);
    --palRedTeal-36: rgb(33.3333% 58.8033% 62.7048%);
    --palRedTeal-37: rgb(34.902% 62.1417% 66.0633%);
    --palRedTeal-38: rgb(36.4605% 65.4801% 69.7837%);
    --palRedTeal-39: rgb(37.8381% 69.0095% 73.3232%);
    --palRedTeal-40: rgb(39.2157% 72.549% 76.8627%);
}
