/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palSapphire-1: rgb(0% 0% 0%);
    --palSapphire-2: rgb(0.5517% 0.5612% 0.7313%);
    --palSapphire-3: rgb(1.8931% 1.9634% 2.8047%);
    --palSapphire-4: rgb(3.9093% 4.1156% 6.024%);
    --palSapphire-5: rgb(6.1645% 6.4924% 9.2968%);
    --palSapphire-6: rgb(8.288% 8.7521% 12.5678%);
    --palSapphire-7: rgb(10.3135% 10.9291% 15.8697%);
    --palSapphire-8: rgb(12.262% 13.044% 19.2244%);
    --palSapphire-9: rgb(14.1471% 15.111% 22.6484%);
    --palSapphire-10: rgb(15.9777% 17.1403% 26.1551%);
    --palSapphire-11: rgb(17.7595% 19.1396% 29.7565%);
    --palSapphire-12: rgb(19.4954% 21.1152% 33.4626%);
    --palSapphire-13: rgb(21.1858% 23.0722% 37.2841%);
    --palSapphire-14: rgb(22.8285% 25.0159% 41.2291%);
    --palSapphire-15: rgb(24.4171% 26.9514% 45.3072%);
    --palSapphire-16: rgb(25.9407% 28.8852% 49.5242%);
    --palSapphire-17: rgb(27.378% 30.8268% 53.885%);
    --palSapphire-18: rgb(28.6908% 32.7924% 58.3839%);
    --palSapphire-19: rgb(29.7964% 34.817% 62.9874%);
    --palSapphire-20: rgb(30.4958% 36.9989% 67.5132%);
    --palSapphire-21: rgb(30.5624% 39.6091% 70.8699%);
    --palSapphire-22: rgb(30.9941% 42.4979% 72.1638%);
    --palSapphire-23: rgb(32.0544% 45.3238% 72.8037%);
    --palSapphire-24: rgb(33.4911% 48.0728% 73.3218%);
    --palSapphire-25: rgb(35.173% 50.7669% 73.852%);
    --palSapphire-26: rgb(37.0292% 53.4251% 74.4412%);
    --palSapphire-27: rgb(39.0121% 56.063% 75.108%);
    --palSapphire-28: rgb(41.0909% 58.693% 75.8619%);
    --palSapphire-29: rgb(43.2407% 61.3259% 76.7055%);
    --palSapphire-30: rgb(45.4436% 63.971% 77.6404%);
    --palSapphire-31: rgb(47.684% 66.6368% 78.6654%);
    --palSapphire-32: rgb(49.9494% 69.3312% 79.7787%);
    --palSapphire-33: rgb(52.2285% 72.0617% 80.9766%);
    --palSapphire-34: rgb(54.5112% 74.8356% 82.2546%);
    --palSapphire-35: rgb(56.7888% 77.66% 83.6064%);
    --palSapphire-36: rgb(59.054% 80.5415% 85.0237%);
    --palSapphire-37: rgb(61.301% 83.4869% 86.4975%);
    --palSapphire-38: rgb(63.5261% 86.5017% 88.0164%);
    --palSapphire-39: rgb(65.7275% 89.592% 89.5687%);
    --palSapphire-40: rgb(67.9065% 92.7618% 91.1419%);
}
