/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palSeasons-1: rgb(0% 0% 0%);
    --palSeasons-2: rgb(2.7456% 2.0949% 4.3461%);
    --palSeasons-3: rgb(8.2935% 6.5822% 13.299%);
    --palSeasons-4: rgb(12.8714% 10.9174% 23.0729%);
    --palSeasons-5: rgb(15.5678% 15.522% 33.3818%);
    --palSeasons-6: rgb(14.8668% 21.4536% 41.1862%);
    --palSeasons-7: rgb(12.6056% 27.9807% 44.6796%);
    --palSeasons-8: rgb(11.4025% 34.1665% 46.4266%);
    --palSeasons-9: rgb(11.8164% 40.0713% 47.7052%);
    --palSeasons-10: rgb(13.3375% 45.8829% 48.767%);
    --palSeasons-11: rgb(15.501% 51.7244% 49.4843%);
    --palSeasons-12: rgb(18.5046% 57.63% 49.5934%);
    --palSeasons-13: rgb(23.1233% 63.5415% 48.8371%);
    --palSeasons-14: rgb(30.3809% 69.2846% 47.0965%);
    --palSeasons-15: rgb(41.781% 74.3729% 45.0565%);
    --palSeasons-16: rgb(56.687% 78.0914% 49.0323%);
    --palSeasons-17: rgb(68.1339% 82.0345% 59.4918%);
    --palSeasons-18: rgb(77.7128% 86.52% 71.1925%);
    --palSeasons-19: rgb(86.6166% 91.4537% 83.0534%);
    --palSeasons-20: rgb(95.3613% 96.8304% 94.5053%);
    --palSeasons-21: rgb(96.4167% 97.1331% 95.1568%);
    --palSeasons-22: rgb(89.3706% 91.1819% 82.7475%);
    --palSeasons-23: rgb(83.8533% 85.1526% 69.1251%);
    --palSeasons-24: rgb(80.1842% 78.7653% 54.7896%);
    --palSeasons-25: rgb(78.7577% 71.6095% 40.5401%);
    --palSeasons-26: rgb(78.8539% 63.5461% 28.8121%);
    --palSeasons-27: rgb(78.4596% 55.2519% 21.8921%);
    --palSeasons-28: rgb(76.7513% 47.3027% 19.1636%);
    --palSeasons-29: rgb(73.8737% 39.8222% 18.9973%);
    --palSeasons-30: rgb(70.0622% 32.7896% 20.1074%);
    --palSeasons-31: rgb(65.4673% 26.1676% 21.7954%);
    --palSeasons-32: rgb(60.128% 19.9758% 23.7592%);
    --palSeasons-33: rgb(53.9323% 14.4646% 25.7992%);
    --palSeasons-34: rgb(46.5945% 10.5312% 27.331%);
    --palSeasons-35: rgb(38.0368% 9.1515% 26.8298%);
    --palSeasons-36: rgb(29.0337% 8.792% 23.3585%);
    --palSeasons-37: rgb(20.3592% 7.6462% 17.8251%);
    --palSeasons-38: rgb(12.2025% 5.289% 11.2607%);
    --palSeasons-39: rgb(4.3755% 1.9979% 4.1208%);
    --palSeasons-40: rgb(0.0288% 0.0208% 0.0277%);
}
