/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palSeaweed-1: rgb(56.8953% 94.5789% 98.4869%);
    --palSeaweed-2: rgb(50.4247% 88.673% 95.5861%);
    --palSeaweed-3: rgb(44.3998% 82.9033% 92.8523%);
    --palSeaweed-4: rgb(38.9661% 77.2287% 90.2311%);
    --palSeaweed-5: rgb(34.3568% 71.6075% 87.6349%);
    --palSeaweed-6: rgb(30.893% 66% 84.9194%);
    --palSeaweed-7: rgb(28.8887% 60.3772% 81.844%);
    --palSeaweed-8: rgb(28.3799% 54.7481% 78.0269%);
    --palSeaweed-9: rgb(28.7901% 49.2089% 73.0172%);
    --palSeaweed-10: rgb(29.062% 43.9336% 66.7044%);
    --palSeaweed-11: rgb(28.4937% 39.0151% 59.5676%);
    --palSeaweed-12: rgb(27.0453% 34.4059% 52.1824%);
    --palSeaweed-13: rgb(24.9169% 30.0145% 44.8814%);
    --palSeaweed-14: rgb(22.2896% 25.76% 37.8042%);
    --palSeaweed-15: rgb(19.2814% 21.5764% 30.9918%);
    --palSeaweed-16: rgb(15.9572% 17.4037% 24.4357%);
    --palSeaweed-17: rgb(12.3358% 13.1766% 18.0959%);
    --palSeaweed-18: rgb(8.3852% 8.8055% 11.8986%);
    --palSeaweed-19: rgb(3.982% 4.1282% 5.7016%);
    --palSeaweed-20: rgb(0.5597% 0.5611% 0.7016%);
    --palSeaweed-21: rgb(0.603% 0.5777% 0.3828%);
    --palSeaweed-22: rgb(4.085% 4.4458% 2.365%);
    --palSeaweed-23: rgb(8.1023% 9.5541% 5.4237%);
    --palSeaweed-24: rgb(11.4046% 14.4655% 8.4117%);
    --palSeaweed-25: rgb(14.1778% 19.3115% 11.205%);
    --palSeaweed-26: rgb(16.4956% 24.1604% 13.8408%);
    --palSeaweed-27: rgb(18.3811% 29.0562% 16.3294%);
    --palSeaweed-28: rgb(19.8274% 34.03% 18.6655%);
    --palSeaweed-29: rgb(20.807% 39.1054% 20.8304%);
    --palSeaweed-30: rgb(21.2775% 44.3008% 22.7909%);
    --palSeaweed-31: rgb(21.1904% 49.6291% 24.4943%);
    --palSeaweed-32: rgb(20.5174% 55.0961% 25.8612%);
    --palSeaweed-33: rgb(19.3345% 60.6965% 26.7725%);
    --palSeaweed-34: rgb(18.0741% 66.4037% 27.0555%);
    --palSeaweed-35: rgb(18.0668% 72.1533% 26.4873%);
    --palSeaweed-36: rgb(21.4636% 77.8314% 24.8884%);
    --palSeaweed-37: rgb(28.8016% 83.3237% 22.3293%);
    --palSeaweed-38: rgb(38.3902% 88.6198% 19.0921%);
    --palSeaweed-39: rgb(48.763% 93.8072% 15.2513%);
    --palSeaweed-40: rgb(59.3577% 98.9836% 10.2981%);
}
