/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palSepia-1: rgb(0% 0% 0%);
    --palSepia-2: rgb(0.7328% 0.5759% 0.7494%);
    --palSepia-3: rgb(2.696% 1.9598% 2.7984%);
    --palSepia-4: rgb(5.688% 4.0062% 5.8919%);
    --palSepia-5: rgb(8.7171% 6.2307% 8.9689%);
    --palSepia-6: rgb(11.7169% 8.2912% 11.9609%);
    --palSepia-7: rgb(14.7312% 10.2196% 14.8806%);
    --palSepia-8: rgb(17.7918% 12.0338% 17.7185%);
    --palSepia-9: rgb(20.9224% 13.747% 20.4437%);
    --palSepia-10: rgb(24.1356% 15.3753% 23.0013%);
    --palSepia-11: rgb(27.4238% 16.9466% 25.3136%);
    --palSepia-12: rgb(30.7482% 18.5078% 27.31%);
    --palSepia-13: rgb(34.0496% 20.1142% 28.967%);
    --palSepia-14: rgb(37.2812% 21.803% 30.3297%);
    --palSepia-15: rgb(40.4231% 23.588% 31.465%);
    --palSepia-16: rgb(43.4754% 25.4672% 32.4366%);
    --palSepia-17: rgb(46.441% 27.4377% 33.2891%);
    --palSepia-18: rgb(49.3226% 29.4969% 34.0576%);
    --palSepia-19: rgb(52.1176% 31.6464% 34.7708%);
    --palSepia-20: rgb(54.8196% 33.8894% 35.4569%);
    --palSepia-21: rgb(57.4183% 36.2313% 36.1467%);
    --palSepia-22: rgb(59.9% 38.678% 36.876%);
    --palSepia-23: rgb(62.2503% 41.2343% 37.6864%);
    --palSepia-24: rgb(64.4549% 43.9035% 38.6256%);
    --palSepia-25: rgb(66.5048% 46.6842% 39.742%);
    --palSepia-26: rgb(68.3958% 49.5716% 41.0833%);
    --palSepia-27: rgb(70.1353% 52.5552% 42.6838%);
    --palSepia-28: rgb(71.7356% 55.6235% 44.5693%);
    --palSepia-29: rgb(73.2188% 58.7622% 46.7446%);
    --palSepia-30: rgb(74.608% 61.9595% 49.2082%);
    --palSepia-31: rgb(75.9296% 65.2042% 51.9456%);
    --palSepia-32: rgb(77.2099% 68.4879% 54.9411%);
    --palSepia-33: rgb(78.4768% 71.8031% 58.1742%);
    --palSepia-34: rgb(79.7593% 75.1442% 61.6234%);
    --palSepia-35: rgb(81.0877% 78.5065% 65.2643%);
    --palSepia-36: rgb(82.4919% 81.8872% 69.069%);
    --palSepia-37: rgb(83.9986% 85.2863% 73.0075%);
    --palSepia-38: rgb(85.6261% 88.7074% 77.0492%);
    --palSepia-39: rgb(87.3833% 92.1583% 81.1693%);
    --palSepia-40: rgb(89.2655% 95.6494% 85.3513%);
}
