/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palSpeed-1: rgb(100% 99.2156% 80.3921%);
    --palSpeed-2: rgb(98.2202% 96.0482% 74.8717%);
    --palSpeed-3: rgb(96.4705% 92.911% 69.3514%);
    --palSpeed-4: rgb(94.6606% 89.9547% 63.9819%);
    --palSpeed-5: rgb(92.9411% 86.9984% 58.6425%);
    --palSpeed-6: rgb(91.101% 84.4343% 52.911%);
    --palSpeed-7: rgb(89.0196% 81.4781% 47.2699%);
    --palSpeed-8: rgb(86.7571% 79.3061% 41.7496%);
    --palSpeed-9: rgb(84.193% 76.742% 36.2292%);
    --palSpeed-10: rgb(81.6289% 74.5701% 31.101%);
    --palSpeed-11: rgb(78.2805% 72.549% 25.9728%);
    --palSpeed-12: rgb(74.5701% 70.6184% 21.2066%);
    --palSpeed-13: rgb(70.7993% 69.0196% 16.6817%);
    --palSpeed-14: rgb(66.6666% 67.4509% 12.549%);
    --palSpeed-15: rgb(62.5339% 65.8823% 9.2006%);
    --palSpeed-16: rgb(58.371% 64.2835% 5.8521%);
    --palSpeed-17: rgb(53.6349% 62.745% 3.288%);
    --palSpeed-18: rgb(49.2911% 61.1764% 2.3529%);
    --palSpeed-19: rgb(44.555% 59.7285% 2.3529%);
    --palSpeed-20: rgb(39.9095% 58.0392% 3.6199%);
    --palSpeed-21: rgb(35.4751% 56.4705% 5.7918%);
    --palSpeed-22: rgb(30.739% 54.7812% 7.5716%);
    --palSpeed-23: rgb(26.003% 53.0015% 9.7435%);
    --palSpeed-24: rgb(21.6591% 51.2217% 11.5233%);
    --palSpeed-25: rgb(17.285% 49.0497% 12.9411%);
    --palSpeed-26: rgb(13.1523% 47.0588% 14.5098%);
    --palSpeed-27: rgb(9.4117% 45.098% 15.6862%);
    --palSpeed-28: rgb(6.4555% 42.5339% 16.4705%);
    --palSpeed-29: rgb(4.7058% 40.3619% 17.2549%);
    --palSpeed-30: rgb(4.3137% 38.19% 17.647%);
    --palSpeed-31: rgb(4.7662% 35.6259% 17.647%);
    --palSpeed-32: rgb(6.1538% 33.0618% 17.2549%);
    --palSpeed-33: rgb(7.1493% 30.8898% 16.8627%);
    --palSpeed-34: rgb(8.2352% 28.3257% 16.1689%);
    --palSpeed-35: rgb(9.0196% 25.7616% 15.2941%);
    --palSpeed-36: rgb(9.8039% 23.5897% 14.1176%);
    --palSpeed-37: rgb(9.8039% 21.0256% 12.7903%);
    --palSpeed-38: rgb(9.8039% 18.4615% 11.0105%);
    --palSpeed-39: rgb(9.6229% 16.2895% 9.2307%);
    --palSpeed-40: rgb(9.0196% 13.7254% 7.4509%);
}
