/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palSunBurst-1: rgb(0% 0% 0%);
    --palSunBurst-2: rgb(0.9719% 0.554% 0.9437%);
    --palSunBurst-3: rgb(3.8966% 1.7366% 3.5738%);
    --palSunBurst-4: rgb(7.9792% 3.2383% 7.0253%);
    --palSunBurst-5: rgb(12.1262% 4.7918% 10.1208%);
    --palSunBurst-6: rgb(16.364% 6.0637% 12.8291%);
    --palSunBurst-7: rgb(20.6875% 7.0644% 15.1351%);
    --palSunBurst-8: rgb(25.0857% 7.8254% 17.0336%);
    --palSunBurst-9: rgb(29.5482% 8.3652% 18.5285%);
    --palSunBurst-10: rgb(34.0666% 8.6921% 19.6273%);
    --palSunBurst-11: rgb(38.6344% 8.8048% 20.3345%);
    --palSunBurst-12: rgb(43.2446% 8.6983% 20.6546%);
    --palSunBurst-13: rgb(47.8887% 8.3624% 20.582%);
    --palSunBurst-14: rgb(52.5542% 7.7963% 20.1109%);
    --palSunBurst-15: rgb(57.2215% 7.0204% 19.218%);
    --palSunBurst-16: rgb(61.8591% 6.1397% 17.8767%);
    --palSunBurst-17: rgb(66.4112% 5.4796% 16.0345%);
    --palSunBurst-18: rgb(70.7785% 5.794% 13.6285%);
    --palSunBurst-19: rgb(74.7764% 8.0393% 10.6024%);
    --palSunBurst-20: rgb(78.1309% 12.3615% 7.0865%);
    --palSunBurst-21: rgb(80.6674% 17.8848% 3.7568%);
    --palSunBurst-22: rgb(82.5261% 23.6021% 2.3901%);
    --palSunBurst-23: rgb(83.9373% 29.0959% 3.7193%);
    --palSunBurst-24: rgb(85.0386% 34.3214% 7.1274%);
    --palSunBurst-25: rgb(85.9011% 39.3266% 11.1929%);
    --palSunBurst-26: rgb(86.5613% 44.1601% 15.588%);
    --palSunBurst-27: rgb(87.0465% 48.8605% 20.2416%);
    --palSunBurst-28: rgb(87.3771% 53.4519% 25.1502%);
    --palSunBurst-29: rgb(87.5785% 57.9509% 30.3202%);
    --palSunBurst-30: rgb(87.6792% 62.3642% 35.7672%);
    --palSunBurst-31: rgb(87.7196% 66.6926% 41.5016%);
    --palSunBurst-32: rgb(87.7546% 70.9293% 47.5331%);
    --palSunBurst-33: rgb(87.8598% 75.0619% 53.8584%);
    --palSunBurst-34: rgb(88.1357% 79.0722% 60.4584%);
    --palSunBurst-35: rgb(88.7067% 82.9395% 67.2853%);
    --palSunBurst-36: rgb(89.7083% 86.6461% 74.2554%);
    --palSunBurst-37: rgb(91.2696% 90.1835% 81.2468%);
    --palSunBurst-38: rgb(93.488% 93.5569% 88.0972%);
    --palSunBurst-39: rgb(96.4685% 96.778% 94.5216%);
    --palSunBurst-40: rgb(100% 100% 100%);
}
