/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palSwamp-1: rgb(0% 0% 0%);
    --palSwamp-2: rgb(0.7773% 0.6259% 0.9853%);
    --palSwamp-3: rgb(2.7037% 2.1617% 3.9839%);
    --palSwamp-4: rgb(5.31% 4.5271% 8.103%);
    --palSwamp-5: rgb(7.5679% 7.1178% 12.2171%);
    --palSwamp-6: rgb(9.2961% 9.7399% 16.2545%);
    --palSwamp-7: rgb(10.4585% 12.4596% 20.0562%);
    --palSwamp-8: rgb(11.0868% 15.2859% 23.4614%);
    --palSwamp-9: rgb(11.2903% 18.184% 26.3998%);
    --palSwamp-10: rgb(11.2003% 21.1105% 28.9018%);
    --palSwamp-11: rgb(10.9193% 24.0374% 31.0407%);
    --palSwamp-12: rgb(10.5123% 26.9535% 32.8908%);
    --palSwamp-13: rgb(10.0122% 29.8583% 34.5038%);
    --palSwamp-14: rgb(9.4382% 32.756% 35.9142%);
    --palSwamp-15: rgb(8.8093% 35.6517% 37.1361%);
    --palSwamp-16: rgb(8.1657% 38.5495% 38.1764%);
    --palSwamp-17: rgb(7.5909% 41.4517% 39.0307%);
    --palSwamp-18: rgb(7.236% 44.3584% 39.6932%);
    --palSwamp-19: rgb(7.3271% 47.2674% 40.1539%);
    --palSwamp-20: rgb(8.1052% 50.1741% 40.404%);
    --palSwamp-21: rgb(9.7229% 53.0714% 40.4343%);
    --palSwamp-22: rgb(12.1938% 55.9488% 40.2382%);
    --palSwamp-23: rgb(15.4584% 58.7909% 39.8146%);
    --palSwamp-24: rgb(19.4801% 61.5742% 39.1737%);
    --palSwamp-25: rgb(24.2878% 64.2603% 38.3611%);
    --palSwamp-26: rgb(30.0266% 66.778% 37.5298%);
    --palSwamp-27: rgb(36.8668% 69.0074% 37.2146%);
    --palSwamp-28: rgb(44.2526% 70.9063% 38.7004%);
    --palSwamp-29: rgb(50.7996% 72.7587% 42.2497%);
    --palSwamp-30: rgb(56.3939% 74.7295% 46.8511%);
    --palSwamp-31: rgb(61.4063% 76.8197% 51.9075%);
    --palSwamp-32: rgb(66.0684% 79.0143% 57.19%);
    --palSwamp-33: rgb(70.5142% 81.303% 62.5949%);
    --palSwamp-34: rgb(74.8237% 83.6814% 68.0683%);
    --palSwamp-35: rgb(79.0498% 86.1488% 73.5748%);
    --palSwamp-36: rgb(83.2312% 88.7065% 79.0857%);
    --palSwamp-37: rgb(87.3996% 91.3575% 84.5685%);
    --palSwamp-38: rgb(91.5869% 94.1053% 89.9725%);
    --palSwamp-39: rgb(95.8239% 96.9617% 95.1792%);
    --palSwamp-40: rgb(100% 100% 100%);
}
