/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTempo-1: rgb(100% 96.4705% 95.6862%);
    --palTempo-2: rgb(96.4404% 93.9064% 91.9457%);
    --palTempo-3: rgb(92.8808% 91.7345% 88.1749%);
    --palTempo-4: rgb(89.1704% 89.1704% 84.4645%);
    --palTempo-5: rgb(85.7616% 86.9984% 81.0558%);
    --palTempo-6: rgb(82.0814% 84.8265% 77.4962%);
    --palTempo-7: rgb(78.2503% 83.0467% 74.3288%);
    --palTempo-8: rgb(74.2986% 80.8748% 71.0708%);
    --palTempo-9: rgb(70.4675% 79.095% 68.1146%);
    --palTempo-10: rgb(66.3951% 77.2549% 65.2187%);
    --palTempo-11: rgb(62.4434% 75.2941% 62.5942%);
    --palTempo-12: rgb(58.0995% 73.7254% 60.4223%);
    --palTempo-13: rgb(53.7556% 71.7647% 58.2503%);
    --palTempo-14: rgb(49.0196% 70.196% 56.4705%);
    --palTempo-15: rgb(44.4947% 68.4162% 54.6907%);
    --palTempo-16: rgb(39.5475% 66.6365% 53.3333%);
    --palTempo-17: rgb(34.4193% 64.8567% 52.1568%);
    --palTempo-18: rgb(29.2911% 63.0769% 51.3725%);
    --palTempo-19: rgb(24.1628% 61.1764% 50.5882%);
    --palTempo-20: rgb(19.4268% 59.1251% 50.196%);
    --palTempo-21: rgb(14.6907% 56.9532% 49.8039%);
    --palTempo-22: rgb(10.8597% 54.7812% 49.2911%);
    --palTempo-23: rgb(8.2956% 52.2171% 48.6274%);
    --palTempo-24: rgb(6.6666% 50.0452% 47.8431%);
    --palTempo-25: rgb(6.6666% 47.4811% 47.0588%);
    --palTempo-26: rgb(7.2398% 45.3092% 46.0935%);
    --palTempo-27: rgb(8.2352% 42.745% 45.098%);
    --palTempo-28: rgb(9.0196% 40.1809% 43.7104%);
    --palTempo-29: rgb(9.8039% 38.009% 42.3529%);
    --palTempo-30: rgb(10.4374% 35.4449% 40.9351%);
    --palTempo-31: rgb(10.9803% 33.273% 39.6078%);
    --palTempo-32: rgb(10.9803% 30.7088% 38.1598%);
    --palTempo-33: rgb(10.9803% 28.5369% 36.7722%);
    --palTempo-34: rgb(10.9803% 25.9728% 35.2941%);
    --palTempo-35: rgb(10.5882% 23.8009% 33.7254%);
    --palTempo-36: rgb(10.196% 21.2368% 32.2171%);
    --palTempo-37: rgb(9.8039% 19.0648% 30.8295%);
    --palTempo-38: rgb(9.4117% 16.5007% 29.4117%);
    --palTempo-39: rgb(8.8386% 13.9366% 27.8431%);
    --palTempo-40: rgb(8.2352% 11.3725% 26.6666%);
}
