/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palTerrain-1: rgb(20% 20% 60%);
    --palTerrain-2: rgb(16.5811% 26.8376% 66.8376%);
    --palTerrain-3: rgb(13.1623% 33.6752% 73.6752%);
    --palTerrain-4: rgb(9.7436% 40.5128% 80.5128%);
    --palTerrain-5: rgb(6.3247% 47.3503% 87.3503%);
    --palTerrain-6: rgb(2.9059% 54.188% 94.188%);
    --palTerrain-7: rgb(0% 60.7691% 97.6923%);
    --palTerrain-8: rgb(0% 65.8974% 82.3076%);
    --palTerrain-9: rgb(0% 71.0256% 66.9231%);
    --palTerrain-10: rgb(0% 76.1538% 51.5384%);
    --palTerrain-11: rgb(2.5641% 80.5128% 40.5128%);
    --palTerrain-12: rgb(12.8205% 82.564% 42.564%);
    --palTerrain-13: rgb(23.0769% 84.6153% 44.6153%);
    --palTerrain-14: rgb(33.3333% 86.6667% 46.6667%);
    --palTerrain-15: rgb(43.5897% 88.7179% 48.7179%);
    --palTerrain-16: rgb(53.8461% 90.7692% 50.7692%);
    --palTerrain-17: rgb(64.1025% 92.8205% 52.8205%);
    --palTerrain-18: rgb(74.3589% 94.8717% 54.8717%);
    --palTerrain-19: rgb(84.6153% 96.923% 56.923%);
    --palTerrain-20: rgb(94.8717% 98.9743% 58.9743%);
    --palTerrain-21: rgb(97.4358% 96.7179% 58.6153%);
    --palTerrain-22: rgb(92.3076% 90.1538% 55.8461%);
    --palTerrain-23: rgb(87.1794% 83.5897% 53.0769%);
    --palTerrain-24: rgb(82.0512% 77.0256% 50.3077%);
    --palTerrain-25: rgb(76.923% 70.4615% 47.5384%);
    --palTerrain-26: rgb(71.7948% 63.8974% 44.7692%);
    --palTerrain-27: rgb(66.6667% 57.3333% 42%);
    --palTerrain-28: rgb(61.5384% 50.7692% 39.2307%);
    --palTerrain-29: rgb(56.4102% 44.2051% 36.4615%);
    --palTerrain-30: rgb(51.282% 37.641% 33.6922%);
    --palTerrain-31: rgb(53.8461% 40.923% 38.1538%);
    --palTerrain-32: rgb(58.9743% 47.4872% 45.0256%);
    --palTerrain-33: rgb(64.1025% 54.0512% 51.8974%);
    --palTerrain-34: rgb(69.2308% 60.6154% 58.7692%);
    --palTerrain-35: rgb(74.3589% 67.1794% 65.6409%);
    --palTerrain-36: rgb(79.4871% 73.7435% 72.5128%);
    --palTerrain-37: rgb(84.6153% 80.3077% 79.3846%);
    --palTerrain-38: rgb(89.7435% 86.8717% 86.2564%);
    --palTerrain-39: rgb(94.8717% 93.4358% 93.1281%);
    --palTerrain-40: rgb(100% 100% 100%);
}
