/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTofino-1: rgb(87.044% 84.978% 99.992%);
    --palTofino-2: rgb(80.1153% 80.121% 96.9908%);
    --palTofino-3: rgb(73.215% 75.3015% 93.9957%);
    --palTofino-4: rgb(66.3579% 70.5105% 91.0067%);
    --palTofino-5: rgb(59.5481% 65.7315% 88.0006%);
    --palTofino-6: rgb(52.7714% 60.9263% 84.8866%);
    --palTofino-7: rgb(46.0115% 56.0132% 81.4251%);
    --palTofino-8: rgb(39.349% 50.913% 77.228%);
    --palTofino-9: rgb(33.1201% 45.691% 71.9863%);
    --palTofino-10: rgb(27.8375% 40.6036% 65.8074%);
    --palTofino-11: rgb(23.7333% 35.8975% 59.1542%);
    --palTofino-12: rgb(20.5363% 31.5899% 52.4493%);
    --palTofino-13: rgb(17.8236% 27.5626% 45.8771%);
    --palTofino-14: rgb(15.332% 23.714% 39.48%);
    --palTofino-15: rgb(12.9836% 20.0071% 33.2746%);
    --palTofino-16: rgb(10.8009% 16.4791% 27.2871%);
    --palTofino-17: rgb(8.8953% 13.246% 21.591%);
    --palTofino-18: rgb(7.3573% 10.5142% 16.3595%);
    --palTofino-19: rgb(6.1925% 8.6385% 11.9549%);
    --palTofino-20: rgb(5.0689% 8.0757% 8.8403%);
    --palTofino-21: rgb(5.1078% 9.1508% 7.085%);
    --palTofino-22: rgb(6.2715% 11.2969% 7.0336%);
    --palTofino-23: rgb(7.2933% 14.3487% 8.0883%);
    --palTofino-24: rgb(8.6661% 17.9375% 9.587%);
    --palTofino-25: rgb(10.3389% 21.8603% 11.4283%);
    --palTofino-26: rgb(12.2006% 26.0154% 13.4979%);
    --palTofino-27: rgb(14.195% 30.336% 15.7%);
    --palTofino-28: rgb(16.2735% 34.7956% 17.9965%);
    --palTofino-29: rgb(18.452% 39.38% 20.3757%);
    --palTofino-30: rgb(20.861% 44.1177% 22.882%);
    --palTofino-31: rgb(23.8262% 49.0638% 25.6346%);
    --palTofino-32: rgb(27.873% 54.26% 28.807%);
    --palTofino-33: rgb(33.3832% 59.5869% 32.4921%);
    --palTofino-34: rgb(40.182% 64.757% 36.5615%);
    --palTofino-35: rgb(47.6773% 69.5305% 40.7586%);
    --palTofino-36: rgb(55.3669% 73.9091% 44.9053%);
    --palTofino-37: rgb(63.0491% 78.0384% 48.9685%);
    --palTofino-38: rgb(70.7001% 82.056% 52.979%);
    --palTofino-39: rgb(78.344% 86.0346% 56.973%);
    --palTofino-40: rgb(86.003% 90.003% 60.976%);
}
