/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palTropic-1: rgb(0% 60.784314% 61.960784%);
    --palTropic-2: rgb(25.882353% 71.764706% 72.54902%);
    --palTropic-3: rgb(65.490196% 82.745098% 83.137255%);
    --palTropic-4: rgb(94.509804% 94.509804% 94.509804%);
    --palTropic-5: rgb(89.411765% 75.686275% 85.098039%);
    --palTropic-6: rgb(83.921569% 56.862745% 75.686275%);
    --palTropic-7: rgb(78.039216% 36.470588% 67.058824%);
}
