/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTurbo-1: rgb(18.995% 7.176% 23.217%);
    --palTurbo-2: rgb(21.925% 14.6986% 41.3607%);
    --palTurbo-3: rgb(24.2574% 22.0258% 57.1112%);
    --palTurbo-4: rgb(25.989% 29.1541% 70.4458%);
    --palTurbo-5: rgb(27.1219% 36.0866% 81.3818%);
    --palTurbo-6: rgb(27.655% 42.8213% 89.906%);
    --palTurbo-7: rgb(27.5891% 49.3588% 96.027%);
    --palTurbo-8: rgb(26.658% 55.7519% 99.5183%);
    --palTurbo-9: rgb(23.6936% 62.2362% 99.3979%);
    --palTurbo-10: rgb(19.4329% 68.6627% 96.2889%);
    --palTurbo-11: rgb(14.9214% 74.8216% 91.0621%);
    --palTurbo-12: rgb(11.2033% 80.5052% 84.6045%);
    --palTurbo-13: rgb(9.3354% 85.498% 77.7913%);
    --palTurbo-14: rgb(10.342% 89.6% 71.5%);
    --palTurbo-15: rgb(14.8928% 92.9336% 64.8341%);
    --palTurbo-16: rgb(22.2425% 95.7206% 56.814%);
    --palTurbo-17: rgb(31.4317% 97.8674% 48.1666%);
    --palTurbo-18: rgb(41.4673% 99.2912% 39.6335%);
    --palTurbo-19: rgb(51.3727% 99.9004% 31.954%);
    --palTurbo-20: rgb(60.1672% 99.6093% 25.863%);
    --palTurbo-21: rgb(67.2233% 98.3101% 22.0546%);
    --palTurbo-22: rgb(73.9198% 95.9045% 20.4738%);
    --palTurbo-23: rgb(80.3269% 92.5401% 20.4477%);
    --palTurbo-24: rgb(86.1914% 88.3907% 21.2919%);
    --palTurbo-25: rgb(91.2622% 83.6345% 22.3172%);
    --palTurbo-26: rgb(95.2794% 78.4454% 22.8333%);
    --palTurbo-27: rgb(98% 73% 22.161%);
    --palTurbo-28: rgb(99.3807% 66.8576% 20.145%);
    --palTurbo-29: rgb(99.64% 59.758% 17.3393%);
    --palTurbo-30: rgb(98.8713% 52.1235% 14.081%);
    --palTurbo-31: rgb(97.1832% 44.3856% 10.7196%);
    --palTurbo-32: rgb(94.673% 36.9736% 7.5976%);
    --palTurbo-33: rgb(91.4455% 30.3151% 5.0601%);
    --palTurbo-34: rgb(87.5706% 24.7124% 3.3486%);
    --palTurbo-35: rgb(82.9341% 19.6873% 2.0802%);
    --palTurbo-36: rgb(77.5128% 15.1303% 1.1658%);
    --palTurbo-37: rgb(71.3027% 11.0418% 0.6066%);
    --palTurbo-38: rgb(64.3093% 7.4201% 0.4015%);
    --palTurbo-39: rgb(56.5256% 4.2681% 0.552%);
    --palTurbo-40: rgb(47.96% 1.583% 1.055%);
}
