/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTurku-1: rgb(0.0063% 0.0005% 0.0035%);
    --palTurku-2: rgb(4.713% 4.6912% 4.2722%);
    --palTurku-3: rgb(8.138% 8.1103% 7.5132%);
    --palTurku-4: rgb(10.7395% 10.71% 9.8563%);
    --palTurku-5: rgb(13.351% 13.3123% 12.025%);
    --palTurku-6: rgb(16.0079% 15.9563% 14.1301%);
    --palTurku-7: rgb(18.6903% 18.6279% 16.1394%);
    --palTurku-8: rgb(21.3801% 21.3061% 18.0273%);
    --palTurku-9: rgb(24.0645% 23.9785% 19.7821%);
    --palTurku-10: rgb(26.7318% 26.6368% 21.3995%);
    --palTurku-11: rgb(29.3803% 29.2772% 22.8866%);
    --palTurku-12: rgb(32.013% 31.8992% 24.2603%);
    --palTurku-13: rgb(34.638% 34.5111% 25.5452%);
    --palTurku-14: rgb(37.276% 37.12% 26.764%);
    --palTurku-15: rgb(39.9529% 39.7393% 27.9523%);
    --palTurku-16: rgb(42.701% 42.3793% 29.139%);
    --palTurku-17: rgb(45.5646% 45.0511% 30.3581%);
    --palTurku-18: rgb(48.5951% 47.756% 31.6546%);
    --palTurku-19: rgb(51.8512% 50.4866% 33.064%);
    --palTurku-20: rgb(55.3724% 53.212% 34.6266%);
    --palTurku-21: rgb(59.164% 55.8626% 36.362%);
    --palTurku-22: rgb(63.1613% 58.3338% 38.2629%);
    --palTurku-23: rgb(67.2287% 60.498% 40.2816%);
    --palTurku-24: rgb(71.1861% 62.2496% 42.3479%);
    --palTurku-25: rgb(74.8773% 63.546% 44.4019%);
    --palTurku-26: rgb(78.2193% 64.4243% 46.4186%);
    --palTurku-27: rgb(81.22% 64.999% 48.437%);
    --palTurku-28: rgb(83.9449% 65.4193% 50.5489%);
    --palTurku-29: rgb(86.487% 65.8673% 52.8764%);
    --palTurku-30: rgb(88.9166% 66.5253% 55.5523%);
    --palTurku-31: rgb(91.2533% 67.5574% 58.6619%);
    --palTurku-32: rgb(93.4462% 69.0738% 62.1992%);
    --palTurku-33: rgb(95.3935% 71.0821% 66.0346%);
    --palTurku-34: rgb(96.9929% 73.491% 69.9669%);
    --palTurku-35: rgb(98.1947% 76.1542% 73.7986%);
    --palTurku-36: rgb(99.0221% 78.9379% 77.4173%);
    --palTurku-37: rgb(99.5406% 81.7553% 80.8026%);
    --palTurku-38: rgb(99.8344% 84.5689% 83.9962%);
    --palTurku-39: rgb(99.9705% 87.3735% 87.0626%);
    --palTurku-40: rgb(100% 90.174% 90.067%);
}
