/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTwilightShifted-1: rgb(18.7392% 7.7102% 21.6188%);
    --palTwilightShifted-2: rgb(21.4959% 6.5936% 26.2143%);
    --palTwilightShifted-3: rgb(25.3745% 7.062% 33.0211%);
    --palTwilightShifted-4: rgb(29.6789% 8.8016% 41.4501%);
    --palTwilightShifted-5: rgb(33.1901% 12.3159% 50.0448%);
    --palTwilightShifted-6: rgb(35.3413% 17.5936% 57.2651%);
    --palTwilightShifted-7: rgb(36.4221% 23.6833% 62.731%);
    --palTwilightShifted-8: rgb(36.9041% 29.9146% 66.7772%);
    --palTwilightShifted-9: rgb(37.1953% 36.0335% 69.7551%);
    --palTwilightShifted-10: rgb(37.6882% 41.9549% 71.9167%);
    --palTwilightShifted-11: rgb(38.7841% 47.6476% 73.4588%);
    --palTwilightShifted-12: rgb(40.8402% 53.0996% 74.5661%);
    --palTwilightShifted-13: rgb(44.0779% 58.3112% 75.4281%);
    --palTwilightShifted-14: rgb(48.5446% 63.2921% 76.2343%);
    --palTwilightShifted-15: rgb(54.1728% 68.0531% 77.1711%);
    --palTwilightShifted-16: rgb(60.861% 72.5873% 78.4479%);
    --palTwilightShifted-17: rgb(68.3993% 76.8415% 80.339%);
    --palTwilightShifted-18: rgb(76.1137% 80.677% 82.9978%);
    --palTwilightShifted-19: rgb(82.763% 83.7279% 85.9063%);
    --palTwilightShifted-20: rgb(87.2263% 85.1794% 88.1862%);
    --palTwilightShifted-21: rgb(88.293% 84.666% 86.9717%);
    --palTwilightShifted-22: rgb(86.8295% 82.0083% 81.801%);
    --palTwilightShifted-23: rgb(84.6879% 77.5624% 73.9281%);
    --palTwilightShifted-24: rgb(82.4243% 72.1864% 65.1926%);
    --palTwilightShifted-25: rgb(80.5932% 66.3193% 56.6581%);
    --palTwilightShifted-26: rgb(79.1226% 60.1716% 49.008%);
    --palTwilightShifted-27: rgb(77.6709% 53.8771% 42.696%);
    --palTwilightShifted-28: rgb(75.8975% 47.5722% 37.9182%);
    --palTwilightShifted-29: rgb(73.5965% 41.3814% 34.6174%);
    --palTwilightShifted-30: rgb(70.6921% 35.3962% 32.5769%);
    --palTwilightShifted-31: rgb(67.175% 29.6826% 31.5266%);
    --palTwilightShifted-32: rgb(63.0416% 24.3121% 31.2002%);
    --palTwilightShifted-33: rgb(58.254% 19.4149% 31.3162%);
    --palTwilightShifted-34: rgb(52.7427% 15.2386% 31.4822%);
    --palTwilightShifted-35: rgb(46.517% 12.0648% 31.1258%);
    --palTwilightShifted-36: rgb(39.8265% 9.8593% 29.7731%);
    --palTwilightShifted-37: rgb(33.1067% 8.2631% 27.4619%);
    --palTwilightShifted-38: rgb(26.9042% 7.1294% 24.7315%);
    --palTwilightShifted-39: rgb(21.9467% 6.7461% 22.4579%);
    --palTwilightShifted-40: rgb(18.488% 7.9425% 21.3076%);
}
