/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palVanimo-1: rgb(100% 80.346% 99.215%);
    --palVanimo-2: rgb(96.0356% 72.9139% 93.7683%);
    --palVanimo-3: rgb(92.0571% 65.7386% 88.4727%);
    --palVanimo-4: rgb(88.0667% 58.8949% 83.3366%);
    --palVanimo-5: rgb(84.0424% 52.4363% 78.3453%);
    --palVanimo-6: rgb(79.9514% 46.426% 73.4811%);
    --palVanimo-7: rgb(75.764% 40.9354% 68.7313%);
    --palVanimo-8: rgb(71.4485% 36.028% 64.0783%);
    --palVanimo-9: rgb(66.8633% 31.6312% 59.3816%);
    --palVanimo-10: rgb(61.726% 27.5356% 54.3597%);
    --palVanimo-11: rgb(55.9343% 23.6963% 48.9076%);
    --palVanimo-12: rgb(49.584% 20.171% 43.1056%);
    --palVanimo-13: rgb(42.8468% 17.0163% 37.0846%);
    --palVanimo-14: rgb(35.969% 14.258% 31.025%);
    --palVanimo-15: rgb(29.2719% 11.9252% 25.1663%);
    --palVanimo-16: rgb(23.1927% 10.0678% 19.8479%);
    --palVanimo-17: rgb(18.1787% 8.7476% 15.4285%);
    --palVanimo-18: rgb(14.4202% 7.9665% 12.0463%);
    --palVanimo-19: rgb(11.8846% 7.711% 9.6657%);
    --palVanimo-20: rgb(10.4695% 7.9401% 8.0727%);
    --palVanimo-21: rgb(9.927% 8.7477% 7.0965%);
    --palVanimo-22: rgb(10.1254% 10.1892% 6.7005%);
    --palVanimo-23: rgb(11.0293% 12.4965% 6.8403%);
    --palVanimo-24: rgb(12.6768% 15.6777% 7.3834%);
    --palVanimo-25: rgb(15.0272% 19.6044% 8.1367%);
    --palVanimo-26: rgb(17.888% 24.0405% 9.14%);
    --palVanimo-27: rgb(21.062% 28.744% 10.342%);
    --palVanimo-28: rgb(24.3882% 33.5352% 11.6766%);
    --palVanimo-29: rgb(27.7565% 38.2975% 13.1092%);
    --palVanimo-30: rgb(31.0887% 42.9602% 14.6093%);
    --palVanimo-31: rgb(34.3518% 47.4786% 16.1937%);
    --palVanimo-32: rgb(37.5808% 51.9151% 17.9346%);
    --palVanimo-33: rgb(40.9715% 56.5164% 20.0565%);
    --palVanimo-34: rgb(44.6954% 61.4849% 22.8438%);
    --palVanimo-35: rgb(48.8166% 66.872% 26.5866%);
    --palVanimo-36: rgb(53.3626% 72.68% 31.5506%);
    --palVanimo-37: rgb(58.3071% 78.8813% 37.9349%);
    --palVanimo-38: rgb(63.56% 85.4039% 45.753%);
    --palVanimo-39: rgb(68.9823% 92.172% 54.8166%);
    --palVanimo-40: rgb(74.458% 99.141% 64.748%);
}
