/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palViola-1: rgb(11.1384% 2.6699% 18.9945%);
    --palViola-2: rgb(17.5556% 4.7905% 27.1497%);
    --palViola-3: rgb(23.8783% 5.9849% 36.2438%);
    --palViola-4: rgb(29.3175% 7.2335% 46.526%);
    --palViola-5: rgb(31.7663% 13.501% 54.3113%);
    --palViola-6: rgb(32.6142% 20.9412% 59.023%);
    --palViola-7: rgb(32.9586% 27.7867% 62.6587%);
    --palViola-8: rgb(33.0824% 34.1791% 65.8916%);
    --palViola-9: rgb(33.0916% 40.3% 68.9638%);
    --palViola-10: rgb(33.0431% 46.2772% 71.9517%);
    --palViola-11: rgb(33.0213% 52.195% 74.8313%);
    --palViola-12: rgb(33.2679% 58.0937% 77.4849%);
    --palViola-13: rgb(34.46% 63.944% 79.6815%);
    --palViola-14: rgb(38.1441% 69.5666% 81.1057%);
    --palViola-15: rgb(45.951% 74.5976% 81.9049%);
    --palViola-16: rgb(56.2482% 79.0422% 83.226%);
    --palViola-17: rgb(66.6613% 83.3363% 85.5936%);
    --palViola-18: rgb(76.6325% 87.7479% 88.8583%);
    --palViola-19: rgb(86.2044% 92.3993% 92.85%);
    --palViola-20: rgb(95.4728% 97.3689% 97.47%);
    --palViola-21: rgb(97.6143% 96.5289% 97.5011%);
    --palViola-22: rgb(93.1189% 89.6848% 93.3195%);
    --palViola-23: rgb(89.3962% 82.811% 89.6673%);
    --palViola-24: rgb(86.2456% 75.9312% 86.3734%);
    --palViola-25: rgb(83.5827% 69.0027% 83.3742%);
    --palViola-26: rgb(81.36% 61.9501% 80.5935%);
    --palViola-27: rgb(79.5375% 54.6669% 77.9136%);
    --palViola-28: rgb(78.0643% 47.0073% 75.1221%);
    --palViola-29: rgb(76.8346% 38.8005% 71.7913%);
    --palViola-30: rgb(75.5315% 30.0382% 67.0563%);
    --palViola-31: rgb(73.3479% 21.5544% 59.8933%);
    --palViola-32: rgb(69.6418% 14.699% 50.8486%);
    --palViola-33: rgb(64.7333% 9.6029% 41.4101%);
    --palViola-34: rgb(59.0357% 6.0009% 32.3797%);
    --palViola-35: rgb(52.698% 4.1352% 24.1864%);
    --palViola-36: rgb(45.6968% 4.2244% 17.3684%);
    --palViola-37: rgb(38.1378% 4.9281% 12.5923%);
    --palViola-38: rgb(30.4787% 4.6851% 9.5305%);
    --palViola-39: rgb(22.9654% 3.3596% 7.1193%);
    --palViola-40: rgb(15.5356% 1.6292% 4.6405%);
}
