/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palViridis-1: rgb(26.7004% 0.4874% 32.9415%);
    --palViridis-2: rgb(27.5528% 4.1206% 36.7569%);
    --palViridis-3: rgb(28.0936% 7.9323% 40.272%);
    --palViridis-4: rgb(28.3156% 11.3708% 43.436%);
    --palViridis-5: rgb(28.2228% 14.6676% 46.2109%);
    --palViridis-6: rgb(27.8262% 17.8866% 48.5681%);
    --palViridis-7: rgb(27.1543% 21.0402% 50.5038%);
    --palViridis-8: rgb(26.2489% 24.1211% 52.0358%);
    --palViridis-9: rgb(25.1649% 27.1169% 53.2047%);
    --palViridis-10: rgb(23.9636% 30.0182% 54.0669%);
    --palViridis-11: rgb(22.7056% 32.8213% 54.6832%);
    --palViridis-12: rgb(21.4445% 35.5304% 55.1141%);
    --palViridis-13: rgb(20.2221% 38.154% 55.4095%);
    --palViridis-14: rgb(19.0631% 40.7061% 55.6089%);
    --palViridis-15: rgb(17.9762% 43.201% 55.7361%);
    --palViridis-16: rgb(16.9529% 45.6548% 55.8034%);
    --palViridis-17: rgb(15.9759% 48.0815% 55.8089%);
    --palViridis-18: rgb(15.0254% 50.4935% 55.7402%);
    --palViridis-19: rgb(14.0966% 52.9% 55.5761%);
    --palViridis-20: rgb(13.215% 55.3065% 55.2889%);
    --palViridis-21: rgb(12.4625% 57.7151% 54.8471%);
    --palViridis-22: rgb(11.9983% 60.1236% 54.2182%);
    --palViridis-23: rgb(12.0552% 62.5263% 53.3712%);
    --palViridis-24: rgb(12.8848% 64.9147% 52.2766%);
    --palViridis-25: rgb(14.6361% 67.2773% 50.9111%);
    --palViridis-26: rgb(17.3144% 69.6006% 49.2524%);
    --palViridis-27: rgb(20.803% 71.8701% 47.2873%);
    --palViridis-28: rgb(24.9747% 74.0687% 45.001%);
    --palViridis-29: rgb(29.7068% 76.1802% 42.3893%);
    --palViridis-30: rgb(34.9173% 78.1864% 39.4461%);
    --palViridis-31: rgb(40.5372% 80.07% 36.1739%);
    --palViridis-32: rgb(46.5167% 81.8133% 32.576%);
    --palViridis-33: rgb(52.8047% 83.402% 28.6691%);
    --palViridis-34: rgb(59.3494% 84.8242% 24.4844%);
    --palViridis-35: rgb(66.0845% 86.0766% 20.0993%);
    --palViridis-36: rgb(72.9273% 87.1675% 15.704%);
    --palViridis-37: rgb(79.7768% 88.1204% 11.8066%);
    --palViridis-38: rgb(86.5228% 88.977% 9.6068%);
    --palViridis-39: rgb(93.0628% 89.7902% 10.5944%);
    --palViridis-40: rgb(99.3248% 90.6157% 14.3936%);
}
