/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palWatermelon-1: rgb(59.3577% 98.9836% 10.2981%);
    --palWatermelon-2: rgb(48.763% 93.8072% 15.2513%);
    --palWatermelon-3: rgb(38.3902% 88.6198% 19.0921%);
    --palWatermelon-4: rgb(28.8016% 83.3237% 22.3293%);
    --palWatermelon-5: rgb(21.4636% 77.8314% 24.8884%);
    --palWatermelon-6: rgb(18.0668% 72.1533% 26.4873%);
    --palWatermelon-7: rgb(18.0741% 66.4037% 27.0555%);
    --palWatermelon-8: rgb(19.3345% 60.6965% 26.7725%);
    --palWatermelon-9: rgb(20.5174% 55.0961% 25.8612%);
    --palWatermelon-10: rgb(21.1904% 49.6291% 24.4943%);
    --palWatermelon-11: rgb(21.2775% 44.3008% 22.7909%);
    --palWatermelon-12: rgb(20.807% 39.1054% 20.8304%);
    --palWatermelon-13: rgb(19.8274% 34.03% 18.6655%);
    --palWatermelon-14: rgb(18.3811% 29.0562% 16.3294%);
    --palWatermelon-15: rgb(16.4956% 24.1604% 13.8408%);
    --palWatermelon-16: rgb(14.1778% 19.3115% 11.205%);
    --palWatermelon-17: rgb(11.4046% 14.4655% 8.4117%);
    --palWatermelon-18: rgb(8.1023% 9.5541% 5.4237%);
    --palWatermelon-19: rgb(4.085% 4.4458% 2.365%);
    --palWatermelon-20: rgb(0.603% 0.5777% 0.3828%);
    --palWatermelon-21: rgb(0.7729% 0.501% 0.4777%);
    --palWatermelon-22: rgb(6.1512% 3.4218% 3.2042%);
    --palWatermelon-23: rgb(12.502% 7.3767% 6.9874%);
    --palWatermelon-24: rgb(18.7409% 10.8915% 10.39%);
    --palWatermelon-25: rgb(25.0047% 14.0977% 13.5449%);
    --palWatermelon-26: rgb(31.3644% 17.0661% 16.5524%);
    --palWatermelon-27: rgb(37.866% 19.8332% 19.4889%);
    --palWatermelon-28: rgb(44.5424% 22.4173% 22.4311%);
    --palWatermelon-29: rgb(51.4155% 24.8267% 25.4804%);
    --palWatermelon-30: rgb(58.4858% 27.0702% 28.8169%);
    --palWatermelon-31: rgb(65.6534% 29.2186% 32.8971%);
    --palWatermelon-32: rgb(72.0318% 32.0637% 39.0472%);
    --palWatermelon-33: rgb(76.4291% 36.8838% 46.668%);
    --palWatermelon-34: rgb(79.9946% 42.5329% 54.1176%);
    --palWatermelon-35: rgb(83.2211% 48.4976% 61.3403%);
    --palWatermelon-36: rgb(86.2661% 54.6625% 68.3751%);
    --palWatermelon-37: rgb(89.2237% 60.9969% 75.2414%);
    --palWatermelon-38: rgb(92.172% 67.496% 81.9471%);
    --palWatermelon-39: rgb(95.187% 74.1655% 88.4913%);
    --palWatermelon-40: rgb(98.349% 81.016% 94.862%);
}
