/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palWater-1: rgb(10.5882% 11.7647% 13.7255%);
    --palWater-2: rgb(11.7647% 13.1422% 16.2795%);
    --palWater-3: rgb(12.9412% 14.5098% 18.8335%);
    --palWater-4: rgb(13.7255% 15.8974% 20.9954%);
    --palWater-5: rgb(14.902% 17.275% 23.5495%);
    --palWater-6: rgb(15.9074% 18.8235% 26.1035%);
    --palWater-7: rgb(16.8627% 20.3922% 28.6878%);
    --palWater-8: rgb(17.8783% 21.7998% 31.6037%);
    --palWater-9: rgb(18.8637% 23.1775% 34.1578%);
    --palWater-10: rgb(19.8491% 24.7059% 36.7118%);
    --palWater-11: rgb(20.7843% 26.3247% 39.2659%);
    --palWater-12: rgb(21.82% 27.8431% 41.82%);
    --palWater-13: rgb(22.7451% 29.4721% 44.374%);
    --palWater-14: rgb(23.7908% 30.9804% 47.3202%);
    --palWater-15: rgb(24.7059% 32.6193% 49.8742%);
    --palWater-16: rgb(25.4902% 34.3891% 52.4283%);
    --palWater-17: rgb(26.6667% 36.1588% 54.9824%);
    --palWater-18: rgb(27.451% 37.9286% 57.5364%);
    --palWater-19: rgb(28.3258% 39.6078% 60%);
    --palWater-20: rgb(29.4118% 41.1765% 62.2523%);
    --palWater-21: rgb(30.2966% 43.1373% 64.8064%);
    --palWater-22: rgb(31.282% 45.0075% 66.9683%);
    --palWater-23: rgb(32.1569% 46.7772% 69.1302%);
    --palWater-24: rgb(32.9412% 48.547% 71.292%);
    --palWater-25: rgb(34.1176% 50.3167% 73.0618%);
    --palWater-26: rgb(34.902% 52.4786% 74.902%);
    --palWater-27: rgb(35.8169% 54.5098% 76.4706%);
    --palWater-28: rgb(36.8023% 56.4706% 77.5867%);
    --palWater-29: rgb(37.6471% 58.5721% 78.0392%);
    --palWater-30: rgb(38.0392% 61.1262% 78.0392%);
    --palWater-31: rgb(38.5822% 63.2881% 78.0392%);
    --palWater-32: rgb(39.2157% 65.4499% 78.0392%);
    --palWater-33: rgb(40% 67.8431% 78.5922%);
    --palWater-34: rgb(40.7843% 70.1659% 79.2157%);
    --palWater-35: rgb(41.9608% 72.1569% 80%);
    --palWater-36: rgb(43.1171% 74.1176% 80.7843%);
    --palWater-37: rgb(44.3137% 76.2594% 81.9608%);
    --palWater-38: rgb(45.8723% 78.4213% 83.1373%);
    --palWater-39: rgb(47.451% 80.3922% 84.8969%);
    --palWater-40: rgb(49.4118% 82.3529% 86.6667%);
}
