/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palWaterlily-1: rgb(12.4343% 0.5884% 21.4%);
    --palWaterlily-2: rgb(18.8881% 1.4791% 29.8127%);
    --palWaterlily-3: rgb(24.8373% 1.9198% 39.4666%);
    --palWaterlily-4: rgb(28.135% 8.1912% 47.7671%);
    --palWaterlily-5: rgb(29.5085% 16.0789% 52.8792%);
    --palWaterlily-6: rgb(30.2668% 22.9938% 56.8468%);
    --palWaterlily-7: rgb(30.7324% 29.3355% 60.3866%);
    --palWaterlily-8: rgb(31.0196% 35.3596% 63.7523%);
    --palWaterlily-9: rgb(31.1764% 41.2185% 67.0375%);
    --palWaterlily-10: rgb(31.2421% 47.0094% 70.2481%);
    --palWaterlily-11: rgb(31.324% 52.7911% 73.3157%);
    --palWaterlily-12: rgb(31.7616% 58.5776% 76.0842%);
    --palWaterlily-13: rgb(33.4777% 64.2995% 78.2838%);
    --palWaterlily-14: rgb(38.3152% 69.7084% 79.6418%);
    --palWaterlily-15: rgb(47.1139% 74.4841% 80.6553%);
    --palWaterlily-16: rgb(57.3924% 78.8332% 82.4114%);
    --palWaterlily-17: rgb(67.4771% 83.1435% 85.1137%);
    --palWaterlily-18: rgb(77.1391% 87.607% 88.5968%);
    --palWaterlily-19: rgb(86.4649% 92.318% 92.7295%);
    --palWaterlily-20: rgb(95.5456% 97.3442% 97.4393%);
    --palWaterlily-21: rgb(95.8947% 97.3338% 96.2459%);
    --palWaterlily-22: rgb(87.5359% 92.3661% 88.4285%);
    --palWaterlily-23: rgb(79.1754% 87.7318% 80.4007%);
    --palWaterlily-24: rgb(70.8101% 83.3578% 72.2459%);
    --palWaterlily-25: rgb(62.4052% 79.1897% 63.9589%);
    --palWaterlily-26: rgb(53.9189% 75.1735% 55.5008%);
    --palWaterlily-27: rgb(45.3116% 71.2495% 46.8001%);
    --palWaterlily-28: rgb(36.5834% 67.3439% 37.7222%);
    --palWaterlily-29: rgb(27.9997% 63.3441% 27.9586%);
    --palWaterlily-30: rgb(21.9488% 58.9353% 16.6097%);
    --palWaterlily-31: rgb(25.8476% 53.0901% 8.1575%);
    --palWaterlily-32: rgb(28.1701% 47.1786% 7.3568%);
    --palWaterlily-33: rgb(28.4251% 41.5833% 7.8482%);
    --palWaterlily-34: rgb(27.5526% 36.2286% 8.2442%);
    --palWaterlily-35: rgb(25.9367% 31.0601% 8.2757%);
    --palWaterlily-36: rgb(23.7707% 26.0318% 7.8953%);
    --palWaterlily-37: rgb(21.1595% 21.0967% 7.0985%);
    --palWaterlily-38: rgb(18.1523% 16.1991% 5.8867%);
    --palWaterlily-39: rgb(14.7377% 11.2648% 4.2704%);
    --palWaterlily-40: rgb(10.7786% 6.1932% 2.4649%);
}
