/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palYel15-1: rgb(99.6093% 99.6093% 98.0468%);
    --palYel15-2: rgb(98.6177% 98.8281% 91.1658%);
    --palYel15-3: rgb(98.0468% 98.0468% 83.5336%);
    --palYel15-4: rgb(98.0468% 98.0468% 78.4254%);
    --palYel15-5: rgb(98.0468% 98.0468% 73.3173%);
    --palYel15-6: rgb(97.6562% 97.2656% 68.8701%);
    --palYel15-7: rgb(97.2656% 96.0937% 64.3629%);
    --palYel15-8: rgb(97.2656% 94.9218% 60.3365%);
    --palYel15-9: rgb(97.2656% 93.6298% 56.4002%);
    --palYel15-10: rgb(96.875% 91.4663% 51.6826%);
    --palYel15-11: rgb(96.0937% 89.4531% 46.9651%);
    --palYel15-12: rgb(96.0937% 87.1394% 41.8569%);
    --palYel15-13: rgb(96.0937% 84.9759% 36.7487%);
    --palYel15-14: rgb(95.7031% 82.0312% 31.6406%);
    --palYel15-15: rgb(95.3125% 78.6959% 27.1334%);
    --palYel15-16: rgb(94.5312% 75.7211% 23.768%);
    --palYel15-17: rgb(94.1406% 72.4158% 20.2223%);
    --palYel15-18: rgb(93.75% 69.0805% 16.6766%);
    --palYel15-19: rgb(93.3593% 65.7451% 13.4014%);
    --palYel15-20: rgb(92.5781% 62.0192% 10.4567%);
    --palYel15-21: rgb(92.1875% 58.6838% 8.2932%);
    --palYel15-22: rgb(91.7968% 55.6189% 6.1298%);
    --palYel15-23: rgb(91.4062% 52.4038% 4.6875%);
    --palYel15-24: rgb(90.625% 49.4591% 3.756%);
    --palYel15-25: rgb(89.8437% 46.1237% 2.7644%);
    --palYel15-26: rgb(88.8822% 42.2175% 1.9531%);
    --palYel15-27: rgb(85.5468% 37.5% 1.1718%);
    --palYel15-28: rgb(80.8293% 32.0012% 0%);
    --palYel15-29: rgb(78.0949% 28.0649% 0%);
    --palYel15-30: rgb(75.9314% 24.5192% 0%);
    --palYel15-31: rgb(72.536% 21.4242% 0.3906%);
    --palYel15-32: rgb(68.2091% 18.4795% 0.7812%);
    --palYel15-33: rgb(64.2728% 15.4447% 1.5625%);
    --palYel15-34: rgb(60.2463% 12.2896% 1.9531%);
    --palYel15-35: rgb(55.2283% 9.1346% 2.3437%);
    --palYel15-36: rgb(50.1201% 5.5288% 2.7343%);
    --palYel15-37: rgb(45.012% 4.5372% 4.2968%);
    --palYel15-38: rgb(39.9038% 3.9062% 5.4687%);
    --palYel15-39: rgb(34.7956% 4.0865% 7.2115%);
    --palYel15-40: rgb(30.0781% 4.6875% 8.5937%);
}
