/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palYellows-1: rgb(10.5882% 11.7647% 13.7255%);
    --palYellows-2: rgb(12.1569% 12.9412% 14.1176%);
    --palYellows-3: rgb(13.7355% 14.1276% 14.5198%);
    --palYellows-4: rgb(15.2941% 15.5052% 15.2941%);
    --palYellows-5: rgb(16.8828% 16.8627% 15.6863%);
    --palYellows-6: rgb(18.4314% 18.0392% 16.0784%);
    --palYellows-7: rgb(20% 19.2458% 16.4706%);
    --palYellows-8: rgb(21.5686% 20.6234% 17.0939%);
    --palYellows-9: rgb(23.1373% 22.001% 17.6471%);
    --palYellows-10: rgb(24.7059% 23.3785% 18.0392%);
    --palYellows-11: rgb(26.3247% 24.7561% 18.4314%);
    --palYellows-12: rgb(27.8431% 26.1337% 18.8235%);
    --palYellows-13: rgb(29.4721% 27.5113% 19.2157%);
    --palYellows-14: rgb(30.9804% 28.8889% 19.6078%);
    --palYellows-15: rgb(32.6193% 30.2664% 20.0703%);
    --palYellows-16: rgb(34.3891% 31.7647% 20.6636%);
    --palYellows-17: rgb(36.0784% 33.3333% 21.1765%);
    --palYellows-18: rgb(37.5364% 34.7913% 21.5686%);
    --palYellows-19: rgb(39.3061% 36.1689% 21.9608%);
    --palYellows-20: rgb(41.0759% 37.6471% 22.3529%);
    --palYellows-21: rgb(42.4534% 39.2157% 22.7451%);
    --palYellows-22: rgb(44.2232% 40.6938% 23.1373%);
    --palYellows-23: rgb(45.9929% 42.0713% 23.5294%);
    --palYellows-24: rgb(47.7626% 43.5294% 23.9216%);
    --palYellows-25: rgb(49.4118% 45.2186% 24.3137%);
    --palYellows-26: rgb(50.9804% 46.6667% 24.7059%);
    --palYellows-27: rgb(52.9412% 48.2353% 25.0979%);
    --palYellows-28: rgb(54.5098% 49.7435% 25.4902%);
    --palYellows-29: rgb(56.2191% 51.3725% 25.8824%);
    --palYellows-30: rgb(58.0392% 52.8909% 26.2745%);
    --palYellows-31: rgb(59.7586% 54.5098% 26.6667%);
    --palYellows-32: rgb(61.5283% 56.0381% 27.0588%);
    --palYellows-33: rgb(63.2981% 57.6471% 27.451%);
    --palYellows-34: rgb(65.098% 59.1855% 27.8431%);
    --palYellows-35: rgb(66.8376% 60.9552% 28.2353%);
    --palYellows-36: rgb(68.6275% 62.3529% 28.2353%);
    --palYellows-37: rgb(70.5882% 64.1025% 28.6275%);
    --palYellows-38: rgb(72.5389% 65.8723% 29.0196%);
    --palYellows-39: rgb(74.3086% 67.2498% 29.4118%);
    --palYellows-40: rgb(76.0784% 69.0196% 29.8039%);
}
