/* author: Christophe, Bal */

/* xcolor (LaTeX) - SVG names :
 * Gray, SlateGray, LightSkyBlue, LightPink, Pink, LightSalmon, FireBrick
 *
 * The file ''dev/luadraw_extract.tex'' has been used to produce
 * the following definitions.
 */

:root {
  --PALETTE-1 : rgb(50.2%,50.2%,50.2%);
  --PALETTE-2 : rgb(43.92%, 50.2%, 56.47%);
  --PALETTE-3 : rgb(52.94%, 80.78%, 98.04%);
  --PALETTE-4 : rgb(100%, 71.37%, 75.69%);
  --PALETTE-5 : rgb(100%, 75.29%, 79.61%);
  --PALETTE-6 : rgb(100%, 62.75%, 47.84%);
  --PALETTE-7 : rgb(69.8%, 13.33%, 13.33%);
}
