/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palAfmhot-1: rgb(0% 0% 0%);
    --palAfmhot-2: rgb(0.78% 0% 0%);
    --palAfmhot-3: rgb(1.57% 0% 0%);
    --palAfmhot-4: rgb(2.35% 0% 0%);
    --palAfmhot-5: rgb(3.14% 0% 0%);
    --palAfmhot-6: rgb(3.92% 0% 0%);
    --palAfmhot-7: rgb(4.71% 0% 0%);
    --palAfmhot-8: rgb(5.49% 0% 0%);
    --palAfmhot-9: rgb(6.27% 0% 0%);
    --palAfmhot-10: rgb(7.06% 0% 0%);
    --palAfmhot-11: rgb(7.84% 0% 0%);
    --palAfmhot-12: rgb(8.63% 0% 0%);
    --palAfmhot-13: rgb(9.41% 0% 0%);
    --palAfmhot-14: rgb(10.2% 0% 0%);
    --palAfmhot-15: rgb(10.98% 0% 0%);
    --palAfmhot-16: rgb(11.76% 0% 0%);
    --palAfmhot-17: rgb(12.55% 0% 0%);
    --palAfmhot-18: rgb(13.33% 0% 0%);
    --palAfmhot-19: rgb(14.12% 0% 0%);
    --palAfmhot-20: rgb(14.9% 0% 0%);
    --palAfmhot-21: rgb(15.69% 0% 0%);
    --palAfmhot-22: rgb(16.47% 0% 0%);
    --palAfmhot-23: rgb(17.25% 0% 0%);
    --palAfmhot-24: rgb(18.04% 0% 0%);
    --palAfmhot-25: rgb(18.82% 0% 0%);
    --palAfmhot-26: rgb(19.61% 0% 0%);
    --palAfmhot-27: rgb(20.39% 0% 0%);
    --palAfmhot-28: rgb(21.18% 0% 0%);
    --palAfmhot-29: rgb(21.96% 0% 0%);
    --palAfmhot-30: rgb(22.75% 0% 0%);
    --palAfmhot-31: rgb(23.53% 0% 0%);
    --palAfmhot-32: rgb(24.31% 0% 0%);
    --palAfmhot-33: rgb(25.1% 0% 0%);
    --palAfmhot-34: rgb(25.88% 0% 0%);
    --palAfmhot-35: rgb(26.67% 0% 0%);
    --palAfmhot-36: rgb(27.45% 0% 0%);
    --palAfmhot-37: rgb(28.24% 0% 0%);
    --palAfmhot-38: rgb(29.02% 0% 0%);
    --palAfmhot-39: rgb(29.8% 0% 0%);
    --palAfmhot-40: rgb(30.59% 0% 0%);
    --palAfmhot-41: rgb(31.37% 0% 0%);
    --palAfmhot-42: rgb(32.16% 0% 0%);
    --palAfmhot-43: rgb(32.94% 0% 0%);
    --palAfmhot-44: rgb(33.73% 0% 0%);
    --palAfmhot-45: rgb(34.51% 0% 0%);
    --palAfmhot-46: rgb(35.29% 0% 0%);
    --palAfmhot-47: rgb(36.08% 0% 0%);
    --palAfmhot-48: rgb(36.86% 0% 0%);
    --palAfmhot-49: rgb(37.65% 0% 0%);
    --palAfmhot-50: rgb(38.43% 0% 0%);
    --palAfmhot-51: rgb(39.22% 0% 0%);
    --palAfmhot-52: rgb(40% 0% 0%);
    --palAfmhot-53: rgb(40.78% 0% 0%);
    --palAfmhot-54: rgb(41.57% 0% 0%);
    --palAfmhot-55: rgb(42.35% 0% 0%);
    --palAfmhot-56: rgb(43.14% 0% 0%);
    --palAfmhot-57: rgb(43.92% 0% 0%);
    --palAfmhot-58: rgb(44.71% 0% 0%);
    --palAfmhot-59: rgb(45.49% 0% 0%);
    --palAfmhot-60: rgb(46.27% 0% 0%);
    --palAfmhot-61: rgb(47.06% 0% 0%);
    --palAfmhot-62: rgb(47.84% 0% 0%);
    --palAfmhot-63: rgb(48.63% 0% 0%);
    --palAfmhot-64: rgb(49.41% 0% 0%);
    --palAfmhot-65: rgb(50.2% 0.2% 0%);
    --palAfmhot-66: rgb(50.98% 0.98% 0%);
    --palAfmhot-67: rgb(51.76% 1.76% 0%);
    --palAfmhot-68: rgb(52.55% 2.55% 0%);
    --palAfmhot-69: rgb(53.33% 3.33% 0%);
    --palAfmhot-70: rgb(54.12% 4.12% 0%);
    --palAfmhot-71: rgb(54.9% 4.9% 0%);
    --palAfmhot-72: rgb(55.69% 5.69% 0%);
    --palAfmhot-73: rgb(56.47% 6.47% 0%);
    --palAfmhot-74: rgb(57.25% 7.25% 0%);
    --palAfmhot-75: rgb(58.04% 8.04% 0%);
    --palAfmhot-76: rgb(58.82% 8.82% 0%);
    --palAfmhot-77: rgb(59.61% 9.61% 0%);
    --palAfmhot-78: rgb(60.39% 10.39% 0%);
    --palAfmhot-79: rgb(61.18% 11.18% 0%);
    --palAfmhot-80: rgb(61.96% 11.96% 0%);
    --palAfmhot-81: rgb(62.75% 12.75% 0%);
    --palAfmhot-82: rgb(63.53% 13.53% 0%);
    --palAfmhot-83: rgb(64.31% 14.31% 0%);
    --palAfmhot-84: rgb(65.1% 15.1% 0%);
    --palAfmhot-85: rgb(65.88% 15.88% 0%);
    --palAfmhot-86: rgb(66.67% 16.67% 0%);
    --palAfmhot-87: rgb(67.45% 17.45% 0%);
    --palAfmhot-88: rgb(68.24% 18.24% 0%);
    --palAfmhot-89: rgb(69.02% 19.02% 0%);
    --palAfmhot-90: rgb(69.8% 19.8% 0%);
    --palAfmhot-91: rgb(70.59% 20.59% 0%);
    --palAfmhot-92: rgb(71.37% 21.37% 0%);
    --palAfmhot-93: rgb(72.16% 22.16% 0%);
    --palAfmhot-94: rgb(72.94% 22.94% 0%);
    --palAfmhot-95: rgb(73.73% 23.73% 0%);
    --palAfmhot-96: rgb(74.51% 24.51% 0%);
    --palAfmhot-97: rgb(75.29% 25.29% 0%);
    --palAfmhot-98: rgb(76.08% 26.08% 0%);
    --palAfmhot-99: rgb(76.86% 26.86% 0%);
    --palAfmhot-100: rgb(77.65% 27.65% 0%);
    --palAfmhot-101: rgb(78.43% 28.43% 0%);
    --palAfmhot-102: rgb(79.22% 29.22% 0%);
    --palAfmhot-103: rgb(80% 30% 0%);
    --palAfmhot-104: rgb(80.78% 30.78% 0%);
    --palAfmhot-105: rgb(81.57% 31.57% 0%);
    --palAfmhot-106: rgb(82.35% 32.35% 0%);
    --palAfmhot-107: rgb(83.14% 33.14% 0%);
    --palAfmhot-108: rgb(83.92% 33.92% 0%);
    --palAfmhot-109: rgb(84.71% 34.71% 0%);
    --palAfmhot-110: rgb(85.49% 35.49% 0%);
    --palAfmhot-111: rgb(86.27% 36.27% 0%);
    --palAfmhot-112: rgb(87.06% 37.06% 0%);
    --palAfmhot-113: rgb(87.84% 37.84% 0%);
    --palAfmhot-114: rgb(88.63% 38.63% 0%);
    --palAfmhot-115: rgb(89.41% 39.41% 0%);
    --palAfmhot-116: rgb(90.2% 40.2% 0%);
    --palAfmhot-117: rgb(90.98% 40.98% 0%);
    --palAfmhot-118: rgb(91.76% 41.76% 0%);
    --palAfmhot-119: rgb(92.55% 42.55% 0%);
    --palAfmhot-120: rgb(93.33% 43.33% 0%);
    --palAfmhot-121: rgb(94.12% 44.12% 0%);
    --palAfmhot-122: rgb(94.9% 44.9% 0%);
    --palAfmhot-123: rgb(95.69% 45.69% 0%);
    --palAfmhot-124: rgb(96.47% 46.47% 0%);
    --palAfmhot-125: rgb(97.25% 47.25% 0%);
    --palAfmhot-126: rgb(98.04% 48.04% 0%);
    --palAfmhot-127: rgb(98.82% 48.82% 0%);
    --palAfmhot-128: rgb(99.61% 49.61% 0%);
    --palAfmhot-129: rgb(100% 50.39% 0.39%);
    --palAfmhot-130: rgb(100% 51.18% 1.18%);
    --palAfmhot-131: rgb(100% 51.96% 1.96%);
    --palAfmhot-132: rgb(100% 52.75% 2.75%);
    --palAfmhot-133: rgb(100% 53.53% 3.53%);
    --palAfmhot-134: rgb(100% 54.31% 4.31%);
    --palAfmhot-135: rgb(100% 55.1% 5.1%);
    --palAfmhot-136: rgb(100% 55.88% 5.88%);
    --palAfmhot-137: rgb(100% 56.67% 6.67%);
    --palAfmhot-138: rgb(100% 57.45% 7.45%);
    --palAfmhot-139: rgb(100% 58.24% 8.24%);
    --palAfmhot-140: rgb(100% 59.02% 9.02%);
    --palAfmhot-141: rgb(100% 59.8% 9.8%);
    --palAfmhot-142: rgb(100% 60.59% 10.59%);
    --palAfmhot-143: rgb(100% 61.37% 11.37%);
    --palAfmhot-144: rgb(100% 62.16% 12.16%);
    --palAfmhot-145: rgb(100% 62.94% 12.94%);
    --palAfmhot-146: rgb(100% 63.73% 13.73%);
    --palAfmhot-147: rgb(100% 64.51% 14.51%);
    --palAfmhot-148: rgb(100% 65.29% 15.29%);
    --palAfmhot-149: rgb(100% 66.08% 16.08%);
    --palAfmhot-150: rgb(100% 66.86% 16.86%);
    --palAfmhot-151: rgb(100% 67.65% 17.65%);
    --palAfmhot-152: rgb(100% 68.43% 18.43%);
    --palAfmhot-153: rgb(100% 69.22% 19.22%);
    --palAfmhot-154: rgb(100% 70% 20%);
    --palAfmhot-155: rgb(100% 70.78% 20.78%);
    --palAfmhot-156: rgb(100% 71.57% 21.57%);
    --palAfmhot-157: rgb(100% 72.35% 22.35%);
    --palAfmhot-158: rgb(100% 73.14% 23.14%);
    --palAfmhot-159: rgb(100% 73.92% 23.92%);
    --palAfmhot-160: rgb(100% 74.71% 24.71%);
    --palAfmhot-161: rgb(100% 75.49% 25.49%);
    --palAfmhot-162: rgb(100% 76.27% 26.27%);
    --palAfmhot-163: rgb(100% 77.06% 27.06%);
    --palAfmhot-164: rgb(100% 77.84% 27.84%);
    --palAfmhot-165: rgb(100% 78.63% 28.63%);
    --palAfmhot-166: rgb(100% 79.41% 29.41%);
    --palAfmhot-167: rgb(100% 80.2% 30.2%);
    --palAfmhot-168: rgb(100% 80.98% 30.98%);
    --palAfmhot-169: rgb(100% 81.76% 31.76%);
    --palAfmhot-170: rgb(100% 82.55% 32.55%);
    --palAfmhot-171: rgb(100% 83.33% 33.33%);
    --palAfmhot-172: rgb(100% 84.12% 34.12%);
    --palAfmhot-173: rgb(100% 84.9% 34.9%);
    --palAfmhot-174: rgb(100% 85.69% 35.69%);
    --palAfmhot-175: rgb(100% 86.47% 36.47%);
    --palAfmhot-176: rgb(100% 87.25% 37.25%);
    --palAfmhot-177: rgb(100% 88.04% 38.04%);
    --palAfmhot-178: rgb(100% 88.82% 38.82%);
    --palAfmhot-179: rgb(100% 89.61% 39.61%);
    --palAfmhot-180: rgb(100% 90.39% 40.39%);
    --palAfmhot-181: rgb(100% 91.18% 41.18%);
    --palAfmhot-182: rgb(100% 91.96% 41.96%);
    --palAfmhot-183: rgb(100% 92.75% 42.75%);
    --palAfmhot-184: rgb(100% 93.53% 43.53%);
    --palAfmhot-185: rgb(100% 94.31% 44.31%);
    --palAfmhot-186: rgb(100% 95.1% 45.1%);
    --palAfmhot-187: rgb(100% 95.88% 45.88%);
    --palAfmhot-188: rgb(100% 96.67% 46.67%);
    --palAfmhot-189: rgb(100% 97.45% 47.45%);
    --palAfmhot-190: rgb(100% 98.24% 48.24%);
    --palAfmhot-191: rgb(100% 99.02% 49.02%);
    --palAfmhot-192: rgb(100% 99.8% 49.8%);
    --palAfmhot-193: rgb(100% 100% 50.59%);
    --palAfmhot-194: rgb(100% 100% 51.37%);
    --palAfmhot-195: rgb(100% 100% 52.16%);
    --palAfmhot-196: rgb(100% 100% 52.94%);
    --palAfmhot-197: rgb(100% 100% 53.73%);
    --palAfmhot-198: rgb(100% 100% 54.51%);
    --palAfmhot-199: rgb(100% 100% 55.29%);
    --palAfmhot-200: rgb(100% 100% 56.08%);
    --palAfmhot-201: rgb(100% 100% 56.86%);
    --palAfmhot-202: rgb(100% 100% 57.65%);
    --palAfmhot-203: rgb(100% 100% 58.43%);
    --palAfmhot-204: rgb(100% 100% 59.22%);
    --palAfmhot-205: rgb(100% 100% 60%);
    --palAfmhot-206: rgb(100% 100% 60.78%);
    --palAfmhot-207: rgb(100% 100% 61.57%);
    --palAfmhot-208: rgb(100% 100% 62.35%);
    --palAfmhot-209: rgb(100% 100% 63.14%);
    --palAfmhot-210: rgb(100% 100% 63.92%);
    --palAfmhot-211: rgb(100% 100% 64.71%);
    --palAfmhot-212: rgb(100% 100% 65.49%);
    --palAfmhot-213: rgb(100% 100% 66.27%);
    --palAfmhot-214: rgb(100% 100% 67.06%);
    --palAfmhot-215: rgb(100% 100% 67.84%);
    --palAfmhot-216: rgb(100% 100% 68.63%);
    --palAfmhot-217: rgb(100% 100% 69.41%);
    --palAfmhot-218: rgb(100% 100% 70.2%);
    --palAfmhot-219: rgb(100% 100% 70.98%);
    --palAfmhot-220: rgb(100% 100% 71.76%);
    --palAfmhot-221: rgb(100% 100% 72.55%);
    --palAfmhot-222: rgb(100% 100% 73.33%);
    --palAfmhot-223: rgb(100% 100% 74.12%);
    --palAfmhot-224: rgb(100% 100% 74.9%);
    --palAfmhot-225: rgb(100% 100% 75.69%);
    --palAfmhot-226: rgb(100% 100% 76.47%);
    --palAfmhot-227: rgb(100% 100% 77.25%);
    --palAfmhot-228: rgb(100% 100% 78.04%);
    --palAfmhot-229: rgb(100% 100% 78.82%);
    --palAfmhot-230: rgb(100% 100% 79.61%);
    --palAfmhot-231: rgb(100% 100% 80.39%);
    --palAfmhot-232: rgb(100% 100% 81.18%);
    --palAfmhot-233: rgb(100% 100% 81.96%);
    --palAfmhot-234: rgb(100% 100% 82.75%);
    --palAfmhot-235: rgb(100% 100% 83.53%);
    --palAfmhot-236: rgb(100% 100% 84.31%);
    --palAfmhot-237: rgb(100% 100% 85.1%);
    --palAfmhot-238: rgb(100% 100% 85.88%);
    --palAfmhot-239: rgb(100% 100% 86.67%);
    --palAfmhot-240: rgb(100% 100% 87.45%);
    --palAfmhot-241: rgb(100% 100% 88.24%);
    --palAfmhot-242: rgb(100% 100% 89.02%);
    --palAfmhot-243: rgb(100% 100% 89.8%);
    --palAfmhot-244: rgb(100% 100% 90.59%);
    --palAfmhot-245: rgb(100% 100% 91.37%);
    --palAfmhot-246: rgb(100% 100% 92.16%);
    --palAfmhot-247: rgb(100% 100% 92.94%);
    --palAfmhot-248: rgb(100% 100% 93.73%);
    --palAfmhot-249: rgb(100% 100% 94.51%);
    --palAfmhot-250: rgb(100% 100% 95.29%);
    --palAfmhot-251: rgb(100% 100% 96.08%);
    --palAfmhot-252: rgb(100% 100% 96.86%);
    --palAfmhot-253: rgb(100% 100% 97.65%);
    --palAfmhot-254: rgb(100% 100% 98.43%);
    --palAfmhot-255: rgb(100% 100% 99.22%);
    --palAfmhot-256: rgb(100% 100% 100%);
}
