/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palAgGrnYl-1: rgb(14.117647% 33.72549% 40.784314%);
    --palAgGrnYl-2: rgb(5.882353% 44.705882% 47.45098%);
    --palAgGrnYl-3: rgb(5.098039% 56.078431% 50.588235%);
    --palAgGrnYl-4: rgb(22.352941% 67.058824% 49.411765%);
    --palAgGrnYl-5: rgb(43.137255% 77.254902% 45.490196%);
    --palAgGrnYl-6: rgb(66.27451% 86.27451% 40.392157%);
    --palAgGrnYl-7: rgb(92.941176% 93.72549% 36.470588%);
}
