/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palApple-1: rgb(0% 0% 0%);
    --palApple-2: rgb(0.034522% 0.019191% 0.02223%);
    --palApple-3: rgb(0.125317% 0.064517% 0.076656%);
    --palApple-4: rgb(0.270346% 0.129799% 0.157932%);
    --palApple-5: rgb(0.470212% 0.211827% 0.263526%);
    --palApple-6: rgb(0.726113% 0.308337% 0.391731%);
    --palApple-7: rgb(1.039481% 0.417548% 0.541234%);
    --palApple-8: rgb(1.411864% 0.537976% 0.710952%);
    --palApple-9: rgb(1.8449% 0.668326% 0.899939%);
    --palApple-10: rgb(2.340314% 0.807431% 1.107344%);
    --palApple-11: rgb(2.899795% 0.954253% 1.332384%);
    --palApple-12: rgb(3.525113% 1.107815% 1.574318%);
    --palApple-13: rgb(4.213125% 1.267185% 1.832428%);
    --palApple-14: rgb(4.909383% 1.431527% 2.10603%);
    --palApple-15: rgb(5.602829% 1.599999% 2.394439%);
    --palApple-16: rgb(6.294069% 1.771814% 2.696984%);
    --palApple-17: rgb(6.983598% 1.946225% 3.012998%);
    --palApple-18: rgb(7.671928% 2.122461% 3.341796%);
    --palApple-19: rgb(8.359352% 2.299853% 3.682718%);
    --palApple-20: rgb(9.046311% 2.477635% 4.035051%);
    --palApple-21: rgb(9.732985% 2.655195% 4.383743%);
    --palApple-22: rgb(10.419738% 2.831787% 4.724805%);
    --palApple-23: rgb(11.106708% 3.006814% 5.05859%);
    --palApple-24: rgb(11.794152% 3.179585% 5.385217%);
    --palApple-25: rgb(12.48224% 3.349468% 5.704796%);
    --palApple-26: rgb(13.171089% 3.515874% 6.01742%);
    --palApple-27: rgb(13.860946% 3.678085% 6.323111%);
    --palApple-28: rgb(14.551857% 3.835565% 6.621933%);
    --palApple-29: rgb(15.24394% 3.98771% 6.913901%);
    --palApple-30: rgb(15.937355% 4.131818% 7.198991%);
    --palApple-31: rgb(16.632185% 4.266018% 7.477184%);
    --palApple-32: rgb(17.32849% 4.391025% 7.748454%);
    --palApple-33: rgb(18.026353% 4.506769% 8.012743%);
    --palApple-34: rgb(18.725849% 4.613166% 8.26998%);
    --palApple-35: rgb(19.427045% 4.71011% 8.520078%);
    --palApple-36: rgb(20.129998% 4.797477% 8.762932%);
    --palApple-37: rgb(20.83476% 4.875126% 8.998426%);
    --palApple-38: rgb(21.541372% 4.942899% 9.226428%);
    --palApple-39: rgb(22.249867% 5.000619% 9.446791%);
    --palApple-40: rgb(22.960272% 5.04809% 9.659352%);
    --palApple-41: rgb(23.6726% 5.085102% 9.863937%);
    --palApple-42: rgb(24.386859% 5.111424% 10.060352%);
    --palApple-43: rgb(25.103045% 5.12681% 10.248393%);
    --palApple-44: rgb(25.821174% 5.130947% 10.427816%);
    --palApple-45: rgb(26.541283% 5.123449% 10.598337%);
    --palApple-46: rgb(27.263259% 5.104128% 10.75975%);
    --palApple-47: rgb(27.987156% 5.072481% 10.911701%);
    --palApple-48: rgb(28.71288% 5.028207% 11.053915%);
    --palApple-49: rgb(29.440436% 4.970784% 11.186007%);
    --palApple-50: rgb(30.169684% 4.899892% 11.307672%);
    --palApple-51: rgb(30.900651% 4.814841% 11.418422%);
    --palApple-52: rgb(31.633188% 4.715204% 11.517876%);
    --palApple-53: rgb(32.367181% 4.600426% 11.605574%);
    --palApple-54: rgb(33.102511% 4.469878% 11.681005%);
    --palApple-55: rgb(33.839028% 4.32291% 11.743623%);
    --palApple-56: rgb(34.576546% 4.158862% 11.792849%);
    --palApple-57: rgb(35.314838% 3.976262% 11.82807%);
    --palApple-58: rgb(36.053718% 3.777454% 11.848531%);
    --palApple-59: rgb(36.792832% 3.566444% 11.853569%);
    --palApple-60: rgb(37.531858% 3.344367% 11.842368%);
    --palApple-61: rgb(38.270352% 3.11282% 11.814132%);
    --palApple-62: rgb(39.007897% 2.873506% 11.767881%);
    --palApple-63: rgb(39.743892% 2.62881% 11.702704%);
    --palApple-64: rgb(40.477679% 2.381517% 11.617589%);
    --palApple-65: rgb(41.208471% 2.13504% 11.511495%);
    --palApple-66: rgb(41.935272% 1.893711% 11.3835%);
    --palApple-67: rgb(42.657074% 1.662246% 11.232422%);
    --palApple-68: rgb(43.372513% 1.446824% 11.057478%);
    --palApple-69: rgb(44.080099% 1.25446% 10.857882%);
    --palApple-70: rgb(44.778099% 1.093412% 10.633169%);
    --palApple-71: rgb(45.464606% 0.972993% 10.383133%);
    --palApple-72: rgb(46.137441% 0.903875% 10.108357%);
    --palApple-73: rgb(46.794387% 0.897334% 9.809894%);
    --palApple-74: rgb(47.433204% 0.96508% 9.48965%);
    --palApple-75: rgb(48.051809% 1.118527% 9.150369%);
    --palApple-76: rgb(48.64846% 1.367983% 8.795515%);
    --palApple-77: rgb(49.221926% 1.721884% 8.429021%);
    --palApple-78: rgb(49.771586% 2.186266% 8.05497%);
    --palApple-79: rgb(50.297446% 2.764559% 7.677266%);
    --palApple-80: rgb(50.800082% 3.457755% 7.299329%);
    --palApple-81: rgb(51.280504% 4.25783% 6.92387%);
    --palApple-82: rgb(51.740012% 5.084025% 6.552888%);
    --palApple-83: rgb(52.180052% 5.911816% 6.187727%);
    --palApple-84: rgb(52.602085% 6.736027% 5.828986%);
    --palApple-85: rgb(53.007551% 7.553228% 5.47704%);
    --palApple-86: rgb(53.397761% 8.361433% 5.131678%);
    --palApple-87: rgb(53.773925% 9.159491% 4.792586%);
    --palApple-88: rgb(54.137116% 9.946893% 4.459257%);
    --palApple-89: rgb(54.488277% 10.723567% 4.131059%);
    --palApple-90: rgb(54.828266% 11.48962% 3.807605%);
    --palApple-91: rgb(55.157772% 12.245497% 3.50112%);
    --palApple-92: rgb(55.47747% 12.991547% 3.212465%);
    --palApple-93: rgb(55.787876% 13.728356% 2.940333%);
    --palApple-94: rgb(56.089478% 14.456437% 2.683721%);
    --palApple-95: rgb(56.382693% 15.176322% 2.441749%);
    --palApple-96: rgb(56.667881% 15.88854% 2.21365%);
    --palApple-97: rgb(56.945354% 16.593613% 1.998773%);
    --palApple-98: rgb(57.215388% 17.292018% 1.796603%);
    --palApple-99: rgb(57.478249% 17.984179% 1.606769%);
    --palApple-100: rgb(57.734092% 18.670616% 1.428825%);
    --palApple-101: rgb(57.98316% 19.351643% 1.262656%);
    --palApple-102: rgb(58.225549% 20.027739% 1.107966%);
    --palApple-103: rgb(58.461462% 20.699168% 0.964789%);
    --palApple-104: rgb(58.690975% 21.366327% 0.833017%);
    --palApple-105: rgb(58.914192% 22.029527% 0.712691%);
    --palApple-106: rgb(59.131209% 22.689048% 0.60392%);
    --palApple-107: rgb(59.342128% 23.345135% 0.506895%);
    --palApple-108: rgb(59.54699% 23.99807% 0.421783%);
    --palApple-109: rgb(59.745851% 24.64809% 0.348841%);
    --palApple-110: rgb(59.938757% 25.295415% 0.288374%);
    --palApple-111: rgb(60.125745% 25.940253% 0.240734%);
    --palApple-112: rgb(60.306844% 26.582798% 0.206318%);
    --palApple-113: rgb(60.482076% 27.22323% 0.185568%);
    --palApple-114: rgb(60.651479% 27.861699% 0.178991%);
    --palApple-115: rgb(60.815043% 28.498384% 0.187093%);
    --palApple-116: rgb(60.97277% 29.133438% 0.210445%);
    --palApple-117: rgb(61.124659% 29.766999% 0.249661%);
    --palApple-118: rgb(61.27071% 30.399196% 0.305404%);
    --palApple-119: rgb(61.410943% 31.030124% 0.378401%);
    --palApple-120: rgb(61.545312% 31.659932% 0.469365%);
    --palApple-121: rgb(61.6738% 32.288726% 0.579085%);
    --palApple-122: rgb(61.796431% 32.916572% 0.708428%);
    --palApple-123: rgb(61.913147% 33.543597% 0.858242%);
    --palApple-124: rgb(62.02393% 34.169882% 1.029454%);
    --palApple-125: rgb(62.128782% 34.795489% 1.223053%);
    --palApple-126: rgb(62.227641% 35.420524% 1.44003%);
    --palApple-127: rgb(62.320516% 36.045028% 1.68147%);
    --palApple-128: rgb(62.407348% 36.669089% 1.948466%);
    --palApple-129: rgb(62.488127% 37.292754% 2.242188%);
    --palApple-130: rgb(62.562813% 37.916087% 2.563837%);
    --palApple-131: rgb(62.631376% 38.539137% 2.914672%);
    --palApple-132: rgb(62.693787% 39.161953% 3.296%);
    --palApple-133: rgb(62.75001% 39.784578% 3.709177%);
    --palApple-134: rgb(62.800014% 40.407053% 4.152896%);
    --palApple-135: rgb(62.843766% 41.029415% 4.603751%);
    --palApple-136: rgb(62.881232% 41.651698% 5.059055%);
    --palApple-137: rgb(62.91238% 42.273931% 5.518862%);
    --palApple-138: rgb(62.937174% 42.896144% 5.983233%);
    --palApple-139: rgb(62.955585% 43.51836% 6.452236%);
    --palApple-140: rgb(62.967575% 44.140603% 6.925942%);
    --palApple-141: rgb(62.973115% 44.76289% 7.404424%);
    --palApple-142: rgb(62.972168% 45.385242% 7.887755%);
    --palApple-143: rgb(62.964703% 46.007674% 8.376012%);
    --palApple-144: rgb(62.950686% 46.630198% 8.869268%);
    --palApple-145: rgb(62.93008% 47.252828% 9.3676%);
    --palApple-146: rgb(62.902857% 47.875573% 9.871081%);
    --palApple-147: rgb(62.868975% 48.498443% 10.379791%);
    --palApple-148: rgb(62.828404% 49.121445% 10.893804%);
    --palApple-149: rgb(62.781104% 49.744586% 11.413199%);
    --palApple-150: rgb(62.727039% 50.367872% 11.938055%);
    --palApple-151: rgb(62.666171% 50.991306% 12.468455%);
    --palApple-152: rgb(62.598457% 51.614893% 13.004483%);
    --palApple-153: rgb(62.523861% 52.238634% 13.546228%);
    --palApple-154: rgb(62.442334% 52.862534% 14.093782%);
    --palApple-155: rgb(62.353835% 53.486591% 14.647244%);
    --palApple-156: rgb(62.25832% 54.110805% 15.206716%);
    --palApple-157: rgb(62.155726% 54.735183% 15.772314%);
    --palApple-158: rgb(62.046037% 55.359707% 16.344144%);
    --palApple-159: rgb(61.929143% 55.9844% 16.922359%);
    --palApple-160: rgb(61.805056% 56.609232% 17.507068%);
    --palApple-161: rgb(61.673671% 57.234218% 18.098443%);
    --palApple-162: rgb(61.534949% 57.859344% 18.696638%);
    --palApple-163: rgb(61.388865% 58.484591% 19.301815%);
    --palApple-164: rgb(61.235295% 59.109975% 19.914196%);
    --palApple-165: rgb(61.074229% 59.735464% 20.533966%);
    --palApple-166: rgb(60.905629% 60.36104% 21.161344%);
    --palApple-167: rgb(60.729425% 60.986688% 21.796583%);
    --palApple-168: rgb(60.545531% 61.612403% 22.439967%);
    --palApple-169: rgb(60.353962% 62.238136% 23.091759%);
    --palApple-170: rgb(60.154686% 62.863856% 23.752272%);
    --palApple-171: rgb(59.947683% 63.489524% 24.421845%);
    --palApple-172: rgb(59.732947% 64.115096% 25.100843%);
    --palApple-173: rgb(59.510497% 64.740516% 25.789665%);
    --palApple-174: rgb(59.280372% 65.36572% 26.488735%);
    --palApple-175: rgb(59.042649% 65.990632% 27.198515%);
    --palApple-176: rgb(58.797441% 66.615161% 27.919498%);
    --palApple-177: rgb(58.544914% 67.2392% 28.652214%);
    --palApple-178: rgb(58.285292% 67.862624% 29.397228%);
    --palApple-179: rgb(58.018876% 68.485287% 30.155144%);
    --palApple-180: rgb(57.745982% 69.107038% 30.926647%);
    --palApple-181: rgb(57.467066% 69.727689% 31.712444%);
    --palApple-182: rgb(57.182825% 70.346986% 32.513212%);
    --palApple-183: rgb(56.893823% 70.964719% 33.329841%);
    --palApple-184: rgb(56.601138% 71.580544% 34.16305%);
    --palApple-185: rgb(56.305674% 72.194171% 35.01384%);
    --palApple-186: rgb(56.008941% 72.805165% 35.883006%);
    --palApple-187: rgb(55.712527% 73.413085% 36.771503%);
    --palApple-188: rgb(55.418327% 74.017428% 37.680318%);
    --palApple-189: rgb(55.128713% 74.617597% 38.610368%);
    --palApple-190: rgb(54.846504% 75.212914% 39.562526%);
    --palApple-191: rgb(54.574957% 75.802625% 40.537647%);
    --palApple-192: rgb(54.317922% 76.385877% 41.536438%);
    --palApple-193: rgb(54.079905% 76.961709% 42.559363%);
    --palApple-194: rgb(53.865981% 77.529084% 43.606673%);
    --palApple-195: rgb(53.681754% 78.086896% 44.678355%);
    --palApple-196: rgb(53.533534% 78.633953% 45.773753%);
    --palApple-197: rgb(53.427876% 79.169067% 46.891834%);
    --palApple-198: rgb(53.371551% 79.691067% 48.030864%);
    --palApple-199: rgb(53.371171% 80.198877% 49.188424%);
    --palApple-200: rgb(53.432764% 80.691584% 50.361474%);
    --palApple-201: rgb(53.561395% 81.16851% 51.546372%);
    --palApple-202: rgb(53.760763% 81.629267% 52.739033%);
    --palApple-203: rgb(54.032907% 82.073795% 53.935195%);
    --palApple-204: rgb(54.378095% 82.502365% 55.130587%);
    --palApple-205: rgb(54.794864% 82.91556% 56.321133%);
    --palApple-206: rgb(55.280224% 83.314206% 57.503337%);
    --palApple-207: rgb(55.829996% 83.699321% 58.674162%);
    --palApple-208: rgb(56.439128% 84.072061% 59.831054%);
    --palApple-209: rgb(57.102144% 84.433605% 60.972314%);
    --palApple-210: rgb(57.813389% 84.785149% 62.096666%);
    --palApple-211: rgb(58.567189% 85.127892% 63.203103%);
    --palApple-212: rgb(59.358322% 85.46289% 64.291461%);
    --palApple-213: rgb(60.181747% 85.791196% 65.361483%);
    --palApple-214: rgb(61.033011% 86.11372% 66.413438%);
    --palApple-215: rgb(61.907874% 86.431372% 67.447414%);
    --palApple-216: rgb(62.802743% 86.744907% 68.463939%);
    --palApple-217: rgb(63.71442% 87.055014% 69.463567%);
    --palApple-218: rgb(64.639946% 87.362365% 70.446725%);
    --palApple-219: rgb(65.576881% 87.667511% 71.414071%);
    --palApple-220: rgb(66.523194% 87.970917% 72.36635%);
    --palApple-221: rgb(67.476755% 88.273131% 73.303917%);
    --palApple-222: rgb(68.436195% 88.574474% 74.227625%);
    --palApple-223: rgb(69.399752% 88.87545% 75.137733%);
    --palApple-224: rgb(70.366496% 89.176296% 76.035071%);
    --palApple-225: rgb(71.335305% 89.477346% 76.920115%);
    --palApple-226: rgb(72.305222% 89.778904% 77.793338%);
    --palApple-227: rgb(73.275432% 90.081242% 78.655208%);
    --palApple-228: rgb(74.24525% 90.384603% 79.506184%);
    --palApple-229: rgb(75.214098% 90.68921% 80.346713%);
    --palApple-230: rgb(76.181497% 90.99526% 81.177225%);
    --palApple-231: rgb(77.14705% 91.302933% 81.998134%);
    --palApple-232: rgb(78.110429% 91.612393% 82.809835%);
    --palApple-233: rgb(79.071163% 91.923868% 83.612565%);
    --palApple-234: rgb(80.028979% 92.237518% 84.406647%);
    --palApple-235: rgb(80.983908% 92.553392% 85.192554%);
    --palApple-236: rgb(81.935293% 92.871812% 85.970269%);
    --palApple-237: rgb(82.88344% 93.192729% 86.740351%);
    --palApple-238: rgb(83.827741% 93.516459% 87.502749%);
    --palApple-239: rgb(84.768508% 93.842957% 88.257941%);
    --palApple-240: rgb(85.705172% 94.17253% 89.005845%);
    --palApple-241: rgb(86.637916% 94.505192% 89.746793%);
    --palApple-242: rgb(87.56666% 94.841061% 90.480923%);
    --palApple-243: rgb(88.491005% 95.180393% 91.208173%);
    --palApple-244: rgb(89.411026% 95.52325% 91.928709%);
    --palApple-245: rgb(90.326638% 95.869764% 92.642573%);
    --palApple-246: rgb(91.237672% 96.220108% 93.349724%);
    --palApple-247: rgb(92.143936% 96.574467% 94.050072%);
    --palApple-248: rgb(93.045131% 96.933076% 94.743435%);
    --palApple-249: rgb(93.940998% 97.296162% 95.429606%);
    --palApple-250: rgb(94.831207% 97.663987% 96.108301%);
    --palApple-251: rgb(95.715223% 98.036907% 96.77911%);
    --palApple-252: rgb(96.592287% 98.415376% 97.441532%);
    --palApple-253: rgb(97.461302% 98.799992% 98.095011%);
    --palApple-254: rgb(98.320653% 99.191554% 98.739077%);
    --palApple-255: rgb(99.167977% 99.591121% 99.373688%);
    --palApple-256: rgb(100% 100% 100%);
}
