/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBamako-1: rgb(0.002979% 22.999% 28.003%);
    --palBamako-2: rgb(0.19372% 23.118% 27.89%);
    --palBamako-3: rgb(0.38227% 23.235% 27.776%);
    --palBamako-4: rgb(0.56891% 23.35% 27.663%);
    --palBamako-5: rgb(0.75399% 23.471% 27.549%);
    --palBamako-6: rgb(0.93843% 23.588% 27.434%);
    --palBamako-7: rgb(1.132% 23.706% 27.322%);
    --palBamako-8: rgb(1.3214% 23.821% 27.206%);
    --palBamako-9: rgb(1.5038% 23.939% 27.095%);
    --palBamako-10: rgb(1.6856% 24.055% 26.982%);
    --palBamako-11: rgb(1.8674% 24.175% 26.868%);
    --palBamako-12: rgb(2.0495% 24.292% 26.751%);
    --palBamako-13: rgb(2.2322% 24.41% 26.639%);
    --palBamako-14: rgb(2.4157% 24.528% 26.523%);
    --palBamako-15: rgb(2.6% 24.648% 26.41%);
    --palBamako-16: rgb(2.7856% 24.77% 26.294%);
    --palBamako-17: rgb(2.9726% 24.89% 26.177%);
    --palBamako-18: rgb(3.1613% 25.008% 26.061%);
    --palBamako-19: rgb(3.3509% 25.133% 25.945%);
    --palBamako-20: rgb(3.5687% 25.254% 25.824%);
    --palBamako-21: rgb(3.7634% 25.377% 25.707%);
    --palBamako-22: rgb(3.9643% 25.502% 25.586%);
    --palBamako-23: rgb(4.1713% 25.625% 25.468%);
    --palBamako-24: rgb(4.3589% 25.751% 25.346%);
    --palBamako-25: rgb(4.5623% 25.879% 25.223%);
    --palBamako-26: rgb(4.7645% 26.007% 25.1%);
    --palBamako-27: rgb(4.9735% 26.136% 24.973%);
    --palBamako-28: rgb(5.1706% 26.267% 24.85%);
    --palBamako-29: rgb(5.3748% 26.4% 24.722%);
    --palBamako-30: rgb(5.5866% 26.531% 24.592%);
    --palBamako-31: rgb(5.7875% 26.666% 24.462%);
    --palBamako-32: rgb(6.01% 26.801% 24.331%);
    --palBamako-33: rgb(6.2187% 26.941% 24.2%);
    --palBamako-34: rgb(6.4327% 27.08% 24.064%);
    --palBamako-35: rgb(6.6497% 27.218% 23.93%);
    --palBamako-36: rgb(6.8755% 27.362% 23.793%);
    --palBamako-37: rgb(7.0942% 27.505% 23.655%);
    --palBamako-38: rgb(7.3221% 27.651% 23.516%);
    --palBamako-39: rgb(7.5425% 27.798% 23.371%);
    --palBamako-40: rgb(7.77% 27.947% 23.229%);
    --palBamako-41: rgb(8.0057% 28.095% 23.084%);
    --palBamako-42: rgb(8.2458% 28.25% 22.936%);
    --palBamako-43: rgb(8.4825% 28.402% 22.79%);
    --palBamako-44: rgb(8.7266% 28.557% 22.64%);
    --palBamako-45: rgb(8.9667% 28.714% 22.485%);
    --palBamako-46: rgb(9.214% 28.875% 22.335%);
    --palBamako-47: rgb(9.4646% 29.035% 22.178%);
    --palBamako-48: rgb(9.7096% 29.199% 22.024%);
    --palBamako-49: rgb(9.9654% 29.362% 21.864%);
    --palBamako-50: rgb(10.223% 29.529% 21.704%);
    --palBamako-51: rgb(10.479% 29.699% 21.541%);
    --palBamako-52: rgb(10.747% 29.868% 21.378%);
    --palBamako-53: rgb(11.016% 30.039% 21.214%);
    --palBamako-54: rgb(11.284% 30.212% 21.045%);
    --palBamako-55: rgb(11.552% 30.388% 20.876%);
    --palBamako-56: rgb(11.828% 30.567% 20.707%);
    --palBamako-57: rgb(12.099% 30.744% 20.532%);
    --palBamako-58: rgb(12.379% 30.927% 20.36%);
    --palBamako-59: rgb(12.663% 31.109% 20.181%);
    --palBamako-60: rgb(12.949% 31.293% 20.003%);
    --palBamako-61: rgb(13.238% 31.479% 19.825%);
    --palBamako-62: rgb(13.528% 31.668% 19.647%);
    --palBamako-63: rgb(13.823% 31.858% 19.465%);
    --palBamako-64: rgb(14.119% 32.051% 19.278%);
    --palBamako-65: rgb(14.416% 32.243% 19.092%);
    --palBamako-66: rgb(14.716% 32.437% 18.905%);
    --palBamako-67: rgb(15.021% 32.634% 18.716%);
    --palBamako-68: rgb(15.325% 32.833% 18.526%);
    --palBamako-69: rgb(15.638% 33.034% 18.331%);
    --palBamako-70: rgb(15.947% 33.237% 18.136%);
    --palBamako-71: rgb(16.264% 33.44% 17.941%);
    --palBamako-72: rgb(16.578% 33.644% 17.746%);
    --palBamako-73: rgb(16.903% 33.852% 17.544%);
    --palBamako-74: rgb(17.222% 34.061% 17.343%);
    --palBamako-75: rgb(17.548% 34.273% 17.141%);
    --palBamako-76: rgb(17.878% 34.484% 16.94%);
    --palBamako-77: rgb(18.206% 34.699% 16.734%);
    --palBamako-78: rgb(18.544% 34.914% 16.523%);
    --palBamako-79: rgb(18.878% 35.132% 16.318%);
    --palBamako-80: rgb(19.216% 35.35% 16.108%);
    --palBamako-81: rgb(19.557% 35.572% 15.896%);
    --palBamako-82: rgb(19.9% 35.795% 15.682%);
    --palBamako-83: rgb(20.247% 36.018% 15.466%);
    --palBamako-84: rgb(20.599% 36.244% 15.248%);
    --palBamako-85: rgb(20.948% 36.471% 15.033%);
    --palBamako-86: rgb(21.302% 36.701% 14.812%);
    --palBamako-87: rgb(21.662% 36.932% 14.593%);
    --palBamako-88: rgb(22.021% 37.163% 14.369%);
    --palBamako-89: rgb(22.381% 37.399% 14.146%);
    --palBamako-90: rgb(22.747% 37.635% 13.916%);
    --palBamako-91: rgb(23.114% 37.871% 13.691%);
    --palBamako-92: rgb(23.485% 38.111% 13.465%);
    --palBamako-93: rgb(23.854% 38.352% 13.233%);
    --palBamako-94: rgb(24.23% 38.593% 13.004%);
    --palBamako-95: rgb(24.607% 38.837% 12.767%);
    --palBamako-96: rgb(24.986% 39.083% 12.533%);
    --palBamako-97: rgb(25.37% 39.33% 12.293%);
    --palBamako-98: rgb(25.754% 39.579% 12.056%);
    --palBamako-99: rgb(26.142% 39.829% 11.822%);
    --palBamako-100: rgb(26.531% 40.081% 11.581%);
    --palBamako-101: rgb(26.924% 40.334% 11.341%);
    --palBamako-102: rgb(27.317% 40.589% 11.096%);
    --palBamako-103: rgb(27.714% 40.844% 10.847%);
    --palBamako-104: rgb(28.111% 41.102% 10.606%);
    --palBamako-105: rgb(28.511% 41.361% 10.359%);
    --palBamako-106: rgb(28.916% 41.621% 10.107%);
    --palBamako-107: rgb(29.32% 41.882% 9.8595%);
    --palBamako-108: rgb(29.728% 42.145% 9.6053%);
    --palBamako-109: rgb(30.136% 42.409% 9.3539%);
    --palBamako-110: rgb(30.549% 42.675% 9.1056%);
    --palBamako-111: rgb(30.962% 42.942% 8.85%);
    --palBamako-112: rgb(31.376% 43.211% 8.5887%);
    --palBamako-113: rgb(31.792% 43.479% 8.3368%);
    --palBamako-114: rgb(32.21% 43.75% 8.0803%);
    --palBamako-115: rgb(32.629% 44.02% 7.8177%);
    --palBamako-116: rgb(33.051% 44.292% 7.561%);
    --palBamako-117: rgb(33.475% 44.564% 7.3076%);
    --palBamako-118: rgb(33.899% 44.838% 7.0419%);
    --palBamako-119: rgb(34.324% 45.113% 6.7837%);
    --palBamako-120: rgb(34.751% 45.388% 6.5191%);
    --palBamako-121: rgb(35.177% 45.664% 6.2616%);
    --palBamako-122: rgb(35.607% 45.941% 5.9979%);
    --palBamako-123: rgb(36.035% 46.218% 5.724%);
    --palBamako-124: rgb(36.466% 46.496% 5.456%);
    --palBamako-125: rgb(36.899% 46.774% 5.1861%);
    --palBamako-126: rgb(37.33% 47.053% 4.9256%);
    --palBamako-127: rgb(37.763% 47.332% 4.6421%);
    --palBamako-128: rgb(38.196% 47.612% 4.3591%);
    --palBamako-129: rgb(38.63% 47.892% 4.0856%);
    --palBamako-130: rgb(39.066% 48.172% 3.7974%);
    --palBamako-131: rgb(39.502% 48.452% 3.5128%);
    --palBamako-132: rgb(39.938% 48.733% 3.2152%);
    --palBamako-133: rgb(40.378% 49.011% 2.9408%);
    --palBamako-134: rgb(40.818% 49.289% 2.6707%);
    --palBamako-135: rgb(41.261% 49.565% 2.4056%);
    --palBamako-136: rgb(41.707% 49.84% 2.1465%);
    --palBamako-137: rgb(42.155% 50.108% 1.8947%);
    --palBamako-138: rgb(42.609% 50.372% 1.6522%);
    --palBamako-139: rgb(43.07% 50.628% 1.4213%);
    --palBamako-140: rgb(43.538% 50.877% 1.2069%);
    --palBamako-141: rgb(44.012% 51.113% 0.9836%);
    --palBamako-142: rgb(44.495% 51.339% 0.80176%);
    --palBamako-143: rgb(44.986% 51.551% 0.64002%);
    --palBamako-144: rgb(45.485% 51.751% 0.4995%);
    --palBamako-145: rgb(45.991% 51.936% 0.38044%);
    --palBamako-146: rgb(46.505% 52.107% 0.28223%);
    --palBamako-147: rgb(47.026% 52.266% 0.20346%);
    --palBamako-148: rgb(47.551% 52.413% 0.14214%);
    --palBamako-149: rgb(48.078% 52.551% 0.095844%);
    --palBamako-150: rgb(48.608% 52.681% 0.062014%);
    --palBamako-151: rgb(49.141% 52.803% 0.038109%);
    --palBamako-152: rgb(49.672% 52.922% 0.021802%);
    --palBamako-153: rgb(50.205% 53.035% 0.011088%);
    --palBamako-154: rgb(50.736% 53.146% 0.004329%);
    --palBamako-155: rgb(51.266% 53.255% 0.00026%);
    --palBamako-156: rgb(51.796% 53.362% 0%);
    --palBamako-157: rgb(52.324% 53.469% 0%);
    --palBamako-158: rgb(52.851% 53.575% 0%);
    --palBamako-159: rgb(53.375% 53.682% 0%);
    --palBamako-160: rgb(53.901% 53.789% 0.002943%);
    --palBamako-161: rgb(54.424% 53.896% 0.009916%);
    --palBamako-162: rgb(54.946% 54.006% 0.021679%);
    --palBamako-163: rgb(55.467% 54.119% 0.040613%);
    --palBamako-164: rgb(55.987% 54.238% 0.069893%);
    --palBamako-165: rgb(56.506% 54.362% 0.11354%);
    --palBamako-166: rgb(57.024% 54.495% 0.17639%);
    --palBamako-167: rgb(57.542% 54.64% 0.26397%);
    --palBamako-168: rgb(58.058% 54.798% 0.38228%);
    --palBamako-169: rgb(58.573% 54.973% 0.53742%);
    --palBamako-170: rgb(59.086% 55.166% 0.73527%);
    --palBamako-171: rgb(59.599% 55.379% 0.98076%);
    --palBamako-172: rgb(60.109% 55.614% 1.2976%);
    --palBamako-173: rgb(60.619% 55.871% 1.6516%);
    --palBamako-174: rgb(61.128% 56.149% 2.0622%);
    --palBamako-175: rgb(61.636% 56.447% 2.5312%);
    --palBamako-176: rgb(62.143% 56.763% 3.0589%);
    --palBamako-177: rgb(62.651% 57.094% 3.664%);
    --palBamako-178: rgb(63.159% 57.439% 4.2914%);
    --palBamako-179: rgb(63.669% 57.795% 4.9454%);
    --palBamako-180: rgb(64.179% 58.161% 5.5798%);
    --palBamako-181: rgb(64.692% 58.535% 6.2181%);
    --palBamako-182: rgb(65.206% 58.913% 6.8579%);
    --palBamako-183: rgb(65.724% 59.297% 7.4882%);
    --palBamako-184: rgb(66.244% 59.684% 8.1284%);
    --palBamako-185: rgb(66.766% 60.074% 8.7686%);
    --palBamako-186: rgb(67.292% 60.468% 9.4084%);
    --palBamako-187: rgb(67.819% 60.864% 10.05%);
    --palBamako-188: rgb(68.35% 61.261% 10.703%);
    --palBamako-189: rgb(68.884% 61.662% 11.355%);
    --palBamako-190: rgb(69.42% 62.064% 12.007%);
    --palBamako-191: rgb(69.959% 62.468% 12.667%);
    --palBamako-192: rgb(70.501% 62.874% 13.333%);
    --palBamako-193: rgb(71.045% 63.282% 13.998%);
    --palBamako-194: rgb(71.592% 63.692% 14.67%);
    --palBamako-195: rgb(72.141% 64.103% 15.346%);
    --palBamako-196: rgb(72.692% 64.516% 16.024%);
    --palBamako-197: rgb(73.245% 64.932% 16.713%);
    --palBamako-198: rgb(73.799% 65.349% 17.401%);
    --palBamako-199: rgb(74.356% 65.768% 18.093%);
    --palBamako-200: rgb(74.912% 66.189% 18.798%);
    --palBamako-201: rgb(75.47% 66.61% 19.505%);
    --palBamako-202: rgb(76.025% 67.035% 20.22%);
    --palBamako-203: rgb(76.58% 67.461% 20.949%);
    --palBamako-204: rgb(77.13% 67.889% 21.692%);
    --palBamako-205: rgb(77.677% 68.319% 22.444%);
    --palBamako-206: rgb(78.217% 68.751% 23.22%);
    --palBamako-207: rgb(78.75% 69.185% 24.008%);
    --palBamako-208: rgb(79.275% 69.621% 24.821%);
    --palBamako-209: rgb(79.79% 70.059% 25.647%);
    --palBamako-210: rgb(80.296% 70.497% 26.495%);
    --palBamako-211: rgb(80.792% 70.938% 27.364%);
    --palBamako-212: rgb(81.278% 71.379% 28.247%);
    --palBamako-213: rgb(81.756% 71.821% 29.145%);
    --palBamako-214: rgb(82.226% 72.263% 30.053%);
    --palBamako-215: rgb(82.689% 72.706% 30.974%);
    --palBamako-216: rgb(83.147% 73.148% 31.9%);
    --palBamako-217: rgb(83.599% 73.591% 32.832%);
    --palBamako-218: rgb(84.048% 74.033% 33.768%);
    --palBamako-219: rgb(84.493% 74.474% 34.707%);
    --palBamako-220: rgb(84.937% 74.915% 35.646%);
    --palBamako-221: rgb(85.378% 75.355% 36.584%);
    --palBamako-222: rgb(85.818% 75.795% 37.522%);
    --palBamako-223: rgb(86.258% 76.233% 38.46%);
    --palBamako-224: rgb(86.695% 76.67% 39.396%);
    --palBamako-225: rgb(87.132% 77.107% 40.332%);
    --palBamako-226: rgb(87.568% 77.543% 41.266%);
    --palBamako-227: rgb(88.002% 77.977% 42.195%);
    --palBamako-228: rgb(88.436% 78.412% 43.126%);
    --palBamako-229: rgb(88.869% 78.844% 44.052%);
    --palBamako-230: rgb(89.3% 79.276% 44.978%);
    --palBamako-231: rgb(89.731% 79.706% 45.902%);
    --palBamako-232: rgb(90.16% 80.135% 46.822%);
    --palBamako-233: rgb(90.588% 80.563% 47.74%);
    --palBamako-234: rgb(91.015% 80.99% 48.656%);
    --palBamako-235: rgb(91.44% 81.416% 49.569%);
    --palBamako-236: rgb(91.864% 81.84% 50.48%);
    --palBamako-237: rgb(92.287% 82.263% 51.388%);
    --palBamako-238: rgb(92.707% 82.685% 52.292%);
    --palBamako-239: rgb(93.127% 83.105% 53.194%);
    --palBamako-240: rgb(93.546% 83.523% 54.092%);
    --palBamako-241: rgb(93.962% 83.94% 54.987%);
    --palBamako-242: rgb(94.377% 84.355% 55.878%);
    --palBamako-243: rgb(94.791% 84.768% 56.767%);
    --palBamako-244: rgb(95.202% 85.181% 57.652%);
    --palBamako-245: rgb(95.612% 85.591% 58.532%);
    --palBamako-246: rgb(96.02% 85.999% 59.409%);
    --palBamako-247: rgb(96.425% 86.406% 60.282%);
    --palBamako-248: rgb(96.83% 86.81% 61.151%);
    --palBamako-249: rgb(97.232% 87.213% 62.016%);
    --palBamako-250: rgb(97.632% 87.613% 62.877%);
    --palBamako-251: rgb(98.03% 88.012% 63.734%);
    --palBamako-252: rgb(98.427% 88.41% 64.588%);
    --palBamako-253: rgb(98.82% 88.806% 65.438%);
    --palBamako-254: rgb(99.213% 89.2% 66.286%);
    --palBamako-255: rgb(99.603% 89.593% 67.13%);
    --palBamako-256: rgb(99.993% 89.985% 67.972%);
}
