/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBatlow-1: rgb(0.51932% 9.8238% 34.984%);
    --palBatlow-2: rgb(0.90652% 10.449% 35.093%);
    --palBatlow-3: rgb(1.2963% 11.078% 35.199%);
    --palBatlow-4: rgb(1.653% 11.691% 35.307%);
    --palBatlow-5: rgb(1.9936% 12.298% 35.412%);
    --palBatlow-6: rgb(2.3189% 12.904% 35.518%);
    --palBatlow-7: rgb(2.6291% 13.504% 35.621%);
    --palBatlow-8: rgb(2.9245% 14.096% 35.724%);
    --palBatlow-9: rgb(3.2053% 14.677% 35.824%);
    --palBatlow-10: rgb(3.4853% 15.256% 35.923%);
    --palBatlow-11: rgb(3.7449% 15.831% 36.022%);
    --palBatlow-12: rgb(3.9845% 16.398% 36.119%);
    --palBatlow-13: rgb(4.2104% 16.956% 36.215%);
    --palBatlow-14: rgb(4.4069% 17.505% 36.308%);
    --palBatlow-15: rgb(4.5905% 18.046% 36.401%);
    --palBatlow-16: rgb(4.7665% 18.584% 36.491%);
    --palBatlow-17: rgb(4.9378% 19.108% 36.581%);
    --palBatlow-18: rgb(5.0795% 19.627% 36.668%);
    --palBatlow-19: rgb(5.2164% 20.132% 36.752%);
    --palBatlow-20: rgb(5.3471% 20.636% 36.837%);
    --palBatlow-21: rgb(5.4721% 21.123% 36.918%);
    --palBatlow-22: rgb(5.5928% 21.605% 36.997%);
    --palBatlow-23: rgb(5.7033% 22.075% 37.075%);
    --palBatlow-24: rgb(5.8032% 22.534% 37.151%);
    --palBatlow-25: rgb(5.9164% 22.984% 37.225%);
    --palBatlow-26: rgb(6.0167% 23.43% 37.298%);
    --palBatlow-27: rgb(6.1052% 23.862% 37.369%);
    --palBatlow-28: rgb(6.206% 24.289% 37.439%);
    --palBatlow-29: rgb(6.3071% 24.709% 37.505%);
    --palBatlow-30: rgb(6.3982% 25.121% 37.571%);
    --palBatlow-31: rgb(6.4936% 25.526% 37.636%);
    --palBatlow-32: rgb(6.5903% 25.926% 37.699%);
    --palBatlow-33: rgb(6.6899% 26.319% 37.759%);
    --palBatlow-34: rgb(6.7921% 26.706% 37.819%);
    --palBatlow-35: rgb(6.9002% 27.092% 37.877%);
    --palBatlow-36: rgb(7.0001% 27.471% 37.934%);
    --palBatlow-37: rgb(7.1115% 27.85% 37.989%);
    --palBatlow-38: rgb(7.2192% 28.225% 38.043%);
    --palBatlow-39: rgb(7.344% 28.594% 38.096%);
    --palBatlow-40: rgb(7.4595% 28.965% 38.145%);
    --palBatlow-41: rgb(7.5833% 29.332% 38.192%);
    --palBatlow-42: rgb(7.7136% 29.7% 38.238%);
    --palBatlow-43: rgb(7.8517% 30.062% 38.281%);
    --palBatlow-44: rgb(7.9984% 30.425% 38.322%);
    --palBatlow-45: rgb(8.1553% 30.786% 38.36%);
    --palBatlow-46: rgb(8.3082% 31.146% 38.394%);
    --palBatlow-47: rgb(8.4778% 31.504% 38.424%);
    --palBatlow-48: rgb(8.6503% 31.862% 38.451%);
    --palBatlow-49: rgb(8.8353% 32.217% 38.473%);
    --palBatlow-50: rgb(9.0281% 32.569% 38.491%);
    --palBatlow-51: rgb(9.2304% 32.922% 38.504%);
    --palBatlow-52: rgb(9.4462% 33.271% 38.512%);
    --palBatlow-53: rgb(9.6618% 33.616% 38.513%);
    --palBatlow-54: rgb(9.9015% 33.962% 38.509%);
    --palBatlow-55: rgb(10.148% 34.304% 38.498%);
    --palBatlow-56: rgb(10.408% 34.641% 38.48%);
    --palBatlow-57: rgb(10.684% 34.977% 38.455%);
    --palBatlow-58: rgb(10.97% 35.31% 38.422%);
    --palBatlow-59: rgb(11.265% 35.639% 38.381%);
    --palBatlow-60: rgb(11.575% 35.964% 38.331%);
    --palBatlow-61: rgb(11.899% 36.285% 38.271%);
    --palBatlow-62: rgb(12.232% 36.603% 38.203%);
    --palBatlow-63: rgb(12.589% 36.916% 38.126%);
    --palBatlow-64: rgb(12.952% 37.224% 38.038%);
    --palBatlow-65: rgb(13.33% 37.528% 37.94%);
    --palBatlow-66: rgb(13.721% 37.828% 37.831%);
    --palBatlow-67: rgb(14.126% 38.124% 37.713%);
    --palBatlow-68: rgb(14.543% 38.413% 37.584%);
    --palBatlow-69: rgb(14.971% 38.698% 37.445%);
    --palBatlow-70: rgb(15.407% 38.978% 37.293%);
    --palBatlow-71: rgb(15.862% 39.253% 37.132%);
    --palBatlow-72: rgb(16.325% 39.524% 36.961%);
    --palBatlow-73: rgb(16.795% 39.789% 36.778%);
    --palBatlow-74: rgb(17.279% 40.05% 36.587%);
    --palBatlow-75: rgb(17.775% 40.304% 36.383%);
    --palBatlow-76: rgb(18.273% 40.555% 36.171%);
    --palBatlow-77: rgb(18.789% 40.8% 35.948%);
    --palBatlow-78: rgb(19.305% 41.043% 35.718%);
    --palBatlow-79: rgb(19.831% 41.28% 35.477%);
    --palBatlow-80: rgb(20.368% 41.512% 35.225%);
    --palBatlow-81: rgb(20.908% 41.741% 34.968%);
    --palBatlow-82: rgb(21.455% 41.966% 34.702%);
    --palBatlow-83: rgb(22.011% 42.186% 34.426%);
    --palBatlow-84: rgb(22.571% 42.405% 34.146%);
    --palBatlow-85: rgb(23.136% 42.62% 33.857%);
    --palBatlow-86: rgb(23.707% 42.832% 33.563%);
    --palBatlow-87: rgb(24.279% 43.042% 33.263%);
    --palBatlow-88: rgb(24.862% 43.249% 32.957%);
    --palBatlow-89: rgb(25.445% 43.453% 32.643%);
    --palBatlow-90: rgb(26.032% 43.656% 32.329%);
    --palBatlow-91: rgb(26.624% 43.856% 32.009%);
    --palBatlow-92: rgb(27.217% 44.054% 31.683%);
    --palBatlow-93: rgb(27.817% 44.252% 31.355%);
    --palBatlow-94: rgb(28.417% 44.448% 31.024%);
    --palBatlow-95: rgb(29.021% 44.642% 30.689%);
    --palBatlow-96: rgb(29.629% 44.836% 30.351%);
    --palBatlow-97: rgb(30.238% 45.028% 30.012%);
    --palBatlow-98: rgb(30.852% 45.22% 29.672%);
    --palBatlow-99: rgb(31.465% 45.411% 29.328%);
    --palBatlow-100: rgb(32.083% 45.601% 28.984%);
    --palBatlow-101: rgb(32.701% 45.79% 28.638%);
    --palBatlow-102: rgb(33.323% 45.979% 28.294%);
    --palBatlow-103: rgb(33.947% 46.168% 27.947%);
    --palBatlow-104: rgb(34.57% 46.356% 27.6%);
    --palBatlow-105: rgb(35.198% 46.544% 27.249%);
    --palBatlow-106: rgb(35.828% 46.733% 26.904%);
    --palBatlow-107: rgb(36.459% 46.921% 26.554%);
    --palBatlow-108: rgb(37.092% 47.109% 26.206%);
    --palBatlow-109: rgb(37.729% 47.295% 25.859%);
    --palBatlow-110: rgb(38.368% 47.484% 25.513%);
    --palBatlow-111: rgb(39.007% 47.671% 25.166%);
    --palBatlow-112: rgb(39.65% 47.859% 24.821%);
    --palBatlow-113: rgb(40.297% 48.047% 24.473%);
    --palBatlow-114: rgb(40.945% 48.235% 24.131%);
    --palBatlow-115: rgb(41.597% 48.423% 23.789%);
    --palBatlow-116: rgb(42.251% 48.611% 23.449%);
    --palBatlow-117: rgb(42.909% 48.801% 23.11%);
    --palBatlow-118: rgb(43.571% 48.989% 22.773%);
    --palBatlow-119: rgb(44.237% 49.18% 22.435%);
    --palBatlow-120: rgb(44.905% 49.368% 22.107%);
    --palBatlow-121: rgb(45.577% 49.558% 21.777%);
    --palBatlow-122: rgb(46.254% 49.75% 21.452%);
    --palBatlow-123: rgb(46.937% 49.939% 21.132%);
    --palBatlow-124: rgb(47.622% 50.131% 20.815%);
    --palBatlow-125: rgb(48.312% 50.322% 20.504%);
    --palBatlow-126: rgb(49.008% 50.514% 20.198%);
    --palBatlow-127: rgb(49.709% 50.706% 19.899%);
    --palBatlow-128: rgb(50.415% 50.898% 19.612%);
    --palBatlow-129: rgb(51.125% 51.09% 19.33%);
    --palBatlow-130: rgb(51.842% 51.282% 19.057%);
    --palBatlow-131: rgb(52.564% 51.475% 18.799%);
    --palBatlow-132: rgb(53.291% 51.666% 18.55%);
    --palBatlow-133: rgb(54.023% 51.858% 18.31%);
    --palBatlow-134: rgb(54.76% 52.049% 18.088%);
    --palBatlow-135: rgb(55.502% 52.239% 17.885%);
    --palBatlow-136: rgb(56.251% 52.429% 17.696%);
    --palBatlow-137: rgb(57.002% 52.619% 17.527%);
    --palBatlow-138: rgb(57.758% 52.806% 17.377%);
    --palBatlow-139: rgb(58.52% 52.993% 17.249%);
    --palBatlow-140: rgb(59.285% 53.178% 17.145%);
    --palBatlow-141: rgb(60.052% 53.36% 17.065%);
    --palBatlow-142: rgb(60.824% 53.542% 17.01%);
    --palBatlow-143: rgb(61.597% 53.723% 16.983%);
    --palBatlow-144: rgb(62.374% 53.9% 16.981%);
    --palBatlow-145: rgb(63.151% 54.075% 17.007%);
    --palBatlow-146: rgb(63.93% 54.248% 17.062%);
    --palBatlow-147: rgb(64.71% 54.418% 17.146%);
    --palBatlow-148: rgb(65.489% 54.586% 17.26%);
    --palBatlow-149: rgb(66.269% 54.75% 17.404%);
    --palBatlow-150: rgb(67.048% 54.913% 17.575%);
    --palBatlow-151: rgb(67.824% 55.071% 17.78%);
    --palBatlow-152: rgb(68.6% 55.227% 18.006%);
    --palBatlow-153: rgb(69.372% 55.38% 18.261%);
    --palBatlow-154: rgb(70.142% 55.529% 18.548%);
    --palBatlow-155: rgb(70.91% 55.677% 18.855%);
    --palBatlow-156: rgb(71.673% 55.82% 19.185%);
    --palBatlow-157: rgb(72.432% 55.963% 19.541%);
    --palBatlow-158: rgb(73.188% 56.101% 19.917%);
    --palBatlow-159: rgb(73.939% 56.239% 20.318%);
    --palBatlow-160: rgb(74.685% 56.373% 20.737%);
    --palBatlow-161: rgb(75.427% 56.503% 21.176%);
    --palBatlow-162: rgb(76.163% 56.634% 21.632%);
    --palBatlow-163: rgb(76.894% 56.763% 22.105%);
    --palBatlow-164: rgb(77.621% 56.89% 22.593%);
    --palBatlow-165: rgb(78.342% 57.016% 23.096%);
    --palBatlow-166: rgb(79.057% 57.142% 23.616%);
    --palBatlow-167: rgb(79.767% 57.268% 24.149%);
    --palBatlow-168: rgb(80.471% 57.393% 24.696%);
    --palBatlow-169: rgb(81.169% 57.519% 25.257%);
    --palBatlow-170: rgb(81.861% 57.646% 25.83%);
    --palBatlow-171: rgb(82.547% 57.773% 26.42%);
    --palBatlow-172: rgb(83.227% 57.903% 27.021%);
    --palBatlow-173: rgb(83.9% 58.034% 27.635%);
    --palBatlow-174: rgb(84.566% 58.167% 28.263%);
    --palBatlow-175: rgb(85.225% 58.304% 28.904%);
    --palBatlow-176: rgb(85.875% 58.444% 29.557%);
    --palBatlow-177: rgb(86.517% 58.588% 30.225%);
    --palBatlow-178: rgb(87.151% 58.735% 30.911%);
    --palBatlow-179: rgb(87.774% 58.887% 31.608%);
    --palBatlow-180: rgb(88.388% 59.045% 32.319%);
    --palBatlow-181: rgb(88.99% 59.209% 33.045%);
    --palBatlow-182: rgb(89.581% 59.377% 33.787%);
    --palBatlow-183: rgb(90.159% 59.551% 34.543%);
    --palBatlow-184: rgb(90.724% 59.732% 35.314%);
    --palBatlow-185: rgb(91.275% 59.919% 36.099%);
    --palBatlow-186: rgb(91.81% 60.113% 36.9%);
    --palBatlow-187: rgb(92.33% 60.314% 37.714%);
    --palBatlow-188: rgb(92.832% 60.521% 38.54%);
    --palBatlow-189: rgb(93.318% 60.737% 39.382%);
    --palBatlow-190: rgb(93.785% 60.958% 40.235%);
    --palBatlow-191: rgb(94.233% 61.187% 41.101%);
    --palBatlow-192: rgb(94.661% 61.422% 41.977%);
    --palBatlow-193: rgb(95.07% 61.665% 42.862%);
    --palBatlow-194: rgb(95.457% 61.914% 43.758%);
    --palBatlow-195: rgb(95.824% 62.167% 44.66%);
    --palBatlow-196: rgb(96.17% 62.428% 45.57%);
    --palBatlow-197: rgb(96.494% 62.693% 46.486%);
    --palBatlow-198: rgb(96.798% 62.964% 47.406%);
    --palBatlow-199: rgb(97.08% 63.239% 48.329%);
    --palBatlow-200: rgb(97.342% 63.518% 49.255%);
    --palBatlow-201: rgb(97.584% 63.801% 50.183%);
    --palBatlow-202: rgb(97.805% 64.087% 51.109%);
    --palBatlow-203: rgb(98.008% 64.375% 52.035%);
    --palBatlow-204: rgb(98.192% 64.666% 52.96%);
    --palBatlow-205: rgb(98.357% 64.959% 53.882%);
    --palBatlow-206: rgb(98.507% 65.252% 54.8%);
    --palBatlow-207: rgb(98.639% 65.547% 55.714%);
    --palBatlow-208: rgb(98.757% 65.842% 56.623%);
    --palBatlow-209: rgb(98.86% 66.138% 57.526%);
    --palBatlow-210: rgb(98.95% 66.433% 58.425%);
    --palBatlow-211: rgb(99.027% 66.728% 59.317%);
    --palBatlow-212: rgb(99.093% 67.023% 60.203%);
    --palBatlow-213: rgb(99.148% 67.316% 61.084%);
    --palBatlow-214: rgb(99.194% 67.609% 61.958%);
    --palBatlow-215: rgb(99.23% 67.901% 62.825%);
    --palBatlow-216: rgb(99.259% 68.191% 63.687%);
    --palBatlow-217: rgb(99.281% 68.482% 64.542%);
    --palBatlow-218: rgb(99.297% 68.771% 65.393%);
    --palBatlow-219: rgb(99.306% 69.058% 66.24%);
    --palBatlow-220: rgb(99.311% 69.345% 67.081%);
    --palBatlow-221: rgb(99.311% 69.631% 67.918%);
    --palBatlow-222: rgb(99.307% 69.916% 68.752%);
    --palBatlow-223: rgb(99.3% 70.201% 69.583%);
    --palBatlow-224: rgb(99.29% 70.485% 70.411%);
    --palBatlow-225: rgb(99.277% 70.769% 71.238%);
    --palBatlow-226: rgb(99.262% 71.053% 72.064%);
    --palBatlow-227: rgb(99.245% 71.337% 72.889%);
    --palBatlow-228: rgb(99.226% 71.621% 73.715%);
    --palBatlow-229: rgb(99.205% 71.905% 74.54%);
    --palBatlow-230: rgb(99.184% 72.189% 75.367%);
    --palBatlow-231: rgb(99.161% 72.475% 76.196%);
    --palBatlow-232: rgb(99.137% 72.761% 77.027%);
    --palBatlow-233: rgb(99.112% 73.049% 77.861%);
    --palBatlow-234: rgb(99.086% 73.337% 78.698%);
    --palBatlow-235: rgb(99.059% 73.626% 79.537%);
    --palBatlow-236: rgb(99.031% 73.918% 80.381%);
    --palBatlow-237: rgb(99.002% 74.21% 81.229%);
    --palBatlow-238: rgb(98.972% 74.504% 82.08%);
    --palBatlow-239: rgb(98.941% 74.8% 82.937%);
    --palBatlow-240: rgb(98.909% 75.097% 83.798%);
    --palBatlow-241: rgb(98.875% 75.395% 84.663%);
    --palBatlow-242: rgb(98.841% 75.695% 85.533%);
    --palBatlow-243: rgb(98.805% 75.996% 86.408%);
    --palBatlow-244: rgb(98.767% 76.3% 87.286%);
    --palBatlow-245: rgb(98.728% 76.605% 88.17%);
    --palBatlow-246: rgb(98.687% 76.91% 89.057%);
    --palBatlow-247: rgb(98.643% 77.218% 89.949%);
    --palBatlow-248: rgb(98.598% 77.527% 90.845%);
    --palBatlow-249: rgb(98.55% 77.838% 91.744%);
    --palBatlow-250: rgb(98.5% 78.15% 92.647%);
    --palBatlow-251: rgb(98.447% 78.462% 93.553%);
    --palBatlow-252: rgb(98.391% 78.776% 94.463%);
    --palBatlow-253: rgb(98.332% 79.091% 95.375%);
    --palBatlow-254: rgb(98.27% 79.407% 96.29%);
    --palBatlow-255: rgb(98.205% 79.723% 97.207%);
    --palBatlow-256: rgb(98.135% 80.041% 98.127%);
}
