/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBerlin-1: rgb(62.108% 69.018% 99.951%);
    --palBerlin-2: rgb(61.216% 68.923% 99.537%);
    --palBerlin-3: rgb(60.32% 68.825% 99.124%);
    --palBerlin-4: rgb(59.42% 68.726% 98.709%);
    --palBerlin-5: rgb(58.517% 68.625% 98.292%);
    --palBerlin-6: rgb(57.609% 68.522% 97.873%);
    --palBerlin-7: rgb(56.696% 68.417% 97.452%);
    --palBerlin-8: rgb(55.779% 68.31% 97.029%);
    --palBerlin-9: rgb(54.859% 68.199% 96.602%);
    --palBerlin-10: rgb(53.933% 68.086% 96.17%);
    --palBerlin-11: rgb(53.003% 67.969% 95.735%);
    --palBerlin-12: rgb(52.069% 67.848% 95.294%);
    --palBerlin-13: rgb(51.129% 67.723% 94.847%);
    --palBerlin-14: rgb(50.186% 67.591% 94.392%);
    --palBerlin-15: rgb(49.237% 67.453% 93.93%);
    --palBerlin-16: rgb(48.283% 67.308% 93.457%);
    --palBerlin-17: rgb(47.324% 67.153% 92.975%);
    --palBerlin-18: rgb(46.361% 66.99% 92.481%);
    --palBerlin-19: rgb(45.393% 66.815% 91.974%);
    --palBerlin-20: rgb(44.421% 66.628% 91.452%);
    --palBerlin-21: rgb(43.444% 66.427% 90.914%);
    --palBerlin-22: rgb(42.465% 66.212% 90.359%);
    --palBerlin-23: rgb(41.482% 65.979% 89.785%);
    --palBerlin-24: rgb(40.498% 65.729% 89.191%);
    --palBerlin-25: rgb(39.514% 65.458% 88.575%);
    --palBerlin-26: rgb(38.53% 65.167% 87.937%);
    --palBerlin-27: rgb(37.549% 64.854% 87.276%);
    --palBerlin-28: rgb(36.574% 64.516% 86.59%);
    --palBerlin-29: rgb(35.606% 64.155% 85.88%);
    --palBerlin-30: rgb(34.645% 63.769% 85.145%);
    --palBerlin-31: rgb(33.698% 63.357% 84.386%);
    --palBerlin-32: rgb(32.764% 62.919% 83.602%);
    --palBerlin-33: rgb(31.849% 62.455% 82.794%);
    --palBerlin-34: rgb(30.954% 61.966% 81.963%);
    --palBerlin-35: rgb(30.078% 61.45% 81.111%);
    --palBerlin-36: rgb(29.231% 60.911% 80.238%);
    --palBerlin-37: rgb(28.41% 60.348% 79.347%);
    --palBerlin-38: rgb(27.621% 59.763% 78.439%);
    --palBerlin-39: rgb(26.859% 59.158% 77.514%);
    --palBerlin-40: rgb(26.131% 58.534% 76.578%);
    --palBerlin-41: rgb(25.437% 57.891% 75.63%);
    --palBerlin-42: rgb(24.775% 57.233% 74.672%);
    --palBerlin-43: rgb(24.146% 56.56% 73.707%);
    --palBerlin-44: rgb(23.552% 55.875% 72.735%);
    --palBerlin-45: rgb(22.984% 55.18% 71.76%);
    --palBerlin-46: rgb(22.45% 54.475% 70.78%);
    --palBerlin-47: rgb(21.948% 53.763% 69.8%);
    --palBerlin-48: rgb(21.469% 53.043% 68.819%);
    --palBerlin-49: rgb(21.017% 52.319% 67.838%);
    --palBerlin-50: rgb(20.589% 51.59% 66.858%);
    --palBerlin-51: rgb(20.177% 50.86% 65.879%);
    --palBerlin-52: rgb(19.788% 50.126% 64.903%);
    --palBerlin-53: rgb(19.417% 49.39% 63.929%);
    --palBerlin-54: rgb(19.056% 48.654% 62.957%);
    --palBerlin-55: rgb(18.711% 47.918% 61.99%);
    --palBerlin-56: rgb(18.375% 47.183% 61.024%);
    --palBerlin-57: rgb(18.05% 46.447% 60.062%);
    --palBerlin-58: rgb(17.737% 45.712% 59.104%);
    --palBerlin-59: rgb(17.426% 44.979% 58.148%);
    --palBerlin-60: rgb(17.122% 44.247% 57.197%);
    --palBerlin-61: rgb(16.824% 43.517% 56.249%);
    --palBerlin-62: rgb(16.529% 42.788% 55.302%);
    --palBerlin-63: rgb(16.244% 42.061% 54.36%);
    --palBerlin-64: rgb(15.954% 41.337% 53.421%);
    --palBerlin-65: rgb(15.674% 40.615% 52.486%);
    --palBerlin-66: rgb(15.391% 39.893% 51.552%);
    --palBerlin-67: rgb(15.112% 39.176% 50.623%);
    --palBerlin-68: rgb(14.835% 38.459% 49.697%);
    --palBerlin-69: rgb(14.564% 37.746% 48.775%);
    --palBerlin-70: rgb(14.288% 37.034% 47.854%);
    --palBerlin-71: rgb(14.014% 36.326% 46.939%);
    --palBerlin-72: rgb(13.747% 35.62% 46.024%);
    --palBerlin-73: rgb(13.478% 34.916% 45.115%);
    --palBerlin-74: rgb(13.208% 34.215% 44.209%);
    --palBerlin-75: rgb(12.94% 33.517% 43.304%);
    --palBerlin-76: rgb(12.674% 32.82% 42.404%);
    --palBerlin-77: rgb(12.409% 32.126% 41.507%);
    --palBerlin-78: rgb(12.146% 31.435% 40.614%);
    --palBerlin-79: rgb(11.89% 30.746% 39.723%);
    --palBerlin-80: rgb(11.632% 30.061% 38.838%);
    --palBerlin-81: rgb(11.373% 29.378% 37.955%);
    --palBerlin-82: rgb(11.119% 28.698% 37.075%);
    --palBerlin-83: rgb(10.861% 28.022% 36.2%);
    --palBerlin-84: rgb(10.616% 27.35% 35.328%);
    --palBerlin-85: rgb(10.367% 26.678% 34.459%);
    --palBerlin-86: rgb(10.118% 26.011% 33.595%);
    --palBerlin-87: rgb(9.8776% 25.347% 32.734%);
    --palBerlin-88: rgb(9.6347% 24.685% 31.878%);
    --palBerlin-89: rgb(9.4059% 24.026% 31.027%);
    --palBerlin-90: rgb(9.1788% 23.373% 30.176%);
    --palBerlin-91: rgb(8.9506% 22.725% 29.332%);
    --palBerlin-92: rgb(8.7341% 22.08% 28.491%);
    --palBerlin-93: rgb(8.5142% 21.436% 27.658%);
    --palBerlin-94: rgb(8.3069% 20.798% 26.825%);
    --palBerlin-95: rgb(8.1098% 20.163% 25.999%);
    --palBerlin-96: rgb(7.913% 19.536% 25.178%);
    --palBerlin-97: rgb(7.7286% 18.914% 24.359%);
    --palBerlin-98: rgb(7.5571% 18.294% 23.55%);
    --palBerlin-99: rgb(7.3993% 17.683% 22.743%);
    --palBerlin-100: rgb(7.241% 17.079% 21.943%);
    --palBerlin-101: rgb(7.1045% 16.48% 21.15%);
    --palBerlin-102: rgb(6.9767% 15.89% 20.363%);
    --palBerlin-103: rgb(6.8618% 15.304% 19.582%);
    --palBerlin-104: rgb(6.756% 14.732% 18.812%);
    --palBerlin-105: rgb(6.6665% 14.167% 18.045%);
    --palBerlin-106: rgb(6.5923% 13.608% 17.292%);
    --palBerlin-107: rgb(6.5339% 13.07% 16.546%);
    --palBerlin-108: rgb(6.4911% 12.535% 15.817%);
    --palBerlin-109: rgb(6.4636% 12.013% 15.095%);
    --palBerlin-110: rgb(6.4517% 11.507% 14.389%);
    --palBerlin-111: rgb(6.4554% 11.022% 13.696%);
    --palBerlin-112: rgb(6.4749% 10.543% 13.023%);
    --palBerlin-113: rgb(6.51% 10.085% 12.357%);
    --palBerlin-114: rgb(6.5383% 9.6469% 11.717%);
    --palBerlin-115: rgb(6.5574% 9.2338% 11.101%);
    --palBerlin-116: rgb(6.5892% 8.8201% 10.498%);
    --palBerlin-117: rgb(6.6388% 8.4134% 9.9288%);
    --palBerlin-118: rgb(6.7108% 8.0051% 9.3829%);
    --palBerlin-119: rgb(6.8193% 7.6099% 8.847%);
    --palBerlin-120: rgb(6.972% 7.2283% 8.3025%);
    --palBerlin-121: rgb(7.1639% 6.8654% 7.7544%);
    --palBerlin-122: rgb(7.3978% 6.5058% 7.211%);
    --palBerlin-123: rgb(7.6596% 6.1657% 6.6651%);
    --palBerlin-124: rgb(7.9637% 5.855% 6.1133%);
    --palBerlin-125: rgb(8.2963% 5.5666% 5.5745%);
    --palBerlin-126: rgb(8.6537% 5.2997% 5.0336%);
    --palBerlin-127: rgb(9.0315% 5.0699% 4.504%);
    --palBerlin-128: rgb(9.426% 4.8753% 3.9773%);
    --palBerlin-129: rgb(9.8319% 4.7041% 3.4683%);
    --palBerlin-130: rgb(10.246% 4.5624% 3.0074%);
    --palBerlin-131: rgb(10.673% 4.4705% 2.6012%);
    --palBerlin-132: rgb(11.099% 4.3972% 2.2379%);
    --palBerlin-133: rgb(11.524% 4.3596% 1.915%);
    --palBerlin-134: rgb(11.955% 4.3567% 1.6299%);
    --palBerlin-135: rgb(12.381% 4.3861% 1.3797%);
    --palBerlin-136: rgb(12.81% 4.4459% 1.1588%);
    --palBerlin-137: rgb(13.232% 4.5229% 0.95315%);
    --palBerlin-138: rgb(13.645% 4.6164% 0.78947%);
    --palBerlin-139: rgb(14.063% 4.7374% 0.6502%);
    --palBerlin-140: rgb(14.488% 4.8634% 0.53266%);
    --palBerlin-141: rgb(14.923% 4.9836% 0.43455%);
    --palBerlin-142: rgb(15.369% 5.0997% 0.35374%);
    --palBerlin-143: rgb(15.831% 5.213% 0.28824%);
    --palBerlin-144: rgb(16.301% 5.3218% 0.23628%);
    --palBerlin-145: rgb(16.781% 5.424% 0.19629%);
    --palBerlin-146: rgb(17.274% 5.5172% 0.1669%);
    --palBerlin-147: rgb(17.78% 5.6018% 0.14692%);
    --palBerlin-148: rgb(18.286% 5.682% 0.13401%);
    --palBerlin-149: rgb(18.806% 5.7574% 0.12617%);
    --palBerlin-150: rgb(19.323% 5.8514% 0.12261%);
    --palBerlin-151: rgb(19.846% 5.955% 0.12271%);
    --palBerlin-152: rgb(20.378% 6.0501% 0.12601%);
    --palBerlin-153: rgb(20.909% 6.1486% 0.13221%);
    --palBerlin-154: rgb(21.447% 6.271% 0.14116%);
    --palBerlin-155: rgb(21.99% 6.3823% 0.15287%);
    --palBerlin-156: rgb(22.535% 6.5027% 0.16748%);
    --palBerlin-157: rgb(23.086% 6.6297% 0.18529%);
    --palBerlin-158: rgb(23.642% 6.7645% 0.20675%);
    --palBerlin-159: rgb(24.202% 6.9092% 0.23247%);
    --palBerlin-160: rgb(24.768% 7.0458% 0.26319%);
    --palBerlin-161: rgb(25.339% 7.1986% 0.29984%);
    --palBerlin-162: rgb(25.918% 7.364% 0.3435%);
    --palBerlin-163: rgb(26.5% 7.5237% 0.39545%);
    --palBerlin-164: rgb(27.093% 7.6965% 0.4571%);
    --palBerlin-165: rgb(27.693% 7.8822% 0.53006%);
    --palBerlin-166: rgb(28.302% 8.0819% 0.61608%);
    --palBerlin-167: rgb(28.92% 8.2879% 0.71713%);
    --palBerlin-168: rgb(29.547% 8.5075% 0.83494%);
    --palBerlin-169: rgb(30.186% 8.746% 0.97258%);
    --palBerlin-170: rgb(30.839% 8.9912% 1.1455%);
    --palBerlin-171: rgb(31.502% 9.253% 1.3324%);
    --palBerlin-172: rgb(32.181% 9.5392% 1.5413%);
    --palBerlin-173: rgb(32.874% 9.8396% 1.778%);
    --palBerlin-174: rgb(33.58% 10.158% 2.0449%);
    --palBerlin-175: rgb(34.304% 10.498% 2.344%);
    --palBerlin-176: rgb(35.041% 10.864% 2.6771%);
    --palBerlin-177: rgb(35.795% 11.256% 3.0456%);
    --palBerlin-178: rgb(36.563% 11.666% 3.4571%);
    --palBerlin-179: rgb(37.347% 12.097% 3.9115%);
    --palBerlin-180: rgb(38.146% 12.561% 4.3693%);
    --palBerlin-181: rgb(38.958% 13.046% 4.8471%);
    --palBerlin-182: rgb(39.785% 13.547% 5.3136%);
    --palBerlin-183: rgb(40.622% 14.08% 5.7848%);
    --palBerlin-184: rgb(41.469% 14.627% 6.2715%);
    --palBerlin-185: rgb(42.323% 15.198% 6.7685%);
    --palBerlin-186: rgb(43.184% 15.791% 7.3044%);
    --palBerlin-187: rgb(44.044% 16.403% 7.862%);
    --palBerlin-188: rgb(44.909% 17.027% 8.4644%);
    --palBerlin-189: rgb(45.77% 17.667% 9.0869%);
    --palBerlin-190: rgb(46.631% 18.321% 9.7335%);
    --palBerlin-191: rgb(47.49% 18.989% 10.406%);
    --palBerlin-192: rgb(48.342% 19.668% 11.104%);
    --palBerlin-193: rgb(49.191% 20.352% 11.819%);
    --palBerlin-194: rgb(50.032% 21.043% 12.55%);
    --palBerlin-195: rgb(50.869% 21.742% 13.298%);
    --palBerlin-196: rgb(51.698% 22.443% 14.062%);
    --palBerlin-197: rgb(52.52% 23.154% 14.835%);
    --palBerlin-198: rgb(53.335% 23.862% 15.626%);
    --palBerlin-199: rgb(54.144% 24.575% 16.423%);
    --palBerlin-200: rgb(54.948% 25.292% 17.226%);
    --palBerlin-201: rgb(55.746% 26.009% 18.04%);
    --palBerlin-202: rgb(56.538% 26.726% 18.864%);
    --palBerlin-203: rgb(57.327% 27.446% 19.692%);
    --palBerlin-204: rgb(58.111% 28.167% 20.524%);
    --palBerlin-205: rgb(58.892% 28.889% 21.362%);
    --palBerlin-206: rgb(59.672% 29.611% 22.205%);
    --palBerlin-207: rgb(60.448% 30.335% 23.053%);
    --palBerlin-208: rgb(61.223% 31.062% 23.905%);
    --palBerlin-209: rgb(61.998% 31.787% 24.762%);
    --palBerlin-210: rgb(62.771% 32.513% 25.619%);
    --palBerlin-211: rgb(63.544% 33.244% 26.481%);
    --palBerlin-212: rgb(64.317% 33.975% 27.349%);
    --palBerlin-213: rgb(65.092% 34.706% 28.218%);
    --palBerlin-214: rgb(65.866% 35.44% 29.089%);
    --palBerlin-215: rgb(66.642% 36.175% 29.964%);
    --palBerlin-216: rgb(67.419% 36.912% 30.842%);
    --palBerlin-217: rgb(68.198% 37.652% 31.722%);
    --palBerlin-218: rgb(68.978% 38.392% 32.604%);
    --palBerlin-219: rgb(69.76% 39.135% 33.493%);
    --palBerlin-220: rgb(70.543% 39.879% 34.38%);
    --palBerlin-221: rgb(71.329% 40.627% 35.272%);
    --palBerlin-222: rgb(72.116% 41.376% 36.166%);
    --palBerlin-223: rgb(72.905% 42.126% 37.062%);
    --palBerlin-224: rgb(73.697% 42.88% 37.962%);
    --palBerlin-225: rgb(74.49% 43.635% 38.864%);
    --palBerlin-226: rgb(75.285% 44.392% 39.768%);
    --palBerlin-227: rgb(76.083% 45.151% 40.675%);
    --palBerlin-228: rgb(76.882% 45.912% 41.584%);
    --palBerlin-229: rgb(77.684% 46.676% 42.496%);
    --palBerlin-230: rgb(78.488% 47.441% 43.409%);
    --palBerlin-231: rgb(79.293% 48.208% 44.327%);
    --palBerlin-232: rgb(80.101% 48.976% 45.246%);
    --palBerlin-233: rgb(80.911% 49.749% 46.167%);
    --palBerlin-234: rgb(81.722% 50.521% 47.091%);
    --palBerlin-235: rgb(82.536% 51.296% 48.017%);
    --palBerlin-236: rgb(83.352% 52.073% 48.945%);
    --palBerlin-237: rgb(84.169% 52.853% 49.876%);
    --palBerlin-238: rgb(84.988% 53.634% 50.81%);
    --palBerlin-239: rgb(85.809% 54.416% 51.745%);
    --palBerlin-240: rgb(86.632% 55.201% 52.683%);
    --palBerlin-241: rgb(87.457% 55.988% 53.622%);
    --palBerlin-242: rgb(88.283% 56.776% 54.564%);
    --palBerlin-243: rgb(89.111% 57.567% 55.508%);
    --palBerlin-244: rgb(89.941% 58.358% 56.455%);
    --palBerlin-245: rgb(90.772% 59.153% 57.404%);
    --palBerlin-246: rgb(91.603% 59.949% 58.355%);
    --palBerlin-247: rgb(92.437% 60.747% 59.309%);
    --palBerlin-248: rgb(93.271% 61.546% 60.265%);
    --palBerlin-249: rgb(94.108% 62.348% 61.223%);
    --palBerlin-250: rgb(94.945% 63.151% 62.183%);
    --palBerlin-251: rgb(95.783% 63.956% 63.147%);
    --palBerlin-252: rgb(96.622% 64.763% 64.111%);
    --palBerlin-253: rgb(97.462% 65.572% 65.079%);
    --palBerlin-254: rgb(98.303% 66.382% 66.049%);
    --palBerlin-255: rgb(99.145% 67.194% 67.022%);
    --palBerlin-256: rgb(99.987% 68.007% 67.995%);
}
