/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBilbao-1: rgb(29.914% 0.032437% 0.30268%);
    --palBilbao-2: rgb(30.5% 0.48361% 1.1067%);
    --palBilbao-3: rgb(31.088% 0.96282% 1.915%);
    --palBilbao-4: rgb(31.677% 1.4882% 2.7066%);
    --palBilbao-5: rgb(32.267% 2.0224% 3.5143%);
    --palBilbao-6: rgb(32.855% 2.5843% 4.2846%);
    --palBilbao-7: rgb(33.444% 3.1738% 5.0036%);
    --palBilbao-8: rgb(34.03% 3.8107% 5.6572%);
    --palBilbao-9: rgb(34.614% 4.4376% 6.2581%);
    --palBilbao-10: rgb(35.196% 5.0379% 6.8143%);
    --palBilbao-11: rgb(35.778% 5.6223% 7.3417%);
    --palBilbao-12: rgb(36.352% 6.1766% 7.8259%);
    --palBilbao-13: rgb(36.925% 6.7261% 8.3028%);
    --palBilbao-14: rgb(37.491% 7.2554% 8.7831%);
    --palBilbao-15: rgb(38.051% 7.7716% 9.2588%);
    --palBilbao-16: rgb(38.602% 8.2853% 9.7458%);
    --palBilbao-17: rgb(39.15% 8.7894% 10.233%);
    --palBilbao-18: rgb(39.69% 9.2765% 10.727%);
    --palBilbao-19: rgb(40.224% 9.7677% 11.222%);
    --palBilbao-20: rgb(40.753% 10.245% 11.715%);
    --palBilbao-21: rgb(41.277% 10.721% 12.212%);
    --palBilbao-22: rgb(41.793% 11.189% 12.715%);
    --palBilbao-23: rgb(42.305% 11.653% 13.221%);
    --palBilbao-24: rgb(42.814% 12.109% 13.725%);
    --palBilbao-25: rgb(43.317% 12.57% 14.229%);
    --palBilbao-26: rgb(43.817% 13.026% 14.735%);
    --palBilbao-27: rgb(44.313% 13.476% 15.239%);
    --palBilbao-28: rgb(44.804% 13.919% 15.745%);
    --palBilbao-29: rgb(45.294% 14.369% 16.254%);
    --palBilbao-30: rgb(45.779% 14.812% 16.759%);
    --palBilbao-31: rgb(46.261% 15.254% 17.263%);
    --palBilbao-32: rgb(46.742% 15.698% 17.771%);
    --palBilbao-33: rgb(47.22% 16.141% 18.271%);
    --palBilbao-34: rgb(47.695% 16.576% 18.778%);
    --palBilbao-35: rgb(48.168% 17.018% 19.276%);
    --palBilbao-36: rgb(48.638% 17.457% 19.775%);
    --palBilbao-37: rgb(49.108% 17.895% 20.273%);
    --palBilbao-38: rgb(49.572% 18.331% 20.77%);
    --palBilbao-39: rgb(50.036% 18.773% 21.263%);
    --palBilbao-40: rgb(50.497% 19.208% 21.755%);
    --palBilbao-41: rgb(50.955% 19.65% 22.244%);
    --palBilbao-42: rgb(51.411% 20.086% 22.73%);
    --palBilbao-43: rgb(51.863% 20.528% 23.212%);
    --palBilbao-44: rgb(52.312% 20.97% 23.691%);
    --palBilbao-45: rgb(52.756% 21.415% 24.163%);
    --palBilbao-46: rgb(53.197% 21.86% 24.631%);
    --palBilbao-47: rgb(53.633% 22.307% 25.095%);
    --palBilbao-48: rgb(54.063% 22.756% 25.552%);
    --palBilbao-49: rgb(54.488% 23.208% 26.002%);
    --palBilbao-50: rgb(54.906% 23.661% 26.444%);
    --palBilbao-51: rgb(55.316% 24.115% 26.879%);
    --palBilbao-52: rgb(55.721% 24.572% 27.303%);
    --palBilbao-53: rgb(56.114% 25.031% 27.717%);
    --palBilbao-54: rgb(56.498% 25.495% 28.119%);
    --palBilbao-55: rgb(56.872% 25.956% 28.51%);
    --palBilbao-56: rgb(57.236% 26.419% 28.889%);
    --palBilbao-57: rgb(57.588% 26.882% 29.252%);
    --palBilbao-58: rgb(57.926% 27.344% 29.602%);
    --palBilbao-59: rgb(58.25% 27.804% 29.938%);
    --palBilbao-60: rgb(58.563% 28.265% 30.255%);
    --palBilbao-61: rgb(58.859% 28.719% 30.56%);
    --palBilbao-62: rgb(59.143% 29.174% 30.845%);
    --palBilbao-63: rgb(59.412% 29.622% 31.115%);
    --palBilbao-64: rgb(59.667% 30.066% 31.369%);
    --palBilbao-65: rgb(59.907% 30.506% 31.608%);
    --palBilbao-66: rgb(60.133% 30.941% 31.829%);
    --palBilbao-67: rgb(60.347% 31.367% 32.038%);
    --palBilbao-68: rgb(60.547% 31.788% 32.23%);
    --palBilbao-69: rgb(60.736% 32.202% 32.408%);
    --palBilbao-70: rgb(60.913% 32.609% 32.575%);
    --palBilbao-71: rgb(61.079% 33.011% 32.73%);
    --palBilbao-72: rgb(61.235% 33.406% 32.876%);
    --palBilbao-73: rgb(61.382% 33.792% 33.01%);
    --palBilbao-74: rgb(61.522% 34.174% 33.134%);
    --palBilbao-75: rgb(61.655% 34.549% 33.254%);
    --palBilbao-76: rgb(61.78% 34.919% 33.364%);
    --palBilbao-77: rgb(61.9% 35.283% 33.468%);
    --palBilbao-78: rgb(62.015% 35.642% 33.566%);
    --palBilbao-79: rgb(62.124% 35.994% 33.659%);
    --palBilbao-80: rgb(62.23% 36.343% 33.749%);
    --palBilbao-81: rgb(62.333% 36.688% 33.834%);
    --palBilbao-82: rgb(62.433% 37.027% 33.919%);
    --palBilbao-83: rgb(62.53% 37.365% 33.999%);
    --palBilbao-84: rgb(62.624% 37.698% 34.076%);
    --palBilbao-85: rgb(62.717% 38.027% 34.152%);
    --palBilbao-86: rgb(62.809% 38.354% 34.227%);
    --palBilbao-87: rgb(62.898% 38.676% 34.3%);
    --palBilbao-88: rgb(62.987% 38.996% 34.37%);
    --palBilbao-89: rgb(63.074% 39.315% 34.441%);
    --palBilbao-90: rgb(63.16% 39.63% 34.511%);
    --palBilbao-91: rgb(63.246% 39.942% 34.579%);
    --palBilbao-92: rgb(63.33% 40.254% 34.648%);
    --palBilbao-93: rgb(63.415% 40.564% 34.716%);
    --palBilbao-94: rgb(63.497% 40.87% 34.783%);
    --palBilbao-95: rgb(63.58% 41.175% 34.849%);
    --palBilbao-96: rgb(63.663% 41.478% 34.915%);
    --palBilbao-97: rgb(63.744% 41.78% 34.98%);
    --palBilbao-98: rgb(63.825% 42.079% 35.046%);
    --palBilbao-99: rgb(63.906% 42.378% 35.111%);
    --palBilbao-100: rgb(63.987% 42.676% 35.174%);
    --palBilbao-101: rgb(64.066% 42.971% 35.238%);
    --palBilbao-102: rgb(64.146% 43.267% 35.303%);
    --palBilbao-103: rgb(64.225% 43.56% 35.365%);
    --palBilbao-104: rgb(64.304% 43.852% 35.429%);
    --palBilbao-105: rgb(64.383% 44.143% 35.494%);
    --palBilbao-106: rgb(64.461% 44.435% 35.557%);
    --palBilbao-107: rgb(64.54% 44.723% 35.619%);
    --palBilbao-108: rgb(64.618% 45.012% 35.682%);
    --palBilbao-109: rgb(64.696% 45.301% 35.744%);
    --palBilbao-110: rgb(64.773% 45.588% 35.806%);
    --palBilbao-111: rgb(64.851% 45.875% 35.867%);
    --palBilbao-112: rgb(64.929% 46.161% 35.929%);
    --palBilbao-113: rgb(65.006% 46.448% 35.991%);
    --palBilbao-114: rgb(65.083% 46.733% 36.052%);
    --palBilbao-115: rgb(65.161% 47.018% 36.114%);
    --palBilbao-116: rgb(65.237% 47.301% 36.177%);
    --palBilbao-117: rgb(65.314% 47.587% 36.238%);
    --palBilbao-118: rgb(65.391% 47.871% 36.299%);
    --palBilbao-119: rgb(65.468% 48.155% 36.361%);
    --palBilbao-120: rgb(65.545% 48.439% 36.423%);
    --palBilbao-121: rgb(65.622% 48.724% 36.484%);
    --palBilbao-122: rgb(65.699% 49.008% 36.546%);
    --palBilbao-123: rgb(65.776% 49.292% 36.608%);
    --palBilbao-124: rgb(65.853% 49.577% 36.67%);
    --palBilbao-125: rgb(65.93% 49.862% 36.73%);
    --palBilbao-126: rgb(66.007% 50.148% 36.792%);
    --palBilbao-127: rgb(66.084% 50.434% 36.855%);
    --palBilbao-128: rgb(66.162% 50.719% 36.917%);
    --palBilbao-129: rgb(66.24% 51.006% 36.978%);
    --palBilbao-130: rgb(66.318% 51.293% 37.04%);
    --palBilbao-131: rgb(66.396% 51.581% 37.103%);
    --palBilbao-132: rgb(66.473% 51.871% 37.165%);
    --palBilbao-133: rgb(66.552% 52.159% 37.228%);
    --palBilbao-134: rgb(66.631% 52.45% 37.292%);
    --palBilbao-135: rgb(66.71% 52.742% 37.356%);
    --palBilbao-136: rgb(66.79% 53.035% 37.42%);
    --palBilbao-137: rgb(66.87% 53.329% 37.484%);
    --palBilbao-138: rgb(66.95% 53.624% 37.548%);
    --palBilbao-139: rgb(67.031% 53.921% 37.615%);
    --palBilbao-140: rgb(67.111% 54.219% 37.681%);
    --palBilbao-141: rgb(67.193% 54.519% 37.748%);
    --palBilbao-142: rgb(67.276% 54.821% 37.816%);
    --palBilbao-143: rgb(67.359% 55.124% 37.886%);
    --palBilbao-144: rgb(67.442% 55.43% 37.958%);
    --palBilbao-145: rgb(67.527% 55.739% 38.032%);
    --palBilbao-146: rgb(67.613% 56.049% 38.109%);
    --palBilbao-147: rgb(67.701% 56.363% 38.188%);
    --palBilbao-148: rgb(67.79% 56.679% 38.273%);
    --palBilbao-149: rgb(67.88% 56.999% 38.362%);
    --palBilbao-150: rgb(67.972% 57.323% 38.456%);
    --palBilbao-151: rgb(68.066% 57.651% 38.557%);
    --palBilbao-152: rgb(68.163% 57.983% 38.667%);
    --palBilbao-153: rgb(68.263% 58.32% 38.787%);
    --palBilbao-154: rgb(68.366% 58.662% 38.919%);
    --palBilbao-155: rgb(68.473% 59.01% 39.064%);
    --palBilbao-156: rgb(68.585% 59.364% 39.223%);
    --palBilbao-157: rgb(68.7% 59.725% 39.4%);
    --palBilbao-158: rgb(68.821% 60.091% 39.598%);
    --palBilbao-159: rgb(68.947% 60.465% 39.817%);
    --palBilbao-160: rgb(69.077% 60.845% 40.06%);
    --palBilbao-161: rgb(69.216% 61.23% 40.329%);
    --palBilbao-162: rgb(69.359% 61.623% 40.626%);
    --palBilbao-163: rgb(69.51% 62.022% 40.953%);
    --palBilbao-164: rgb(69.667% 62.426% 41.312%);
    --palBilbao-165: rgb(69.831% 62.834% 41.703%);
    --palBilbao-166: rgb(70.001% 63.245% 42.126%);
    --palBilbao-167: rgb(70.177% 63.659% 42.584%);
    --palBilbao-168: rgb(70.359% 64.073% 43.075%);
    --palBilbao-169: rgb(70.546% 64.488% 43.598%);
    --palBilbao-170: rgb(70.737% 64.901% 44.15%);
    --palBilbao-171: rgb(70.932% 65.31% 44.731%);
    --palBilbao-172: rgb(71.13% 65.717% 45.339%);
    --palBilbao-173: rgb(71.33% 66.116% 45.971%);
    --palBilbao-174: rgb(71.532% 66.509% 46.623%);
    --palBilbao-175: rgb(71.735% 66.896% 47.294%);
    --palBilbao-176: rgb(71.937% 67.273% 47.98%);
    --palBilbao-177: rgb(72.139% 67.641% 48.677%);
    --palBilbao-178: rgb(72.339% 68% 49.384%);
    --palBilbao-179: rgb(72.539% 68.351% 50.098%);
    --palBilbao-180: rgb(72.736% 68.691% 50.816%);
    --palBilbao-181: rgb(72.931% 69.023% 51.534%);
    --palBilbao-182: rgb(73.123% 69.345% 52.255%);
    --palBilbao-183: rgb(73.313% 69.659% 52.974%);
    --palBilbao-184: rgb(73.501% 69.965% 53.69%);
    --palBilbao-185: rgb(73.685% 70.263% 54.402%);
    --palBilbao-186: rgb(73.867% 70.555% 55.11%);
    --palBilbao-187: rgb(74.046% 70.84% 55.812%);
    --palBilbao-188: rgb(74.223% 71.118% 56.508%);
    --palBilbao-189: rgb(74.397% 71.391% 57.199%);
    --palBilbao-190: rgb(74.569% 71.659% 57.883%);
    --palBilbao-191: rgb(74.739% 71.922% 58.561%);
    --palBilbao-192: rgb(74.906% 72.181% 59.232%);
    --palBilbao-193: rgb(75.072% 72.436% 59.895%);
    --palBilbao-194: rgb(75.235% 72.687% 60.551%);
    --palBilbao-195: rgb(75.397% 72.935% 61.201%);
    --palBilbao-196: rgb(75.556% 73.179% 61.844%);
    --palBilbao-197: rgb(75.714% 73.421% 62.479%);
    --palBilbao-198: rgb(75.871% 73.659% 63.108%);
    --palBilbao-199: rgb(76.026% 73.896% 63.73%);
    --palBilbao-200: rgb(76.18% 74.129% 64.345%);
    --palBilbao-201: rgb(76.333% 74.361% 64.955%);
    --palBilbao-202: rgb(76.486% 74.59% 65.557%);
    --palBilbao-203: rgb(76.637% 74.819% 66.154%);
    --palBilbao-204: rgb(76.788% 75.046% 66.744%);
    --palBilbao-205: rgb(76.94% 75.271% 67.329%);
    --palBilbao-206: rgb(77.093% 75.498% 67.909%);
    --palBilbao-207: rgb(77.246% 75.724% 68.484%);
    --palBilbao-208: rgb(77.402% 75.95% 69.054%);
    --palBilbao-209: rgb(77.56% 76.178% 69.622%);
    --palBilbao-210: rgb(77.722% 76.409% 70.185%);
    --palBilbao-211: rgb(77.887% 76.643% 70.746%);
    --palBilbao-212: rgb(78.058% 76.88% 71.306%);
    --palBilbao-213: rgb(78.235% 77.123% 71.865%);
    --palBilbao-214: rgb(78.42% 77.372% 72.423%);
    --palBilbao-215: rgb(78.613% 77.629% 72.983%);
    --palBilbao-216: rgb(78.816% 77.894% 73.544%);
    --palBilbao-217: rgb(79.032% 78.17% 74.108%);
    --palBilbao-218: rgb(79.26% 78.457% 74.676%);
    --palBilbao-219: rgb(79.502% 78.756% 75.248%);
    --palBilbao-220: rgb(79.76% 79.069% 75.826%);
    --palBilbao-221: rgb(80.036% 79.399% 76.41%);
    --palBilbao-222: rgb(80.329% 79.744% 77.001%);
    --palBilbao-223: rgb(80.643% 80.107% 77.599%);
    --palBilbao-224: rgb(80.976% 80.488% 78.206%);
    --palBilbao-225: rgb(81.331% 80.889% 78.82%);
    --palBilbao-226: rgb(81.708% 81.308% 79.442%);
    --palBilbao-227: rgb(82.106% 81.747% 80.072%);
    --palBilbao-228: rgb(82.527% 82.207% 80.71%);
    --palBilbao-229: rgb(82.97% 82.685% 81.354%);
    --palBilbao-230: rgb(83.434% 83.182% 82.006%);
    --palBilbao-231: rgb(83.919% 83.698% 82.664%);
    --palBilbao-232: rgb(84.424% 84.231% 83.327%);
    --palBilbao-233: rgb(84.948% 84.78% 83.995%);
    --palBilbao-234: rgb(85.491% 85.345% 84.667%);
    --palBilbao-235: rgb(86.05% 85.925% 85.342%);
    --palBilbao-236: rgb(86.624% 86.518% 86.021%);
    --palBilbao-237: rgb(87.213% 87.123% 86.701%);
    --palBilbao-238: rgb(87.815% 87.739% 87.383%);
    --palBilbao-239: rgb(88.43% 88.366% 88.068%);
    --palBilbao-240: rgb(89.054% 89.002% 88.753%);
    --palBilbao-241: rgb(89.69% 89.646% 89.441%);
    --palBilbao-242: rgb(90.334% 90.298% 90.129%);
    --palBilbao-243: rgb(90.987% 90.958% 90.82%);
    --palBilbao-244: rgb(91.647% 91.623% 91.512%);
    --palBilbao-245: rgb(92.315% 92.296% 92.206%);
    --palBilbao-246: rgb(92.989% 92.974% 92.902%);
    --palBilbao-247: rgb(93.67% 93.658% 93.601%);
    --palBilbao-248: rgb(94.356% 94.347% 94.302%);
    --palBilbao-249: rgb(95.048% 95.041% 95.006%);
    --palBilbao-250: rgb(95.745% 95.74% 95.713%);
    --palBilbao-251: rgb(96.447% 96.443% 96.422%);
    --palBilbao-252: rgb(97.154% 97.151% 97.136%);
    --palBilbao-253: rgb(97.865% 97.863% 97.852%);
    --palBilbao-254: rgb(98.58% 98.579% 98.572%);
    --palBilbao-255: rgb(99.299% 99.299% 99.294%);
    --palBilbao-256: rgb(100% 100% 100%);
}
