/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBluegrey-1: rgb(52.1569% 63.5294% 96.8627%);
    --palBluegrey-2: rgb(51.7647% 63.1373% 96.0784%);
    --palBluegrey-3: rgb(51.3725% 62.7451% 95.2941%);
    --palBluegrey-4: rgb(50.9804% 62.3529% 94.5098%);
    --palBluegrey-5: rgb(50.5882% 61.5686% 93.7255%);
    --palBluegrey-6: rgb(50.5882% 61.1765% 93.3333%);
    --palBluegrey-7: rgb(50.1961% 60.7843% 92.549%);
    --palBluegrey-8: rgb(49.8039% 60.3922% 91.7647%);
    --palBluegrey-9: rgb(49.4118% 60% 90.9804%);
    --palBluegrey-10: rgb(49.0196% 59.6078% 90.1961%);
    --palBluegrey-11: rgb(48.6275% 58.8235% 89.4118%);
    --palBluegrey-12: rgb(48.2353% 58.4314% 88.6275%);
    --palBluegrey-13: rgb(47.8431% 58.0392% 87.8431%);
    --palBluegrey-14: rgb(47.451% 57.6471% 87.451%);
    --palBluegrey-15: rgb(47.451% 57.2549% 86.6667%);
    --palBluegrey-16: rgb(47.0588% 56.8627% 85.8824%);
    --palBluegrey-17: rgb(46.6667% 56.4706% 85.098%);
    --palBluegrey-18: rgb(46.2745% 55.6863% 84.3137%);
    --palBluegrey-19: rgb(45.8824% 55.2941% 83.5294%);
    --palBluegrey-20: rgb(45.4902% 54.902% 83.1373%);
    --palBluegrey-21: rgb(45.098% 54.5098% 82.3529%);
    --palBluegrey-22: rgb(44.7059% 54.1176% 81.5686%);
    --palBluegrey-23: rgb(44.7059% 53.7255% 80.7843%);
    --palBluegrey-24: rgb(44.3137% 53.3333% 80%);
    --palBluegrey-25: rgb(43.9216% 52.9412% 79.2157%);
    --palBluegrey-26: rgb(43.5294% 52.1569% 78.8235%);
    --palBluegrey-27: rgb(43.1373% 51.7647% 78.0392%);
    --palBluegrey-28: rgb(42.7451% 51.3725% 77.2549%);
    --palBluegrey-29: rgb(42.3529% 50.9804% 76.4706%);
    --palBluegrey-30: rgb(41.9608% 50.5882% 75.6863%);
    --palBluegrey-31: rgb(41.9608% 50.1961% 75.2941%);
    --palBluegrey-32: rgb(41.5686% 49.8039% 74.5098%);
    --palBluegrey-33: rgb(41.1765% 49.4118% 73.7255%);
    --palBluegrey-34: rgb(40.7843% 49.0196% 72.9412%);
    --palBluegrey-35: rgb(40.3922% 48.2353% 72.1569%);
    --palBluegrey-36: rgb(40% 47.8431% 71.7647%);
    --palBluegrey-37: rgb(39.6078% 47.451% 70.9804%);
    --palBluegrey-38: rgb(39.2157% 47.0588% 70.1961%);
    --palBluegrey-39: rgb(39.2157% 46.6667% 69.4118%);
    --palBluegrey-40: rgb(38.8235% 46.2745% 68.6275%);
    --palBluegrey-41: rgb(38.4314% 45.8824% 68.2353%);
    --palBluegrey-42: rgb(38.0392% 45.4902% 67.451%);
    --palBluegrey-43: rgb(37.6471% 45.098% 66.6667%);
    --palBluegrey-44: rgb(37.2549% 44.7059% 65.8824%);
    --palBluegrey-45: rgb(36.8627% 43.9216% 65.4902%);
    --palBluegrey-46: rgb(36.8627% 43.5294% 64.7059%);
    --palBluegrey-47: rgb(36.4706% 43.1373% 63.9216%);
    --palBluegrey-48: rgb(36.0784% 42.7451% 63.1373%);
    --palBluegrey-49: rgb(35.6863% 42.3529% 62.7451%);
    --palBluegrey-50: rgb(35.2941% 41.9608% 61.9608%);
    --palBluegrey-51: rgb(34.902% 41.5686% 61.1765%);
    --palBluegrey-52: rgb(34.902% 41.1765% 60.3922%);
    --palBluegrey-53: rgb(34.5098% 40.7843% 60%);
    --palBluegrey-54: rgb(34.1176% 40.3922% 59.2157%);
    --palBluegrey-55: rgb(33.7255% 40% 58.4314%);
    --palBluegrey-56: rgb(33.3333% 39.6078% 57.6471%);
    --palBluegrey-57: rgb(32.9412% 39.2157% 57.2549%);
    --palBluegrey-58: rgb(32.549% 38.4314% 56.4706%);
    --palBluegrey-59: rgb(32.549% 38.0392% 55.6863%);
    --palBluegrey-60: rgb(32.1569% 37.6471% 55.2941%);
    --palBluegrey-61: rgb(31.7647% 37.2549% 54.5098%);
    --palBluegrey-62: rgb(31.3725% 36.8627% 53.7255%);
    --palBluegrey-63: rgb(30.9804% 36.4706% 52.9412%);
    --palBluegrey-64: rgb(30.5882% 36.0784% 52.549%);
    --palBluegrey-65: rgb(30.5882% 35.6863% 51.7647%);
    --palBluegrey-66: rgb(30.1961% 35.2941% 50.9804%);
    --palBluegrey-67: rgb(29.8039% 34.902% 50.5882%);
    --palBluegrey-68: rgb(29.4118% 34.5098% 49.8039%);
    --palBluegrey-69: rgb(29.0196% 34.1176% 49.0196%);
    --palBluegrey-70: rgb(28.6275% 33.7255% 48.6275%);
    --palBluegrey-71: rgb(28.6275% 33.3333% 47.8431%);
    --palBluegrey-72: rgb(28.2353% 32.9412% 47.0588%);
    --palBluegrey-73: rgb(27.8431% 32.549% 46.6667%);
    --palBluegrey-74: rgb(27.451% 32.1569% 45.8824%);
    --palBluegrey-75: rgb(27.0588% 31.7647% 45.098%);
    --palBluegrey-76: rgb(26.6667% 31.3725% 44.7059%);
    --palBluegrey-77: rgb(26.6667% 30.9804% 43.9216%);
    --palBluegrey-78: rgb(26.2745% 30.5882% 43.5294%);
    --palBluegrey-79: rgb(25.8824% 30.1961% 42.7451%);
    --palBluegrey-80: rgb(25.4902% 29.8039% 41.9608%);
    --palBluegrey-81: rgb(25.098% 29.4118% 41.5686%);
    --palBluegrey-82: rgb(25.098% 29.0196% 40.7843%);
    --palBluegrey-83: rgb(24.7059% 28.6275% 40%);
    --palBluegrey-84: rgb(24.3137% 28.2353% 39.6078%);
    --palBluegrey-85: rgb(23.9216% 27.8431% 38.8235%);
    --palBluegrey-86: rgb(23.5294% 27.451% 38.4314%);
    --palBluegrey-87: rgb(23.1373% 27.0588% 37.6471%);
    --palBluegrey-88: rgb(23.1373% 26.6667% 36.8627%);
    --palBluegrey-89: rgb(22.7451% 26.2745% 36.4706%);
    --palBluegrey-90: rgb(22.3529% 25.8824% 35.6863%);
    --palBluegrey-91: rgb(21.9608% 25.4902% 35.2941%);
    --palBluegrey-92: rgb(21.5686% 25.098% 34.5098%);
    --palBluegrey-93: rgb(21.5686% 24.7059% 34.1176%);
    --palBluegrey-94: rgb(21.1765% 24.3137% 33.3333%);
    --palBluegrey-95: rgb(20.7843% 23.9216% 32.549%);
    --palBluegrey-96: rgb(20.3922% 23.5294% 32.1569%);
    --palBluegrey-97: rgb(20% 23.1373% 31.3725%);
    --palBluegrey-98: rgb(20% 22.7451% 30.9804%);
    --palBluegrey-99: rgb(19.6078% 22.3529% 30.1961%);
    --palBluegrey-100: rgb(19.2157% 21.9608% 29.8039%);
    --palBluegrey-101: rgb(18.8235% 21.5686% 29.0196%);
    --palBluegrey-102: rgb(18.4314% 21.1765% 28.6275%);
    --palBluegrey-103: rgb(18.4314% 20.7843% 27.8431%);
    --palBluegrey-104: rgb(18.0392% 20.3922% 27.451%);
    --palBluegrey-105: rgb(17.6471% 20% 26.6667%);
    --palBluegrey-106: rgb(17.2549% 19.6078% 26.2745%);
    --palBluegrey-107: rgb(16.8627% 19.2157% 25.4902%);
    --palBluegrey-108: rgb(16.8627% 18.8235% 25.098%);
    --palBluegrey-109: rgb(16.4706% 18.4314% 24.3137%);
    --palBluegrey-110: rgb(16.0784% 18.0392% 23.9216%);
    --palBluegrey-111: rgb(15.6863% 17.6471% 23.1373%);
    --palBluegrey-112: rgb(15.2941% 17.2549% 22.7451%);
    --palBluegrey-113: rgb(15.2941% 17.2549% 21.9608%);
    --palBluegrey-114: rgb(14.902% 16.8627% 21.5686%);
    --palBluegrey-115: rgb(14.5098% 16.4706% 20.7843%);
    --palBluegrey-116: rgb(14.1176% 16.0784% 20.3922%);
    --palBluegrey-117: rgb(14.1176% 15.6863% 19.6078%);
    --palBluegrey-118: rgb(13.7255% 15.2941% 19.2157%);
    --palBluegrey-119: rgb(13.3333% 14.902% 18.8235%);
    --palBluegrey-120: rgb(12.9412% 14.5098% 18.0392%);
    --palBluegrey-121: rgb(12.549% 14.1176% 17.6471%);
    --palBluegrey-122: rgb(12.549% 13.7255% 16.8627%);
    --palBluegrey-123: rgb(12.1569% 13.3333% 16.4706%);
    --palBluegrey-124: rgb(11.7647% 13.3333% 16.0784%);
    --palBluegrey-125: rgb(11.3725% 12.9412% 15.2941%);
    --palBluegrey-126: rgb(11.3725% 12.549% 14.902%);
    --palBluegrey-127: rgb(10.9804% 12.1569% 14.1176%);
    --palBluegrey-128: rgb(10.5882% 11.7647% 13.7255%);
    --palBluegrey-129: rgb(10.9804% 12.1569% 14.1176%);
    --palBluegrey-130: rgb(11.3725% 12.549% 14.5098%);
    --palBluegrey-131: rgb(11.7647% 12.9412% 14.5098%);
    --palBluegrey-132: rgb(11.7647% 12.9412% 14.902%);
    --palBluegrey-133: rgb(12.1569% 13.3333% 15.2941%);
    --palBluegrey-134: rgb(12.549% 13.7255% 15.6863%);
    --palBluegrey-135: rgb(12.9412% 14.1176% 16.0784%);
    --palBluegrey-136: rgb(13.3333% 14.5098% 16.4706%);
    --palBluegrey-137: rgb(13.7255% 14.902% 16.8627%);
    --palBluegrey-138: rgb(14.1176% 15.2941% 16.8627%);
    --palBluegrey-139: rgb(14.5098% 15.2941% 17.2549%);
    --palBluegrey-140: rgb(14.902% 15.6863% 17.6471%);
    --palBluegrey-141: rgb(15.2941% 16.0784% 18.0392%);
    --palBluegrey-142: rgb(15.2941% 16.4706% 18.4314%);
    --palBluegrey-143: rgb(15.6863% 16.8627% 18.8235%);
    --palBluegrey-144: rgb(16.0784% 17.2549% 19.2157%);
    --palBluegrey-145: rgb(16.4706% 17.6471% 19.2157%);
    --palBluegrey-146: rgb(16.8627% 18.0392% 19.6078%);
    --palBluegrey-147: rgb(17.2549% 18.4314% 20%);
    --palBluegrey-148: rgb(17.6471% 18.4314% 20.3922%);
    --palBluegrey-149: rgb(18.0392% 18.8235% 20.7843%);
    --palBluegrey-150: rgb(18.4314% 19.2157% 21.1765%);
    --palBluegrey-151: rgb(18.8235% 19.6078% 21.5686%);
    --palBluegrey-152: rgb(19.2157% 20% 21.9608%);
    --palBluegrey-153: rgb(19.6078% 20.3922% 21.9608%);
    --palBluegrey-154: rgb(19.6078% 20.7843% 22.3529%);
    --palBluegrey-155: rgb(20% 21.1765% 22.7451%);
    --palBluegrey-156: rgb(20.3922% 21.5686% 23.1373%);
    --palBluegrey-157: rgb(20.7843% 21.9608% 23.5294%);
    --palBluegrey-158: rgb(21.1765% 22.3529% 23.9216%);
    --palBluegrey-159: rgb(21.5686% 22.7451% 24.3137%);
    --palBluegrey-160: rgb(21.9608% 22.7451% 24.7059%);
    --palBluegrey-161: rgb(22.3529% 23.1373% 25.098%);
    --palBluegrey-162: rgb(22.7451% 23.5294% 25.098%);
    --palBluegrey-163: rgb(23.1373% 23.9216% 25.4902%);
    --palBluegrey-164: rgb(23.5294% 24.3137% 25.8824%);
    --palBluegrey-165: rgb(23.9216% 24.7059% 26.2745%);
    --palBluegrey-166: rgb(24.3137% 25.098% 26.6667%);
    --palBluegrey-167: rgb(24.7059% 25.4902% 27.0588%);
    --palBluegrey-168: rgb(25.098% 25.8824% 27.451%);
    --palBluegrey-169: rgb(25.4902% 26.2745% 27.8431%);
    --palBluegrey-170: rgb(25.8824% 26.6667% 28.2353%);
    --palBluegrey-171: rgb(26.2745% 27.0588% 28.6275%);
    --palBluegrey-172: rgb(26.6667% 27.451% 29.0196%);
    --palBluegrey-173: rgb(27.0588% 27.8431% 29.4118%);
    --palBluegrey-174: rgb(27.451% 28.2353% 29.4118%);
    --palBluegrey-175: rgb(27.8431% 28.6275% 29.8039%);
    --palBluegrey-176: rgb(28.2353% 29.0196% 30.1961%);
    --palBluegrey-177: rgb(28.6275% 29.4118% 30.5882%);
    --palBluegrey-178: rgb(29.0196% 29.8039% 30.9804%);
    --palBluegrey-179: rgb(29.4118% 30.1961% 31.3725%);
    --palBluegrey-180: rgb(29.8039% 30.5882% 31.7647%);
    --palBluegrey-181: rgb(30.1961% 30.9804% 32.1569%);
    --palBluegrey-182: rgb(30.5882% 31.3725% 32.549%);
    --palBluegrey-183: rgb(30.9804% 31.7647% 32.9412%);
    --palBluegrey-184: rgb(31.3725% 32.1569% 33.3333%);
    --palBluegrey-185: rgb(31.7647% 32.549% 33.7255%);
    --palBluegrey-186: rgb(32.1569% 32.9412% 34.1176%);
    --palBluegrey-187: rgb(32.549% 33.3333% 34.5098%);
    --palBluegrey-188: rgb(32.9412% 33.7255% 34.902%);
    --palBluegrey-189: rgb(33.3333% 33.7255% 35.2941%);
    --palBluegrey-190: rgb(33.7255% 34.1176% 35.6863%);
    --palBluegrey-191: rgb(34.1176% 34.5098% 35.6863%);
    --palBluegrey-192: rgb(34.5098% 34.902% 36.0784%);
    --palBluegrey-193: rgb(34.902% 35.2941% 36.4706%);
    --palBluegrey-194: rgb(35.2941% 36.0784% 36.8627%);
    --palBluegrey-195: rgb(35.6863% 36.4706% 37.2549%);
    --palBluegrey-196: rgb(36.0784% 36.8627% 37.6471%);
    --palBluegrey-197: rgb(36.4706% 37.2549% 38.0392%);
    --palBluegrey-198: rgb(36.8627% 37.6471% 38.4314%);
    --palBluegrey-199: rgb(37.2549% 38.0392% 38.8235%);
    --palBluegrey-200: rgb(37.6471% 38.4314% 39.2157%);
    --palBluegrey-201: rgb(38.0392% 38.8235% 39.6078%);
    --palBluegrey-202: rgb(38.4314% 39.2157% 40%);
    --palBluegrey-203: rgb(38.8235% 39.6078% 40.3922%);
    --palBluegrey-204: rgb(39.2157% 40% 40.7843%);
    --palBluegrey-205: rgb(39.6078% 40.3922% 41.1765%);
    --palBluegrey-206: rgb(40% 40.7843% 41.5686%);
    --palBluegrey-207: rgb(40.3922% 41.1765% 41.9608%);
    --palBluegrey-208: rgb(41.1765% 41.5686% 42.3529%);
    --palBluegrey-209: rgb(41.5686% 41.9608% 42.7451%);
    --palBluegrey-210: rgb(41.9608% 42.3529% 43.1373%);
    --palBluegrey-211: rgb(42.3529% 42.7451% 43.5294%);
    --palBluegrey-212: rgb(42.7451% 43.1373% 43.9216%);
    --palBluegrey-213: rgb(43.1373% 43.5294% 44.3137%);
    --palBluegrey-214: rgb(43.5294% 43.9216% 44.7059%);
    --palBluegrey-215: rgb(43.9216% 44.3137% 45.098%);
    --palBluegrey-216: rgb(44.3137% 44.7059% 45.4902%);
    --palBluegrey-217: rgb(44.7059% 45.098% 45.8824%);
    --palBluegrey-218: rgb(45.098% 45.4902% 46.2745%);
    --palBluegrey-219: rgb(45.4902% 45.8824% 46.6667%);
    --palBluegrey-220: rgb(45.8824% 46.2745% 47.0588%);
    --palBluegrey-221: rgb(46.2745% 46.6667% 47.451%);
    --palBluegrey-222: rgb(47.0588% 47.0588% 47.8431%);
    --palBluegrey-223: rgb(47.451% 47.451% 48.2353%);
    --palBluegrey-224: rgb(47.8431% 47.8431% 48.6275%);
    --palBluegrey-225: rgb(48.2353% 48.6275% 49.0196%);
    --palBluegrey-226: rgb(48.6275% 49.0196% 49.4118%);
    --palBluegrey-227: rgb(49.0196% 49.4118% 49.8039%);
    --palBluegrey-228: rgb(49.4118% 49.8039% 50.1961%);
    --palBluegrey-229: rgb(49.8039% 50.1961% 50.5882%);
    --palBluegrey-230: rgb(50.1961% 50.5882% 50.9804%);
    --palBluegrey-231: rgb(50.5882% 50.9804% 51.3725%);
    --palBluegrey-232: rgb(50.9804% 51.3725% 51.7647%);
    --palBluegrey-233: rgb(51.3725% 51.7647% 52.1569%);
    --palBluegrey-234: rgb(52.1569% 52.1569% 52.549%);
    --palBluegrey-235: rgb(52.549% 52.549% 52.9412%);
    --palBluegrey-236: rgb(52.9412% 52.9412% 53.3333%);
    --palBluegrey-237: rgb(53.3333% 53.3333% 53.7255%);
    --palBluegrey-238: rgb(53.7255% 53.7255% 54.1176%);
    --palBluegrey-239: rgb(54.1176% 54.5098% 54.5098%);
    --palBluegrey-240: rgb(54.5098% 54.902% 54.902%);
    --palBluegrey-241: rgb(54.902% 55.2941% 55.2941%);
    --palBluegrey-242: rgb(55.2941% 55.6863% 55.6863%);
    --palBluegrey-243: rgb(56.0784% 56.0784% 56.4706%);
    --palBluegrey-244: rgb(56.4706% 56.4706% 56.8627%);
    --palBluegrey-245: rgb(56.8627% 56.8627% 57.2549%);
    --palBluegrey-246: rgb(57.2549% 57.2549% 57.6471%);
    --palBluegrey-247: rgb(57.6471% 57.6471% 58.0392%);
    --palBluegrey-248: rgb(58.0392% 58.0392% 58.4314%);
    --palBluegrey-249: rgb(58.4314% 58.4314% 58.8235%);
    --palBluegrey-250: rgb(58.8235% 59.2157% 59.2157%);
    --palBluegrey-251: rgb(59.6078% 59.6078% 59.6078%);
    --palBluegrey-252: rgb(60% 60% 60%);
    --palBluegrey-253: rgb(60.3922% 60.3922% 60.3922%);
    --palBluegrey-254: rgb(60.7843% 60.7843% 60.7843%);
    --palBluegrey-255: rgb(61.1765% 61.1765% 61.1765%);
}
