/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBluesCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palBluesCP-2: rgb(10.5882% 11.7647% 14.1176%);
    --palBluesCP-3: rgb(10.9804% 12.1569% 14.1176%);
    --palBluesCP-4: rgb(10.9804% 12.1569% 14.5098%);
    --palBluesCP-5: rgb(11.3725% 12.549% 14.902%);
    --palBluesCP-6: rgb(11.3725% 12.549% 14.902%);
    --palBluesCP-7: rgb(11.3725% 12.9412% 15.2941%);
    --palBluesCP-8: rgb(11.7647% 12.9412% 15.6863%);
    --palBluesCP-9: rgb(11.7647% 13.3333% 16.0784%);
    --palBluesCP-10: rgb(11.7647% 13.3333% 16.0784%);
    --palBluesCP-11: rgb(12.1569% 13.3333% 16.4706%);
    --palBluesCP-12: rgb(12.1569% 13.7255% 16.8627%);
    --palBluesCP-13: rgb(12.549% 13.7255% 16.8627%);
    --palBluesCP-14: rgb(12.549% 14.1176% 17.2549%);
    --palBluesCP-15: rgb(12.549% 14.1176% 17.6471%);
    --palBluesCP-16: rgb(12.9412% 14.5098% 17.6471%);
    --palBluesCP-17: rgb(12.9412% 14.5098% 18.0392%);
    --palBluesCP-18: rgb(13.3333% 14.902% 18.4314%);
    --palBluesCP-19: rgb(13.3333% 14.902% 18.8235%);
    --palBluesCP-20: rgb(13.3333% 14.902% 18.8235%);
    --palBluesCP-21: rgb(13.7255% 15.2941% 19.2157%);
    --palBluesCP-22: rgb(13.7255% 15.2941% 19.6078%);
    --palBluesCP-23: rgb(14.1176% 15.6863% 19.6078%);
    --palBluesCP-24: rgb(14.1176% 15.6863% 20%);
    --palBluesCP-25: rgb(14.1176% 16.0784% 20.3922%);
    --palBluesCP-26: rgb(14.5098% 16.0784% 20.7843%);
    --palBluesCP-27: rgb(14.5098% 16.4706% 20.7843%);
    --palBluesCP-28: rgb(14.902% 16.4706% 21.1765%);
    --palBluesCP-29: rgb(14.902% 16.8627% 21.5686%);
    --palBluesCP-30: rgb(14.902% 16.8627% 21.5686%);
    --palBluesCP-31: rgb(15.2941% 17.2549% 21.9608%);
    --palBluesCP-32: rgb(15.2941% 17.2549% 22.3529%);
    --palBluesCP-33: rgb(15.2941% 17.2549% 22.7451%);
    --palBluesCP-34: rgb(15.6863% 17.6471% 22.7451%);
    --palBluesCP-35: rgb(15.6863% 17.6471% 23.1373%);
    --palBluesCP-36: rgb(16.0784% 18.0392% 23.5294%);
    --palBluesCP-37: rgb(16.0784% 18.0392% 23.9216%);
    --palBluesCP-38: rgb(16.0784% 18.4314% 23.9216%);
    --palBluesCP-39: rgb(16.4706% 18.4314% 24.3137%);
    --palBluesCP-40: rgb(16.4706% 18.8235% 24.7059%);
    --palBluesCP-41: rgb(16.8627% 18.8235% 25.098%);
    --palBluesCP-42: rgb(16.8627% 19.2157% 25.098%);
    --palBluesCP-43: rgb(16.8627% 19.2157% 25.4902%);
    --palBluesCP-44: rgb(17.2549% 19.6078% 25.8824%);
    --palBluesCP-45: rgb(17.2549% 19.6078% 26.2745%);
    --palBluesCP-46: rgb(17.6471% 20% 26.2745%);
    --palBluesCP-47: rgb(17.6471% 20% 26.6667%);
    --palBluesCP-48: rgb(17.6471% 20.3922% 27.0588%);
    --palBluesCP-49: rgb(18.0392% 20.3922% 27.451%);
    --palBluesCP-50: rgb(18.0392% 20.3922% 27.451%);
    --palBluesCP-51: rgb(18.4314% 20.7843% 27.8431%);
    --palBluesCP-52: rgb(18.4314% 20.7843% 28.2353%);
    --palBluesCP-53: rgb(18.4314% 21.1765% 28.6275%);
    --palBluesCP-54: rgb(18.8235% 21.1765% 28.6275%);
    --palBluesCP-55: rgb(18.8235% 21.5686% 29.0196%);
    --palBluesCP-56: rgb(19.2157% 21.5686% 29.4118%);
    --palBluesCP-57: rgb(19.2157% 21.9608% 29.8039%);
    --palBluesCP-58: rgb(19.2157% 21.9608% 29.8039%);
    --palBluesCP-59: rgb(19.6078% 22.3529% 30.1961%);
    --palBluesCP-60: rgb(19.6078% 22.3529% 30.5882%);
    --palBluesCP-61: rgb(20% 22.7451% 30.9804%);
    --palBluesCP-62: rgb(20% 22.7451% 31.3725%);
    --palBluesCP-63: rgb(20% 23.1373% 31.3725%);
    --palBluesCP-64: rgb(20.3922% 23.1373% 31.7647%);
    --palBluesCP-65: rgb(20.3922% 23.5294% 32.1569%);
    --palBluesCP-66: rgb(20.7843% 23.5294% 32.549%);
    --palBluesCP-67: rgb(20.7843% 23.9216% 32.549%);
    --palBluesCP-68: rgb(20.7843% 23.9216% 32.9412%);
    --palBluesCP-69: rgb(21.1765% 24.3137% 33.3333%);
    --palBluesCP-70: rgb(21.1765% 24.3137% 33.7255%);
    --palBluesCP-71: rgb(21.5686% 24.7059% 34.1176%);
    --palBluesCP-72: rgb(21.5686% 24.7059% 34.1176%);
    --palBluesCP-73: rgb(21.5686% 25.098% 34.5098%);
    --palBluesCP-74: rgb(21.9608% 25.098% 34.902%);
    --palBluesCP-75: rgb(21.9608% 25.4902% 35.2941%);
    --palBluesCP-76: rgb(22.3529% 25.4902% 35.2941%);
    --palBluesCP-77: rgb(22.3529% 25.8824% 35.6863%);
    --palBluesCP-78: rgb(22.3529% 25.8824% 36.0784%);
    --palBluesCP-79: rgb(22.7451% 26.2745% 36.4706%);
    --palBluesCP-80: rgb(22.7451% 26.2745% 36.8627%);
    --palBluesCP-81: rgb(23.1373% 26.6667% 36.8627%);
    --palBluesCP-82: rgb(23.1373% 26.6667% 37.2549%);
    --palBluesCP-83: rgb(23.1373% 27.0588% 37.6471%);
    --palBluesCP-84: rgb(23.5294% 27.0588% 38.0392%);
    --palBluesCP-85: rgb(23.5294% 27.451% 38.4314%);
    --palBluesCP-86: rgb(23.9216% 27.451% 38.4314%);
    --palBluesCP-87: rgb(23.9216% 27.8431% 38.8235%);
    --palBluesCP-88: rgb(24.3137% 27.8431% 39.2157%);
    --palBluesCP-89: rgb(24.3137% 28.2353% 39.6078%);
    --palBluesCP-90: rgb(24.3137% 28.2353% 40%);
    --palBluesCP-91: rgb(24.7059% 28.6275% 40%);
    --palBluesCP-92: rgb(24.7059% 28.6275% 40.3922%);
    --palBluesCP-93: rgb(25.098% 29.0196% 40.7843%);
    --palBluesCP-94: rgb(25.098% 29.0196% 41.1765%);
    --palBluesCP-95: rgb(25.098% 29.4118% 41.5686%);
    --palBluesCP-96: rgb(25.4902% 29.4118% 41.5686%);
    --palBluesCP-97: rgb(25.4902% 29.8039% 41.9608%);
    --palBluesCP-98: rgb(25.8824% 29.8039% 42.3529%);
    --palBluesCP-99: rgb(25.8824% 30.1961% 42.7451%);
    --palBluesCP-100: rgb(25.8824% 30.1961% 43.1373%);
    --palBluesCP-101: rgb(26.2745% 30.5882% 43.5294%);
    --palBluesCP-102: rgb(26.2745% 30.5882% 43.5294%);
    --palBluesCP-103: rgb(26.6667% 30.9804% 43.9216%);
    --palBluesCP-104: rgb(26.6667% 30.9804% 44.3137%);
    --palBluesCP-105: rgb(26.6667% 31.3725% 44.7059%);
    --palBluesCP-106: rgb(27.0588% 31.3725% 45.098%);
    --palBluesCP-107: rgb(27.0588% 31.7647% 45.098%);
    --palBluesCP-108: rgb(27.451% 31.7647% 45.4902%);
    --palBluesCP-109: rgb(27.451% 32.1569% 45.8824%);
    --palBluesCP-110: rgb(27.8431% 32.1569% 46.2745%);
    --palBluesCP-111: rgb(27.8431% 32.549% 46.6667%);
    --palBluesCP-112: rgb(27.8431% 32.549% 47.0588%);
    --palBluesCP-113: rgb(28.2353% 32.9412% 47.0588%);
    --palBluesCP-114: rgb(28.2353% 32.9412% 47.451%);
    --palBluesCP-115: rgb(28.6275% 33.3333% 47.8431%);
    --palBluesCP-116: rgb(28.6275% 33.3333% 48.2353%);
    --palBluesCP-117: rgb(28.6275% 33.7255% 48.6275%);
    --palBluesCP-118: rgb(29.0196% 33.7255% 49.0196%);
    --palBluesCP-119: rgb(29.0196% 34.1176% 49.0196%);
    --palBluesCP-120: rgb(29.4118% 34.1176% 49.4118%);
    --palBluesCP-121: rgb(29.4118% 34.5098% 49.8039%);
    --palBluesCP-122: rgb(29.8039% 34.902% 50.1961%);
    --palBluesCP-123: rgb(29.8039% 34.902% 50.5882%);
    --palBluesCP-124: rgb(29.8039% 35.2941% 50.9804%);
    --palBluesCP-125: rgb(30.1961% 35.2941% 50.9804%);
    --palBluesCP-126: rgb(30.1961% 35.6863% 51.3725%);
    --palBluesCP-127: rgb(30.5882% 35.6863% 51.7647%);
    --palBluesCP-128: rgb(30.5882% 36.0784% 52.1569%);
    --palBluesCP-129: rgb(30.5882% 36.0784% 52.549%);
    --palBluesCP-130: rgb(30.9804% 36.4706% 52.9412%);
    --palBluesCP-131: rgb(30.9804% 36.4706% 52.9412%);
    --palBluesCP-132: rgb(31.3725% 36.8627% 53.3333%);
    --palBluesCP-133: rgb(31.3725% 36.8627% 53.7255%);
    --palBluesCP-134: rgb(31.7647% 37.2549% 54.1176%);
    --palBluesCP-135: rgb(31.7647% 37.2549% 54.5098%);
    --palBluesCP-136: rgb(31.7647% 37.6471% 54.902%);
    --palBluesCP-137: rgb(32.1569% 37.6471% 55.2941%);
    --palBluesCP-138: rgb(32.1569% 38.0392% 55.2941%);
    --palBluesCP-139: rgb(32.549% 38.0392% 55.6863%);
    --palBluesCP-140: rgb(32.549% 38.4314% 56.0784%);
    --palBluesCP-141: rgb(32.549% 38.4314% 56.4706%);
    --palBluesCP-142: rgb(32.9412% 38.8235% 56.8627%);
    --palBluesCP-143: rgb(32.9412% 39.2157% 57.2549%);
    --palBluesCP-144: rgb(33.3333% 39.2157% 57.6471%);
    --palBluesCP-145: rgb(33.3333% 39.6078% 57.6471%);
    --palBluesCP-146: rgb(33.7255% 39.6078% 58.0392%);
    --palBluesCP-147: rgb(33.7255% 40% 58.4314%);
    --palBluesCP-148: rgb(33.7255% 40% 58.8235%);
    --palBluesCP-149: rgb(34.1176% 40.3922% 59.2157%);
    --palBluesCP-150: rgb(34.1176% 40.3922% 59.6078%);
    --palBluesCP-151: rgb(34.5098% 40.7843% 60%);
    --palBluesCP-152: rgb(34.5098% 40.7843% 60%);
    --palBluesCP-153: rgb(34.902% 41.1765% 60.3922%);
    --palBluesCP-154: rgb(34.902% 41.1765% 60.7843%);
    --palBluesCP-155: rgb(34.902% 41.5686% 61.1765%);
    --palBluesCP-156: rgb(35.2941% 41.9608% 61.5686%);
    --palBluesCP-157: rgb(35.2941% 41.9608% 61.9608%);
    --palBluesCP-158: rgb(35.6863% 42.3529% 62.3529%);
    --palBluesCP-159: rgb(35.6863% 42.3529% 62.7451%);
    --palBluesCP-160: rgb(36.0784% 42.7451% 62.7451%);
    --palBluesCP-161: rgb(36.0784% 42.7451% 63.1373%);
    --palBluesCP-162: rgb(36.0784% 43.1373% 63.5294%);
    --palBluesCP-163: rgb(36.4706% 43.1373% 63.9216%);
    --palBluesCP-164: rgb(36.4706% 43.5294% 64.3137%);
    --palBluesCP-165: rgb(36.8627% 43.5294% 64.7059%);
    --palBluesCP-166: rgb(36.8627% 43.9216% 65.098%);
    --palBluesCP-167: rgb(36.8627% 43.9216% 65.4902%);
    --palBluesCP-168: rgb(37.2549% 44.3137% 65.4902%);
    --palBluesCP-169: rgb(37.2549% 44.7059% 65.8824%);
    --palBluesCP-170: rgb(37.6471% 44.7059% 66.2745%);
    --palBluesCP-171: rgb(37.6471% 45.098% 66.6667%);
    --palBluesCP-172: rgb(38.0392% 45.098% 67.0588%);
    --palBluesCP-173: rgb(38.0392% 45.4902% 67.451%);
    --palBluesCP-174: rgb(38.0392% 45.4902% 67.8431%);
    --palBluesCP-175: rgb(38.4314% 45.8824% 68.2353%);
    --palBluesCP-176: rgb(38.4314% 45.8824% 68.6275%);
    --palBluesCP-177: rgb(38.8235% 46.2745% 68.6275%);
    --palBluesCP-178: rgb(38.8235% 46.2745% 69.0196%);
    --palBluesCP-179: rgb(39.2157% 46.6667% 69.4118%);
    --palBluesCP-180: rgb(39.2157% 47.0588% 69.8039%);
    --palBluesCP-181: rgb(39.2157% 47.0588% 70.1961%);
    --palBluesCP-182: rgb(39.6078% 47.451% 70.5882%);
    --palBluesCP-183: rgb(39.6078% 47.451% 70.9804%);
    --palBluesCP-184: rgb(40% 47.8431% 71.3725%);
    --palBluesCP-185: rgb(40% 47.8431% 71.7647%);
    --palBluesCP-186: rgb(40.3922% 48.2353% 71.7647%);
    --palBluesCP-187: rgb(40.3922% 48.2353% 72.1569%);
    --palBluesCP-188: rgb(40.7843% 48.6275% 72.549%);
    --palBluesCP-189: rgb(40.7843% 49.0196% 72.9412%);
    --palBluesCP-190: rgb(40.7843% 49.0196% 73.3333%);
    --palBluesCP-191: rgb(41.1765% 49.4118% 73.7255%);
    --palBluesCP-192: rgb(41.1765% 49.4118% 74.1176%);
    --palBluesCP-193: rgb(41.5686% 49.8039% 74.5098%);
    --palBluesCP-194: rgb(41.5686% 49.8039% 74.902%);
    --palBluesCP-195: rgb(41.9608% 50.1961% 75.2941%);
    --palBluesCP-196: rgb(41.9608% 50.1961% 75.2941%);
    --palBluesCP-197: rgb(41.9608% 50.5882% 75.6863%);
    --palBluesCP-198: rgb(42.3529% 50.9804% 76.0784%);
    --palBluesCP-199: rgb(42.3529% 50.9804% 76.4706%);
    --palBluesCP-200: rgb(42.7451% 51.3725% 76.8627%);
    --palBluesCP-201: rgb(42.7451% 51.3725% 77.2549%);
    --palBluesCP-202: rgb(43.1373% 51.7647% 77.6471%);
    --palBluesCP-203: rgb(43.1373% 51.7647% 78.0392%);
    --palBluesCP-204: rgb(43.1373% 52.1569% 78.4314%);
    --palBluesCP-205: rgb(43.5294% 52.1569% 78.8235%);
    --palBluesCP-206: rgb(43.5294% 52.549% 78.8235%);
    --palBluesCP-207: rgb(43.9216% 52.9412% 79.2157%);
    --palBluesCP-208: rgb(43.9216% 52.9412% 79.6078%);
    --palBluesCP-209: rgb(44.3137% 53.3333% 80%);
    --palBluesCP-210: rgb(44.3137% 53.3333% 80.3922%);
    --palBluesCP-211: rgb(44.7059% 53.7255% 80.7843%);
    --palBluesCP-212: rgb(44.7059% 53.7255% 81.1765%);
    --palBluesCP-213: rgb(44.7059% 54.1176% 81.5686%);
    --palBluesCP-214: rgb(45.098% 54.5098% 81.9608%);
    --palBluesCP-215: rgb(45.098% 54.5098% 82.3529%);
    --palBluesCP-216: rgb(45.4902% 54.902% 82.7451%);
    --palBluesCP-217: rgb(45.4902% 54.902% 83.1373%);
    --palBluesCP-218: rgb(45.8824% 55.2941% 83.1373%);
    --palBluesCP-219: rgb(45.8824% 55.2941% 83.5294%);
    --palBluesCP-220: rgb(45.8824% 55.6863% 83.9216%);
    --palBluesCP-221: rgb(46.2745% 55.6863% 84.3137%);
    --palBluesCP-222: rgb(46.2745% 56.0784% 84.7059%);
    --palBluesCP-223: rgb(46.6667% 56.4706% 85.098%);
    --palBluesCP-224: rgb(46.6667% 56.4706% 85.4902%);
    --palBluesCP-225: rgb(47.0588% 56.8627% 85.8824%);
    --palBluesCP-226: rgb(47.0588% 56.8627% 86.2745%);
    --palBluesCP-227: rgb(47.451% 57.2549% 86.6667%);
    --palBluesCP-228: rgb(47.451% 57.2549% 87.0588%);
    --palBluesCP-229: rgb(47.451% 57.6471% 87.451%);
    --palBluesCP-230: rgb(47.8431% 58.0392% 87.8431%);
    --palBluesCP-231: rgb(47.8431% 58.0392% 87.8431%);
    --palBluesCP-232: rgb(48.2353% 58.4314% 88.2353%);
    --palBluesCP-233: rgb(48.2353% 58.4314% 88.6275%);
    --palBluesCP-234: rgb(48.6275% 58.8235% 89.0196%);
    --palBluesCP-235: rgb(48.6275% 58.8235% 89.4118%);
    --palBluesCP-236: rgb(49.0196% 59.2157% 89.8039%);
    --palBluesCP-237: rgb(49.0196% 59.6078% 90.1961%);
    --palBluesCP-238: rgb(49.0196% 59.6078% 90.5882%);
    --palBluesCP-239: rgb(49.4118% 60% 90.9804%);
    --palBluesCP-240: rgb(49.4118% 60% 91.3725%);
    --palBluesCP-241: rgb(49.8039% 60.3922% 91.7647%);
    --palBluesCP-242: rgb(49.8039% 60.3922% 92.1569%);
    --palBluesCP-243: rgb(50.1961% 60.7843% 92.549%);
    --palBluesCP-244: rgb(50.1961% 61.1765% 92.9412%);
    --palBluesCP-245: rgb(50.5882% 61.1765% 93.3333%);
    --palBluesCP-246: rgb(50.5882% 61.5686% 93.7255%);
    --palBluesCP-247: rgb(50.5882% 61.5686% 93.7255%);
    --palBluesCP-248: rgb(50.9804% 61.9608% 94.1176%);
    --palBluesCP-249: rgb(50.9804% 62.3529% 94.5098%);
    --palBluesCP-250: rgb(51.3725% 62.3529% 94.902%);
    --palBluesCP-251: rgb(51.3725% 62.7451% 95.2941%);
    --palBluesCP-252: rgb(51.7647% 62.7451% 95.6863%);
    --palBluesCP-253: rgb(51.7647% 63.1373% 96.0784%);
    --palBluesCP-254: rgb(52.1569% 63.1373% 96.4706%);
    --palBluesCP-255: rgb(52.1569% 63.5294% 96.8627%);
}
