/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palBlueDarkRed12-1: rgb(16.078431% 3.921569% 84.705882%);
    --palBlueDarkRed12-2: rgb(14.901961% 30.196078% 100%);
    --palBlueDarkRed12-3: rgb(24.705882% 62.745098% 100%);
    --palBlueDarkRed12-4: rgb(44.705882% 85.098039% 100%);
    --palBlueDarkRed12-5: rgb(66.666667% 96.862745% 100%);
    --palBlueDarkRed12-6: rgb(87.843137% 100% 100%);
    --palBlueDarkRed12-7: rgb(100% 100% 74.901961%);
    --palBlueDarkRed12-8: rgb(100% 87.843137% 60%);
    --palBlueDarkRed12-9: rgb(100% 67.843137% 44.705882%);
    --palBlueDarkRed12-10: rgb(96.862745% 42.745098% 36.862745%);
    --palBlueDarkRed12-11: rgb(84.705882% 14.901961% 19.607843%);
    --palBlueDarkRed12-12: rgb(64.705882% 0% 12.941176%);
}
