/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBone-1: rgb(0% 0% 0%);
    --palBone-2: rgb(0.3431% 0.3431% 0.4774%);
    --palBone-3: rgb(0.6863% 0.6863% 0.9548%);
    --palBone-4: rgb(1.0294% 1.0294% 1.4322%);
    --palBone-5: rgb(1.3725% 1.3725% 1.9096%);
    --palBone-6: rgb(1.7157% 1.7157% 2.387%);
    --palBone-7: rgb(2.0588% 2.0588% 2.8645%);
    --palBone-8: rgb(2.402% 2.402% 3.3419%);
    --palBone-9: rgb(2.7451% 2.7451% 3.8193%);
    --palBone-10: rgb(3.0882% 3.0882% 4.2967%);
    --palBone-11: rgb(3.4314% 3.4314% 4.7741%);
    --palBone-12: rgb(3.7745% 3.7745% 5.2515%);
    --palBone-13: rgb(4.1176% 4.1176% 5.7289%);
    --palBone-14: rgb(4.4608% 4.4608% 6.2063%);
    --palBone-15: rgb(4.8039% 4.8039% 6.6837%);
    --palBone-16: rgb(5.1471% 5.1471% 7.1611%);
    --palBone-17: rgb(5.4902% 5.4902% 7.6385%);
    --palBone-18: rgb(5.8333% 5.8333% 8.1159%);
    --palBone-19: rgb(6.1765% 6.1765% 8.5934%);
    --palBone-20: rgb(6.5196% 6.5196% 9.0708%);
    --palBone-21: rgb(6.8627% 6.8627% 9.5482%);
    --palBone-22: rgb(7.2059% 7.2059% 10.0256%);
    --palBone-23: rgb(7.549% 7.549% 10.503%);
    --palBone-24: rgb(7.8922% 7.8922% 10.9804%);
    --palBone-25: rgb(8.2353% 8.2353% 11.4578%);
    --palBone-26: rgb(8.5784% 8.5784% 11.9352%);
    --palBone-27: rgb(8.9216% 8.9216% 12.4126%);
    --palBone-28: rgb(9.2647% 9.2647% 12.89%);
    --palBone-29: rgb(9.6078% 9.6078% 13.3674%);
    --palBone-30: rgb(9.951% 9.951% 13.8448%);
    --palBone-31: rgb(10.2941% 10.2941% 14.3223%);
    --palBone-32: rgb(10.6373% 10.6373% 14.7997%);
    --palBone-33: rgb(10.9804% 10.9804% 15.2771%);
    --palBone-34: rgb(11.3235% 11.3235% 15.7545%);
    --palBone-35: rgb(11.6667% 11.6667% 16.2319%);
    --palBone-36: rgb(12.0098% 12.0098% 16.7093%);
    --palBone-37: rgb(12.3529% 12.3529% 17.1867%);
    --palBone-38: rgb(12.6961% 12.6961% 17.6641%);
    --palBone-39: rgb(13.0392% 13.0392% 18.1415%);
    --palBone-40: rgb(13.3824% 13.3823% 18.6189%);
    --palBone-41: rgb(13.7255% 13.7255% 19.0963%);
    --palBone-42: rgb(14.0686% 14.0686% 19.5737%);
    --palBone-43: rgb(14.4118% 14.4118% 20.0512%);
    --palBone-44: rgb(14.7549% 14.7549% 20.5286%);
    --palBone-45: rgb(15.098% 15.098% 21.006%);
    --palBone-46: rgb(15.4412% 15.4412% 21.4834%);
    --palBone-47: rgb(15.7843% 15.7843% 21.9608%);
    --palBone-48: rgb(16.1275% 16.1274% 22.4382%);
    --palBone-49: rgb(16.4706% 16.4706% 22.9156%);
    --palBone-50: rgb(16.8137% 16.8137% 23.393%);
    --palBone-51: rgb(17.1569% 17.1569% 23.8704%);
    --palBone-52: rgb(17.5% 17.5% 24.3478%);
    --palBone-53: rgb(17.8431% 17.8431% 24.8252%);
    --palBone-54: rgb(18.1863% 18.1863% 25.3026%);
    --palBone-55: rgb(18.5294% 18.5294% 25.7801%);
    --palBone-56: rgb(18.8725% 18.8725% 26.2575%);
    --palBone-57: rgb(19.2157% 19.2157% 26.7349%);
    --palBone-58: rgb(19.5588% 19.5588% 27.2123%);
    --palBone-59: rgb(19.902% 19.902% 27.6897%);
    --palBone-60: rgb(20.2451% 20.2451% 28.1671%);
    --palBone-61: rgb(20.5882% 20.5882% 28.6445%);
    --palBone-62: rgb(20.9314% 20.9314% 29.1219%);
    --palBone-63: rgb(21.2745% 21.2745% 29.5993%);
    --palBone-64: rgb(21.6176% 21.6176% 30.0767%);
    --palBone-65: rgb(21.9608% 21.9608% 30.5541%);
    --palBone-66: rgb(22.3039% 22.3039% 31.0315%);
    --palBone-67: rgb(22.6471% 22.647% 31.509%);
    --palBone-68: rgb(22.9902% 22.9902% 31.9864%);
    --palBone-69: rgb(23.3333% 23.3333% 32.4638%);
    --palBone-70: rgb(23.6765% 23.6765% 32.9412%);
    --palBone-71: rgb(24.0196% 24.0196% 33.4186%);
    --palBone-72: rgb(24.3627% 24.3627% 33.896%);
    --palBone-73: rgb(24.7059% 24.7059% 34.3734%);
    --palBone-74: rgb(25.049% 25.049% 34.8508%);
    --palBone-75: rgb(25.3922% 25.3921% 35.3282%);
    --palBone-76: rgb(25.7353% 25.7353% 35.8056%);
    --palBone-77: rgb(26.0784% 26.0784% 36.283%);
    --palBone-78: rgb(26.4216% 26.4216% 36.7604%);
    --palBone-79: rgb(26.7647% 26.7647% 37.2379%);
    --palBone-80: rgb(27.1078% 27.1078% 37.7153%);
    --palBone-81: rgb(27.451% 27.451% 38.1927%);
    --palBone-82: rgb(27.7941% 27.7941% 38.6701%);
    --palBone-83: rgb(28.1373% 28.1372% 39.1475%);
    --palBone-84: rgb(28.4804% 28.4804% 39.6249%);
    --palBone-85: rgb(28.8235% 28.8235% 40.1023%);
    --palBone-86: rgb(29.1667% 29.1667% 40.5797%);
    --palBone-87: rgb(29.5098% 29.5098% 41.0571%);
    --palBone-88: rgb(29.8529% 29.8529% 41.5345%);
    --palBone-89: rgb(30.1961% 30.1961% 42.0119%);
    --palBone-90: rgb(30.5392% 30.5392% 42.4893%);
    --palBone-91: rgb(30.8824% 30.8823% 42.9668%);
    --palBone-92: rgb(31.2255% 31.2255% 43.4442%);
    --palBone-93: rgb(31.5686% 31.5686% 43.9216%);
    --palBone-94: rgb(31.9118% 31.9118% 44.399%);
    --palBone-95: rgb(32.2549% 32.3713% 44.7549%);
    --palBone-96: rgb(32.598% 32.8431% 45.098%);
    --palBone-97: rgb(32.9412% 33.315% 45.4412%);
    --palBone-98: rgb(33.2843% 33.7868% 45.7843%);
    --palBone-99: rgb(33.6275% 34.2586% 46.1274%);
    --palBone-100: rgb(33.9706% 34.7304% 46.4706%);
    --palBone-101: rgb(34.3137% 35.2022% 46.8137%);
    --palBone-102: rgb(34.6569% 35.674% 47.1569%);
    --palBone-103: rgb(35% 36.1458% 47.5%);
    --palBone-104: rgb(35.3431% 36.6176% 47.8431%);
    --palBone-105: rgb(35.6863% 37.0895% 48.1863%);
    --palBone-106: rgb(36.0294% 37.5613% 48.5294%);
    --palBone-107: rgb(36.3725% 38.0331% 48.8725%);
    --palBone-108: rgb(36.7157% 38.5049% 49.2157%);
    --palBone-109: rgb(37.0588% 38.9767% 49.5588%);
    --palBone-110: rgb(37.402% 39.4485% 49.9019%);
    --palBone-111: rgb(37.7451% 39.9203% 50.2451%);
    --palBone-112: rgb(38.0882% 40.3922% 50.5882%);
    --palBone-113: rgb(38.4314% 40.864% 50.9314%);
    --palBone-114: rgb(38.7745% 41.3358% 51.2745%);
    --palBone-115: rgb(39.1176% 41.8076% 51.6176%);
    --palBone-116: rgb(39.4608% 42.2794% 51.9608%);
    --palBone-117: rgb(39.8039% 42.7512% 52.3039%);
    --palBone-118: rgb(40.1471% 43.223% 52.647%);
    --palBone-119: rgb(40.4902% 43.6949% 52.9902%);
    --palBone-120: rgb(40.8333% 44.1667% 53.3333%);
    --palBone-121: rgb(41.1765% 44.6385% 53.6765%);
    --palBone-122: rgb(41.5196% 45.1103% 54.0196%);
    --palBone-123: rgb(41.8627% 45.5821% 54.3627%);
    --palBone-124: rgb(42.2059% 46.0539% 54.7059%);
    --palBone-125: rgb(42.549% 46.5257% 55.049%);
    --palBone-126: rgb(42.8922% 46.9975% 55.3921%);
    --palBone-127: rgb(43.2353% 47.4694% 55.7353%);
    --palBone-128: rgb(43.5784% 47.9412% 56.0784%);
    --palBone-129: rgb(43.9216% 48.413% 56.4216%);
    --palBone-130: rgb(44.2647% 48.8848% 56.7647%);
    --palBone-131: rgb(44.6078% 49.3566% 57.1078%);
    --palBone-132: rgb(44.951% 49.8284% 57.451%);
    --palBone-133: rgb(45.2941% 50.3002% 57.7941%);
    --palBone-134: rgb(45.6373% 50.7721% 58.1372%);
    --palBone-135: rgb(45.9804% 51.2439% 58.4804%);
    --palBone-136: rgb(46.3235% 51.7157% 58.8235%);
    --palBone-137: rgb(46.6667% 52.1875% 59.1667%);
    --palBone-138: rgb(47.0098% 52.6593% 59.5098%);
    --palBone-139: rgb(47.3529% 53.1311% 59.8529%);
    --palBone-140: rgb(47.6961% 53.6029% 60.1961%);
    --palBone-141: rgb(48.0392% 54.0748% 60.5392%);
    --palBone-142: rgb(48.3824% 54.5466% 60.8823%);
    --palBone-143: rgb(48.7255% 55.0184% 61.2255%);
    --palBone-144: rgb(49.0686% 55.4902% 61.5686%);
    --palBone-145: rgb(49.4118% 55.962% 61.9118%);
    --palBone-146: rgb(49.7549% 56.4338% 62.2549%);
    --palBone-147: rgb(50.098% 56.9056% 62.598%);
    --palBone-148: rgb(50.4412% 57.3774% 62.9412%);
    --palBone-149: rgb(50.7843% 57.8493% 63.2843%);
    --palBone-150: rgb(51.1275% 58.3211% 63.6274%);
    --palBone-151: rgb(51.4706% 58.7929% 63.9706%);
    --palBone-152: rgb(51.8137% 59.2647% 64.3137%);
    --palBone-153: rgb(52.1569% 59.7365% 64.6569%);
    --palBone-154: rgb(52.5% 60.2083% 65%);
    --palBone-155: rgb(52.8431% 60.6801% 65.3431%);
    --palBone-156: rgb(53.1863% 61.152% 65.6863%);
    --palBone-157: rgb(53.5294% 61.6238% 66.0294%);
    --palBone-158: rgb(53.8725% 62.0956% 66.3725%);
    --palBone-159: rgb(54.2157% 62.5674% 66.7157%);
    --palBone-160: rgb(54.5588% 63.0392% 67.0588%);
    --palBone-161: rgb(54.902% 63.511% 67.402%);
    --palBone-162: rgb(55.2451% 63.9828% 67.7451%);
    --palBone-163: rgb(55.5882% 64.4547% 68.0882%);
    --palBone-164: rgb(55.9314% 64.9265% 68.4314%);
    --palBone-165: rgb(56.2745% 65.3983% 68.7745%);
    --palBone-166: rgb(56.6176% 65.8701% 69.1176%);
    --palBone-167: rgb(56.9608% 66.3419% 69.4608%);
    --palBone-168: rgb(57.3039% 66.8137% 69.8039%);
    --palBone-169: rgb(57.6471% 67.2855% 70.1471%);
    --palBone-170: rgb(57.9902% 67.7573% 70.4902%);
    --palBone-171: rgb(58.3333% 68.2292% 70.8333%);
    --palBone-172: rgb(58.6765% 68.701% 71.1765%);
    --palBone-173: rgb(59.0196% 69.1728% 71.5196%);
    --palBone-174: rgb(59.3627% 69.6446% 71.8627%);
    --palBone-175: rgb(59.7059% 70.1164% 72.2059%);
    --palBone-176: rgb(60.049% 70.5882% 72.549%);
    --palBone-177: rgb(60.3922% 71.06% 72.8922%);
    --palBone-178: rgb(60.7353% 71.5319% 73.2353%);
    --palBone-179: rgb(61.0784% 72.0037% 73.5784%);
    --palBone-180: rgb(61.4216% 72.4755% 73.9216%);
    --palBone-181: rgb(61.7647% 72.9473% 74.2647%);
    --palBone-182: rgb(62.1078% 73.4191% 74.6078%);
    --palBone-183: rgb(62.451% 73.8909% 74.951%);
    --palBone-184: rgb(62.7941% 74.3627% 75.2941%);
    --palBone-185: rgb(63.1373% 74.8346% 75.6372%);
    --palBone-186: rgb(63.4804% 75.3064% 75.9804%);
    --palBone-187: rgb(63.8235% 75.7782% 76.3235%);
    --palBone-188: rgb(64.1667% 76.25% 76.6667%);
    --palBone-189: rgb(64.5098% 76.7218% 77.0098%);
    --palBone-190: rgb(64.8529% 77.1936% 77.3529%);
    --palBone-191: rgb(65.1961% 77.6654% 77.6961%);
    --palBone-192: rgb(65.6863% 78.0392% 78.0392%);
    --palBone-193: rgb(66.2224% 78.3824% 78.3823%);
    --palBone-194: rgb(66.7586% 78.7255% 78.7255%);
    --palBone-195: rgb(67.2947% 79.0686% 79.0686%);
    --palBone-196: rgb(67.8309% 79.4118% 79.4118%);
    --palBone-197: rgb(68.367% 79.7549% 79.7549%);
    --palBone-198: rgb(68.9032% 80.098% 80.098%);
    --palBone-199: rgb(69.4393% 80.4412% 80.4412%);
    --palBone-200: rgb(69.9755% 80.7843% 80.7843%);
    --palBone-201: rgb(70.5116% 81.1275% 81.1274%);
    --palBone-202: rgb(71.0478% 81.4706% 81.4706%);
    --palBone-203: rgb(71.5839% 81.8137% 81.8137%);
    --palBone-204: rgb(72.1201% 82.1569% 82.1569%);
    --palBone-205: rgb(72.6562% 82.5% 82.5%);
    --palBone-206: rgb(73.1924% 82.8431% 82.8431%);
    --palBone-207: rgb(73.7285% 83.1863% 83.1863%);
    --palBone-208: rgb(74.2647% 83.5294% 83.5294%);
    --palBone-209: rgb(74.8008% 83.8725% 83.8725%);
    --palBone-210: rgb(75.337% 84.2157% 84.2157%);
    --palBone-211: rgb(75.8732% 84.5588% 84.5588%);
    --palBone-212: rgb(76.4093% 84.902% 84.902%);
    --palBone-213: rgb(76.9455% 85.2451% 85.2451%);
    --palBone-214: rgb(77.4816% 85.5882% 85.5882%);
    --palBone-215: rgb(78.0178% 85.9314% 85.9314%);
    --palBone-216: rgb(78.5539% 86.2745% 86.2745%);
    --palBone-217: rgb(79.0901% 86.6176% 86.6176%);
    --palBone-218: rgb(79.6262% 86.9608% 86.9608%);
    --palBone-219: rgb(80.1624% 87.3039% 87.3039%);
    --palBone-220: rgb(80.6985% 87.6471% 87.6471%);
    --palBone-221: rgb(81.2347% 87.9902% 87.9902%);
    --palBone-222: rgb(81.7708% 88.3333% 88.3333%);
    --palBone-223: rgb(82.307% 88.6765% 88.6765%);
    --palBone-224: rgb(82.8431% 89.0196% 89.0196%);
    --palBone-225: rgb(83.3793% 89.3627% 89.3627%);
    --palBone-226: rgb(83.9154% 89.7059% 89.7059%);
    --palBone-227: rgb(84.4516% 90.049% 90.049%);
    --palBone-228: rgb(84.9877% 90.3922% 90.3922%);
    --palBone-229: rgb(85.5239% 90.7353% 90.7353%);
    --palBone-230: rgb(86.06% 91.0784% 91.0784%);
    --palBone-231: rgb(86.5962% 91.4216% 91.4216%);
    --palBone-232: rgb(87.1323% 91.7647% 91.7647%);
    --palBone-233: rgb(87.6685% 92.1078% 92.1078%);
    --palBone-234: rgb(88.2047% 92.451% 92.451%);
    --palBone-235: rgb(88.7408% 92.7941% 92.7941%);
    --palBone-236: rgb(89.277% 93.1373% 93.1373%);
    --palBone-237: rgb(89.8131% 93.4804% 93.4804%);
    --palBone-238: rgb(90.3493% 93.8235% 93.8235%);
    --palBone-239: rgb(90.8854% 94.1667% 94.1667%);
    --palBone-240: rgb(91.4216% 94.5098% 94.5098%);
    --palBone-241: rgb(91.9577% 94.8529% 94.8529%);
    --palBone-242: rgb(92.4939% 95.1961% 95.1961%);
    --palBone-243: rgb(93.03% 95.5392% 95.5392%);
    --palBone-244: rgb(93.5662% 95.8824% 95.8824%);
    --palBone-245: rgb(94.1023% 96.2255% 96.2255%);
    --palBone-246: rgb(94.6385% 96.5686% 96.5686%);
    --palBone-247: rgb(95.1746% 96.9118% 96.9118%);
    --palBone-248: rgb(95.7108% 97.2549% 97.2549%);
    --palBone-249: rgb(96.2469% 97.598% 97.598%);
    --palBone-250: rgb(96.7831% 97.9412% 97.9412%);
    --palBone-251: rgb(97.3192% 98.2843% 98.2843%);
    --palBone-252: rgb(97.8554% 98.6275% 98.6275%);
    --palBone-253: rgb(98.3915% 98.9706% 98.9706%);
    --palBone-254: rgb(98.9277% 99.3137% 99.3137%);
    --palBone-255: rgb(99.4638% 99.6569% 99.6569%);
    --palBone-256: rgb(100% 100% 100%);
}
