/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBrocO-1: rgb(21.429% 18.467% 21.821%);
    --palBrocO-2: rgb(21.369% 18.469% 22.245%);
    --palBrocO-3: rgb(21.315% 18.487% 22.685%);
    --palBrocO-4: rgb(21.268% 18.522% 23.141%);
    --palBrocO-5: rgb(21.227% 18.574% 23.612%);
    --palBrocO-6: rgb(21.191% 18.64% 24.097%);
    --palBrocO-7: rgb(21.159% 18.728% 24.599%);
    --palBrocO-8: rgb(21.131% 18.833% 25.12%);
    --palBrocO-9: rgb(21.109% 18.953% 25.653%);
    --palBrocO-10: rgb(21.092% 19.094% 26.205%);
    --palBrocO-11: rgb(21.081% 19.255% 26.77%);
    --palBrocO-12: rgb(21.075% 19.438% 27.356%);
    --palBrocO-13: rgb(21.074% 19.638% 27.955%);
    --palBrocO-14: rgb(21.078% 19.855% 28.568%);
    --palBrocO-15: rgb(21.088% 20.094% 29.2%);
    --palBrocO-16: rgb(21.104% 20.358% 29.845%);
    --palBrocO-17: rgb(21.126% 20.641% 30.507%);
    --palBrocO-18: rgb(21.155% 20.94% 31.181%);
    --palBrocO-19: rgb(21.19% 21.264% 31.871%);
    --palBrocO-20: rgb(21.232% 21.61% 32.573%);
    --palBrocO-21: rgb(21.279% 21.973% 33.291%);
    --palBrocO-22: rgb(21.336% 22.357% 34.018%);
    --palBrocO-23: rgb(21.404% 22.763% 34.757%);
    --palBrocO-24: rgb(21.477% 23.189% 35.506%);
    --palBrocO-25: rgb(21.563% 23.634% 36.263%);
    --palBrocO-26: rgb(21.66% 24.096% 37.03%);
    --palBrocO-27: rgb(21.764% 24.579% 37.804%);
    --palBrocO-28: rgb(21.882% 25.081% 38.584%);
    --palBrocO-29: rgb(22.014% 25.598% 39.37%);
    --palBrocO-30: rgb(22.156% 26.135% 40.16%);
    --palBrocO-31: rgb(22.314% 26.685% 40.953%);
    --palBrocO-32: rgb(22.483% 27.251% 41.748%);
    --palBrocO-33: rgb(22.674% 27.834% 42.543%);
    --palBrocO-34: rgb(22.878% 28.428% 43.337%);
    --palBrocO-35: rgb(23.097% 29.035% 44.131%);
    --palBrocO-36: rgb(23.333% 29.656% 44.923%);
    --palBrocO-37: rgb(23.591% 30.285% 45.709%);
    --palBrocO-38: rgb(23.863% 30.929% 46.493%);
    --palBrocO-39: rgb(24.157% 31.579% 47.27%);
    --palBrocO-40: rgb(24.466% 32.237% 48.043%);
    --palBrocO-41: rgb(24.8% 32.904% 48.809%);
    --palBrocO-42: rgb(25.15% 33.577% 49.566%);
    --palBrocO-43: rgb(25.52% 34.257% 50.316%);
    --palBrocO-44: rgb(25.909% 34.941% 51.059%);
    --palBrocO-45: rgb(26.316% 35.631% 51.793%);
    --palBrocO-46: rgb(26.741% 36.324% 52.517%);
    --palBrocO-47: rgb(27.187% 37.021% 53.232%);
    --palBrocO-48: rgb(27.655% 37.723% 53.937%);
    --palBrocO-49: rgb(28.136% 38.425% 54.634%);
    --palBrocO-50: rgb(28.636% 39.13% 55.32%);
    --palBrocO-51: rgb(29.157% 39.836% 55.997%);
    --palBrocO-52: rgb(29.692% 40.544% 56.664%);
    --palBrocO-53: rgb(30.241% 41.252% 57.321%);
    --palBrocO-54: rgb(30.809% 41.961% 57.97%);
    --palBrocO-55: rgb(31.393% 42.669% 58.608%);
    --palBrocO-56: rgb(31.99% 43.377% 59.238%);
    --palBrocO-57: rgb(32.6% 44.085% 59.857%);
    --palBrocO-58: rgb(33.227% 44.793% 60.469%);
    --palBrocO-59: rgb(33.864% 45.502% 61.072%);
    --palBrocO-60: rgb(34.514% 46.207% 61.667%);
    --palBrocO-61: rgb(35.176% 46.913% 62.253%);
    --palBrocO-62: rgb(35.849% 47.617% 62.832%);
    --palBrocO-63: rgb(36.534% 48.32% 63.403%);
    --palBrocO-64: rgb(37.228% 49.022% 63.967%);
    --palBrocO-65: rgb(37.933% 49.723% 64.523%);
    --palBrocO-66: rgb(38.646% 50.423% 65.073%);
    --palBrocO-67: rgb(39.37% 51.12% 65.616%);
    --palBrocO-68: rgb(40.102% 51.817% 66.152%);
    --palBrocO-69: rgb(40.84% 52.512% 66.681%);
    --palBrocO-70: rgb(41.586% 53.206% 67.206%);
    --palBrocO-71: rgb(42.339% 53.898% 67.724%);
    --palBrocO-72: rgb(43.101% 54.589% 68.235%);
    --palBrocO-73: rgb(43.866% 55.277% 68.742%);
    --palBrocO-74: rgb(44.639% 55.965% 69.243%);
    --palBrocO-75: rgb(45.418% 56.651% 69.737%);
    --palBrocO-76: rgb(46.2% 57.335% 70.227%);
    --palBrocO-77: rgb(46.989% 58.017% 70.711%);
    --palBrocO-78: rgb(47.781% 58.697% 71.189%);
    --palBrocO-79: rgb(48.577% 59.376% 71.662%);
    --palBrocO-80: rgb(49.378% 60.052% 72.128%);
    --palBrocO-81: rgb(50.183% 60.728% 72.589%);
    --palBrocO-82: rgb(50.989% 61.399% 73.044%);
    --palBrocO-83: rgb(51.8% 62.07% 73.493%);
    --palBrocO-84: rgb(52.612% 62.737% 73.936%);
    --palBrocO-85: rgb(53.426% 63.403% 74.372%);
    --palBrocO-86: rgb(54.243% 64.065% 74.801%);
    --palBrocO-87: rgb(55.06% 64.725% 75.222%);
    --palBrocO-88: rgb(55.878% 65.382% 75.637%);
    --palBrocO-89: rgb(56.698% 66.035% 76.043%);
    --palBrocO-90: rgb(57.517% 66.685% 76.441%);
    --palBrocO-91: rgb(58.335% 67.331% 76.829%);
    --palBrocO-92: rgb(59.154% 67.972% 77.209%);
    --palBrocO-93: rgb(59.971% 68.61% 77.579%);
    --palBrocO-94: rgb(60.786% 69.243% 77.938%);
    --palBrocO-95: rgb(61.598% 69.87% 78.285%);
    --palBrocO-96: rgb(62.408% 70.491% 78.621%);
    --palBrocO-97: rgb(63.214% 71.107% 78.944%);
    --palBrocO-98: rgb(64.016% 71.716% 79.253%);
    --palBrocO-99: rgb(64.812% 72.317% 79.548%);
    --palBrocO-100: rgb(65.605% 72.911% 79.828%);
    --palBrocO-101: rgb(66.389% 73.497% 80.092%);
    --palBrocO-102: rgb(67.166% 74.072% 80.338%);
    --palBrocO-103: rgb(67.935% 74.639% 80.566%);
    --palBrocO-104: rgb(68.695% 75.195% 80.776%);
    --palBrocO-105: rgb(69.444% 75.739% 80.965%);
    --palBrocO-106: rgb(70.182% 76.271% 81.133%);
    --palBrocO-107: rgb(70.908% 76.79% 81.279%);
    --palBrocO-108: rgb(71.62% 77.295% 81.401%);
    --palBrocO-109: rgb(72.317% 77.786% 81.499%);
    --palBrocO-110: rgb(72.999% 78.26% 81.572%);
    --palBrocO-111: rgb(73.662% 78.717% 81.619%);
    --palBrocO-112: rgb(74.307% 79.156% 81.637%);
    --palBrocO-113: rgb(74.931% 79.576% 81.627%);
    --palBrocO-114: rgb(75.536% 79.977% 81.588%);
    --palBrocO-115: rgb(76.116% 80.355% 81.518%);
    --palBrocO-116: rgb(76.672% 80.712% 81.417%);
    --palBrocO-117: rgb(77.203% 81.045% 81.284%);
    --palBrocO-118: rgb(77.708% 81.354% 81.12%);
    --palBrocO-119: rgb(78.184% 81.639% 80.922%);
    --palBrocO-120: rgb(78.63% 81.896% 80.691%);
    --palBrocO-121: rgb(79.045% 82.127% 80.426%);
    --palBrocO-122: rgb(79.429% 82.33% 80.127%);
    --palBrocO-123: rgb(79.78% 82.504% 79.794%);
    --palBrocO-124: rgb(80.098% 82.65% 79.428%);
    --palBrocO-125: rgb(80.38% 82.765% 79.028%);
    --palBrocO-126: rgb(80.628% 82.851% 78.595%);
    --palBrocO-127: rgb(80.839% 82.906% 78.129%);
    --palBrocO-128: rgb(81.014% 82.929% 77.631%);
    --palBrocO-129: rgb(81.153% 82.922% 77.101%);
    --palBrocO-130: rgb(81.253% 82.883% 76.541%);
    --palBrocO-131: rgb(81.317% 82.813% 75.95%);
    --palBrocO-132: rgb(81.344% 82.712% 75.332%);
    --palBrocO-133: rgb(81.334% 82.58% 74.687%);
    --palBrocO-134: rgb(81.288% 82.418% 74.015%);
    --palBrocO-135: rgb(81.205% 82.226% 73.317%);
    --palBrocO-136: rgb(81.087% 82.004% 72.597%);
    --palBrocO-137: rgb(80.934% 81.753% 71.853%);
    --palBrocO-138: rgb(80.746% 81.474% 71.09%);
    --palBrocO-139: rgb(80.524% 81.167% 70.307%);
    --palBrocO-140: rgb(80.271% 80.833% 69.506%);
    --palBrocO-141: rgb(79.986% 80.473% 68.688%);
    --palBrocO-142: rgb(79.669% 80.088% 67.856%);
    --palBrocO-143: rgb(79.324% 79.678% 67.01%);
    --palBrocO-144: rgb(78.95% 79.245% 66.152%);
    --palBrocO-145: rgb(78.548% 78.79% 65.283%);
    --palBrocO-146: rgb(78.121% 78.312% 64.404%);
    --palBrocO-147: rgb(77.669% 77.815% 63.518%);
    --palBrocO-148: rgb(77.192% 77.297% 62.625%);
    --palBrocO-149: rgb(76.693% 76.761% 61.726%);
    --palBrocO-150: rgb(76.173% 76.207% 60.824%);
    --palBrocO-151: rgb(75.633% 75.636% 59.917%);
    --palBrocO-152: rgb(75.074% 75.05% 59.007%);
    --palBrocO-153: rgb(74.495% 74.448% 58.097%);
    --palBrocO-154: rgb(73.902% 73.832% 57.187%);
    --palBrocO-155: rgb(73.291% 73.203% 56.278%);
    --palBrocO-156: rgb(72.666% 72.562% 55.368%);
    --palBrocO-157: rgb(72.027% 71.908% 54.462%);
    --palBrocO-158: rgb(71.376% 71.244% 53.558%);
    --palBrocO-159: rgb(70.713% 70.57% 52.66%);
    --palBrocO-160: rgb(70.038% 69.887% 51.764%);
    --palBrocO-161: rgb(69.354% 69.195% 50.874%);
    --palBrocO-162: rgb(68.661% 68.495% 49.988%);
    --palBrocO-163: rgb(67.959% 67.789% 49.111%);
    --palBrocO-164: rgb(67.251% 67.075% 48.238%);
    --palBrocO-165: rgb(66.534% 66.356% 47.371%);
    --palBrocO-166: rgb(65.813% 65.631% 46.513%);
    --palBrocO-167: rgb(65.085% 64.901% 45.663%);
    --palBrocO-168: rgb(64.352% 64.166% 44.821%);
    --palBrocO-169: rgb(63.617% 63.429% 43.988%);
    --palBrocO-170: rgb(62.877% 62.688% 43.163%);
    --palBrocO-171: rgb(62.134% 61.944% 42.345%);
    --palBrocO-172: rgb(61.388% 61.197% 41.538%);
    --palBrocO-173: rgb(60.642% 60.45% 40.741%);
    --palBrocO-174: rgb(59.893% 59.7% 39.952%);
    --palBrocO-175: rgb(59.144% 58.948% 39.174%);
    --palBrocO-176: rgb(58.394% 58.196% 38.405%);
    --palBrocO-177: rgb(57.645% 57.444% 37.648%);
    --palBrocO-178: rgb(56.894% 56.693% 36.899%);
    --palBrocO-179: rgb(56.146% 55.94% 36.161%);
    --palBrocO-180: rgb(55.398% 55.189% 35.433%);
    --palBrocO-181: rgb(54.652% 54.437% 34.717%);
    --palBrocO-182: rgb(53.906% 53.688% 34.01%);
    --palBrocO-183: rgb(53.164% 52.939% 33.314%);
    --palBrocO-184: rgb(52.423% 52.191% 32.627%);
    --palBrocO-185: rgb(51.686% 51.447% 31.955%);
    --palBrocO-186: rgb(50.951% 50.703% 31.291%);
    --palBrocO-187: rgb(50.22% 49.962% 30.641%);
    --palBrocO-188: rgb(49.493% 49.224% 29.999%);
    --palBrocO-189: rgb(48.769% 48.488% 29.369%);
    --palBrocO-190: rgb(48.049% 47.755% 28.752%);
    --palBrocO-191: rgb(47.333% 47.026% 28.147%);
    --palBrocO-192: rgb(46.623% 46.299% 27.555%);
    --palBrocO-193: rgb(45.918% 45.577% 26.973%);
    --palBrocO-194: rgb(45.218% 44.859% 26.404%);
    --palBrocO-195: rgb(44.523% 44.144% 25.845%);
    --palBrocO-196: rgb(43.834% 43.433% 25.302%);
    --palBrocO-197: rgb(43.152% 42.729% 24.771%);
    --palBrocO-198: rgb(42.476% 42.027% 24.251%);
    --palBrocO-199: rgb(41.806% 41.332% 23.75%);
    --palBrocO-200: rgb(41.144% 40.641% 23.256%);
    --palBrocO-201: rgb(40.488% 39.955% 22.78%);
    --palBrocO-202: rgb(39.842% 39.277% 22.317%);
    --palBrocO-203: rgb(39.203% 38.603% 21.868%);
    --palBrocO-204: rgb(38.571% 37.938% 21.434%);
    --palBrocO-205: rgb(37.95% 37.278% 21.015%);
    --palBrocO-206: rgb(37.337% 36.627% 20.613%);
    --palBrocO-207: rgb(36.733% 35.981% 20.222%);
    --palBrocO-208: rgb(36.14% 35.344% 19.849%);
    --palBrocO-209: rgb(35.557% 34.715% 19.495%);
    --palBrocO-210: rgb(34.983% 34.094% 19.153%);
    --palBrocO-211: rgb(34.418% 33.483% 18.832%);
    --palBrocO-212: rgb(33.867% 32.879% 18.525%);
    --palBrocO-213: rgb(33.328% 32.285% 18.231%);
    --palBrocO-214: rgb(32.797% 31.7% 17.959%);
    --palBrocO-215: rgb(32.281% 31.126% 17.704%);
    --palBrocO-216: rgb(31.775% 30.563% 17.466%);
    --palBrocO-217: rgb(31.281% 30.008% 17.243%);
    --palBrocO-218: rgb(30.8% 29.465% 17.04%);
    --palBrocO-219: rgb(30.332% 28.935% 16.854%);
    --palBrocO-220: rgb(29.879% 28.414% 16.687%);
    --palBrocO-221: rgb(29.436% 27.908% 16.532%);
    --palBrocO-222: rgb(29.007% 27.411% 16.403%);
    --palBrocO-223: rgb(28.591% 26.928% 16.286%);
    --palBrocO-224: rgb(28.191% 26.455% 16.189%);
    --palBrocO-225: rgb(27.802% 25.997% 16.107%);
    --palBrocO-226: rgb(27.426% 25.551% 16.039%);
    --palBrocO-227: rgb(27.065% 25.118% 15.992%);
    --palBrocO-228: rgb(26.713% 24.697% 15.963%);
    --palBrocO-229: rgb(26.38% 24.289% 15.95%);
    --palBrocO-230: rgb(26.056% 23.896% 15.954%);
    --palBrocO-231: rgb(25.747% 23.519% 15.973%);
    --palBrocO-232: rgb(25.451% 23.152% 16.009%);
    --palBrocO-233: rgb(25.167% 22.798% 16.064%);
    --palBrocO-234: rgb(24.895% 22.455% 16.136%);
    --palBrocO-235: rgb(24.634% 22.132% 16.219%);
    --palBrocO-236: rgb(24.386% 21.82% 16.319%);
    --palBrocO-237: rgb(24.152% 21.52% 16.434%);
    --palBrocO-238: rgb(23.927% 21.237% 16.56%);
    --palBrocO-239: rgb(23.716% 20.964% 16.71%);
    --palBrocO-240: rgb(23.513% 20.708% 16.869%);
    --palBrocO-241: rgb(23.318% 20.464% 17.044%);
    --palBrocO-242: rgb(23.139% 20.231% 17.233%);
    --palBrocO-243: rgb(22.964% 20.014% 17.439%);
    --palBrocO-244: rgb(22.805% 19.812% 17.655%);
    --palBrocO-245: rgb(22.652% 19.626% 17.891%);
    --palBrocO-246: rgb(22.505% 19.452% 18.136%);
    --palBrocO-247: rgb(22.371% 19.288% 18.399%);
    --palBrocO-248: rgb(22.244% 19.14% 18.676%);
    --palBrocO-249: rgb(22.126% 19.007% 18.967%);
    --palBrocO-250: rgb(22.015% 18.889% 19.273%);
    --palBrocO-251: rgb(21.911% 18.786% 19.593%);
    --palBrocO-252: rgb(21.814% 18.693% 19.925%);
    --palBrocO-253: rgb(21.724% 18.619% 20.275%);
    --palBrocO-254: rgb(21.642% 18.56% 20.642%);
    --palBrocO-255: rgb(21.564% 18.513% 21.018%);
    --palBrocO-256: rgb(21.492% 18.482% 21.413%);
}
