/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBrownVbrown1-1: rgb(69.921875% 68.359375% 60.9375%);
    --palBrownVbrown1-2: rgb(69.53125% 67.578125% 60.546875%);
    --palBrownVbrown1-3: rgb(69.140625% 67.1875% 60.15625%);
    --palBrownVbrown1-4: rgb(68.75% 66.796875% 59.765625%);
    --palBrownVbrown1-5: rgb(68.359375% 66.40625% 58.984375%);
    --palBrownVbrown1-6: rgb(67.96875% 66.015625% 58.59375%);
    --palBrownVbrown1-7: rgb(67.578125% 65.625% 58.203125%);
    --palBrownVbrown1-8: rgb(67.1875% 65.234375% 57.421875%);
    --palBrownVbrown1-9: rgb(67.1875% 64.84375% 57.03125%);
    --palBrownVbrown1-10: rgb(66.796875% 64.453125% 56.640625%);
    --palBrownVbrown1-11: rgb(66.40625% 64.0625% 55.859375%);
    --palBrownVbrown1-12: rgb(66.015625% 63.28125% 55.46875%);
    --palBrownVbrown1-13: rgb(65.625% 62.890625% 55.078125%);
    --palBrownVbrown1-14: rgb(65.234375% 62.5% 54.296875%);
    --palBrownVbrown1-15: rgb(64.84375% 62.109375% 53.90625%);
    --palBrownVbrown1-16: rgb(64.453125% 61.328125% 53.125%);
    --palBrownVbrown1-17: rgb(64.0625% 60.9375% 52.734375%);
    --palBrownVbrown1-18: rgb(63.671875% 60.15625% 51.953125%);
    --palBrownVbrown1-19: rgb(62.890625% 59.765625% 51.5625%);
    --palBrownVbrown1-20: rgb(62.5% 58.984375% 50.78125%);
    --palBrownVbrown1-21: rgb(62.109375% 58.59375% 50.390625%);
    --palBrownVbrown1-22: rgb(61.71875% 57.8125% 49.609375%);
    --palBrownVbrown1-23: rgb(61.328125% 57.421875% 49.21875%);
    --palBrownVbrown1-24: rgb(60.546875% 56.640625% 48.4375%);
    --palBrownVbrown1-25: rgb(60.15625% 56.25% 48.046875%);
    --palBrownVbrown1-26: rgb(59.765625% 55.46875% 47.265625%);
    --palBrownVbrown1-27: rgb(59.375% 55.078125% 46.875%);
    --palBrownVbrown1-28: rgb(59.375% 54.6875% 46.484375%);
    --palBrownVbrown1-29: rgb(58.984375% 54.296875% 46.09375%);
    --palBrownVbrown1-30: rgb(58.59375% 53.90625% 45.703125%);
    --palBrownVbrown1-31: rgb(58.59375% 53.515625% 44.921875%);
    --palBrownVbrown1-32: rgb(58.203125% 53.515625% 44.53125%);
    --palBrownVbrown1-33: rgb(58.203125% 53.125% 44.140625%);
    --palBrownVbrown1-34: rgb(57.8125% 52.734375% 43.75%);
    --palBrownVbrown1-35: rgb(57.421875% 52.34375% 43.359375%);
    --palBrownVbrown1-36: rgb(57.421875% 51.953125% 42.96875%);
    --palBrownVbrown1-37: rgb(57.03125% 51.5625% 42.578125%);
    --palBrownVbrown1-38: rgb(57.03125% 51.171875% 41.796875%);
    --palBrownVbrown1-39: rgb(56.640625% 50.78125% 41.40625%);
    --palBrownVbrown1-40: rgb(56.640625% 50.390625% 41.015625%);
    --palBrownVbrown1-41: rgb(56.25% 50% 40.625%);
    --palBrownVbrown1-42: rgb(55.859375% 50% 40.234375%);
    --palBrownVbrown1-43: rgb(55.859375% 49.609375% 39.84375%);
    --palBrownVbrown1-44: rgb(55.46875% 49.21875% 39.453125%);
    --palBrownVbrown1-45: rgb(55.46875% 48.828125% 38.671875%);
    --palBrownVbrown1-46: rgb(55.078125% 48.4375% 38.28125%);
    --palBrownVbrown1-47: rgb(54.6875% 48.046875% 37.890625%);
    --palBrownVbrown1-48: rgb(54.6875% 47.65625% 37.5%);
    --palBrownVbrown1-49: rgb(54.296875% 47.265625% 37.109375%);
    --palBrownVbrown1-50: rgb(54.296875% 46.875% 36.71875%);
    --palBrownVbrown1-51: rgb(53.90625% 46.484375% 36.328125%);
    --palBrownVbrown1-52: rgb(53.515625% 46.484375% 35.546875%);
    --palBrownVbrown1-53: rgb(53.515625% 46.09375% 35.546875%);
    --palBrownVbrown1-54: rgb(53.125% 45.703125% 35.546875%);
    --palBrownVbrown1-55: rgb(53.125% 45.703125% 35.15625%);
    --palBrownVbrown1-56: rgb(52.734375% 45.3125% 35.15625%);
    --palBrownVbrown1-57: rgb(52.734375% 44.921875% 34.765625%);
    --palBrownVbrown1-58: rgb(52.34375% 44.921875% 34.765625%);
    --palBrownVbrown1-59: rgb(52.34375% 44.53125% 34.375%);
    --palBrownVbrown1-60: rgb(51.953125% 44.140625% 34.375%);
    --palBrownVbrown1-61: rgb(51.953125% 43.75% 33.984375%);
    --palBrownVbrown1-62: rgb(51.5625% 43.75% 33.984375%);
    --palBrownVbrown1-63: rgb(51.5625% 43.359375% 33.59375%);
    --palBrownVbrown1-64: rgb(51.171875% 42.96875% 33.59375%);
    --palBrownVbrown1-65: rgb(51.171875% 42.96875% 33.203125%);
    --palBrownVbrown1-66: rgb(50.78125% 42.578125% 33.203125%);
    --palBrownVbrown1-67: rgb(50.78125% 42.578125% 32.8125%);
    --palBrownVbrown1-68: rgb(50.390625% 42.1875% 32.8125%);
    --palBrownVbrown1-69: rgb(50.390625% 41.796875% 32.421875%);
    --palBrownVbrown1-70: rgb(50% 41.796875% 32.421875%);
    --palBrownVbrown1-71: rgb(50% 41.40625% 32.421875%);
    --palBrownVbrown1-72: rgb(49.609375% 41.015625% 32.03125%);
    --palBrownVbrown1-73: rgb(49.609375% 41.015625% 32.03125%);
    --palBrownVbrown1-74: rgb(49.21875% 40.625% 31.640625%);
    --palBrownVbrown1-75: rgb(49.21875% 40.234375% 31.640625%);
    --palBrownVbrown1-76: rgb(48.828125% 40.234375% 31.25%);
    --palBrownVbrown1-77: rgb(48.828125% 39.84375% 31.25%);
    --palBrownVbrown1-78: rgb(48.4375% 39.453125% 30.859375%);
    --palBrownVbrown1-79: rgb(48.4375% 39.453125% 30.859375%);
    --palBrownVbrown1-80: rgb(48.046875% 39.0625% 30.46875%);
    --palBrownVbrown1-81: rgb(47.65625% 38.671875% 30.46875%);
    --palBrownVbrown1-82: rgb(47.65625% 38.671875% 30.078125%);
    --palBrownVbrown1-83: rgb(47.265625% 38.28125% 30.078125%);
    --palBrownVbrown1-84: rgb(47.265625% 37.890625% 29.6875%);
    --palBrownVbrown1-85: rgb(46.875% 37.890625% 29.6875%);
    --palBrownVbrown1-86: rgb(46.484375% 37.5% 29.296875%);
    --palBrownVbrown1-87: rgb(46.484375% 37.5% 29.296875%);
    --palBrownVbrown1-88: rgb(46.09375% 37.109375% 28.90625%);
    --palBrownVbrown1-89: rgb(46.09375% 36.71875% 28.90625%);
    --palBrownVbrown1-90: rgb(45.703125% 36.71875% 28.515625%);
    --palBrownVbrown1-91: rgb(45.703125% 36.328125% 28.515625%);
    --palBrownVbrown1-92: rgb(45.3125% 35.9375% 28.125%);
    --palBrownVbrown1-93: rgb(44.921875% 35.9375% 28.125%);
    --palBrownVbrown1-94: rgb(44.921875% 35.546875% 27.734375%);
    --palBrownVbrown1-95: rgb(44.53125% 35.546875% 27.734375%);
    --palBrownVbrown1-96: rgb(44.53125% 35.15625% 27.34375%);
    --palBrownVbrown1-97: rgb(44.140625% 34.765625% 27.34375%);
    --palBrownVbrown1-98: rgb(43.75% 34.765625% 26.953125%);
    --palBrownVbrown1-99: rgb(43.75% 34.375% 26.953125%);
    --palBrownVbrown1-100: rgb(43.359375% 33.984375% 26.5625%);
    --palBrownVbrown1-101: rgb(43.359375% 33.984375% 26.5625%);
    --palBrownVbrown1-102: rgb(42.96875% 33.59375% 26.171875%);
    --palBrownVbrown1-103: rgb(42.96875% 33.59375% 25.78125%);
    --palBrownVbrown1-104: rgb(42.578125% 33.203125% 25.78125%);
    --palBrownVbrown1-105: rgb(42.1875% 32.8125% 25.78125%);
    --palBrownVbrown1-106: rgb(42.1875% 32.8125% 25.390625%);
    --palBrownVbrown1-107: rgb(41.796875% 32.421875% 25.390625%);
    --palBrownVbrown1-108: rgb(41.40625% 32.03125% 25%);
    --palBrownVbrown1-109: rgb(41.40625% 32.03125% 25%);
    --palBrownVbrown1-110: rgb(41.015625% 31.640625% 24.609375%);
    --palBrownVbrown1-111: rgb(40.625% 31.25% 24.609375%);
    --palBrownVbrown1-112: rgb(40.625% 31.25% 24.609375%);
    --palBrownVbrown1-113: rgb(40.234375% 30.859375% 24.21875%);
    --palBrownVbrown1-114: rgb(40.234375% 30.859375% 24.21875%);
    --palBrownVbrown1-115: rgb(39.84375% 30.46875% 23.828125%);
    --palBrownVbrown1-116: rgb(39.453125% 30.078125% 23.828125%);
    --palBrownVbrown1-117: rgb(39.453125% 30.078125% 23.4375%);
    --palBrownVbrown1-118: rgb(39.0625% 29.6875% 23.4375%);
    --palBrownVbrown1-119: rgb(38.671875% 29.296875% 23.4375%);
    --palBrownVbrown1-120: rgb(38.671875% 29.296875% 23.046875%);
    --palBrownVbrown1-121: rgb(38.28125% 28.90625% 23.046875%);
    --palBrownVbrown1-122: rgb(38.28125% 28.90625% 22.65625%);
    --palBrownVbrown1-123: rgb(37.890625% 28.515625% 22.65625%);
    --palBrownVbrown1-124: rgb(37.5% 28.125% 22.265625%);
    --palBrownVbrown1-125: rgb(37.5% 28.125% 22.265625%);
    --palBrownVbrown1-126: rgb(37.109375% 27.734375% 22.265625%);
    --palBrownVbrown1-127: rgb(36.71875% 27.34375% 21.875%);
    --palBrownVbrown1-128: rgb(36.71875% 27.34375% 21.875%);
    --palBrownVbrown1-129: rgb(36.328125% 26.953125% 21.484375%);
    --palBrownVbrown1-130: rgb(35.9375% 26.953125% 21.484375%);
    --palBrownVbrown1-131: rgb(35.9375% 26.5625% 21.09375%);
    --palBrownVbrown1-132: rgb(35.546875% 26.5625% 21.09375%);
    --palBrownVbrown1-133: rgb(35.15625% 26.171875% 20.703125%);
    --palBrownVbrown1-134: rgb(35.15625% 25.78125% 20.703125%);
    --palBrownVbrown1-135: rgb(34.765625% 25.78125% 20.3125%);
    --palBrownVbrown1-136: rgb(34.375% 25.390625% 20.3125%);
    --palBrownVbrown1-137: rgb(34.375% 25.390625% 20.3125%);
    --palBrownVbrown1-138: rgb(33.984375% 25% 19.921875%);
    --palBrownVbrown1-139: rgb(33.59375% 25% 19.921875%);
    --palBrownVbrown1-140: rgb(33.59375% 24.609375% 19.53125%);
    --palBrownVbrown1-141: rgb(33.203125% 24.609375% 19.53125%);
    --palBrownVbrown1-142: rgb(32.8125% 24.21875% 19.140625%);
    --palBrownVbrown1-143: rgb(32.8125% 24.21875% 19.140625%);
    --palBrownVbrown1-144: rgb(32.421875% 23.828125% 18.75%);
    --palBrownVbrown1-145: rgb(32.03125% 23.4375% 18.75%);
    --palBrownVbrown1-146: rgb(32.03125% 23.4375% 18.359375%);
    --palBrownVbrown1-147: rgb(31.640625% 23.046875% 18.359375%);
    --palBrownVbrown1-148: rgb(31.25% 23.046875% 17.96875%);
    --palBrownVbrown1-149: rgb(31.25% 22.65625% 17.96875%);
    --palBrownVbrown1-150: rgb(30.859375% 22.65625% 17.578125%);
    --palBrownVbrown1-151: rgb(30.859375% 22.265625% 17.578125%);
    --palBrownVbrown1-152: rgb(30.46875% 22.265625% 17.1875%);
    --palBrownVbrown1-153: rgb(30.078125% 21.875% 17.1875%);
    --palBrownVbrown1-154: rgb(30.078125% 21.875% 16.796875%);
    --palBrownVbrown1-155: rgb(29.6875% 21.484375% 16.796875%);
    --palBrownVbrown1-156: rgb(29.296875% 21.484375% 16.796875%);
    --palBrownVbrown1-157: rgb(29.296875% 21.09375% 16.796875%);
    --palBrownVbrown1-158: rgb(28.90625% 21.09375% 16.40625%);
    --palBrownVbrown1-159: rgb(28.90625% 20.703125% 16.40625%);
    --palBrownVbrown1-160: rgb(28.515625% 20.703125% 16.40625%);
    --palBrownVbrown1-161: rgb(28.515625% 20.3125% 16.015625%);
    --palBrownVbrown1-162: rgb(28.125% 20.3125% 16.015625%);
    --palBrownVbrown1-163: rgb(28.125% 20.3125% 16.015625%);
    --palBrownVbrown1-164: rgb(27.734375% 19.921875% 15.625%);
    --palBrownVbrown1-165: rgb(27.734375% 19.921875% 15.625%);
    --palBrownVbrown1-166: rgb(27.34375% 19.53125% 15.625%);
    --palBrownVbrown1-167: rgb(27.34375% 19.53125% 15.234375%);
    --palBrownVbrown1-168: rgb(26.953125% 19.140625% 15.234375%);
    --palBrownVbrown1-169: rgb(26.953125% 19.140625% 15.234375%);
    --palBrownVbrown1-170: rgb(26.5625% 19.140625% 14.84375%);
    --palBrownVbrown1-171: rgb(26.5625% 18.75% 14.84375%);
    --palBrownVbrown1-172: rgb(26.171875% 18.75% 14.84375%);
    --palBrownVbrown1-173: rgb(26.171875% 18.359375% 14.84375%);
    --palBrownVbrown1-174: rgb(25.78125% 18.359375% 14.453125%);
    --palBrownVbrown1-175: rgb(25.78125% 17.96875% 14.453125%);
    --palBrownVbrown1-176: rgb(25.390625% 17.96875% 14.453125%);
    --palBrownVbrown1-177: rgb(25.390625% 17.96875% 14.0625%);
    --palBrownVbrown1-178: rgb(25% 17.578125% 14.0625%);
    --palBrownVbrown1-179: rgb(25% 17.578125% 14.0625%);
    --palBrownVbrown1-180: rgb(24.609375% 17.1875% 13.671875%);
    --palBrownVbrown1-181: rgb(24.609375% 17.1875% 13.671875%);
    --palBrownVbrown1-182: rgb(24.21875% 17.1875% 13.671875%);
    --palBrownVbrown1-183: rgb(24.21875% 16.796875% 13.671875%);
    --palBrownVbrown1-184: rgb(23.828125% 16.796875% 13.28125%);
    --palBrownVbrown1-185: rgb(23.828125% 16.40625% 13.28125%);
    --palBrownVbrown1-186: rgb(23.4375% 16.40625% 13.28125%);
    --palBrownVbrown1-187: rgb(23.4375% 16.40625% 12.890625%);
    --palBrownVbrown1-188: rgb(23.046875% 16.015625% 12.890625%);
    --palBrownVbrown1-189: rgb(23.046875% 16.015625% 12.890625%);
    --palBrownVbrown1-190: rgb(22.65625% 15.625% 12.890625%);
    --palBrownVbrown1-191: rgb(22.65625% 15.625% 12.5%);
    --palBrownVbrown1-192: rgb(22.265625% 15.625% 12.5%);
    --palBrownVbrown1-193: rgb(22.265625% 15.234375% 12.5%);
    --palBrownVbrown1-194: rgb(21.875% 15.234375% 12.5%);
    --palBrownVbrown1-195: rgb(21.875% 14.84375% 12.109375%);
    --palBrownVbrown1-196: rgb(21.484375% 14.84375% 12.109375%);
    --palBrownVbrown1-197: rgb(21.484375% 14.84375% 12.109375%);
    --palBrownVbrown1-198: rgb(21.09375% 14.453125% 11.71875%);
    --palBrownVbrown1-199: rgb(21.09375% 14.453125% 11.71875%);
    --palBrownVbrown1-200: rgb(20.703125% 14.0625% 11.71875%);
    --palBrownVbrown1-201: rgb(20.703125% 14.0625% 11.71875%);
    --palBrownVbrown1-202: rgb(20.3125% 14.0625% 11.328125%);
    --palBrownVbrown1-203: rgb(20.3125% 13.671875% 11.328125%);
    --palBrownVbrown1-204: rgb(19.921875% 13.671875% 11.328125%);
    --palBrownVbrown1-205: rgb(19.921875% 13.671875% 10.9375%);
    --palBrownVbrown1-206: rgb(19.53125% 13.28125% 10.9375%);
    --palBrownVbrown1-207: rgb(19.140625% 13.28125% 10.9375%);
    --palBrownVbrown1-208: rgb(19.140625% 12.890625% 10.546875%);
    --palBrownVbrown1-209: rgb(18.75% 12.890625% 10.546875%);
    --palBrownVbrown1-210: rgb(18.75% 12.5% 10.546875%);
    --palBrownVbrown1-211: rgb(18.359375% 12.5% 10.15625%);
    --palBrownVbrown1-212: rgb(18.359375% 12.109375% 10.15625%);
    --palBrownVbrown1-213: rgb(17.96875% 12.109375% 9.765625%);
    --palBrownVbrown1-214: rgb(17.96875% 12.109375% 9.765625%);
    --palBrownVbrown1-215: rgb(17.578125% 11.71875% 9.765625%);
    --palBrownVbrown1-216: rgb(17.578125% 11.71875% 9.375%);
    --palBrownVbrown1-217: rgb(17.1875% 11.328125% 9.375%);
    --palBrownVbrown1-218: rgb(17.1875% 11.328125% 8.984375%);
    --palBrownVbrown1-219: rgb(16.796875% 10.9375% 8.984375%);
    --palBrownVbrown1-220: rgb(16.796875% 10.9375% 8.984375%);
    --palBrownVbrown1-221: rgb(16.40625% 10.9375% 8.59375%);
    --palBrownVbrown1-222: rgb(16.40625% 10.546875% 8.59375%);
    --palBrownVbrown1-223: rgb(16.015625% 10.546875% 8.203125%);
    --palBrownVbrown1-224: rgb(16.015625% 10.15625% 8.203125%);
    --palBrownVbrown1-225: rgb(15.625% 10.15625% 8.203125%);
    --palBrownVbrown1-226: rgb(15.625% 9.765625% 7.8125%);
    --palBrownVbrown1-227: rgb(15.234375% 9.765625% 7.8125%);
    --palBrownVbrown1-228: rgb(15.234375% 9.765625% 7.421875%);
    --palBrownVbrown1-229: rgb(14.84375% 9.375% 7.421875%);
    --palBrownVbrown1-230: rgb(14.84375% 9.375% 7.421875%);
    --palBrownVbrown1-231: rgb(14.453125% 8.984375% 7.03125%);
    --palBrownVbrown1-232: rgb(14.453125% 8.984375% 7.03125%);
    --palBrownVbrown1-233: rgb(14.0625% 8.984375% 7.03125%);
    --palBrownVbrown1-234: rgb(14.0625% 8.59375% 6.640625%);
    --palBrownVbrown1-235: rgb(13.671875% 8.59375% 6.640625%);
    --palBrownVbrown1-236: rgb(13.671875% 8.203125% 6.640625%);
    --palBrownVbrown1-237: rgb(13.28125% 8.203125% 6.25%);
    --palBrownVbrown1-238: rgb(13.28125% 8.203125% 6.25%);
    --palBrownVbrown1-239: rgb(13.28125% 7.8125% 6.25%);
    --palBrownVbrown1-240: rgb(12.890625% 7.8125% 6.25%);
    --palBrownVbrown1-241: rgb(12.890625% 7.421875% 5.859375%);
    --palBrownVbrown1-242: rgb(12.5% 7.421875% 5.859375%);
    --palBrownVbrown1-243: rgb(12.5% 7.421875% 5.859375%);
    --palBrownVbrown1-244: rgb(12.109375% 7.03125% 5.46875%);
    --palBrownVbrown1-245: rgb(12.109375% 7.03125% 5.46875%);
    --palBrownVbrown1-246: rgb(11.71875% 6.640625% 5.46875%);
    --palBrownVbrown1-247: rgb(11.71875% 6.640625% 5.078125%);
    --palBrownVbrown1-248: rgb(11.328125% 6.640625% 5.078125%);
    --palBrownVbrown1-249: rgb(11.328125% 6.25% 5.078125%);
    --palBrownVbrown1-250: rgb(10.9375% 6.25% 4.6875%);
    --palBrownVbrown1-251: rgb(10.9375% 5.859375% 4.6875%);
    --palBrownVbrown1-252: rgb(10.546875% 5.859375% 4.6875%);
    --palBrownVbrown1-253: rgb(10.546875% 5.859375% 4.296875%);
    --palBrownVbrown1-254: rgb(10.15625% 5.46875% 4.296875%);
    --palBrownVbrown1-255: rgb(10.15625% 5.46875% 4.296875%);
    --palBrownVbrown1-256: rgb(10.15625% 5.46875% 3.90625%);
}
