/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palBubblegum-1: rgb(2.586988% 13.396061% 22.008069%);
    --palBubblegum-2: rgb(2.93268% 13.607927% 22.570997%);
    --palBubblegum-3: rgb(3.29528% 13.81714% 23.137885%);
    --palBubblegum-4: rgb(3.675548% 14.02362% 23.708894%);
    --palBubblegum-5: rgb(4.073682% 14.227325% 24.283975%);
    --palBubblegum-6: rgb(4.471234% 14.428193% 24.86316%);
    --palBubblegum-7: rgb(4.865358% 14.62615% 25.446542%);
    --palBubblegum-8: rgb(5.256964% 14.82115% 26.034038%);
    --palBubblegum-9: rgb(5.646862% 15.013121% 26.625704%);
    --palBubblegum-10: rgb(6.035752% 15.201983% 27.221591%);
    --palBubblegum-11: rgb(6.424214% 15.387684% 27.821626%);
    --palBubblegum-12: rgb(6.812779% 15.570151% 28.42581%);
    --palBubblegum-13: rgb(7.201927% 15.7493% 29.034184%);
    --palBubblegum-14: rgb(7.592078% 15.925055% 29.64673%);
    --palBubblegum-15: rgb(7.983593% 16.097348% 30.263393%);
    --palBubblegum-16: rgb(8.376813% 16.266099% 30.884152%);
    --palBubblegum-17: rgb(8.772045% 16.431225% 31.508979%);
    --palBubblegum-18: rgb(9.16957% 16.592642% 32.137843%);
    --palBubblegum-19: rgb(9.569644% 16.750266% 32.770702%);
    --palBubblegum-20: rgb(9.972503% 16.904008% 33.40751%);
    --palBubblegum-21: rgb(10.378361% 17.053779% 34.048212%);
    --palBubblegum-22: rgb(10.787418% 17.199489% 34.692745%);
    --palBubblegum-23: rgb(11.199855% 17.341048% 35.34104%);
    --palBubblegum-24: rgb(11.615841% 17.47836% 35.993016%);
    --palBubblegum-25: rgb(12.03553% 17.611334% 36.648586%);
    --palBubblegum-26: rgb(12.459064% 17.739873% 37.307654%);
    --palBubblegum-27: rgb(12.886572% 17.863883% 37.970113%);
    --palBubblegum-28: rgb(13.318174% 17.983267% 38.635848%);
    --palBubblegum-29: rgb(13.753977% 18.097931% 39.304731%);
    --palBubblegum-30: rgb(14.194112% 18.207751% 39.976694%);
    --palBubblegum-31: rgb(14.63865% 18.312643% 40.651554%);
    --palBubblegum-32: rgb(15.087658% 18.412521% 41.329131%);
    --palBubblegum-33: rgb(15.541222% 18.507276% 42.009288%);
    --palBubblegum-34: rgb(15.999435% 18.596787% 42.691905%);
    --palBubblegum-35: rgb(16.462299% 18.680996% 43.376702%);
    --palBubblegum-36: rgb(16.929911% 18.759771% 44.063571%);
    --palBubblegum-37: rgb(17.40228% 18.833037% 44.752252%);
    --palBubblegum-38: rgb(17.879446% 18.900695% 45.442546%);
    --palBubblegum-39: rgb(18.36143% 18.962653% 46.134218%);
    --palBubblegum-40: rgb(18.84825% 19.01882% 46.827034%);
    --palBubblegum-41: rgb(19.339886% 19.069131% 47.520696%);
    --palBubblegum-42: rgb(19.836383% 19.113463% 48.215018%);
    --palBubblegum-43: rgb(20.337673% 19.151787% 48.909625%);
    --palBubblegum-44: rgb(20.843754% 19.184013% 49.604259%);
    --palBubblegum-45: rgb(21.354618% 19.210056% 50.298647%);
    --palBubblegum-46: rgb(21.87019% 19.229888% 50.99241%);
    --palBubblegum-47: rgb(22.390422% 19.243453% 51.685223%);
    --palBubblegum-48: rgb(22.915259% 19.250707% 52.376742%);
    --palBubblegum-49: rgb(23.444654% 19.251594% 53.066641%);
    --palBubblegum-50: rgb(23.97851% 19.246105% 53.754521%);
    --palBubblegum-51: rgb(24.516736% 19.234229% 54.439994%);
    --palBubblegum-52: rgb(25.059237% 19.21596% 55.122669%);
    --palBubblegum-53: rgb(25.605905% 19.191308% 55.802144%);
    --palBubblegum-54: rgb(26.156626% 19.160292% 56.478007%);
    --palBubblegum-55: rgb(26.711275% 19.122948% 57.149835%);
    --palBubblegum-56: rgb(27.269719% 19.079325% 57.817202%);
    --palBubblegum-57: rgb(27.831815% 19.029487% 58.479675%);
    --palBubblegum-58: rgb(28.397436% 18.973492% 59.136838%);
    --palBubblegum-59: rgb(28.966402% 18.911457% 59.788226%);
    --palBubblegum-60: rgb(29.53855% 18.843495% 60.433395%);
    --palBubblegum-61: rgb(30.113705% 18.76974% 61.071901%);
    --palBubblegum-62: rgb(30.691706% 18.690325% 61.703316%);
    --palBubblegum-63: rgb(31.272376% 18.605406% 62.32721%);
    --palBubblegum-64: rgb(31.855508% 18.515193% 62.943125%);
    --palBubblegum-65: rgb(32.44092% 18.419878% 63.550646%);
    --palBubblegum-66: rgb(33.028436% 18.319663% 64.149369%);
    --palBubblegum-67: rgb(33.617828% 18.214824% 64.738857%);
    --palBubblegum-68: rgb(34.208933% 18.105578% 65.318745%);
    --palBubblegum-69: rgb(34.801526% 17.992235% 65.888623%);
    --palBubblegum-70: rgb(35.395426% 17.875068% 66.448139%);
    --palBubblegum-71: rgb(35.990423% 17.754404% 66.99693%);
    --palBubblegum-72: rgb(36.586333% 17.63056% 67.534668%);
    --palBubblegum-73: rgb(37.182949% 17.503895% 68.061028%);
    --palBubblegum-74: rgb(37.780097% 17.374752% 68.575725%);
    --palBubblegum-75: rgb(38.377568% 17.243533% 69.078466%);
    --palBubblegum-76: rgb(38.975207% 17.110598% 69.569013%);
    --palBubblegum-77: rgb(39.572813% 16.976377% 70.047119%);
    --palBubblegum-78: rgb(40.170223% 16.841276% 70.512577%);
    --palBubblegum-79: rgb(40.767275% 16.705715% 70.965202%);
    --palBubblegum-80: rgb(41.363799% 16.570146% 71.404822%);
    --palBubblegum-81: rgb(41.95965% 16.435% 71.831298%);
    --palBubblegum-82: rgb(42.554682% 16.300733% 72.244508%);
    --palBubblegum-83: rgb(43.14875% 16.167809% 72.644352%);
    --palBubblegum-84: rgb(43.741728% 16.036683% 73.030755%);
    --palBubblegum-85: rgb(44.333494% 15.907819% 73.40366%);
    --palBubblegum-86: rgb(44.923925% 15.781688% 73.763032%);
    --palBubblegum-87: rgb(45.512915% 15.658757% 74.108854%);
    --palBubblegum-88: rgb(46.100367% 15.539479% 74.44113%);
    --palBubblegum-89: rgb(46.686181% 15.424324% 74.75988%);
    --palBubblegum-90: rgb(47.270272% 15.313743% 75.065142%);
    --palBubblegum-91: rgb(47.852558% 15.208184% 75.356969%);
    --palBubblegum-92: rgb(48.43297% 15.108083% 75.635429%);
    --palBubblegum-93: rgb(49.011436% 15.013869% 75.900604%);
    --palBubblegum-94: rgb(49.587897% 14.925958% 76.152588%);
    --palBubblegum-95: rgb(50.162296% 14.84475% 76.391488%);
    --palBubblegum-96: rgb(50.734584% 14.770628% 76.61742%);
    --palBubblegum-97: rgb(51.304714% 14.703961% 76.830509%);
    --palBubblegum-98: rgb(51.872647% 14.645097% 77.030891%);
    --palBubblegum-99: rgb(52.438345% 14.594363% 77.218708%);
    --palBubblegum-100: rgb(53.001777% 14.552063% 77.394108%);
    --palBubblegum-101: rgb(53.562913% 14.518479% 77.557246%);
    --palBubblegum-102: rgb(54.121726% 14.493869% 77.70828%);
    --palBubblegum-103: rgb(54.678195% 14.478464% 77.847376%);
    --palBubblegum-104: rgb(55.232297% 14.47247% 77.9747%);
    --palBubblegum-105: rgb(55.784015% 14.476065% 78.090421%);
    --palBubblegum-106: rgb(56.333331% 14.489401% 78.194712%);
    --palBubblegum-107: rgb(56.88023% 14.512603% 78.287747%);
    --palBubblegum-108: rgb(57.424697% 14.54577% 78.3697%);
    --palBubblegum-109: rgb(57.966719% 14.588972% 78.440746%);
    --palBubblegum-110: rgb(58.506283% 14.642256% 78.501061%);
    --palBubblegum-111: rgb(59.043377% 14.705643% 78.55082%);
    --palBubblegum-112: rgb(59.577987% 14.779128% 78.5902%);
    --palBubblegum-113: rgb(60.1101% 14.862688% 78.619372%);
    --palBubblegum-114: rgb(60.639704% 14.956273% 78.638513%);
    --palBubblegum-115: rgb(61.166784% 15.059819% 78.647793%);
    --palBubblegum-116: rgb(61.691326% 15.173239% 78.647384%);
    --palBubblegum-117: rgb(62.213313% 15.296432% 78.637455%);
    --palBubblegum-118: rgb(62.732729% 15.429282% 78.618176%);
    --palBubblegum-119: rgb(63.249555% 15.571661% 78.589713%);
    --palBubblegum-120: rgb(63.76377% 15.723427% 78.552232%);
    --palBubblegum-121: rgb(64.275354% 15.88443% 78.505897%);
    --palBubblegum-122: rgb(64.784283% 16.054514% 78.450871%);
    --palBubblegum-123: rgb(65.290531% 16.233514% 78.387317%);
    --palBubblegum-124: rgb(65.79407% 16.421263% 78.315394%);
    --palBubblegum-125: rgb(66.294872% 16.617588% 78.235263%);
    --palBubblegum-126: rgb(66.792903% 16.822318% 78.147083%);
    --palBubblegum-127: rgb(67.28813% 17.035277% 78.051013%);
    --palBubblegum-128: rgb(67.780516% 17.256292% 77.94721%);
    --palBubblegum-129: rgb(68.270021% 17.485192% 77.835834%);
    --palBubblegum-130: rgb(68.756605% 17.721807% 77.717042%);
    --palBubblegum-131: rgb(69.240222% 17.96597% 77.590994%);
    --palBubblegum-132: rgb(69.720826% 18.21752% 77.457849%);
    --palBubblegum-133: rgb(70.198367% 18.476296% 77.317766%);
    --palBubblegum-134: rgb(70.672794% 18.742145% 77.170909%);
    --palBubblegum-135: rgb(71.14405% 19.014919% 77.017441%);
    --palBubblegum-136: rgb(71.61208% 19.294473% 76.857529%);
    --palBubblegum-137: rgb(72.076823% 19.58067% 76.691338%);
    --palBubblegum-138: rgb(72.538217% 19.873375% 76.519039%);
    --palBubblegum-139: rgb(72.996196% 20.172461% 76.340808%);
    --palBubblegum-140: rgb(73.450695% 20.477805% 76.15682%);
    --palBubblegum-141: rgb(73.901642% 20.78929% 75.967257%);
    --palBubblegum-142: rgb(74.348966% 21.106803% 75.772302%);
    --palBubblegum-143: rgb(74.792594% 21.430235% 75.572145%);
    --palBubblegum-144: rgb(75.23245% 21.759483% 75.366979%);
    --palBubblegum-145: rgb(75.668457% 22.094447% 75.157005%);
    --palBubblegum-146: rgb(76.100535% 22.435029% 74.942425%);
    --palBubblegum-147: rgb(76.528606% 22.781138% 74.723449%);
    --palBubblegum-148: rgb(76.952586% 23.132682% 74.500292%);
    --palBubblegum-149: rgb(77.372395% 23.489573% 74.273177%);
    --palBubblegum-150: rgb(77.78795% 23.851725% 74.04233%);
    --palBubblegum-151: rgb(78.199169% 24.219053% 73.807984%);
    --palBubblegum-152: rgb(78.605969% 24.591474% 73.570381%);
    --palBubblegum-153: rgb(79.008267% 24.968904% 73.329767%);
    --palBubblegum-154: rgb(79.405983% 25.35126% 73.086394%);
    --palBubblegum-155: rgb(79.799036% 25.738459% 72.84052%);
    --palBubblegum-156: rgb(80.187349% 26.130418% 72.592409%);
    --palBubblegum-157: rgb(80.570845% 26.527049% 72.342336%);
    --palBubblegum-158: rgb(80.94945% 26.928267% 72.090575%);
    --palBubblegum-159: rgb(81.323094% 27.333984% 71.837405%);
    --palBubblegum-160: rgb(81.691709% 27.74411% 71.583109%);
    --palBubblegum-161: rgb(82.055231% 28.158552% 71.327984%);
    --palBubblegum-162: rgb(82.4136% 28.577213% 71.072324%);
    --palBubblegum-163: rgb(82.766762% 28.999997% 70.816417%);
    --palBubblegum-164: rgb(83.114667% 29.426805% 70.560559%);
    --palBubblegum-165: rgb(83.45727% 29.85753% 70.305065%);
    --palBubblegum-166: rgb(83.794532% 30.292066% 70.050224%);
    --palBubblegum-167: rgb(84.12642% 30.730308% 69.796328%);
    --palBubblegum-168: rgb(84.452909% 31.172138% 69.54369%);
    --palBubblegum-169: rgb(84.773978% 31.617444% 69.2926%);
    --palBubblegum-170: rgb(85.089613% 32.066113% 69.043333%);
    --palBubblegum-171: rgb(85.39981% 32.518016% 68.796212%);
    --palBubblegum-172: rgb(85.704568% 32.973039% 68.551485%);
    --palBubblegum-173: rgb(86.003895% 33.431057% 68.309444%);
    --palBubblegum-174: rgb(86.297806% 33.891943% 68.070358%);
    --palBubblegum-175: rgb(86.586323% 34.355576% 67.834475%);
    --palBubblegum-176: rgb(86.869476% 34.821823% 67.602065%);
    --palBubblegum-177: rgb(87.147299% 35.290564% 67.373352%);
    --palBubblegum-178: rgb(87.419833% 35.761668% 67.148575%);
    --palBubblegum-179: rgb(87.68713% 36.235007% 66.927961%);
    --palBubblegum-180: rgb(87.949239% 36.710468% 66.711685%);
    --palBubblegum-181: rgb(88.206228% 37.187902% 66.500006%);
    --palBubblegum-182: rgb(88.458156% 37.667209% 66.293053%);
    --palBubblegum-183: rgb(88.705092% 38.148267% 66.090998%);
    --palBubblegum-184: rgb(88.947118% 38.630943% 65.894038%);
    --palBubblegum-185: rgb(89.184312% 39.115128% 65.702299%);
    --palBubblegum-186: rgb(89.416753% 39.600715% 65.515902%);
    --palBubblegum-187: rgb(89.644528% 40.087593% 65.334969%);
    --palBubblegum-188: rgb(89.867728% 40.575653% 65.159609%);
    --palBubblegum-189: rgb(90.086445% 41.064794% 64.98992%);
    --palBubblegum-190: rgb(90.300775% 41.554913% 64.825986%);
    --palBubblegum-191: rgb(90.510814% 42.045915% 64.667877%);
    --palBubblegum-192: rgb(90.716659% 42.537709% 64.515654%);
    --palBubblegum-193: rgb(90.918411% 43.030207% 64.369362%);
    --palBubblegum-194: rgb(91.116168% 43.523328% 64.229038%);
    --palBubblegum-195: rgb(91.310028% 44.016993% 64.094705%);
    --palBubblegum-196: rgb(91.500091% 44.511129% 63.966376%);
    --palBubblegum-197: rgb(91.686454% 45.005668% 63.844054%);
    --palBubblegum-198: rgb(91.869214% 45.500547% 63.727733%);
    --palBubblegum-199: rgb(92.048492% 45.995675% 63.617456%);
    --palBubblegum-200: rgb(92.224367% 46.491015% 63.513162%);
    --palBubblegum-201: rgb(92.396926% 46.986528% 63.414803%);
    --palBubblegum-202: rgb(92.566292% 47.482126% 63.322411%);
    --palBubblegum-203: rgb(92.732541% 47.977785% 63.23591%);
    --palBubblegum-204: rgb(92.895761% 48.473467% 63.155245%);
    --palBubblegum-205: rgb(93.056069% 48.9691% 63.080423%);
    --palBubblegum-206: rgb(93.213518% 49.46469% 63.011319%);
    --palBubblegum-207: rgb(93.368234% 49.960159% 62.94795%);
    --palBubblegum-208: rgb(93.520273% 50.455508% 62.890199%);
    --palBubblegum-209: rgb(93.669725% 50.950704% 62.838014%);
    --palBubblegum-210: rgb(93.816695% 51.445695% 62.791368%);
    --palBubblegum-211: rgb(93.961226% 51.940499% 62.750124%);
    --palBubblegum-212: rgb(94.103411% 52.435079% 62.71424%);
    --palBubblegum-213: rgb(94.243352% 52.92939% 62.683679%);
    --palBubblegum-214: rgb(94.381087% 53.423455% 62.658308%);
    --palBubblegum-215: rgb(94.51669% 53.917257% 62.638053%);
    --palBubblegum-216: rgb(94.650233% 54.410781% 62.622838%);
    --palBubblegum-217: rgb(94.781792% 54.904011% 62.612595%);
    --palBubblegum-218: rgb(94.911441% 55.39693% 62.607252%);
    --palBubblegum-219: rgb(95.039225% 55.889553% 62.606698%);
    --palBubblegum-220: rgb(95.165203% 56.381875% 62.61085%);
    --palBubblegum-221: rgb(95.289435% 56.873896% 62.619623%);
    --palBubblegum-222: rgb(95.411973% 57.365616% 62.632929%);
    --palBubblegum-223: rgb(95.532872% 57.857038% 62.65068%);
    --palBubblegum-224: rgb(95.65218% 58.348168% 62.672789%);
    --palBubblegum-225: rgb(95.769942% 58.839013% 62.699166%);
    --palBubblegum-226: rgb(95.886218% 59.329569% 62.729738%);
    --palBubblegum-227: rgb(96.001055% 59.819843% 62.764422%);
    --palBubblegum-228: rgb(96.114474% 60.30986% 62.803111%);
    --palBubblegum-229: rgb(96.226509% 60.799635% 62.845714%);
    --palBubblegum-230: rgb(96.33719% 61.289186% 62.892141%);
    --palBubblegum-231: rgb(96.446554% 61.778523% 62.942312%);
    --palBubblegum-232: rgb(96.554679% 62.267622% 62.996192%);
    --palBubblegum-233: rgb(96.66153% 62.756553% 63.053633%);
    --palBubblegum-234: rgb(96.767122% 63.245339% 63.114548%);
    --palBubblegum-235: rgb(96.87154% 63.73395% 63.178917%);
    --palBubblegum-236: rgb(96.974757% 64.222443% 63.246618%);
    --palBubblegum-237: rgb(97.07675% 64.710868% 63.31754%);
    --palBubblegum-238: rgb(97.177641% 65.199166% 63.391708%);
    --palBubblegum-239: rgb(97.277321% 65.68745% 63.468942%);
    --palBubblegum-240: rgb(97.375861% 66.175697% 63.549231%);
    --palBubblegum-241: rgb(97.473234% 66.663955% 63.632482%);
    --palBubblegum-242: rgb(97.569439% 67.152252% 63.718629%);
    --palBubblegum-243: rgb(97.664481% 67.64061% 63.807621%);
    --palBubblegum-244: rgb(97.758333% 68.129073% 63.899384%);
    --palBubblegum-245: rgb(97.850985% 68.61767% 63.993865%);
    --palBubblegum-246: rgb(97.942435% 69.106424% 64.091025%);
    --palBubblegum-247: rgb(98.032602% 69.59541% 64.190771%);
    --palBubblegum-248: rgb(98.121566% 70.084593% 64.293142%);
    --palBubblegum-249: rgb(98.209177% 70.57409% 64.398008%);
    --palBubblegum-250: rgb(98.295476% 71.063888% 64.505393%);
    --palBubblegum-251: rgb(98.380415% 71.554033% 64.615262%);
    --palBubblegum-252: rgb(98.463897% 72.044601% 64.727555%);
    --palBubblegum-253: rgb(98.545943% 72.535587% 64.842306%);
    --palBubblegum-254: rgb(98.626492% 73.02704% 64.959496%);
    --palBubblegum-255: rgb(98.705444% 73.51903% 65.079091%);
    --palBubblegum-256: rgb(98.782745% 74.011596% 65.201102%);
}
