/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palChroma-1: rgb(0% 0% 0%);
    --palChroma-2: rgb(0.016341% 0.024676% 0.038403%);
    --palChroma-3: rgb(0.052242% 0.086296% 0.14461%);
    --palChroma-4: rgb(0.099817% 0.180016% 0.323165%);
    --palChroma-5: rgb(0.154485% 0.303697% 0.581624%);
    --palChroma-6: rgb(0.21283% 0.455892% 0.928738%);
    --palChroma-7: rgb(0.272091% 0.635421% 1.37426%);
    --palChroma-8: rgb(0.329967% 0.841204% 1.92894%);
    --palChroma-9: rgb(0.384519% 1.072164% 2.604588%);
    --palChroma-10: rgb(0.434138% 1.327163% 3.414149%);
    --palChroma-11: rgb(0.477441% 1.604957% 4.35941%);
    --palChroma-12: rgb(0.513434% 1.904141% 5.34412%);
    --palChroma-13: rgb(0.541552% 2.223128% 6.349793%);
    --palChroma-14: rgb(0.561401% 2.560078% 7.378828%);
    --palChroma-15: rgb(0.573154% 2.912873% 8.432983%);
    --palChroma-16: rgb(0.577453% 3.27906% 9.514061%);
    --palChroma-17: rgb(0.5756% 3.655819% 10.623536%);
    --palChroma-18: rgb(0.569251% 4.039779% 11.764024%);
    --palChroma-19: rgb(0.561326% 4.410891% 12.936457%);
    --palChroma-20: rgb(0.555453% 4.762553% 14.1426%);
    --palChroma-21: rgb(0.556418% 5.092941% 15.38403%);
    --palChroma-22: rgb(0.570386% 5.399783% 16.662046%);
    --palChroma-23: rgb(0.605062% 5.680333% 17.977925%);
    --palChroma-24: rgb(0.67% 5.931283% 19.332865%);
    --palChroma-25: rgb(0.777085% 6.149025% 20.72641%);
    --palChroma-26: rgb(0.940507% 6.329131% 22.158424%);
    --palChroma-27: rgb(1.17729% 6.466445% 23.627918%);
    --palChroma-28: rgb(1.507477% 6.555333% 25.13184%);
    --palChroma-29: rgb(1.954042% 6.589623% 26.66522%);
    --palChroma-30: rgb(2.542441% 6.562938% 28.220323%);
    --palChroma-31: rgb(3.299966% 6.468689% 29.786996%);
    --palChroma-32: rgb(4.247316% 6.301186% 31.351073%);
    --palChroma-33: rgb(5.289772% 6.056538% 32.894543%);
    --palChroma-34: rgb(6.382304% 5.733957% 34.396041%);
    --palChroma-35: rgb(7.509756% 5.336155% 35.833296%);
    --palChroma-36: rgb(8.656068% 4.870282% 37.184876%);
    --palChroma-37: rgb(9.80603% 4.347138% 38.433331%);
    --palChroma-38: rgb(10.946487% 3.781011% 39.566922%);
    --palChroma-39: rgb(12.0676% 3.224204% 40.58065%);
    --palChroma-40: rgb(13.162962% 2.70635% 41.475494%);
    --palChroma-41: rgb(14.229227% 2.239242% 42.256999%);
    --palChroma-42: rgb(15.265635% 1.828971% 42.933733%);
    --palChroma-43: rgb(16.272937% 1.477506% 43.515623%);
    --palChroma-44: rgb(17.252899% 1.183645% 44.012991%);
    --palChroma-45: rgb(18.207954% 0.943891% 44.435856%);
    --palChroma-46: rgb(19.140636% 0.753672% 44.793457%);
    --palChroma-47: rgb(20.053485% 0.607779% 45.094103%);
    --palChroma-48: rgb(20.94888% 0.500886% 45.345121%);
    --palChroma-49: rgb(21.829007% 0.427759% 45.552884%);
    --palChroma-50: rgb(22.695982% 0.383216% 45.722838%);
    --palChroma-51: rgb(23.551492% 0.362753% 45.859669%);
    --palChroma-52: rgb(24.397204% 0.361978% 45.967289%);
    --palChroma-53: rgb(25.234437% 0.377154% 46.049045%);
    --palChroma-54: rgb(26.064508% 0.404677% 46.107655%);
    --palChroma-55: rgb(26.888436% 0.441543% 46.145434%);
    --palChroma-56: rgb(27.70716% 0.485014% 46.164261%);
    --palChroma-57: rgb(28.52154% 0.532614% 46.165633%);
    --palChroma-58: rgb(29.332284% 0.58223% 46.150768%);
    --palChroma-59: rgb(30.140013% 0.632011% 46.120619%);
    --palChroma-60: rgb(30.945264% 0.680351% 46.075915%);
    --palChroma-61: rgb(31.748502% 0.725862% 46.017187%);
    --palChroma-62: rgb(32.550122% 0.767372% 45.944808%);
    --palChroma-63: rgb(33.350472% 0.803873% 45.858991%);
    --palChroma-64: rgb(34.149835% 0.834547% 45.759839%);
    --palChroma-65: rgb(34.948444% 0.858742% 45.647354%);
    --palChroma-66: rgb(35.746484% 0.875956% 45.52145%);
    --palChroma-67: rgb(36.544098% 0.885833% 45.38197%);
    --palChroma-68: rgb(37.34139% 0.888157% 45.228699%);
    --palChroma-69: rgb(38.138425% 0.882842% 45.061372%);
    --palChroma-70: rgb(38.935231% 0.869934% 44.879688%);
    --palChroma-71: rgb(39.731805% 0.849601% 44.683316%);
    --palChroma-72: rgb(40.528109% 0.82214% 44.471904%);
    --palChroma-73: rgb(41.324074% 0.787974% 44.245091%);
    --palChroma-74: rgb(42.119601% 0.747648% 44.002506%);
    --palChroma-75: rgb(42.914563% 0.701836% 43.74378%);
    --palChroma-76: rgb(43.708801% 0.651341% 43.468548%);
    --palChroma-77: rgb(44.50213% 0.597101% 43.176458%);
    --palChroma-78: rgb(45.294338% 0.54019% 42.867173%);
    --palChroma-79: rgb(46.085183% 0.481827% 42.540377%);
    --palChroma-80: rgb(46.874396% 0.42338% 42.195776%);
    --palChroma-81: rgb(47.661691% 0.366359% 41.833093%);
    --palChroma-82: rgb(48.446736% 0.31247% 41.452108%);
    --palChroma-83: rgb(49.229181% 0.263584% 41.052632%);
    --palChroma-84: rgb(50.008644% 0.221759% 40.634516%);
    --palChroma-85: rgb(50.784715% 0.189252% 40.197659%);
    --palChroma-86: rgb(51.556955% 0.168532% 39.742009%);
    --palChroma-87: rgb(52.324909% 0.162254% 39.26753%);
    --palChroma-88: rgb(53.088083% 0.173338% 38.77427%);
    --palChroma-89: rgb(53.84593% 0.204996% 38.262399%);
    --palChroma-90: rgb(54.597894% 0.260656% 37.7321%);
    --palChroma-91: rgb(55.343418% 0.343953% 37.183526%);
    --palChroma-92: rgb(56.081843% 0.458969% 36.617144%);
    --palChroma-93: rgb(56.812547% 0.609927% 36.033271%);
    --palChroma-94: rgb(57.534839% 0.801445% 35.432458%);
    --palChroma-95: rgb(58.248022% 1.038395% 34.815265%);
    --palChroma-96: rgb(58.951357% 1.325991% 34.182414%);
    --palChroma-97: rgb(59.644109% 1.669693% 33.534616%);
    --palChroma-98: rgb(60.325487% 2.075318% 32.872854%);
    --palChroma-99: rgb(60.994727% 2.548876% 32.198018%);
    --palChroma-100: rgb(61.651033% 3.096663% 31.511231%);
    --palChroma-101: rgb(62.293611% 3.725166% 30.813705%);
    --palChroma-102: rgb(62.921684% 4.42379% 30.106707%);
    --palChroma-103: rgb(63.534495% 5.141249% 29.39156%);
    --palChroma-104: rgb(64.131306% 5.874627% 28.669727%);
    --palChroma-105: rgb(64.711421% 6.623181% 27.94272%);
    --palChroma-106: rgb(65.274194% 7.386131% 27.212075%);
    --palChroma-107: rgb(65.819043% 8.162647% 26.479352%);
    --palChroma-108: rgb(66.345452% 8.951846% 25.746111%);
    --palChroma-109: rgb(66.852987% 9.752791% 25.013884%);
    --palChroma-110: rgb(67.341297% 10.5645% 24.284153%);
    --palChroma-111: rgb(67.810125% 11.385958% 23.558318%);
    --palChroma-112: rgb(68.259303% 12.216125% 22.83768%);
    --palChroma-113: rgb(68.688758% 13.053952% 22.123411%);
    --palChroma-114: rgb(69.098506% 13.898395% 21.416554%);
    --palChroma-115: rgb(69.488645% 14.748433% 20.717988%);
    --palChroma-116: rgb(69.85935% 15.603086% 20.02842%);
    --palChroma-117: rgb(70.210861% 16.46142% 19.348388%);
    --palChroma-118: rgb(70.543473% 17.322564% 18.678262%);
    --palChroma-119: rgb(70.857528% 18.185713% 18.018243%);
    --palChroma-120: rgb(71.153414% 19.050102% 17.368448%);
    --palChroma-121: rgb(71.431525% 19.915086% 16.728755%);
    --palChroma-122: rgb(71.692265% 20.780106% 16.098899%);
    --palChroma-123: rgb(71.936074% 21.644603% 15.478633%);
    --palChroma-124: rgb(72.163355% 22.508174% 14.867461%);
    --palChroma-125: rgb(72.374515% 23.370445% 14.264863%);
    --palChroma-126: rgb(72.569954% 24.231101% 13.67026%);
    --palChroma-127: rgb(72.750041% 25.089901% 13.082982%);
    --palChroma-128: rgb(72.915102% 25.946687% 12.50225%);
    --palChroma-129: rgb(73.065519% 26.801228% 11.927466%);
    --palChroma-130: rgb(73.201532% 27.653505% 11.357695%);
    --palChroma-131: rgb(73.323415% 28.503443% 10.792141%);
    --palChroma-132: rgb(73.431422% 29.350987% 10.230012%);
    --palChroma-133: rgb(73.525782% 30.196112% 9.670499%);
    --palChroma-134: rgb(73.606648% 31.038871% 9.112681%);
    --palChroma-135: rgb(73.674177% 31.879295% 8.555697%);
    --palChroma-136: rgb(73.7285% 32.717436% 7.998676%);
    --palChroma-137: rgb(73.769719% 33.553357% 7.440741%);
    --palChroma-138: rgb(73.797911% 34.387131% 6.881001%);
    --palChroma-139: rgb(73.813132% 35.218841% 6.318561%);
    --palChroma-140: rgb(73.815413% 36.048574% 5.752509%);
    --palChroma-141: rgb(73.804766% 36.87642% 5.181924%);
    --palChroma-142: rgb(73.781228% 37.702427% 4.605966%);
    --palChroma-143: rgb(73.744739% 38.526723% 4.023277%);
    --palChroma-144: rgb(73.695258% 39.349398% 3.451051%);
    --palChroma-145: rgb(73.63273% 40.170539% 2.922306%);
    --palChroma-146: rgb(73.557126% 40.990195% 2.437092%);
    --palChroma-147: rgb(73.468367% 41.808447% 1.995555%);
    --palChroma-148: rgb(73.366329% 42.625396% 1.597958%);
    --palChroma-149: rgb(73.250948% 43.441084% 1.244844%);
    --palChroma-150: rgb(73.122134% 44.25556% 0.936865%);
    --palChroma-151: rgb(72.97972% 45.068921% 0.674711%);
    --palChroma-152: rgb(72.823647% 45.88117% 0.459355%);
    --palChroma-153: rgb(72.653738% 46.69239% 0.291734%);
    --palChroma-154: rgb(72.469861% 47.502617% 0.172958%);
    --palChroma-155: rgb(72.271881% 48.311879% 0.104228%);
    --palChroma-156: rgb(72.059597% 49.120241% 0.086769%);
    --palChroma-157: rgb(71.832881% 49.927709% 0.121957%);
    --palChroma-158: rgb(71.591482% 50.734356% 0.211138%);
    --palChroma-159: rgb(71.335247% 51.540187% 0.355801%);
    --palChroma-160: rgb(71.063888% 52.345273% 0.557407%);
    --palChroma-161: rgb(70.777198% 53.149629% 0.817532%);
    --palChroma-162: rgb(70.474856% 53.953326% 1.137745%);
    --palChroma-163: rgb(70.156577% 54.756396% 1.519703%);
    --palChroma-164: rgb(69.821994% 55.558906% 1.965092%);
    --palChroma-165: rgb(69.470733% 56.360911% 2.47567%);
    --palChroma-166: rgb(69.102361% 57.16248% 3.053261%);
    --palChroma-167: rgb(68.716394% 57.96369% 3.699776%);
    --palChroma-168: rgb(68.312315% 58.764613% 4.401602%);
    --palChroma-169: rgb(67.889514% 59.565348% 5.104669%);
    --palChroma-170: rgb(67.447364% 60.365974% 5.80653%);
    --palChroma-171: rgb(66.985104% 61.166609% 6.507801%);
    --palChroma-172: rgb(66.501981% 61.967338% 7.209106%);
    --palChroma-173: rgb(65.997045% 62.768298% 7.911092%);
    --palChroma-174: rgb(65.469409% 63.569571% 8.614409%);
    --palChroma-175: rgb(64.917874% 64.371325% 9.319764%);
    --palChroma-176: rgb(64.341394% 65.173629% 10.027859%);
    --palChroma-177: rgb(63.738549% 65.976654% 10.739479%);
    --palChroma-178: rgb(63.107987% 66.780494% 11.455425%);
    --palChroma-179: rgb(62.448165% 67.585265% 12.176558%);
    --palChroma-180: rgb(61.75722% 68.391137% 12.903842%);
    --palChroma-181: rgb(61.033426% 69.198166% 13.638241%);
    --palChroma-182: rgb(60.274715% 70.00646% 14.380833%);
    --palChroma-183: rgb(59.47861% 70.81618% 15.132834%);
    --palChroma-184: rgb(58.642785% 71.627352% 15.895463%);
    --palChroma-185: rgb(57.764488% 72.440045% 16.670088%);
    --palChroma-186: rgb(56.840673% 73.254308% 17.458199%);
    --palChroma-187: rgb(55.867975% 74.070167% 18.261421%);
    --palChroma-188: rgb(54.842676% 74.887616% 19.081528%);
    --palChroma-189: rgb(53.760655% 75.70661% 19.920461%);
    --palChroma-190: rgb(52.617347% 76.527055% 20.780349%);
    --palChroma-191: rgb(51.40769% 77.348797% 21.663528%);
    --palChroma-192: rgb(50.126067% 78.171603% 22.572573%);
    --palChroma-193: rgb(48.766252% 78.995147% 23.510316%);
    --palChroma-194: rgb(47.320598% 79.819128% 24.480118%);
    --palChroma-195: rgb(45.781799% 80.64287% 25.485342%);
    --palChroma-196: rgb(44.140345% 81.46577% 26.530162%);
    --palChroma-197: rgb(42.386805% 82.286809% 27.618894%);
    --palChroma-198: rgb(40.509905% 83.104831% 28.756641%);
    --palChroma-199: rgb(38.497429% 83.918304% 29.949099%);
    --palChroma-200: rgb(36.336633% 84.725211% 31.202554%);
    --palChroma-201: rgb(34.015171% 85.522894% 32.523806%);
    --palChroma-202: rgb(31.522429% 86.307939% 33.920155%);
    --palChroma-203: rgb(28.852485% 87.076004% 35.399231%);
    --palChroma-204: rgb(26.012226% 87.821481% 36.967902%);
    --palChroma-205: rgb(23.034835% 88.537382% 38.631028%);
    --palChroma-206: rgb(20.005003% 89.215446% 40.389631%);
    --palChroma-207: rgb(17.1061% 89.846573% 42.237531%);
    --palChroma-208: rgb(14.679032% 90.422191% 44.159836%);
    --palChroma-209: rgb(13.235007% 90.935992% 46.131624%);
    --palChroma-210: rgb(13.233945% 91.385732% 48.121869%);
    --palChroma-211: rgb(14.684813% 91.773789% 50.099309%);
    --palChroma-212: rgb(17.14825% 92.106251% 52.038209%);
    --palChroma-213: rgb(20.135567% 92.391137% 53.921307%);
    --palChroma-214: rgb(23.322432% 92.636675% 55.739902%);
    --palChroma-215: rgb(26.532651% 92.85052% 57.490457%);
    --palChroma-216: rgb(29.68064% 93.039125% 59.173875%);
    --palChroma-217: rgb(32.727417% 93.207894% 60.792784%);
    --palChroma-218: rgb(35.659105% 93.36109% 62.351321%);
    --palChroma-219: rgb(38.47304% 93.50224% 63.853573%);
    --palChroma-220: rgb(41.172511% 93.634184% 65.303666%);
    --palChroma-221: rgb(43.763999% 93.759139% 66.705766%);
    --palChroma-222: rgb(46.252334% 93.879395% 68.062529%);
    --palChroma-223: rgb(48.647082% 93.996081% 69.37839%);
    --palChroma-224: rgb(50.954374% 94.110644% 70.656008%);
    --palChroma-225: rgb(53.180158% 94.2243% 71.897868%);
    --palChroma-226: rgb(55.330243% 94.338038% 73.106362%);
    --palChroma-227: rgb(57.410183% 94.452649% 74.283758%);
    --palChroma-228: rgb(59.425204% 94.56877% 75.432188%);
    --palChroma-229: rgb(61.380179% 94.686908% 76.553639%);
    --palChroma-230: rgb(63.278315% 94.807818% 77.649378%);
    --palChroma-231: rgb(65.123401% 94.931954% 78.720949%);
    --palChroma-232: rgb(66.919107% 95.05965% 79.769863%);
    --palChroma-233: rgb(68.668379% 95.191307% 80.797323%);
    --palChroma-234: rgb(70.37315% 95.327516% 81.804111%);
    --palChroma-235: rgb(72.037045% 95.468262% 82.791747%);
    --palChroma-236: rgb(73.662057% 95.613915% 83.761052%);
    --palChroma-237: rgb(75.249754% 95.764907% 84.71267%);
    --palChroma-238: rgb(76.801982% 95.921517% 85.647372%);
    --palChroma-239: rgb(78.320893% 96.083846% 86.566051%);
    --palChroma-240: rgb(79.80801% 96.252143% 87.469329%);
    --palChroma-241: rgb(81.264749% 96.426635% 88.357776%);
    --palChroma-242: rgb(82.692425% 96.607538% 89.231908%);
    --palChroma-243: rgb(84.092251% 96.79506% 90.09218%);
    --palChroma-244: rgb(85.464941% 96.989551% 90.938826%);
    --palChroma-245: rgb(86.811536% 97.191213% 91.772181%);
    --palChroma-246: rgb(88.133184% 97.400172% 92.592577%);
    --palChroma-247: rgb(89.430673% 97.616663% 93.400143%);
    --palChroma-248: rgb(90.704657% 97.840951% 94.194883%);
    --palChroma-249: rgb(91.954628% 98.073751% 94.97627%);
    --palChroma-250: rgb(93.181647% 98.315156% 95.74422%);
    --palChroma-251: rgb(94.385909% 98.565603% 96.498128%);
    --palChroma-252: rgb(95.565959% 98.826216% 97.236573%);
    --palChroma-253: rgb(96.721384% 99.097737% 97.958193%);
    --palChroma-254: rgb(97.849787% 99.381755% 98.660734%);
    --palChroma-255: rgb(98.945501% 99.681218% 99.341415%);
    --palChroma-256: rgb(100% 100% 100%);
}
