/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palCividis-1: rgb(0% 13.5112% 30.4751%);
    --palCividis-2: rgb(0% 13.8068% 31.1105%);
    --palCividis-3: rgb(0% 14.1013% 31.7579%);
    --palCividis-4: rgb(0% 14.3951% 32.3982%);
    --palCividis-5: rgb(0% 14.6877% 33.0479%);
    --palCividis-6: rgb(0% 14.9791% 33.7065%);
    --palCividis-7: rgb(0% 15.2673% 34.3704%);
    --palCividis-8: rgb(0% 15.5377% 35.05%);
    --palCividis-9: rgb(0% 15.7932% 35.7521%);
    --palCividis-10: rgb(0% 16.0495% 36.4534%);
    --palCividis-11: rgb(0% 16.3058% 37.1608%);
    --palCividis-12: rgb(0% 16.5621% 37.8769%);
    --palCividis-13: rgb(0% 16.8204% 38.5902%);
    --palCividis-14: rgb(0% 17.08% 39.31%);
    --palCividis-15: rgb(0% 17.342% 40.0353%);
    --palCividis-16: rgb(0% 17.6082% 40.7577%);
    --palCividis-17: rgb(0% 17.8802% 41.4764%);
    --palCividis-18: rgb(0% 18.161% 42.1859%);
    --palCividis-19: rgb(0% 18.455% 42.8802%);
    --palCividis-20: rgb(0% 18.6915% 43.5532%);
    --palCividis-21: rgb(0% 18.8769% 43.9563%);
    --palCividis-22: rgb(0% 19.095% 44.1085%);
    --palCividis-23: rgb(0% 19.3366% 44.1561%);
    --palCividis-24: rgb(0.3602% 19.5911% 44.1564%);
    --palCividis-25: rgb(1.7852% 19.8528% 44.1248%);
    --palCividis-26: rgb(3.211% 20.1199% 44.0785%);
    --palCividis-27: rgb(4.6205% 20.3903% 44.0196%);
    --palCividis-28: rgb(5.8378% 20.6629% 43.9531%);
    --palCividis-29: rgb(6.8968% 20.9372% 43.8863%);
    --palCividis-30: rgb(7.8624% 21.2122% 43.8105%);
    --palCividis-31: rgb(8.7465% 21.4879% 43.7342%);
    --palCividis-32: rgb(9.5645% 21.7643% 43.6593%);
    --palCividis-33: rgb(10.3401% 22.0406% 43.579%);
    --palCividis-34: rgb(11.0658% 22.317% 43.5067%);
    --palCividis-35: rgb(11.7612% 22.5935% 43.4308%);
    --palCividis-36: rgb(12.4291% 22.8697% 43.3547%);
    --palCividis-37: rgb(13.0669% 23.1458% 43.284%);
    --palCividis-38: rgb(13.683% 23.4216% 43.2148%);
    --palCividis-39: rgb(14.2852% 23.6972% 43.1404%);
    --palCividis-40: rgb(14.8638% 23.9724% 43.0752%);
    --palCividis-41: rgb(15.4261% 24.2475% 43.012%);
    --palCividis-42: rgb(15.9733% 24.5221% 42.9528%);
    --palCividis-43: rgb(16.5113% 24.7965% 42.8908%);
    --palCividis-44: rgb(17.0362% 25.0707% 42.8325%);
    --palCividis-45: rgb(17.549% 25.3444% 42.779%);
    --palCividis-46: rgb(18.0503% 25.618% 42.7299%);
    --palCividis-47: rgb(18.5453% 25.8914% 42.6788%);
    --palCividis-48: rgb(19.0303% 26.1644% 42.6329%);
    --palCividis-49: rgb(19.5057% 26.4372% 42.5924%);
    --palCividis-50: rgb(19.9764% 26.7099% 42.5497%);
    --palCividis-51: rgb(20.4385% 26.9823% 42.5126%);
    --palCividis-52: rgb(20.8926% 27.2546% 42.4809%);
    --palCividis-53: rgb(21.3431% 27.5266% 42.448%);
    --palCividis-54: rgb(21.7863% 27.7985% 42.4206%);
    --palCividis-55: rgb(22.2264% 28.0702% 42.3914%);
    --palCividis-56: rgb(22.6598% 28.3419% 42.3678%);
    --palCividis-57: rgb(23.0871% 28.6134% 42.3498%);
    --palCividis-58: rgb(23.512% 28.8848% 42.3304%);
    --palCividis-59: rgb(23.9312% 29.1562% 42.3167%);
    --palCividis-60: rgb(24.3485% 29.4274% 42.3014%);
    --palCividis-61: rgb(24.7605% 29.6986% 42.2917%);
    --palCividis-62: rgb(25.1675% 29.9698% 42.2873%);
    --palCividis-63: rgb(25.5731% 30.2409% 42.2814%);
    --palCividis-64: rgb(25.974% 30.512% 42.281%);
    --palCividis-65: rgb(26.3738% 30.7831% 42.2789%);
    --palCividis-66: rgb(26.7693% 31.0542% 42.2821%);
    --palCividis-67: rgb(27.1639% 31.3253% 42.2837%);
    --palCividis-68: rgb(27.5513% 31.5965% 42.2979%);
    --palCividis-69: rgb(27.9411% 31.8677% 42.3031%);
    --palCividis-70: rgb(28.324% 32.139% 42.3211%);
    --palCividis-71: rgb(28.7065% 32.4103% 42.3373%);
    --palCividis-72: rgb(29.0884% 32.6816% 42.3517%);
    --palCividis-73: rgb(29.4669% 32.9531% 42.3716%);
    --palCividis-74: rgb(29.8421% 33.2247% 42.3973%);
    --palCividis-75: rgb(30.2169% 33.4963% 42.4213%);
    --palCividis-76: rgb(30.5886% 33.7681% 42.4512%);
    --palCividis-77: rgb(30.9601% 34.0399% 42.479%);
    --palCividis-78: rgb(31.3287% 34.312% 42.512%);
    --palCividis-79: rgb(31.6941% 34.5842% 42.5512%);
    --palCividis-80: rgb(32.0595% 34.8565% 42.5889%);
    --palCividis-81: rgb(32.425% 35.1289% 42.625%);
    --palCividis-82: rgb(32.7875% 35.4016% 42.667%);
    --palCividis-83: rgb(33.1474% 35.6744% 42.7144%);
    --palCividis-84: rgb(33.5073% 35.9474% 42.7605%);
    --palCividis-85: rgb(33.8673% 36.2206% 42.8053%);
    --palCividis-86: rgb(34.2246% 36.4939% 42.8559%);
    --palCividis-87: rgb(34.5793% 36.7676% 42.9127%);
    --palCividis-88: rgb(34.9341% 37.0414% 42.9685%);
    --palCividis-89: rgb(35.2892% 37.3153% 43.0226%);
    --palCividis-90: rgb(35.6418% 37.5896% 43.0823%);
    --palCividis-91: rgb(35.9916% 37.8641% 43.1501%);
    --palCividis-92: rgb(36.3446% 38.1388% 43.2075%);
    --palCividis-93: rgb(36.6923% 38.4139% 43.2796%);
    --palCividis-94: rgb(37.043% 38.689% 43.3428%);
    --palCividis-95: rgb(37.3884% 38.9646% 43.4209%);
    --palCividis-96: rgb(37.7371% 39.2404% 43.489%);
    --palCividis-97: rgb(38.083% 39.5164% 43.5653%);
    --palCividis-98: rgb(38.4268% 39.7928% 43.6475%);
    --palCividis-99: rgb(38.7705% 40.0694% 43.7305%);
    --palCividis-100: rgb(39.1151% 40.3464% 43.8096%);
    --palCividis-101: rgb(39.4568% 40.6236% 43.8986%);
    --palCividis-102: rgb(39.7991% 40.9011% 43.9848%);
    --palCividis-103: rgb(40.1418% 41.179% 44.0708%);
    --palCividis-104: rgb(40.482% 41.4572% 44.1642%);
    --palCividis-105: rgb(40.8226% 41.7357% 44.257%);
    --palCividis-106: rgb(41.1607% 42.0145% 44.3577%);
    --palCividis-107: rgb(41.4992% 42.2937% 44.4578%);
    --palCividis-108: rgb(41.8383% 42.5733% 44.556%);
    --palCividis-109: rgb(42.1748% 42.8531% 44.664%);
    --palCividis-110: rgb(42.512% 43.1334% 44.7692%);
    --palCividis-111: rgb(42.8462% 43.414% 44.8864%);
    --palCividis-112: rgb(43.1817% 43.695% 44.9982%);
    --palCividis-113: rgb(43.5168% 43.9763% 45.1134%);
    --palCividis-114: rgb(43.8504% 44.258% 45.2341%);
    --palCividis-115: rgb(44.181% 44.5402% 45.3659%);
    --palCividis-116: rgb(44.5148% 44.8226% 45.4885%);
    --palCividis-117: rgb(44.8447% 45.1053% 45.6264%);
    --palCividis-118: rgb(45.1759% 45.3887% 45.7582%);
    --palCividis-119: rgb(45.5072% 45.6718% 45.8976%);
    --palCividis-120: rgb(45.8366% 45.9552% 46.0457%);
    --palCividis-121: rgb(46.1616% 46.2405% 46.1969%);
    --palCividis-122: rgb(46.4947% 46.5241% 46.3395%);
    --palCividis-123: rgb(46.8254% 46.8083% 46.4908%);
    --palCividis-124: rgb(47.1501% 47.096% 46.6357%);
    --palCividis-125: rgb(47.4812% 47.3832% 46.7681%);
    --palCividis-126: rgb(47.8186% 47.6699% 46.8845%);
    --palCividis-127: rgb(48.1622% 47.9573% 46.9767%);
    --palCividis-128: rgb(48.5141% 48.2451% 47.0384%);
    --palCividis-129: rgb(48.8697% 48.5318% 47.1008%);
    --palCividis-130: rgb(49.2278% 48.8198% 47.1453%);
    --palCividis-131: rgb(49.5913% 49.1076% 47.1751%);
    --palCividis-132: rgb(49.9552% 49.396% 47.2032%);
    --palCividis-133: rgb(50.3185% 49.6851% 47.2305%);
    --palCividis-134: rgb(50.6866% 49.9743% 47.2432%);
    --palCividis-135: rgb(51.054% 50.2643% 47.255%);
    --palCividis-136: rgb(51.4226% 50.5546% 47.264%);
    --palCividis-137: rgb(51.792% 50.8454% 47.2707%);
    --palCividis-138: rgb(52.1643% 51.1367% 47.2639%);
    --palCividis-139: rgb(52.5348% 51.4285% 47.266%);
    --palCividis-140: rgb(52.9086% 51.7207% 47.2543%);
    --palCividis-141: rgb(53.2829% 52.0135% 47.2401%);
    --palCividis-142: rgb(53.6553% 52.3067% 47.2352%);
    --palCividis-143: rgb(54.0307% 52.6005% 47.2163%);
    --palCividis-144: rgb(54.4069% 52.8948% 47.1947%);
    --palCividis-145: rgb(54.784% 53.1895% 47.1704%);
    --palCividis-146: rgb(55.1612% 53.4849% 47.1439%);
    --palCividis-147: rgb(55.5393% 53.7807% 47.1147%);
    --palCividis-148: rgb(55.9181% 54.0771% 47.0829%);
    --palCividis-149: rgb(56.2972% 54.3741% 47.0488%);
    --palCividis-150: rgb(56.6802% 54.6715% 46.9988%);
    --palCividis-151: rgb(57.0607% 54.9695% 46.9593%);
    --palCividis-152: rgb(57.4417% 55.2682% 46.9172%);
    --palCividis-153: rgb(57.8236% 55.5673% 46.8724%);
    --palCividis-154: rgb(58.2087% 55.867% 46.8118%);
    --palCividis-155: rgb(58.5916% 56.1674% 46.7618%);
    --palCividis-156: rgb(58.9753% 56.4682% 46.709%);
    --palCividis-157: rgb(59.3622% 56.7697% 46.6401%);
    --palCividis-158: rgb(59.7469% 57.0718% 46.5821%);
    --palCividis-159: rgb(60.1354% 57.3743% 46.5074%);
    --palCividis-160: rgb(60.5211% 57.6777% 46.4441%);
    --palCividis-161: rgb(60.9105% 57.9816% 46.3638%);
    --palCividis-162: rgb(61.2977% 58.2861% 46.295%);
    --palCividis-163: rgb(61.6852% 58.5913% 46.2237%);
    --palCividis-164: rgb(62.0765% 58.897% 46.1351%);
    --palCividis-165: rgb(62.4654% 59.2034% 46.0583%);
    --palCividis-166: rgb(62.8576% 59.5104% 45.9641%);
    --palCividis-167: rgb(63.2506% 59.818% 45.8668%);
    --palCividis-168: rgb(63.6412% 60.1264% 45.7818%);
    --palCividis-169: rgb(64.0352% 60.4354% 45.6791%);
    --palCividis-170: rgb(64.427% 60.745% 45.5886%);
    --palCividis-171: rgb(64.8222% 61.0553% 45.4801%);
    --palCividis-172: rgb(65.2178% 61.3664% 45.3689%);
    --palCividis-173: rgb(65.6114% 61.678% 45.2702%);
    --palCividis-174: rgb(66.0082% 61.9904% 45.1534%);
    --palCividis-175: rgb(66.4055% 62.3034% 45.0338%);
    --palCividis-176: rgb(66.8008% 62.6171% 44.927%);
    --palCividis-177: rgb(67.1991% 62.9316% 44.8018%);
    --palCividis-178: rgb(67.5981% 63.2468% 44.6736%);
    --palCividis-179: rgb(67.9979% 63.5626% 44.5424%);
    --palCividis-180: rgb(68.395% 63.8793% 44.4251%);
    --palCividis-181: rgb(68.7957% 64.1966% 44.2886%);
    --palCividis-182: rgb(69.1971% 64.5145% 44.1491%);
    --palCividis-183: rgb(69.5985% 64.8334% 44.0072%);
    --palCividis-184: rgb(70.0008% 65.1529% 43.8624%);
    --palCividis-185: rgb(70.4037% 65.4731% 43.7147%);
    --palCividis-186: rgb(70.8067% 65.7942% 43.5647%);
    --palCividis-187: rgb(71.2105% 66.116% 43.4117%);
    --palCividis-188: rgb(71.6177% 66.4384% 43.2386%);
    --palCividis-189: rgb(72.0222% 66.7618% 43.0805%);
    --palCividis-190: rgb(72.4274% 67.0859% 42.9194%);
    --palCividis-191: rgb(72.8334% 67.4107% 42.7554%);
    --palCividis-192: rgb(73.2422% 67.7364% 42.5717%);
    --palCividis-193: rgb(73.6488% 68.0629% 42.4028%);
    --palCividis-194: rgb(74.0589% 68.39% 42.2131%);
    --palCividis-195: rgb(74.4664% 68.7181% 42.0393%);
    --palCividis-196: rgb(74.8772% 69.047% 41.8448%);
    --palCividis-197: rgb(75.2886% 69.3766% 41.6472%);
    --palCividis-198: rgb(75.6975% 69.7071% 41.4659%);
    --palCividis-199: rgb(76.1096% 70.0384% 41.2638%);
    --palCividis-200: rgb(76.5223% 70.3705% 41.0587%);
    --palCividis-201: rgb(76.9353% 70.7035% 40.8516%);
    --palCividis-202: rgb(77.3486% 71.0373% 40.6422%);
    --palCividis-203: rgb(77.7651% 71.3719% 40.4112%);
    --palCividis-204: rgb(78.1795% 71.7074% 40.1966%);
    --palCividis-205: rgb(78.5965% 72.0438% 39.9613%);
    --palCividis-206: rgb(79.0116% 72.381% 39.7423%);
    --palCividis-207: rgb(79.4298% 72.719% 39.5016%);
    --palCividis-208: rgb(79.848% 73.058% 39.2597%);
    --palCividis-209: rgb(80.2667% 73.3978% 39.0153%);
    --palCividis-210: rgb(80.6859% 73.7385% 38.7684%);
    --palCividis-211: rgb(81.1054% 74.0801% 38.5198%);
    --palCividis-212: rgb(81.5274% 74.4226% 38.2504%);
    --palCividis-213: rgb(81.9499% 74.7659% 37.9785%);
    --palCividis-214: rgb(82.3729% 75.1101% 37.7043%);
    --palCividis-215: rgb(82.7959% 75.4553% 37.4292%);
    --palCividis-216: rgb(83.2192% 75.8014% 37.1529%);
    --palCividis-217: rgb(83.6429% 76.1483% 36.8747%);
    --palCividis-218: rgb(84.0693% 76.4962% 36.5746%);
    --palCividis-219: rgb(84.4957% 76.845% 36.2741%);
    --palCividis-220: rgb(84.9223% 77.1947% 35.9729%);
    --palCividis-221: rgb(85.3515% 77.5454% 35.65%);
    --palCividis-222: rgb(85.7809% 77.8969% 35.3259%);
    --palCividis-223: rgb(86.2105% 78.2494% 35.0011%);
    --palCividis-224: rgb(86.6421% 78.6028% 34.6571%);
    --palCividis-225: rgb(87.0717% 78.9572% 34.3333%);
    --palCividis-226: rgb(87.5057% 79.3125% 33.9685%);
    --palCividis-227: rgb(87.9378% 79.6687% 33.6241%);
    --palCividis-228: rgb(88.372% 80.0258% 33.2599%);
    --palCividis-229: rgb(88.8081% 80.3839% 32.877%);
    --palCividis-230: rgb(89.244% 80.743% 32.4968%);
    --palCividis-231: rgb(89.6818% 81.103% 32.0982%);
    --palCividis-232: rgb(90.1195% 81.4639% 31.7021%);
    --palCividis-233: rgb(90.5589% 81.8257% 31.2889%);
    --palCividis-234: rgb(91% 82.1885% 30.8594%);
    --palCividis-235: rgb(91.4407% 82.5522% 30.4348%);
    --palCividis-236: rgb(91.8828% 82.9168% 29.996%);
    --palCividis-237: rgb(92.3279% 83.2822% 29.5244%);
    --palCividis-238: rgb(92.7724% 83.6486% 29.0611%);
    --palCividis-239: rgb(93.218% 84.0159% 28.588%);
    --palCividis-240: rgb(93.666% 84.3841% 28.0876%);
    --palCividis-241: rgb(94.1147% 84.753% 27.5815%);
    --palCividis-242: rgb(94.5654% 85.1228% 27.0532%);
    --palCividis-243: rgb(95.0178% 85.4933% 26.5085%);
    --palCividis-244: rgb(95.4725% 85.8646% 25.9365%);
    --palCividis-245: rgb(95.9284% 86.2365% 25.3563%);
    --palCividis-246: rgb(96.3872% 86.6089% 24.7445%);
    --palCividis-247: rgb(96.8469% 86.9819% 24.131%);
    --palCividis-248: rgb(97.3114% 87.355% 23.4677%);
    --palCividis-249: rgb(97.778% 87.7281% 22.7954%);
    --palCividis-250: rgb(98.2497% 88.1008% 22.0878%);
    --palCividis-251: rgb(98.7293% 88.4718% 21.3336%);
    --palCividis-252: rgb(99.2218% 88.8385% 20.5468%);
    --palCividis-253: rgb(99.4847% 89.2954% 20.3445%);
    --palCividis-254: rgb(99.5249% 89.8384% 20.7561%);
    --palCividis-255: rgb(99.5503% 90.3866% 21.237%);
    --palCividis-256: rgb(99.5737% 90.9344% 21.7772%);
}
