/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palColormap66-1: rgb(99.609375% 98.828125% 93.359375%);
    --palColormap66-2: rgb(99.21875% 98.828125% 92.1875%);
    --palColormap66-3: rgb(98.828125% 98.4375% 90.625%);
    --palColormap66-4: rgb(98.4375% 98.046875% 89.0625%);
    --palColormap66-5: rgb(98.046875% 97.65625% 87.5%);
    --palColormap66-6: rgb(97.65625% 97.265625% 85.9375%);
    --palColormap66-7: rgb(97.265625% 96.875% 85.15625%);
    --palColormap66-8: rgb(97.265625% 96.484375% 83.984375%);
    --palColormap66-9: rgb(96.875% 96.484375% 83.203125%);
    --palColormap66-10: rgb(96.875% 96.09375% 82.421875%);
    --palColormap66-11: rgb(96.875% 95.703125% 81.640625%);
    --palColormap66-12: rgb(96.484375% 95.703125% 80.46875%);
    --palColormap66-13: rgb(96.484375% 95.3125% 79.6875%);
    --palColormap66-14: rgb(96.09375% 94.921875% 78.90625%);
    --palColormap66-15: rgb(96.09375% 94.53125% 78.125%);
    --palColormap66-16: rgb(95.703125% 94.140625% 76.953125%);
    --palColormap66-17: rgb(95.703125% 93.75% 76.171875%);
    --palColormap66-18: rgb(95.3125% 93.359375% 75%);
    --palColormap66-19: rgb(95.3125% 92.96875% 74.21875%);
    --palColormap66-20: rgb(94.921875% 92.578125% 73.4375%);
    --palColormap66-21: rgb(94.921875% 92.1875% 72.265625%);
    --palColormap66-22: rgb(94.53125% 91.796875% 71.484375%);
    --palColormap66-23: rgb(94.140625% 91.40625% 70.703125%);
    --palColormap66-24: rgb(94.140625% 91.015625% 69.53125%);
    --palColormap66-25: rgb(93.75% 90.625% 68.75%);
    --palColormap66-26: rgb(93.75% 90.234375% 67.96875%);
    --palColormap66-27: rgb(93.359375% 89.84375% 67.1875%);
    --palColormap66-28: rgb(93.359375% 89.453125% 66.40625%);
    --palColormap66-29: rgb(93.359375% 89.453125% 66.015625%);
    --palColormap66-30: rgb(92.96875% 89.0625% 65.625%);
    --palColormap66-31: rgb(92.96875% 88.671875% 64.84375%);
    --palColormap66-32: rgb(92.578125% 88.28125% 64.453125%);
    --palColormap66-33: rgb(92.578125% 87.890625% 64.0625%);
    --palColormap66-34: rgb(92.578125% 87.890625% 63.28125%);
    --palColormap66-35: rgb(92.1875% 87.5% 62.890625%);
    --palColormap66-36: rgb(92.1875% 87.109375% 62.109375%);
    --palColormap66-37: rgb(91.796875% 86.71875% 61.71875%);
    --palColormap66-38: rgb(91.796875% 86.328125% 61.328125%);
    --palColormap66-39: rgb(91.796875% 86.328125% 60.546875%);
    --palColormap66-40: rgb(91.40625% 85.9375% 60.15625%);
    --palColormap66-41: rgb(91.40625% 85.546875% 59.765625%);
    --palColormap66-42: rgb(91.015625% 85.15625% 58.984375%);
    --palColormap66-43: rgb(91.015625% 85.15625% 58.59375%);
    --palColormap66-44: rgb(91.015625% 84.765625% 57.8125%);
    --palColormap66-45: rgb(90.625% 84.375% 57.421875%);
    --palColormap66-46: rgb(90.625% 83.984375% 57.03125%);
    --palColormap66-47: rgb(90.234375% 83.59375% 56.25%);
    --palColormap66-48: rgb(90.234375% 83.59375% 55.859375%);
    --palColormap66-49: rgb(90.234375% 83.203125% 55.46875%);
    --palColormap66-50: rgb(89.84375% 82.8125% 54.6875%);
    --palColormap66-51: rgb(89.84375% 82.421875% 54.296875%);
    --palColormap66-52: rgb(89.84375% 82.421875% 53.515625%);
    --palColormap66-53: rgb(89.453125% 82.03125% 53.515625%);
    --palColormap66-54: rgb(89.0625% 81.640625% 53.125%);
    --palColormap66-55: rgb(89.0625% 81.25% 52.734375%);
    --palColormap66-56: rgb(88.671875% 80.859375% 52.34375%);
    --palColormap66-57: rgb(88.671875% 80.46875% 51.953125%);
    --palColormap66-58: rgb(88.28125% 80.078125% 51.953125%);
    --palColormap66-59: rgb(88.28125% 79.6875% 51.5625%);
    --palColormap66-60: rgb(87.890625% 79.296875% 51.171875%);
    --palColormap66-61: rgb(87.890625% 78.90625% 50.78125%);
    --palColormap66-62: rgb(87.5% 78.515625% 50.390625%);
    --palColormap66-63: rgb(87.5% 78.125% 50%);
    --palColormap66-64: rgb(87.109375% 77.734375% 50%);
    --palColormap66-65: rgb(87.109375% 77.34375% 49.609375%);
    --palColormap66-66: rgb(86.71875% 76.953125% 49.21875%);
    --palColormap66-67: rgb(86.71875% 76.5625% 48.828125%);
    --palColormap66-68: rgb(86.328125% 76.171875% 48.4375%);
    --palColormap66-69: rgb(86.328125% 76.171875% 48.4375%);
    --palColormap66-70: rgb(85.9375% 75.78125% 48.046875%);
    --palColormap66-71: rgb(85.9375% 75.390625% 47.65625%);
    --palColormap66-72: rgb(85.546875% 75% 47.265625%);
    --palColormap66-73: rgb(85.546875% 74.609375% 46.875%);
    --palColormap66-74: rgb(85.15625% 74.21875% 46.484375%);
    --palColormap66-75: rgb(85.15625% 73.828125% 46.484375%);
    --palColormap66-76: rgb(84.765625% 73.4375% 46.09375%);
    --palColormap66-77: rgb(84.765625% 73.046875% 45.703125%);
    --palColormap66-78: rgb(84.375% 72.65625% 45.3125%);
    --palColormap66-79: rgb(84.375% 72.265625% 45.3125%);
    --palColormap66-80: rgb(83.984375% 71.875% 44.921875%);
    --palColormap66-81: rgb(83.984375% 71.484375% 44.53125%);
    --palColormap66-82: rgb(83.59375% 71.484375% 44.53125%);
    --palColormap66-83: rgb(83.59375% 71.09375% 44.140625%);
    --palColormap66-84: rgb(83.203125% 70.703125% 44.140625%);
    --palColormap66-85: rgb(83.203125% 70.3125% 43.75%);
    --palColormap66-86: rgb(82.8125% 69.921875% 43.75%);
    --palColormap66-87: rgb(82.8125% 69.53125% 43.359375%);
    --palColormap66-88: rgb(82.421875% 69.140625% 42.96875%);
    --palColormap66-89: rgb(82.421875% 69.140625% 42.96875%);
    --palColormap66-90: rgb(82.03125% 68.75% 42.578125%);
    --palColormap66-91: rgb(82.03125% 68.359375% 42.578125%);
    --palColormap66-92: rgb(81.640625% 67.96875% 42.1875%);
    --palColormap66-93: rgb(81.640625% 67.578125% 41.796875%);
    --palColormap66-94: rgb(81.25% 67.1875% 41.796875%);
    --palColormap66-95: rgb(81.25% 66.796875% 41.40625%);
    --palColormap66-96: rgb(80.859375% 66.796875% 41.40625%);
    --palColormap66-97: rgb(80.859375% 66.40625% 41.015625%);
    --palColormap66-98: rgb(80.46875% 66.015625% 40.625%);
    --palColormap66-99: rgb(80.46875% 65.625% 40.625%);
    --palColormap66-100: rgb(80.078125% 65.234375% 40.234375%);
    --palColormap66-101: rgb(80.078125% 64.84375% 40.234375%);
    --palColormap66-102: rgb(79.6875% 64.453125% 39.84375%);
    --palColormap66-103: rgb(79.6875% 64.453125% 39.84375%);
    --palColormap66-104: rgb(79.296875% 64.0625% 39.453125%);
    --palColormap66-105: rgb(79.296875% 63.671875% 39.0625%);
    --palColormap66-106: rgb(78.90625% 63.28125% 39.0625%);
    --palColormap66-107: rgb(78.90625% 62.890625% 38.671875%);
    --palColormap66-108: rgb(78.90625% 62.5% 38.671875%);
    --palColormap66-109: rgb(78.515625% 62.109375% 38.28125%);
    --palColormap66-110: rgb(78.515625% 61.71875% 38.28125%);
    --palColormap66-111: rgb(78.125% 61.71875% 37.890625%);
    --palColormap66-112: rgb(78.125% 61.328125% 37.890625%);
    --palColormap66-113: rgb(78.125% 60.9375% 37.5%);
    --palColormap66-114: rgb(77.734375% 60.546875% 37.5%);
    --palColormap66-115: rgb(77.734375% 60.15625% 37.109375%);
    --palColormap66-116: rgb(77.34375% 59.765625% 37.109375%);
    --palColormap66-117: rgb(77.34375% 59.375% 36.71875%);
    --palColormap66-118: rgb(77.34375% 59.375% 36.71875%);
    --palColormap66-119: rgb(76.953125% 58.984375% 36.328125%);
    --palColormap66-120: rgb(76.953125% 58.59375% 36.328125%);
    --palColormap66-121: rgb(76.5625% 58.203125% 35.9375%);
    --palColormap66-122: rgb(76.5625% 57.8125% 35.9375%);
    --palColormap66-123: rgb(76.5625% 57.421875% 35.546875%);
    --palColormap66-124: rgb(76.171875% 57.03125% 35.546875%);
    --palColormap66-125: rgb(76.171875% 57.03125% 35.15625%);
    --palColormap66-126: rgb(75.78125% 56.640625% 35.15625%);
    --palColormap66-127: rgb(75.78125% 56.25% 34.765625%);
    --palColormap66-128: rgb(75.78125% 55.859375% 34.765625%);
    --palColormap66-129: rgb(75.390625% 55.46875% 34.375%);
    --palColormap66-130: rgb(75% 55.078125% 33.984375%);
    --palColormap66-131: rgb(75% 54.6875% 33.984375%);
    --palColormap66-132: rgb(74.609375% 54.296875% 33.59375%);
    --palColormap66-133: rgb(74.21875% 53.90625% 33.203125%);
    --palColormap66-134: rgb(73.828125% 53.515625% 32.8125%);
    --palColormap66-135: rgb(73.4375% 53.125% 32.421875%);
    --palColormap66-136: rgb(73.4375% 52.734375% 32.421875%);
    --palColormap66-137: rgb(73.046875% 52.34375% 32.03125%);
    --palColormap66-138: rgb(72.65625% 51.953125% 31.640625%);
    --palColormap66-139: rgb(72.265625% 51.5625% 31.25%);
    --palColormap66-140: rgb(71.875% 51.171875% 30.859375%);
    --palColormap66-141: rgb(71.875% 50.78125% 30.859375%);
    --palColormap66-142: rgb(71.484375% 50.390625% 30.46875%);
    --palColormap66-143: rgb(71.09375% 50% 30.078125%);
    --palColormap66-144: rgb(71.09375% 49.609375% 30.078125%);
    --palColormap66-145: rgb(70.703125% 49.21875% 29.6875%);
    --palColormap66-146: rgb(70.703125% 48.828125% 29.296875%);
    --palColormap66-147: rgb(70.3125% 48.4375% 28.90625%);
    --palColormap66-148: rgb(69.921875% 48.046875% 28.90625%);
    --palColormap66-149: rgb(69.921875% 47.65625% 28.515625%);
    --palColormap66-150: rgb(69.53125% 47.265625% 28.125%);
    --palColormap66-151: rgb(69.140625% 46.875% 28.125%);
    --palColormap66-152: rgb(69.140625% 46.484375% 27.734375%);
    --palColormap66-153: rgb(68.75% 46.09375% 27.34375%);
    --palColormap66-154: rgb(68.359375% 45.703125% 27.34375%);
    --palColormap66-155: rgb(68.359375% 45.703125% 27.34375%);
    --palColormap66-156: rgb(67.96875% 45.3125% 27.34375%);
    --palColormap66-157: rgb(67.96875% 44.921875% 27.34375%);
    --palColormap66-158: rgb(67.578125% 44.921875% 27.34375%);
    --palColormap66-159: rgb(67.1875% 44.53125% 27.34375%);
    --palColormap66-160: rgb(67.1875% 44.140625% 27.34375%);
    --palColormap66-161: rgb(66.796875% 44.140625% 27.734375%);
    --palColormap66-162: rgb(66.40625% 43.75% 27.734375%);
    --palColormap66-163: rgb(66.40625% 43.359375% 27.734375%);
    --palColormap66-164: rgb(66.015625% 42.96875% 27.734375%);
    --palColormap66-165: rgb(66.015625% 42.96875% 27.734375%);
    --palColormap66-166: rgb(65.625% 42.578125% 27.734375%);
    --palColormap66-167: rgb(65.234375% 42.1875% 28.125%);
    --palColormap66-168: rgb(65.234375% 42.1875% 28.125%);
    --palColormap66-169: rgb(64.84375% 41.796875% 28.125%);
    --palColormap66-170: rgb(64.84375% 41.796875% 28.125%);
    --palColormap66-171: rgb(64.453125% 41.796875% 28.125%);
    --palColormap66-172: rgb(64.453125% 41.40625% 28.125%);
    --palColormap66-173: rgb(64.0625% 41.40625% 28.125%);
    --palColormap66-174: rgb(64.0625% 41.015625% 28.515625%);
    --palColormap66-175: rgb(63.671875% 41.015625% 28.515625%);
    --palColormap66-176: rgb(63.28125% 40.625% 28.515625%);
    --palColormap66-177: rgb(63.28125% 40.625% 28.515625%);
    --palColormap66-178: rgb(62.890625% 40.234375% 28.515625%);
    --palColormap66-179: rgb(62.890625% 40.234375% 28.515625%);
    --palColormap66-180: rgb(62.5% 39.84375% 28.90625%);
    --palColormap66-181: rgb(62.5% 39.84375% 28.90625%);
    --palColormap66-182: rgb(62.109375% 39.453125% 28.90625%);
    --palColormap66-183: rgb(61.71875% 39.453125% 28.90625%);
    --palColormap66-184: rgb(61.71875% 39.0625% 28.90625%);
    --palColormap66-185: rgb(61.328125% 39.0625% 28.90625%);
    --palColormap66-186: rgb(60.9375% 38.671875% 28.90625%);
    --palColormap66-187: rgb(60.9375% 38.671875% 28.90625%);
    --palColormap66-188: rgb(60.546875% 38.28125% 28.90625%);
    --palColormap66-189: rgb(60.546875% 38.28125% 28.90625%);
    --palColormap66-190: rgb(60.15625% 38.28125% 28.90625%);
    --palColormap66-191: rgb(59.765625% 37.890625% 28.90625%);
    --palColormap66-192: rgb(59.765625% 37.890625% 28.90625%);
    --palColormap66-193: rgb(59.375% 37.5% 28.90625%);
    --palColormap66-194: rgb(58.984375% 37.5% 28.90625%);
    --palColormap66-195: rgb(58.59375% 37.109375% 28.90625%);
    --palColormap66-196: rgb(58.203125% 36.71875% 28.90625%);
    --palColormap66-197: rgb(57.8125% 36.71875% 28.90625%);
    --palColormap66-198: rgb(57.421875% 36.328125% 28.90625%);
    --palColormap66-199: rgb(57.03125% 36.328125% 28.515625%);
    --palColormap66-200: rgb(56.640625% 35.9375% 28.515625%);
    --palColormap66-201: rgb(56.25% 35.9375% 28.515625%);
    --palColormap66-202: rgb(55.859375% 35.546875% 28.515625%);
    --palColormap66-203: rgb(55.46875% 35.546875% 28.515625%);
    --palColormap66-204: rgb(55.078125% 35.15625% 28.515625%);
    --palColormap66-205: rgb(54.6875% 34.765625% 28.515625%);
    --palColormap66-206: rgb(54.296875% 34.765625% 28.125%);
    --palColormap66-207: rgb(53.90625% 34.375% 28.125%);
    --palColormap66-208: rgb(53.515625% 34.375% 28.125%);
    --palColormap66-209: rgb(53.125% 33.984375% 28.125%);
    --palColormap66-210: rgb(53.125% 33.984375% 28.125%);
    --palColormap66-211: rgb(52.734375% 33.59375% 28.125%);
    --palColormap66-212: rgb(52.34375% 33.59375% 28.125%);
    --palColormap66-213: rgb(51.953125% 33.203125% 28.125%);
    --palColormap66-214: rgb(51.5625% 33.203125% 28.125%);
    --palColormap66-215: rgb(51.5625% 32.8125% 28.125%);
    --palColormap66-216: rgb(51.171875% 32.421875% 28.125%);
    --palColormap66-217: rgb(50.78125% 32.421875% 28.125%);
    --palColormap66-218: rgb(50.390625% 32.03125% 27.734375%);
    --palColormap66-219: rgb(50.390625% 32.03125% 27.734375%);
    --palColormap66-220: rgb(50% 31.640625% 27.734375%);
    --palColormap66-221: rgb(49.609375% 31.640625% 27.734375%);
    --palColormap66-222: rgb(49.21875% 31.25% 27.734375%);
    --palColormap66-223: rgb(48.828125% 31.25% 27.734375%);
    --palColormap66-224: rgb(48.828125% 31.25% 27.734375%);
    --palColormap66-225: rgb(48.4375% 30.859375% 27.34375%);
    --palColormap66-226: rgb(48.046875% 30.859375% 27.34375%);
    --palColormap66-227: rgb(47.65625% 30.46875% 27.34375%);
    --palColormap66-228: rgb(47.265625% 30.46875% 27.34375%);
    --palColormap66-229: rgb(47.265625% 30.078125% 27.34375%);
    --palColormap66-230: rgb(46.875% 30.078125% 27.34375%);
    --palColormap66-231: rgb(46.484375% 29.6875% 26.953125%);
    --palColormap66-232: rgb(46.09375% 29.6875% 26.953125%);
    --palColormap66-233: rgb(46.09375% 29.296875% 26.953125%);
    --palColormap66-234: rgb(45.703125% 29.296875% 26.953125%);
    --palColormap66-235: rgb(45.3125% 28.90625% 26.5625%);
    --palColormap66-236: rgb(44.921875% 28.515625% 26.5625%);
    --palColormap66-237: rgb(44.53125% 28.515625% 26.5625%);
    --palColormap66-238: rgb(44.53125% 28.125% 26.5625%);
    --palColormap66-239: rgb(44.140625% 28.125% 26.5625%);
    --palColormap66-240: rgb(43.75% 27.734375% 26.171875%);
    --palColormap66-241: rgb(43.359375% 27.734375% 26.171875%);
    --palColormap66-242: rgb(42.96875% 27.34375% 26.171875%);
    --palColormap66-243: rgb(42.96875% 27.34375% 26.171875%);
    --palColormap66-244: rgb(42.578125% 26.953125% 25.78125%);
    --palColormap66-245: rgb(42.1875% 26.953125% 25.78125%);
    --palColormap66-246: rgb(41.796875% 26.5625% 25.78125%);
    --palColormap66-247: rgb(41.40625% 26.5625% 25.390625%);
    --palColormap66-248: rgb(41.015625% 26.5625% 25.390625%);
    --palColormap66-249: rgb(40.625% 26.171875% 25.390625%);
    --palColormap66-250: rgb(40.234375% 26.171875% 25%);
    --palColormap66-251: rgb(39.84375% 25.78125% 25%);
    --palColormap66-252: rgb(39.453125% 25.78125% 25%);
    --palColormap66-253: rgb(39.0625% 25.78125% 24.609375%);
    --palColormap66-254: rgb(38.671875% 25.390625% 24.609375%);
    --palColormap66-255: rgb(38.28125% 25.390625% 24.609375%);
    --palColormap66-256: rgb(37.5% 25.390625% 24.609375%);
}
