/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palCopper-1: rgb(0% 0% 0%);
    --palCopper-2: rgb(0.4844% 0.3064% 0.1951%);
    --palCopper-3: rgb(0.9689% 0.6127% 0.3902%);
    --palCopper-4: rgb(1.4533% 0.9191% 0.5853%);
    --palCopper-5: rgb(1.9377% 1.2254% 0.7804%);
    --palCopper-6: rgb(2.4221% 1.5318% 0.9755%);
    --palCopper-7: rgb(2.9066% 1.8381% 1.1706%);
    --palCopper-8: rgb(3.391% 2.1445% 1.3657%);
    --palCopper-9: rgb(3.8754% 2.4508% 1.5608%);
    --palCopper-10: rgb(4.3599% 2.7572% 1.7559%);
    --palCopper-11: rgb(4.8443% 3.0635% 1.951%);
    --palCopper-12: rgb(5.3287% 3.3699% 2.1461%);
    --palCopper-13: rgb(5.8131% 3.6762% 2.3412%);
    --palCopper-14: rgb(6.2976% 3.9826% 2.5363%);
    --palCopper-15: rgb(6.782% 4.2889% 2.7314%);
    --palCopper-16: rgb(7.2664% 4.5953% 2.9265%);
    --palCopper-17: rgb(7.7509% 4.9016% 3.1216%);
    --palCopper-18: rgb(8.2353% 5.208% 3.3167%);
    --palCopper-19: rgb(8.7197% 5.5144% 3.5118%);
    --palCopper-20: rgb(9.2042% 5.8207% 3.7069%);
    --palCopper-21: rgb(9.6886% 6.1271% 3.902%);
    --palCopper-22: rgb(10.173% 6.4334% 4.0971%);
    --palCopper-23: rgb(10.6574% 6.7398% 4.2922%);
    --palCopper-24: rgb(11.1419% 7.0461% 4.4873%);
    --palCopper-25: rgb(11.6263% 7.3525% 4.6824%);
    --palCopper-26: rgb(12.1107% 7.6588% 4.8775%);
    --palCopper-27: rgb(12.5952% 7.9652% 5.0725%);
    --palCopper-28: rgb(13.0796% 8.2715% 5.2676%);
    --palCopper-29: rgb(13.564% 8.5779% 5.4627%);
    --palCopper-30: rgb(14.0484% 8.8842% 5.6578%);
    --palCopper-31: rgb(14.5329% 9.1906% 5.8529%);
    --palCopper-32: rgb(15.0173% 9.4969% 6.048%);
    --palCopper-33: rgb(15.5017% 9.8033% 6.2431%);
    --palCopper-34: rgb(15.9862% 10.1096% 6.4382%);
    --palCopper-35: rgb(16.4706% 10.416% 6.6333%);
    --palCopper-36: rgb(16.955% 10.7224% 6.8284%);
    --palCopper-37: rgb(17.4394% 11.0287% 7.0235%);
    --palCopper-38: rgb(17.9239% 11.3351% 7.2186%);
    --palCopper-39: rgb(18.4083% 11.6414% 7.4137%);
    --palCopper-40: rgb(18.8927% 11.9478% 7.6088%);
    --palCopper-41: rgb(19.3772% 12.2541% 7.8039%);
    --palCopper-42: rgb(19.8616% 12.5605% 7.999%);
    --palCopper-43: rgb(20.346% 12.8668% 8.1941%);
    --palCopper-44: rgb(20.8304% 13.1732% 8.3892%);
    --palCopper-45: rgb(21.3149% 13.4795% 8.5843%);
    --palCopper-46: rgb(21.7993% 13.7859% 8.7794%);
    --palCopper-47: rgb(22.2837% 14.0922% 8.9745%);
    --palCopper-48: rgb(22.7682% 14.3986% 9.1696%);
    --palCopper-49: rgb(23.2526% 14.7049% 9.3647%);
    --palCopper-50: rgb(23.737% 15.0113% 9.5598%);
    --palCopper-51: rgb(24.2214% 15.3176% 9.7549%);
    --palCopper-52: rgb(24.7059% 15.624% 9.95%);
    --palCopper-53: rgb(25.1903% 15.9304% 10.1451%);
    --palCopper-54: rgb(25.6747% 16.2367% 10.3402%);
    --palCopper-55: rgb(26.1592% 16.5431% 10.5353%);
    --palCopper-56: rgb(26.6436% 16.8494% 10.7304%);
    --palCopper-57: rgb(27.128% 17.1558% 10.9255%);
    --palCopper-58: rgb(27.6125% 17.4621% 11.1206%);
    --palCopper-59: rgb(28.0969% 17.7685% 11.3157%);
    --palCopper-60: rgb(28.5813% 18.0748% 11.5108%);
    --palCopper-61: rgb(29.0657% 18.3812% 11.7059%);
    --palCopper-62: rgb(29.5502% 18.6875% 11.901%);
    --palCopper-63: rgb(30.0346% 18.9939% 12.0961%);
    --palCopper-64: rgb(30.519% 19.3002% 12.2912%);
    --palCopper-65: rgb(31.0035% 19.6066% 12.4863%);
    --palCopper-66: rgb(31.4879% 19.9129% 12.6814%);
    --palCopper-67: rgb(31.9723% 20.2193% 12.8765%);
    --palCopper-68: rgb(32.4567% 20.5256% 13.0716%);
    --palCopper-69: rgb(32.9412% 20.832% 13.2667%);
    --palCopper-70: rgb(33.4256% 21.1384% 13.4618%);
    --palCopper-71: rgb(33.91% 21.4447% 13.6569%);
    --palCopper-72: rgb(34.3945% 21.7511% 13.852%);
    --palCopper-73: rgb(34.8789% 22.0574% 14.0471%);
    --palCopper-74: rgb(35.3633% 22.3638% 14.2422%);
    --palCopper-75: rgb(35.8477% 22.6701% 14.4373%);
    --palCopper-76: rgb(36.3322% 22.9765% 14.6324%);
    --palCopper-77: rgb(36.8166% 23.2828% 14.8275%);
    --palCopper-78: rgb(37.301% 23.5892% 15.0225%);
    --palCopper-79: rgb(37.7855% 23.8955% 15.2176%);
    --palCopper-80: rgb(38.2699% 24.2019% 15.4127%);
    --palCopper-81: rgb(38.7543% 24.5082% 15.6078%);
    --palCopper-82: rgb(39.2387% 24.8146% 15.8029%);
    --palCopper-83: rgb(39.7232% 25.1209% 15.998%);
    --palCopper-84: rgb(40.2076% 25.4273% 16.1931%);
    --palCopper-85: rgb(40.692% 25.7336% 16.3882%);
    --palCopper-86: rgb(41.1765% 26.04% 16.5833%);
    --palCopper-87: rgb(41.6609% 26.3464% 16.7784%);
    --palCopper-88: rgb(42.1453% 26.6527% 16.9735%);
    --palCopper-89: rgb(42.6297% 26.9591% 17.1686%);
    --palCopper-90: rgb(43.1142% 27.2654% 17.3637%);
    --palCopper-91: rgb(43.5986% 27.5718% 17.5588%);
    --palCopper-92: rgb(44.083% 27.8781% 17.7539%);
    --palCopper-93: rgb(44.5675% 28.1845% 17.949%);
    --palCopper-94: rgb(45.0519% 28.4908% 18.1441%);
    --palCopper-95: rgb(45.5363% 28.7972% 18.3392%);
    --palCopper-96: rgb(46.0208% 29.1035% 18.5343%);
    --palCopper-97: rgb(46.5052% 29.4099% 18.7294%);
    --palCopper-98: rgb(46.9896% 29.7162% 18.9245%);
    --palCopper-99: rgb(47.474% 30.0226% 19.1196%);
    --palCopper-100: rgb(47.9585% 30.3289% 19.3147%);
    --palCopper-101: rgb(48.4429% 30.6353% 19.5098%);
    --palCopper-102: rgb(48.9273% 30.9416% 19.7049%);
    --palCopper-103: rgb(49.4118% 31.248% 19.9%);
    --palCopper-104: rgb(49.8962% 31.5544% 20.0951%);
    --palCopper-105: rgb(50.3806% 31.8607% 20.2902%);
    --palCopper-106: rgb(50.865% 32.1671% 20.4853%);
    --palCopper-107: rgb(51.3495% 32.4734% 20.6804%);
    --palCopper-108: rgb(51.8339% 32.7798% 20.8755%);
    --palCopper-109: rgb(52.3183% 33.0861% 21.0706%);
    --palCopper-110: rgb(52.8028% 33.3925% 21.2657%);
    --palCopper-111: rgb(53.2872% 33.6988% 21.4608%);
    --palCopper-112: rgb(53.7716% 34.0052% 21.6559%);
    --palCopper-113: rgb(54.256% 34.3115% 21.851%);
    --palCopper-114: rgb(54.7405% 34.6179% 22.0461%);
    --palCopper-115: rgb(55.2249% 34.9242% 22.2412%);
    --palCopper-116: rgb(55.7093% 35.2306% 22.4363%);
    --palCopper-117: rgb(56.1938% 35.5369% 22.6314%);
    --palCopper-118: rgb(56.6782% 35.8433% 22.8265%);
    --palCopper-119: rgb(57.1626% 36.1496% 23.0216%);
    --palCopper-120: rgb(57.647% 36.456% 23.2167%);
    --palCopper-121: rgb(58.1315% 36.7624% 23.4118%);
    --palCopper-122: rgb(58.6159% 37.0687% 23.6069%);
    --palCopper-123: rgb(59.1003% 37.3751% 23.802%);
    --palCopper-124: rgb(59.5848% 37.6814% 23.9971%);
    --palCopper-125: rgb(60.0692% 37.9878% 24.1922%);
    --palCopper-126: rgb(60.5536% 38.2941% 24.3873%);
    --palCopper-127: rgb(61.038% 38.6005% 24.5824%);
    --palCopper-128: rgb(61.5225% 38.9068% 24.7775%);
    --palCopper-129: rgb(62.0069% 39.2132% 24.9725%);
    --palCopper-130: rgb(62.4913% 39.5195% 25.1676%);
    --palCopper-131: rgb(62.9758% 39.8259% 25.3627%);
    --palCopper-132: rgb(63.4602% 40.1322% 25.5578%);
    --palCopper-133: rgb(63.9446% 40.4386% 25.7529%);
    --palCopper-134: rgb(64.4291% 40.7449% 25.948%);
    --palCopper-135: rgb(64.9135% 41.0513% 26.1431%);
    --palCopper-136: rgb(65.3979% 41.3576% 26.3382%);
    --palCopper-137: rgb(65.8823% 41.664% 26.5333%);
    --palCopper-138: rgb(66.3668% 41.9704% 26.7284%);
    --palCopper-139: rgb(66.8512% 42.2767% 26.9235%);
    --palCopper-140: rgb(67.3356% 42.5831% 27.1186%);
    --palCopper-141: rgb(67.8201% 42.8894% 27.3137%);
    --palCopper-142: rgb(68.3045% 43.1958% 27.5088%);
    --palCopper-143: rgb(68.7889% 43.5021% 27.7039%);
    --palCopper-144: rgb(69.2733% 43.8085% 27.899%);
    --palCopper-145: rgb(69.7578% 44.1148% 28.0941%);
    --palCopper-146: rgb(70.2422% 44.4212% 28.2892%);
    --palCopper-147: rgb(70.7266% 44.7275% 28.4843%);
    --palCopper-148: rgb(71.2111% 45.0339% 28.6794%);
    --palCopper-149: rgb(71.6955% 45.3402% 28.8745%);
    --palCopper-150: rgb(72.1799% 45.6466% 29.0696%);
    --palCopper-151: rgb(72.6643% 45.9529% 29.2647%);
    --palCopper-152: rgb(73.1488% 46.2593% 29.4598%);
    --palCopper-153: rgb(73.6332% 46.5656% 29.6549%);
    --palCopper-154: rgb(74.1176% 46.872% 29.85%);
    --palCopper-155: rgb(74.6021% 47.1784% 30.0451%);
    --palCopper-156: rgb(75.0865% 47.4847% 30.2402%);
    --palCopper-157: rgb(75.5709% 47.7911% 30.4353%);
    --palCopper-158: rgb(76.0553% 48.0974% 30.6304%);
    --palCopper-159: rgb(76.5398% 48.4038% 30.8255%);
    --palCopper-160: rgb(77.0242% 48.7101% 31.0206%);
    --palCopper-161: rgb(77.5086% 49.0165% 31.2157%);
    --palCopper-162: rgb(77.9931% 49.3228% 31.4108%);
    --palCopper-163: rgb(78.4775% 49.6292% 31.6059%);
    --palCopper-164: rgb(78.9619% 49.9355% 31.801%);
    --palCopper-165: rgb(79.4463% 50.2419% 31.9961%);
    --palCopper-166: rgb(79.9308% 50.5482% 32.1912%);
    --palCopper-167: rgb(80.4152% 50.8546% 32.3863%);
    --palCopper-168: rgb(80.8996% 51.1609% 32.5814%);
    --palCopper-169: rgb(81.3841% 51.4673% 32.7765%);
    --palCopper-170: rgb(81.8685% 51.7736% 32.9716%);
    --palCopper-171: rgb(82.3529% 52.08% 33.1667%);
    --palCopper-172: rgb(82.8374% 52.3864% 33.3618%);
    --palCopper-173: rgb(83.3218% 52.6927% 33.5569%);
    --palCopper-174: rgb(83.8062% 52.9991% 33.752%);
    --palCopper-175: rgb(84.2906% 53.3054% 33.9471%);
    --palCopper-176: rgb(84.7751% 53.6118% 34.1422%);
    --palCopper-177: rgb(85.2595% 53.9181% 34.3373%);
    --palCopper-178: rgb(85.7439% 54.2245% 34.5324%);
    --palCopper-179: rgb(86.2284% 54.5308% 34.7275%);
    --palCopper-180: rgb(86.7128% 54.8372% 34.9225%);
    --palCopper-181: rgb(87.1972% 55.1435% 35.1176%);
    --palCopper-182: rgb(87.6816% 55.4499% 35.3127%);
    --palCopper-183: rgb(88.1661% 55.7562% 35.5078%);
    --palCopper-184: rgb(88.6505% 56.0626% 35.7029%);
    --palCopper-185: rgb(89.1349% 56.3689% 35.898%);
    --palCopper-186: rgb(89.6194% 56.6753% 36.0931%);
    --palCopper-187: rgb(90.1038% 56.9816% 36.2882%);
    --palCopper-188: rgb(90.5882% 57.288% 36.4833%);
    --palCopper-189: rgb(91.0726% 57.5944% 36.6784%);
    --palCopper-190: rgb(91.5571% 57.9007% 36.8735%);
    --palCopper-191: rgb(92.0415% 58.2071% 37.0686%);
    --palCopper-192: rgb(92.5259% 58.5134% 37.2637%);
    --palCopper-193: rgb(93.0104% 58.8198% 37.4588%);
    --palCopper-194: rgb(93.4948% 59.1261% 37.6539%);
    --palCopper-195: rgb(93.9792% 59.4325% 37.849%);
    --palCopper-196: rgb(94.4636% 59.7388% 38.0441%);
    --palCopper-197: rgb(94.9481% 60.0452% 38.2392%);
    --palCopper-198: rgb(95.4325% 60.3515% 38.4343%);
    --palCopper-199: rgb(95.9169% 60.6579% 38.6294%);
    --palCopper-200: rgb(96.4014% 60.9642% 38.8245%);
    --palCopper-201: rgb(96.8858% 61.2706% 39.0196%);
    --palCopper-202: rgb(97.3702% 61.5769% 39.2147%);
    --palCopper-203: rgb(97.8546% 61.8833% 39.4098%);
    --palCopper-204: rgb(98.3391% 62.1896% 39.6049%);
    --palCopper-205: rgb(98.8235% 62.496% 39.8%);
    --palCopper-206: rgb(99.3079% 62.8024% 39.9951%);
    --palCopper-207: rgb(99.7924% 63.1087% 40.1902%);
    --palCopper-208: rgb(100% 63.4151% 40.3853%);
    --palCopper-209: rgb(100% 63.7214% 40.5804%);
    --palCopper-210: rgb(100% 64.0278% 40.7755%);
    --palCopper-211: rgb(100% 64.3341% 40.9706%);
    --palCopper-212: rgb(100% 64.6405% 41.1657%);
    --palCopper-213: rgb(100% 64.9468% 41.3608%);
    --palCopper-214: rgb(100% 65.2532% 41.5559%);
    --palCopper-215: rgb(100% 65.5595% 41.751%);
    --palCopper-216: rgb(100% 65.8659% 41.9461%);
    --palCopper-217: rgb(100% 66.1722% 42.1412%);
    --palCopper-218: rgb(100% 66.4786% 42.3363%);
    --palCopper-219: rgb(100% 66.7849% 42.5314%);
    --palCopper-220: rgb(100% 67.0913% 42.7265%);
    --palCopper-221: rgb(100% 67.3976% 42.9216%);
    --palCopper-222: rgb(100% 67.704% 43.1167%);
    --palCopper-223: rgb(100% 68.0104% 43.3118%);
    --palCopper-224: rgb(100% 68.3167% 43.5069%);
    --palCopper-225: rgb(100% 68.6231% 43.702%);
    --palCopper-226: rgb(100% 68.9294% 43.8971%);
    --palCopper-227: rgb(100% 69.2358% 44.0922%);
    --palCopper-228: rgb(100% 69.5421% 44.2873%);
    --palCopper-229: rgb(100% 69.8485% 44.4824%);
    --palCopper-230: rgb(100% 70.1548% 44.6775%);
    --palCopper-231: rgb(100% 70.4612% 44.8725%);
    --palCopper-232: rgb(100% 70.7675% 45.0676%);
    --palCopper-233: rgb(100% 71.0739% 45.2627%);
    --palCopper-234: rgb(100% 71.3802% 45.4578%);
    --palCopper-235: rgb(100% 71.6866% 45.6529%);
    --palCopper-236: rgb(100% 71.9929% 45.848%);
    --palCopper-237: rgb(100% 72.2993% 46.0431%);
    --palCopper-238: rgb(100% 72.6056% 46.2382%);
    --palCopper-239: rgb(100% 72.912% 46.4333%);
    --palCopper-240: rgb(100% 73.2184% 46.6284%);
    --palCopper-241: rgb(100% 73.5247% 46.8235%);
    --palCopper-242: rgb(100% 73.8311% 47.0186%);
    --palCopper-243: rgb(100% 74.1374% 47.2137%);
    --palCopper-244: rgb(100% 74.4438% 47.4088%);
    --palCopper-245: rgb(100% 74.7501% 47.6039%);
    --palCopper-246: rgb(100% 75.0565% 47.799%);
    --palCopper-247: rgb(100% 75.3628% 47.9941%);
    --palCopper-248: rgb(100% 75.6692% 48.1892%);
    --palCopper-249: rgb(100% 75.9755% 48.3843%);
    --palCopper-250: rgb(100% 76.2819% 48.5794%);
    --palCopper-251: rgb(100% 76.5882% 48.7745%);
    --palCopper-252: rgb(100% 76.8946% 48.9696%);
    --palCopper-253: rgb(100% 77.2009% 49.1647%);
    --palCopper-254: rgb(100% 77.5073% 49.3598%);
    --palCopper-255: rgb(100% 77.8136% 49.5549%);
    --palCopper-256: rgb(100% 78.12% 49.75%);
}
