/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palCorkO-1: rgb(24.651% 24.352% 22.92%);
    --palCorkO-2: rgb(24.607% 24.243% 23.232%);
    --palCorkO-3: rgb(24.564% 24.145% 23.554%);
    --palCorkO-4: rgb(24.522% 24.052% 23.883%);
    --palCorkO-5: rgb(24.481% 23.974% 24.225%);
    --palCorkO-6: rgb(24.441% 23.905% 24.576%);
    --palCorkO-7: rgb(24.402% 23.847% 24.94%);
    --palCorkO-8: rgb(24.365% 23.802% 25.316%);
    --palCorkO-9: rgb(24.329% 23.769% 25.703%);
    --palCorkO-10: rgb(24.295% 23.749% 26.102%);
    --palCorkO-11: rgb(24.264% 23.741% 26.513%);
    --palCorkO-12: rgb(24.235% 23.747% 26.94%);
    --palCorkO-13: rgb(24.209% 23.767% 27.379%);
    --palCorkO-14: rgb(24.185% 23.802% 27.831%);
    --palCorkO-15: rgb(24.164% 23.852% 28.299%);
    --palCorkO-16: rgb(24.147% 23.921% 28.78%);
    --palCorkO-17: rgb(24.133% 24.005% 29.278%);
    --palCorkO-18: rgb(24.123% 24.109% 29.791%);
    --palCorkO-19: rgb(24.118% 24.229% 30.319%);
    --palCorkO-20: rgb(24.118% 24.368% 30.866%);
    --palCorkO-21: rgb(24.123% 24.527% 31.425%);
    --palCorkO-22: rgb(24.135% 24.707% 32.003%);
    --palCorkO-23: rgb(24.152% 24.906% 32.594%);
    --palCorkO-24: rgb(24.176% 25.127% 33.205%);
    --palCorkO-25: rgb(24.207% 25.367% 33.828%);
    --palCorkO-26: rgb(24.246% 25.627% 34.469%);
    --palCorkO-27: rgb(24.293% 25.913% 35.124%);
    --palCorkO-28: rgb(24.35% 26.218% 35.795%);
    --palCorkO-29: rgb(24.417% 26.544% 36.478%);
    --palCorkO-30: rgb(24.494% 26.895% 37.175%);
    --palCorkO-31: rgb(24.582% 27.263% 37.886%);
    --palCorkO-32: rgb(24.683% 27.657% 38.607%);
    --palCorkO-33: rgb(24.797% 28.067% 39.341%);
    --palCorkO-34: rgb(24.921% 28.501% 40.086%);
    --palCorkO-35: rgb(25.059% 28.956% 40.836%);
    --palCorkO-36: rgb(25.214% 29.428% 41.596%);
    --palCorkO-37: rgb(25.383% 29.922% 42.362%);
    --palCorkO-38: rgb(25.567% 30.432% 43.135%);
    --palCorkO-39: rgb(25.767% 30.961% 43.909%);
    --palCorkO-40: rgb(25.986% 31.504% 44.689%);
    --palCorkO-41: rgb(26.221% 32.066% 45.47%);
    --palCorkO-42: rgb(26.473% 32.639% 46.249%);
    --palCorkO-43: rgb(26.743% 33.23% 47.031%);
    --palCorkO-44: rgb(27.036% 33.831% 47.809%);
    --palCorkO-45: rgb(27.343% 34.444% 48.584%);
    --palCorkO-46: rgb(27.67% 35.071% 49.355%);
    --palCorkO-47: rgb(28.015% 35.705% 50.123%);
    --palCorkO-48: rgb(28.38% 36.348% 50.884%);
    --palCorkO-49: rgb(28.763% 36.999% 51.637%);
    --palCorkO-50: rgb(29.167% 37.659% 52.384%);
    --palCorkO-51: rgb(29.586% 38.324% 53.123%);
    --palCorkO-52: rgb(30.024% 38.994% 53.854%);
    --palCorkO-53: rgb(30.48% 39.669% 54.575%);
    --palCorkO-54: rgb(30.955% 40.349% 55.287%);
    --palCorkO-55: rgb(31.442% 41.032% 55.989%);
    --palCorkO-56: rgb(31.949% 41.717% 56.681%);
    --palCorkO-57: rgb(32.469% 42.404% 57.363%);
    --palCorkO-58: rgb(33.007% 43.093% 58.034%);
    --palCorkO-59: rgb(33.558% 43.784% 58.695%);
    --palCorkO-60: rgb(34.122% 44.474% 59.345%);
    --palCorkO-61: rgb(34.7% 45.164% 59.985%);
    --palCorkO-62: rgb(35.29% 45.854% 60.614%);
    --palCorkO-63: rgb(35.891% 46.544% 61.233%);
    --palCorkO-64: rgb(36.505% 47.234% 61.843%);
    --palCorkO-65: rgb(37.128% 47.923% 62.442%);
    --palCorkO-66: rgb(37.763% 48.609% 63.031%);
    --palCorkO-67: rgb(38.406% 49.295% 63.61%);
    --palCorkO-68: rgb(39.058% 49.979% 64.179%);
    --palCorkO-69: rgb(39.718% 50.662% 64.739%);
    --palCorkO-70: rgb(40.387% 51.343% 65.289%);
    --palCorkO-71: rgb(41.063% 52.021% 65.831%);
    --palCorkO-72: rgb(41.745% 52.699% 66.363%);
    --palCorkO-73: rgb(42.432% 53.373% 66.887%);
    --palCorkO-74: rgb(43.126% 54.046% 67.401%);
    --palCorkO-75: rgb(43.824% 54.716% 67.907%);
    --palCorkO-76: rgb(44.526% 55.384% 68.404%);
    --palCorkO-77: rgb(45.234% 56.05% 68.893%);
    --palCorkO-78: rgb(45.943% 56.714% 69.372%);
    --palCorkO-79: rgb(46.656% 57.374% 69.844%);
    --palCorkO-80: rgb(47.37% 58.032% 70.307%);
    --palCorkO-81: rgb(48.087% 58.686% 70.761%);
    --palCorkO-82: rgb(48.806% 59.339% 71.206%);
    --palCorkO-83: rgb(49.525% 59.988% 71.643%);
    --palCorkO-84: rgb(50.243% 60.634% 72.069%);
    --palCorkO-85: rgb(50.961% 61.277% 72.487%);
    --palCorkO-86: rgb(51.679% 61.917% 72.895%);
    --palCorkO-87: rgb(52.394% 62.553% 73.294%);
    --palCorkO-88: rgb(53.106% 63.185% 73.681%);
    --palCorkO-89: rgb(53.817% 63.813% 74.059%);
    --palCorkO-90: rgb(54.522% 64.436% 74.425%);
    --palCorkO-91: rgb(55.224% 65.056% 74.781%);
    --palCorkO-92: rgb(55.919% 65.671% 75.124%);
    --palCorkO-93: rgb(56.609% 66.28% 75.455%);
    --palCorkO-94: rgb(57.292% 66.883% 75.772%);
    --palCorkO-95: rgb(57.967% 67.48% 76.076%);
    --palCorkO-96: rgb(58.632% 68.071% 76.366%);
    --palCorkO-97: rgb(59.289% 68.655% 76.641%);
    --palCorkO-98: rgb(59.934% 69.232% 76.9%);
    --palCorkO-99: rgb(60.566% 69.8% 77.143%);
    --palCorkO-100: rgb(61.187% 70.36% 77.368%);
    --palCorkO-101: rgb(61.793% 70.911% 77.576%);
    --palCorkO-102: rgb(62.384% 71.45% 77.766%);
    --palCorkO-103: rgb(62.958% 71.98% 77.935%);
    --palCorkO-104: rgb(63.514% 72.498% 78.084%);
    --palCorkO-105: rgb(64.052% 73.004% 78.213%);
    --palCorkO-106: rgb(64.568% 73.497% 78.319%);
    --palCorkO-107: rgb(65.064% 73.976% 78.403%);
    --palCorkO-108: rgb(65.536% 74.439% 78.463%);
    --palCorkO-109: rgb(65.985% 74.887% 78.499%);
    --palCorkO-110: rgb(66.407% 75.319% 78.511%);
    --palCorkO-111: rgb(66.804% 75.733% 78.497%);
    --palCorkO-112: rgb(67.172% 76.129% 78.457%);
    --palCorkO-113: rgb(67.512% 76.506% 78.39%);
    --palCorkO-114: rgb(67.822% 76.862% 78.296%);
    --palCorkO-115: rgb(68.1% 77.199% 78.176%);
    --palCorkO-116: rgb(68.348% 77.513% 78.028%);
    --palCorkO-117: rgb(68.563% 77.806% 77.853%);
    --palCorkO-118: rgb(68.744% 78.075% 77.65%);
    --palCorkO-119: rgb(68.892% 78.321% 77.419%);
    --palCorkO-120: rgb(69.005% 78.543% 77.162%);
    --palCorkO-121: rgb(69.084% 78.74% 76.877%);
    --palCorkO-122: rgb(69.128% 78.913% 76.566%);
    --palCorkO-123: rgb(69.138% 79.061% 76.228%);
    --palCorkO-124: rgb(69.113% 79.184% 75.865%);
    --palCorkO-125: rgb(69.054% 79.281% 75.476%);
    --palCorkO-126: rgb(68.962% 79.354% 75.063%);
    --palCorkO-127: rgb(68.836% 79.401% 74.626%);
    --palCorkO-128: rgb(68.676% 79.423% 74.166%);
    --palCorkO-129: rgb(68.485% 79.42% 73.685%);
    --palCorkO-130: rgb(68.262% 79.393% 73.183%);
    --palCorkO-131: rgb(68.008% 79.342% 72.66%);
    --palCorkO-132: rgb(67.727% 79.267% 72.118%);
    --palCorkO-133: rgb(67.415% 79.169% 71.559%);
    --palCorkO-134: rgb(67.077% 79.049% 70.981%);
    --palCorkO-135: rgb(66.712% 78.907% 70.387%);
    --palCorkO-136: rgb(66.324% 78.743% 69.778%);
    --palCorkO-137: rgb(65.91% 78.559% 69.154%);
    --palCorkO-138: rgb(65.474% 78.355% 68.517%);
    --palCorkO-139: rgb(65.017% 78.131% 67.867%);
    --palCorkO-140: rgb(64.539% 77.888% 67.205%);
    --palCorkO-141: rgb(64.043% 77.628% 66.532%);
    --palCorkO-142: rgb(63.528% 77.35% 65.848%);
    --palCorkO-143: rgb(62.998% 77.056% 65.155%);
    --palCorkO-144: rgb(62.451% 76.745% 64.451%);
    --palCorkO-145: rgb(61.891% 76.419% 63.74%);
    --palCorkO-146: rgb(61.315% 76.078% 63.02%);
    --palCorkO-147: rgb(60.73% 75.722% 62.293%);
    --palCorkO-148: rgb(60.131% 75.352% 61.558%);
    --palCorkO-149: rgb(59.523% 74.969% 60.817%);
    --palCorkO-150: rgb(58.904% 74.573% 60.069%);
    --palCorkO-151: rgb(58.278% 74.164% 59.315%);
    --palCorkO-152: rgb(57.645% 73.743% 58.556%);
    --palCorkO-153: rgb(57.002% 73.311% 57.79%);
    --palCorkO-154: rgb(56.356% 72.866% 57.02%);
    --palCorkO-155: rgb(55.703% 72.411% 56.246%);
    --palCorkO-156: rgb(55.045% 71.944% 55.465%);
    --palCorkO-157: rgb(54.383% 71.466% 54.681%);
    --palCorkO-158: rgb(53.719% 70.979% 53.892%);
    --palCorkO-159: rgb(53.051% 70.48% 53.099%);
    --palCorkO-160: rgb(52.381% 69.972% 52.302%);
    --palCorkO-161: rgb(51.71% 69.453% 51.501%);
    --palCorkO-162: rgb(51.038% 68.926% 50.697%);
    --palCorkO-163: rgb(50.366% 68.387% 49.89%);
    --palCorkO-164: rgb(49.694% 67.84% 49.08%);
    --palCorkO-165: rgb(49.024% 67.284% 48.266%);
    --palCorkO-166: rgb(48.354% 66.717% 47.451%);
    --palCorkO-167: rgb(47.688% 66.142% 46.632%);
    --palCorkO-168: rgb(47.024% 65.557% 45.813%);
    --palCorkO-169: rgb(46.363% 64.965% 44.992%);
    --palCorkO-170: rgb(45.706% 64.362% 44.17%);
    --palCorkO-171: rgb(45.054% 63.752% 43.346%);
    --palCorkO-172: rgb(44.407% 63.134% 42.525%);
    --palCorkO-173: rgb(43.766% 62.507% 41.702%);
    --palCorkO-174: rgb(43.13% 61.874% 40.881%);
    --palCorkO-175: rgb(42.502% 61.231% 40.062%);
    --palCorkO-176: rgb(41.88% 60.582% 39.243%);
    --palCorkO-177: rgb(41.269% 59.928% 38.429%);
    --palCorkO-178: rgb(40.664% 59.266% 37.62%);
    --palCorkO-179: rgb(40.07% 58.599% 36.814%);
    --palCorkO-180: rgb(39.484% 57.926% 36.013%);
    --palCorkO-181: rgb(38.91% 57.248% 35.219%);
    --palCorkO-182: rgb(38.347% 56.565% 34.432%);
    --palCorkO-183: rgb(37.794% 55.879% 33.653%);
    --palCorkO-184: rgb(37.254% 55.192% 32.885%);
    --palCorkO-185: rgb(36.726% 54.5% 32.125%);
    --palCorkO-186: rgb(36.212% 53.808% 31.377%);
    --palCorkO-187: rgb(35.711% 53.113% 30.642%);
    --palCorkO-188: rgb(35.222% 52.419% 29.918%);
    --palCorkO-189: rgb(34.75% 51.725% 29.209%);
    --palCorkO-190: rgb(34.29% 51.032% 28.513%);
    --palCorkO-191: rgb(33.844% 50.341% 27.837%);
    --palCorkO-192: rgb(33.415% 49.653% 27.174%);
    --palCorkO-193: rgb(33% 48.969% 26.533%);
    --palCorkO-194: rgb(32.598% 48.289% 25.91%);
    --palCorkO-195: rgb(32.214% 47.614% 25.304%);
    --palCorkO-196: rgb(31.843% 46.946% 24.719%);
    --palCorkO-197: rgb(31.487% 46.281% 24.156%);
    --palCorkO-198: rgb(31.147% 45.626% 23.614%);
    --palCorkO-199: rgb(30.822% 44.978% 23.093%);
    --palCorkO-200: rgb(30.511% 44.338% 22.597%);
    --palCorkO-201: rgb(30.213% 43.708% 22.122%);
    --palCorkO-202: rgb(29.932% 43.086% 21.671%);
    --palCorkO-203: rgb(29.663% 42.474% 21.242%);
    --palCorkO-204: rgb(29.405% 41.872% 20.837%);
    --palCorkO-205: rgb(29.164% 41.283% 20.457%);
    --palCorkO-206: rgb(28.934% 40.702% 20.097%);
    --palCorkO-207: rgb(28.714% 40.134% 19.765%);
    --palCorkO-208: rgb(28.507% 39.577% 19.457%);
    --palCorkO-209: rgb(28.314% 39.03% 19.167%);
    --palCorkO-210: rgb(28.128% 38.496% 18.903%);
    --palCorkO-211: rgb(27.955% 37.974% 18.661%);
    --palCorkO-212: rgb(27.79% 37.465% 18.441%);
    --palCorkO-213: rgb(27.636% 36.966% 18.241%);
    --palCorkO-214: rgb(27.487% 36.479% 18.063%);
    --palCorkO-215: rgb(27.351% 36.004% 17.908%);
    --palCorkO-216: rgb(27.218% 35.543% 17.773%);
    --palCorkO-217: rgb(27.097% 35.091% 17.651%);
    --palCorkO-218: rgb(26.982% 34.649% 17.553%);
    --palCorkO-219: rgb(26.872% 34.221% 17.474%);
    --palCorkO-220: rgb(26.766% 33.802% 17.409%);
    --palCorkO-221: rgb(26.67% 33.396% 17.361%);
    --palCorkO-222: rgb(26.578% 32.999% 17.33%);
    --palCorkO-223: rgb(26.489% 32.611% 17.314%);
    --palCorkO-224: rgb(26.408% 32.237% 17.313%);
    --palCorkO-225: rgb(26.329% 31.87% 17.327%);
    --palCorkO-226: rgb(26.252% 31.513% 17.354%);
    --palCorkO-227: rgb(26.18% 31.165% 17.394%);
    --palCorkO-228: rgb(26.111% 30.827% 17.448%);
    --palCorkO-229: rgb(26.046% 30.499% 17.512%);
    --palCorkO-230: rgb(25.983% 30.177% 17.584%);
    --palCorkO-231: rgb(25.922% 29.866% 17.672%);
    --palCorkO-232: rgb(25.862% 29.562% 17.773%);
    --palCorkO-233: rgb(25.804% 29.267% 17.879%);
    --palCorkO-234: rgb(25.749% 28.979% 17.994%);
    --palCorkO-235: rgb(25.696% 28.698% 18.119%);
    --palCorkO-236: rgb(25.642% 28.427% 18.254%);
    --palCorkO-237: rgb(25.59% 28.162% 18.4%);
    --palCorkO-238: rgb(25.541% 27.906% 18.555%);
    --palCorkO-239: rgb(25.492% 27.655% 18.714%);
    --palCorkO-240: rgb(25.442% 27.411% 18.883%);
    --palCorkO-241: rgb(25.393% 27.173% 19.058%);
    --palCorkO-242: rgb(25.345% 26.946% 19.242%);
    --palCorkO-243: rgb(25.297% 26.72% 19.437%);
    --palCorkO-244: rgb(25.25% 26.505% 19.635%);
    --palCorkO-245: rgb(25.203% 26.297% 19.839%);
    --palCorkO-246: rgb(25.156% 26.095% 20.052%);
    --palCorkO-247: rgb(25.109% 25.9% 20.275%);
    --palCorkO-248: rgb(25.061% 25.711% 20.504%);
    --palCorkO-249: rgb(25.014% 25.531% 20.742%);
    --palCorkO-250: rgb(24.968% 25.356% 20.985%);
    --palCorkO-251: rgb(24.923% 25.19% 21.238%);
    --palCorkO-252: rgb(24.878% 25.028% 21.495%);
    --palCorkO-253: rgb(24.833% 24.879% 21.765%);
    --palCorkO-254: rgb(24.787% 24.734% 22.042%);
    --palCorkO-255: rgb(24.741% 24.598% 22.326%);
    --palCorkO-256: rgb(24.696% 24.47% 22.62%);
}
