/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palCork-1: rgb(17.09% 9.9347% 29.895%);
    --palCork-2: rgb(17.083% 10.606% 30.528%);
    --palCork-3: rgb(17.066% 11.263% 31.159%);
    --palCork-4: rgb(17.041% 11.908% 31.789%);
    --palCork-5: rgb(17.008% 12.545% 32.416%);
    --palCork-6: rgb(16.97% 13.175% 33.04%);
    --palCork-7: rgb(16.925% 13.799% 33.66%);
    --palCork-8: rgb(16.872% 14.414% 34.279%);
    --palCork-9: rgb(16.814% 15.025% 34.892%);
    --palCork-10: rgb(16.757% 15.632% 35.505%);
    --palCork-11: rgb(16.696% 16.234% 36.112%);
    --palCork-12: rgb(16.629% 16.831% 36.719%);
    --palCork-13: rgb(16.559% 17.429% 37.324%);
    --palCork-14: rgb(16.491% 18.023% 37.928%);
    --palCork-15: rgb(16.425% 18.619% 38.529%);
    --palCork-16: rgb(16.354% 19.211% 39.132%);
    --palCork-17: rgb(16.282% 19.804% 39.731%);
    --palCork-18: rgb(16.212% 20.399% 40.331%);
    --palCork-19: rgb(16.142% 20.99% 40.93%);
    --palCork-20: rgb(16.068% 21.586% 41.529%);
    --palCork-21: rgb(15.998% 22.179% 42.127%);
    --palCork-22: rgb(15.934% 22.776% 42.728%);
    --palCork-23: rgb(15.874% 23.372% 43.326%);
    --palCork-24: rgb(15.814% 23.973% 43.926%);
    --palCork-25: rgb(15.759% 24.574% 44.527%);
    --palCork-26: rgb(15.712% 25.181% 45.129%);
    --palCork-27: rgb(15.676% 25.786% 45.73%);
    --palCork-28: rgb(15.65% 26.4% 46.333%);
    --palCork-29: rgb(15.636% 27.014% 46.938%);
    --palCork-30: rgb(15.637% 27.633% 47.541%);
    --palCork-31: rgb(15.656% 28.256% 48.144%);
    --palCork-32: rgb(15.696% 28.883% 48.748%);
    --palCork-33: rgb(15.763% 29.514% 49.349%);
    --palCork-34: rgb(15.862% 30.151% 49.95%);
    --palCork-35: rgb(15.986% 30.792% 50.55%);
    --palCork-36: rgb(16.156% 31.439% 51.147%);
    --palCork-37: rgb(16.358% 32.091% 51.741%);
    --palCork-38: rgb(16.599% 32.744% 52.329%);
    --palCork-39: rgb(16.889% 33.402% 52.912%);
    --palCork-40: rgb(17.217% 34.062% 53.488%);
    --palCork-41: rgb(17.591% 34.724% 54.058%);
    --palCork-42: rgb(18.011% 35.385% 54.62%);
    --palCork-43: rgb(18.474% 36.048% 55.173%);
    --palCork-44: rgb(18.975% 36.71% 55.716%);
    --palCork-45: rgb(19.515% 37.371% 56.25%);
    --palCork-46: rgb(20.087% 38.029% 56.772%);
    --palCork-47: rgb(20.696% 38.683% 57.286%);
    --palCork-48: rgb(21.327% 39.334% 57.787%);
    --palCork-49: rgb(21.986% 39.98% 58.28%);
    --palCork-50: rgb(22.664% 40.623% 58.762%);
    --palCork-51: rgb(23.356% 41.26% 59.236%);
    --palCork-52: rgb(24.064% 41.889% 59.699%);
    --palCork-53: rgb(24.786% 42.515% 60.154%);
    --palCork-54: rgb(25.514% 43.135% 60.6%);
    --palCork-55: rgb(26.247% 43.749% 61.04%);
    --palCork-56: rgb(26.987% 44.357% 61.472%);
    --palCork-57: rgb(27.729% 44.96% 61.9%);
    --palCork-58: rgb(28.472% 45.558% 62.321%);
    --palCork-59: rgb(29.219% 46.153% 62.738%);
    --palCork-60: rgb(29.967% 46.744% 63.152%);
    --palCork-61: rgb(30.716% 47.332% 63.562%);
    --palCork-62: rgb(31.467% 47.92% 63.971%);
    --palCork-63: rgb(32.223% 48.506% 64.378%);
    --palCork-64: rgb(32.982% 49.095% 64.786%);
    --palCork-65: rgb(33.744% 49.682% 65.195%);
    --palCork-66: rgb(34.511% 50.273% 65.604%);
    --palCork-67: rgb(35.284% 50.868% 66.015%);
    --palCork-68: rgb(36.062% 51.466% 66.429%);
    --palCork-69: rgb(36.849% 52.067% 66.846%);
    --palCork-70: rgb(37.642% 52.674% 67.266%);
    --palCork-71: rgb(38.441% 53.285% 67.689%);
    --palCork-72: rgb(39.249% 53.901% 68.115%);
    --palCork-73: rgb(40.065% 54.523% 68.546%);
    --palCork-74: rgb(40.886% 55.15% 68.98%);
    --palCork-75: rgb(41.717% 55.782% 69.417%);
    --palCork-76: rgb(42.553% 56.42% 69.859%);
    --palCork-77: rgb(43.397% 57.062% 70.304%);
    --palCork-78: rgb(44.251% 57.711% 70.753%);
    --palCork-79: rgb(45.11% 58.365% 71.206%);
    --palCork-80: rgb(45.977% 59.024% 71.663%);
    --palCork-81: rgb(46.851% 59.69% 72.122%);
    --palCork-82: rgb(47.733% 60.36% 72.587%);
    --palCork-83: rgb(48.621% 61.035% 73.054%);
    --palCork-84: rgb(49.518% 61.716% 73.526%);
    --palCork-85: rgb(50.422% 62.403% 74.001%);
    --palCork-86: rgb(51.332% 63.095% 74.479%);
    --palCork-87: rgb(52.249% 63.791% 74.961%);
    --palCork-88: rgb(53.174% 64.493% 75.448%);
    --palCork-89: rgb(54.105% 65.201% 75.937%);
    --palCork-90: rgb(55.045% 65.914% 76.431%);
    --palCork-91: rgb(55.991% 66.631% 76.928%);
    --palCork-92: rgb(56.942% 67.355% 77.428%);
    --palCork-93: rgb(57.903% 68.082% 77.932%);
    --palCork-94: rgb(58.868% 68.816% 78.44%);
    --palCork-95: rgb(59.841% 69.555% 78.951%);
    --palCork-96: rgb(60.822% 70.298% 79.465%);
    --palCork-97: rgb(61.808% 71.046% 79.983%);
    --palCork-98: rgb(62.801% 71.799% 80.504%);
    --palCork-99: rgb(63.799% 72.557% 81.028%);
    --palCork-100: rgb(64.804% 73.319% 81.556%);
    --palCork-101: rgb(65.816% 74.085% 82.086%);
    --palCork-102: rgb(66.833% 74.857% 82.619%);
    --palCork-103: rgb(67.856% 75.632% 83.156%);
    --palCork-104: rgb(68.885% 76.412% 83.695%);
    --palCork-105: rgb(69.917% 77.195% 84.236%);
    --palCork-106: rgb(70.957% 77.983% 84.779%);
    --palCork-107: rgb(72% 78.773% 85.323%);
    --palCork-108: rgb(73.047% 79.568% 85.869%);
    --palCork-109: rgb(74.097% 80.365% 86.416%);
    --palCork-110: rgb(75.152% 81.164% 86.962%);
    --palCork-111: rgb(76.207% 81.965% 87.507%);
    --palCork-112: rgb(77.263% 82.768% 88.049%);
    --palCork-113: rgb(78.319% 83.571% 88.586%);
    --palCork-114: rgb(79.373% 84.372% 89.116%);
    --palCork-115: rgb(80.42% 85.171% 89.637%);
    --palCork-116: rgb(81.458% 85.965% 90.143%);
    --palCork-117: rgb(82.483% 86.75% 90.632%);
    --palCork-118: rgb(83.489% 87.523% 91.097%);
    --palCork-119: rgb(84.468% 88.278% 91.532%);
    --palCork-120: rgb(85.411% 89.011% 91.93%);
    --palCork-121: rgb(86.308% 89.713% 92.282%);
    --palCork-122: rgb(87.146% 90.374% 92.58%);
    --palCork-123: rgb(87.912% 90.987% 92.813%);
    --palCork-124: rgb(88.593% 91.54% 92.975%);
    --palCork-125: rgb(89.175% 92.024% 93.056%);
    --palCork-126: rgb(89.648% 92.432% 93.05%);
    --palCork-127: rgb(90.002% 92.755% 92.953%);
    --palCork-128: rgb(90.23% 92.989% 92.762%);
    --palCork-129: rgb(90.331% 93.131% 92.477%);
    --palCork-130: rgb(90.304% 93.182% 92.102%);
    --palCork-131: rgb(90.154% 93.143% 91.641%);
    --palCork-132: rgb(89.887% 93.019% 91.101%);
    --palCork-133: rgb(89.513% 92.816% 90.491%);
    --palCork-134: rgb(89.043% 92.543% 89.819%);
    --palCork-135: rgb(88.488% 92.207% 89.095%);
    --palCork-136: rgb(87.861% 91.817% 88.329%);
    --palCork-137: rgb(87.172% 91.38% 87.526%);
    --palCork-138: rgb(86.432% 90.905% 86.695%);
    --palCork-139: rgb(85.649% 90.398% 85.841%);
    --palCork-140: rgb(84.833% 89.865% 84.969%);
    --palCork-141: rgb(83.989% 89.31% 84.081%);
    --palCork-142: rgb(83.122% 88.739% 83.181%);
    --palCork-143: rgb(82.237% 88.154% 82.27%);
    --palCork-144: rgb(81.337% 87.558% 81.351%);
    --palCork-145: rgb(80.425% 86.952% 80.425%);
    --palCork-146: rgb(79.503% 86.339% 79.491%);
    --palCork-147: rgb(78.573% 85.72% 78.553%);
    --palCork-148: rgb(77.636% 85.095% 77.609%);
    --palCork-149: rgb(76.692% 84.467% 76.661%);
    --palCork-150: rgb(75.744% 83.835% 75.709%);
    --palCork-151: rgb(74.792% 83.2% 74.754%);
    --palCork-152: rgb(73.835% 82.562% 73.794%);
    --palCork-153: rgb(72.875% 81.922% 72.832%);
    --palCork-154: rgb(71.913% 81.28% 71.868%);
    --palCork-155: rgb(70.949% 80.637% 70.902%);
    --palCork-156: rgb(69.982% 79.992% 69.932%);
    --palCork-157: rgb(69.014% 79.346% 68.963%);
    --palCork-158: rgb(68.045% 78.699% 67.991%);
    --palCork-159: rgb(67.076% 78.051% 67.02%);
    --palCork-160: rgb(66.105% 77.403% 66.047%);
    --palCork-161: rgb(65.136% 76.755% 65.075%);
    --palCork-162: rgb(64.165% 76.108% 64.102%);
    --palCork-163: rgb(63.196% 75.461% 63.131%);
    --palCork-164: rgb(62.228% 74.814% 62.16%);
    --palCork-165: rgb(61.261% 74.168% 61.191%);
    --palCork-166: rgb(60.296% 73.523% 60.223%);
    --palCork-167: rgb(59.333% 72.879% 59.258%);
    --palCork-168: rgb(58.372% 72.237% 58.294%);
    --palCork-169: rgb(57.413% 71.597% 57.334%);
    --palCork-170: rgb(56.459% 70.958% 56.376%);
    --palCork-171: rgb(55.507% 70.322% 55.421%);
    --palCork-172: rgb(54.559% 69.687% 54.47%);
    --palCork-173: rgb(53.615% 69.055% 53.523%);
    --palCork-174: rgb(52.675% 68.426% 52.58%);
    --palCork-175: rgb(51.739% 67.801% 51.64%);
    --palCork-176: rgb(50.808% 67.177% 50.706%);
    --palCork-177: rgb(49.881% 66.557% 49.777%);
    --palCork-178: rgb(48.958% 65.939% 48.851%);
    --palCork-179: rgb(48.042% 65.325% 47.931%);
    --palCork-180: rgb(47.132% 64.715% 47.017%);
    --palCork-181: rgb(46.225% 64.107% 46.106%);
    --palCork-182: rgb(45.325% 63.504% 45.203%);
    --palCork-183: rgb(44.431% 62.904% 44.304%);
    --palCork-184: rgb(43.542% 62.308% 43.41%);
    --palCork-185: rgb(42.658% 61.715% 42.524%);
    --palCork-186: rgb(41.781% 61.126% 41.642%);
    --palCork-187: rgb(40.909% 60.54% 40.766%);
    --palCork-188: rgb(40.045% 59.959% 39.896%);
    --palCork-189: rgb(39.185% 59.382% 39.032%);
    --palCork-190: rgb(38.333% 58.807% 38.175%);
    --palCork-191: rgb(37.486% 58.238% 37.323%);
    --palCork-192: rgb(36.646% 57.673% 36.477%);
    --palCork-193: rgb(35.812% 57.11% 35.639%);
    --palCork-194: rgb(34.985% 56.551% 34.805%);
    --palCork-195: rgb(34.163% 55.997% 33.978%);
    --palCork-196: rgb(33.348% 55.445% 33.154%);
    --palCork-197: rgb(32.537% 54.897% 32.338%);
    --palCork-198: rgb(31.734% 54.35% 31.527%);
    --palCork-199: rgb(30.936% 53.807% 30.719%);
    --palCork-200: rgb(30.139% 53.264% 29.917%);
    --palCork-201: rgb(29.348% 52.723% 29.117%);
    --palCork-202: rgb(28.56% 52.18% 28.319%);
    --palCork-203: rgb(27.776% 51.637% 27.523%);
    --palCork-204: rgb(26.992% 51.092% 26.726%);
    --palCork-205: rgb(26.208% 50.544% 25.934%);
    --palCork-206: rgb(25.426% 49.992% 25.139%);
    --palCork-207: rgb(24.641% 49.436% 24.34%);
    --palCork-208: rgb(23.859% 48.873% 23.547%);
    --palCork-209: rgb(23.078% 48.303% 22.75%);
    --palCork-210: rgb(22.299% 47.726% 21.955%);
    --palCork-211: rgb(21.519% 47.141% 21.162%);
    --palCork-212: rgb(20.746% 46.546% 20.371%);
    --palCork-213: rgb(19.975% 45.944% 19.583%);
    --palCork-214: rgb(19.216% 45.332% 18.805%);
    --palCork-215: rgb(18.466% 44.709% 18.029%);
    --palCork-216: rgb(17.728% 44.077% 17.267%);
    --palCork-217: rgb(17.004% 43.436% 16.516%);
    --palCork-218: rgb(16.299% 42.785% 15.783%);
    --palCork-219: rgb(15.615% 42.122% 15.065%);
    --palCork-220: rgb(14.954% 41.452% 14.367%);
    --palCork-221: rgb(14.319% 40.772% 13.688%);
    --palCork-222: rgb(13.715% 40.086% 13.037%);
    --palCork-223: rgb(13.142% 39.388% 12.401%);
    --palCork-224: rgb(12.604% 38.685% 11.8%);
    --palCork-225: rgb(12.094% 37.977% 11.224%);
    --palCork-226: rgb(11.631% 37.262% 10.676%);
    --palCork-227: rgb(11.197% 36.544% 10.148%);
    --palCork-228: rgb(10.795% 35.822% 9.6498%);
    --palCork-229: rgb(10.43% 35.097% 9.1908%);
    --palCork-230: rgb(10.099% 34.368% 8.7495%);
    --palCork-231: rgb(9.801% 33.639% 8.3276%);
    --palCork-232: rgb(9.526% 32.91% 7.9326%);
    --palCork-233: rgb(9.2688% 32.178% 7.5628%);
    --palCork-234: rgb(9.043% 31.448% 7.2139%);
    --palCork-235: rgb(8.8312% 30.718% 6.8912%);
    --palCork-236: rgb(8.6311% 29.989% 6.5708%);
    --palCork-237: rgb(8.4528% 29.261% 6.2804%);
    --palCork-238: rgb(8.2751% 28.534% 5.9986%);
    --palCork-239: rgb(8.1097% 27.811% 5.7227%);
    --palCork-240: rgb(7.9445% 27.09% 5.4671%);
    --palCork-241: rgb(7.7857% 26.37% 5.2231%);
    --palCork-242: rgb(7.6319% 25.652% 4.9974%);
    --palCork-243: rgb(7.4814% 24.938% 4.7724%);
    --palCork-244: rgb(7.3376% 24.228% 4.5555%);
    --palCork-245: rgb(7.1888% 23.523% 4.3204%);
    --palCork-246: rgb(7.0497% 22.82% 4.0881%);
    --palCork-247: rgb(6.9269% 22.122% 3.829%);
    --palCork-248: rgb(6.795% 21.428% 3.5663%);
    --palCork-249: rgb(6.6717% 20.739% 3.2729%);
    --palCork-250: rgb(6.5546% 20.053% 2.9942%);
    --palCork-251: rgb(6.4438% 19.379% 2.7099%);
    --palCork-252: rgb(6.3398% 18.707% 2.4191%);
    --palCork-253: rgb(6.2387% 18.039% 2.1213%);
    --palCork-254: rgb(6.1326% 17.38% 1.816%);
    --palCork-255: rgb(6.0486% 16.728% 1.5026%);
    --palCork-256: rgb(5.968% 16.077% 1.1816%);
}
