/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palDavos-1: rgb(0% 1.9685% 29.201%);
    --palDavos-2: rgb(0% 2.7123% 29.748%);
    --palDavos-3: rgb(0% 3.4324% 30.295%);
    --palDavos-4: rgb(0.076962% 4.1437% 30.847%);
    --palDavos-5: rgb(0.23129% 4.7559% 31.4%);
    --palDavos-6: rgb(0.43894% 5.3102% 31.954%);
    --palDavos-7: rgb(0.66067% 5.8541% 32.508%);
    --palDavos-8: rgb(0.88746% 6.3928% 33.063%);
    --palDavos-9: rgb(1.1304% 6.9327% 33.618%);
    --palDavos-10: rgb(1.3761% 7.4551% 34.174%);
    --palDavos-11: rgb(1.619% 7.9806% 34.73%);
    --palDavos-12: rgb(1.868% 8.5081% 35.284%);
    --palDavos-13: rgb(2.1233% 9.0352% 35.838%);
    --palDavos-14: rgb(2.3852% 9.5588% 36.391%);
    --palDavos-15: rgb(2.654% 10.079% 36.945%);
    --palDavos-16: rgb(2.9301% 10.606% 37.496%);
    --palDavos-17: rgb(3.2137% 11.127% 38.047%);
    --palDavos-18: rgb(3.5259% 11.648% 38.595%);
    --palDavos-19: rgb(3.825% 12.165% 39.144%);
    --palDavos-20: rgb(4.1347% 12.687% 39.688%);
    --palDavos-21: rgb(4.4338% 13.212% 40.232%);
    --palDavos-22: rgb(4.7327% 13.734% 40.774%);
    --palDavos-23: rgb(5.0291% 14.254% 41.314%);
    --palDavos-24: rgb(5.3198% 14.777% 41.85%);
    --palDavos-25: rgb(5.6204% 15.296% 42.383%);
    --palDavos-26: rgb(5.913% 15.821% 42.915%);
    --palDavos-27: rgb(6.198% 16.344% 43.442%);
    --palDavos-28: rgb(6.489% 16.864% 43.966%);
    --palDavos-29: rgb(6.7805% 17.386% 44.487%);
    --palDavos-30: rgb(7.0681% 17.908% 45.002%);
    --palDavos-31: rgb(7.3639% 18.43% 45.515%);
    --palDavos-32: rgb(7.6446% 18.952% 46.021%);
    --palDavos-33: rgb(7.937% 19.476% 46.524%);
    --palDavos-34: rgb(8.2366% 19.994% 47.023%);
    --palDavos-35: rgb(8.5246% 20.517% 47.517%);
    --palDavos-36: rgb(8.8241% 21.038% 48.004%);
    --palDavos-37: rgb(9.1235% 21.558% 48.485%);
    --palDavos-38: rgb(9.4218% 22.08% 48.961%);
    --palDavos-39: rgb(9.7192% 22.598% 49.432%);
    --palDavos-40: rgb(10.023% 23.115% 49.896%);
    --palDavos-41: rgb(10.333% 23.632% 50.353%);
    --palDavos-42: rgb(10.643% 24.147% 50.804%);
    --palDavos-43: rgb(10.953% 24.66% 51.247%);
    --palDavos-44: rgb(11.265% 25.175% 51.684%);
    --palDavos-45: rgb(11.58% 25.686% 52.112%);
    --palDavos-46: rgb(11.898% 26.195% 52.533%);
    --palDavos-47: rgb(12.214% 26.702% 52.947%);
    --palDavos-48: rgb(12.542% 27.208% 53.351%);
    --palDavos-49: rgb(12.867% 27.714% 53.749%);
    --palDavos-50: rgb(13.198% 28.216% 54.136%);
    --palDavos-51: rgb(13.53% 28.713% 54.517%);
    --palDavos-52: rgb(13.865% 29.211% 54.888%);
    --palDavos-53: rgb(14.202% 29.706% 55.25%);
    --palDavos-54: rgb(14.545% 30.195% 55.601%);
    --palDavos-55: rgb(14.883% 30.685% 55.945%);
    --palDavos-56: rgb(15.228% 31.168% 56.279%);
    --palDavos-57: rgb(15.579% 31.652% 56.602%);
    --palDavos-58: rgb(15.927% 32.13% 56.916%);
    --palDavos-59: rgb(16.281% 32.604% 57.221%);
    --palDavos-60: rgb(16.635% 33.076% 57.515%);
    --palDavos-61: rgb(16.993% 33.545% 57.799%);
    --palDavos-62: rgb(17.351% 34.008% 58.073%);
    --palDavos-63: rgb(17.713% 34.467% 58.337%);
    --palDavos-64: rgb(18.074% 34.923% 58.591%);
    --palDavos-65: rgb(18.441% 35.374% 58.833%);
    --palDavos-66: rgb(18.81% 35.821% 59.066%);
    --palDavos-67: rgb(19.176% 36.264% 59.289%);
    --palDavos-68: rgb(19.546% 36.702% 59.5%);
    --palDavos-69: rgb(19.916% 37.135% 59.702%);
    --palDavos-70: rgb(20.291% 37.564% 59.892%);
    --palDavos-71: rgb(20.668% 37.989% 60.073%);
    --palDavos-72: rgb(21.041% 38.408% 60.243%);
    --palDavos-73: rgb(21.418% 38.823% 60.403%);
    --palDavos-74: rgb(21.795% 39.233% 60.552%);
    --palDavos-75: rgb(22.173% 39.638% 60.692%);
    --palDavos-76: rgb(22.553% 40.038% 60.821%);
    --palDavos-77: rgb(22.931% 40.432% 60.94%);
    --palDavos-78: rgb(23.311% 40.823% 61.049%);
    --palDavos-79: rgb(23.695% 41.208% 61.149%);
    --palDavos-80: rgb(24.073% 41.588% 61.238%);
    --palDavos-81: rgb(24.454% 41.964% 61.318%);
    --palDavos-82: rgb(24.839% 42.333% 61.388%);
    --palDavos-83: rgb(25.22% 42.699% 61.45%);
    --palDavos-84: rgb(25.6% 43.059% 61.502%);
    --palDavos-85: rgb(25.984% 43.414% 61.546%);
    --palDavos-86: rgb(26.367% 43.766% 61.581%);
    --palDavos-87: rgb(26.745% 44.111% 61.607%);
    --palDavos-88: rgb(27.128% 44.454% 61.624%);
    --palDavos-89: rgb(27.51% 44.789% 61.633%);
    --palDavos-90: rgb(27.892% 45.122% 61.635%);
    --palDavos-91: rgb(28.273% 45.45% 61.628%);
    --palDavos-92: rgb(28.65% 45.772% 61.613%);
    --palDavos-93: rgb(29.031% 46.091% 61.591%);
    --palDavos-94: rgb(29.41% 46.407% 61.562%);
    --palDavos-95: rgb(29.789% 46.717% 61.525%);
    --palDavos-96: rgb(30.167% 47.023% 61.482%);
    --palDavos-97: rgb(30.547% 47.324% 61.432%);
    --palDavos-98: rgb(30.924% 47.623% 61.375%);
    --palDavos-99: rgb(31.299% 47.918% 61.312%);
    --palDavos-100: rgb(31.676% 48.209% 61.244%);
    --palDavos-101: rgb(32.052% 48.496% 61.17%);
    --palDavos-102: rgb(32.425% 48.781% 61.09%);
    --palDavos-103: rgb(32.799% 49.062% 61.003%);
    --palDavos-104: rgb(33.172% 49.338% 60.913%);
    --palDavos-105: rgb(33.546% 49.612% 60.817%);
    --palDavos-106: rgb(33.918% 49.885% 60.716%);
    --palDavos-107: rgb(34.29% 50.154% 60.61%);
    --palDavos-108: rgb(34.659% 50.42% 60.5%);
    --palDavos-109: rgb(35.03% 50.682% 60.387%);
    --palDavos-110: rgb(35.399% 50.943% 60.268%);
    --palDavos-111: rgb(35.77% 51.201% 60.146%);
    --palDavos-112: rgb(36.137% 51.458% 60.021%);
    --palDavos-113: rgb(36.505% 51.712% 59.892%);
    --palDavos-114: rgb(36.873% 51.964% 59.76%);
    --palDavos-115: rgb(37.239% 52.214% 59.624%);
    --palDavos-116: rgb(37.607% 52.463% 59.486%);
    --palDavos-117: rgb(37.973% 52.71% 59.346%);
    --palDavos-118: rgb(38.339% 52.956% 59.203%);
    --palDavos-119: rgb(38.704% 53.2% 59.056%);
    --palDavos-120: rgb(39.07% 53.443% 58.908%);
    --palDavos-121: rgb(39.435% 53.685% 58.759%);
    --palDavos-122: rgb(39.801% 53.925% 58.608%);
    --palDavos-123: rgb(40.165% 54.165% 58.455%);
    --palDavos-124: rgb(40.531% 54.405% 58.3%);
    --palDavos-125: rgb(40.896% 54.645% 58.144%);
    --palDavos-126: rgb(41.262% 54.884% 57.988%);
    --palDavos-127: rgb(41.627% 55.121% 57.83%);
    --palDavos-128: rgb(41.992% 55.359% 57.672%);
    --palDavos-129: rgb(42.358% 55.597% 57.512%);
    --palDavos-130: rgb(42.725% 55.835% 57.353%);
    --palDavos-131: rgb(43.092% 56.074% 57.194%);
    --palDavos-132: rgb(43.459% 56.313% 57.033%);
    --palDavos-133: rgb(43.828% 56.552% 56.874%);
    --palDavos-134: rgb(44.197% 56.792% 56.715%);
    --palDavos-135: rgb(44.565% 57.032% 56.556%);
    --palDavos-136: rgb(44.937% 57.275% 56.398%);
    --palDavos-137: rgb(45.309% 57.517% 56.241%);
    --palDavos-138: rgb(45.681% 57.761% 56.084%);
    --palDavos-139: rgb(46.055% 58.007% 55.929%);
    --palDavos-140: rgb(46.433% 58.253% 55.775%);
    --palDavos-141: rgb(46.809% 58.503% 55.622%);
    --palDavos-142: rgb(47.189% 58.752% 55.473%);
    --palDavos-143: rgb(47.57% 59.004% 55.324%);
    --palDavos-144: rgb(47.953% 59.26% 55.178%);
    --palDavos-145: rgb(48.338% 59.516% 55.034%);
    --palDavos-146: rgb(48.726% 59.776% 54.894%);
    --palDavos-147: rgb(49.117% 60.038% 54.755%);
    --palDavos-148: rgb(49.509% 60.303% 54.62%);
    --palDavos-149: rgb(49.905% 60.571% 54.488%);
    --palDavos-150: rgb(50.303% 60.843% 54.36%);
    --palDavos-151: rgb(50.706% 61.118% 54.236%);
    --palDavos-152: rgb(51.112% 61.395% 54.116%);
    --palDavos-153: rgb(51.522% 61.678% 54%);
    --palDavos-154: rgb(51.937% 61.965% 53.891%);
    --palDavos-155: rgb(52.355% 62.255% 53.786%);
    --palDavos-156: rgb(52.777% 62.551% 53.686%);
    --palDavos-157: rgb(53.206% 62.851% 53.591%);
    --palDavos-158: rgb(53.639% 63.156% 53.503%);
    --palDavos-159: rgb(54.077% 63.467% 53.422%);
    --palDavos-160: rgb(54.521% 63.783% 53.348%);
    --palDavos-161: rgb(54.971% 64.104% 53.282%);
    --palDavos-162: rgb(55.428% 64.432% 53.224%);
    --palDavos-163: rgb(55.891% 64.767% 53.174%);
    --palDavos-164: rgb(56.362% 65.108% 53.132%);
    --palDavos-165: rgb(56.839% 65.456% 53.1%);
    --palDavos-166: rgb(57.326% 65.811% 53.079%);
    --palDavos-167: rgb(57.819% 66.174% 53.067%);
    --palDavos-168: rgb(58.321% 66.544% 53.067%);
    --palDavos-169: rgb(58.832% 66.922% 53.078%);
    --palDavos-170: rgb(59.353% 67.309% 53.102%);
    --palDavos-171: rgb(59.882% 67.705% 53.139%);
    --palDavos-172: rgb(60.422% 68.107% 53.189%);
    --palDavos-173: rgb(60.972% 68.521% 53.254%);
    --palDavos-174: rgb(61.531% 68.944% 53.332%);
    --palDavos-175: rgb(62.103% 69.375% 53.427%);
    --palDavos-176: rgb(62.684% 69.816% 53.539%);
    --palDavos-177: rgb(63.277% 70.268% 53.668%);
    --palDavos-178: rgb(63.881% 70.728% 53.814%);
    --palDavos-179: rgb(64.497% 71.199% 53.977%);
    --palDavos-180: rgb(65.125% 71.681% 54.16%);
    --palDavos-181: rgb(65.764% 72.171% 54.364%);
    --palDavos-182: rgb(66.413% 72.672% 54.587%);
    --palDavos-183: rgb(67.075% 73.183% 54.832%);
    --palDavos-184: rgb(67.748% 73.703% 55.097%);
    --palDavos-185: rgb(68.431% 74.232% 55.384%);
    --palDavos-186: rgb(69.125% 74.771% 55.694%);
    --palDavos-187: rgb(69.83% 75.318% 56.026%);
    --palDavos-188: rgb(70.544% 75.873% 56.382%);
    --palDavos-189: rgb(71.266% 76.436% 56.76%);
    --palDavos-190: rgb(71.998% 77.006% 57.162%);
    --palDavos-191: rgb(72.736% 77.583% 57.587%);
    --palDavos-192: rgb(73.481% 78.165% 58.035%);
    --palDavos-193: rgb(74.231% 78.751% 58.506%);
    --palDavos-194: rgb(74.985% 79.342% 58.999%);
    --palDavos-195: rgb(75.743% 79.936% 59.516%);
    --palDavos-196: rgb(76.503% 80.531% 60.053%);
    --palDavos-197: rgb(77.263% 81.128% 60.612%);
    --palDavos-198: rgb(78.022% 81.724% 61.191%);
    --palDavos-199: rgb(78.78% 82.319% 61.789%);
    --palDavos-200: rgb(79.534% 82.912% 62.406%);
    --palDavos-201: rgb(80.283% 83.501% 63.04%);
    --palDavos-202: rgb(81.025% 84.085% 63.691%);
    --palDavos-203: rgb(81.761% 84.664% 64.355%);
    --palDavos-204: rgb(82.487% 85.237% 65.035%);
    --palDavos-205: rgb(83.203% 85.801% 65.727%);
    --palDavos-206: rgb(83.907% 86.357% 66.429%);
    --palDavos-207: rgb(84.598% 86.903% 67.142%);
    --palDavos-208: rgb(85.276% 87.439% 67.863%);
    --palDavos-209: rgb(85.938% 87.963% 68.592%);
    --palDavos-210: rgb(86.585% 88.476% 69.326%);
    --palDavos-211: rgb(87.216% 88.977% 70.066%);
    --palDavos-212: rgb(87.829% 89.464% 70.808%);
    --palDavos-213: rgb(88.424% 89.938% 71.554%);
    --palDavos-214: rgb(89.001% 90.397% 72.299%);
    --palDavos-215: rgb(89.559% 90.844% 73.047%);
    --palDavos-216: rgb(90.099% 91.275% 73.792%);
    --palDavos-217: rgb(90.619% 91.692% 74.537%);
    --palDavos-218: rgb(91.12% 92.095% 75.278%);
    --palDavos-219: rgb(91.602% 92.483% 76.018%);
    --palDavos-220: rgb(92.065% 92.857% 76.753%);
    --palDavos-221: rgb(92.509% 93.217% 77.484%);
    --palDavos-222: rgb(92.935% 93.564% 78.211%);
    --palDavos-223: rgb(93.342% 93.896% 78.932%);
    --palDavos-224: rgb(93.732% 94.215% 79.647%);
    --palDavos-225: rgb(94.103% 94.521% 80.357%);
    --palDavos-226: rgb(94.458% 94.814% 81.061%);
    --palDavos-227: rgb(94.796% 95.096% 81.759%);
    --palDavos-228: rgb(95.118% 95.365% 82.451%);
    --palDavos-229: rgb(95.425% 95.622% 83.137%);
    --palDavos-230: rgb(95.716% 95.869% 83.816%);
    --palDavos-231: rgb(95.993% 96.104% 84.489%);
    --palDavos-232: rgb(96.256% 96.33% 85.156%);
    --palDavos-233: rgb(96.506% 96.546% 85.817%);
    --palDavos-234: rgb(96.743% 96.753% 86.472%);
    --palDavos-235: rgb(96.967% 96.95% 87.121%);
    --palDavos-236: rgb(97.181% 97.14% 87.765%);
    --palDavos-237: rgb(97.382% 97.321% 88.403%);
    --palDavos-238: rgb(97.573% 97.495% 89.036%);
    --palDavos-239: rgb(97.755% 97.662% 89.664%);
    --palDavos-240: rgb(97.927% 97.822% 90.287%);
    --palDavos-241: rgb(98.089% 97.976% 90.905%);
    --palDavos-242: rgb(98.244% 98.124% 91.519%);
    --palDavos-243: rgb(98.39% 98.267% 92.13%);
    --palDavos-244: rgb(98.528% 98.404% 92.736%);
    --palDavos-245: rgb(98.66% 98.537% 93.338%);
    --palDavos-246: rgb(98.784% 98.665% 93.938%);
    --palDavos-247: rgb(98.903% 98.789% 94.534%);
    --palDavos-248: rgb(99.015% 98.91% 95.127%);
    --palDavos-249: rgb(99.123% 99.027% 95.718%);
    --palDavos-250: rgb(99.225% 99.141% 96.306%);
    --palDavos-251: rgb(99.323% 99.252% 96.892%);
    --palDavos-252: rgb(99.415% 99.361% 97.476%);
    --palDavos-253: rgb(99.505% 99.467% 98.059%);
    --palDavos-254: rgb(99.59% 99.572% 98.641%);
    --palDavos-255: rgb(99.673% 99.675% 99.22%);
    --palDavos-256: rgb(99.752% 99.776% 99.799%);
}
