/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palDBlgr3-1: rgb(7.421875% 21.484375% 37.5%);
    --palDBlgr3-2: rgb(8.203125% 22.265625% 38.671875%);
    --palDBlgr3-3: rgb(8.59375% 23.046875% 39.453125%);
    --palDBlgr3-4: rgb(9.375% 24.21875% 40.625%);
    --palDBlgr3-5: rgb(10.15625% 25% 41.40625%);
    --palDBlgr3-6: rgb(10.546875% 25.78125% 42.578125%);
    --palDBlgr3-7: rgb(11.328125% 26.5625% 43.359375%);
    --palDBlgr3-8: rgb(12.109375% 27.34375% 44.53125%);
    --palDBlgr3-9: rgb(12.5% 28.515625% 45.3125%);
    --palDBlgr3-10: rgb(13.28125% 29.296875% 46.484375%);
    --palDBlgr3-11: rgb(14.0625% 30.078125% 47.265625%);
    --palDBlgr3-12: rgb(14.84375% 30.859375% 48.4375%);
    --palDBlgr3-13: rgb(15.234375% 31.640625% 49.21875%);
    --palDBlgr3-14: rgb(16.015625% 32.8125% 50.390625%);
    --palDBlgr3-15: rgb(16.796875% 33.59375% 51.171875%);
    --palDBlgr3-16: rgb(17.1875% 34.375% 52.34375%);
    --palDBlgr3-17: rgb(17.96875% 35.15625% 53.125%);
    --palDBlgr3-18: rgb(18.75% 35.9375% 54.296875%);
    --palDBlgr3-19: rgb(19.140625% 37.109375% 55.078125%);
    --palDBlgr3-20: rgb(19.921875% 37.890625% 56.25%);
    --palDBlgr3-21: rgb(20.703125% 38.671875% 57.03125%);
    --palDBlgr3-22: rgb(21.484375% 39.453125% 58.203125%);
    --palDBlgr3-23: rgb(21.875% 40.234375% 58.984375%);
    --palDBlgr3-24: rgb(22.65625% 41.40625% 60.15625%);
    --palDBlgr3-25: rgb(23.4375% 42.1875% 60.9375%);
    --palDBlgr3-26: rgb(23.828125% 42.96875% 62.109375%);
    --palDBlgr3-27: rgb(24.609375% 43.75% 62.890625%);
    --palDBlgr3-28: rgb(25.390625% 44.53125% 63.28125%);
    --palDBlgr3-29: rgb(26.171875% 45.3125% 64.0625%);
    --palDBlgr3-30: rgb(26.953125% 45.703125% 64.453125%);
    --palDBlgr3-31: rgb(27.34375% 46.484375% 65.234375%);
    --palDBlgr3-32: rgb(28.125% 47.265625% 65.625%);
    --palDBlgr3-33: rgb(28.90625% 48.046875% 66.40625%);
    --palDBlgr3-34: rgb(29.6875% 48.828125% 66.796875%);
    --palDBlgr3-35: rgb(30.46875% 49.21875% 67.578125%);
    --palDBlgr3-36: rgb(31.25% 50% 67.96875%);
    --palDBlgr3-37: rgb(31.640625% 50.78125% 68.75%);
    --palDBlgr3-38: rgb(32.421875% 51.5625% 69.140625%);
    --palDBlgr3-39: rgb(33.203125% 51.953125% 69.921875%);
    --palDBlgr3-40: rgb(33.984375% 52.734375% 70.3125%);
    --palDBlgr3-41: rgb(34.765625% 53.515625% 71.09375%);
    --palDBlgr3-42: rgb(35.546875% 54.296875% 71.484375%);
    --palDBlgr3-43: rgb(35.9375% 55.078125% 72.265625%);
    --palDBlgr3-44: rgb(36.71875% 55.46875% 72.65625%);
    --palDBlgr3-45: rgb(37.5% 56.25% 73.4375%);
    --palDBlgr3-46: rgb(38.28125% 57.03125% 73.828125%);
    --palDBlgr3-47: rgb(39.0625% 57.8125% 74.609375%);
    --palDBlgr3-48: rgb(39.84375% 58.203125% 75%);
    --palDBlgr3-49: rgb(40.234375% 58.984375% 75.78125%);
    --palDBlgr3-50: rgb(41.015625% 59.765625% 76.171875%);
    --palDBlgr3-51: rgb(41.796875% 60.546875% 76.953125%);
    --palDBlgr3-52: rgb(42.578125% 61.328125% 77.34375%);
    --palDBlgr3-53: rgb(42.96875% 61.71875% 77.734375%);
    --palDBlgr3-54: rgb(43.75% 62.109375% 78.125%);
    --palDBlgr3-55: rgb(44.140625% 62.890625% 78.515625%);
    --palDBlgr3-56: rgb(44.53125% 63.28125% 78.90625%);
    --palDBlgr3-57: rgb(45.3125% 64.0625% 79.296875%);
    --palDBlgr3-58: rgb(45.703125% 64.453125% 79.6875%);
    --palDBlgr3-59: rgb(46.09375% 65.234375% 80.078125%);
    --palDBlgr3-60: rgb(46.875% 65.625% 80.46875%);
    --palDBlgr3-61: rgb(47.265625% 66.015625% 80.859375%);
    --palDBlgr3-62: rgb(47.65625% 66.796875% 81.25%);
    --palDBlgr3-63: rgb(48.4375% 67.1875% 81.640625%);
    --palDBlgr3-64: rgb(48.828125% 67.96875% 82.03125%);
    --palDBlgr3-65: rgb(49.21875% 68.359375% 82.421875%);
    --palDBlgr3-66: rgb(50% 69.140625% 82.8125%);
    --palDBlgr3-67: rgb(50.390625% 69.53125% 83.203125%);
    --palDBlgr3-68: rgb(50.78125% 69.921875% 83.59375%);
    --palDBlgr3-69: rgb(51.5625% 70.703125% 83.984375%);
    --palDBlgr3-70: rgb(51.953125% 71.09375% 84.375%);
    --palDBlgr3-71: rgb(52.34375% 71.875% 84.765625%);
    --palDBlgr3-72: rgb(53.125% 72.265625% 85.15625%);
    --palDBlgr3-73: rgb(53.515625% 73.046875% 85.546875%);
    --palDBlgr3-74: rgb(53.90625% 73.4375% 85.9375%);
    --palDBlgr3-75: rgb(54.6875% 73.828125% 86.328125%);
    --palDBlgr3-76: rgb(55.078125% 74.609375% 86.71875%);
    --palDBlgr3-77: rgb(55.46875% 75% 87.109375%);
    --palDBlgr3-78: rgb(56.25% 75.390625% 87.5%);
    --palDBlgr3-79: rgb(56.640625% 75.78125% 87.890625%);
    --palDBlgr3-80: rgb(57.421875% 76.5625% 87.890625%);
    --palDBlgr3-81: rgb(57.8125% 76.953125% 88.28125%);
    --palDBlgr3-82: rgb(58.203125% 77.34375% 88.671875%);
    --palDBlgr3-83: rgb(58.984375% 77.734375% 88.671875%);
    --palDBlgr3-84: rgb(59.375% 78.125% 89.0625%);
    --palDBlgr3-85: rgb(60.15625% 78.515625% 89.0625%);
    --palDBlgr3-86: rgb(60.546875% 78.90625% 89.453125%);
    --palDBlgr3-87: rgb(61.328125% 79.296875% 89.84375%);
    --palDBlgr3-88: rgb(61.71875% 79.6875% 89.84375%);
    --palDBlgr3-89: rgb(62.109375% 80.078125% 90.234375%);
    --palDBlgr3-90: rgb(62.890625% 80.46875% 90.234375%);
    --palDBlgr3-91: rgb(63.28125% 80.859375% 90.625%);
    --palDBlgr3-92: rgb(64.0625% 81.25% 91.015625%);
    --palDBlgr3-93: rgb(64.453125% 81.640625% 91.015625%);
    --palDBlgr3-94: rgb(65.234375% 82.03125% 91.40625%);
    --palDBlgr3-95: rgb(65.625% 82.421875% 91.40625%);
    --palDBlgr3-96: rgb(66.015625% 82.8125% 91.796875%);
    --palDBlgr3-97: rgb(66.796875% 83.203125% 92.1875%);
    --palDBlgr3-98: rgb(67.1875% 83.59375% 92.1875%);
    --palDBlgr3-99: rgb(67.96875% 83.984375% 92.578125%);
    --palDBlgr3-100: rgb(68.359375% 84.375% 92.578125%);
    --palDBlgr3-101: rgb(68.75% 84.765625% 92.96875%);
    --palDBlgr3-102: rgb(69.53125% 85.15625% 93.359375%);
    --palDBlgr3-103: rgb(69.921875% 85.546875% 93.359375%);
    --palDBlgr3-104: rgb(70.703125% 85.9375% 93.75%);
    --palDBlgr3-105: rgb(71.484375% 86.328125% 93.75%);
    --palDBlgr3-106: rgb(71.875% 86.71875% 93.75%);
    --palDBlgr3-107: rgb(72.65625% 87.109375% 94.140625%);
    --palDBlgr3-108: rgb(73.4375% 87.5% 94.140625%);
    --palDBlgr3-109: rgb(73.828125% 87.890625% 94.140625%);
    --palDBlgr3-110: rgb(74.609375% 88.28125% 94.53125%);
    --palDBlgr3-111: rgb(75.390625% 88.671875% 94.53125%);
    --palDBlgr3-112: rgb(75.78125% 89.0625% 94.53125%);
    --palDBlgr3-113: rgb(76.5625% 89.453125% 94.921875%);
    --palDBlgr3-114: rgb(76.953125% 90.234375% 94.921875%);
    --palDBlgr3-115: rgb(77.734375% 90.625% 94.921875%);
    --palDBlgr3-116: rgb(78.515625% 91.015625% 95.3125%);
    --palDBlgr3-117: rgb(78.90625% 91.40625% 95.3125%);
    --palDBlgr3-118: rgb(79.6875% 91.796875% 95.703125%);
    --palDBlgr3-119: rgb(80.46875% 92.1875% 95.703125%);
    --palDBlgr3-120: rgb(80.859375% 92.578125% 95.703125%);
    --palDBlgr3-121: rgb(81.640625% 92.96875% 96.09375%);
    --palDBlgr3-122: rgb(82.421875% 93.359375% 96.09375%);
    --palDBlgr3-123: rgb(83.203125% 93.75% 96.09375%);
    --palDBlgr3-124: rgb(85.15625% 94.921875% 96.484375%);
    --palDBlgr3-125: rgb(86.71875% 96.09375% 96.875%);
    --palDBlgr3-126: rgb(88.28125% 96.875% 96.875%);
    --palDBlgr3-127: rgb(89.84375% 98.046875% 97.265625%);
    --palDBlgr3-128: rgb(91.796875% 98.828125% 97.65625%);
    --palDBlgr3-129: rgb(91.796875% 99.21875% 97.265625%);
    --palDBlgr3-130: rgb(90.234375% 98.828125% 96.09375%);
    --palDBlgr3-131: rgb(89.0625% 98.4375% 94.921875%);
    --palDBlgr3-132: rgb(87.5% 98.046875% 93.75%);
    --palDBlgr3-133: rgb(86.328125% 97.65625% 92.578125%);
    --palDBlgr3-134: rgb(84.765625% 97.265625% 91.40625%);
    --palDBlgr3-135: rgb(83.984375% 96.875% 90.234375%);
    --palDBlgr3-136: rgb(83.203125% 96.484375% 89.453125%);
    --palDBlgr3-137: rgb(82.8125% 96.09375% 88.28125%);
    --palDBlgr3-138: rgb(82.03125% 95.703125% 87.5%);
    --palDBlgr3-139: rgb(81.640625% 95.3125% 86.328125%);
    --palDBlgr3-140: rgb(80.859375% 94.921875% 85.546875%);
    --palDBlgr3-141: rgb(80.46875% 94.53125% 84.765625%);
    --palDBlgr3-142: rgb(79.6875% 94.140625% 83.59375%);
    --palDBlgr3-143: rgb(79.296875% 93.75% 82.8125%);
    --palDBlgr3-144: rgb(78.515625% 92.96875% 81.640625%);
    --palDBlgr3-145: rgb(78.125% 92.578125% 80.859375%);
    --palDBlgr3-146: rgb(77.34375% 92.1875% 80.078125%);
    --palDBlgr3-147: rgb(76.953125% 91.796875% 78.90625%);
    --palDBlgr3-148: rgb(76.5625% 91.40625% 78.125%);
    --palDBlgr3-149: rgb(75.78125% 91.015625% 77.34375%);
    --palDBlgr3-150: rgb(75.390625% 90.625% 76.171875%);
    --palDBlgr3-151: rgb(74.609375% 90.234375% 75.390625%);
    --palDBlgr3-152: rgb(74.21875% 89.84375% 74.21875%);
    --palDBlgr3-153: rgb(73.4375% 89.453125% 73.4375%);
    --palDBlgr3-154: rgb(73.046875% 89.0625% 72.65625%);
    --palDBlgr3-155: rgb(72.265625% 88.671875% 71.484375%);
    --palDBlgr3-156: rgb(71.484375% 87.890625% 70.703125%);
    --palDBlgr3-157: rgb(70.703125% 87.5% 69.921875%);
    --palDBlgr3-158: rgb(70.3125% 86.71875% 69.140625%);
    --palDBlgr3-159: rgb(69.53125% 86.328125% 68.359375%);
    --palDBlgr3-160: rgb(68.75% 85.9375% 67.1875%);
    --palDBlgr3-161: rgb(67.96875% 85.15625% 66.40625%);
    --palDBlgr3-162: rgb(67.578125% 84.765625% 65.625%);
    --palDBlgr3-163: rgb(66.796875% 83.984375% 64.84375%);
    --palDBlgr3-164: rgb(66.015625% 83.59375% 64.0625%);
    --palDBlgr3-165: rgb(65.234375% 82.8125% 62.890625%);
    --palDBlgr3-166: rgb(64.453125% 82.421875% 62.109375%);
    --palDBlgr3-167: rgb(64.0625% 82.03125% 61.328125%);
    --palDBlgr3-168: rgb(63.28125% 81.25% 60.546875%);
    --palDBlgr3-169: rgb(62.5% 80.859375% 59.765625%);
    --palDBlgr3-170: rgb(61.71875% 80.078125% 58.59375%);
    --palDBlgr3-171: rgb(61.328125% 79.6875% 57.8125%);
    --palDBlgr3-172: rgb(60.546875% 78.90625% 57.03125%);
    --palDBlgr3-173: rgb(59.765625% 78.515625% 56.25%);
    --palDBlgr3-174: rgb(58.984375% 78.125% 55.46875%);
    --palDBlgr3-175: rgb(58.59375% 77.34375% 54.296875%);
    --palDBlgr3-176: rgb(57.8125% 76.953125% 53.515625%);
    --palDBlgr3-177: rgb(57.03125% 76.171875% 52.734375%);
    --palDBlgr3-178: rgb(56.25% 75.78125% 51.953125%);
    --palDBlgr3-179: rgb(55.46875% 75% 51.171875%);
    --palDBlgr3-180: rgb(55.078125% 74.609375% 50.390625%);
    --palDBlgr3-181: rgb(54.296875% 74.21875% 49.609375%);
    --palDBlgr3-182: rgb(53.515625% 73.4375% 48.828125%);
    --palDBlgr3-183: rgb(53.125% 73.046875% 48.046875%);
    --palDBlgr3-184: rgb(52.34375% 72.265625% 47.265625%);
    --palDBlgr3-185: rgb(51.5625% 71.875% 46.484375%);
    --palDBlgr3-186: rgb(50.78125% 71.484375% 45.703125%);
    --palDBlgr3-187: rgb(50.390625% 70.703125% 44.921875%);
    --palDBlgr3-188: rgb(49.609375% 70.3125% 44.140625%);
    --palDBlgr3-189: rgb(48.828125% 69.53125% 43.359375%);
    --palDBlgr3-190: rgb(48.4375% 69.140625% 42.578125%);
    --palDBlgr3-191: rgb(47.65625% 68.359375% 41.796875%);
    --palDBlgr3-192: rgb(46.875% 67.96875% 41.015625%);
    --palDBlgr3-193: rgb(46.484375% 67.578125% 40.234375%);
    --palDBlgr3-194: rgb(45.703125% 66.796875% 39.84375%);
    --palDBlgr3-195: rgb(44.921875% 66.40625% 39.0625%);
    --palDBlgr3-196: rgb(44.140625% 65.625% 38.28125%);
    --palDBlgr3-197: rgb(43.75% 65.234375% 37.5%);
    --palDBlgr3-198: rgb(42.96875% 64.84375% 36.71875%);
    --palDBlgr3-199: rgb(42.1875% 64.0625% 35.9375%);
    --palDBlgr3-200: rgb(41.796875% 63.671875% 35.15625%);
    --palDBlgr3-201: rgb(41.015625% 62.890625% 34.375%);
    --palDBlgr3-202: rgb(40.234375% 62.5% 33.59375%);
    --palDBlgr3-203: rgb(39.84375% 61.71875% 32.8125%);
    --palDBlgr3-204: rgb(39.0625% 61.328125% 32.03125%);
    --palDBlgr3-205: rgb(38.28125% 60.9375% 31.25%);
    --palDBlgr3-206: rgb(37.5% 60.15625% 30.859375%);
    --palDBlgr3-207: rgb(37.109375% 59.765625% 30.078125%);
    --palDBlgr3-208: rgb(36.328125% 58.984375% 29.6875%);
    --palDBlgr3-209: rgb(35.546875% 58.59375% 28.90625%);
    --palDBlgr3-210: rgb(34.765625% 58.203125% 28.515625%);
    --palDBlgr3-211: rgb(34.375% 57.421875% 27.734375%);
    --palDBlgr3-212: rgb(33.59375% 57.03125% 27.34375%);
    --palDBlgr3-213: rgb(32.8125% 56.25% 26.5625%);
    --palDBlgr3-214: rgb(32.421875% 55.859375% 26.171875%);
    --palDBlgr3-215: rgb(31.640625% 55.46875% 25.390625%);
    --palDBlgr3-216: rgb(30.859375% 54.6875% 24.609375%);
    --palDBlgr3-217: rgb(30.078125% 54.296875% 24.21875%);
    --palDBlgr3-218: rgb(29.6875% 53.515625% 23.4375%);
    --palDBlgr3-219: rgb(28.90625% 53.125% 23.046875%);
    --palDBlgr3-220: rgb(28.125% 52.734375% 22.265625%);
    --palDBlgr3-221: rgb(27.34375% 51.953125% 21.875%);
    --palDBlgr3-222: rgb(26.953125% 51.5625% 21.09375%);
    --palDBlgr3-223: rgb(26.171875% 51.171875% 20.703125%);
    --palDBlgr3-224: rgb(25.390625% 50.390625% 19.921875%);
    --palDBlgr3-225: rgb(25% 50% 19.53125%);
    --palDBlgr3-226: rgb(24.21875% 49.21875% 18.75%);
    --palDBlgr3-227: rgb(23.4375% 48.828125% 18.359375%);
    --palDBlgr3-228: rgb(22.65625% 48.4375% 17.578125%);
    --palDBlgr3-229: rgb(22.265625% 47.65625% 16.796875%);
    --palDBlgr3-230: rgb(21.484375% 47.265625% 16.40625%);
    --palDBlgr3-231: rgb(20.703125% 46.484375% 16.015625%);
    --palDBlgr3-232: rgb(20.3125% 46.09375% 15.625%);
    --palDBlgr3-233: rgb(19.53125% 45.703125% 15.234375%);
    --palDBlgr3-234: rgb(19.140625% 44.921875% 15.234375%);
    --palDBlgr3-235: rgb(18.359375% 44.53125% 14.84375%);
    --palDBlgr3-236: rgb(17.96875% 43.75% 14.453125%);
    --palDBlgr3-237: rgb(17.578125% 43.359375% 14.453125%);
    --palDBlgr3-238: rgb(16.796875% 42.96875% 14.0625%);
    --palDBlgr3-239: rgb(16.40625% 42.1875% 13.671875%);
    --palDBlgr3-240: rgb(15.625% 41.796875% 13.28125%);
    --palDBlgr3-241: rgb(15.234375% 41.015625% 13.28125%);
    --palDBlgr3-242: rgb(14.453125% 40.625% 12.890625%);
    --palDBlgr3-243: rgb(14.0625% 40.234375% 12.5%);
    --palDBlgr3-244: rgb(13.28125% 39.453125% 12.5%);
    --palDBlgr3-245: rgb(12.890625% 39.0625% 12.109375%);
    --palDBlgr3-246: rgb(12.109375% 38.28125% 11.71875%);
    --palDBlgr3-247: rgb(11.71875% 37.890625% 11.328125%);
    --palDBlgr3-248: rgb(10.9375% 37.5% 11.328125%);
    --palDBlgr3-249: rgb(10.546875% 36.71875% 10.9375%);
    --palDBlgr3-250: rgb(10.15625% 36.328125% 10.546875%);
    --palDBlgr3-251: rgb(9.375% 35.546875% 10.15625%);
    --palDBlgr3-252: rgb(8.984375% 35.15625% 10.15625%);
    --palDBlgr3-253: rgb(8.203125% 34.765625% 9.765625%);
    --palDBlgr3-254: rgb(7.8125% 33.984375% 9.375%);
    --palDBlgr3-255: rgb(7.03125% 33.59375% 9.375%);
    --palDBlgr3-256: rgb(6.640625% 32.8125% 8.984375%);
}
