/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palDense-1: rgb(90.196078% 94.509804% 94.509804%);
    --palDense-2: rgb(89.411765% 94.117647% 94.117647%);
    --palDense-3: rgb(89.019608% 93.72549% 93.72549%);
    --palDense-4: rgb(88.235294% 93.333333% 93.72549%);
    --palDense-5: rgb(87.45098% 92.941176% 93.333333%);
    --palDense-6: rgb(86.666667% 92.941176% 92.941176%);
    --palDense-7: rgb(86.27451% 92.54902% 92.941176%);
    --palDense-8: rgb(85.490196% 92.156863% 92.54902%);
    --palDense-9: rgb(84.705882% 91.764706% 92.54902%);
    --palDense-10: rgb(84.313725% 91.372549% 92.156863%);
    --palDense-11: rgb(83.529412% 91.372549% 92.156863%);
    --palDense-12: rgb(82.745098% 90.980392% 91.764706%);
    --palDense-13: rgb(81.960784% 90.588235% 91.764706%);
    --palDense-14: rgb(81.568627% 90.196078% 91.372549%);
    --palDense-15: rgb(80.784314% 89.803922% 91.372549%);
    --palDense-16: rgb(80% 89.411765% 90.980392%);
    --palDense-17: rgb(79.607843% 89.411765% 90.980392%);
    --palDense-18: rgb(78.823529% 89.019608% 90.980392%);
    --palDense-19: rgb(78.039216% 88.627451% 90.588235%);
    --palDense-20: rgb(77.647059% 88.235294% 90.588235%);
    --palDense-21: rgb(76.862745% 87.843137% 90.196078%);
    --palDense-22: rgb(76.078431% 87.45098% 90.196078%);
    --palDense-23: rgb(75.686275% 87.45098% 90.196078%);
    --palDense-24: rgb(74.901961% 87.058824% 90.196078%);
    --palDense-25: rgb(74.509804% 86.666667% 89.803922%);
    --palDense-26: rgb(73.72549% 86.27451% 89.803922%);
    --palDense-27: rgb(72.941176% 85.882353% 89.803922%);
    --palDense-28: rgb(72.54902% 85.490196% 89.411765%);
    --palDense-29: rgb(71.764706% 85.490196% 89.411765%);
    --palDense-30: rgb(71.372549% 85.098039% 89.411765%);
    --palDense-31: rgb(70.588235% 84.705882% 89.411765%);
    --palDense-32: rgb(69.803922% 84.313725% 89.411765%);
    --palDense-33: rgb(69.411765% 83.921569% 89.019608%);
    --palDense-34: rgb(68.627451% 83.529412% 89.019608%);
    --palDense-35: rgb(68.235294% 83.137255% 89.019608%);
    --palDense-36: rgb(67.45098% 83.137255% 89.019608%);
    --palDense-37: rgb(67.058824% 82.745098% 89.019608%);
    --palDense-38: rgb(66.27451% 82.352941% 89.019608%);
    --palDense-39: rgb(65.882353% 81.960784% 89.019608%);
    --palDense-40: rgb(65.098039% 81.568627% 89.019608%);
    --palDense-41: rgb(64.705882% 81.176471% 88.627451%);
    --palDense-42: rgb(63.921569% 80.784314% 88.627451%);
    --palDense-43: rgb(63.529412% 80.784314% 88.627451%);
    --palDense-44: rgb(62.745098% 80.392157% 88.627451%);
    --palDense-45: rgb(62.352941% 80% 88.627451%);
    --palDense-46: rgb(61.960784% 79.607843% 88.627451%);
    --palDense-47: rgb(61.176471% 79.215686% 88.627451%);
    --palDense-48: rgb(60.784314% 78.823529% 88.627451%);
    --palDense-49: rgb(60.392157% 78.431373% 88.627451%);
    --palDense-50: rgb(59.607843% 78.039216% 88.627451%);
    --palDense-51: rgb(59.215686% 77.647059% 88.627451%);
    --palDense-52: rgb(58.823529% 77.254902% 88.627451%);
    --palDense-53: rgb(58.039216% 77.254902% 88.627451%);
    --palDense-54: rgb(57.647059% 76.862745% 88.627451%);
    --palDense-55: rgb(57.254902% 76.470588% 88.627451%);
    --palDense-56: rgb(56.470588% 76.078431% 88.627451%);
    --palDense-57: rgb(56.078431% 75.686275% 88.627451%);
    --palDense-58: rgb(55.686275% 75.294118% 88.627451%);
    --palDense-59: rgb(55.294118% 74.901961% 88.627451%);
    --palDense-60: rgb(54.901961% 74.509804% 88.627451%);
    --palDense-61: rgb(54.117647% 74.117647% 89.019608%);
    --palDense-62: rgb(53.72549% 73.72549% 89.019608%);
    --palDense-63: rgb(53.333333% 73.333333% 89.019608%);
    --palDense-64: rgb(52.941176% 72.941176% 89.019608%);
    --palDense-65: rgb(52.54902% 72.54902% 89.019608%);
    --palDense-66: rgb(52.156863% 72.156863% 89.019608%);
    --palDense-67: rgb(51.764706% 71.764706% 89.019608%);
    --palDense-68: rgb(51.372549% 71.372549% 89.019608%);
    --palDense-69: rgb(50.980392% 70.980392% 89.019608%);
    --palDense-70: rgb(50.588235% 70.588235% 89.019608%);
    --palDense-71: rgb(50.196078% 70.196078% 89.019608%);
    --palDense-72: rgb(49.803922% 69.803922% 89.019608%);
    --palDense-73: rgb(49.803922% 69.411765% 89.411765%);
    --palDense-74: rgb(49.411765% 69.019608% 89.411765%);
    --palDense-75: rgb(49.019608% 68.627451% 89.411765%);
    --palDense-76: rgb(48.627451% 68.235294% 89.411765%);
    --palDense-77: rgb(48.235294% 67.843137% 89.411765%);
    --palDense-78: rgb(48.235294% 67.45098% 89.411765%);
    --palDense-79: rgb(47.843137% 67.058824% 89.411765%);
    --palDense-80: rgb(47.45098% 66.666667% 89.411765%);
    --palDense-81: rgb(47.45098% 66.27451% 89.411765%);
    --palDense-82: rgb(47.058824% 65.882353% 89.411765%);
    --palDense-83: rgb(47.058824% 65.490196% 89.411765%);
    --palDense-84: rgb(46.666667% 65.098039% 89.411765%);
    --palDense-85: rgb(46.666667% 64.705882% 89.411765%);
    --palDense-86: rgb(46.27451% 64.313725% 89.803922%);
    --palDense-87: rgb(46.27451% 63.921569% 89.803922%);
    --palDense-88: rgb(45.882353% 63.137255% 89.803922%);
    --palDense-89: rgb(45.882353% 62.745098% 89.803922%);
    --palDense-90: rgb(45.882353% 62.352941% 89.803922%);
    --palDense-91: rgb(45.882353% 61.960784% 89.803922%);
    --palDense-92: rgb(45.490196% 61.568627% 89.803922%);
    --palDense-93: rgb(45.490196% 61.176471% 89.411765%);
    --palDense-94: rgb(45.490196% 60.784314% 89.411765%);
    --palDense-95: rgb(45.490196% 60.392157% 89.411765%);
    --palDense-96: rgb(45.490196% 59.607843% 89.411765%);
    --palDense-97: rgb(45.098039% 59.215686% 89.411765%);
    --palDense-98: rgb(45.098039% 58.823529% 89.411765%);
    --palDense-99: rgb(45.098039% 58.431373% 89.411765%);
    --palDense-100: rgb(45.098039% 58.039216% 89.411765%);
    --palDense-101: rgb(45.098039% 57.647059% 89.019608%);
    --palDense-102: rgb(45.098039% 56.862745% 89.019608%);
    --palDense-103: rgb(45.098039% 56.470588% 89.019608%);
    --palDense-104: rgb(45.098039% 56.078431% 89.019608%);
    --palDense-105: rgb(45.098039% 55.686275% 88.627451%);
    --palDense-106: rgb(45.490196% 55.294118% 88.627451%);
    --palDense-107: rgb(45.490196% 54.509804% 88.627451%);
    --palDense-108: rgb(45.490196% 54.117647% 88.627451%);
    --palDense-109: rgb(45.490196% 53.72549% 88.235294%);
    --palDense-110: rgb(45.490196% 53.333333% 88.235294%);
    --palDense-111: rgb(45.490196% 52.941176% 87.843137%);
    --palDense-112: rgb(45.490196% 52.156863% 87.843137%);
    --palDense-113: rgb(45.882353% 51.764706% 87.45098%);
    --palDense-114: rgb(45.882353% 51.372549% 87.45098%);
    --palDense-115: rgb(45.882353% 50.980392% 87.058824%);
    --palDense-116: rgb(45.882353% 50.588235% 87.058824%);
    --palDense-117: rgb(45.882353% 49.803922% 86.666667%);
    --palDense-118: rgb(45.882353% 49.411765% 86.666667%);
    --palDense-119: rgb(46.27451% 49.019608% 86.27451%);
    --palDense-120: rgb(46.27451% 48.627451% 86.27451%);
    --palDense-121: rgb(46.27451% 48.235294% 85.882353%);
    --palDense-122: rgb(46.27451% 47.45098% 85.490196%);
    --palDense-123: rgb(46.27451% 47.058824% 85.490196%);
    --palDense-124: rgb(46.666667% 46.666667% 85.098039%);
    --palDense-125: rgb(46.666667% 46.27451% 84.705882%);
    --palDense-126: rgb(46.666667% 45.882353% 84.313725%);
    --palDense-127: rgb(46.666667% 45.098039% 84.313725%);
    --palDense-128: rgb(46.666667% 44.705882% 83.921569%);
    --palDense-129: rgb(47.058824% 44.313725% 83.529412%);
    --palDense-130: rgb(47.058824% 43.921569% 83.137255%);
    --palDense-131: rgb(47.058824% 43.529412% 82.745098%);
    --palDense-132: rgb(47.058824% 43.137255% 82.352941%);
    --palDense-133: rgb(47.058824% 42.352941% 82.352941%);
    --palDense-134: rgb(47.058824% 41.960784% 81.960784%);
    --palDense-135: rgb(47.058824% 41.568627% 81.568627%);
    --palDense-136: rgb(47.45098% 41.176471% 81.176471%);
    --palDense-137: rgb(47.45098% 40.784314% 80.784314%);
    --palDense-138: rgb(47.45098% 40% 80.392157%);
    --palDense-139: rgb(47.45098% 39.607843% 80%);
    --palDense-140: rgb(47.45098% 39.215686% 79.607843%);
    --palDense-141: rgb(47.45098% 38.823529% 79.215686%);
    --palDense-142: rgb(47.45098% 38.431373% 78.823529%);
    --palDense-143: rgb(47.45098% 38.039216% 78.431373%);
    --palDense-144: rgb(47.45098% 37.647059% 78.039216%);
    --palDense-145: rgb(47.45098% 36.862745% 77.254902%);
    --palDense-146: rgb(47.45098% 36.470588% 76.862745%);
    --palDense-147: rgb(47.45098% 36.078431% 76.470588%);
    --palDense-148: rgb(47.45098% 35.686275% 76.078431%);
    --palDense-149: rgb(47.45098% 35.294118% 75.686275%);
    --palDense-150: rgb(47.45098% 34.901961% 75.294118%);
    --palDense-151: rgb(47.45098% 34.509804% 74.901961%);
    --palDense-152: rgb(47.45098% 34.117647% 74.117647%);
    --palDense-153: rgb(47.45098% 33.72549% 73.72549%);
    --palDense-154: rgb(47.45098% 32.941176% 73.333333%);
    --palDense-155: rgb(47.45098% 32.54902% 72.941176%);
    --palDense-156: rgb(47.45098% 32.156863% 72.156863%);
    --palDense-157: rgb(47.45098% 31.764706% 71.764706%);
    --palDense-158: rgb(47.45098% 31.372549% 71.372549%);
    --palDense-159: rgb(47.45098% 30.980392% 70.980392%);
    --palDense-160: rgb(47.058824% 30.588235% 70.196078%);
    --palDense-161: rgb(47.058824% 30.196078% 69.803922%);
    --palDense-162: rgb(47.058824% 29.803922% 69.411765%);
    --palDense-163: rgb(47.058824% 29.411765% 68.627451%);
    --palDense-164: rgb(47.058824% 29.019608% 68.235294%);
    --palDense-165: rgb(47.058824% 28.627451% 67.843137%);
    --palDense-166: rgb(46.666667% 28.235294% 67.058824%);
    --palDense-167: rgb(46.666667% 27.843137% 66.666667%);
    --palDense-168: rgb(46.666667% 27.45098% 66.27451%);
    --palDense-169: rgb(46.666667% 27.058824% 65.490196%);
    --palDense-170: rgb(46.666667% 26.27451% 65.098039%);
    --palDense-171: rgb(46.27451% 25.882353% 64.705882%);
    --palDense-172: rgb(46.27451% 25.490196% 63.921569%);
    --palDense-173: rgb(46.27451% 25.098039% 63.529412%);
    --palDense-174: rgb(46.27451% 24.705882% 62.745098%);
    --palDense-175: rgb(45.882353% 24.313725% 62.352941%);
    --palDense-176: rgb(45.882353% 23.921569% 61.568627%);
    --palDense-177: rgb(45.882353% 23.529412% 61.176471%);
    --palDense-178: rgb(45.490196% 23.137255% 60.784314%);
    --palDense-179: rgb(45.490196% 23.137255% 60%);
    --palDense-180: rgb(45.490196% 22.745098% 59.607843%);
    --palDense-181: rgb(45.098039% 22.352941% 58.823529%);
    --palDense-182: rgb(45.098039% 21.960784% 58.431373%);
    --palDense-183: rgb(45.098039% 21.568627% 57.647059%);
    --palDense-184: rgb(44.705882% 21.176471% 57.254902%);
    --palDense-185: rgb(44.705882% 20.784314% 56.470588%);
    --palDense-186: rgb(44.705882% 20.392157% 56.078431%);
    --palDense-187: rgb(44.313725% 20% 55.294118%);
    --palDense-188: rgb(44.313725% 19.607843% 54.901961%);
    --palDense-189: rgb(43.921569% 19.215686% 54.117647%);
    --palDense-190: rgb(43.921569% 18.823529% 53.333333%);
    --palDense-191: rgb(43.529412% 18.431373% 52.941176%);
    --palDense-192: rgb(43.529412% 18.039216% 52.156863%);
    --palDense-193: rgb(43.137255% 17.647059% 51.764706%);
    --palDense-194: rgb(43.137255% 17.647059% 50.980392%);
    --palDense-195: rgb(42.745098% 17.254902% 50.588235%);
    --palDense-196: rgb(42.745098% 16.862745% 49.803922%);
    --palDense-197: rgb(42.352941% 16.470588% 49.411765%);
    --palDense-198: rgb(42.352941% 16.078431% 48.627451%);
    --palDense-199: rgb(41.960784% 15.686275% 47.843137%);
    --palDense-200: rgb(41.960784% 15.686275% 47.45098%);
    --palDense-201: rgb(41.568627% 15.294118% 46.666667%);
    --palDense-202: rgb(41.568627% 14.901961% 45.882353%);
    --palDense-203: rgb(41.176471% 14.509804% 45.490196%);
    --palDense-204: rgb(40.784314% 14.117647% 44.705882%);
    --palDense-205: rgb(40.784314% 14.117647% 44.313725%);
    --palDense-206: rgb(40.392157% 13.72549% 43.529412%);
    --palDense-207: rgb(40.392157% 13.333333% 42.745098%);
    --palDense-208: rgb(40% 12.941176% 42.352941%);
    --palDense-209: rgb(39.607843% 12.941176% 41.568627%);
    --palDense-210: rgb(39.607843% 12.54902% 40.784314%);
    --palDense-211: rgb(39.215686% 12.156863% 40.392157%);
    --palDense-212: rgb(38.823529% 12.156863% 39.607843%);
    --palDense-213: rgb(38.431373% 11.764706% 38.823529%);
    --palDense-214: rgb(38.431373% 11.372549% 38.431373%);
    --palDense-215: rgb(38.039216% 11.372549% 37.647059%);
    --palDense-216: rgb(37.647059% 10.980392% 36.862745%);
    --palDense-217: rgb(37.254902% 10.588235% 36.470588%);
    --palDense-218: rgb(37.254902% 10.588235% 35.686275%);
    --palDense-219: rgb(36.862745% 10.196078% 34.901961%);
    --palDense-220: rgb(36.470588% 10.196078% 34.509804%);
    --palDense-221: rgb(36.078431% 9.803922% 33.72549%);
    --palDense-222: rgb(35.686275% 9.803922% 32.941176%);
    --palDense-223: rgb(35.294118% 9.411765% 32.54902%);
    --palDense-224: rgb(35.294118% 9.411765% 31.764706%);
    --palDense-225: rgb(34.901961% 9.019608% 31.372549%);
    --palDense-226: rgb(34.509804% 9.019608% 30.588235%);
    --palDense-227: rgb(34.117647% 8.627451% 29.803922%);
    --palDense-228: rgb(33.72549% 8.627451% 29.411765%);
    --palDense-229: rgb(33.333333% 8.627451% 28.627451%);
    --palDense-230: rgb(32.941176% 8.235294% 28.235294%);
    --palDense-231: rgb(32.54902% 8.235294% 27.45098%);
    --palDense-232: rgb(32.156863% 8.235294% 26.666667%);
    --palDense-233: rgb(31.764706% 7.843137% 26.27451%);
    --palDense-234: rgb(31.372549% 7.843137% 25.490196%);
    --palDense-235: rgb(30.980392% 7.843137% 25.098039%);
    --palDense-236: rgb(30.588235% 7.45098% 24.313725%);
    --palDense-237: rgb(30.196078% 7.45098% 23.921569%);
    --palDense-238: rgb(29.411765% 7.45098% 23.137255%);
    --palDense-239: rgb(29.019608% 7.45098% 22.745098%);
    --palDense-240: rgb(28.627451% 7.058824% 21.960784%);
    --palDense-241: rgb(28.235294% 7.058824% 21.568627%);
    --palDense-242: rgb(27.843137% 7.058824% 21.176471%);
    --palDense-243: rgb(27.45098% 7.058824% 20.392157%);
    --palDense-244: rgb(27.058824% 6.666667% 20%);
    --palDense-245: rgb(26.666667% 6.666667% 19.607843%);
    --palDense-246: rgb(25.882353% 6.666667% 18.823529%);
    --palDense-247: rgb(25.490196% 6.666667% 18.431373%);
    --palDense-248: rgb(25.098039% 6.27451% 18.039216%);
    --palDense-249: rgb(24.705882% 6.27451% 17.647059%);
    --palDense-250: rgb(24.313725% 6.27451% 16.862745%);
    --palDense-251: rgb(23.529412% 6.27451% 16.470588%);
    --palDense-252: rgb(23.137255% 5.882353% 16.078431%);
    --palDense-253: rgb(22.745098% 5.882353% 15.686275%);
    --palDense-254: rgb(22.352941% 5.882353% 15.294118%);
    --palDense-255: rgb(21.960784% 5.882353% 14.509804%);
    --palDense-256: rgb(21.176471% 5.490196% 14.117647%);
}
