/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palDSeteq2-1: rgb(54.6875% 42.578125% 35.9375%);
    --palDSeteq2-2: rgb(55.078125% 42.96875% 36.328125%);
    --palDSeteq2-3: rgb(55.46875% 43.359375% 36.71875%);
    --palDSeteq2-4: rgb(55.859375% 44.140625% 37.5%);
    --palDSeteq2-5: rgb(56.25% 44.53125% 37.890625%);
    --palDSeteq2-6: rgb(56.640625% 44.921875% 38.28125%);
    --palDSeteq2-7: rgb(57.03125% 45.703125% 38.671875%);
    --palDSeteq2-8: rgb(57.421875% 46.09375% 39.0625%);
    --palDSeteq2-9: rgb(57.8125% 46.484375% 39.84375%);
    --palDSeteq2-10: rgb(58.203125% 46.875% 40.234375%);
    --palDSeteq2-11: rgb(58.59375% 47.65625% 40.625%);
    --palDSeteq2-12: rgb(58.984375% 48.046875% 41.015625%);
    --palDSeteq2-13: rgb(59.375% 48.4375% 41.40625%);
    --palDSeteq2-14: rgb(59.765625% 49.21875% 42.1875%);
    --palDSeteq2-15: rgb(60.15625% 49.609375% 42.578125%);
    --palDSeteq2-16: rgb(60.546875% 50% 42.96875%);
    --palDSeteq2-17: rgb(60.9375% 50.78125% 43.359375%);
    --palDSeteq2-18: rgb(61.328125% 51.171875% 43.75%);
    --palDSeteq2-19: rgb(61.71875% 51.5625% 44.53125%);
    --palDSeteq2-20: rgb(62.109375% 52.34375% 44.921875%);
    --palDSeteq2-21: rgb(62.5% 52.734375% 45.3125%);
    --palDSeteq2-22: rgb(62.890625% 53.125% 45.703125%);
    --palDSeteq2-23: rgb(63.28125% 53.515625% 46.09375%);
    --palDSeteq2-24: rgb(63.671875% 54.296875% 46.875%);
    --palDSeteq2-25: rgb(64.0625% 54.6875% 47.265625%);
    --palDSeteq2-26: rgb(64.453125% 55.078125% 47.65625%);
    --palDSeteq2-27: rgb(64.84375% 55.859375% 48.046875%);
    --palDSeteq2-28: rgb(65.234375% 56.25% 48.4375%);
    --palDSeteq2-29: rgb(65.625% 56.640625% 48.828125%);
    --palDSeteq2-30: rgb(66.015625% 57.421875% 49.609375%);
    --palDSeteq2-31: rgb(66.40625% 57.8125% 50%);
    --palDSeteq2-32: rgb(66.796875% 58.203125% 50.390625%);
    --palDSeteq2-33: rgb(67.1875% 58.59375% 50.78125%);
    --palDSeteq2-34: rgb(67.578125% 59.375% 51.171875%);
    --palDSeteq2-35: rgb(67.96875% 59.765625% 51.953125%);
    --palDSeteq2-36: rgb(68.359375% 60.15625% 52.34375%);
    --palDSeteq2-37: rgb(68.75% 60.9375% 52.734375%);
    --palDSeteq2-38: rgb(69.140625% 61.328125% 53.125%);
    --palDSeteq2-39: rgb(69.921875% 61.71875% 53.515625%);
    --palDSeteq2-40: rgb(70.3125% 62.5% 54.296875%);
    --palDSeteq2-41: rgb(70.703125% 62.890625% 54.6875%);
    --palDSeteq2-42: rgb(71.09375% 63.28125% 55.078125%);
    --palDSeteq2-43: rgb(71.484375% 64.0625% 55.46875%);
    --palDSeteq2-44: rgb(71.484375% 64.453125% 55.859375%);
    --palDSeteq2-45: rgb(71.875% 64.453125% 56.25%);
    --palDSeteq2-46: rgb(72.265625% 64.84375% 56.640625%);
    --palDSeteq2-47: rgb(72.65625% 65.234375% 57.03125%);
    --palDSeteq2-48: rgb(72.65625% 65.625% 57.421875%);
    --palDSeteq2-49: rgb(73.046875% 66.015625% 57.8125%);
    --palDSeteq2-50: rgb(73.4375% 66.40625% 58.203125%);
    --palDSeteq2-51: rgb(73.4375% 66.796875% 58.59375%);
    --palDSeteq2-52: rgb(73.828125% 67.1875% 58.984375%);
    --palDSeteq2-53: rgb(74.21875% 67.1875% 59.375%);
    --palDSeteq2-54: rgb(74.609375% 67.578125% 59.765625%);
    --palDSeteq2-55: rgb(74.609375% 67.96875% 60.15625%);
    --palDSeteq2-56: rgb(75% 68.359375% 60.546875%);
    --palDSeteq2-57: rgb(75.390625% 68.75% 60.9375%);
    --palDSeteq2-58: rgb(75.78125% 69.140625% 61.328125%);
    --palDSeteq2-59: rgb(75.78125% 69.53125% 62.109375%);
    --palDSeteq2-60: rgb(76.171875% 69.921875% 62.5%);
    --palDSeteq2-61: rgb(76.5625% 69.921875% 62.890625%);
    --palDSeteq2-62: rgb(76.5625% 70.3125% 63.28125%);
    --palDSeteq2-63: rgb(76.953125% 70.703125% 63.671875%);
    --palDSeteq2-64: rgb(77.34375% 71.09375% 64.0625%);
    --palDSeteq2-65: rgb(77.734375% 71.484375% 64.453125%);
    --palDSeteq2-66: rgb(77.734375% 71.875% 64.84375%);
    --palDSeteq2-67: rgb(78.125% 72.265625% 65.234375%);
    --palDSeteq2-68: rgb(78.515625% 72.65625% 65.625%);
    --palDSeteq2-69: rgb(78.515625% 72.65625% 66.015625%);
    --palDSeteq2-70: rgb(78.90625% 73.046875% 66.40625%);
    --palDSeteq2-71: rgb(79.296875% 73.4375% 66.796875%);
    --palDSeteq2-72: rgb(79.6875% 73.828125% 67.1875%);
    --palDSeteq2-73: rgb(79.6875% 74.21875% 67.578125%);
    --palDSeteq2-74: rgb(80.078125% 74.609375% 67.96875%);
    --palDSeteq2-75: rgb(80.46875% 75% 68.359375%);
    --palDSeteq2-76: rgb(80.859375% 75.390625% 68.75%);
    --palDSeteq2-77: rgb(80.859375% 75.390625% 69.140625%);
    --palDSeteq2-78: rgb(81.25% 75.78125% 69.53125%);
    --palDSeteq2-79: rgb(81.640625% 76.171875% 69.921875%);
    --palDSeteq2-80: rgb(81.640625% 76.5625% 70.3125%);
    --palDSeteq2-81: rgb(82.03125% 76.953125% 70.703125%);
    --palDSeteq2-82: rgb(82.421875% 77.34375% 71.09375%);
    --palDSeteq2-83: rgb(82.8125% 77.734375% 71.484375%);
    --palDSeteq2-84: rgb(82.8125% 78.125% 71.875%);
    --palDSeteq2-85: rgb(83.203125% 78.125% 72.265625%);
    --palDSeteq2-86: rgb(83.59375% 78.515625% 72.65625%);
    --palDSeteq2-87: rgb(83.984375% 78.90625% 73.046875%);
    --palDSeteq2-88: rgb(83.984375% 79.6875% 73.828125%);
    --palDSeteq2-89: rgb(84.375% 80.078125% 74.21875%);
    --palDSeteq2-90: rgb(84.765625% 80.46875% 75%);
    --palDSeteq2-91: rgb(85.15625% 80.859375% 75.390625%);
    --palDSeteq2-92: rgb(85.546875% 81.25% 75.78125%);
    --palDSeteq2-93: rgb(85.9375% 82.03125% 76.5625%);
    --palDSeteq2-94: rgb(86.328125% 82.421875% 76.953125%);
    --palDSeteq2-95: rgb(86.71875% 82.8125% 77.734375%);
    --palDSeteq2-96: rgb(87.109375% 83.203125% 78.125%);
    --palDSeteq2-97: rgb(87.109375% 83.59375% 78.90625%);
    --palDSeteq2-98: rgb(87.5% 83.984375% 79.296875%);
    --palDSeteq2-99: rgb(87.890625% 84.765625% 79.6875%);
    --palDSeteq2-100: rgb(88.28125% 85.15625% 80.46875%);
    --palDSeteq2-101: rgb(88.671875% 85.546875% 80.859375%);
    --palDSeteq2-102: rgb(89.0625% 85.9375% 81.640625%);
    --palDSeteq2-103: rgb(89.453125% 86.328125% 82.03125%);
    --palDSeteq2-104: rgb(89.84375% 87.109375% 82.8125%);
    --palDSeteq2-105: rgb(90.234375% 87.5% 83.203125%);
    --palDSeteq2-106: rgb(90.234375% 87.890625% 83.59375%);
    --palDSeteq2-107: rgb(90.625% 88.28125% 84.375%);
    --palDSeteq2-108: rgb(91.015625% 88.671875% 84.765625%);
    --palDSeteq2-109: rgb(91.40625% 89.0625% 85.546875%);
    --palDSeteq2-110: rgb(91.796875% 89.84375% 85.9375%);
    --palDSeteq2-111: rgb(92.1875% 90.234375% 86.71875%);
    --palDSeteq2-112: rgb(92.578125% 90.625% 87.109375%);
    --palDSeteq2-113: rgb(92.96875% 91.015625% 87.5%);
    --palDSeteq2-114: rgb(93.359375% 91.40625% 88.28125%);
    --palDSeteq2-115: rgb(93.359375% 92.1875% 88.671875%);
    --palDSeteq2-116: rgb(93.75% 92.578125% 89.453125%);
    --palDSeteq2-117: rgb(94.140625% 92.96875% 89.84375%);
    --palDSeteq2-118: rgb(94.53125% 93.359375% 90.625%);
    --palDSeteq2-119: rgb(94.921875% 93.75% 91.015625%);
    --palDSeteq2-120: rgb(95.3125% 94.140625% 91.40625%);
    --palDSeteq2-121: rgb(95.703125% 94.921875% 92.1875%);
    --palDSeteq2-122: rgb(96.09375% 95.3125% 92.578125%);
    --palDSeteq2-123: rgb(96.484375% 95.703125% 93.359375%);
    --palDSeteq2-124: rgb(96.484375% 96.09375% 93.75%);
    --palDSeteq2-125: rgb(96.875% 96.484375% 94.53125%);
    --palDSeteq2-126: rgb(97.265625% 97.265625% 94.921875%);
    --palDSeteq2-127: rgb(97.65625% 97.65625% 95.3125%);
    --palDSeteq2-128: rgb(98.046875% 98.046875% 96.09375%);
    --palDSeteq2-129: rgb(99.21875% 98.828125% 88.28125%);
    --palDSeteq2-130: rgb(99.21875% 98.828125% 87.890625%);
    --palDSeteq2-131: rgb(99.21875% 98.4375% 87.5%);
    --palDSeteq2-132: rgb(98.828125% 98.4375% 87.5%);
    --palDSeteq2-133: rgb(98.828125% 98.046875% 87.109375%);
    --palDSeteq2-134: rgb(98.4375% 97.65625% 86.71875%);
    --palDSeteq2-135: rgb(98.4375% 97.65625% 86.328125%);
    --palDSeteq2-136: rgb(98.4375% 97.265625% 85.9375%);
    --palDSeteq2-137: rgb(98.046875% 97.265625% 85.9375%);
    --palDSeteq2-138: rgb(98.046875% 96.875% 85.546875%);
    --palDSeteq2-139: rgb(98.046875% 96.875% 85.15625%);
    --palDSeteq2-140: rgb(97.65625% 96.484375% 84.765625%);
    --palDSeteq2-141: rgb(97.65625% 96.484375% 84.375%);
    --palDSeteq2-142: rgb(97.265625% 96.09375% 84.375%);
    --palDSeteq2-143: rgb(97.265625% 95.703125% 83.984375%);
    --palDSeteq2-144: rgb(97.265625% 95.703125% 83.59375%);
    --palDSeteq2-145: rgb(96.875% 95.3125% 83.203125%);
    --palDSeteq2-146: rgb(96.875% 95.3125% 82.8125%);
    --palDSeteq2-147: rgb(96.875% 94.921875% 82.8125%);
    --palDSeteq2-148: rgb(96.484375% 94.921875% 82.421875%);
    --palDSeteq2-149: rgb(96.484375% 94.53125% 82.03125%);
    --palDSeteq2-150: rgb(96.09375% 94.53125% 81.640625%);
    --palDSeteq2-151: rgb(96.09375% 94.140625% 81.25%);
    --palDSeteq2-152: rgb(96.09375% 93.75% 81.25%);
    --palDSeteq2-153: rgb(95.703125% 93.75% 80.859375%);
    --palDSeteq2-154: rgb(95.703125% 93.359375% 80.46875%);
    --palDSeteq2-155: rgb(95.703125% 93.359375% 80.078125%);
    --palDSeteq2-156: rgb(95.3125% 92.96875% 79.6875%);
    --palDSeteq2-157: rgb(95.3125% 92.96875% 79.296875%);
    --palDSeteq2-158: rgb(94.921875% 92.578125% 79.296875%);
    --palDSeteq2-159: rgb(94.921875% 92.578125% 78.90625%);
    --palDSeteq2-160: rgb(94.921875% 92.1875% 78.515625%);
    --palDSeteq2-161: rgb(94.53125% 91.796875% 78.125%);
    --palDSeteq2-162: rgb(94.53125% 91.796875% 77.734375%);
    --palDSeteq2-163: rgb(94.53125% 91.40625% 77.734375%);
    --palDSeteq2-164: rgb(94.140625% 91.40625% 77.34375%);
    --palDSeteq2-165: rgb(94.140625% 91.015625% 76.953125%);
    --palDSeteq2-166: rgb(93.75% 91.015625% 76.5625%);
    --palDSeteq2-167: rgb(93.75% 90.625% 76.171875%);
    --palDSeteq2-168: rgb(93.75% 90.625% 76.171875%);
    --palDSeteq2-169: rgb(93.359375% 90.234375% 75.78125%);
    --palDSeteq2-170: rgb(93.359375% 89.84375% 75.390625%);
    --palDSeteq2-171: rgb(93.359375% 89.84375% 75%);
    --palDSeteq2-172: rgb(92.96875% 89.453125% 74.609375%);
    --palDSeteq2-173: rgb(92.96875% 89.453125% 74.21875%);
    --palDSeteq2-174: rgb(92.96875% 89.0625% 73.828125%);
    --palDSeteq2-175: rgb(92.578125% 89.0625% 73.828125%);
    --palDSeteq2-176: rgb(92.578125% 89.0625% 73.4375%);
    --palDSeteq2-177: rgb(92.578125% 88.671875% 73.046875%);
    --palDSeteq2-178: rgb(92.578125% 88.671875% 72.65625%);
    --palDSeteq2-179: rgb(92.1875% 88.28125% 72.265625%);
    --palDSeteq2-180: rgb(92.1875% 88.28125% 71.875%);
    --palDSeteq2-181: rgb(92.1875% 87.890625% 71.484375%);
    --palDSeteq2-182: rgb(91.796875% 87.890625% 71.09375%);
    --palDSeteq2-183: rgb(91.796875% 87.5% 70.703125%);
    --palDSeteq2-184: rgb(91.796875% 87.5% 70.3125%);
    --palDSeteq2-185: rgb(91.796875% 87.109375% 70.3125%);
    --palDSeteq2-186: rgb(91.40625% 87.109375% 69.921875%);
    --palDSeteq2-187: rgb(91.40625% 86.71875% 69.53125%);
    --palDSeteq2-188: rgb(91.40625% 86.71875% 69.140625%);
    --palDSeteq2-189: rgb(91.015625% 86.328125% 68.75%);
    --palDSeteq2-190: rgb(91.015625% 86.328125% 68.359375%);
    --palDSeteq2-191: rgb(91.015625% 85.9375% 67.96875%);
    --palDSeteq2-192: rgb(91.015625% 85.9375% 67.578125%);
    --palDSeteq2-193: rgb(90.625% 85.546875% 67.1875%);
    --palDSeteq2-194: rgb(90.625% 85.546875% 66.796875%);
    --palDSeteq2-195: rgb(90.625% 85.546875% 66.796875%);
    --palDSeteq2-196: rgb(90.234375% 85.15625% 66.40625%);
    --palDSeteq2-197: rgb(90.234375% 85.15625% 66.015625%);
    --palDSeteq2-198: rgb(90.234375% 84.765625% 65.625%);
    --palDSeteq2-199: rgb(90.234375% 84.765625% 65.234375%);
    --palDSeteq2-200: rgb(89.84375% 84.375% 64.84375%);
    --palDSeteq2-201: rgb(89.84375% 84.375% 64.453125%);
    --palDSeteq2-202: rgb(89.84375% 83.984375% 64.0625%);
    --palDSeteq2-203: rgb(89.453125% 83.984375% 63.671875%);
    --palDSeteq2-204: rgb(89.453125% 83.59375% 63.28125%);
    --palDSeteq2-205: rgb(89.453125% 83.59375% 63.28125%);
    --palDSeteq2-206: rgb(89.453125% 83.203125% 62.890625%);
    --palDSeteq2-207: rgb(89.0625% 83.203125% 62.5%);
    --palDSeteq2-208: rgb(89.0625% 82.8125% 62.109375%);
    --palDSeteq2-209: rgb(89.0625% 82.8125% 61.71875%);
    --palDSeteq2-210: rgb(88.671875% 82.421875% 61.328125%);
    --palDSeteq2-211: rgb(88.671875% 82.421875% 60.9375%);
    --palDSeteq2-212: rgb(88.671875% 82.03125% 60.546875%);
    --palDSeteq2-213: rgb(88.671875% 82.03125% 60.15625%);
    --palDSeteq2-214: rgb(88.28125% 81.640625% 59.765625%);
    --palDSeteq2-215: rgb(88.28125% 81.25% 59.375%);
    --palDSeteq2-216: rgb(88.28125% 80.859375% 58.984375%);
    --palDSeteq2-217: rgb(87.890625% 80.46875% 58.59375%);
    --palDSeteq2-218: rgb(87.890625% 80.078125% 58.203125%);
    --palDSeteq2-219: rgb(87.890625% 79.6875% 57.8125%);
    --palDSeteq2-220: rgb(87.5% 79.6875% 57.03125%);
    --palDSeteq2-221: rgb(87.5% 79.296875% 56.640625%);
    --palDSeteq2-222: rgb(87.109375% 78.90625% 56.25%);
    --palDSeteq2-223: rgb(87.109375% 78.515625% 55.859375%);
    --palDSeteq2-224: rgb(87.109375% 78.125% 55.46875%);
    --palDSeteq2-225: rgb(86.71875% 77.734375% 55.078125%);
    --palDSeteq2-226: rgb(86.71875% 77.34375% 54.6875%);
    --palDSeteq2-227: rgb(86.71875% 76.953125% 53.90625%);
    --palDSeteq2-228: rgb(86.328125% 76.5625% 53.515625%);
    --palDSeteq2-229: rgb(86.328125% 76.171875% 53.125%);
    --palDSeteq2-230: rgb(86.328125% 75.78125% 52.734375%);
    --palDSeteq2-231: rgb(85.9375% 75.390625% 52.34375%);
    --palDSeteq2-232: rgb(85.9375% 75% 51.953125%);
    --palDSeteq2-233: rgb(85.9375% 74.609375% 51.5625%);
    --palDSeteq2-234: rgb(85.546875% 74.21875% 51.171875%);
    --palDSeteq2-235: rgb(85.546875% 73.828125% 50.390625%);
    --palDSeteq2-236: rgb(85.546875% 73.4375% 50%);
    --palDSeteq2-237: rgb(85.15625% 73.046875% 49.609375%);
    --palDSeteq2-238: rgb(85.15625% 72.65625% 49.21875%);
    --palDSeteq2-239: rgb(85.15625% 72.265625% 48.828125%);
    --palDSeteq2-240: rgb(84.765625% 71.875% 48.4375%);
    --palDSeteq2-241: rgb(84.765625% 71.484375% 48.046875%);
    --palDSeteq2-242: rgb(84.375% 71.09375% 47.265625%);
    --palDSeteq2-243: rgb(84.375% 71.09375% 46.875%);
    --palDSeteq2-244: rgb(84.375% 70.703125% 46.484375%);
    --palDSeteq2-245: rgb(83.984375% 70.3125% 46.09375%);
    --palDSeteq2-246: rgb(83.984375% 69.921875% 45.703125%);
    --palDSeteq2-247: rgb(83.984375% 69.53125% 45.3125%);
    --palDSeteq2-248: rgb(83.59375% 69.140625% 44.921875%);
    --palDSeteq2-249: rgb(83.59375% 68.75% 44.140625%);
    --palDSeteq2-250: rgb(83.59375% 68.359375% 43.75%);
    --palDSeteq2-251: rgb(83.203125% 67.96875% 43.359375%);
    --palDSeteq2-252: rgb(83.203125% 67.578125% 42.96875%);
    --palDSeteq2-253: rgb(83.203125% 67.1875% 42.578125%);
    --palDSeteq2-254: rgb(82.8125% 66.796875% 42.1875%);
    --palDSeteq2-255: rgb(82.8125% 66.40625% 41.796875%);
    --palDSeteq2-256: rgb(82.8125% 66.015625% 41.40625%);
}
