/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palDusk-1: rgb(0% 0% 0%);
    --palDusk-2: rgb(0.016543% 0.017235% 0.023614%);
    --palDusk-3: rgb(0.056507% 0.059773% 0.085492%);
    --palDusk-4: rgb(0.115294% 0.123867% 0.184354%);
    --palDusk-5: rgb(0.190503% 0.207923% 0.320909%);
    --palDusk-6: rgb(0.280372% 0.310993% 0.496346%);
    --palDusk-7: rgb(0.383417% 0.432455% 0.712121%);
    --palDusk-8: rgb(0.498316% 0.57189% 0.969761%);
    --palDusk-9: rgb(0.623839% 0.72902% 1.270841%);
    --palDusk-10: rgb(0.758744% 0.903673% 1.617173%);
    --palDusk-11: rgb(0.901874% 1.095766% 2.01029%);
    --palDusk-12: rgb(1.051967% 1.30529% 2.452127%);
    --palDusk-13: rgb(1.207825% 1.532304% 2.94425%);
    --palDusk-14: rgb(1.368165% 1.77693% 3.488387%);
    --palDusk-15: rgb(1.531606% 2.039355% 4.085579%);
    --palDusk-16: rgb(1.696791% 2.319825% 4.696683%);
    --palDusk-17: rgb(1.862249% 2.618652% 5.30757%);
    --palDusk-18: rgb(2.026433% 2.936211% 5.918365%);
    --palDusk-19: rgb(2.187713% 3.27295% 6.529073%);
    --palDusk-20: rgb(2.344352% 3.629391% 7.139618%);
    --palDusk-21: rgb(2.494467% 4.006143% 7.749896%);
    --palDusk-22: rgb(2.636225% 4.389129% 8.359395%);
    --palDusk-23: rgb(2.767477% 4.771267% 8.967853%);
    --palDusk-24: rgb(2.886183% 5.153595% 9.574519%);
    --palDusk-25: rgb(2.990029% 5.536627% 10.178747%);
    --palDusk-26: rgb(3.076681% 5.920868% 10.779602%);
    --palDusk-27: rgb(3.143784% 6.306816% 11.375905%);
    --palDusk-28: rgb(3.188926% 6.694974% 11.966277%);
    --palDusk-29: rgb(3.209927% 7.085806% 12.548923%);
    --palDusk-30: rgb(3.204485% 7.47979% 13.121964%);
    --palDusk-31: rgb(3.170914% 7.877316% 13.682947%);
    --palDusk-32: rgb(3.107872% 8.278722% 14.229185%);
    --palDusk-33: rgb(3.01485% 8.684216% 14.757605%);
    --palDusk-34: rgb(2.892314% 9.093857% 15.264897%);
    --palDusk-35: rgb(2.74218% 9.507468% 15.747575%);
    --palDusk-36: rgb(2.567782% 9.924639% 16.202295%);
    --palDusk-37: rgb(2.374284% 10.34465% 16.626052%);
    --palDusk-38: rgb(2.168272% 10.766529% 17.016587%);
    --palDusk-39: rgb(1.957446% 11.189102% 17.37263%);
    --palDusk-40: rgb(1.750057% 11.611087% 17.694064%);
    --palDusk-41: rgb(1.554158% 12.031222% 17.981907%);
    --palDusk-42: rgb(1.377041% 12.448375% 18.238128%);
    --palDusk-43: rgb(1.22487% 12.86161% 18.465359%);
    --palDusk-44: rgb(1.102527% 13.270222% 18.666593%);
    --palDusk-45: rgb(1.013654% 13.673734% 18.844911%);
    --palDusk-46: rgb(0.960796% 14.07187% 19.003286%);
    --palDusk-47: rgb(0.945611% 14.464524% 19.144452%);
    --palDusk-48: rgb(0.96916% 14.851694% 19.270899%);
    --palDusk-49: rgb(1.031902% 15.233494% 19.384744%);
    --palDusk-50: rgb(1.134072% 15.610072% 19.487905%);
    --palDusk-51: rgb(1.275549% 15.981642% 19.581928%);
    --palDusk-52: rgb(1.456113% 16.348428% 19.668168%);
    --palDusk-53: rgb(1.675444% 16.710668% 19.74776%);
    --palDusk-54: rgb(1.933158% 17.068605% 19.821647%);
    --palDusk-55: rgb(2.22885% 17.42248% 19.89061%);
    --palDusk-56: rgb(2.562126% 17.77252% 19.95535%);
    --palDusk-57: rgb(2.932575% 18.118959% 20.016348%);
    --palDusk-58: rgb(3.339835% 18.46201% 20.07405%);
    --palDusk-59: rgb(3.783568% 18.801874% 20.128825%);
    --palDusk-60: rgb(4.256515% 19.138746% 20.180927%);
    --palDusk-61: rgb(4.732039% 19.472808% 20.23055%);
    --palDusk-62: rgb(5.20843% 19.804224% 20.277901%);
    --palDusk-63: rgb(5.684929% 20.133154% 20.323032%);
    --palDusk-64: rgb(6.160993% 20.459744% 20.366006%);
    --palDusk-65: rgb(6.636254% 20.784126% 20.406847%);
    --palDusk-66: rgb(7.11048% 21.106422% 20.445542%);
    --palDusk-67: rgb(7.583546% 21.426743% 20.482045%);
    --palDusk-68: rgb(8.055413% 21.745189% 20.516282%);
    --palDusk-69: rgb(8.526112% 22.061849% 20.548155%);
    --palDusk-70: rgb(8.995729% 22.376802% 20.577543%);
    --palDusk-71: rgb(9.4644% 22.690114% 20.604306%);
    --palDusk-72: rgb(9.932297% 23.001842% 20.628291%);
    --palDusk-73: rgb(10.399629% 23.312032% 20.649326%);
    --palDusk-74: rgb(10.86663% 23.62072% 20.667231%);
    --palDusk-75: rgb(11.333562% 23.92793% 20.681819%);
    --palDusk-76: rgb(11.800703% 24.233678% 20.692895%);
    --palDusk-77: rgb(12.268344% 24.537967% 20.700274%);
    --palDusk-78: rgb(12.736801% 24.840794% 20.703752%);
    --palDusk-79: rgb(13.206401% 25.142142% 20.703121%);
    --palDusk-80: rgb(13.677474% 25.441989% 20.698188%);
    --palDusk-81: rgb(14.150347% 25.740301% 20.688783%);
    --palDusk-82: rgb(14.625367% 26.037038% 20.674716%);
    --palDusk-83: rgb(15.102874% 26.332149% 20.655811%);
    --palDusk-84: rgb(15.583197% 26.625581% 20.631922%);
    --palDusk-85: rgb(16.066665% 26.917269% 20.602911%);
    --palDusk-86: rgb(16.553603% 27.207145% 20.568642%);
    --palDusk-87: rgb(17.044314% 27.495136% 20.529017%);
    --palDusk-88: rgb(17.539092% 27.781164% 20.483949%);
    --palDusk-89: rgb(18.038218% 28.065148% 20.433362%);
    --palDusk-90: rgb(18.541944% 28.347005% 20.377221%);
    --palDusk-91: rgb(19.050512% 28.626648% 20.315496%);
    --palDusk-92: rgb(19.56414% 28.903991% 20.248181%);
    --palDusk-93: rgb(20.083015% 29.178948% 20.175306%);
    --palDusk-94: rgb(20.607312% 29.451432% 20.096901%);
    --palDusk-95: rgb(21.137172% 29.721359% 20.013034%);
    --palDusk-96: rgb(21.672715% 29.988644% 19.923788%);
    --palDusk-97: rgb(22.214038% 30.253209% 19.829263%);
    --palDusk-98: rgb(22.761211% 30.514975% 19.729584%);
    --palDusk-99: rgb(23.314282% 30.773868% 19.62489%);
    --palDusk-100: rgb(23.873275% 31.029817% 19.515339%);
    --palDusk-101: rgb(24.438198% 31.282757% 19.4011%);
    --palDusk-102: rgb(25.009029% 31.532625% 19.282364%);
    --palDusk-103: rgb(25.585738% 31.779364% 19.159329%);
    --palDusk-104: rgb(26.168271% 32.022921% 19.032209%);
    --palDusk-105: rgb(26.756557% 32.263248% 18.901231%);
    --palDusk-106: rgb(27.350521% 32.5003% 18.766618%);
    --palDusk-107: rgb(27.950062% 32.73404% 18.628626%);
    --palDusk-108: rgb(28.555074% 32.964434% 18.487502%);
    --palDusk-109: rgb(29.165448% 33.191449% 18.343498%);
    --palDusk-110: rgb(29.781051% 33.415064% 18.196891%);
    --palDusk-111: rgb(30.40176% 33.635255% 18.047943%);
    --palDusk-112: rgb(31.027437% 33.852004% 17.896932%);
    --palDusk-113: rgb(31.657935% 34.065302% 17.744148%);
    --palDusk-114: rgb(32.293119% 34.275134% 17.589866%);
    --palDusk-115: rgb(32.932838% 34.481497% 17.434382%);
    --palDusk-116: rgb(33.576938% 34.68439% 17.277997%);
    --palDusk-117: rgb(34.225277% 34.883811% 17.121001%);
    --palDusk-118: rgb(34.877705% 35.079763% 16.963696%);
    --palDusk-119: rgb(35.534066% 35.272256% 16.806399%);
    --palDusk-120: rgb(36.194213% 35.461298% 16.649417%);
    --palDusk-121: rgb(36.858009% 35.646897% 16.493051%);
    --palDusk-122: rgb(37.525297% 35.829071% 16.337635%);
    --palDusk-123: rgb(38.195932% 36.007838% 16.183489%);
    --palDusk-124: rgb(38.86978% 36.183214% 16.030931%);
    --palDusk-125: rgb(39.546704% 36.355217% 15.880289%);
    --palDusk-126: rgb(40.226559% 36.523875% 15.731904%);
    --palDusk-127: rgb(40.909213% 36.689211% 15.586112%);
    --palDusk-128: rgb(41.594539% 36.85125% 15.443249%);
    --palDusk-129: rgb(42.282416% 37.010016% 15.303652%);
    --palDusk-130: rgb(42.97271% 37.165543% 15.167676%);
    --palDusk-131: rgb(43.665302% 37.317861% 15.035671%);
    --palDusk-132: rgb(44.360075% 37.467001% 14.907987%);
    --palDusk-133: rgb(45.056916% 37.612995% 14.784975%);
    --palDusk-134: rgb(45.755721% 37.755874% 14.666983%);
    --palDusk-135: rgb(46.456375% 37.895675% 14.554374%);
    --palDusk-136: rgb(47.158775% 38.032436% 14.447503%);
    --palDusk-137: rgb(47.862821% 38.166191% 14.346724%);
    --palDusk-138: rgb(48.568416% 38.296977% 14.252388%);
    --palDusk-139: rgb(49.275469% 38.424832% 14.164842%);
    --palDusk-140: rgb(49.983891% 38.549792% 14.08443%);
    --palDusk-141: rgb(50.693599% 38.671895% 14.011489%);
    --palDusk-142: rgb(51.404506% 38.791181% 13.946356%);
    --palDusk-143: rgb(52.116534% 38.907688% 13.889354%);
    --palDusk-144: rgb(52.829607% 39.021456% 13.840799%);
    --palDusk-145: rgb(53.543653% 39.132521% 13.800994%);
    --palDusk-146: rgb(54.258604% 39.240923% 13.770233%);
    --palDusk-147: rgb(54.974396% 39.346699% 13.748795%);
    --palDusk-148: rgb(55.690966% 39.449889% 13.736943%);
    --palDusk-149: rgb(56.408256% 39.550527% 13.734929%);
    --palDusk-150: rgb(57.12621% 39.648653% 13.742983%);
    --palDusk-151: rgb(57.844776% 39.744302% 13.761321%);
    --palDusk-152: rgb(58.563906% 39.83751% 13.790141%);
    --palDusk-153: rgb(59.283552% 39.928312% 13.829622%);
    --palDusk-154: rgb(60.00367% 40.016744% 13.879923%);
    --palDusk-155: rgb(60.72422% 40.102839% 13.941187%);
    --palDusk-156: rgb(61.445161% 40.186631% 14.013536%);
    --palDusk-157: rgb(62.166458% 40.268153% 14.097075%);
    --palDusk-158: rgb(62.888073% 40.347438% 14.191891%);
    --palDusk-159: rgb(63.609975% 40.424519% 14.298058%);
    --palDusk-160: rgb(64.33213% 40.499426% 14.415631%);
    --palDusk-161: rgb(65.054506% 40.572192% 14.544653%);
    --palDusk-162: rgb(65.777074% 40.642849% 14.685155%);
    --palDusk-163: rgb(66.499813% 40.71142% 14.837155%);
    --palDusk-164: rgb(67.222686% 40.777944% 15.00067%);
    --palDusk-165: rgb(67.945657% 40.842454% 15.175708%);
    --palDusk-166: rgb(68.668695% 40.904986% 15.362274%);
    --palDusk-167: rgb(69.391762% 40.965576% 15.560372%);
    --palDusk-168: rgb(70.114845% 41.024245% 15.770005%);
    --palDusk-169: rgb(70.837887% 41.081044% 15.991188%);
    --palDusk-170: rgb(71.560837% 41.136022% 16.223944%);
    --palDusk-171: rgb(72.283661% 41.189213% 16.468302%);
    --palDusk-172: rgb(73.006311% 41.240664% 16.724311%);
    --palDusk-173: rgb(73.728696% 41.290454% 16.992039%);
    --palDusk-174: rgb(74.450787% 41.338611% 17.271575%);
    --palDusk-175: rgb(75.172465% 41.385239% 17.563038%);
    --palDusk-176: rgb(75.893666% 41.430395% 17.86658%);
    --palDusk-177: rgb(76.61425% 41.4742% 18.182389%);
    --palDusk-178: rgb(77.334135% 41.516724% 18.510703%);
    --palDusk-179: rgb(78.053127% 41.558134% 18.8518%);
    --palDusk-180: rgb(78.771077% 41.598558% 19.206029%);
    --palDusk-181: rgb(79.487796% 41.638158% 19.573806%);
    --palDusk-182: rgb(80.203018% 41.677161% 19.955616%);
    --palDusk-183: rgb(80.916467% 41.71581% 20.352042%);
    --palDusk-184: rgb(81.627808% 41.754393% 20.763775%);
    --palDusk-185: rgb(82.336641% 41.79326% 21.191626%);
    --palDusk-186: rgb(83.042481% 41.832838% 21.636549%);
    --palDusk-187: rgb(83.744739% 41.87365% 22.099658%);
    --palDusk-188: rgb(84.44274% 41.916297% 22.582291%);
    --palDusk-189: rgb(85.135614% 41.961561% 23.085986%);
    --palDusk-190: rgb(85.822307% 42.010398% 23.612549%);
    --palDusk-191: rgb(86.501518% 42.063999% 24.164089%);
    --palDusk-192: rgb(87.171687% 42.123795% 24.743117%);
    --palDusk-193: rgb(87.830796% 42.191663% 25.352456%);
    --palDusk-194: rgb(88.476392% 42.269894% 25.995402%);
    --palDusk-195: rgb(89.105353% 42.361441% 26.675528%);
    --palDusk-196: rgb(89.71387% 42.469934% 27.396697%);
    --palDusk-197: rgb(90.297311% 42.599833% 28.162702%);
    --palDusk-198: rgb(90.850263% 42.756409% 28.976751%);
    --palDusk-199: rgb(91.366763% 42.945556% 29.840528%);
    --palDusk-200: rgb(91.840936% 43.173187% 30.753127%);
    --palDusk-201: rgb(92.26801% 43.444246% 31.710142%);
    --palDusk-202: rgb(92.645438% 43.761557% 32.703485%);
    --palDusk-203: rgb(92.973622% 44.12503% 33.722476%);
    --palDusk-204: rgb(93.255776% 44.531707% 34.755792%);
    --palDusk-205: rgb(93.496881% 44.976688% 35.793893%);
    --palDusk-206: rgb(93.70277% 45.454143% 36.829025%);
    --palDusk-207: rgb(93.879037% 45.958348% 37.856247%);
    --palDusk-208: rgb(94.030466% 46.484294% 38.873049%);
    --palDusk-209: rgb(94.161285% 47.027591% 39.877692%);
    --palDusk-210: rgb(94.274802% 47.584738% 40.869798%);
    --palDusk-211: rgb(94.373625% 48.152948% 41.849613%);
    --palDusk-212: rgb(94.459927% 48.729936% 42.817485%);
    --palDusk-213: rgb(94.535537% 49.313811% 43.773793%);
    --palDusk-214: rgb(94.601805% 49.903156% 44.719269%);
    --palDusk-215: rgb(94.659665% 50.496942% 45.654895%);
    --palDusk-216: rgb(94.71034% 51.094028% 46.58081%);
    --palDusk-217: rgb(94.754294% 51.693861% 47.498097%);
    --palDusk-218: rgb(94.792325% 52.295717% 48.407057%);
    --palDusk-219: rgb(94.825061% 52.899034% 49.308073%);
    --palDusk-220: rgb(94.852981% 53.503389% 50.201594%);
    --palDusk-221: rgb(94.876435% 54.108475% 51.08811%);
    --palDusk-222: rgb(94.895662% 54.714081% 51.968145%);
    --palDusk-223: rgb(94.91086% 55.320041% 52.842168%);
    --palDusk-224: rgb(94.922934% 55.92576% 53.709655%);
    --palDusk-225: rgb(94.931274% 56.531615% 54.571978%);
    --palDusk-226: rgb(94.936957% 57.136941% 55.428294%);
    --palDusk-227: rgb(94.939588% 57.741995% 56.279566%);
    --palDusk-228: rgb(94.939385% 58.346663% 57.125933%);
    --palDusk-229: rgb(94.936862% 58.950665% 57.967159%);
    --palDusk-230: rgb(94.932104% 59.553985% 58.80349%);
    --palDusk-231: rgb(94.925112% 60.156661% 59.635233%);
    --palDusk-232: rgb(94.916065% 60.758632% 60.462461%);
    --palDusk-233: rgb(94.905115% 61.359854% 61.285258%);
    --palDusk-234: rgb(94.892393% 61.960303% 62.103711%);
    --palDusk-235: rgb(94.878009% 62.559967% 62.91791%);
    --palDusk-236: rgb(94.862057% 63.158846% 63.727947%);
    --palDusk-237: rgb(94.844916% 63.756791% 64.53361%);
    --palDusk-238: rgb(94.826642% 64.353831% 65.335011%);
    --palDusk-239: rgb(94.807105% 64.950092% 66.132426%);
    --palDusk-240: rgb(94.786345% 65.545611% 66.925949%);
    --palDusk-241: rgb(94.764883% 66.140178% 67.715195%);
    --palDusk-242: rgb(94.742779% 66.733825% 68.500229%);
    --palDusk-243: rgb(94.719628% 67.326821% 69.281534%);
    --palDusk-244: rgb(94.696326% 67.918779% 70.058375%);
    --palDusk-245: rgb(94.672432% 68.509983% 70.831247%);
    --palDusk-246: rgb(94.648171% 69.100389% 71.600025%);
    --palDusk-247: rgb(94.623948% 69.689864% 72.364423%);
    --palDusk-248: rgb(94.599436% 70.278636% 73.124796%);
    --palDusk-249: rgb(94.575276% 70.866465% 73.880651%);
    --palDusk-250: rgb(94.551208% 71.453544% 74.632267%);
    --palDusk-251: rgb(94.527502% 72.039816% 75.379466%);
    --palDusk-252: rgb(94.504581% 72.625156% 76.12195%);
    --palDusk-253: rgb(94.481859% 73.209905% 76.860231%);
    --palDusk-254: rgb(94.460694% 73.793516% 77.593272%);
    --palDusk-255: rgb(94.440291% 74.376425% 78.321739%);
    --palDusk-256: rgb(94.420783% 74.958643% 79.045556%);
}
