/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palEmergency-1: rgb(0% 0% 0%);
    --palEmergency-2: rgb(0.019077% 0.024831% 0.026157%);
    --palEmergency-3: rgb(0.063461% 0.087064% 0.092705%);
    --palEmergency-4: rgb(0.126358% 0.182192% 0.196005%);
    --palEmergency-5: rgb(0.204134% 0.308485% 0.335177%);
    --palEmergency-6: rgb(0.294185% 0.464987% 0.510116%);
    --palEmergency-7: rgb(0.394442% 0.65111% 0.721106%);
    --palEmergency-8: rgb(0.503169% 0.866477% 0.96867%);
    --palEmergency-9: rgb(0.618851% 1.110844% 1.253504%);
    --palEmergency-10: rgb(0.740142% 1.384057% 1.57643%);
    --palEmergency-11: rgb(0.865822% 1.686026% 1.938384%);
    --palEmergency-12: rgb(0.994766% 2.016707% 2.340395%);
    --palEmergency-13: rgb(1.125933% 2.376092% 2.783582%);
    --palEmergency-14: rgb(1.25835% 2.764199% 3.269141%);
    --palEmergency-15: rgb(1.391097% 3.181065% 3.798357%);
    --palEmergency-16: rgb(1.523314% 3.626741% 4.359775%);
    --palEmergency-17: rgb(1.654187% 4.100118% 4.920422%);
    --palEmergency-18: rgb(1.782945% 4.57465% 5.480556%);
    --palEmergency-19: rgb(1.908855% 5.044639% 6.04069%);
    --palEmergency-20: rgb(2.031224% 5.510441% 6.601283%);
    --palEmergency-21: rgb(2.149386% 5.972361% 7.162752%);
    --palEmergency-22: rgb(2.262701% 6.430671% 7.725488%);
    --palEmergency-23: rgb(2.370605% 6.885596% 8.289817%);
    --palEmergency-24: rgb(2.472548% 7.337337% 8.856054%);
    --palEmergency-25: rgb(2.567977% 7.78608% 9.424518%);
    --palEmergency-26: rgb(2.656427% 8.231975% 9.995469%);
    --palEmergency-27: rgb(2.737474% 8.675154% 10.56915%);
    --palEmergency-28: rgb(2.810641% 9.115746% 11.145843%);
    --palEmergency-29: rgb(2.875623% 9.553843% 11.725734%);
    --palEmergency-30: rgb(2.932044% 9.98954% 12.309063%);
    --palEmergency-31: rgb(2.979633% 10.422912% 12.89602%);
    --palEmergency-32: rgb(3.018127% 10.854024% 13.486808%);
    --palEmergency-33: rgb(3.047338% 11.282931% 14.081598%);
    --palEmergency-34: rgb(3.067077% 11.709679% 14.680582%);
    --palEmergency-35: rgb(3.077294% 12.1343% 15.283893%);
    --palEmergency-36: rgb(3.07784% 12.556831% 15.891737%);
    --palEmergency-37: rgb(3.068789% 12.977284% 16.504219%);
    --palEmergency-38: rgb(3.050193% 13.395672% 17.121482%);
    --palEmergency-39: rgb(3.022082% 13.812009% 17.743699%);
    --palEmergency-40: rgb(2.984702% 14.226289% 18.370957%);
    --palEmergency-41: rgb(2.93828% 14.638507% 19.003378%);
    --palEmergency-42: rgb(2.883114% 15.048652% 19.641073%);
    --palEmergency-43: rgb(2.819537% 15.456709% 20.284163%);
    --palEmergency-44: rgb(2.748016% 15.862656% 20.932729%);
    --palEmergency-45: rgb(2.669076% 16.266465% 21.586855%);
    --palEmergency-46: rgb(2.583308% 16.668105% 22.246619%);
    --palEmergency-47: rgb(2.491384% 17.067541% 22.912091%);
    --palEmergency-48: rgb(2.394058% 17.464735% 23.583332%);
    --palEmergency-49: rgb(2.29217% 17.859643% 24.260396%);
    --palEmergency-50: rgb(2.186647% 18.252219% 24.943325%);
    --palEmergency-51: rgb(2.078507% 18.642413% 25.632151%);
    --palEmergency-52: rgb(1.968859% 19.030172% 26.326898%);
    --palEmergency-53: rgb(1.858904% 19.415442% 27.027579%);
    --palEmergency-54: rgb(1.749939% 19.798164% 27.734197%);
    --palEmergency-55: rgb(1.643335% 20.178277% 28.446755%);
    --palEmergency-56: rgb(1.540584% 20.555721% 29.165234%);
    --palEmergency-57: rgb(1.443291% 20.930429% 29.889595%);
    --palEmergency-58: rgb(1.353142% 21.302338% 30.619796%);
    --palEmergency-59: rgb(1.271909% 21.67138% 31.355792%);
    --palEmergency-60: rgb(1.201441% 22.037488% 32.097539%);
    --palEmergency-61: rgb(1.143762% 22.400593% 32.844934%);
    --palEmergency-62: rgb(1.100939% 22.760628% 33.597897%);
    --palEmergency-63: rgb(1.075097% 23.117523% 34.356357%);
    --palEmergency-64: rgb(1.068555% 23.471211% 35.120169%);
    --palEmergency-65: rgb(1.083628% 23.821624% 35.889238%);
    --palEmergency-66: rgb(1.122776% 24.168696% 36.663419%);
    --palEmergency-67: rgb(1.188527% 24.512361% 37.442569%);
    --palEmergency-68: rgb(1.283482% 24.852555% 38.22654%);
    --palEmergency-69: rgb(1.410346% 25.189217% 39.015153%);
    --palEmergency-70: rgb(1.571873% 25.522287% 39.808243%);
    --palEmergency-71: rgb(1.770909% 25.851707% 40.605612%);
    --palEmergency-72: rgb(2.010359% 26.177422% 41.407061%);
    --palEmergency-73: rgb(2.293179% 26.499381% 42.212391%);
    --palEmergency-74: rgb(2.622411% 26.817536% 43.021361%);
    --palEmergency-75: rgb(3.00111% 27.131839% 43.833771%);
    --palEmergency-76: rgb(3.432415% 27.442253% 44.649361%);
    --palEmergency-77: rgb(3.919489% 27.748739% 45.467885%);
    --palEmergency-78: rgb(4.446566% 28.051261% 46.289108%);
    --palEmergency-79: rgb(4.990117% 28.349794% 47.112747%);
    --palEmergency-80: rgb(5.549452% 28.644313% 47.938534%);
    --palEmergency-81: rgb(6.123158% 28.934796% 48.766207%);
    --palEmergency-82: rgb(6.710034% 29.221229% 49.595474%);
    --palEmergency-83: rgb(7.309044% 29.503604% 50.426042%);
    --palEmergency-84: rgb(7.919292% 29.781915% 51.257621%);
    --palEmergency-85: rgb(8.54% 30.05616% 52.089921%);
    --palEmergency-86: rgb(9.170483% 30.326347% 52.922631%);
    --palEmergency-87: rgb(9.810133% 30.592486% 53.755442%);
    --palEmergency-88: rgb(10.45841% 30.854594% 54.588046%);
    --palEmergency-89: rgb(11.114828% 31.112692% 55.42013%);
    --palEmergency-90: rgb(11.778949% 31.366805% 56.251383%);
    --palEmergency-91: rgb(12.450367% 31.616968% 57.081479%);
    --palEmergency-92: rgb(13.128713% 31.863218% 57.910098%);
    --palEmergency-93: rgb(13.813645% 32.1056% 58.736917%);
    --palEmergency-94: rgb(14.504843% 32.344161% 59.561612%);
    --palEmergency-95: rgb(15.20201% 32.578957% 60.383856%);
    --palEmergency-96: rgb(15.904867% 32.810047% 61.203325%);
    --palEmergency-97: rgb(16.613148% 33.037497% 62.019688%);
    --palEmergency-98: rgb(17.326601% 33.261378% 62.832615%);
    --palEmergency-99: rgb(18.044987% 33.481769% 63.641773%);
    --palEmergency-100: rgb(18.768077% 33.69875% 64.446831%);
    --palEmergency-101: rgb(19.49565% 33.912411% 65.247456%);
    --palEmergency-102: rgb(20.227497% 34.122844% 66.043314%);
    --palEmergency-103: rgb(20.963413% 34.330151% 66.834068%);
    --palEmergency-104: rgb(21.703201% 34.534435% 67.619382%);
    --palEmergency-105: rgb(22.446672% 34.735808% 68.398918%);
    --palEmergency-106: rgb(23.193639% 34.934388% 69.172334%);
    --palEmergency-107: rgb(23.943922% 35.130296% 69.93929%);
    --palEmergency-108: rgb(24.697344% 35.323662% 70.69944%);
    --palEmergency-109: rgb(25.453733% 35.514621% 71.452439%);
    --palEmergency-110: rgb(26.212918% 35.703314% 72.197938%);
    --palEmergency-111: rgb(26.974734% 35.889889% 72.935583%);
    --palEmergency-112: rgb(27.739016% 36.0745% 73.665021%);
    --palEmergency-113: rgb(28.5056% 36.257307% 74.385892%);
    --palEmergency-114: rgb(29.274325% 36.438479% 75.097834%);
    --palEmergency-115: rgb(30.04503% 36.618189% 75.800479%);
    --palEmergency-116: rgb(30.817554% 36.796619% 76.493457%);
    --palEmergency-117: rgb(31.591738% 36.973959% 77.17639%);
    --palEmergency-118: rgb(32.367418% 37.150405% 77.848897%);
    --palEmergency-119: rgb(33.144433% 37.326162% 78.510591%);
    --palEmergency-120: rgb(33.922618% 37.501441% 79.161079%);
    --palEmergency-121: rgb(34.701804% 37.676464% 79.79996%);
    --palEmergency-122: rgb(35.481832% 37.851456% 80.426833%);
    --palEmergency-123: rgb(36.26252% 38.026657% 81.041281%);
    --palEmergency-124: rgb(37.043689% 38.202316% 81.642883%);
    --palEmergency-125: rgb(37.825155% 38.378688% 82.231212%);
    --palEmergency-126: rgb(38.60673% 38.55604% 82.805834%);
    --palEmergency-127: rgb(39.388234% 38.734638% 83.366313%);
    --palEmergency-128: rgb(40.169448% 38.914777% 83.912194%);
    --palEmergency-129: rgb(40.950162% 39.096751% 84.44302%);
    --palEmergency-130: rgb(41.730165% 39.280861% 84.958334%);
    --palEmergency-131: rgb(42.509225% 39.467424% 85.457666%);
    --palEmergency-132: rgb(43.287092% 39.656771% 85.940541%);
    --palEmergency-133: rgb(44.06353% 39.84923% 86.406486%);
    --palEmergency-134: rgb(44.838261% 40.045154% 86.855018%);
    --palEmergency-135: rgb(45.611006% 40.2449% 87.285658%);
    --palEmergency-136: rgb(46.381477% 40.448831% 87.697928%);
    --palEmergency-137: rgb(47.149353% 40.657327% 88.091353%);
    --palEmergency-138: rgb(47.914318% 40.870767% 88.465466%);
    --palEmergency-139: rgb(48.676015% 41.089548% 88.819812%);
    --palEmergency-140: rgb(49.434084% 41.314065% 89.15395%);
    --palEmergency-141: rgb(50.188145% 41.544719% 89.467459%);
    --palEmergency-142: rgb(50.937782% 41.781922% 89.759952%);
    --palEmergency-143: rgb(51.682592% 42.026071% 90.031063%);
    --palEmergency-144: rgb(52.422118% 42.277577% 90.280481%);
    --palEmergency-145: rgb(53.155901% 42.536837% 90.507938%);
    --palEmergency-146: rgb(53.883474% 42.804237% 90.713221%);
    --palEmergency-147: rgb(54.60434% 43.080156% 90.896194%);
    --palEmergency-148: rgb(55.317995% 43.364954% 91.056796%);
    --palEmergency-149: rgb(56.023931% 43.658965% 91.195055%);
    --palEmergency-150: rgb(56.721638% 43.962496% 91.311094%);
    --palEmergency-151: rgb(57.4106% 44.275824% 91.405153%);
    --palEmergency-152: rgb(58.090317% 44.599181% 91.477583%);
    --palEmergency-153: rgb(58.760302% 44.932759% 91.528857%);
    --palEmergency-154: rgb(59.42009% 45.276698% 91.559581%);
    --palEmergency-155: rgb(60.069248% 45.631085% 91.570488%);
    --palEmergency-156: rgb(60.707387% 45.995948% 91.562431%);
    --palEmergency-157: rgb(61.334161% 46.371257% 91.536387%);
    --palEmergency-158: rgb(61.949268% 46.756921% 91.493476%);
    --palEmergency-159: rgb(62.552486% 47.152789% 91.434869%);
    --palEmergency-160: rgb(63.143647% 47.558651% 91.361848%);
    --palEmergency-161: rgb(63.722642% 47.974245% 91.275794%);
    --palEmergency-162: rgb(64.289456% 48.39926% 91.178058%);
    --palEmergency-163: rgb(64.84411% 48.833339% 91.070124%);
    --palEmergency-164: rgb(65.386718% 49.276094% 90.953385%);
    --palEmergency-165: rgb(65.917451% 49.72711% 90.829252%);
    --palEmergency-166: rgb(66.436518% 50.185944% 90.699175%);
    --palEmergency-167: rgb(66.944201% 50.652148% 90.564465%);
    --palEmergency-168: rgb(67.44082% 51.125268% 90.426398%);
    --palEmergency-169: rgb(67.926729% 51.604852% 90.286189%);
    --palEmergency-170: rgb(68.402314% 52.090454% 90.144968%);
    --palEmergency-171: rgb(68.86798% 52.581642% 90.003774%);
    --palEmergency-172: rgb(69.324144% 53.077983% 89.863669%);
    --palEmergency-173: rgb(69.771246% 53.579096% 89.725413%);
    --palEmergency-174: rgb(70.209722% 54.084604% 89.589797%);
    --palEmergency-175: rgb(70.640004% 54.594136% 89.457637%);
    --palEmergency-176: rgb(71.062529% 55.107379% 89.329444%);
    --palEmergency-177: rgb(71.477718% 55.624026% 89.205788%);
    --palEmergency-178: rgb(71.88599% 56.14377% 89.087269%);
    --palEmergency-179: rgb(72.287745% 56.666373% 88.974192%);
    --palEmergency-180: rgb(72.683374% 57.191593% 88.866935%);
    --palEmergency-181: rgb(73.073251% 57.719212% 88.765816%);
    --palEmergency-182: rgb(73.457738% 58.249033% 88.671093%);
    --palEmergency-183: rgb(73.837177% 58.78088% 88.58297%);
    --palEmergency-184: rgb(74.211896% 59.314596% 88.501601%);
    --palEmergency-185: rgb(74.582227% 59.850001% 88.427291%);
    --palEmergency-186: rgb(74.94845% 60.387005% 88.359978%);
    --palEmergency-187: rgb(75.310846% 60.925495% 88.299728%);
    --palEmergency-188: rgb(75.669717% 61.46532% 88.246809%);
    --palEmergency-189: rgb(76.025279% 62.006449% 88.201004%);
    --palEmergency-190: rgb(76.377816% 62.548742% 88.162576%);
    --palEmergency-191: rgb(76.727536% 63.092164% 88.131383%);
    --palEmergency-192: rgb(77.074654% 63.636656% 88.107399%);
    --palEmergency-193: rgb(77.419411% 64.182123% 88.090765%);
    --palEmergency-194: rgb(77.761992% 64.728537% 88.081371%);
    --palEmergency-195: rgb(78.10258% 65.275861% 88.079157%);
    --palEmergency-196: rgb(78.44136% 65.824055% 88.0841%);
    --palEmergency-197: rgb(78.778507% 66.373085% 88.096161%);
    --palEmergency-198: rgb(79.114188% 66.92292% 88.115296%);
    --palEmergency-199: rgb(79.448559% 67.473539% 88.14145%);
    --palEmergency-200: rgb(79.781771% 68.024923% 88.174561%);
    --palEmergency-201: rgb(80.113966% 68.577058% 88.21456%);
    --palEmergency-202: rgb(80.445279% 69.129935% 88.261374%);
    --palEmergency-203: rgb(80.775868% 69.683517% 88.315027%);
    --palEmergency-204: rgb(81.105856% 70.237805% 88.37543%);
    --palEmergency-205: rgb(81.435339% 70.792816% 88.442431%);
    --palEmergency-206: rgb(81.764435% 71.348545% 88.515972%);
    --palEmergency-207: rgb(82.093327% 71.904933% 88.596184%);
    --palEmergency-208: rgb(82.422041% 72.462052% 88.682754%);
    --palEmergency-209: rgb(82.750741% 73.019854% 88.775777%);
    --palEmergency-210: rgb(83.079513% 73.578358% 88.875137%);
    --palEmergency-211: rgb(83.408458% 74.137566% 88.980771%);
    --palEmergency-212: rgb(83.737688% 74.697473% 89.092644%);
    --palEmergency-213: rgb(84.067301% 75.258082% 89.210699%);
    --palEmergency-214: rgb(84.397363% 75.81942% 89.334805%);
    --palEmergency-215: rgb(84.728043% 76.381436% 89.465087%);
    --palEmergency-216: rgb(85.05935% 76.944199% 89.601283%);
    --palEmergency-217: rgb(85.391425% 77.507677% 89.743458%);
    --palEmergency-218: rgb(85.724378% 78.071861% 89.891602%);
    --palEmergency-219: rgb(86.05825% 78.636794% 90.045553%);
    --palEmergency-220: rgb(86.39314% 79.202473% 90.205278%);
    --palEmergency-221: rgb(86.729199% 79.768862% 90.370867%);
    --palEmergency-222: rgb(87.06648% 80.33599% 90.54219%);
    --palEmergency-223: rgb(87.405066% 80.90387% 90.719184%);
    --palEmergency-224: rgb(87.745055% 81.472498% 90.901819%);
    --palEmergency-225: rgb(88.086548% 82.041875% 91.090071%);
    --palEmergency-226: rgb(88.429644% 82.611996% 91.283913%);
    --palEmergency-227: rgb(88.774454% 83.182857% 91.483331%);
    --palEmergency-228: rgb(89.121096% 83.754444% 91.688326%);
    --palEmergency-229: rgb(89.469656% 84.326767% 91.898831%);
    --palEmergency-230: rgb(89.820248% 84.899818% 92.114829%);
    --palEmergency-231: rgb(90.17299% 85.473586% 92.336308%);
    --palEmergency-232: rgb(90.528008% 86.048059% 92.563256%);
    --palEmergency-233: rgb(90.885432% 86.623221% 92.79567%);
    --palEmergency-234: rgb(91.245402% 87.199051% 93.033548%);
    --palEmergency-235: rgb(91.60807% 87.775526% 93.276905%);
    --palEmergency-236: rgb(91.973619% 88.352599% 93.525798%);
    --palEmergency-237: rgb(92.342201% 88.930251% 93.780216%);
    --palEmergency-238: rgb(92.714003% 89.508439% 94.040201%);
    --palEmergency-239: rgb(93.089226% 90.087113% 94.30581%);
    --palEmergency-240: rgb(93.468092% 90.666216% 94.577124%);
    --palEmergency-241: rgb(93.850836% 91.245677% 94.854257%);
    --palEmergency-242: rgb(94.237717% 91.825419% 95.137361%);
    --palEmergency-243: rgb(94.629052% 92.405321% 95.426732%);
    --palEmergency-244: rgb(95.025085% 92.985303% 95.722594%);
    --palEmergency-245: rgb(95.426066% 93.56527% 96.025301%);
    --palEmergency-246: rgb(95.832214% 94.145122% 96.33536%);
    --palEmergency-247: rgb(96.243675% 94.724769% 96.653492%);
    --palEmergency-248: rgb(96.660389% 95.304181% 96.980599%);
    --palEmergency-249: rgb(97.081882% 95.883488% 97.317666%);
    --palEmergency-250: rgb(97.507187% 96.462991% 97.665905%);
    --palEmergency-251: rgb(97.934643% 97.043254% 98.02659%);
    --palEmergency-252: rgb(98.361583% 97.625308% 98.400356%);
    --palEmergency-253: rgb(98.784645% 98.210542% 98.786931%);
    --palEmergency-254: rgb(99.200407% 98.800498% 99.184699%);
    --palEmergency-255: rgb(99.606013% 99.396652% 99.590409%);
    --palEmergency-256: rgb(100% 100% 100%);
    --palEmergency-257: rgb(99.657667% 99.382951% 99.526842%);
    --palEmergency-258: rgb(99.304738% 98.772939% 99.054309%);
    --palEmergency-259: rgb(98.940976% 98.1697% 98.586019%);
    --palEmergency-260: rgb(98.567914% 97.572192% 98.126232%);
    --palEmergency-261: rgb(98.189319% 96.978534% 97.678593%);
    --palEmergency-262: rgb(97.810525% 96.386404% 97.244775%);
    --palEmergency-263: rgb(97.436864% 95.793706% 96.824098%);
    --palEmergency-264: rgb(97.072295% 95.199032% 96.414318%);
    --palEmergency-265: rgb(96.718989% 94.601726% 96.012769%);
    --palEmergency-266: rgb(96.377677% 94.001665% 95.617114%);
    --palEmergency-267: rgb(96.048208% 93.399021% 95.225598%);
    --palEmergency-268: rgb(95.73001% 92.794078% 94.837001%);
    --palEmergency-269: rgb(95.42236% 92.18714% 94.45051%);
    --palEmergency-270: rgb(95.124534% 91.578486% 94.065589%);
    --palEmergency-271: rgb(94.835929% 90.968324% 93.681914%);
    --palEmergency-272: rgb(94.5559% 90.356876% 93.299209%);
    --palEmergency-273: rgb(94.283929% 89.744305% 92.917296%);
    --palEmergency-274: rgb(94.019569% 89.130739% 92.536039%);
    --palEmergency-275: rgb(93.76248% 88.51626% 92.155348%);
    --palEmergency-276: rgb(93.512354% 87.900938% 91.775136%);
    --palEmergency-277: rgb(93.268836% 87.284864% 91.395287%);
    --palEmergency-278: rgb(93.031669% 86.668089% 91.015715%);
    --palEmergency-279: rgb(92.800759% 86.050583% 90.63639%);
    --palEmergency-280: rgb(92.575772% 85.432437% 90.257174%);
    --palEmergency-281: rgb(92.356541% 84.81366% 89.877986%);
    --palEmergency-282: rgb(92.143013% 84.194211% 89.49878%);
    --palEmergency-283: rgb(91.93489% 83.574163% 89.11941%);
    --palEmergency-284: rgb(91.732155% 82.953457% 88.739827%);
    --palEmergency-285: rgb(91.534599% 82.332129% 88.359905%);
    --palEmergency-286: rgb(91.342137% 81.710151% 87.979557%);
    --palEmergency-287: rgb(91.154643% 81.087519% 87.598675%);
    --palEmergency-288: rgb(90.972008% 80.464219% 87.217153%);
    --palEmergency-289: rgb(90.794108% 79.840244% 86.834874%);
    --palEmergency-290: rgb(90.620889% 79.215554% 86.451737%);
    --palEmergency-291: rgb(90.452141% 78.590185% 86.067595%);
    --palEmergency-292: rgb(90.287944% 77.964031% 85.682374%);
    --palEmergency-293: rgb(90.128034% 77.337154% 85.295902%);
    --palEmergency-294: rgb(89.972354% 76.709516% 84.908062%);
    --palEmergency-295: rgb(89.820898% 76.081049% 84.518742%);
    --palEmergency-296: rgb(89.673462% 75.451788% 84.127778%);
    --palEmergency-297: rgb(89.529959% 74.821709% 83.735031%);
    --palEmergency-298: rgb(89.390345% 74.190763% 83.340367%);
    --palEmergency-299: rgb(89.254527% 73.558928% 82.943635%);
    --palEmergency-300: rgb(89.122359% 72.926208% 82.544671%);
    --palEmergency-301: rgb(88.993746% 72.292582% 82.143318%);
    --palEmergency-302: rgb(88.868592% 71.658029% 81.739414%);
    --palEmergency-303: rgb(88.746795% 71.022529% 81.332791%);
    --palEmergency-304: rgb(88.628251% 70.386067% 80.923275%);
    --palEmergency-305: rgb(88.512852% 69.748627% 80.51069%);
    --palEmergency-306: rgb(88.400485% 69.110196% 80.094852%);
    --palEmergency-307: rgb(88.291034% 68.470765% 79.675573%);
    --palEmergency-308: rgb(88.184378% 67.830327% 79.252661%);
    --palEmergency-309: rgb(88.080388% 67.188878% 78.825916%);
    --palEmergency-310: rgb(87.978934% 66.546419% 78.395138%);
    --palEmergency-311: rgb(87.879876% 65.902953% 77.960117%);
    --palEmergency-312: rgb(87.783127% 65.258456% 77.520643%);
    --palEmergency-313: rgb(87.688537% 64.612941% 77.076496%);
    --palEmergency-314: rgb(87.595907% 63.966449% 76.627453%);
    --palEmergency-315: rgb(87.505107% 63.318984% 76.173289%);
    --palEmergency-316: rgb(87.416051% 62.670523% 75.713767%);
    --palEmergency-317: rgb(87.328453% 62.021165% 75.248658%);
    --palEmergency-318: rgb(87.242283% 61.370859% 74.777711%);
    --palEmergency-319: rgb(87.157229% 60.719721% 74.300692%);
    --palEmergency-320: rgb(87.073246% 60.067714% 73.81734%);
    --palEmergency-321: rgb(86.990015% 59.414965% 73.327419%);
    --palEmergency-322: rgb(86.907444% 58.761468% 72.830659%);
    --palEmergency-323: rgb(86.825286% 58.107316% 72.326811%);
    --palEmergency-324: rgb(86.743304% 57.452598% 71.815621%);
    --palEmergency-325: rgb(86.661291% 56.797388% 71.296831%);
    --palEmergency-326: rgb(86.579072% 56.141747% 70.770167%);
    --palEmergency-327: rgb(86.496363% 55.485807% 70.235383%);
    --palEmergency-328: rgb(86.412914% 54.829684% 69.692226%);
    --palEmergency-329: rgb(86.328472% 54.173505% 69.140442%);
    --palEmergency-330: rgb(86.242771% 53.517409% 68.579787%);
    --palEmergency-331: rgb(86.155534% 52.861549% 68.01002%);
    --palEmergency-332: rgb(86.066476% 52.206092% 67.430909%);
    --palEmergency-333: rgb(85.975341% 51.551192% 66.842215%);
    --palEmergency-334: rgb(85.881777% 50.897078% 66.243747%);
    --palEmergency-335: rgb(85.785463% 50.243967% 65.635315%);
    --palEmergency-336: rgb(85.686107% 49.592063% 65.016721%);
    --palEmergency-337: rgb(85.583379% 48.94161% 64.387803%);
    --palEmergency-338: rgb(85.4769% 48.292895% 63.748443%);
    --palEmergency-339: rgb(85.366389% 47.646148% 63.098483%);
    --palEmergency-340: rgb(85.251432% 47.001704% 62.43787%);
    --palEmergency-341: rgb(85.131704% 46.359847% 61.76652%);
    --palEmergency-342: rgb(85.00685% 45.720896% 61.084395%);
    --palEmergency-343: rgb(84.87648% 45.085207% 60.391515%);
    --palEmergency-344: rgb(84.74024% 44.453123% 59.687911%);
    --palEmergency-345: rgb(84.59778% 43.824997% 58.973644%);
    --palEmergency-346: rgb(84.448737% 43.201204% 58.248827%);
    --palEmergency-347: rgb(84.292746% 42.582133% 57.513627%);
    --palEmergency-348: rgb(84.129461% 41.968174% 56.768238%);
    --palEmergency-349: rgb(83.958543% 41.359721% 56.0129%);
    --palEmergency-350: rgb(83.779663% 40.757172% 55.247897%);
    --palEmergency-351: rgb(83.592514% 40.160921% 54.473549%);
    --palEmergency-352: rgb(83.396798% 39.571362% 53.690223%);
    --palEmergency-353: rgb(83.192227% 38.988891% 52.898339%);
    --palEmergency-354: rgb(82.978542% 38.413891% 52.09835%);
    --palEmergency-355: rgb(82.755503% 37.846735% 51.290744%);
    --palEmergency-356: rgb(82.522911% 37.287769% 50.476016%);
    --palEmergency-357: rgb(82.280559% 36.737348% 49.654745%);
    --palEmergency-358: rgb(82.028286% 36.195797% 48.82751%);
    --palEmergency-359: rgb(81.765964% 35.663411% 47.994892%);
    --palEmergency-360: rgb(81.493469% 35.140481% 47.157538%);
    --palEmergency-361: rgb(81.210728% 34.62726% 46.316066%);
    --palEmergency-362: rgb(80.917677% 34.123983% 45.471136%);
    --palEmergency-363: rgb(80.614289% 33.630857% 44.623395%);
    --palEmergency-364: rgb(80.300558% 33.148061% 43.7735%);
    --palEmergency-365: rgb(79.976504% 32.675748% 42.922104%);
    --palEmergency-366: rgb(79.642169% 32.214044% 42.069856%);
    --palEmergency-367: rgb(79.297618% 31.763047% 41.217391%);
    --palEmergency-368: rgb(78.942936% 31.322828% 40.365338%);
    --palEmergency-369: rgb(78.578226% 30.893434% 39.514303%);
    --palEmergency-370: rgb(78.203608% 30.474884% 38.66488%);
    --palEmergency-371: rgb(77.819219% 30.067174% 37.817641%);
    --palEmergency-372: rgb(77.425207% 29.670278% 36.973135%);
    --palEmergency-373: rgb(77.021732% 29.284147% 36.131891%);
    --palEmergency-374: rgb(76.608967% 28.908712% 35.294411%);
    --palEmergency-375: rgb(76.187088% 28.543883% 34.461175%);
    --palEmergency-376: rgb(75.756284% 28.189555% 33.632633%);
    --palEmergency-377: rgb(75.316746% 27.845603% 32.809218%);
    --palEmergency-378: rgb(74.868668% 27.51189% 31.991327%);
    --palEmergency-379: rgb(74.412251% 27.188262% 31.179344%);
    --palEmergency-380: rgb(73.947695% 26.874555% 30.373616%);
    --palEmergency-381: rgb(73.475202% 26.57059% 29.574478%);
    --palEmergency-382: rgb(72.994974% 26.276181% 28.78223%);
    --palEmergency-383: rgb(72.507213% 25.991128% 27.997164%);
    --palEmergency-384: rgb(72.012117% 25.715227% 27.219532%);
    --palEmergency-385: rgb(71.509887% 25.448263% 26.449585%);
    --palEmergency-386: rgb(71.000717% 25.190016% 25.687535%);
    --palEmergency-387: rgb(70.484802% 24.940259% 24.933594%);
    --palEmergency-388: rgb(69.962331% 24.698759% 24.187939%);
    --palEmergency-389: rgb(69.433492% 24.465281% 23.450742%);
    --palEmergency-390: rgb(68.898468% 24.239582% 22.722154%);
    --palEmergency-391: rgb(68.357441% 24.021419% 22.002308%);
    --palEmergency-392: rgb(67.810587% 23.810542% 21.291335%);
    --palEmergency-393: rgb(67.258078% 23.606703% 20.589337%);
    --palEmergency-394: rgb(66.700087% 23.409649% 19.896415%);
    --palEmergency-395: rgb(66.136777% 23.219125% 19.212655%);
    --palEmergency-396: rgb(65.568313% 23.034876% 18.538129%);
    --palEmergency-397: rgb(64.994855% 22.856644% 17.872909%);
    --palEmergency-398: rgb(64.416559% 22.684171% 17.217048%);
    --palEmergency-399: rgb(63.833578% 22.517201% 16.570594%);
    --palEmergency-400: rgb(63.246066% 22.355471% 15.933593%);
    --palEmergency-401: rgb(62.65417% 22.198724% 15.306078%);
    --palEmergency-402: rgb(62.058037% 22.046701% 14.688079%);
    --palEmergency-403: rgb(61.457811% 21.899142% 14.079622%);
    --palEmergency-404: rgb(60.853637% 21.755788% 13.480731%);
    --palEmergency-405: rgb(60.245655% 21.616381% 12.89142%);
    --palEmergency-406: rgb(59.634005% 21.480664% 12.311709%);
    --palEmergency-407: rgb(59.01883% 21.348376% 11.741616%);
    --palEmergency-408: rgb(58.400265% 21.219264% 11.181154%);
    --palEmergency-409: rgb(57.77845% 21.093073% 10.630342%);
    --palEmergency-410: rgb(57.153524% 20.969547% 10.0892%);
    --palEmergency-411: rgb(56.525628% 20.848431% 9.557756%);
    --palEmergency-412: rgb(55.894898% 20.729475% 9.036038%);
    --palEmergency-413: rgb(55.261474% 20.61243% 8.524084%);
    --palEmergency-414: rgb(54.625498% 20.497046% 8.021942%);
    --palEmergency-415: rgb(53.987113% 20.383074% 7.529673%);
    --palEmergency-416: rgb(53.346462% 20.27027% 7.047353%);
    --palEmergency-417: rgb(52.703689% 20.158393% 6.575071%);
    --palEmergency-418: rgb(52.05894% 20.047201% 6.112943%);
    --palEmergency-419: rgb(51.412363% 19.936458% 5.661104%);
    --palEmergency-420: rgb(50.764107% 19.825928% 5.219725%);
    --palEmergency-421: rgb(50.114324% 19.715381% 4.789006%);
    --palEmergency-422: rgb(49.463167% 19.604588% 4.369191%);
    --palEmergency-423: rgb(48.810791% 19.493324% 3.959662%);
    --palEmergency-424: rgb(48.157352% 19.381371% 3.572442%);
    --palEmergency-425: rgb(47.503005% 19.268515% 3.218882%);
    --palEmergency-426: rgb(46.847909% 19.154546% 2.897008%);
    --palEmergency-427: rgb(46.192222% 19.03926% 2.604936%);
    --palEmergency-428: rgb(45.536102% 18.922459% 2.340864%);
    --palEmergency-429: rgb(44.879712% 18.803949% 2.10307%);
    --palEmergency-430: rgb(44.22321% 18.683543% 1.889913%);
    --palEmergency-431: rgb(43.566752% 18.561065% 1.699827%);
    --palEmergency-432: rgb(42.910495% 18.436344% 1.531319%);
    --palEmergency-433: rgb(42.254592% 18.309217% 1.382966%);
    --palEmergency-434: rgb(41.599196% 18.17953% 1.253414%);
    --palEmergency-435: rgb(40.944458% 18.047132% 1.141369%);
    --palEmergency-436: rgb(40.290535% 17.911876% 1.045595%);
    --palEmergency-437: rgb(39.637554% 17.773645% 0.964932%);
    --palEmergency-438: rgb(38.985655% 17.632316% 0.898266%);
    --palEmergency-439: rgb(38.334994% 17.487756% 0.84452%);
    --palEmergency-440: rgb(37.68567% 17.339887% 0.802707%);
    --palEmergency-441: rgb(37.037834% 17.188587% 0.771847%);
    --palEmergency-442: rgb(36.391582% 17.033789% 0.751045%);
    --palEmergency-443: rgb(35.747047% 16.875394% 0.739413%);
    --palEmergency-444: rgb(35.104307% 16.713353% 0.736151%);
    --palEmergency-445: rgb(34.463502% 16.547568% 0.740434%);
    --palEmergency-446: rgb(33.824689% 16.378011% 0.75155%);
    --palEmergency-447: rgb(33.187957% 16.204629% 0.768785%);
    --palEmergency-448: rgb(32.553411% 16.027358% 0.791435%);
    --palEmergency-449: rgb(31.921103% 15.846177% 0.818878%);
    --palEmergency-450: rgb(31.291096% 15.661055% 0.850504%);
    --palEmergency-451: rgb(30.66345% 15.471965% 0.885731%);
    --palEmergency-452: rgb(30.038217% 15.278885% 0.924005%);
    --palEmergency-453: rgb(29.415443% 15.081797% 0.964799%);
    --palEmergency-454: rgb(28.795164% 14.880691% 1.007614%);
    --palEmergency-455: rgb(28.17741% 14.675556% 1.051978%);
    --palEmergency-456: rgb(27.562204% 14.466388% 1.097442%);
    --palEmergency-457: rgb(26.949562% 14.253188% 1.143583%);
    --palEmergency-458: rgb(26.33949% 14.035955% 1.190002%);
    --palEmergency-459: rgb(25.732% 13.814688% 1.236308%);
    --palEmergency-460: rgb(25.12711% 13.589376% 1.282112%);
    --palEmergency-461: rgb(24.524782% 13.360045% 1.327115%);
    --palEmergency-462: rgb(23.925% 13.1267% 1.370998%);
    --palEmergency-463: rgb(23.327796% 12.889316% 1.413388%);
    --palEmergency-464: rgb(22.733084% 12.647934% 1.454084%);
    --palEmergency-465: rgb(22.140887% 12.402528% 1.492745%);
    --palEmergency-466: rgb(21.551127% 12.153126% 1.52918%);
    --palEmergency-467: rgb(20.963813% 11.899703% 1.563087%);
    --palEmergency-468: rgb(20.378848% 11.642289% 1.594321%);
    --palEmergency-469: rgb(19.796241% 11.380848% 1.622596%);
    --palEmergency-470: rgb(19.2159% 11.115398% 1.647778%);
    --palEmergency-471: rgb(18.637762% 10.845933% 1.669701%);
    --palEmergency-472: rgb(18.061794% 10.572425% 1.688163%);
    --palEmergency-473: rgb(17.487919% 10.294866% 1.703033%);
    --palEmergency-474: rgb(16.91605% 10.013242% 1.714202%);
    --palEmergency-475: rgb(16.34611% 9.727531% 1.721551%);
    --palEmergency-476: rgb(15.778019% 9.437701% 1.724979%);
    --palEmergency-477: rgb(15.211687% 9.143718% 1.724397%);
    --palEmergency-478: rgb(14.647019% 8.845542% 1.719735%);
    --palEmergency-479: rgb(14.083913% 8.543126% 1.710936%);
    --palEmergency-480: rgb(13.522259% 8.236417% 1.697961%);
    --palEmergency-481: rgb(12.96194% 7.925353% 1.680787%);
    --palEmergency-482: rgb(12.402827% 7.609863% 1.659405%);
    --palEmergency-483: rgb(11.844785% 7.289868% 1.633825%);
    --palEmergency-484: rgb(11.287667% 6.965276% 1.604072%);
    --palEmergency-485: rgb(10.731316% 6.635986% 1.570189%);
    --palEmergency-486: rgb(10.175561% 6.301879% 1.532236%);
    --palEmergency-487: rgb(9.620241% 5.962813% 1.490259%);
    --palEmergency-488: rgb(9.06515% 5.618642% 1.444364%);
    --palEmergency-489: rgb(8.510056% 5.269202% 1.394688%);
    --palEmergency-490: rgb(7.95472% 4.9143% 1.341365%);
    --palEmergency-491: rgb(7.398931% 4.553697% 1.284492%);
    --palEmergency-492: rgb(6.842349% 4.187165% 1.224313%);
    --palEmergency-493: rgb(6.284668% 3.81443% 1.161018%);
    --palEmergency-494: rgb(5.725558% 3.452194% 1.094803%);
    --palEmergency-495: rgb(5.164566% 3.104829% 1.025987%);
    --palEmergency-496: rgb(4.601296% 2.772732% 0.954794%);
    --palEmergency-497: rgb(4.035002% 2.456352% 0.881618%);
    --palEmergency-498: rgb(3.480545% 2.156113% 0.806772%);
    --palEmergency-499: rgb(2.969721% 1.872485% 0.730721%);
    --palEmergency-500: rgb(2.501705% 1.605932% 0.653877%);
    --palEmergency-501: rgb(2.075618% 1.356969% 0.576817%);
    --palEmergency-502: rgb(1.690717% 1.126123% 0.500097%);
    --palEmergency-503: rgb(1.346257% 0.91398% 0.424424%);
    --palEmergency-504: rgb(1.041583% 0.721177% 0.350585%);
    --palEmergency-505: rgb(0.776139% 0.548429% 0.27948%);
    --palEmergency-506: rgb(0.549439% 0.396561% 0.212227%);
    --palEmergency-507: rgb(0.361164% 0.266556% 0.150154%);
    --palEmergency-508: rgb(0.211222% 0.159635% 0.094927%);
    --palEmergency-509: rgb(0.09987% 0.077436% 0.048798%);
    --palEmergency-510: rgb(0.028159% 0.022444% 0.015045%);
}
