/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palFlag-1: rgb(100% 0% 0%);
    --palFlag-2: rgb(100% 37.8411% 20.9789%);
    --palFlag-3: rgb(100% 70.0543% 49.307%);
    --palFlag-4: rgb(100% 91.8487% 77.7382%);
    --palFlag-5: rgb(100% 99.9829% 100%);
    --palFlag-6: rgb(80.2941% 93.2472% 100%);
    --palFlag-7: rgb(52.0787% 72.6434% 100%);
    --palFlag-8: rgb(23.5542% 41.2356% 100%);
    --palFlag-9: rgb(0% 3.6951% 100%);
    --palFlag-10: rgb(0% 0% 81.5567%);
    --palFlag-11: rgb(0% 0% 53.4638%);
    --palFlag-12: rgb(0% 0% 24.8556%);
    --palFlag-13: rgb(0% 0% 0%);
    --palFlag-14: rgb(17.1914% 0% 0%);
    --palFlag-15: rgb(45.1524% 0% 0%);
    --palFlag-16: rgb(73.8344% 0% 0%);
    --palFlag-17: rgb(98.9716% 0% 0%);
    --palFlag-18: rgb(100% 30.9017% 15.9507%);
    --palFlag-19: rgb(100% 64.5928% 43.7702%);
    --palFlag-20: rgb(100% 88.6774% 72.5162%);
    --palFlag-21: rgb(100% 99.5734% 97.9135%);
    --palFlag-22: rgb(85.2783% 95.6604% 100%);
    --palFlag-23: rgb(57.6099% 77.5204% 100%);
    --palFlag-24: rgb(28.8096% 47.8512% 100%);
    --palFlag-25: rgb(3.1609% 11.0653% 100%);
    --palFlag-26: rgb(0% 0% 86.4953%);
    --palFlag-27: rgb(0% 0% 58.9873%);
    --palFlag-28: rgb(0% 0% 30.1427%);
    --palFlag-29: rgb(0% 0% 4.2513%);
    --palFlag-30: rgb(12.3001% 0% 0%);
    --palFlag-31: rgb(39.6383% 0% 0%);
    --palFlag-32: rgb(68.5175% 0% 0%);
    --palFlag-33: rgb(94.6427% 0% 0%);
    --palFlag-34: rgb(100% 23.7935% 11.1085%);
    --palFlag-35: rgb(100% 58.7785% 38.2674%);
    --palFlag-36: rgb(100% 85.0217% 67.1713%);
    --palFlag-37: rgb(100% 98.6201% 93.5214%);
    --palFlag-38: rgb(90.0699% 97.5512% 100%);
    --palFlag-39: rgb(63.0994% 81.974% 100%);
    --palFlag-40: rgb(34.1807% 54.2053% 100%);
    --palFlag-41: rgb(7.6148% 18.375% 100%);
    --palFlag-42: rgb(0% 0% 91.2346%);
    --palFlag-43: rgb(0% 0% 64.4618%);
    --palFlag-44: rgb(0% 0% 35.5382%);
    --palFlag-45: rgb(0% 0% 8.7654%);
    --palFlag-46: rgb(7.6148% 0% 0%);
    --palFlag-47: rgb(34.1807% 0% 0%);
    --palFlag-48: rgb(63.0994% 0% 0%);
    --palFlag-49: rgb(90.0699% 0% 0%);
    --palFlag-50: rgb(100% 16.5554% 6.4786%);
    --palFlag-51: rgb(100% 52.6432% 32.8287%);
    --palFlag-52: rgb(100% 80.9017% 61.7326%);
    --palFlag-53: rgb(100% 97.1281% 88.8915%);
    --palFlag-54: rgb(94.6427% 98.9092% 100%);
    --palFlag-55: rgb(68.5175% 85.98% 100%);
    --palFlag-56: rgb(39.6383% 60.2635% 100%);
    --palFlag-57: rgb(12.3001% 25.5843% 100%);
    --palFlag-58: rgb(0% 0% 95.7487%);
    --palFlag-59: rgb(0% 0% 69.8573%);
    --palFlag-60: rgb(0% 0% 41.0127%);
    --palFlag-61: rgb(0% 0% 13.5047%);
    --palFlag-62: rgb(3.1609% 0% 0%);
    --palFlag-63: rgb(28.8096% 0% 0%);
    --palFlag-64: rgb(57.6099% 0% 0%);
    --palFlag-65: rgb(85.2783% 0% 0%);
    --palFlag-66: rgb(100% 9.2268% 2.0865%);
    --palFlag-67: rgb(100% 46.2204% 27.4838%);
    --palFlag-68: rgb(100% 76.3398% 56.2298%);
    --palFlag-69: rgb(100% 95.1057% 84.0493%);
    --palFlag-70: rgb(98.9716% 99.7269% 100%);
    --palFlag-71: rgb(73.8344% 89.5163% 100%);
    --palFlag-72: rgb(45.1524% 65.9925% 100%);
    --palFlag-73: rgb(17.1914% 32.6539% 100%);
    --palFlag-74: rgb(0% 0% 100%);
    --palFlag-75: rgb(0% 0% 75.1444%);
    --palFlag-76: rgb(0% 0% 46.5362%);
    --palFlag-77: rgb(0% 0% 18.4433%);
    --palFlag-78: rgb(0% 0% 0%);
    --palFlag-79: rgb(23.5542% 0% 0%);
    --palFlag-80: rgb(52.0787% 0% 0%);
    --palFlag-81: rgb(80.2941% 0% 0%);
    --palFlag-82: rgb(100% 1.8479% 0%);
    --palFlag-83: rgb(100% 39.5451% 22.2618%);
    --palFlag-84: rgb(100% 71.361% 50.693%);
    --palFlag-85: rgb(100% 92.5638% 79.0211%);
    --palFlag-86: rgb(100% 100% 100%);
    --palFlag-87: rgb(79.0211% 92.5638% 100%);
    --palFlag-88: rgb(50.693% 71.361% 100%);
    --palFlag-89: rgb(22.2618% 39.5451% 100%);
    --palFlag-90: rgb(0% 1.8479% 100%);
    --palFlag-91: rgb(0% 0% 80.2941%);
    --palFlag-92: rgb(0% 0% 52.0787%);
    --palFlag-93: rgb(0% 0% 23.5542%);
    --palFlag-94: rgb(0% 0% 0%);
    --palFlag-95: rgb(18.4433% 0% 0%);
    --palFlag-96: rgb(46.5362% 0% 0%);
    --palFlag-97: rgb(75.1444% 0% 0%);
    --palFlag-98: rgb(100% 0% 0%);
    --palFlag-99: rgb(100% 32.6539% 17.1914%);
    --palFlag-100: rgb(100% 65.9925% 45.1524%);
    --palFlag-101: rgb(100% 89.5163% 73.8344%);
    --palFlag-102: rgb(100% 99.7269% 98.9716%);
    --palFlag-103: rgb(84.0493% 95.1057% 100%);
    --palFlag-104: rgb(56.2298% 76.3398% 100%);
    --palFlag-105: rgb(27.4838% 46.2204% 100%);
    --palFlag-106: rgb(2.0865% 9.2268% 100%);
    --palFlag-107: rgb(0% 0% 85.2783%);
    --palFlag-108: rgb(0% 0% 57.6099%);
    --palFlag-109: rgb(0% 0% 28.8096%);
    --palFlag-110: rgb(0% 0% 3.1609%);
    --palFlag-111: rgb(13.5047% 0% 0%);
    --palFlag-112: rgb(41.0127% 0% 0%);
    --palFlag-113: rgb(69.8573% 0% 0%);
    --palFlag-114: rgb(95.7487% 0% 0%);
    --palFlag-115: rgb(100% 25.5843% 12.3001%);
    --palFlag-116: rgb(100% 60.2635% 39.6383%);
    --palFlag-117: rgb(100% 85.98% 68.5175%);
    --palFlag-118: rgb(100% 98.9092% 94.6427%);
    --palFlag-119: rgb(88.8915% 97.1281% 100%);
    --palFlag-120: rgb(61.7326% 80.9017% 100%);
    --palFlag-121: rgb(32.8287% 52.6432% 100%);
    --palFlag-122: rgb(6.4786% 16.5554% 100%);
    --palFlag-123: rgb(0% 0% 90.0699%);
    --palFlag-124: rgb(0% 0% 63.0994%);
    --palFlag-125: rgb(0% 0% 34.1807%);
    --palFlag-126: rgb(0% 0% 7.6148%);
    --palFlag-127: rgb(8.7654% 0% 0%);
    --palFlag-128: rgb(35.5382% 0% 0%);
    --palFlag-129: rgb(64.4618% 0% 0%);
    --palFlag-130: rgb(91.2346% 0% 0%);
    --palFlag-131: rgb(100% 18.375% 7.6148%);
    --palFlag-132: rgb(100% 54.2053% 34.1807%);
    --palFlag-133: rgb(100% 81.974% 63.0994%);
    --palFlag-134: rgb(100% 97.5512% 90.0699%);
    --palFlag-135: rgb(93.5214% 98.6201% 100%);
    --palFlag-136: rgb(67.1713% 85.0217% 100%);
    --palFlag-137: rgb(38.2674% 58.7785% 100%);
    --palFlag-138: rgb(11.1085% 23.7935% 100%);
    --palFlag-139: rgb(0% 0% 94.6427%);
    --palFlag-140: rgb(0% 0% 68.5175%);
    --palFlag-141: rgb(0% 0% 39.6383%);
    --palFlag-142: rgb(0% 0% 12.3001%);
    --palFlag-143: rgb(4.2513% 0% 0%);
    --palFlag-144: rgb(30.1427% 0% 0%);
    --palFlag-145: rgb(58.9873% 0% 0%);
    --palFlag-146: rgb(86.4953% 0% 0%);
    --palFlag-147: rgb(100% 11.0653% 3.1609%);
    --palFlag-148: rgb(100% 47.8512% 28.8096%);
    --palFlag-149: rgb(100% 77.5204% 57.6099%);
    --palFlag-150: rgb(100% 95.6604% 85.2783%);
    --palFlag-151: rgb(97.9135% 99.5734% 100%);
    --palFlag-152: rgb(72.5162% 88.6774% 100%);
    --palFlag-153: rgb(43.7702% 64.5928% 100%);
    --palFlag-154: rgb(15.9507% 30.9017% 100%);
    --palFlag-155: rgb(0% 0% 98.9716%);
    --palFlag-156: rgb(0% 0% 73.8344%);
    --palFlag-157: rgb(0% 0% 45.1524%);
    --palFlag-158: rgb(0% 0% 17.1914%);
    --palFlag-159: rgb(0% 0% 0%);
    --palFlag-160: rgb(24.8556% 0% 0%);
    --palFlag-161: rgb(53.4638% 0% 0%);
    --palFlag-162: rgb(81.5567% 0% 0%);
    --palFlag-163: rgb(100% 3.6951% 0%);
    --palFlag-164: rgb(100% 41.2356% 23.5542%);
    --palFlag-165: rgb(100% 72.6434% 52.0787%);
    --palFlag-166: rgb(100% 93.2472% 80.2941%);
    --palFlag-167: rgb(100% 99.9829% 100%);
    --palFlag-168: rgb(77.7382% 91.8487% 100%);
    --palFlag-169: rgb(49.307% 70.0543% 100%);
    --palFlag-170: rgb(20.9789% 37.8411% 100%);
    --palFlag-171: rgb(0% 0% 100%);
    --palFlag-172: rgb(0% 0% 79.0211%);
    --palFlag-173: rgb(0% 0% 50.693%);
    --palFlag-174: rgb(0% 0% 22.2618%);
    --palFlag-175: rgb(0% 0% 0%);
    --palFlag-176: rgb(19.7059% 0% 0%);
    --palFlag-177: rgb(47.9213% 0% 0%);
    --palFlag-178: rgb(76.4458% 0% 0%);
    --palFlag-179: rgb(100% 0% 0%);
    --palFlag-180: rgb(100% 34.3949% 18.4433%);
    --palFlag-181: rgb(100% 67.3696% 46.5362%);
    --palFlag-182: rgb(100% 90.3247% 75.1444%);
    --palFlag-183: rgb(100% 99.8464% 100%);
    --palFlag-184: rgb(82.8086% 94.5184% 100%);
    --palFlag-185: rgb(54.8476% 75.1332% 100%);
    --palFlag-186: rgb(26.1656% 44.5738% 100%);
    --palFlag-187: rgb(1.0284% 7.3853% 100%);
    --palFlag-188: rgb(0% 0% 84.0493%);
    --palFlag-189: rgb(0% 0% 56.2298%);
    --palFlag-190: rgb(0% 0% 27.4838%);
    --palFlag-191: rgb(0% 0% 2.0865%);
    --palFlag-192: rgb(14.7217% 0% 0%);
    --palFlag-193: rgb(42.3901% 0% 0%);
    --palFlag-194: rgb(71.1904% 0% 0%);
    --palFlag-195: rgb(96.8391% 0% 0%);
    --palFlag-196: rgb(100% 27.3663% 13.5047%);
    --palFlag-197: rgb(100% 61.7278% 41.0127%);
    --palFlag-198: rgb(100% 86.9089% 69.8573%);
    --palFlag-199: rgb(100% 99.1645% 95.7487%);
    --palFlag-200: rgb(87.6999% 96.6718% 100%);
    --palFlag-201: rgb(60.3617% 79.8017% 100%);
    --palFlag-202: rgb(31.4825% 51.0631% 100%);
    --palFlag-203: rgb(5.3573% 14.7302% 100%);
    --palFlag-204: rgb(0% 0% 88.8915%);
    --palFlag-205: rgb(0% 0% 61.7326%);
    --palFlag-206: rgb(0% 0% 32.8287%);
    --palFlag-207: rgb(0% 0% 6.4786%);
    --palFlag-208: rgb(9.9301% 0% 0%);
    --palFlag-209: rgb(36.9006% 0% 0%);
    --palFlag-210: rgb(65.8193% 0% 0%);
    --palFlag-211: rgb(92.3852% 0% 0%);
    --palFlag-212: rgb(100% 20.1882% 8.7654%);
    --palFlag-213: rgb(100% 55.7489% 35.5382%);
    --palFlag-214: rgb(100% 83.0184% 64.4618%);
    --palFlag-215: rgb(100% 97.941% 91.2346%);
    --palFlag-216: rgb(92.3852% 98.2973% 100%);
    --palFlag-217: rgb(65.8193% 84.0344% 100%);
    --palFlag-218: rgb(36.9006% 57.2735% 100%);
    --palFlag-219: rgb(9.9301% 21.9946% 100%);
    --palFlag-220: rgb(0% 0% 93.5214%);
    --palFlag-221: rgb(0% 0% 67.1713%);
    --palFlag-222: rgb(0% 0% 38.2674%);
    --palFlag-223: rgb(0% 0% 11.1085%);
    --palFlag-224: rgb(5.3573% 0% 0%);
    --palFlag-225: rgb(31.4825% 0% 0%);
    --palFlag-226: rgb(60.3617% 0% 0%);
    --palFlag-227: rgb(87.6999% 0% 0%);
    --palFlag-228: rgb(100% 12.8999% 4.2513%);
    --palFlag-229: rgb(100% 49.4656% 30.1427%);
    --palFlag-230: rgb(100% 78.6745% 58.9873%);
    --palFlag-231: rgb(100% 96.1826% 86.4953%);
    --palFlag-232: rgb(96.8391% 99.3859% 100%);
    --palFlag-233: rgb(71.1904% 87.8081% 100%);
    --palFlag-234: rgb(42.3901% 63.1711% 100%);
    --palFlag-235: rgb(14.7217% 29.139% 100%);
    --palFlag-236: rgb(0% 0% 97.9135%);
    --palFlag-237: rgb(0% 0% 72.5162%);
    --palFlag-238: rgb(0% 0% 43.7702%);
    --palFlag-239: rgb(0% 0% 15.9507%);
    --palFlag-240: rgb(1.0284% 0% 0%);
    --palFlag-241: rgb(26.1656% 0% 0%);
    --palFlag-242: rgb(54.8476% 0% 0%);
    --palFlag-243: rgb(82.8086% 0% 0%);
    --palFlag-244: rgb(100% 5.5411% 0%);
    --palFlag-245: rgb(100% 42.9121% 24.8556%);
    --palFlag-246: rgb(100% 73.9009% 53.4638%);
    --palFlag-247: rgb(100% 93.8988% 81.5567%);
    --palFlag-248: rgb(100% 99.9317% 100%);
    --palFlag-249: rgb(76.4458% 91.1023% 100%);
    --palFlag-250: rgb(47.9213% 68.7237% 100%);
    --palFlag-251: rgb(19.7059% 36.1242% 100%);
    --palFlag-252: rgb(0% 0% 100%);
    --palFlag-253: rgb(0% 0% 77.7382%);
    --palFlag-254: rgb(0% 0% 49.307%);
    --palFlag-255: rgb(0% 0% 20.9789%);
    --palFlag-256: rgb(0% 0% 0%);
}
