/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palFushiaRedPink1-1: rgb(34.375% 0.390625% 23.4375%);
    --palFushiaRedPink1-2: rgb(35.15625% 0.78125% 23.828125%);
    --palFushiaRedPink1-3: rgb(35.9375% 0.78125% 23.828125%);
    --palFushiaRedPink1-4: rgb(36.328125% 1.171875% 23.828125%);
    --palFushiaRedPink1-5: rgb(37.109375% 1.171875% 23.828125%);
    --palFushiaRedPink1-6: rgb(37.890625% 1.5625% 23.828125%);
    --palFushiaRedPink1-7: rgb(38.671875% 1.5625% 23.828125%);
    --palFushiaRedPink1-8: rgb(39.0625% 1.953125% 24.21875%);
    --palFushiaRedPink1-9: rgb(39.84375% 1.953125% 24.21875%);
    --palFushiaRedPink1-10: rgb(40.625% 2.34375% 24.21875%);
    --palFushiaRedPink1-11: rgb(41.015625% 2.734375% 24.21875%);
    --palFushiaRedPink1-12: rgb(41.796875% 2.734375% 24.21875%);
    --palFushiaRedPink1-13: rgb(42.578125% 3.125% 24.21875%);
    --palFushiaRedPink1-14: rgb(43.359375% 3.515625% 24.609375%);
    --palFushiaRedPink1-15: rgb(43.75% 3.515625% 24.609375%);
    --palFushiaRedPink1-16: rgb(44.53125% 3.90625% 24.609375%);
    --palFushiaRedPink1-17: rgb(45.3125% 4.296875% 24.609375%);
    --palFushiaRedPink1-18: rgb(46.09375% 4.6875% 24.609375%);
    --palFushiaRedPink1-19: rgb(46.484375% 4.6875% 24.609375%);
    --palFushiaRedPink1-20: rgb(47.265625% 5.078125% 24.609375%);
    --palFushiaRedPink1-21: rgb(48.046875% 5.46875% 25%);
    --palFushiaRedPink1-22: rgb(48.828125% 5.859375% 25%);
    --palFushiaRedPink1-23: rgb(49.21875% 5.859375% 25%);
    --palFushiaRedPink1-24: rgb(50% 6.25% 25%);
    --palFushiaRedPink1-25: rgb(50.78125% 6.640625% 25%);
    --palFushiaRedPink1-26: rgb(51.5625% 7.03125% 25%);
    --palFushiaRedPink1-27: rgb(51.953125% 7.03125% 25%);
    --palFushiaRedPink1-28: rgb(52.734375% 7.421875% 25.390625%);
    --palFushiaRedPink1-29: rgb(53.515625% 7.8125% 25.390625%);
    --palFushiaRedPink1-30: rgb(54.296875% 7.8125% 25.390625%);
    --palFushiaRedPink1-31: rgb(54.6875% 8.203125% 25.390625%);
    --palFushiaRedPink1-32: rgb(55.46875% 8.59375% 25.390625%);
    --palFushiaRedPink1-33: rgb(56.25% 8.984375% 25.390625%);
    --palFushiaRedPink1-34: rgb(57.03125% 8.984375% 25.390625%);
    --palFushiaRedPink1-35: rgb(57.421875% 9.375% 25.390625%);
    --palFushiaRedPink1-36: rgb(58.203125% 9.765625% 25.78125%);
    --palFushiaRedPink1-37: rgb(58.984375% 9.765625% 25.78125%);
    --palFushiaRedPink1-38: rgb(59.765625% 10.15625% 25.78125%);
    --palFushiaRedPink1-39: rgb(60.546875% 10.546875% 25.78125%);
    --palFushiaRedPink1-40: rgb(60.9375% 10.9375% 25.78125%);
    --palFushiaRedPink1-41: rgb(61.71875% 10.9375% 25.78125%);
    --palFushiaRedPink1-42: rgb(62.5% 11.328125% 25.78125%);
    --palFushiaRedPink1-43: rgb(63.28125% 11.71875% 25.78125%);
    --palFushiaRedPink1-44: rgb(64.0625% 12.109375% 26.171875%);
    --palFushiaRedPink1-45: rgb(64.453125% 12.109375% 26.171875%);
    --palFushiaRedPink1-46: rgb(65.234375% 12.5% 26.171875%);
    --palFushiaRedPink1-47: rgb(66.015625% 12.890625% 26.171875%);
    --palFushiaRedPink1-48: rgb(66.796875% 12.890625% 26.171875%);
    --palFushiaRedPink1-49: rgb(67.578125% 13.28125% 26.171875%);
    --palFushiaRedPink1-50: rgb(67.96875% 13.671875% 26.171875%);
    --palFushiaRedPink1-51: rgb(68.75% 14.0625% 26.171875%);
    --palFushiaRedPink1-52: rgb(69.53125% 14.0625% 26.171875%);
    --palFushiaRedPink1-53: rgb(70.3125% 14.453125% 26.171875%);
    --palFushiaRedPink1-54: rgb(70.703125% 14.84375% 26.5625%);
    --palFushiaRedPink1-55: rgb(70.703125% 15.234375% 26.5625%);
    --palFushiaRedPink1-56: rgb(71.09375% 15.234375% 26.5625%);
    --palFushiaRedPink1-57: rgb(71.484375% 15.625% 26.953125%);
    --palFushiaRedPink1-58: rgb(71.875% 16.015625% 26.953125%);
    --palFushiaRedPink1-59: rgb(72.265625% 16.40625% 26.953125%);
    --palFushiaRedPink1-60: rgb(72.65625% 16.40625% 27.34375%);
    --palFushiaRedPink1-61: rgb(73.046875% 16.796875% 27.34375%);
    --palFushiaRedPink1-62: rgb(73.4375% 17.1875% 27.34375%);
    --palFushiaRedPink1-63: rgb(73.828125% 17.578125% 27.734375%);
    --palFushiaRedPink1-64: rgb(74.21875% 17.578125% 27.734375%);
    --palFushiaRedPink1-65: rgb(74.21875% 17.96875% 27.734375%);
    --palFushiaRedPink1-66: rgb(74.609375% 18.359375% 28.125%);
    --palFushiaRedPink1-67: rgb(75% 18.75% 28.125%);
    --palFushiaRedPink1-68: rgb(75.390625% 18.75% 28.125%);
    --palFushiaRedPink1-69: rgb(75.78125% 19.140625% 28.515625%);
    --palFushiaRedPink1-70: rgb(76.171875% 19.53125% 28.515625%);
    --palFushiaRedPink1-71: rgb(76.5625% 19.921875% 28.515625%);
    --palFushiaRedPink1-72: rgb(76.953125% 19.921875% 28.90625%);
    --palFushiaRedPink1-73: rgb(77.34375% 20.3125% 28.90625%);
    --palFushiaRedPink1-74: rgb(77.734375% 20.703125% 28.90625%);
    --palFushiaRedPink1-75: rgb(78.125% 21.09375% 29.296875%);
    --palFushiaRedPink1-76: rgb(78.125% 21.09375% 29.296875%);
    --palFushiaRedPink1-77: rgb(78.515625% 21.484375% 29.296875%);
    --palFushiaRedPink1-78: rgb(78.90625% 21.875% 29.6875%);
    --palFushiaRedPink1-79: rgb(79.296875% 21.875% 29.6875%);
    --palFushiaRedPink1-80: rgb(79.6875% 22.265625% 29.6875%);
    --palFushiaRedPink1-81: rgb(80.078125% 22.65625% 29.6875%);
    --palFushiaRedPink1-82: rgb(80.46875% 23.046875% 30.078125%);
    --palFushiaRedPink1-83: rgb(80.859375% 23.046875% 30.078125%);
    --palFushiaRedPink1-84: rgb(81.25% 23.4375% 30.078125%);
    --palFushiaRedPink1-85: rgb(81.640625% 23.828125% 30.46875%);
    --palFushiaRedPink1-86: rgb(82.03125% 23.828125% 30.46875%);
    --palFushiaRedPink1-87: rgb(82.421875% 24.21875% 30.46875%);
    --palFushiaRedPink1-88: rgb(82.8125% 24.609375% 30.859375%);
    --palFushiaRedPink1-89: rgb(82.8125% 24.609375% 30.859375%);
    --palFushiaRedPink1-90: rgb(83.203125% 25% 30.859375%);
    --palFushiaRedPink1-91: rgb(83.59375% 25.390625% 31.25%);
    --palFushiaRedPink1-92: rgb(83.984375% 25.78125% 31.25%);
    --palFushiaRedPink1-93: rgb(84.375% 25.78125% 31.25%);
    --palFushiaRedPink1-94: rgb(84.765625% 26.171875% 31.640625%);
    --palFushiaRedPink1-95: rgb(85.15625% 26.5625% 31.640625%);
    --palFushiaRedPink1-96: rgb(85.546875% 26.5625% 31.640625%);
    --palFushiaRedPink1-97: rgb(85.9375% 26.953125% 32.03125%);
    --palFushiaRedPink1-98: rgb(86.328125% 27.34375% 32.03125%);
    --palFushiaRedPink1-99: rgb(86.71875% 27.34375% 32.03125%);
    --palFushiaRedPink1-100: rgb(87.109375% 27.734375% 32.421875%);
    --palFushiaRedPink1-101: rgb(87.5% 28.125% 32.421875%);
    --palFushiaRedPink1-102: rgb(87.5% 28.125% 32.421875%);
    --palFushiaRedPink1-103: rgb(87.890625% 28.515625% 32.8125%);
    --palFushiaRedPink1-104: rgb(88.28125% 28.90625% 32.8125%);
    --palFushiaRedPink1-105: rgb(88.671875% 29.296875% 32.8125%);
    --palFushiaRedPink1-106: rgb(89.0625% 29.296875% 33.203125%);
    --palFushiaRedPink1-107: rgb(89.453125% 29.6875% 33.203125%);
    --palFushiaRedPink1-108: rgb(89.84375% 30.078125% 33.203125%);
    --palFushiaRedPink1-109: rgb(90.234375% 30.078125% 33.59375%);
    --palFushiaRedPink1-110: rgb(90.625% 30.46875% 33.59375%);
    --palFushiaRedPink1-111: rgb(91.015625% 30.859375% 33.59375%);
    --palFushiaRedPink1-112: rgb(91.40625% 30.859375% 33.984375%);
    --palFushiaRedPink1-113: rgb(91.796875% 31.25% 33.984375%);
    --palFushiaRedPink1-114: rgb(92.1875% 31.640625% 33.984375%);
    --palFushiaRedPink1-115: rgb(92.578125% 31.640625% 34.375%);
    --palFushiaRedPink1-116: rgb(92.96875% 32.03125% 34.375%);
    --palFushiaRedPink1-117: rgb(92.96875% 32.421875% 34.375%);
    --palFushiaRedPink1-118: rgb(93.359375% 32.421875% 34.765625%);
    --palFushiaRedPink1-119: rgb(93.75% 32.8125% 34.765625%);
    --palFushiaRedPink1-120: rgb(94.140625% 33.203125% 34.765625%);
    --palFushiaRedPink1-121: rgb(94.53125% 33.203125% 35.15625%);
    --palFushiaRedPink1-122: rgb(94.921875% 33.59375% 35.15625%);
    --palFushiaRedPink1-123: rgb(95.3125% 33.984375% 35.15625%);
    --palFushiaRedPink1-124: rgb(95.703125% 34.375% 35.15625%);
    --palFushiaRedPink1-125: rgb(96.09375% 34.375% 35.546875%);
    --palFushiaRedPink1-126: rgb(96.484375% 34.765625% 35.546875%);
    --palFushiaRedPink1-127: rgb(96.875% 35.15625% 35.546875%);
    --palFushiaRedPink1-128: rgb(97.265625% 35.15625% 35.9375%);
    --palFushiaRedPink1-129: rgb(97.265625% 35.546875% 36.328125%);
    --palFushiaRedPink1-130: rgb(97.65625% 36.328125% 36.71875%);
    --palFushiaRedPink1-131: rgb(97.65625% 36.71875% 37.109375%);
    --palFushiaRedPink1-132: rgb(97.65625% 37.109375% 37.5%);
    --palFushiaRedPink1-133: rgb(97.65625% 37.5% 37.890625%);
    --palFushiaRedPink1-134: rgb(97.65625% 38.28125% 38.28125%);
    --palFushiaRedPink1-135: rgb(97.65625% 38.671875% 38.671875%);
    --palFushiaRedPink1-136: rgb(98.046875% 39.0625% 39.0625%);
    --palFushiaRedPink1-137: rgb(98.046875% 39.84375% 39.84375%);
    --palFushiaRedPink1-138: rgb(98.046875% 40.234375% 40.234375%);
    --palFushiaRedPink1-139: rgb(98.046875% 40.625% 40.625%);
    --palFushiaRedPink1-140: rgb(98.046875% 41.015625% 41.015625%);
    --palFushiaRedPink1-141: rgb(98.046875% 41.796875% 41.40625%);
    --palFushiaRedPink1-142: rgb(98.4375% 42.1875% 41.796875%);
    --palFushiaRedPink1-143: rgb(98.4375% 42.578125% 42.1875%);
    --palFushiaRedPink1-144: rgb(98.4375% 42.96875% 42.96875%);
    --palFushiaRedPink1-145: rgb(98.4375% 43.359375% 43.359375%);
    --palFushiaRedPink1-146: rgb(98.4375% 44.140625% 43.75%);
    --palFushiaRedPink1-147: rgb(98.4375% 44.53125% 44.140625%);
    --palFushiaRedPink1-148: rgb(98.4375% 44.921875% 44.53125%);
    --palFushiaRedPink1-149: rgb(98.4375% 45.3125% 44.921875%);
    --palFushiaRedPink1-150: rgb(98.828125% 45.703125% 45.3125%);
    --palFushiaRedPink1-151: rgb(98.828125% 46.484375% 46.09375%);
    --palFushiaRedPink1-152: rgb(98.828125% 46.875% 46.484375%);
    --palFushiaRedPink1-153: rgb(98.828125% 47.265625% 46.875%);
    --palFushiaRedPink1-154: rgb(98.828125% 47.65625% 47.265625%);
    --palFushiaRedPink1-155: rgb(98.828125% 48.046875% 47.65625%);
    --palFushiaRedPink1-156: rgb(98.828125% 48.4375% 48.046875%);
    --palFushiaRedPink1-157: rgb(98.828125% 48.828125% 48.828125%);
    --palFushiaRedPink1-158: rgb(98.828125% 49.609375% 49.21875%);
    --palFushiaRedPink1-159: rgb(99.21875% 50% 49.609375%);
    --palFushiaRedPink1-160: rgb(99.21875% 50.390625% 50%);
    --palFushiaRedPink1-161: rgb(99.21875% 50.78125% 50.390625%);
    --palFushiaRedPink1-162: rgb(99.21875% 51.171875% 50.78125%);
    --palFushiaRedPink1-163: rgb(99.21875% 51.5625% 51.5625%);
    --palFushiaRedPink1-164: rgb(99.21875% 51.953125% 51.953125%);
    --palFushiaRedPink1-165: rgb(99.21875% 52.734375% 52.34375%);
    --palFushiaRedPink1-166: rgb(99.21875% 53.125% 52.734375%);
    --palFushiaRedPink1-167: rgb(99.21875% 53.515625% 53.125%);
    --palFushiaRedPink1-168: rgb(99.21875% 53.90625% 53.90625%);
    --palFushiaRedPink1-169: rgb(99.21875% 54.296875% 54.296875%);
    --palFushiaRedPink1-170: rgb(99.21875% 54.6875% 54.6875%);
    --palFushiaRedPink1-171: rgb(99.21875% 55.078125% 55.078125%);
    --palFushiaRedPink1-172: rgb(99.21875% 55.46875% 55.46875%);
    --palFushiaRedPink1-173: rgb(99.21875% 55.859375% 55.859375%);
    --palFushiaRedPink1-174: rgb(99.21875% 56.25% 56.640625%);
    --palFushiaRedPink1-175: rgb(99.21875% 57.03125% 57.03125%);
    --palFushiaRedPink1-176: rgb(99.21875% 57.421875% 57.421875%);
    --palFushiaRedPink1-177: rgb(99.21875% 57.8125% 57.8125%);
    --palFushiaRedPink1-178: rgb(99.21875% 58.203125% 58.203125%);
    --palFushiaRedPink1-179: rgb(99.21875% 58.59375% 58.984375%);
    --palFushiaRedPink1-180: rgb(99.21875% 58.984375% 59.375%);
    --palFushiaRedPink1-181: rgb(99.21875% 59.375% 59.765625%);
    --palFushiaRedPink1-182: rgb(99.21875% 59.765625% 60.15625%);
    --palFushiaRedPink1-183: rgb(99.21875% 60.15625% 60.546875%);
    --palFushiaRedPink1-184: rgb(99.21875% 60.546875% 61.328125%);
    --palFushiaRedPink1-185: rgb(99.21875% 60.9375% 61.71875%);
    --palFushiaRedPink1-186: rgb(99.21875% 61.328125% 62.109375%);
    --palFushiaRedPink1-187: rgb(99.21875% 61.71875% 62.5%);
    --palFushiaRedPink1-188: rgb(99.21875% 62.5% 63.28125%);
    --palFushiaRedPink1-189: rgb(99.21875% 62.890625% 63.671875%);
    --palFushiaRedPink1-190: rgb(99.21875% 63.28125% 64.0625%);
    --palFushiaRedPink1-191: rgb(99.21875% 63.671875% 64.453125%);
    --palFushiaRedPink1-192: rgb(99.21875% 64.0625% 64.84375%);
    --palFushiaRedPink1-193: rgb(99.21875% 64.453125% 65.234375%);
    --palFushiaRedPink1-194: rgb(99.21875% 64.84375% 65.625%);
    --palFushiaRedPink1-195: rgb(99.21875% 65.234375% 66.015625%);
    --palFushiaRedPink1-196: rgb(99.21875% 65.625% 66.015625%);
    --palFushiaRedPink1-197: rgb(99.21875% 66.015625% 66.40625%);
    --palFushiaRedPink1-198: rgb(99.21875% 66.40625% 66.796875%);
    --palFushiaRedPink1-199: rgb(99.21875% 66.796875% 66.796875%);
    --palFushiaRedPink1-200: rgb(99.21875% 67.1875% 67.1875%);
    --palFushiaRedPink1-201: rgb(99.21875% 67.578125% 67.578125%);
    --palFushiaRedPink1-202: rgb(99.21875% 68.359375% 67.578125%);
    --palFushiaRedPink1-203: rgb(99.21875% 68.75% 67.96875%);
    --palFushiaRedPink1-204: rgb(99.21875% 69.140625% 68.359375%);
    --palFushiaRedPink1-205: rgb(99.21875% 69.53125% 68.359375%);
    --palFushiaRedPink1-206: rgb(99.21875% 69.921875% 68.75%);
    --palFushiaRedPink1-207: rgb(99.21875% 70.3125% 69.140625%);
    --palFushiaRedPink1-208: rgb(99.21875% 70.703125% 69.140625%);
    --palFushiaRedPink1-209: rgb(99.21875% 71.09375% 69.53125%);
    --palFushiaRedPink1-210: rgb(99.21875% 71.484375% 69.921875%);
    --palFushiaRedPink1-211: rgb(99.21875% 71.875% 69.921875%);
    --palFushiaRedPink1-212: rgb(99.21875% 72.265625% 70.3125%);
    --palFushiaRedPink1-213: rgb(99.21875% 72.65625% 70.703125%);
    --palFushiaRedPink1-214: rgb(99.21875% 73.046875% 70.703125%);
    --palFushiaRedPink1-215: rgb(99.21875% 73.4375% 71.09375%);
    --palFushiaRedPink1-216: rgb(99.21875% 73.828125% 71.484375%);
    --palFushiaRedPink1-217: rgb(99.21875% 74.21875% 71.484375%);
    --palFushiaRedPink1-218: rgb(99.21875% 75% 71.875%);
    --palFushiaRedPink1-219: rgb(99.21875% 75.390625% 72.265625%);
    --palFushiaRedPink1-220: rgb(99.21875% 75.78125% 72.65625%);
    --palFushiaRedPink1-221: rgb(99.21875% 76.171875% 72.65625%);
    --palFushiaRedPink1-222: rgb(99.21875% 76.5625% 73.046875%);
    --palFushiaRedPink1-223: rgb(99.21875% 76.953125% 73.4375%);
    --palFushiaRedPink1-224: rgb(99.21875% 77.34375% 73.4375%);
    --palFushiaRedPink1-225: rgb(98.828125% 77.734375% 73.828125%);
    --palFushiaRedPink1-226: rgb(98.828125% 78.125% 74.21875%);
    --palFushiaRedPink1-227: rgb(98.828125% 78.515625% 74.21875%);
    --palFushiaRedPink1-228: rgb(98.828125% 78.90625% 74.609375%);
    --palFushiaRedPink1-229: rgb(98.828125% 79.296875% 75%);
    --palFushiaRedPink1-230: rgb(98.828125% 79.6875% 75%);
    --palFushiaRedPink1-231: rgb(98.828125% 80.078125% 75.390625%);
    --palFushiaRedPink1-232: rgb(98.828125% 80.46875% 75.78125%);
    --palFushiaRedPink1-233: rgb(98.828125% 80.859375% 75.78125%);
    --palFushiaRedPink1-234: rgb(98.828125% 81.25% 76.171875%);
    --palFushiaRedPink1-235: rgb(98.828125% 81.640625% 76.5625%);
    --palFushiaRedPink1-236: rgb(98.828125% 82.03125% 76.953125%);
    --palFushiaRedPink1-237: rgb(98.4375% 82.421875% 76.953125%);
    --palFushiaRedPink1-238: rgb(98.4375% 82.8125% 77.34375%);
    --palFushiaRedPink1-239: rgb(98.4375% 83.203125% 77.734375%);
    --palFushiaRedPink1-240: rgb(98.4375% 83.59375% 77.734375%);
    --palFushiaRedPink1-241: rgb(98.4375% 83.984375% 78.125%);
    --palFushiaRedPink1-242: rgb(98.4375% 84.375% 78.515625%);
    --palFushiaRedPink1-243: rgb(98.4375% 85.15625% 78.515625%);
    --palFushiaRedPink1-244: rgb(98.4375% 85.546875% 78.90625%);
    --palFushiaRedPink1-245: rgb(98.4375% 85.9375% 79.296875%);
    --palFushiaRedPink1-246: rgb(98.046875% 86.328125% 79.296875%);
    --palFushiaRedPink1-247: rgb(98.046875% 86.71875% 79.6875%);
    --palFushiaRedPink1-248: rgb(98.046875% 87.109375% 80.078125%);
    --palFushiaRedPink1-249: rgb(98.046875% 87.5% 80.46875%);
    --palFushiaRedPink1-250: rgb(98.046875% 87.890625% 80.46875%);
    --palFushiaRedPink1-251: rgb(98.046875% 88.28125% 80.859375%);
    --palFushiaRedPink1-252: rgb(98.046875% 88.671875% 81.25%);
    --palFushiaRedPink1-253: rgb(97.65625% 89.0625% 81.25%);
    --palFushiaRedPink1-254: rgb(97.65625% 89.453125% 81.640625%);
    --palFushiaRedPink1-255: rgb(97.65625% 89.84375% 82.03125%);
    --palFushiaRedPink1-256: rgb(97.65625% 90.234375% 82.03125%);
}
