/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palFusion-1: rgb(15.269566% 1.59421% 6.988881%);
    --palFusion-2: rgb(15.825218% 1.698613% 7.44861%);
    --palFusion-3: rgb(16.381559% 1.801391% 7.904903%);
    --palFusion-4: rgb(16.938824% 1.902024% 8.35767%);
    --palFusion-5: rgb(17.497227% 2% 8.806795%);
    --palFusion-6: rgb(18.056933% 2.094854% 9.252115%);
    --palFusion-7: rgb(18.618125% 2.186079% 9.693475%);
    --palFusion-8: rgb(19.180964% 2.273184% 10.130694%);
    --palFusion-9: rgb(19.745571% 2.355734% 10.563546%);
    --palFusion-10: rgb(20.312086% 2.433247% 10.991812%);
    --palFusion-11: rgb(20.880647% 2.505241% 11.415254%);
    --palFusion-12: rgb(21.451331% 2.571326% 11.833582%);
    --palFusion-13: rgb(22.024232% 2.631087% 12.246503%);
    --palFusion-14: rgb(22.599426% 2.684139% 12.653697%);
    --palFusion-15: rgb(23.176973% 2.730126% 13.054822%);
    --palFusion-16: rgb(23.756918% 2.768731% 13.449511%);
    --palFusion-17: rgb(24.339322% 2.799614% 13.837386%);
    --palFusion-18: rgb(24.924171% 2.82259% 14.218023%);
    --palFusion-19: rgb(25.511451% 2.837495% 14.590987%);
    --palFusion-20: rgb(26.101189% 2.844103% 14.955835%);
    --palFusion-21: rgb(26.693291% 2.842451% 15.312083%);
    --palFusion-22: rgb(27.287751% 2.832433% 15.659247%);
    --palFusion-23: rgb(27.884443% 2.81422% 15.996819%);
    --palFusion-24: rgb(28.483274% 2.787955% 16.324286%);
    --palFusion-25: rgb(29.084134% 2.753849% 16.641124%);
    --palFusion-26: rgb(29.686854% 2.712298% 16.94681%);
    --palFusion-27: rgb(30.291252% 2.663769% 17.240825%);
    --palFusion-28: rgb(30.897122% 2.608836% 17.52266%);
    --palFusion-29: rgb(31.504239% 2.548174% 17.791823%);
    --palFusion-30: rgb(32.112348% 2.482582% 18.047848%);
    --palFusion-31: rgb(32.721154% 2.413013% 18.290307%);
    --palFusion-32: rgb(33.33035% 2.340514% 18.518817%);
    --palFusion-33: rgb(33.939638% 2.266162% 18.733027%);
    --palFusion-34: rgb(34.548643% 2.191286% 18.932678%);
    --palFusion-35: rgb(35.157038% 2.117156% 19.117542%);
    --palFusion-36: rgb(35.764438% 2.045243% 19.287499%);
    --palFusion-37: rgb(36.370491% 1.97698% 19.442473%);
    --palFusion-38: rgb(36.974824% 1.91391% 19.582493%);
    --palFusion-39: rgb(37.577077% 1.857585% 19.707658%);
    --palFusion-40: rgb(38.176904% 1.809548% 19.818146%);
    --palFusion-41: rgb(38.773974% 1.771347% 19.914209%);
    --palFusion-42: rgb(39.367973% 1.744507% 19.996177%);
    --palFusion-43: rgb(39.958615% 1.730503% 20.064439%);
    --palFusion-44: rgb(40.54564% 1.730756% 20.119435%);
    --palFusion-45: rgb(41.128814% 1.746625% 20.161659%);
    --palFusion-46: rgb(41.707934% 1.779395% 20.191636%);
    --palFusion-47: rgb(42.282828% 1.830274% 20.20992%);
    --palFusion-48: rgb(42.853351% 1.900391% 20.217081%);
    --palFusion-49: rgb(43.419385% 1.9908% 20.213703%);
    --palFusion-50: rgb(43.980839% 2.102481% 20.200373%);
    --palFusion-51: rgb(44.53765% 2.236329% 20.17766%);
    --palFusion-52: rgb(45.089772% 2.393184% 20.146133%);
    --palFusion-53: rgb(45.637175% 2.573832% 20.106358%);
    --palFusion-54: rgb(46.17986% 2.778978% 20.058845%);
    --palFusion-55: rgb(46.717826% 3.00931% 20.004129%);
    --palFusion-56: rgb(47.251097% 3.265447% 19.942678%);
    --palFusion-57: rgb(47.779699% 3.547995% 19.874971%);
    --palFusion-58: rgb(48.303675% 3.857509% 19.801427%);
    --palFusion-59: rgb(48.823063% 4.190477% 19.722484%);
    --palFusion-60: rgb(49.33792% 4.533361% 19.638501%);
    --palFusion-61: rgb(49.848295% 4.88556% 19.549855%);
    --palFusion-62: rgb(50.354245% 5.246016% 19.456891%);
    --palFusion-63: rgb(50.855829% 5.613794% 19.359908%);
    --palFusion-64: rgb(51.353106% 5.988082% 19.259203%);
    --palFusion-65: rgb(51.846134% 6.368175% 19.155052%);
    --palFusion-66: rgb(52.334968% 6.753461% 19.047725%);
    --palFusion-67: rgb(52.819668% 7.143406% 18.937444%);
    --palFusion-68: rgb(53.300287% 7.537552% 18.824429%);
    --palFusion-69: rgb(53.776881% 7.935505% 18.708888%);
    --palFusion-70: rgb(54.249498% 8.336925% 18.591011%);
    --palFusion-71: rgb(54.718187% 8.74152% 18.470977%);
    --palFusion-72: rgb(55.182995% 9.14904% 18.348952%);
    --palFusion-73: rgb(55.643964% 9.559271% 18.225093%);
    --palFusion-74: rgb(56.101135% 9.97203% 18.099554%);
    --palFusion-75: rgb(56.554545% 10.387162% 17.97247%);
    --palFusion-76: rgb(57.004228% 10.804535% 17.843965%);
    --palFusion-77: rgb(57.450218% 11.224039% 17.714162%);
    --palFusion-78: rgb(57.892543% 11.645581% 17.583175%);
    --palFusion-79: rgb(58.331227% 12.069081% 17.451137%);
    --palFusion-80: rgb(58.766296% 12.494477% 17.31814%);
    --palFusion-81: rgb(59.197769% 12.921716% 17.184282%);
    --palFusion-82: rgb(59.625664% 13.350755% 17.049678%);
    --palFusion-83: rgb(60.049995% 13.78156% 16.914425%);
    --palFusion-84: rgb(60.470775% 14.214109% 16.778605%);
    --palFusion-85: rgb(60.888014% 14.648377% 16.642339%);
    --palFusion-86: rgb(61.301718% 15.084356% 16.505701%);
    --palFusion-87: rgb(61.711892% 15.522035% 16.368797%);
    --palFusion-88: rgb(62.118537% 15.961411% 16.231725%);
    --palFusion-89: rgb(62.521654% 16.402486% 16.094574%);
    --palFusion-90: rgb(62.921239% 16.845259% 15.957459%);
    --palFusion-91: rgb(63.317286% 17.289743% 15.820467%);
    --palFusion-92: rgb(63.709789% 17.73594% 15.683719%);
    --palFusion-93: rgb(64.098737% 18.183867% 15.547315%);
    --palFusion-94: rgb(64.484118% 18.633534% 15.411376%);
    --palFusion-95: rgb(64.865919% 19.084955% 15.276021%);
    --palFusion-96: rgb(65.244121% 19.538149% 15.141373%);
    --palFusion-97: rgb(65.618709% 19.993128% 15.007576%);
    --palFusion-98: rgb(65.989658% 20.449916% 14.874755%);
    --palFusion-99: rgb(66.35695% 20.908526% 14.743075%);
    --palFusion-100: rgb(66.720557% 21.368981% 14.612684%);
    --palFusion-101: rgb(67.080453% 21.831301% 14.48375%);
    --palFusion-102: rgb(67.436611% 22.295502% 14.356461%);
    --palFusion-103: rgb(67.788999% 22.761609% 14.230996%);
    --palFusion-104: rgb(68.137585% 23.229639% 14.107563%);
    --palFusion-105: rgb(68.482337% 23.699614% 13.98638%);
    --palFusion-106: rgb(68.823217% 24.171554% 13.867669%);
    --palFusion-107: rgb(69.160188% 24.645478% 13.751682%);
    --palFusion-108: rgb(69.493213% 25.121406% 13.638677%);
    --palFusion-109: rgb(69.822249% 25.599358% 13.528928%);
    --palFusion-110: rgb(70.147255% 26.079351% 13.422734%);
    --palFusion-111: rgb(70.468187% 26.561404% 13.320407%);
    --palFusion-112: rgb(70.785001% 27.045535% 13.222275%);
    --palFusion-113: rgb(71.097649% 27.531759% 13.128691%);
    --palFusion-114: rgb(71.406086% 28.020092% 13.040026%);
    --palFusion-115: rgb(71.710262% 28.510549% 12.956671%);
    --palFusion-116: rgb(72.010127% 29.003143% 12.879035%);
    --palFusion-117: rgb(72.305631% 29.497887% 12.807554%);
    --palFusion-118: rgb(72.596723% 29.99479% 12.742676%);
    --palFusion-119: rgb(72.883351% 30.493864% 12.684874%);
    --palFusion-120: rgb(73.165462% 30.995115% 12.634639%);
    --palFusion-121: rgb(73.443003% 31.498551% 12.592479%);
    --palFusion-122: rgb(73.715922% 32.004174% 12.55892%);
    --palFusion-123: rgb(73.984165% 32.511988% 12.534501%);
    --palFusion-124: rgb(74.247679% 33.021994% 12.519777%);
    --palFusion-125: rgb(74.506413% 33.534188% 12.515309%);
    --palFusion-126: rgb(74.760315% 34.048567% 12.521671%);
    --palFusion-127: rgb(75.009333% 34.565125% 12.539436%);
    --palFusion-128: rgb(75.253419% 35.083851% 12.569182%);
    --palFusion-129: rgb(75.492525% 35.604733% 12.611484%);
    --palFusion-130: rgb(75.726603% 36.127756% 12.666908%);
    --palFusion-131: rgb(75.955612% 36.652901% 12.736013%);
    --palFusion-132: rgb(76.17951% 37.180145% 12.81934%);
    --palFusion-133: rgb(76.398258% 37.709464% 12.917414%);
    --palFusion-134: rgb(76.611821% 38.240828% 13.030734%);
    --palFusion-135: rgb(76.82017% 38.774203% 13.159774%);
    --palFusion-136: rgb(77.023277% 39.309552% 13.304977%);
    --palFusion-137: rgb(77.221122% 39.846833% 13.466751%);
    --palFusion-138: rgb(77.413687% 40.386001% 13.645469%);
    --palFusion-139: rgb(77.600962% 40.927004% 13.841463%);
    --palFusion-140: rgb(77.782945% 41.469787% 14.055024%);
    --palFusion-141: rgb(77.959637% 42.01429% 14.2864%);
    --palFusion-142: rgb(78.131049% 42.56045% 14.535795%);
    --palFusion-143: rgb(78.297201% 43.108193% 14.803371%);
    --palFusion-144: rgb(78.458119% 43.657447% 15.089242%);
    --palFusion-145: rgb(78.613838% 44.208132% 15.393484%);
    --palFusion-146: rgb(78.764406% 44.760163% 15.716125%);
    --palFusion-147: rgb(78.909879% 45.313449% 16.057155%);
    --palFusion-148: rgb(79.050321% 45.867899% 16.416524%);
    --palFusion-149: rgb(79.185809% 46.423414% 16.794145%);
    --palFusion-150: rgb(79.316437% 46.979884% 17.189894%);
    --palFusion-151: rgb(79.442299% 47.537209% 17.603613%);
    --palFusion-152: rgb(79.563505% 48.095278% 18.035117%);
    --palFusion-153: rgb(79.680179% 48.653975% 18.484187%);
    --palFusion-154: rgb(79.792464% 49.213177% 18.950575%);
    --palFusion-155: rgb(79.900496% 49.772771% 19.434016%);
    --palFusion-156: rgb(80.004432% 50.332634% 19.934218%);
    --palFusion-157: rgb(80.104441% 50.892642% 20.450869%);
    --palFusion-158: rgb(80.200701% 51.452672% 20.98364%);
    --palFusion-159: rgb(80.293413% 52.012589% 21.532172%);
    --palFusion-160: rgb(80.382766% 52.572276% 22.096109%);
    --palFusion-161: rgb(80.468967% 53.131609% 22.675077%);
    --palFusion-162: rgb(80.552232% 53.690464% 23.268687%);
    --palFusion-163: rgb(80.632783% 54.248721% 23.876543%);
    --palFusion-164: rgb(80.710851% 54.806261% 24.498237%);
    --palFusion-165: rgb(80.78667% 55.362968% 25.133358%);
    --palFusion-166: rgb(80.860481% 55.918732% 25.781488%);
    --palFusion-167: rgb(80.932526% 56.473444% 26.442207%);
    --palFusion-168: rgb(81.00305% 57.027003% 27.115092%);
    --palFusion-169: rgb(81.072299% 57.579311% 27.799721%);
    --palFusion-170: rgb(81.140518% 58.130277% 28.495673%);
    --palFusion-171: rgb(81.207972% 58.679806% 29.202509%);
    --palFusion-172: rgb(81.274908% 59.227815% 29.919806%);
    --palFusion-173: rgb(81.341552% 59.774241% 30.647173%);
    --palFusion-174: rgb(81.408137% 60.319018% 31.384208%);
    --palFusion-175: rgb(81.474926% 60.862071% 32.130478%);
    --palFusion-176: rgb(81.542167% 61.403338% 32.885569%);
    --palFusion-177: rgb(81.610036% 61.942795% 33.649157%);
    --palFusion-178: rgb(81.678817% 62.480368% 34.420784%);
    --palFusion-179: rgb(81.748695% 63.016037% 35.200121%);
    --palFusion-180: rgb(81.819885% 63.549767% 35.986798%);
    --palFusion-181: rgb(81.892611% 64.081526% 36.78044%);
    --palFusion-182: rgb(81.96706% 64.611297% 37.580716%);
    --palFusion-183: rgb(82.043411% 65.139072% 38.387313%);
    --palFusion-184: rgb(82.121909% 65.664815% 39.199823%);
    --palFusion-185: rgb(82.202656% 66.188554% 40.018042%);
    --palFusion-186: rgb(82.28587% 66.710267% 40.841599%);
    --palFusion-187: rgb(82.371744% 67.229949% 41.670163%);
    --palFusion-188: rgb(82.460384% 67.747627% 42.503525%);
    --palFusion-189: rgb(82.551949% 68.263309% 43.341401%);
    --palFusion-190: rgb(82.646594% 68.777007% 44.183516%);
    --palFusion-191: rgb(82.744484% 69.288728% 45.029574%);
    --palFusion-192: rgb(82.845747% 69.798494% 45.879337%);
    --palFusion-193: rgb(82.95049% 70.306338% 46.732598%);
    --palFusion-194: rgb(83.058837% 70.812283% 47.589127%);
    --palFusion-195: rgb(83.170905% 71.316357% 48.448704%);
    --palFusion-196: rgb(83.286801% 71.818592% 49.311119%);
    --palFusion-197: rgb(83.406629% 72.319019% 50.176173%);
    --palFusion-198: rgb(83.530503% 72.817668% 51.043647%);
    --palFusion-199: rgb(83.658533% 73.314569% 51.913321%);
    --palFusion-200: rgb(83.790779% 73.809768% 52.78507%);
    --palFusion-201: rgb(83.927317% 74.303306% 53.658732%);
    --palFusion-202: rgb(84.068221% 74.795225% 54.534156%);
    --palFusion-203: rgb(84.213588% 75.285557% 55.411142%);
    --palFusion-204: rgb(84.36354% 75.774329% 56.289444%);
    --palFusion-205: rgb(84.518059% 76.261608% 57.169073%);
    --palFusion-206: rgb(84.677218% 76.747433% 58.049871%);
    --palFusion-207: rgb(84.841181% 77.231818% 58.931505%);
    --palFusion-208: rgb(85.009872% 77.714844% 59.814098%);
    --palFusion-209: rgb(85.183442% 78.196527% 60.697334%);
    --palFusion-210: rgb(85.361898% 78.676924% 61.58118%);
    --palFusion-211: rgb(85.5453% 79.156074% 62.465496%);
    --palFusion-212: rgb(85.733708% 79.634019% 63.350137%);
    --palFusion-213: rgb(85.927157% 80.110804% 64.235012%);
    --palFusion-214: rgb(86.125682% 80.586474% 65.120031%);
    --palFusion-215: rgb(86.329372% 81.061062% 66.004984%);
    --palFusion-216: rgb(86.538175% 81.534633% 66.88997%);
    --palFusion-217: rgb(86.75227% 82.007195% 67.77458%);
    --palFusion-218: rgb(86.971583% 82.478816% 68.65896%);
    --palFusion-219: rgb(87.196152% 82.949538% 69.543018%);
    --palFusion-220: rgb(87.426133% 83.419375% 70.426386%);
    --palFusion-221: rgb(87.661459% 83.888389% 71.309208%);
    --palFusion-222: rgb(87.902177% 84.356618% 72.191377%);
    --palFusion-223: rgb(88.148352% 84.824093% 73.072734%);
    --palFusion-224: rgb(88.400075% 85.290842% 73.953068%);
    --palFusion-225: rgb(88.65733% 85.756911% 74.832427%);
    --palFusion-226: rgb(88.920173% 86.222332% 75.710696%);
    --palFusion-227: rgb(89.188662% 86.687134% 76.587761%);
    --palFusion-228: rgb(89.462859% 87.151346% 77.463504%);
    --palFusion-229: rgb(89.742844% 87.61499% 78.337778%);
    --palFusion-230: rgb(90.028705% 88.078089% 79.210422%);
    --palFusion-231: rgb(90.320498% 88.540665% 80.081379%);
    --palFusion-232: rgb(90.618322% 89.002734% 80.950508%);
    --palFusion-233: rgb(90.922288% 89.464305% 81.817656%);
    --palFusion-234: rgb(91.232527% 89.925383% 82.682655%);
    --palFusion-235: rgb(91.549189% 90.385964% 83.545317%);
    --palFusion-236: rgb(91.872454% 90.846037% 84.405428%);
    --palFusion-237: rgb(92.202532% 91.305582% 85.262744%);
    --palFusion-238: rgb(92.539674% 91.764567% 86.116973%);
    --palFusion-239: rgb(92.884183% 92.222945% 86.967767%);
    --palFusion-240: rgb(93.236418% 92.680655% 87.814698%);
    --palFusion-241: rgb(93.59681% 93.137619% 88.657233%);
    --palFusion-242: rgb(93.965884% 93.593743% 89.494635%);
    --palFusion-243: rgb(94.344228% 94.048919% 90.326058%);
    --palFusion-244: rgb(94.732508% 94.503036% 91.150406%);
    --palFusion-245: rgb(95.131441% 94.955998% 91.96623%);
    --palFusion-246: rgb(95.541703% 95.407768% 92.771676%);
    --palFusion-247: rgb(95.963758% 95.858437% 93.564471%);
    --palFusion-248: rgb(96.397569% 96.308327% 94.342013%);
    --palFusion-249: rgb(96.842214% 96.758121% 95.101597%);
    --palFusion-250: rgb(97.295466% 97.208912% 95.84152%);
    --palFusion-251: rgb(97.753779% 97.662151% 96.561627%);
    --palFusion-252: rgb(98.212842% 98.11934% 97.264191%);
    --palFusion-253: rgb(98.668707% 98.5816% 97.953727%);
    --palFusion-254: rgb(99.118833% 99.049355% 98.636053%);
    --palFusion-255: rgb(99.562415% 99.522369% 99.316724%);
    --palFusion-256: rgb(100% 100% 100%);
    --palFusion-257: rgb(99.286734% 99.599371% 99.614812%);
    --palFusion-258: rgb(98.57014% 99.201791% 99.234019%);
    --palFusion-259: rgb(97.850515% 98.807093% 98.857653%);
    --palFusion-260: rgb(97.128081% 98.415141% 98.485747%);
    --palFusion-261: rgb(96.403006% 98.025821% 98.118332%);
    --palFusion-262: rgb(95.67542% 97.639033% 97.75544%);
    --palFusion-263: rgb(94.945423% 97.254691% 97.397106%);
    --palFusion-264: rgb(94.213095% 96.872714% 97.043361%);
    --palFusion-265: rgb(93.478417% 96.493058% 96.694278%);
    --palFusion-266: rgb(92.741484% 96.115639% 96.349871%);
    --palFusion-267: rgb(92.002357% 95.740386% 96.010167%);
    --palFusion-268: rgb(91.261066% 95.367238% 95.675205%);
    --palFusion-269: rgb(90.51753% 94.996172% 95.345071%);
    --palFusion-270: rgb(89.771808% 94.627115% 95.019787%);
    --palFusion-271: rgb(89.023961% 94.259997% 94.699371%);
    --palFusion-272: rgb(88.273889% 93.8948% 94.38392%);
    --palFusion-273: rgb(87.521615% 93.531462% 94.073469%);
    --palFusion-274: rgb(86.767223% 93.169907% 93.768025%);
    --palFusion-275: rgb(86.010488% 92.810149% 93.467745%);
    --palFusion-276: rgb(85.251625% 92.45207% 93.172572%);
    --palFusion-277: rgb(84.490442% 92.095675% 92.882652%);
    --palFusion-278: rgb(83.727062% 91.740873% 92.59797%);
    --palFusion-279: rgb(82.96133% 91.387653% 92.318658%);
    --palFusion-280: rgb(82.193388% 91.035919% 92.044693%);
    --palFusion-281: rgb(81.42301% 90.685681% 91.776249%);
    --palFusion-282: rgb(80.650377% 90.336829% 91.513282%);
    --palFusion-283: rgb(79.875363% 89.989342% 91.255918%);
    --palFusion-284: rgb(79.097948% 89.643167% 91.004225%);
    --palFusion-285: rgb(78.318199% 89.298227% 90.758225%);
    --palFusion-286: rgb(77.536055% 88.954478% 90.518014%);
    --palFusion-287: rgb(76.751441% 88.611881% 90.283699%);
    --palFusion-288: rgb(75.964444% 88.270351% 90.055296%);
    --palFusion-289: rgb(75.175053% 87.929829% 89.832878%);
    --palFusion-290: rgb(74.383262% 87.590255% 89.616521%);
    --palFusion-291: rgb(73.589072% 87.251564% 89.406298%);
    --palFusion-292: rgb(72.792492% 86.913691% 89.202278%);
    --palFusion-293: rgb(71.993521% 86.576571% 89.004544%);
    --palFusion-294: rgb(71.192219% 86.240124% 88.813142%);
    --palFusion-295: rgb(70.388623% 85.904276% 88.628135%);
    --palFusion-296: rgb(69.582754% 85.568955% 88.449599%);
    --palFusion-297: rgb(68.774673% 85.234079% 88.277592%);
    --palFusion-298: rgb(67.964457% 84.899564% 88.112162%);
    --palFusion-299: rgb(67.152191% 84.565322% 87.953357%);
    --palFusion-300: rgb(66.337974% 84.231265% 87.801219%);
    --palFusion-301: rgb(65.521921% 83.897298% 87.655784%);
    --palFusion-302: rgb(64.704068% 83.563346% 87.517148%);
    --palFusion-303: rgb(63.884614% 83.229298% 87.385299%);
    --palFusion-304: rgb(63.063758% 82.895047% 87.260229%);
    --palFusion-305: rgb(62.241561% 82.560511% 87.142035%);
    --palFusion-306: rgb(61.418307% 82.225567% 87.030656%);
    --palFusion-307: rgb(60.594176% 81.890115% 86.926118%);
    --palFusion-308: rgb(59.769403% 81.554044% 86.828407%);
    --palFusion-309: rgb(58.944247% 81.217242% 86.737501%);
    --palFusion-310: rgb(58.119025% 80.879588% 86.653338%);
    --palFusion-311: rgb(57.293967% 80.54098% 86.575933%);
    --palFusion-312: rgb(56.469499% 80.201285% 86.50515%);
    --palFusion-313: rgb(55.645949% 79.860391% 86.44094%);
    --palFusion-314: rgb(54.823663% 79.518185% 86.38325%);
    --palFusion-315: rgb(54.003116% 79.174538% 86.331922%);
    --palFusion-316: rgb(53.184747% 78.829334% 86.28684%);
    --palFusion-317: rgb(52.369022% 78.482455% 86.247868%);
    --palFusion-318: rgb(51.556437% 78.133787% 86.214854%);
    --palFusion-319: rgb(50.74751% 77.783215% 86.187634%);
    --palFusion-320: rgb(49.9428% 77.430627% 86.166013%);
    --palFusion-321: rgb(49.14289% 77.075916% 86.149781%);
    --palFusion-322: rgb(48.348378% 76.718977% 86.138716%);
    --palFusion-323: rgb(47.559884% 76.359711% 86.132585%);
    --palFusion-324: rgb(46.77804% 75.998024% 86.131146%);
    --palFusion-325: rgb(46.0035% 75.63383% 86.134138%);
    --palFusion-326: rgb(45.236936% 75.267044% 86.141286%);
    --palFusion-327: rgb(44.479028% 74.897593% 86.152307%);
    --palFusion-328: rgb(43.730459% 74.525408% 86.166912%);
    --palFusion-329: rgb(42.99192% 74.150429% 86.184809%);
    --palFusion-330: rgb(42.264101% 73.772603% 86.205698%);
    --palFusion-331: rgb(41.547682% 73.391885% 86.22929%);
    --palFusion-332: rgb(40.843352% 73.008237% 86.255277%);
    --palFusion-333: rgb(40.151789% 72.62163% 86.283355%);
    --palFusion-334: rgb(39.473655% 72.232041% 86.313228%);
    --palFusion-335: rgb(38.809598% 71.839456% 86.344609%);
    --palFusion-336: rgb(38.16025% 71.443865% 86.377213%);
    --palFusion-337: rgb(37.526225% 71.04527% 86.410756%);
    --palFusion-338: rgb(36.908114% 70.643673% 86.444972%);
    --palFusion-339: rgb(36.306481% 70.239086% 86.479601%);
    --palFusion-340: rgb(35.721866% 69.831525% 86.514393%);
    --palFusion-341: rgb(35.154777% 69.421011% 86.549111%);
    --palFusion-342: rgb(34.605694% 69.007569% 86.583531%);
    --palFusion-343: rgb(34.075062% 68.591227% 86.617437%);
    --palFusion-344: rgb(33.563291% 68.172019% 86.650626%);
    --palFusion-345: rgb(33.070754% 67.749978% 86.682914%);
    --palFusion-346: rgb(32.597787% 67.325141% 86.714125%);
    --palFusion-347: rgb(32.144684% 66.897547% 86.744092%);
    --palFusion-348: rgb(31.7117% 66.467238% 86.772661%);
    --palFusion-349: rgb(31.299046% 66.034252% 86.799697%);
    --palFusion-350: rgb(30.906887% 65.598631% 86.825072%);
    --palFusion-351: rgb(30.535347% 65.160416% 86.848667%);
    --palFusion-352: rgb(30.1845% 64.71965% 86.870371%);
    --palFusion-353: rgb(29.854375% 64.276372% 86.890085%);
    --palFusion-354: rgb(29.544956% 63.830622% 86.907725%);
    --palFusion-355: rgb(29.256178% 63.382438% 86.923211%);
    --palFusion-356: rgb(28.987929% 62.931858% 86.936472%);
    --palFusion-357: rgb(28.740051% 62.478917% 86.947441%);
    --palFusion-358: rgb(28.512341% 62.023651% 86.95606%);
    --palFusion-359: rgb(28.304548% 61.566092% 86.962274%);
    --palFusion-360: rgb(28.116383% 61.10627% 86.96604%);
    --palFusion-361: rgb(27.947513% 60.644214% 86.967318%);
    --palFusion-362: rgb(27.797569% 60.179951% 86.966073%);
    --palFusion-363: rgb(27.666143% 59.713504% 86.962272%);
    --palFusion-364: rgb(27.552793% 59.244896% 86.955888%);
    --palFusion-365: rgb(27.457047% 58.774146% 86.946893%);
    --palFusion-366: rgb(27.378405% 58.301273% 86.935267%);
    --palFusion-367: rgb(27.316343% 57.826292% 86.92099%);
    --palFusion-368: rgb(27.270315% 57.349216% 86.904042%);
    --palFusion-369: rgb(27.239757% 56.870055% 86.884409%);
    --palFusion-370: rgb(27.224091% 56.388818% 86.862073%);
    --palFusion-371: rgb(27.222727% 55.90551% 86.837022%);
    --palFusion-372: rgb(27.235069% 55.420136% 86.809242%);
    --palFusion-373: rgb(27.260513% 54.932696% 86.778718%);
    --palFusion-374: rgb(27.298455% 54.44319% 86.745438%);
    --palFusion-375: rgb(27.348292% 53.951613% 86.709387%);
    --palFusion-376: rgb(27.409422% 53.457961% 86.670552%);
    --palFusion-377: rgb(27.481251% 52.962225% 86.628917%);
    --palFusion-378: rgb(27.56319% 52.464394% 86.584466%);
    --palFusion-379: rgb(27.654662% 51.964457% 86.537182%);
    --palFusion-380: rgb(27.755099% 51.462399% 86.487045%);
    --palFusion-381: rgb(27.863945% 50.958201% 86.434035%);
    --palFusion-382: rgb(27.980659% 50.451846% 86.37813%);
    --palFusion-383: rgb(28.104713% 49.943311% 86.319304%);
    --palFusion-384: rgb(28.235594% 49.432573% 86.25753%);
    --palFusion-385: rgb(28.372807% 48.919605% 86.192779%);
    --palFusion-386: rgb(28.51587% 48.40438% 86.125019%);
    --palFusion-387: rgb(28.664319% 47.886866% 86.054215%);
    --palFusion-388: rgb(28.817706% 47.367032% 85.980329%);
    --palFusion-389: rgb(28.975598% 46.844842% 85.903319%);
    --palFusion-390: rgb(29.13758% 46.32026% 85.82314%);
    --palFusion-391: rgb(29.30325% 45.793246% 85.739743%);
    --palFusion-392: rgb(29.472223% 45.263759% 85.653076%);
    --palFusion-393: rgb(29.64413% 44.731755% 85.563081%);
    --palFusion-394: rgb(29.818615% 44.19719% 85.469698%);
    --palFusion-395: rgb(29.995337% 43.660014% 85.372861%);
    --palFusion-396: rgb(30.173966% 43.120178% 85.272499%);
    --palFusion-397: rgb(30.354187% 42.57763% 85.168538%);
    --palFusion-398: rgb(30.535698% 42.032315% 85.060895%);
    --palFusion-399: rgb(30.718208% 41.484175% 84.949487%);
    --palFusion-400: rgb(30.901435% 40.933154% 84.83422%);
    --palFusion-401: rgb(31.085108% 40.379189% 84.714995%);
    --palFusion-402: rgb(31.268965% 39.822218% 84.591709%);
    --palFusion-403: rgb(31.452753% 39.262176% 84.464249%);
    --palFusion-404: rgb(31.636229% 38.698995% 84.332498%);
    --palFusion-405: rgb(31.819155% 38.132607% 84.19633%);
    --palFusion-406: rgb(32.0013% 37.562939% 84.055611%);
    --palFusion-407: rgb(32.18244% 36.989919% 83.910199%);
    --palFusion-408: rgb(32.362357% 36.413471% 83.759945%);
    --palFusion-409: rgb(32.540842% 35.833516% 83.604691%);
    --palFusion-410: rgb(32.71768% 35.249976% 83.444267%);
    --palFusion-411: rgb(32.892666% 34.662771% 83.278494%);
    --palFusion-412: rgb(33.065594% 34.07182% 83.107184%);
    --palFusion-413: rgb(33.236262% 33.477038% 82.930136%);
    --palFusion-414: rgb(33.40447% 32.878343% 82.747138%);
    --palFusion-415: rgb(33.570018% 32.275648% 82.557967%);
    --palFusion-416: rgb(33.732703% 31.668868% 82.362385%);
    --palFusion-417: rgb(33.892344% 31.057909% 82.160147%);
    --palFusion-418: rgb(34.048732% 30.442687% 81.950987%);
    --palFusion-419: rgb(34.201654% 29.823123% 81.734622%);
    --palFusion-420: rgb(34.3509% 29.199133% 81.510757%);
    --palFusion-421: rgb(34.496286% 28.570623% 81.279086%);
    --palFusion-422: rgb(34.637591% 27.937515% 81.039277%);
    --palFusion-423: rgb(34.774576% 27.299746% 80.790978%);
    --palFusion-424: rgb(34.907049% 26.657226% 80.533828%);
    --palFusion-425: rgb(35.034765% 26.009898% 80.267437%);
    --palFusion-426: rgb(35.157477% 25.35771% 79.991393%);
    --palFusion-427: rgb(35.274974% 24.700593% 79.705268%);
    --palFusion-428: rgb(35.386957% 24.03854% 79.408603%);
    --palFusion-429: rgb(35.493209% 23.371498% 79.10092%);
    --palFusion-430: rgb(35.593417% 22.699489% 78.781709%);
    --palFusion-431: rgb(35.687304% 22.022524% 78.450439%);
    --palFusion-432: rgb(35.77459% 21.340635% 78.106545%);
    --palFusion-433: rgb(35.854927% 20.653923% 77.749437%);
    --palFusion-434: rgb(35.927989% 19.962502% 77.378495%);
    --palFusion-435: rgb(35.993451% 19.26652% 76.99306%);
    --palFusion-436: rgb(36.050928% 18.566214% 76.592451%);
    --palFusion-437: rgb(36.100028% 17.861881% 76.175953%);
    --palFusion-438: rgb(36.140342% 17.153899% 75.74282%);
    --palFusion-439: rgb(36.171435% 16.442749% 75.292275%);
    --palFusion-440: rgb(36.192848% 15.729037% 74.823513%);
    --palFusion-441: rgb(36.204093% 15.013519% 74.335708%);
    --palFusion-442: rgb(36.204673% 14.297118% 73.827997%);
    --palFusion-443: rgb(36.19404% 13.580989% 73.299516%);
    --palFusion-444: rgb(36.171608% 12.866551% 72.749406%);
    --palFusion-445: rgb(36.136795% 12.155514% 72.176784%);
    --palFusion-446: rgb(36.088975% 11.449965% 71.580795%);
    --palFusion-447: rgb(36.027488% 10.752429% 70.960628%);
    --palFusion-448: rgb(35.951665% 10.065933% 70.31552%);
    --palFusion-449: rgb(35.860825% 9.394083% 69.644767%);
    --palFusion-450: rgb(35.754257% 8.741135% 68.947827%);
    --palFusion-451: rgb(35.63127% 8.11204% 68.22427%);
    --palFusion-452: rgb(35.491188% 7.512464% 67.473859%);
    --palFusion-453: rgb(35.333367% 6.948733% 66.696587%);
    --palFusion-454: rgb(35.157216% 6.427682% 65.892725%);
    --palFusion-455: rgb(34.962224% 5.956371% 65.06286%);
    --palFusion-456: rgb(34.747984% 5.541636% 64.207929%);
    --palFusion-457: rgb(34.51422% 5.189493% 63.329238%);
    --palFusion-458: rgb(34.260814% 4.904439% 62.428467%);
    --palFusion-459: rgb(33.987821% 4.688785% 61.507656%);
    --palFusion-460: rgb(33.695485% 4.542168% 60.569166%);
    --palFusion-461: rgb(33.384244% 4.461402% 59.61562%);
    --palFusion-462: rgb(33.054719% 4.440736% 58.649826%);
    --palFusion-463: rgb(32.707699% 4.47246% 57.674681%);
    --palFusion-464: rgb(32.344118% 4.547712% 56.693081%);
    --palFusion-465: rgb(31.965016% 4.657302% 55.707817%);
    --palFusion-466: rgb(31.571506% 4.792403% 54.721501%);
    --palFusion-467: rgb(31.164748% 4.944885% 53.736593%);
    --palFusion-468: rgb(30.7459% 5.107806% 52.755208%);
    --palFusion-469: rgb(30.316106% 5.275303% 51.779232%);
    --palFusion-470: rgb(29.876453% 5.442732% 50.810188%);
    --palFusion-471: rgb(29.427986% 5.606322% 49.849429%);
    --palFusion-472: rgb(28.971686% 5.763199% 48.898038%);
    --palFusion-473: rgb(28.50845% 5.911251% 47.956842%);
    --palFusion-474: rgb(28.039092% 6.048993% 47.026435%);
    --palFusion-475: rgb(27.56434% 6.175448% 46.107205%);
    --palFusion-476: rgb(27.084884% 6.289865% 45.199509%);
    --palFusion-477: rgb(26.601325% 6.391846% 44.303518%);
    --palFusion-478: rgb(26.114211% 6.481189% 43.419322%);
    --palFusion-479: rgb(25.623998% 6.557967% 42.546825%);
    --palFusion-480: rgb(25.131127% 6.622224% 41.68599%);
    --palFusion-481: rgb(24.635989% 6.674117% 40.836707%);
    --palFusion-482: rgb(24.138922% 6.713884% 39.9988%);
    --palFusion-483: rgb(23.640219% 6.741821% 39.172046%);
    --palFusion-484: rgb(23.140135% 6.758265% 38.356178%);
    --palFusion-485: rgb(22.638882% 6.763578% 37.550902%);
    --palFusion-486: rgb(22.136723% 6.757936% 36.756094%);
    --palFusion-487: rgb(21.633793% 6.741776% 35.971365%);
    --palFusion-488: rgb(21.130262% 6.71538% 35.196469%);
    --palFusion-489: rgb(20.626253% 6.679084% 34.431091%);
    --palFusion-490: rgb(20.121936% 6.633069% 33.675064%);
    --palFusion-491: rgb(19.61735% 6.577759% 32.927959%);
    --palFusion-492: rgb(19.112598% 6.513382% 32.189534%);
    --palFusion-493: rgb(18.607797% 6.440103% 31.459602%);
    --palFusion-494: rgb(18.102995% 6.358187% 30.737861%);
    --palFusion-495: rgb(17.598229% 6.267883% 30.024012%);
    --palFusion-496: rgb(17.093544% 6.169384% 29.317803%);
    --palFusion-497: rgb(16.588972% 6.062873% 28.618983%);
    --palFusion-498: rgb(16.084537% 5.948518% 27.927302%);
    --palFusion-499: rgb(15.580287% 5.826412% 27.242584%);
    --palFusion-500: rgb(15.076217% 5.696715% 26.564568%);
    --palFusion-501: rgb(14.572304% 5.559583% 25.892982%);
    --palFusion-502: rgb(14.068532% 5.415133% 25.227586%);
    --palFusion-503: rgb(13.564929% 5.26338% 24.568244%);
    --palFusion-504: rgb(13.061484% 5.104378% 23.91476%);
    --palFusion-505: rgb(12.558094% 4.938293% 23.266799%);
    --palFusion-506: rgb(12.054835% 4.764989% 22.624353%);
    --palFusion-507: rgb(11.551573% 4.584618% 21.987072%);
    --palFusion-508: rgb(11.048325% 4.397075% 21.354882%);
    --palFusion-509: rgb(10.544988% 4.202398% 20.727521%);
    --palFusion-510: rgb(10.041564% 3.999828% 20.104928%);
    --palFusion-511: rgb(9.537889% 3.791701% 19.486783%);
}
