/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGem-1: rgb(25.385944% 0.893619% 2.323036%);
    --palGem-2: rgb(25.881946% 0.805637% 2.61827%);
    --palGem-3: rgb(26.372293% 0.719101% 2.950322%);
    --palGem-4: rgb(26.856669% 0.635013% 3.322111%);
    --palGem-5: rgb(27.334834% 0.554285% 3.736553%);
    --palGem-6: rgb(27.806621% 0.477728% 4.192409%);
    --palGem-7: rgb(28.271928% 0.406047% 4.665435%);
    --palGem-8: rgb(28.730711% 0.339848% 5.152853%);
    --palGem-9: rgb(29.182988% 0.279605% 5.65381%);
    --palGem-10: rgb(29.628817% 0.225708% 6.167492%);
    --palGem-11: rgb(30.068269% 0.178518% 6.693075%);
    --palGem-12: rgb(30.501476% 0.138225% 7.229911%);
    --palGem-13: rgb(30.928554% 0.105058% 7.777284%);
    --palGem-14: rgb(31.34966% 0.079112% 8.334649%);
    --palGem-15: rgb(31.764928% 0.060537% 8.901372%);
    --palGem-16: rgb(32.174526% 0.04935% 9.477013%);
    --palGem-17: rgb(32.578606% 0.045599% 10.061097%);
    --palGem-18: rgb(32.977311% 0.049341% 10.653135%);
    --palGem-19: rgb(33.370802% 0.060549% 11.252787%);
    --palGem-20: rgb(33.759222% 0.079221% 11.859683%);
    --palGem-21: rgb(34.142712% 0.105349% 12.473485%);
    --palGem-22: rgb(34.521408% 0.138916% 13.093879%);
    --palGem-23: rgb(34.895439% 0.179902% 13.720575%);
    --palGem-24: rgb(35.26493% 0.228283% 14.353304%);
    --palGem-25: rgb(35.63% 0.284036% 14.991818%);
    --palGem-26: rgb(35.990761% 0.347136% 15.635884%);
    --palGem-27: rgb(36.347323% 0.41756% 16.285287%);
    --palGem-28: rgb(36.699787% 0.495287% 16.939825%);
    --palGem-29: rgb(37.04825% 0.580306% 17.599285%);
    --palGem-30: rgb(37.392805% 0.672605% 18.26348%);
    --palGem-31: rgb(37.733541% 0.772156% 18.932271%);
    --palGem-32: rgb(38.070541% 0.878948% 19.605501%);
    --palGem-33: rgb(38.403883% 0.992995% 20.282974%);
    --palGem-34: rgb(38.733645% 1.114281% 20.964573%);
    --palGem-35: rgb(39.059895% 1.242795% 21.65019%);
    --palGem-36: rgb(39.382704% 1.378571% 22.339634%);
    --palGem-37: rgb(39.702134% 1.521593% 23.032838%);
    --palGem-38: rgb(40.018245% 1.671881% 23.729673%);
    --palGem-39: rgb(40.331096% 1.82946% 24.430015%);
    --palGem-40: rgb(40.640738% 1.994336% 25.133799%);
    --palGem-41: rgb(40.947226% 2.166558% 25.840878%);
    --palGem-42: rgb(41.250603% 2.346134% 26.551218%);
    --palGem-43: rgb(41.550917% 2.533125% 27.264678%);
    --palGem-44: rgb(41.848208% 2.727551% 27.98123%);
    --palGem-45: rgb(42.142515% 2.929481% 28.700752%);
    --palGem-46: rgb(42.433872% 3.138953% 29.423208%);
    --palGem-47: rgb(42.722314% 3.356039% 30.148509%);
    --palGem-48: rgb(43.007871% 3.580804% 30.876598%);
    --palGem-49: rgb(43.290568% 3.81332% 31.607424%);
    --palGem-50: rgb(43.570432% 4.053525% 32.340904%);
    --palGem-51: rgb(43.847482% 4.293113% 33.077015%);
    --palGem-52: rgb(44.121738% 4.532134% 33.815678%);
    --palGem-53: rgb(44.393216% 4.77066% 34.556861%);
    --palGem-54: rgb(44.661927% 5.008768% 35.300517%);
    --palGem-55: rgb(44.927885% 5.246543% 36.046585%);
    --palGem-56: rgb(45.191093% 5.484058% 36.795041%);
    --palGem-57: rgb(45.451558% 5.721397% 37.545832%);
    --palGem-58: rgb(45.70928% 5.958642% 38.298916%);
    --palGem-59: rgb(45.964258% 6.195874% 39.054261%);
    --palGem-60: rgb(46.216489% 6.43318% 39.811818%);
    --palGem-61: rgb(46.465963% 6.670644% 40.571552%);
    --palGem-62: rgb(46.71267% 6.908355% 41.333424%);
    --palGem-63: rgb(46.956598% 7.146403% 42.09739%);
    --palGem-64: rgb(47.197729% 7.384882% 42.863412%);
    --palGem-65: rgb(47.436044% 7.623884% 43.631446%);
    --palGem-66: rgb(47.671519% 7.863507% 44.401451%);
    --palGem-67: rgb(47.904128% 8.103851% 45.17338%);
    --palGem-68: rgb(48.133841% 8.345018% 45.947185%);
    --palGem-69: rgb(48.360625% 8.587112% 46.722822%);
    --palGem-70: rgb(48.584446% 8.830243% 47.500229%);
    --palGem-71: rgb(48.805261% 9.07452% 48.279361%);
    --palGem-72: rgb(49.023029% 9.320058% 49.060155%);
    --palGem-73: rgb(49.237703% 9.566975% 49.842541%);
    --palGem-74: rgb(49.449231% 9.815387% 50.626472%);
    --palGem-75: rgb(49.657561% 10.065423% 51.411859%);
    --palGem-76: rgb(49.862636% 10.317208% 52.19863%);
    --palGem-77: rgb(50.064391% 10.570869% 52.986716%);
    --palGem-78: rgb(50.262767% 10.826545% 53.776008%);
    --palGem-79: rgb(50.457689% 11.084367% 54.566441%);
    --palGem-80: rgb(50.649089% 11.344479% 55.357895%);
    --palGem-81: rgb(50.836888% 11.607023% 56.150271%);
    --palGem-82: rgb(51.021005% 11.872144% 56.943465%);
    --palGem-83: rgb(51.20136% 12.139995% 57.737335%);
    --palGem-84: rgb(51.377858% 12.410721% 58.531791%);
    --palGem-85: rgb(51.550414% 12.684487% 59.326649%);
    --palGem-86: rgb(51.718922% 12.96144% 60.121817%);
    --palGem-87: rgb(51.883292% 13.241748% 60.917091%);
    --palGem-88: rgb(52.04341% 13.525568% 61.712353%);
    --palGem-89: rgb(52.199177% 13.813069% 62.507389%);
    --palGem-90: rgb(52.35047% 14.104412% 63.302059%);
    --palGem-91: rgb(52.497183% 14.399768% 64.096126%);
    --palGem-92: rgb(52.639185% 14.6993% 64.889435%);
    --palGem-93: rgb(52.776363% 15.003183% 65.681716%);
    --palGem-94: rgb(52.908574% 15.31158% 66.472807%);
    --palGem-95: rgb(53.035701% 15.624664% 67.262413%);
    --palGem-96: rgb(53.157597% 15.9426% 68.050323%);
    --palGem-97: rgb(53.274128% 16.265556% 68.836258%);
    --palGem-98: rgb(53.385154% 16.593697% 69.619937%);
    --palGem-99: rgb(53.490518% 16.927184% 70.401112%);
    --palGem-100: rgb(53.590084% 17.266177% 71.17944%);
    --palGem-101: rgb(53.683693% 17.610832% 71.954635%);
    --palGem-102: rgb(53.771187% 17.9613% 72.726382%);
    --palGem-103: rgb(53.852421% 18.317728% 73.494319%);
    --palGem-104: rgb(53.927228% 18.680255% 74.258116%);
    --palGem-105: rgb(53.995444% 19.049017% 75.017428%);
    --palGem-106: rgb(54.056917% 19.424139% 75.771857%);
    --palGem-107: rgb(54.111484% 19.805738% 76.521023%);
    --palGem-108: rgb(54.158973% 20.193927% 77.26456%);
    --palGem-109: rgb(54.199227% 20.588804% 78.002049%);
    --palGem-110: rgb(54.232089% 20.990457% 78.73307%);
    --palGem-111: rgb(54.257398% 21.398964% 79.457204%);
    --palGem-112: rgb(54.274995% 21.814389% 80.174025%);
    --palGem-113: rgb(54.284714% 22.236789% 80.883115%);
    --palGem-114: rgb(54.286415% 22.6662% 81.584013%);
    --palGem-115: rgb(54.27995% 23.102643% 82.276273%);
    --palGem-116: rgb(54.265175% 23.54613% 82.959449%);
    --palGem-117: rgb(54.241954% 23.996652% 83.633091%);
    --palGem-118: rgb(54.210157% 24.454187% 84.296749%);
    --palGem-119: rgb(54.16966% 24.918694% 84.949976%);
    --palGem-120: rgb(54.120351% 25.390115% 85.592326%);
    --palGem-121: rgb(54.062121% 25.868377% 86.223364%);
    --palGem-122: rgb(53.994879% 26.353387% 86.842655%);
    --palGem-123: rgb(53.918543% 26.845031% 87.449777%);
    --palGem-124: rgb(53.833041% 27.343182% 88.044319%);
    --palGem-125: rgb(53.738315% 27.847693% 88.625886%);
    --palGem-126: rgb(53.634322% 28.3584% 89.194097%);
    --palGem-127: rgb(53.521029% 28.875121% 89.74859%);
    --palGem-128: rgb(53.398422% 29.397659% 90.289023%);
    --palGem-129: rgb(53.266502% 29.925799% 90.815079%);
    --palGem-130: rgb(53.125283% 30.459314% 91.32646%);
    --palGem-131: rgb(52.9748% 30.997958% 91.822899%);
    --palGem-132: rgb(52.815101% 31.541477% 92.304154%);
    --palGem-133: rgb(52.646252% 32.089601% 92.770013%);
    --palGem-134: rgb(52.468337% 32.642052% 93.220296%);
    --palGem-135: rgb(52.281456% 33.198541% 93.654853%);
    --palGem-136: rgb(52.085726% 33.758769% 94.073567%);
    --palGem-137: rgb(51.881282% 34.322435% 94.476355%);
    --palGem-138: rgb(51.668271% 34.889229% 94.863167%);
    --palGem-139: rgb(51.44686% 35.45884% 95.233989%);
    --palGem-140: rgb(51.217228% 36.030953% 95.588838%);
    --palGem-141: rgb(50.97957% 36.605253% 95.927767%);
    --palGem-142: rgb(50.734092% 37.181428% 96.250861%);
    --palGem-143: rgb(50.481014% 37.759166% 96.558238%);
    --palGem-144: rgb(50.220568% 38.33816% 96.850046%);
    --palGem-145: rgb(49.952995% 38.918109% 97.126465%);
    --palGem-146: rgb(49.678546% 39.498717% 97.3877%);
    --palGem-147: rgb(49.397479% 40.079696% 97.633987%);
    --palGem-148: rgb(49.110061% 40.660768% 97.865585%);
    --palGem-149: rgb(48.816564% 41.241662% 98.082777%);
    --palGem-150: rgb(48.517263% 41.822121% 98.285868%);
    --palGem-151: rgb(48.212439% 42.401896% 98.475183%);
    --palGem-152: rgb(47.902375% 42.980751% 98.651062%);
    --palGem-153: rgb(47.587354% 43.558464% 98.813865%);
    --palGem-154: rgb(47.26766% 44.134822% 98.963961%);
    --palGem-155: rgb(46.943576% 44.709629% 99.101733%);
    --palGem-156: rgb(46.615384% 45.282699% 99.227574%);
    --palGem-157: rgb(46.283363% 45.853861% 99.341882%);
    --palGem-158: rgb(45.947788% 46.422955% 99.445063%);
    --palGem-159: rgb(45.608942% 46.989832% 99.53753%);
    --palGem-160: rgb(45.267086% 47.554361% 99.619694%);
    --palGem-161: rgb(44.922478% 48.116424% 99.691966%);
    --palGem-162: rgb(44.575372% 48.675913% 99.754758%);
    --palGem-163: rgb(44.226016% 49.232733% 99.808479%);
    --palGem-164: rgb(43.874651% 49.7868% 99.853536%);
    --palGem-165: rgb(43.521521% 50.338036% 99.890335%);
    --palGem-166: rgb(43.166863% 50.886375% 99.919277%);
    --palGem-167: rgb(42.810876% 51.431773% 99.940745%);
    --palGem-168: rgb(42.453768% 51.974187% 99.955122%);
    --palGem-169: rgb(42.095741% 52.513586% 99.962783%);
    --palGem-170: rgb(41.73702% 53.04993% 99.964109%);
    --palGem-171: rgb(41.377761% 53.583216% 99.959446%);
    --palGem-172: rgb(41.018133% 54.113437% 99.949138%);
    --palGem-173: rgb(40.658311% 54.640588% 99.933529%);
    --palGem-174: rgb(40.298475% 55.164666% 99.912957%);
    --palGem-175: rgb(39.938736% 55.685698% 99.887723%);
    --palGem-176: rgb(39.57924% 56.203697% 99.858136%);
    --palGem-177: rgb(39.22015% 56.718675% 99.82451%);
    --palGem-178: rgb(38.861543% 57.230675% 99.787107%);
    --palGem-179: rgb(38.503545% 57.739726% 99.746208%);
    --palGem-180: rgb(38.146277% 58.245857% 99.702088%);
    --palGem-181: rgb(37.789795% 58.749123% 99.654977%);
    --palGem-182: rgb(37.434216% 59.249555% 99.605135%);
    --palGem-183: rgb(37.079598% 59.747209% 99.552781%);
    --palGem-184: rgb(36.726% 60.242135% 99.498132%);
    --palGem-185: rgb(36.373506% 60.734379% 99.44141%);
    --palGem-186: rgb(36.022128% 61.224008% 99.382794%);
    --palGem-187: rgb(35.671944% 61.711067% 99.32249%);
    --palGem-188: rgb(35.322954% 62.195625% 99.26066%);
    --palGem-189: rgb(34.9752% 62.677736% 99.197481%);
    --palGem-190: rgb(34.628689% 63.157466% 99.133105%);
    --palGem-191: rgb(34.28343% 63.634876% 99.06768%);
    --palGem-192: rgb(33.939428% 64.110029% 99.001348%);
    --palGem-193: rgb(33.596665% 64.582993% 98.934232%);
    --palGem-194: rgb(33.25514% 65.053827% 98.866459%);
    --palGem-195: rgb(32.914816% 65.522602% 98.798132%);
    --palGem-196: rgb(32.57568% 65.989379% 98.729362%);
    --palGem-197: rgb(32.237684% 66.454227% 98.660234%);
    --palGem-198: rgb(31.9008% 66.917208% 98.59084%);
    --palGem-199: rgb(31.564971% 67.37839% 98.521253%);
    --palGem-200: rgb(31.230153% 67.837835% 98.451546%);
    --palGem-201: rgb(30.896289% 68.295608% 98.381778%);
    --palGem-202: rgb(30.563316% 68.751774% 98.312001%);
    --palGem-203: rgb(30.231178% 69.206393% 98.242267%);
    --palGem-204: rgb(29.899798% 69.65953% 98.172609%);
    --palGem-205: rgb(29.569124% 70.111242% 98.103065%);
    --palGem-206: rgb(29.23907% 70.561593% 98.033651%);
    --palGem-207: rgb(28.909586% 71.010638% 97.964395%);
    --palGem-208: rgb(28.580585% 71.458438% 97.895298%);
    --palGem-209: rgb(28.252021% 71.905045% 97.826374%);
    --palGem-210: rgb(27.923818% 72.350516% 97.757613%);
    --palGem-211: rgb(27.595926% 72.794904% 97.689009%);
    --palGem-212: rgb(27.268303% 73.238257% 97.620551%);
    --palGem-213: rgb(26.940886% 73.680631% 97.552204%);
    --palGem-214: rgb(26.613693% 74.122064% 97.483966%);
    --palGem-215: rgb(26.286635% 74.562614% 97.415763%);
    --palGem-216: rgb(25.959788% 75.002312% 97.347594%);
    --palGem-217: rgb(25.633138% 75.441205% 97.279391%);
    --palGem-218: rgb(25.306724% 75.879333% 97.2111%);
    --palGem-219: rgb(24.980668% 76.316723% 97.142685%);
    --palGem-220: rgb(24.655011% 76.75342% 97.074047%);
    --palGem-221: rgb(24.329935% 77.189448% 97.005133%);
    --palGem-222: rgb(24.005658% 77.62483% 96.935878%);
    --palGem-223: rgb(23.682383% 78.059595% 96.866178%);
    --palGem-224: rgb(23.360397% 78.493765% 96.795934%);
    --palGem-225: rgb(23.040127% 78.927349% 96.725075%);
    --palGem-226: rgb(22.722023% 79.360358% 96.653493%);
    --palGem-227: rgb(22.40663% 79.792801% 96.581078%);
    --palGem-228: rgb(22.094547% 80.224685% 96.507684%);
    --palGem-229: rgb(21.786589% 80.656003% 96.433202%);
    --palGem-230: rgb(21.483687% 81.086743% 96.357507%);
    --palGem-231: rgb(21.186918% 81.516887% 96.280456%);
    --palGem-232: rgb(20.897546% 81.946413% 96.201897%);
    --palGem-233: rgb(20.617045% 82.375286% 96.121673%);
    --palGem-234: rgb(20.347132% 82.803464% 96.039616%);
    --palGem-235: rgb(20.089777% 83.230897% 95.955541%);
    --palGem-236: rgb(19.847183% 83.657529% 95.869218%);
    --palGem-237: rgb(19.622081% 84.083269% 95.780491%);
    --palGem-238: rgb(19.417514% 84.508018% 95.689163%);
    --palGem-239: rgb(19.236749% 84.931683% 95.594916%);
    --palGem-240: rgb(19.083824% 85.354111% 95.497572%);
    --palGem-241: rgb(18.963034% 85.775156% 95.396797%);
    --palGem-242: rgb(18.879478% 86.19461% 95.292374%);
    --palGem-243: rgb(18.838567% 86.612264% 95.183886%);
    --palGem-244: rgb(18.846576% 87.027836% 95.071006%);
    --palGem-245: rgb(18.910485% 87.440991% 94.953372%);
    --palGem-246: rgb(19.037993% 87.851326% 94.830532%);
    --palGem-247: rgb(19.237642% 88.258358% 94.701928%);
    --palGem-248: rgb(19.519254% 88.661439% 94.567197%);
    --palGem-249: rgb(19.893583% 89.059819% 94.425509%);
    --palGem-250: rgb(20.373321% 89.452468% 94.276336%);
    --palGem-251: rgb(20.973274% 89.838074% 94.118824%);
    --palGem-252: rgb(21.711489% 90.214838% 93.952301%);
    --palGem-253: rgb(22.610835% 90.580292% 93.775791%);
    --palGem-254: rgb(23.701092% 90.930856% 93.589018%);
    --palGem-255: rgb(25.022885% 91.261233% 93.392224%);
    --palGem-256: rgb(26.629803% 91.563381% 93.189099%);
}
