/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGistRainbow-1: rgb(100% 0% 16%);
    --palGistRainbow-2: rgb(100% 0% 13.91%);
    --palGistRainbow-3: rgb(100% 0% 11.82%);
    --palGistRainbow-4: rgb(100% 0% 9.73%);
    --palGistRainbow-5: rgb(100% 0% 7.63%);
    --palGistRainbow-6: rgb(100% 0% 5.54%);
    --palGistRainbow-7: rgb(100% 0% 3.45%);
    --palGistRainbow-8: rgb(100% 0% 1.36%);
    --palGistRainbow-9: rgb(100% 0.74% 0%);
    --palGistRainbow-10: rgb(100% 2.86% 0%);
    --palGistRainbow-11: rgb(100% 4.98% 0%);
    --palGistRainbow-12: rgb(100% 7.1% 0%);
    --palGistRainbow-13: rgb(100% 9.22% 0%);
    --palGistRainbow-14: rgb(100% 11.34% 0%);
    --palGistRainbow-15: rgb(100% 13.46% 0%);
    --palGistRainbow-16: rgb(100% 15.58% 0%);
    --palGistRainbow-17: rgb(100% 17.7% 0%);
    --palGistRainbow-18: rgb(100% 19.82% 0%);
    --palGistRainbow-19: rgb(100% 21.94% 0%);
    --palGistRainbow-20: rgb(100% 24.06% 0%);
    --palGistRainbow-21: rgb(100% 26.18% 0%);
    --palGistRainbow-22: rgb(100% 28.3% 0%);
    --palGistRainbow-23: rgb(100% 30.42% 0%);
    --palGistRainbow-24: rgb(100% 32.54% 0%);
    --palGistRainbow-25: rgb(100% 34.66% 0%);
    --palGistRainbow-26: rgb(100% 36.78% 0%);
    --palGistRainbow-27: rgb(100% 38.9% 0%);
    --palGistRainbow-28: rgb(100% 41.02% 0%);
    --palGistRainbow-29: rgb(100% 43.14% 0%);
    --palGistRainbow-30: rgb(100% 45.26% 0%);
    --palGistRainbow-31: rgb(100% 47.38% 0%);
    --palGistRainbow-32: rgb(100% 49.5% 0%);
    --palGistRainbow-33: rgb(100% 51.62% 0%);
    --palGistRainbow-34: rgb(100% 53.74% 0%);
    --palGistRainbow-35: rgb(100% 55.86% 0%);
    --palGistRainbow-36: rgb(100% 57.98% 0%);
    --palGistRainbow-37: rgb(100% 60.1% 0%);
    --palGistRainbow-38: rgb(100% 62.22% 0%);
    --palGistRainbow-39: rgb(100% 64.33% 0%);
    --palGistRainbow-40: rgb(100% 66.45% 0%);
    --palGistRainbow-41: rgb(100% 68.57% 0%);
    --palGistRainbow-42: rgb(100% 70.69% 0%);
    --palGistRainbow-43: rgb(100% 72.81% 0%);
    --palGistRainbow-44: rgb(100% 74.93% 0%);
    --palGistRainbow-45: rgb(100% 77.05% 0%);
    --palGistRainbow-46: rgb(100% 79.17% 0%);
    --palGistRainbow-47: rgb(100% 81.29% 0%);
    --palGistRainbow-48: rgb(100% 83.41% 0%);
    --palGistRainbow-49: rgb(100% 85.53% 0%);
    --palGistRainbow-50: rgb(100% 87.65% 0%);
    --palGistRainbow-51: rgb(100% 89.77% 0%);
    --palGistRainbow-52: rgb(100% 91.89% 0%);
    --palGistRainbow-53: rgb(100% 94.01% 0%);
    --palGistRainbow-54: rgb(100% 96.13% 0%);
    --palGistRainbow-55: rgb(100% 98.25% 0%);
    --palGistRainbow-56: rgb(99.63% 100% 0%);
    --palGistRainbow-57: rgb(97.51% 100% 0%);
    --palGistRainbow-58: rgb(95.39% 100% 0%);
    --palGistRainbow-59: rgb(93.27% 100% 0%);
    --palGistRainbow-60: rgb(91.15% 100% 0%);
    --palGistRainbow-61: rgb(89.03% 100% 0%);
    --palGistRainbow-62: rgb(86.91% 100% 0%);
    --palGistRainbow-63: rgb(84.79% 100% 0%);
    --palGistRainbow-64: rgb(82.67% 100% 0%);
    --palGistRainbow-65: rgb(80.55% 100% 0%);
    --palGistRainbow-66: rgb(78.43% 100% 0%);
    --palGistRainbow-67: rgb(76.31% 100% 0%);
    --palGistRainbow-68: rgb(74.19% 100% 0%);
    --palGistRainbow-69: rgb(72.07% 100% 0%);
    --palGistRainbow-70: rgb(69.95% 100% 0%);
    --palGistRainbow-71: rgb(67.83% 100% 0%);
    --palGistRainbow-72: rgb(65.71% 100% 0%);
    --palGistRainbow-73: rgb(63.59% 100% 0%);
    --palGistRainbow-74: rgb(61.47% 100% 0%);
    --palGistRainbow-75: rgb(59.35% 100% 0%);
    --palGistRainbow-76: rgb(57.23% 100% 0%);
    --palGistRainbow-77: rgb(55.11% 100% 0%);
    --palGistRainbow-78: rgb(52.99% 100% 0%);
    --palGistRainbow-79: rgb(50.87% 100% 0%);
    --palGistRainbow-80: rgb(48.75% 100% 0%);
    --palGistRainbow-81: rgb(46.63% 100% 0%);
    --palGistRainbow-82: rgb(44.52% 100% 0%);
    --palGistRainbow-83: rgb(42.4% 100% 0%);
    --palGistRainbow-84: rgb(40.28% 100% 0%);
    --palGistRainbow-85: rgb(38.16% 100% 0%);
    --palGistRainbow-86: rgb(36.04% 100% 0%);
    --palGistRainbow-87: rgb(33.92% 100% 0%);
    --palGistRainbow-88: rgb(31.8% 100% 0%);
    --palGistRainbow-89: rgb(29.68% 100% 0%);
    --palGistRainbow-90: rgb(27.56% 100% 0%);
    --palGistRainbow-91: rgb(25.44% 100% 0%);
    --palGistRainbow-92: rgb(23.32% 100% 0%);
    --palGistRainbow-93: rgb(21.2% 100% 0%);
    --palGistRainbow-94: rgb(19.08% 100% 0%);
    --palGistRainbow-95: rgb(16.96% 100% 0%);
    --palGistRainbow-96: rgb(14.84% 100% 0%);
    --palGistRainbow-97: rgb(12.72% 100% 0%);
    --palGistRainbow-98: rgb(10.6% 100% 0%);
    --palGistRainbow-99: rgb(8.48% 100% 0%);
    --palGistRainbow-100: rgb(6.36% 100% 0%);
    --palGistRainbow-101: rgb(4.24% 100% 0%);
    --palGistRainbow-102: rgb(2.12% 100% 0%);
    --palGistRainbow-103: rgb(0% 100% 0%);
    --palGistRainbow-104: rgb(0% 100% 2.11%);
    --palGistRainbow-105: rgb(0% 100% 4.22%);
    --palGistRainbow-106: rgb(0% 100% 6.33%);
    --palGistRainbow-107: rgb(0% 100% 8.43%);
    --palGistRainbow-108: rgb(0% 100% 10.54%);
    --palGistRainbow-109: rgb(0% 100% 12.65%);
    --palGistRainbow-110: rgb(0% 100% 14.76%);
    --palGistRainbow-111: rgb(0% 100% 16.87%);
    --palGistRainbow-112: rgb(0% 100% 18.98%);
    --palGistRainbow-113: rgb(0% 100% 21.08%);
    --palGistRainbow-114: rgb(0% 100% 23.19%);
    --palGistRainbow-115: rgb(0% 100% 25.3%);
    --palGistRainbow-116: rgb(0% 100% 27.41%);
    --palGistRainbow-117: rgb(0% 100% 29.52%);
    --palGistRainbow-118: rgb(0% 100% 31.63%);
    --palGistRainbow-119: rgb(0% 100% 33.73%);
    --palGistRainbow-120: rgb(0% 100% 35.84%);
    --palGistRainbow-121: rgb(0% 100% 37.95%);
    --palGistRainbow-122: rgb(0% 100% 40.06%);
    --palGistRainbow-123: rgb(0% 100% 42.17%);
    --palGistRainbow-124: rgb(0% 100% 44.28%);
    --palGistRainbow-125: rgb(0% 100% 46.38%);
    --palGistRainbow-126: rgb(0% 100% 48.49%);
    --palGistRainbow-127: rgb(0% 100% 50.6%);
    --palGistRainbow-128: rgb(0% 100% 52.71%);
    --palGistRainbow-129: rgb(0% 100% 54.82%);
    --palGistRainbow-130: rgb(0% 100% 56.93%);
    --palGistRainbow-131: rgb(0% 100% 59.03%);
    --palGistRainbow-132: rgb(0% 100% 61.14%);
    --palGistRainbow-133: rgb(0% 100% 63.25%);
    --palGistRainbow-134: rgb(0% 100% 65.36%);
    --palGistRainbow-135: rgb(0% 100% 67.47%);
    --palGistRainbow-136: rgb(0% 100% 69.58%);
    --palGistRainbow-137: rgb(0% 100% 71.68%);
    --palGistRainbow-138: rgb(0% 100% 73.79%);
    --palGistRainbow-139: rgb(0% 100% 75.9%);
    --palGistRainbow-140: rgb(0% 100% 78.01%);
    --palGistRainbow-141: rgb(0% 100% 80.12%);
    --palGistRainbow-142: rgb(0% 100% 82.23%);
    --palGistRainbow-143: rgb(0% 100% 84.33%);
    --palGistRainbow-144: rgb(0% 100% 86.44%);
    --palGistRainbow-145: rgb(0% 100% 88.55%);
    --palGistRainbow-146: rgb(0% 100% 90.66%);
    --palGistRainbow-147: rgb(0% 100% 92.77%);
    --palGistRainbow-148: rgb(0% 100% 94.88%);
    --palGistRainbow-149: rgb(0% 100% 96.99%);
    --palGistRainbow-150: rgb(0% 100% 99.09%);
    --palGistRainbow-151: rgb(0% 98.79% 100%);
    --palGistRainbow-152: rgb(0% 96.65% 100%);
    --palGistRainbow-153: rgb(0% 94.52% 100%);
    --palGistRainbow-154: rgb(0% 92.39% 100%);
    --palGistRainbow-155: rgb(0% 90.26% 100%);
    --palGistRainbow-156: rgb(0% 88.13% 100%);
    --palGistRainbow-157: rgb(0% 86% 100%);
    --palGistRainbow-158: rgb(0% 83.87% 100%);
    --palGistRainbow-159: rgb(0% 81.73% 100%);
    --palGistRainbow-160: rgb(0% 79.6% 100%);
    --palGistRainbow-161: rgb(0% 77.47% 100%);
    --palGistRainbow-162: rgb(0% 75.34% 100%);
    --palGistRainbow-163: rgb(0% 73.21% 100%);
    --palGistRainbow-164: rgb(0% 71.08% 100%);
    --palGistRainbow-165: rgb(0% 68.95% 100%);
    --palGistRainbow-166: rgb(0% 66.82% 100%);
    --palGistRainbow-167: rgb(0% 64.68% 100%);
    --palGistRainbow-168: rgb(0% 62.55% 100%);
    --palGistRainbow-169: rgb(0% 60.42% 100%);
    --palGistRainbow-170: rgb(0% 58.29% 100%);
    --palGistRainbow-171: rgb(0% 56.16% 100%);
    --palGistRainbow-172: rgb(0% 54.03% 100%);
    --palGistRainbow-173: rgb(0% 51.9% 100%);
    --palGistRainbow-174: rgb(0% 49.77% 100%);
    --palGistRainbow-175: rgb(0% 47.63% 100%);
    --palGistRainbow-176: rgb(0% 45.5% 100%);
    --palGistRainbow-177: rgb(0% 43.37% 100%);
    --palGistRainbow-178: rgb(0% 41.24% 100%);
    --palGistRainbow-179: rgb(0% 39.11% 100%);
    --palGistRainbow-180: rgb(0% 36.98% 100%);
    --palGistRainbow-181: rgb(0% 34.85% 100%);
    --palGistRainbow-182: rgb(0% 32.72% 100%);
    --palGistRainbow-183: rgb(0% 30.58% 100%);
    --palGistRainbow-184: rgb(0% 28.45% 100%);
    --palGistRainbow-185: rgb(0% 26.32% 100%);
    --palGistRainbow-186: rgb(0% 24.19% 100%);
    --palGistRainbow-187: rgb(0% 22.06% 100%);
    --palGistRainbow-188: rgb(0% 19.93% 100%);
    --palGistRainbow-189: rgb(0% 17.8% 100%);
    --palGistRainbow-190: rgb(0% 15.66% 100%);
    --palGistRainbow-191: rgb(0% 13.53% 100%);
    --palGistRainbow-192: rgb(0% 11.4% 100%);
    --palGistRainbow-193: rgb(0% 9.27% 100%);
    --palGistRainbow-194: rgb(0% 7.14% 100%);
    --palGistRainbow-195: rgb(0% 5.01% 100%);
    --palGistRainbow-196: rgb(0% 2.88% 100%);
    --palGistRainbow-197: rgb(0% 0.75% 100%);
    --palGistRainbow-198: rgb(1.39% 0% 100%);
    --palGistRainbow-199: rgb(3.52% 0% 100%);
    --palGistRainbow-200: rgb(5.65% 0% 100%);
    --palGistRainbow-201: rgb(7.78% 0% 100%);
    --palGistRainbow-202: rgb(9.91% 0% 100%);
    --palGistRainbow-203: rgb(12.04% 0% 100%);
    --palGistRainbow-204: rgb(14.17% 0% 100%);
    --palGistRainbow-205: rgb(16.3% 0% 100%);
    --palGistRainbow-206: rgb(18.44% 0% 100%);
    --palGistRainbow-207: rgb(20.57% 0% 100%);
    --palGistRainbow-208: rgb(22.7% 0% 100%);
    --palGistRainbow-209: rgb(24.83% 0% 100%);
    --palGistRainbow-210: rgb(26.96% 0% 100%);
    --palGistRainbow-211: rgb(29.09% 0% 100%);
    --palGistRainbow-212: rgb(31.22% 0% 100%);
    --palGistRainbow-213: rgb(33.35% 0% 100%);
    --palGistRainbow-214: rgb(35.49% 0% 100%);
    --palGistRainbow-215: rgb(37.62% 0% 100%);
    --palGistRainbow-216: rgb(39.75% 0% 100%);
    --palGistRainbow-217: rgb(41.88% 0% 100%);
    --palGistRainbow-218: rgb(44.01% 0% 100%);
    --palGistRainbow-219: rgb(46.14% 0% 100%);
    --palGistRainbow-220: rgb(48.27% 0% 100%);
    --palGistRainbow-221: rgb(50.4% 0% 100%);
    --palGistRainbow-222: rgb(52.54% 0% 100%);
    --palGistRainbow-223: rgb(54.67% 0% 100%);
    --palGistRainbow-224: rgb(56.8% 0% 100%);
    --palGistRainbow-225: rgb(58.93% 0% 100%);
    --palGistRainbow-226: rgb(61.06% 0% 100%);
    --palGistRainbow-227: rgb(63.19% 0% 100%);
    --palGistRainbow-228: rgb(65.32% 0% 100%);
    --palGistRainbow-229: rgb(67.46% 0% 100%);
    --palGistRainbow-230: rgb(69.59% 0% 100%);
    --palGistRainbow-231: rgb(71.72% 0% 100%);
    --palGistRainbow-232: rgb(73.85% 0% 100%);
    --palGistRainbow-233: rgb(75.98% 0% 100%);
    --palGistRainbow-234: rgb(78.11% 0% 100%);
    --palGistRainbow-235: rgb(80.24% 0% 100%);
    --palGistRainbow-236: rgb(82.37% 0% 100%);
    --palGistRainbow-237: rgb(84.51% 0% 100%);
    --palGistRainbow-238: rgb(86.64% 0% 100%);
    --palGistRainbow-239: rgb(88.77% 0% 100%);
    --palGistRainbow-240: rgb(90.9% 0% 100%);
    --palGistRainbow-241: rgb(93.03% 0% 100%);
    --palGistRainbow-242: rgb(95.16% 0% 100%);
    --palGistRainbow-243: rgb(97.29% 0% 100%);
    --palGistRainbow-244: rgb(99.42% 0% 100%);
    --palGistRainbow-245: rgb(100% 0% 98.44%);
    --palGistRainbow-246: rgb(100% 0% 96.31%);
    --palGistRainbow-247: rgb(100% 0% 94.18%);
    --palGistRainbow-248: rgb(100% 0% 92.05%);
    --palGistRainbow-249: rgb(100% 0% 89.92%);
    --palGistRainbow-250: rgb(100% 0% 87.79%);
    --palGistRainbow-251: rgb(100% 0% 85.66%);
    --palGistRainbow-252: rgb(100% 0% 83.53%);
    --palGistRainbow-253: rgb(100% 0% 81.39%);
    --palGistRainbow-254: rgb(100% 0% 79.26%);
    --palGistRainbow-255: rgb(100% 0% 77.13%);
    --palGistRainbow-256: rgb(100% 0% 75%);
}
