/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGistNcar-1: rgb(0% 0% 50.2%);
    --palGistNcar-2: rgb(0% 2.86% 46.51%);
    --palGistNcar-3: rgb(0% 5.72% 42.82%);
    --palGistNcar-4: rgb(0% 8.59% 39.13%);
    --palGistNcar-5: rgb(0% 11.45% 35.44%);
    --palGistNcar-6: rgb(0% 14.31% 31.75%);
    --palGistNcar-7: rgb(0% 17.17% 28.06%);
    --palGistNcar-8: rgb(0% 20.03% 24.37%);
    --palGistNcar-9: rgb(0% 22.9% 20.69%);
    --palGistNcar-10: rgb(0% 25.76% 17%);
    --palGistNcar-11: rgb(0% 28.62% 13.31%);
    --palGistNcar-12: rgb(0% 31.48% 9.62%);
    --palGistNcar-13: rgb(0% 34.34% 5.93%);
    --palGistNcar-14: rgb(0% 37.21% 2.24%);
    --palGistNcar-15: rgb(0% 34.57% 8.71%);
    --palGistNcar-16: rgb(0% 31.92% 15.23%);
    --palGistNcar-17: rgb(0% 29.26% 21.75%);
    --palGistNcar-18: rgb(0% 26.6% 28.27%);
    --palGistNcar-19: rgb(0% 23.94% 34.79%);
    --palGistNcar-20: rgb(0% 21.28% 41.32%);
    --palGistNcar-21: rgb(0% 18.62% 47.84%);
    --palGistNcar-22: rgb(0% 15.96% 54.36%);
    --palGistNcar-23: rgb(0% 13.31% 60.88%);
    --palGistNcar-24: rgb(0% 10.65% 67.4%);
    --palGistNcar-25: rgb(0% 7.99% 73.92%);
    --palGistNcar-26: rgb(0% 5.33% 80.44%);
    --palGistNcar-27: rgb(0% 2.67% 86.96%);
    --palGistNcar-28: rgb(0% 0.01% 93.49%);
    --palGistNcar-29: rgb(0% 5.51% 100%);
    --palGistNcar-30: rgb(0% 11.05% 100%);
    --palGistNcar-31: rgb(0% 16.59% 100%);
    --palGistNcar-32: rgb(0% 22.13% 100%);
    --palGistNcar-33: rgb(0% 27.66% 100%);
    --palGistNcar-34: rgb(0% 33.2% 100%);
    --palGistNcar-35: rgb(0% 38.74% 100%);
    --palGistNcar-36: rgb(0% 44.28% 100%);
    --palGistNcar-37: rgb(0% 49.82% 100%);
    --palGistNcar-38: rgb(0% 55.35% 100%);
    --palGistNcar-39: rgb(0% 60.89% 100%);
    --palGistNcar-40: rgb(0% 66.43% 100%);
    --palGistNcar-41: rgb(0% 71.97% 100%);
    --palGistNcar-42: rgb(0% 75.36% 100%);
    --palGistNcar-43: rgb(0% 77.52% 100%);
    --palGistNcar-44: rgb(0% 79.25% 100%);
    --palGistNcar-45: rgb(0% 80.98% 100%);
    --palGistNcar-46: rgb(0% 82.71% 100%);
    --palGistNcar-47: rgb(0% 84.44% 100%);
    --palGistNcar-48: rgb(0% 86.17% 100%);
    --palGistNcar-49: rgb(0% 87.89% 100%);
    --palGistNcar-50: rgb(0% 89.62% 100%);
    --palGistNcar-51: rgb(0% 91.35% 100%);
    --palGistNcar-52: rgb(0% 93.08% 100%);
    --palGistNcar-53: rgb(0% 94.81% 99.99%);
    --palGistNcar-54: rgb(0% 96.54% 97.41%);
    --palGistNcar-55: rgb(0% 98.27% 94.84%);
    --palGistNcar-56: rgb(0% 99.99% 92.27%);
    --palGistNcar-57: rgb(0% 99.82% 89.7%);
    --palGistNcar-58: rgb(0% 99.64% 87.13%);
    --palGistNcar-59: rgb(0% 99.47% 84.56%);
    --palGistNcar-60: rgb(0% 99.29% 81.99%);
    --palGistNcar-61: rgb(0% 99.11% 79.42%);
    --palGistNcar-62: rgb(0% 98.93% 76.85%);
    --palGistNcar-63: rgb(0% 98.75% 74.28%);
    --palGistNcar-64: rgb(0% 98.57% 71.7%);
    --palGistNcar-65: rgb(0% 98.4% 69.13%);
    --palGistNcar-66: rgb(0% 98.22% 66.56%);
    --palGistNcar-67: rgb(0% 98.04% 63.99%);
    --palGistNcar-68: rgb(0% 98.04% 61.4%);
    --palGistNcar-69: rgb(0% 98.04% 57.31%);
    --palGistNcar-70: rgb(0% 98.04% 53.22%);
    --palGistNcar-71: rgb(0% 98.2% 49.13%);
    --palGistNcar-72: rgb(0% 98.37% 45.04%);
    --palGistNcar-73: rgb(0% 98.53% 40.95%);
    --palGistNcar-74: rgb(0% 98.69% 36.85%);
    --palGistNcar-75: rgb(0% 98.86% 32.76%);
    --palGistNcar-76: rgb(0% 99.02% 28.67%);
    --palGistNcar-77: rgb(0% 99.18% 24.58%);
    --palGistNcar-78: rgb(0% 99.35% 20.49%);
    --palGistNcar-79: rgb(0% 99.51% 16.4%);
    --palGistNcar-80: rgb(0% 99.67% 12.31%);
    --palGistNcar-81: rgb(2.5% 99.84% 8.22%);
    --palGistNcar-82: rgb(5% 99.98% 4.12%);
    --palGistNcar-83: rgb(7.49% 98.51% 0.03%);
    --palGistNcar-84: rgb(9.99% 97.03% 0%);
    --palGistNcar-85: rgb(12.49% 95.56% 0%);
    --palGistNcar-86: rgb(14.99% 94.08% 0%);
    --palGistNcar-87: rgb(17.48% 92.6% 0%);
    --palGistNcar-88: rgb(19.98% 91.13% 0%);
    --palGistNcar-89: rgb(22.48% 89.65% 0%);
    --palGistNcar-90: rgb(24.98% 88.18% 0%);
    --palGistNcar-91: rgb(27.47% 86.7% 0%);
    --palGistNcar-92: rgb(29.97% 85.23% 0%);
    --palGistNcar-93: rgb(32.47% 83.75% 0%);
    --palGistNcar-94: rgb(34.97% 82.28% 0%);
    --palGistNcar-95: rgb(37.46% 80.82% 0%);
    --palGistNcar-96: rgb(39.94% 82.1% 0%);
    --palGistNcar-97: rgb(40.72% 83.37% 0%);
    --palGistNcar-98: rgb(41.49% 84.65% 0%);
    --palGistNcar-99: rgb(42.27% 85.93% 0%);
    --palGistNcar-100: rgb(43.05% 87.21% 0%);
    --palGistNcar-101: rgb(43.82% 88.48% 0%);
    --palGistNcar-102: rgb(44.6% 89.76% 0%);
    --palGistNcar-103: rgb(45.38% 91.04% 0%);
    --palGistNcar-104: rgb(46.15% 92.32% 0%);
    --palGistNcar-105: rgb(46.93% 93.6% 0%);
    --palGistNcar-106: rgb(47.71% 94.87% 0%);
    --palGistNcar-107: rgb(48.48% 96.15% 0%);
    --palGistNcar-108: rgb(49.26% 97.43% 1.56%);
    --palGistNcar-109: rgb(50.04% 98.71% 3.12%);
    --palGistNcar-110: rgb(51.83% 99.98% 4.68%);
    --palGistNcar-111: rgb(53.61% 100% 6.24%);
    --palGistNcar-112: rgb(55.4% 100% 7.8%);
    --palGistNcar-113: rgb(57.18% 100% 9.37%);
    --palGistNcar-114: rgb(58.97% 100% 10.93%);
    --palGistNcar-115: rgb(60.75% 100% 12.49%);
    --palGistNcar-116: rgb(62.54% 100% 14.05%);
    --palGistNcar-117: rgb(64.32% 100% 15.61%);
    --palGistNcar-118: rgb(66.11% 100% 17.18%);
    --palGistNcar-119: rgb(67.89% 100% 18.74%);
    --palGistNcar-120: rgb(69.68% 100% 20.3%);
    --palGistNcar-121: rgb(71.46% 100% 21.86%);
    --palGistNcar-122: rgb(73.24% 100% 23.42%);
    --palGistNcar-123: rgb(75.03% 100% 21.85%);
    --palGistNcar-124: rgb(76.81% 100% 20.29%);
    --palGistNcar-125: rgb(78.6% 100% 18.73%);
    --palGistNcar-126: rgb(80.38% 100% 17.17%);
    --palGistNcar-127: rgb(82.17% 100% 15.61%);
    --palGistNcar-128: rgb(83.95% 100% 14.04%);
    --palGistNcar-129: rgb(85.74% 100% 12.48%);
    --palGistNcar-130: rgb(87.52% 100% 10.92%);
    --palGistNcar-131: rgb(89.31% 100% 9.36%);
    --palGistNcar-132: rgb(91.09% 100% 7.8%);
    --palGistNcar-133: rgb(92.88% 100% 6.23%);
    --palGistNcar-134: rgb(94.66% 100% 4.67%);
    --palGistNcar-135: rgb(96.45% 99.04% 3.11%);
    --palGistNcar-136: rgb(98.23% 98.07% 1.55%);
    --palGistNcar-137: rgb(100% 97.11% 0%);
    --palGistNcar-138: rgb(100% 96.14% 0%);
    --palGistNcar-139: rgb(100% 95.17% 0%);
    --palGistNcar-140: rgb(100% 94.2% 0%);
    --palGistNcar-141: rgb(100% 93.24% 0%);
    --palGistNcar-142: rgb(100% 92.27% 0%);
    --palGistNcar-143: rgb(100% 91.3% 0%);
    --palGistNcar-144: rgb(100% 90.34% 0%);
    --palGistNcar-145: rgb(100% 89.37% 0%);
    --palGistNcar-146: rgb(100% 88.4% 0%);
    --palGistNcar-147: rgb(100% 87.43% 0%);
    --palGistNcar-148: rgb(100% 86.47% 0%);
    --palGistNcar-149: rgb(100% 85.5% 0%);
    --palGistNcar-150: rgb(100% 84.53% 0.42%);
    --palGistNcar-151: rgb(100% 83.57% 0.84%);
    --palGistNcar-152: rgb(100% 82.6% 1.27%);
    --palGistNcar-153: rgb(100% 81.63% 1.69%);
    --palGistNcar-154: rgb(100% 80.66% 2.11%);
    --palGistNcar-155: rgb(100% 79.7% 2.53%);
    --palGistNcar-156: rgb(100% 78.73% 2.95%);
    --palGistNcar-157: rgb(100% 77.76% 3.38%);
    --palGistNcar-158: rgb(100% 76.8% 3.8%);
    --palGistNcar-159: rgb(100% 75.83% 4.22%);
    --palGistNcar-160: rgb(100% 74.86% 4.64%);
    --palGistNcar-161: rgb(100% 73.89% 5.06%);
    --palGistNcar-162: rgb(100% 72.93% 5.49%);
    --palGistNcar-163: rgb(100% 69.73% 5.13%);
    --palGistNcar-164: rgb(100% 66.52% 4.76%);
    --palGistNcar-165: rgb(100% 63.31% 4.39%);
    --palGistNcar-166: rgb(100% 60.1% 4.03%);
    --palGistNcar-167: rgb(100% 56.88% 3.66%);
    --palGistNcar-168: rgb(100% 53.67% 3.3%);
    --palGistNcar-169: rgb(100% 50.46% 2.93%);
    --palGistNcar-170: rgb(100% 47.25% 2.56%);
    --palGistNcar-171: rgb(100% 44.04% 2.2%);
    --palGistNcar-172: rgb(100% 40.83% 1.83%);
    --palGistNcar-173: rgb(100% 37.62% 1.46%);
    --palGistNcar-174: rgb(100% 34.4% 1.1%);
    --palGistNcar-175: rgb(100% 31.19% 0.73%);
    --palGistNcar-176: rgb(100% 27.98% 0.37%);
    --palGistNcar-177: rgb(100% 26.11% 0%);
    --palGistNcar-178: rgb(100% 24.24% 0%);
    --palGistNcar-179: rgb(100% 22.38% 0%);
    --palGistNcar-180: rgb(100% 20.51% 0%);
    --palGistNcar-181: rgb(100% 18.65% 0%);
    --palGistNcar-182: rgb(100% 16.78% 0%);
    --palGistNcar-183: rgb(100% 14.92% 0%);
    --palGistNcar-184: rgb(100% 13.05% 0%);
    --palGistNcar-185: rgb(100% 11.19% 0%);
    --palGistNcar-186: rgb(100% 9.32% 0%);
    --palGistNcar-187: rgb(100% 7.46% 0%);
    --palGistNcar-188: rgb(100% 5.6% 0%);
    --palGistNcar-189: rgb(100% 3.73% 0%);
    --palGistNcar-190: rgb(100% 1.87% 6.88%);
    --palGistNcar-191: rgb(100% 0% 13.83%);
    --palGistNcar-192: rgb(100% 0% 20.79%);
    --palGistNcar-193: rgb(100% 0% 27.74%);
    --palGistNcar-194: rgb(100% 0% 34.7%);
    --palGistNcar-195: rgb(100% 0% 41.66%);
    --palGistNcar-196: rgb(100% 0% 48.61%);
    --palGistNcar-197: rgb(100% 0% 55.57%);
    --palGistNcar-198: rgb(100% 0% 62.52%);
    --palGistNcar-199: rgb(100% 0% 69.48%);
    --palGistNcar-200: rgb(100% 0% 76.44%);
    --palGistNcar-201: rgb(100% 0% 83.39%);
    --palGistNcar-202: rgb(100% 0% 90.35%);
    --palGistNcar-203: rgb(100% 0% 97.3%);
    --palGistNcar-204: rgb(97.33% 1.34% 98.68%);
    --palGistNcar-205: rgb(94.63% 2.69% 100%);
    --palGistNcar-206: rgb(91.93% 4.04% 100%);
    --palGistNcar-207: rgb(89.22% 5.39% 100%);
    --palGistNcar-208: rgb(86.52% 6.74% 100%);
    --palGistNcar-209: rgb(83.82% 8.09% 100%);
    --palGistNcar-210: rgb(81.12% 9.44% 100%);
    --palGistNcar-211: rgb(78.42% 10.79% 100%);
    --palGistNcar-212: rgb(75.72% 12.14% 100%);
    --palGistNcar-213: rgb(73.01% 13.49% 100%);
    --palGistNcar-214: rgb(70.31% 14.84% 100%);
    --palGistNcar-215: rgb(67.61% 16.19% 100%);
    --palGistNcar-216: rgb(64.91% 17.55% 100%);
    --palGistNcar-217: rgb(62.21% 19.87% 99.52%);
    --palGistNcar-218: rgb(64.48% 22.19% 99.05%);
    --palGistNcar-219: rgb(66.8% 24.51% 98.58%);
    --palGistNcar-220: rgb(69.13% 26.83% 98.11%);
    --palGistNcar-221: rgb(71.45% 29.15% 97.64%);
    --palGistNcar-222: rgb(73.78% 31.47% 97.17%);
    --palGistNcar-223: rgb(76.1% 33.79% 96.7%);
    --palGistNcar-224: rgb(78.43% 36.11% 96.23%);
    --palGistNcar-225: rgb(80.75% 38.43% 95.76%);
    --palGistNcar-226: rgb(83.08% 40.75% 95.29%);
    --palGistNcar-227: rgb(85.4% 43.07% 94.82%);
    --palGistNcar-228: rgb(87.72% 45.38% 94.35%);
    --palGistNcar-229: rgb(90.05% 47.7% 93.88%);
    --palGistNcar-230: rgb(92.35% 50.02% 93.41%);
    --palGistNcar-231: rgb(92.63% 51.83% 93.65%);
    --palGistNcar-232: rgb(92.91% 53.65% 93.89%);
    --palGistNcar-233: rgb(93.19% 55.47% 94.13%);
    --palGistNcar-234: rgb(93.47% 57.28% 94.37%);
    --palGistNcar-235: rgb(93.75% 59.1% 94.6%);
    --palGistNcar-236: rgb(94.03% 60.92% 94.84%);
    --palGistNcar-237: rgb(94.31% 62.73% 95.08%);
    --palGistNcar-238: rgb(94.59% 64.55% 95.32%);
    --palGistNcar-239: rgb(94.86% 66.37% 95.56%);
    --palGistNcar-240: rgb(95.14% 68.18% 95.8%);
    --palGistNcar-241: rgb(95.42% 70% 96.03%);
    --palGistNcar-242: rgb(95.7% 71.82% 96.27%);
    --palGistNcar-243: rgb(95.98% 73.63% 96.51%);
    --palGistNcar-244: rgb(96.26% 75.45% 96.75%);
    --palGistNcar-245: rgb(96.54% 77.27% 96.99%);
    --palGistNcar-246: rgb(96.82% 79.08% 97.23%);
    --palGistNcar-247: rgb(97.1% 80.9% 97.46%);
    --palGistNcar-248: rgb(97.38% 82.72% 97.7%);
    --palGistNcar-249: rgb(97.66% 84.53% 97.94%);
    --palGistNcar-250: rgb(97.94% 86.35% 98.18%);
    --palGistNcar-251: rgb(98.21% 88.17% 98.42%);
    --palGistNcar-252: rgb(98.49% 89.98% 98.66%);
    --palGistNcar-253: rgb(98.77% 91.8% 98.89%);
    --palGistNcar-254: rgb(99.05% 93.62% 99.13%);
    --palGistNcar-255: rgb(99.33% 95.43% 99.37%);
    --palGistNcar-256: rgb(99.61% 97.25% 99.61%);
}
