/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGistStern-1: rgb(0% 0% 0%);
    --palGistStern-2: rgb(7.1692% 0.3922% 0.7843%);
    --palGistStern-3: rgb(14.3385% 0.7843% 1.5686%);
    --palGistStern-4: rgb(21.5077% 1.1765% 2.3529%);
    --palGistStern-5: rgb(28.6769% 1.5686% 3.1373%);
    --palGistStern-6: rgb(35.8461% 1.9608% 3.9216%);
    --palGistStern-7: rgb(43.0154% 2.3529% 4.7059%);
    --palGistStern-8: rgb(50.1846% 2.7451% 5.4902%);
    --palGistStern-9: rgb(57.3538% 3.1373% 6.2745%);
    --palGistStern-10: rgb(64.5231% 3.5294% 7.0588%);
    --palGistStern-11: rgb(71.6923% 3.9216% 7.8431%);
    --palGistStern-12: rgb(78.8615% 4.3137% 8.6275%);
    --palGistStern-13: rgb(86.0308% 4.7059% 9.4118%);
    --palGistStern-14: rgb(93.2% 5.098% 10.1961%);
    --palGistStern-15: rgb(99.8994% 5.4902% 10.9804%);
    --palGistStern-16: rgb(97.9456% 5.8824% 11.7647%);
    --palGistStern-17: rgb(95.9919% 6.2745% 12.549%);
    --palGistStern-18: rgb(94.0381% 6.6667% 13.3333%);
    --palGistStern-19: rgb(92.0844% 7.0588% 14.1176%);
    --palGistStern-20: rgb(90.1306% 7.451% 14.902%);
    --palGistStern-21: rgb(88.1768% 7.8431% 15.6863%);
    --palGistStern-22: rgb(86.2231% 8.2353% 16.4706%);
    --palGistStern-23: rgb(84.2693% 8.6275% 17.2549%);
    --palGistStern-24: rgb(82.3156% 9.0196% 18.0392%);
    --palGistStern-25: rgb(80.3618% 9.4118% 18.8235%);
    --palGistStern-26: rgb(78.4081% 9.8039% 19.6078%);
    --palGistStern-27: rgb(76.4543% 10.1961% 20.3922%);
    --palGistStern-28: rgb(74.5005% 10.5882% 21.1765%);
    --palGistStern-29: rgb(72.5468% 10.9804% 21.9608%);
    --palGistStern-30: rgb(70.593% 11.3725% 22.7451%);
    --palGistStern-31: rgb(68.6393% 11.7647% 23.5294%);
    --palGistStern-32: rgb(66.6855% 12.1569% 24.3137%);
    --palGistStern-33: rgb(64.7318% 12.549% 25.098%);
    --palGistStern-34: rgb(62.778% 12.9412% 25.8824%);
    --palGistStern-35: rgb(60.8243% 13.3333% 26.6667%);
    --palGistStern-36: rgb(58.8705% 13.7255% 27.451%);
    --palGistStern-37: rgb(56.9167% 14.1176% 28.2353%);
    --palGistStern-38: rgb(54.963% 14.5098% 29.0196%);
    --palGistStern-39: rgb(53.0092% 14.902% 29.8039%);
    --palGistStern-40: rgb(51.0555% 15.2941% 30.5882%);
    --palGistStern-41: rgb(49.1017% 15.6863% 31.3725%);
    --palGistStern-42: rgb(47.148% 16.0784% 32.1569%);
    --palGistStern-43: rgb(45.1942% 16.4706% 32.9412%);
    --palGistStern-44: rgb(43.2404% 16.8627% 33.7255%);
    --palGistStern-45: rgb(41.2867% 17.2549% 34.5098%);
    --palGistStern-46: rgb(39.3329% 17.6471% 35.2941%);
    --palGistStern-47: rgb(37.3792% 18.0392% 36.0784%);
    --palGistStern-48: rgb(35.4254% 18.4314% 36.8627%);
    --palGistStern-49: rgb(33.4717% 18.8235% 37.6471%);
    --palGistStern-50: rgb(31.5179% 19.2157% 38.4314%);
    --palGistStern-51: rgb(29.5642% 19.6078% 39.2157%);
    --palGistStern-52: rgb(27.6104% 20% 40%);
    --palGistStern-53: rgb(25.6566% 20.3922% 40.7843%);
    --palGistStern-54: rgb(23.7029% 20.7843% 41.5686%);
    --palGistStern-55: rgb(21.7491% 21.1765% 42.3529%);
    --palGistStern-56: rgb(19.7954% 21.5686% 43.1373%);
    --palGistStern-57: rgb(17.8416% 21.9608% 43.9216%);
    --palGistStern-58: rgb(15.8879% 22.3529% 44.7059%);
    --palGistStern-59: rgb(13.9341% 22.7451% 45.4902%);
    --palGistStern-60: rgb(11.9803% 23.1373% 46.2745%);
    --palGistStern-61: rgb(10.0266% 23.5294% 47.0588%);
    --palGistStern-62: rgb(8.0728% 23.9216% 47.8431%);
    --palGistStern-63: rgb(6.1191% 24.3137% 48.6275%);
    --palGistStern-64: rgb(4.1653% 24.7059% 49.4118%);
    --palGistStern-65: rgb(25.098% 25.098% 50.1961%);
    --palGistStern-66: rgb(25.4902% 25.4902% 50.9804%);
    --palGistStern-67: rgb(25.8824% 25.8824% 51.7647%);
    --palGistStern-68: rgb(26.2745% 26.2745% 52.549%);
    --palGistStern-69: rgb(26.6667% 26.6667% 53.3333%);
    --palGistStern-70: rgb(27.0588% 27.0588% 54.1176%);
    --palGistStern-71: rgb(27.451% 27.451% 54.902%);
    --palGistStern-72: rgb(27.8431% 27.8431% 55.6863%);
    --palGistStern-73: rgb(28.2353% 28.2353% 56.4706%);
    --palGistStern-74: rgb(28.6275% 28.6275% 57.2549%);
    --palGistStern-75: rgb(29.0196% 29.0196% 58.0392%);
    --palGistStern-76: rgb(29.4118% 29.4118% 58.8235%);
    --palGistStern-77: rgb(29.8039% 29.8039% 59.6078%);
    --palGistStern-78: rgb(30.1961% 30.1961% 60.3922%);
    --palGistStern-79: rgb(30.5882% 30.5882% 61.1765%);
    --palGistStern-80: rgb(30.9804% 30.9804% 61.9608%);
    --palGistStern-81: rgb(31.3725% 31.3725% 62.7451%);
    --palGistStern-82: rgb(31.7647% 31.7647% 63.5294%);
    --palGistStern-83: rgb(32.1569% 32.1569% 64.3137%);
    --palGistStern-84: rgb(32.549% 32.549% 65.098%);
    --palGistStern-85: rgb(32.9412% 32.9412% 65.8824%);
    --palGistStern-86: rgb(33.3333% 33.3333% 66.6667%);
    --palGistStern-87: rgb(33.7255% 33.7255% 67.451%);
    --palGistStern-88: rgb(34.1176% 34.1176% 68.2353%);
    --palGistStern-89: rgb(34.5098% 34.5098% 69.0196%);
    --palGistStern-90: rgb(34.902% 34.902% 69.8039%);
    --palGistStern-91: rgb(35.2941% 35.2941% 70.5882%);
    --palGistStern-92: rgb(35.6863% 35.6863% 71.3725%);
    --palGistStern-93: rgb(36.0784% 36.0784% 72.1569%);
    --palGistStern-94: rgb(36.4706% 36.4706% 72.9412%);
    --palGistStern-95: rgb(36.8627% 36.8627% 73.7255%);
    --palGistStern-96: rgb(37.2549% 37.2549% 74.5098%);
    --palGistStern-97: rgb(37.6471% 37.6471% 75.2941%);
    --palGistStern-98: rgb(38.0392% 38.0392% 76.0784%);
    --palGistStern-99: rgb(38.4314% 38.4314% 76.8627%);
    --palGistStern-100: rgb(38.8235% 38.8235% 77.6471%);
    --palGistStern-101: rgb(39.2157% 39.2157% 78.4314%);
    --palGistStern-102: rgb(39.6078% 39.6078% 79.2157%);
    --palGistStern-103: rgb(40% 40% 80%);
    --palGistStern-104: rgb(40.3922% 40.3922% 80.7843%);
    --palGistStern-105: rgb(40.7843% 40.7843% 81.5686%);
    --palGistStern-106: rgb(41.1765% 41.1765% 82.3529%);
    --palGistStern-107: rgb(41.5686% 41.5686% 83.1373%);
    --palGistStern-108: rgb(41.9608% 41.9608% 83.9216%);
    --palGistStern-109: rgb(42.3529% 42.3529% 84.7059%);
    --palGistStern-110: rgb(42.7451% 42.7451% 85.4902%);
    --palGistStern-111: rgb(43.1373% 43.1373% 86.2745%);
    --palGistStern-112: rgb(43.5294% 43.5294% 87.0588%);
    --palGistStern-113: rgb(43.9216% 43.9216% 87.8431%);
    --palGistStern-114: rgb(44.3137% 44.3137% 88.6275%);
    --palGistStern-115: rgb(44.7059% 44.7059% 89.4118%);
    --palGistStern-116: rgb(45.098% 45.098% 90.1961%);
    --palGistStern-117: rgb(45.4902% 45.4902% 90.9804%);
    --palGistStern-118: rgb(45.8824% 45.8824% 91.7647%);
    --palGistStern-119: rgb(46.2745% 46.2745% 92.549%);
    --palGistStern-120: rgb(46.6667% 46.6667% 93.3333%);
    --palGistStern-121: rgb(47.0588% 47.0588% 94.1176%);
    --palGistStern-122: rgb(47.451% 47.451% 94.902%);
    --palGistStern-123: rgb(47.8431% 47.8431% 95.6863%);
    --palGistStern-124: rgb(48.2353% 48.2353% 96.4706%);
    --palGistStern-125: rgb(48.6275% 48.6275% 97.2549%);
    --palGistStern-126: rgb(49.0196% 49.0196% 98.0392%);
    --palGistStern-127: rgb(49.4118% 49.4118% 98.8235%);
    --palGistStern-128: rgb(49.8039% 49.8039% 99.6078%);
    --palGistStern-129: rgb(50.1961% 50.1961% 99.1656%);
    --palGistStern-130: rgb(50.5882% 50.5882% 97.4969%);
    --palGistStern-131: rgb(50.9804% 50.9804% 95.8281%);
    --palGistStern-132: rgb(51.3725% 51.3725% 94.1594%);
    --palGistStern-133: rgb(51.7647% 51.7647% 92.4906%);
    --palGistStern-134: rgb(52.1569% 52.1569% 90.8219%);
    --palGistStern-135: rgb(52.549% 52.549% 89.1531%);
    --palGistStern-136: rgb(52.9412% 52.9412% 87.4844%);
    --palGistStern-137: rgb(53.3333% 53.3333% 85.8156%);
    --palGistStern-138: rgb(53.7255% 53.7255% 84.1469%);
    --palGistStern-139: rgb(54.1176% 54.1176% 82.4781%);
    --palGistStern-140: rgb(54.5098% 54.5098% 80.8093%);
    --palGistStern-141: rgb(54.902% 54.902% 79.1406%);
    --palGistStern-142: rgb(55.2941% 55.2941% 77.4718%);
    --palGistStern-143: rgb(55.6863% 55.6863% 75.8031%);
    --palGistStern-144: rgb(56.0784% 56.0784% 74.1343%);
    --palGistStern-145: rgb(56.4706% 56.4706% 72.4656%);
    --palGistStern-146: rgb(56.8627% 56.8627% 70.7968%);
    --palGistStern-147: rgb(57.2549% 57.2549% 69.1281%);
    --palGistStern-148: rgb(57.6471% 57.6471% 67.4593%);
    --palGistStern-149: rgb(58.0392% 58.0392% 65.7906%);
    --palGistStern-150: rgb(58.4314% 58.4314% 64.1218%);
    --palGistStern-151: rgb(58.8235% 58.8235% 62.4531%);
    --palGistStern-152: rgb(59.2157% 59.2157% 60.7843%);
    --palGistStern-153: rgb(59.6078% 59.6078% 59.1156%);
    --palGistStern-154: rgb(60% 60% 57.4468%);
    --palGistStern-155: rgb(60.3922% 60.3922% 55.7781%);
    --palGistStern-156: rgb(60.7843% 60.7843% 54.1093%);
    --palGistStern-157: rgb(61.1765% 61.1765% 52.4406%);
    --palGistStern-158: rgb(61.5686% 61.5686% 50.7718%);
    --palGistStern-159: rgb(61.9608% 61.9608% 49.103%);
    --palGistStern-160: rgb(62.3529% 62.3529% 47.4343%);
    --palGistStern-161: rgb(62.7451% 62.7451% 45.7655%);
    --palGistStern-162: rgb(63.1373% 63.1373% 44.0968%);
    --palGistStern-163: rgb(63.5294% 63.5294% 42.428%);
    --palGistStern-164: rgb(63.9216% 63.9216% 40.7593%);
    --palGistStern-165: rgb(64.3137% 64.3137% 39.0905%);
    --palGistStern-166: rgb(64.7059% 64.7059% 37.4218%);
    --palGistStern-167: rgb(65.098% 65.098% 35.753%);
    --palGistStern-168: rgb(65.4902% 65.4902% 34.0843%);
    --palGistStern-169: rgb(65.8824% 65.8824% 32.4155%);
    --palGistStern-170: rgb(66.2745% 66.2745% 30.7468%);
    --palGistStern-171: rgb(66.6667% 66.6667% 29.078%);
    --palGistStern-172: rgb(67.0588% 67.0588% 27.4093%);
    --palGistStern-173: rgb(67.451% 67.451% 25.7405%);
    --palGistStern-174: rgb(67.8431% 67.8431% 24.0718%);
    --palGistStern-175: rgb(68.2353% 68.2353% 22.403%);
    --palGistStern-176: rgb(68.6275% 68.6275% 20.7343%);
    --palGistStern-177: rgb(69.0196% 69.0196% 19.0655%);
    --palGistStern-178: rgb(69.4118% 69.4118% 17.3967%);
    --palGistStern-179: rgb(69.8039% 69.8039% 15.728%);
    --palGistStern-180: rgb(70.1961% 70.1961% 14.0592%);
    --palGistStern-181: rgb(70.5882% 70.5882% 12.3905%);
    --palGistStern-182: rgb(70.9804% 70.9804% 10.7217%);
    --palGistStern-183: rgb(71.3725% 71.3725% 9.053%);
    --palGistStern-184: rgb(71.7647% 71.7647% 7.3842%);
    --palGistStern-185: rgb(72.1569% 72.1569% 5.7155%);
    --palGistStern-186: rgb(72.549% 72.549% 4.0467%);
    --palGistStern-187: rgb(72.9412% 72.9412% 2.378%);
    --palGistStern-188: rgb(73.3333% 73.3333% 0.7092%);
    --palGistStern-189: rgb(73.7255% 73.7255% 0.8509%);
    --palGistStern-190: rgb(74.1176% 74.1176% 2.3307%);
    --palGistStern-191: rgb(74.5098% 74.5098% 3.8106%);
    --palGistStern-192: rgb(74.902% 74.902% 5.2904%);
    --palGistStern-193: rgb(75.2941% 75.2941% 6.7703%);
    --palGistStern-194: rgb(75.6863% 75.6863% 8.2501%);
    --palGistStern-195: rgb(76.0784% 76.0784% 9.7299%);
    --palGistStern-196: rgb(76.4706% 76.4706% 11.2098%);
    --palGistStern-197: rgb(76.8627% 76.8627% 12.6896%);
    --palGistStern-198: rgb(77.2549% 77.2549% 14.1694%);
    --palGistStern-199: rgb(77.6471% 77.6471% 15.6493%);
    --palGistStern-200: rgb(78.0392% 78.0392% 17.1291%);
    --palGistStern-201: rgb(78.4314% 78.4314% 18.609%);
    --palGistStern-202: rgb(78.8235% 78.8235% 20.0888%);
    --palGistStern-203: rgb(79.2157% 79.2157% 21.5686%);
    --palGistStern-204: rgb(79.6078% 79.6078% 23.0485%);
    --palGistStern-205: rgb(80% 80% 24.5283%);
    --palGistStern-206: rgb(80.3922% 80.3922% 26.0081%);
    --palGistStern-207: rgb(80.7843% 80.7843% 27.488%);
    --palGistStern-208: rgb(81.1765% 81.1765% 28.9678%);
    --palGistStern-209: rgb(81.5686% 81.5686% 30.4477%);
    --palGistStern-210: rgb(81.9608% 81.9608% 31.9275%);
    --palGistStern-211: rgb(82.3529% 82.3529% 33.4073%);
    --palGistStern-212: rgb(82.7451% 82.7451% 34.8872%);
    --palGistStern-213: rgb(83.1373% 83.1373% 36.367%);
    --palGistStern-214: rgb(83.5294% 83.5294% 37.8468%);
    --palGistStern-215: rgb(83.9216% 83.9216% 39.3267%);
    --palGistStern-216: rgb(84.3137% 84.3137% 40.8065%);
    --palGistStern-217: rgb(84.7059% 84.7059% 42.2863%);
    --palGistStern-218: rgb(85.098% 85.098% 43.7662%);
    --palGistStern-219: rgb(85.4902% 85.4902% 45.246%);
    --palGistStern-220: rgb(85.8824% 85.8824% 46.7259%);
    --palGistStern-221: rgb(86.2745% 86.2745% 48.2057%);
    --palGistStern-222: rgb(86.6667% 86.6667% 49.6855%);
    --palGistStern-223: rgb(87.0588% 87.0588% 51.1654%);
    --palGistStern-224: rgb(87.451% 87.451% 52.6452%);
    --palGistStern-225: rgb(87.8431% 87.8431% 54.125%);
    --palGistStern-226: rgb(88.2353% 88.2353% 55.6049%);
    --palGistStern-227: rgb(88.6275% 88.6275% 57.0847%);
    --palGistStern-228: rgb(89.0196% 89.0196% 58.5646%);
    --palGistStern-229: rgb(89.4118% 89.4118% 60.0444%);
    --palGistStern-230: rgb(89.8039% 89.8039% 61.5242%);
    --palGistStern-231: rgb(90.1961% 90.1961% 63.0041%);
    --palGistStern-232: rgb(90.5882% 90.5882% 64.4839%);
    --palGistStern-233: rgb(90.9804% 90.9804% 65.9637%);
    --palGistStern-234: rgb(91.3725% 91.3725% 67.4436%);
    --palGistStern-235: rgb(91.7647% 91.7647% 68.9234%);
    --palGistStern-236: rgb(92.1569% 92.1569% 70.4033%);
    --palGistStern-237: rgb(92.549% 92.549% 71.8831%);
    --palGistStern-238: rgb(92.9412% 92.9412% 73.3629%);
    --palGistStern-239: rgb(93.3333% 93.3333% 74.8428%);
    --palGistStern-240: rgb(93.7255% 93.7255% 76.3226%);
    --palGistStern-241: rgb(94.1176% 94.1176% 77.8024%);
    --palGistStern-242: rgb(94.5098% 94.5098% 79.2823%);
    --palGistStern-243: rgb(94.902% 94.902% 80.7621%);
    --palGistStern-244: rgb(95.2941% 95.2941% 82.242%);
    --palGistStern-245: rgb(95.6863% 95.6863% 83.7218%);
    --palGistStern-246: rgb(96.0784% 96.0784% 85.2016%);
    --palGistStern-247: rgb(96.4706% 96.4706% 86.6815%);
    --palGistStern-248: rgb(96.8627% 96.8627% 88.1613%);
    --palGistStern-249: rgb(97.2549% 97.2549% 89.6411%);
    --palGistStern-250: rgb(97.6471% 97.6471% 91.121%);
    --palGistStern-251: rgb(98.0392% 98.0392% 92.6008%);
    --palGistStern-252: rgb(98.4314% 98.4314% 94.0807%);
    --palGistStern-253: rgb(98.8235% 98.8235% 95.5605%);
    --palGistStern-254: rgb(99.2157% 99.2157% 97.0403%);
    --palGistStern-255: rgb(99.6078% 99.6078% 98.5202%);
    --palGistStern-256: rgb(100% 100% 100%);
}
