/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGistEarth-1: rgb(0% 0% 0%);
    --palGistEarth-2: rgb(0.26% 0% 16.87%);
    --palGistEarth-3: rgb(0.52% 0% 22.17%);
    --palGistEarth-4: rgb(0.78% 0% 26.38%);
    --palGistEarth-5: rgb(1.05% 0% 30.59%);
    --palGistEarth-6: rgb(1.31% 0% 34.81%);
    --palGistEarth-7: rgb(1.57% 0% 39.02%);
    --palGistEarth-8: rgb(1.83% 0% 43.24%);
    --palGistEarth-9: rgb(2.09% 0.89% 45.47%);
    --palGistEarth-10: rgb(2.35% 1.79% 45.56%);
    --palGistEarth-11: rgb(2.61% 2.69% 45.63%);
    --palGistEarth-12: rgb(2.87% 3.6% 45.7%);
    --palGistEarth-13: rgb(3.14% 4.5% 45.77%);
    --palGistEarth-14: rgb(3.4% 5.4% 45.84%);
    --palGistEarth-15: rgb(3.66% 6.3% 45.92%);
    --palGistEarth-16: rgb(3.92% 7.2% 45.99%);
    --palGistEarth-17: rgb(4.18% 8.11% 46.06%);
    --palGistEarth-18: rgb(4.44% 9.01% 46.13%);
    --palGistEarth-19: rgb(4.7% 9.91% 46.2%);
    --palGistEarth-20: rgb(4.97% 10.81% 46.27%);
    --palGistEarth-21: rgb(5.23% 11.71% 46.34%);
    --palGistEarth-22: rgb(5.49% 12.62% 46.41%);
    --palGistEarth-23: rgb(5.75% 13.52% 46.48%);
    --palGistEarth-24: rgb(6.01% 14.42% 46.56%);
    --palGistEarth-25: rgb(6.27% 15.32% 46.63%);
    --palGistEarth-26: rgb(6.53% 16.22% 46.7%);
    --palGistEarth-27: rgb(6.79% 17.13% 46.77%);
    --palGistEarth-28: rgb(7.06% 18.03% 46.84%);
    --palGistEarth-29: rgb(7.32% 18.93% 46.91%);
    --palGistEarth-30: rgb(7.58% 19.75% 46.98%);
    --palGistEarth-31: rgb(7.84% 20.56% 47.05%);
    --palGistEarth-32: rgb(8.1% 21.38% 47.12%);
    --palGistEarth-33: rgb(8.36% 22.19% 47.2%);
    --palGistEarth-34: rgb(8.62% 23.01% 47.27%);
    --palGistEarth-35: rgb(8.89% 23.83% 47.34%);
    --palGistEarth-36: rgb(9.15% 24.64% 47.41%);
    --palGistEarth-37: rgb(9.41% 25.46% 47.48%);
    --palGistEarth-38: rgb(9.67% 26.27% 47.55%);
    --palGistEarth-39: rgb(9.93% 27.09% 47.62%);
    --palGistEarth-40: rgb(10.19% 27.9% 47.69%);
    --palGistEarth-41: rgb(10.45% 28.72% 47.76%);
    --palGistEarth-42: rgb(10.72% 29.54% 47.84%);
    --palGistEarth-43: rgb(10.98% 30.35% 47.91%);
    --palGistEarth-44: rgb(11.24% 31.08% 47.98%);
    --palGistEarth-45: rgb(11.5% 31.82% 48.05%);
    --palGistEarth-46: rgb(11.76% 32.55% 48.12%);
    --palGistEarth-47: rgb(12.02% 33.28% 48.19%);
    --palGistEarth-48: rgb(12.28% 34.02% 48.26%);
    --palGistEarth-49: rgb(12.54% 34.75% 48.33%);
    --palGistEarth-50: rgb(12.81% 35.48% 48.4%);
    --palGistEarth-51: rgb(13.07% 36.22% 48.48%);
    --palGistEarth-52: rgb(13.33% 36.95% 48.55%);
    --palGistEarth-53: rgb(13.59% 37.68% 48.62%);
    --palGistEarth-54: rgb(13.85% 38.42% 48.69%);
    --palGistEarth-55: rgb(14.11% 39.04% 48.76%);
    --palGistEarth-56: rgb(14.37% 39.66% 48.83%);
    --palGistEarth-57: rgb(14.64% 40.28% 48.9%);
    --palGistEarth-58: rgb(14.9% 40.9% 48.97%);
    --palGistEarth-59: rgb(15.16% 41.52% 49.04%);
    --palGistEarth-60: rgb(15.42% 42.14% 49.12%);
    --palGistEarth-61: rgb(15.68% 42.76% 49.19%);
    --palGistEarth-62: rgb(15.94% 43.38% 49.26%);
    --palGistEarth-63: rgb(16.2% 43.99% 49.33%);
    --palGistEarth-64: rgb(16.46% 44.61% 49.4%);
    --palGistEarth-65: rgb(16.73% 45.23% 49.47%);
    --palGistEarth-66: rgb(16.99% 45.85% 49.54%);
    --palGistEarth-67: rgb(17.25% 46.47% 49.61%);
    --palGistEarth-68: rgb(17.51% 47.09% 49.68%);
    --palGistEarth-69: rgb(17.77% 47.71% 49.75%);
    --palGistEarth-70: rgb(18.03% 48.33% 49.83%);
    --palGistEarth-71: rgb(18.29% 48.95% 49.9%);
    --palGistEarth-72: rgb(18.56% 49.57% 49.97%);
    --palGistEarth-73: rgb(18.82% 50.19% 50.04%);
    --palGistEarth-74: rgb(19% 50.42% 49.57%);
    --palGistEarth-75: rgb(19.19% 50.65% 49.09%);
    --palGistEarth-76: rgb(19.37% 50.87% 48.61%);
    --palGistEarth-77: rgb(19.56% 51.1% 48.13%);
    --palGistEarth-78: rgb(19.74% 51.33% 47.65%);
    --palGistEarth-79: rgb(19.93% 51.55% 47.17%);
    --palGistEarth-80: rgb(20.11% 51.78% 46.69%);
    --palGistEarth-81: rgb(20.3% 52% 46.21%);
    --palGistEarth-82: rgb(20.48% 52.23% 45.73%);
    --palGistEarth-83: rgb(20.67% 52.45% 45.25%);
    --palGistEarth-84: rgb(20.85% 52.68% 44.77%);
    --palGistEarth-85: rgb(21.04% 52.91% 44.29%);
    --palGistEarth-86: rgb(21.22% 53.13% 43.81%);
    --palGistEarth-87: rgb(21.41% 53.36% 43.33%);
    --palGistEarth-88: rgb(21.59% 53.58% 42.85%);
    --palGistEarth-89: rgb(21.78% 53.81% 42.37%);
    --palGistEarth-90: rgb(21.96% 54.04% 41.89%);
    --palGistEarth-91: rgb(22.15% 54.26% 41.41%);
    --palGistEarth-92: rgb(22.33% 54.49% 40.93%);
    --palGistEarth-93: rgb(22.52% 54.71% 40.45%);
    --palGistEarth-94: rgb(22.7% 54.94% 39.97%);
    --palGistEarth-95: rgb(22.89% 55.16% 39.48%);
    --palGistEarth-96: rgb(23.07% 55.39% 39%);
    --palGistEarth-97: rgb(23.26% 55.62% 38.52%);
    --palGistEarth-98: rgb(23.44% 55.84% 38.04%);
    --palGistEarth-99: rgb(23.63% 56.07% 37.56%);
    --palGistEarth-100: rgb(23.81% 56.29% 37.08%);
    --palGistEarth-101: rgb(24% 56.52% 36.6%);
    --palGistEarth-102: rgb(24.18% 56.74% 36.12%);
    --palGistEarth-103: rgb(24.37% 56.97% 35.64%);
    --palGistEarth-104: rgb(24.55% 57.2% 35.16%);
    --palGistEarth-105: rgb(24.74% 57.42% 34.68%);
    --palGistEarth-106: rgb(24.92% 57.65% 34.2%);
    --palGistEarth-107: rgb(25.11% 57.87% 33.72%);
    --palGistEarth-108: rgb(25.29% 58.1% 33.24%);
    --palGistEarth-109: rgb(25.48% 58.32% 32.76%);
    --palGistEarth-110: rgb(25.66% 58.55% 32.28%);
    --palGistEarth-111: rgb(25.85% 58.78% 31.8%);
    --palGistEarth-112: rgb(26.03% 59% 31.32%);
    --palGistEarth-113: rgb(26.22% 59.23% 30.84%);
    --palGistEarth-114: rgb(26.4% 59.45% 30.36%);
    --palGistEarth-115: rgb(26.59% 59.68% 29.88%);
    --palGistEarth-116: rgb(26.77% 59.9% 29.4%);
    --palGistEarth-117: rgb(26.96% 60.13% 28.92%);
    --palGistEarth-118: rgb(27.15% 60.36% 28.44%);
    --palGistEarth-119: rgb(28.02% 60.58% 27.96%);
    --palGistEarth-120: rgb(28.89% 60.81% 27.48%);
    --palGistEarth-121: rgb(29.76% 61.03% 27.71%);
    --palGistEarth-122: rgb(30.63% 61.26% 27.94%);
    --palGistEarth-123: rgb(31.5% 61.48% 28.16%);
    --palGistEarth-124: rgb(32.38% 61.71% 28.39%);
    --palGistEarth-125: rgb(33.25% 61.94% 28.62%);
    --palGistEarth-126: rgb(34.12% 62.16% 28.85%);
    --palGistEarth-127: rgb(34.99% 62.39% 29.08%);
    --palGistEarth-128: rgb(35.86% 62.61% 29.31%);
    --palGistEarth-129: rgb(36.73% 62.84% 29.54%);
    --palGistEarth-130: rgb(37.61% 63.07% 29.76%);
    --palGistEarth-131: rgb(38.48% 63.29% 29.99%);
    --palGistEarth-132: rgb(39.35% 63.52% 30.22%);
    --palGistEarth-133: rgb(40.22% 63.74% 30.45%);
    --palGistEarth-134: rgb(41.09% 63.97% 30.68%);
    --palGistEarth-135: rgb(41.96% 64.14% 30.91%);
    --palGistEarth-136: rgb(42.84% 64.31% 31.14%);
    --palGistEarth-137: rgb(43.71% 64.48% 31.36%);
    --palGistEarth-138: rgb(44.58% 64.66% 31.59%);
    --palGistEarth-139: rgb(45.45% 64.83% 31.82%);
    --palGistEarth-140: rgb(46.32% 65% 32.05%);
    --palGistEarth-141: rgb(47.19% 65.17% 32.17%);
    --palGistEarth-142: rgb(47.84% 65.35% 32.3%);
    --palGistEarth-143: rgb(48.49% 65.52% 32.42%);
    --palGistEarth-144: rgb(49.13% 65.69% 32.55%);
    --palGistEarth-145: rgb(49.78% 65.86% 32.67%);
    --palGistEarth-146: rgb(50.43% 66.03% 32.79%);
    --palGistEarth-147: rgb(51.07% 66.21% 32.92%);
    --palGistEarth-148: rgb(51.72% 66.38% 33.04%);
    --palGistEarth-149: rgb(52.37% 66.55% 33.17%);
    --palGistEarth-150: rgb(53.01% 66.72% 33.29%);
    --palGistEarth-151: rgb(53.66% 66.89% 33.41%);
    --palGistEarth-152: rgb(54.31% 67.07% 33.54%);
    --palGistEarth-153: rgb(54.95% 67.24% 33.66%);
    --palGistEarth-154: rgb(55.6% 67.41% 33.79%);
    --palGistEarth-155: rgb(56.25% 67.58% 33.91%);
    --palGistEarth-156: rgb(56.89% 67.75% 34.03%);
    --palGistEarth-157: rgb(57.54% 67.93% 34.16%);
    --palGistEarth-158: rgb(58.19% 68.1% 34.28%);
    --palGistEarth-159: rgb(58.83% 68.27% 34.4%);
    --palGistEarth-160: rgb(59.48% 68.44% 34.53%);
    --palGistEarth-161: rgb(60.13% 68.61% 34.65%);
    --palGistEarth-162: rgb(60.77% 68.79% 34.78%);
    --palGistEarth-163: rgb(61.42% 68.96% 34.9%);
    --palGistEarth-164: rgb(62.07% 69.13% 35.02%);
    --palGistEarth-165: rgb(62.71% 69.3% 35.15%);
    --palGistEarth-166: rgb(63.36% 69.47% 35.27%);
    --palGistEarth-167: rgb(64.01% 69.65% 35.4%);
    --palGistEarth-168: rgb(64.65% 69.82% 35.52%);
    --palGistEarth-169: rgb(65.3% 69.99% 35.64%);
    --palGistEarth-170: rgb(65.95% 70.16% 35.77%);
    --palGistEarth-171: rgb(66.59% 70.34% 35.89%);
    --palGistEarth-172: rgb(67.24% 70.51% 36.02%);
    --palGistEarth-173: rgb(67.89% 70.68% 36.14%);
    --palGistEarth-174: rgb(68.53% 70.85% 36.26%);
    --palGistEarth-175: rgb(69.18% 71.02% 36.39%);
    --palGistEarth-176: rgb(69.83% 71.2% 36.51%);
    --palGistEarth-177: rgb(70.47% 71.37% 36.64%);
    --palGistEarth-178: rgb(71.12% 71.54% 36.76%);
    --palGistEarth-179: rgb(71.76% 71.71% 36.88%);
    --palGistEarth-180: rgb(71.93% 71.37% 37.01%);
    --palGistEarth-181: rgb(72.09% 71.03% 37.13%);
    --palGistEarth-182: rgb(72.25% 70.69% 37.26%);
    --palGistEarth-183: rgb(72.42% 70.35% 37.38%);
    --palGistEarth-184: rgb(72.58% 70.01% 37.5%);
    --palGistEarth-185: rgb(72.75% 69.67% 37.63%);
    --palGistEarth-186: rgb(72.91% 69.34% 37.75%);
    --palGistEarth-187: rgb(73.07% 69% 37.88%);
    --palGistEarth-188: rgb(73.24% 68.66% 38%);
    --palGistEarth-189: rgb(73.4% 68.32% 38.12%);
    --palGistEarth-190: rgb(73.56% 67.98% 38.25%);
    --palGistEarth-191: rgb(73.73% 67.64% 38.37%);
    --palGistEarth-192: rgb(73.89% 67.3% 38.49%);
    --palGistEarth-193: rgb(74.06% 66.97% 38.62%);
    --palGistEarth-194: rgb(74.22% 66.63% 38.74%);
    --palGistEarth-195: rgb(74.38% 66.29% 38.87%);
    --palGistEarth-196: rgb(74.55% 65.95% 38.99%);
    --palGistEarth-197: rgb(74.71% 65.61% 39.11%);
    --palGistEarth-198: rgb(74.88% 65.27% 39.24%);
    --palGistEarth-199: rgb(75.04% 64.93% 39.36%);
    --palGistEarth-200: rgb(75.2% 64.59% 39.49%);
    --palGistEarth-201: rgb(75.37% 64.26% 39.61%);
    --palGistEarth-202: rgb(75.53% 63.92% 40.57%);
    --palGistEarth-203: rgb(75.97% 64.13% 41.53%);
    --palGistEarth-204: rgb(76.41% 64.3% 42.5%);
    --palGistEarth-205: rgb(76.85% 64.47% 43.46%);
    --palGistEarth-206: rgb(77.29% 64.64% 44.42%);
    --palGistEarth-207: rgb(77.73% 64.81% 45.38%);
    --palGistEarth-208: rgb(78.17% 65.15% 46.34%);
    --palGistEarth-209: rgb(78.6% 65.49% 47.3%);
    --palGistEarth-210: rgb(79.04% 65.83% 48.26%);
    --palGistEarth-211: rgb(79.48% 66.17% 49.22%);
    --palGistEarth-212: rgb(79.92% 66.51% 50.18%);
    --palGistEarth-213: rgb(80.36% 66.85% 51.14%);
    --palGistEarth-214: rgb(80.8% 67.19% 52.1%);
    --palGistEarth-215: rgb(81.24% 67.53% 53.06%);
    --palGistEarth-216: rgb(81.67% 67.87% 54.02%);
    --palGistEarth-217: rgb(82.11% 68.21% 54.99%);
    --palGistEarth-218: rgb(82.55% 68.55% 55.95%);
    --palGistEarth-219: rgb(82.99% 68.89% 56.91%);
    --palGistEarth-220: rgb(83.43% 69.23% 57.87%);
    --palGistEarth-221: rgb(83.87% 69.57% 58.83%);
    --palGistEarth-222: rgb(84.31% 69.91% 59.79%);
    --palGistEarth-223: rgb(84.75% 70.47% 60.75%);
    --palGistEarth-224: rgb(85.18% 71.03% 61.71%);
    --palGistEarth-225: rgb(85.62% 71.59% 62.67%);
    --palGistEarth-226: rgb(86.06% 72.15% 63.63%);
    --palGistEarth-227: rgb(86.5% 72.69% 64.59%);
    --palGistEarth-228: rgb(86.94% 73.23% 65.55%);
    --palGistEarth-229: rgb(87.38% 73.77% 66.52%);
    --palGistEarth-230: rgb(87.82% 74.31% 67.7%);
    --palGistEarth-231: rgb(88.25% 75.07% 68.88%);
    --palGistEarth-232: rgb(88.69% 75.84% 70.06%);
    --palGistEarth-233: rgb(89.13% 76.61% 71.24%);
    --palGistEarth-234: rgb(89.57% 77.38% 72.43%);
    --palGistEarth-235: rgb(90.01% 78.14% 73.61%);
    --palGistEarth-236: rgb(90.45% 78.91% 74.79%);
    --palGistEarth-237: rgb(90.89% 79.68% 75.97%);
    --palGistEarth-238: rgb(91.32% 80.44% 77.15%);
    --palGistEarth-239: rgb(91.76% 81.21% 78.34%);
    --palGistEarth-240: rgb(92.2% 81.98% 79.52%);
    --palGistEarth-241: rgb(92.64% 82.75% 80.7%);
    --palGistEarth-242: rgb(93.08% 83.64% 81.88%);
    --palGistEarth-243: rgb(93.52% 84.54% 83.06%);
    --palGistEarth-244: rgb(93.96% 85.44% 84.25%);
    --palGistEarth-245: rgb(94.4% 86.34% 85.43%);
    --palGistEarth-246: rgb(94.83% 87.25% 86.61%);
    --palGistEarth-247: rgb(95.27% 88.16% 87.79%);
    --palGistEarth-248: rgb(95.71% 89.31% 88.97%);
    --palGistEarth-249: rgb(96.15% 90.45% 90.16%);
    --palGistEarth-250: rgb(96.59% 91.6% 91.34%);
    --palGistEarth-251: rgb(97.03% 92.74% 92.52%);
    --palGistEarth-252: rgb(97.47% 93.89% 93.7%);
    --palGistEarth-253: rgb(97.9% 95.03% 94.88%);
    --palGistEarth-254: rgb(98.34% 96.18% 96.07%);
    --palGistEarth-255: rgb(98.78% 97.32% 97.25%);
    --palGistEarth-256: rgb(99.22% 98.43% 98.43%);
}
