/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGistGray-1: rgb(0% 0% 0%);
    --palGistGray-2: rgb(0.3922% 0.3922% 0.3922%);
    --palGistGray-3: rgb(0.7843% 0.7843% 0.7843%);
    --palGistGray-4: rgb(1.1765% 1.1765% 1.1765%);
    --palGistGray-5: rgb(1.5686% 1.5686% 1.5686%);
    --palGistGray-6: rgb(1.9608% 1.9608% 1.9608%);
    --palGistGray-7: rgb(2.3529% 2.3529% 2.3529%);
    --palGistGray-8: rgb(2.7451% 2.7451% 2.7451%);
    --palGistGray-9: rgb(3.1373% 3.1373% 3.1373%);
    --palGistGray-10: rgb(3.5294% 3.5294% 3.5294%);
    --palGistGray-11: rgb(3.9216% 3.9216% 3.9216%);
    --palGistGray-12: rgb(4.3137% 4.3137% 4.3137%);
    --palGistGray-13: rgb(4.7059% 4.7059% 4.7059%);
    --palGistGray-14: rgb(5.098% 5.098% 5.098%);
    --palGistGray-15: rgb(5.4902% 5.4902% 5.4902%);
    --palGistGray-16: rgb(5.8824% 5.8824% 5.8824%);
    --palGistGray-17: rgb(6.2745% 6.2745% 6.2745%);
    --palGistGray-18: rgb(6.6667% 6.6667% 6.6667%);
    --palGistGray-19: rgb(7.0588% 7.0588% 7.0588%);
    --palGistGray-20: rgb(7.451% 7.451% 7.451%);
    --palGistGray-21: rgb(7.8431% 7.8431% 7.8431%);
    --palGistGray-22: rgb(8.2353% 8.2353% 8.2353%);
    --palGistGray-23: rgb(8.6275% 8.6275% 8.6275%);
    --palGistGray-24: rgb(9.0196% 9.0196% 9.0196%);
    --palGistGray-25: rgb(9.4118% 9.4118% 9.4118%);
    --palGistGray-26: rgb(9.8039% 9.8039% 9.8039%);
    --palGistGray-27: rgb(10.1961% 10.1961% 10.1961%);
    --palGistGray-28: rgb(10.5882% 10.5882% 10.5882%);
    --palGistGray-29: rgb(10.9804% 10.9804% 10.9804%);
    --palGistGray-30: rgb(11.3725% 11.3725% 11.3725%);
    --palGistGray-31: rgb(11.7647% 11.7647% 11.7647%);
    --palGistGray-32: rgb(12.1569% 12.1569% 12.1569%);
    --palGistGray-33: rgb(12.549% 12.549% 12.549%);
    --palGistGray-34: rgb(12.9412% 12.9412% 12.9412%);
    --palGistGray-35: rgb(13.3333% 13.3333% 13.3333%);
    --palGistGray-36: rgb(13.7255% 13.7255% 13.7255%);
    --palGistGray-37: rgb(14.1176% 14.1176% 14.1176%);
    --palGistGray-38: rgb(14.5098% 14.5098% 14.5098%);
    --palGistGray-39: rgb(14.902% 14.902% 14.902%);
    --palGistGray-40: rgb(15.2941% 15.2941% 15.2941%);
    --palGistGray-41: rgb(15.6863% 15.6863% 15.6863%);
    --palGistGray-42: rgb(16.0784% 16.0784% 16.0784%);
    --palGistGray-43: rgb(16.4706% 16.4706% 16.4706%);
    --palGistGray-44: rgb(16.8627% 16.8627% 16.8627%);
    --palGistGray-45: rgb(17.2549% 17.2549% 17.2549%);
    --palGistGray-46: rgb(17.6471% 17.6471% 17.6471%);
    --palGistGray-47: rgb(18.0392% 18.0392% 18.0392%);
    --palGistGray-48: rgb(18.4314% 18.4314% 18.4314%);
    --palGistGray-49: rgb(18.8235% 18.8235% 18.8235%);
    --palGistGray-50: rgb(19.2157% 19.2157% 19.2157%);
    --palGistGray-51: rgb(19.6078% 19.6078% 19.6078%);
    --palGistGray-52: rgb(20% 20% 20%);
    --palGistGray-53: rgb(20.3922% 20.3922% 20.3922%);
    --palGistGray-54: rgb(20.7843% 20.7843% 20.7843%);
    --palGistGray-55: rgb(21.1765% 21.1765% 21.1765%);
    --palGistGray-56: rgb(21.5686% 21.5686% 21.5686%);
    --palGistGray-57: rgb(21.9608% 21.9608% 21.9608%);
    --palGistGray-58: rgb(22.3529% 22.3529% 22.3529%);
    --palGistGray-59: rgb(22.7451% 22.7451% 22.7451%);
    --palGistGray-60: rgb(23.1373% 23.1373% 23.1373%);
    --palGistGray-61: rgb(23.5294% 23.5294% 23.5294%);
    --palGistGray-62: rgb(23.9216% 23.9216% 23.9216%);
    --palGistGray-63: rgb(24.3137% 24.3137% 24.3137%);
    --palGistGray-64: rgb(24.7059% 24.7059% 24.7059%);
    --palGistGray-65: rgb(25.098% 25.098% 25.098%);
    --palGistGray-66: rgb(25.4902% 25.4902% 25.4902%);
    --palGistGray-67: rgb(25.8824% 25.8824% 25.8824%);
    --palGistGray-68: rgb(26.2745% 26.2745% 26.2745%);
    --palGistGray-69: rgb(26.6667% 26.6667% 26.6667%);
    --palGistGray-70: rgb(27.0588% 27.0588% 27.0588%);
    --palGistGray-71: rgb(27.451% 27.451% 27.451%);
    --palGistGray-72: rgb(27.8431% 27.8431% 27.8431%);
    --palGistGray-73: rgb(28.2353% 28.2353% 28.2353%);
    --palGistGray-74: rgb(28.6275% 28.6275% 28.6275%);
    --palGistGray-75: rgb(29.0196% 29.0196% 29.0196%);
    --palGistGray-76: rgb(29.4118% 29.4118% 29.4118%);
    --palGistGray-77: rgb(29.8039% 29.8039% 29.8039%);
    --palGistGray-78: rgb(30.1961% 30.1961% 30.1961%);
    --palGistGray-79: rgb(30.5882% 30.5882% 30.5882%);
    --palGistGray-80: rgb(30.9804% 30.9804% 30.9804%);
    --palGistGray-81: rgb(31.3725% 31.3725% 31.3725%);
    --palGistGray-82: rgb(31.7647% 31.7647% 31.7647%);
    --palGistGray-83: rgb(32.1569% 32.1569% 32.1569%);
    --palGistGray-84: rgb(32.549% 32.549% 32.549%);
    --palGistGray-85: rgb(32.9412% 32.9412% 32.9412%);
    --palGistGray-86: rgb(33.3333% 33.3333% 33.3333%);
    --palGistGray-87: rgb(33.7255% 33.7255% 33.7255%);
    --palGistGray-88: rgb(34.1176% 34.1176% 34.1176%);
    --palGistGray-89: rgb(34.5098% 34.5098% 34.5098%);
    --palGistGray-90: rgb(34.902% 34.902% 34.902%);
    --palGistGray-91: rgb(35.2941% 35.2941% 35.2941%);
    --palGistGray-92: rgb(35.6863% 35.6863% 35.6863%);
    --palGistGray-93: rgb(36.0784% 36.0784% 36.0784%);
    --palGistGray-94: rgb(36.4706% 36.4706% 36.4706%);
    --palGistGray-95: rgb(36.8627% 36.8627% 36.8627%);
    --palGistGray-96: rgb(37.2549% 37.2549% 37.2549%);
    --palGistGray-97: rgb(37.6471% 37.6471% 37.6471%);
    --palGistGray-98: rgb(38.0392% 38.0392% 38.0392%);
    --palGistGray-99: rgb(38.4314% 38.4314% 38.4314%);
    --palGistGray-100: rgb(38.8235% 38.8235% 38.8235%);
    --palGistGray-101: rgb(39.2157% 39.2157% 39.2157%);
    --palGistGray-102: rgb(39.6078% 39.6078% 39.6078%);
    --palGistGray-103: rgb(40% 40% 40%);
    --palGistGray-104: rgb(40.3922% 40.3922% 40.3922%);
    --palGistGray-105: rgb(40.7843% 40.7843% 40.7843%);
    --palGistGray-106: rgb(41.1765% 41.1765% 41.1765%);
    --palGistGray-107: rgb(41.5686% 41.5686% 41.5686%);
    --palGistGray-108: rgb(41.9608% 41.9608% 41.9608%);
    --palGistGray-109: rgb(42.3529% 42.3529% 42.3529%);
    --palGistGray-110: rgb(42.7451% 42.7451% 42.7451%);
    --palGistGray-111: rgb(43.1373% 43.1373% 43.1373%);
    --palGistGray-112: rgb(43.5294% 43.5294% 43.5294%);
    --palGistGray-113: rgb(43.9216% 43.9216% 43.9216%);
    --palGistGray-114: rgb(44.3137% 44.3137% 44.3137%);
    --palGistGray-115: rgb(44.7059% 44.7059% 44.7059%);
    --palGistGray-116: rgb(45.098% 45.098% 45.098%);
    --palGistGray-117: rgb(45.4902% 45.4902% 45.4902%);
    --palGistGray-118: rgb(45.8824% 45.8824% 45.8824%);
    --palGistGray-119: rgb(46.2745% 46.2745% 46.2745%);
    --palGistGray-120: rgb(46.6667% 46.6667% 46.6667%);
    --palGistGray-121: rgb(47.0588% 47.0588% 47.0588%);
    --palGistGray-122: rgb(47.451% 47.451% 47.451%);
    --palGistGray-123: rgb(47.8431% 47.8431% 47.8431%);
    --palGistGray-124: rgb(48.2353% 48.2353% 48.2353%);
    --palGistGray-125: rgb(48.6275% 48.6275% 48.6275%);
    --palGistGray-126: rgb(49.0196% 49.0196% 49.0196%);
    --palGistGray-127: rgb(49.4118% 49.4118% 49.4118%);
    --palGistGray-128: rgb(49.8039% 49.8039% 49.8039%);
    --palGistGray-129: rgb(50.1961% 50.1961% 50.1961%);
    --palGistGray-130: rgb(50.5882% 50.5882% 50.5882%);
    --palGistGray-131: rgb(50.9804% 50.9804% 50.9804%);
    --palGistGray-132: rgb(51.3725% 51.3725% 51.3725%);
    --palGistGray-133: rgb(51.7647% 51.7647% 51.7647%);
    --palGistGray-134: rgb(52.1569% 52.1569% 52.1569%);
    --palGistGray-135: rgb(52.549% 52.549% 52.549%);
    --palGistGray-136: rgb(52.9412% 52.9412% 52.9412%);
    --palGistGray-137: rgb(53.3333% 53.3333% 53.3333%);
    --palGistGray-138: rgb(53.7255% 53.7255% 53.7255%);
    --palGistGray-139: rgb(54.1176% 54.1176% 54.1176%);
    --palGistGray-140: rgb(54.5098% 54.5098% 54.5098%);
    --palGistGray-141: rgb(54.902% 54.902% 54.902%);
    --palGistGray-142: rgb(55.2941% 55.2941% 55.2941%);
    --palGistGray-143: rgb(55.6863% 55.6863% 55.6863%);
    --palGistGray-144: rgb(56.0784% 56.0784% 56.0784%);
    --palGistGray-145: rgb(56.4706% 56.4706% 56.4706%);
    --palGistGray-146: rgb(56.8627% 56.8627% 56.8627%);
    --palGistGray-147: rgb(57.2549% 57.2549% 57.2549%);
    --palGistGray-148: rgb(57.6471% 57.6471% 57.6471%);
    --palGistGray-149: rgb(58.0392% 58.0392% 58.0392%);
    --palGistGray-150: rgb(58.4314% 58.4314% 58.4314%);
    --palGistGray-151: rgb(58.8235% 58.8235% 58.8235%);
    --palGistGray-152: rgb(59.2157% 59.2157% 59.2157%);
    --palGistGray-153: rgb(59.6078% 59.6078% 59.6078%);
    --palGistGray-154: rgb(60% 60% 60%);
    --palGistGray-155: rgb(60.3922% 60.3922% 60.3922%);
    --palGistGray-156: rgb(60.7843% 60.7843% 60.7843%);
    --palGistGray-157: rgb(61.1765% 61.1765% 61.1765%);
    --palGistGray-158: rgb(61.5686% 61.5686% 61.5686%);
    --palGistGray-159: rgb(61.9608% 61.9608% 61.9608%);
    --palGistGray-160: rgb(62.3529% 62.3529% 62.3529%);
    --palGistGray-161: rgb(62.7451% 62.7451% 62.7451%);
    --palGistGray-162: rgb(63.1373% 63.1373% 63.1373%);
    --palGistGray-163: rgb(63.5294% 63.5294% 63.5294%);
    --palGistGray-164: rgb(63.9216% 63.9216% 63.9216%);
    --palGistGray-165: rgb(64.3137% 64.3137% 64.3137%);
    --palGistGray-166: rgb(64.7059% 64.7059% 64.7059%);
    --palGistGray-167: rgb(65.098% 65.098% 65.098%);
    --palGistGray-168: rgb(65.4902% 65.4902% 65.4902%);
    --palGistGray-169: rgb(65.8824% 65.8824% 65.8824%);
    --palGistGray-170: rgb(66.2745% 66.2745% 66.2745%);
    --palGistGray-171: rgb(66.6667% 66.6667% 66.6667%);
    --palGistGray-172: rgb(67.0588% 67.0588% 67.0588%);
    --palGistGray-173: rgb(67.451% 67.451% 67.451%);
    --palGistGray-174: rgb(67.8431% 67.8431% 67.8431%);
    --palGistGray-175: rgb(68.2353% 68.2353% 68.2353%);
    --palGistGray-176: rgb(68.6275% 68.6275% 68.6275%);
    --palGistGray-177: rgb(69.0196% 69.0196% 69.0196%);
    --palGistGray-178: rgb(69.4118% 69.4118% 69.4118%);
    --palGistGray-179: rgb(69.8039% 69.8039% 69.8039%);
    --palGistGray-180: rgb(70.1961% 70.1961% 70.1961%);
    --palGistGray-181: rgb(70.5882% 70.5882% 70.5882%);
    --palGistGray-182: rgb(70.9804% 70.9804% 70.9804%);
    --palGistGray-183: rgb(71.3725% 71.3725% 71.3725%);
    --palGistGray-184: rgb(71.7647% 71.7647% 71.7647%);
    --palGistGray-185: rgb(72.1569% 72.1569% 72.1569%);
    --palGistGray-186: rgb(72.549% 72.549% 72.549%);
    --palGistGray-187: rgb(72.9412% 72.9412% 72.9412%);
    --palGistGray-188: rgb(73.3333% 73.3333% 73.3333%);
    --palGistGray-189: rgb(73.7255% 73.7255% 73.7255%);
    --palGistGray-190: rgb(74.1176% 74.1176% 74.1176%);
    --palGistGray-191: rgb(74.5098% 74.5098% 74.5098%);
    --palGistGray-192: rgb(74.902% 74.902% 74.902%);
    --palGistGray-193: rgb(75.2941% 75.2941% 75.2941%);
    --palGistGray-194: rgb(75.6863% 75.6863% 75.6863%);
    --palGistGray-195: rgb(76.0784% 76.0784% 76.0784%);
    --palGistGray-196: rgb(76.4706% 76.4706% 76.4706%);
    --palGistGray-197: rgb(76.8627% 76.8627% 76.8627%);
    --palGistGray-198: rgb(77.2549% 77.2549% 77.2549%);
    --palGistGray-199: rgb(77.6471% 77.6471% 77.6471%);
    --palGistGray-200: rgb(78.0392% 78.0392% 78.0392%);
    --palGistGray-201: rgb(78.4314% 78.4314% 78.4314%);
    --palGistGray-202: rgb(78.8235% 78.8235% 78.8235%);
    --palGistGray-203: rgb(79.2157% 79.2157% 79.2157%);
    --palGistGray-204: rgb(79.6078% 79.6078% 79.6078%);
    --palGistGray-205: rgb(80% 80% 80%);
    --palGistGray-206: rgb(80.3922% 80.3922% 80.3922%);
    --palGistGray-207: rgb(80.7843% 80.7843% 80.7843%);
    --palGistGray-208: rgb(81.1765% 81.1765% 81.1765%);
    --palGistGray-209: rgb(81.5686% 81.5686% 81.5686%);
    --palGistGray-210: rgb(81.9608% 81.9608% 81.9608%);
    --palGistGray-211: rgb(82.3529% 82.3529% 82.3529%);
    --palGistGray-212: rgb(82.7451% 82.7451% 82.7451%);
    --palGistGray-213: rgb(83.1373% 83.1373% 83.1373%);
    --palGistGray-214: rgb(83.5294% 83.5294% 83.5294%);
    --palGistGray-215: rgb(83.9216% 83.9216% 83.9216%);
    --palGistGray-216: rgb(84.3137% 84.3137% 84.3137%);
    --palGistGray-217: rgb(84.7059% 84.7059% 84.7059%);
    --palGistGray-218: rgb(85.098% 85.098% 85.098%);
    --palGistGray-219: rgb(85.4902% 85.4902% 85.4902%);
    --palGistGray-220: rgb(85.8824% 85.8824% 85.8824%);
    --palGistGray-221: rgb(86.2745% 86.2745% 86.2745%);
    --palGistGray-222: rgb(86.6667% 86.6667% 86.6667%);
    --palGistGray-223: rgb(87.0588% 87.0588% 87.0588%);
    --palGistGray-224: rgb(87.451% 87.451% 87.451%);
    --palGistGray-225: rgb(87.8431% 87.8431% 87.8431%);
    --palGistGray-226: rgb(88.2353% 88.2353% 88.2353%);
    --palGistGray-227: rgb(88.6275% 88.6275% 88.6275%);
    --palGistGray-228: rgb(89.0196% 89.0196% 89.0196%);
    --palGistGray-229: rgb(89.4118% 89.4118% 89.4118%);
    --palGistGray-230: rgb(89.8039% 89.8039% 89.8039%);
    --palGistGray-231: rgb(90.1961% 90.1961% 90.1961%);
    --palGistGray-232: rgb(90.5882% 90.5882% 90.5882%);
    --palGistGray-233: rgb(90.9804% 90.9804% 90.9804%);
    --palGistGray-234: rgb(91.3725% 91.3725% 91.3725%);
    --palGistGray-235: rgb(91.7647% 91.7647% 91.7647%);
    --palGistGray-236: rgb(92.1569% 92.1569% 92.1569%);
    --palGistGray-237: rgb(92.549% 92.549% 92.549%);
    --palGistGray-238: rgb(92.9412% 92.9412% 92.9412%);
    --palGistGray-239: rgb(93.3333% 93.3333% 93.3333%);
    --palGistGray-240: rgb(93.7255% 93.7255% 93.7255%);
    --palGistGray-241: rgb(94.1176% 94.1176% 94.1176%);
    --palGistGray-242: rgb(94.5098% 94.5098% 94.5098%);
    --palGistGray-243: rgb(94.902% 94.902% 94.902%);
    --palGistGray-244: rgb(95.2941% 95.2941% 95.2941%);
    --palGistGray-245: rgb(95.6863% 95.6863% 95.6863%);
    --palGistGray-246: rgb(96.0784% 96.0784% 96.0784%);
    --palGistGray-247: rgb(96.4706% 96.4706% 96.4706%);
    --palGistGray-248: rgb(96.8627% 96.8627% 96.8627%);
    --palGistGray-249: rgb(97.2549% 97.2549% 97.2549%);
    --palGistGray-250: rgb(97.6471% 97.6471% 97.6471%);
    --palGistGray-251: rgb(98.0392% 98.0392% 98.0392%);
    --palGistGray-252: rgb(98.4314% 98.4314% 98.4314%);
    --palGistGray-253: rgb(98.8235% 98.8235% 98.8235%);
    --palGistGray-254: rgb(99.2157% 99.2157% 99.2157%);
    --palGistGray-255: rgb(99.6078% 99.6078% 99.6078%);
    --palGistGray-256: rgb(100% 100% 100%);
}
