/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGnuplot2-1: rgb(0% 0% 0%);
    --palGnuplot2-2: rgb(0% 0% 1.5686%);
    --palGnuplot2-3: rgb(0% 0% 3.1373%);
    --palGnuplot2-4: rgb(0% 0% 4.7059%);
    --palGnuplot2-5: rgb(0% 0% 6.2745%);
    --palGnuplot2-6: rgb(0% 0% 7.8431%);
    --palGnuplot2-7: rgb(0% 0% 9.4118%);
    --palGnuplot2-8: rgb(0% 0% 10.9804%);
    --palGnuplot2-9: rgb(0% 0% 12.549%);
    --palGnuplot2-10: rgb(0% 0% 14.1176%);
    --palGnuplot2-11: rgb(0% 0% 15.6863%);
    --palGnuplot2-12: rgb(0% 0% 17.2549%);
    --palGnuplot2-13: rgb(0% 0% 18.8235%);
    --palGnuplot2-14: rgb(0% 0% 20.3922%);
    --palGnuplot2-15: rgb(0% 0% 21.9608%);
    --palGnuplot2-16: rgb(0% 0% 23.5294%);
    --palGnuplot2-17: rgb(0% 0% 25.098%);
    --palGnuplot2-18: rgb(0% 0% 26.6667%);
    --palGnuplot2-19: rgb(0% 0% 28.2353%);
    --palGnuplot2-20: rgb(0% 0% 29.8039%);
    --palGnuplot2-21: rgb(0% 0% 31.3725%);
    --palGnuplot2-22: rgb(0% 0% 32.9412%);
    --palGnuplot2-23: rgb(0% 0% 34.5098%);
    --palGnuplot2-24: rgb(0% 0% 36.0784%);
    --palGnuplot2-25: rgb(0% 0% 37.6471%);
    --palGnuplot2-26: rgb(0% 0% 39.2157%);
    --palGnuplot2-27: rgb(0% 0% 40.7843%);
    --palGnuplot2-28: rgb(0% 0% 42.3529%);
    --palGnuplot2-29: rgb(0% 0% 43.9216%);
    --palGnuplot2-30: rgb(0% 0% 45.4902%);
    --palGnuplot2-31: rgb(0% 0% 47.0588%);
    --palGnuplot2-32: rgb(0% 0% 48.6275%);
    --palGnuplot2-33: rgb(0% 0% 50.1961%);
    --palGnuplot2-34: rgb(0% 0% 51.7647%);
    --palGnuplot2-35: rgb(0% 0% 53.3333%);
    --palGnuplot2-36: rgb(0% 0% 54.902%);
    --palGnuplot2-37: rgb(0% 0% 56.4706%);
    --palGnuplot2-38: rgb(0% 0% 58.0392%);
    --palGnuplot2-39: rgb(0% 0% 59.6078%);
    --palGnuplot2-40: rgb(0% 0% 61.1765%);
    --palGnuplot2-41: rgb(0% 0% 62.7451%);
    --palGnuplot2-42: rgb(0% 0% 64.3137%);
    --palGnuplot2-43: rgb(0% 0% 65.8824%);
    --palGnuplot2-44: rgb(0% 0% 67.451%);
    --palGnuplot2-45: rgb(0% 0% 69.0196%);
    --palGnuplot2-46: rgb(0% 0% 70.5882%);
    --palGnuplot2-47: rgb(0% 0% 72.1569%);
    --palGnuplot2-48: rgb(0% 0% 73.7255%);
    --palGnuplot2-49: rgb(0% 0% 75.2941%);
    --palGnuplot2-50: rgb(0% 0% 76.8627%);
    --palGnuplot2-51: rgb(0% 0% 78.4314%);
    --palGnuplot2-52: rgb(0% 0% 80%);
    --palGnuplot2-53: rgb(0% 0% 81.5686%);
    --palGnuplot2-54: rgb(0% 0% 83.1373%);
    --palGnuplot2-55: rgb(0% 0% 84.7059%);
    --palGnuplot2-56: rgb(0% 0% 86.2745%);
    --palGnuplot2-57: rgb(0% 0% 87.8431%);
    --palGnuplot2-58: rgb(0% 0% 89.4118%);
    --palGnuplot2-59: rgb(0% 0% 90.9804%);
    --palGnuplot2-60: rgb(0% 0% 92.549%);
    --palGnuplot2-61: rgb(0% 0% 94.1176%);
    --palGnuplot2-62: rgb(0% 0% 95.6863%);
    --palGnuplot2-63: rgb(0% 0% 97.2549%);
    --palGnuplot2-64: rgb(0% 0% 98.8235%);
    --palGnuplot2-65: rgb(0.3064% 0% 100%);
    --palGnuplot2-66: rgb(1.5319% 0% 100%);
    --palGnuplot2-67: rgb(2.7574% 0% 100%);
    --palGnuplot2-68: rgb(3.9828% 0% 100%);
    --palGnuplot2-69: rgb(5.2083% 0% 100%);
    --palGnuplot2-70: rgb(6.4338% 0% 100%);
    --palGnuplot2-71: rgb(7.6593% 0% 100%);
    --palGnuplot2-72: rgb(8.8848% 0% 100%);
    --palGnuplot2-73: rgb(10.1103% 0% 100%);
    --palGnuplot2-74: rgb(11.3358% 0% 100%);
    --palGnuplot2-75: rgb(12.5613% 0% 100%);
    --palGnuplot2-76: rgb(13.7868% 0% 100%);
    --palGnuplot2-77: rgb(15.0123% 0% 100%);
    --palGnuplot2-78: rgb(16.2377% 0% 100%);
    --palGnuplot2-79: rgb(17.4632% 0% 100%);
    --palGnuplot2-80: rgb(18.6887% 0% 100%);
    --palGnuplot2-81: rgb(19.9142% 0% 100%);
    --palGnuplot2-82: rgb(21.1397% 0% 100%);
    --palGnuplot2-83: rgb(22.3652% 0% 100%);
    --palGnuplot2-84: rgb(23.5907% 0% 100%);
    --palGnuplot2-85: rgb(24.8162% 0% 100%);
    --palGnuplot2-86: rgb(26.0417% 0% 100%);
    --palGnuplot2-87: rgb(27.2672% 0% 100%);
    --palGnuplot2-88: rgb(28.4926% 0% 100%);
    --palGnuplot2-89: rgb(29.7181% 0% 100%);
    --palGnuplot2-90: rgb(30.9436% 0% 100%);
    --palGnuplot2-91: rgb(32.1691% 0% 100%);
    --palGnuplot2-92: rgb(33.3946% 0% 100%);
    --palGnuplot2-93: rgb(34.6201% 0% 100%);
    --palGnuplot2-94: rgb(35.8456% 0% 100%);
    --palGnuplot2-95: rgb(37.0711% 0% 100%);
    --palGnuplot2-96: rgb(38.2966% 0% 100%);
    --palGnuplot2-97: rgb(39.5221% 0% 100%);
    --palGnuplot2-98: rgb(40.7475% 0% 100%);
    --palGnuplot2-99: rgb(41.973% 0% 100%);
    --palGnuplot2-100: rgb(43.1985% 0% 100%);
    --palGnuplot2-101: rgb(44.424% 0% 100%);
    --palGnuplot2-102: rgb(45.6495% 0% 100%);
    --palGnuplot2-103: rgb(46.875% 0% 100%);
    --palGnuplot2-104: rgb(48.1005% 0% 100%);
    --palGnuplot2-105: rgb(49.326% 0% 100%);
    --palGnuplot2-106: rgb(50.5515% 0% 100%);
    --palGnuplot2-107: rgb(51.777% 0% 100%);
    --palGnuplot2-108: rgb(53.0025% 0% 100%);
    --palGnuplot2-109: rgb(54.2279% 0.7059% 99.2941%);
    --palGnuplot2-110: rgb(55.4534% 1.4902% 98.5098%);
    --palGnuplot2-111: rgb(56.6789% 2.2745% 97.7255%);
    --palGnuplot2-112: rgb(57.9044% 3.0588% 96.9412%);
    --palGnuplot2-113: rgb(59.1299% 3.8431% 96.1569%);
    --palGnuplot2-114: rgb(60.3554% 4.6275% 95.3725%);
    --palGnuplot2-115: rgb(61.5809% 5.4118% 94.5882%);
    --palGnuplot2-116: rgb(62.8064% 6.1961% 93.8039%);
    --palGnuplot2-117: rgb(64.0319% 6.9804% 93.0196%);
    --palGnuplot2-118: rgb(65.2574% 7.7647% 92.2353%);
    --palGnuplot2-119: rgb(66.4828% 8.549% 91.451%);
    --palGnuplot2-120: rgb(67.7083% 9.3333% 90.6667%);
    --palGnuplot2-121: rgb(68.9338% 10.1176% 89.8824%);
    --palGnuplot2-122: rgb(70.1593% 10.902% 89.098%);
    --palGnuplot2-123: rgb(71.3848% 11.6863% 88.3137%);
    --palGnuplot2-124: rgb(72.6103% 12.4706% 87.5294%);
    --palGnuplot2-125: rgb(73.8358% 13.2549% 86.7451%);
    --palGnuplot2-126: rgb(75.0613% 14.0392% 85.9608%);
    --palGnuplot2-127: rgb(76.2868% 14.8235% 85.1765%);
    --palGnuplot2-128: rgb(77.5123% 15.6078% 84.3922%);
    --palGnuplot2-129: rgb(78.7377% 16.3922% 83.6078%);
    --palGnuplot2-130: rgb(79.9632% 17.1765% 82.8235%);
    --palGnuplot2-131: rgb(81.1887% 17.9608% 82.0392%);
    --palGnuplot2-132: rgb(82.4142% 18.7451% 81.2549%);
    --palGnuplot2-133: rgb(83.6397% 19.5294% 80.4706%);
    --palGnuplot2-134: rgb(84.8652% 20.3137% 79.6863%);
    --palGnuplot2-135: rgb(86.0907% 21.098% 78.902%);
    --palGnuplot2-136: rgb(87.3162% 21.8824% 78.1176%);
    --palGnuplot2-137: rgb(88.5417% 22.6667% 77.3333%);
    --palGnuplot2-138: rgb(89.7672% 23.451% 76.549%);
    --palGnuplot2-139: rgb(90.9926% 24.2353% 75.7647%);
    --palGnuplot2-140: rgb(92.2181% 25.0196% 74.9804%);
    --palGnuplot2-141: rgb(93.4436% 25.8039% 74.1961%);
    --palGnuplot2-142: rgb(94.6691% 26.5882% 73.4118%);
    --palGnuplot2-143: rgb(95.8946% 27.3725% 72.6275%);
    --palGnuplot2-144: rgb(97.1201% 28.1569% 71.8431%);
    --palGnuplot2-145: rgb(98.3456% 28.9412% 71.0588%);
    --palGnuplot2-146: rgb(99.5711% 29.7255% 70.2745%);
    --palGnuplot2-147: rgb(100% 30.5098% 69.4902%);
    --palGnuplot2-148: rgb(100% 31.2941% 68.7059%);
    --palGnuplot2-149: rgb(100% 32.0784% 67.9216%);
    --palGnuplot2-150: rgb(100% 32.8627% 67.1373%);
    --palGnuplot2-151: rgb(100% 33.6471% 66.3529%);
    --palGnuplot2-152: rgb(100% 34.4314% 65.5686%);
    --palGnuplot2-153: rgb(100% 35.2157% 64.7843%);
    --palGnuplot2-154: rgb(100% 36% 64%);
    --palGnuplot2-155: rgb(100% 36.7843% 63.2157%);
    --palGnuplot2-156: rgb(100% 37.5686% 62.4314%);
    --palGnuplot2-157: rgb(100% 38.3529% 61.6471%);
    --palGnuplot2-158: rgb(100% 39.1373% 60.8627%);
    --palGnuplot2-159: rgb(100% 39.9216% 60.0784%);
    --palGnuplot2-160: rgb(100% 40.7059% 59.2941%);
    --palGnuplot2-161: rgb(100% 41.4902% 58.5098%);
    --palGnuplot2-162: rgb(100% 42.2745% 57.7255%);
    --palGnuplot2-163: rgb(100% 43.0588% 56.9412%);
    --palGnuplot2-164: rgb(100% 43.8431% 56.1569%);
    --palGnuplot2-165: rgb(100% 44.6275% 55.3725%);
    --palGnuplot2-166: rgb(100% 45.4118% 54.5882%);
    --palGnuplot2-167: rgb(100% 46.1961% 53.8039%);
    --palGnuplot2-168: rgb(100% 46.9804% 53.0196%);
    --palGnuplot2-169: rgb(100% 47.7647% 52.2353%);
    --palGnuplot2-170: rgb(100% 48.549% 51.451%);
    --palGnuplot2-171: rgb(100% 49.3333% 50.6667%);
    --palGnuplot2-172: rgb(100% 50.1176% 49.8824%);
    --palGnuplot2-173: rgb(100% 50.902% 49.098%);
    --palGnuplot2-174: rgb(100% 51.6863% 48.3137%);
    --palGnuplot2-175: rgb(100% 52.4706% 47.5294%);
    --palGnuplot2-176: rgb(100% 53.2549% 46.7451%);
    --palGnuplot2-177: rgb(100% 54.0392% 45.9608%);
    --palGnuplot2-178: rgb(100% 54.8235% 45.1765%);
    --palGnuplot2-179: rgb(100% 55.6078% 44.3922%);
    --palGnuplot2-180: rgb(100% 56.3922% 43.6078%);
    --palGnuplot2-181: rgb(100% 57.1765% 42.8235%);
    --palGnuplot2-182: rgb(100% 57.9608% 42.0392%);
    --palGnuplot2-183: rgb(100% 58.7451% 41.2549%);
    --palGnuplot2-184: rgb(100% 59.5294% 40.4706%);
    --palGnuplot2-185: rgb(100% 60.3137% 39.6863%);
    --palGnuplot2-186: rgb(100% 61.098% 38.902%);
    --palGnuplot2-187: rgb(100% 61.8824% 38.1176%);
    --palGnuplot2-188: rgb(100% 62.6667% 37.3333%);
    --palGnuplot2-189: rgb(100% 63.451% 36.549%);
    --palGnuplot2-190: rgb(100% 64.2353% 35.7647%);
    --palGnuplot2-191: rgb(100% 65.0196% 34.9804%);
    --palGnuplot2-192: rgb(100% 65.8039% 34.1961%);
    --palGnuplot2-193: rgb(100% 66.5882% 33.4118%);
    --palGnuplot2-194: rgb(100% 67.3725% 32.6275%);
    --palGnuplot2-195: rgb(100% 68.1569% 31.8431%);
    --palGnuplot2-196: rgb(100% 68.9412% 31.0588%);
    --palGnuplot2-197: rgb(100% 69.7255% 30.2745%);
    --palGnuplot2-198: rgb(100% 70.5098% 29.4902%);
    --palGnuplot2-199: rgb(100% 71.2941% 28.7059%);
    --palGnuplot2-200: rgb(100% 72.0784% 27.9216%);
    --palGnuplot2-201: rgb(100% 72.8627% 27.1373%);
    --palGnuplot2-202: rgb(100% 73.6471% 26.3529%);
    --palGnuplot2-203: rgb(100% 74.4314% 25.5686%);
    --palGnuplot2-204: rgb(100% 75.2157% 24.7843%);
    --palGnuplot2-205: rgb(100% 76% 24%);
    --palGnuplot2-206: rgb(100% 76.7843% 23.2157%);
    --palGnuplot2-207: rgb(100% 77.5686% 22.4314%);
    --palGnuplot2-208: rgb(100% 78.3529% 21.6471%);
    --palGnuplot2-209: rgb(100% 79.1373% 20.8627%);
    --palGnuplot2-210: rgb(100% 79.9216% 20.0784%);
    --palGnuplot2-211: rgb(100% 80.7059% 19.2941%);
    --palGnuplot2-212: rgb(100% 81.4902% 18.5098%);
    --palGnuplot2-213: rgb(100% 82.2745% 17.7255%);
    --palGnuplot2-214: rgb(100% 83.0588% 16.9412%);
    --palGnuplot2-215: rgb(100% 83.8431% 16.1569%);
    --palGnuplot2-216: rgb(100% 84.6275% 15.3725%);
    --palGnuplot2-217: rgb(100% 85.4118% 14.5882%);
    --palGnuplot2-218: rgb(100% 86.1961% 13.8039%);
    --palGnuplot2-219: rgb(100% 86.9804% 13.0196%);
    --palGnuplot2-220: rgb(100% 87.7647% 12.2353%);
    --palGnuplot2-221: rgb(100% 88.549% 11.451%);
    --palGnuplot2-222: rgb(100% 89.3333% 10.6667%);
    --palGnuplot2-223: rgb(100% 90.1176% 9.8824%);
    --palGnuplot2-224: rgb(100% 90.902% 9.098%);
    --palGnuplot2-225: rgb(100% 91.6863% 8.3137%);
    --palGnuplot2-226: rgb(100% 92.4706% 7.5294%);
    --palGnuplot2-227: rgb(100% 93.2549% 6.7451%);
    --palGnuplot2-228: rgb(100% 94.0392% 5.9608%);
    --palGnuplot2-229: rgb(100% 94.8235% 5.1765%);
    --palGnuplot2-230: rgb(100% 95.6078% 4.3922%);
    --palGnuplot2-231: rgb(100% 96.3922% 3.6078%);
    --palGnuplot2-232: rgb(100% 97.1765% 2.8235%);
    --palGnuplot2-233: rgb(100% 97.9608% 2.0392%);
    --palGnuplot2-234: rgb(100% 98.7451% 1.2549%);
    --palGnuplot2-235: rgb(100% 99.5294% 0.4706%);
    --palGnuplot2-236: rgb(100% 100% 1.9608%);
    --palGnuplot2-237: rgb(100% 100% 6.8627%);
    --palGnuplot2-238: rgb(100% 100% 11.7647%);
    --palGnuplot2-239: rgb(100% 100% 16.6667%);
    --palGnuplot2-240: rgb(100% 100% 21.5686%);
    --palGnuplot2-241: rgb(100% 100% 26.4706%);
    --palGnuplot2-242: rgb(100% 100% 31.3725%);
    --palGnuplot2-243: rgb(100% 100% 36.2745%);
    --palGnuplot2-244: rgb(100% 100% 41.1765%);
    --palGnuplot2-245: rgb(100% 100% 46.0784%);
    --palGnuplot2-246: rgb(100% 100% 50.9804%);
    --palGnuplot2-247: rgb(100% 100% 55.8824%);
    --palGnuplot2-248: rgb(100% 100% 60.7843%);
    --palGnuplot2-249: rgb(100% 100% 65.6863%);
    --palGnuplot2-250: rgb(100% 100% 70.5882%);
    --palGnuplot2-251: rgb(100% 100% 75.4902%);
    --palGnuplot2-252: rgb(100% 100% 80.3922%);
    --palGnuplot2-253: rgb(100% 100% 85.2941%);
    --palGnuplot2-254: rgb(100% 100% 90.1961%);
    --palGnuplot2-255: rgb(100% 100% 95.098%);
    --palGnuplot2-256: rgb(100% 100% 100%);
}
