/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGothic-1: rgb(0% 0% 0%);
    --palGothic-2: rgb(0.022649% 0.02291% 0.031182%);
    --palGothic-3: rgb(0.07784% 0.07929% 0.113382%);
    --palGothic-4: rgb(0.159984% 0.16393% 0.245269%);
    --palGothic-5: rgb(0.266528% 0.274461% 0.42812%);
    --palGothic-6: rgb(0.395849% 0.409339% 0.66388%);
    --palGothic-7: rgb(0.546798% 0.567421% 0.95483%);
    --palGothic-8: rgb(0.718515% 0.747791% 1.303467%);
    --palGothic-9: rgb(0.910336% 0.94968% 1.712462%);
    --palGothic-10: rgb(1.121743% 1.172416% 2.184643%);
    --palGothic-11: rgb(1.352313% 1.41538% 2.723157%);
    --palGothic-12: rgb(1.601749% 1.678021% 3.330968%);
    --palGothic-13: rgb(1.869814% 1.959811% 4.011305%);
    --palGothic-14: rgb(2.156343% 2.260244% 4.721513%);
    --palGothic-15: rgb(2.461231% 2.57883% 5.432991%);
    --palGothic-16: rgb(2.7844% 2.915056% 6.147219%);
    --palGothic-17: rgb(3.125867% 3.26845% 6.864621%);
    --palGothic-18: rgb(3.485696% 3.638535% 7.585626%);
    --palGothic-19: rgb(3.86399% 4.024821% 8.310696%);
    --palGothic-20: rgb(4.254022% 4.410497% 9.040632%);
    --palGothic-21: rgb(4.639767% 4.789374% 9.77564%);
    --palGothic-22: rgb(5.022354% 5.162006% 10.515897%);
    --palGothic-23: rgb(5.402191% 5.528547% 11.26194%);
    --palGothic-24: rgb(5.779662% 5.889104% 12.014343%);
    --palGothic-25: rgb(6.155178% 6.243863% 12.772925%);
    --palGothic-26: rgb(6.529081% 6.592868% 13.538279%);
    --palGothic-27: rgb(6.901713% 6.936153% 14.310832%);
    --palGothic-28: rgb(7.273433% 7.273846% 15.090327%);
    --palGothic-29: rgb(7.644541% 7.60583% 15.877799%);
    --palGothic-30: rgb(8.01538% 7.932217% 16.672834%);
    --palGothic-31: rgb(8.386255% 8.25292% 17.476031%);
    --palGothic-32: rgb(8.757482% 8.567907% 18.287581%);
    --palGothic-33: rgb(9.12937% 8.877136% 19.107609%);
    --palGothic-34: rgb(9.502232% 9.180485% 19.936574%);
    --palGothic-35: rgb(9.876374% 9.477899% 20.774495%);
    --palGothic-36: rgb(10.252109% 9.769241% 21.621704%);
    --palGothic-37: rgb(10.629756% 10.054351% 22.47854%);
    --palGothic-38: rgb(11.009612% 10.333189% 23.344741%);
    --palGothic-39: rgb(11.39204% 10.605364% 24.221459%);
    --palGothic-40: rgb(11.777319% 10.870908% 25.107973%);
    --palGothic-41: rgb(12.165794% 11.129534% 26.004821%);
    --palGothic-42: rgb(12.557835% 11.380905% 26.912617%);
    --palGothic-43: rgb(12.953738% 11.624924% 27.830963%);
    --palGothic-44: rgb(13.353853% 11.861304% 28.760113%);
    --palGothic-45: rgb(13.758582% 12.089616% 29.700716%);
    --palGothic-46: rgb(14.168277% 12.309581% 30.652782%);
    --palGothic-47: rgb(14.58329% 12.520905% 31.616285%);
    --palGothic-48: rgb(15.004006% 12.723199% 32.591433%);
    --palGothic-49: rgb(15.430818% 12.91604% 33.578414%);
    --palGothic-50: rgb(15.864133% 13.098977% 34.577396%);
    --palGothic-51: rgb(16.304362% 13.271526% 35.588521%);
    --palGothic-52: rgb(16.751926% 13.433168% 36.611899%);
    --palGothic-53: rgb(17.207255% 13.583352% 37.647604%);
    --palGothic-54: rgb(17.670781% 13.72149% 38.69567%);
    --palGothic-55: rgb(18.142943% 13.846959% 39.75608%);
    --palGothic-56: rgb(18.624181% 13.959098% 40.828762%);
    --palGothic-57: rgb(19.11495% 14.057178% 41.913654%);
    --palGothic-58: rgb(19.615879% 14.140103% 43.011315%);
    --palGothic-59: rgb(20.127248% 14.207389% 44.120766%);
    --palGothic-60: rgb(20.649533% 14.258118% 45.24182%);
    --palGothic-61: rgb(21.183438% 14.290899% 46.374998%);
    --palGothic-62: rgb(21.72912% 14.305271% 47.518766%);
    --palGothic-63: rgb(22.287411% 14.299452% 48.673874%);
    --palGothic-64: rgb(22.858492% 14.272762% 49.838769%);
    --palGothic-65: rgb(23.442846% 14.223868% 51.012852%);
    --palGothic-66: rgb(24.041153% 14.15095% 52.195977%);
    --palGothic-67: rgb(24.653595% 14.05298% 53.386424%);
    --palGothic-68: rgb(25.280563% 13.928398% 54.583022%);
    --palGothic-69: rgb(25.922382% 13.77561% 55.784319%);
    --palGothic-70: rgb(26.579287% 13.593012% 56.988544%);
    --palGothic-71: rgb(27.251407% 13.379018% 58.193583%);
    --palGothic-72: rgb(27.939017% 13.131543% 59.397558%);
    --palGothic-73: rgb(28.641815% 12.849429% 60.597212%);
    --palGothic-74: rgb(29.359608% 12.5311% 61.78952%);
    --palGothic-75: rgb(30.092102% 12.174958% 62.971203%);
    --palGothic-76: rgb(30.838669% 11.779912% 64.13831%);
    --palGothic-77: rgb(31.598416% 11.345296% 65.286466%);
    --palGothic-78: rgb(32.370335% 10.870592% 66.411204%);
    --palGothic-79: rgb(33.153133% 10.355911% 67.507732%);
    --palGothic-80: rgb(33.945245% 9.80211% 68.571083%);
    --palGothic-81: rgb(34.744873% 9.210897% 69.596281%);
    --palGothic-82: rgb(35.550034% 8.584927% 70.578548%);
    --palGothic-83: rgb(36.358689% 7.927728% 71.513562%);
    --palGothic-84: rgb(37.168725% 7.244065% 72.397518%);
    --palGothic-85: rgb(37.977968% 6.540337% 73.227241%);
    --palGothic-86: rgb(38.784538% 5.823842% 74.000589%);
    --palGothic-87: rgb(39.58656% 5.104328% 74.716157%);
    --palGothic-88: rgb(40.382546% 4.393252% 75.373581%);
    --palGothic-89: rgb(41.171205% 3.707994% 75.973304%);
    --palGothic-90: rgb(41.951581% 3.113051% 76.516566%);
    --palGothic-91: rgb(42.722995% 2.62778% 77.00524%);
    --palGothic-92: rgb(43.485041% 2.254326% 77.441703%);
    --palGothic-93: rgb(44.237532% 1.993019% 77.828689%);
    --palGothic-94: rgb(44.980504% 1.842521% 78.169165%);
    --palGothic-95: rgb(45.714116% 1.800397% 78.466211%);
    --palGothic-96: rgb(46.438685% 1.863137% 78.722931%);
    --palGothic-97: rgb(47.154595% 2.026647% 78.942384%);
    --palGothic-98: rgb(47.862279% 2.286426% 79.127531%);
    --palGothic-99: rgb(48.562248% 2.637598% 79.281178%);
    --palGothic-100: rgb(49.254975% 3.075392% 79.405996%);
    --palGothic-101: rgb(49.940978% 3.59492% 79.504459%);
    --palGothic-102: rgb(50.62076% 4.18749% 79.578858%);
    --palGothic-103: rgb(51.294795% 4.804067% 79.631318%);
    --palGothic-104: rgb(51.963531% 5.428576% 79.663794%);
    --palGothic-105: rgb(52.627418% 6.055136% 79.678042%);
    --palGothic-106: rgb(53.28686% 6.67972% 79.675676%);
    --palGothic-107: rgb(53.942235% 7.29959% 79.65816%);
    --palGothic-108: rgb(54.593888% 7.912923% 79.62682%);
    --palGothic-109: rgb(55.242141% 8.518541% 79.582845%);
    --palGothic-110: rgb(55.88729% 9.115729% 79.527303%);
    --palGothic-111: rgb(56.529598% 9.704113% 79.461154%);
    --palGothic-112: rgb(57.169303% 10.283559% 79.385256%);
    --palGothic-113: rgb(57.806618% 10.854111% 79.300376%);
    --palGothic-114: rgb(58.441731% 11.415935% 79.207188%);
    --palGothic-115: rgb(59.07481% 11.969293% 79.106288%);
    --palGothic-116: rgb(59.705991% 12.514519% 78.998205%);
    --palGothic-117: rgb(60.335393% 13.051994% 78.883403%);
    --palGothic-118: rgb(60.96311% 13.582141% 78.762282%);
    --palGothic-119: rgb(61.589221% 14.105404% 78.635175%);
    --palGothic-120: rgb(62.213784% 14.622255% 78.502354%);
    --palGothic-121: rgb(62.836819% 15.133188% 78.364088%);
    --palGothic-122: rgb(63.45833% 15.638712% 78.220579%);
    --palGothic-123: rgb(64.078327% 16.139341% 78.07192%);
    --palGothic-124: rgb(64.696749% 16.635619% 77.918275%);
    --palGothic-125: rgb(65.313532% 17.128101% 77.759719%);
    --palGothic-126: rgb(65.928609% 17.617352% 77.596229%);
    --palGothic-127: rgb(66.541828% 18.103975% 77.427894%);
    --palGothic-128: rgb(67.15307% 18.58858% 77.254589%);
    --palGothic-129: rgb(67.762128% 19.071819% 77.076311%);
    --palGothic-130: rgb(68.368769% 19.554374% 76.892983%);
    --palGothic-131: rgb(68.972752% 20.036966% 76.704387%);
    --palGothic-132: rgb(69.573739% 20.52037% 76.51041%);
    --palGothic-133: rgb(70.171345% 21.005419% 76.310873%);
    --palGothic-134: rgb(70.765122% 21.493014% 76.105549%);
    --palGothic-135: rgb(71.354536% 21.984144% 75.894196%);
    --palGothic-136: rgb(71.938982% 22.479904% 75.676434%);
    --palGothic-137: rgb(72.517692% 22.981504% 75.452029%);
    --palGothic-138: rgb(73.089783% 23.490311% 75.220632%);
    --palGothic-139: rgb(73.654188% 24.007866% 74.981898%);
    --palGothic-140: rgb(74.209653% 24.535951% 74.735337%);
    --palGothic-141: rgb(74.754621% 25.076605% 74.480608%);
    --palGothic-142: rgb(75.287203% 25.63221% 74.217347%);
    --palGothic-143: rgb(75.805069% 26.205525% 73.945391%);
    --palGothic-144: rgb(76.30536% 26.799846% 73.664524%);
    --palGothic-145: rgb(76.784504% 27.41903% 73.374933%);
    --palGothic-146: rgb(77.238053% 28.067532% 73.077521%);
    --palGothic-147: rgb(77.660515% 28.750518% 72.7739%);
    --palGothic-148: rgb(78.045259% 29.473488% 72.467579%);
    --palGothic-149: rgb(78.38467% 30.241794% 72.164512%);
    --palGothic-150: rgb(78.670902% 31.059259% 71.874385%);
    --palGothic-151: rgb(78.89766% 31.925931% 71.611399%);
    --palGothic-152: rgb(79.06268% 32.836053% 71.392763%);
    --palGothic-153: rgb(79.169757% 33.777583% 71.234976%);
    --palGothic-154: rgb(79.228253% 34.735% 71.148822%);
    --palGothic-155: rgb(79.250047% 35.693781% 71.136831%);
    --palGothic-156: rgb(79.246219% 36.643432% 71.19463%);
    --palGothic-157: rgb(79.225552% 37.577702% 71.31429%);
    --palGothic-158: rgb(79.194128% 38.493841% 71.486841%);
    --palGothic-159: rgb(79.156129% 39.391031% 71.703954%);
    --palGothic-160: rgb(79.114212% 40.2697% 71.958365%);
    --palGothic-161: rgb(79.070192% 41.13073% 72.244042%);
    --palGothic-162: rgb(79.025225% 41.975284% 72.556003%);
    --palGothic-163: rgb(78.98001% 42.804628% 72.890161%);
    --palGothic-164: rgb(78.935136% 43.619867% 73.24318%);
    --palGothic-165: rgb(78.890961% 44.422092% 73.612296%);
    --palGothic-166: rgb(78.847776% 45.212273% 73.995217%);
    --palGothic-167: rgb(78.805691% 45.991379% 74.390018%);
    --palGothic-168: rgb(78.764865% 46.76021% 74.795084%);
    --palGothic-169: rgb(78.725425% 47.519495% 75.209048%);
    --palGothic-170: rgb(78.687527% 48.269849% 75.630739%);
    --palGothic-171: rgb(78.651193% 49.01192% 76.059152%);
    --palGothic-172: rgb(78.616514% 49.746237% 76.493422%);
    --palGothic-173: rgb(78.583563% 50.47329% 76.932797%);
    --palGothic-174: rgb(78.552435% 51.193508% 77.376622%);
    --palGothic-175: rgb(78.523222% 51.907284% 77.824323%);
    --palGothic-176: rgb(78.49593% 52.615032% 78.275401%);
    --palGothic-177: rgb(78.470661% 53.31707% 78.729412%);
    --palGothic-178: rgb(78.447501% 54.013703% 79.185964%);
    --palGothic-179: rgb(78.426477% 54.705248% 79.644711%);
    --palGothic-180: rgb(78.407686% 55.391957% 80.105343%);
    --palGothic-181: rgb(78.39118% 56.07409% 80.567585%);
    --palGothic-182: rgb(78.37699% 56.751904% 81.03119%);
    --palGothic-183: rgb(78.365226% 57.425593% 81.495931%);
    --palGothic-184: rgb(78.3559% 58.095395% 81.961605%);
    --palGothic-185: rgb(78.349056% 58.761517% 82.428023%);
    --palGothic-186: rgb(78.344742% 59.424151% 82.89501%);
    --palGothic-187: rgb(78.343013% 60.083478% 83.362397%);
    --palGothic-188: rgb(78.343875% 60.739694% 83.830025%);
    --palGothic-189: rgb(78.347352% 61.392977% 84.297736%);
    --palGothic-190: rgb(78.353464% 62.043503% 84.765369%);
    --palGothic-191: rgb(78.36222% 62.691443% 85.232762%);
    --palGothic-192: rgb(78.373623% 63.336968% 85.699741%);
    --palGothic-193: rgb(78.387665% 63.980249% 86.166123%);
    --palGothic-194: rgb(78.404339% 64.621454% 86.631706%);
    --palGothic-195: rgb(78.42363% 65.260749% 87.096269%);
    --palGothic-196: rgb(78.445522% 65.8983% 87.559564%);
    --palGothic-197: rgb(78.469987% 66.534278% 88.02131%);
    --palGothic-198: rgb(78.496997% 67.168853% 88.48119%);
    --palGothic-199: rgb(78.526547% 67.802185% 88.938842%);
    --palGothic-200: rgb(78.558632% 68.434435% 89.393852%);
    --palGothic-201: rgb(78.593226% 69.06578% 89.845746%);
    --palGothic-202: rgb(78.630345% 69.69638% 90.293981%);
    --palGothic-203: rgb(78.670062% 70.326377% 90.737936%);
    --palGothic-204: rgb(78.712384% 70.955954% 91.176894%);
    --palGothic-205: rgb(78.757479% 71.585226% 91.610042%);
    --palGothic-206: rgb(78.805464% 72.214351% 92.036445%);
    --palGothic-207: rgb(78.856633% 72.843421% 92.455044%);
    --palGothic-208: rgb(78.911225% 73.472575% 92.864619%);
    --palGothic-209: rgb(78.969759% 74.101847% 93.263811%);
    --palGothic-210: rgb(79.032808% 74.731276% 93.651077%);
    --palGothic-211: rgb(79.101128% 75.360852% 94.024693%);
    --palGothic-212: rgb(79.175692% 75.990501% 94.382751%);
    --palGothic-213: rgb(79.25777% 76.620057% 94.723181%);
    --palGothic-214: rgb(79.348922% 77.249259% 95.043776%);
    --palGothic-215: rgb(79.45109% 77.877713% 95.342266%);
    --palGothic-216: rgb(79.566591% 78.504882% 95.616426%);
    --palGothic-217: rgb(79.698112% 79.130071% 95.864218%);
    --palGothic-218: rgb(79.848627% 79.752446% 96.083977%);
    --palGothic-219: rgb(80.021362% 80.371% 96.274721%);
    --palGothic-220: rgb(80.219478% 80.984665% 96.436298%);
    --palGothic-221: rgb(80.445852% 81.592365% 96.569591%);
    --palGothic-222: rgb(80.702759% 82.193135% 96.676508%);
    --palGothic-223: rgb(80.991695% 82.786181% 96.759987%);
    --palGothic-224: rgb(81.313163% 83.371013% 96.823544%);
    --palGothic-225: rgb(81.666752% 83.947432% 96.871053%);
    --palGothic-226: rgb(82.051272% 84.515522% 96.906397%);
    --palGothic-227: rgb(82.464985% 85.075562% 96.93343%);
    --palGothic-228: rgb(82.905719% 85.628094% 96.95507%);
    --palGothic-229: rgb(83.371225% 86.173646% 96.974494%);
    --palGothic-230: rgb(83.859186% 86.712891% 96.993795%);
    --palGothic-231: rgb(84.367394% 87.24648% 97.014857%);
    --palGothic-232: rgb(84.893783% 87.77504% 97.039275%);
    --palGothic-233: rgb(85.436441% 88.299168% 97.068376%);
    --palGothic-234: rgb(85.993707% 88.819452% 97.102728%);
    --palGothic-235: rgb(86.563985% 89.33638% 97.143559%);
    --palGothic-236: rgb(87.145948% 89.850444% 97.191191%);
    --palGothic-237: rgb(87.73839% 90.362072% 97.246084%);
    --palGothic-238: rgb(88.34023% 90.871656% 97.308653%);
    --palGothic-239: rgb(88.950517% 91.379548% 97.379189%);
    --palGothic-240: rgb(89.568421% 91.886073% 97.457879%);
    --palGothic-241: rgb(90.193159% 92.39152% 97.545036%);
    --palGothic-242: rgb(90.824013% 92.896161% 97.640976%);
    --palGothic-243: rgb(91.460519% 93.400236% 97.745383%);
    --palGothic-244: rgb(92.10192% 93.903977% 97.859073%);
    --palGothic-245: rgb(92.747939% 94.407584% 97.981503%);
    --palGothic-246: rgb(93.397877% 94.911266% 98.11352%);
    --palGothic-247: rgb(94.051433% 95.415199% 98.25488%);
    --palGothic-248: rgb(94.708174% 95.919565% 98.405798%);
    --palGothic-249: rgb(95.367627% 96.424545% 98.5666%);
    --palGothic-250: rgb(96.029209% 96.930345% 98.737864%);
    --palGothic-251: rgb(96.692477% 97.437166% 98.919662%);
    --palGothic-252: rgb(97.356753% 97.945267% 99.112429%);
    --palGothic-253: rgb(98.021157% 98.454986% 99.31662%);
    --palGothic-254: rgb(98.684468% 98.966802% 99.532645%);
    --palGothic-255: rgb(99.344927% 99.481436% 99.760652%);
    --palGothic-256: rgb(100% 100% 100%);
}
