/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGray-1: rgb(0% 0% 0%);
    --palGray-2: rgb(0% 0% 0%);
    --palGray-3: rgb(0% 0% 0%);
    --palGray-4: rgb(0% 0% 0%);
    --palGray-5: rgb(0.392157% 0.392157% 0.392157%);
    --palGray-6: rgb(0.392157% 0.392157% 0.392157%);
    --palGray-7: rgb(0.784314% 0.784314% 0.784314%);
    --palGray-8: rgb(0.784314% 0.784314% 0.784314%);
    --palGray-9: rgb(1.176471% 1.176471% 1.176471%);
    --palGray-10: rgb(1.176471% 1.176471% 1.176471%);
    --palGray-11: rgb(1.568627% 1.568627% 1.568627%);
    --palGray-12: rgb(1.960784% 1.960784% 1.960784%);
    --palGray-13: rgb(1.960784% 1.960784% 1.960784%);
    --palGray-14: rgb(2.352941% 2.352941% 2.352941%);
    --palGray-15: rgb(2.745098% 2.745098% 2.745098%);
    --palGray-16: rgb(3.137255% 3.137255% 3.137255%);
    --palGray-17: rgb(3.529412% 3.529412% 3.529412%);
    --palGray-18: rgb(3.921569% 3.921569% 3.921569%);
    --palGray-19: rgb(4.313725% 4.313725% 4.313725%);
    --palGray-20: rgb(4.705882% 4.705882% 4.705882%);
    --palGray-21: rgb(5.098039% 5.098039% 5.098039%);
    --palGray-22: rgb(5.882353% 5.490196% 5.490196%);
    --palGray-23: rgb(6.27451% 5.882353% 5.882353%);
    --palGray-24: rgb(6.666667% 6.27451% 6.27451%);
    --palGray-25: rgb(7.058824% 6.666667% 6.666667%);
    --palGray-26: rgb(7.45098% 7.058824% 7.058824%);
    --palGray-27: rgb(7.843137% 7.45098% 7.45098%);
    --palGray-28: rgb(8.235294% 7.843137% 7.843137%);
    --palGray-29: rgb(8.627451% 8.235294% 8.235294%);
    --palGray-30: rgb(9.019608% 8.627451% 8.627451%);
    --palGray-31: rgb(9.411765% 9.019608% 9.019608%);
    --palGray-32: rgb(9.803922% 9.411765% 9.411765%);
    --palGray-33: rgb(10.196078% 9.803922% 9.803922%);
    --palGray-34: rgb(10.588235% 10.196078% 10.196078%);
    --palGray-35: rgb(10.980392% 10.588235% 10.588235%);
    --palGray-36: rgb(11.372549% 10.980392% 10.980392%);
    --palGray-37: rgb(11.372549% 11.372549% 11.372549%);
    --palGray-38: rgb(11.764706% 11.764706% 11.764706%);
    --palGray-39: rgb(12.156863% 12.156863% 12.156863%);
    --palGray-40: rgb(12.54902% 12.54902% 12.54902%);
    --palGray-41: rgb(12.941176% 12.941176% 12.941176%);
    --palGray-42: rgb(13.333333% 13.333333% 13.333333%);
    --palGray-43: rgb(13.72549% 13.72549% 13.72549%);
    --palGray-44: rgb(14.117647% 14.117647% 14.117647%);
    --palGray-45: rgb(14.509804% 14.509804% 14.117647%);
    --palGray-46: rgb(14.901961% 14.901961% 14.509804%);
    --palGray-47: rgb(15.294118% 14.901961% 14.901961%);
    --palGray-48: rgb(15.686275% 15.294118% 15.294118%);
    --palGray-49: rgb(16.078431% 15.686275% 15.686275%);
    --palGray-50: rgb(16.470588% 16.078431% 16.078431%);
    --palGray-51: rgb(16.862745% 16.470588% 16.470588%);
    --palGray-52: rgb(16.862745% 16.862745% 16.862745%);
    --palGray-53: rgb(17.254902% 17.254902% 17.254902%);
    --palGray-54: rgb(17.647059% 17.647059% 17.647059%);
    --palGray-55: rgb(18.039216% 18.039216% 18.039216%);
    --palGray-56: rgb(18.431373% 18.431373% 18.039216%);
    --palGray-57: rgb(18.823529% 18.823529% 18.431373%);
    --palGray-58: rgb(19.215686% 18.823529% 18.823529%);
    --palGray-59: rgb(19.607843% 19.215686% 19.215686%);
    --palGray-60: rgb(20% 19.607843% 19.607843%);
    --palGray-61: rgb(20.392157% 20% 20%);
    --palGray-62: rgb(20.784314% 20.392157% 20.392157%);
    --palGray-63: rgb(20.784314% 20.784314% 20.784314%);
    --palGray-64: rgb(21.176471% 21.176471% 21.176471%);
    --palGray-65: rgb(21.568627% 21.568627% 21.568627%);
    --palGray-66: rgb(21.960784% 21.960784% 21.568627%);
    --palGray-67: rgb(22.352941% 22.352941% 21.960784%);
    --palGray-68: rgb(22.745098% 22.352941% 22.352941%);
    --palGray-69: rgb(23.137255% 22.745098% 22.745098%);
    --palGray-70: rgb(23.529412% 23.137255% 23.137255%);
    --palGray-71: rgb(23.921569% 23.529412% 23.529412%);
    --palGray-72: rgb(24.313725% 23.921569% 23.921569%);
    --palGray-73: rgb(24.313725% 24.313725% 24.313725%);
    --palGray-74: rgb(24.705882% 24.705882% 24.705882%);
    --palGray-75: rgb(25.098039% 25.098039% 25.098039%);
    --palGray-76: rgb(25.490196% 25.490196% 25.098039%);
    --palGray-77: rgb(25.882353% 25.882353% 25.490196%);
    --palGray-78: rgb(26.27451% 25.882353% 25.882353%);
    --palGray-79: rgb(26.666667% 26.27451% 26.27451%);
    --palGray-80: rgb(27.058824% 26.666667% 26.666667%);
    --palGray-81: rgb(27.45098% 27.058824% 27.058824%);
    --palGray-82: rgb(27.843137% 27.45098% 27.45098%);
    --palGray-83: rgb(27.843137% 27.843137% 27.843137%);
    --palGray-84: rgb(28.235294% 28.235294% 28.235294%);
    --palGray-85: rgb(28.627451% 28.627451% 28.235294%);
    --palGray-86: rgb(29.019608% 29.019608% 28.627451%);
    --palGray-87: rgb(29.411765% 29.411765% 29.019608%);
    --palGray-88: rgb(29.803922% 29.411765% 29.411765%);
    --palGray-89: rgb(30.196078% 29.803922% 29.803922%);
    --palGray-90: rgb(30.588235% 30.196078% 30.196078%);
    --palGray-91: rgb(30.980392% 30.588235% 30.588235%);
    --palGray-92: rgb(31.372549% 30.980392% 30.980392%);
    --palGray-93: rgb(31.372549% 31.372549% 31.372549%);
    --palGray-94: rgb(31.764706% 31.764706% 31.372549%);
    --palGray-95: rgb(32.156863% 32.156863% 31.764706%);
    --palGray-96: rgb(32.54902% 32.54902% 32.156863%);
    --palGray-97: rgb(32.941176% 32.941176% 32.54902%);
    --palGray-98: rgb(33.333333% 32.941176% 32.941176%);
    --palGray-99: rgb(33.72549% 33.333333% 33.333333%);
    --palGray-100: rgb(34.117647% 33.72549% 33.72549%);
    --palGray-101: rgb(34.509804% 34.117647% 34.117647%);
    --palGray-102: rgb(34.901961% 34.509804% 34.509804%);
    --palGray-103: rgb(35.294118% 34.901961% 34.901961%);
    --palGray-104: rgb(35.294118% 35.294118% 35.294118%);
    --palGray-105: rgb(35.686275% 35.686275% 35.294118%);
    --palGray-106: rgb(36.078431% 36.078431% 35.686275%);
    --palGray-107: rgb(36.470588% 36.470588% 36.078431%);
    --palGray-108: rgb(36.862745% 36.862745% 36.470588%);
    --palGray-109: rgb(37.254902% 36.862745% 36.862745%);
    --palGray-110: rgb(37.647059% 37.254902% 37.254902%);
    --palGray-111: rgb(38.039216% 37.647059% 37.647059%);
    --palGray-112: rgb(38.431373% 38.039216% 38.039216%);
    --palGray-113: rgb(38.823529% 38.431373% 38.431373%);
    --palGray-114: rgb(39.215686% 38.823529% 38.823529%);
    --palGray-115: rgb(39.607843% 39.215686% 39.215686%);
    --palGray-116: rgb(39.607843% 39.607843% 39.215686%);
    --palGray-117: rgb(40% 40% 39.607843%);
    --palGray-118: rgb(40.392157% 40.392157% 40%);
    --palGray-119: rgb(40.784314% 40.784314% 40.392157%);
    --palGray-120: rgb(41.176471% 41.176471% 40.784314%);
    --palGray-121: rgb(41.568627% 41.568627% 41.176471%);
    --palGray-122: rgb(41.960784% 41.960784% 41.568627%);
    --palGray-123: rgb(42.352941% 41.960784% 41.960784%);
    --palGray-124: rgb(42.745098% 42.352941% 42.352941%);
    --palGray-125: rgb(43.137255% 42.745098% 42.745098%);
    --palGray-126: rgb(43.529412% 43.137255% 43.137255%);
    --palGray-127: rgb(43.921569% 43.529412% 43.529412%);
    --palGray-128: rgb(44.313725% 43.921569% 43.921569%);
    --palGray-129: rgb(44.705882% 44.313725% 44.313725%);
    --palGray-130: rgb(45.098039% 44.705882% 44.313725%);
    --palGray-131: rgb(45.098039% 45.098039% 44.705882%);
    --palGray-132: rgb(45.490196% 45.490196% 45.098039%);
    --palGray-133: rgb(45.882353% 45.882353% 45.490196%);
    --palGray-134: rgb(46.27451% 46.27451% 45.882353%);
    --palGray-135: rgb(46.666667% 46.666667% 46.27451%);
    --palGray-136: rgb(47.058824% 47.058824% 46.666667%);
    --palGray-137: rgb(47.45098% 47.45098% 47.058824%);
    --palGray-138: rgb(47.843137% 47.843137% 47.45098%);
    --palGray-139: rgb(48.235294% 48.235294% 47.843137%);
    --palGray-140: rgb(48.627451% 48.627451% 48.235294%);
    --palGray-141: rgb(49.019608% 49.019608% 48.627451%);
    --palGray-142: rgb(49.411765% 49.019608% 49.019608%);
    --palGray-143: rgb(49.803922% 49.411765% 49.411765%);
    --palGray-144: rgb(50.196078% 49.803922% 49.803922%);
    --palGray-145: rgb(50.588235% 50.196078% 50.196078%);
    --palGray-146: rgb(50.980392% 50.588235% 50.588235%);
    --palGray-147: rgb(51.372549% 50.980392% 50.980392%);
    --palGray-148: rgb(51.764706% 51.372549% 51.372549%);
    --palGray-149: rgb(52.156863% 51.764706% 51.764706%);
    --palGray-150: rgb(52.54902% 52.156863% 52.156863%);
    --palGray-151: rgb(52.941176% 52.54902% 52.54902%);
    --palGray-152: rgb(53.333333% 52.941176% 52.941176%);
    --palGray-153: rgb(53.72549% 53.333333% 53.333333%);
    --palGray-154: rgb(54.117647% 53.72549% 53.72549%);
    --palGray-155: rgb(54.509804% 54.117647% 54.117647%);
    --palGray-156: rgb(54.901961% 54.509804% 54.509804%);
    --palGray-157: rgb(55.294118% 54.901961% 54.901961%);
    --palGray-158: rgb(55.686275% 55.294118% 55.294118%);
    --palGray-159: rgb(56.078431% 55.686275% 55.686275%);
    --palGray-160: rgb(56.470588% 56.078431% 56.078431%);
    --palGray-161: rgb(56.862745% 56.470588% 56.470588%);
    --palGray-162: rgb(57.254902% 56.862745% 56.862745%);
    --palGray-163: rgb(57.647059% 57.254902% 57.254902%);
    --palGray-164: rgb(58.039216% 57.647059% 57.647059%);
    --palGray-165: rgb(58.431373% 58.039216% 58.039216%);
    --palGray-166: rgb(58.823529% 58.431373% 58.431373%);
    --palGray-167: rgb(59.215686% 58.823529% 58.823529%);
    --palGray-168: rgb(59.607843% 59.215686% 59.215686%);
    --palGray-169: rgb(60% 59.607843% 59.607843%);
    --palGray-170: rgb(60.392157% 60% 60%);
    --palGray-171: rgb(60.784314% 60.392157% 60.392157%);
    --palGray-172: rgb(61.176471% 60.784314% 60.784314%);
    --palGray-173: rgb(61.568627% 61.568627% 61.176471%);
    --palGray-174: rgb(61.960784% 61.960784% 61.568627%);
    --palGray-175: rgb(62.352941% 62.352941% 61.960784%);
    --palGray-176: rgb(62.745098% 62.745098% 62.352941%);
    --palGray-177: rgb(63.137255% 63.137255% 62.745098%);
    --palGray-178: rgb(63.529412% 63.529412% 63.137255%);
    --palGray-179: rgb(63.921569% 63.921569% 63.529412%);
    --palGray-180: rgb(64.313725% 64.313725% 63.921569%);
    --palGray-181: rgb(64.705882% 64.705882% 64.313725%);
    --palGray-182: rgb(65.098039% 65.098039% 64.705882%);
    --palGray-183: rgb(65.490196% 65.490196% 65.098039%);
    --palGray-184: rgb(65.882353% 65.882353% 65.490196%);
    --palGray-185: rgb(66.666667% 66.27451% 65.882353%);
    --palGray-186: rgb(67.058824% 66.666667% 66.27451%);
    --palGray-187: rgb(67.45098% 67.058824% 66.666667%);
    --palGray-188: rgb(67.843137% 67.45098% 67.45098%);
    --palGray-189: rgb(68.235294% 67.843137% 67.843137%);
    --palGray-190: rgb(68.627451% 68.627451% 68.235294%);
    --palGray-191: rgb(69.019608% 69.019608% 68.627451%);
    --palGray-192: rgb(69.411765% 69.411765% 69.019608%);
    --palGray-193: rgb(69.803922% 69.803922% 69.411765%);
    --palGray-194: rgb(70.196078% 70.196078% 69.803922%);
    --palGray-195: rgb(70.588235% 70.588235% 70.196078%);
    --palGray-196: rgb(71.372549% 70.980392% 70.588235%);
    --palGray-197: rgb(71.764706% 71.372549% 70.980392%);
    --palGray-198: rgb(72.156863% 71.764706% 71.372549%);
    --palGray-199: rgb(72.54902% 72.54902% 72.156863%);
    --palGray-200: rgb(72.941176% 72.941176% 72.54902%);
    --palGray-201: rgb(73.333333% 73.333333% 72.941176%);
    --palGray-202: rgb(73.72549% 73.72549% 73.333333%);
    --palGray-203: rgb(74.117647% 74.117647% 73.72549%);
    --palGray-204: rgb(74.509804% 74.509804% 74.117647%);
    --palGray-205: rgb(75.294118% 74.901961% 74.509804%);
    --palGray-206: rgb(75.686275% 75.294118% 74.901961%);
    --palGray-207: rgb(76.078431% 76.078431% 75.686275%);
    --palGray-208: rgb(76.470588% 76.470588% 76.078431%);
    --palGray-209: rgb(76.862745% 76.862745% 76.470588%);
    --palGray-210: rgb(77.254902% 77.254902% 76.862745%);
    --palGray-211: rgb(77.647059% 77.647059% 77.254902%);
    --palGray-212: rgb(78.431373% 78.039216% 77.647059%);
    --palGray-213: rgb(78.823529% 78.431373% 78.039216%);
    --palGray-214: rgb(79.215686% 79.215686% 78.823529%);
    --palGray-215: rgb(79.607843% 79.607843% 79.215686%);
    --palGray-216: rgb(80% 80% 79.607843%);
    --palGray-217: rgb(80.392157% 80.392157% 80%);
    --palGray-218: rgb(81.176471% 80.784314% 80.392157%);
    --palGray-219: rgb(81.568627% 81.568627% 80.784314%);
    --palGray-220: rgb(81.960784% 81.960784% 81.568627%);
    --palGray-221: rgb(82.352941% 82.352941% 81.960784%);
    --palGray-222: rgb(82.745098% 82.745098% 82.352941%);
    --palGray-223: rgb(83.529412% 83.137255% 82.745098%);
    --palGray-224: rgb(83.921569% 83.921569% 83.137255%);
    --palGray-225: rgb(84.313725% 84.313725% 83.921569%);
    --palGray-226: rgb(84.705882% 84.705882% 84.313725%);
    --palGray-227: rgb(85.098039% 85.098039% 84.705882%);
    --palGray-228: rgb(85.882353% 85.490196% 85.098039%);
    --palGray-229: rgb(86.27451% 86.27451% 85.882353%);
    --palGray-230: rgb(86.666667% 86.666667% 86.27451%);
    --palGray-231: rgb(87.058824% 87.058824% 86.666667%);
    --palGray-232: rgb(87.843137% 87.45098% 87.058824%);
    --palGray-233: rgb(88.235294% 88.235294% 87.45098%);
    --palGray-234: rgb(88.627451% 88.627451% 88.235294%);
    --palGray-235: rgb(89.019608% 89.019608% 88.627451%);
    --palGray-236: rgb(89.803922% 89.411765% 89.019608%);
    --palGray-237: rgb(90.196078% 90.196078% 89.411765%);
    --palGray-238: rgb(90.588235% 90.588235% 90.196078%);
    --palGray-239: rgb(90.980392% 90.980392% 90.588235%);
    --palGray-240: rgb(91.764706% 91.764706% 90.980392%);
    --palGray-241: rgb(92.156863% 92.156863% 91.764706%);
    --palGray-242: rgb(92.54902% 92.54902% 92.156863%);
    --palGray-243: rgb(93.333333% 92.941176% 92.54902%);
    --palGray-244: rgb(93.72549% 93.72549% 92.941176%);
    --palGray-245: rgb(94.117647% 94.117647% 93.72549%);
    --palGray-246: rgb(94.901961% 94.509804% 94.117647%);
    --palGray-247: rgb(95.294118% 95.294118% 94.509804%);
    --palGray-248: rgb(95.686275% 95.686275% 95.294118%);
    --palGray-249: rgb(96.078431% 96.078431% 95.686275%);
    --palGray-250: rgb(96.862745% 96.862745% 96.078431%);
    --palGray-251: rgb(97.254902% 97.254902% 96.862745%);
    --palGray-252: rgb(97.647059% 97.647059% 97.254902%);
    --palGray-253: rgb(98.431373% 98.431373% 97.647059%);
    --palGray-254: rgb(98.823529% 98.823529% 98.431373%);
    --palGray-255: rgb(99.607843% 99.215686% 98.823529%);
    --palGray-256: rgb(100% 100% 99.215686%);
}
