/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGreensCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palGreensCP-2: rgb(10.5882% 12.1569% 13.7255%);
    --palGreensCP-3: rgb(10.9804% 12.1569% 14.1176%);
    --palGreensCP-4: rgb(10.9804% 12.549% 14.1176%);
    --palGreensCP-5: rgb(11.3725% 12.549% 14.1176%);
    --palGreensCP-6: rgb(11.3725% 12.9412% 14.1176%);
    --palGreensCP-7: rgb(11.3725% 12.9412% 14.5098%);
    --palGreensCP-8: rgb(11.7647% 13.3333% 14.5098%);
    --palGreensCP-9: rgb(11.7647% 13.3333% 14.5098%);
    --palGreensCP-10: rgb(11.7647% 13.7255% 14.5098%);
    --palGreensCP-11: rgb(12.1569% 13.7255% 14.902%);
    --palGreensCP-12: rgb(12.1569% 14.1176% 14.902%);
    --palGreensCP-13: rgb(12.549% 14.1176% 14.902%);
    --palGreensCP-14: rgb(12.549% 14.5098% 14.902%);
    --palGreensCP-15: rgb(12.549% 14.5098% 15.2941%);
    --palGreensCP-16: rgb(12.9412% 14.902% 15.2941%);
    --palGreensCP-17: rgb(12.9412% 14.902% 15.2941%);
    --palGreensCP-18: rgb(12.9412% 15.2941% 15.6863%);
    --palGreensCP-19: rgb(13.3333% 15.2941% 15.6863%);
    --palGreensCP-20: rgb(13.3333% 15.6863% 15.6863%);
    --palGreensCP-21: rgb(13.7255% 16.0784% 15.6863%);
    --palGreensCP-22: rgb(13.7255% 16.0784% 16.0784%);
    --palGreensCP-23: rgb(13.7255% 16.4706% 16.0784%);
    --palGreensCP-24: rgb(14.1176% 16.4706% 16.0784%);
    --palGreensCP-25: rgb(14.1176% 16.8627% 16.0784%);
    --palGreensCP-26: rgb(14.1176% 16.8627% 16.4706%);
    --palGreensCP-27: rgb(14.5098% 17.2549% 16.4706%);
    --palGreensCP-28: rgb(14.5098% 17.2549% 16.4706%);
    --palGreensCP-29: rgb(14.902% 17.6471% 16.8627%);
    --palGreensCP-30: rgb(14.902% 17.6471% 16.8627%);
    --palGreensCP-31: rgb(14.902% 18.0392% 16.8627%);
    --palGreensCP-32: rgb(15.2941% 18.0392% 16.8627%);
    --palGreensCP-33: rgb(15.2941% 18.4314% 17.2549%);
    --palGreensCP-34: rgb(15.2941% 18.8235% 17.2549%);
    --palGreensCP-35: rgb(15.6863% 18.8235% 17.2549%);
    --palGreensCP-36: rgb(15.6863% 19.2157% 17.2549%);
    --palGreensCP-37: rgb(16.0784% 19.2157% 17.6471%);
    --palGreensCP-38: rgb(16.0784% 19.6078% 17.6471%);
    --palGreensCP-39: rgb(16.0784% 19.6078% 17.6471%);
    --palGreensCP-40: rgb(16.4706% 20% 17.6471%);
    --palGreensCP-41: rgb(16.4706% 20% 18.0392%);
    --palGreensCP-42: rgb(16.8627% 20.3922% 18.0392%);
    --palGreensCP-43: rgb(16.8627% 20.7843% 18.0392%);
    --palGreensCP-44: rgb(16.8627% 20.7843% 18.4314%);
    --palGreensCP-45: rgb(17.2549% 21.1765% 18.4314%);
    --palGreensCP-46: rgb(17.2549% 21.1765% 18.4314%);
    --palGreensCP-47: rgb(17.2549% 21.5686% 18.4314%);
    --palGreensCP-48: rgb(17.6471% 21.5686% 18.8235%);
    --palGreensCP-49: rgb(17.6471% 21.9608% 18.8235%);
    --palGreensCP-50: rgb(18.0392% 21.9608% 18.8235%);
    --palGreensCP-51: rgb(18.0392% 22.3529% 18.8235%);
    --palGreensCP-52: rgb(18.0392% 22.7451% 19.2157%);
    --palGreensCP-53: rgb(18.4314% 22.7451% 19.2157%);
    --palGreensCP-54: rgb(18.4314% 23.1373% 19.2157%);
    --palGreensCP-55: rgb(18.4314% 23.1373% 19.6078%);
    --palGreensCP-56: rgb(18.8235% 23.5294% 19.6078%);
    --palGreensCP-57: rgb(18.8235% 23.5294% 19.6078%);
    --palGreensCP-58: rgb(19.2157% 23.9216% 19.6078%);
    --palGreensCP-59: rgb(19.2157% 24.3137% 20%);
    --palGreensCP-60: rgb(19.2157% 24.3137% 20%);
    --palGreensCP-61: rgb(19.6078% 24.7059% 20%);
    --palGreensCP-62: rgb(19.6078% 24.7059% 20%);
    --palGreensCP-63: rgb(20% 25.098% 20.3922%);
    --palGreensCP-64: rgb(20% 25.098% 20.3922%);
    --palGreensCP-65: rgb(20% 25.4902% 20.3922%);
    --palGreensCP-66: rgb(20.3922% 25.8824% 20.7843%);
    --palGreensCP-67: rgb(20.3922% 25.8824% 20.7843%);
    --palGreensCP-68: rgb(20.3922% 26.2745% 20.7843%);
    --palGreensCP-69: rgb(20.7843% 26.2745% 20.7843%);
    --palGreensCP-70: rgb(20.7843% 26.6667% 21.1765%);
    --palGreensCP-71: rgb(21.1765% 26.6667% 21.1765%);
    --palGreensCP-72: rgb(21.1765% 27.0588% 21.1765%);
    --palGreensCP-73: rgb(21.1765% 27.451% 21.1765%);
    --palGreensCP-74: rgb(21.5686% 27.451% 21.5686%);
    --palGreensCP-75: rgb(21.5686% 27.8431% 21.5686%);
    --palGreensCP-76: rgb(21.9608% 27.8431% 21.5686%);
    --palGreensCP-77: rgb(21.9608% 28.2353% 21.9608%);
    --palGreensCP-78: rgb(21.9608% 28.6275% 21.9608%);
    --palGreensCP-79: rgb(22.3529% 28.6275% 21.9608%);
    --palGreensCP-80: rgb(22.3529% 29.0196% 21.9608%);
    --palGreensCP-81: rgb(22.3529% 29.0196% 22.3529%);
    --palGreensCP-82: rgb(22.7451% 29.4118% 22.3529%);
    --palGreensCP-83: rgb(22.7451% 29.4118% 22.3529%);
    --palGreensCP-84: rgb(23.1373% 29.8039% 22.3529%);
    --palGreensCP-85: rgb(23.1373% 30.1961% 22.7451%);
    --palGreensCP-86: rgb(23.1373% 30.1961% 22.7451%);
    --palGreensCP-87: rgb(23.5294% 30.5882% 22.7451%);
    --palGreensCP-88: rgb(23.5294% 30.5882% 23.1373%);
    --palGreensCP-89: rgb(23.9216% 30.9804% 23.1373%);
    --palGreensCP-90: rgb(23.9216% 31.3725% 23.1373%);
    --palGreensCP-91: rgb(23.9216% 31.3725% 23.1373%);
    --palGreensCP-92: rgb(24.3137% 31.7647% 23.5294%);
    --palGreensCP-93: rgb(24.3137% 31.7647% 23.5294%);
    --palGreensCP-94: rgb(24.7059% 32.1569% 23.5294%);
    --palGreensCP-95: rgb(24.7059% 32.549% 23.5294%);
    --palGreensCP-96: rgb(24.7059% 32.549% 23.9216%);
    --palGreensCP-97: rgb(25.098% 32.9412% 23.9216%);
    --palGreensCP-98: rgb(25.098% 32.9412% 23.9216%);
    --palGreensCP-99: rgb(25.098% 33.3333% 24.3137%);
    --palGreensCP-100: rgb(25.4902% 33.7255% 24.3137%);
    --palGreensCP-101: rgb(25.4902% 33.7255% 24.3137%);
    --palGreensCP-102: rgb(25.8824% 34.1176% 24.3137%);
    --palGreensCP-103: rgb(25.8824% 34.1176% 24.7059%);
    --palGreensCP-104: rgb(25.8824% 34.5098% 24.7059%);
    --palGreensCP-105: rgb(26.2745% 34.902% 24.7059%);
    --palGreensCP-106: rgb(26.2745% 34.902% 24.7059%);
    --palGreensCP-107: rgb(26.6667% 35.2941% 25.098%);
    --palGreensCP-108: rgb(26.6667% 35.2941% 25.098%);
    --palGreensCP-109: rgb(26.6667% 35.6863% 25.098%);
    --palGreensCP-110: rgb(27.0588% 36.0784% 25.4902%);
    --palGreensCP-111: rgb(27.0588% 36.0784% 25.4902%);
    --palGreensCP-112: rgb(27.451% 36.4706% 25.4902%);
    --palGreensCP-113: rgb(27.451% 36.4706% 25.4902%);
    --palGreensCP-114: rgb(27.451% 36.8627% 25.8824%);
    --palGreensCP-115: rgb(27.8431% 37.2549% 25.8824%);
    --palGreensCP-116: rgb(27.8431% 37.2549% 25.8824%);
    --palGreensCP-117: rgb(28.2353% 37.6471% 25.8824%);
    --palGreensCP-118: rgb(28.2353% 37.6471% 26.2745%);
    --palGreensCP-119: rgb(28.2353% 38.0392% 26.2745%);
    --palGreensCP-120: rgb(28.6275% 38.4314% 26.2745%);
    --palGreensCP-121: rgb(28.6275% 38.4314% 26.6667%);
    --palGreensCP-122: rgb(29.0196% 38.8235% 26.6667%);
    --palGreensCP-123: rgb(29.0196% 39.2157% 26.6667%);
    --palGreensCP-124: rgb(29.0196% 39.2157% 26.6667%);
    --palGreensCP-125: rgb(29.4118% 39.6078% 27.0588%);
    --palGreensCP-126: rgb(29.4118% 39.6078% 27.0588%);
    --palGreensCP-127: rgb(29.8039% 40% 27.0588%);
    --palGreensCP-128: rgb(29.8039% 40.3922% 27.0588%);
    --palGreensCP-129: rgb(29.8039% 40.3922% 27.451%);
    --palGreensCP-130: rgb(30.1961% 40.7843% 27.451%);
    --palGreensCP-131: rgb(30.1961% 41.1765% 27.451%);
    --palGreensCP-132: rgb(30.1961% 41.1765% 27.8431%);
    --palGreensCP-133: rgb(30.5882% 41.5686% 27.8431%);
    --palGreensCP-134: rgb(30.5882% 41.5686% 27.8431%);
    --palGreensCP-135: rgb(30.9804% 41.9608% 27.8431%);
    --palGreensCP-136: rgb(30.9804% 42.3529% 28.2353%);
    --palGreensCP-137: rgb(30.9804% 42.3529% 28.2353%);
    --palGreensCP-138: rgb(31.3725% 42.7451% 28.2353%);
    --palGreensCP-139: rgb(31.3725% 42.7451% 28.6275%);
    --palGreensCP-140: rgb(31.7647% 43.1373% 28.6275%);
    --palGreensCP-141: rgb(31.7647% 43.5294% 28.6275%);
    --palGreensCP-142: rgb(31.7647% 43.5294% 28.6275%);
    --palGreensCP-143: rgb(32.1569% 43.9216% 29.0196%);
    --palGreensCP-144: rgb(32.1569% 44.3137% 29.0196%);
    --palGreensCP-145: rgb(32.549% 44.3137% 29.0196%);
    --palGreensCP-146: rgb(32.549% 44.7059% 29.0196%);
    --palGreensCP-147: rgb(32.549% 45.098% 29.4118%);
    --palGreensCP-148: rgb(32.9412% 45.098% 29.4118%);
    --palGreensCP-149: rgb(32.9412% 45.4902% 29.4118%);
    --palGreensCP-150: rgb(33.3333% 45.4902% 29.8039%);
    --palGreensCP-151: rgb(33.3333% 45.8824% 29.8039%);
    --palGreensCP-152: rgb(33.3333% 46.2745% 29.8039%);
    --palGreensCP-153: rgb(33.7255% 46.2745% 29.8039%);
    --palGreensCP-154: rgb(33.7255% 46.6667% 30.1961%);
    --palGreensCP-155: rgb(34.1176% 47.0588% 30.1961%);
    --palGreensCP-156: rgb(34.1176% 47.0588% 30.1961%);
    --palGreensCP-157: rgb(34.5098% 47.451% 30.1961%);
    --palGreensCP-158: rgb(34.5098% 47.8431% 30.5882%);
    --palGreensCP-159: rgb(34.5098% 47.8431% 30.5882%);
    --palGreensCP-160: rgb(34.902% 48.2353% 30.5882%);
    --palGreensCP-161: rgb(34.902% 48.2353% 30.9804%);
    --palGreensCP-162: rgb(35.2941% 48.6275% 30.9804%);
    --palGreensCP-163: rgb(35.2941% 49.0196% 30.9804%);
    --palGreensCP-164: rgb(35.2941% 49.0196% 30.9804%);
    --palGreensCP-165: rgb(35.6863% 49.4118% 31.3725%);
    --palGreensCP-166: rgb(35.6863% 49.8039% 31.3725%);
    --palGreensCP-167: rgb(36.0784% 49.8039% 31.3725%);
    --palGreensCP-168: rgb(36.0784% 50.1961% 31.7647%);
    --palGreensCP-169: rgb(36.0784% 50.5882% 31.7647%);
    --palGreensCP-170: rgb(36.4706% 50.5882% 31.7647%);
    --palGreensCP-171: rgb(36.4706% 50.9804% 31.7647%);
    --palGreensCP-172: rgb(36.8627% 51.3725% 32.1569%);
    --palGreensCP-173: rgb(36.8627% 51.3725% 32.1569%);
    --palGreensCP-174: rgb(36.8627% 51.7647% 32.1569%);
    --palGreensCP-175: rgb(37.2549% 51.7647% 32.1569%);
    --palGreensCP-176: rgb(37.2549% 52.1569% 32.549%);
    --palGreensCP-177: rgb(37.6471% 52.549% 32.549%);
    --palGreensCP-178: rgb(37.6471% 52.549% 32.549%);
    --palGreensCP-179: rgb(37.6471% 52.9412% 32.9412%);
    --palGreensCP-180: rgb(38.0392% 53.3333% 32.9412%);
    --palGreensCP-181: rgb(38.0392% 53.3333% 32.9412%);
    --palGreensCP-182: rgb(38.4314% 53.7255% 32.9412%);
    --palGreensCP-183: rgb(38.4314% 54.1176% 33.3333%);
    --palGreensCP-184: rgb(38.4314% 54.1176% 33.3333%);
    --palGreensCP-185: rgb(38.8235% 54.5098% 33.3333%);
    --palGreensCP-186: rgb(38.8235% 54.902% 33.7255%);
    --palGreensCP-187: rgb(39.2157% 54.902% 33.7255%);
    --palGreensCP-188: rgb(39.2157% 55.2941% 33.7255%);
    --palGreensCP-189: rgb(39.6078% 55.6863% 33.7255%);
    --palGreensCP-190: rgb(39.6078% 55.6863% 34.1176%);
    --palGreensCP-191: rgb(39.6078% 56.0784% 34.1176%);
    --palGreensCP-192: rgb(40% 56.4706% 34.1176%);
    --palGreensCP-193: rgb(40% 56.4706% 34.5098%);
    --palGreensCP-194: rgb(40.3922% 56.8627% 34.5098%);
    --palGreensCP-195: rgb(40.3922% 57.2549% 34.5098%);
    --palGreensCP-196: rgb(40.3922% 57.2549% 34.5098%);
    --palGreensCP-197: rgb(40.7843% 57.6471% 34.902%);
    --palGreensCP-198: rgb(40.7843% 58.0392% 34.902%);
    --palGreensCP-199: rgb(41.1765% 58.0392% 34.902%);
    --palGreensCP-200: rgb(41.1765% 58.4314% 34.902%);
    --palGreensCP-201: rgb(41.1765% 58.4314% 35.2941%);
    --palGreensCP-202: rgb(41.5686% 58.8235% 35.2941%);
    --palGreensCP-203: rgb(41.5686% 59.2157% 35.2941%);
    --palGreensCP-204: rgb(41.9608% 59.2157% 35.6863%);
    --palGreensCP-205: rgb(41.9608% 59.6078% 35.6863%);
    --palGreensCP-206: rgb(42.3529% 60% 35.6863%);
    --palGreensCP-207: rgb(42.3529% 60% 35.6863%);
    --palGreensCP-208: rgb(42.3529% 60.3922% 36.0784%);
    --palGreensCP-209: rgb(42.7451% 60.7843% 36.0784%);
    --palGreensCP-210: rgb(42.7451% 60.7843% 36.0784%);
    --palGreensCP-211: rgb(43.1373% 61.1765% 36.4706%);
    --palGreensCP-212: rgb(43.1373% 61.5686% 36.4706%);
    --palGreensCP-213: rgb(43.1373% 61.5686% 36.4706%);
    --palGreensCP-214: rgb(43.5294% 61.9608% 36.4706%);
    --palGreensCP-215: rgb(43.5294% 62.3529% 36.8627%);
    --palGreensCP-216: rgb(43.9216% 62.3529% 36.8627%);
    --palGreensCP-217: rgb(43.9216% 62.7451% 36.8627%);
    --palGreensCP-218: rgb(43.9216% 63.1373% 37.2549%);
    --palGreensCP-219: rgb(44.3137% 63.1373% 37.2549%);
    --palGreensCP-220: rgb(44.3137% 63.5294% 37.2549%);
    --palGreensCP-221: rgb(44.7059% 63.9216% 37.2549%);
    --palGreensCP-222: rgb(44.7059% 64.3137% 37.6471%);
    --palGreensCP-223: rgb(45.098% 64.3137% 37.6471%);
    --palGreensCP-224: rgb(45.098% 64.7059% 37.6471%);
    --palGreensCP-225: rgb(45.098% 65.098% 38.0392%);
    --palGreensCP-226: rgb(45.4902% 65.098% 38.0392%);
    --palGreensCP-227: rgb(45.4902% 65.4902% 38.0392%);
    --palGreensCP-228: rgb(45.8824% 65.8824% 38.0392%);
    --palGreensCP-229: rgb(45.8824% 65.8824% 38.4314%);
    --palGreensCP-230: rgb(45.8824% 66.2745% 38.4314%);
    --palGreensCP-231: rgb(46.2745% 66.6667% 38.4314%);
    --palGreensCP-232: rgb(46.2745% 66.6667% 38.4314%);
    --palGreensCP-233: rgb(46.6667% 67.0588% 38.8235%);
    --palGreensCP-234: rgb(46.6667% 67.451% 38.8235%);
    --palGreensCP-235: rgb(47.0588% 67.451% 38.8235%);
    --palGreensCP-236: rgb(47.0588% 67.8431% 39.2157%);
    --palGreensCP-237: rgb(47.0588% 68.2353% 39.2157%);
    --palGreensCP-238: rgb(47.451% 68.2353% 39.2157%);
    --palGreensCP-239: rgb(47.451% 68.6275% 39.2157%);
    --palGreensCP-240: rgb(47.8431% 69.0196% 39.6078%);
    --palGreensCP-241: rgb(47.8431% 69.0196% 39.6078%);
    --palGreensCP-242: rgb(48.2353% 69.4118% 39.6078%);
    --palGreensCP-243: rgb(48.2353% 69.8039% 40%);
    --palGreensCP-244: rgb(48.2353% 69.8039% 40%);
    --palGreensCP-245: rgb(48.6275% 70.1961% 40%);
    --palGreensCP-246: rgb(48.6275% 70.5882% 40%);
    --palGreensCP-247: rgb(49.0196% 70.9804% 40.3922%);
    --palGreensCP-248: rgb(49.0196% 70.9804% 40.3922%);
    --palGreensCP-249: rgb(49.0196% 71.3725% 40.3922%);
    --palGreensCP-250: rgb(49.4118% 71.7647% 40.7843%);
    --palGreensCP-251: rgb(49.4118% 71.7647% 40.7843%);
    --palGreensCP-252: rgb(49.8039% 72.1569% 40.7843%);
    --palGreensCP-253: rgb(49.8039% 72.549% 40.7843%);
    --palGreensCP-254: rgb(50.1961% 72.549% 41.1765%);
    --palGreensCP-255: rgb(50.1961% 72.9412% 41.1765%);
}
