/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGreenCGry1-1: rgb(43.75% 50.78125% 6.640625%);
    --palGreenCGry1-2: rgb(44.140625% 51.171875% 7.03125%);
    --palGreenCGry1-3: rgb(44.140625% 51.171875% 7.421875%);
    --palGreenCGry1-4: rgb(44.53125% 51.5625% 7.8125%);
    --palGreenCGry1-5: rgb(44.53125% 51.953125% 8.203125%);
    --palGreenCGry1-6: rgb(44.921875% 51.953125% 8.59375%);
    --palGreenCGry1-7: rgb(44.921875% 52.34375% 8.984375%);
    --palGreenCGry1-8: rgb(45.3125% 52.734375% 8.984375%);
    --palGreenCGry1-9: rgb(45.3125% 52.734375% 9.375%);
    --palGreenCGry1-10: rgb(45.703125% 53.125% 9.765625%);
    --palGreenCGry1-11: rgb(46.09375% 53.515625% 10.15625%);
    --palGreenCGry1-12: rgb(46.09375% 53.515625% 10.546875%);
    --palGreenCGry1-13: rgb(46.484375% 53.90625% 10.546875%);
    --palGreenCGry1-14: rgb(46.484375% 54.296875% 10.9375%);
    --palGreenCGry1-15: rgb(46.875% 54.296875% 11.328125%);
    --palGreenCGry1-16: rgb(46.875% 54.6875% 11.71875%);
    --palGreenCGry1-17: rgb(47.265625% 55.078125% 11.71875%);
    --palGreenCGry1-18: rgb(47.265625% 55.46875% 12.109375%);
    --palGreenCGry1-19: rgb(47.65625% 55.46875% 12.5%);
    --palGreenCGry1-20: rgb(47.65625% 55.859375% 12.890625%);
    --palGreenCGry1-21: rgb(48.046875% 56.25% 12.890625%);
    --palGreenCGry1-22: rgb(48.4375% 56.25% 13.28125%);
    --palGreenCGry1-23: rgb(48.4375% 56.640625% 13.671875%);
    --palGreenCGry1-24: rgb(48.828125% 57.03125% 14.0625%);
    --palGreenCGry1-25: rgb(48.828125% 57.03125% 14.0625%);
    --palGreenCGry1-26: rgb(49.21875% 57.421875% 14.453125%);
    --palGreenCGry1-27: rgb(49.21875% 57.8125% 14.84375%);
    --palGreenCGry1-28: rgb(49.609375% 57.8125% 15.234375%);
    --palGreenCGry1-29: rgb(49.609375% 58.203125% 15.234375%);
    --palGreenCGry1-30: rgb(50% 58.59375% 15.625%);
    --palGreenCGry1-31: rgb(50% 58.984375% 16.015625%);
    --palGreenCGry1-32: rgb(50.390625% 58.984375% 16.015625%);
    --palGreenCGry1-33: rgb(50.78125% 59.375% 16.40625%);
    --palGreenCGry1-34: rgb(50.78125% 59.765625% 16.796875%);
    --palGreenCGry1-35: rgb(51.171875% 59.765625% 16.796875%);
    --palGreenCGry1-36: rgb(51.171875% 60.15625% 17.1875%);
    --palGreenCGry1-37: rgb(51.5625% 60.546875% 17.578125%);
    --palGreenCGry1-38: rgb(51.5625% 60.546875% 17.96875%);
    --palGreenCGry1-39: rgb(51.953125% 60.9375% 17.96875%);
    --palGreenCGry1-40: rgb(51.953125% 61.328125% 18.359375%);
    --palGreenCGry1-41: rgb(52.34375% 61.328125% 18.75%);
    --palGreenCGry1-42: rgb(52.34375% 61.71875% 18.75%);
    --palGreenCGry1-43: rgb(52.734375% 62.109375% 19.140625%);
    --palGreenCGry1-44: rgb(53.125% 62.5% 19.53125%);
    --palGreenCGry1-45: rgb(53.125% 62.5% 19.53125%);
    --palGreenCGry1-46: rgb(53.515625% 62.890625% 19.921875%);
    --palGreenCGry1-47: rgb(53.515625% 63.28125% 20.3125%);
    --palGreenCGry1-48: rgb(53.90625% 63.28125% 20.3125%);
    --palGreenCGry1-49: rgb(53.90625% 63.671875% 20.703125%);
    --palGreenCGry1-50: rgb(54.296875% 64.0625% 21.09375%);
    --palGreenCGry1-51: rgb(54.296875% 64.453125% 21.09375%);
    --palGreenCGry1-52: rgb(54.6875% 64.453125% 21.484375%);
    --palGreenCGry1-53: rgb(55.078125% 64.84375% 21.875%);
    --palGreenCGry1-54: rgb(55.078125% 65.234375% 21.875%);
    --palGreenCGry1-55: rgb(55.46875% 65.234375% 22.265625%);
    --palGreenCGry1-56: rgb(55.46875% 65.625% 22.65625%);
    --palGreenCGry1-57: rgb(55.859375% 66.015625% 22.65625%);
    --palGreenCGry1-58: rgb(55.859375% 66.40625% 23.046875%);
    --palGreenCGry1-59: rgb(56.25% 66.40625% 23.4375%);
    --palGreenCGry1-60: rgb(56.25% 66.796875% 23.4375%);
    --palGreenCGry1-61: rgb(56.640625% 67.1875% 23.828125%);
    --palGreenCGry1-62: rgb(57.03125% 67.1875% 24.21875%);
    --palGreenCGry1-63: rgb(57.03125% 67.578125% 24.21875%);
    --palGreenCGry1-64: rgb(57.421875% 67.96875% 24.609375%);
    --palGreenCGry1-65: rgb(57.421875% 68.359375% 25%);
    --palGreenCGry1-66: rgb(57.8125% 68.359375% 25%);
    --palGreenCGry1-67: rgb(57.8125% 68.75% 25.390625%);
    --palGreenCGry1-68: rgb(58.203125% 69.140625% 25.78125%);
    --palGreenCGry1-69: rgb(58.203125% 69.140625% 25.78125%);
    --palGreenCGry1-70: rgb(58.59375% 69.53125% 26.171875%);
    --palGreenCGry1-71: rgb(58.59375% 69.921875% 26.5625%);
    --palGreenCGry1-72: rgb(58.984375% 70.3125% 26.5625%);
    --palGreenCGry1-73: rgb(59.375% 70.3125% 26.953125%);
    --palGreenCGry1-74: rgb(59.375% 70.703125% 27.34375%);
    --palGreenCGry1-75: rgb(59.765625% 71.09375% 27.34375%);
    --palGreenCGry1-76: rgb(59.765625% 71.09375% 27.734375%);
    --palGreenCGry1-77: rgb(60.15625% 71.484375% 28.125%);
    --palGreenCGry1-78: rgb(60.15625% 71.875% 28.125%);
    --palGreenCGry1-79: rgb(60.546875% 72.265625% 28.515625%);
    --palGreenCGry1-80: rgb(60.546875% 72.265625% 28.90625%);
    --palGreenCGry1-81: rgb(60.9375% 72.65625% 28.90625%);
    --palGreenCGry1-82: rgb(61.328125% 73.046875% 29.296875%);
    --palGreenCGry1-83: rgb(61.328125% 73.046875% 29.6875%);
    --palGreenCGry1-84: rgb(61.71875% 73.4375% 29.6875%);
    --palGreenCGry1-85: rgb(61.71875% 73.828125% 30.078125%);
    --palGreenCGry1-86: rgb(62.109375% 74.21875% 30.46875%);
    --palGreenCGry1-87: rgb(62.109375% 74.21875% 30.46875%);
    --palGreenCGry1-88: rgb(62.5% 74.21875% 30.46875%);
    --palGreenCGry1-89: rgb(62.5% 74.609375% 30.46875%);
    --palGreenCGry1-90: rgb(62.890625% 74.609375% 30.46875%);
    --palGreenCGry1-91: rgb(62.890625% 74.609375% 30.46875%);
    --palGreenCGry1-92: rgb(63.28125% 74.609375% 30.46875%);
    --palGreenCGry1-93: rgb(63.28125% 75% 30.46875%);
    --palGreenCGry1-94: rgb(63.671875% 75% 30.46875%);
    --palGreenCGry1-95: rgb(63.671875% 75% 30.46875%);
    --palGreenCGry1-96: rgb(63.671875% 75.390625% 30.46875%);
    --palGreenCGry1-97: rgb(64.0625% 75.390625% 30.46875%);
    --palGreenCGry1-98: rgb(64.0625% 75.390625% 30.46875%);
    --palGreenCGry1-99: rgb(64.453125% 75.78125% 30.859375%);
    --palGreenCGry1-100: rgb(64.453125% 75.78125% 30.859375%);
    --palGreenCGry1-101: rgb(64.84375% 75.78125% 30.859375%);
    --palGreenCGry1-102: rgb(64.84375% 76.171875% 30.859375%);
    --palGreenCGry1-103: rgb(65.234375% 76.171875% 30.859375%);
    --palGreenCGry1-104: rgb(65.234375% 76.171875% 30.859375%);
    --palGreenCGry1-105: rgb(65.625% 76.171875% 30.859375%);
    --palGreenCGry1-106: rgb(65.625% 76.5625% 30.859375%);
    --palGreenCGry1-107: rgb(66.015625% 76.5625% 30.859375%);
    --palGreenCGry1-108: rgb(66.015625% 76.5625% 30.859375%);
    --palGreenCGry1-109: rgb(66.015625% 76.953125% 30.859375%);
    --palGreenCGry1-110: rgb(66.40625% 76.953125% 30.859375%);
    --palGreenCGry1-111: rgb(66.40625% 76.953125% 30.859375%);
    --palGreenCGry1-112: rgb(66.796875% 77.34375% 31.25%);
    --palGreenCGry1-113: rgb(66.796875% 77.34375% 31.25%);
    --palGreenCGry1-114: rgb(67.1875% 77.34375% 31.25%);
    --palGreenCGry1-115: rgb(67.1875% 77.34375% 31.25%);
    --palGreenCGry1-116: rgb(67.578125% 77.734375% 31.25%);
    --palGreenCGry1-117: rgb(67.578125% 77.734375% 31.25%);
    --palGreenCGry1-118: rgb(67.96875% 77.734375% 31.25%);
    --palGreenCGry1-119: rgb(67.96875% 78.125% 31.25%);
    --palGreenCGry1-120: rgb(68.359375% 78.125% 31.25%);
    --palGreenCGry1-121: rgb(68.359375% 78.125% 31.25%);
    --palGreenCGry1-122: rgb(68.359375% 78.515625% 31.25%);
    --palGreenCGry1-123: rgb(68.75% 78.515625% 31.25%);
    --palGreenCGry1-124: rgb(68.75% 78.515625% 31.25%);
    --palGreenCGry1-125: rgb(69.140625% 78.515625% 31.640625%);
    --palGreenCGry1-126: rgb(69.140625% 78.90625% 31.640625%);
    --palGreenCGry1-127: rgb(69.53125% 78.90625% 31.640625%);
    --palGreenCGry1-128: rgb(69.53125% 78.90625% 31.640625%);
    --palGreenCGry1-129: rgb(69.921875% 79.296875% 31.640625%);
    --palGreenCGry1-130: rgb(69.921875% 79.296875% 31.640625%);
    --palGreenCGry1-131: rgb(70.3125% 79.296875% 31.640625%);
    --palGreenCGry1-132: rgb(70.3125% 79.6875% 31.640625%);
    --palGreenCGry1-133: rgb(70.703125% 79.6875% 31.640625%);
    --palGreenCGry1-134: rgb(70.703125% 79.6875% 31.640625%);
    --palGreenCGry1-135: rgb(70.703125% 80.078125% 31.640625%);
    --palGreenCGry1-136: rgb(71.09375% 80.078125% 31.640625%);
    --palGreenCGry1-137: rgb(71.09375% 80.078125% 31.640625%);
    --palGreenCGry1-138: rgb(71.484375% 80.078125% 32.03125%);
    --palGreenCGry1-139: rgb(71.484375% 80.46875% 32.03125%);
    --palGreenCGry1-140: rgb(71.875% 80.46875% 32.03125%);
    --palGreenCGry1-141: rgb(71.875% 80.46875% 32.03125%);
    --palGreenCGry1-142: rgb(72.265625% 80.859375% 32.03125%);
    --palGreenCGry1-143: rgb(72.265625% 80.859375% 32.03125%);
    --palGreenCGry1-144: rgb(72.65625% 80.859375% 32.03125%);
    --palGreenCGry1-145: rgb(72.65625% 81.25% 32.03125%);
    --palGreenCGry1-146: rgb(73.046875% 81.25% 32.03125%);
    --palGreenCGry1-147: rgb(73.046875% 81.25% 32.03125%);
    --palGreenCGry1-148: rgb(73.4375% 81.640625% 32.03125%);
    --palGreenCGry1-149: rgb(73.4375% 81.640625% 32.03125%);
    --palGreenCGry1-150: rgb(73.4375% 81.640625% 32.03125%);
    --palGreenCGry1-151: rgb(73.828125% 81.640625% 32.03125%);
    --palGreenCGry1-152: rgb(73.828125% 82.03125% 32.421875%);
    --palGreenCGry1-153: rgb(74.21875% 82.03125% 32.421875%);
    --palGreenCGry1-154: rgb(74.21875% 82.03125% 32.421875%);
    --palGreenCGry1-155: rgb(74.609375% 82.421875% 32.421875%);
    --palGreenCGry1-156: rgb(74.609375% 82.421875% 32.421875%);
    --palGreenCGry1-157: rgb(75% 82.421875% 32.421875%);
    --palGreenCGry1-158: rgb(75% 82.8125% 32.421875%);
    --palGreenCGry1-159: rgb(75.390625% 82.8125% 32.421875%);
    --palGreenCGry1-160: rgb(75.390625% 82.8125% 32.421875%);
    --palGreenCGry1-161: rgb(75.78125% 82.8125% 32.421875%);
    --palGreenCGry1-162: rgb(75.78125% 83.203125% 32.421875%);
    --palGreenCGry1-163: rgb(75.78125% 83.203125% 32.421875%);
    --palGreenCGry1-164: rgb(76.171875% 83.203125% 32.421875%);
    --palGreenCGry1-165: rgb(76.171875% 83.59375% 32.8125%);
    --palGreenCGry1-166: rgb(76.5625% 83.59375% 32.8125%);
    --palGreenCGry1-167: rgb(76.5625% 83.59375% 32.8125%);
    --palGreenCGry1-168: rgb(76.953125% 83.984375% 32.8125%);
    --palGreenCGry1-169: rgb(76.953125% 83.984375% 32.8125%);
    --palGreenCGry1-170: rgb(77.34375% 83.984375% 32.8125%);
    --palGreenCGry1-171: rgb(77.34375% 84.375% 32.8125%);
    --palGreenCGry1-172: rgb(77.734375% 84.375% 33.203125%);
    --palGreenCGry1-173: rgb(77.734375% 84.375% 33.984375%);
    --palGreenCGry1-174: rgb(78.125% 84.765625% 34.765625%);
    --palGreenCGry1-175: rgb(78.515625% 84.765625% 35.15625%);
    --palGreenCGry1-176: rgb(78.515625% 85.15625% 35.546875%);
    --palGreenCGry1-177: rgb(78.90625% 85.15625% 36.328125%);
    --palGreenCGry1-178: rgb(78.90625% 85.546875% 36.71875%);
    --palGreenCGry1-179: rgb(79.296875% 85.546875% 37.5%);
    --palGreenCGry1-180: rgb(79.6875% 85.9375% 37.890625%);
    --palGreenCGry1-181: rgb(79.6875% 85.9375% 38.671875%);
    --palGreenCGry1-182: rgb(80.078125% 86.328125% 39.0625%);
    --palGreenCGry1-183: rgb(80.078125% 86.328125% 39.84375%);
    --palGreenCGry1-184: rgb(80.46875% 86.328125% 40.234375%);
    --palGreenCGry1-185: rgb(80.46875% 86.71875% 41.015625%);
    --palGreenCGry1-186: rgb(80.859375% 86.71875% 41.40625%);
    --palGreenCGry1-187: rgb(81.25% 87.109375% 41.796875%);
    --palGreenCGry1-188: rgb(81.25% 87.109375% 42.578125%);
    --palGreenCGry1-189: rgb(81.640625% 87.5% 42.96875%);
    --palGreenCGry1-190: rgb(81.640625% 87.5% 43.75%);
    --palGreenCGry1-191: rgb(82.03125% 87.890625% 44.140625%);
    --palGreenCGry1-192: rgb(82.421875% 87.890625% 44.921875%);
    --palGreenCGry1-193: rgb(82.421875% 87.890625% 45.3125%);
    --palGreenCGry1-194: rgb(82.8125% 88.28125% 45.703125%);
    --palGreenCGry1-195: rgb(82.8125% 88.28125% 46.484375%);
    --palGreenCGry1-196: rgb(83.203125% 88.671875% 46.875%);
    --palGreenCGry1-197: rgb(83.203125% 88.671875% 47.65625%);
    --palGreenCGry1-198: rgb(83.59375% 89.0625% 48.046875%);
    --palGreenCGry1-199: rgb(83.59375% 89.0625% 48.4375%);
    --palGreenCGry1-200: rgb(83.984375% 89.453125% 49.21875%);
    --palGreenCGry1-201: rgb(84.375% 89.453125% 49.609375%);
    --palGreenCGry1-202: rgb(84.375% 89.84375% 50%);
    --palGreenCGry1-203: rgb(84.765625% 89.84375% 50.78125%);
    --palGreenCGry1-204: rgb(84.765625% 89.84375% 51.171875%);
    --palGreenCGry1-205: rgb(85.15625% 90.234375% 51.953125%);
    --palGreenCGry1-206: rgb(85.15625% 90.234375% 52.34375%);
    --palGreenCGry1-207: rgb(85.546875% 90.625% 52.734375%);
    --palGreenCGry1-208: rgb(85.546875% 90.625% 53.515625%);
    --palGreenCGry1-209: rgb(85.9375% 91.015625% 53.90625%);
    --palGreenCGry1-210: rgb(85.9375% 91.015625% 54.296875%);
    --palGreenCGry1-211: rgb(86.328125% 91.40625% 55.078125%);
    --palGreenCGry1-212: rgb(86.71875% 91.40625% 55.46875%);
    --palGreenCGry1-213: rgb(86.71875% 91.796875% 56.25%);
    --palGreenCGry1-214: rgb(87.109375% 91.796875% 56.640625%);
    --palGreenCGry1-215: rgb(87.109375% 92.1875% 57.03125%);
    --palGreenCGry1-216: rgb(87.5% 92.1875% 57.8125%);
    --palGreenCGry1-217: rgb(87.5% 92.1875% 58.203125%);
    --palGreenCGry1-218: rgb(87.890625% 92.578125% 58.59375%);
    --palGreenCGry1-219: rgb(87.890625% 92.578125% 59.375%);
    --palGreenCGry1-220: rgb(88.28125% 92.96875% 59.765625%);
    --palGreenCGry1-221: rgb(88.28125% 92.96875% 60.15625%);
    --palGreenCGry1-222: rgb(88.671875% 93.359375% 60.9375%);
    --palGreenCGry1-223: rgb(88.671875% 93.359375% 61.328125%);
    --palGreenCGry1-224: rgb(89.0625% 93.75% 61.71875%);
    --palGreenCGry1-225: rgb(89.0625% 93.75% 62.5%);
    --palGreenCGry1-226: rgb(89.453125% 94.140625% 62.890625%);
    --palGreenCGry1-227: rgb(89.453125% 94.140625% 63.671875%);
    --palGreenCGry1-228: rgb(89.84375% 94.140625% 64.0625%);
    --palGreenCGry1-229: rgb(89.84375% 94.53125% 64.453125%);
    --palGreenCGry1-230: rgb(90.234375% 94.53125% 65.234375%);
    --palGreenCGry1-231: rgb(90.625% 94.921875% 65.625%);
    --palGreenCGry1-232: rgb(90.625% 94.921875% 66.015625%);
    --palGreenCGry1-233: rgb(91.015625% 95.3125% 66.796875%);
    --palGreenCGry1-234: rgb(91.015625% 95.3125% 67.1875%);
    --palGreenCGry1-235: rgb(91.40625% 95.703125% 67.578125%);
    --palGreenCGry1-236: rgb(91.40625% 95.703125% 68.359375%);
    --palGreenCGry1-237: rgb(91.796875% 96.09375% 68.75%);
    --palGreenCGry1-238: rgb(91.796875% 96.09375% 69.140625%);
    --palGreenCGry1-239: rgb(92.1875% 96.484375% 69.921875%);
    --palGreenCGry1-240: rgb(92.1875% 96.484375% 70.3125%);
    --palGreenCGry1-241: rgb(92.578125% 96.875% 70.703125%);
    --palGreenCGry1-242: rgb(92.578125% 96.875% 71.484375%);
    --palGreenCGry1-243: rgb(92.96875% 96.875% 71.875%);
    --palGreenCGry1-244: rgb(92.96875% 97.265625% 72.65625%);
    --palGreenCGry1-245: rgb(92.96875% 97.265625% 73.046875%);
    --palGreenCGry1-246: rgb(93.359375% 97.65625% 73.4375%);
    --palGreenCGry1-247: rgb(93.359375% 97.65625% 74.21875%);
    --palGreenCGry1-248: rgb(93.75% 98.046875% 74.609375%);
    --palGreenCGry1-249: rgb(93.75% 98.046875% 75%);
    --palGreenCGry1-250: rgb(94.140625% 98.4375% 75.78125%);
    --palGreenCGry1-251: rgb(94.140625% 98.4375% 76.171875%);
    --palGreenCGry1-252: rgb(94.53125% 98.828125% 76.5625%);
    --palGreenCGry1-253: rgb(94.53125% 98.828125% 77.34375%);
    --palGreenCGry1-254: rgb(94.921875% 99.21875% 77.734375%);
    --palGreenCGry1-255: rgb(94.921875% 99.21875% 78.125%);
    --palGreenCGry1-256: rgb(95.3125% 99.609375% 78.90625%);
}
