/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGreenOrange-1: rgb(19.607843% 63.529412% 31.764706%);
    --palGreenOrange-2: rgb(67.45098% 85.098039% 55.294118%);
    --palGreenOrange-3: rgb(100% 49.803922% 5.882353%);
    --palGreenOrange-4: rgb(100% 72.54902% 46.666667%);
    --palGreenOrange-5: rgb(23.529412% 71.764706% 80%);
    --palGreenOrange-6: rgb(59.607843% 85.098039% 89.411765%);
    --palGreenOrange-7: rgb(72.156863% 35.294118% 5.098039%);
    --palGreenOrange-8: rgb(100% 85.098039% 29.019608%);
    --palGreenOrange-9: rgb(22.352941% 45.098039% 48.627451%);
    --palGreenOrange-10: rgb(52.54902% 70.588235% 66.27451%);
    --palGreenOrange-11: rgb(50.980392% 52.156863% 23.137255%);
    --palGreenOrange-12: rgb(80% 78.823529% 30.196078%);
}
