/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGreenGreen6-1: rgb(85.15625% 89.84375% 80.859375%);
    --palGreenGreen6-2: rgb(84.375% 89.453125% 80.078125%);
    --palGreenGreen6-3: rgb(83.984375% 89.0625% 79.6875%);
    --palGreenGreen6-4: rgb(83.59375% 88.671875% 78.90625%);
    --palGreenGreen6-5: rgb(83.203125% 88.28125% 78.515625%);
    --palGreenGreen6-6: rgb(82.8125% 87.890625% 77.734375%);
    --palGreenGreen6-7: rgb(82.421875% 87.890625% 77.34375%);
    --palGreenGreen6-8: rgb(82.03125% 87.5% 76.953125%);
    --palGreenGreen6-9: rgb(81.640625% 87.109375% 76.171875%);
    --palGreenGreen6-10: rgb(81.25% 86.71875% 75.78125%);
    --palGreenGreen6-11: rgb(80.859375% 86.328125% 75%);
    --palGreenGreen6-12: rgb(80.078125% 85.9375% 74.609375%);
    --palGreenGreen6-13: rgb(79.6875% 85.9375% 74.21875%);
    --palGreenGreen6-14: rgb(79.296875% 85.546875% 73.4375%);
    --palGreenGreen6-15: rgb(78.90625% 85.15625% 73.046875%);
    --palGreenGreen6-16: rgb(78.515625% 84.765625% 72.265625%);
    --palGreenGreen6-17: rgb(78.125% 84.375% 71.875%);
    --palGreenGreen6-18: rgb(77.734375% 84.375% 71.09375%);
    --palGreenGreen6-19: rgb(77.34375% 83.984375% 70.703125%);
    --palGreenGreen6-20: rgb(76.953125% 83.59375% 70.3125%);
    --palGreenGreen6-21: rgb(76.5625% 83.203125% 69.53125%);
    --palGreenGreen6-22: rgb(75.78125% 82.8125% 69.140625%);
    --palGreenGreen6-23: rgb(75.390625% 82.421875% 68.359375%);
    --palGreenGreen6-24: rgb(75% 82.421875% 67.96875%);
    --palGreenGreen6-25: rgb(74.609375% 82.03125% 67.578125%);
    --palGreenGreen6-26: rgb(74.21875% 81.640625% 66.796875%);
    --palGreenGreen6-27: rgb(73.828125% 81.25% 66.40625%);
    --palGreenGreen6-28: rgb(73.4375% 80.859375% 66.015625%);
    --palGreenGreen6-29: rgb(73.046875% 80.859375% 65.234375%);
    --palGreenGreen6-30: rgb(72.65625% 80.46875% 64.84375%);
    --palGreenGreen6-31: rgb(72.265625% 80.078125% 64.453125%);
    --palGreenGreen6-32: rgb(71.875% 79.6875% 64.0625%);
    --palGreenGreen6-33: rgb(71.484375% 79.296875% 63.671875%);
    --palGreenGreen6-34: rgb(71.09375% 79.296875% 62.890625%);
    --palGreenGreen6-35: rgb(70.703125% 78.90625% 62.5%);
    --palGreenGreen6-36: rgb(70.3125% 78.515625% 62.109375%);
    --palGreenGreen6-37: rgb(69.921875% 78.125% 61.71875%);
    --palGreenGreen6-38: rgb(69.53125% 77.734375% 61.328125%);
    --palGreenGreen6-39: rgb(69.140625% 77.734375% 60.546875%);
    --palGreenGreen6-40: rgb(68.75% 77.34375% 60.15625%);
    --palGreenGreen6-41: rgb(68.359375% 76.953125% 59.765625%);
    --palGreenGreen6-42: rgb(67.96875% 76.5625% 59.375%);
    --palGreenGreen6-43: rgb(67.578125% 76.5625% 58.59375%);
    --palGreenGreen6-44: rgb(67.1875% 76.171875% 58.203125%);
    --palGreenGreen6-45: rgb(66.796875% 75.78125% 57.8125%);
    --palGreenGreen6-46: rgb(66.40625% 75.390625% 57.421875%);
    --palGreenGreen6-47: rgb(66.015625% 75% 57.03125%);
    --palGreenGreen6-48: rgb(65.625% 75% 56.25%);
    --palGreenGreen6-49: rgb(65.234375% 74.609375% 55.859375%);
    --palGreenGreen6-50: rgb(64.84375% 74.21875% 55.46875%);
    --palGreenGreen6-51: rgb(64.453125% 73.828125% 55.078125%);
    --palGreenGreen6-52: rgb(63.671875% 73.4375% 54.6875%);
    --palGreenGreen6-53: rgb(63.671875% 73.4375% 53.90625%);
    --palGreenGreen6-54: rgb(63.28125% 73.046875% 53.515625%);
    --palGreenGreen6-55: rgb(62.890625% 72.65625% 53.125%);
    --palGreenGreen6-56: rgb(62.5% 72.265625% 52.734375%);
    --palGreenGreen6-57: rgb(62.109375% 71.875% 52.34375%);
    --palGreenGreen6-58: rgb(61.71875% 71.875% 51.953125%);
    --palGreenGreen6-59: rgb(61.328125% 71.484375% 51.5625%);
    --palGreenGreen6-60: rgb(60.9375% 71.09375% 50.78125%);
    --palGreenGreen6-61: rgb(60.546875% 70.703125% 50.390625%);
    --palGreenGreen6-62: rgb(60.15625% 70.3125% 50%);
    --palGreenGreen6-63: rgb(59.765625% 69.921875% 49.609375%);
    --palGreenGreen6-64: rgb(59.375% 69.921875% 49.21875%);
    --palGreenGreen6-65: rgb(58.984375% 69.53125% 48.828125%);
    --palGreenGreen6-66: rgb(58.59375% 69.140625% 48.4375%);
    --palGreenGreen6-67: rgb(58.203125% 68.75% 47.65625%);
    --palGreenGreen6-68: rgb(57.8125% 68.359375% 47.265625%);
    --palGreenGreen6-69: rgb(57.421875% 68.359375% 46.875%);
    --palGreenGreen6-70: rgb(57.421875% 67.96875% 46.484375%);
    --palGreenGreen6-71: rgb(57.03125% 67.578125% 46.09375%);
    --palGreenGreen6-72: rgb(56.640625% 67.1875% 45.703125%);
    --palGreenGreen6-73: rgb(56.25% 66.796875% 45.3125%);
    --palGreenGreen6-74: rgb(55.859375% 66.40625% 44.53125%);
    --palGreenGreen6-75: rgb(55.46875% 66.40625% 44.140625%);
    --palGreenGreen6-76: rgb(55.078125% 66.015625% 43.75%);
    --palGreenGreen6-77: rgb(54.6875% 65.625% 43.359375%);
    --palGreenGreen6-78: rgb(54.296875% 65.234375% 42.96875%);
    --palGreenGreen6-79: rgb(53.90625% 64.84375% 42.578125%);
    --palGreenGreen6-80: rgb(53.515625% 64.84375% 42.1875%);
    --palGreenGreen6-81: rgb(53.125% 64.453125% 41.796875%);
    --palGreenGreen6-82: rgb(52.734375% 64.0625% 41.40625%);
    --palGreenGreen6-83: rgb(52.734375% 63.671875% 41.015625%);
    --palGreenGreen6-84: rgb(52.34375% 63.28125% 40.625%);
    --palGreenGreen6-85: rgb(51.953125% 63.28125% 40.234375%);
    --palGreenGreen6-86: rgb(51.5625% 62.890625% 39.84375%);
    --palGreenGreen6-87: rgb(51.171875% 62.5% 39.453125%);
    --palGreenGreen6-88: rgb(50.78125% 62.109375% 39.0625%);
    --palGreenGreen6-89: rgb(50.390625% 61.71875% 38.671875%);
    --palGreenGreen6-90: rgb(50% 61.71875% 38.28125%);
    --palGreenGreen6-91: rgb(49.609375% 61.328125% 37.890625%);
    --palGreenGreen6-92: rgb(49.21875% 60.9375% 37.5%);
    --palGreenGreen6-93: rgb(49.21875% 60.546875% 37.109375%);
    --palGreenGreen6-94: rgb(48.828125% 60.546875% 36.71875%);
    --palGreenGreen6-95: rgb(48.4375% 60.15625% 36.328125%);
    --palGreenGreen6-96: rgb(48.046875% 59.765625% 35.9375%);
    --palGreenGreen6-97: rgb(47.65625% 59.375% 35.546875%);
    --palGreenGreen6-98: rgb(47.265625% 58.984375% 35.15625%);
    --palGreenGreen6-99: rgb(46.875% 58.984375% 34.765625%);
    --palGreenGreen6-100: rgb(46.484375% 58.59375% 34.375%);
    --palGreenGreen6-101: rgb(46.09375% 58.203125% 33.984375%);
    --palGreenGreen6-102: rgb(45.703125% 57.8125% 33.59375%);
    --palGreenGreen6-103: rgb(45.703125% 57.421875% 33.59375%);
    --palGreenGreen6-104: rgb(45.3125% 57.421875% 33.203125%);
    --palGreenGreen6-105: rgb(44.921875% 57.03125% 32.8125%);
    --palGreenGreen6-106: rgb(44.53125% 56.640625% 32.421875%);
    --palGreenGreen6-107: rgb(44.140625% 56.25% 32.03125%);
    --palGreenGreen6-108: rgb(43.75% 56.25% 31.640625%);
    --palGreenGreen6-109: rgb(43.75% 55.859375% 31.25%);
    --palGreenGreen6-110: rgb(43.359375% 55.46875% 30.859375%);
    --palGreenGreen6-111: rgb(42.96875% 55.078125% 30.859375%);
    --palGreenGreen6-112: rgb(42.578125% 54.6875% 30.46875%);
    --palGreenGreen6-113: rgb(42.1875% 54.6875% 30.078125%);
    --palGreenGreen6-114: rgb(41.796875% 54.296875% 29.6875%);
    --palGreenGreen6-115: rgb(41.796875% 53.90625% 29.296875%);
    --palGreenGreen6-116: rgb(41.40625% 53.515625% 28.90625%);
    --palGreenGreen6-117: rgb(41.015625% 53.515625% 28.515625%);
    --palGreenGreen6-118: rgb(40.625% 53.125% 28.515625%);
    --palGreenGreen6-119: rgb(40.234375% 52.734375% 28.125%);
    --palGreenGreen6-120: rgb(40.234375% 52.34375% 27.734375%);
    --palGreenGreen6-121: rgb(39.84375% 51.953125% 27.34375%);
    --palGreenGreen6-122: rgb(39.453125% 51.953125% 26.953125%);
    --palGreenGreen6-123: rgb(39.0625% 51.5625% 26.5625%);
    --palGreenGreen6-124: rgb(38.671875% 51.171875% 26.171875%);
    --palGreenGreen6-125: rgb(38.28125% 50.78125% 26.171875%);
    --palGreenGreen6-126: rgb(38.28125% 50.390625% 25.78125%);
    --palGreenGreen6-127: rgb(37.890625% 50.390625% 25.390625%);
    --palGreenGreen6-128: rgb(37.5% 50% 25%);
    --palGreenGreen6-129: rgb(37.109375% 49.609375% 24.609375%);
    --palGreenGreen6-130: rgb(36.71875% 49.21875% 24.21875%);
    --palGreenGreen6-131: rgb(36.71875% 48.828125% 24.21875%);
    --palGreenGreen6-132: rgb(36.328125% 48.828125% 23.828125%);
    --palGreenGreen6-133: rgb(35.9375% 48.4375% 23.4375%);
    --palGreenGreen6-134: rgb(35.546875% 48.046875% 23.046875%);
    --palGreenGreen6-135: rgb(35.15625% 47.65625% 23.046875%);
    --palGreenGreen6-136: rgb(35.15625% 47.265625% 22.65625%);
    --palGreenGreen6-137: rgb(34.765625% 47.265625% 22.265625%);
    --palGreenGreen6-138: rgb(34.375% 46.875% 21.875%);
    --palGreenGreen6-139: rgb(33.984375% 46.484375% 21.875%);
    --palGreenGreen6-140: rgb(33.59375% 46.09375% 21.484375%);
    --palGreenGreen6-141: rgb(33.59375% 45.703125% 21.09375%);
    --palGreenGreen6-142: rgb(33.203125% 45.3125% 20.703125%);
    --palGreenGreen6-143: rgb(32.8125% 45.3125% 20.703125%);
    --palGreenGreen6-144: rgb(32.421875% 44.921875% 20.3125%);
    --palGreenGreen6-145: rgb(32.421875% 44.53125% 19.921875%);
    --palGreenGreen6-146: rgb(32.03125% 44.140625% 19.53125%);
    --palGreenGreen6-147: rgb(31.640625% 43.75% 19.53125%);
    --palGreenGreen6-148: rgb(31.25% 43.359375% 19.140625%);
    --palGreenGreen6-149: rgb(30.859375% 43.359375% 18.75%);
    --palGreenGreen6-150: rgb(30.859375% 42.96875% 18.359375%);
    --palGreenGreen6-151: rgb(30.46875% 42.578125% 18.359375%);
    --palGreenGreen6-152: rgb(30.078125% 42.1875% 17.96875%);
    --palGreenGreen6-153: rgb(29.6875% 41.796875% 17.578125%);
    --palGreenGreen6-154: rgb(29.296875% 41.796875% 17.578125%);
    --palGreenGreen6-155: rgb(29.296875% 41.40625% 17.1875%);
    --palGreenGreen6-156: rgb(28.90625% 41.015625% 16.796875%);
    --palGreenGreen6-157: rgb(28.515625% 40.625% 16.796875%);
    --palGreenGreen6-158: rgb(28.515625% 40.234375% 16.40625%);
    --palGreenGreen6-159: rgb(28.125% 40.234375% 16.015625%);
    --palGreenGreen6-160: rgb(27.734375% 39.84375% 16.015625%);
    --palGreenGreen6-161: rgb(27.734375% 39.453125% 15.625%);
    --palGreenGreen6-162: rgb(27.34375% 39.0625% 15.234375%);
    --palGreenGreen6-163: rgb(26.953125% 38.671875% 15.234375%);
    --palGreenGreen6-164: rgb(26.5625% 38.671875% 14.84375%);
    --palGreenGreen6-165: rgb(26.5625% 38.28125% 14.84375%);
    --palGreenGreen6-166: rgb(26.171875% 37.890625% 14.453125%);
    --palGreenGreen6-167: rgb(25.78125% 37.5% 14.0625%);
    --palGreenGreen6-168: rgb(25.78125% 37.5% 14.0625%);
    --palGreenGreen6-169: rgb(25.390625% 37.109375% 13.671875%);
    --palGreenGreen6-170: rgb(25% 36.71875% 13.28125%);
    --palGreenGreen6-171: rgb(24.609375% 36.328125% 13.28125%);
    --palGreenGreen6-172: rgb(24.609375% 35.9375% 12.890625%);
    --palGreenGreen6-173: rgb(24.21875% 35.9375% 12.890625%);
    --palGreenGreen6-174: rgb(23.828125% 35.546875% 12.5%);
    --palGreenGreen6-175: rgb(23.828125% 35.15625% 12.109375%);
    --palGreenGreen6-176: rgb(23.4375% 34.765625% 12.109375%);
    --palGreenGreen6-177: rgb(23.046875% 34.375% 11.71875%);
    --palGreenGreen6-178: rgb(23.046875% 34.375% 11.328125%);
    --palGreenGreen6-179: rgb(22.65625% 33.984375% 11.328125%);
    --palGreenGreen6-180: rgb(22.265625% 33.59375% 10.9375%);
    --palGreenGreen6-181: rgb(22.265625% 33.203125% 10.9375%);
    --palGreenGreen6-182: rgb(21.875% 32.8125% 10.9375%);
    --palGreenGreen6-183: rgb(21.484375% 32.8125% 10.546875%);
    --palGreenGreen6-184: rgb(21.484375% 32.421875% 10.546875%);
    --palGreenGreen6-185: rgb(21.09375% 32.03125% 10.15625%);
    --palGreenGreen6-186: rgb(20.703125% 31.640625% 10.15625%);
    --palGreenGreen6-187: rgb(20.703125% 31.25% 10.15625%);
    --palGreenGreen6-188: rgb(20.3125% 30.859375% 9.765625%);
    --palGreenGreen6-189: rgb(20.3125% 30.859375% 9.765625%);
    --palGreenGreen6-190: rgb(19.921875% 30.46875% 9.375%);
    --palGreenGreen6-191: rgb(19.53125% 30.078125% 9.375%);
    --palGreenGreen6-192: rgb(19.53125% 29.6875% 9.375%);
    --palGreenGreen6-193: rgb(19.140625% 29.296875% 8.984375%);
    --palGreenGreen6-194: rgb(18.75% 29.296875% 8.984375%);
    --palGreenGreen6-195: rgb(18.75% 28.90625% 8.59375%);
    --palGreenGreen6-196: rgb(18.359375% 28.515625% 8.59375%);
    --palGreenGreen6-197: rgb(18.359375% 28.125% 8.59375%);
    --palGreenGreen6-198: rgb(17.96875% 27.734375% 8.203125%);
    --palGreenGreen6-199: rgb(17.578125% 27.34375% 8.203125%);
    --palGreenGreen6-200: rgb(17.578125% 27.34375% 7.8125%);
    --palGreenGreen6-201: rgb(17.1875% 26.953125% 7.8125%);
    --palGreenGreen6-202: rgb(16.796875% 26.5625% 7.8125%);
    --palGreenGreen6-203: rgb(16.796875% 26.171875% 7.421875%);
    --palGreenGreen6-204: rgb(16.40625% 25.78125% 7.421875%);
    --palGreenGreen6-205: rgb(16.40625% 25.78125% 7.421875%);
    --palGreenGreen6-206: rgb(16.015625% 25.390625% 7.03125%);
    --palGreenGreen6-207: rgb(15.625% 25% 7.03125%);
    --palGreenGreen6-208: rgb(15.625% 24.609375% 6.640625%);
    --palGreenGreen6-209: rgb(15.234375% 24.21875% 6.640625%);
    --palGreenGreen6-210: rgb(15.234375% 24.21875% 6.25%);
    --palGreenGreen6-211: rgb(14.84375% 23.828125% 6.25%);
    --palGreenGreen6-212: rgb(14.453125% 23.4375% 5.859375%);
    --palGreenGreen6-213: rgb(14.453125% 23.046875% 5.859375%);
    --palGreenGreen6-214: rgb(14.0625% 22.65625% 5.859375%);
    --palGreenGreen6-215: rgb(14.0625% 22.65625% 5.46875%);
    --palGreenGreen6-216: rgb(13.671875% 22.265625% 5.46875%);
    --palGreenGreen6-217: rgb(13.28125% 21.875% 5.078125%);
    --palGreenGreen6-218: rgb(13.28125% 21.484375% 5.078125%);
    --palGreenGreen6-219: rgb(12.890625% 21.484375% 4.6875%);
    --palGreenGreen6-220: rgb(12.890625% 21.09375% 4.6875%);
    --palGreenGreen6-221: rgb(12.5% 20.703125% 4.6875%);
    --palGreenGreen6-222: rgb(12.109375% 20.3125% 4.296875%);
    --palGreenGreen6-223: rgb(12.109375% 19.921875% 4.296875%);
    --palGreenGreen6-224: rgb(11.71875% 19.921875% 3.90625%);
    --palGreenGreen6-225: rgb(11.71875% 19.53125% 3.90625%);
    --palGreenGreen6-226: rgb(11.328125% 19.140625% 3.515625%);
    --palGreenGreen6-227: rgb(11.328125% 18.75% 3.515625%);
    --palGreenGreen6-228: rgb(10.9375% 18.359375% 3.515625%);
    --palGreenGreen6-229: rgb(10.546875% 18.359375% 3.125%);
    --palGreenGreen6-230: rgb(10.546875% 17.96875% 3.125%);
    --palGreenGreen6-231: rgb(10.15625% 17.578125% 2.734375%);
    --palGreenGreen6-232: rgb(10.15625% 17.1875% 2.734375%);
    --palGreenGreen6-233: rgb(9.765625% 17.1875% 2.734375%);
    --palGreenGreen6-234: rgb(9.765625% 16.796875% 2.734375%);
    --palGreenGreen6-235: rgb(9.375% 16.40625% 2.734375%);
    --palGreenGreen6-236: rgb(9.375% 16.015625% 2.34375%);
    --palGreenGreen6-237: rgb(8.984375% 15.625% 2.34375%);
    --palGreenGreen6-238: rgb(8.984375% 15.625% 2.34375%);
    --palGreenGreen6-239: rgb(8.59375% 15.234375% 2.34375%);
    --palGreenGreen6-240: rgb(8.59375% 14.84375% 2.34375%);
    --palGreenGreen6-241: rgb(8.203125% 14.453125% 1.953125%);
    --palGreenGreen6-242: rgb(8.203125% 14.0625% 1.953125%);
    --palGreenGreen6-243: rgb(7.8125% 14.0625% 1.953125%);
    --palGreenGreen6-244: rgb(7.8125% 13.671875% 1.953125%);
    --palGreenGreen6-245: rgb(7.421875% 13.28125% 1.953125%);
    --palGreenGreen6-246: rgb(7.421875% 12.890625% 1.5625%);
    --palGreenGreen6-247: rgb(7.03125% 12.890625% 1.5625%);
    --palGreenGreen6-248: rgb(7.03125% 12.5% 1.5625%);
    --palGreenGreen6-249: rgb(6.640625% 12.109375% 1.5625%);
    --palGreenGreen6-250: rgb(6.640625% 11.71875% 1.5625%);
    --palGreenGreen6-251: rgb(6.25% 11.328125% 1.171875%);
    --palGreenGreen6-252: rgb(6.25% 11.328125% 1.171875%);
    --palGreenGreen6-253: rgb(5.859375% 10.9375% 1.171875%);
    --palGreenGreen6-254: rgb(5.859375% 10.546875% 1.171875%);
    --palGreenGreen6-255: rgb(5.46875% 10.15625% 1.171875%);
    --palGreenGreen6-256: rgb(5.46875% 10.15625% 1.171875%);
}
