/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palGreenGreen1-1: rgb(99.609375% 98.046875% 89.84375%);
    --palGreenGreen1-2: rgb(99.21875% 97.65625% 87.890625%);
    --palGreenGreen1-3: rgb(98.828125% 97.265625% 85.9375%);
    --palGreenGreen1-4: rgb(98.4375% 96.875% 84.375%);
    --palGreenGreen1-5: rgb(98.046875% 96.875% 82.421875%);
    --palGreenGreen1-6: rgb(98.046875% 96.484375% 80.46875%);
    --palGreenGreen1-7: rgb(97.65625% 96.09375% 78.90625%);
    --palGreenGreen1-8: rgb(97.265625% 96.09375% 76.953125%);
    --palGreenGreen1-9: rgb(96.875% 95.703125% 75%);
    --palGreenGreen1-10: rgb(96.484375% 95.3125% 73.4375%);
    --palGreenGreen1-11: rgb(96.484375% 94.921875% 71.484375%);
    --palGreenGreen1-12: rgb(96.09375% 94.921875% 69.921875%);
    --palGreenGreen1-13: rgb(95.703125% 94.53125% 67.96875%);
    --palGreenGreen1-14: rgb(95.3125% 94.140625% 66.40625%);
    --palGreenGreen1-15: rgb(94.921875% 94.140625% 65.234375%);
    --palGreenGreen1-16: rgb(94.140625% 93.75% 64.0625%);
    --palGreenGreen1-17: rgb(93.75% 93.75% 63.28125%);
    --palGreenGreen1-18: rgb(92.96875% 93.359375% 62.109375%);
    --palGreenGreen1-19: rgb(92.578125% 93.359375% 60.9375%);
    --palGreenGreen1-20: rgb(91.796875% 92.96875% 59.765625%);
    --palGreenGreen1-21: rgb(91.40625% 92.96875% 58.984375%);
    --palGreenGreen1-22: rgb(90.625% 92.578125% 57.8125%);
    --palGreenGreen1-23: rgb(90.234375% 92.1875% 56.640625%);
    --palGreenGreen1-24: rgb(89.453125% 92.1875% 55.46875%);
    --palGreenGreen1-25: rgb(89.0625% 91.796875% 54.6875%);
    --palGreenGreen1-26: rgb(88.28125% 91.796875% 53.515625%);
    --palGreenGreen1-27: rgb(87.5% 91.40625% 52.34375%);
    --palGreenGreen1-28: rgb(86.71875% 91.015625% 51.171875%);
    --palGreenGreen1-29: rgb(85.9375% 90.625% 50.390625%);
    --palGreenGreen1-30: rgb(85.15625% 90.234375% 49.21875%);
    --palGreenGreen1-31: rgb(84.375% 90.234375% 48.046875%);
    --palGreenGreen1-32: rgb(83.59375% 89.84375% 46.875%);
    --palGreenGreen1-33: rgb(82.8125% 89.453125% 46.09375%);
    --palGreenGreen1-34: rgb(82.03125% 89.0625% 44.921875%);
    --palGreenGreen1-35: rgb(81.25% 88.671875% 43.75%);
    --palGreenGreen1-36: rgb(80.46875% 88.28125% 42.578125%);
    --palGreenGreen1-37: rgb(79.6875% 87.890625% 41.796875%);
    --palGreenGreen1-38: rgb(78.90625% 87.890625% 40.625%);
    --palGreenGreen1-39: rgb(78.125% 87.5% 39.453125%);
    --palGreenGreen1-40: rgb(77.34375% 87.109375% 38.671875%);
    --palGreenGreen1-41: rgb(76.171875% 86.71875% 37.890625%);
    --palGreenGreen1-42: rgb(75.390625% 86.328125% 37.109375%);
    --palGreenGreen1-43: rgb(74.609375% 86.328125% 36.328125%);
    --palGreenGreen1-44: rgb(73.4375% 85.9375% 35.546875%);
    --palGreenGreen1-45: rgb(72.65625% 85.546875% 34.765625%);
    --palGreenGreen1-46: rgb(71.875% 85.15625% 33.984375%);
    --palGreenGreen1-47: rgb(70.703125% 84.765625% 33.203125%);
    --palGreenGreen1-48: rgb(69.921875% 84.765625% 32.421875%);
    --palGreenGreen1-49: rgb(69.140625% 84.375% 31.640625%);
    --palGreenGreen1-50: rgb(67.96875% 83.984375% 30.859375%);
    --palGreenGreen1-51: rgb(67.1875% 83.59375% 30.078125%);
    --palGreenGreen1-52: rgb(66.40625% 83.59375% 29.296875%);
    --palGreenGreen1-53: rgb(65.234375% 83.203125% 28.515625%);
    --palGreenGreen1-54: rgb(64.453125% 82.8125% 28.125%);
    --palGreenGreen1-55: rgb(63.671875% 82.421875% 27.734375%);
    --palGreenGreen1-56: rgb(62.890625% 82.03125% 27.34375%);
    --palGreenGreen1-57: rgb(62.109375% 82.03125% 26.953125%);
    --palGreenGreen1-58: rgb(60.9375% 81.640625% 26.5625%);
    --palGreenGreen1-59: rgb(60.15625% 81.25% 26.171875%);
    --palGreenGreen1-60: rgb(59.375% 80.859375% 25.78125%);
    --palGreenGreen1-61: rgb(58.59375% 80.46875% 25.390625%);
    --palGreenGreen1-62: rgb(57.8125% 80.46875% 25%);
    --palGreenGreen1-63: rgb(56.640625% 80.078125% 24.21875%);
    --palGreenGreen1-64: rgb(55.859375% 79.6875% 23.828125%);
    --palGreenGreen1-65: rgb(55.078125% 79.296875% 23.4375%);
    --palGreenGreen1-66: rgb(53.90625% 79.296875% 23.046875%);
    --palGreenGreen1-67: rgb(53.125% 78.90625% 22.265625%);
    --palGreenGreen1-68: rgb(51.953125% 78.515625% 21.484375%);
    --palGreenGreen1-69: rgb(51.171875% 78.125% 21.09375%);
    --palGreenGreen1-70: rgb(50% 77.734375% 20.3125%);
    --palGreenGreen1-71: rgb(49.21875% 77.734375% 19.921875%);
    --palGreenGreen1-72: rgb(48.046875% 77.34375% 19.140625%);
    --palGreenGreen1-73: rgb(47.265625% 76.953125% 18.75%);
    --palGreenGreen1-74: rgb(46.09375% 76.5625% 17.96875%);
    --palGreenGreen1-75: rgb(45.3125% 76.171875% 17.1875%);
    --palGreenGreen1-76: rgb(44.140625% 76.171875% 16.796875%);
    --palGreenGreen1-77: rgb(43.359375% 75.78125% 16.015625%);
    --palGreenGreen1-78: rgb(42.1875% 75.390625% 15.625%);
    --palGreenGreen1-79: rgb(41.40625% 75% 15.234375%);
    --palGreenGreen1-80: rgb(40.625% 75% 14.84375%);
    --palGreenGreen1-81: rgb(39.84375% 74.609375% 14.453125%);
    --palGreenGreen1-82: rgb(38.671875% 74.21875% 14.0625%);
    --palGreenGreen1-83: rgb(37.890625% 73.828125% 13.671875%);
    --palGreenGreen1-84: rgb(37.109375% 73.4375% 13.28125%);
    --palGreenGreen1-85: rgb(35.9375% 73.4375% 12.890625%);
    --palGreenGreen1-86: rgb(35.15625% 73.046875% 12.5%);
    --palGreenGreen1-87: rgb(34.375% 72.65625% 12.5%);
    --palGreenGreen1-88: rgb(33.59375% 72.265625% 12.109375%);
    --palGreenGreen1-89: rgb(32.421875% 71.875% 11.71875%);
    --palGreenGreen1-90: rgb(31.640625% 71.875% 11.328125%);
    --palGreenGreen1-91: rgb(30.859375% 71.484375% 10.9375%);
    --palGreenGreen1-92: rgb(30.078125% 71.09375% 10.546875%);
    --palGreenGreen1-93: rgb(29.296875% 70.703125% 10.546875%);
    --palGreenGreen1-94: rgb(28.515625% 70.3125% 10.15625%);
    --palGreenGreen1-95: rgb(27.34375% 69.921875% 10.15625%);
    --palGreenGreen1-96: rgb(26.5625% 69.921875% 9.765625%);
    --palGreenGreen1-97: rgb(25.78125% 69.53125% 9.375%);
    --palGreenGreen1-98: rgb(25% 69.140625% 9.375%);
    --palGreenGreen1-99: rgb(24.21875% 68.75% 8.984375%);
    --palGreenGreen1-100: rgb(23.4375% 68.359375% 8.59375%);
    --palGreenGreen1-101: rgb(22.65625% 67.96875% 8.59375%);
    --palGreenGreen1-102: rgb(21.875% 67.578125% 8.203125%);
    --palGreenGreen1-103: rgb(21.09375% 67.1875% 8.203125%);
    --palGreenGreen1-104: rgb(19.921875% 67.1875% 7.8125%);
    --palGreenGreen1-105: rgb(19.140625% 66.796875% 7.421875%);
    --palGreenGreen1-106: rgb(18.359375% 66.40625% 7.421875%);
    --palGreenGreen1-107: rgb(17.578125% 66.015625% 7.03125%);
    --palGreenGreen1-108: rgb(16.796875% 65.625% 6.640625%);
    --palGreenGreen1-109: rgb(16.015625% 65.234375% 6.640625%);
    --palGreenGreen1-110: rgb(15.234375% 64.84375% 6.25%);
    --palGreenGreen1-111: rgb(14.453125% 64.453125% 5.859375%);
    --palGreenGreen1-112: rgb(13.671875% 64.0625% 5.859375%);
    --palGreenGreen1-113: rgb(12.890625% 63.671875% 5.46875%);
    --palGreenGreen1-114: rgb(12.109375% 63.28125% 5.46875%);
    --palGreenGreen1-115: rgb(11.328125% 62.890625% 5.078125%);
    --palGreenGreen1-116: rgb(10.546875% 62.5% 5.078125%);
    --palGreenGreen1-117: rgb(10.546875% 62.109375% 5.078125%);
    --palGreenGreen1-118: rgb(10.15625% 62.109375% 5.46875%);
    --palGreenGreen1-119: rgb(10.15625% 61.71875% 5.859375%);
    --palGreenGreen1-120: rgb(9.765625% 61.328125% 5.859375%);
    --palGreenGreen1-121: rgb(9.765625% 60.9375% 6.25%);
    --palGreenGreen1-122: rgb(9.375% 60.546875% 6.25%);
    --palGreenGreen1-123: rgb(9.375% 60.15625% 6.640625%);
    --palGreenGreen1-124: rgb(8.984375% 59.765625% 7.03125%);
    --palGreenGreen1-125: rgb(8.59375% 59.765625% 7.03125%);
    --palGreenGreen1-126: rgb(8.59375% 59.375% 7.421875%);
    --palGreenGreen1-127: rgb(8.203125% 58.984375% 7.8125%);
    --palGreenGreen1-128: rgb(8.203125% 58.59375% 7.8125%);
    --palGreenGreen1-129: rgb(8.203125% 58.203125% 8.203125%);
    --palGreenGreen1-130: rgb(8.203125% 57.8125% 8.984375%);
    --palGreenGreen1-131: rgb(8.59375% 57.8125% 9.375%);
    --palGreenGreen1-132: rgb(8.59375% 57.421875% 9.765625%);
    --palGreenGreen1-133: rgb(8.984375% 57.03125% 10.546875%);
    --palGreenGreen1-134: rgb(9.375% 56.640625% 10.9375%);
    --palGreenGreen1-135: rgb(9.375% 56.25% 11.71875%);
    --palGreenGreen1-136: rgb(9.765625% 56.25% 12.109375%);
    --palGreenGreen1-137: rgb(9.765625% 55.859375% 12.890625%);
    --palGreenGreen1-138: rgb(10.15625% 55.46875% 13.28125%);
    --palGreenGreen1-139: rgb(10.15625% 55.078125% 13.671875%);
    --palGreenGreen1-140: rgb(10.546875% 54.6875% 14.453125%);
    --palGreenGreen1-141: rgb(10.546875% 54.6875% 14.84375%);
    --palGreenGreen1-142: rgb(10.9375% 54.296875% 15.234375%);
    --palGreenGreen1-143: rgb(10.9375% 54.296875% 15.625%);
    --palGreenGreen1-144: rgb(10.9375% 53.90625% 16.015625%);
    --palGreenGreen1-145: rgb(10.9375% 53.515625% 16.40625%);
    --palGreenGreen1-146: rgb(10.9375% 53.515625% 16.796875%);
    --palGreenGreen1-147: rgb(10.9375% 53.125% 17.1875%);
    --palGreenGreen1-148: rgb(10.9375% 53.125% 17.578125%);
    --palGreenGreen1-149: rgb(10.9375% 52.734375% 17.96875%);
    --palGreenGreen1-150: rgb(10.9375% 52.734375% 18.359375%);
    --palGreenGreen1-151: rgb(10.9375% 52.34375% 18.75%);
    --palGreenGreen1-152: rgb(10.9375% 52.34375% 19.140625%);
    --palGreenGreen1-153: rgb(10.9375% 51.953125% 19.53125%);
    --palGreenGreen1-154: rgb(10.9375% 51.953125% 20.3125%);
    --palGreenGreen1-155: rgb(11.328125% 51.5625% 20.3125%);
    --palGreenGreen1-156: rgb(11.328125% 51.171875% 20.703125%);
    --palGreenGreen1-157: rgb(11.328125% 51.171875% 21.09375%);
    --palGreenGreen1-158: rgb(11.328125% 50.78125% 21.484375%);
    --palGreenGreen1-159: rgb(11.328125% 50.390625% 21.484375%);
    --palGreenGreen1-160: rgb(11.328125% 50.390625% 21.875%);
    --palGreenGreen1-161: rgb(11.328125% 50% 22.265625%);
    --palGreenGreen1-162: rgb(11.328125% 49.609375% 22.65625%);
    --palGreenGreen1-163: rgb(11.328125% 49.609375% 23.046875%);
    --palGreenGreen1-164: rgb(11.328125% 49.21875% 23.046875%);
    --palGreenGreen1-165: rgb(11.328125% 49.21875% 23.4375%);
    --palGreenGreen1-166: rgb(11.328125% 48.828125% 23.828125%);
    --palGreenGreen1-167: rgb(11.328125% 48.4375% 24.21875%);
    --palGreenGreen1-168: rgb(11.328125% 48.4375% 24.21875%);
    --palGreenGreen1-169: rgb(11.328125% 48.046875% 24.609375%);
    --palGreenGreen1-170: rgb(11.328125% 47.65625% 24.609375%);
    --palGreenGreen1-171: rgb(11.328125% 47.265625% 25%);
    --palGreenGreen1-172: rgb(11.328125% 46.875% 25%);
    --palGreenGreen1-173: rgb(11.328125% 46.875% 25.390625%);
    --palGreenGreen1-174: rgb(11.328125% 46.484375% 25.390625%);
    --palGreenGreen1-175: rgb(11.328125% 46.09375% 25.78125%);
    --palGreenGreen1-176: rgb(11.328125% 45.703125% 26.171875%);
    --palGreenGreen1-177: rgb(11.328125% 45.3125% 26.171875%);
    --palGreenGreen1-178: rgb(11.328125% 45.3125% 26.5625%);
    --palGreenGreen1-179: rgb(11.328125% 44.921875% 26.5625%);
    --palGreenGreen1-180: rgb(11.328125% 44.53125% 26.953125%);
    --palGreenGreen1-181: rgb(11.328125% 44.140625% 26.953125%);
    --palGreenGreen1-182: rgb(11.328125% 43.75% 26.953125%);
    --palGreenGreen1-183: rgb(11.328125% 43.359375% 26.953125%);
    --palGreenGreen1-184: rgb(11.328125% 42.96875% 26.953125%);
    --palGreenGreen1-185: rgb(11.328125% 42.578125% 26.953125%);
    --palGreenGreen1-186: rgb(11.328125% 42.1875% 27.34375%);
    --palGreenGreen1-187: rgb(11.328125% 41.796875% 27.34375%);
    --palGreenGreen1-188: rgb(11.328125% 41.40625% 27.34375%);
    --palGreenGreen1-189: rgb(11.328125% 41.015625% 27.34375%);
    --palGreenGreen1-190: rgb(11.328125% 40.625% 27.34375%);
    --palGreenGreen1-191: rgb(11.328125% 40.234375% 27.34375%);
    --palGreenGreen1-192: rgb(11.328125% 39.84375% 27.34375%);
    --palGreenGreen1-193: rgb(10.9375% 39.453125% 27.34375%);
    --palGreenGreen1-194: rgb(10.9375% 39.0625% 27.34375%);
    --palGreenGreen1-195: rgb(10.9375% 38.671875% 27.34375%);
    --palGreenGreen1-196: rgb(10.9375% 38.28125% 27.34375%);
    --palGreenGreen1-197: rgb(10.9375% 37.890625% 27.34375%);
    --palGreenGreen1-198: rgb(10.9375% 37.5% 27.34375%);
    --palGreenGreen1-199: rgb(10.9375% 37.109375% 27.34375%);
    --palGreenGreen1-200: rgb(10.9375% 36.71875% 27.34375%);
    --palGreenGreen1-201: rgb(10.9375% 36.328125% 27.34375%);
    --palGreenGreen1-202: rgb(10.9375% 35.9375% 27.34375%);
    --palGreenGreen1-203: rgb(10.9375% 35.546875% 27.34375%);
    --palGreenGreen1-204: rgb(10.9375% 35.15625% 27.34375%);
    --palGreenGreen1-205: rgb(10.9375% 34.765625% 27.34375%);
    --palGreenGreen1-206: rgb(10.546875% 33.984375% 27.34375%);
    --palGreenGreen1-207: rgb(10.546875% 33.59375% 26.953125%);
    --palGreenGreen1-208: rgb(10.546875% 32.8125% 26.953125%);
    --palGreenGreen1-209: rgb(10.15625% 32.421875% 26.5625%);
    --palGreenGreen1-210: rgb(10.15625% 31.640625% 26.5625%);
    --palGreenGreen1-211: rgb(10.15625% 31.25% 26.171875%);
    --palGreenGreen1-212: rgb(9.765625% 30.859375% 26.171875%);
    --palGreenGreen1-213: rgb(9.765625% 30.078125% 25.78125%);
    --palGreenGreen1-214: rgb(9.765625% 29.6875% 25.78125%);
    --palGreenGreen1-215: rgb(9.375% 28.90625% 25.390625%);
    --palGreenGreen1-216: rgb(9.375% 28.515625% 25%);
    --palGreenGreen1-217: rgb(9.375% 28.125% 25%);
    --palGreenGreen1-218: rgb(8.984375% 27.34375% 24.609375%);
    --palGreenGreen1-219: rgb(8.984375% 26.953125% 24.609375%);
    --palGreenGreen1-220: rgb(8.984375% 26.5625% 24.21875%);
    --palGreenGreen1-221: rgb(8.984375% 26.171875% 23.828125%);
    --palGreenGreen1-222: rgb(8.984375% 25.78125% 23.828125%);
    --palGreenGreen1-223: rgb(8.984375% 25.78125% 23.4375%);
    --palGreenGreen1-224: rgb(8.984375% 25.390625% 23.4375%);
    --palGreenGreen1-225: rgb(8.59375% 25% 23.046875%);
    --palGreenGreen1-226: rgb(8.59375% 24.609375% 22.65625%);
    --palGreenGreen1-227: rgb(8.59375% 24.21875% 22.65625%);
    --palGreenGreen1-228: rgb(8.59375% 23.828125% 22.265625%);
    --palGreenGreen1-229: rgb(8.59375% 23.4375% 21.875%);
    --palGreenGreen1-230: rgb(8.59375% 23.046875% 21.875%);
    --palGreenGreen1-231: rgb(8.203125% 22.65625% 21.484375%);
    --palGreenGreen1-232: rgb(8.203125% 22.265625% 21.09375%);
    --palGreenGreen1-233: rgb(8.203125% 21.875% 21.09375%);
    --palGreenGreen1-234: rgb(8.203125% 21.09375% 20.703125%);
    --palGreenGreen1-235: rgb(7.8125% 20.703125% 20.3125%);
    --palGreenGreen1-236: rgb(7.8125% 20.3125% 19.921875%);
    --palGreenGreen1-237: rgb(7.8125% 19.921875% 19.53125%);
    --palGreenGreen1-238: rgb(7.8125% 19.53125% 19.53125%);
    --palGreenGreen1-239: rgb(7.8125% 19.140625% 19.140625%);
    --palGreenGreen1-240: rgb(7.421875% 18.359375% 18.75%);
    --palGreenGreen1-241: rgb(7.421875% 17.96875% 18.359375%);
    --palGreenGreen1-242: rgb(7.421875% 17.578125% 17.96875%);
    --palGreenGreen1-243: rgb(7.421875% 17.1875% 17.96875%);
    --palGreenGreen1-244: rgb(7.03125% 16.796875% 17.578125%);
    --palGreenGreen1-245: rgb(7.03125% 16.015625% 16.796875%);
    --palGreenGreen1-246: rgb(6.640625% 15.625% 16.40625%);
    --palGreenGreen1-247: rgb(6.640625% 15.234375% 16.015625%);
    --palGreenGreen1-248: rgb(6.640625% 14.84375% 15.625%);
    --palGreenGreen1-249: rgb(6.25% 14.0625% 15.234375%);
    --palGreenGreen1-250: rgb(6.25% 13.671875% 14.84375%);
    --palGreenGreen1-251: rgb(5.859375% 13.28125% 14.0625%);
    --palGreenGreen1-252: rgb(5.859375% 12.890625% 13.671875%);
    --palGreenGreen1-253: rgb(5.859375% 12.109375% 13.28125%);
    --palGreenGreen1-254: rgb(5.46875% 11.71875% 12.890625%);
    --palGreenGreen1-255: rgb(5.46875% 11.328125% 12.5%);
    --palGreenGreen1-256: rgb(5.46875% 10.9375% 12.109375%);
}
