/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palGuppy-1: rgb(98.146917% 56.765131% 31.114761%);
    --palGuppy-2: rgb(98.206949% 56.329082% 30.670174%);
    --palGuppy-3: rgb(98.265993% 55.89143% 30.226065%);
    --palGuppy-4: rgb(98.324038% 55.452138% 29.782449%);
    --palGuppy-5: rgb(98.381072% 55.011169% 29.339338%);
    --palGuppy-6: rgb(98.437085% 54.568487% 28.896748%);
    --palGuppy-7: rgb(98.492064% 54.124051% 28.454695%);
    --palGuppy-8: rgb(98.545995% 53.677823% 28.013196%);
    --palGuppy-9: rgb(98.598899% 53.229735% 27.572243%);
    --palGuppy-10: rgb(98.650753% 52.779752% 27.131863%);
    --palGuppy-11: rgb(98.701522% 52.327846% 26.692094%);
    --palGuppy-12: rgb(98.751193% 51.873973% 26.252959%);
    --palGuppy-13: rgb(98.799815% 51.418031% 25.814428%);
    --palGuppy-14: rgb(98.847317% 50.960018% 25.376574%);
    --palGuppy-15: rgb(98.893684% 50.499886% 24.939425%);
    --palGuppy-16: rgb(98.93897% 50.037519% 24.502951%);
    --palGuppy-17: rgb(98.983081% 49.572932% 24.067251%);
    --palGuppy-18: rgb(99.026075% 49.106004% 23.632295%);
    --palGuppy-19: rgb(99.067881% 48.636722% 23.198166%);
    --palGuppy-20: rgb(99.108539% 48.164973% 22.764856%);
    --palGuppy-21: rgb(99.147976% 47.690746% 22.332454%);
    --palGuppy-22: rgb(99.186257% 47.213895% 21.900935%);
    --palGuppy-23: rgb(99.223292% 46.734418% 21.470411%);
    --palGuppy-24: rgb(99.259105% 46.252202% 21.0409%);
    --palGuppy-25: rgb(99.293693% 45.767155% 20.612447%);
    --palGuppy-26: rgb(99.327005% 45.279227% 20.185141%);
    --palGuppy-27: rgb(99.359032% 44.788323% 19.759044%);
    --palGuppy-28: rgb(99.389784% 44.294327% 19.334206%);
    --palGuppy-29: rgb(99.419237% 43.797148% 18.910713%);
    --palGuppy-30: rgb(99.447359% 43.296701% 18.488665%);
    --palGuppy-31: rgb(99.474133% 42.792878% 18.068158%);
    --palGuppy-32: rgb(99.499541% 42.285567% 17.649298%);
    --palGuppy-33: rgb(99.523563% 41.774653% 17.232206%);
    --palGuppy-34: rgb(99.546176% 41.260016% 16.817015%);
    --palGuppy-35: rgb(99.567355% 40.741533% 16.403874%);
    --palGuppy-36: rgb(99.587072% 40.219073% 15.99295%);
    --palGuppy-37: rgb(99.605337% 39.692456% 15.584399%);
    --palGuppy-38: rgb(99.622085% 39.161577% 15.178453%);
    --palGuppy-39: rgb(99.637278% 38.626295% 14.775351%);
    --palGuppy-40: rgb(99.650912% 38.086413% 14.375324%);
    --palGuppy-41: rgb(99.662947% 37.54177% 13.978665%);
    --palGuppy-42: rgb(99.673326% 36.99221% 13.585709%);
    --palGuppy-43: rgb(99.682039% 36.437508% 13.196795%);
    --palGuppy-44: rgb(99.689027% 35.877489% 12.81234%);
    --palGuppy-45: rgb(99.694227% 35.311967% 12.432807%);
    --palGuppy-46: rgb(99.697629% 34.740665% 12.058678%);
    --palGuppy-47: rgb(99.699157% 34.163385% 11.690541%);
    --palGuppy-48: rgb(99.698743% 33.579893% 11.329039%);
    --palGuppy-49: rgb(99.696327% 32.98993% 10.97489%);
    --palGuppy-50: rgb(99.691834% 32.393229% 10.628898%);
    --palGuppy-51: rgb(99.685183% 31.789514% 10.291964%);
    --palGuppy-52: rgb(99.676287% 31.17849% 9.965089%);
    --palGuppy-53: rgb(99.665073% 30.559812% 9.649378%);
    --palGuppy-54: rgb(99.651387% 29.933233% 9.346085%);
    --palGuppy-55: rgb(99.635144% 29.298362% 9.056556%);
    --palGuppy-56: rgb(99.616172% 28.654922% 8.782291%);
    --palGuppy-57: rgb(99.594375% 28.002467% 8.524896%);
    --palGuppy-58: rgb(99.569541% 27.340707% 8.286127%);
    --palGuppy-59: rgb(99.541492% 26.669267% 8.067839%);
    --palGuppy-60: rgb(99.510016% 25.987777% 7.871988%);
    --palGuppy-61: rgb(99.474873% 25.295884% 7.700599%);
    --palGuppy-62: rgb(99.435807% 24.593217% 7.555732%);
    --palGuppy-63: rgb(99.392521% 23.879448% 7.439435%);
    --palGuppy-64: rgb(99.344667% 23.154312% 7.353678%);
    --palGuppy-65: rgb(99.291874% 22.417551% 7.300306%);
    --palGuppy-66: rgb(99.233746% 21.668943% 7.280975%);
    --palGuppy-67: rgb(99.169802% 20.90843% 7.297044%);
    --palGuppy-68: rgb(99.099539% 20.136015% 7.349554%);
    --palGuppy-69: rgb(99.022413% 19.351815% 7.439165%);
    --palGuppy-70: rgb(98.937805% 18.5562% 7.566058%);
    --palGuppy-71: rgb(98.845088% 17.749644% 7.729995%);
    --palGuppy-72: rgb(98.743579% 16.932922% 7.930212%);
    --palGuppy-73: rgb(98.632592% 16.107009% 8.165506%);
    --palGuppy-74: rgb(98.511434% 15.273171% 8.434203%);
    --palGuppy-75: rgb(98.37943% 14.43296% 8.734197%);
    --palGuppy-76: rgb(98.235954% 13.588168% 9.063034%);
    --palGuppy-77: rgb(98.080454% 12.740829% 9.417951%);
    --palGuppy-78: rgb(97.912481% 11.893146% 9.795965%);
    --palGuppy-79: rgb(97.73171% 11.047431% 10.19397%);
    --palGuppy-80: rgb(97.537961% 10.206028% 10.608823%);
    --palGuppy-81: rgb(97.3312% 9.371248% 11.037429%);
    --palGuppy-82: rgb(97.111546% 8.545297% 11.476831%);
    --palGuppy-83: rgb(96.879254% 7.73023% 11.924283%);
    --palGuppy-84: rgb(96.634703% 6.927937% 12.377291%);
    --palGuppy-85: rgb(96.37837% 6.140158% 12.833644%);
    --palGuppy-86: rgb(96.110803% 5.368544% 13.29139%);
    --palGuppy-87: rgb(95.832606% 4.614679% 13.748944%);
    --palGuppy-88: rgb(95.544409% 3.879488% 14.204922%);
    --palGuppy-89: rgb(95.246851% 3.209071% 14.658249%);
    --palGuppy-90: rgb(94.940568% 2.630492% 15.107989%);
    --palGuppy-91: rgb(94.626179% 2.136874% 15.553473%);
    --palGuppy-92: rgb(94.304278% 1.721621% 15.994164%);
    --palGuppy-93: rgb(93.975431% 1.37846% 16.429638%);
    --palGuppy-94: rgb(93.640164% 1.101522% 16.859663%);
    --palGuppy-95: rgb(93.298979% 0.885275% 17.283994%);
    --palGuppy-96: rgb(92.95233% 0.724627% 17.702561%);
    --palGuppy-97: rgb(92.600657% 0.614769% 18.115222%);
    --palGuppy-98: rgb(92.244349% 0.551341% 18.522003%);
    --palGuppy-99: rgb(91.883771% 0.530296% 18.922924%);
    --palGuppy-100: rgb(91.519259% 0.547896% 19.318023%);
    --palGuppy-101: rgb(91.151131% 0.600651% 19.707314%);
    --palGuppy-102: rgb(90.779662% 0.685475% 20.090948%);
    --palGuppy-103: rgb(90.405118% 0.799431% 20.468987%);
    --palGuppy-104: rgb(90.027744% 0.939827% 20.841516%);
    --palGuppy-105: rgb(89.647764% 1.104187% 21.208629%);
    --palGuppy-106: rgb(89.265376% 1.290294% 21.570469%);
    --palGuppy-107: rgb(88.880774% 1.496029% 21.92712%);
    --palGuppy-108: rgb(88.494137% 1.719448% 22.278676%);
    --palGuppy-109: rgb(88.105629% 1.958763% 22.625237%);
    --palGuppy-110: rgb(87.715401% 2.212333% 22.966908%);
    --palGuppy-111: rgb(87.323589% 2.478649% 23.303795%);
    --palGuppy-112: rgb(86.930322% 2.756326% 23.636009%);
    --palGuppy-113: rgb(86.535715% 3.044095% 23.96366%);
    --palGuppy-114: rgb(86.1399% 3.340626% 24.286769%);
    --palGuppy-115: rgb(85.742965% 3.644913% 24.605487%);
    --palGuppy-116: rgb(85.345013% 3.955885% 24.91988%);
    --palGuppy-117: rgb(84.946136% 4.265189% 25.23003%);
    --palGuppy-118: rgb(84.546425% 4.564882% 25.535997%);
    --palGuppy-119: rgb(84.145944% 4.856138% 25.837911%);
    --palGuppy-120: rgb(83.74479% 5.13903% 26.135777%);
    --palGuppy-121: rgb(83.343027% 5.413783% 26.429685%);
    --palGuppy-122: rgb(82.940715% 5.680639% 26.719724%);
    --palGuppy-123: rgb(82.537919% 5.939787% 27.00595%);
    --palGuppy-124: rgb(82.134701% 6.191424% 27.288419%);
    --palGuppy-125: rgb(81.731117% 6.435748% 27.567187%);
    --palGuppy-126: rgb(81.327221% 6.672955% 27.84231%);
    --palGuppy-127: rgb(80.923062% 6.903239% 28.113843%);
    --palGuppy-128: rgb(80.518688% 7.126791% 28.38184%);
    --palGuppy-129: rgb(80.114142% 7.343797% 28.646354%);
    --palGuppy-130: rgb(79.709466% 7.554438% 28.90744%);
    --palGuppy-131: rgb(79.304701% 7.758873% 29.165136%);
    --palGuppy-132: rgb(78.899904% 7.957203% 29.41944%);
    --palGuppy-133: rgb(78.495089% 8.149667% 29.670459%);
    --palGuppy-134: rgb(78.090287% 8.336425% 29.918244%);
    --palGuppy-135: rgb(77.685563% 8.517513% 30.162747%);
    --palGuppy-136: rgb(77.28092% 8.693171% 30.40409%);
    --palGuppy-137: rgb(76.876398% 8.863498% 30.642284%);
    --palGuppy-138: rgb(76.472035% 9.028594% 30.87734%);
    --palGuppy-139: rgb(76.067841% 9.188632% 31.109339%);
    --palGuppy-140: rgb(75.663866% 9.343667% 31.33826%);
    --palGuppy-141: rgb(75.260118% 9.493859% 31.564177%);
    --palGuppy-142: rgb(74.856627% 9.6393% 31.78711%);
    --palGuppy-143: rgb(74.453429% 9.780061% 32.007059%);
    --palGuppy-144: rgb(74.050524% 9.916308% 32.224115%);
    --palGuppy-145: rgb(73.647959% 10.048063% 32.43824%);
    --palGuppy-146: rgb(73.245747% 10.175443% 32.649486%);
    --palGuppy-147: rgb(72.843899% 10.298562% 32.857906%);
    --palGuppy-148: rgb(72.44244% 10.417491% 33.063516%);
    --palGuppy-149: rgb(72.041411% 10.532252% 33.266283%);
    --palGuppy-150: rgb(71.64081% 10.642983% 33.466291%);
    --palGuppy-151: rgb(71.240656% 10.749751% 33.663561%);
    --palGuppy-152: rgb(70.840968% 10.852623% 33.858112%);
    --palGuppy-153: rgb(70.441766% 10.951664% 34.049965%);
    --palGuppy-154: rgb(70.043068% 11.046937% 34.23914%);
    --palGuppy-155: rgb(69.644899% 11.138487% 34.425642%);
    --palGuppy-156: rgb(69.247269% 11.226388% 34.609507%);
    --palGuppy-157: rgb(68.850191% 11.310701% 34.790763%);
    --palGuppy-158: rgb(68.453682% 11.391482% 34.96943%);
    --palGuppy-159: rgb(68.057758% 11.468782% 35.145528%);
    --palGuppy-160: rgb(67.662433% 11.542652% 35.31908%);
    --palGuppy-161: rgb(67.267722% 11.61314% 35.490106%);
    --palGuppy-162: rgb(66.873641% 11.680294% 35.658627%);
    --palGuppy-163: rgb(66.480205% 11.744152% 35.824658%);
    --palGuppy-164: rgb(66.087433% 11.804749% 35.988211%);
    --palGuppy-165: rgb(65.695334% 11.862138% 36.149321%);
    --palGuppy-166: rgb(65.303918% 11.91636% 36.308009%);
    --palGuppy-167: rgb(64.9132% 11.967454% 36.4643%);
    --palGuppy-168: rgb(64.523191% 12.015455% 36.618214%);
    --palGuppy-169: rgb(64.133905% 12.060401% 36.769777%);
    --palGuppy-170: rgb(63.745362% 12.102306% 36.918988%);
    --palGuppy-171: rgb(63.357579% 12.141195% 37.065862%);
    --palGuppy-172: rgb(62.970556% 12.177123% 37.21045%);
    --palGuppy-173: rgb(62.584302% 12.210119% 37.352778%);
    --palGuppy-174: rgb(62.198836% 12.2402% 37.492856%);
    --palGuppy-175: rgb(61.814188% 12.267361% 37.630669%);
    --palGuppy-176: rgb(61.430345% 12.291668% 37.766294%);
    --palGuppy-177: rgb(61.047318% 12.313145% 37.899756%);
    --palGuppy-178: rgb(60.665147% 12.331764% 38.031017%);
    --palGuppy-179: rgb(60.283821% 12.347584% 38.160153%);
    --palGuppy-180: rgb(59.903343% 12.360636% 38.287205%);
    --palGuppy-181: rgb(59.523762% 12.370877% 38.412121%);
    --palGuppy-182: rgb(59.145054% 12.378378% 38.534998%);
    --palGuppy-183: rgb(58.76724% 12.383138% 38.655847%);
    --palGuppy-184: rgb(58.390349% 12.385145% 38.774656%);
    --palGuppy-185: rgb(58.014359% 12.384457% 38.891521%);
    --palGuppy-186: rgb(57.639323% 12.381023% 39.006385%);
    --palGuppy-187: rgb(57.265216% 12.374907% 39.119352%);
    --palGuppy-188: rgb(56.892072% 12.366079% 39.230402%);
    --palGuppy-189: rgb(56.519891% 12.354565% 39.339592%);
    --palGuppy-190: rgb(56.148689% 12.34036% 39.446939%);
    --palGuppy-191: rgb(55.778476% 12.323467% 39.552478%);
    --palGuppy-192: rgb(55.409263% 12.303889% 39.65624%);
    --palGuppy-193: rgb(55.041061% 12.281627% 39.75826%);
    --palGuppy-194: rgb(54.673884% 12.256672% 39.858564%);
    --palGuppy-195: rgb(54.307735% 12.229036% 39.957206%);
    --palGuppy-196: rgb(53.942641% 12.198689% 40.054185%);
    --palGuppy-197: rgb(53.578584% 12.165663% 40.149595%);
    --palGuppy-198: rgb(53.215618% 12.129897% 40.243391%);
    --palGuppy-199: rgb(52.85371% 12.091435% 40.335696%);
    --palGuppy-200: rgb(52.492902% 12.050227% 40.426488%);
    --palGuppy-201: rgb(52.133189% 12.006277% 40.515834%);
    --palGuppy-202: rgb(51.774574% 11.959582% 40.603795%);
    --palGuppy-203: rgb(51.4171% 11.910085% 40.690347%);
    --palGuppy-204: rgb(51.060741% 11.857808% 40.775604%);
    --palGuppy-205: rgb(50.705523% 11.802716% 40.859583%);
    --palGuppy-206: rgb(50.351468% 11.744769% 40.942304%);
    --palGuppy-207: rgb(49.998562% 11.68397% 41.023862%);
    --palGuppy-208: rgb(49.646827% 11.620275% 41.104278%);
    --palGuppy-209: rgb(49.296286% 11.553644% 41.183582%);
    --palGuppy-210: rgb(48.946927% 11.484065% 41.261864%);
    --palGuppy-211: rgb(48.598761% 11.411499% 41.33917%);
    --palGuppy-212: rgb(48.251827% 11.335879% 41.415501%);
    --palGuppy-213: rgb(47.906106% 11.257191% 41.490965%);
    --palGuppy-214: rgb(47.561609% 11.17539% 41.565614%);
    --palGuppy-215: rgb(47.218356% 11.090413% 41.639486%);
    --palGuppy-216: rgb(46.876362% 11.002201% 41.712623%);
    --palGuppy-217: rgb(46.535623% 10.910714% 41.785117%);
    --palGuppy-218: rgb(46.196148% 10.815886% 41.857026%);
    --palGuppy-219: rgb(45.857951% 10.717649% 41.928404%);
    --palGuppy-220: rgb(45.521056% 10.615913% 41.999282%);
    --palGuppy-221: rgb(45.185456% 10.510621% 42.069763%);
    --palGuppy-222: rgb(44.851159% 10.401685% 42.139911%);
    --palGuppy-223: rgb(44.518176% 10.289016% 42.209791%);
    --palGuppy-224: rgb(44.186518% 10.172513% 42.279468%);
    --palGuppy-225: rgb(43.85621% 10.052057% 42.348983%);
    --palGuppy-226: rgb(43.527244% 9.927549% 42.418439%);
    --palGuppy-227: rgb(43.199633% 9.798862% 42.48791%);
    --palGuppy-228: rgb(42.873385% 9.665863% 42.557467%);
    --palGuppy-229: rgb(42.548511% 9.528403% 42.627187%);
    --palGuppy-230: rgb(42.225022% 9.386323% 42.697146%);
    --palGuppy-231: rgb(41.902934% 9.239445% 42.767411%);
    --palGuppy-232: rgb(41.582257% 9.087581% 42.838063%);
    --palGuppy-233: rgb(41.262997% 8.930526% 42.909196%);
    --palGuppy-234: rgb(40.945164% 8.768054% 42.980894%);
    --palGuppy-235: rgb(40.628772% 8.599914% 43.053242%);
    --palGuppy-236: rgb(40.313832% 8.425832% 43.126329%);
    --palGuppy-237: rgb(40.000356% 8.245503% 43.200242%);
    --palGuppy-238: rgb(39.688358% 8.05859% 43.275073%);
    --palGuppy-239: rgb(39.377851% 7.864718% 43.350915%);
    --palGuppy-240: rgb(39.068849% 7.663468% 43.427863%);
    --palGuppy-241: rgb(38.761368% 7.454372% 43.506014%);
    --palGuppy-242: rgb(38.455422% 7.236901% 43.585468%);
    --palGuppy-243: rgb(38.151031% 7.010456% 43.66632%);
    --palGuppy-244: rgb(37.848209% 6.774357% 43.748678%);
    --palGuppy-245: rgb(37.546975% 6.527825% 43.832651%);
    --palGuppy-246: rgb(37.247348% 6.269962% 43.918348%);
    --palGuppy-247: rgb(36.949347% 5.999723% 44.005882%);
    --palGuppy-248: rgb(36.652996% 5.715884% 44.095365%);
    --palGuppy-249: rgb(36.358316% 5.416994% 44.186915%);
    --palGuppy-250: rgb(36.065333% 5.101317% 44.280653%);
    --palGuppy-251: rgb(35.774073% 4.766742% 44.376701%);
    --palGuppy-252: rgb(35.484564% 4.41067% 44.475186%);
    --palGuppy-253: rgb(35.196837% 4.029596% 44.576237%);
    --palGuppy-254: rgb(34.910922% 3.626178% 44.679989%);
    --palGuppy-255: rgb(34.626855% 3.216581% 44.78658%);
    --palGuppy-256: rgb(34.344673% 2.800691% 44.89615%);
    --palGuppy-257: rgb(34.479525% 3.011158% 45.429638%);
    --palGuppy-258: rgb(34.613346% 3.223176% 45.965293%);
    --palGuppy-259: rgb(34.746121% 3.436717% 46.503143%);
    --palGuppy-260: rgb(34.877836% 3.65176% 47.04321%);
    --palGuppy-261: rgb(35.008472% 3.868289% 47.585518%);
    --palGuppy-262: rgb(35.138014% 4.085472% 48.130087%);
    --palGuppy-263: rgb(35.266441% 4.296709% 48.676936%);
    --palGuppy-264: rgb(35.393732% 4.503096% 49.226089%);
    --palGuppy-265: rgb(35.519861% 4.704978% 49.777593%);
    --palGuppy-266: rgb(35.644809% 4.902699% 50.331425%);
    --palGuppy-267: rgb(35.768552% 5.096558% 50.887595%);
    --palGuppy-268: rgb(35.891065% 5.286825% 51.446111%);
    --palGuppy-269: rgb(36.012308% 5.473718% 52.007042%);
    --palGuppy-270: rgb(36.132264% 5.657502% 52.570329%);
    --palGuppy-271: rgb(36.250901% 5.838396% 53.135973%);
    --palGuppy-272: rgb(36.368177% 6.016571% 53.704038%);
    --palGuppy-273: rgb(36.484066% 6.192249% 54.274464%);
    --palGuppy-274: rgb(36.598531% 6.365613% 54.847251%);
    --palGuppy-275: rgb(36.711527% 6.536814% 55.422439%);
    --palGuppy-276: rgb(36.823026% 6.706065% 55.999942%);
    --palGuppy-277: rgb(36.93297% 6.873483% 56.579835%);
    --palGuppy-278: rgb(37.041332% 7.039278% 57.16201%);
    --palGuppy-279: rgb(37.148052% 7.203568% 57.746531%);
    --palGuppy-280: rgb(37.253096% 7.366554% 58.333283%);
    --palGuppy-281: rgb(37.356396% 7.528343% 58.92234%);
    --palGuppy-282: rgb(37.457917% 7.689137% 59.513575%);
    --palGuppy-283: rgb(37.557593% 7.849067% 60.107006%);
    --palGuppy-284: rgb(37.65537% 8.008294% 60.702579%);
    --palGuppy-285: rgb(37.751193% 8.166994% 61.300216%);
    --palGuppy-286: rgb(37.84499% 8.325305% 61.899914%);
    --palGuppy-287: rgb(37.9367% 8.483398% 62.501597%);
    --palGuppy-288: rgb(38.026259% 8.641451% 63.105181%);
    --palGuppy-289: rgb(38.113594% 8.79963% 63.710602%);
    --palGuppy-290: rgb(38.198627% 8.958101% 64.317808%);
    --palGuppy-291: rgb(38.281281% 9.11704% 64.926716%);
    --palGuppy-292: rgb(38.361478% 9.27664% 65.537217%);
    --palGuppy-293: rgb(38.439133% 9.437088% 66.149218%);
    --palGuppy-294: rgb(38.51416% 9.598575% 66.762618%);
    --palGuppy-295: rgb(38.586465% 9.7613% 67.377304%);
    --palGuppy-296: rgb(38.655954% 9.925466% 67.993157%);
    --palGuppy-297: rgb(38.722526% 10.091282% 68.610047%);
    --palGuppy-298: rgb(38.786079% 10.258966% 69.227835%);
    --palGuppy-299: rgb(38.846505% 10.428739% 69.84637%);
    --palGuppy-300: rgb(38.903692% 10.600831% 70.465491%);
    --palGuppy-301: rgb(38.95752% 10.775473% 71.085037%);
    --palGuppy-302: rgb(39.007863% 10.952895% 71.704847%);
    --palGuppy-303: rgb(39.054602% 11.133359% 72.324695%);
    --palGuppy-304: rgb(39.097605% 11.317118% 72.944369%);
    --palGuppy-305: rgb(39.136729% 11.504419% 73.56368%);
    --palGuppy-306: rgb(39.17183% 11.695526% 74.182396%);
    --palGuppy-307: rgb(39.202771% 11.890722% 74.800225%);
    --palGuppy-308: rgb(39.229376% 12.090254% 75.416986%);
    --palGuppy-309: rgb(39.251508% 12.294425% 76.032318%);
    --palGuppy-310: rgb(39.268979% 12.503492% 76.646005%);
    --palGuppy-311: rgb(39.281639% 12.717761% 77.257663%);
    --palGuppy-312: rgb(39.289285% 12.937494% 77.86704%);
    --palGuppy-313: rgb(39.291749% 13.162993% 78.47374%);
    --palGuppy-314: rgb(39.288841% 13.394543% 79.0774%);
    --palGuppy-315: rgb(39.280351% 13.632422% 79.677672%);
    --palGuppy-316: rgb(39.26608% 13.876915% 80.27414%);
    --palGuppy-317: rgb(39.245823% 14.128306% 80.86637%);
    --palGuppy-318: rgb(39.219363% 14.386868% 81.453923%);
    --palGuppy-319: rgb(39.18648% 14.65287% 82.036339%);
    --palGuppy-320: rgb(39.146948% 14.92657% 82.613134%);
    --palGuppy-321: rgb(39.100535% 15.208221% 83.183802%);
    --palGuppy-322: rgb(39.04701% 15.498061% 83.747815%);
    --palGuppy-323: rgb(38.986135% 15.796316% 84.304623%);
    --palGuppy-324: rgb(38.917673% 16.103195% 84.853655%);
    --palGuppy-325: rgb(38.84137% 16.41889% 85.394346%);
    --palGuppy-326: rgb(38.756993% 16.743574% 85.926073%);
    --palGuppy-327: rgb(38.66431% 17.077394% 86.448201%);
    --palGuppy-328: rgb(38.563066% 17.420477% 86.960116%);
    --palGuppy-329: rgb(38.453036% 17.77292% 87.46115%);
    --palGuppy-330: rgb(38.333992% 18.134792% 87.950642%);
    --palGuppy-331: rgb(38.20571% 18.506128% 88.427925%);
    --palGuppy-332: rgb(38.067977% 18.886934% 88.892321%);
    --palGuppy-333: rgb(37.920609% 19.277172% 89.343143%);
    --palGuppy-334: rgb(37.763396% 19.676779% 89.779739%);
    --palGuppy-335: rgb(37.596193% 20.085638% 90.201425%);
    --palGuppy-336: rgb(37.418852% 20.5036% 90.607549%);
    --palGuppy-337: rgb(37.231248% 20.93047% 90.99748%);
    --palGuppy-338: rgb(37.033274% 21.366018% 91.370612%);
    --palGuppy-339: rgb(36.824867% 21.809962% 91.726363%);
    --palGuppy-340: rgb(36.605991% 22.261982% 92.064188%);
    --palGuppy-341: rgb(36.376637% 22.721716% 92.383589%);
    --palGuppy-342: rgb(36.136834% 23.188762% 92.684116%);
    --palGuppy-343: rgb(35.886649% 23.662681% 92.965374%);
    --palGuppy-344: rgb(35.626183% 24.142998% 93.227029%);
    --palGuppy-345: rgb(35.355578% 24.629207% 93.468813%);
    --palGuppy-346: rgb(35.075016% 25.120774% 93.690524%);
    --palGuppy-347: rgb(34.784715% 25.617141% 93.892038%);
    --palGuppy-348: rgb(34.484932% 26.117733% 94.073302%);
    --palGuppy-349: rgb(34.175962% 26.62196% 94.234342%);
    --palGuppy-350: rgb(33.858131% 27.129224% 94.375258%);
    --palGuppy-351: rgb(33.531801% 27.638923% 94.496228%);
    --palGuppy-352: rgb(33.197362% 28.150458% 94.597501%);
    --palGuppy-353: rgb(32.855229% 28.663239% 94.679399%);
    --palGuppy-354: rgb(32.505842% 29.176687% 94.742306%);
    --palGuppy-355: rgb(32.149657% 29.690241% 94.78667%);
    --palGuppy-356: rgb(31.787148% 30.203359% 94.812995%);
    --palGuppy-357: rgb(31.418802% 30.715526% 94.821833%);
    --palGuppy-358: rgb(31.045115% 31.22625% 94.81378%);
    --palGuppy-359: rgb(30.666589% 31.735072% 94.789469%);
    --palGuppy-360: rgb(30.283722% 32.241567% 94.749562%);
    --palGuppy-361: rgb(29.897012% 32.745341% 94.694742%);
    --palGuppy-362: rgb(29.506951% 33.246035% 94.625709%);
    --palGuppy-363: rgb(29.114036% 33.743319% 94.543177%);
    --palGuppy-364: rgb(28.718771% 34.236889% 94.447877%);
    --palGuppy-365: rgb(28.321595% 34.726502% 94.340509%);
    --palGuppy-366: rgb(27.922991% 35.211919% 94.221798%);
    --palGuppy-367: rgb(27.523417% 35.692938% 94.092451%);
    --palGuppy-368: rgb(27.123292% 36.169401% 93.953153%);
    --palGuppy-369: rgb(26.723067% 36.641155% 93.804596%);
    --palGuppy-370: rgb(26.323146% 37.108088% 93.647434%);
    --palGuppy-371: rgb(25.923909% 37.570121% 93.482297%);
    --palGuppy-372: rgb(25.525803% 38.027156% 93.30984%);
    --palGuppy-373: rgb(25.12916% 38.479167% 93.130635%);
    --palGuppy-374: rgb(24.734346% 38.926123% 92.945255%);
    --palGuppy-375: rgb(24.341722% 39.368008% 92.754256%);
    --palGuppy-376: rgb(23.951634% 39.804823% 92.558166%);
    --palGuppy-377: rgb(23.56442% 40.236584% 92.357489%);
    --palGuppy-378: rgb(23.180405% 40.66332% 92.152704%);
    --palGuppy-379: rgb(22.799904% 41.08507% 91.944265%);
    --palGuppy-380: rgb(22.423224% 41.501886% 91.732601%);
    --palGuppy-381: rgb(22.050662% 41.913826% 91.518116%);
    --palGuppy-382: rgb(21.682507% 42.320958% 91.30119%);
    --palGuppy-383: rgb(21.31904% 42.723357% 91.082182%);
    --palGuppy-384: rgb(20.960575% 43.121089% 90.861456%);
    --palGuppy-385: rgb(20.607384% 43.514238% 90.639331%);
    --palGuppy-386: rgb(20.259697% 43.902906% 90.416074%);
    --palGuppy-387: rgb(19.917852% 44.287159% 90.192024%);
    --palGuppy-388: rgb(19.582057% 44.667107% 89.967401%);
    --palGuppy-389: rgb(19.252612% 45.042831% 89.742484%);
    --palGuppy-390: rgb(18.92974% 45.414439% 89.517479%);
    --palGuppy-391: rgb(18.613751% 45.782009% 89.292647%);
    --palGuppy-392: rgb(18.304825% 46.145661% 89.068136%);
    --palGuppy-393: rgb(18.003276% 46.50547% 88.844188%);
    --palGuppy-394: rgb(17.709324% 46.861542% 88.620962%);
    --palGuppy-395: rgb(17.423187% 47.21398% 88.398607%);
    --palGuppy-396: rgb(17.145104% 47.562878% 88.17728%);
    --palGuppy-397: rgb(16.875338% 47.908322% 87.95715%);
    --palGuppy-398: rgb(16.614094% 48.250411% 87.738341%);
    --palGuppy-399: rgb(16.361573% 48.589242% 87.520962%);
    --palGuppy-400: rgb(16.117982% 48.924908% 87.305129%);
    --palGuppy-401: rgb(15.883517% 49.257499% 87.09095%);
    --palGuppy-402: rgb(15.658363% 49.587105% 86.87852%);
    --palGuppy-403: rgb(15.442692% 49.913815% 86.667929%);
    --palGuppy-404: rgb(15.236659% 50.237715% 86.459259%);
    --palGuppy-405: rgb(15.040406% 50.558893% 86.252581%);
    --palGuppy-406: rgb(14.854056% 50.877433% 86.047964%);
    --palGuppy-407: rgb(14.677738% 51.193412% 85.845487%);
    --palGuppy-408: rgb(14.511541% 51.506911% 85.645205%);
    --palGuppy-409: rgb(14.355511% 51.818016% 85.447152%);
    --palGuppy-410: rgb(14.209689% 52.126806% 85.251368%);
    --palGuppy-411: rgb(14.074106% 52.433354% 85.0579%);
    --palGuppy-412: rgb(13.948815% 52.737725% 84.86683%);
    --palGuppy-413: rgb(13.833726% 53.040007% 84.678133%);
    --palGuppy-414: rgb(13.728797% 53.340269% 84.491842%);
    --palGuppy-415: rgb(13.634021% 53.638567% 84.308039%);
    --palGuppy-416: rgb(13.549217% 53.934989% 84.126673%);
    --palGuppy-417: rgb(13.474325% 54.229587% 83.947817%);
    --palGuppy-418: rgb(13.409162% 54.522436% 83.771454%);
    --palGuppy-419: rgb(13.353574% 54.813595% 83.59761%);
    --palGuppy-420: rgb(13.307362% 55.103129% 83.426291%);
    --palGuppy-421: rgb(13.270316% 55.391097% 83.257509%);
    --palGuppy-422: rgb(13.242183% 55.677564% 83.091249%);
    --palGuppy-423: rgb(13.222744% 55.96258% 82.927553%);
    --palGuppy-424: rgb(13.211666% 56.246216% 82.76636%);
    --palGuppy-425: rgb(13.208733% 56.528511% 82.60774%);
    --palGuppy-426: rgb(13.213586% 56.809533% 82.451634%);
    --palGuppy-427: rgb(13.225901% 57.089337% 82.298029%);
    --palGuppy-428: rgb(13.245416% 57.367961% 82.146982%);
    --palGuppy-429: rgb(13.271734% 57.645471% 81.998424%);
    --palGuppy-430: rgb(13.304513% 57.921915% 81.852343%);
    --palGuppy-431: rgb(13.343424% 58.197339% 81.708747%);
    --palGuppy-432: rgb(13.388124% 58.471789% 81.567635%);
    --palGuppy-433: rgb(13.43823% 58.745317% 81.428959%);
    --palGuppy-434: rgb(13.493386% 59.017971% 81.292704%);
    --palGuppy-435: rgb(13.553238% 59.289795% 81.158853%);
    --palGuppy-436: rgb(13.617435% 59.560833% 81.027389%);
    --palGuppy-437: rgb(13.685643% 59.831124% 80.898312%);
    --palGuppy-438: rgb(13.75749% 60.100715% 80.771573%);
    --palGuppy-439: rgb(13.832634% 60.36965% 80.647148%);
    --palGuppy-440: rgb(13.910735% 60.637968% 80.525012%);
    --palGuppy-441: rgb(13.991462% 60.905709% 80.405139%);
    --palGuppy-442: rgb(14.074489% 61.172914% 80.2875%);
    --palGuppy-443: rgb(14.159496% 61.43962% 80.172068%);
    --palGuppy-444: rgb(14.246171% 61.705867% 80.058811%);
    --palGuppy-445: rgb(14.334208% 61.97169% 79.947699%);
    --palGuppy-446: rgb(14.42331% 62.237128% 79.838698%);
    --palGuppy-447: rgb(14.513188% 62.502214% 79.731775%);
    --palGuppy-448: rgb(14.603558% 62.766986% 79.626895%);
    --palGuppy-449: rgb(14.694145% 63.031477% 79.524022%);
    --palGuppy-450: rgb(14.784682% 63.295722% 79.423118%);
    --palGuppy-451: rgb(14.874909% 63.559754% 79.324145%);
    --palGuppy-452: rgb(14.964572% 63.823605% 79.227065%);
    --palGuppy-453: rgb(15.053437% 64.087306% 79.131848%);
    --palGuppy-454: rgb(15.141266% 64.350887% 79.038457%);
    --palGuppy-455: rgb(15.227815% 64.614381% 78.946838%);
    --palGuppy-456: rgb(15.312857% 64.87782% 78.856946%);
    --palGuppy-457: rgb(15.39617% 65.141233% 78.768737%);
    --palGuppy-458: rgb(15.47754% 65.40465% 78.682168%);
    --palGuppy-459: rgb(15.55678% 65.668093% 78.597216%);
    --palGuppy-460: rgb(15.633676% 65.931593% 78.513827%);
    --palGuppy-461: rgb(15.708014% 66.19518% 78.431938%);
    --palGuppy-462: rgb(15.779597% 66.458882% 78.351501%);
    --palGuppy-463: rgb(15.848254% 66.72272% 78.272488%);
    --palGuppy-464: rgb(15.913804% 66.986719% 78.194856%);
    --palGuppy-465: rgb(15.976034% 67.25091% 78.118528%);
    --palGuppy-466: rgb(16.034759% 67.515317% 78.043451%);
    --palGuppy-467: rgb(16.08986% 67.779955% 77.969628%);
    --palGuppy-468: rgb(16.141103% 68.044856% 77.896954%);
    --palGuppy-469: rgb(16.188308% 68.310045% 77.825374%);
    --palGuppy-470: rgb(16.231366% 68.575533% 77.75489%);
    --palGuppy-471: rgb(16.270047% 68.841353% 77.685396%);
    --palGuppy-472: rgb(16.304181% 69.107524% 77.616842%);
    --palGuppy-473: rgb(16.333657% 69.374059% 77.549218%);
    --palGuppy-474: rgb(16.35823% 69.640989% 77.482412%);
    --palGuppy-475: rgb(16.377781% 69.908326% 77.416406%);
    --palGuppy-476: rgb(16.392124% 70.176092% 77.351133%);
    --palGuppy-477: rgb(16.40106% 70.444309% 77.286518%);
    --palGuppy-478: rgb(16.40448% 70.712985% 77.222549%);
    --palGuppy-479: rgb(16.402119% 70.982152% 77.159105%);
    --palGuppy-480: rgb(16.3939% 71.25181% 77.096201%);
    --palGuppy-481: rgb(16.379543% 71.521992% 77.033709%);
    --palGuppy-482: rgb(16.358942% 71.792701% 76.971626%);
    --palGuppy-483: rgb(16.331838% 72.063962% 76.909845%);
    --palGuppy-484: rgb(16.298099% 72.335781% 76.84835%);
    --palGuppy-485: rgb(16.25746% 72.608182% 76.78704%);
    --palGuppy-486: rgb(16.209779% 72.881169% 76.725897%);
    --palGuppy-487: rgb(16.154764% 73.154765% 76.664813%);
    --palGuppy-488: rgb(16.09228% 73.428972% 76.603783%);
    --palGuppy-489: rgb(16.021981% 73.703815% 76.54268%);
    --palGuppy-490: rgb(15.943759% 73.97929% 76.481521%);
    --palGuppy-491: rgb(15.857221% 74.255425% 76.420171%);
    --palGuppy-492: rgb(15.762192% 74.532217% 76.358622%);
    --palGuppy-493: rgb(15.65833% 74.809684% 76.296782%);
    --palGuppy-494: rgb(15.545331% 75.087835% 76.234593%);
    --palGuppy-495: rgb(15.422927% 75.366674% 76.172021%);
    --palGuppy-496: rgb(15.290674% 75.646218% 76.108958%);
    --palGuppy-497: rgb(15.148307% 75.926466% 76.045395%);
    --palGuppy-498: rgb(14.995353% 76.207432% 75.981237%);
    --palGuppy-499: rgb(14.831355% 76.489125% 75.916412%);
    --palGuppy-500: rgb(14.655968% 76.771541% 75.850916%);
    --palGuppy-501: rgb(14.468546% 77.054698% 75.78463%);
    --palGuppy-502: rgb(14.268557% 77.338599% 75.717506%);
    --palGuppy-503: rgb(14.055475% 77.623242% 75.649523%);
    --palGuppy-504: rgb(13.828504% 77.908642% 75.580572%);
    --palGuppy-505: rgb(13.586902% 78.194802% 75.510602%);
    --palGuppy-506: rgb(13.329946% 78.481715% 75.439598%);
    --palGuppy-507: rgb(13.056556% 78.769398% 75.367452%);
    --palGuppy-508: rgb(12.765661% 79.057852% 75.294107%);
    --palGuppy-509: rgb(12.456163% 79.347072% 75.219545%);
    --palGuppy-510: rgb(12.126592% 79.637066% 75.143682%);
    --palGuppy-511: rgb(11.775297% 79.927839% 75.066449%);
}
