/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palHaline-1: rgb(16.470588% 9.411765% 42.352941%);
    --palHaline-2: rgb(16.470588% 9.803922% 43.137255%);
    --palHaline-3: rgb(16.470588% 9.803922% 44.313725%);
    --palHaline-4: rgb(16.862745% 9.803922% 45.098039%);
    --palHaline-5: rgb(16.862745% 9.803922% 45.882353%);
    --palHaline-6: rgb(17.254902% 10.196078% 47.058824%);
    --palHaline-7: rgb(17.254902% 10.196078% 47.843137%);
    --palHaline-8: rgb(17.647059% 10.196078% 49.019608%);
    --palHaline-9: rgb(17.647059% 10.196078% 49.803922%);
    --palHaline-10: rgb(17.647059% 10.588235% 50.980392%);
    --palHaline-11: rgb(18.039216% 10.588235% 51.764706%);
    --palHaline-12: rgb(18.039216% 10.588235% 52.941176%);
    --palHaline-13: rgb(18.039216% 10.980392% 53.72549%);
    --palHaline-14: rgb(18.039216% 10.980392% 54.901961%);
    --palHaline-15: rgb(18.039216% 10.980392% 55.686275%);
    --palHaline-16: rgb(18.039216% 11.372549% 56.862745%);
    --palHaline-17: rgb(18.039216% 11.372549% 57.647059%);
    --palHaline-18: rgb(18.039216% 11.764706% 58.431373%);
    --palHaline-19: rgb(18.039216% 11.764706% 59.607843%);
    --palHaline-20: rgb(18.039216% 12.156863% 60.392157%);
    --palHaline-21: rgb(17.647059% 12.54902% 61.176471%);
    --palHaline-22: rgb(17.647059% 12.941176% 61.568627%);
    --palHaline-23: rgb(17.254902% 13.333333% 62.352941%);
    --palHaline-24: rgb(16.862745% 14.117647% 62.745098%);
    --palHaline-25: rgb(16.470588% 14.509804% 63.137255%);
    --palHaline-26: rgb(16.078431% 15.294118% 63.529412%);
    --palHaline-27: rgb(15.686275% 16.078431% 63.921569%);
    --palHaline-28: rgb(14.901961% 16.862745% 63.921569%);
    --palHaline-29: rgb(14.509804% 17.647059% 63.921569%);
    --palHaline-30: rgb(14.117647% 18.039216% 63.921569%);
    --palHaline-31: rgb(13.333333% 18.823529% 63.921569%);
    --palHaline-32: rgb(12.941176% 19.607843% 63.529412%);
    --palHaline-33: rgb(12.54902% 20.392157% 63.529412%);
    --palHaline-34: rgb(11.764706% 20.784314% 63.137255%);
    --palHaline-35: rgb(11.372549% 21.568627% 63.137255%);
    --palHaline-36: rgb(10.980392% 22.352941% 62.745098%);
    --palHaline-37: rgb(10.588235% 22.745098% 62.745098%);
    --palHaline-38: rgb(9.803922% 23.529412% 62.352941%);
    --palHaline-39: rgb(9.411765% 23.921569% 61.960784%);
    --palHaline-40: rgb(9.019608% 24.705882% 61.960784%);
    --palHaline-41: rgb(8.627451% 25.098039% 61.568627%);
    --palHaline-42: rgb(8.235294% 25.490196% 61.176471%);
    --palHaline-43: rgb(7.843137% 26.27451% 61.176471%);
    --palHaline-44: rgb(7.45098% 26.666667% 60.784314%);
    --palHaline-45: rgb(7.058824% 27.058824% 60.784314%);
    --palHaline-46: rgb(6.666667% 27.843137% 60.392157%);
    --palHaline-47: rgb(6.27451% 28.235294% 60%);
    --palHaline-48: rgb(5.882353% 28.627451% 60%);
    --palHaline-49: rgb(5.882353% 29.019608% 59.607843%);
    --palHaline-50: rgb(5.490196% 29.803922% 59.215686%);
    --palHaline-51: rgb(5.098039% 30.196078% 59.215686%);
    --palHaline-52: rgb(5.098039% 30.588235% 58.823529%);
    --palHaline-53: rgb(5.098039% 30.980392% 58.823529%);
    --palHaline-54: rgb(4.705882% 31.372549% 58.431373%);
    --palHaline-55: rgb(4.705882% 31.764706% 58.431373%);
    --palHaline-56: rgb(4.705882% 32.156863% 58.039216%);
    --palHaline-57: rgb(4.705882% 32.54902% 58.039216%);
    --palHaline-58: rgb(4.705882% 32.941176% 57.647059%);
    --palHaline-59: rgb(5.098039% 33.333333% 57.647059%);
    --palHaline-60: rgb(5.098039% 33.72549% 57.254902%);
    --palHaline-61: rgb(5.098039% 34.117647% 57.254902%);
    --palHaline-62: rgb(5.490196% 34.509804% 56.862745%);
    --palHaline-63: rgb(5.490196% 34.901961% 56.862745%);
    --palHaline-64: rgb(5.882353% 35.294118% 56.862745%);
    --palHaline-65: rgb(5.882353% 35.686275% 56.470588%);
    --palHaline-66: rgb(6.27451% 36.078431% 56.470588%);
    --palHaline-67: rgb(6.666667% 36.470588% 56.078431%);
    --palHaline-68: rgb(6.666667% 36.862745% 56.078431%);
    --palHaline-69: rgb(7.058824% 37.254902% 56.078431%);
    --palHaline-70: rgb(7.45098% 37.647059% 55.686275%);
    --palHaline-71: rgb(7.843137% 38.039216% 55.686275%);
    --palHaline-72: rgb(7.843137% 38.431373% 55.686275%);
    --palHaline-73: rgb(8.235294% 38.823529% 55.686275%);
    --palHaline-74: rgb(8.627451% 38.823529% 55.294118%);
    --palHaline-75: rgb(9.019608% 39.215686% 55.294118%);
    --palHaline-76: rgb(9.411765% 39.607843% 55.294118%);
    --palHaline-77: rgb(9.411765% 40% 54.901961%);
    --palHaline-78: rgb(9.803922% 40.392157% 54.901961%);
    --palHaline-79: rgb(10.196078% 40.784314% 54.901961%);
    --palHaline-80: rgb(10.588235% 41.176471% 54.901961%);
    --palHaline-81: rgb(10.980392% 41.568627% 54.901961%);
    --palHaline-82: rgb(11.372549% 41.960784% 54.509804%);
    --palHaline-83: rgb(11.372549% 41.960784% 54.509804%);
    --palHaline-84: rgb(11.764706% 42.352941% 54.509804%);
    --palHaline-85: rgb(12.156863% 42.745098% 54.509804%);
    --palHaline-86: rgb(12.54902% 43.137255% 54.509804%);
    --palHaline-87: rgb(12.941176% 43.529412% 54.509804%);
    --palHaline-88: rgb(13.333333% 43.921569% 54.117647%);
    --palHaline-89: rgb(13.333333% 44.313725% 54.117647%);
    --palHaline-90: rgb(13.72549% 44.313725% 54.117647%);
    --palHaline-91: rgb(14.117647% 44.705882% 54.117647%);
    --palHaline-92: rgb(14.509804% 45.098039% 54.117647%);
    --palHaline-93: rgb(14.901961% 45.490196% 54.117647%);
    --palHaline-94: rgb(14.901961% 45.882353% 54.117647%);
    --palHaline-95: rgb(15.294118% 46.27451% 54.117647%);
    --palHaline-96: rgb(15.686275% 46.27451% 53.72549%);
    --palHaline-97: rgb(16.078431% 46.666667% 53.72549%);
    --palHaline-98: rgb(16.078431% 47.058824% 53.72549%);
    --palHaline-99: rgb(16.470588% 47.45098% 53.72549%);
    --palHaline-100: rgb(16.862745% 47.843137% 53.72549%);
    --palHaline-101: rgb(16.862745% 48.235294% 53.72549%);
    --palHaline-102: rgb(17.254902% 48.627451% 53.72549%);
    --palHaline-103: rgb(17.647059% 48.627451% 53.72549%);
    --palHaline-104: rgb(17.647059% 49.019608% 53.72549%);
    --palHaline-105: rgb(18.039216% 49.411765% 53.72549%);
    --palHaline-106: rgb(18.431373% 49.803922% 53.72549%);
    --palHaline-107: rgb(18.431373% 50.196078% 53.72549%);
    --palHaline-108: rgb(18.823529% 50.588235% 53.72549%);
    --palHaline-109: rgb(19.215686% 50.980392% 53.72549%);
    --palHaline-110: rgb(19.215686% 50.980392% 53.333333%);
    --palHaline-111: rgb(19.607843% 51.372549% 53.333333%);
    --palHaline-112: rgb(20% 51.764706% 53.333333%);
    --palHaline-113: rgb(20% 52.156863% 53.333333%);
    --palHaline-114: rgb(20.392157% 52.54902% 53.333333%);
    --palHaline-115: rgb(20.392157% 52.941176% 53.333333%);
    --palHaline-116: rgb(20.784314% 53.333333% 53.333333%);
    --palHaline-117: rgb(20.784314% 53.72549% 53.333333%);
    --palHaline-118: rgb(21.176471% 53.72549% 53.333333%);
    --palHaline-119: rgb(21.568627% 54.117647% 53.333333%);
    --palHaline-120: rgb(21.568627% 54.509804% 53.333333%);
    --palHaline-121: rgb(21.960784% 54.901961% 53.333333%);
    --palHaline-122: rgb(21.960784% 55.294118% 53.333333%);
    --palHaline-123: rgb(22.352941% 55.686275% 53.333333%);
    --palHaline-124: rgb(22.352941% 56.078431% 53.333333%);
    --palHaline-125: rgb(22.745098% 56.470588% 52.941176%);
    --palHaline-126: rgb(22.745098% 56.470588% 52.941176%);
    --palHaline-127: rgb(23.137255% 56.862745% 52.941176%);
    --palHaline-128: rgb(23.137255% 57.254902% 52.941176%);
    --palHaline-129: rgb(23.529412% 57.647059% 52.941176%);
    --palHaline-130: rgb(23.529412% 58.039216% 52.941176%);
    --palHaline-131: rgb(23.921569% 58.431373% 52.941176%);
    --palHaline-132: rgb(23.921569% 58.823529% 52.941176%);
    --palHaline-133: rgb(24.313725% 59.215686% 52.941176%);
    --palHaline-134: rgb(24.313725% 59.607843% 52.54902%);
    --palHaline-135: rgb(24.705882% 60% 52.54902%);
    --palHaline-136: rgb(24.705882% 60% 52.54902%);
    --palHaline-137: rgb(25.098039% 60.392157% 52.54902%);
    --palHaline-138: rgb(25.490196% 60.784314% 52.54902%);
    --palHaline-139: rgb(25.490196% 61.176471% 52.156863%);
    --palHaline-140: rgb(25.882353% 61.568627% 52.156863%);
    --palHaline-141: rgb(25.882353% 61.960784% 52.156863%);
    --palHaline-142: rgb(26.27451% 62.352941% 52.156863%);
    --palHaline-143: rgb(26.27451% 62.745098% 51.764706%);
    --palHaline-144: rgb(26.666667% 63.137255% 51.764706%);
    --palHaline-145: rgb(26.666667% 63.529412% 51.764706%);
    --palHaline-146: rgb(27.058824% 63.921569% 51.764706%);
    --palHaline-147: rgb(27.45098% 64.313725% 51.372549%);
    --palHaline-148: rgb(27.45098% 64.313725% 51.372549%);
    --palHaline-149: rgb(27.843137% 64.705882% 51.372549%);
    --palHaline-150: rgb(28.235294% 65.098039% 50.980392%);
    --palHaline-151: rgb(28.235294% 65.490196% 50.980392%);
    --palHaline-152: rgb(28.627451% 65.882353% 50.980392%);
    --palHaline-153: rgb(29.019608% 66.27451% 50.588235%);
    --palHaline-154: rgb(29.019608% 66.666667% 50.588235%);
    --palHaline-155: rgb(29.411765% 67.058824% 50.588235%);
    --palHaline-156: rgb(29.803922% 67.45098% 50.196078%);
    --palHaline-157: rgb(29.803922% 67.843137% 50.196078%);
    --palHaline-158: rgb(30.196078% 68.235294% 49.803922%);
    --palHaline-159: rgb(30.588235% 68.235294% 49.803922%);
    --palHaline-160: rgb(30.980392% 68.627451% 49.411765%);
    --palHaline-161: rgb(31.372549% 69.019608% 49.411765%);
    --palHaline-162: rgb(31.764706% 69.411765% 49.019608%);
    --palHaline-163: rgb(31.764706% 69.803922% 49.019608%);
    --palHaline-164: rgb(32.156863% 70.196078% 48.627451%);
    --palHaline-165: rgb(32.54902% 70.588235% 48.627451%);
    --palHaline-166: rgb(32.941176% 70.980392% 48.235294%);
    --palHaline-167: rgb(33.333333% 71.372549% 48.235294%);
    --palHaline-168: rgb(33.72549% 71.764706% 47.843137%);
    --palHaline-169: rgb(34.117647% 72.156863% 47.45098%);
    --palHaline-170: rgb(34.509804% 72.156863% 47.45098%);
    --palHaline-171: rgb(35.294118% 72.54902% 47.058824%);
    --palHaline-172: rgb(35.686275% 72.941176% 46.666667%);
    --palHaline-173: rgb(36.078431% 73.333333% 46.666667%);
    --palHaline-174: rgb(36.470588% 73.72549% 46.27451%);
    --palHaline-175: rgb(36.862745% 74.117647% 45.882353%);
    --palHaline-176: rgb(37.254902% 74.509804% 45.882353%);
    --palHaline-177: rgb(38.039216% 74.901961% 45.490196%);
    --palHaline-178: rgb(38.431373% 74.901961% 45.098039%);
    --palHaline-179: rgb(38.823529% 75.294118% 44.705882%);
    --palHaline-180: rgb(39.607843% 75.686275% 44.705882%);
    --palHaline-181: rgb(40% 76.078431% 44.313725%);
    --palHaline-182: rgb(40.784314% 76.470588% 43.921569%);
    --palHaline-183: rgb(41.176471% 76.862745% 43.529412%);
    --palHaline-184: rgb(41.960784% 76.862745% 43.137255%);
    --palHaline-185: rgb(42.352941% 77.254902% 43.137255%);
    --palHaline-186: rgb(43.137255% 77.647059% 42.745098%);
    --palHaline-187: rgb(43.921569% 78.039216% 42.352941%);
    --palHaline-188: rgb(44.313725% 78.431373% 41.960784%);
    --palHaline-189: rgb(45.098039% 78.431373% 41.568627%);
    --palHaline-190: rgb(45.882353% 78.823529% 41.176471%);
    --palHaline-191: rgb(46.666667% 79.215686% 40.784314%);
    --palHaline-192: rgb(47.058824% 79.607843% 40.784314%);
    --palHaline-193: rgb(47.843137% 79.607843% 40.392157%);
    --palHaline-194: rgb(48.627451% 80% 40%);
    --palHaline-195: rgb(49.411765% 80.392157% 39.607843%);
    --palHaline-196: rgb(50.196078% 80.784314% 39.215686%);
    --palHaline-197: rgb(50.980392% 80.784314% 38.823529%);
    --palHaline-198: rgb(51.764706% 81.176471% 38.431373%);
    --palHaline-199: rgb(52.54902% 81.568627% 38.431373%);
    --palHaline-200: rgb(53.72549% 81.568627% 38.039216%);
    --palHaline-201: rgb(54.509804% 81.960784% 37.647059%);
    --palHaline-202: rgb(55.294118% 82.352941% 37.254902%);
    --palHaline-203: rgb(56.078431% 82.352941% 37.254902%);
    --palHaline-204: rgb(57.254902% 82.745098% 36.862745%);
    --palHaline-205: rgb(58.039216% 82.745098% 36.470588%);
    --palHaline-206: rgb(59.215686% 83.137255% 36.470588%);
    --palHaline-207: rgb(60% 83.137255% 36.470588%);
    --palHaline-208: rgb(60.784314% 83.529412% 36.078431%);
    --palHaline-209: rgb(61.960784% 83.921569% 36.078431%);
    --palHaline-210: rgb(62.745098% 83.921569% 36.078431%);
    --palHaline-211: rgb(63.921569% 84.313725% 36.078431%);
    --palHaline-212: rgb(64.705882% 84.313725% 36.078431%);
    --palHaline-213: rgb(65.882353% 84.705882% 36.078431%);
    --palHaline-214: rgb(66.666667% 84.705882% 36.078431%);
    --palHaline-215: rgb(67.843137% 84.705882% 36.078431%);
    --palHaline-216: rgb(68.627451% 85.098039% 36.470588%);
    --palHaline-217: rgb(69.411765% 85.098039% 36.470588%);
    --palHaline-218: rgb(70.588235% 85.490196% 36.862745%);
    --palHaline-219: rgb(71.372549% 85.490196% 37.254902%);
    --palHaline-220: rgb(72.156863% 85.882353% 37.647059%);
    --palHaline-221: rgb(73.333333% 85.882353% 38.039216%);
    --palHaline-222: rgb(74.117647% 86.27451% 38.431373%);
    --palHaline-223: rgb(74.901961% 86.27451% 38.823529%);
    --palHaline-224: rgb(75.686275% 86.666667% 39.215686%);
    --palHaline-225: rgb(76.862745% 86.666667% 39.607843%);
    --palHaline-226: rgb(77.647059% 87.058824% 40%);
    --palHaline-227: rgb(78.431373% 87.058824% 40.392157%);
    --palHaline-228: rgb(79.215686% 87.45098% 41.176471%);
    --palHaline-229: rgb(80% 87.45098% 41.568627%);
    --palHaline-230: rgb(80.784314% 87.843137% 42.352941%);
    --palHaline-231: rgb(81.568627% 87.843137% 42.745098%);
    --palHaline-232: rgb(82.352941% 88.235294% 43.529412%);
    --palHaline-233: rgb(83.137255% 88.235294% 43.921569%);
    --palHaline-234: rgb(83.921569% 88.627451% 44.705882%);
    --palHaline-235: rgb(84.705882% 88.627451% 45.098039%);
    --palHaline-236: rgb(85.490196% 89.019608% 45.882353%);
    --palHaline-237: rgb(86.27451% 89.019608% 46.666667%);
    --palHaline-238: rgb(87.058824% 89.411765% 47.45098%);
    --palHaline-239: rgb(87.843137% 89.803922% 47.843137%);
    --palHaline-240: rgb(88.235294% 89.803922% 48.627451%);
    --palHaline-241: rgb(89.019608% 90.196078% 49.411765%);
    --palHaline-242: rgb(89.803922% 90.196078% 50.196078%);
    --palHaline-243: rgb(90.588235% 90.588235% 50.588235%);
    --palHaline-244: rgb(91.372549% 90.588235% 51.372549%);
    --palHaline-245: rgb(92.156863% 90.980392% 52.156863%);
    --palHaline-246: rgb(92.54902% 91.372549% 52.941176%);
    --palHaline-247: rgb(93.333333% 91.372549% 53.72549%);
    --palHaline-248: rgb(94.117647% 91.764706% 54.117647%);
    --palHaline-249: rgb(94.901961% 91.764706% 54.901961%);
    --palHaline-250: rgb(95.294118% 92.156863% 55.686275%);
    --palHaline-251: rgb(96.078431% 92.54902% 56.470588%);
    --palHaline-252: rgb(96.862745% 92.54902% 57.254902%);
    --palHaline-253: rgb(97.254902% 92.941176% 58.039216%);
    --palHaline-254: rgb(98.039216% 93.333333% 58.823529%);
    --palHaline-255: rgb(98.823529% 93.333333% 59.607843%);
    --palHaline-256: rgb(99.215686% 93.72549% 60.392157%);
}
