/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palHawaii-1: rgb(55.054% 0.6842% 45.198%);
    --palHawaii-2: rgb(55.149% 1.5367% 44.797%);
    --palHawaii-3: rgb(55.243% 2.3795% 44.4%);
    --palHawaii-4: rgb(55.333% 3.2329% 44.002%);
    --palHawaii-5: rgb(55.423% 4.117% 43.606%);
    --palHawaii-6: rgb(55.51% 4.9286% 43.213%);
    --palHawaii-7: rgb(55.595% 5.6667% 42.819%);
    --palHawaii-8: rgb(55.68% 6.3525% 42.427%);
    --palHawaii-9: rgb(55.762% 6.997% 42.038%);
    --palHawaii-10: rgb(55.841% 7.6028% 41.651%);
    --palHawaii-11: rgb(55.921% 8.1936% 41.266%);
    --palHawaii-12: rgb(55.999% 8.7507% 40.882%);
    --palHawaii-13: rgb(56.075% 9.2811% 40.501%);
    --palHawaii-14: rgb(56.149% 9.8081% 40.124%);
    --palHawaii-15: rgb(56.224% 10.313% 39.747%);
    --palHawaii-16: rgb(56.295% 10.8% 39.374%);
    --palHawaii-17: rgb(56.366% 11.287% 39.002%);
    --palHawaii-18: rgb(56.435% 11.753% 38.634%);
    --palHawaii-19: rgb(56.503% 12.212% 38.27%);
    --palHawaii-20: rgb(56.571% 12.668% 37.907%);
    --palHawaii-21: rgb(56.638% 13.117% 37.547%);
    --palHawaii-22: rgb(56.704% 13.554% 37.19%);
    --palHawaii-23: rgb(56.768% 13.987% 36.838%);
    --palHawaii-24: rgb(56.831% 14.42% 36.486%);
    --palHawaii-25: rgb(56.894% 14.842% 36.138%);
    --palHawaii-26: rgb(56.956% 15.262% 35.794%);
    --palHawaii-27: rgb(57.017% 15.681% 35.452%);
    --palHawaii-28: rgb(57.078% 16.093% 35.113%);
    --palHawaii-29: rgb(57.138% 16.501% 34.776%);
    --palHawaii-30: rgb(57.197% 16.912% 34.442%);
    --palHawaii-31: rgb(57.256% 17.313% 34.112%);
    --palHawaii-32: rgb(57.314% 17.717% 33.784%);
    --palHawaii-33: rgb(57.371% 18.114% 33.46%);
    --palHawaii-34: rgb(57.428% 18.515% 33.136%);
    --palHawaii-35: rgb(57.484% 18.909% 32.817%);
    --palHawaii-36: rgb(57.541% 19.304% 32.499%);
    --palHawaii-37: rgb(57.597% 19.698% 32.185%);
    --palHawaii-38: rgb(57.652% 20.085% 31.874%);
    --palHawaii-39: rgb(57.706% 20.478% 31.565%);
    --palHawaii-40: rgb(57.76% 20.866% 31.256%);
    --palHawaii-41: rgb(57.814% 21.254% 30.954%);
    --palHawaii-42: rgb(57.868% 21.643% 30.652%);
    --palHawaii-43: rgb(57.921% 22.029% 30.35%);
    --palHawaii-44: rgb(57.975% 22.411% 30.052%);
    --palHawaii-45: rgb(58.027% 22.798% 29.757%);
    --palHawaii-46: rgb(58.079% 23.182% 29.462%);
    --palHawaii-47: rgb(58.131% 23.565% 29.171%);
    --palHawaii-48: rgb(58.183% 23.946% 28.881%);
    --palHawaii-49: rgb(58.235% 24.327% 28.591%);
    --palHawaii-50: rgb(58.287% 24.71% 28.307%);
    --palHawaii-51: rgb(58.339% 25.092% 28.02%);
    --palHawaii-52: rgb(58.39% 25.474% 27.738%);
    --palHawaii-53: rgb(58.442% 25.853% 27.455%);
    --palHawaii-54: rgb(58.493% 26.234% 27.174%);
    --palHawaii-55: rgb(58.544% 26.616% 26.898%);
    --palHawaii-56: rgb(58.595% 26.997% 26.62%);
    --palHawaii-57: rgb(58.646% 27.377% 26.344%);
    --palHawaii-58: rgb(58.696% 27.758% 26.068%);
    --palHawaii-59: rgb(58.747% 28.137% 25.793%);
    --palHawaii-60: rgb(58.797% 28.518% 25.522%);
    --palHawaii-61: rgb(58.848% 28.901% 25.249%);
    --palHawaii-62: rgb(58.898% 29.282% 24.977%);
    --palHawaii-63: rgb(58.949% 29.665% 24.708%);
    --palHawaii-64: rgb(59% 30.047% 24.438%);
    --palHawaii-65: rgb(59.051% 30.43% 24.172%);
    --palHawaii-66: rgb(59.102% 30.814% 23.903%);
    --palHawaii-67: rgb(59.153% 31.197% 23.638%);
    --palHawaii-68: rgb(59.204% 31.585% 23.369%);
    --palHawaii-69: rgb(59.255% 31.97% 23.106%);
    --palHawaii-70: rgb(59.305% 32.356% 22.842%);
    --palHawaii-71: rgb(59.356% 32.743% 22.577%);
    --palHawaii-72: rgb(59.407% 33.131% 22.313%);
    --palHawaii-73: rgb(59.458% 33.523% 22.051%);
    --palHawaii-74: rgb(59.51% 33.913% 21.787%);
    --palHawaii-75: rgb(59.561% 34.305% 21.523%);
    --palHawaii-76: rgb(59.613% 34.698% 21.261%);
    --palHawaii-77: rgb(59.664% 35.092% 20.999%);
    --palHawaii-78: rgb(59.716% 35.488% 20.739%);
    --palHawaii-79: rgb(59.768% 35.883% 20.478%);
    --palHawaii-80: rgb(59.82% 36.282% 20.215%);
    --palHawaii-81: rgb(59.872% 36.683% 19.953%);
    --palHawaii-82: rgb(59.925% 37.084% 19.696%);
    --palHawaii-83: rgb(59.977% 37.488% 19.437%);
    --palHawaii-84: rgb(60.029% 37.893% 19.174%);
    --palHawaii-85: rgb(60.082% 38.301% 18.915%);
    --palHawaii-86: rgb(60.135% 38.709% 18.655%);
    --palHawaii-87: rgb(60.187% 39.122% 18.395%);
    --palHawaii-88: rgb(60.24% 39.535% 18.134%);
    --palHawaii-89: rgb(60.293% 39.949% 17.878%);
    --palHawaii-90: rgb(60.346% 40.368% 17.616%);
    --palHawaii-91: rgb(60.4% 40.787% 17.359%);
    --palHawaii-92: rgb(60.452% 41.21% 17.101%);
    --palHawaii-93: rgb(60.504% 41.635% 16.844%);
    --palHawaii-94: rgb(60.556% 42.062% 16.585%);
    --palHawaii-95: rgb(60.608% 42.493% 16.332%);
    --palHawaii-96: rgb(60.661% 42.925% 16.073%);
    --palHawaii-97: rgb(60.713% 43.36% 15.82%);
    --palHawaii-98: rgb(60.764% 43.8% 15.565%);
    --palHawaii-99: rgb(60.814% 44.241% 15.309%);
    --palHawaii-100: rgb(60.864% 44.685% 15.058%);
    --palHawaii-101: rgb(60.913% 45.132% 14.807%);
    --palHawaii-102: rgb(60.961% 45.583% 14.561%);
    --palHawaii-103: rgb(61.008% 46.036% 14.312%);
    --palHawaii-104: rgb(61.054% 46.493% 14.069%);
    --palHawaii-105: rgb(61.099% 46.954% 13.827%);
    --palHawaii-106: rgb(61.142% 47.417% 13.583%);
    --palHawaii-107: rgb(61.183% 47.884% 13.351%);
    --palHawaii-108: rgb(61.223% 48.354% 13.121%);
    --palHawaii-109: rgb(61.26% 48.829% 12.892%);
    --palHawaii-110: rgb(61.295% 49.305% 12.672%);
    --palHawaii-111: rgb(61.327% 49.788% 12.457%);
    --palHawaii-112: rgb(61.357% 50.27% 12.249%);
    --palHawaii-113: rgb(61.384% 50.759% 12.051%);
    --palHawaii-114: rgb(61.407% 51.25% 11.867%);
    --palHawaii-115: rgb(61.426% 51.746% 11.685%);
    --palHawaii-116: rgb(61.442% 52.243% 11.516%);
    --palHawaii-117: rgb(61.453% 52.746% 11.366%);
    --palHawaii-118: rgb(61.459% 53.251% 11.227%);
    --palHawaii-119: rgb(61.461% 53.759% 11.103%);
    --palHawaii-120: rgb(61.457% 54.271% 11%);
    --palHawaii-121: rgb(61.447% 54.785% 10.911%);
    --palHawaii-122: rgb(61.431% 55.302% 10.842%);
    --palHawaii-123: rgb(61.408% 55.821% 10.801%);
    --palHawaii-124: rgb(61.379% 56.345% 10.785%);
    --palHawaii-125: rgb(61.342% 56.868% 10.794%);
    --palHawaii-126: rgb(61.297% 57.395% 10.831%);
    --palHawaii-127: rgb(61.245% 57.923% 10.903%);
    --palHawaii-128: rgb(61.184% 58.452% 11.004%);
    --palHawaii-129: rgb(61.115% 58.982% 11.132%);
    --palHawaii-130: rgb(61.035% 59.513% 11.296%);
    --palHawaii-131: rgb(60.947% 60.044% 11.486%);
    --palHawaii-132: rgb(60.849% 60.575% 11.717%);
    --palHawaii-133: rgb(60.741% 61.106% 11.981%);
    --palHawaii-134: rgb(60.622% 61.635% 12.276%);
    --palHawaii-135: rgb(60.493% 62.162% 12.612%);
    --palHawaii-136: rgb(60.354% 62.688% 12.976%);
    --palHawaii-137: rgb(60.203% 63.211% 13.369%);
    --palHawaii-138: rgb(60.041% 63.731% 13.797%);
    --palHawaii-139: rgb(59.869% 64.247% 14.25%);
    --palHawaii-140: rgb(59.686% 64.759% 14.733%);
    --palHawaii-141: rgb(59.492% 65.266% 15.242%);
    --palHawaii-142: rgb(59.287% 65.77% 15.779%);
    --palHawaii-143: rgb(59.071% 66.267% 16.342%);
    --palHawaii-144: rgb(58.844% 66.758% 16.926%);
    --palHawaii-145: rgb(58.608% 67.243% 17.528%);
    --palHawaii-146: rgb(58.361% 67.721% 18.151%);
    --palHawaii-147: rgb(58.105% 68.192% 18.799%);
    --palHawaii-148: rgb(57.839% 68.656% 19.459%);
    --palHawaii-149: rgb(57.565% 69.112% 20.131%);
    --palHawaii-150: rgb(57.281% 69.561% 20.824%);
    --palHawaii-151: rgb(56.988% 70.002% 21.528%);
    --palHawaii-152: rgb(56.689% 70.435% 22.247%);
    --palHawaii-153: rgb(56.381% 70.86% 22.974%);
    --palHawaii-154: rgb(56.066% 71.275% 23.717%);
    --palHawaii-155: rgb(55.746% 71.684% 24.462%);
    --palHawaii-156: rgb(55.418% 72.084% 25.222%);
    --palHawaii-157: rgb(55.085% 72.477% 25.987%);
    --palHawaii-158: rgb(54.747% 72.86% 26.757%);
    --palHawaii-159: rgb(54.404% 73.238% 27.539%);
    --palHawaii-160: rgb(54.057% 73.606% 28.324%);
    --palHawaii-161: rgb(53.707% 73.968% 29.114%);
    --palHawaii-162: rgb(53.351% 74.323% 29.909%);
    --palHawaii-163: rgb(52.994% 74.67% 30.708%);
    --palHawaii-164: rgb(52.633% 75.011% 31.511%);
    --palHawaii-165: rgb(52.27% 75.346% 32.319%);
    --palHawaii-166: rgb(51.905% 75.675% 33.128%);
    --palHawaii-167: rgb(51.537% 75.998% 33.944%);
    --palHawaii-168: rgb(51.168% 76.316% 34.76%);
    --palHawaii-169: rgb(50.799% 76.629% 35.578%);
    --palHawaii-170: rgb(50.428% 76.937% 36.398%);
    --palHawaii-171: rgb(50.055% 77.241% 37.222%);
    --palHawaii-172: rgb(49.682% 77.541% 38.048%);
    --palHawaii-173: rgb(49.309% 77.836% 38.876%);
    --palHawaii-174: rgb(48.935% 78.129% 39.705%);
    --palHawaii-175: rgb(48.561% 78.418% 40.538%);
    --palHawaii-176: rgb(48.188% 78.704% 41.371%);
    --palHawaii-177: rgb(47.814% 78.987% 42.206%);
    --palHawaii-178: rgb(47.441% 79.267% 43.044%);
    --palHawaii-179: rgb(47.068% 79.546% 43.882%);
    --palHawaii-180: rgb(46.695% 79.822% 44.724%);
    --palHawaii-181: rgb(46.322% 80.096% 45.567%);
    --palHawaii-182: rgb(45.952% 80.369% 46.412%);
    --palHawaii-183: rgb(45.581% 80.641% 47.258%);
    --palHawaii-184: rgb(45.212% 80.911% 48.105%);
    --palHawaii-185: rgb(44.844% 81.18% 48.955%);
    --palHawaii-186: rgb(44.477% 81.447% 49.809%);
    --palHawaii-187: rgb(44.111% 81.714% 50.662%);
    --palHawaii-188: rgb(43.749% 81.98% 51.517%);
    --palHawaii-189: rgb(43.386% 82.246% 52.375%);
    --palHawaii-190: rgb(43.028% 82.511% 53.235%);
    --palHawaii-191: rgb(42.672% 82.776% 54.096%);
    --palHawaii-192: rgb(42.319% 83.04% 54.96%);
    --palHawaii-193: rgb(41.971% 83.304% 55.824%);
    --palHawaii-194: rgb(41.626% 83.567% 56.692%);
    --palHawaii-195: rgb(41.287% 83.831% 57.561%);
    --palHawaii-196: rgb(40.952% 84.094% 58.431%);
    --palHawaii-197: rgb(40.624% 84.356% 59.304%);
    --palHawaii-198: rgb(40.304% 84.619% 60.178%);
    --palHawaii-199: rgb(39.99% 84.882% 61.054%);
    --palHawaii-200: rgb(39.687% 85.144% 61.932%);
    --palHawaii-201: rgb(39.395% 85.406% 62.81%);
    --palHawaii-202: rgb(39.115% 85.668% 63.691%);
    --palHawaii-203: rgb(38.847% 85.93% 64.571%);
    --palHawaii-204: rgb(38.593% 86.192% 65.453%);
    --palHawaii-205: rgb(38.359% 86.453% 66.337%);
    --palHawaii-206: rgb(38.141% 86.713% 67.22%);
    --palHawaii-207: rgb(37.942% 86.973% 68.102%);
    --palHawaii-208: rgb(37.767% 87.232% 68.986%);
    --palHawaii-209: rgb(37.617% 87.491% 69.869%);
    --palHawaii-210: rgb(37.492% 87.748% 70.751%);
    --palHawaii-211: rgb(37.398% 88.005% 71.632%);
    --palHawaii-212: rgb(37.334% 88.26% 72.511%);
    --palHawaii-213: rgb(37.304% 88.514% 73.387%);
    --palHawaii-214: rgb(37.311% 88.765% 74.26%);
    --palHawaii-215: rgb(37.357% 89.016% 75.13%);
    --palHawaii-216: rgb(37.444% 89.264% 75.995%);
    --palHawaii-217: rgb(37.572% 89.51% 76.855%);
    --palHawaii-218: rgb(37.747% 89.752% 77.71%);
    --palHawaii-219: rgb(37.967% 89.992% 78.557%);
    --palHawaii-220: rgb(38.235% 90.229% 79.397%);
    --palHawaii-221: rgb(38.553% 90.462% 80.228%);
    --palHawaii-222: rgb(38.921% 90.691% 81.05%);
    --palHawaii-223: rgb(39.338% 90.916% 81.862%);
    --palHawaii-224: rgb(39.807% 91.137% 82.663%);
    --palHawaii-225: rgb(40.326% 91.353% 83.451%);
    --palHawaii-226: rgb(40.893% 91.563% 84.226%);
    --palHawaii-227: rgb(41.508% 91.769% 84.986%);
    --palHawaii-228: rgb(42.17% 91.968% 85.731%);
    --palHawaii-229: rgb(42.879% 92.161% 86.461%);
    --palHawaii-230: rgb(43.631% 92.349% 87.173%);
    --palHawaii-231: rgb(44.423% 92.529% 87.868%);
    --palHawaii-232: rgb(45.254% 92.703% 88.545%);
    --palHawaii-233: rgb(46.12% 92.87% 89.204%);
    --palHawaii-234: rgb(47.021% 93.031% 89.842%);
    --palHawaii-235: rgb(47.952% 93.184% 90.462%);
    --palHawaii-236: rgb(48.91% 93.33% 91.062%);
    --palHawaii-237: rgb(49.895% 93.469% 91.641%);
    --palHawaii-238: rgb(50.902% 93.6% 92.201%);
    --palHawaii-239: rgb(51.928% 93.725% 92.739%);
    --palHawaii-240: rgb(52.972% 93.842% 93.259%);
    --palHawaii-241: rgb(54.029% 93.952% 93.759%);
    --palHawaii-242: rgb(55.1% 94.055% 94.24%);
    --palHawaii-243: rgb(56.18% 94.151% 94.702%);
    --palHawaii-244: rgb(57.269% 94.241% 95.146%);
    --palHawaii-245: rgb(58.362% 94.324% 95.573%);
    --palHawaii-246: rgb(59.461% 94.402% 95.982%);
    --palHawaii-247: rgb(60.561% 94.473% 96.377%);
    --palHawaii-248: rgb(61.664% 94.539% 96.756%);
    --palHawaii-249: rgb(62.765% 94.599% 97.121%);
    --palHawaii-250: rgb(63.865% 94.654% 97.474%);
    --palHawaii-251: rgb(64.962% 94.705% 97.815%);
    --palHawaii-252: rgb(66.055% 94.751% 98.145%);
    --palHawaii-253: rgb(67.144% 94.793% 98.465%);
    --palHawaii-254: rgb(68.228% 94.832% 98.777%);
    --palHawaii-255: rgb(69.306% 94.866% 99.08%);
    --palHawaii-256: rgb(70.378% 94.898% 99.377%);
}
