/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palHier5-1: rgb(95.3125% 96.09375% 96.484375%);
    --palHier5-2: rgb(94.140625% 94.921875% 95.703125%);
    --palHier5-3: rgb(92.96875% 93.75% 94.53125%);
    --palHier5-4: rgb(91.796875% 92.578125% 93.75%);
    --palHier5-5: rgb(90.234375% 91.796875% 92.96875%);
    --palHier5-6: rgb(89.0625% 90.625% 92.1875%);
    --palHier5-7: rgb(87.890625% 89.453125% 91.015625%);
    --palHier5-8: rgb(86.71875% 88.28125% 90.234375%);
    --palHier5-9: rgb(85.546875% 87.109375% 89.453125%);
    --palHier5-10: rgb(83.984375% 86.328125% 88.671875%);
    --palHier5-11: rgb(82.8125% 85.15625% 87.5%);
    --palHier5-12: rgb(81.640625% 83.59375% 86.328125%);
    --palHier5-13: rgb(80.46875% 82.421875% 85.15625%);
    --palHier5-14: rgb(79.296875% 81.25% 83.984375%);
    --palHier5-15: rgb(78.125% 80.078125% 83.203125%);
    --palHier5-16: rgb(76.953125% 78.90625% 82.03125%);
    --palHier5-17: rgb(75.78125% 77.734375% 80.859375%);
    --palHier5-18: rgb(74.609375% 76.5625% 79.6875%);
    --palHier5-19: rgb(73.4375% 75.390625% 78.90625%);
    --palHier5-20: rgb(71.875% 73.828125% 77.34375%);
    --palHier5-21: rgb(70.3125% 72.65625% 75.78125%);
    --palHier5-22: rgb(68.75% 71.09375% 74.21875%);
    --palHier5-23: rgb(67.1875% 69.53125% 72.65625%);
    --palHier5-24: rgb(65.234375% 67.96875% 71.09375%);
    --palHier5-25: rgb(64.0625% 66.796875% 69.53125%);
    --palHier5-26: rgb(62.5% 65.234375% 67.96875%);
    --palHier5-27: rgb(60.9375% 63.671875% 66.40625%);
    --palHier5-28: rgb(59.375% 62.5% 64.84375%);
    --palHier5-29: rgb(58.203125% 61.328125% 63.671875%);
    --palHier5-30: rgb(57.03125% 60.15625% 62.5%);
    --palHier5-31: rgb(55.859375% 58.984375% 61.71875%);
    --palHier5-32: rgb(55.078125% 57.8125% 60.546875%);
    --palHier5-33: rgb(53.90625% 56.640625% 59.375%);
    --palHier5-34: rgb(53.125% 55.46875% 58.203125%);
    --palHier5-35: rgb(51.953125% 54.296875% 57.03125%);
    --palHier5-36: rgb(51.171875% 53.125% 56.25%);
    --palHier5-37: rgb(50% 51.953125% 55.078125%);
    --palHier5-38: rgb(49.21875% 51.171875% 53.90625%);
    --palHier5-39: rgb(48.4375% 50.390625% 53.125%);
    --palHier5-40: rgb(47.65625% 49.609375% 52.34375%);
    --palHier5-41: rgb(46.875% 48.828125% 51.171875%);
    --palHier5-42: rgb(46.09375% 48.046875% 50.390625%);
    --palHier5-43: rgb(45.3125% 47.65625% 49.609375%);
    --palHier5-44: rgb(44.53125% 46.875% 48.4375%);
    --palHier5-45: rgb(43.75% 46.09375% 47.65625%);
    --palHier5-46: rgb(42.96875% 45.3125% 46.875%);
    --palHier5-47: rgb(42.1875% 44.53125% 45.703125%);
    --palHier5-48: rgb(41.40625% 43.75% 44.921875%);
    --palHier5-49: rgb(40.625% 42.96875% 44.140625%);
    --palHier5-50: rgb(39.84375% 42.578125% 42.96875%);
    --palHier5-51: rgb(39.0625% 41.796875% 42.1875%);
    --palHier5-52: rgb(38.28125% 41.015625% 41.40625%);
    --palHier5-53: rgb(36.71875% 41.796875% 39.84375%);
    --palHier5-54: rgb(32.8125% 45.703125% 37.109375%);
    --palHier5-55: rgb(33.984375% 46.875% 37.890625%);
    --palHier5-56: rgb(34.765625% 48.046875% 39.0625%);
    --palHier5-57: rgb(35.9375% 49.21875% 39.84375%);
    --palHier5-58: rgb(36.71875% 50.390625% 40.625%);
    --palHier5-59: rgb(37.5% 51.5625% 41.796875%);
    --palHier5-60: rgb(38.671875% 52.734375% 42.578125%);
    --palHier5-61: rgb(39.453125% 53.90625% 43.75%);
    --palHier5-62: rgb(40.625% 55.078125% 44.53125%);
    --palHier5-63: rgb(41.40625% 56.25% 45.703125%);
    --palHier5-64: rgb(42.578125% 57.421875% 46.484375%);
    --palHier5-65: rgb(43.359375% 58.59375% 47.265625%);
    --palHier5-66: rgb(44.53125% 59.765625% 48.4375%);
    --palHier5-67: rgb(45.3125% 61.328125% 49.21875%);
    --palHier5-68: rgb(46.484375% 62.5% 50.390625%);
    --palHier5-69: rgb(47.265625% 63.671875% 51.171875%);
    --palHier5-70: rgb(48.4375% 64.84375% 52.34375%);
    --palHier5-71: rgb(49.21875% 66.015625% 53.515625%);
    --palHier5-72: rgb(50.390625% 67.1875% 54.296875%);
    --palHier5-73: rgb(51.171875% 68.359375% 55.46875%);
    --palHier5-74: rgb(52.34375% 69.53125% 56.25%);
    --palHier5-75: rgb(53.515625% 70.703125% 57.421875%);
    --palHier5-76: rgb(54.296875% 71.875% 58.984375%);
    --palHier5-77: rgb(55.46875% 73.046875% 60.15625%);
    --palHier5-78: rgb(56.640625% 74.21875% 61.328125%);
    --palHier5-79: rgb(57.8125% 75.390625% 62.5%);
    --palHier5-80: rgb(58.984375% 76.5625% 64.0625%);
    --palHier5-81: rgb(60.15625% 77.734375% 65.234375%);
    --palHier5-82: rgb(60.9375% 78.90625% 66.40625%);
    --palHier5-83: rgb(62.109375% 80.078125% 67.578125%);
    --palHier5-84: rgb(63.28125% 81.25% 69.140625%);
    --palHier5-85: rgb(64.453125% 82.03125% 70.3125%);
    --palHier5-86: rgb(65.234375% 82.8125% 71.484375%);
    --palHier5-87: rgb(66.40625% 83.59375% 72.65625%);
    --palHier5-88: rgb(67.1875% 84.375% 73.828125%);
    --palHier5-89: rgb(68.359375% 85.546875% 75.390625%);
    --palHier5-90: rgb(69.53125% 86.328125% 76.5625%);
    --palHier5-91: rgb(70.3125% 87.109375% 77.734375%);
    --palHier5-92: rgb(71.484375% 87.890625% 78.90625%);
    --palHier5-93: rgb(72.265625% 88.671875% 80.078125%);
    --palHier5-94: rgb(73.4375% 89.453125% 81.640625%);
    --palHier5-95: rgb(74.21875% 90.234375% 82.8125%);
    --palHier5-96: rgb(75.390625% 91.015625% 83.984375%);
    --palHier5-97: rgb(76.953125% 91.796875% 85.546875%);
    --palHier5-98: rgb(78.90625% 92.96875% 87.109375%);
    --palHier5-99: rgb(80.859375% 93.75% 88.671875%);
    --palHier5-100: rgb(82.8125% 94.53125% 90.234375%);
    --palHier5-101: rgb(84.765625% 95.3125% 91.796875%);
    --palHier5-102: rgb(86.71875% 96.484375% 93.359375%);
    --palHier5-103: rgb(88.28125% 97.265625% 94.53125%);
    --palHier5-104: rgb(90.234375% 98.046875% 96.09375%);
    --palHier5-105: rgb(92.1875% 98.828125% 97.65625%);
    --palHier5-106: rgb(92.578125% 98.4375% 98.4375%);
    --palHier5-107: rgb(90.234375% 96.484375% 97.265625%);
    --palHier5-108: rgb(87.890625% 94.53125% 96.484375%);
    --palHier5-109: rgb(85.546875% 92.578125% 95.3125%);
    --palHier5-110: rgb(83.59375% 90.625% 94.53125%);
    --palHier5-111: rgb(81.25% 88.671875% 93.359375%);
    --palHier5-112: rgb(78.90625% 86.71875% 92.578125%);
    --palHier5-113: rgb(76.171875% 84.375% 91.015625%);
    --palHier5-114: rgb(73.4375% 82.03125% 89.0625%);
    --palHier5-115: rgb(70.3125% 79.6875% 87.5%);
    --palHier5-116: rgb(67.578125% 76.953125% 85.546875%);
    --palHier5-117: rgb(64.84375% 74.609375% 83.59375%);
    --palHier5-118: rgb(62.109375% 72.265625% 82.03125%);
    --palHier5-119: rgb(58.984375% 69.53125% 80.078125%);
    --palHier5-120: rgb(57.03125% 67.578125% 78.515625%);
    --palHier5-121: rgb(55.46875% 66.015625% 77.34375%);
    --palHier5-122: rgb(53.90625% 64.453125% 75.78125%);
    --palHier5-123: rgb(52.34375% 62.890625% 74.21875%);
    --palHier5-124: rgb(50.78125% 61.328125% 73.046875%);
    --palHier5-125: rgb(49.21875% 59.765625% 71.484375%);
    --palHier5-126: rgb(47.65625% 58.203125% 69.921875%);
    --palHier5-127: rgb(46.09375% 56.25% 68.75%);
    --palHier5-128: rgb(44.53125% 54.6875% 67.1875%);
    --palHier5-129: rgb(43.359375% 53.515625% 66.015625%);
    --palHier5-130: rgb(42.1875% 52.34375% 65.234375%);
    --palHier5-131: rgb(41.015625% 51.171875% 64.453125%);
    --palHier5-132: rgb(39.84375% 50% 63.671875%);
    --palHier5-133: rgb(38.671875% 48.828125% 62.5%);
    --palHier5-134: rgb(37.5% 47.265625% 61.71875%);
    --palHier5-135: rgb(36.328125% 46.09375% 60.9375%);
    --palHier5-136: rgb(35.15625% 44.921875% 60.15625%);
    --palHier5-137: rgb(33.984375% 43.75% 59.375%);
    --palHier5-138: rgb(32.8125% 42.578125% 58.203125%);
    --palHier5-139: rgb(31.640625% 41.40625% 57.421875%);
    --palHier5-140: rgb(30.46875% 40.234375% 56.640625%);
    --palHier5-141: rgb(29.296875% 39.453125% 55.859375%);
    --palHier5-142: rgb(28.125% 38.28125% 55.078125%);
    --palHier5-143: rgb(27.34375% 37.109375% 54.296875%);
    --palHier5-144: rgb(26.5625% 36.328125% 53.515625%);
    --palHier5-145: rgb(25.78125% 35.15625% 52.734375%);
    --palHier5-146: rgb(25% 34.375% 51.953125%);
    --palHier5-147: rgb(24.21875% 33.59375% 51.5625%);
    --palHier5-148: rgb(23.4375% 32.421875% 50.78125%);
    --palHier5-149: rgb(22.265625% 31.640625% 50%);
    --palHier5-150: rgb(21.484375% 30.859375% 49.21875%);
    --palHier5-151: rgb(20.703125% 30.078125% 48.4375%);
    --palHier5-152: rgb(19.921875% 28.90625% 48.046875%);
    --palHier5-153: rgb(19.140625% 28.125% 47.265625%);
    --palHier5-154: rgb(18.359375% 27.34375% 46.484375%);
    --palHier5-155: rgb(17.578125% 26.5625% 45.703125%);
    --palHier5-156: rgb(23.828125% 26.5625% 39.84375%);
    --palHier5-157: rgb(30.078125% 26.953125% 33.203125%);
    --palHier5-158: rgb(34.375% 27.34375% 26.171875%);
    --palHier5-159: rgb(36.71875% 28.90625% 25%);
    --palHier5-160: rgb(38.671875% 30.859375% 26.5625%);
    --palHier5-161: rgb(40.234375% 32.8125% 27.734375%);
    --palHier5-162: rgb(41.796875% 34.765625% 28.90625%);
    --palHier5-163: rgb(43.75% 37.109375% 30.46875%);
    --palHier5-164: rgb(45.3125% 39.0625% 31.640625%);
    --palHier5-165: rgb(47.265625% 41.015625% 33.203125%);
    --palHier5-166: rgb(48.828125% 43.359375% 34.375%);
    --palHier5-167: rgb(50.78125% 45.3125% 35.546875%);
    --palHier5-168: rgb(52.34375% 47.265625% 37.109375%);
    --palHier5-169: rgb(53.515625% 48.828125% 38.28125%);
    --palHier5-170: rgb(54.296875% 49.609375% 39.0625%);
    --palHier5-171: rgb(55.46875% 50.78125% 39.84375%);
    --palHier5-172: rgb(56.25% 51.953125% 41.015625%);
    --palHier5-173: rgb(57.421875% 53.125% 41.796875%);
    --palHier5-174: rgb(58.203125% 54.296875% 42.96875%);
    --palHier5-175: rgb(59.375% 55.46875% 43.75%);
    --palHier5-176: rgb(60.546875% 56.25% 44.53125%);
    --palHier5-177: rgb(61.328125% 57.421875% 45.703125%);
    --palHier5-178: rgb(62.5% 58.59375% 46.484375%);
    --palHier5-179: rgb(63.28125% 59.765625% 47.65625%);
    --palHier5-180: rgb(64.453125% 60.9375% 48.828125%);
    --palHier5-181: rgb(65.625% 62.109375% 50%);
    --palHier5-182: rgb(66.796875% 63.28125% 51.171875%);
    --palHier5-183: rgb(67.96875% 64.453125% 52.734375%);
    --palHier5-184: rgb(69.140625% 65.625% 53.90625%);
    --palHier5-185: rgb(70.3125% 66.796875% 55.078125%);
    --palHier5-186: rgb(71.484375% 67.96875% 56.25%);
    --palHier5-187: rgb(73.046875% 69.140625% 57.8125%);
    --palHier5-188: rgb(74.609375% 70.703125% 59.765625%);
    --palHier5-189: rgb(76.171875% 72.265625% 61.71875%);
    --palHier5-190: rgb(77.734375% 73.828125% 63.671875%);
    --palHier5-191: rgb(79.6875% 75% 65.625%);
    --palHier5-192: rgb(81.25% 76.5625% 67.578125%);
    --palHier5-193: rgb(82.8125% 78.125% 69.53125%);
    --palHier5-194: rgb(84.375% 79.6875% 71.484375%);
    --palHier5-195: rgb(85.9375% 81.25% 73.4375%);
    --palHier5-196: rgb(86.71875% 82.421875% 75%);
    --palHier5-197: rgb(87.890625% 83.59375% 76.953125%);
    --palHier5-198: rgb(88.671875% 84.765625% 78.515625%);
    --palHier5-199: rgb(89.453125% 85.9375% 80.078125%);
    --palHier5-200: rgb(90.234375% 87.109375% 82.03125%);
    --palHier5-201: rgb(91.40625% 88.28125% 83.59375%);
    --palHier5-202: rgb(92.1875% 89.453125% 85.546875%);
    --palHier5-203: rgb(93.359375% 90.625% 85.15625%);
    --palHier5-204: rgb(94.140625% 91.796875% 84.375%);
    --palHier5-205: rgb(95.3125% 92.578125% 83.59375%);
    --palHier5-206: rgb(96.09375% 93.75% 82.421875%);
    --palHier5-207: rgb(97.265625% 94.921875% 81.640625%);
    --palHier5-208: rgb(98.046875% 96.09375% 80.859375%);
    --palHier5-209: rgb(98.4375% 95.3125% 77.734375%);
    --palHier5-210: rgb(98.4375% 93.359375% 73.046875%);
    --palHier5-211: rgb(98.4375% 91.796875% 68.75%);
    --palHier5-212: rgb(98.4375% 90.234375% 64.453125%);
    --palHier5-213: rgb(98.046875% 88.28125% 59.765625%);
    --palHier5-214: rgb(97.65625% 86.71875% 55.46875%);
    --palHier5-215: rgb(97.265625% 85.15625% 50.78125%);
    --palHier5-216: rgb(96.875% 83.59375% 46.484375%);
    --palHier5-217: rgb(96.484375% 81.640625% 41.796875%);
    --palHier5-218: rgb(95.703125% 80.078125% 37.109375%);
    --palHier5-219: rgb(94.921875% 78.515625% 32.03125%);
    --palHier5-220: rgb(94.53125% 76.5625% 28.515625%);
    --palHier5-221: rgb(93.75% 73.828125% 26.5625%);
    --palHier5-222: rgb(92.96875% 71.484375% 25%);
    --palHier5-223: rgb(92.1875% 68.75% 23.046875%);
    --palHier5-224: rgb(91.40625% 66.40625% 21.484375%);
    --palHier5-225: rgb(90.625% 63.671875% 19.53125%);
    --palHier5-226: rgb(89.84375% 61.328125% 17.96875%);
    --palHier5-227: rgb(89.0625% 58.59375% 16.015625%);
    --palHier5-228: rgb(88.28125% 56.25% 14.0625%);
    --palHier5-229: rgb(87.5% 53.515625% 12.5%);
    --palHier5-230: rgb(86.328125% 51.171875% 12.109375%);
    --palHier5-231: rgb(85.546875% 49.21875% 11.328125%);
    --palHier5-232: rgb(84.375% 46.875% 10.546875%);
    --palHier5-233: rgb(83.203125% 44.53125% 9.765625%);
    --palHier5-234: rgb(82.421875% 42.1875% 9.375%);
    --palHier5-235: rgb(81.25% 39.84375% 8.59375%);
    --palHier5-236: rgb(80.078125% 37.5% 7.8125%);
    --palHier5-237: rgb(79.296875% 35.15625% 7.421875%);
    --palHier5-238: rgb(77.734375% 32.8125% 7.03125%);
    --palHier5-239: rgb(75% 30.859375% 7.03125%);
    --palHier5-240: rgb(72.265625% 29.296875% 7.421875%);
    --palHier5-241: rgb(69.921875% 27.34375% 7.421875%);
    --palHier5-242: rgb(67.1875% 25.78125% 7.421875%);
    --palHier5-243: rgb(64.453125% 23.828125% 7.421875%);
    --palHier5-244: rgb(62.109375% 21.875% 7.421875%);
    --palHier5-245: rgb(59.375% 20.3125% 7.421875%);
    --palHier5-246: rgb(57.03125% 18.359375% 7.421875%);
    --palHier5-247: rgb(54.296875% 16.796875% 7.421875%);
    --palHier5-248: rgb(51.5625% 15.234375% 7.8125%);
    --palHier5-249: rgb(48.828125% 14.0625% 8.203125%);
    --palHier5-250: rgb(46.09375% 12.5% 8.203125%);
    --palHier5-251: rgb(43.359375% 11.328125% 8.59375%);
    --palHier5-252: rgb(40.625% 9.765625% 8.59375%);
    --palHier5-253: rgb(37.890625% 8.59375% 8.59375%);
    --palHier5-254: rgb(35.15625% 7.03125% 8.59375%);
    --palHier5-255: rgb(32.421875% 5.859375% 8.59375%);
    --palHier5-256: rgb(30.078125% 4.6875% 8.59375%);
}
