/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palHolly-1: rgb(7.720147% 7.878641% 0.250023%);
    --palHolly-2: rgb(8.006543% 8.272109% 0.301507%);
    --palHolly-3: rgb(8.288946% 8.663908% 0.355692%);
    --palHolly-4: rgb(8.56742% 9.054181% 0.412465%);
    --palHolly-5: rgb(8.842125% 9.443017% 0.471799%);
    --palHolly-6: rgb(9.113142% 9.830527% 0.533613%);
    --palHolly-7: rgb(9.380549% 10.216811% 0.597833%);
    --palHolly-8: rgb(9.64447% 10.601942% 0.664432%);
    --palHolly-9: rgb(9.90493% 10.986025% 0.733303%);
    --palHolly-10: rgb(10.162032% 11.369125% 0.80442%);
    --palHolly-11: rgb(10.415855% 11.751309% 0.877741%);
    --palHolly-12: rgb(10.666396% 12.132672% 0.953152%);
    --palHolly-13: rgb(10.913762% 12.513258% 1.030653%);
    --palHolly-14: rgb(11.158002% 12.893129% 1.110198%);
    --palHolly-15: rgb(11.399108% 13.272364% 1.19168%);
    --palHolly-16: rgb(11.637161% 13.651003% 1.275098%);
    --palHolly-17: rgb(11.872202% 14.029097% 1.360413%);
    --palHolly-18: rgb(12.104238% 14.406707% 1.447556%);
    --palHolly-19: rgb(12.333285% 14.783886% 1.536471%);
    --palHolly-20: rgb(12.5594% 15.160667% 1.627154%);
    --palHolly-21: rgb(12.782602% 15.537097% 1.719565%);
    --palHolly-22: rgb(13.002889% 15.913225% 1.813647%);
    --palHolly-23: rgb(13.220263% 16.289098% 1.909346%);
    --palHolly-24: rgb(13.434766% 16.664744% 2.006667%);
    --palHolly-25: rgb(13.646405% 17.040201% 2.105578%);
    --palHolly-26: rgb(13.855187% 17.415507% 2.206048%);
    --palHolly-27: rgb(14.061112% 17.790699% 2.308047%);
    --palHolly-28: rgb(14.264149% 18.165822% 2.411509%);
    --palHolly-29: rgb(14.464334% 18.540896% 2.516455%);
    --palHolly-30: rgb(14.661661% 18.915955% 2.622864%);
    --palHolly-31: rgb(14.856125% 19.291029% 2.730716%);
    --palHolly-32: rgb(15.047718% 19.66615% 2.839994%);
    --palHolly-33: rgb(15.236429% 20.041346% 2.950685%);
    --palHolly-34: rgb(15.422247% 20.416646% 3.062776%);
    --palHolly-35: rgb(15.605157% 20.792077% 3.176259%);
    --palHolly-36: rgb(15.785143% 21.167668% 3.291126%);
    --palHolly-37: rgb(15.962186% 21.543443% 3.407373%);
    --palHolly-38: rgb(16.136267% 21.919429% 3.525002%);
    --palHolly-39: rgb(16.307363% 22.295651% 3.644013%);
    --palHolly-40: rgb(16.475451% 22.672132% 3.764413%);
    --palHolly-41: rgb(16.640505% 23.048896% 3.886211%);
    --palHolly-42: rgb(16.802497% 23.425966% 4.009419%);
    --palHolly-43: rgb(16.961398% 23.803365% 4.132002%);
    --palHolly-44: rgb(17.117177% 24.181115% 4.253333%);
    --palHolly-45: rgb(17.2698% 24.559236% 4.373969%);
    --palHolly-46: rgb(17.419233% 24.937749% 4.493961%);
    --palHolly-47: rgb(17.565431% 25.316677% 4.613354%);
    --palHolly-48: rgb(17.708309% 25.696053% 4.732146%);
    --palHolly-49: rgb(17.847874% 26.075884% 4.850451%);
    --palHolly-50: rgb(17.984081% 26.456186% 4.968326%);
    --palHolly-51: rgb(18.116888% 26.836979% 5.085831%);
    --palHolly-52: rgb(18.246177% 27.218301% 5.202944%);
    --palHolly-53: rgb(18.371935% 27.600158% 5.319773%);
    --palHolly-54: rgb(18.494139% 27.98256% 5.436414%);
    --palHolly-55: rgb(18.612663% 28.365544% 5.552853%);
    --palHolly-56: rgb(18.72746% 28.749122% 5.669172%);
    --palHolly-57: rgb(18.838529% 29.133296% 5.785505%);
    --palHolly-58: rgb(18.945648% 29.518123% 5.901759%);
    --palHolly-59: rgb(19.048908% 29.903578% 6.018171%);
    --palHolly-60: rgb(19.148092% 30.289714% 6.134674%);
    --palHolly-61: rgb(19.243239% 30.676518% 6.251459%);
    --palHolly-62: rgb(19.334128% 31.064041% 6.368472%);
    --palHolly-63: rgb(19.420808% 31.452265% 6.485925%);
    --palHolly-64: rgb(19.50304% 31.841243% 6.603769%);
    --palHolly-65: rgb(19.580813% 32.230969% 6.72217%);
    --palHolly-66: rgb(19.654036% 32.621457% 6.841231%);
    --palHolly-67: rgb(19.722488% 33.01275% 6.960954%);
    --palHolly-68: rgb(19.786115% 33.404849% 7.081491%);
    --palHolly-69: rgb(19.844805% 33.797768% 7.202957%);
    --palHolly-70: rgb(19.898412% 34.191526% 7.325449%);
    --palHolly-71: rgb(19.946785% 34.586145% 7.449071%);
    --palHolly-72: rgb(19.989766% 34.981641% 7.573938%);
    --palHolly-73: rgb(20.02719% 35.378035% 7.700172%);
    --palHolly-74: rgb(20.058887% 35.775343% 7.827907%);
    --palHolly-75: rgb(20.08468% 36.173584% 7.957287%);
    --palHolly-76: rgb(20.104385% 36.572771% 8.088469%);
    --palHolly-77: rgb(20.117815% 36.972921% 8.221623%);
    --palHolly-78: rgb(20.124774% 37.374047% 8.356934%);
    --palHolly-79: rgb(20.124919% 37.77619% 8.494521%);
    --palHolly-80: rgb(20.118102% 38.179347% 8.634642%);
    --palHolly-81: rgb(20.104063% 38.583536% 8.777516%);
    --palHolly-82: rgb(20.082453% 38.988789% 8.923341%);
    --palHolly-83: rgb(20.053009% 39.395115% 9.072393%);
    --palHolly-84: rgb(20.015455% 39.802524% 9.224976%);
    --palHolly-85: rgb(19.969372% 40.211047% 9.381361%);
    --palHolly-86: rgb(19.914361% 40.620705% 9.54188%);
    --palHolly-87: rgb(19.850082% 41.031504% 9.706936%);
    --palHolly-88: rgb(19.776051% 41.443468% 9.876928%);
    --palHolly-89: rgb(19.691761% 41.85662% 10.052316%);
    --palHolly-90: rgb(19.596819% 42.270952% 10.233672%);
    --palHolly-91: rgb(19.490542% 42.686501% 10.421555%);
    --palHolly-92: rgb(19.372449% 43.103255% 10.616692%);
    --palHolly-93: rgb(19.241792% 43.521239% 10.819854%);
    --palHolly-94: rgb(19.09783% 43.940461% 11.031968%);
    --palHolly-95: rgb(18.93987% 44.360905% 11.25415%);
    --palHolly-96: rgb(18.767246% 44.782535% 11.487735%);
    --palHolly-97: rgb(18.579023% 45.205339% 11.734293%);
    --palHolly-98: rgb(18.374374% 45.629259% 11.99578%);
    --palHolly-99: rgb(18.152798% 46.054169% 12.274652%);
    --palHolly-100: rgb(17.91388% 46.4799% 12.573996%);
    --palHolly-101: rgb(17.657812% 46.906167% 12.897782%);
    --palHolly-102: rgb(17.386176% 47.332475% 13.251164%);
    --palHolly-103: rgb(17.102934% 47.758005% 13.640823%);
    --palHolly-104: rgb(16.816973% 48.18135% 14.075162%);
    --palHolly-105: rgb(16.546059% 48.600155% 14.563742%);
    --palHolly-106: rgb(16.321947% 49.010758% 15.114398%);
    --palHolly-107: rgb(16.190031% 49.408552% 15.72686%);
    --palHolly-108: rgb(16.192858% 49.789886% 16.38732%);
    --palHolly-109: rgb(16.346143% 50.154176% 17.073136%);
    --palHolly-110: rgb(16.635281% 50.503637% 17.76459%);
    --palHolly-111: rgb(17.032112% 50.841392% 18.450169%);
    --palHolly-112: rgb(17.508991% 51.170213% 19.124822%);
    --palHolly-113: rgb(18.043825% 51.492201% 19.787176%);
    --palHolly-114: rgb(18.620136% 51.808891% 20.43727%);
    --palHolly-115: rgb(19.226018% 52.121384% 21.075931%);
    --palHolly-116: rgb(19.852782% 52.430503% 21.704043%);
    --palHolly-117: rgb(20.494195% 52.73685% 22.322641%);
    --palHolly-118: rgb(21.145591% 53.040907% 22.932549%);
    --palHolly-119: rgb(21.803685% 53.343025% 23.534697%);
    --palHolly-120: rgb(22.465903% 53.643508% 24.129752%);
    --palHolly-121: rgb(23.130368% 53.942597% 24.718358%);
    --palHolly-122: rgb(23.795717% 54.240484% 25.301126%);
    --palHolly-123: rgb(24.460908% 54.537335% 25.878567%);
    --palHolly-124: rgb(25.125141% 54.833295% 26.45112%);
    --palHolly-125: rgb(25.787815% 55.12849% 27.019175%);
    --palHolly-126: rgb(26.448539% 55.423019% 27.583125%);
    --palHolly-127: rgb(27.106997% 55.716977% 28.143292%);
    --palHolly-128: rgb(27.762972% 56.010446% 28.699977%);
    --palHolly-129: rgb(28.416254% 56.303512% 29.253399%);
    --palHolly-130: rgb(29.066805% 56.596231% 29.80385%);
    --palHolly-131: rgb(29.714572% 56.888662% 30.351554%);
    --palHolly-132: rgb(30.359475% 57.180874% 30.89667%);
    --palHolly-133: rgb(31.001562% 57.472907% 31.439421%);
    --palHolly-134: rgb(31.640859% 57.764809% 31.979984%);
    --palHolly-135: rgb(32.277328% 58.056639% 32.518461%);
    --palHolly-136: rgb(32.911075% 58.348426% 33.055046%);
    --palHolly-137: rgb(33.542144% 58.640211% 33.589867%);
    --palHolly-138: rgb(34.17059% 58.932032% 34.123048%);
    --palHolly-139: rgb(34.796473% 59.223924% 34.654703%);
    --palHolly-140: rgb(35.419861% 59.515922% 35.184943%);
    --palHolly-141: rgb(36.040823% 59.808057% 35.713871%);
    --palHolly-142: rgb(36.65943% 60.100358% 36.241586%);
    --palHolly-143: rgb(37.275755% 60.392854% 36.768182%);
    --palHolly-144: rgb(37.889858% 60.685575% 37.293736%);
    --palHolly-145: rgb(38.501794% 60.978554% 37.818319%);
    --palHolly-146: rgb(39.111663% 61.271807% 38.342032%);
    --palHolly-147: rgb(39.719535% 61.565359% 38.864951%);
    --palHolly-148: rgb(40.325434% 61.859246% 39.387113%);
    --palHolly-149: rgb(40.929461% 62.153481% 39.908612%);
    --palHolly-150: rgb(41.531682% 62.448088% 40.429514%);
    --palHolly-151: rgb(42.132121% 62.743099% 40.94985%);
    --palHolly-152: rgb(42.730892% 63.03852% 41.46972%);
    --palHolly-153: rgb(43.32799% 63.334392% 41.989134%);
    --palHolly-154: rgb(43.923537% 63.630717% 42.508192%);
    --palHolly-155: rgb(44.517525% 63.927534% 43.026899%);
    --palHolly-156: rgb(45.110064% 64.224846% 43.545349%);
    --palHolly-157: rgb(45.701159% 64.522687% 44.063554%);
    --palHolly-158: rgb(46.29089% 64.821067% 44.581586%);
    --palHolly-159: rgb(46.879298% 65.120008% 45.099481%);
    --palHolly-160: rgb(47.466415% 65.419533% 45.617275%);
    --palHolly-161: rgb(48.052311% 65.719654% 46.135028%);
    --palHolly-162: rgb(48.637009% 66.020394% 46.652767%);
    --palHolly-163: rgb(49.220555% 66.321772% 47.170535%);
    --palHolly-164: rgb(49.803002% 66.623802% 47.688381%);
    --palHolly-165: rgb(50.384379% 66.926504% 48.206337%);
    --palHolly-166: rgb(50.964717% 67.229899% 48.724435%);
    --palHolly-167: rgb(51.544067% 67.533998% 49.242724%);
    --palHolly-168: rgb(52.122463% 67.838821% 49.761239%);
    --palHolly-169: rgb(52.699929% 68.144388% 50.280009%);
    --palHolly-170: rgb(53.276501% 68.450714% 50.799072%);
    --palHolly-171: rgb(53.852217% 68.757815% 51.318468%);
    --palHolly-172: rgb(54.427106% 69.065708% 51.83823%);
    --palHolly-173: rgb(55.001196% 69.37441% 52.358393%);
    --palHolly-174: rgb(55.574508% 69.683941% 52.878985%);
    --palHolly-175: rgb(56.147078% 69.994314% 53.400046%);
    --palHolly-176: rgb(56.718932% 70.305546% 53.92161%);
    --palHolly-177: rgb(57.290094% 70.617653% 54.443711%);
    --palHolly-178: rgb(57.860588% 70.930653% 54.96638%);
    --palHolly-179: rgb(58.430433% 71.244564% 55.489649%);
    --palHolly-180: rgb(58.999654% 71.5594% 56.013554%);
    --palHolly-181: rgb(59.568274% 71.875177% 56.538128%);
    --palHolly-182: rgb(60.136312% 72.191914% 57.063405%);
    --palHolly-183: rgb(60.703787% 72.509625% 57.589418%);
    --palHolly-184: rgb(61.270717% 72.828328% 58.1162%);
    --palHolly-185: rgb(61.837118% 73.14804% 58.643785%);
    --palHolly-186: rgb(62.403008% 73.468776% 59.172207%);
    --palHolly-187: rgb(62.968401% 73.790555% 59.7015%);
    --palHolly-188: rgb(63.533311% 74.113392% 60.231699%);
    --palHolly-189: rgb(64.097752% 74.437305% 60.762838%);
    --palHolly-190: rgb(64.661736% 74.76231% 61.294953%);
    --palHolly-191: rgb(65.225274% 75.088425% 61.828078%);
    --palHolly-192: rgb(65.788378% 75.415667% 62.362252%);
    --palHolly-193: rgb(66.351054% 75.744054% 62.897508%);
    --palHolly-194: rgb(66.913312% 76.073602% 63.433885%);
    --palHolly-195: rgb(67.475157% 76.404331% 63.971417%);
    --palHolly-196: rgb(68.036595% 76.736259% 64.510145%);
    --palHolly-197: rgb(68.597634% 77.069401% 65.050109%);
    --palHolly-198: rgb(69.158276% 77.403778% 65.591347%);
    --palHolly-199: rgb(69.71852% 77.739409% 66.133897%);
    --palHolly-200: rgb(70.278368% 78.076313% 66.677799%);
    --palHolly-201: rgb(70.837818% 78.41451% 67.223095%);
    --palHolly-202: rgb(71.396876% 78.754017% 67.769833%);
    --palHolly-203: rgb(71.955533% 79.094855% 68.318052%);
    --palHolly-204: rgb(72.513781% 79.437046% 68.867794%);
    --palHolly-205: rgb(73.071614% 79.780612% 69.419101%);
    --palHolly-206: rgb(73.62903% 80.12557% 69.97203%);
    --palHolly-207: rgb(74.186018% 80.471944% 70.526622%);
    --palHolly-208: rgb(74.742558% 80.819759% 71.08292%);
    --palHolly-209: rgb(75.29864% 81.169038% 71.640975%);
    --palHolly-210: rgb(75.854259% 81.519797% 72.20085%);
    --palHolly-211: rgb(76.409382% 81.872069% 72.762578%);
    --palHolly-212: rgb(76.963991% 82.225878% 73.326215%);
    --palHolly-213: rgb(77.518077% 82.581244% 73.891829%);
    --palHolly-214: rgb(78.071598% 82.9382% 74.459454%);
    --palHolly-215: rgb(78.624535% 83.296771% 75.029158%);
    --palHolly-216: rgb(79.176859% 83.656985% 75.600996%);
    --palHolly-217: rgb(79.728526% 84.018876% 76.175013%);
    --palHolly-218: rgb(80.279519% 84.382466% 76.751292%);
    --palHolly-219: rgb(80.829772% 84.747799% 77.329856%);
    --palHolly-220: rgb(81.379273% 85.114893% 77.910805%);
    --palHolly-221: rgb(81.927945% 85.4838% 78.494155%);
    --palHolly-222: rgb(82.475767% 85.854539% 79.080004%);
    --palHolly-223: rgb(83.022662% 86.227162% 79.668374%);
    --palHolly-224: rgb(83.568588% 86.601699% 80.259345%);
    --palHolly-225: rgb(84.113479% 86.978194% 80.852963%);
    --palHolly-226: rgb(84.657264% 87.356693% 81.449264%);
    --palHolly-227: rgb(85.199894% 87.737231% 82.048327%);
    --palHolly-228: rgb(85.741286% 88.119862% 82.650168%);
    --palHolly-229: rgb(86.281364% 88.504634% 83.25482%);
    --palHolly-230: rgb(86.820057% 88.891596% 83.862311%);
    --palHolly-231: rgb(87.357297% 89.280794% 84.472671%);
    --palHolly-232: rgb(87.892998% 89.672288% 85.085878%);
    --palHolly-233: rgb(88.427084% 90.066132% 85.701914%);
    --palHolly-234: rgb(88.959483% 90.462383% 86.320733%);
    --palHolly-235: rgb(89.490126% 90.861098% 86.942262%);
    --palHolly-236: rgb(90.018953% 91.262336% 87.566391%);
    --palHolly-237: rgb(90.545908% 91.666158% 88.192965%);
    --palHolly-238: rgb(91.070951% 92.072626% 88.821774%);
    --palHolly-239: rgb(91.594052% 92.481804% 89.452541%);
    --palHolly-240: rgb(92.115193% 92.893757% 90.08491%);
    --palHolly-241: rgb(92.634371% 93.30856% 90.718433%);
    --palHolly-242: rgb(93.151582% 93.726294% 91.352553%);
    --palHolly-243: rgb(93.666816% 94.147055% 91.98661%);
    --palHolly-244: rgb(94.180023% 94.57097% 92.619816%);
    --palHolly-245: rgb(94.69108% 94.998202% 93.251287%);
    --palHolly-246: rgb(95.19974% 95.428971% 93.880101%);
    --palHolly-247: rgb(95.705572% 95.863561% 94.505383%);
    --palHolly-248: rgb(96.207918% 96.302331% 95.126442%);
    --palHolly-249: rgb(96.70589% 96.745691% 95.74294%);
    --palHolly-250: rgb(97.198437% 97.194065% 96.355059%);
    --palHolly-251: rgb(97.684502% 97.647819% 96.963549%);
    --palHolly-252: rgb(98.163215% 98.10719% 97.569666%);
    --palHolly-253: rgb(98.634054% 98.572246% 98.174951%);
    --palHolly-254: rgb(99.096917% 99.042891% 98.780949%);
    --palHolly-255: rgb(99.552062% 99.518904% 99.388975%);
    --palHolly-256: rgb(100% 100% 100%);
    --palHolly-257: rgb(99.654697% 99.471962% 99.451894%);
    --palHolly-258: rgb(99.308247% 98.946529% 98.906751%);
    --palHolly-259: rgb(98.960586% 98.423715% 98.364553%);
    --palHolly-260: rgb(98.611531% 97.903575% 97.825327%);
    --palHolly-261: rgb(98.260827% 97.386194% 97.289121%);
    --palHolly-262: rgb(97.908248% 96.871648% 96.755942%);
    --palHolly-263: rgb(97.553257% 96.360128% 96.225909%);
    --palHolly-264: rgb(97.195276% 95.851847% 95.699102%);
    --palHolly-265: rgb(96.83305% 95.347261% 95.175884%);
    --palHolly-266: rgb(96.464441% 94.847108% 94.657353%);
    --palHolly-267: rgb(96.086609% 94.35198% 94.148763%);
    --palHolly-268: rgb(95.716222% 93.854294% 93.658459%);
    --palHolly-269: rgb(95.384749% 93.344032% 93.160396%);
    --palHolly-270: rgb(95.076567% 92.828339% 92.64547%);
    --palHolly-271: rgb(94.779809% 92.311086% 92.121873%);
    --palHolly-272: rgb(94.490652% 91.79332% 91.593925%);
    --palHolly-273: rgb(94.207508% 91.275441% 91.063593%);
    --palHolly-274: rgb(93.929445% 90.757681% 90.531923%);
    --palHolly-275: rgb(93.65588% 90.240179% 89.999523%);
    --palHolly-276: rgb(93.386378% 89.723041% 89.466791%);
    --palHolly-277: rgb(93.120579% 89.20635% 88.934015%);
    --palHolly-278: rgb(92.858261% 88.690148% 88.401374%);
    --palHolly-279: rgb(92.599115% 88.174514% 87.869062%);
    --palHolly-280: rgb(92.343074% 87.659437% 87.33714%);
    --palHolly-281: rgb(92.089821% 87.145004% 86.805775%);
    --palHolly-282: rgb(91.839365% 86.631181% 86.274975%);
    --palHolly-283: rgb(91.591451% 86.118032% 85.744863%);
    --palHolly-284: rgb(91.346016% 85.605555% 85.215469%);
    --palHolly-285: rgb(91.102973% 85.093754% 84.686833%);
    --palHolly-286: rgb(90.862134% 84.582672% 84.159038%);
    --palHolly-287: rgb(90.623559% 84.07226% 83.632049%);
    --palHolly-288: rgb(90.387032% 83.562573% 83.105959%);
    --palHolly-289: rgb(90.152498% 83.053608% 82.580786%);
    --palHolly-290: rgb(89.919973% 82.545331% 82.056513%);
    --palHolly-291: rgb(89.689268% 82.037791% 81.533218%);
    --palHolly-292: rgb(89.460369% 81.530968% 81.010898%);
    --palHolly-293: rgb(89.233264% 81.024841% 80.489546%);
    --palHolly-294: rgb(89.0078% 80.519445% 79.969225%);
    --palHolly-295: rgb(88.783948% 80.014768% 79.449936%);
    --palHolly-296: rgb(88.561738% 79.510773% 78.931654%);
    --palHolly-297: rgb(88.341011% 79.007497% 78.414442%);
    --palHolly-298: rgb(88.121723% 78.504936% 77.898311%);
    --palHolly-299: rgb(87.903903% 78.003052% 77.383235%);
    --palHolly-300: rgb(87.687465% 77.501856% 76.869243%);
    --palHolly-301: rgb(87.472328% 77.001358% 76.356362%);
    --palHolly-302: rgb(87.258453% 76.501549% 75.844601%);
    --palHolly-303: rgb(87.045854% 76.002399% 75.333941%);
    --palHolly-304: rgb(86.834471% 75.50391% 74.824401%);
    --palHolly-305: rgb(86.624226% 75.006088% 74.316006%);
    --palHolly-306: rgb(86.415083% 74.508927% 73.808765%);
    --palHolly-307: rgb(86.207005% 74.012418% 73.302683%);
    --palHolly-308: rgb(85.999986% 73.516539% 72.797755%);
    --palHolly-309: rgb(85.793996% 73.02128% 72.293985%);
    --palHolly-310: rgb(85.58896% 72.526648% 71.791399%);
    --palHolly-311: rgb(85.384843% 72.032634% 71.290005%);
    --palHolly-312: rgb(85.181614% 71.539229% 70.78981%);
    --palHolly-313: rgb(84.979237% 71.046424% 70.290821%);
    --palHolly-314: rgb(84.777681% 70.554209% 69.793046%);
    --palHolly-315: rgb(84.576913% 70.062575% 69.296493%);
    --palHolly-316: rgb(84.376902% 69.571512% 68.801169%);
    --palHolly-317: rgb(84.177614% 69.08101% 68.307082%);
    --palHolly-318: rgb(83.979023% 68.591057% 67.814239%);
    --palHolly-319: rgb(83.781096% 68.101645% 67.32265%);
    --palHolly-320: rgb(83.583792% 67.612767% 66.832326%);
    --palHolly-321: rgb(83.387081% 67.124413% 66.343279%);
    --palHolly-322: rgb(83.190933% 66.636573% 65.855516%);
    --palHolly-323: rgb(82.99533% 66.149231% 65.369041%);
    --palHolly-324: rgb(82.800231% 65.66238% 64.88387%);
    --palHolly-325: rgb(82.605606% 65.176012% 64.400014%);
    --palHolly-326: rgb(82.411424% 64.690115% 63.917483%);
    --palHolly-327: rgb(82.217652% 64.204681% 63.436291%);
    --palHolly-328: rgb(82.02426% 63.719699% 62.956449%);
    --palHolly-329: rgb(81.831216% 63.235159% 62.477972%);
    --palHolly-330: rgb(81.638489% 62.751053% 62.000872%);
    --palHolly-331: rgb(81.446048% 62.267368% 61.525163%);
    --palHolly-332: rgb(81.253936% 61.784059% 61.050825%);
    --palHolly-333: rgb(81.062051% 61.301151% 60.577908%);
    --palHolly-334: rgb(80.870359% 60.818634% 60.106428%);
    --palHolly-335: rgb(80.678828% 60.336499% 59.636402%);
    --palHolly-336: rgb(80.487505% 59.854696% 59.16781%);
    --palHolly-337: rgb(80.296309% 59.373238% 58.700695%);
    --palHolly-338: rgb(80.10518% 58.892133% 58.235089%);
    --palHolly-339: rgb(79.914151% 58.411333% 57.77098%);
    --palHolly-340: rgb(79.723187% 57.93083% 57.308391%);
    --palHolly-341: rgb(79.53219% 57.450651% 56.847375%);
    --palHolly-342: rgb(79.34126% 56.970712% 56.387892%);
    --palHolly-343: rgb(79.150248% 56.491065% 55.930021%);
    --palHolly-344: rgb(78.959202% 56.011657% 55.473748%);
    --palHolly-345: rgb(78.768056% 55.532494% 55.019115%);
    --palHolly-346: rgb(78.576809% 55.053548% 54.566134%);
    --palHolly-347: rgb(78.385402% 54.574822% 54.114845%);
    --palHolly-348: rgb(78.193863% 54.096271% 53.665249%);
    --palHolly-349: rgb(78.002073% 53.617932% 53.217417%);
    --palHolly-350: rgb(77.810134% 53.139714% 52.771319%);
    --palHolly-351: rgb(77.617914% 52.661664% 52.327034%);
    --palHolly-352: rgb(77.425387% 52.183765% 51.884592%);
    --palHolly-353: rgb(77.232613% 51.705948% 51.44399%);
    --palHolly-354: rgb(77.039499% 51.228237% 51.005292%);
    --palHolly-355: rgb(76.846011% 50.750618% 50.56854%);
    --palHolly-356: rgb(76.652128% 50.273069% 50.133768%);
    --palHolly-357: rgb(76.457829% 49.795571% 49.701018%);
    --palHolly-358: rgb(76.263093% 49.318098% 49.27033%);
    --palHolly-359: rgb(76.067901% 48.840628% 48.841748%);
    --palHolly-360: rgb(75.872201% 48.363156% 48.415332%);
    --palHolly-361: rgb(75.675963% 47.885663% 47.991134%);
    --palHolly-362: rgb(75.47918% 47.408116% 47.569202%);
    --palHolly-363: rgb(75.281808% 46.930503% 47.149602%);
    --palHolly-364: rgb(75.083807% 46.45281% 46.732401%);
    --palHolly-365: rgb(74.885135% 45.975024% 46.317671%);
    --palHolly-366: rgb(74.685747% 45.497133% 45.905489%);
    --palHolly-367: rgb(74.485677% 45.01907% 45.495908%);
    --palHolly-368: rgb(74.284827% 44.540857% 45.089035%);
    --palHolly-369: rgb(74.083157% 44.062476% 44.684961%);
    --palHolly-370: rgb(73.880677% 43.583872% 44.283766%);
    --palHolly-371: rgb(73.677293% 43.105063% 43.885572%);
    --palHolly-372: rgb(73.472975% 42.626021% 43.490488%);
    --palHolly-373: rgb(73.267721% 42.146694% 43.098622%);
    --palHolly-374: rgb(73.061426% 41.667105% 42.710124%);
    --palHolly-375: rgb(72.854053% 41.187228% 42.325133%);
    --palHolly-376: rgb(72.645553% 40.70704% 41.943804%);
    --palHolly-377: rgb(72.435865% 40.226528% 41.566308%);
    --palHolly-378: rgb(72.224919% 39.745684% 41.192833%);
    --palHolly-379: rgb(72.012632% 39.26451% 40.823589%);
    --palHolly-380: rgb(71.798939% 38.782987% 40.458796%);
    --palHolly-381: rgb(71.583766% 38.301106% 40.098702%);
    --palHolly-382: rgb(71.366972% 37.818908% 39.743591%);
    --palHolly-383: rgb(71.148462% 37.336395% 39.393767%);
    --palHolly-384: rgb(70.928139% 36.853569% 39.049568%);
    --palHolly-385: rgb(70.705818% 36.3705% 38.711378%);
    --palHolly-386: rgb(70.481333% 35.887247% 38.379625%);
    --palHolly-387: rgb(70.254531% 35.403847% 38.054787%);
    --palHolly-388: rgb(70.025129% 34.920457% 37.737404%);
    --palHolly-389: rgb(69.792897% 34.437182% 37.428086%);
    --palHolly-390: rgb(69.557489% 33.954231% 37.127518%);
    --palHolly-391: rgb(69.318533% 33.47184% 36.836478%);
    --palHolly-392: rgb(69.07555% 32.990345% 36.555835%);
    --palHolly-393: rgb(68.828038% 32.510108% 36.286584%);
    --palHolly-394: rgb(68.57527% 32.03172% 36.029808%);
    --palHolly-395: rgb(68.316437% 31.555864% 35.786705%);
    --palHolly-396: rgb(68.050576% 31.083404% 35.558578%);
    --palHolly-397: rgb(67.776485% 30.615481% 35.346748%);
    --palHolly-398: rgb(67.492789% 30.153473% 35.152516%);
    --palHolly-399: rgb(67.197917% 29.699044% 34.977014%);
    --palHolly-400: rgb(66.890167% 29.254116% 34.821023%);
    --palHolly-401: rgb(66.567827% 28.820769% 34.684754%);
    --palHolly-402: rgb(66.229362% 28.401072% 34.567632%);
    --palHolly-403: rgb(65.873645% 27.996826% 34.468212%);
    --palHolly-404: rgb(65.500145% 27.609335% 34.38419%);
    --palHolly-405: rgb(65.109026% 27.239212% 34.312689%);
    --palHolly-406: rgb(64.701105% 26.886361% 34.25058%);
    --palHolly-407: rgb(64.277687% 26.550065% 34.194872%);
    --palHolly-408: rgb(63.840361% 26.229186% 34.142896%);
    --palHolly-409: rgb(63.390801% 25.922354% 34.092501%);
    --palHolly-410: rgb(62.930636% 25.62813% 34.041987%);
    --palHolly-411: rgb(62.46136% 25.345114% 33.990104%);
    --palHolly-412: rgb(61.984305% 25.072008% 33.93594%);
    --palHolly-413: rgb(61.500621% 24.807645% 33.878871%);
    --palHolly-414: rgb(61.0113% 24.550994% 33.81847%);
    --palHolly-415: rgb(60.517198% 24.301141% 33.754427%);
    --palHolly-416: rgb(60.01902% 24.057307% 33.686606%);
    --palHolly-417: rgb(59.517383% 23.818803% 33.614897%);
    --palHolly-418: rgb(59.01281% 23.585033% 33.539255%);
    --palHolly-419: rgb(58.505744% 23.355477% 33.459681%);
    --palHolly-420: rgb(57.996562% 23.129686% 33.376205%);
    --palHolly-421: rgb(57.485609% 22.907247% 33.288833%);
    --palHolly-422: rgb(56.973151% 22.687824% 33.197651%);
    --palHolly-423: rgb(56.459439% 22.471102% 33.102706%);
    --palHolly-424: rgb(55.944692% 22.256803% 33.004052%);
    --palHolly-425: rgb(55.429099% 22.044681% 32.90175%);
    --palHolly-426: rgb(54.912824% 21.834515% 32.795864%);
    --palHolly-427: rgb(54.396011% 21.626111% 32.68646%);
    --palHolly-428: rgb(53.878783% 21.419293% 32.573606%);
    --palHolly-429: rgb(53.361258% 21.213897% 32.457353%);
    --palHolly-430: rgb(52.843544% 21.00977% 32.337749%);
    --palHolly-431: rgb(52.325718% 20.80679% 32.214866%);
    --palHolly-432: rgb(51.807873% 20.604825% 32.088738%);
    --palHolly-433: rgb(51.290076% 20.403765% 31.959422%);
    --palHolly-434: rgb(50.772387% 20.203513% 31.826969%);
    --palHolly-435: rgb(50.254868% 20.003967% 31.691417%);
    --palHolly-436: rgb(49.737578% 19.805036% 31.5528%);
    --palHolly-437: rgb(49.220556% 19.606642% 31.411167%);
    --palHolly-438: rgb(48.703845% 19.408709% 31.266552%);
    --palHolly-439: rgb(48.187483% 19.211166% 31.11899%);
    --palHolly-440: rgb(47.671506% 19.013944% 30.968513%);
    --palHolly-441: rgb(47.155944% 18.81698% 30.815151%);
    --palHolly-442: rgb(46.640825% 18.620218% 30.658933%);
    --palHolly-443: rgb(46.126175% 18.423597% 30.499883%);
    --palHolly-444: rgb(45.61202% 18.227064% 30.338022%);
    --palHolly-445: rgb(45.098375% 18.030573% 30.17338%);
    --palHolly-446: rgb(44.585257% 17.834077% 30.005979%);
    --palHolly-447: rgb(44.072683% 17.63753% 29.835838%);
    --palHolly-448: rgb(43.560676% 17.44088% 29.662966%);
    --palHolly-449: rgb(43.049237% 17.244096% 29.48739%);
    --palHolly-450: rgb(42.53838% 17.047137% 29.309126%);
    --palHolly-451: rgb(42.028123% 16.849957% 29.128178%);
    --palHolly-452: rgb(41.518462% 16.652527% 28.94457%);
    --palHolly-453: rgb(41.009413% 16.454806% 28.758306%);
    --palHolly-454: rgb(40.500978% 16.256763% 28.5694%);
    --palHolly-455: rgb(39.993162% 16.058363% 28.37786%);
    --palHolly-456: rgb(39.48597% 15.859571% 28.183694%);
    --palHolly-457: rgb(38.979405% 15.660359% 27.986909%);
    --palHolly-458: rgb(38.473467% 15.460692% 27.787511%);
    --palHolly-459: rgb(37.968158% 15.260542% 27.585504%);
    --palHolly-460: rgb(37.463477% 15.059878% 27.380893%);
    --palHolly-461: rgb(36.959426% 14.858669% 27.173678%);
    --palHolly-462: rgb(36.455998% 14.65689% 26.963864%);
    --palHolly-463: rgb(35.953198% 14.454505% 26.751447%);
    --palHolly-464: rgb(35.451016% 14.251492% 26.536431%);
    --palHolly-465: rgb(34.949452% 14.047819% 26.318813%);
    --palHolly-466: rgb(34.4485% 13.843458% 26.098589%);
    --palHolly-467: rgb(33.948154% 13.638382% 25.875758%);
    --palHolly-468: rgb(33.44841% 13.432561% 25.650314%);
    --palHolly-469: rgb(32.94926% 13.225968% 25.422251%);
    --palHolly-470: rgb(32.450695% 13.018575% 25.191564%);
    --palHolly-471: rgb(31.952709% 12.81035% 24.958244%);
    --palHolly-472: rgb(31.455293% 12.601267% 24.722284%);
    --palHolly-473: rgb(30.958436% 12.391297% 24.483674%);
    --palHolly-474: rgb(30.462129% 12.180408% 24.242401%);
    --palHolly-475: rgb(29.966361% 11.968572% 23.998456%);
    --palHolly-476: rgb(29.471119% 11.755757% 23.751825%);
    --palHolly-477: rgb(28.976392% 11.541932% 23.502494%);
    --palHolly-478: rgb(28.482165% 11.327066% 23.250448%);
    --palHolly-479: rgb(27.988426% 11.111126% 22.99567%);
    --palHolly-480: rgb(27.495159% 10.894078% 22.738143%);
    --palHolly-481: rgb(27.002349% 10.675889% 22.477848%);
    --palHolly-482: rgb(26.509979% 10.456521% 22.214764%);
    --palHolly-483: rgb(26.01803% 10.23594% 21.94887%);
    --palHolly-484: rgb(25.526487% 10.014107% 21.680143%);
    --palHolly-485: rgb(25.03533% 9.790983% 21.408558%);
    --palHolly-486: rgb(24.544536% 9.566528% 21.13409%);
    --palHolly-487: rgb(24.054086% 9.340699% 20.85671%);
    --palHolly-488: rgb(23.563958% 9.113453% 20.576389%);
    --palHolly-489: rgb(23.074126% 8.884744% 20.293097%);
    --palHolly-490: rgb(22.584569% 8.654522% 20.0068%);
    --palHolly-491: rgb(22.095258% 8.422739% 19.717464%);
    --palHolly-492: rgb(21.606167% 8.189341% 19.425052%);
    --palHolly-493: rgb(21.117268% 7.954271% 19.129524%);
    --palHolly-494: rgb(20.628527% 7.717473% 18.830843%);
    --palHolly-495: rgb(20.139919% 7.478882% 18.528961%);
    --palHolly-496: rgb(19.651402% 7.238434% 18.223835%);
    --palHolly-497: rgb(19.162949% 6.996056% 17.915416%);
    --palHolly-498: rgb(18.674517% 6.751676% 17.603654%);
    --palHolly-499: rgb(18.18607% 6.505212% 17.288495%);
    --palHolly-500: rgb(17.697564% 6.256578% 16.969883%);
    --palHolly-501: rgb(17.208959% 6.005681% 16.647757%);
    --palHolly-502: rgb(16.720205% 5.752423% 16.322056%);
    --palHolly-503: rgb(16.231256% 5.496692% 15.992712%);
    --palHolly-504: rgb(15.742056% 5.238376% 15.659656%);
    --palHolly-505: rgb(15.252557% 4.977339% 15.322815%);
    --palHolly-506: rgb(14.762692% 4.713449% 14.982112%);
    --palHolly-507: rgb(14.272405% 4.446544% 14.637463%);
    --palHolly-508: rgb(13.781629% 4.176455% 14.288784%);
    --palHolly-509: rgb(13.290288% 3.902073% 13.935985%);
    --palHolly-510: rgb(12.798314% 3.63181% 13.578971%);
    --palHolly-511: rgb(12.305625% 3.369292% 13.217641%);
}
