/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palHorizon-1: rgb(5.120212% 20.493541% 4.200355%);
    --palHorizon-2: rgb(4.946476% 20.843164% 4.853604%);
    --palHorizon-3: rgb(4.768645% 21.190842% 5.492319%);
    --palHorizon-4: rgb(4.587175% 21.536581% 6.119401%);
    --palHorizon-5: rgb(4.402407% 21.880399% 6.737112%);
    --palHorizon-6: rgb(4.214835% 22.222308% 7.347112%);
    --palHorizon-7: rgb(4.024605% 22.562327% 7.950738%);
    --palHorizon-8: rgb(3.832887% 22.900475% 8.549036%);
    --palHorizon-9: rgb(3.645451% 23.236768% 9.14281%);
    --palHorizon-10: rgb(3.462894% 23.571232% 9.732757%);
    --palHorizon-11: rgb(3.285849% 23.903888% 10.31942%);
    --palHorizon-12: rgb(3.114972% 24.23476% 10.903221%);
    --palHorizon-13: rgb(2.950816% 24.563876% 11.484546%);
    --palHorizon-14: rgb(2.793953% 24.891261% 12.0637%);
    --palHorizon-15: rgb(2.644936% 25.216946% 12.640933%);
    --palHorizon-16: rgb(2.50431% 25.540958% 13.216447%);
    --palHorizon-17: rgb(2.372577% 25.863329% 13.79042%);
    --palHorizon-18: rgb(2.250207% 26.184091% 14.363008%);
    --palHorizon-19: rgb(2.137659% 26.503276% 14.934336%);
    --palHorizon-20: rgb(2.035368% 26.82092% 15.504511%);
    --palHorizon-21: rgb(1.943744% 27.137055% 16.073624%);
    --palHorizon-22: rgb(1.863172% 27.451716% 16.641756%);
    --palHorizon-23: rgb(1.794011% 27.764941% 17.208975%);
    --palHorizon-24: rgb(1.736597% 28.076764% 17.775344%);
    --palHorizon-25: rgb(1.69124% 28.387223% 18.340917%);
    --palHorizon-26: rgb(1.658226% 28.696355% 18.905744%);
    --palHorizon-27: rgb(1.637818% 29.004196% 19.469873%);
    --palHorizon-28: rgb(1.630255% 29.310785% 20.033347%);
    --palHorizon-29: rgb(1.635755% 29.616158% 20.596208%);
    --palHorizon-30: rgb(1.654513% 29.920352% 21.158498%);
    --palHorizon-31: rgb(1.686704% 30.223406% 21.720255%);
    --palHorizon-32: rgb(1.732482% 30.525355% 22.281521%);
    --palHorizon-33: rgb(1.791985% 30.826237% 22.842336%);
    --palHorizon-34: rgb(1.865331% 31.126087% 23.402742%);
    --palHorizon-35: rgb(1.952622% 31.42494% 23.96278%);
    --palHorizon-36: rgb(2.053948% 31.722833% 24.522495%);
    --palHorizon-37: rgb(2.169389% 32.019799% 25.081928%);
    --palHorizon-38: rgb(2.299009% 32.315871% 25.641124%);
    --palHorizon-39: rgb(2.442852% 32.611083% 26.200135%);
    --palHorizon-40: rgb(2.600961% 32.905466% 26.759014%);
    --palHorizon-41: rgb(2.773372% 33.199051% 27.31781%);
    --palHorizon-42: rgb(2.960115% 33.491867% 27.876577%);
    --palHorizon-43: rgb(3.161231% 33.783944% 28.435362%);
    --palHorizon-44: rgb(3.376728% 34.075308% 28.994229%);
    --palHorizon-45: rgb(3.606628% 34.365986% 29.553239%);
    --palHorizon-46: rgb(3.850955% 34.656003% 30.11245%);
    --palHorizon-47: rgb(4.10836% 34.945383% 30.671918%);
    --palHorizon-48: rgb(4.369584% 35.234148% 31.231709%);
    --palHorizon-49: rgb(4.634609% 35.522319% 31.791891%);
    --palHorizon-50: rgb(4.902975% 35.809917% 32.352528%);
    --palHorizon-51: rgb(5.174292% 36.096958% 32.913679%);
    --palHorizon-52: rgb(5.448207% 36.383461% 33.475417%);
    --palHorizon-53: rgb(5.724422% 36.66944% 34.037811%);
    --palHorizon-54: rgb(6.002691% 36.954909% 34.600926%);
    --palHorizon-55: rgb(6.282804% 37.239882% 35.164829%);
    --palHorizon-56: rgb(6.564579% 37.524368% 35.729595%);
    --palHorizon-57: rgb(6.847875% 37.808379% 36.29529%);
    --palHorizon-58: rgb(7.132582% 38.091921% 36.861979%);
    --palHorizon-59: rgb(7.418605% 38.375001% 37.429737%);
    --palHorizon-60: rgb(7.705878% 38.657626% 37.998631%);
    --palHorizon-61: rgb(7.994362% 38.939798% 38.568726%);
    --palHorizon-62: rgb(8.284025% 39.22152% 39.140093%);
    --palHorizon-63: rgb(8.574858% 39.502793% 39.712798%);
    --palHorizon-64: rgb(8.866872% 39.783618% 40.286905%);
    --palHorizon-65: rgb(9.160083% 40.063991% 40.862482%);
    --palHorizon-66: rgb(9.454524% 40.343911% 41.439592%);
    --palHorizon-67: rgb(9.75024% 40.623372% 42.018297%);
    --palHorizon-68: rgb(10.047285% 40.902369% 42.598658%);
    --palHorizon-69: rgb(10.345722% 41.180896% 43.180736%);
    --palHorizon-70: rgb(10.645624% 41.458944% 43.764589%);
    --palHorizon-71: rgb(10.947069% 41.736504% 44.350273%);
    --palHorizon-72: rgb(11.250146% 42.013565% 44.937843%);
    --palHorizon-73: rgb(11.554945% 42.290116% 45.527354%);
    --palHorizon-74: rgb(11.861566% 42.566143% 46.118854%);
    --palHorizon-75: rgb(12.170113% 42.841634% 46.712393%);
    --palHorizon-76: rgb(12.480692% 43.116572% 47.308021%);
    --palHorizon-77: rgb(12.793418% 43.390941% 47.905777%);
    --palHorizon-78: rgb(13.108405% 43.664726% 48.505706%);
    --palHorizon-79: rgb(13.425772% 43.937906% 49.10785%);
    --palHorizon-80: rgb(13.745641% 44.210464% 49.712242%);
    --palHorizon-81: rgb(14.068139% 44.482379% 50.318916%);
    --palHorizon-82: rgb(14.393388% 44.75363% 50.927912%);
    --palHorizon-83: rgb(14.721521% 45.024195% 51.539251%);
    --palHorizon-84: rgb(15.052666% 45.294052% 52.152958%);
    --palHorizon-85: rgb(15.386954% 45.563176% 52.769064%);
    --palHorizon-86: rgb(15.724518% 45.831543% 53.387584%);
    --palHorizon-87: rgb(16.065493% 46.099128% 54.008532%);
    --palHorizon-88: rgb(16.410012% 46.365905% 54.631923%);
    --palHorizon-89: rgb(16.758209% 46.631846% 55.257774%);
    --palHorizon-90: rgb(17.11022% 46.896923% 55.886083%);
    --palHorizon-91: rgb(17.46618% 47.161109% 56.516851%);
    --palHorizon-92: rgb(17.826223% 47.424374% 57.150082%);
    --palHorizon-93: rgb(18.190485% 47.686688% 57.785774%);
    --palHorizon-94: rgb(18.559099% 47.94802% 58.42391%);
    --palHorizon-95: rgb(18.9322% 48.208341% 59.064476%);
    --palHorizon-96: rgb(19.309922% 48.467617% 59.707453%);
    --palHorizon-97: rgb(19.692396% 48.725816% 60.352827%);
    --palHorizon-98: rgb(20.079756% 48.982905% 61.000567%);
    --palHorizon-99: rgb(20.472133% 49.23885% 61.650634%);
    --palHorizon-100: rgb(20.869655% 49.493619% 62.30299%);
    --palHorizon-101: rgb(21.272453% 49.747176% 62.957592%);
    --palHorizon-102: rgb(21.680655% 49.999486% 63.614389%);
    --palHorizon-103: rgb(22.094387% 50.250514% 64.273327%);
    --palHorizon-104: rgb(22.513777% 50.500224% 64.934347%);
    --palHorizon-105: rgb(22.938948% 50.74858% 65.597379%);
    --palHorizon-106: rgb(23.370023% 50.995545% 66.262342%);
    --palHorizon-107: rgb(23.807124% 51.241085% 66.929154%);
    --palHorizon-108: rgb(24.250371% 51.485161% 67.597723%);
    --palHorizon-109: rgb(24.699882% 51.727737% 68.267948%);
    --palHorizon-110: rgb(25.155776% 51.968777% 68.93972%);
    --palHorizon-111: rgb(25.618166% 52.208244% 69.612923%);
    --palHorizon-112: rgb(26.087167% 52.446102% 70.287427%);
    --palHorizon-113: rgb(26.56289% 52.682315% 70.963094%);
    --palHorizon-114: rgb(27.04545% 52.916844% 71.639788%);
    --palHorizon-115: rgb(27.534952% 53.149656% 72.317338%);
    --palHorizon-116: rgb(28.0315% 53.380718% 72.99557%);
    --palHorizon-117: rgb(28.535197% 53.609996% 73.674297%);
    --palHorizon-118: rgb(29.046143% 53.837457% 74.353318%);
    --palHorizon-119: rgb(29.564438% 54.06307% 75.032423%);
    --palHorizon-120: rgb(30.09019% 54.286799% 75.711406%);
    --palHorizon-121: rgb(30.623475% 54.508622% 76.389991%);
    --palHorizon-122: rgb(31.16438% 54.728515% 77.067913%);
    --palHorizon-123: rgb(31.713013% 54.946441% 77.74493%);
    --palHorizon-124: rgb(32.269435% 55.16239% 78.420705%);
    --palHorizon-125: rgb(32.833726% 55.37634% 79.094925%);
    --palHorizon-126: rgb(33.405973% 55.58827% 79.767267%);
    --palHorizon-127: rgb(33.986219% 55.798177% 80.437332%);
    --palHorizon-128: rgb(34.574553% 56.006041% 81.104769%);
    --palHorizon-129: rgb(35.171005% 56.211869% 81.76913%);
    --palHorizon-130: rgb(35.775629% 56.41566% 82.429982%);
    --palHorizon-131: rgb(36.388476% 56.617416% 83.086867%);
    --palHorizon-132: rgb(37.009551% 56.817161% 83.739254%);
    --palHorizon-133: rgb(37.638876% 57.014916% 84.386617%);
    --palHorizon-134: rgb(38.276483% 57.2107% 85.02841%);
    --palHorizon-135: rgb(38.922337% 57.404563% 85.664003%);
    --palHorizon-136: rgb(39.576414% 57.596554% 86.292758%);
    --palHorizon-137: rgb(40.238675% 57.786735% 86.913994%);
    --palHorizon-138: rgb(40.909059% 57.975179% 87.526994%);
    --palHorizon-139: rgb(41.587479% 58.161976% 88.130997%);
    --palHorizon-140: rgb(42.273825% 58.347228% 88.7252%);
    --palHorizon-141: rgb(42.967954% 58.531058% 89.308758%);
    --palHorizon-142: rgb(43.669694% 58.713608% 89.880786%);
    --palHorizon-143: rgb(44.378865% 58.895025% 90.440375%);
    --palHorizon-144: rgb(45.095197% 59.075502% 90.986548%);
    --palHorizon-145: rgb(45.818386% 59.255247% 91.518302%);
    --palHorizon-146: rgb(46.54814% 59.434473% 92.034631%);
    --palHorizon-147: rgb(47.284026% 59.613452% 92.534464%);
    --palHorizon-148: rgb(48.025633% 59.792453% 93.016747%);
    --palHorizon-149: rgb(48.77242% 59.9718% 93.480395%);
    --palHorizon-150: rgb(49.523869% 60.151811% 93.924353%);
    --palHorizon-151: rgb(50.279305% 60.332867% 94.347562%);
    --palHorizon-152: rgb(51.038035% 60.515354% 94.749013%);
    --palHorizon-153: rgb(51.799302% 60.699683% 95.127752%);
    --palHorizon-154: rgb(52.562276% 60.88629% 95.482895%);
    --palHorizon-155: rgb(53.326055% 61.075628% 95.81366%);
    --palHorizon-156: rgb(54.089693% 61.26816% 96.119384%);
    --palHorizon-157: rgb(54.852201% 61.464352% 96.399544%);
    --palHorizon-158: rgb(55.612555% 61.664668% 96.653782%);
    --palHorizon-159: rgb(56.369715% 61.86956% 96.881919%);
    --palHorizon-160: rgb(57.122637% 62.079461% 97.083966%);
    --palHorizon-161: rgb(57.870293% 62.294778% 97.260138%);
    --palHorizon-162: rgb(58.61169% 62.515878% 97.410852%);
    --palHorizon-163: rgb(59.345886% 62.743089% 97.536723%);
    --palHorizon-164: rgb(60.072008% 62.976687% 97.638554%);
    --palHorizon-165: rgb(60.789255% 63.216901% 97.717328%);
    --palHorizon-166: rgb(61.496935% 63.463897% 97.774163%);
    --palHorizon-167: rgb(62.194456% 63.71779% 97.810303%);
    --palHorizon-168: rgb(62.881333% 63.978638% 97.827083%);
    --palHorizon-169: rgb(63.557139% 64.24646% 97.825958%);
    --palHorizon-170: rgb(64.221637% 64.521208% 97.808333%);
    --palHorizon-171: rgb(64.874609% 64.802811% 97.775716%);
    --palHorizon-172: rgb(65.515995% 65.091147% 97.729525%);
    --palHorizon-173: rgb(66.145729% 65.386079% 97.67127%);
    --palHorizon-174: rgb(66.763916% 65.687431% 97.602282%);
    --palHorizon-175: rgb(67.370672% 65.995014% 97.523912%);
    --palHorizon-176: rgb(67.966166% 66.308627% 97.437441%);
    --palHorizon-177: rgb(68.550617% 66.628056% 97.344079%);
    --palHorizon-178: rgb(69.124281% 66.953086% 97.244953%);
    --palHorizon-179: rgb(69.687448% 67.283494% 97.141104%);
    --palHorizon-180: rgb(70.240428% 67.619061% 97.033489%);
    --palHorizon-181: rgb(70.783525% 67.959574% 96.923048%);
    --palHorizon-182: rgb(71.317066% 68.304818% 96.810611%);
    --palHorizon-183: rgb(71.841411% 68.654591% 96.696868%);
    --palHorizon-184: rgb(72.356861% 69.008694% 96.582608%);
    --palHorizon-185: rgb(72.863772% 69.366938% 96.468399%);
    --palHorizon-186: rgb(73.362481% 69.729141% 96.35479%);
    --palHorizon-187: rgb(73.853295% 70.095131% 96.242362%);
    --palHorizon-188: rgb(74.336531% 70.464743% 96.131591%);
    --palHorizon-189: rgb(74.812511% 70.837822% 96.02286%);
    --palHorizon-190: rgb(75.281534% 71.214223% 95.916557%);
    --palHorizon-191: rgb(75.743893% 71.593807% 95.813027%);
    --palHorizon-192: rgb(76.19987% 71.976445% 95.712571%);
    --palHorizon-193: rgb(76.649723% 72.362008% 95.615554%);
    --palHorizon-194: rgb(77.09373% 72.750385% 95.522147%);
    --palHorizon-195: rgb(77.532149% 73.141472% 95.432543%);
    --palHorizon-196: rgb(77.965215% 73.535163% 95.346986%);
    --palHorizon-197: rgb(78.393156% 73.931358% 95.265702%);
    --palHorizon-198: rgb(78.816217% 74.32998% 95.188713%);
    --palHorizon-199: rgb(79.234591% 74.730926% 95.116355%);
    --palHorizon-200: rgb(79.648507% 75.134136% 95.048561%);
    --palHorizon-201: rgb(80.058154% 75.539524% 94.985563%);
    --palHorizon-202: rgb(80.463728% 75.947021% 94.927436%);
    --palHorizon-203: rgb(80.865418% 76.356569% 94.874201%);
    --palHorizon-204: rgb(81.263401% 76.768102% 94.825976%);
    --palHorizon-205: rgb(81.657845% 77.181554% 94.782902%);
    --palHorizon-206: rgb(82.048921% 77.59688% 94.744944%);
    --palHorizon-207: rgb(82.43679% 78.014026% 94.71216%);
    --palHorizon-208: rgb(82.821607% 78.432945% 94.684598%);
    --palHorizon-209: rgb(83.20352% 78.853589% 94.662301%);
    --palHorizon-210: rgb(83.582675% 79.275914% 94.645298%);
    --palHorizon-211: rgb(83.959213% 79.69988% 94.633614%);
    --palHorizon-212: rgb(84.333271% 80.125448% 94.627267%);
    --palHorizon-213: rgb(84.704981% 80.552581% 94.626268%);
    --palHorizon-214: rgb(85.074472% 80.981245% 94.630624%);
    --palHorizon-215: rgb(85.441869% 81.411407% 94.640342%);
    --palHorizon-216: rgb(85.807301% 81.843019% 94.65553%);
    --palHorizon-217: rgb(86.170881% 82.276067% 94.676083%);
    --palHorizon-218: rgb(86.532727% 82.710522% 94.701992%);
    --palHorizon-219: rgb(86.892955% 83.146352% 94.733281%);
    --palHorizon-220: rgb(87.251687% 83.583513% 94.770051%);
    --palHorizon-221: rgb(87.609023% 84.022003% 94.812149%);
    --palHorizon-222: rgb(87.965078% 84.461782% 94.859652%);
    --palHorizon-223: rgb(88.319967% 84.902818% 94.912585%);
    --palHorizon-224: rgb(88.673785% 85.345106% 94.970831%);
    --palHorizon-225: rgb(89.026664% 85.788588% 95.034577%);
    --palHorizon-226: rgb(89.378682% 86.233276% 95.103602%);
    --palHorizon-227: rgb(89.72998% 86.679103% 95.178136%);
    --palHorizon-228: rgb(90.080638% 87.126081% 95.257969%);
    --palHorizon-229: rgb(90.430789% 87.574153% 95.343269%);
    --palHorizon-230: rgb(90.780531% 88.023308% 95.433945%);
    --palHorizon-231: rgb(91.129976% 88.47352% 95.530001%);
    --palHorizon-232: rgb(91.479261% 88.924736% 95.631568%);
    --palHorizon-233: rgb(91.828479% 89.376951% 95.738519%);
    --palHorizon-234: rgb(92.177761% 89.830123% 95.850923%);
    --palHorizon-235: rgb(92.527251% 90.284199% 95.968902%);
    --palHorizon-236: rgb(92.877058% 90.739163% 96.092377%);
    --palHorizon-237: rgb(93.227318% 91.194972% 96.221406%);
    --palHorizon-238: rgb(93.578185% 91.651572% 96.356097%);
    --palHorizon-239: rgb(93.929811% 92.10891% 96.496554%);
    --palHorizon-240: rgb(94.282334% 92.566945% 96.642807%);
    --palHorizon-241: rgb(94.635913% 93.025622% 96.794982%);
    --palHorizon-242: rgb(94.990705% 93.484879% 96.953234%);
    --palHorizon-243: rgb(95.346868% 93.944654% 97.117756%);
    --palHorizon-244: rgb(95.70455% 94.404882% 97.288796%);
    --palHorizon-245: rgb(96.06388% 94.865495% 97.466688%);
    --palHorizon-246: rgb(96.424925% 95.326453% 97.651764%);
    --palHorizon-247: rgb(96.787684% 95.787729% 97.844493%);
    --palHorizon-248: rgb(97.152024% 96.249335% 98.045445%);
    --palHorizon-249: rgb(97.517606% 96.711358% 98.255287%);
    --palHorizon-250: rgb(97.88378% 97.174% 98.474752%);
    --palHorizon-251: rgb(98.249464% 97.637636% 98.704544%);
    --palHorizon-252: rgb(98.613036% 98.102876% 98.945147%);
    --palHorizon-253: rgb(98.972324% 98.570598% 99.196519%);
    --palHorizon-254: rgb(99.324786% 99.041918% 99.457717%);
    --palHorizon-255: rgb(99.667949% 99.518036% 99.726622%);
    --palHorizon-256: rgb(100% 100% 100%);
}
