/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palHsOrange2-1: rgb(27.734375% 21.484375% 23.046875%);
    --palHsOrange2-2: rgb(28.125% 21.875% 23.4375%);
    --palHsOrange2-3: rgb(28.90625% 21.875% 23.4375%);
    --palHsOrange2-4: rgb(29.296875% 21.875% 23.4375%);
    --palHsOrange2-5: rgb(29.6875% 22.265625% 23.828125%);
    --palHsOrange2-6: rgb(30.46875% 22.265625% 23.828125%);
    --palHsOrange2-7: rgb(30.859375% 22.65625% 24.21875%);
    --palHsOrange2-8: rgb(31.25% 22.65625% 24.21875%);
    --palHsOrange2-9: rgb(32.03125% 22.65625% 24.609375%);
    --palHsOrange2-10: rgb(32.421875% 23.046875% 24.609375%);
    --palHsOrange2-11: rgb(32.8125% 23.046875% 25%);
    --palHsOrange2-12: rgb(33.59375% 23.4375% 25%);
    --palHsOrange2-13: rgb(33.984375% 23.4375% 25.390625%);
    --palHsOrange2-14: rgb(34.765625% 23.828125% 25.390625%);
    --palHsOrange2-15: rgb(35.15625% 23.828125% 25.78125%);
    --palHsOrange2-16: rgb(35.546875% 23.828125% 25.78125%);
    --palHsOrange2-17: rgb(36.328125% 24.21875% 25.78125%);
    --palHsOrange2-18: rgb(36.71875% 24.21875% 26.171875%);
    --palHsOrange2-19: rgb(37.109375% 24.609375% 26.171875%);
    --palHsOrange2-20: rgb(37.890625% 24.609375% 26.5625%);
    --palHsOrange2-21: rgb(38.28125% 24.609375% 26.5625%);
    --palHsOrange2-22: rgb(38.671875% 25% 26.953125%);
    --palHsOrange2-23: rgb(39.453125% 25% 26.953125%);
    --palHsOrange2-24: rgb(39.84375% 25.390625% 27.34375%);
    --palHsOrange2-25: rgb(40.625% 25.390625% 27.34375%);
    --palHsOrange2-26: rgb(41.015625% 25.78125% 27.734375%);
    --palHsOrange2-27: rgb(41.40625% 25.78125% 27.734375%);
    --palHsOrange2-28: rgb(42.1875% 25.78125% 27.734375%);
    --palHsOrange2-29: rgb(42.578125% 26.171875% 28.125%);
    --palHsOrange2-30: rgb(42.96875% 26.171875% 28.125%);
    --palHsOrange2-31: rgb(43.75% 26.5625% 28.515625%);
    --palHsOrange2-32: rgb(44.140625% 26.5625% 28.515625%);
    --palHsOrange2-33: rgb(44.53125% 26.5625% 28.90625%);
    --palHsOrange2-34: rgb(45.3125% 26.953125% 28.90625%);
    --palHsOrange2-35: rgb(45.703125% 26.953125% 28.90625%);
    --palHsOrange2-36: rgb(46.09375% 26.953125% 28.90625%);
    --palHsOrange2-37: rgb(46.875% 26.953125% 28.90625%);
    --palHsOrange2-38: rgb(47.265625% 27.34375% 28.90625%);
    --palHsOrange2-39: rgb(47.65625% 27.34375% 28.90625%);
    --palHsOrange2-40: rgb(48.046875% 27.34375% 28.90625%);
    --palHsOrange2-41: rgb(48.828125% 27.34375% 28.90625%);
    --palHsOrange2-42: rgb(49.21875% 27.34375% 28.90625%);
    --palHsOrange2-43: rgb(49.609375% 27.734375% 28.90625%);
    --palHsOrange2-44: rgb(50% 27.734375% 28.90625%);
    --palHsOrange2-45: rgb(50.78125% 27.734375% 28.90625%);
    --palHsOrange2-46: rgb(51.171875% 27.734375% 28.90625%);
    --palHsOrange2-47: rgb(51.5625% 28.125% 28.90625%);
    --palHsOrange2-48: rgb(52.34375% 28.125% 28.90625%);
    --palHsOrange2-49: rgb(52.734375% 28.125% 28.90625%);
    --palHsOrange2-50: rgb(53.125% 28.125% 28.90625%);
    --palHsOrange2-51: rgb(53.515625% 28.125% 28.90625%);
    --palHsOrange2-52: rgb(54.296875% 28.515625% 28.90625%);
    --palHsOrange2-53: rgb(54.6875% 28.515625% 28.90625%);
    --palHsOrange2-54: rgb(55.078125% 28.515625% 28.90625%);
    --palHsOrange2-55: rgb(55.859375% 28.515625% 28.90625%);
    --palHsOrange2-56: rgb(56.25% 28.90625% 28.90625%);
    --palHsOrange2-57: rgb(56.640625% 28.90625% 28.90625%);
    --palHsOrange2-58: rgb(57.03125% 28.90625% 28.90625%);
    --palHsOrange2-59: rgb(57.8125% 28.90625% 28.90625%);
    --palHsOrange2-60: rgb(58.203125% 28.90625% 28.90625%);
    --palHsOrange2-61: rgb(58.59375% 29.296875% 28.90625%);
    --palHsOrange2-62: rgb(59.375% 29.296875% 28.90625%);
    --palHsOrange2-63: rgb(59.765625% 29.296875% 28.90625%);
    --palHsOrange2-64: rgb(60.15625% 29.296875% 28.90625%);
    --palHsOrange2-65: rgb(60.546875% 29.6875% 28.90625%);
    --palHsOrange2-66: rgb(60.9375% 29.6875% 28.90625%);
    --palHsOrange2-67: rgb(61.328125% 30.078125% 28.90625%);
    --palHsOrange2-68: rgb(61.71875% 30.46875% 28.90625%);
    --palHsOrange2-69: rgb(62.109375% 30.46875% 28.90625%);
    --palHsOrange2-70: rgb(62.5% 30.859375% 28.90625%);
    --palHsOrange2-71: rgb(62.890625% 31.25% 28.90625%);
    --palHsOrange2-72: rgb(63.28125% 31.25% 28.90625%);
    --palHsOrange2-73: rgb(63.671875% 31.640625% 28.90625%);
    --palHsOrange2-74: rgb(64.0625% 32.03125% 28.90625%);
    --palHsOrange2-75: rgb(64.453125% 32.03125% 28.515625%);
    --palHsOrange2-76: rgb(64.84375% 32.421875% 28.515625%);
    --palHsOrange2-77: rgb(65.234375% 32.8125% 28.515625%);
    --palHsOrange2-78: rgb(65.625% 32.8125% 28.515625%);
    --palHsOrange2-79: rgb(66.015625% 33.203125% 28.515625%);
    --palHsOrange2-80: rgb(66.40625% 33.59375% 28.515625%);
    --palHsOrange2-81: rgb(66.796875% 33.59375% 28.515625%);
    --palHsOrange2-82: rgb(67.1875% 33.984375% 28.515625%);
    --palHsOrange2-83: rgb(67.578125% 34.375% 28.515625%);
    --palHsOrange2-84: rgb(67.96875% 34.375% 28.515625%);
    --palHsOrange2-85: rgb(67.96875% 34.765625% 28.515625%);
    --palHsOrange2-86: rgb(68.359375% 35.15625% 28.515625%);
    --palHsOrange2-87: rgb(68.75% 35.15625% 28.515625%);
    --palHsOrange2-88: rgb(69.140625% 35.546875% 28.515625%);
    --palHsOrange2-89: rgb(69.53125% 35.9375% 28.515625%);
    --palHsOrange2-90: rgb(69.921875% 35.9375% 28.515625%);
    --palHsOrange2-91: rgb(70.3125% 36.328125% 28.125%);
    --palHsOrange2-92: rgb(70.703125% 36.71875% 28.125%);
    --palHsOrange2-93: rgb(71.09375% 36.71875% 28.125%);
    --palHsOrange2-94: rgb(71.484375% 37.109375% 28.125%);
    --palHsOrange2-95: rgb(71.875% 37.5% 28.125%);
    --palHsOrange2-96: rgb(72.265625% 37.5% 28.125%);
    --palHsOrange2-97: rgb(72.65625% 37.890625% 28.125%);
    --palHsOrange2-98: rgb(73.046875% 38.28125% 28.125%);
    --palHsOrange2-99: rgb(73.046875% 38.671875% 28.125%);
    --palHsOrange2-100: rgb(73.4375% 39.453125% 28.515625%);
    --palHsOrange2-101: rgb(73.828125% 39.84375% 28.515625%);
    --palHsOrange2-102: rgb(74.21875% 40.234375% 28.515625%);
    --palHsOrange2-103: rgb(74.21875% 40.625% 28.515625%);
    --palHsOrange2-104: rgb(74.609375% 41.015625% 28.515625%);
    --palHsOrange2-105: rgb(75% 41.40625% 28.515625%);
    --palHsOrange2-106: rgb(75% 42.1875% 28.90625%);
    --palHsOrange2-107: rgb(75.390625% 42.578125% 28.90625%);
    --palHsOrange2-108: rgb(75.78125% 42.96875% 28.90625%);
    --palHsOrange2-109: rgb(76.171875% 43.359375% 28.90625%);
    --palHsOrange2-110: rgb(76.171875% 43.75% 28.90625%);
    --palHsOrange2-111: rgb(76.5625% 44.53125% 28.90625%);
    --palHsOrange2-112: rgb(76.953125% 44.921875% 28.90625%);
    --palHsOrange2-113: rgb(76.953125% 45.3125% 29.296875%);
    --palHsOrange2-114: rgb(77.34375% 45.703125% 29.296875%);
    --palHsOrange2-115: rgb(77.734375% 46.09375% 29.296875%);
    --palHsOrange2-116: rgb(78.125% 46.484375% 29.296875%);
    --palHsOrange2-117: rgb(78.125% 47.265625% 29.296875%);
    --palHsOrange2-118: rgb(78.515625% 47.65625% 29.296875%);
    --palHsOrange2-119: rgb(78.90625% 48.046875% 29.296875%);
    --palHsOrange2-120: rgb(78.90625% 48.4375% 29.6875%);
    --palHsOrange2-121: rgb(79.296875% 48.828125% 29.6875%);
    --palHsOrange2-122: rgb(79.6875% 49.21875% 29.6875%);
    --palHsOrange2-123: rgb(80.078125% 50% 29.6875%);
    --palHsOrange2-124: rgb(80.078125% 50.390625% 29.6875%);
    --palHsOrange2-125: rgb(80.46875% 50.78125% 29.6875%);
    --palHsOrange2-126: rgb(80.859375% 51.171875% 29.6875%);
    --palHsOrange2-127: rgb(81.25% 51.5625% 30.078125%);
    --palHsOrange2-128: rgb(81.25% 51.953125% 30.078125%);
    --palHsOrange2-129: rgb(81.640625% 52.734375% 30.078125%);
    --palHsOrange2-130: rgb(81.640625% 53.125% 30.46875%);
    --palHsOrange2-131: rgb(82.03125% 53.515625% 30.46875%);
    --palHsOrange2-132: rgb(82.421875% 54.296875% 30.859375%);
    --palHsOrange2-133: rgb(82.421875% 54.6875% 31.25%);
    --palHsOrange2-134: rgb(82.8125% 55.078125% 31.25%);
    --palHsOrange2-135: rgb(82.8125% 55.859375% 31.640625%);
    --palHsOrange2-136: rgb(83.203125% 56.25% 32.03125%);
    --palHsOrange2-137: rgb(83.203125% 56.640625% 32.03125%);
    --palHsOrange2-138: rgb(83.59375% 57.421875% 32.421875%);
    --palHsOrange2-139: rgb(83.59375% 57.8125% 32.8125%);
    --palHsOrange2-140: rgb(83.984375% 58.203125% 32.8125%);
    --palHsOrange2-141: rgb(84.375% 58.984375% 33.203125%);
    --palHsOrange2-142: rgb(84.375% 59.375% 33.203125%);
    --palHsOrange2-143: rgb(84.765625% 59.765625% 33.59375%);
    --palHsOrange2-144: rgb(84.765625% 60.546875% 33.984375%);
    --palHsOrange2-145: rgb(85.15625% 60.9375% 33.984375%);
    --palHsOrange2-146: rgb(85.15625% 61.71875% 34.375%);
    --palHsOrange2-147: rgb(85.546875% 62.109375% 34.765625%);
    --palHsOrange2-148: rgb(85.9375% 62.5% 34.765625%);
    --palHsOrange2-149: rgb(85.9375% 63.28125% 35.15625%);
    --palHsOrange2-150: rgb(86.328125% 63.671875% 35.546875%);
    --palHsOrange2-151: rgb(86.328125% 64.0625% 35.546875%);
    --palHsOrange2-152: rgb(86.71875% 64.84375% 35.9375%);
    --palHsOrange2-153: rgb(86.71875% 65.234375% 35.9375%);
    --palHsOrange2-154: rgb(87.109375% 65.625% 36.328125%);
    --palHsOrange2-155: rgb(87.109375% 66.40625% 36.71875%);
    --palHsOrange2-156: rgb(87.5% 66.796875% 36.71875%);
    --palHsOrange2-157: rgb(87.890625% 67.1875% 37.109375%);
    --palHsOrange2-158: rgb(87.890625% 67.96875% 37.5%);
    --palHsOrange2-159: rgb(88.28125% 68.359375% 37.5%);
    --palHsOrange2-160: rgb(88.28125% 68.75% 37.890625%);
    --palHsOrange2-161: rgb(88.671875% 69.53125% 38.28125%);
    --palHsOrange2-162: rgb(88.671875% 69.921875% 38.28125%);
    --palHsOrange2-163: rgb(89.0625% 70.3125% 38.671875%);
    --palHsOrange2-164: rgb(89.0625% 70.703125% 39.0625%);
    --palHsOrange2-165: rgb(89.0625% 71.09375% 39.453125%);
    --palHsOrange2-166: rgb(89.453125% 71.484375% 39.84375%);
    --palHsOrange2-167: rgb(89.453125% 71.875% 40.234375%);
    --palHsOrange2-168: rgb(89.84375% 72.265625% 40.625%);
    --palHsOrange2-169: rgb(89.84375% 73.046875% 40.625%);
    --palHsOrange2-170: rgb(89.84375% 73.4375% 41.015625%);
    --palHsOrange2-171: rgb(90.234375% 73.828125% 41.40625%);
    --palHsOrange2-172: rgb(90.234375% 74.21875% 41.796875%);
    --palHsOrange2-173: rgb(90.625% 74.609375% 42.1875%);
    --palHsOrange2-174: rgb(90.625% 75% 42.578125%);
    --palHsOrange2-175: rgb(90.625% 75.390625% 42.96875%);
    --palHsOrange2-176: rgb(91.015625% 75.78125% 42.96875%);
    --palHsOrange2-177: rgb(91.015625% 76.5625% 43.359375%);
    --palHsOrange2-178: rgb(91.40625% 76.953125% 43.75%);
    --palHsOrange2-179: rgb(91.40625% 77.34375% 44.140625%);
    --palHsOrange2-180: rgb(91.40625% 77.734375% 44.53125%);
    --palHsOrange2-181: rgb(91.796875% 78.125% 44.921875%);
    --palHsOrange2-182: rgb(91.796875% 78.515625% 45.3125%);
    --palHsOrange2-183: rgb(92.1875% 78.90625% 45.3125%);
    --palHsOrange2-184: rgb(92.1875% 79.296875% 45.703125%);
    --palHsOrange2-185: rgb(92.578125% 79.6875% 46.09375%);
    --palHsOrange2-186: rgb(92.578125% 80.46875% 46.484375%);
    --palHsOrange2-187: rgb(92.578125% 80.859375% 46.875%);
    --palHsOrange2-188: rgb(92.96875% 81.25% 47.265625%);
    --palHsOrange2-189: rgb(92.96875% 81.640625% 47.65625%);
    --palHsOrange2-190: rgb(93.359375% 82.03125% 47.65625%);
    --palHsOrange2-191: rgb(93.359375% 82.421875% 48.046875%);
    --palHsOrange2-192: rgb(93.359375% 82.8125% 48.4375%);
    --palHsOrange2-193: rgb(93.75% 83.203125% 48.828125%);
    --palHsOrange2-194: rgb(93.75% 83.59375% 49.609375%);
    --palHsOrange2-195: rgb(93.75% 83.984375% 50%);
    --palHsOrange2-196: rgb(94.140625% 83.984375% 50.390625%);
    --palHsOrange2-197: rgb(94.140625% 84.375% 51.171875%);
    --palHsOrange2-198: rgb(94.140625% 84.765625% 51.5625%);
    --palHsOrange2-199: rgb(94.53125% 84.765625% 51.953125%);
    --palHsOrange2-200: rgb(94.53125% 85.15625% 52.734375%);
    --palHsOrange2-201: rgb(94.53125% 85.546875% 53.125%);
    --palHsOrange2-202: rgb(94.921875% 85.546875% 53.515625%);
    --palHsOrange2-203: rgb(94.921875% 85.9375% 54.296875%);
    --palHsOrange2-204: rgb(94.921875% 86.328125% 54.6875%);
    --palHsOrange2-205: rgb(95.3125% 86.328125% 55.078125%);
    --palHsOrange2-206: rgb(95.3125% 86.71875% 55.859375%);
    --palHsOrange2-207: rgb(95.3125% 87.109375% 56.25%);
    --palHsOrange2-208: rgb(95.703125% 87.109375% 56.640625%);
    --palHsOrange2-209: rgb(95.703125% 87.5% 57.421875%);
    --palHsOrange2-210: rgb(95.703125% 87.890625% 57.8125%);
    --palHsOrange2-211: rgb(95.703125% 88.28125% 58.203125%);
    --palHsOrange2-212: rgb(96.09375% 88.28125% 58.984375%);
    --palHsOrange2-213: rgb(96.09375% 88.671875% 59.375%);
    --palHsOrange2-214: rgb(96.09375% 89.0625% 60.15625%);
    --palHsOrange2-215: rgb(96.484375% 89.0625% 60.546875%);
    --palHsOrange2-216: rgb(96.484375% 89.453125% 60.9375%);
    --palHsOrange2-217: rgb(96.484375% 89.84375% 61.71875%);
    --palHsOrange2-218: rgb(96.875% 89.84375% 62.109375%);
    --palHsOrange2-219: rgb(96.875% 90.234375% 62.5%);
    --palHsOrange2-220: rgb(96.875% 90.625% 63.28125%);
    --palHsOrange2-221: rgb(97.265625% 90.625% 63.671875%);
    --palHsOrange2-222: rgb(97.265625% 91.015625% 64.0625%);
    --palHsOrange2-223: rgb(97.265625% 91.40625% 64.84375%);
    --palHsOrange2-224: rgb(97.65625% 91.40625% 65.234375%);
    --palHsOrange2-225: rgb(97.65625% 91.796875% 66.015625%);
    --palHsOrange2-226: rgb(97.65625% 91.796875% 66.796875%);
    --palHsOrange2-227: rgb(97.65625% 91.796875% 67.578125%);
    --palHsOrange2-228: rgb(97.65625% 92.1875% 68.359375%);
    --palHsOrange2-229: rgb(97.65625% 92.1875% 69.140625%);
    --palHsOrange2-230: rgb(98.046875% 92.1875% 69.921875%);
    --palHsOrange2-231: rgb(98.046875% 92.1875% 70.703125%);
    --palHsOrange2-232: rgb(98.046875% 92.578125% 71.484375%);
    --palHsOrange2-233: rgb(98.046875% 92.578125% 72.265625%);
    --palHsOrange2-234: rgb(98.046875% 92.578125% 73.046875%);
    --palHsOrange2-235: rgb(98.046875% 92.578125% 73.828125%);
    --palHsOrange2-236: rgb(98.046875% 92.96875% 74.609375%);
    --palHsOrange2-237: rgb(98.4375% 92.96875% 75.390625%);
    --palHsOrange2-238: rgb(98.4375% 92.96875% 76.171875%);
    --palHsOrange2-239: rgb(98.4375% 92.96875% 76.953125%);
    --palHsOrange2-240: rgb(98.4375% 93.359375% 77.734375%);
    --palHsOrange2-241: rgb(98.4375% 93.359375% 78.515625%);
    --palHsOrange2-242: rgb(98.4375% 93.359375% 79.296875%);
    --palHsOrange2-243: rgb(98.828125% 93.359375% 80.078125%);
    --palHsOrange2-244: rgb(98.828125% 93.75% 80.859375%);
    --palHsOrange2-245: rgb(98.828125% 93.75% 81.640625%);
    --palHsOrange2-246: rgb(98.828125% 93.75% 82.421875%);
    --palHsOrange2-247: rgb(98.828125% 93.75% 83.203125%);
    --palHsOrange2-248: rgb(98.828125% 94.140625% 83.984375%);
    --palHsOrange2-249: rgb(98.828125% 94.140625% 84.765625%);
    --palHsOrange2-250: rgb(99.21875% 94.140625% 85.546875%);
    --palHsOrange2-251: rgb(99.21875% 94.140625% 86.328125%);
    --palHsOrange2-252: rgb(99.21875% 94.53125% 87.109375%);
    --palHsOrange2-253: rgb(99.21875% 94.53125% 87.890625%);
    --palHsOrange2-254: rgb(99.21875% 94.53125% 89.0625%);
    --palHsOrange2-255: rgb(99.21875% 94.53125% 89.84375%);
    --palHsOrange2-256: rgb(99.609375% 94.921875% 90.625%);
}
