/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palHSV-1: rgb(100% 0% 0%);
    --palHSV-2: rgb(100% 2.3162% 0%);
    --palHSV-3: rgb(100% 4.6324% 0%);
    --palHSV-4: rgb(100% 6.9485% 0%);
    --palHSV-5: rgb(100% 9.2647% 0%);
    --palHSV-6: rgb(100% 11.5809% 0%);
    --palHSV-7: rgb(100% 13.8971% 0%);
    --palHSV-8: rgb(100% 16.2133% 0%);
    --palHSV-9: rgb(100% 18.5294% 0%);
    --palHSV-10: rgb(100% 20.8456% 0%);
    --palHSV-11: rgb(100% 23.1618% 0%);
    --palHSV-12: rgb(100% 25.478% 0%);
    --palHSV-13: rgb(100% 27.7941% 0%);
    --palHSV-14: rgb(100% 30.1103% 0%);
    --palHSV-15: rgb(100% 32.4265% 0%);
    --palHSV-16: rgb(100% 34.7427% 0%);
    --palHSV-17: rgb(100% 37.0589% 0%);
    --palHSV-18: rgb(100% 39.375% 0%);
    --palHSV-19: rgb(100% 41.6912% 0%);
    --palHSV-20: rgb(100% 44.0074% 0%);
    --palHSV-21: rgb(100% 46.3236% 0%);
    --palHSV-22: rgb(100% 48.6398% 0%);
    --palHSV-23: rgb(100% 50.9559% 0%);
    --palHSV-24: rgb(100% 53.2721% 0%);
    --palHSV-25: rgb(100% 55.5883% 0%);
    --palHSV-26: rgb(100% 57.9045% 0%);
    --palHSV-27: rgb(100% 60.2206% 0%);
    --palHSV-28: rgb(100% 62.5368% 0%);
    --palHSV-29: rgb(100% 64.853% 0%);
    --palHSV-30: rgb(100% 67.1692% 0%);
    --palHSV-31: rgb(100% 69.4854% 0%);
    --palHSV-32: rgb(100% 71.8015% 0%);
    --palHSV-33: rgb(100% 74.1177% 0%);
    --palHSV-34: rgb(100% 76.4339% 0%);
    --palHSV-35: rgb(100% 78.7501% 0%);
    --palHSV-36: rgb(100% 81.0663% 0%);
    --palHSV-37: rgb(100% 83.3824% 0%);
    --palHSV-38: rgb(100% 85.6986% 0%);
    --palHSV-39: rgb(100% 88.0148% 0%);
    --palHSV-40: rgb(100% 90.331% 0%);
    --palHSV-41: rgb(100% 92.6472% 0%);
    --palHSV-42: rgb(99.5956% 94.5589% 0%);
    --palHSV-43: rgb(98.8235% 96.103% 0%);
    --palHSV-44: rgb(98.0514% 97.6471% 0%);
    --palHSV-45: rgb(97.2794% 99.1912% 0%);
    --palHSV-46: rgb(95.772% 100% 0%);
    --palHSV-47: rgb(93.4558% 100% 0%);
    --palHSV-48: rgb(91.1396% 100% 0%);
    --palHSV-49: rgb(88.8234% 100% 0%);
    --palHSV-50: rgb(86.5072% 100% 0%);
    --palHSV-51: rgb(84.1911% 100% 0%);
    --palHSV-52: rgb(81.8749% 100% 0%);
    --palHSV-53: rgb(79.5587% 100% 0%);
    --palHSV-54: rgb(77.2425% 100% 0%);
    --palHSV-55: rgb(74.9263% 100% 0%);
    --palHSV-56: rgb(72.6102% 100% 0%);
    --palHSV-57: rgb(70.294% 100% 0%);
    --palHSV-58: rgb(67.9778% 100% 0%);
    --palHSV-59: rgb(65.6616% 100% 0%);
    --palHSV-60: rgb(63.3455% 100% 0%);
    --palHSV-61: rgb(61.0293% 100% 0%);
    --palHSV-62: rgb(58.7131% 100% 0%);
    --palHSV-63: rgb(56.3969% 100% 0%);
    --palHSV-64: rgb(54.0807% 100% 0%);
    --palHSV-65: rgb(51.7646% 100% 0%);
    --palHSV-66: rgb(49.4484% 100% 0%);
    --palHSV-67: rgb(47.1322% 100% 0%);
    --palHSV-68: rgb(44.816% 100% 0%);
    --palHSV-69: rgb(42.4998% 100% 0%);
    --palHSV-70: rgb(40.1837% 100% 0%);
    --palHSV-71: rgb(37.8675% 100% 0%);
    --palHSV-72: rgb(35.5513% 100% 0%);
    --palHSV-73: rgb(33.2351% 100% 0%);
    --palHSV-74: rgb(30.9189% 100% 0%);
    --palHSV-75: rgb(28.6028% 100% 0%);
    --palHSV-76: rgb(26.2866% 100% 0%);
    --palHSV-77: rgb(23.9704% 100% 0%);
    --palHSV-78: rgb(21.6542% 100% 0%);
    --palHSV-79: rgb(19.3381% 100% 0%);
    --palHSV-80: rgb(17.0219% 100% 0%);
    --palHSV-81: rgb(14.7057% 100% 0%);
    --palHSV-82: rgb(12.3895% 100% 0%);
    --palHSV-83: rgb(10.0733% 100% 0%);
    --palHSV-84: rgb(7.7572% 100% 0%);
    --palHSV-85: rgb(5.441% 100% 0%);
    --palHSV-86: rgb(3.1249% 100% 0.0001%);
    --palHSV-87: rgb(2.3529% 100% 1.5443%);
    --palHSV-88: rgb(1.5808% 100% 3.0884%);
    --palHSV-89: rgb(0.8088% 100% 4.6325%);
    --palHSV-90: rgb(0.0367% 100% 6.1766%);
    --palHSV-91: rgb(0% 100% 8.4561%);
    --palHSV-92: rgb(0% 100% 10.7722%);
    --palHSV-93: rgb(0% 100% 13.0884%);
    --palHSV-94: rgb(0% 100% 15.4046%);
    --palHSV-95: rgb(0% 100% 17.7207%);
    --palHSV-96: rgb(0% 100% 20.0369%);
    --palHSV-97: rgb(0% 100% 22.3531%);
    --palHSV-98: rgb(0% 100% 24.6692%);
    --palHSV-99: rgb(0% 100% 26.9854%);
    --palHSV-100: rgb(0% 100% 29.3016%);
    --palHSV-101: rgb(0% 100% 31.6177%);
    --palHSV-102: rgb(0% 100% 33.9339%);
    --palHSV-103: rgb(0% 100% 36.25%);
    --palHSV-104: rgb(0% 100% 38.5662%);
    --palHSV-105: rgb(0% 100% 40.8824%);
    --palHSV-106: rgb(0% 100% 43.1985%);
    --palHSV-107: rgb(0% 100% 45.5147%);
    --palHSV-108: rgb(0% 100% 47.8309%);
    --palHSV-109: rgb(0% 100% 50.147%);
    --palHSV-110: rgb(0% 100% 52.4632%);
    --palHSV-111: rgb(0% 100% 54.7794%);
    --palHSV-112: rgb(0% 100% 57.0955%);
    --palHSV-113: rgb(0% 100% 59.4117%);
    --palHSV-114: rgb(0% 100% 61.7279%);
    --palHSV-115: rgb(0% 100% 64.044%);
    --palHSV-116: rgb(0% 100% 66.3602%);
    --palHSV-117: rgb(0% 100% 68.6763%);
    --palHSV-118: rgb(0% 100% 70.9925%);
    --palHSV-119: rgb(0% 100% 73.3087%);
    --palHSV-120: rgb(0% 100% 75.6248%);
    --palHSV-121: rgb(0% 100% 77.941%);
    --palHSV-122: rgb(0% 100% 80.2572%);
    --palHSV-123: rgb(0% 100% 82.5733%);
    --palHSV-124: rgb(0% 100% 84.8895%);
    --palHSV-125: rgb(0% 100% 87.2057%);
    --palHSV-126: rgb(0% 100% 89.5218%);
    --palHSV-127: rgb(0% 100% 91.838%);
    --palHSV-128: rgb(0% 100% 94.1542%);
    --palHSV-129: rgb(0% 100% 96.4703%);
    --palHSV-130: rgb(0% 100% 98.7865%);
    --palHSV-131: rgb(0% 98.8973% 100%);
    --palHSV-132: rgb(0% 96.5812% 100%);
    --palHSV-133: rgb(0% 94.265% 100%);
    --palHSV-134: rgb(0% 91.9488% 100%);
    --palHSV-135: rgb(0% 89.6326% 100%);
    --palHSV-136: rgb(0% 87.3165% 100%);
    --palHSV-137: rgb(0% 85.0003% 100%);
    --palHSV-138: rgb(0% 82.6841% 100%);
    --palHSV-139: rgb(0% 80.3679% 100%);
    --palHSV-140: rgb(0% 78.0517% 100%);
    --palHSV-141: rgb(0% 75.7356% 100%);
    --palHSV-142: rgb(0% 73.4194% 100%);
    --palHSV-143: rgb(0% 71.1032% 100%);
    --palHSV-144: rgb(0% 68.787% 100%);
    --palHSV-145: rgb(0% 66.4708% 100%);
    --palHSV-146: rgb(0% 64.1547% 100%);
    --palHSV-147: rgb(0% 61.8385% 100%);
    --palHSV-148: rgb(0% 59.5223% 100%);
    --palHSV-149: rgb(0% 57.2061% 100%);
    --palHSV-150: rgb(0% 54.89% 100%);
    --palHSV-151: rgb(0% 52.5738% 100%);
    --palHSV-152: rgb(0% 50.2576% 100%);
    --palHSV-153: rgb(0% 47.9414% 100%);
    --palHSV-154: rgb(0% 45.6252% 100%);
    --palHSV-155: rgb(0% 43.3091% 100%);
    --palHSV-156: rgb(0% 40.9929% 100%);
    --palHSV-157: rgb(0% 38.6767% 100%);
    --palHSV-158: rgb(0% 36.3605% 100%);
    --palHSV-159: rgb(0% 34.0443% 100%);
    --palHSV-160: rgb(0% 31.7282% 100%);
    --palHSV-161: rgb(0% 29.412% 100%);
    --palHSV-162: rgb(0% 27.0958% 100%);
    --palHSV-163: rgb(0% 24.7796% 100%);
    --palHSV-164: rgb(0% 22.4634% 100%);
    --palHSV-165: rgb(0% 20.1473% 100%);
    --palHSV-166: rgb(0% 17.8311% 100%);
    --palHSV-167: rgb(0% 15.5149% 100%);
    --palHSV-168: rgb(0% 13.1987% 100%);
    --palHSV-169: rgb(0% 10.8826% 100%);
    --palHSV-170: rgb(0% 8.5664% 100%);
    --palHSV-171: rgb(0% 6.2502% 100%);
    --palHSV-172: rgb(0.772% 4.706% 100%);
    --palHSV-173: rgb(1.5441% 3.1619% 100%);
    --palHSV-174: rgb(2.3161% 1.6178% 100%);
    --palHSV-175: rgb(3.0882% 0.0737% 100%);
    --palHSV-176: rgb(5.3307% 0% 100%);
    --palHSV-177: rgb(7.6469% 0% 100%);
    --palHSV-178: rgb(9.9631% 0% 100%);
    --palHSV-179: rgb(12.2792% 0% 100%);
    --palHSV-180: rgb(14.5954% 0% 100%);
    --palHSV-181: rgb(16.9116% 0% 100%);
    --palHSV-182: rgb(19.2278% 0% 100%);
    --palHSV-183: rgb(21.5439% 0% 100%);
    --palHSV-184: rgb(23.8601% 0% 100%);
    --palHSV-185: rgb(26.1763% 0% 100%);
    --palHSV-186: rgb(28.4925% 0% 100%);
    --palHSV-187: rgb(30.8087% 0% 100%);
    --palHSV-188: rgb(33.1248% 0% 100%);
    --palHSV-189: rgb(35.441% 0% 100%);
    --palHSV-190: rgb(37.7572% 0% 100%);
    --palHSV-191: rgb(40.0734% 0% 100%);
    --palHSV-192: rgb(42.3896% 0% 100%);
    --palHSV-193: rgb(44.7057% 0% 100%);
    --palHSV-194: rgb(47.0219% 0% 100%);
    --palHSV-195: rgb(49.3381% 0% 100%);
    --palHSV-196: rgb(51.6543% 0% 100%);
    --palHSV-197: rgb(53.9705% 0% 100%);
    --palHSV-198: rgb(56.2866% 0% 100%);
    --palHSV-199: rgb(58.6028% 0% 100%);
    --palHSV-200: rgb(60.919% 0% 100%);
    --palHSV-201: rgb(63.2352% 0% 100%);
    --palHSV-202: rgb(65.5513% 0% 100%);
    --palHSV-203: rgb(67.8675% 0% 100%);
    --palHSV-204: rgb(70.1837% 0% 100%);
    --palHSV-205: rgb(72.4999% 0% 100%);
    --palHSV-206: rgb(74.8161% 0% 100%);
    --palHSV-207: rgb(77.1322% 0% 100%);
    --palHSV-208: rgb(79.4484% 0% 100%);
    --palHSV-209: rgb(81.7646% 0% 100%);
    --palHSV-210: rgb(84.0808% 0% 100%);
    --palHSV-211: rgb(86.397% 0% 100%);
    --palHSV-212: rgb(88.7131% 0% 100%);
    --palHSV-213: rgb(91.0293% 0% 100%);
    --palHSV-214: rgb(93.3455% 0% 100%);
    --palHSV-215: rgb(95.6617% 0% 100%);
    --palHSV-216: rgb(97.2426% 0% 99.2648%);
    --palHSV-217: rgb(98.0147% 0% 97.7206%);
    --palHSV-218: rgb(98.7867% 0% 96.1765%);
    --palHSV-219: rgb(99.5588% 0% 94.6324%);
    --palHSV-220: rgb(100% 0% 92.7574%);
    --palHSV-221: rgb(100% 0% 90.4413%);
    --palHSV-222: rgb(100% 0% 88.1251%);
    --palHSV-223: rgb(100% 0% 85.8089%);
    --palHSV-224: rgb(100% 0% 83.4927%);
    --palHSV-225: rgb(100% 0% 81.1765%);
    --palHSV-226: rgb(100% 0% 78.8604%);
    --palHSV-227: rgb(100% 0% 76.5442%);
    --palHSV-228: rgb(100% 0% 74.228%);
    --palHSV-229: rgb(100% 0% 71.9118%);
    --palHSV-230: rgb(100% 0% 69.5956%);
    --palHSV-231: rgb(100% 0% 67.2795%);
    --palHSV-232: rgb(100% 0% 64.9633%);
    --palHSV-233: rgb(100% 0% 62.6471%);
    --palHSV-234: rgb(100% 0% 60.3309%);
    --palHSV-235: rgb(100% 0% 58.0148%);
    --palHSV-236: rgb(100% 0% 55.6986%);
    --palHSV-237: rgb(100% 0% 53.3824%);
    --palHSV-238: rgb(100% 0% 51.0662%);
    --palHSV-239: rgb(100% 0% 48.75%);
    --palHSV-240: rgb(100% 0% 46.4339%);
    --palHSV-241: rgb(100% 0% 44.1177%);
    --palHSV-242: rgb(100% 0% 41.8015%);
    --palHSV-243: rgb(100% 0% 39.4853%);
    --palHSV-244: rgb(100% 0% 37.1691%);
    --palHSV-245: rgb(100% 0% 34.853%);
    --palHSV-246: rgb(100% 0% 32.5368%);
    --palHSV-247: rgb(100% 0% 30.2206%);
    --palHSV-248: rgb(100% 0% 27.9044%);
    --palHSV-249: rgb(100% 0% 25.5883%);
    --palHSV-250: rgb(100% 0% 23.2721%);
    --palHSV-251: rgb(100% 0% 20.9559%);
    --palHSV-252: rgb(100% 0% 18.6397%);
    --palHSV-253: rgb(100% 0% 16.3235%);
    --palHSV-254: rgb(100% 0% 14.0074%);
    --palHSV-255: rgb(100% 0% 11.6912%);
    --palHSV-256: rgb(100% 0% 9.375%);
}
