/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palInferno-1: rgb(0.1462% 0.0466% 1.3866%);
    --palInferno-2: rgb(0.2267% 0.127% 1.857%);
    --palInferno-3: rgb(0.3299% 0.2249% 2.4239%);
    --palInferno-4: rgb(0.4547% 0.3392% 3.0909%);
    --palInferno-5: rgb(0.6006% 0.4692% 3.8558%);
    --palInferno-6: rgb(0.7676% 0.6136% 4.6836%);
    --palInferno-7: rgb(0.9561% 0.7713% 5.5143%);
    --palInferno-8: rgb(1.1663% 0.9417% 6.346%);
    --palInferno-9: rgb(1.3995% 1.1225% 7.1862%);
    --palInferno-10: rgb(1.6561% 1.3136% 8.0282%);
    --palInferno-11: rgb(1.9373% 1.5133% 8.8767%);
    --palInferno-12: rgb(2.2447% 1.7199% 9.7327%);
    --palInferno-13: rgb(2.5793% 1.9331% 10.593%);
    --palInferno-14: rgb(2.9432% 2.1503% 11.4621%);
    --palInferno-15: rgb(3.3385% 2.3702% 12.3397%);
    --palInferno-16: rgb(3.7668% 2.5921% 13.2232%);
    --palInferno-17: rgb(4.2253% 2.8139% 14.1141%);
    --palInferno-18: rgb(4.6915% 3.0324% 15.0164%);
    --palInferno-19: rgb(5.1644% 3.2474% 15.9254%);
    --palInferno-20: rgb(5.6449% 3.4569% 16.8414%);
    --palInferno-21: rgb(6.134% 3.659% 17.7642%);
    --palInferno-22: rgb(6.6331% 3.8504% 18.6962%);
    --palInferno-23: rgb(7.1429% 4.0294% 19.6354%);
    --palInferno-24: rgb(7.6637% 4.1905% 20.5799%);
    --palInferno-25: rgb(8.1962% 4.3328% 21.5289%);
    --palInferno-26: rgb(8.7411% 4.4556% 22.4813%);
    --palInferno-27: rgb(9.299% 4.5583% 23.4358%);
    --palInferno-28: rgb(9.8702% 4.6402% 24.3904%);
    --palInferno-29: rgb(10.4551% 4.7008% 25.343%);
    --palInferno-30: rgb(11.0536% 4.7399% 26.2912%);
    --palInferno-31: rgb(11.6656% 4.7574% 27.2321%);
    --palInferno-32: rgb(12.2908% 4.7536% 28.1624%);
    --palInferno-33: rgb(12.9285% 4.7293% 29.0788%);
    --palInferno-34: rgb(13.5778% 4.6856% 29.9776%);
    --palInferno-35: rgb(14.2378% 4.6242% 30.8553%);
    --palInferno-36: rgb(14.9073% 4.5468% 31.7085%);
    --palInferno-37: rgb(15.585% 4.4559% 32.5338%);
    --palInferno-38: rgb(16.2689% 4.3554% 33.3277%);
    --palInferno-39: rgb(16.9575% 4.2489% 34.0874%);
    --palInferno-40: rgb(17.6493% 4.1402% 34.8111%);
    --palInferno-41: rgb(18.3429% 4.0329% 35.4971%);
    --palInferno-42: rgb(19.0367% 3.9309% 36.1447%);
    --palInferno-43: rgb(19.7297% 3.84% 36.7535%);
    --palInferno-44: rgb(20.4209% 3.7632% 37.3238%);
    --palInferno-45: rgb(21.1095% 3.703% 37.8563%);
    --palInferno-46: rgb(21.7949% 3.6615% 38.3522%);
    --palInferno-47: rgb(22.4763% 3.6405% 38.8129%);
    --palInferno-48: rgb(23.1538% 3.6405% 39.24%);
    --palInferno-49: rgb(23.8273% 3.6621% 39.6353%);
    --palInferno-50: rgb(24.4967% 3.7055% 40.0007%);
    --palInferno-51: rgb(25.162% 3.7705% 40.3378%);
    --palInferno-52: rgb(25.8234% 3.8571% 40.6485%);
    --palInferno-53: rgb(26.481% 3.9647% 40.9345%);
    --palInferno-54: rgb(27.1347% 4.0922% 41.1976%);
    --palInferno-55: rgb(27.785% 4.2353% 41.4392%);
    --palInferno-56: rgb(28.4321% 4.3933% 41.6608%);
    --palInferno-57: rgb(29.0763% 4.5644% 41.8637%);
    --palInferno-58: rgb(29.7178% 4.747% 42.0491%);
    --palInferno-59: rgb(30.3568% 4.9396% 42.2182%);
    --palInferno-60: rgb(30.9935% 5.1407% 42.3721%);
    --palInferno-61: rgb(31.6282% 5.349% 42.5116%);
    --palInferno-62: rgb(32.261% 5.5634% 42.6377%);
    --palInferno-63: rgb(32.8921% 5.7827% 42.7511%);
    --palInferno-64: rgb(33.5217% 6.006% 42.8524%);
    --palInferno-65: rgb(34.15% 6.2325% 42.9425%);
    --palInferno-66: rgb(34.7771% 6.4616% 43.0217%);
    --palInferno-67: rgb(35.4032% 6.6925% 43.0906%);
    --palInferno-68: rgb(36.0284% 6.9247% 43.1497%);
    --palInferno-69: rgb(36.6529% 7.1579% 43.1994%);
    --palInferno-70: rgb(37.2768% 7.3915% 43.24%);
    --palInferno-71: rgb(37.9001% 7.6253% 43.2719%);
    --palInferno-72: rgb(38.5228% 7.8591% 43.2955%);
    --palInferno-73: rgb(39.1453% 8.0927% 43.3109%);
    --palInferno-74: rgb(39.7674% 8.3257% 43.3183%);
    --palInferno-75: rgb(40.3894% 8.558% 43.3179%);
    --palInferno-76: rgb(41.0113% 8.7896% 43.3098%);
    --palInferno-77: rgb(41.6331% 9.0203% 43.2943%);
    --palInferno-78: rgb(42.2549% 9.2501% 43.2714%);
    --palInferno-79: rgb(42.8768% 9.479% 43.2412%);
    --palInferno-80: rgb(43.4987% 9.7069% 43.2039%);
    --palInferno-81: rgb(44.1207% 9.9338% 43.1594%);
    --palInferno-82: rgb(44.7428% 10.1597% 43.108%);
    --palInferno-83: rgb(45.3651% 10.3848% 43.0498%);
    --palInferno-84: rgb(45.9875% 10.6089% 42.9846%);
    --palInferno-85: rgb(46.61% 10.8322% 42.9125%);
    --palInferno-86: rgb(47.2328% 11.0547% 42.8334%);
    --palInferno-87: rgb(47.8558% 11.2764% 42.7475%);
    --palInferno-88: rgb(48.4789% 11.4974% 42.6548%);
    --palInferno-89: rgb(49.1022% 11.7179% 42.5552%);
    --palInferno-90: rgb(49.7257% 11.9379% 42.4488%);
    --palInferno-91: rgb(50.3493% 12.1575% 42.3356%);
    --palInferno-92: rgb(50.973% 12.3769% 42.2156%);
    --palInferno-93: rgb(51.5967% 12.596% 42.0887%);
    --palInferno-94: rgb(52.2206% 12.815% 41.9549%);
    --palInferno-95: rgb(52.8444% 13.0341% 41.8142%);
    --palInferno-96: rgb(53.4683% 13.2534% 41.6667%);
    --palInferno-97: rgb(54.092% 13.4729% 41.5123%);
    --palInferno-98: rgb(54.7157% 13.6929% 41.3511%);
    --palInferno-99: rgb(55.3392% 13.9134% 41.1829%);
    --palInferno-100: rgb(55.9624% 14.1346% 41.0078%);
    --palInferno-101: rgb(56.5854% 14.3567% 40.8258%);
    --palInferno-102: rgb(57.2081% 14.5797% 40.6369%);
    --palInferno-103: rgb(57.8304% 14.8039% 40.4411%);
    --palInferno-104: rgb(58.4521% 15.0294% 40.2385%);
    --palInferno-105: rgb(59.0734% 15.2563% 40.029%);
    --palInferno-106: rgb(59.694% 15.4848% 39.8125%);
    --palInferno-107: rgb(60.3139% 15.7151% 39.5891%);
    --palInferno-108: rgb(60.933% 15.9474% 39.3589%);
    --palInferno-109: rgb(61.5513% 16.1817% 39.1219%);
    --palInferno-110: rgb(62.1685% 16.4184% 38.8781%);
    --palInferno-111: rgb(62.7847% 16.6575% 38.6276%);
    --palInferno-112: rgb(63.3998% 16.8992% 38.3704%);
    --palInferno-113: rgb(64.0135% 17.1438% 38.1065%);
    --palInferno-114: rgb(64.626% 17.3914% 37.8359%);
    --palInferno-115: rgb(65.2369% 17.6421% 37.5586%);
    --palInferno-116: rgb(65.8463% 17.8962% 37.2748%);
    --palInferno-117: rgb(66.454% 18.1539% 36.9846%);
    --palInferno-118: rgb(67.0599% 18.4153% 36.6879%);
    --palInferno-119: rgb(67.6638% 18.6807% 36.3849%);
    --palInferno-120: rgb(68.2656% 18.9501% 36.0757%);
    --palInferno-121: rgb(68.8653% 19.2239% 35.7603%);
    --palInferno-122: rgb(69.4627% 19.5021% 35.4388%);
    --palInferno-123: rgb(70.0576% 19.7851% 35.1113%);
    --palInferno-124: rgb(70.65% 20.0728% 34.7777%);
    --palInferno-125: rgb(71.2396% 20.3656% 34.4383%);
    --palInferno-126: rgb(71.8264% 20.6636% 34.0931%);
    --palInferno-127: rgb(72.4103% 20.967% 33.7424%);
    --palInferno-128: rgb(72.9909% 21.2759% 33.3861%);
    --palInferno-129: rgb(73.5683% 21.5906% 33.0245%);
    --palInferno-130: rgb(74.1423% 21.9112% 32.6576%);
    --palInferno-131: rgb(74.7127% 22.2378% 32.2856%);
    --palInferno-132: rgb(75.2794% 22.5706% 31.9085%);
    --palInferno-133: rgb(75.8422% 22.9097% 31.5266%);
    --palInferno-134: rgb(76.401% 23.2554% 31.1399%);
    --palInferno-135: rgb(76.9556% 23.6077% 30.7485%);
    --palInferno-136: rgb(77.5059% 23.9667% 30.3526%);
    --palInferno-137: rgb(78.0517% 24.3327% 29.9523%);
    --palInferno-138: rgb(78.5929% 24.7056% 29.5477%);
    --palInferno-139: rgb(79.1293% 25.0856% 29.139%);
    --palInferno-140: rgb(79.6607% 25.4728% 28.7264%);
    --palInferno-141: rgb(80.1871% 25.8674% 28.3099%);
    --palInferno-142: rgb(80.7082% 26.2692% 27.8898%);
    --palInferno-143: rgb(81.2239% 26.6786% 27.4661%);
    --palInferno-144: rgb(81.7341% 27.0954% 27.039%);
    --palInferno-145: rgb(82.2386% 27.5197% 26.6085%);
    --palInferno-146: rgb(82.7372% 27.9517% 26.175%);
    --palInferno-147: rgb(83.2299% 28.3913% 25.7383%);
    --palInferno-148: rgb(83.7165% 28.8385% 25.2988%);
    --palInferno-149: rgb(84.1969% 29.2933% 24.8564%);
    --palInferno-150: rgb(84.6709% 29.7559% 24.4113%);
    --palInferno-151: rgb(85.1384% 30.226% 23.9636%);
    --palInferno-152: rgb(85.5992% 30.7038% 23.5133%);
    --palInferno-153: rgb(86.0533% 31.1892% 23.0606%);
    --palInferno-154: rgb(86.5006% 31.6822% 22.6055%);
    --palInferno-155: rgb(86.9409% 32.1827% 22.1482%);
    --palInferno-156: rgb(87.3741% 32.6906% 21.6886%);
    --palInferno-157: rgb(87.8001% 33.206% 21.2268%);
    --palInferno-158: rgb(88.2188% 33.7287% 20.7628%);
    --palInferno-159: rgb(88.6302% 34.2586% 20.2968%);
    --palInferno-160: rgb(89.0341% 34.7957% 19.8286%);
    --palInferno-161: rgb(89.4305% 35.3399% 19.3584%);
    --palInferno-162: rgb(89.8192% 35.8911% 18.886%);
    --palInferno-163: rgb(90.2003% 36.4492% 18.4116%);
    --palInferno-164: rgb(90.5735% 37.014% 17.935%);
    --palInferno-165: rgb(90.939% 37.5856% 17.4563%);
    --palInferno-166: rgb(91.2966% 38.1636% 16.9755%);
    --palInferno-167: rgb(91.6462% 38.7481% 16.4924%);
    --palInferno-168: rgb(91.9879% 39.3389% 16.007%);
    --palInferno-169: rgb(92.3215% 39.9359% 15.5193%);
    --palInferno-170: rgb(92.647% 40.5389% 15.0292%);
    --palInferno-171: rgb(92.9644% 41.1479% 14.5367%);
    --palInferno-172: rgb(93.2737% 41.7627% 14.0417%);
    --palInferno-173: rgb(93.5747% 42.3831% 13.544%);
    --palInferno-174: rgb(93.8675% 43.0091% 13.0438%);
    --palInferno-175: rgb(94.1521% 43.6405% 12.5409%);
    --palInferno-176: rgb(94.4285% 44.2772% 12.0354%);
    --palInferno-177: rgb(94.6965% 44.9191% 11.5272%);
    --palInferno-178: rgb(94.9562% 45.566% 11.0164%);
    --palInferno-179: rgb(95.2075% 46.2178% 10.5031%);
    --palInferno-180: rgb(95.4506% 46.8744% 9.9874%);
    --palInferno-181: rgb(95.6852% 47.5356% 9.4695%);
    --palInferno-182: rgb(95.9114% 48.2014% 8.9499%);
    --palInferno-183: rgb(96.1293% 48.8716% 8.4289%);
    --palInferno-184: rgb(96.3387% 49.5462% 7.9073%);
    --palInferno-185: rgb(96.5397% 50.2249% 7.3859%);
    --palInferno-186: rgb(96.7322% 50.9078% 6.8659%);
    --palInferno-187: rgb(96.9163% 51.5946% 6.3488%);
    --palInferno-188: rgb(97.0919% 52.2853% 5.8367%);
    --palInferno-189: rgb(97.259% 52.9798% 5.3324%);
    --palInferno-190: rgb(97.4176% 53.678% 4.8392%);
    --palInferno-191: rgb(97.5677% 54.3798% 4.3618%);
    --palInferno-192: rgb(97.7092% 55.085% 3.905%);
    --palInferno-193: rgb(97.8422% 55.7937% 3.4931%);
    --palInferno-194: rgb(97.9666% 56.5057% 3.1409%);
    --palInferno-195: rgb(98.0824% 57.2209% 2.8508%);
    --palInferno-196: rgb(98.1895% 57.9392% 2.625%);
    --palInferno-197: rgb(98.2881% 58.6606% 2.4661%);
    --palInferno-198: rgb(98.3779% 59.3849% 2.377%);
    --palInferno-199: rgb(98.4591% 60.1122% 2.3606%);
    --palInferno-200: rgb(98.5315% 60.8422% 2.4202%);
    --palInferno-201: rgb(98.5952% 61.575% 2.5592%);
    --palInferno-202: rgb(98.6502% 62.3105% 2.7814%);
    --palInferno-203: rgb(98.6964% 63.0485% 3.0908%);
    --palInferno-204: rgb(98.7337% 63.789% 3.4916%);
    --palInferno-205: rgb(98.7622% 64.532% 3.9886%);
    --palInferno-206: rgb(98.7819% 65.2773% 4.5581%);
    --palInferno-207: rgb(98.7926% 66.025% 5.175%);
    --palInferno-208: rgb(98.7945% 66.7748% 5.8329%);
    --palInferno-209: rgb(98.7874% 67.5267% 6.5257%);
    --palInferno-210: rgb(98.7714% 68.2807% 7.2489%);
    --palInferno-211: rgb(98.7464% 69.0366% 7.999%);
    --palInferno-212: rgb(98.7124% 69.7944% 8.7731%);
    --palInferno-213: rgb(98.6694% 70.554% 9.5694%);
    --palInferno-214: rgb(98.6175% 71.3153% 10.3863%);
    --palInferno-215: rgb(98.5566% 72.0782% 11.2229%);
    --palInferno-216: rgb(98.4865% 72.8427% 12.0785%);
    --palInferno-217: rgb(98.4075% 73.6087% 12.9527%);
    --palInferno-218: rgb(98.3196% 74.3758% 13.8453%);
    --palInferno-219: rgb(98.2228% 75.1442% 14.7565%);
    --palInferno-220: rgb(98.1173% 75.9135% 15.6863%);
    --palInferno-221: rgb(98.0032% 76.6837% 16.6353%);
    --palInferno-222: rgb(97.8806% 77.4545% 17.6037%);
    --palInferno-223: rgb(97.7497% 78.2258% 18.5923%);
    --palInferno-224: rgb(97.6108% 78.9974% 19.6018%);
    --palInferno-225: rgb(97.4638% 79.7692% 20.6332%);
    --palInferno-226: rgb(97.3088% 80.5409% 21.6877%);
    --palInferno-227: rgb(97.1468% 81.3122% 22.7658%);
    --palInferno-228: rgb(96.9783% 82.0825% 23.8686%);
    --palInferno-229: rgb(96.8041% 82.8515% 24.9972%);
    --palInferno-230: rgb(96.6243% 83.6191% 26.1534%);
    --palInferno-231: rgb(96.4394% 84.3848% 27.3391%);
    --palInferno-232: rgb(96.2517% 85.1476% 28.5546%);
    --palInferno-233: rgb(96.0626% 85.9069% 29.801%);
    --palInferno-234: rgb(95.872% 86.6624% 31.082%);
    --palInferno-235: rgb(95.6834% 87.4129% 32.3974%);
    --palInferno-236: rgb(95.4997% 88.1569% 33.7475%);
    --palInferno-237: rgb(95.3215% 88.8942% 35.1369%);
    --palInferno-238: rgb(95.1546% 89.6226% 36.5627%);
    --palInferno-239: rgb(95.0018% 90.3409% 38.0271%);
    --palInferno-240: rgb(94.8683% 91.0473% 39.5289%);
    --palInferno-241: rgb(94.7594% 91.7399% 41.0665%);
    --palInferno-242: rgb(94.6809% 92.4168% 42.6373%);
    --palInferno-243: rgb(94.6392% 93.0761% 44.2367%);
    --palInferno-244: rgb(94.6403% 93.7159% 45.8592%);
    --palInferno-245: rgb(94.6903% 94.3348% 47.497%);
    --palInferno-246: rgb(94.7937% 94.9318% 49.1426%);
    --palInferno-247: rgb(94.9545% 95.5063% 50.786%);
    --palInferno-248: rgb(95.174% 96.0587% 52.4203%);
    --palInferno-249: rgb(95.4529% 96.5896% 54.0361%);
    --palInferno-250: rgb(95.7896% 97.1003% 55.6275%);
    --palInferno-251: rgb(96.1812% 97.5924% 57.1925%);
    --palInferno-252: rgb(96.6249% 98.0678% 58.7206%);
    --palInferno-253: rgb(97.1162% 98.5282% 60.2154%);
    --palInferno-254: rgb(97.6511% 98.9753% 61.676%);
    --palInferno-255: rgb(98.2257% 99.4109% 63.1017%);
    --palInferno-256: rgb(98.8362% 99.8364% 64.4924%);
}
