/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palInfinity-1: rgb(34.562389% 2.586483% 44.469337%);
    --palInfinity-2: rgb(34.662364% 2.856456% 45.048271%);
    --palInfinity-3: rgb(34.758271% 3.140511% 45.625461%);
    --palInfinity-4: rgb(34.850028% 3.439273% 46.200741%);
    --palInfinity-5: rgb(34.937554% 3.753382% 46.773936%);
    --palInfinity-6: rgb(35.020766% 4.082743% 47.344871%);
    --palInfinity-7: rgb(35.09958% 4.413799% 47.913364%);
    --palInfinity-8: rgb(35.173911% 4.745548% 48.47923%);
    --palInfinity-9: rgb(35.243671% 5.07832% 49.042278%);
    --palInfinity-10: rgb(35.308773% 5.412401% 49.602315%);
    --palInfinity-11: rgb(35.369129% 5.748042% 50.159143%);
    --palInfinity-12: rgb(35.424649% 6.085465% 50.712559%);
    --palInfinity-13: rgb(35.475242% 6.424862% 51.262358%);
    --palInfinity-14: rgb(35.520816% 6.766402% 51.808337%);
    --palInfinity-15: rgb(35.561279% 7.110236% 52.350282%);
    --palInfinity-16: rgb(35.596543% 7.456492% 52.887974%);
    --palInfinity-17: rgb(35.626513% 7.805281% 53.421195%);
    --palInfinity-18: rgb(35.6511% 8.156699% 53.949724%);
    --palInfinity-19: rgb(35.670211% 8.510828% 54.473337%);
    --palInfinity-20: rgb(35.683754% 8.867734% 54.991812%);
    --palInfinity-21: rgb(35.691632% 9.227474% 55.504934%);
    --palInfinity-22: rgb(35.693762% 9.59009% 56.012461%);
    --palInfinity-23: rgb(35.690054% 9.955611% 56.514165%);
    --palInfinity-24: rgb(35.68042% 10.324058% 57.009818%);
    --palInfinity-25: rgb(35.664765% 10.695446% 57.499204%);
    --palInfinity-26: rgb(35.643011% 11.06977% 57.982082%);
    --palInfinity-27: rgb(35.615075% 11.447023% 58.458223%);
    --palInfinity-28: rgb(35.580871% 11.827187% 58.92741%);
    --palInfinity-29: rgb(35.54032% 12.210237% 59.389418%);
    --palInfinity-30: rgb(35.49335% 12.596134% 59.844017%);
    --palInfinity-31: rgb(35.439881% 12.984838% 60.290997%);
    --palInfinity-32: rgb(35.379843% 13.376297% 60.730143%);
    --palInfinity-33: rgb(35.313176% 13.77045% 61.161236%);
    --palInfinity-34: rgb(35.239803% 14.167236% 61.584083%);
    --palInfinity-35: rgb(35.159675% 14.566578% 61.998473%);
    --palInfinity-36: rgb(35.072731% 14.968397% 62.404215%);
    --palInfinity-37: rgb(34.978919% 15.372608% 62.801123%);
    --palInfinity-38: rgb(34.878197% 15.779116% 63.189011%);
    --palInfinity-39: rgb(34.770513% 16.187828% 63.567713%);
    --palInfinity-40: rgb(34.655843% 16.598633% 63.937056%);
    --palInfinity-41: rgb(34.534141% 17.01143% 64.296892%);
    --palInfinity-42: rgb(34.405395% 17.426098% 64.647067%);
    --palInfinity-43: rgb(34.269571% 17.842524% 64.98745%);
    --palInfinity-44: rgb(34.126665% 18.26058% 65.317909%);
    --palInfinity-45: rgb(33.976661% 18.680144% 65.638334%);
    --palInfinity-46: rgb(33.819563% 19.101083% 65.948616%);
    --palInfinity-47: rgb(33.655366% 19.523267% 66.248666%);
    --palInfinity-48: rgb(33.484091% 19.946555% 66.538399%);
    --palInfinity-49: rgb(33.305743% 20.370816% 66.817752%);
    --palInfinity-50: rgb(33.120355% 20.795903% 67.086665%);
    --palInfinity-51: rgb(32.927949% 21.22168% 67.345097%);
    --palInfinity-52: rgb(32.728566% 21.648% 67.593018%);
    --palInfinity-53: rgb(32.522246% 22.074723% 67.83041%);
    --palInfinity-54: rgb(32.309038% 22.501704% 68.05727%);
    --palInfinity-55: rgb(32.088997% 22.9288% 68.273607%);
    --palInfinity-56: rgb(31.862184% 23.355869% 68.479443%);
    --palInfinity-57: rgb(31.628667% 23.782768% 68.674815%);
    --palInfinity-58: rgb(31.388519% 24.209358% 68.85977%);
    --palInfinity-59: rgb(31.141817% 24.635499% 69.03437%);
    --palInfinity-60: rgb(30.888649% 25.061056% 69.198686%);
    --palInfinity-61: rgb(30.629101% 25.485894% 69.352806%);
    --palInfinity-62: rgb(30.36327% 25.909881% 69.496825%);
    --palInfinity-63: rgb(30.091255% 26.33289% 69.630853%);
    --palInfinity-64: rgb(29.813158% 26.754796% 69.755008%);
    --palInfinity-65: rgb(29.529091% 27.175477% 69.86942%);
    --palInfinity-66: rgb(29.239161% 27.594817% 69.974228%);
    --palInfinity-67: rgb(28.94349% 28.0127% 70.069583%);
    --palInfinity-68: rgb(28.642189% 28.429021% 70.15564%);
    --palInfinity-69: rgb(28.33539% 28.843672% 70.232567%);
    --palInfinity-70: rgb(28.023206% 29.256557% 70.300535%);
    --palInfinity-71: rgb(27.705778% 29.667575% 70.359729%);
    --palInfinity-72: rgb(27.383219% 30.076644% 70.41033%);
    --palInfinity-73: rgb(27.055678% 30.48367% 70.452538%);
    --palInfinity-74: rgb(26.723268% 30.888581% 70.486543%);
    --palInfinity-75: rgb(26.386142% 31.291294% 70.512556%);
    --palInfinity-76: rgb(26.044415% 31.691746% 70.530775%);
    --palInfinity-77: rgb(25.69824% 32.089866% 70.541417%);
    --palInfinity-78: rgb(25.347737% 32.4856% 70.544689%);
    --palInfinity-79: rgb(24.993053% 32.878887% 70.540809%);
    --palInfinity-80: rgb(24.634316% 33.269682% 70.529992%);
    --palInfinity-81: rgb(24.27166% 33.657937% 70.512453%);
    --palInfinity-82: rgb(23.90523% 34.043611% 70.488415%);
    --palInfinity-83: rgb(23.53514% 34.426673% 70.458088%);
    --palInfinity-84: rgb(23.161548% 34.807083% 70.421699%);
    --palInfinity-85: rgb(22.784566% 35.184822% 70.379456%);
    --palInfinity-86: rgb(22.404325% 35.559866% 70.331575%);
    --palInfinity-87: rgb(22.020973% 35.932193% 70.278277%);
    --palInfinity-88: rgb(21.634615% 36.301793% 70.219762%);
    --palInfinity-89: rgb(21.245388% 36.668655% 70.156243%);
    --palInfinity-90: rgb(20.853426% 37.032768% 70.087932%);
    --palInfinity-91: rgb(20.458837% 37.394135% 70.015021%);
    --palInfinity-92: rgb(20.061743% 37.752755% 69.937712%);
    --palInfinity-93: rgb(19.662292% 38.108625% 69.856211%);
    --palInfinity-94: rgb(19.260579% 38.461758% 69.770698%);
    --palInfinity-95: rgb(18.856723% 38.812164% 69.681362%);
    --palInfinity-96: rgb(18.45085% 39.159853% 69.588389%);
    --palInfinity-97: rgb(18.043091% 39.504837% 69.491965%);
    --palInfinity-98: rgb(17.633546% 39.847138% 69.392254%);
    --palInfinity-99: rgb(17.222333% 40.186775% 69.289429%);
    --palInfinity-100: rgb(16.809572% 40.523768% 69.183654%);
    --palInfinity-101: rgb(16.395391% 40.858141% 69.075094%);
    --palInfinity-102: rgb(15.979912% 41.189918% 68.963907%);
    --palInfinity-103: rgb(15.563249% 41.519128% 68.850238%);
    --palInfinity-104: rgb(15.145525% 41.8458% 68.734232%);
    --palInfinity-105: rgb(14.726872% 42.169965% 68.616032%);
    --palInfinity-106: rgb(14.307423% 42.491653% 68.495774%);
    --palInfinity-107: rgb(13.887316% 42.810897% 68.373588%);
    --palInfinity-108: rgb(13.466699% 43.127732% 68.2496%);
    --palInfinity-109: rgb(13.045731% 43.442189% 68.123936%);
    --palInfinity-110: rgb(12.624573% 43.754307% 67.99671%);
    --palInfinity-111: rgb(12.203396% 44.064121% 67.86803%);
    --palInfinity-112: rgb(11.782391% 44.371669% 67.738005%);
    --palInfinity-113: rgb(11.361764% 44.676988% 67.606736%);
    --palInfinity-114: rgb(10.941742% 44.980117% 67.474319%);
    --palInfinity-115: rgb(10.522574% 45.281094% 67.340848%);
    --palInfinity-116: rgb(10.104539% 45.579957% 67.20641%);
    --palInfinity-117: rgb(9.687947% 45.876745% 67.07109%);
    --palInfinity-118: rgb(9.273145% 46.171499% 66.934964%);
    --palInfinity-119: rgb(8.860527% 46.464257% 66.798109%);
    --palInfinity-120: rgb(8.45054% 46.755058% 66.660594%);
    --palInfinity-121: rgb(8.043693% 47.043942% 66.522486%);
    --palInfinity-122: rgb(7.640567% 47.330949% 66.383845%);
    --palInfinity-123: rgb(7.24184% 47.616115% 66.244736%);
    --palInfinity-124: rgb(6.848267% 47.899481% 66.105206%);
    --palInfinity-125: rgb(6.460729% 48.181086% 65.965307%);
    --palInfinity-126: rgb(6.080242% 48.460968% 65.825084%);
    --palInfinity-127: rgb(5.707972% 48.739166% 65.68458%);
    --palInfinity-128: rgb(5.345261% 49.015717% 65.543833%);
    --palInfinity-129: rgb(4.993647% 49.290658% 65.402878%);
    --palInfinity-130: rgb(4.654883% 49.564027% 65.261747%);
    --palInfinity-131: rgb(4.330975% 49.835858% 65.120475%);
    --palInfinity-132: rgb(4.023822% 50.106188% 64.979083%);
    --palInfinity-133: rgb(3.738642% 50.375053% 64.83759%);
    --palInfinity-134: rgb(3.48631% 50.642489% 64.696015%);
    --palInfinity-135: rgb(3.266695% 50.908528% 64.554373%);
    --palInfinity-136: rgb(3.079677% 51.173204% 64.412679%);
    --palInfinity-137: rgb(2.925145% 51.43655% 64.270949%);
    --palInfinity-138: rgb(2.802961% 51.698598% 64.12918%);
    --palInfinity-139: rgb(2.713016% 51.959381% 63.987377%);
    --palInfinity-140: rgb(2.655212% 52.21893% 63.845541%);
    --palInfinity-141: rgb(2.62948% 52.477272% 63.70368%);
    --palInfinity-142: rgb(2.635722% 52.734438% 63.561782%);
    --palInfinity-143: rgb(2.673867% 52.990459% 63.419839%);
    --palInfinity-144: rgb(2.743862% 53.24536% 63.277842%);
    --palInfinity-145: rgb(2.84569% 53.499168% 63.135792%);
    --palInfinity-146: rgb(2.979303% 53.75191% 62.993663%);
    --palInfinity-147: rgb(3.144695% 54.003613% 62.851439%);
    --palInfinity-148: rgb(3.341884% 54.254298% 62.709109%);
    --palInfinity-149: rgb(3.570902% 54.503991% 62.566653%);
    --palInfinity-150: rgb(3.831785% 54.752713% 62.424043%);
    --palInfinity-151: rgb(4.122823% 55.000488% 62.281256%);
    --palInfinity-152: rgb(4.431654% 55.247335% 62.138277%);
    --palInfinity-153: rgb(4.756227% 55.493275% 61.995065%);
    --palInfinity-154: rgb(5.094498% 55.738326% 61.851595%);
    --palInfinity-155: rgb(5.444681% 55.982506% 61.707845%);
    --palInfinity-156: rgb(5.805198% 56.225834% 61.563771%);
    --palInfinity-157: rgb(6.174701% 56.468324% 61.419343%);
    --palInfinity-158: rgb(6.552035% 56.709991% 61.274532%);
    --palInfinity-159: rgb(6.9362% 56.950851% 61.129292%);
    --palInfinity-160: rgb(7.326356% 57.190915% 60.98359%);
    --palInfinity-161: rgb(7.72179% 57.430196% 60.837391%);
    --palInfinity-162: rgb(8.121897% 57.668705% 60.690646%);
    --palInfinity-163: rgb(8.526173% 57.906451% 60.543322%);
    --palInfinity-164: rgb(8.934194% 58.143444% 60.395375%);
    --palInfinity-165: rgb(9.345609% 58.379692% 60.246758%);
    --palInfinity-166: rgb(9.760129% 58.615201% 60.097437%);
    --palInfinity-167: rgb(10.177516% 58.849977% 59.947359%);
    --palInfinity-168: rgb(10.597578% 59.084024% 59.796484%);
    --palInfinity-169: rgb(11.020163% 59.317346% 59.644767%);
    --palInfinity-170: rgb(11.445153% 59.549946% 59.492157%);
    --palInfinity-171: rgb(11.872457% 59.781824% 59.338619%);
    --palInfinity-172: rgb(12.302012% 60.012981% 59.184097%);
    --palInfinity-173: rgb(12.733773% 60.243416% 59.02855%);
    --palInfinity-174: rgb(13.167716% 60.473128% 58.871932%);
    --palInfinity-175: rgb(13.603834% 60.702112% 58.714194%);
    --palInfinity-176: rgb(14.042129% 60.930366% 58.555296%);
    --palInfinity-177: rgb(14.482622% 61.157883% 58.395187%);
    --palInfinity-178: rgb(14.925338% 61.384658% 58.233827%);
    --palInfinity-179: rgb(15.370314% 61.610682% 58.071168%);
    --palInfinity-180: rgb(15.817595% 61.835948% 57.907167%);
    --palInfinity-181: rgb(16.267228% 62.060446% 57.741784%);
    --palInfinity-182: rgb(16.71927% 62.284166% 57.574972%);
    --palInfinity-183: rgb(17.17378% 62.507094% 57.406696%);
    --palInfinity-184: rgb(17.630822% 62.72922% 57.23691%);
    --palInfinity-185: rgb(18.090461% 62.950529% 57.06558%);
    --palInfinity-186: rgb(18.552766% 63.171007% 56.892666%);
    --palInfinity-187: rgb(19.017806% 63.390638% 56.718131%);
    --palInfinity-188: rgb(19.485653% 63.609404% 56.541944%);
    --palInfinity-189: rgb(19.956378% 63.827289% 56.364067%);
    --palInfinity-190: rgb(20.430052% 64.044274% 56.184475%);
    --palInfinity-191: rgb(20.906749% 64.260339% 56.003132%);
    --palInfinity-192: rgb(21.386536% 64.475464% 55.820017%);
    --palInfinity-193: rgb(21.869487% 64.689628% 55.6351%);
    --palInfinity-194: rgb(22.355669% 64.902809% 55.448361%);
    --palInfinity-195: rgb(22.845149% 65.114983% 55.259777%);
    --palInfinity-196: rgb(23.337994% 65.326127% 55.069331%);
    --palInfinity-197: rgb(23.834266% 65.536217% 54.877007%);
    --palInfinity-198: rgb(24.334027% 65.745228% 54.682791%);
    --palInfinity-199: rgb(24.837334% 65.953133% 54.486675%);
    --palInfinity-200: rgb(25.344245% 66.159907% 54.288649%);
    --palInfinity-201: rgb(25.854812% 66.365522% 54.08871%);
    --palInfinity-202: rgb(26.369087% 66.569951% 53.886855%);
    --palInfinity-203: rgb(26.887114% 66.773165% 53.683086%);
    --palInfinity-204: rgb(27.408939% 66.975137% 53.477409%);
    --palInfinity-205: rgb(27.934601% 67.175837% 53.269831%);
    --palInfinity-206: rgb(28.464137% 67.375236% 53.060364%);
    --palInfinity-207: rgb(28.997579% 67.573304% 52.849022%);
    --palInfinity-208: rgb(29.534956% 67.770012% 52.635826%);
    --palInfinity-209: rgb(30.076295% 67.965329% 52.420796%);
    --palInfinity-210: rgb(30.621614% 68.159225% 52.203961%);
    --palInfinity-211: rgb(31.170934% 68.351669% 51.985346%);
    --palInfinity-212: rgb(31.724262% 68.542632% 51.764991%);
    --palInfinity-213: rgb(32.281614% 68.732083% 51.542927%);
    --palInfinity-214: rgb(32.842988% 68.919991% 51.319202%);
    --palInfinity-215: rgb(33.40839% 69.106326% 51.093856%);
    --palInfinity-216: rgb(33.977811% 69.291058% 50.866944%);
    --palInfinity-217: rgb(34.551247% 69.474158% 50.638514%);
    --palInfinity-218: rgb(35.128681% 69.655596% 50.408629%);
    --palInfinity-219: rgb(35.710101% 69.835342% 50.177347%);
    --palInfinity-220: rgb(36.295482% 70.013369% 49.944737%);
    --palInfinity-221: rgb(36.884802% 70.189649% 49.710866%);
    --palInfinity-222: rgb(37.478028% 70.364153% 49.475812%);
    --palInfinity-223: rgb(38.075129% 70.536854% 49.23965%);
    --palInfinity-224: rgb(38.676065% 70.707728% 49.002464%);
    --palInfinity-225: rgb(39.280796% 70.876747% 48.76434%);
    --palInfinity-226: rgb(39.889274% 71.043889% 48.525368%);
    --palInfinity-227: rgb(40.501452% 71.209128% 48.285641%);
    --palInfinity-228: rgb(41.117273% 71.372442% 48.045261%);
    --palInfinity-229: rgb(41.736684% 71.53381% 47.804322%);
    --palInfinity-230: rgb(42.359617% 71.69321% 47.56294%);
    --palInfinity-231: rgb(42.986019% 71.850623% 47.32121%);
    --palInfinity-232: rgb(43.615806% 72.006032% 47.07926%);
    --palInfinity-233: rgb(44.248928% 72.159416% 46.837186%);
    --palInfinity-234: rgb(44.885284% 72.310763% 46.595132%);
    --palInfinity-235: rgb(45.524826% 72.460055% 46.353192%);
    --palInfinity-236: rgb(46.167448% 72.607283% 46.111514%);
    --palInfinity-237: rgb(46.813089% 72.75243% 45.870207%);
    --palInfinity-238: rgb(47.461652% 72.895487% 45.629409%);
    --palInfinity-239: rgb(48.11305% 73.036447% 45.389255%);
    --palInfinity-240: rgb(48.767212% 73.175297% 45.149859%);
    --palInfinity-241: rgb(49.42401% 73.312038% 44.911393%);
    --palInfinity-242: rgb(50.083391% 73.446657% 44.673958%);
    --palInfinity-243: rgb(50.745241% 73.579156% 44.43771%);
    --palInfinity-244: rgb(51.409461% 73.709532% 44.202794%);
    --palInfinity-245: rgb(52.07598% 73.837781% 43.969328%);
    --palInfinity-246: rgb(52.744667% 73.963908% 43.737484%);
    --palInfinity-247: rgb(53.415445% 74.087914% 43.507389%);
    --palInfinity-248: rgb(54.088229% 74.209798% 43.279172%);
    --palInfinity-249: rgb(54.76289% 74.329573% 43.053004%);
    --palInfinity-250: rgb(55.439343% 74.447241% 42.829017%);
    --palInfinity-251: rgb(56.11751% 74.562806% 42.607338%);
    --palInfinity-252: rgb(56.797283% 74.676279% 42.388118%);
    --palInfinity-253: rgb(57.478535% 74.787678% 42.171525%);
    --palInfinity-254: rgb(58.16121% 74.897003% 41.957666%);
    --palInfinity-255: rgb(58.845213% 75.004269% 41.746681%);
    --palInfinity-256: rgb(59.53045% 75.109488% 41.53871%);
    --palInfinity-257: rgb(59.745363% 74.791864% 40.849571%);
    --palInfinity-258: rgb(59.964866% 74.471595% 40.163675%);
    --palInfinity-259: rgb(60.188578% 74.148732% 39.481127%);
    --palInfinity-260: rgb(60.416126% 73.82333% 38.802027%);
    --palInfinity-261: rgb(60.647145% 73.495441% 38.126463%);
    --palInfinity-262: rgb(60.881281% 73.165121% 37.454521%);
    --palInfinity-263: rgb(61.118191% 72.832424% 36.786276%);
    --palInfinity-264: rgb(61.357542% 72.497405% 36.121798%);
    --palInfinity-265: rgb(61.599012% 72.160118% 35.461152%);
    --palInfinity-266: rgb(61.842291% 71.820619% 34.804393%);
    --palInfinity-267: rgb(62.087079% 71.478963% 34.151573%);
    --palInfinity-268: rgb(62.33309% 71.135203% 33.502737%);
    --palInfinity-269: rgb(62.580046% 70.789393% 32.857923%);
    --palInfinity-270: rgb(62.827684% 70.441587% 32.217167%);
    --palInfinity-271: rgb(63.075749% 70.091839% 31.580495%);
    --palInfinity-272: rgb(63.324% 69.740199% 30.947932%);
    --palInfinity-273: rgb(63.572205% 69.38672% 30.319497%);
    --palInfinity-274: rgb(63.820142% 69.031453% 29.695204%);
    --palInfinity-275: rgb(64.067602% 68.674448% 29.075063%);
    --palInfinity-276: rgb(64.314383% 68.315754% 28.45908%);
    --palInfinity-277: rgb(64.560297% 67.95542% 27.847256%);
    --palInfinity-278: rgb(64.805161% 67.593493% 27.23959%);
    --palInfinity-279: rgb(65.048803% 67.230022% 26.636077%);
    --palInfinity-280: rgb(65.291062% 66.865051% 26.036708%);
    --palInfinity-281: rgb(65.531781% 66.498626% 25.441472%);
    --palInfinity-282: rgb(65.770815% 66.130791% 24.850353%);
    --palInfinity-283: rgb(66.008025% 65.761591% 24.263335%);
    --palInfinity-284: rgb(66.24328% 65.391067% 23.680397%);
    --palInfinity-285: rgb(66.476456% 65.019262% 23.101517%);
    --palInfinity-286: rgb(66.707436% 64.646217% 22.526669%);
    --palInfinity-287: rgb(66.93611% 64.271973% 21.955827%);
    --palInfinity-288: rgb(67.162373% 63.896568% 21.38896%);
    --palInfinity-289: rgb(67.386127% 63.520042% 20.826038%);
    --palInfinity-290: rgb(67.607279% 63.142432% 20.267027%);
    --palInfinity-291: rgb(67.825741% 62.763776% 19.711891%);
    --palInfinity-292: rgb(68.041433% 62.384112% 19.160594%);
    --palInfinity-293: rgb(68.254276% 62.003473% 18.613098%);
    --palInfinity-294: rgb(68.464198% 61.621896% 18.069361%);
    --palInfinity-295: rgb(68.671129% 61.239416% 17.529344%);
    --palInfinity-296: rgb(68.875007% 60.856066% 16.993003%);
    --palInfinity-297: rgb(69.075769% 60.47188% 16.460294%);
    --palInfinity-298: rgb(69.273361% 60.086891% 15.931173%);
    --palInfinity-299: rgb(69.467728% 59.70113% 15.405595%);
    --palInfinity-300: rgb(69.65882% 59.314631% 14.883512%);
    --palInfinity-301: rgb(69.846591% 58.927423% 14.364878%);
    --palInfinity-302: rgb(70.030998% 58.539537% 13.849646%);
    --palInfinity-303: rgb(70.211999% 58.151004% 13.337769%);
    --palInfinity-304: rgb(70.389556% 57.761854% 12.829199%);
    --palInfinity-305: rgb(70.563633% 57.372115% 12.323892%);
    --palInfinity-306: rgb(70.734196% 56.981817% 11.821801%);
    --palInfinity-307: rgb(70.901214% 56.590989% 11.322884%);
    --palInfinity-308: rgb(71.064658% 56.199659% 10.8271%);
    --palInfinity-309: rgb(71.224501% 55.807854% 10.334411%);
    --palInfinity-310: rgb(71.380717% 55.415603% 9.844782%);
    --palInfinity-311: rgb(71.533282% 55.022931% 9.358186%);
    --palInfinity-312: rgb(71.682174% 54.629868% 8.874602%);
    --palInfinity-313: rgb(71.827373% 54.236438% 8.394014%);
    --palInfinity-314: rgb(71.968859% 53.842669% 7.916423%);
    --palInfinity-315: rgb(72.106615% 53.448588% 7.441838%);
    --palInfinity-316: rgb(72.240623% 53.054219% 6.97029%);
    --palInfinity-317: rgb(72.370869% 52.65959% 6.501828%);
    --palInfinity-318: rgb(72.497338% 52.264725% 6.036533%);
    --palInfinity-319: rgb(72.620016% 51.869652% 5.574518%);
    --palInfinity-320: rgb(72.738891% 51.474395% 5.115942%);
    --palInfinity-321: rgb(72.853952% 51.07898% 4.661021%);
    --palInfinity-322: rgb(72.965185% 50.683433% 4.210044%);
    --palInfinity-323: rgb(73.072583% 50.287779% 3.764481%);
    --palInfinity-324: rgb(73.176134% 49.892044% 3.347865%);
    --palInfinity-325: rgb(73.27583% 49.496254% 2.964124%);
    --palInfinity-326: rgb(73.371662% 49.100435% 2.612362%);
    --palInfinity-327: rgb(73.463622% 48.704613% 2.291712%);
    --palInfinity-328: rgb(73.551701% 48.308813% 2.001339%);
    --palInfinity-329: rgb(73.635891% 47.913063% 1.740441%);
    --palInfinity-330: rgb(73.716187% 47.517389% 1.508244%);
    --palInfinity-331: rgb(73.792579% 47.121818% 1.304004%);
    --palInfinity-332: rgb(73.865061% 46.726377% 1.127011%);
    --palInfinity-333: rgb(73.933627% 46.331094% 0.976579%);
    --palInfinity-334: rgb(73.998269% 45.935997% 0.852056%);
    --palInfinity-335: rgb(74.05898% 45.541115% 0.752817%);
    --palInfinity-336: rgb(74.115754% 45.146475% 0.678264%);
    --palInfinity-337: rgb(74.168586% 44.752106% 0.627833%);
    --palInfinity-338: rgb(74.217467% 44.358041% 0.600982%);
    --palInfinity-339: rgb(74.262389% 43.964309% 0.597198%);
    --palInfinity-340: rgb(74.303344% 43.570943% 0.615997%);
    --palInfinity-341: rgb(74.340324% 43.177974% 0.656919%);
    --palInfinity-342: rgb(74.373322% 42.785436% 0.719535%);
    --palInfinity-343: rgb(74.40233% 42.393363% 0.80344%);
    --palInfinity-344: rgb(74.427344% 42.001784% 0.908263%);
    --palInfinity-345: rgb(74.44835% 41.610741% 1.033645%);
    --palInfinity-346: rgb(74.465338% 41.22027% 1.179258%);
    --palInfinity-347: rgb(74.478298% 40.830408% 1.344801%);
    --palInfinity-348: rgb(74.487224% 40.441194% 1.53%);
    --palInfinity-349: rgb(74.492107% 40.052664% 1.734612%);
    --palInfinity-350: rgb(74.492931% 39.664864% 1.958398%);
    --palInfinity-351: rgb(74.489686% 39.277837% 2.201155%);
    --palInfinity-352: rgb(74.482361% 38.891625% 2.462706%);
    --palInfinity-353: rgb(74.470949% 38.506269% 2.742907%);
    --palInfinity-354: rgb(74.455431% 38.121823% 3.041608%);
    --palInfinity-355: rgb(74.435794% 37.738333% 3.358699%);
    --palInfinity-356: rgb(74.412032% 37.355844% 3.694108%);
    --palInfinity-357: rgb(74.384125% 36.974411% 4.047707%);
    --palInfinity-358: rgb(74.35206% 36.594089% 4.40381%);
    --palInfinity-359: rgb(74.315827% 36.214926% 4.759008%);
    --palInfinity-360: rgb(74.275408% 35.836983% 5.113184%);
    --palInfinity-361: rgb(74.230786% 35.460319% 5.466264%);
    --palInfinity-362: rgb(74.181955% 35.084987% 5.818238%);
    --palInfinity-363: rgb(74.128892% 34.711054% 6.16908%);
    --palInfinity-364: rgb(74.071585% 34.338581% 6.518807%);
    --palInfinity-365: rgb(74.010021% 33.96763% 6.867458%);
    --palInfinity-366: rgb(73.944179% 33.598274% 7.215054%);
    --palInfinity-367: rgb(73.874053% 33.230572% 7.561664%);
    --palInfinity-368: rgb(73.799622% 32.864601% 7.907326%);
    --palInfinity-369: rgb(73.720874% 32.500428% 8.252106%);
    --palInfinity-370: rgb(73.637795% 32.138127% 8.596065%);
    --palInfinity-371: rgb(73.550371% 31.777773% 8.93926%);
    --palInfinity-372: rgb(73.458592% 31.419439% 9.281763%);
    --palInfinity-373: rgb(73.362442% 31.063206% 9.623623%);
    --palInfinity-374: rgb(73.261915% 30.709147% 9.964914%);
    --palInfinity-375: rgb(73.156995% 30.357347% 10.305681%);
    --palInfinity-376: rgb(73.047677% 30.00788% 10.645992%);
    --palInfinity-377: rgb(72.933951% 29.660833% 10.985888%);
    --palInfinity-378: rgb(72.815812% 29.316282% 11.325429%);
    --palInfinity-379: rgb(72.693252% 28.974314% 11.66465%);
    --palInfinity-380: rgb(72.56627% 28.635007% 12.003601%);
    --palInfinity-381: rgb(72.434861% 28.298446% 12.342311%);
    --palInfinity-382: rgb(72.299027% 27.964713% 12.680819%);
    --palInfinity-383: rgb(72.158768% 27.63389% 13.019147%);
    --palInfinity-384: rgb(72.014088% 27.306058% 13.357321%);
    --palInfinity-385: rgb(71.864991% 26.981298% 13.695358%);
    --palInfinity-386: rgb(71.711487% 26.65969% 14.033271%);
    --palInfinity-387: rgb(71.553584% 26.341311% 14.371068%);
    --palInfinity-388: rgb(71.391294% 26.026239% 14.708751%);
    --palInfinity-389: rgb(71.224633% 25.714548% 15.046319%);
    --palInfinity-390: rgb(71.053618% 25.406311% 15.383765%);
    --palInfinity-391: rgb(70.878268% 25.101599% 15.721074%);
    --palInfinity-392: rgb(70.698605% 24.800478% 16.058236%);
    --palInfinity-393: rgb(70.514655% 24.503015% 16.39522%);
    --palInfinity-394: rgb(70.326444% 24.209269% 16.732011%);
    --palInfinity-395: rgb(70.134003% 23.919303% 17.068565%);
    --palInfinity-396: rgb(69.937366% 23.633166% 17.404863%);
    --palInfinity-397: rgb(69.736567% 23.350914% 17.74085%);
    --palInfinity-398: rgb(69.531644% 23.072589% 18.076502%);
    --palInfinity-399: rgb(69.322638% 22.798239% 18.411751%);
    --palInfinity-400: rgb(69.109593% 22.527896% 18.74657%);
    --palInfinity-401: rgb(68.892554% 22.261599% 19.080884%);
    --palInfinity-402: rgb(68.671569% 21.999373% 19.414658%);
    --palInfinity-403: rgb(68.446688% 21.741245% 19.747816%);
    --palInfinity-404: rgb(68.217965% 21.487231% 20.08031%);
    --palInfinity-405: rgb(67.985454% 21.237346% 20.412072%);
    --palInfinity-406: rgb(67.749211% 20.991599% 20.743034%);
    --palInfinity-407: rgb(67.509296% 20.749993% 21.073145%);
    --palInfinity-408: rgb(67.26577% 20.512528% 21.402307%);
    --palInfinity-409: rgb(67.018694% 20.279196% 21.73048%);
    --palInfinity-410: rgb(66.768132% 20.049984% 22.057586%);
    --palInfinity-411: rgb(66.51415% 19.824876% 22.38354%);
    --palInfinity-412: rgb(66.256814% 19.60385% 22.708294%);
    --palInfinity-413: rgb(65.996192% 19.386878% 23.031767%);
    --palInfinity-414: rgb(65.732353% 19.173929% 23.353874%);
    --palInfinity-415: rgb(65.465367% 18.964964% 23.674566%);
    --palInfinity-416: rgb(65.195303% 18.759942% 23.993771%);
    --palInfinity-417: rgb(64.922235% 18.558818% 24.311402%);
    --palInfinity-418: rgb(64.646234% 18.36154% 24.627398%);
    --palInfinity-419: rgb(64.367372% 18.168054% 24.941698%);
    --palInfinity-420: rgb(64.08572% 17.978299% 25.254236%);
    --palInfinity-421: rgb(63.801353% 17.792214% 25.564946%);
    --palInfinity-422: rgb(63.514345% 17.60973% 25.873749%);
    --palInfinity-423: rgb(63.224769% 17.430779% 26.180591%);
    --palInfinity-424: rgb(62.932696% 17.255286% 26.485416%);
    --palInfinity-425: rgb(62.6382% 17.083174% 26.788164%);
    --palInfinity-426: rgb(62.341354% 16.914363% 27.088778%);
    --palInfinity-427: rgb(62.042231% 16.74877% 27.387203%);
    --palInfinity-428: rgb(61.740902% 16.58631% 27.683384%);
    --palInfinity-429: rgb(61.437439% 16.426895% 27.977271%);
    --palInfinity-430: rgb(61.131915% 16.270436% 28.268815%);
    --palInfinity-431: rgb(60.824398% 16.116839% 28.557968%);
    --palInfinity-432: rgb(60.51496% 15.966012% 28.844688%);
    --palInfinity-433: rgb(60.20367% 15.817857% 29.128932%);
    --palInfinity-434: rgb(59.890597% 15.672279% 29.410661%);
    --palInfinity-435: rgb(59.575808% 15.529179% 29.689838%);
    --palInfinity-436: rgb(59.259371% 15.388457% 29.966431%);
    --palInfinity-437: rgb(58.941352% 15.250012% 30.240407%);
    --palInfinity-438: rgb(58.621817% 15.113744% 30.511737%);
    --palInfinity-439: rgb(58.300835% 14.979546% 30.780373%);
    --palInfinity-440: rgb(57.978466% 14.847318% 31.046311%);
    --palInfinity-441: rgb(57.654773% 14.716958% 31.309531%);
    --palInfinity-442: rgb(57.329818% 14.588361% 31.570015%);
    --palInfinity-443: rgb(57.003662% 14.461423% 31.827746%);
    --palInfinity-444: rgb(56.676373% 14.336034% 32.082677%);
    --palInfinity-445: rgb(56.348002% 14.212096% 32.334832%);
    --palInfinity-446: rgb(56.018609% 14.089503% 32.584204%);
    --palInfinity-447: rgb(55.688255% 13.968148% 32.830766%);
    --palInfinity-448: rgb(55.356999% 13.847925% 33.074513%);
    --palInfinity-449: rgb(55.024889% 13.728734% 33.315468%);
    --palInfinity-450: rgb(54.691986% 13.610466% 33.55361%);
    --palInfinity-451: rgb(54.358346% 13.493016% 33.788942%);
    --palInfinity-452: rgb(54.024014% 13.376286% 34.021499%);
    --palInfinity-453: rgb(53.689055% 13.26016% 34.25124%);
    --palInfinity-454: rgb(53.353508% 13.144544% 34.478225%);
    --palInfinity-455: rgb(53.017432% 13.029329% 34.702441%);
    --palInfinity-456: rgb(52.680874% 12.914411% 34.923912%);
    --palInfinity-457: rgb(52.34388% 12.799687% 35.142664%);
    --palInfinity-458: rgb(52.006505% 12.685049% 35.358704%);
    --palInfinity-459: rgb(51.668788% 12.570398% 35.572074%);
    --palInfinity-460: rgb(51.330782% 12.455623% 35.782784%);
    --palInfinity-461: rgb(50.992528% 12.340624% 35.990879%);
    --palInfinity-462: rgb(50.654072% 12.225292% 36.196384%);
    --palInfinity-463: rgb(50.315461% 12.109521% 36.399329%);
    --palInfinity-464: rgb(49.976729% 11.993208% 36.599774%);
    --palInfinity-465: rgb(49.637931% 11.876236% 36.797719%);
    --palInfinity-466: rgb(49.299095% 11.758507% 36.993252%);
    --palInfinity-467: rgb(48.960272% 11.639903% 37.186385%);
    --palInfinity-468: rgb(48.621497% 11.520316% 37.377178%);
    --palInfinity-469: rgb(48.282803% 11.399635% 37.5657%);
    --palInfinity-470: rgb(47.944243% 11.277736% 37.751962%);
    --palInfinity-471: rgb(47.605842% 11.154509% 37.936053%);
    --palInfinity-472: rgb(47.267636% 11.029836% 38.118036%);
    --palInfinity-473: rgb(46.929671% 10.903587% 38.297941%);
    --palInfinity-474: rgb(46.591975% 10.775639% 38.475851%);
    --palInfinity-475: rgb(46.254581% 10.645866% 38.651839%);
    --palInfinity-476: rgb(45.917524% 10.514132% 38.825969%);
    --palInfinity-477: rgb(45.580845% 10.380293% 38.998289%);
    --palInfinity-478: rgb(45.244567% 10.244212% 39.1689%);
    --palInfinity-479: rgb(44.908722% 10.10574% 39.337875%);
    --palInfinity-480: rgb(44.573342% 9.96472% 39.505294%);
    --palInfinity-481: rgb(44.238465% 9.820983% 39.671216%);
    --palInfinity-482: rgb(43.904114% 9.674364% 39.835742%);
    --palInfinity-483: rgb(43.570319% 9.524681% 39.998961%);
    --palInfinity-484: rgb(43.237108% 9.371743% 40.160962%);
    --palInfinity-485: rgb(42.904511% 9.215348% 40.321835%);
    --palInfinity-486: rgb(42.572557% 9.055279% 40.481668%);
    --palInfinity-487: rgb(42.241277% 8.891303% 40.640552%);
    --palInfinity-488: rgb(41.910693% 8.723176% 40.798597%);
    --palInfinity-489: rgb(41.580833% 8.550631% 40.955904%);
    --palInfinity-490: rgb(41.251723% 8.37338% 41.112576%);
    --palInfinity-491: rgb(40.923392% 8.191112% 41.268721%);
    --palInfinity-492: rgb(40.595864% 8.003485% 41.424446%);
    --palInfinity-493: rgb(40.269167% 7.810126% 41.579865%);
    --palInfinity-494: rgb(39.943327% 7.610625% 41.73509%);
    --palInfinity-495: rgb(39.61837% 7.404528% 41.890239%);
    --palInfinity-496: rgb(39.294325% 7.19133% 42.045428%);
    --palInfinity-497: rgb(38.971217% 6.970469% 42.200783%);
    --palInfinity-498: rgb(38.649072% 6.741312% 42.35643%);
    --palInfinity-499: rgb(38.327919% 6.50314% 42.5125%);
    --palInfinity-500: rgb(38.007785% 6.255137% 42.669122%);
    --palInfinity-501: rgb(37.688698% 5.996364% 42.826431%);
    --palInfinity-502: rgb(37.370687% 5.725733% 42.984566%);
    --palInfinity-503: rgb(37.053784% 5.441971% 43.143666%);
    --palInfinity-504: rgb(36.738018% 5.143574% 43.303877%);
    --palInfinity-505: rgb(36.423422% 4.828739% 43.465347%);
    --palInfinity-506: rgb(36.110029% 4.495279% 43.628226%);
    --palInfinity-507: rgb(35.797874% 4.140492% 43.792669%);
    --palInfinity-508: rgb(35.486994% 3.762124% 43.958837%);
    --palInfinity-509: rgb(35.177425% 3.375967% 44.126892%);
    --palInfinity-510: rgb(34.86921% 2.98415% 44.297001%);
}
