/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palIsleOfDogs1-1: rgb(99.607843% 77.254902% 68.627451%);
    --palIsleOfDogs1-2: rgb(68.235294% 49.411765% 44.313725%);
    --palIsleOfDogs1-3: rgb(82.352941% 40.392157% 19.607843%);
    --palIsleOfDogs1-4: rgb(19.607843% 13.72549% 13.72549%);
    --palIsleOfDogs1-5: rgb(9.411765% 7.058824% 7.45098%);
}
