/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palJet-1: rgb(0% 0% 50%);
    --palJet-2: rgb(0% 0% 51.78%);
    --palJet-3: rgb(0% 0% 53.57%);
    --palJet-4: rgb(0% 0% 55.35%);
    --palJet-5: rgb(0% 0% 57.13%);
    --palJet-6: rgb(0% 0% 58.91%);
    --palJet-7: rgb(0% 0% 60.7%);
    --palJet-8: rgb(0% 0% 62.48%);
    --palJet-9: rgb(0% 0% 64.26%);
    --palJet-10: rgb(0% 0% 66.04%);
    --palJet-11: rgb(0% 0% 67.83%);
    --palJet-12: rgb(0% 0% 69.61%);
    --palJet-13: rgb(0% 0% 71.39%);
    --palJet-14: rgb(0% 0% 73.17%);
    --palJet-15: rgb(0% 0% 74.96%);
    --palJet-16: rgb(0% 0% 76.74%);
    --palJet-17: rgb(0% 0% 78.52%);
    --palJet-18: rgb(0% 0% 80.3%);
    --palJet-19: rgb(0% 0% 82.09%);
    --palJet-20: rgb(0% 0% 83.87%);
    --palJet-21: rgb(0% 0% 85.65%);
    --palJet-22: rgb(0% 0% 87.43%);
    --palJet-23: rgb(0% 0% 89.22%);
    --palJet-24: rgb(0% 0% 91%);
    --palJet-25: rgb(0% 0% 92.78%);
    --palJet-26: rgb(0% 0% 94.56%);
    --palJet-27: rgb(0% 0% 96.35%);
    --palJet-28: rgb(0% 0% 98.13%);
    --palJet-29: rgb(0% 0% 99.91%);
    --palJet-30: rgb(0% 0% 100%);
    --palJet-31: rgb(0% 0% 100%);
    --palJet-32: rgb(0% 0% 100%);
    --palJet-33: rgb(0% 0.2% 100%);
    --palJet-34: rgb(0% 1.76% 100%);
    --palJet-35: rgb(0% 3.33% 100%);
    --palJet-36: rgb(0% 4.9% 100%);
    --palJet-37: rgb(0% 6.47% 100%);
    --palJet-38: rgb(0% 8.04% 100%);
    --palJet-39: rgb(0% 9.61% 100%);
    --palJet-40: rgb(0% 11.18% 100%);
    --palJet-41: rgb(0% 12.75% 100%);
    --palJet-42: rgb(0% 14.31% 100%);
    --palJet-43: rgb(0% 15.88% 100%);
    --palJet-44: rgb(0% 17.45% 100%);
    --palJet-45: rgb(0% 19.02% 100%);
    --palJet-46: rgb(0% 20.59% 100%);
    --palJet-47: rgb(0% 22.16% 100%);
    --palJet-48: rgb(0% 23.73% 100%);
    --palJet-49: rgb(0% 25.29% 100%);
    --palJet-50: rgb(0% 26.86% 100%);
    --palJet-51: rgb(0% 28.43% 100%);
    --palJet-52: rgb(0% 30% 100%);
    --palJet-53: rgb(0% 31.57% 100%);
    --palJet-54: rgb(0% 33.14% 100%);
    --palJet-55: rgb(0% 34.71% 100%);
    --palJet-56: rgb(0% 36.27% 100%);
    --palJet-57: rgb(0% 37.84% 100%);
    --palJet-58: rgb(0% 39.41% 100%);
    --palJet-59: rgb(0% 40.98% 100%);
    --palJet-60: rgb(0% 42.55% 100%);
    --palJet-61: rgb(0% 44.12% 100%);
    --palJet-62: rgb(0% 45.69% 100%);
    --palJet-63: rgb(0% 47.25% 100%);
    --palJet-64: rgb(0% 48.82% 100%);
    --palJet-65: rgb(0% 50.39% 100%);
    --palJet-66: rgb(0% 51.96% 100%);
    --palJet-67: rgb(0% 53.53% 100%);
    --palJet-68: rgb(0% 55.1% 100%);
    --palJet-69: rgb(0% 56.67% 100%);
    --palJet-70: rgb(0% 58.24% 100%);
    --palJet-71: rgb(0% 59.8% 100%);
    --palJet-72: rgb(0% 61.37% 100%);
    --palJet-73: rgb(0% 62.94% 100%);
    --palJet-74: rgb(0% 64.51% 100%);
    --palJet-75: rgb(0% 66.08% 100%);
    --palJet-76: rgb(0% 67.65% 100%);
    --palJet-77: rgb(0% 69.22% 100%);
    --palJet-78: rgb(0% 70.78% 100%);
    --palJet-79: rgb(0% 72.35% 100%);
    --palJet-80: rgb(0% 73.92% 100%);
    --palJet-81: rgb(0% 75.49% 100%);
    --palJet-82: rgb(0% 77.06% 100%);
    --palJet-83: rgb(0% 78.63% 100%);
    --palJet-84: rgb(0% 80.2% 100%);
    --palJet-85: rgb(0% 81.76% 100%);
    --palJet-86: rgb(0% 83.33% 100%);
    --palJet-87: rgb(0% 84.9% 100%);
    --palJet-88: rgb(0% 86.47% 99.62%);
    --palJet-89: rgb(0% 88.04% 98.36%);
    --palJet-90: rgb(0% 89.61% 97.09%);
    --palJet-91: rgb(0.95% 91.18% 95.83%);
    --palJet-92: rgb(2.21% 92.75% 94.56%);
    --palJet-93: rgb(3.48% 94.31% 93.3%);
    --palJet-94: rgb(4.74% 95.88% 92.03%);
    --palJet-95: rgb(6.01% 97.45% 90.77%);
    --palJet-96: rgb(7.27% 99.02% 89.5%);
    --palJet-97: rgb(8.54% 100% 88.24%);
    --palJet-98: rgb(9.8% 100% 86.97%);
    --palJet-99: rgb(11.07% 100% 85.71%);
    --palJet-100: rgb(12.33% 100% 84.44%);
    --palJet-101: rgb(13.6% 100% 83.18%);
    --palJet-102: rgb(14.86% 100% 81.91%);
    --palJet-103: rgb(16.13% 100% 80.65%);
    --palJet-104: rgb(17.39% 100% 79.38%);
    --palJet-105: rgb(18.66% 100% 78.12%);
    --palJet-106: rgb(19.92% 100% 76.85%);
    --palJet-107: rgb(21.19% 100% 75.59%);
    --palJet-108: rgb(22.45% 100% 74.32%);
    --palJet-109: rgb(23.72% 100% 73.06%);
    --palJet-110: rgb(24.98% 100% 71.79%);
    --palJet-111: rgb(26.25% 100% 70.52%);
    --palJet-112: rgb(27.51% 100% 69.26%);
    --palJet-113: rgb(28.78% 100% 67.99%);
    --palJet-114: rgb(30.04% 100% 66.73%);
    --palJet-115: rgb(31.31% 100% 65.46%);
    --palJet-116: rgb(32.57% 100% 64.2%);
    --palJet-117: rgb(33.84% 100% 62.93%);
    --palJet-118: rgb(35.1% 100% 61.67%);
    --palJet-119: rgb(36.37% 100% 60.4%);
    --palJet-120: rgb(37.63% 100% 59.14%);
    --palJet-121: rgb(38.9% 100% 57.87%);
    --palJet-122: rgb(40.16% 100% 56.61%);
    --palJet-123: rgb(41.43% 100% 55.34%);
    --palJet-124: rgb(42.69% 100% 54.08%);
    --palJet-125: rgb(43.96% 100% 52.81%);
    --palJet-126: rgb(45.22% 100% 51.55%);
    --palJet-127: rgb(46.49% 100% 50.28%);
    --palJet-128: rgb(47.75% 100% 49.02%);
    --palJet-129: rgb(49.02% 100% 47.75%);
    --palJet-130: rgb(50.28% 100% 46.49%);
    --palJet-131: rgb(51.55% 100% 45.22%);
    --palJet-132: rgb(52.81% 100% 43.96%);
    --palJet-133: rgb(54.08% 100% 42.69%);
    --palJet-134: rgb(55.34% 100% 41.43%);
    --palJet-135: rgb(56.61% 100% 40.16%);
    --palJet-136: rgb(57.87% 100% 38.9%);
    --palJet-137: rgb(59.14% 100% 37.63%);
    --palJet-138: rgb(60.4% 100% 36.37%);
    --palJet-139: rgb(61.67% 100% 35.1%);
    --palJet-140: rgb(62.93% 100% 33.84%);
    --palJet-141: rgb(64.2% 100% 32.57%);
    --palJet-142: rgb(65.46% 100% 31.31%);
    --palJet-143: rgb(66.73% 100% 30.04%);
    --palJet-144: rgb(67.99% 100% 28.78%);
    --palJet-145: rgb(69.26% 100% 27.51%);
    --palJet-146: rgb(70.52% 100% 26.25%);
    --palJet-147: rgb(71.79% 100% 24.98%);
    --palJet-148: rgb(73.06% 100% 23.72%);
    --palJet-149: rgb(74.32% 100% 22.45%);
    --palJet-150: rgb(75.59% 100% 21.19%);
    --palJet-151: rgb(76.85% 100% 19.92%);
    --palJet-152: rgb(78.12% 100% 18.66%);
    --palJet-153: rgb(79.38% 100% 17.39%);
    --palJet-154: rgb(80.65% 100% 16.13%);
    --palJet-155: rgb(81.91% 100% 14.86%);
    --palJet-156: rgb(83.18% 100% 13.6%);
    --palJet-157: rgb(84.44% 100% 12.33%);
    --palJet-158: rgb(85.71% 100% 11.07%);
    --palJet-159: rgb(86.97% 100% 9.8%);
    --palJet-160: rgb(88.24% 100% 8.54%);
    --palJet-161: rgb(89.5% 100% 7.27%);
    --palJet-162: rgb(90.77% 100% 6.01%);
    --palJet-163: rgb(92.03% 100% 4.74%);
    --palJet-164: rgb(93.3% 100% 3.48%);
    --palJet-165: rgb(94.56% 98.84% 2.21%);
    --palJet-166: rgb(95.83% 97.39% 0.95%);
    --palJet-167: rgb(97.09% 95.93% 0%);
    --palJet-168: rgb(98.36% 94.48% 0%);
    --palJet-169: rgb(99.62% 93.03% 0%);
    --palJet-170: rgb(100% 91.58% 0%);
    --palJet-171: rgb(100% 90.12% 0%);
    --palJet-172: rgb(100% 88.67% 0%);
    --palJet-173: rgb(100% 87.22% 0%);
    --palJet-174: rgb(100% 85.77% 0%);
    --palJet-175: rgb(100% 84.31% 0%);
    --palJet-176: rgb(100% 82.86% 0%);
    --palJet-177: rgb(100% 81.41% 0%);
    --palJet-178: rgb(100% 79.96% 0%);
    --palJet-179: rgb(100% 78.5% 0%);
    --palJet-180: rgb(100% 77.05% 0%);
    --palJet-181: rgb(100% 75.6% 0%);
    --palJet-182: rgb(100% 74.15% 0%);
    --palJet-183: rgb(100% 72.69% 0%);
    --palJet-184: rgb(100% 71.24% 0%);
    --palJet-185: rgb(100% 69.79% 0%);
    --palJet-186: rgb(100% 68.34% 0%);
    --palJet-187: rgb(100% 66.88% 0%);
    --palJet-188: rgb(100% 65.43% 0%);
    --palJet-189: rgb(100% 63.98% 0%);
    --palJet-190: rgb(100% 62.53% 0%);
    --palJet-191: rgb(100% 61.07% 0%);
    --palJet-192: rgb(100% 59.62% 0%);
    --palJet-193: rgb(100% 58.17% 0%);
    --palJet-194: rgb(100% 56.72% 0%);
    --palJet-195: rgb(100% 55.27% 0%);
    --palJet-196: rgb(100% 53.81% 0%);
    --palJet-197: rgb(100% 52.36% 0%);
    --palJet-198: rgb(100% 50.91% 0%);
    --palJet-199: rgb(100% 49.46% 0%);
    --palJet-200: rgb(100% 48% 0%);
    --palJet-201: rgb(100% 46.55% 0%);
    --palJet-202: rgb(100% 45.1% 0%);
    --palJet-203: rgb(100% 43.65% 0%);
    --palJet-204: rgb(100% 42.19% 0%);
    --palJet-205: rgb(100% 40.74% 0%);
    --palJet-206: rgb(100% 39.29% 0%);
    --palJet-207: rgb(100% 37.84% 0%);
    --palJet-208: rgb(100% 36.38% 0%);
    --palJet-209: rgb(100% 34.93% 0%);
    --palJet-210: rgb(100% 33.48% 0%);
    --palJet-211: rgb(100% 32.03% 0%);
    --palJet-212: rgb(100% 30.57% 0%);
    --palJet-213: rgb(100% 29.12% 0%);
    --palJet-214: rgb(100% 27.67% 0%);
    --palJet-215: rgb(100% 26.22% 0%);
    --palJet-216: rgb(100% 24.76% 0%);
    --palJet-217: rgb(100% 23.31% 0%);
    --palJet-218: rgb(100% 21.86% 0%);
    --palJet-219: rgb(100% 20.41% 0%);
    --palJet-220: rgb(100% 18.95% 0%);
    --palJet-221: rgb(100% 17.5% 0%);
    --palJet-222: rgb(100% 16.05% 0%);
    --palJet-223: rgb(100% 14.6% 0%);
    --palJet-224: rgb(100% 13.14% 0%);
    --palJet-225: rgb(100% 11.69% 0%);
    --palJet-226: rgb(100% 10.24% 0%);
    --palJet-227: rgb(100% 8.79% 0%);
    --palJet-228: rgb(99.91% 7.33% 0%);
    --palJet-229: rgb(98.13% 5.88% 0%);
    --palJet-230: rgb(96.35% 4.43% 0%);
    --palJet-231: rgb(94.56% 2.98% 0%);
    --palJet-232: rgb(92.78% 1.53% 0%);
    --palJet-233: rgb(91% 0.07% 0%);
    --palJet-234: rgb(89.22% 0% 0%);
    --palJet-235: rgb(87.43% 0% 0%);
    --palJet-236: rgb(85.65% 0% 0%);
    --palJet-237: rgb(83.87% 0% 0%);
    --palJet-238: rgb(82.09% 0% 0%);
    --palJet-239: rgb(80.3% 0% 0%);
    --palJet-240: rgb(78.52% 0% 0%);
    --palJet-241: rgb(76.74% 0% 0%);
    --palJet-242: rgb(74.96% 0% 0%);
    --palJet-243: rgb(73.17% 0% 0%);
    --palJet-244: rgb(71.39% 0% 0%);
    --palJet-245: rgb(69.61% 0% 0%);
    --palJet-246: rgb(67.83% 0% 0%);
    --palJet-247: rgb(66.04% 0% 0%);
    --palJet-248: rgb(64.26% 0% 0%);
    --palJet-249: rgb(62.48% 0% 0%);
    --palJet-250: rgb(60.7% 0% 0%);
    --palJet-251: rgb(58.91% 0% 0%);
    --palJet-252: rgb(57.13% 0% 0%);
    --palJet-253: rgb(55.35% 0% 0%);
    --palJet-254: rgb(53.57% 0% 0%);
    --palJet-255: rgb(51.78% 0% 0%);
    --palJet-256: rgb(50% 0% 0%);
}
