/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palJet-1: rgb(0% 0% 50%);
    --palJet-2: rgb(0% 0% 51.7825%);
    --palJet-3: rgb(0% 0% 53.5651%);
    --palJet-4: rgb(0% 0% 55.3476%);
    --palJet-5: rgb(0% 0% 57.1301%);
    --palJet-6: rgb(0% 0% 58.9127%);
    --palJet-7: rgb(0% 0% 60.6952%);
    --palJet-8: rgb(0% 0% 62.4777%);
    --palJet-9: rgb(0% 0% 64.2602%);
    --palJet-10: rgb(0% 0% 66.0428%);
    --palJet-11: rgb(0% 0% 67.8253%);
    --palJet-12: rgb(0% 0% 69.6078%);
    --palJet-13: rgb(0% 0% 71.3904%);
    --palJet-14: rgb(0% 0% 73.1729%);
    --palJet-15: rgb(0% 0% 74.9554%);
    --palJet-16: rgb(0% 0% 76.738%);
    --palJet-17: rgb(0% 0% 78.5205%);
    --palJet-18: rgb(0% 0% 80.303%);
    --palJet-19: rgb(0% 0% 82.0856%);
    --palJet-20: rgb(0% 0% 83.8681%);
    --palJet-21: rgb(0% 0% 85.6506%);
    --palJet-22: rgb(0% 0% 87.4332%);
    --palJet-23: rgb(0% 0% 89.2157%);
    --palJet-24: rgb(0% 0% 90.9982%);
    --palJet-25: rgb(0% 0% 92.7807%);
    --palJet-26: rgb(0% 0% 94.5633%);
    --palJet-27: rgb(0% 0% 96.3458%);
    --palJet-28: rgb(0% 0% 98.1283%);
    --palJet-29: rgb(0% 0% 99.9109%);
    --palJet-30: rgb(0% 0% 100%);
    --palJet-31: rgb(0% 0% 100%);
    --palJet-32: rgb(0% 0% 100%);
    --palJet-33: rgb(0% 0.1961% 100%);
    --palJet-34: rgb(0% 1.7647% 100%);
    --palJet-35: rgb(0% 3.3333% 100%);
    --palJet-36: rgb(0% 4.902% 100%);
    --palJet-37: rgb(0% 6.4706% 100%);
    --palJet-38: rgb(0% 8.0392% 100%);
    --palJet-39: rgb(0% 9.6078% 100%);
    --palJet-40: rgb(0% 11.1765% 100%);
    --palJet-41: rgb(0% 12.7451% 100%);
    --palJet-42: rgb(0% 14.3137% 100%);
    --palJet-43: rgb(0% 15.8824% 100%);
    --palJet-44: rgb(0% 17.451% 100%);
    --palJet-45: rgb(0% 19.0196% 100%);
    --palJet-46: rgb(0% 20.5882% 100%);
    --palJet-47: rgb(0% 22.1569% 100%);
    --palJet-48: rgb(0% 23.7255% 100%);
    --palJet-49: rgb(0% 25.2941% 100%);
    --palJet-50: rgb(0% 26.8627% 100%);
    --palJet-51: rgb(0% 28.4314% 100%);
    --palJet-52: rgb(0% 30% 100%);
    --palJet-53: rgb(0% 31.5686% 100%);
    --palJet-54: rgb(0% 33.1373% 100%);
    --palJet-55: rgb(0% 34.7059% 100%);
    --palJet-56: rgb(0% 36.2745% 100%);
    --palJet-57: rgb(0% 37.8431% 100%);
    --palJet-58: rgb(0% 39.4118% 100%);
    --palJet-59: rgb(0% 40.9804% 100%);
    --palJet-60: rgb(0% 42.549% 100%);
    --palJet-61: rgb(0% 44.1176% 100%);
    --palJet-62: rgb(0% 45.6863% 100%);
    --palJet-63: rgb(0% 47.2549% 100%);
    --palJet-64: rgb(0% 48.8235% 100%);
    --palJet-65: rgb(0% 50.3922% 100%);
    --palJet-66: rgb(0% 51.9608% 100%);
    --palJet-67: rgb(0% 53.5294% 100%);
    --palJet-68: rgb(0% 55.098% 100%);
    --palJet-69: rgb(0% 56.6667% 100%);
    --palJet-70: rgb(0% 58.2353% 100%);
    --palJet-71: rgb(0% 59.8039% 100%);
    --palJet-72: rgb(0% 61.3725% 100%);
    --palJet-73: rgb(0% 62.9412% 100%);
    --palJet-74: rgb(0% 64.5098% 100%);
    --palJet-75: rgb(0% 66.0784% 100%);
    --palJet-76: rgb(0% 67.6471% 100%);
    --palJet-77: rgb(0% 69.2157% 100%);
    --palJet-78: rgb(0% 70.7843% 100%);
    --palJet-79: rgb(0% 72.3529% 100%);
    --palJet-80: rgb(0% 73.9216% 100%);
    --palJet-81: rgb(0% 75.4902% 100%);
    --palJet-82: rgb(0% 77.0588% 100%);
    --palJet-83: rgb(0% 78.6275% 100%);
    --palJet-84: rgb(0% 80.1961% 100%);
    --palJet-85: rgb(0% 81.7647% 100%);
    --palJet-86: rgb(0% 83.3333% 100%);
    --palJet-87: rgb(0% 84.902% 100%);
    --palJet-88: rgb(0% 86.4706% 99.6205%);
    --palJet-89: rgb(0% 88.0392% 98.3555%);
    --palJet-90: rgb(0% 89.6078% 97.0904%);
    --palJet-91: rgb(0.9488% 91.1765% 95.8254%);
    --palJet-92: rgb(2.2138% 92.7451% 94.5604%);
    --palJet-93: rgb(3.4788% 94.3137% 93.2954%);
    --palJet-94: rgb(4.7438% 95.8824% 92.0304%);
    --palJet-95: rgb(6.0089% 97.451% 90.7653%);
    --palJet-96: rgb(7.2739% 99.0196% 89.5003%);
    --palJet-97: rgb(8.5389% 100% 88.2353%);
    --palJet-98: rgb(9.8039% 100% 86.9703%);
    --palJet-99: rgb(11.0689% 100% 85.7052%);
    --palJet-100: rgb(12.334% 100% 84.4402%);
    --palJet-101: rgb(13.599% 100% 83.1752%);
    --palJet-102: rgb(14.864% 100% 81.9102%);
    --palJet-103: rgb(16.129% 100% 80.6452%);
    --palJet-104: rgb(17.3941% 100% 79.3801%);
    --palJet-105: rgb(18.6591% 100% 78.1151%);
    --palJet-106: rgb(19.9241% 100% 76.8501%);
    --palJet-107: rgb(21.1891% 100% 75.5851%);
    --palJet-108: rgb(22.4541% 100% 74.3201%);
    --palJet-109: rgb(23.7192% 100% 73.055%);
    --palJet-110: rgb(24.9842% 100% 71.79%);
    --palJet-111: rgb(26.2492% 100% 70.525%);
    --palJet-112: rgb(27.5142% 100% 69.26%);
    --palJet-113: rgb(28.7793% 100% 67.9949%);
    --palJet-114: rgb(30.0443% 100% 66.7299%);
    --palJet-115: rgb(31.3093% 100% 65.4649%);
    --palJet-116: rgb(32.5743% 100% 64.1999%);
    --palJet-117: rgb(33.8393% 100% 62.9349%);
    --palJet-118: rgb(35.1044% 100% 61.6698%);
    --palJet-119: rgb(36.3694% 100% 60.4048%);
    --palJet-120: rgb(37.6344% 100% 59.1398%);
    --palJet-121: rgb(38.8994% 100% 57.8748%);
    --palJet-122: rgb(40.1645% 100% 56.6097%);
    --palJet-123: rgb(41.4295% 100% 55.3447%);
    --palJet-124: rgb(42.6945% 100% 54.0797%);
    --palJet-125: rgb(43.9595% 100% 52.8147%);
    --palJet-126: rgb(45.2245% 100% 51.5497%);
    --palJet-127: rgb(46.4896% 100% 50.2846%);
    --palJet-128: rgb(47.7546% 100% 49.0196%);
    --palJet-129: rgb(49.0196% 100% 47.7546%);
    --palJet-130: rgb(50.2846% 100% 46.4896%);
    --palJet-131: rgb(51.5497% 100% 45.2245%);
    --palJet-132: rgb(52.8147% 100% 43.9595%);
    --palJet-133: rgb(54.0797% 100% 42.6945%);
    --palJet-134: rgb(55.3447% 100% 41.4295%);
    --palJet-135: rgb(56.6097% 100% 40.1645%);
    --palJet-136: rgb(57.8748% 100% 38.8994%);
    --palJet-137: rgb(59.1398% 100% 37.6344%);
    --palJet-138: rgb(60.4048% 100% 36.3694%);
    --palJet-139: rgb(61.6698% 100% 35.1044%);
    --palJet-140: rgb(62.9349% 100% 33.8393%);
    --palJet-141: rgb(64.1999% 100% 32.5743%);
    --palJet-142: rgb(65.4649% 100% 31.3093%);
    --palJet-143: rgb(66.7299% 100% 30.0443%);
    --palJet-144: rgb(67.9949% 100% 28.7793%);
    --palJet-145: rgb(69.26% 100% 27.5142%);
    --palJet-146: rgb(70.525% 100% 26.2492%);
    --palJet-147: rgb(71.79% 100% 24.9842%);
    --palJet-148: rgb(73.055% 100% 23.7192%);
    --palJet-149: rgb(74.3201% 100% 22.4541%);
    --palJet-150: rgb(75.5851% 100% 21.1891%);
    --palJet-151: rgb(76.8501% 100% 19.9241%);
    --palJet-152: rgb(78.1151% 100% 18.6591%);
    --palJet-153: rgb(79.3801% 100% 17.3941%);
    --palJet-154: rgb(80.6452% 100% 16.129%);
    --palJet-155: rgb(81.9102% 100% 14.864%);
    --palJet-156: rgb(83.1752% 100% 13.599%);
    --palJet-157: rgb(84.4402% 100% 12.334%);
    --palJet-158: rgb(85.7052% 100% 11.0689%);
    --palJet-159: rgb(86.9703% 100% 9.8039%);
    --palJet-160: rgb(88.2353% 100% 8.5389%);
    --palJet-161: rgb(89.5003% 100% 7.2739%);
    --palJet-162: rgb(90.7653% 100% 6.0089%);
    --palJet-163: rgb(92.0304% 100% 4.7438%);
    --palJet-164: rgb(93.2954% 100% 3.4788%);
    --palJet-165: rgb(94.5604% 98.8381% 2.2138%);
    --palJet-166: rgb(95.8254% 97.3856% 0.9488%);
    --palJet-167: rgb(97.0904% 95.9332% 0%);
    --palJet-168: rgb(98.3555% 94.4808% 0%);
    --palJet-169: rgb(99.6205% 93.0283% 0%);
    --palJet-170: rgb(100% 91.5759% 0%);
    --palJet-171: rgb(100% 90.1235% 0%);
    --palJet-172: rgb(100% 88.671% 0%);
    --palJet-173: rgb(100% 87.2186% 0%);
    --palJet-174: rgb(100% 85.7662% 0%);
    --palJet-175: rgb(100% 84.3137% 0%);
    --palJet-176: rgb(100% 82.8613% 0%);
    --palJet-177: rgb(100% 81.4089% 0%);
    --palJet-178: rgb(100% 79.9564% 0%);
    --palJet-179: rgb(100% 78.504% 0%);
    --palJet-180: rgb(100% 77.0516% 0%);
    --palJet-181: rgb(100% 75.5991% 0%);
    --palJet-182: rgb(100% 74.1467% 0%);
    --palJet-183: rgb(100% 72.6943% 0%);
    --palJet-184: rgb(100% 71.2418% 0%);
    --palJet-185: rgb(100% 69.7894% 0%);
    --palJet-186: rgb(100% 68.337% 0%);
    --palJet-187: rgb(100% 66.8845% 0%);
    --palJet-188: rgb(100% 65.4321% 0%);
    --palJet-189: rgb(100% 63.9797% 0%);
    --palJet-190: rgb(100% 62.5272% 0%);
    --palJet-191: rgb(100% 61.0748% 0%);
    --palJet-192: rgb(100% 59.6224% 0%);
    --palJet-193: rgb(100% 58.1699% 0%);
    --palJet-194: rgb(100% 56.7175% 0%);
    --palJet-195: rgb(100% 55.2651% 0%);
    --palJet-196: rgb(100% 53.8126% 0%);
    --palJet-197: rgb(100% 52.3602% 0%);
    --palJet-198: rgb(100% 50.9078% 0%);
    --palJet-199: rgb(100% 49.4553% 0%);
    --palJet-200: rgb(100% 48.0029% 0%);
    --palJet-201: rgb(100% 46.5505% 0%);
    --palJet-202: rgb(100% 45.098% 0%);
    --palJet-203: rgb(100% 43.6456% 0%);
    --palJet-204: rgb(100% 42.1932% 0%);
    --palJet-205: rgb(100% 40.7407% 0%);
    --palJet-206: rgb(100% 39.2883% 0%);
    --palJet-207: rgb(100% 37.8359% 0%);
    --palJet-208: rgb(100% 36.3834% 0%);
    --palJet-209: rgb(100% 34.931% 0%);
    --palJet-210: rgb(100% 33.4786% 0%);
    --palJet-211: rgb(100% 32.0261% 0%);
    --palJet-212: rgb(100% 30.5737% 0%);
    --palJet-213: rgb(100% 29.1213% 0%);
    --palJet-214: rgb(100% 27.6688% 0%);
    --palJet-215: rgb(100% 26.2164% 0%);
    --palJet-216: rgb(100% 24.764% 0%);
    --palJet-217: rgb(100% 23.3115% 0%);
    --palJet-218: rgb(100% 21.8591% 0%);
    --palJet-219: rgb(100% 20.4067% 0%);
    --palJet-220: rgb(100% 18.9542% 0%);
    --palJet-221: rgb(100% 17.5018% 0%);
    --palJet-222: rgb(100% 16.0494% 0%);
    --palJet-223: rgb(100% 14.5969% 0%);
    --palJet-224: rgb(100% 13.1445% 0%);
    --palJet-225: rgb(100% 11.6921% 0%);
    --palJet-226: rgb(100% 10.2397% 0%);
    --palJet-227: rgb(100% 8.7872% 0%);
    --palJet-228: rgb(99.9109% 7.3348% 0%);
    --palJet-229: rgb(98.1283% 5.8824% 0%);
    --palJet-230: rgb(96.3458% 4.4299% 0%);
    --palJet-231: rgb(94.5633% 2.9775% 0%);
    --palJet-232: rgb(92.7807% 1.5251% 0%);
    --palJet-233: rgb(90.9982% 0.0726% 0%);
    --palJet-234: rgb(89.2157% 0% 0%);
    --palJet-235: rgb(87.4332% 0% 0%);
    --palJet-236: rgb(85.6506% 0% 0%);
    --palJet-237: rgb(83.8681% 0% 0%);
    --palJet-238: rgb(82.0856% 0% 0%);
    --palJet-239: rgb(80.303% 0% 0%);
    --palJet-240: rgb(78.5205% 0% 0%);
    --palJet-241: rgb(76.738% 0% 0%);
    --palJet-242: rgb(74.9554% 0% 0%);
    --palJet-243: rgb(73.1729% 0% 0%);
    --palJet-244: rgb(71.3904% 0% 0%);
    --palJet-245: rgb(69.6078% 0% 0%);
    --palJet-246: rgb(67.8253% 0% 0%);
    --palJet-247: rgb(66.0428% 0% 0%);
    --palJet-248: rgb(64.2602% 0% 0%);
    --palJet-249: rgb(62.4777% 0% 0%);
    --palJet-250: rgb(60.6952% 0% 0%);
    --palJet-251: rgb(58.9127% 0% 0%);
    --palJet-252: rgb(57.1301% 0% 0%);
    --palJet-253: rgb(55.3476% 0% 0%);
    --palJet-254: rgb(53.5651% 0% 0%);
    --palJet-255: rgb(51.7825% 0% 0%);
    --palJet-256: rgb(50% 0% 0%);
}
