/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palJimSpecial-1: rgb(0% 0% 0%);
    --palJimSpecial-2: rgb(8.627451% 3.921569% 13.333333%);
    --palJimSpecial-3: rgb(14.509804% 9.803922% 26.666667%);
    --palJimSpecial-4: rgb(18.431373% 16.862745% 38.823529%);
    --palJimSpecial-5: rgb(20.392157% 25.490196% 49.019608%);
    --palJimSpecial-6: rgb(21.568627% 34.509804% 57.254902%);
    --palJimSpecial-7: rgb(23.137255% 43.921569% 62.745098%);
    --palJimSpecial-8: rgb(25.098039% 53.72549% 66.27451%);
    --palJimSpecial-9: rgb(29.019608% 62.745098% 67.843137%);
    --palJimSpecial-10: rgb(34.901961% 70.980392% 68.627451%);
    --palJimSpecial-11: rgb(42.745098% 78.039216% 69.411765%);
    --palJimSpecial-12: rgb(52.54902% 83.921569% 70.588235%);
    --palJimSpecial-13: rgb(63.921569% 89.019608% 74.117647%);
    --palJimSpecial-14: rgb(76.470588% 92.941176% 79.607843%);
    --palJimSpecial-15: rgb(88.627451% 96.470588% 88.235294%);
    --palJimSpecial-16: rgb(100% 100% 100%);
}
