/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLapaz-1: rgb(10.352% 4.7787% 39.353%);
    --palLapaz-2: rgb(10.489% 5.3521% 39.674%);
    --palLapaz-3: rgb(10.638% 5.9148% 39.996%);
    --palLapaz-4: rgb(10.772% 6.4483% 40.319%);
    --palLapaz-5: rgb(10.91% 6.976% 40.64%);
    --palLapaz-6: rgb(11.045% 7.4827% 40.961%);
    --palLapaz-7: rgb(11.175% 7.9829% 41.283%);
    --palLapaz-8: rgb(11.305% 8.4796% 41.603%);
    --palLapaz-9: rgb(11.424% 8.9643% 41.924%);
    --palLapaz-10: rgb(11.551% 9.4446% 42.243%);
    --palLapaz-11: rgb(11.673% 9.9126% 42.564%);
    --palLapaz-12: rgb(11.793% 10.381% 42.883%);
    --palLapaz-13: rgb(11.911% 10.838% 43.203%);
    --palLapaz-14: rgb(12.024% 11.303% 43.52%);
    --palLapaz-15: rgb(12.136% 11.751% 43.837%);
    --palLapaz-16: rgb(12.248% 12.198% 44.154%);
    --palLapaz-17: rgb(12.359% 12.648% 44.47%);
    --palLapaz-18: rgb(12.47% 13.094% 44.784%);
    --palLapaz-19: rgb(12.581% 13.532% 45.099%);
    --palLapaz-20: rgb(12.683% 13.967% 45.412%);
    --palLapaz-21: rgb(12.791% 14.407% 45.724%);
    --palLapaz-22: rgb(12.892% 14.838% 46.034%);
    --palLapaz-23: rgb(12.999% 15.27% 46.344%);
    --palLapaz-24: rgb(13.099% 15.701% 46.653%);
    --palLapaz-25: rgb(13.199% 16.132% 46.961%);
    --palLapaz-26: rgb(13.298% 16.553% 47.266%);
    --palLapaz-27: rgb(13.398% 16.983% 47.572%);
    --palLapaz-28: rgb(13.497% 17.405% 47.874%);
    --palLapaz-29: rgb(13.589% 17.829% 48.176%);
    --palLapaz-30: rgb(13.689% 18.246% 48.476%);
    --palLapaz-31: rgb(13.789% 18.667% 48.776%);
    --palLapaz-32: rgb(13.882% 19.085% 49.073%);
    --palLapaz-33: rgb(13.975% 19.504% 49.367%);
    --palLapaz-34: rgb(14.077% 19.918% 49.66%);
    --palLapaz-35: rgb(14.171% 20.336% 49.951%);
    --palLapaz-36: rgb(14.266% 20.751% 50.242%);
    --palLapaz-37: rgb(14.363% 21.165% 50.529%);
    --palLapaz-38: rgb(14.459% 21.578% 50.816%);
    --palLapaz-39: rgb(14.558% 21.989% 51.099%);
    --palLapaz-40: rgb(14.65% 22.398% 51.382%);
    --palLapaz-41: rgb(14.749% 22.811% 51.661%);
    --palLapaz-42: rgb(14.844% 23.22% 51.939%);
    --palLapaz-43: rgb(14.946% 23.628% 52.213%);
    --palLapaz-44: rgb(15.044% 24.033% 52.487%);
    --palLapaz-45: rgb(15.142% 24.44% 52.758%);
    --palLapaz-46: rgb(15.243% 24.849% 53.026%);
    --palLapaz-47: rgb(15.344% 25.253% 53.293%);
    --palLapaz-48: rgb(15.448% 25.657% 53.556%);
    --palLapaz-49: rgb(15.554% 26.061% 53.818%);
    --palLapaz-50: rgb(15.66% 26.464% 54.076%);
    --palLapaz-51: rgb(15.765% 26.868% 54.333%);
    --palLapaz-52: rgb(15.876% 27.268% 54.587%);
    --palLapaz-53: rgb(15.981% 27.67% 54.838%);
    --palLapaz-54: rgb(16.096% 28.068% 55.086%);
    --palLapaz-55: rgb(16.211% 28.467% 55.332%);
    --palLapaz-56: rgb(16.326% 28.867% 55.574%);
    --palLapaz-57: rgb(16.443% 29.264% 55.815%);
    --palLapaz-58: rgb(16.559% 29.662% 56.053%);
    --palLapaz-59: rgb(16.684% 30.057% 56.289%);
    --palLapaz-60: rgb(16.805% 30.453% 56.519%);
    --palLapaz-61: rgb(16.935% 30.849% 56.75%);
    --palLapaz-62: rgb(17.061% 31.241% 56.975%);
    --palLapaz-63: rgb(17.192% 31.636% 57.199%);
    --palLapaz-64: rgb(17.326% 32.029% 57.419%);
    --palLapaz-65: rgb(17.465% 32.419% 57.638%);
    --palLapaz-66: rgb(17.601% 32.81% 57.851%);
    --palLapaz-67: rgb(17.748% 33.201% 58.063%);
    --palLapaz-68: rgb(17.892% 33.59% 58.27%);
    --palLapaz-69: rgb(18.039% 33.979% 58.476%);
    --palLapaz-70: rgb(18.191% 34.365% 58.678%);
    --palLapaz-71: rgb(18.348% 34.753% 58.876%);
    --palLapaz-72: rgb(18.509% 35.138% 59.073%);
    --palLapaz-73: rgb(18.67% 35.524% 59.266%);
    --palLapaz-74: rgb(18.839% 35.907% 59.455%);
    --palLapaz-75: rgb(19.007% 36.29% 59.641%);
    --palLapaz-76: rgb(19.181% 36.673% 59.824%);
    --palLapaz-77: rgb(19.361% 37.054% 60.004%);
    --palLapaz-78: rgb(19.542% 37.436% 60.18%);
    --palLapaz-79: rgb(19.73% 37.814% 60.353%);
    --palLapaz-80: rgb(19.919% 38.193% 60.522%);
    --palLapaz-81: rgb(20.114% 38.57% 60.689%);
    --palLapaz-82: rgb(20.317% 38.948% 60.852%);
    --palLapaz-83: rgb(20.521% 39.324% 61.01%);
    --palLapaz-84: rgb(20.732% 39.698% 61.166%);
    --palLapaz-85: rgb(20.945% 40.074% 61.318%);
    --palLapaz-86: rgb(21.167% 40.445% 61.467%);
    --palLapaz-87: rgb(21.39% 40.817% 61.612%);
    --palLapaz-88: rgb(21.621% 41.188% 61.754%);
    --palLapaz-89: rgb(21.855% 41.558% 61.892%);
    --palLapaz-90: rgb(22.096% 41.927% 62.026%);
    --palLapaz-91: rgb(22.341% 42.293% 62.156%);
    --palLapaz-92: rgb(22.593% 42.66% 62.283%);
    --palLapaz-93: rgb(22.85% 43.025% 62.407%);
    --palLapaz-94: rgb(23.111% 43.388% 62.525%);
    --palLapaz-95: rgb(23.377% 43.753% 62.641%);
    --palLapaz-96: rgb(23.654% 44.113% 62.752%);
    --palLapaz-97: rgb(23.932% 44.474% 62.86%);
    --palLapaz-98: rgb(24.218% 44.832% 62.963%);
    --palLapaz-99: rgb(24.508% 45.19% 63.064%);
    --palLapaz-100: rgb(24.809% 45.546% 63.159%);
    --palLapaz-101: rgb(25.112% 45.9% 63.25%);
    --palLapaz-102: rgb(25.422% 46.252% 63.338%);
    --palLapaz-103: rgb(25.738% 46.604% 63.421%);
    --palLapaz-104: rgb(26.06% 46.955% 63.5%);
    --palLapaz-105: rgb(26.39% 47.302% 63.575%);
    --palLapaz-106: rgb(26.722% 47.649% 63.646%);
    --palLapaz-107: rgb(27.066% 47.994% 63.712%);
    --palLapaz-108: rgb(27.412% 48.336% 63.774%);
    --palLapaz-109: rgb(27.766% 48.677% 63.831%);
    --palLapaz-110: rgb(28.125% 49.016% 63.885%);
    --palLapaz-111: rgb(28.491% 49.353% 63.933%);
    --palLapaz-112: rgb(28.864% 49.688% 63.978%);
    --palLapaz-113: rgb(29.243% 50.02% 64.018%);
    --palLapaz-114: rgb(29.628% 50.351% 64.052%);
    --palLapaz-115: rgb(30.018% 50.679% 64.083%);
    --palLapaz-116: rgb(30.415% 51.005% 64.108%);
    --palLapaz-117: rgb(30.818% 51.329% 64.13%);
    --palLapaz-118: rgb(31.225% 51.649% 64.146%);
    --palLapaz-119: rgb(31.642% 51.968% 64.158%);
    --palLapaz-120: rgb(32.063% 52.284% 64.165%);
    --palLapaz-121: rgb(32.486% 52.597% 64.168%);
    --palLapaz-122: rgb(32.92% 52.907% 64.166%);
    --palLapaz-123: rgb(33.356% 53.214% 64.158%);
    --palLapaz-124: rgb(33.797% 53.517% 64.147%);
    --palLapaz-125: rgb(34.246% 53.819% 64.13%);
    --palLapaz-126: rgb(34.698% 54.115% 64.109%);
    --palLapaz-127: rgb(35.154% 54.41% 64.083%);
    --palLapaz-128: rgb(35.617% 54.701% 64.052%);
    --palLapaz-129: rgb(36.082% 54.989% 64.017%);
    --palLapaz-130: rgb(36.554% 55.273% 63.977%);
    --palLapaz-131: rgb(37.029% 55.553% 63.932%);
    --palLapaz-132: rgb(37.509% 55.83% 63.882%);
    --palLapaz-133: rgb(37.993% 56.104% 63.828%);
    --palLapaz-134: rgb(38.48% 56.374% 63.77%);
    --palLapaz-135: rgb(38.971% 56.639% 63.707%);
    --palLapaz-136: rgb(39.466% 56.9% 63.64%);
    --palLapaz-137: rgb(39.963% 57.158% 63.567%);
    --palLapaz-138: rgb(40.464% 57.411% 63.491%);
    --palLapaz-139: rgb(40.97% 57.662% 63.412%);
    --palLapaz-140: rgb(41.476% 57.907% 63.327%);
    --palLapaz-141: rgb(41.986% 58.148% 63.238%);
    --palLapaz-142: rgb(42.498% 58.386% 63.146%);
    --palLapaz-143: rgb(43.012% 58.619% 63.051%);
    --palLapaz-144: rgb(43.529% 58.847% 62.95%);
    --palLapaz-145: rgb(44.047% 59.072% 62.848%);
    --palLapaz-146: rgb(44.567% 59.294% 62.741%);
    --palLapaz-147: rgb(45.09% 59.51% 62.631%);
    --palLapaz-148: rgb(45.613% 59.723% 62.518%);
    --palLapaz-149: rgb(46.139% 59.931% 62.402%);
    --palLapaz-150: rgb(46.666% 60.135% 62.283%);
    --palLapaz-151: rgb(47.194% 60.335% 62.161%);
    --palLapaz-152: rgb(47.722% 60.531% 62.039%);
    --palLapaz-153: rgb(48.252% 60.725% 61.913%);
    --palLapaz-154: rgb(48.784% 60.914% 61.784%);
    --palLapaz-155: rgb(49.315% 61.099% 61.655%);
    --palLapaz-156: rgb(49.849% 61.279% 61.523%);
    --palLapaz-157: rgb(50.382% 61.458% 61.39%);
    --palLapaz-158: rgb(50.917% 61.633% 61.257%);
    --palLapaz-159: rgb(51.452% 61.805% 61.123%);
    --palLapaz-160: rgb(51.987% 61.974% 60.988%);
    --palLapaz-161: rgb(52.524% 62.14% 60.853%);
    --palLapaz-162: rgb(53.062% 62.303% 60.718%);
    --palLapaz-163: rgb(53.6% 62.464% 60.582%);
    --palLapaz-164: rgb(54.139% 62.623% 60.448%);
    --palLapaz-165: rgb(54.681% 62.78% 60.314%);
    --palLapaz-166: rgb(55.222% 62.935% 60.182%);
    --palLapaz-167: rgb(55.765% 63.089% 60.051%);
    --palLapaz-168: rgb(56.309% 63.241% 59.923%);
    --palLapaz-169: rgb(56.854% 63.393% 59.796%);
    --palLapaz-170: rgb(57.402% 63.543% 59.673%);
    --palLapaz-171: rgb(57.952% 63.694% 59.553%);
    --palLapaz-172: rgb(58.503% 63.844% 59.436%);
    --palLapaz-173: rgb(59.056% 63.995% 59.324%);
    --palLapaz-174: rgb(59.612% 64.146% 59.217%);
    --palLapaz-175: rgb(60.17% 64.299% 59.114%);
    --palLapaz-176: rgb(60.733% 64.453% 59.016%);
    --palLapaz-177: rgb(61.297% 64.609% 58.925%);
    --palLapaz-178: rgb(61.866% 64.767% 58.841%);
    --palLapaz-179: rgb(62.438% 64.929% 58.765%);
    --palLapaz-180: rgb(63.014% 65.093% 58.696%);
    --palLapaz-181: rgb(63.594% 65.26% 58.636%);
    --palLapaz-182: rgb(64.179% 65.432% 58.586%);
    --palLapaz-183: rgb(64.769% 65.61% 58.545%);
    --palLapaz-184: rgb(65.365% 65.791% 58.514%);
    --palLapaz-185: rgb(65.966% 65.978% 58.495%);
    --palLapaz-186: rgb(66.573% 66.172% 58.488%);
    --palLapaz-187: rgb(67.185% 66.373% 58.495%);
    --palLapaz-188: rgb(67.805% 66.58% 58.515%);
    --palLapaz-189: rgb(68.43% 66.795% 58.549%);
    --palLapaz-190: rgb(69.062% 67.019% 58.599%);
    --palLapaz-191: rgb(69.702% 67.251% 58.664%);
    --palLapaz-192: rgb(70.348% 67.492% 58.747%);
    --palLapaz-193: rgb(71.002% 67.743% 58.847%);
    --palLapaz-194: rgb(71.662% 68.003% 58.967%);
    --palLapaz-195: rgb(72.329% 68.276% 59.106%);
    --palLapaz-196: rgb(73.003% 68.559% 59.265%);
    --palLapaz-197: rgb(73.684% 68.853% 59.444%);
    --palLapaz-198: rgb(74.371% 69.159% 59.646%);
    --palLapaz-199: rgb(75.064% 69.476% 59.869%);
    --palLapaz-200: rgb(75.762% 69.806% 60.115%);
    --palLapaz-201: rgb(76.465% 70.148% 60.385%);
    --palLapaz-202: rgb(77.173% 70.503% 60.677%);
    --palLapaz-203: rgb(77.884% 70.871% 60.994%);
    --palLapaz-204: rgb(78.598% 71.249% 61.334%);
    --palLapaz-205: rgb(79.313% 71.641% 61.7%);
    --palLapaz-206: rgb(80.029% 72.043% 62.089%);
    --palLapaz-207: rgb(80.745% 72.458% 62.501%);
    --palLapaz-208: rgb(81.459% 72.884% 62.938%);
    --palLapaz-209: rgb(82.171% 73.321% 63.398%);
    --palLapaz-210: rgb(82.878% 73.767% 63.88%);
    --palLapaz-211: rgb(83.58% 74.224% 64.385%);
    --palLapaz-212: rgb(84.275% 74.689% 64.912%);
    --palLapaz-213: rgb(84.963% 75.162% 65.458%);
    --palLapaz-214: rgb(85.64% 75.642% 66.025%);
    --palLapaz-215: rgb(86.308% 76.129% 66.61%);
    --palLapaz-216: rgb(86.964% 76.622% 67.213%);
    --palLapaz-217: rgb(87.606% 77.12% 67.832%);
    --palLapaz-218: rgb(88.235% 77.622% 68.466%);
    --palLapaz-219: rgb(88.848% 78.127% 69.113%);
    --palLapaz-220: rgb(89.445% 78.634% 69.774%);
    --palLapaz-221: rgb(90.025% 79.142% 70.446%);
    --palLapaz-222: rgb(90.588% 79.651% 71.129%);
    --palLapaz-223: rgb(91.132% 80.161% 71.82%);
    --palLapaz-224: rgb(91.657% 80.67% 72.519%);
    --palLapaz-225: rgb(92.163% 81.176% 73.224%);
    --palLapaz-226: rgb(92.649% 81.681% 73.935%);
    --palLapaz-227: rgb(93.115% 82.184% 74.65%);
    --palLapaz-228: rgb(93.562% 82.683% 75.368%);
    --palLapaz-229: rgb(93.989% 83.179% 76.09%);
    --palLapaz-230: rgb(94.396% 83.671% 76.812%);
    --palLapaz-231: rgb(94.784% 84.159% 77.536%);
    --palLapaz-232: rgb(95.153% 84.642% 78.261%);
    --palLapaz-233: rgb(95.503% 85.12% 78.985%);
    --palLapaz-234: rgb(95.835% 85.595% 79.708%);
    --palLapaz-235: rgb(96.148% 86.064% 80.431%);
    --palLapaz-236: rgb(96.444% 86.528% 81.152%);
    --palLapaz-237: rgb(96.724% 86.987% 81.87%);
    --palLapaz-238: rgb(96.988% 87.442% 82.587%);
    --palLapaz-239: rgb(97.236% 87.892% 83.302%);
    --palLapaz-240: rgb(97.468% 88.337% 84.014%);
    --palLapaz-241: rgb(97.687% 88.777% 84.724%);
    --palLapaz-242: rgb(97.893% 89.214% 85.431%);
    --palLapaz-243: rgb(98.085% 89.646% 86.136%);
    --palLapaz-244: rgb(98.265% 90.074% 86.839%);
    --palLapaz-245: rgb(98.434% 90.498% 87.538%);
    --palLapaz-246: rgb(98.591% 90.918% 88.236%);
    --palLapaz-247: rgb(98.739% 91.335% 88.932%);
    --palLapaz-248: rgb(98.876% 91.75% 89.625%);
    --palLapaz-249: rgb(99.005% 92.161% 90.317%);
    --palLapaz-250: rgb(99.126% 92.569% 91.007%);
    --palLapaz-251: rgb(99.239% 92.975% 91.695%);
    --palLapaz-252: rgb(99.344% 93.379% 92.382%);
    --palLapaz-253: rgb(99.443% 93.782% 93.068%);
    --palLapaz-254: rgb(99.536% 94.182% 93.753%);
    --palLapaz-255: rgb(99.624% 94.581% 94.437%);
    --palLapaz-256: rgb(99.706% 94.979% 95.121%);
}
