/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palLilac-1: rgb(0% 0% 0%);
    --palLilac-2: rgb(0.012858% 0.021766% 0.021156%);
    --palLilac-3: rgb(0.041099% 0.076694% 0.075465%);
    --palLilac-4: rgb(0.0785% 0.161147% 0.161029%);
    --palLilac-5: rgb(0.121594% 0.27371% 0.278459%);
    --palLilac-6: rgb(0.167939% 0.413528% 0.429175%);
    --palLilac-7: rgb(0.215678% 0.579988% 0.615035%);
    --palLilac-8: rgb(0.263347% 0.772596% 0.838176%);
    --palLilac-9: rgb(0.309772% 0.990921% 1.100946%);
    --palLilac-10: rgb(0.353998% 1.234573% 1.405851%);
    --palLilac-11: rgb(0.395245% 1.503181% 1.755535%);
    --palLilac-12: rgb(0.432876% 1.796386% 2.15276%);
    --palLilac-13: rgb(0.466381% 2.113834% 2.600398%);
    --palLilac-14: rgb(0.495337% 2.455173% 3.10144%);
    --palLilac-15: rgb(0.519415% 2.820047% 3.658987%);
    --palLilac-16: rgb(0.538382% 3.208089% 4.268668%);
    --palLilac-17: rgb(0.552053% 3.618928% 4.888432%);
    --palLilac-18: rgb(0.560335% 4.05205% 5.513989%);
    --palLilac-19: rgb(0.563188% 4.48536% 6.145669%);
    --palLilac-20: rgb(0.560652% 4.912638% 6.783751%);
    --palLilac-21: rgb(0.552818% 5.334114% 7.428501%);
    --palLilac-22: rgb(0.539867% 5.74997% 8.080134%);
    --palLilac-23: rgb(0.522026% 6.160362% 8.738876%);
    --palLilac-24: rgb(0.499613% 6.565409% 9.404914%);
    --palLilac-25: rgb(0.473017% 6.965208% 10.078425%);
    --palLilac-26: rgb(0.442704% 7.359828% 10.75958%);
    --palLilac-27: rgb(0.40923% 7.749316% 11.448526%);
    --palLilac-28: rgb(0.37324% 8.1337% 12.145403%);
    --palLilac-29: rgb(0.335472% 8.512986% 12.850342%);
    --palLilac-30: rgb(0.29677% 8.887163% 13.563456%);
    --palLilac-31: rgb(0.258083% 9.256201% 14.284848%);
    --palLilac-32: rgb(0.220478% 9.620055% 15.014607%);
    --palLilac-33: rgb(0.185148% 9.978663% 15.752804%);
    --palLilac-34: rgb(0.153407% 10.331948% 16.499505%);
    --palLilac-35: rgb(0.126725% 10.679816% 17.25474%);
    --palLilac-36: rgb(0.106713% 11.022161% 18.01853%);
    --palLilac-37: rgb(0.095132% 11.35886% 18.790886%);
    --palLilac-38: rgb(0.093936% 11.689778% 19.571763%);
    --palLilac-39: rgb(0.105235% 12.014767% 20.361121%);
    --palLilac-40: rgb(0.131345% 12.333664% 21.158868%);
    --palLilac-41: rgb(0.174778% 12.646294% 21.964885%);
    --palLilac-42: rgb(0.238256% 12.95247% 22.779019%);
    --palLilac-43: rgb(0.324734% 13.251995% 23.601061%);
    --palLilac-44: rgb(0.437395% 13.544661% 24.43076%);
    --palLilac-45: rgb(0.579664% 13.830251% 25.267825%);
    --palLilac-46: rgb(0.755234% 14.108542% 26.111864%);
    --palLilac-47: rgb(0.968047% 14.379304% 26.96246%);
    --palLilac-48: rgb(1.222317% 14.642301% 27.819109%);
    --palLilac-49: rgb(1.522536% 14.897305% 28.681198%);
    --palLilac-50: rgb(1.873464% 15.144086% 29.548041%);
    --palLilac-51: rgb(2.280128% 15.382422% 30.418849%);
    --palLilac-52: rgb(2.747816% 15.612104% 31.292718%);
    --palLilac-53: rgb(3.282058% 15.832942% 32.168623%);
    --palLilac-54: rgb(3.888601% 16.044773% 33.045402%);
    --palLilac-55: rgb(4.545965% 16.247469% 33.921751%);
    --palLilac-56: rgb(5.218104% 16.440942% 34.79622%);
    --palLilac-57: rgb(5.905492% 16.625151% 35.667237%);
    --palLilac-58: rgb(6.607633% 16.80014% 36.532997%);
    --palLilac-59: rgb(7.323974% 16.966008% 37.391605%);
    --palLilac-60: rgb(8.05384% 17.122954% 38.240984%);
    --palLilac-61: rgb(8.796447% 17.271268% 39.078934%);
    --palLilac-62: rgb(9.550864% 17.411362% 39.903108%);
    --palLilac-63: rgb(10.316069% 17.543745% 40.711111%);
    --palLilac-64: rgb(11.090871% 17.669068% 41.500448%);
    --palLilac-65: rgb(11.873972% 17.788098% 42.268627%);
    --palLilac-66: rgb(12.663965% 17.901717% 43.013197%);
    --palLilac-67: rgb(13.459355% 18.010918% 43.7318%);
    --palLilac-68: rgb(14.258579% 18.116785% 44.422235%);
    --palLilac-69: rgb(15.060037% 18.220469% 45.082509%);
    --palLilac-70: rgb(15.862128% 18.323167% 45.710897%);
    --palLilac-71: rgb(16.663287% 18.426084% 46.305986%);
    --palLilac-72: rgb(17.462016% 18.530403% 46.86671%);
    --palLilac-73: rgb(18.256919% 18.637258% 47.392364%);
    --palLilac-74: rgb(19.046725% 18.7477% 47.882612%);
    --palLilac-75: rgb(19.830297% 18.862681% 48.33747%);
    --palLilac-76: rgb(20.606654% 18.983035% 48.757289%);
    --palLilac-77: rgb(21.375006% 19.109448% 49.142725%);
    --palLilac-78: rgb(22.134673% 19.242494% 49.494683%);
    --palLilac-79: rgb(22.885169% 19.382593% 49.814286%);
    --palLilac-80: rgb(23.626114% 19.530053% 50.102829%);
    --palLilac-81: rgb(24.357299% 19.685044% 50.361724%);
    --palLilac-82: rgb(25.078571% 19.847655% 50.592476%);
    --palLilac-83: rgb(25.789903% 20.017871% 50.796639%);
    --palLilac-84: rgb(26.491355% 20.195595% 50.975776%);
    --palLilac-85: rgb(27.183039% 20.380675% 51.131451%);
    --palLilac-86: rgb(27.865122% 20.572907% 51.265195%);
    --palLilac-87: rgb(28.537808% 20.772051% 51.378498%);
    --palLilac-88: rgb(29.201305% 20.977852% 51.472812%);
    --palLilac-89: rgb(29.855902% 21.190012% 51.549484%);
    --palLilac-90: rgb(30.501867% 21.40824% 51.609812%);
    --palLilac-91: rgb(31.13944% 21.632253% 51.655055%);
    --palLilac-92: rgb(31.768941% 21.861743% 51.686328%);
    --palLilac-93: rgb(32.390616% 22.096436% 51.70474%);
    --palLilac-94: rgb(33.004742% 22.336053% 51.711295%);
    --palLilac-95: rgb(33.611597% 22.580327% 51.706917%);
    --palLilac-96: rgb(34.211431% 22.82901% 51.692483%);
    --palLilac-97: rgb(34.804486% 23.081868% 51.668805%);
    --palLilac-98: rgb(35.390997% 23.338683% 51.636633%);
    --palLilac-99: rgb(35.971186% 23.599252% 51.59666%);
    --palLilac-100: rgb(36.545269% 23.863384% 51.549521%);
    --palLilac-101: rgb(37.113448% 24.130909% 51.495802%);
    --palLilac-102: rgb(37.675916% 24.401666% 51.436039%);
    --palLilac-103: rgb(38.232854% 24.675512% 51.370727%);
    --palLilac-104: rgb(38.784431% 24.952316% 51.300315%);
    --palLilac-105: rgb(39.330788% 25.231966% 51.225259%);
    --palLilac-106: rgb(39.872081% 25.514354% 51.145925%);
    --palLilac-107: rgb(40.408461% 25.799384% 51.062639%);
    --palLilac-108: rgb(40.940019% 26.086981% 50.975804%);
    --palLilac-109: rgb(41.46691% 26.377063% 50.885634%);
    --palLilac-110: rgb(41.989211% 26.669575% 50.79248%);
    --palLilac-111: rgb(42.50705% 26.964456% 50.696524%);
    --palLilac-112: rgb(43.020489% 27.261664% 50.598078%);
    --palLilac-113: rgb(43.529635% 27.561157% 50.497293%);
    --palLilac-114: rgb(44.03456% 27.862901% 50.394381%);
    --palLilac-115: rgb(44.535318% 28.166873% 50.289564%);
    --palLilac-116: rgb(45.031989% 28.473049% 50.182966%);
    --palLilac-117: rgb(45.524626% 28.781414% 50.074746%);
    --palLilac-118: rgb(46.013276% 29.091958% 49.965062%);
    --palLilac-119: rgb(46.497978% 29.404673% 49.854065%);
    --palLilac-120: rgb(46.97878% 29.719556% 49.741853%);
    --palLilac-121: rgb(47.455714% 30.036608% 49.628544%);
    --palLilac-122: rgb(47.928811% 30.355832% 49.514246%);
    --palLilac-123: rgb(48.398095% 30.677235% 49.399061%);
    --palLilac-124: rgb(48.863588% 31.000824% 49.283083%);
    --palLilac-125: rgb(49.325306% 31.326611% 49.1664%);
    --palLilac-126: rgb(49.783264% 31.654608% 49.049093%);
    --palLilac-127: rgb(50.237472% 31.984829% 48.931239%);
    --palLilac-128: rgb(50.687939% 32.31729% 48.812908%);
    --palLilac-129: rgb(51.13467% 32.652007% 48.694166%);
    --palLilac-130: rgb(51.577668% 32.988998% 48.575075%);
    --palLilac-131: rgb(52.016933% 33.328282% 48.45569%);
    --palLilac-132: rgb(52.452456% 33.669875% 48.336105%);
    --palLilac-133: rgb(52.884242% 34.013798% 48.216335%);
    --palLilac-134: rgb(53.312284% 34.360072% 48.09642%);
    --palLilac-135: rgb(53.736577% 34.708716% 47.976398%);
    --palLilac-136: rgb(54.157104% 35.059749% 47.856358%);
    --palLilac-137: rgb(54.573862% 35.413191% 47.736299%);
    --palLilac-138: rgb(54.98684% 35.769067% 47.616226%);
    --palLilac-139: rgb(55.396019% 36.127392% 47.496233%);
    --palLilac-140: rgb(55.801388% 36.48819% 47.376289%);
    --palLilac-141: rgb(56.202932% 36.851484% 47.256415%);
    --palLilac-142: rgb(56.600627% 37.217291% 47.136668%);
    --palLilac-143: rgb(56.994457% 37.585641% 47.016985%);
    --palLilac-144: rgb(57.384395% 37.95655% 46.897459%);
    --palLilac-145: rgb(57.770417% 38.33005% 46.778003%);
    --palLilac-146: rgb(58.152491% 38.706161% 46.65868%);
    --palLilac-147: rgb(58.530584% 39.084913% 46.53945%);
    --palLilac-148: rgb(58.904656% 39.466342% 46.420267%);
    --palLilac-149: rgb(59.274663% 39.850465% 46.30123%);
    --palLilac-150: rgb(59.640555% 40.237329% 46.182212%);
    --palLilac-151: rgb(60.002274% 40.626973% 46.063205%);
    --palLilac-152: rgb(60.359757% 41.019424% 45.944276%);
    --palLilac-153: rgb(60.712931% 41.414733% 45.825355%);
    --palLilac-154: rgb(61.061711% 41.81295% 45.706416%);
    --palLilac-155: rgb(61.406005% 42.214125% 45.587458%);
    --palLilac-156: rgb(61.745712% 42.618311% 45.468485%);
    --palLilac-157: rgb(62.080717% 43.025566% 45.349513%);
    --palLilac-158: rgb(62.410898% 43.435947% 45.230587%);
    --palLilac-159: rgb(62.736116% 43.849523% 45.11172%);
    --palLilac-160: rgb(63.056222% 44.266364% 44.992954%);
    --palLilac-161: rgb(63.371055% 44.686539% 44.874358%);
    --palLilac-162: rgb(63.680444% 45.110123% 44.756019%);
    --palLilac-163: rgb(63.984214% 45.53718% 44.63809%);
    --palLilac-164: rgb(64.282173% 45.967788% 44.520686%);
    --palLilac-165: rgb(64.574121% 46.402021% 44.403961%);
    --palLilac-166: rgb(64.859855% 46.839951% 44.288101%);
    --palLilac-167: rgb(65.139168% 47.281645% 44.173316%);
    --palLilac-168: rgb(65.411849% 47.727168% 44.059844%);
    --palLilac-169: rgb(65.677727% 48.176543% 43.948081%);
    --palLilac-170: rgb(65.936582% 48.629838% 43.838237%);
    --palLilac-171: rgb(66.188213% 49.087101% 43.730585%);
    --palLilac-172: rgb(66.432472% 49.548331% 43.625567%);
    --palLilac-173: rgb(66.669203% 50.013537% 43.523547%);
    --palLilac-174: rgb(66.898219% 50.482757% 43.424756%);
    --palLilac-175: rgb(67.11949% 50.955903% 43.329818%);
    --palLilac-176: rgb(67.332833% 51.433018% 43.23886%);
    --palLilac-177: rgb(67.538253% 51.914% 43.152438%);
    --palLilac-178: rgb(67.735649% 52.398835% 43.070759%);
    --palLilac-179: rgb(67.925079% 52.887401% 42.994315%);
    --palLilac-180: rgb(68.106464% 53.379682% 42.923215%);
    --palLilac-181: rgb(68.279988% 53.875482% 42.858018%);
    --palLilac-182: rgb(68.445579% 54.374795% 42.798698%);
    --palLilac-183: rgb(68.603409% 54.877454% 42.74561%);
    --palLilac-184: rgb(68.753601% 55.383336% 42.698932%);
    --palLilac-185: rgb(68.896212% 55.892366% 42.658666%);
    --palLilac-186: rgb(69.031434% 56.404392% 42.624972%);
    --palLilac-187: rgb(69.159481% 56.919255% 42.597966%);
    --palLilac-188: rgb(69.280424% 57.436893% 42.577509%);
    --palLilac-189: rgb(69.394432% 57.957187% 42.563569%);
    --palLilac-190: rgb(69.501674% 58.480024% 42.556072%);
    --palLilac-191: rgb(69.602402% 59.005249% 42.55501%);
    --palLilac-192: rgb(69.6967% 59.532809% 42.560152%);
    --palLilac-193: rgb(69.784698% 60.062624% 42.571308%);
    --palLilac-194: rgb(69.86653% 60.594618% 42.588291%);
    --palLilac-195: rgb(69.942318% 61.12872% 42.61089%);
    --palLilac-196: rgb(70.012165% 61.664872% 42.638882%);
    --palLilac-197: rgb(70.076161% 62.203026% 42.672032%);
    --palLilac-198: rgb(70.134373% 62.743142% 42.710097%);
    --palLilac-199: rgb(70.186853% 63.285192% 42.752827%);
    --palLilac-200: rgb(70.233631% 63.829154% 42.799973%);
    --palLilac-201: rgb(70.274718% 64.375019% 42.851284%);
    --palLilac-202: rgb(70.310108% 64.922781% 42.906514%);
    --palLilac-203: rgb(70.339772% 65.472445% 42.965419%);
    --palLilac-204: rgb(70.363665% 66.024022% 43.027762%);
    --palLilac-205: rgb(70.381722% 66.577528% 43.093314%);
    --palLilac-206: rgb(70.393861% 67.132987% 43.161853%);
    --palLilac-207: rgb(70.400025% 67.690407% 43.233194%);
    --palLilac-208: rgb(70.400197% 68.249775% 43.307201%);
    --palLilac-209: rgb(70.394128% 68.811181% 43.383596%);
    --palLilac-210: rgb(70.381672% 69.374666% 43.462192%);
    --palLilac-211: rgb(70.362664% 69.940272% 43.542813%);
    --palLilac-212: rgb(70.336988% 70.508018% 43.625332%);
    --palLilac-213: rgb(70.304636% 71.077874% 43.709705%);
    --palLilac-214: rgb(70.265185% 71.649985% 43.795642%);
    --palLilac-215: rgb(70.218412% 72.224403% 43.883003%);
    --palLilac-216: rgb(70.16428% 72.801098% 43.971771%);
    --palLilac-217: rgb(70.102572% 73.380117% 44.061834%);
    --palLilac-218: rgb(70.032828% 73.961595% 44.152957%);
    --palLilac-219: rgb(69.954953% 74.545518% 44.245132%);
    --palLilac-220: rgb(69.868817% 75.13188% 44.338335%);
    --palLilac-221: rgb(69.773805% 75.720865% 44.432297%);
    --palLilac-222: rgb(69.669961% 76.312392% 44.527116%);
    --palLilac-223: rgb(69.556857% 76.906557% 44.622647%);
    --palLilac-224: rgb(69.433963% 77.503489% 44.718714%);
    --palLilac-225: rgb(69.301515% 78.103028% 44.815534%);
    --palLilac-226: rgb(69.158502% 78.705467% 44.912718%);
    --palLilac-227: rgb(69.005138% 79.310645% 45.010488%);
    --palLilac-228: rgb(68.84062% 79.918764% 45.108588%);
    --palLilac-229: rgb(68.66483% 80.529774% 45.207097%);
    --palLilac-230: rgb(68.477216% 81.143772% 45.305907%);
    --palLilac-231: rgb(68.27741% 81.760782% 45.405003%);
    --palLilac-232: rgb(68.064946% 82.380858% 45.504339%);
    --palLilac-233: rgb(67.839375% 83.004037% 45.603889%);
    --palLilac-234: rgb(67.60012% 83.630393% 45.703585%);
    --palLilac-235: rgb(67.346851% 84.259909% 45.803475%);
    --palLilac-236: rgb(67.078652% 84.892748% 45.903379%);
    --palLilac-237: rgb(66.795537% 85.528768% 46.003507%);
    --palLilac-238: rgb(66.496079% 86.168269% 46.103512%);
    --palLilac-239: rgb(66.18064% 86.810988% 46.203758%);
    --palLilac-240: rgb(65.847638% 87.457242% 46.30388%);
    --palLilac-241: rgb(65.496779% 88.106945% 46.404018%);
    --palLilac-242: rgb(65.127382% 88.76012% 46.504181%);
    --palLilac-243: rgb(64.738043% 89.416975% 46.604145%);
    --palLilac-244: rgb(64.328861% 90.077285% 46.704227%);
    --palLilac-245: rgb(63.898121% 90.741312% 46.80414%);
    --palLilac-246: rgb(63.444716% 91.409125% 46.903838%);
    --palLilac-247: rgb(62.968624% 92.080495% 47.00364%);
    --palLilac-248: rgb(62.46762% 92.755747% 47.103187%);
    --palLilac-249: rgb(61.940472% 93.434919% 47.202476%);
    --palLilac-250: rgb(61.387% 94.11777% 47.301835%);
    --palLilac-251: rgb(60.804612% 94.804626% 47.400913%);
    --palLilac-252: rgb(60.191719% 95.49553% 47.499701%);
    --palLilac-253: rgb(59.547437% 96.190331% 47.598418%);
    --palLilac-254: rgb(58.869458% 96.889176% 47.69693%);
    --palLilac-255: rgb(58.155331% 97.592194% 47.79513%);
    --palLilac-256: rgb(57.402763% 98.299425% 47.893009%);
}
