/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLOrangesat1-1: rgb(71.484375% 23.4375% 1.171875%);
    --palLOrangesat1-2: rgb(71.875% 23.828125% 1.171875%);
    --palLOrangesat1-3: rgb(72.265625% 24.21875% 1.171875%);
    --palLOrangesat1-4: rgb(72.65625% 24.609375% 1.171875%);
    --palLOrangesat1-5: rgb(72.65625% 24.609375% 1.171875%);
    --palLOrangesat1-6: rgb(73.046875% 25% 1.171875%);
    --palLOrangesat1-7: rgb(73.4375% 25.390625% 1.171875%);
    --palLOrangesat1-8: rgb(73.828125% 25.78125% 1.171875%);
    --palLOrangesat1-9: rgb(73.828125% 26.171875% 1.171875%);
    --palLOrangesat1-10: rgb(74.21875% 26.171875% 1.171875%);
    --palLOrangesat1-11: rgb(74.609375% 26.5625% 1.171875%);
    --palLOrangesat1-12: rgb(75% 26.953125% 1.171875%);
    --palLOrangesat1-13: rgb(75.390625% 27.34375% 1.171875%);
    --palLOrangesat1-14: rgb(75.390625% 27.734375% 1.171875%);
    --palLOrangesat1-15: rgb(75.78125% 27.734375% 1.171875%);
    --palLOrangesat1-16: rgb(76.171875% 28.125% 1.171875%);
    --palLOrangesat1-17: rgb(76.5625% 28.515625% 1.171875%);
    --palLOrangesat1-18: rgb(76.953125% 28.90625% 1.171875%);
    --palLOrangesat1-19: rgb(77.34375% 29.296875% 1.171875%);
    --palLOrangesat1-20: rgb(77.34375% 29.296875% 1.171875%);
    --palLOrangesat1-21: rgb(77.734375% 29.6875% 1.171875%);
    --palLOrangesat1-22: rgb(78.125% 30.078125% 1.5625%);
    --palLOrangesat1-23: rgb(78.515625% 30.46875% 1.5625%);
    --palLOrangesat1-24: rgb(78.90625% 30.859375% 1.5625%);
    --palLOrangesat1-25: rgb(78.90625% 30.859375% 1.5625%);
    --palLOrangesat1-26: rgb(79.296875% 31.25% 1.5625%);
    --palLOrangesat1-27: rgb(79.6875% 31.640625% 1.5625%);
    --palLOrangesat1-28: rgb(80.078125% 32.03125% 1.5625%);
    --palLOrangesat1-29: rgb(80.078125% 32.421875% 1.5625%);
    --palLOrangesat1-30: rgb(80.46875% 32.421875% 1.5625%);
    --palLOrangesat1-31: rgb(80.859375% 32.8125% 1.5625%);
    --palLOrangesat1-32: rgb(81.25% 33.203125% 1.5625%);
    --palLOrangesat1-33: rgb(81.640625% 33.59375% 1.5625%);
    --palLOrangesat1-34: rgb(81.640625% 33.984375% 1.5625%);
    --palLOrangesat1-35: rgb(82.03125% 33.984375% 1.5625%);
    --palLOrangesat1-36: rgb(82.421875% 34.375% 1.171875%);
    --palLOrangesat1-37: rgb(82.421875% 34.765625% 1.171875%);
    --palLOrangesat1-38: rgb(82.8125% 35.15625% 1.171875%);
    --palLOrangesat1-39: rgb(83.203125% 35.546875% 1.171875%);
    --palLOrangesat1-40: rgb(83.203125% 35.546875% 1.171875%);
    --palLOrangesat1-41: rgb(83.59375% 35.9375% 1.171875%);
    --palLOrangesat1-42: rgb(83.59375% 36.328125% 1.171875%);
    --palLOrangesat1-43: rgb(83.984375% 36.71875% 1.171875%);
    --palLOrangesat1-44: rgb(84.375% 37.109375% 1.171875%);
    --palLOrangesat1-45: rgb(84.375% 37.5% 1.171875%);
    --palLOrangesat1-46: rgb(84.765625% 37.5% 1.171875%);
    --palLOrangesat1-47: rgb(85.15625% 37.890625% 1.171875%);
    --palLOrangesat1-48: rgb(85.15625% 38.28125% 1.171875%);
    --palLOrangesat1-49: rgb(85.546875% 38.671875% 1.171875%);
    --palLOrangesat1-50: rgb(85.9375% 39.0625% 1.171875%);
    --palLOrangesat1-51: rgb(85.9375% 39.0625% 1.171875%);
    --palLOrangesat1-52: rgb(86.328125% 39.453125% 1.171875%);
    --palLOrangesat1-53: rgb(86.328125% 39.84375% 0.78125%);
    --palLOrangesat1-54: rgb(86.71875% 40.234375% 0.78125%);
    --palLOrangesat1-55: rgb(87.109375% 40.625% 0.78125%);
    --palLOrangesat1-56: rgb(87.109375% 40.625% 0.78125%);
    --palLOrangesat1-57: rgb(87.5% 41.015625% 0.78125%);
    --palLOrangesat1-58: rgb(87.890625% 41.40625% 0.78125%);
    --palLOrangesat1-59: rgb(87.890625% 41.796875% 0.78125%);
    --palLOrangesat1-60: rgb(88.28125% 42.1875% 0.78125%);
    --palLOrangesat1-61: rgb(88.671875% 42.578125% 0.78125%);
    --palLOrangesat1-62: rgb(88.671875% 42.578125% 0.78125%);
    --palLOrangesat1-63: rgb(89.0625% 42.96875% 0.78125%);
    --palLOrangesat1-64: rgb(89.453125% 43.359375% 0.78125%);
    --palLOrangesat1-65: rgb(89.453125% 43.75% 0.78125%);
    --palLOrangesat1-66: rgb(89.453125% 44.140625% 0.78125%);
    --palLOrangesat1-67: rgb(89.84375% 44.53125% 0.78125%);
    --palLOrangesat1-68: rgb(89.84375% 44.921875% 1.171875%);
    --palLOrangesat1-69: rgb(89.84375% 44.921875% 1.171875%);
    --palLOrangesat1-70: rgb(89.84375% 45.3125% 1.171875%);
    --palLOrangesat1-71: rgb(89.84375% 45.703125% 1.5625%);
    --palLOrangesat1-72: rgb(90.234375% 46.09375% 1.5625%);
    --palLOrangesat1-73: rgb(90.234375% 46.484375% 1.5625%);
    --palLOrangesat1-74: rgb(90.234375% 46.875% 1.953125%);
    --palLOrangesat1-75: rgb(90.234375% 47.265625% 1.953125%);
    --palLOrangesat1-76: rgb(90.625% 47.65625% 1.953125%);
    --palLOrangesat1-77: rgb(90.625% 48.046875% 1.953125%);
    --palLOrangesat1-78: rgb(90.625% 48.046875% 2.34375%);
    --palLOrangesat1-79: rgb(90.625% 48.4375% 2.34375%);
    --palLOrangesat1-80: rgb(91.015625% 48.828125% 2.34375%);
    --palLOrangesat1-81: rgb(91.015625% 49.21875% 2.734375%);
    --palLOrangesat1-82: rgb(91.015625% 49.609375% 2.734375%);
    --palLOrangesat1-83: rgb(91.015625% 50% 2.734375%);
    --palLOrangesat1-84: rgb(91.40625% 50.390625% 3.125%);
    --palLOrangesat1-85: rgb(91.40625% 50.78125% 3.125%);
    --palLOrangesat1-86: rgb(91.40625% 51.171875% 3.125%);
    --palLOrangesat1-87: rgb(91.40625% 51.171875% 3.125%);
    --palLOrangesat1-88: rgb(91.796875% 51.5625% 3.515625%);
    --palLOrangesat1-89: rgb(91.796875% 51.953125% 3.515625%);
    --palLOrangesat1-90: rgb(91.796875% 52.34375% 3.515625%);
    --palLOrangesat1-91: rgb(91.796875% 52.734375% 3.90625%);
    --palLOrangesat1-92: rgb(92.1875% 53.125% 3.90625%);
    --palLOrangesat1-93: rgb(92.1875% 53.515625% 3.90625%);
    --palLOrangesat1-94: rgb(92.1875% 53.90625% 4.296875%);
    --palLOrangesat1-95: rgb(92.1875% 54.296875% 4.296875%);
    --palLOrangesat1-96: rgb(92.1875% 54.296875% 4.296875%);
    --palLOrangesat1-97: rgb(92.578125% 54.6875% 4.6875%);
    --palLOrangesat1-98: rgb(92.578125% 55.078125% 4.6875%);
    --palLOrangesat1-99: rgb(92.578125% 55.46875% 5.078125%);
    --palLOrangesat1-100: rgb(92.96875% 55.859375% 5.078125%);
    --palLOrangesat1-101: rgb(92.96875% 56.25% 5.078125%);
    --palLOrangesat1-102: rgb(92.96875% 56.25% 5.46875%);
    --palLOrangesat1-103: rgb(93.359375% 56.640625% 5.46875%);
    --palLOrangesat1-104: rgb(93.359375% 57.03125% 5.859375%);
    --palLOrangesat1-105: rgb(93.359375% 57.421875% 5.859375%);
    --palLOrangesat1-106: rgb(93.75% 57.8125% 6.25%);
    --palLOrangesat1-107: rgb(93.75% 57.8125% 6.25%);
    --palLOrangesat1-108: rgb(93.75% 58.203125% 6.640625%);
    --palLOrangesat1-109: rgb(94.140625% 58.59375% 6.640625%);
    --palLOrangesat1-110: rgb(94.140625% 58.984375% 7.03125%);
    --palLOrangesat1-111: rgb(94.140625% 59.375% 7.03125%);
    --palLOrangesat1-112: rgb(94.53125% 59.765625% 7.421875%);
    --palLOrangesat1-113: rgb(94.53125% 59.765625% 7.421875%);
    --palLOrangesat1-114: rgb(94.53125% 60.15625% 7.8125%);
    --palLOrangesat1-115: rgb(94.921875% 60.546875% 7.8125%);
    --palLOrangesat1-116: rgb(94.921875% 60.9375% 8.203125%);
    --palLOrangesat1-117: rgb(94.921875% 61.328125% 8.203125%);
    --palLOrangesat1-118: rgb(94.921875% 61.71875% 8.59375%);
    --palLOrangesat1-119: rgb(95.3125% 61.71875% 8.59375%);
    --palLOrangesat1-120: rgb(95.3125% 62.109375% 8.984375%);
    --palLOrangesat1-121: rgb(95.3125% 62.5% 8.984375%);
    --palLOrangesat1-122: rgb(95.703125% 62.890625% 9.375%);
    --palLOrangesat1-123: rgb(95.703125% 63.28125% 9.375%);
    --palLOrangesat1-124: rgb(95.703125% 63.28125% 9.765625%);
    --palLOrangesat1-125: rgb(96.09375% 63.671875% 9.765625%);
    --palLOrangesat1-126: rgb(96.09375% 64.0625% 10.15625%);
    --palLOrangesat1-127: rgb(96.09375% 64.453125% 10.15625%);
    --palLOrangesat1-128: rgb(96.484375% 64.84375% 10.15625%);
    --palLOrangesat1-129: rgb(96.484375% 64.84375% 10.546875%);
    --palLOrangesat1-130: rgb(96.484375% 65.234375% 10.9375%);
    --palLOrangesat1-131: rgb(96.484375% 65.625% 10.9375%);
    --palLOrangesat1-132: rgb(96.875% 65.625% 11.328125%);
    --palLOrangesat1-133: rgb(96.875% 66.015625% 11.71875%);
    --palLOrangesat1-134: rgb(96.875% 66.015625% 11.71875%);
    --palLOrangesat1-135: rgb(96.875% 66.40625% 12.109375%);
    --palLOrangesat1-136: rgb(97.265625% 66.796875% 12.5%);
    --palLOrangesat1-137: rgb(97.265625% 66.796875% 12.5%);
    --palLOrangesat1-138: rgb(97.265625% 67.1875% 12.890625%);
    --palLOrangesat1-139: rgb(97.265625% 67.578125% 13.28125%);
    --palLOrangesat1-140: rgb(97.65625% 67.578125% 13.28125%);
    --palLOrangesat1-141: rgb(97.65625% 67.96875% 13.671875%);
    --palLOrangesat1-142: rgb(97.65625% 67.96875% 14.0625%);
    --palLOrangesat1-143: rgb(97.65625% 68.359375% 14.0625%);
    --palLOrangesat1-144: rgb(98.046875% 68.75% 14.453125%);
    --palLOrangesat1-145: rgb(98.046875% 68.75% 14.84375%);
    --palLOrangesat1-146: rgb(98.046875% 69.140625% 14.84375%);
    --palLOrangesat1-147: rgb(98.046875% 69.140625% 15.234375%);
    --palLOrangesat1-148: rgb(98.4375% 69.53125% 15.625%);
    --palLOrangesat1-149: rgb(98.4375% 69.921875% 15.625%);
    --palLOrangesat1-150: rgb(98.4375% 69.921875% 16.015625%);
    --palLOrangesat1-151: rgb(98.4375% 70.3125% 16.40625%);
    --palLOrangesat1-152: rgb(98.4375% 70.703125% 16.40625%);
    --palLOrangesat1-153: rgb(98.828125% 70.703125% 16.796875%);
    --palLOrangesat1-154: rgb(98.828125% 71.09375% 17.1875%);
    --palLOrangesat1-155: rgb(98.828125% 71.09375% 17.1875%);
    --palLOrangesat1-156: rgb(98.828125% 71.484375% 17.578125%);
    --palLOrangesat1-157: rgb(99.21875% 71.875% 17.96875%);
    --palLOrangesat1-158: rgb(99.21875% 71.875% 17.96875%);
    --palLOrangesat1-159: rgb(99.21875% 72.265625% 18.359375%);
    --palLOrangesat1-160: rgb(99.21875% 72.265625% 18.75%);
    --palLOrangesat1-161: rgb(99.21875% 72.65625% 19.140625%);
    --palLOrangesat1-162: rgb(99.21875% 73.046875% 19.53125%);
    --palLOrangesat1-163: rgb(99.21875% 73.046875% 20.3125%);
    --palLOrangesat1-164: rgb(99.21875% 73.4375% 20.703125%);
    --palLOrangesat1-165: rgb(99.21875% 73.828125% 21.484375%);
    --palLOrangesat1-166: rgb(99.21875% 73.828125% 21.875%);
    --palLOrangesat1-167: rgb(99.21875% 74.21875% 22.265625%);
    --palLOrangesat1-168: rgb(99.21875% 74.609375% 23.046875%);
    --palLOrangesat1-169: rgb(99.21875% 74.609375% 23.4375%);
    --palLOrangesat1-170: rgb(99.21875% 75% 24.21875%);
    --palLOrangesat1-171: rgb(99.21875% 75.390625% 24.609375%);
    --palLOrangesat1-172: rgb(99.21875% 75.390625% 25.390625%);
    --palLOrangesat1-173: rgb(99.609375% 75.78125% 25.78125%);
    --palLOrangesat1-174: rgb(99.609375% 75.78125% 26.5625%);
    --palLOrangesat1-175: rgb(99.609375% 76.171875% 26.953125%);
    --palLOrangesat1-176: rgb(99.609375% 76.5625% 27.34375%);
    --palLOrangesat1-177: rgb(99.609375% 76.5625% 28.125%);
    --palLOrangesat1-178: rgb(99.609375% 76.953125% 28.515625%);
    --palLOrangesat1-179: rgb(99.609375% 77.34375% 29.296875%);
    --palLOrangesat1-180: rgb(99.609375% 77.34375% 29.6875%);
    --palLOrangesat1-181: rgb(99.609375% 77.734375% 30.46875%);
    --palLOrangesat1-182: rgb(99.609375% 78.125% 30.859375%);
    --palLOrangesat1-183: rgb(99.609375% 78.125% 31.640625%);
    --palLOrangesat1-184: rgb(99.609375% 78.515625% 32.03125%);
    --palLOrangesat1-185: rgb(99.609375% 78.90625% 32.421875%);
    --palLOrangesat1-186: rgb(99.609375% 78.90625% 33.203125%);
    --palLOrangesat1-187: rgb(99.609375% 79.296875% 33.59375%);
    --palLOrangesat1-188: rgb(99.609375% 79.6875% 34.375%);
    --palLOrangesat1-189: rgb(99.609375% 79.6875% 34.765625%);
    --palLOrangesat1-190: rgb(99.609375% 80.078125% 35.546875%);
    --palLOrangesat1-191: rgb(99.609375% 80.078125% 35.9375%);
    --palLOrangesat1-192: rgb(99.609375% 80.46875% 36.328125%);
    --palLOrangesat1-193: rgb(99.609375% 80.46875% 37.109375%);
    --palLOrangesat1-194: rgb(99.609375% 80.859375% 37.5%);
    --palLOrangesat1-195: rgb(99.609375% 80.859375% 37.890625%);
    --palLOrangesat1-196: rgb(99.609375% 80.859375% 38.671875%);
    --palLOrangesat1-197: rgb(99.609375% 81.25% 39.0625%);
    --palLOrangesat1-198: rgb(99.609375% 81.25% 39.453125%);
    --palLOrangesat1-199: rgb(99.609375% 81.25% 39.84375%);
    --palLOrangesat1-200: rgb(99.609375% 81.25% 40.625%);
    --palLOrangesat1-201: rgb(99.609375% 81.640625% 41.015625%);
    --palLOrangesat1-202: rgb(99.609375% 81.640625% 41.40625%);
    --palLOrangesat1-203: rgb(99.609375% 81.640625% 42.1875%);
    --palLOrangesat1-204: rgb(99.609375% 81.640625% 42.578125%);
    --palLOrangesat1-205: rgb(99.609375% 82.03125% 42.96875%);
    --palLOrangesat1-206: rgb(99.609375% 82.03125% 43.359375%);
    --palLOrangesat1-207: rgb(99.609375% 82.03125% 44.140625%);
    --palLOrangesat1-208: rgb(99.609375% 82.03125% 44.53125%);
    --palLOrangesat1-209: rgb(99.609375% 82.421875% 44.921875%);
    --palLOrangesat1-210: rgb(99.609375% 82.421875% 45.703125%);
    --palLOrangesat1-211: rgb(99.609375% 82.421875% 46.09375%);
    --palLOrangesat1-212: rgb(99.609375% 82.421875% 46.484375%);
    --palLOrangesat1-213: rgb(99.609375% 82.8125% 46.875%);
    --palLOrangesat1-214: rgb(99.609375% 82.8125% 47.65625%);
    --palLOrangesat1-215: rgb(99.609375% 82.8125% 48.046875%);
    --palLOrangesat1-216: rgb(99.609375% 82.8125% 48.4375%);
    --palLOrangesat1-217: rgb(99.609375% 83.203125% 49.21875%);
    --palLOrangesat1-218: rgb(99.609375% 83.203125% 49.609375%);
    --palLOrangesat1-219: rgb(99.609375% 83.203125% 50%);
    --palLOrangesat1-220: rgb(99.609375% 83.203125% 50.390625%);
    --palLOrangesat1-221: rgb(99.609375% 83.59375% 51.171875%);
    --palLOrangesat1-222: rgb(99.609375% 83.59375% 51.5625%);
    --palLOrangesat1-223: rgb(99.609375% 83.59375% 51.953125%);
    --palLOrangesat1-224: rgb(99.609375% 83.984375% 52.34375%);
    --palLOrangesat1-225: rgb(99.609375% 83.984375% 53.515625%);
    --palLOrangesat1-226: rgb(99.609375% 84.375% 54.6875%);
    --palLOrangesat1-227: rgb(99.609375% 84.765625% 55.46875%);
    --palLOrangesat1-228: rgb(99.609375% 85.15625% 56.640625%);
    --palLOrangesat1-229: rgb(99.609375% 85.546875% 57.8125%);
    --palLOrangesat1-230: rgb(99.609375% 85.9375% 58.984375%);
    --palLOrangesat1-231: rgb(99.609375% 86.328125% 59.765625%);
    --palLOrangesat1-232: rgb(99.609375% 86.71875% 60.9375%);
    --palLOrangesat1-233: rgb(99.609375% 87.109375% 62.109375%);
    --palLOrangesat1-234: rgb(99.609375% 87.5% 63.28125%);
    --palLOrangesat1-235: rgb(99.609375% 87.890625% 64.0625%);
    --palLOrangesat1-236: rgb(99.609375% 88.28125% 65.234375%);
    --palLOrangesat1-237: rgb(99.609375% 88.671875% 66.40625%);
    --palLOrangesat1-238: rgb(99.609375% 89.0625% 67.1875%);
    --palLOrangesat1-239: rgb(99.609375% 89.453125% 68.359375%);
    --palLOrangesat1-240: rgb(99.609375% 89.84375% 69.53125%);
    --palLOrangesat1-241: rgb(99.609375% 90.234375% 70.703125%);
    --palLOrangesat1-242: rgb(99.609375% 90.625% 71.484375%);
    --palLOrangesat1-243: rgb(99.609375% 91.015625% 72.65625%);
    --palLOrangesat1-244: rgb(99.609375% 91.40625% 73.828125%);
    --palLOrangesat1-245: rgb(99.609375% 91.796875% 74.609375%);
    --palLOrangesat1-246: rgb(99.609375% 92.1875% 75.78125%);
    --palLOrangesat1-247: rgb(99.609375% 92.1875% 76.953125%);
    --palLOrangesat1-248: rgb(99.609375% 92.578125% 78.125%);
    --palLOrangesat1-249: rgb(99.609375% 92.96875% 78.90625%);
    --palLOrangesat1-250: rgb(99.609375% 93.359375% 80.078125%);
    --palLOrangesat1-251: rgb(99.609375% 93.75% 81.25%);
    --palLOrangesat1-252: rgb(99.609375% 94.140625% 82.03125%);
    --palLOrangesat1-253: rgb(99.609375% 94.53125% 83.203125%);
    --palLOrangesat1-254: rgb(99.609375% 94.921875% 84.375%);
    --palLOrangesat1-255: rgb(99.609375% 95.3125% 85.546875%);
    --palLOrangesat1-256: rgb(99.609375% 95.703125% 86.328125%);
}
