/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLRedWarm1-1: rgb(35.15625% 3.515625% 12.5%);
    --palLRedWarm1-2: rgb(35.546875% 3.90625% 12.5%);
    --palLRedWarm1-3: rgb(35.9375% 3.90625% 12.5%);
    --palLRedWarm1-4: rgb(35.9375% 4.296875% 12.5%);
    --palLRedWarm1-5: rgb(36.328125% 4.296875% 12.5%);
    --palLRedWarm1-6: rgb(36.71875% 4.296875% 12.5%);
    --palLRedWarm1-7: rgb(37.109375% 4.6875% 12.5%);
    --palLRedWarm1-8: rgb(37.5% 4.6875% 12.5%);
    --palLRedWarm1-9: rgb(37.890625% 4.6875% 12.5%);
    --palLRedWarm1-10: rgb(37.890625% 5.078125% 12.109375%);
    --palLRedWarm1-11: rgb(38.28125% 5.078125% 12.109375%);
    --palLRedWarm1-12: rgb(38.671875% 5.078125% 12.109375%);
    --palLRedWarm1-13: rgb(39.0625% 5.46875% 12.109375%);
    --palLRedWarm1-14: rgb(39.453125% 5.46875% 12.109375%);
    --palLRedWarm1-15: rgb(39.84375% 5.46875% 12.109375%);
    --palLRedWarm1-16: rgb(39.84375% 5.859375% 12.109375%);
    --palLRedWarm1-17: rgb(40.234375% 5.859375% 12.109375%);
    --palLRedWarm1-18: rgb(40.625% 5.859375% 12.109375%);
    --palLRedWarm1-19: rgb(41.015625% 6.25% 12.109375%);
    --palLRedWarm1-20: rgb(41.40625% 6.25% 12.109375%);
    --palLRedWarm1-21: rgb(41.796875% 6.25% 12.109375%);
    --palLRedWarm1-22: rgb(41.796875% 6.640625% 12.109375%);
    --palLRedWarm1-23: rgb(42.1875% 6.640625% 12.109375%);
    --palLRedWarm1-24: rgb(42.578125% 6.640625% 12.109375%);
    --palLRedWarm1-25: rgb(42.96875% 7.03125% 12.109375%);
    --palLRedWarm1-26: rgb(43.359375% 7.03125% 12.109375%);
    --palLRedWarm1-27: rgb(43.75% 7.421875% 12.109375%);
    --palLRedWarm1-28: rgb(43.75% 7.421875% 12.109375%);
    --palLRedWarm1-29: rgb(44.140625% 7.421875% 12.109375%);
    --palLRedWarm1-30: rgb(44.53125% 7.8125% 12.109375%);
    --palLRedWarm1-31: rgb(44.921875% 7.8125% 12.109375%);
    --palLRedWarm1-32: rgb(45.3125% 7.8125% 12.109375%);
    --palLRedWarm1-33: rgb(45.703125% 8.203125% 12.109375%);
    --palLRedWarm1-34: rgb(45.703125% 8.203125% 12.109375%);
    --palLRedWarm1-35: rgb(46.09375% 8.203125% 12.109375%);
    --palLRedWarm1-36: rgb(46.484375% 8.59375% 12.109375%);
    --palLRedWarm1-37: rgb(46.875% 8.59375% 12.109375%);
    --palLRedWarm1-38: rgb(47.265625% 8.59375% 11.71875%);
    --palLRedWarm1-39: rgb(47.65625% 8.984375% 11.71875%);
    --palLRedWarm1-40: rgb(47.65625% 8.984375% 11.71875%);
    --palLRedWarm1-41: rgb(48.046875% 8.984375% 11.71875%);
    --palLRedWarm1-42: rgb(48.4375% 9.375% 11.71875%);
    --palLRedWarm1-43: rgb(48.828125% 9.375% 11.71875%);
    --palLRedWarm1-44: rgb(49.21875% 9.375% 11.71875%);
    --palLRedWarm1-45: rgb(49.609375% 9.765625% 11.71875%);
    --palLRedWarm1-46: rgb(49.609375% 9.765625% 11.71875%);
    --palLRedWarm1-47: rgb(50% 9.765625% 11.71875%);
    --palLRedWarm1-48: rgb(50.390625% 10.15625% 11.71875%);
    --palLRedWarm1-49: rgb(50.78125% 10.15625% 11.71875%);
    --palLRedWarm1-50: rgb(51.171875% 10.546875% 11.71875%);
    --palLRedWarm1-51: rgb(51.5625% 10.546875% 11.71875%);
    --palLRedWarm1-52: rgb(51.953125% 10.546875% 11.71875%);
    --palLRedWarm1-53: rgb(51.953125% 10.9375% 11.71875%);
    --palLRedWarm1-54: rgb(52.34375% 10.9375% 11.71875%);
    --palLRedWarm1-55: rgb(52.734375% 10.9375% 11.71875%);
    --palLRedWarm1-56: rgb(53.125% 11.328125% 11.71875%);
    --palLRedWarm1-57: rgb(53.515625% 11.328125% 11.71875%);
    --palLRedWarm1-58: rgb(53.90625% 11.328125% 11.71875%);
    --palLRedWarm1-59: rgb(53.90625% 11.71875% 11.71875%);
    --palLRedWarm1-60: rgb(54.296875% 11.71875% 11.71875%);
    --palLRedWarm1-61: rgb(54.6875% 11.71875% 11.71875%);
    --palLRedWarm1-62: rgb(55.078125% 12.109375% 11.71875%);
    --palLRedWarm1-63: rgb(55.46875% 12.109375% 11.71875%);
    --palLRedWarm1-64: rgb(55.859375% 12.109375% 11.71875%);
    --palLRedWarm1-65: rgb(55.859375% 12.5% 11.71875%);
    --palLRedWarm1-66: rgb(56.25% 12.5% 11.71875%);
    --palLRedWarm1-67: rgb(56.640625% 12.890625% 11.71875%);
    --palLRedWarm1-68: rgb(57.03125% 13.28125% 11.71875%);
    --palLRedWarm1-69: rgb(57.421875% 13.28125% 11.71875%);
    --palLRedWarm1-70: rgb(57.8125% 13.671875% 11.71875%);
    --palLRedWarm1-71: rgb(58.203125% 13.671875% 11.71875%);
    --palLRedWarm1-72: rgb(58.59375% 14.0625% 11.71875%);
    --palLRedWarm1-73: rgb(58.984375% 14.0625% 11.71875%);
    --palLRedWarm1-74: rgb(58.984375% 14.453125% 11.71875%);
    --palLRedWarm1-75: rgb(59.375% 14.84375% 11.71875%);
    --palLRedWarm1-76: rgb(59.765625% 14.84375% 11.71875%);
    --palLRedWarm1-77: rgb(60.15625% 15.234375% 11.71875%);
    --palLRedWarm1-78: rgb(60.546875% 15.234375% 11.71875%);
    --palLRedWarm1-79: rgb(60.9375% 15.625% 11.71875%);
    --palLRedWarm1-80: rgb(61.328125% 15.625% 11.71875%);
    --palLRedWarm1-81: rgb(61.71875% 16.015625% 11.71875%);
    --palLRedWarm1-82: rgb(62.109375% 16.40625% 11.71875%);
    --palLRedWarm1-83: rgb(62.5% 16.40625% 11.71875%);
    --palLRedWarm1-84: rgb(62.5% 16.796875% 11.71875%);
    --palLRedWarm1-85: rgb(62.890625% 16.796875% 11.71875%);
    --palLRedWarm1-86: rgb(63.28125% 17.1875% 11.71875%);
    --palLRedWarm1-87: rgb(63.671875% 17.578125% 11.71875%);
    --palLRedWarm1-88: rgb(64.0625% 17.578125% 11.71875%);
    --palLRedWarm1-89: rgb(64.453125% 17.96875% 11.71875%);
    --palLRedWarm1-90: rgb(64.84375% 17.96875% 11.71875%);
    --palLRedWarm1-91: rgb(65.234375% 18.359375% 11.71875%);
    --palLRedWarm1-92: rgb(65.625% 18.359375% 11.71875%);
    --palLRedWarm1-93: rgb(66.015625% 18.75% 11.71875%);
    --palLRedWarm1-94: rgb(66.40625% 19.140625% 11.71875%);
    --palLRedWarm1-95: rgb(66.40625% 19.140625% 11.71875%);
    --palLRedWarm1-96: rgb(66.796875% 19.53125% 11.71875%);
    --palLRedWarm1-97: rgb(67.1875% 19.53125% 11.71875%);
    --palLRedWarm1-98: rgb(67.578125% 19.921875% 11.71875%);
    --palLRedWarm1-99: rgb(67.96875% 19.921875% 11.71875%);
    --palLRedWarm1-100: rgb(68.359375% 20.3125% 11.71875%);
    --palLRedWarm1-101: rgb(68.75% 20.703125% 11.71875%);
    --palLRedWarm1-102: rgb(69.140625% 20.703125% 11.71875%);
    --palLRedWarm1-103: rgb(69.53125% 21.09375% 11.71875%);
    --palLRedWarm1-104: rgb(69.921875% 21.09375% 11.71875%);
    --palLRedWarm1-105: rgb(69.921875% 21.484375% 11.71875%);
    --palLRedWarm1-106: rgb(70.3125% 21.875% 11.71875%);
    --palLRedWarm1-107: rgb(70.703125% 21.875% 11.71875%);
    --palLRedWarm1-108: rgb(71.09375% 22.265625% 11.71875%);
    --palLRedWarm1-109: rgb(71.484375% 22.265625% 11.71875%);
    --palLRedWarm1-110: rgb(71.875% 22.65625% 11.71875%);
    --palLRedWarm1-111: rgb(72.265625% 22.65625% 11.71875%);
    --palLRedWarm1-112: rgb(72.65625% 23.046875% 11.71875%);
    --palLRedWarm1-113: rgb(73.046875% 23.4375% 11.71875%);
    --palLRedWarm1-114: rgb(73.4375% 23.4375% 11.71875%);
    --palLRedWarm1-115: rgb(73.4375% 23.828125% 11.71875%);
    --palLRedWarm1-116: rgb(73.828125% 23.828125% 11.71875%);
    --palLRedWarm1-117: rgb(74.21875% 24.21875% 11.71875%);
    --palLRedWarm1-118: rgb(74.609375% 24.21875% 11.71875%);
    --palLRedWarm1-119: rgb(75% 24.609375% 11.71875%);
    --palLRedWarm1-120: rgb(75.390625% 25% 11.71875%);
    --palLRedWarm1-121: rgb(75.78125% 25% 11.71875%);
    --palLRedWarm1-122: rgb(76.171875% 25.390625% 11.71875%);
    --palLRedWarm1-123: rgb(76.5625% 25.390625% 11.71875%);
    --palLRedWarm1-124: rgb(76.953125% 25.78125% 11.71875%);
    --palLRedWarm1-125: rgb(76.953125% 26.171875% 11.71875%);
    --palLRedWarm1-126: rgb(77.34375% 26.171875% 11.71875%);
    --palLRedWarm1-127: rgb(77.734375% 26.5625% 11.71875%);
    --palLRedWarm1-128: rgb(78.125% 26.5625% 11.71875%);
    --palLRedWarm1-129: rgb(78.515625% 26.953125% 11.71875%);
    --palLRedWarm1-130: rgb(78.90625% 27.34375% 12.109375%);
    --palLRedWarm1-131: rgb(78.90625% 27.734375% 12.5%);
    --palLRedWarm1-132: rgb(79.296875% 28.125% 12.890625%);
    --palLRedWarm1-133: rgb(79.6875% 28.90625% 13.28125%);
    --palLRedWarm1-134: rgb(80.078125% 29.296875% 13.671875%);
    --palLRedWarm1-135: rgb(80.078125% 29.6875% 14.0625%);
    --palLRedWarm1-136: rgb(80.46875% 30.078125% 14.453125%);
    --palLRedWarm1-137: rgb(80.859375% 30.46875% 14.84375%);
    --palLRedWarm1-138: rgb(80.859375% 30.859375% 15.234375%);
    --palLRedWarm1-139: rgb(81.25% 31.25% 15.625%);
    --palLRedWarm1-140: rgb(81.640625% 31.640625% 16.015625%);
    --palLRedWarm1-141: rgb(82.03125% 32.03125% 16.40625%);
    --palLRedWarm1-142: rgb(82.03125% 32.8125% 16.796875%);
    --palLRedWarm1-143: rgb(82.421875% 33.203125% 17.1875%);
    --palLRedWarm1-144: rgb(82.8125% 33.59375% 17.578125%);
    --palLRedWarm1-145: rgb(83.203125% 33.984375% 17.96875%);
    --palLRedWarm1-146: rgb(83.203125% 34.375% 18.359375%);
    --palLRedWarm1-147: rgb(83.59375% 34.765625% 18.75%);
    --palLRedWarm1-148: rgb(83.984375% 35.15625% 19.140625%);
    --palLRedWarm1-149: rgb(83.984375% 35.546875% 19.53125%);
    --palLRedWarm1-150: rgb(84.375% 35.9375% 19.921875%);
    --palLRedWarm1-151: rgb(84.765625% 36.71875% 20.3125%);
    --palLRedWarm1-152: rgb(85.15625% 37.109375% 20.703125%);
    --palLRedWarm1-153: rgb(85.15625% 37.5% 21.09375%);
    --palLRedWarm1-154: rgb(85.546875% 37.890625% 21.484375%);
    --palLRedWarm1-155: rgb(85.9375% 38.28125% 21.875%);
    --palLRedWarm1-156: rgb(85.9375% 38.671875% 22.265625%);
    --palLRedWarm1-157: rgb(86.328125% 39.0625% 22.65625%);
    --palLRedWarm1-158: rgb(86.71875% 39.453125% 23.046875%);
    --palLRedWarm1-159: rgb(87.109375% 39.84375% 23.4375%);
    --palLRedWarm1-160: rgb(87.109375% 40.625% 23.828125%);
    --palLRedWarm1-161: rgb(87.5% 41.015625% 24.21875%);
    --palLRedWarm1-162: rgb(87.890625% 41.40625% 24.609375%);
    --palLRedWarm1-163: rgb(88.28125% 41.796875% 25%);
    --palLRedWarm1-164: rgb(88.28125% 42.1875% 25.390625%);
    --palLRedWarm1-165: rgb(88.671875% 42.578125% 25.78125%);
    --palLRedWarm1-166: rgb(89.0625% 42.96875% 26.171875%);
    --palLRedWarm1-167: rgb(89.0625% 43.359375% 26.5625%);
    --palLRedWarm1-168: rgb(89.453125% 43.75% 26.953125%);
    --palLRedWarm1-169: rgb(89.84375% 44.53125% 27.34375%);
    --palLRedWarm1-170: rgb(90.234375% 44.921875% 27.734375%);
    --palLRedWarm1-171: rgb(90.234375% 45.3125% 28.125%);
    --palLRedWarm1-172: rgb(90.625% 45.703125% 28.515625%);
    --palLRedWarm1-173: rgb(91.015625% 46.09375% 28.90625%);
    --palLRedWarm1-174: rgb(91.40625% 46.484375% 29.296875%);
    --palLRedWarm1-175: rgb(91.40625% 46.875% 29.6875%);
    --palLRedWarm1-176: rgb(91.796875% 47.265625% 30.078125%);
    --palLRedWarm1-177: rgb(92.1875% 47.65625% 30.46875%);
    --palLRedWarm1-178: rgb(92.1875% 48.4375% 30.46875%);
    --palLRedWarm1-179: rgb(92.578125% 48.828125% 30.859375%);
    --palLRedWarm1-180: rgb(92.96875% 49.21875% 31.25%);
    --palLRedWarm1-181: rgb(93.359375% 49.609375% 31.640625%);
    --palLRedWarm1-182: rgb(93.359375% 50% 32.03125%);
    --palLRedWarm1-183: rgb(93.75% 50.390625% 32.421875%);
    --palLRedWarm1-184: rgb(94.140625% 50.78125% 32.8125%);
    --palLRedWarm1-185: rgb(94.140625% 51.171875% 33.203125%);
    --palLRedWarm1-186: rgb(94.53125% 51.5625% 33.59375%);
    --palLRedWarm1-187: rgb(94.921875% 52.34375% 33.984375%);
    --palLRedWarm1-188: rgb(95.3125% 52.734375% 34.375%);
    --palLRedWarm1-189: rgb(95.3125% 53.125% 34.765625%);
    --palLRedWarm1-190: rgb(95.703125% 53.515625% 35.15625%);
    --palLRedWarm1-191: rgb(96.09375% 53.90625% 35.546875%);
    --palLRedWarm1-192: rgb(96.484375% 54.296875% 35.9375%);
    --palLRedWarm1-193: rgb(96.484375% 54.6875% 36.71875%);
    --palLRedWarm1-194: rgb(96.484375% 55.46875% 37.5%);
    --palLRedWarm1-195: rgb(96.484375% 55.859375% 38.28125%);
    --palLRedWarm1-196: rgb(96.484375% 56.25% 39.0625%);
    --palLRedWarm1-197: rgb(96.484375% 57.03125% 39.84375%);
    --palLRedWarm1-198: rgb(96.484375% 57.421875% 40.234375%);
    --palLRedWarm1-199: rgb(96.484375% 57.8125% 41.015625%);
    --palLRedWarm1-200: rgb(96.484375% 58.59375% 41.796875%);
    --palLRedWarm1-201: rgb(96.484375% 58.984375% 42.578125%);
    --palLRedWarm1-202: rgb(96.484375% 59.375% 43.359375%);
    --palLRedWarm1-203: rgb(96.484375% 60.15625% 44.140625%);
    --palLRedWarm1-204: rgb(96.484375% 60.546875% 44.921875%);
    --palLRedWarm1-205: rgb(96.484375% 60.9375% 45.703125%);
    --palLRedWarm1-206: rgb(96.484375% 61.71875% 46.484375%);
    --palLRedWarm1-207: rgb(96.875% 62.109375% 46.875%);
    --palLRedWarm1-208: rgb(96.875% 62.5% 47.65625%);
    --palLRedWarm1-209: rgb(96.875% 62.890625% 48.4375%);
    --palLRedWarm1-210: rgb(96.875% 63.671875% 49.21875%);
    --palLRedWarm1-211: rgb(96.875% 64.0625% 50%);
    --palLRedWarm1-212: rgb(96.875% 64.453125% 50.78125%);
    --palLRedWarm1-213: rgb(96.875% 65.234375% 51.5625%);
    --palLRedWarm1-214: rgb(96.875% 65.625% 52.34375%);
    --palLRedWarm1-215: rgb(96.875% 66.015625% 53.125%);
    --palLRedWarm1-216: rgb(96.875% 66.796875% 53.90625%);
    --palLRedWarm1-217: rgb(96.875% 67.1875% 54.296875%);
    --palLRedWarm1-218: rgb(96.875% 67.578125% 55.078125%);
    --palLRedWarm1-219: rgb(96.875% 68.359375% 55.859375%);
    --palLRedWarm1-220: rgb(96.875% 68.75% 56.640625%);
    --palLRedWarm1-221: rgb(96.875% 69.140625% 57.421875%);
    --palLRedWarm1-222: rgb(96.875% 69.921875% 58.203125%);
    --palLRedWarm1-223: rgb(96.875% 70.3125% 58.984375%);
    --palLRedWarm1-224: rgb(96.875% 70.703125% 59.765625%);
    --palLRedWarm1-225: rgb(97.265625% 71.09375% 60.546875%);
    --palLRedWarm1-226: rgb(97.265625% 71.875% 60.9375%);
    --palLRedWarm1-227: rgb(97.265625% 72.265625% 61.71875%);
    --palLRedWarm1-228: rgb(97.265625% 72.65625% 62.5%);
    --palLRedWarm1-229: rgb(97.265625% 73.4375% 63.28125%);
    --palLRedWarm1-230: rgb(97.265625% 73.828125% 64.0625%);
    --palLRedWarm1-231: rgb(97.265625% 74.21875% 64.84375%);
    --palLRedWarm1-232: rgb(97.265625% 75% 65.625%);
    --palLRedWarm1-233: rgb(97.265625% 75.390625% 66.40625%);
    --palLRedWarm1-234: rgb(97.265625% 75.78125% 67.1875%);
    --palLRedWarm1-235: rgb(97.265625% 76.5625% 67.578125%);
    --palLRedWarm1-236: rgb(97.265625% 76.953125% 68.359375%);
    --palLRedWarm1-237: rgb(97.265625% 77.34375% 69.140625%);
    --palLRedWarm1-238: rgb(97.265625% 78.125% 69.921875%);
    --palLRedWarm1-239: rgb(97.265625% 78.515625% 70.703125%);
    --palLRedWarm1-240: rgb(97.265625% 78.90625% 71.484375%);
    --palLRedWarm1-241: rgb(97.265625% 79.6875% 72.265625%);
    --palLRedWarm1-242: rgb(97.265625% 80.078125% 73.046875%);
    --palLRedWarm1-243: rgb(97.65625% 80.46875% 73.828125%);
    --palLRedWarm1-244: rgb(97.65625% 80.859375% 74.609375%);
    --palLRedWarm1-245: rgb(97.65625% 81.640625% 75%);
    --palLRedWarm1-246: rgb(97.65625% 82.03125% 75.78125%);
    --palLRedWarm1-247: rgb(97.65625% 82.421875% 76.5625%);
    --palLRedWarm1-248: rgb(97.65625% 83.203125% 77.34375%);
    --palLRedWarm1-249: rgb(97.65625% 83.59375% 78.125%);
    --palLRedWarm1-250: rgb(97.65625% 83.984375% 78.90625%);
    --palLRedWarm1-251: rgb(97.65625% 84.765625% 79.6875%);
    --palLRedWarm1-252: rgb(97.65625% 85.15625% 80.46875%);
    --palLRedWarm1-253: rgb(97.65625% 85.546875% 81.25%);
    --palLRedWarm1-254: rgb(97.65625% 86.328125% 81.640625%);
    --palLRedWarm1-255: rgb(97.65625% 86.71875% 82.421875%);
    --palLRedWarm1-256: rgb(97.65625% 87.109375% 83.203125%);
}
