/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palLTurqsat1-1: rgb(1.171875% 38.671875% 43.75%);
    --palLTurqsat1-2: rgb(1.171875% 39.0625% 44.140625%);
    --palLTurqsat1-3: rgb(1.171875% 39.453125% 44.53125%);
    --palLTurqsat1-4: rgb(1.5625% 39.84375% 44.921875%);
    --palLTurqsat1-5: rgb(1.5625% 40.234375% 45.3125%);
    --palLTurqsat1-6: rgb(1.5625% 40.625% 45.703125%);
    --palLTurqsat1-7: rgb(1.5625% 41.015625% 45.703125%);
    --palLTurqsat1-8: rgb(1.953125% 41.40625% 46.09375%);
    --palLTurqsat1-9: rgb(1.953125% 41.796875% 46.484375%);
    --palLTurqsat1-10: rgb(1.953125% 42.1875% 46.875%);
    --palLTurqsat1-11: rgb(1.953125% 42.578125% 47.265625%);
    --palLTurqsat1-12: rgb(2.34375% 42.96875% 47.65625%);
    --palLTurqsat1-13: rgb(2.34375% 43.359375% 48.046875%);
    --palLTurqsat1-14: rgb(2.34375% 43.75% 48.4375%);
    --palLTurqsat1-15: rgb(2.34375% 44.53125% 48.828125%);
    --palLTurqsat1-16: rgb(2.734375% 44.921875% 49.21875%);
    --palLTurqsat1-17: rgb(2.734375% 45.3125% 49.609375%);
    --palLTurqsat1-18: rgb(2.734375% 45.703125% 50%);
    --palLTurqsat1-19: rgb(2.734375% 46.09375% 50.390625%);
    --palLTurqsat1-20: rgb(3.125% 46.484375% 50.78125%);
    --palLTurqsat1-21: rgb(3.125% 46.875% 51.171875%);
    --palLTurqsat1-22: rgb(3.125% 47.265625% 51.5625%);
    --palLTurqsat1-23: rgb(3.125% 47.65625% 51.953125%);
    --palLTurqsat1-24: rgb(3.515625% 48.046875% 52.34375%);
    --palLTurqsat1-25: rgb(3.515625% 48.4375% 52.734375%);
    --palLTurqsat1-26: rgb(3.515625% 48.828125% 53.125%);
    --palLTurqsat1-27: rgb(3.515625% 49.21875% 53.515625%);
    --palLTurqsat1-28: rgb(3.90625% 49.609375% 53.90625%);
    --palLTurqsat1-29: rgb(3.90625% 50% 54.296875%);
    --palLTurqsat1-30: rgb(3.90625% 50.390625% 54.6875%);
    --palLTurqsat1-31: rgb(3.90625% 50.78125% 54.6875%);
    --palLTurqsat1-32: rgb(4.296875% 51.171875% 55.078125%);
    --palLTurqsat1-33: rgb(4.296875% 51.5625% 55.46875%);
    --palLTurqsat1-34: rgb(4.296875% 51.953125% 55.859375%);
    --palLTurqsat1-35: rgb(4.296875% 52.34375% 56.25%);
    --palLTurqsat1-36: rgb(4.296875% 52.734375% 56.640625%);
    --palLTurqsat1-37: rgb(4.6875% 53.125% 57.03125%);
    --palLTurqsat1-38: rgb(4.6875% 53.515625% 57.421875%);
    --palLTurqsat1-39: rgb(4.6875% 53.90625% 57.8125%);
    --palLTurqsat1-40: rgb(4.6875% 54.296875% 58.203125%);
    --palLTurqsat1-41: rgb(5.078125% 55.078125% 58.59375%);
    --palLTurqsat1-42: rgb(5.078125% 55.46875% 58.984375%);
    --palLTurqsat1-43: rgb(5.078125% 55.859375% 59.375%);
    --palLTurqsat1-44: rgb(5.078125% 56.25% 59.765625%);
    --palLTurqsat1-45: rgb(5.46875% 56.640625% 60.15625%);
    --palLTurqsat1-46: rgb(5.46875% 57.03125% 60.546875%);
    --palLTurqsat1-47: rgb(5.46875% 57.421875% 60.9375%);
    --palLTurqsat1-48: rgb(5.46875% 57.8125% 61.328125%);
    --palLTurqsat1-49: rgb(5.859375% 58.203125% 61.71875%);
    --palLTurqsat1-50: rgb(5.859375% 58.59375% 62.109375%);
    --palLTurqsat1-51: rgb(5.859375% 58.984375% 62.5%);
    --palLTurqsat1-52: rgb(5.859375% 59.375% 62.890625%);
    --palLTurqsat1-53: rgb(6.25% 59.765625% 63.28125%);
    --palLTurqsat1-54: rgb(6.25% 60.15625% 63.671875%);
    --palLTurqsat1-55: rgb(6.25% 60.546875% 64.0625%);
    --palLTurqsat1-56: rgb(6.25% 60.9375% 64.453125%);
    --palLTurqsat1-57: rgb(6.640625% 61.328125% 64.453125%);
    --palLTurqsat1-58: rgb(6.640625% 61.71875% 64.84375%);
    --palLTurqsat1-59: rgb(6.640625% 62.109375% 65.234375%);
    --palLTurqsat1-60: rgb(6.640625% 62.5% 65.625%);
    --palLTurqsat1-61: rgb(7.03125% 62.890625% 66.015625%);
    --palLTurqsat1-62: rgb(7.03125% 63.28125% 66.40625%);
    --palLTurqsat1-63: rgb(7.03125% 63.671875% 66.796875%);
    --palLTurqsat1-64: rgb(7.03125% 64.0625% 67.1875%);
    --palLTurqsat1-65: rgb(7.421875% 64.453125% 67.578125%);
    --palLTurqsat1-66: rgb(7.421875% 64.84375% 67.96875%);
    --palLTurqsat1-67: rgb(7.8125% 65.234375% 67.96875%);
    --palLTurqsat1-68: rgb(7.8125% 65.234375% 68.359375%);
    --palLTurqsat1-69: rgb(8.203125% 65.625% 68.359375%);
    --palLTurqsat1-70: rgb(8.203125% 65.625% 68.75%);
    --palLTurqsat1-71: rgb(8.59375% 66.015625% 69.140625%);
    --palLTurqsat1-72: rgb(8.59375% 66.40625% 69.140625%);
    --palLTurqsat1-73: rgb(8.984375% 66.40625% 69.53125%);
    --palLTurqsat1-74: rgb(8.984375% 66.796875% 69.53125%);
    --palLTurqsat1-75: rgb(9.375% 66.796875% 69.921875%);
    --palLTurqsat1-76: rgb(9.765625% 67.1875% 70.3125%);
    --palLTurqsat1-77: rgb(9.765625% 67.1875% 70.3125%);
    --palLTurqsat1-78: rgb(10.15625% 67.578125% 70.703125%);
    --palLTurqsat1-79: rgb(10.15625% 67.96875% 70.703125%);
    --palLTurqsat1-80: rgb(10.546875% 67.96875% 71.09375%);
    --palLTurqsat1-81: rgb(10.546875% 68.359375% 71.484375%);
    --palLTurqsat1-82: rgb(10.9375% 68.359375% 71.484375%);
    --palLTurqsat1-83: rgb(10.9375% 68.75% 71.875%);
    --palLTurqsat1-84: rgb(11.328125% 69.140625% 71.875%);
    --palLTurqsat1-85: rgb(11.328125% 69.140625% 72.265625%);
    --palLTurqsat1-86: rgb(11.71875% 69.53125% 72.65625%);
    --palLTurqsat1-87: rgb(11.71875% 69.53125% 72.65625%);
    --palLTurqsat1-88: rgb(12.109375% 69.921875% 73.046875%);
    --palLTurqsat1-89: rgb(12.109375% 70.3125% 73.046875%);
    --palLTurqsat1-90: rgb(12.5% 70.3125% 73.4375%);
    --palLTurqsat1-91: rgb(12.890625% 70.703125% 73.828125%);
    --palLTurqsat1-92: rgb(12.890625% 70.703125% 73.828125%);
    --palLTurqsat1-93: rgb(13.28125% 71.09375% 74.21875%);
    --palLTurqsat1-94: rgb(13.28125% 71.484375% 74.21875%);
    --palLTurqsat1-95: rgb(13.671875% 71.484375% 74.609375%);
    --palLTurqsat1-96: rgb(13.671875% 71.875% 75%);
    --palLTurqsat1-97: rgb(14.0625% 71.875% 75%);
    --palLTurqsat1-98: rgb(14.0625% 72.265625% 75.390625%);
    --palLTurqsat1-99: rgb(14.453125% 72.65625% 75.390625%);
    --palLTurqsat1-100: rgb(14.453125% 72.65625% 75.78125%);
    --palLTurqsat1-101: rgb(14.84375% 73.046875% 76.171875%);
    --palLTurqsat1-102: rgb(14.84375% 73.046875% 76.171875%);
    --palLTurqsat1-103: rgb(15.234375% 73.4375% 76.5625%);
    --palLTurqsat1-104: rgb(15.234375% 73.828125% 76.5625%);
    --palLTurqsat1-105: rgb(15.625% 73.828125% 76.953125%);
    --palLTurqsat1-106: rgb(15.625% 74.21875% 77.34375%);
    --palLTurqsat1-107: rgb(16.015625% 74.21875% 77.34375%);
    --palLTurqsat1-108: rgb(16.40625% 74.609375% 77.734375%);
    --palLTurqsat1-109: rgb(16.40625% 75% 77.734375%);
    --palLTurqsat1-110: rgb(16.796875% 75% 78.125%);
    --palLTurqsat1-111: rgb(16.796875% 75.390625% 78.515625%);
    --palLTurqsat1-112: rgb(17.1875% 75.390625% 78.515625%);
    --palLTurqsat1-113: rgb(17.1875% 75.78125% 78.90625%);
    --palLTurqsat1-114: rgb(17.578125% 76.171875% 78.90625%);
    --palLTurqsat1-115: rgb(17.578125% 76.171875% 79.296875%);
    --palLTurqsat1-116: rgb(17.96875% 76.5625% 79.6875%);
    --palLTurqsat1-117: rgb(17.96875% 76.5625% 79.6875%);
    --palLTurqsat1-118: rgb(18.359375% 76.953125% 80.078125%);
    --palLTurqsat1-119: rgb(18.359375% 77.34375% 80.078125%);
    --palLTurqsat1-120: rgb(18.75% 77.34375% 80.46875%);
    --palLTurqsat1-121: rgb(18.75% 77.734375% 80.859375%);
    --palLTurqsat1-122: rgb(19.140625% 77.734375% 80.859375%);
    --palLTurqsat1-123: rgb(19.140625% 78.125% 81.25%);
    --palLTurqsat1-124: rgb(19.53125% 78.515625% 81.25%);
    --palLTurqsat1-125: rgb(19.921875% 78.515625% 81.640625%);
    --palLTurqsat1-126: rgb(19.921875% 78.90625% 82.03125%);
    --palLTurqsat1-127: rgb(20.3125% 78.90625% 82.03125%);
    --palLTurqsat1-128: rgb(20.3125% 79.296875% 82.421875%);
    --palLTurqsat1-129: rgb(20.703125% 79.296875% 82.421875%);
    --palLTurqsat1-130: rgb(21.09375% 79.6875% 82.8125%);
    --palLTurqsat1-131: rgb(21.875% 80.078125% 82.8125%);
    --palLTurqsat1-132: rgb(22.265625% 80.078125% 82.8125%);
    --palLTurqsat1-133: rgb(22.65625% 80.46875% 82.8125%);
    --palLTurqsat1-134: rgb(23.4375% 80.46875% 83.203125%);
    --palLTurqsat1-135: rgb(23.828125% 80.859375% 83.203125%);
    --palLTurqsat1-136: rgb(24.21875% 80.859375% 83.203125%);
    --palLTurqsat1-137: rgb(24.609375% 81.25% 83.203125%);
    --palLTurqsat1-138: rgb(25.390625% 81.25% 83.59375%);
    --palLTurqsat1-139: rgb(25.78125% 81.640625% 83.59375%);
    --palLTurqsat1-140: rgb(26.171875% 81.640625% 83.59375%);
    --palLTurqsat1-141: rgb(26.953125% 82.03125% 83.59375%);
    --palLTurqsat1-142: rgb(27.34375% 82.03125% 83.984375%);
    --palLTurqsat1-143: rgb(27.734375% 82.421875% 83.984375%);
    --palLTurqsat1-144: rgb(28.125% 82.421875% 83.984375%);
    --palLTurqsat1-145: rgb(28.90625% 82.8125% 84.375%);
    --palLTurqsat1-146: rgb(29.296875% 82.8125% 84.375%);
    --palLTurqsat1-147: rgb(29.6875% 83.203125% 84.375%);
    --palLTurqsat1-148: rgb(30.46875% 83.203125% 84.375%);
    --palLTurqsat1-149: rgb(30.859375% 83.59375% 84.765625%);
    --palLTurqsat1-150: rgb(31.25% 83.59375% 84.765625%);
    --palLTurqsat1-151: rgb(31.640625% 83.984375% 84.765625%);
    --palLTurqsat1-152: rgb(32.421875% 83.984375% 84.765625%);
    --palLTurqsat1-153: rgb(32.8125% 84.375% 85.15625%);
    --palLTurqsat1-154: rgb(33.203125% 84.765625% 85.15625%);
    --palLTurqsat1-155: rgb(33.984375% 84.765625% 85.15625%);
    --palLTurqsat1-156: rgb(34.375% 85.15625% 85.15625%);
    --palLTurqsat1-157: rgb(34.765625% 85.15625% 85.546875%);
    --palLTurqsat1-158: rgb(35.15625% 85.546875% 85.546875%);
    --palLTurqsat1-159: rgb(35.9375% 85.546875% 85.546875%);
    --palLTurqsat1-160: rgb(36.328125% 85.9375% 85.546875%);
    --palLTurqsat1-161: rgb(36.71875% 85.9375% 85.9375%);
    --palLTurqsat1-162: rgb(37.5% 86.328125% 85.9375%);
    --palLTurqsat1-163: rgb(37.890625% 86.328125% 85.9375%);
    --palLTurqsat1-164: rgb(38.28125% 86.71875% 86.328125%);
    --palLTurqsat1-165: rgb(38.671875% 86.71875% 86.328125%);
    --palLTurqsat1-166: rgb(39.453125% 87.109375% 86.328125%);
    --palLTurqsat1-167: rgb(39.84375% 87.109375% 86.328125%);
    --palLTurqsat1-168: rgb(40.234375% 87.5% 86.71875%);
    --palLTurqsat1-169: rgb(41.015625% 87.5% 86.71875%);
    --palLTurqsat1-170: rgb(41.40625% 87.890625% 86.71875%);
    --palLTurqsat1-171: rgb(41.796875% 87.890625% 86.71875%);
    --palLTurqsat1-172: rgb(42.1875% 88.28125% 87.109375%);
    --palLTurqsat1-173: rgb(42.96875% 88.28125% 87.109375%);
    --palLTurqsat1-174: rgb(43.359375% 88.671875% 87.109375%);
    --palLTurqsat1-175: rgb(43.75% 88.671875% 87.109375%);
    --palLTurqsat1-176: rgb(44.53125% 89.0625% 87.5%);
    --palLTurqsat1-177: rgb(44.921875% 89.453125% 87.5%);
    --palLTurqsat1-178: rgb(45.3125% 89.453125% 87.5%);
    --palLTurqsat1-179: rgb(46.09375% 89.84375% 87.890625%);
    --palLTurqsat1-180: rgb(46.484375% 89.84375% 87.890625%);
    --palLTurqsat1-181: rgb(46.875% 90.234375% 87.890625%);
    --palLTurqsat1-182: rgb(47.265625% 90.234375% 87.890625%);
    --palLTurqsat1-183: rgb(48.046875% 90.625% 88.28125%);
    --palLTurqsat1-184: rgb(48.4375% 90.625% 88.28125%);
    --palLTurqsat1-185: rgb(48.828125% 91.015625% 88.28125%);
    --palLTurqsat1-186: rgb(49.609375% 91.015625% 88.28125%);
    --palLTurqsat1-187: rgb(50% 91.40625% 88.671875%);
    --palLTurqsat1-188: rgb(50.390625% 91.40625% 88.671875%);
    --palLTurqsat1-189: rgb(50.78125% 91.796875% 88.671875%);
    --palLTurqsat1-190: rgb(51.5625% 91.796875% 88.671875%);
    --palLTurqsat1-191: rgb(51.953125% 92.1875% 89.0625%);
    --palLTurqsat1-192: rgb(52.34375% 92.1875% 89.0625%);
    --palLTurqsat1-193: rgb(53.125% 92.578125% 89.0625%);
    --palLTurqsat1-194: rgb(53.90625% 92.578125% 89.453125%);
    --palLTurqsat1-195: rgb(54.296875% 92.578125% 89.453125%);
    --palLTurqsat1-196: rgb(55.078125% 92.96875% 89.453125%);
    --palLTurqsat1-197: rgb(55.859375% 92.96875% 89.84375%);
    --palLTurqsat1-198: rgb(56.25% 92.96875% 89.84375%);
    --palLTurqsat1-199: rgb(57.03125% 92.96875% 89.84375%);
    --palLTurqsat1-200: rgb(57.8125% 93.359375% 90.234375%);
    --palLTurqsat1-201: rgb(58.203125% 93.359375% 90.234375%);
    --palLTurqsat1-202: rgb(58.984375% 93.359375% 90.234375%);
    --palLTurqsat1-203: rgb(59.765625% 93.75% 90.625%);
    --palLTurqsat1-204: rgb(60.15625% 93.75% 90.625%);
    --palLTurqsat1-205: rgb(60.9375% 93.75% 90.625%);
    --palLTurqsat1-206: rgb(61.71875% 93.75% 91.015625%);
    --palLTurqsat1-207: rgb(62.109375% 94.140625% 91.015625%);
    --palLTurqsat1-208: rgb(62.890625% 94.140625% 91.015625%);
    --palLTurqsat1-209: rgb(63.671875% 94.140625% 91.40625%);
    --palLTurqsat1-210: rgb(64.0625% 94.53125% 91.40625%);
    --palLTurqsat1-211: rgb(64.84375% 94.53125% 91.40625%);
    --palLTurqsat1-212: rgb(65.625% 94.53125% 91.796875%);
    --palLTurqsat1-213: rgb(66.015625% 94.53125% 91.796875%);
    --palLTurqsat1-214: rgb(66.796875% 94.921875% 91.796875%);
    --palLTurqsat1-215: rgb(67.578125% 94.921875% 92.1875%);
    --palLTurqsat1-216: rgb(67.96875% 94.921875% 92.1875%);
    --palLTurqsat1-217: rgb(68.75% 94.921875% 92.1875%);
    --palLTurqsat1-218: rgb(69.53125% 95.3125% 92.578125%);
    --palLTurqsat1-219: rgb(69.921875% 95.3125% 92.578125%);
    --palLTurqsat1-220: rgb(70.703125% 95.3125% 92.578125%);
    --palLTurqsat1-221: rgb(71.484375% 95.703125% 92.96875%);
    --palLTurqsat1-222: rgb(71.875% 95.703125% 92.96875%);
    --palLTurqsat1-223: rgb(72.65625% 95.703125% 92.96875%);
    --palLTurqsat1-224: rgb(73.4375% 95.703125% 93.359375%);
    --palLTurqsat1-225: rgb(74.21875% 96.09375% 93.359375%);
    --palLTurqsat1-226: rgb(74.609375% 96.09375% 93.359375%);
    --palLTurqsat1-227: rgb(75.390625% 96.09375% 93.75%);
    --palLTurqsat1-228: rgb(76.171875% 96.484375% 93.75%);
    --palLTurqsat1-229: rgb(76.5625% 96.484375% 93.75%);
    --palLTurqsat1-230: rgb(77.34375% 96.484375% 94.140625%);
    --palLTurqsat1-231: rgb(78.125% 96.484375% 94.140625%);
    --palLTurqsat1-232: rgb(78.515625% 96.875% 94.140625%);
    --palLTurqsat1-233: rgb(79.296875% 96.875% 94.53125%);
    --palLTurqsat1-234: rgb(80.078125% 96.875% 94.53125%);
    --palLTurqsat1-235: rgb(80.46875% 97.265625% 94.53125%);
    --palLTurqsat1-236: rgb(81.25% 97.265625% 94.921875%);
    --palLTurqsat1-237: rgb(82.03125% 97.265625% 94.921875%);
    --palLTurqsat1-238: rgb(82.421875% 97.265625% 94.921875%);
    --palLTurqsat1-239: rgb(83.203125% 97.65625% 95.3125%);
    --palLTurqsat1-240: rgb(83.984375% 97.65625% 95.3125%);
    --palLTurqsat1-241: rgb(84.375% 97.65625% 95.3125%);
    --palLTurqsat1-242: rgb(85.15625% 98.046875% 95.703125%);
    --palLTurqsat1-243: rgb(85.9375% 98.046875% 95.703125%);
    --palLTurqsat1-244: rgb(86.328125% 98.046875% 95.703125%);
    --palLTurqsat1-245: rgb(87.109375% 98.046875% 96.09375%);
    --palLTurqsat1-246: rgb(87.890625% 98.4375% 96.09375%);
    --palLTurqsat1-247: rgb(88.28125% 98.4375% 96.09375%);
    --palLTurqsat1-248: rgb(89.0625% 98.4375% 96.484375%);
    --palLTurqsat1-249: rgb(89.84375% 98.828125% 96.484375%);
    --palLTurqsat1-250: rgb(90.234375% 98.828125% 96.484375%);
    --palLTurqsat1-251: rgb(91.015625% 98.828125% 96.875%);
    --palLTurqsat1-252: rgb(91.796875% 98.828125% 96.875%);
    --palLTurqsat1-253: rgb(92.1875% 99.21875% 96.875%);
    --palLTurqsat1-254: rgb(92.96875% 99.21875% 97.265625%);
    --palLTurqsat1-255: rgb(93.75% 99.21875% 97.265625%);
    --palLTurqsat1-256: rgb(94.53125% 99.609375% 97.265625%);
}
