/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palMagenta-1: rgb(95.294118% 79.607843% 82.745098%);
    --palMagenta-2: rgb(91.764706% 66.27451% 74.117647%);
    --palMagenta-3: rgb(86.666667% 53.333333% 67.45098%);
    --palMagenta-4: rgb(79.215686% 41.176471% 61.568627%);
    --palMagenta-5: rgb(69.411765% 30.196078% 55.686275%);
    --palMagenta-6: rgb(56.862745% 20.784314% 49.019608%);
    --palMagenta-7: rgb(42.352941% 12.941176% 40.392157%);
}
