/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMagma-1: rgb(0.1462% 0.0466% 1.3866%);
    --palMagma-2: rgb(0.2258% 0.1295% 1.8331%);
    --palMagma-3: rgb(0.3279% 0.2305% 2.3708%);
    --palMagma-4: rgb(0.4512% 0.349% 2.9965%);
    --palMagma-5: rgb(0.595% 0.4843% 3.713%);
    --palMagma-6: rgb(0.7588% 0.6356% 4.4973%);
    --palMagma-7: rgb(0.9426% 0.8022% 5.2844%);
    --palMagma-8: rgb(1.1465% 0.9828% 6.075%);
    --palMagma-9: rgb(1.3708% 1.1771% 6.8667%);
    --palMagma-10: rgb(1.6156% 1.384% 7.6603%);
    --palMagma-11: rgb(1.8815% 1.6026% 8.4584%);
    --palMagma-12: rgb(2.1692% 1.832% 9.261%);
    --palMagma-13: rgb(2.4792% 2.0715% 10.0676%);
    --palMagma-14: rgb(2.8123% 2.3201% 10.8787%);
    --palMagma-15: rgb(3.1696% 2.5765% 11.6965%);
    --palMagma-16: rgb(3.552% 2.8397% 12.5209%);
    --palMagma-17: rgb(3.9608% 3.109% 13.3515%);
    --palMagma-18: rgb(4.383% 3.383% 14.1886%);
    --palMagma-19: rgb(4.8062% 3.6607% 15.0327%);
    --palMagma-20: rgb(5.232% 3.9407% 15.8841%);
    --palMagma-21: rgb(5.6615% 4.216% 16.7446%);
    --palMagma-22: rgb(6.0949% 4.4794% 17.6129%);
    --palMagma-23: rgb(6.533% 4.7318% 18.4892%);
    --palMagma-24: rgb(6.9764% 4.9726% 19.3735%);
    --palMagma-25: rgb(7.4257% 5.2017% 20.266%);
    --palMagma-26: rgb(7.8815% 5.4184% 21.1667%);
    --palMagma-27: rgb(8.3446% 5.6225% 22.0755%);
    --palMagma-28: rgb(8.8155% 5.8133% 22.9922%);
    --palMagma-29: rgb(9.2949% 5.9904% 23.9164%);
    --palMagma-30: rgb(9.7833% 6.1531% 24.8477%);
    --palMagma-31: rgb(10.2815% 6.301% 25.7854%);
    --palMagma-32: rgb(10.7899% 6.4335% 26.7289%);
    --palMagma-33: rgb(11.3094% 6.5492% 27.6784%);
    --palMagma-34: rgb(11.8405% 6.6479% 28.6321%);
    --palMagma-35: rgb(12.3833% 6.7295% 29.5879%);
    --palMagma-36: rgb(12.938% 6.7935% 30.5443%);
    --palMagma-37: rgb(13.5053% 6.8391% 31.5%);
    --palMagma-38: rgb(14.0858% 6.8654% 32.4538%);
    --palMagma-39: rgb(14.6785% 6.8738% 33.4011%);
    --palMagma-40: rgb(15.2839% 6.8637% 34.3404%);
    --palMagma-41: rgb(15.9018% 6.8354% 35.2688%);
    --palMagma-42: rgb(16.5308% 6.7911% 36.1816%);
    --palMagma-43: rgb(17.1713% 6.7305% 37.0771%);
    --palMagma-44: rgb(17.8212% 6.6576% 37.9497%);
    --palMagma-45: rgb(18.4801% 6.5732% 38.7973%);
    --palMagma-46: rgb(19.146% 6.4818% 39.6152%);
    --palMagma-47: rgb(19.8177% 6.3862% 40.4009%);
    --palMagma-48: rgb(20.4935% 6.2907% 41.1514%);
    --palMagma-49: rgb(21.1718% 6.1992% 41.8647%);
    --palMagma-50: rgb(21.8512% 6.1158% 42.5392%);
    --palMagma-51: rgb(22.5302% 6.0445% 43.1742%);
    --palMagma-52: rgb(23.2077% 5.9889% 43.7695%);
    --palMagma-53: rgb(23.8826% 5.9517% 44.3256%);
    --palMagma-54: rgb(24.5543% 5.9352% 44.8436%);
    --palMagma-55: rgb(25.222% 5.9415% 45.3248%);
    --palMagma-56: rgb(25.8857% 5.9706% 45.771%);
    --palMagma-57: rgb(26.5447% 6.0237% 46.184%);
    --palMagma-58: rgb(27.1994% 6.0994% 46.566%);
    --palMagma-59: rgb(27.8493% 6.1978% 46.919%);
    --palMagma-60: rgb(28.4951% 6.3168% 47.2451%);
    --palMagma-61: rgb(29.1366% 6.4553% 47.5462%);
    --palMagma-62: rgb(29.774% 6.6117% 47.8243%);
    --palMagma-63: rgb(30.4081% 6.7835% 48.0812%);
    --palMagma-64: rgb(31.0382% 6.9702% 48.3186%);
    --palMagma-65: rgb(31.6654% 7.169% 48.538%);
    --palMagma-66: rgb(32.2899% 7.3782% 48.7408%);
    --palMagma-67: rgb(32.9114% 7.5972% 48.9287%);
    --palMagma-68: rgb(33.5308% 7.8236% 49.1024%);
    --palMagma-69: rgb(34.1482% 8.0564% 49.2631%);
    --palMagma-70: rgb(34.7636% 8.2946% 49.4121%);
    --palMagma-71: rgb(35.3773% 8.5373% 49.5501%);
    --palMagma-72: rgb(35.9898% 8.7831% 49.6778%);
    --palMagma-73: rgb(36.6012% 9.0314% 49.796%);
    --palMagma-74: rgb(37.2116% 9.2816% 49.9053%);
    --palMagma-75: rgb(37.8211% 9.5332% 50.0067%);
    --palMagma-76: rgb(38.4299% 9.7855% 50.1002%);
    --palMagma-77: rgb(39.0384% 10.0379% 50.1864%);
    --palMagma-78: rgb(39.6467% 10.2902% 50.2658%);
    --palMagma-79: rgb(40.2548% 10.542% 50.3386%);
    --palMagma-80: rgb(40.8629% 10.793% 50.4052%);
    --palMagma-81: rgb(41.4709% 11.0431% 50.4662%);
    --palMagma-82: rgb(42.0791% 11.292% 50.5215%);
    --palMagma-83: rgb(42.6877% 11.5395% 50.5714%);
    --palMagma-84: rgb(43.2967% 11.7855% 50.616%);
    --palMagma-85: rgb(43.9062% 12.0298% 50.6555%);
    --palMagma-86: rgb(44.5163% 12.2724% 50.6901%);
    --palMagma-87: rgb(45.1271% 12.5132% 50.7198%);
    --palMagma-88: rgb(45.7386% 12.7522% 50.7448%);
    --palMagma-89: rgb(46.3508% 12.9893% 50.7652%);
    --palMagma-90: rgb(46.964% 13.2245% 50.7809%);
    --palMagma-91: rgb(47.578% 13.4577% 50.7921%);
    --palMagma-92: rgb(48.1929% 13.6891% 50.7989%);
    --palMagma-93: rgb(48.8088% 13.9186% 50.8011%);
    --palMagma-94: rgb(49.4258% 14.1462% 50.7988%);
    --palMagma-95: rgb(50.0438% 14.3719% 50.792%);
    --palMagma-96: rgb(50.6629% 14.5958% 50.7806%);
    --palMagma-97: rgb(51.2831% 14.8179% 50.7648%);
    --palMagma-98: rgb(51.9045% 15.0383% 50.7443%);
    --palMagma-99: rgb(52.527% 15.2569% 50.7192%);
    --palMagma-100: rgb(53.1507% 15.4739% 50.6895%);
    --palMagma-101: rgb(53.7755% 15.6894% 50.6551%);
    --palMagma-102: rgb(54.4015% 15.9033% 50.6159%);
    --palMagma-103: rgb(55.0287% 16.1158% 50.5719%);
    --palMagma-104: rgb(55.6571% 16.3269% 50.523%);
    --palMagma-105: rgb(56.2866% 16.5368% 50.4692%);
    --palMagma-106: rgb(56.9172% 16.7454% 50.4105%);
    --palMagma-107: rgb(57.549% 16.953% 50.3466%);
    --palMagma-108: rgb(58.1819% 17.1596% 50.2777%);
    --palMagma-109: rgb(58.8158% 17.3652% 50.2035%);
    --palMagma-110: rgb(59.4508% 17.5701% 50.1241%);
    --palMagma-111: rgb(60.0868% 17.7743% 50.0394%);
    --palMagma-112: rgb(60.7238% 17.9779% 49.9492%);
    --palMagma-113: rgb(61.3617% 18.1811% 49.8536%);
    --palMagma-114: rgb(62.0005% 18.384% 49.7524%);
    --palMagma-115: rgb(62.6401% 18.5867% 49.6456%);
    --palMagma-116: rgb(63.2805% 18.7893% 49.5332%);
    --palMagma-117: rgb(63.9216% 18.9921% 49.415%);
    --palMagma-118: rgb(64.5633% 19.1952% 49.291%);
    --palMagma-119: rgb(65.2056% 19.3986% 49.1611%);
    --palMagma-120: rgb(65.8483% 19.6027% 49.0253%);
    --palMagma-121: rgb(66.4915% 19.8075% 48.8836%);
    --palMagma-122: rgb(67.1349% 20.0133% 48.7358%);
    --palMagma-123: rgb(67.7786% 20.2203% 48.5819%);
    --palMagma-124: rgb(68.4224% 20.4286% 48.4219%);
    --palMagma-125: rgb(69.0661% 20.6384% 48.2558%);
    --palMagma-126: rgb(69.7098% 20.8501% 48.0835%);
    --palMagma-127: rgb(70.3532% 21.0638% 47.9049%);
    --palMagma-128: rgb(70.9962% 21.2797% 47.7201%);
    --palMagma-129: rgb(71.6387% 21.4982% 47.529%);
    --palMagma-130: rgb(72.2805% 21.7194% 47.3316%);
    --palMagma-131: rgb(72.9216% 21.9437% 47.1279%);
    --palMagma-132: rgb(73.5616% 22.1713% 46.918%);
    --palMagma-133: rgb(74.2004% 22.4025% 46.7018%);
    --palMagma-134: rgb(74.8378% 22.6377% 46.4794%);
    --palMagma-135: rgb(75.4737% 22.8772% 46.2509%);
    --palMagma-136: rgb(76.1077% 23.1214% 46.0162%);
    --palMagma-137: rgb(76.7398% 23.3705% 45.7755%);
    --palMagma-138: rgb(77.3695% 23.6249% 45.5289%);
    --palMagma-139: rgb(77.9968% 23.8851% 45.2765%);
    --palMagma-140: rgb(78.6212% 24.1514% 45.0184%);
    --palMagma-141: rgb(79.2427% 24.4242% 44.7543%);
    --palMagma-142: rgb(79.8608% 24.704% 44.4848%);
    --palMagma-143: rgb(80.4752% 24.9911% 44.2102%);
    --palMagma-144: rgb(81.0855% 25.2861% 43.9305%);
    --palMagma-145: rgb(81.6914% 25.5895% 43.6461%);
    --palMagma-146: rgb(82.2926% 25.9016% 43.3573%);
    --palMagma-147: rgb(82.8886% 26.2229% 43.0644%);
    --palMagma-148: rgb(83.4791% 26.554% 42.7671%);
    --palMagma-149: rgb(84.0636% 26.8953% 42.4666%);
    --palMagma-150: rgb(84.6416% 27.2473% 42.1631%);
    --palMagma-151: rgb(85.2126% 27.6106% 41.8573%);
    --palMagma-152: rgb(85.7763% 27.9857% 41.5496%);
    --palMagma-153: rgb(86.332% 28.3729% 41.2403%);
    --palMagma-154: rgb(86.8793% 28.7728% 40.9303%);
    --palMagma-155: rgb(87.4176% 29.1859% 40.6205%);
    --palMagma-156: rgb(87.9464% 29.6125% 40.3118%);
    --palMagma-157: rgb(88.4651% 30.053% 40.0047%);
    --palMagma-158: rgb(88.9731% 30.5079% 39.7002%);
    --palMagma-159: rgb(89.47% 30.9773% 39.3995%);
    --palMagma-160: rgb(89.9552% 31.4616% 39.1037%);
    --palMagma-161: rgb(90.4281% 31.961% 38.8137%);
    --palMagma-162: rgb(90.8884% 32.4755% 38.5308%);
    --palMagma-163: rgb(91.3354% 33.0052% 38.2563%);
    --palMagma-164: rgb(91.7689% 33.55% 37.9915%);
    --palMagma-165: rgb(92.1884% 34.1098% 37.7376%);
    --palMagma-166: rgb(92.5937% 34.6844% 37.4959%);
    --palMagma-167: rgb(92.9845% 35.2734% 37.2677%);
    --palMagma-168: rgb(93.3606% 35.8764% 37.0541%);
    --palMagma-169: rgb(93.7221% 36.4929% 36.8567%);
    --palMagma-170: rgb(94.0687% 37.1224% 36.6762%);
    --palMagma-171: rgb(94.4006% 37.7643% 36.5136%);
    --palMagma-172: rgb(94.718% 38.4178% 36.3701%);
    --palMagma-173: rgb(95.021% 39.082% 36.2468%);
    --palMagma-174: rgb(95.3099% 39.7563% 36.1438%);
    --palMagma-175: rgb(95.5849% 40.44% 36.0619%);
    --palMagma-176: rgb(95.8464% 41.1324% 36.0014%);
    --palMagma-177: rgb(96.0949% 41.8323% 35.963%);
    --palMagma-178: rgb(96.331% 42.539% 35.9469%);
    --palMagma-179: rgb(96.5549% 43.2519% 35.9529%);
    --palMagma-180: rgb(96.7671% 43.9703% 35.981%);
    --palMagma-181: rgb(96.968% 44.6936% 36.0311%);
    --palMagma-182: rgb(97.1582% 45.421% 36.103%);
    --palMagma-183: rgb(97.3381% 46.152% 36.1965%);
    --palMagma-184: rgb(97.5082% 46.8861% 36.3111%);
    --palMagma-185: rgb(97.669% 47.6226% 36.4466%);
    --palMagma-186: rgb(97.821% 48.3612% 36.6025%);
    --palMagma-187: rgb(97.9645% 49.1014% 36.7783%);
    --palMagma-188: rgb(98.1% 49.8428% 36.9734%);
    --palMagma-189: rgb(98.2279% 50.5851% 37.1874%);
    --palMagma-190: rgb(98.3485% 51.328% 37.4198%);
    --palMagma-191: rgb(98.4622% 52.0713% 37.6698%);
    --palMagma-192: rgb(98.5693% 52.8148% 37.9371%);
    --palMagma-193: rgb(98.67% 53.5582% 38.221%);
    --palMagma-194: rgb(98.7646% 54.3015% 38.521%);
    --palMagma-195: rgb(98.8533% 55.0446% 38.8365%);
    --palMagma-196: rgb(98.9363% 55.7873% 39.1671%);
    --palMagma-197: rgb(99.0138% 56.5296% 39.5122%);
    --palMagma-198: rgb(99.0871% 57.2706% 39.8714%);
    --palMagma-199: rgb(99.1558% 58.0107% 40.2441%);
    --palMagma-200: rgb(99.2196% 58.7502% 40.6299%);
    --palMagma-201: rgb(99.2785% 59.4891% 41.0283%);
    --palMagma-202: rgb(99.3326% 60.2275% 41.439%);
    --palMagma-203: rgb(99.3834% 60.9644% 41.8613%);
    --palMagma-204: rgb(99.4309% 61.6999% 42.295%);
    --palMagma-205: rgb(99.4738% 62.435% 42.7397%);
    --palMagma-206: rgb(99.5122% 63.1696% 43.1951%);
    --palMagma-207: rgb(99.548% 63.9027% 43.6607%);
    --palMagma-208: rgb(99.581% 64.6344% 44.1361%);
    --palMagma-209: rgb(99.6096% 65.3659% 44.6213%);
    --palMagma-210: rgb(99.6341% 66.0969% 45.116%);
    --palMagma-211: rgb(99.658% 66.8256% 45.6192%);
    --palMagma-212: rgb(99.6775% 67.5541% 46.1314%);
    --palMagma-213: rgb(99.6925% 68.2828% 46.6526%);
    --palMagma-214: rgb(99.7077% 69.0088% 47.1811%);
    --palMagma-215: rgb(99.7186% 69.7349% 47.7182%);
    --palMagma-216: rgb(99.7254% 70.4611% 48.2635%);
    --palMagma-217: rgb(99.7325% 71.1848% 48.8154%);
    --palMagma-218: rgb(99.7351% 71.9089% 49.3755%);
    --palMagma-219: rgb(99.7351% 72.6324% 49.9428%);
    --palMagma-220: rgb(99.7341% 73.3545% 50.5167%);
    --palMagma-221: rgb(99.7285% 74.0772% 51.0983%);
    --palMagma-222: rgb(99.7228% 74.7981% 51.6859%);
    --palMagma-223: rgb(99.7138% 75.519% 52.2806%);
    --palMagma-224: rgb(99.7019% 76.2398% 52.8821%);
    --palMagma-225: rgb(99.6898% 76.9591% 53.4892%);
    --palMagma-226: rgb(99.6727% 77.6795% 54.1039%);
    --palMagma-227: rgb(99.6571% 78.3977% 54.7233%);
    --palMagma-228: rgb(99.6369% 79.1167% 55.3499%);
    --palMagma-229: rgb(99.6162% 79.8348% 55.982%);
    --palMagma-230: rgb(99.5932% 80.5527% 56.6202%);
    --palMagma-231: rgb(99.568% 81.2706% 57.2645%);
    --palMagma-232: rgb(99.5424% 81.9875% 57.914%);
    --palMagma-233: rgb(99.5131% 82.7052% 58.5701%);
    --palMagma-234: rgb(99.4851% 83.4213% 59.2307%);
    --palMagma-235: rgb(99.4524% 84.1387% 59.8983%);
    --palMagma-236: rgb(99.4222% 84.854% 60.5696%);
    --palMagma-237: rgb(99.3866% 85.5711% 61.2482%);
    --palMagma-238: rgb(99.3545% 86.2859% 61.9299%);
    --palMagma-239: rgb(99.317% 87.0024% 62.6189%);
    --palMagma-240: rgb(99.2831% 87.7168% 63.3109%);
    --palMagma-241: rgb(99.244% 88.433% 64.0099%);
    --palMagma-242: rgb(99.2089% 89.147% 64.7116%);
    --palMagma-243: rgb(99.1688% 89.8627% 65.4202%);
    --palMagma-244: rgb(99.1332% 90.5763% 66.1309%);
    --palMagma-245: rgb(99.093% 91.2915% 66.8481%);
    --palMagma-246: rgb(99.057% 92.0049% 67.5675%);
    --palMagma-247: rgb(99.0175% 92.7196% 68.2926%);
    --palMagma-248: rgb(98.9815% 93.4329% 69.0198%);
    --palMagma-249: rgb(98.9434% 94.147% 69.7519%);
    --palMagma-250: rgb(98.9077% 94.8604% 70.4863%);
    --palMagma-251: rgb(98.8717% 95.5742% 71.2242%);
    --palMagma-252: rgb(98.8367% 96.2878% 71.9649%);
    --palMagma-253: rgb(98.8033% 97.0012% 72.7077%);
    --palMagma-254: rgb(98.7691% 97.7154% 73.4536%);
    --palMagma-255: rgb(98.7387% 98.4288% 74.2002%);
    --palMagma-256: rgb(98.7053% 99.1438% 74.9504%);
}
