/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palManagua-1: rgb(100% 81.263% 40.424%);
    --palManagua-2: rgb(99.516% 80.455% 40.155%);
    --palManagua-3: rgb(99.024% 79.649% 39.888%);
    --palManagua-4: rgb(98.532% 78.848% 39.622%);
    --palManagua-5: rgb(98.041% 78.05% 39.356%);
    --palManagua-6: rgb(97.551% 77.257% 39.093%);
    --palManagua-7: rgb(97.062% 76.468% 38.83%);
    --palManagua-8: rgb(96.573% 75.684% 38.568%);
    --palManagua-9: rgb(96.087% 74.904% 38.31%);
    --palManagua-10: rgb(95.601% 74.129% 38.052%);
    --palManagua-11: rgb(95.116% 73.36% 37.795%);
    --palManagua-12: rgb(94.631% 72.595% 37.539%);
    --palManagua-13: rgb(94.149% 71.835% 37.286%);
    --palManagua-14: rgb(93.667% 71.08% 37.034%);
    --palManagua-15: rgb(93.186% 70.33% 36.784%);
    --palManagua-16: rgb(92.706% 69.585% 36.536%);
    --palManagua-17: rgb(92.228% 68.845% 36.289%);
    --palManagua-18: rgb(91.75% 68.109% 36.042%);
    --palManagua-19: rgb(91.273% 67.379% 35.8%);
    --palManagua-20: rgb(90.797% 66.653% 35.558%);
    --palManagua-21: rgb(90.321% 65.932% 35.316%);
    --palManagua-22: rgb(89.846% 65.216% 35.078%);
    --palManagua-23: rgb(89.372% 64.503% 34.839%);
    --palManagua-24: rgb(88.899% 63.796% 34.601%);
    --palManagua-25: rgb(88.426% 63.093% 34.367%);
    --palManagua-26: rgb(87.953% 62.395% 34.134%);
    --palManagua-27: rgb(87.481% 61.7% 33.902%);
    --palManagua-28: rgb(87.009% 61.009% 33.67%);
    --palManagua-29: rgb(86.538% 60.323% 33.442%);
    --palManagua-30: rgb(86.067% 59.641% 33.213%);
    --palManagua-31: rgb(85.597% 58.963% 32.987%);
    --palManagua-32: rgb(85.125% 58.29% 32.76%);
    --palManagua-33: rgb(84.655% 57.621% 32.536%);
    --palManagua-34: rgb(84.185% 56.954% 32.315%);
    --palManagua-35: rgb(83.714% 56.294% 32.094%);
    --palManagua-36: rgb(83.243% 55.635% 31.874%);
    --palManagua-37: rgb(82.772% 54.983% 31.656%);
    --palManagua-38: rgb(82.301% 54.333% 31.438%);
    --palManagua-39: rgb(81.829% 53.688% 31.222%);
    --palManagua-40: rgb(81.357% 53.046% 31.01%);
    --palManagua-41: rgb(80.886% 52.408% 30.796%);
    --palManagua-42: rgb(80.413% 51.775% 30.587%);
    --palManagua-43: rgb(79.94% 51.145% 30.375%);
    --palManagua-44: rgb(79.466% 50.519% 30.167%);
    --palManagua-45: rgb(78.991% 49.898% 29.962%);
    --palManagua-46: rgb(78.516% 49.28% 29.757%);
    --palManagua-47: rgb(78.04% 48.668% 29.553%);
    --palManagua-48: rgb(77.564% 48.058% 29.351%);
    --palManagua-49: rgb(77.086% 47.454% 29.153%);
    --palManagua-50: rgb(76.608% 46.853% 28.954%);
    --palManagua-51: rgb(76.128% 46.255% 28.756%);
    --palManagua-52: rgb(75.647% 45.663% 28.561%);
    --palManagua-53: rgb(75.166% 45.075% 28.369%);
    --palManagua-54: rgb(74.682% 44.491% 28.178%);
    --palManagua-55: rgb(74.197% 43.91% 27.988%);
    --palManagua-56: rgb(73.711% 43.333% 27.801%);
    --palManagua-57: rgb(73.223% 42.762% 27.616%);
    --palManagua-58: rgb(72.732% 42.192% 27.43%);
    --palManagua-59: rgb(72.239% 41.628% 27.247%);
    --palManagua-60: rgb(71.746% 41.067% 27.069%);
    --palManagua-61: rgb(71.247% 40.508% 26.891%);
    --palManagua-62: rgb(70.747% 39.952% 26.712%);
    --palManagua-63: rgb(70.244% 39.401% 26.538%);
    --palManagua-64: rgb(69.737% 38.852% 26.367%);
    --palManagua-65: rgb(69.227% 38.306% 26.194%);
    --palManagua-66: rgb(68.712% 37.761% 26.025%);
    --palManagua-67: rgb(68.193% 37.219% 25.857%);
    --palManagua-68: rgb(67.671% 36.68% 25.692%);
    --palManagua-69: rgb(67.143% 36.142% 25.529%);
    --palManagua-70: rgb(66.61% 35.607% 25.367%);
    --palManagua-71: rgb(66.071% 35.073% 25.208%);
    --palManagua-72: rgb(65.528% 34.539% 25.049%);
    --palManagua-73: rgb(64.98% 34.009% 24.895%);
    --palManagua-74: rgb(64.425% 33.48% 24.742%);
    --palManagua-75: rgb(63.866% 32.953% 24.59%);
    --palManagua-76: rgb(63.3% 32.425% 24.442%);
    --palManagua-77: rgb(62.729% 31.901% 24.298%);
    --palManagua-78: rgb(62.152% 31.38% 24.157%);
    --palManagua-79: rgb(61.57% 30.86% 24.017%);
    --palManagua-80: rgb(60.983% 30.341% 23.881%);
    --palManagua-81: rgb(60.391% 29.826% 23.752%);
    --palManagua-82: rgb(59.793% 29.314% 23.623%);
    --palManagua-83: rgb(59.191% 28.805% 23.5%);
    --palManagua-84: rgb(58.585% 28.302% 23.377%);
    --palManagua-85: rgb(57.974% 27.799% 23.263%);
    --palManagua-86: rgb(57.359% 27.302% 23.155%);
    --palManagua-87: rgb(56.741% 26.808% 23.047%);
    --palManagua-88: rgb(56.12% 26.321% 22.948%);
    --palManagua-89: rgb(55.496% 25.837% 22.857%);
    --palManagua-90: rgb(54.871% 25.361% 22.769%);
    --palManagua-91: rgb(54.243% 24.891% 22.689%);
    --palManagua-92: rgb(53.614% 24.424% 22.616%);
    --palManagua-93: rgb(52.984% 23.968% 22.548%);
    --palManagua-94: rgb(52.354% 23.52% 22.487%);
    --palManagua-95: rgb(51.724% 23.076% 22.436%);
    --palManagua-96: rgb(51.094% 22.643% 22.395%);
    --palManagua-97: rgb(50.467% 22.217% 22.363%);
    --palManagua-98: rgb(49.841% 21.802% 22.339%);
    --palManagua-99: rgb(49.217% 21.397% 22.325%);
    --palManagua-100: rgb(48.595% 21% 22.321%);
    --palManagua-101: rgb(47.979% 20.618% 22.328%);
    --palManagua-102: rgb(47.364% 20.242% 22.345%);
    --palManagua-103: rgb(46.756% 19.88% 22.373%);
    --palManagua-104: rgb(46.152% 19.532% 22.413%);
    --palManagua-105: rgb(45.554% 19.195% 22.465%);
    --palManagua-106: rgb(44.962% 18.873% 22.534%);
    --palManagua-107: rgb(44.377% 18.566% 22.616%);
    --palManagua-108: rgb(43.799% 18.266% 22.708%);
    --palManagua-109: rgb(43.229% 17.987% 22.817%);
    --palManagua-110: rgb(42.665% 17.723% 22.938%);
    --palManagua-111: rgb(42.111% 17.474% 23.077%);
    --palManagua-112: rgb(41.567% 17.238% 23.232%);
    --palManagua-113: rgb(41.033% 17.023% 23.401%);
    --palManagua-114: rgb(40.507% 16.822% 23.59%);
    --palManagua-115: rgb(39.992% 16.64% 23.794%);
    --palManagua-116: rgb(39.489% 16.475% 24.014%);
    --palManagua-117: rgb(38.996% 16.331% 24.254%);
    --palManagua-118: rgb(38.515% 16.203% 24.512%);
    --palManagua-119: rgb(38.046% 16.093% 24.792%);
    --palManagua-120: rgb(37.589% 16% 25.087%);
    --palManagua-121: rgb(37.143% 15.932% 25.403%);
    --palManagua-122: rgb(36.711% 15.883% 25.738%);
    --palManagua-123: rgb(36.292% 15.853% 26.092%);
    --palManagua-124: rgb(35.885% 15.843% 26.466%);
    --palManagua-125: rgb(35.494% 15.853% 26.862%);
    --palManagua-126: rgb(35.114% 15.882% 27.276%);
    --palManagua-127: rgb(34.748% 15.931% 27.711%);
    --palManagua-128: rgb(34.394% 15.999% 28.164%);
    --palManagua-129: rgb(34.056% 16.094% 28.636%);
    --palManagua-130: rgb(33.731% 16.207% 29.131%);
    --palManagua-131: rgb(33.42% 16.338% 29.642%);
    --palManagua-132: rgb(33.121% 16.486% 30.17%);
    --palManagua-133: rgb(32.837% 16.658% 30.719%);
    --palManagua-134: rgb(32.565% 16.847% 31.284%);
    --palManagua-135: rgb(32.31% 17.056% 31.867%);
    --palManagua-136: rgb(32.066% 17.283% 32.465%);
    --palManagua-137: rgb(31.834% 17.53% 33.079%);
    --palManagua-138: rgb(31.616% 17.797% 33.71%);
    --palManagua-139: rgb(31.41% 18.074% 34.354%);
    --palManagua-140: rgb(31.216% 18.373% 35.011%);
    --palManagua-141: rgb(31.038% 18.69% 35.682%);
    --palManagua-142: rgb(30.87% 19.021% 36.363%);
    --palManagua-143: rgb(30.712% 19.37% 37.056%);
    --palManagua-144: rgb(30.57% 19.732% 37.76%);
    --palManagua-145: rgb(30.435% 20.106% 38.473%);
    --palManagua-146: rgb(30.314% 20.5% 39.195%);
    --palManagua-147: rgb(30.204% 20.905% 39.924%);
    --palManagua-148: rgb(30.106% 21.323% 40.661%);
    --palManagua-149: rgb(30.019% 21.756% 41.404%);
    --palManagua-150: rgb(29.944% 22.198% 42.151%);
    --palManagua-151: rgb(29.878% 22.656% 42.904%);
    --palManagua-152: rgb(29.822% 23.122% 43.66%);
    --palManagua-153: rgb(29.778% 23.599% 44.419%);
    --palManagua-154: rgb(29.745% 24.085% 45.179%);
    --palManagua-155: rgb(29.721% 24.582% 45.941%);
    --palManagua-156: rgb(29.708% 25.09% 46.703%);
    --palManagua-157: rgb(29.704% 25.603% 47.465%);
    --palManagua-158: rgb(29.71% 26.127% 48.225%);
    --palManagua-159: rgb(29.726% 26.658% 48.983%);
    --palManagua-160: rgb(29.75% 27.194% 49.74%);
    --palManagua-161: rgb(29.784% 27.741% 50.493%);
    --palManagua-162: rgb(29.828% 28.292% 51.242%);
    --palManagua-163: rgb(29.881% 28.847% 51.987%);
    --palManagua-164: rgb(29.943% 29.408% 52.728%);
    --palManagua-165: rgb(30.012% 29.976% 53.463%);
    --palManagua-166: rgb(30.09% 30.548% 54.191%);
    --palManagua-167: rgb(30.176% 31.122% 54.915%);
    --palManagua-168: rgb(30.271% 31.7% 55.63%);
    --palManagua-169: rgb(30.373% 32.283% 56.339%);
    --palManagua-170: rgb(30.483% 32.866% 57.04%);
    --palManagua-171: rgb(30.601% 33.454% 57.733%);
    --palManagua-172: rgb(30.722% 34.042% 58.418%);
    --palManagua-173: rgb(30.853% 34.631% 59.095%);
    --palManagua-174: rgb(30.989% 35.224% 59.763%);
    --palManagua-175: rgb(31.13% 35.817% 60.423%);
    --palManagua-176: rgb(31.277% 36.41% 61.073%);
    --palManagua-177: rgb(31.431% 37.005% 61.715%);
    --palManagua-178: rgb(31.59% 37.6% 62.347%);
    --palManagua-179: rgb(31.752% 38.195% 62.969%);
    --palManagua-180: rgb(31.92% 38.79% 63.583%);
    --palManagua-181: rgb(32.092% 39.385% 64.188%);
    --palManagua-182: rgb(32.268% 39.979% 64.783%);
    --palManagua-183: rgb(32.446% 40.575% 65.37%);
    --palManagua-184: rgb(32.63% 41.168% 65.948%);
    --palManagua-185: rgb(32.817% 41.763% 66.517%);
    --palManagua-186: rgb(33.008% 42.355% 67.079%);
    --palManagua-187: rgb(33.201% 42.95% 67.632%);
    --palManagua-188: rgb(33.398% 43.544% 68.176%);
    --palManagua-189: rgb(33.596% 44.137% 68.715%);
    --palManagua-190: rgb(33.798% 44.731% 69.246%);
    --palManagua-191: rgb(34.003% 45.327% 69.769%);
    --palManagua-192: rgb(34.21% 45.923% 70.288%);
    --palManagua-193: rgb(34.419% 46.52% 70.799%);
    --palManagua-194: rgb(34.631% 47.12% 71.306%);
    --palManagua-195: rgb(34.847% 47.72% 71.808%);
    --palManagua-196: rgb(35.064% 48.323% 72.305%);
    --palManagua-197: rgb(35.283% 48.928% 72.798%);
    --palManagua-198: rgb(35.506% 49.537% 73.288%);
    --palManagua-199: rgb(35.73% 50.149% 73.773%);
    --palManagua-200: rgb(35.955% 50.763% 74.256%);
    --palManagua-201: rgb(36.185% 51.381% 74.736%);
    --palManagua-202: rgb(36.414% 52.001% 75.213%);
    --palManagua-203: rgb(36.649% 52.627% 75.689%);
    --palManagua-204: rgb(36.884% 53.256% 76.162%);
    --palManagua-205: rgb(37.119% 53.889% 76.633%);
    --palManagua-206: rgb(37.359% 54.525% 77.103%);
    --palManagua-207: rgb(37.6% 55.166% 77.571%);
    --palManagua-208: rgb(37.842% 55.809% 78.037%);
    --palManagua-209: rgb(38.087% 56.458% 78.503%);
    --palManagua-210: rgb(38.333% 57.11% 78.966%);
    --palManagua-211: rgb(38.579% 57.766% 79.429%);
    --palManagua-212: rgb(38.828% 58.426% 79.89%);
    --palManagua-213: rgb(39.078% 59.088% 80.35%);
    --palManagua-214: rgb(39.329% 59.755% 80.81%);
    --palManagua-215: rgb(39.582% 60.426% 81.268%);
    --palManagua-216: rgb(39.835% 61.099% 81.725%);
    --palManagua-217: rgb(40.09% 61.774% 82.182%);
    --palManagua-218: rgb(40.344% 62.454% 82.637%);
    --palManagua-219: rgb(40.6% 63.137% 83.092%);
    --palManagua-220: rgb(40.856% 63.822% 83.546%);
    --palManagua-221: rgb(41.114% 64.51% 83.999%);
    --palManagua-222: rgb(41.372% 65.202% 84.451%);
    --palManagua-223: rgb(41.631% 65.896% 84.903%);
    --palManagua-224: rgb(41.89% 66.593% 85.354%);
    --palManagua-225: rgb(42.149% 67.294% 85.805%);
    --palManagua-226: rgb(42.41% 67.996% 86.256%);
    --palManagua-227: rgb(42.671% 68.702% 86.705%);
    --palManagua-228: rgb(42.932% 69.411% 87.156%);
    --palManagua-229: rgb(43.195% 70.123% 87.606%);
    --palManagua-230: rgb(43.457% 70.839% 88.056%);
    --palManagua-231: rgb(43.72% 71.557% 88.506%);
    --palManagua-232: rgb(43.983% 72.278% 88.956%);
    --palManagua-233: rgb(44.248% 73.004% 89.407%);
    --palManagua-234: rgb(44.512% 73.732% 89.858%);
    --palManagua-235: rgb(44.776% 74.464% 90.31%);
    --palManagua-236: rgb(45.042% 75.2% 90.763%);
    --palManagua-237: rgb(45.308% 75.939% 91.216%);
    --palManagua-238: rgb(45.574% 76.682% 91.67%);
    --palManagua-239: rgb(45.841% 77.429% 92.124%);
    --palManagua-240: rgb(46.109% 78.181% 92.58%);
    --palManagua-241: rgb(46.377% 78.936% 93.036%);
    --palManagua-242: rgb(46.645% 79.694% 93.494%);
    --palManagua-243: rgb(46.914% 80.458% 93.952%);
    --palManagua-244: rgb(47.183% 81.224% 94.412%);
    --palManagua-245: rgb(47.453% 81.995% 94.872%);
    --palManagua-246: rgb(47.721% 82.77% 95.334%);
    --palManagua-247: rgb(47.992% 83.549% 95.796%);
    --palManagua-248: rgb(48.261% 84.331% 96.259%);
    --palManagua-249: rgb(48.53% 85.117% 96.722%);
    --palManagua-250: rgb(48.801% 85.906% 97.186%);
    --palManagua-251: rgb(49.071% 86.699% 97.651%);
    --palManagua-252: rgb(49.339% 87.495% 98.116%);
    --palManagua-253: rgb(49.607% 88.294% 98.581%);
    --palManagua-254: rgb(49.877% 89.096% 99.047%);
    --palManagua-255: rgb(50.144% 89.901% 99.512%);
    --palManagua-256: rgb(50.411% 90.708% 99.978%);
}
