/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMatter-1: rgb(99.607843% 92.941176% 69.019608%);
    --palMatter-2: rgb(99.215686% 92.54902% 68.627451%);
    --palMatter-3: rgb(99.215686% 91.764706% 67.843137%);
    --palMatter-4: rgb(99.215686% 91.372549% 67.45098%);
    --palMatter-5: rgb(99.215686% 90.980392% 67.058824%);
    --palMatter-6: rgb(99.215686% 90.196078% 66.27451%);
    --palMatter-7: rgb(99.215686% 89.803922% 65.882353%);
    --palMatter-8: rgb(99.215686% 89.019608% 65.490196%);
    --palMatter-9: rgb(99.215686% 88.627451% 64.705882%);
    --palMatter-10: rgb(98.823529% 88.235294% 64.313725%);
    --palMatter-11: rgb(98.823529% 87.45098% 63.921569%);
    --palMatter-12: rgb(98.823529% 87.058824% 63.137255%);
    --palMatter-13: rgb(98.823529% 86.27451% 62.745098%);
    --palMatter-14: rgb(98.823529% 85.882353% 62.352941%);
    --palMatter-15: rgb(98.823529% 85.490196% 61.568627%);
    --palMatter-16: rgb(98.823529% 84.705882% 61.176471%);
    --palMatter-17: rgb(98.431373% 84.313725% 60.784314%);
    --palMatter-18: rgb(98.431373% 83.529412% 60.392157%);
    --palMatter-19: rgb(98.431373% 83.137255% 59.607843%);
    --palMatter-20: rgb(98.431373% 82.745098% 59.215686%);
    --palMatter-21: rgb(98.431373% 81.960784% 58.823529%);
    --palMatter-22: rgb(98.431373% 81.568627% 58.039216%);
    --palMatter-23: rgb(98.431373% 81.176471% 57.647059%);
    --palMatter-24: rgb(98.039216% 80.392157% 57.254902%);
    --palMatter-25: rgb(98.039216% 80% 56.862745%);
    --palMatter-26: rgb(98.039216% 79.215686% 56.470588%);
    --palMatter-27: rgb(98.039216% 78.823529% 55.686275%);
    --palMatter-28: rgb(98.039216% 78.431373% 55.294118%);
    --palMatter-29: rgb(98.039216% 77.647059% 54.901961%);
    --palMatter-30: rgb(98.039216% 77.254902% 54.509804%);
    --palMatter-31: rgb(97.647059% 76.470588% 54.117647%);
    --palMatter-32: rgb(97.647059% 76.078431% 53.333333%);
    --palMatter-33: rgb(97.647059% 75.686275% 52.941176%);
    --palMatter-34: rgb(97.647059% 74.901961% 52.54902%);
    --palMatter-35: rgb(97.647059% 74.509804% 52.156863%);
    --palMatter-36: rgb(97.647059% 74.117647% 51.764706%);
    --palMatter-37: rgb(97.254902% 73.333333% 51.372549%);
    --palMatter-38: rgb(97.254902% 72.941176% 50.980392%);
    --palMatter-39: rgb(97.254902% 72.156863% 50.196078%);
    --palMatter-40: rgb(97.254902% 71.764706% 49.803922%);
    --palMatter-41: rgb(97.254902% 71.372549% 49.411765%);
    --palMatter-42: rgb(96.862745% 70.588235% 49.019608%);
    --palMatter-43: rgb(96.862745% 70.196078% 48.627451%);
    --palMatter-44: rgb(96.862745% 69.803922% 48.235294%);
    --palMatter-45: rgb(96.862745% 69.019608% 47.843137%);
    --palMatter-46: rgb(96.862745% 68.627451% 47.45098%);
    --palMatter-47: rgb(96.470588% 68.235294% 47.058824%);
    --palMatter-48: rgb(96.470588% 67.45098% 46.666667%);
    --palMatter-49: rgb(96.470588% 67.058824% 46.27451%);
    --palMatter-50: rgb(96.470588% 66.27451% 45.882353%);
    --palMatter-51: rgb(96.078431% 65.882353% 45.490196%);
    --palMatter-52: rgb(96.078431% 65.490196% 45.098039%);
    --palMatter-53: rgb(96.078431% 64.705882% 44.705882%);
    --palMatter-54: rgb(96.078431% 64.313725% 44.313725%);
    --palMatter-55: rgb(96.078431% 63.921569% 43.921569%);
    --palMatter-56: rgb(95.686275% 63.137255% 43.529412%);
    --palMatter-57: rgb(95.686275% 62.745098% 43.137255%);
    --palMatter-58: rgb(95.686275% 62.352941% 42.745098%);
    --palMatter-59: rgb(95.686275% 61.568627% 42.352941%);
    --palMatter-60: rgb(95.294118% 61.176471% 41.960784%);
    --palMatter-61: rgb(95.294118% 60.392157% 41.568627%);
    --palMatter-62: rgb(95.294118% 60% 41.176471%);
    --palMatter-63: rgb(94.901961% 59.607843% 40.784314%);
    --palMatter-64: rgb(94.901961% 58.823529% 40.784314%);
    --palMatter-65: rgb(94.901961% 58.431373% 40.392157%);
    --palMatter-66: rgb(94.901961% 58.039216% 40%);
    --palMatter-67: rgb(94.509804% 57.254902% 39.607843%);
    --palMatter-68: rgb(94.509804% 56.862745% 39.215686%);
    --palMatter-69: rgb(94.509804% 56.078431% 38.823529%);
    --palMatter-70: rgb(94.117647% 55.686275% 38.823529%);
    --palMatter-71: rgb(94.117647% 55.294118% 38.431373%);
    --palMatter-72: rgb(94.117647% 54.509804% 38.039216%);
    --palMatter-73: rgb(93.72549% 54.117647% 37.647059%);
    --palMatter-74: rgb(93.72549% 53.72549% 37.647059%);
    --palMatter-75: rgb(93.72549% 52.941176% 37.254902%);
    --palMatter-76: rgb(93.333333% 52.54902% 36.862745%);
    --palMatter-77: rgb(93.333333% 52.156863% 36.862745%);
    --palMatter-78: rgb(93.333333% 51.372549% 36.470588%);
    --palMatter-79: rgb(92.941176% 50.980392% 36.078431%);
    --palMatter-80: rgb(92.941176% 50.588235% 36.078431%);
    --palMatter-81: rgb(92.941176% 49.803922% 35.686275%);
    --palMatter-82: rgb(92.54902% 49.411765% 35.294118%);
    --palMatter-83: rgb(92.54902% 48.627451% 35.294118%);
    --palMatter-84: rgb(92.54902% 48.235294% 34.901961%);
    --palMatter-85: rgb(92.156863% 47.843137% 34.901961%);
    --palMatter-86: rgb(92.156863% 47.058824% 34.509804%);
    --palMatter-87: rgb(91.764706% 46.666667% 34.509804%);
    --palMatter-88: rgb(91.764706% 46.27451% 34.117647%);
    --palMatter-89: rgb(91.372549% 45.490196% 34.117647%);
    --palMatter-90: rgb(91.372549% 45.098039% 33.72549%);
    --palMatter-91: rgb(91.372549% 44.705882% 33.72549%);
    --palMatter-92: rgb(90.980392% 43.921569% 33.72549%);
    --palMatter-93: rgb(90.980392% 43.529412% 33.333333%);
    --palMatter-94: rgb(90.588235% 43.137255% 33.333333%);
    --palMatter-95: rgb(90.588235% 42.352941% 33.333333%);
    --palMatter-96: rgb(90.196078% 41.960784% 32.941176%);
    --palMatter-97: rgb(90.196078% 41.568627% 32.941176%);
    --palMatter-98: rgb(89.803922% 40.784314% 32.941176%);
    --palMatter-99: rgb(89.803922% 40.392157% 32.941176%);
    --palMatter-100: rgb(89.411765% 40% 32.54902%);
    --palMatter-101: rgb(89.019608% 39.215686% 32.54902%);
    --palMatter-102: rgb(89.019608% 38.823529% 32.54902%);
    --palMatter-103: rgb(88.627451% 38.431373% 32.54902%);
    --palMatter-104: rgb(88.627451% 37.647059% 32.54902%);
    --palMatter-105: rgb(88.235294% 37.254902% 32.54902%);
    --palMatter-106: rgb(87.843137% 36.862745% 32.54902%);
    --palMatter-107: rgb(87.843137% 36.470588% 32.54902%);
    --palMatter-108: rgb(87.45098% 35.686275% 32.54902%);
    --palMatter-109: rgb(87.45098% 35.294118% 32.54902%);
    --palMatter-110: rgb(87.058824% 34.901961% 32.54902%);
    --palMatter-111: rgb(86.666667% 34.509804% 32.54902%);
    --palMatter-112: rgb(86.27451% 33.72549% 32.54902%);
    --palMatter-113: rgb(86.27451% 33.333333% 32.54902%);
    --palMatter-114: rgb(85.882353% 32.941176% 32.54902%);
    --palMatter-115: rgb(85.490196% 32.54902% 32.54902%);
    --palMatter-116: rgb(85.098039% 31.764706% 32.54902%);
    --palMatter-117: rgb(85.098039% 31.372549% 32.54902%);
    --palMatter-118: rgb(84.705882% 30.980392% 32.941176%);
    --palMatter-119: rgb(84.313725% 30.588235% 32.941176%);
    --palMatter-120: rgb(83.921569% 30.196078% 32.941176%);
    --palMatter-121: rgb(83.529412% 29.803922% 32.941176%);
    --palMatter-122: rgb(83.529412% 29.411765% 32.941176%);
    --palMatter-123: rgb(83.137255% 29.019608% 33.333333%);
    --palMatter-124: rgb(82.745098% 28.235294% 33.333333%);
    --palMatter-125: rgb(82.352941% 27.843137% 33.333333%);
    --palMatter-126: rgb(81.960784% 27.45098% 33.72549%);
    --palMatter-127: rgb(81.568627% 27.058824% 33.72549%);
    --palMatter-128: rgb(81.176471% 26.666667% 33.72549%);
    --palMatter-129: rgb(80.784314% 26.27451% 33.72549%);
    --palMatter-130: rgb(80.392157% 25.882353% 34.117647%);
    --palMatter-131: rgb(80% 25.490196% 34.117647%);
    --palMatter-132: rgb(79.607843% 25.098039% 34.117647%);
    --palMatter-133: rgb(79.215686% 24.705882% 34.509804%);
    --palMatter-134: rgb(78.823529% 24.313725% 34.509804%);
    --palMatter-135: rgb(78.431373% 23.921569% 34.509804%);
    --palMatter-136: rgb(78.039216% 23.921569% 34.901961%);
    --palMatter-137: rgb(77.647059% 23.529412% 34.901961%);
    --palMatter-138: rgb(77.254902% 23.137255% 34.901961%);
    --palMatter-139: rgb(76.862745% 22.745098% 35.294118%);
    --palMatter-140: rgb(76.470588% 22.352941% 35.294118%);
    --palMatter-141: rgb(76.078431% 21.960784% 35.294118%);
    --palMatter-142: rgb(75.686275% 21.568627% 35.686275%);
    --palMatter-143: rgb(75.294118% 21.176471% 35.686275%);
    --palMatter-144: rgb(74.901961% 21.176471% 35.686275%);
    --palMatter-145: rgb(74.509804% 20.784314% 36.078431%);
    --palMatter-146: rgb(74.117647% 20.392157% 36.078431%);
    --palMatter-147: rgb(73.333333% 20% 36.078431%);
    --palMatter-148: rgb(72.941176% 19.607843% 36.470588%);
    --palMatter-149: rgb(72.54902% 19.607843% 36.470588%);
    --palMatter-150: rgb(72.156863% 19.215686% 36.470588%);
    --palMatter-151: rgb(71.764706% 18.823529% 36.862745%);
    --palMatter-152: rgb(71.372549% 18.431373% 36.862745%);
    --palMatter-153: rgb(70.980392% 18.431373% 36.862745%);
    --palMatter-154: rgb(70.196078% 18.039216% 37.254902%);
    --palMatter-155: rgb(69.803922% 17.647059% 37.254902%);
    --palMatter-156: rgb(69.411765% 17.647059% 37.254902%);
    --palMatter-157: rgb(69.019608% 17.254902% 37.254902%);
    --palMatter-158: rgb(68.627451% 16.862745% 37.647059%);
    --palMatter-159: rgb(68.235294% 16.862745% 37.647059%);
    --palMatter-160: rgb(67.45098% 16.470588% 37.647059%);
    --palMatter-161: rgb(67.058824% 16.078431% 37.647059%);
    --palMatter-162: rgb(66.666667% 16.078431% 38.039216%);
    --palMatter-163: rgb(66.27451% 15.686275% 38.039216%);
    --palMatter-164: rgb(65.490196% 15.686275% 38.039216%);
    --palMatter-165: rgb(65.098039% 15.294118% 38.039216%);
    --palMatter-166: rgb(64.705882% 14.901961% 38.431373%);
    --palMatter-167: rgb(64.313725% 14.901961% 38.431373%);
    --palMatter-168: rgb(63.921569% 14.509804% 38.431373%);
    --palMatter-169: rgb(63.137255% 14.509804% 38.431373%);
    --palMatter-170: rgb(62.745098% 14.117647% 38.431373%);
    --palMatter-171: rgb(62.352941% 14.117647% 38.431373%);
    --palMatter-172: rgb(61.960784% 13.72549% 38.823529%);
    --palMatter-173: rgb(61.176471% 13.72549% 38.823529%);
    --palMatter-174: rgb(60.784314% 13.333333% 38.823529%);
    --palMatter-175: rgb(60.392157% 13.333333% 38.823529%);
    --palMatter-176: rgb(60% 13.333333% 38.823529%);
    --palMatter-177: rgb(59.215686% 12.941176% 38.823529%);
    --palMatter-178: rgb(58.823529% 12.941176% 38.823529%);
    --palMatter-179: rgb(58.431373% 12.54902% 38.823529%);
    --palMatter-180: rgb(57.647059% 12.54902% 38.823529%);
    --palMatter-181: rgb(57.254902% 12.156863% 38.823529%);
    --palMatter-182: rgb(56.862745% 12.156863% 38.823529%);
    --palMatter-183: rgb(56.470588% 12.156863% 38.823529%);
    --palMatter-184: rgb(55.686275% 11.764706% 38.823529%);
    --palMatter-185: rgb(55.294118% 11.764706% 38.823529%);
    --palMatter-186: rgb(54.901961% 11.764706% 38.823529%);
    --palMatter-187: rgb(54.117647% 11.372549% 38.823529%);
    --palMatter-188: rgb(53.72549% 11.372549% 38.823529%);
    --palMatter-189: rgb(53.333333% 11.372549% 38.823529%);
    --palMatter-190: rgb(52.54902% 11.372549% 38.823529%);
    --palMatter-191: rgb(52.156863% 10.980392% 38.823529%);
    --palMatter-192: rgb(51.764706% 10.980392% 38.823529%);
    --palMatter-193: rgb(50.980392% 10.980392% 38.823529%);
    --palMatter-194: rgb(50.588235% 10.980392% 38.823529%);
    --palMatter-195: rgb(50.196078% 10.588235% 38.431373%);
    --palMatter-196: rgb(49.411765% 10.588235% 38.431373%);
    --palMatter-197: rgb(49.019608% 10.588235% 38.431373%);
    --palMatter-198: rgb(48.627451% 10.588235% 38.431373%);
    --palMatter-199: rgb(47.843137% 10.588235% 38.431373%);
    --palMatter-200: rgb(47.45098% 10.196078% 38.039216%);
    --palMatter-201: rgb(47.058824% 10.196078% 38.039216%);
    --palMatter-202: rgb(46.27451% 10.196078% 38.039216%);
    --palMatter-203: rgb(45.882353% 10.196078% 38.039216%);
    --palMatter-204: rgb(45.490196% 10.196078% 37.647059%);
    --palMatter-205: rgb(44.705882% 10.196078% 37.647059%);
    --palMatter-206: rgb(44.313725% 9.803922% 37.647059%);
    --palMatter-207: rgb(43.921569% 9.803922% 37.254902%);
    --palMatter-208: rgb(43.137255% 9.803922% 37.254902%);
    --palMatter-209: rgb(42.745098% 9.803922% 36.862745%);
    --palMatter-210: rgb(41.960784% 9.803922% 36.862745%);
    --palMatter-211: rgb(41.568627% 9.803922% 36.862745%);
    --palMatter-212: rgb(41.176471% 9.803922% 36.470588%);
    --palMatter-213: rgb(40.392157% 9.803922% 36.470588%);
    --palMatter-214: rgb(40% 9.411765% 36.078431%);
    --palMatter-215: rgb(39.607843% 9.411765% 36.078431%);
    --palMatter-216: rgb(38.823529% 9.411765% 35.686275%);
    --palMatter-217: rgb(38.431373% 9.411765% 35.686275%);
    --palMatter-218: rgb(38.039216% 9.411765% 35.294118%);
    --palMatter-219: rgb(37.254902% 9.411765% 35.294118%);
    --palMatter-220: rgb(36.862745% 9.411765% 34.901961%);
    --palMatter-221: rgb(36.470588% 9.019608% 34.509804%);
    --palMatter-222: rgb(35.686275% 9.019608% 34.509804%);
    --palMatter-223: rgb(35.294118% 9.019608% 34.117647%);
    --palMatter-224: rgb(34.901961% 9.019608% 34.117647%);
    --palMatter-225: rgb(34.117647% 9.019608% 33.72549%);
    --palMatter-226: rgb(33.72549% 9.019608% 33.333333%);
    --palMatter-227: rgb(33.333333% 9.019608% 33.333333%);
    --palMatter-228: rgb(32.54902% 8.627451% 32.941176%);
    --palMatter-229: rgb(32.156863% 8.627451% 32.54902%);
    --palMatter-230: rgb(31.764706% 8.627451% 32.54902%);
    --palMatter-231: rgb(30.980392% 8.627451% 32.156863%);
    --palMatter-232: rgb(30.588235% 8.627451% 31.764706%);
    --palMatter-233: rgb(30.196078% 8.235294% 31.764706%);
    --palMatter-234: rgb(29.411765% 8.235294% 31.372549%);
    --palMatter-235: rgb(29.019608% 8.235294% 30.980392%);
    --palMatter-236: rgb(28.627451% 8.235294% 30.588235%);
    --palMatter-237: rgb(27.843137% 8.235294% 30.588235%);
    --palMatter-238: rgb(27.45098% 7.843137% 30.196078%);
    --palMatter-239: rgb(27.058824% 7.843137% 29.803922%);
    --palMatter-240: rgb(26.666667% 7.843137% 29.411765%);
    --palMatter-241: rgb(25.882353% 7.843137% 29.411765%);
    --palMatter-242: rgb(25.490196% 7.45098% 29.019608%);
    --palMatter-243: rgb(25.098039% 7.45098% 28.627451%);
    --palMatter-244: rgb(24.313725% 7.45098% 28.235294%);
    --palMatter-245: rgb(23.921569% 7.45098% 27.843137%);
    --palMatter-246: rgb(23.529412% 7.058824% 27.843137%);
    --palMatter-247: rgb(23.137255% 7.058824% 27.45098%);
    --palMatter-248: rgb(22.352941% 7.058824% 27.058824%);
    --palMatter-249: rgb(21.960784% 6.666667% 26.666667%);
    --palMatter-250: rgb(21.568627% 6.666667% 26.27451%);
    --palMatter-251: rgb(21.176471% 6.666667% 25.882353%);
    --palMatter-252: rgb(20.392157% 6.666667% 25.490196%);
    --palMatter-253: rgb(20% 6.27451% 25.490196%);
    --palMatter-254: rgb(19.607843% 6.27451% 25.098039%);
    --palMatter-255: rgb(18.823529% 5.882353% 24.705882%);
    --palMatter-256: rgb(18.431373% 5.882353% 24.313725%);
}
