/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMendl-1: rgb(87.058824% 55.294118% 72.54902%);
    --palMendl-2: rgb(72.156863% 75.294118% 96.470588%);
    --palMendl-3: rgb(81.176471% 57.647059% 52.941176%);
    --palMendl-4: rgb(36.078431% 50.196078% 80%);
}
