/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMoonrise4-1: rgb(48.235294% 52.941176% 38.039216%);
    --palMoonrise4-2: rgb(75.686275% 65.098039% 18.039216%);
    --palMoonrise4-3: rgb(30.980392% 56.078431% 41.960784%);
    --palMoonrise4-4: rgb(23.137255% 27.058824% 23.529412%);
    --palMoonrise4-5: rgb(62.352941% 19.607843% 3.137255%);
}
