/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palMoonrise7-1: rgb(13.72549% 13.72549% 33.333333%);
    --palMoonrise7-2: rgb(38.039216% 40.784314% 37.647059%);
    --palMoonrise7-3: rgb(65.490196% 35.686275% 26.666667%);
    --palMoonrise7-4: rgb(56.862745% 16.862745% 16.078431%);
    --palMoonrise7-5: rgb(100% 89.019608% 56.078431%);
}
