/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palNaviaW-1: rgb(1.4333% 7.7207% 15.431%);
    --palNaviaW-2: rgb(1.6066% 8.2375% 16.174%);
    --palNaviaW-3: rgb(1.7163% 8.7266% 16.921%);
    --palNaviaW-4: rgb(1.7605% 9.1958% 17.673%);
    --palNaviaW-5: rgb(1.8031% 9.6343% 18.438%);
    --palNaviaW-6: rgb(1.8549% 10.082% 19.208%);
    --palNaviaW-7: rgb(1.906% 10.53% 19.983%);
    --palNaviaW-8: rgb(1.9566% 10.989% 20.769%);
    --palNaviaW-9: rgb(2.0068% 11.439% 21.558%);
    --palNaviaW-10: rgb(2.0568% 11.905% 22.352%);
    --palNaviaW-11: rgb(2.1065% 12.367% 23.152%);
    --palNaviaW-12: rgb(2.1563% 12.84% 23.954%);
    --palNaviaW-13: rgb(2.2064% 13.315% 24.762%);
    --palNaviaW-14: rgb(2.257% 13.794% 25.571%);
    --palNaviaW-15: rgb(2.3084% 14.274% 26.386%);
    --palNaviaW-16: rgb(2.3609% 14.76% 27.198%);
    --palNaviaW-17: rgb(2.4149% 15.245% 28.015%);
    --palNaviaW-18: rgb(2.4707% 15.737% 28.832%);
    --palNaviaW-19: rgb(2.5289% 16.235% 29.65%);
    --palNaviaW-20: rgb(2.5898% 16.732% 30.466%);
    --palNaviaW-21: rgb(2.6541% 17.23% 31.281%);
    --palNaviaW-22: rgb(2.7221% 17.736% 32.095%);
    --palNaviaW-23: rgb(2.7946% 18.238% 32.905%);
    --palNaviaW-24: rgb(2.8722% 18.75% 33.711%);
    --palNaviaW-25: rgb(2.9555% 19.258% 34.513%);
    --palNaviaW-26: rgb(3.0452% 19.77% 35.31%);
    --palNaviaW-27: rgb(3.142% 20.283% 36.101%);
    --palNaviaW-28: rgb(3.2472% 20.8% 36.887%);
    --palNaviaW-29: rgb(3.3584% 21.316% 37.665%);
    --palNaviaW-30: rgb(3.4998% 21.837% 38.434%);
    --palNaviaW-31: rgb(3.6362% 22.357% 39.196%);
    --palNaviaW-32: rgb(3.7818% 22.88% 39.947%);
    --palNaviaW-33: rgb(3.9389% 23.401% 40.69%);
    --palNaviaW-34: rgb(4.1091% 23.925% 41.421%);
    --palNaviaW-35: rgb(4.2777% 24.448% 42.14%);
    --palNaviaW-36: rgb(4.4747% 24.974% 42.847%);
    --palNaviaW-37: rgb(4.6692% 25.503% 43.542%);
    --palNaviaW-38: rgb(4.881% 26.028% 44.223%);
    --palNaviaW-39: rgb(5.0899% 26.554% 44.889%);
    --palNaviaW-40: rgb(5.3131% 27.082% 45.539%);
    --palNaviaW-41: rgb(5.5521% 27.609% 46.174%);
    --palNaviaW-42: rgb(5.7908% 28.134% 46.793%);
    --palNaviaW-43: rgb(6.0514% 28.659% 47.395%);
    --palNaviaW-44: rgb(6.3159% 29.186% 47.98%);
    --palNaviaW-45: rgb(6.5796% 29.711% 48.545%);
    --palNaviaW-46: rgb(6.8614% 30.233% 49.093%);
    --palNaviaW-47: rgb(7.1439% 30.755% 49.62%);
    --palNaviaW-48: rgb(7.4303% 31.275% 50.129%);
    --palNaviaW-49: rgb(7.7195% 31.794% 50.616%);
    --palNaviaW-50: rgb(8.0231% 32.311% 51.084%);
    --palNaviaW-51: rgb(8.3283% 32.823% 51.531%);
    --palNaviaW-52: rgb(8.6365% 33.334% 51.956%);
    --palNaviaW-53: rgb(8.9515% 33.839% 52.36%);
    --palNaviaW-54: rgb(9.2626% 34.342% 52.742%);
    --palNaviaW-55: rgb(9.5807% 34.84% 53.102%);
    --palNaviaW-56: rgb(9.8986% 35.333% 53.44%);
    --palNaviaW-57: rgb(10.217% 35.821% 53.757%);
    --palNaviaW-58: rgb(10.533% 36.302% 54.051%);
    --palNaviaW-59: rgb(10.85% 36.777% 54.324%);
    --palNaviaW-60: rgb(11.171% 37.245% 54.575%);
    --palNaviaW-61: rgb(11.479% 37.708% 54.805%);
    --palNaviaW-62: rgb(11.796% 38.161% 55.013%);
    --palNaviaW-63: rgb(12.101% 38.605% 55.201%);
    --palNaviaW-64: rgb(12.407% 39.042% 55.369%);
    --palNaviaW-65: rgb(12.709% 39.47% 55.517%);
    --palNaviaW-66: rgb(13.014% 39.889% 55.647%);
    --palNaviaW-67: rgb(13.305% 40.299% 55.759%);
    --palNaviaW-68: rgb(13.591% 40.699% 55.852%);
    --palNaviaW-69: rgb(13.88% 41.091% 55.93%);
    --palNaviaW-70: rgb(14.163% 41.473% 55.992%);
    --palNaviaW-71: rgb(14.44% 41.845% 56.039%);
    --palNaviaW-72: rgb(14.712% 42.209% 56.071%);
    --palNaviaW-73: rgb(14.984% 42.565% 56.09%);
    --palNaviaW-74: rgb(15.245% 42.911% 56.096%);
    --palNaviaW-75: rgb(15.508% 43.251% 56.09%);
    --palNaviaW-76: rgb(15.766% 43.581% 56.074%);
    --palNaviaW-77: rgb(16.019% 43.903% 56.047%);
    --palNaviaW-78: rgb(16.275% 44.221% 56.011%);
    --palNaviaW-79: rgb(16.52% 44.53% 55.965%);
    --palNaviaW-80: rgb(16.77% 44.833% 55.911%);
    --palNaviaW-81: rgb(17.015% 45.13% 55.849%);
    --palNaviaW-82: rgb(17.256% 45.422% 55.782%);
    --palNaviaW-83: rgb(17.498% 45.708% 55.708%);
    --palNaviaW-84: rgb(17.738% 45.989% 55.626%);
    --palNaviaW-85: rgb(17.973% 46.265% 55.54%);
    --palNaviaW-86: rgb(18.207% 46.537% 55.449%);
    --palNaviaW-87: rgb(18.444% 46.806% 55.353%);
    --palNaviaW-88: rgb(18.677% 47.071% 55.254%);
    --palNaviaW-89: rgb(18.911% 47.331% 55.151%);
    --palNaviaW-90: rgb(19.142% 47.589% 55.044%);
    --palNaviaW-91: rgb(19.375% 47.843% 54.935%);
    --palNaviaW-92: rgb(19.606% 48.094% 54.823%);
    --palNaviaW-93: rgb(19.835% 48.344% 54.708%);
    --palNaviaW-94: rgb(20.064% 48.59% 54.591%);
    --palNaviaW-95: rgb(20.296% 48.836% 54.472%);
    --palNaviaW-96: rgb(20.527% 49.079% 54.351%);
    --palNaviaW-97: rgb(20.758% 49.318% 54.229%);
    --palNaviaW-98: rgb(20.988% 49.558% 54.104%);
    --palNaviaW-99: rgb(21.221% 49.797% 53.979%);
    --palNaviaW-100: rgb(21.452% 50.032% 53.854%);
    --palNaviaW-101: rgb(21.686% 50.268% 53.726%);
    --palNaviaW-102: rgb(21.919% 50.503% 53.597%);
    --palNaviaW-103: rgb(22.153% 50.738% 53.468%);
    --palNaviaW-104: rgb(22.388% 50.972% 53.337%);
    --palNaviaW-105: rgb(22.627% 51.206% 53.206%);
    --palNaviaW-106: rgb(22.865% 51.441% 53.074%);
    --palNaviaW-107: rgb(23.103% 51.675% 52.941%);
    --palNaviaW-108: rgb(23.342% 51.909% 52.807%);
    --palNaviaW-109: rgb(23.588% 52.144% 52.673%);
    --palNaviaW-110: rgb(23.831% 52.38% 52.537%);
    --palNaviaW-111: rgb(24.077% 52.616% 52.4%);
    --palNaviaW-112: rgb(24.326% 52.854% 52.262%);
    --palNaviaW-113: rgb(24.577% 53.092% 52.124%);
    --palNaviaW-114: rgb(24.833% 53.331% 51.984%);
    --palNaviaW-115: rgb(25.087% 53.572% 51.845%);
    --palNaviaW-116: rgb(25.345% 53.816% 51.704%);
    --palNaviaW-117: rgb(25.604% 54.06% 51.56%);
    --palNaviaW-118: rgb(25.869% 54.306% 51.418%);
    --palNaviaW-119: rgb(26.135% 54.554% 51.273%);
    --palNaviaW-120: rgb(26.405% 54.805% 51.127%);
    --palNaviaW-121: rgb(26.676% 55.057% 50.98%);
    --palNaviaW-122: rgb(26.953% 55.311% 50.833%);
    --palNaviaW-123: rgb(27.229% 55.568% 50.682%);
    --palNaviaW-124: rgb(27.513% 55.828% 50.531%);
    --palNaviaW-125: rgb(27.799% 56.091% 50.379%);
    --palNaviaW-126: rgb(28.086% 56.358% 50.226%);
    --palNaviaW-127: rgb(28.38% 56.626% 50.071%);
    --palNaviaW-128: rgb(28.676% 56.897% 49.914%);
    --palNaviaW-129: rgb(28.978% 57.172% 49.757%);
    --palNaviaW-130: rgb(29.282% 57.449% 49.597%);
    --palNaviaW-131: rgb(29.592% 57.731% 49.437%);
    --palNaviaW-132: rgb(29.906% 58.017% 49.274%);
    --palNaviaW-133: rgb(30.223% 58.305% 49.112%);
    --palNaviaW-134: rgb(30.548% 58.598% 48.945%);
    --palNaviaW-135: rgb(30.875% 58.893% 48.78%);
    --palNaviaW-136: rgb(31.205% 59.195% 48.612%);
    --palNaviaW-137: rgb(31.545% 59.499% 48.443%);
    --palNaviaW-138: rgb(31.887% 59.807% 48.273%);
    --palNaviaW-139: rgb(32.236% 60.12% 48.102%);
    --palNaviaW-140: rgb(32.588% 60.438% 47.93%);
    --palNaviaW-141: rgb(32.951% 60.76% 47.757%);
    --palNaviaW-142: rgb(33.316% 61.087% 47.584%);
    --palNaviaW-143: rgb(33.688% 61.417% 47.41%);
    --palNaviaW-144: rgb(34.067% 61.754% 47.236%);
    --palNaviaW-145: rgb(34.451% 62.095% 47.062%);
    --palNaviaW-146: rgb(34.845% 62.441% 46.888%);
    --palNaviaW-147: rgb(35.245% 62.792% 46.715%);
    --palNaviaW-148: rgb(35.654% 63.149% 46.541%);
    --palNaviaW-149: rgb(36.068% 63.51% 46.371%);
    --palNaviaW-150: rgb(36.493% 63.878% 46.201%);
    --palNaviaW-151: rgb(36.927% 64.251% 46.033%);
    --palNaviaW-152: rgb(37.37% 64.629% 45.869%);
    --palNaviaW-153: rgb(37.823% 65.014% 45.707%);
    --palNaviaW-154: rgb(38.286% 65.404% 45.549%);
    --palNaviaW-155: rgb(38.759% 65.801% 45.395%);
    --palNaviaW-156: rgb(39.244% 66.204% 45.247%);
    --palNaviaW-157: rgb(39.741% 66.612% 45.103%);
    --palNaviaW-158: rgb(40.25% 67.028% 44.967%);
    --palNaviaW-159: rgb(40.773% 67.449% 44.838%);
    --palNaviaW-160: rgb(41.31% 67.877% 44.717%);
    --palNaviaW-161: rgb(41.859% 68.313% 44.605%);
    --palNaviaW-162: rgb(42.425% 68.754% 44.505%);
    --palNaviaW-163: rgb(43.006% 69.203% 44.416%);
    --palNaviaW-164: rgb(43.603% 69.658% 44.339%);
    --palNaviaW-165: rgb(44.216% 70.12% 44.276%);
    --palNaviaW-166: rgb(44.846% 70.589% 44.229%);
    --palNaviaW-167: rgb(45.495% 71.065% 44.198%);
    --palNaviaW-168: rgb(46.162% 71.548% 44.184%);
    --palNaviaW-169: rgb(46.847% 72.036% 44.191%);
    --palNaviaW-170: rgb(47.553% 72.532% 44.218%);
    --palNaviaW-171: rgb(48.276% 73.034% 44.267%);
    --palNaviaW-172: rgb(49.021% 73.542% 44.34%);
    --palNaviaW-173: rgb(49.786% 74.056% 44.438%);
    --palNaviaW-174: rgb(50.569% 74.575% 44.562%);
    --palNaviaW-175: rgb(51.375% 75.101% 44.716%);
    --palNaviaW-176: rgb(52.199% 75.63% 44.9%);
    --palNaviaW-177: rgb(53.045% 76.164% 45.113%);
    --palNaviaW-178: rgb(53.909% 76.702% 45.359%);
    --palNaviaW-179: rgb(54.792% 77.244% 45.638%);
    --palNaviaW-180: rgb(55.694% 77.788% 45.952%);
    --palNaviaW-181: rgb(56.612% 78.334% 46.3%);
    --palNaviaW-182: rgb(57.548% 78.883% 46.686%);
    --palNaviaW-183: rgb(58.498% 79.431% 47.107%);
    --palNaviaW-184: rgb(59.462% 79.98% 47.565%);
    --palNaviaW-185: rgb(60.44% 80.527% 48.059%);
    --palNaviaW-186: rgb(61.427% 81.073% 48.59%);
    --palNaviaW-187: rgb(62.426% 81.618% 49.16%);
    --palNaviaW-188: rgb(63.431% 82.158% 49.763%);
    --palNaviaW-189: rgb(64.44% 82.694% 50.402%);
    --palNaviaW-190: rgb(65.454% 83.224% 51.074%);
    --palNaviaW-191: rgb(66.468% 83.749% 51.78%);
    --palNaviaW-192: rgb(67.483% 84.267% 52.517%);
    --palNaviaW-193: rgb(68.494% 84.777% 53.284%);
    --palNaviaW-194: rgb(69.499% 85.279% 54.078%);
    --palNaviaW-195: rgb(70.498% 85.772% 54.898%);
    --palNaviaW-196: rgb(71.487% 86.255% 55.742%);
    --palNaviaW-197: rgb(72.464% 86.727% 56.606%);
    --palNaviaW-198: rgb(73.428% 87.19% 57.49%);
    --palNaviaW-199: rgb(74.377% 87.64% 58.391%);
    --palNaviaW-200: rgb(75.309% 88.079% 59.307%);
    --palNaviaW-201: rgb(76.223% 88.506% 60.234%);
    --palNaviaW-202: rgb(77.117% 88.922% 61.171%);
    --palNaviaW-203: rgb(77.99% 89.324% 62.115%);
    --palNaviaW-204: rgb(78.842% 89.715% 63.064%);
    --palNaviaW-205: rgb(79.671% 90.094% 64.016%);
    --palNaviaW-206: rgb(80.478% 90.46% 64.969%);
    --palNaviaW-207: rgb(81.26% 90.815% 65.921%);
    --palNaviaW-208: rgb(82.018% 91.158% 66.87%);
    --palNaviaW-209: rgb(82.753% 91.489% 67.815%);
    --palNaviaW-210: rgb(83.464% 91.809% 68.754%);
    --palNaviaW-211: rgb(84.15% 92.118% 69.686%);
    --palNaviaW-212: rgb(84.813% 92.417% 70.609%);
    --palNaviaW-213: rgb(85.453% 92.706% 71.523%);
    --palNaviaW-214: rgb(86.069% 92.985% 72.425%);
    --palNaviaW-215: rgb(86.663% 93.254% 73.317%);
    --palNaviaW-216: rgb(87.236% 93.514% 74.196%);
    --palNaviaW-217: rgb(87.787% 93.766% 75.063%);
    --palNaviaW-218: rgb(88.317% 94.01% 75.916%);
    --palNaviaW-219: rgb(88.829% 94.245% 76.755%);
    --palNaviaW-220: rgb(89.32% 94.473% 77.581%);
    --palNaviaW-221: rgb(89.794% 94.694% 78.394%);
    --palNaviaW-222: rgb(90.25% 94.908% 79.191%);
    --palNaviaW-223: rgb(90.689% 95.116% 79.974%);
    --palNaviaW-224: rgb(91.113% 95.318% 80.743%);
    --palNaviaW-225: rgb(91.521% 95.514% 81.498%);
    --palNaviaW-226: rgb(91.915% 95.704% 82.239%);
    --palNaviaW-227: rgb(92.296% 95.89% 82.967%);
    --palNaviaW-228: rgb(92.663% 96.07% 83.68%);
    --palNaviaW-229: rgb(93.018% 96.245% 84.38%);
    --palNaviaW-230: rgb(93.361% 96.417% 85.068%);
    --palNaviaW-231: rgb(93.695% 96.584% 85.742%);
    --palNaviaW-232: rgb(94.017% 96.748% 86.405%);
    --palNaviaW-233: rgb(94.329% 96.907% 87.054%);
    --palNaviaW-234: rgb(94.632% 97.062% 87.692%);
    --palNaviaW-235: rgb(94.926% 97.215% 88.318%);
    --palNaviaW-236: rgb(95.212% 97.364% 88.932%);
    --palNaviaW-237: rgb(95.49% 97.509% 89.535%);
    --palNaviaW-238: rgb(95.76% 97.652% 90.127%);
    --palNaviaW-239: rgb(96.023% 97.792% 90.707%);
    --palNaviaW-240: rgb(96.279% 97.929% 91.277%);
    --palNaviaW-241: rgb(96.528% 98.063% 91.836%);
    --palNaviaW-242: rgb(96.771% 98.194% 92.385%);
    --palNaviaW-243: rgb(97.008% 98.323% 92.924%);
    --palNaviaW-244: rgb(97.239% 98.449% 93.452%);
    --palNaviaW-245: rgb(97.464% 98.573% 93.972%);
    --palNaviaW-246: rgb(97.684% 98.694% 94.481%);
    --palNaviaW-247: rgb(97.899% 98.812% 94.981%);
    --palNaviaW-248: rgb(98.11% 98.929% 95.472%);
    --palNaviaW-249: rgb(98.315% 99.044% 95.954%);
    --palNaviaW-250: rgb(98.517% 99.156% 96.427%);
    --palNaviaW-251: rgb(98.714% 99.267% 96.893%);
    --palNaviaW-252: rgb(98.907% 99.375% 97.352%);
    --palNaviaW-253: rgb(99.097% 99.482% 97.803%);
    --palNaviaW-254: rgb(99.283% 99.587% 98.25%);
    --palNaviaW-255: rgb(99.467% 99.691% 98.69%);
    --palNaviaW-256: rgb(99.648% 99.795% 99.125%);
}
