/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palNeon-1: rgb(65.535868% 4.612223% 1.004854%);
    --palNeon-2: rgb(65.786642% 4.765333% 2.542354%);
    --palNeon-3: rgb(66.036512% 4.912066% 4.217538%);
    --palNeon-4: rgb(66.285498% 5.05238% 5.789335%);
    --palNeon-5: rgb(66.533612% 5.186109% 7.205007%);
    --palNeon-6: rgb(66.780875% 5.313275% 8.520571%);
    --palNeon-7: rgb(67.027303% 5.433773% 9.767423%);
    --palNeon-8: rgb(67.272909% 5.547451% 10.96501%);
    --palNeon-9: rgb(67.517714% 5.654307% 12.125485%);
    --palNeon-10: rgb(67.761726% 5.754076% 13.258343%);
    --palNeon-11: rgb(68.004966% 5.846795% 14.369242%);
    --palNeon-12: rgb(68.247438% 5.932159% 15.46368%);
    --palNeon-13: rgb(68.48916% 6.010172% 16.544711%);
    --palNeon-14: rgb(68.730136% 6.080564% 17.615655%);
    --palNeon-15: rgb(68.970375% 6.143225% 18.678614%);
    --palNeon-16: rgb(69.209883% 6.198018% 19.735327%);
    --palNeon-17: rgb(69.448653% 6.244612% 20.787835%);
    --palNeon-18: rgb(69.686689% 6.282947% 21.836982%);
    --palNeon-19: rgb(69.923983% 6.31281% 22.883904%);
    --palNeon-20: rgb(70.160522% 6.33394% 23.929696%);
    --palNeon-21: rgb(70.396289% 6.346097% 24.975213%);
    --palNeon-22: rgb(70.631265% 6.349108% 26.021007%);
    --palNeon-23: rgb(70.865421% 6.342731% 27.067728%);
    --palNeon-24: rgb(71.098724% 6.326717% 28.11595%);
    --palNeon-25: rgb(71.331131% 6.300815% 29.166185%);
    --palNeon-26: rgb(71.562592% 6.264765% 30.218894%);
    --palNeon-27: rgb(71.79305% 6.218309% 31.274488%);
    --palNeon-28: rgb(72.022437% 6.161187% 32.333344%);
    --palNeon-29: rgb(72.250676% 6.09314% 33.395796%);
    --palNeon-30: rgb(72.47768% 6.013917% 34.462152%);
    --palNeon-31: rgb(72.703349% 5.923272% 35.532683%);
    --palNeon-32: rgb(72.927573% 5.820967% 36.607648%);
    --palNeon-33: rgb(73.150219% 5.706627% 37.68755%);
    --palNeon-34: rgb(73.371159% 5.580196% 38.772323%);
    --palNeon-35: rgb(73.590239% 5.441521% 39.862129%);
    --palNeon-36: rgb(73.80728% 5.290232% 40.957507%);
    --palNeon-37: rgb(74.022109% 5.126466% 42.058238%);
    --palNeon-38: rgb(74.234515% 4.95003% 43.164709%);
    --palNeon-39: rgb(74.444284% 4.761121% 44.276822%);
    --palNeon-40: rgb(74.651168% 4.559729% 45.394921%);
    --palNeon-41: rgb(74.854916% 4.346394% 46.518763%);
    --palNeon-42: rgb(75.055242% 4.121528% 47.648529%);
    --palNeon-43: rgb(75.25184% 3.88505% 48.784251%);
    --palNeon-44: rgb(75.44439% 3.645926% 49.925721%);
    --palNeon-45: rgb(75.632545% 3.408291% 51.072854%);
    --palNeon-46: rgb(75.815929% 3.174831% 52.225503%);
    --palNeon-47: rgb(75.994147% 2.948551% 53.383453%);
    --palNeon-48: rgb(76.166776% 2.732798% 54.546419%);
    --palNeon-49: rgb(76.333372% 2.531274% 55.714038%);
    --palNeon-50: rgb(76.493465% 2.348063% 56.885869%);
    --palNeon-51: rgb(76.64656% 2.187605% 58.06143%);
    --palNeon-52: rgb(76.792122% 2.054655% 59.240281%);
    --palNeon-53: rgb(76.929631% 1.954659% 60.421532%);
    --palNeon-54: rgb(77.05851% 1.893215% 61.604568%);
    --palNeon-55: rgb(77.178182% 1.8765% 62.788485%);
    --palNeon-56: rgb(77.28804% 1.911046% 63.972387%);
    --palNeon-57: rgb(77.387487% 2.003913% 65.155113%);
    --palNeon-58: rgb(77.475875% 2.162402% 66.335689%);
    --palNeon-59: rgb(77.552587% 2.394353% 67.51277%);
    --palNeon-60: rgb(77.616997% 2.707901% 68.685004%);
    --palNeon-61: rgb(77.668476% 3.11147% 69.850975%);
    --palNeon-62: rgb(77.70641% 3.613738% 71.009176%);
    --palNeon-63: rgb(77.730201% 4.218355% 72.158015%);
    --palNeon-64: rgb(77.739279% 4.882661% 73.295835%);
    --palNeon-65: rgb(77.733105% 5.592831% 74.420931%);
    --palNeon-66: rgb(77.71118% 6.342688% 75.531563%);
    --palNeon-67: rgb(77.673031% 7.126925% 76.626052%);
    --palNeon-68: rgb(77.618272% 7.94094% 77.702593%);
    --palNeon-69: rgb(77.546565% 8.780745% 78.759466%);
    --palNeon-70: rgb(77.457604% 9.642886% 79.795076%);
    --palNeon-71: rgb(77.351198% 10.524245% 80.807774%);
    --palNeon-72: rgb(77.227191% 11.422062% 81.796091%);
    --palNeon-73: rgb(77.085515% 12.33381% 82.758629%);
    --palNeon-74: rgb(76.926168% 13.257182% 83.694131%);
    --palNeon-75: rgb(76.749221% 14.190035% 84.601468%);
    --palNeon-76: rgb(76.554808% 15.130393% 85.47968%);
    --palNeon-77: rgb(76.343138% 16.076397% 86.327941%);
    --palNeon-78: rgb(76.114464% 17.026336% 87.145616%);
    --palNeon-79: rgb(75.869111% 17.978594% 87.932207%);
    --palNeon-80: rgb(75.607441% 18.931686% 88.687396%);
    --palNeon-81: rgb(75.329862% 19.884228% 89.411011%);
    --palNeon-82: rgb(75.036817% 20.834949% 90.103038%);
    --palNeon-83: rgb(74.728785% 21.782672% 90.763592%);
    --palNeon-84: rgb(74.406252% 22.726343% 91.392933%);
    --palNeon-85: rgb(74.069745% 23.664978% 91.991421%);
    --palNeon-86: rgb(73.719777% 24.597721% 92.559542%);
    --palNeon-87: rgb(73.35689% 25.523778% 93.097857%);
    --palNeon-88: rgb(72.981607% 26.442469% 93.607022%);
    --palNeon-89: rgb(72.594469% 27.353174% 94.08775%);
    --palNeon-90: rgb(72.195987% 28.255377% 94.540824%);
    --palNeon-91: rgb(71.786692% 29.148604% 94.967059%);
    --palNeon-92: rgb(71.36706% 30.032493% 95.367321%);
    --palNeon-93: rgb(70.937611% 30.906686% 95.742486%);
    --palNeon-94: rgb(70.498782% 31.770951% 96.093466%);
    --palNeon-95: rgb(70.051036% 32.625066% 96.421169%);
    --palNeon-96: rgb(69.594812% 33.468863% 96.726514%);
    --palNeon-97: rgb(69.130498% 34.302246% 97.010416%);
    --palNeon-98: rgb(68.65849% 35.125132% 97.273782%);
    --palNeon-99: rgb(68.179164% 35.937476% 97.517505%);
    --palNeon-100: rgb(67.692842% 36.739291% 97.742465%);
    --palNeon-101: rgb(67.19984% 37.530605% 97.94952%);
    --palNeon-102: rgb(66.700459% 38.311469% 98.139507%);
    --palNeon-103: rgb(66.194975% 39.081953% 98.313236%);
    --palNeon-104: rgb(65.68362% 39.842173% 98.471491%);
    --palNeon-105: rgb(65.166616% 40.592246% 98.615029%);
    --palNeon-106: rgb(64.64416% 41.33231% 98.744576%);
    --palNeon-107: rgb(64.116427% 42.062516% 98.860825%);
    --palNeon-108: rgb(63.583568% 42.783027% 98.964442%);
    --palNeon-109: rgb(63.045715% 43.494017% 99.056058%);
    --palNeon-110: rgb(62.502971% 44.195671% 99.136272%);
    --palNeon-111: rgb(61.955416% 44.888185% 99.205649%);
    --palNeon-112: rgb(61.403111% 45.571757% 99.264722%);
    --palNeon-113: rgb(60.846094% 46.246593% 99.313992%);
    --palNeon-114: rgb(60.284384% 46.9129% 99.353925%);
    --palNeon-115: rgb(59.717979% 47.57089% 99.384956%);
    --palNeon-116: rgb(59.146855% 48.220778% 99.407486%);
    --palNeon-117: rgb(58.570972% 48.862779% 99.421886%);
    --palNeon-118: rgb(57.990267% 49.497107% 99.428493%);
    --palNeon-119: rgb(57.404662% 50.123978% 99.427613%);
    --palNeon-120: rgb(56.814059% 50.743606% 99.419521%);
    --palNeon-121: rgb(56.218344% 51.356202% 99.404462%);
    --palNeon-122: rgb(55.617387% 51.961977% 99.382651%);
    --palNeon-123: rgb(55.011043% 52.561136% 99.354271%);
    --palNeon-124: rgb(54.399153% 53.153882% 99.31948%);
    --palNeon-125: rgb(53.781544% 53.740412% 99.278406%);
    --palNeon-126: rgb(53.158029% 54.32092% 99.231147%);
    --palNeon-127: rgb(52.528413% 54.895595% 99.177778%);
    --palNeon-128: rgb(51.892487% 55.464618% 99.118346%);
    --palNeon-129: rgb(51.250036% 56.028165% 99.052872%);
    --palNeon-130: rgb(50.600839% 56.586404% 98.981356%);
    --palNeon-131: rgb(49.944666% 57.139497% 98.903772%);
    --palNeon-132: rgb(49.281285% 57.687597% 98.820072%);
    --palNeon-133: rgb(48.610462% 58.23085% 98.730189%);
    --palNeon-134: rgb(47.93196% 58.769392% 98.634035%);
    --palNeon-135: rgb(47.245545% 59.303352% 98.531504%);
    --palNeon-136: rgb(46.550988% 59.832847% 98.422475%);
    --palNeon-137: rgb(45.848062% 60.357988% 98.306808%);
    --palNeon-138: rgb(45.13655% 60.878873% 98.184354%);
    --palNeon-139: rgb(44.416243% 61.395591% 98.054948%);
    --palNeon-140: rgb(43.686947% 61.908223% 97.918419%);
    --palNeon-141: rgb(42.948482% 62.416836% 97.774587%);
    --palNeon-142: rgb(42.200685% 62.92149% 97.623265%);
    --palNeon-143: rgb(41.443414% 63.422231% 97.464264%);
    --palNeon-144: rgb(40.676549% 63.919099% 97.297393%);
    --palNeon-145: rgb(39.900001% 64.41212% 97.122466%);
    --palNeon-146: rgb(39.113704% 64.901311% 96.939296%);
    --palNeon-147: rgb(38.317623% 65.386681% 96.747703%);
    --palNeon-148: rgb(37.511758% 65.86823% 96.547518%);
    --palNeon-149: rgb(36.696145% 66.345948% 96.33858%);
    --palNeon-150: rgb(35.870858% 66.819817% 96.120743%);
    --palNeon-151: rgb(35.036012% 67.289813% 95.893877%);
    --palNeon-152: rgb(34.191779% 67.755901% 95.657877%);
    --palNeon-153: rgb(33.338357% 68.218046% 95.412647%);
    --palNeon-154: rgb(32.475992% 68.676208% 95.158116%);
    --palNeon-155: rgb(31.604978% 69.130342% 94.894237%);
    --palNeon-156: rgb(30.72566% 69.580401% 94.620987%);
    --palNeon-157: rgb(29.838473% 70.026329% 94.338389%);
    --palNeon-158: rgb(28.943834% 70.468084% 94.04646%);
    --palNeon-159: rgb(28.042229% 70.905619% 93.745255%);
    --palNeon-160: rgb(27.13422% 71.338889% 93.434864%);
    --palNeon-161: rgb(26.22045% 71.767844% 93.115419%);
    --palNeon-162: rgb(25.301503% 72.192461% 92.787029%);
    --palNeon-163: rgb(24.378113% 72.612703% 92.449868%);
    --palNeon-164: rgb(23.451073% 73.028542% 92.104138%);
    --palNeon-165: rgb(22.521092% 73.43998% 91.749997%);
    --palNeon-166: rgb(21.589201% 73.846985% 91.387744%);
    --palNeon-167: rgb(20.656141% 74.249589% 91.01753%);
    --palNeon-168: rgb(19.723098% 74.647777% 90.639693%);
    --palNeon-169: rgb(18.790944% 75.041602% 90.254401%);
    --palNeon-170: rgb(17.861047% 75.431069% 89.862017%);
    --palNeon-171: rgb(16.934506% 75.816246% 89.462733%);
    --palNeon-172: rgb(16.012713% 76.197187% 89.056817%);
    --palNeon-173: rgb(15.097386% 76.573938% 88.644614%);
    --palNeon-174: rgb(14.190087% 76.946595% 88.226296%);
    --palNeon-175: rgb(13.29281% 77.315241% 87.802115%);
    --palNeon-176: rgb(12.407858% 77.679968% 87.372308%);
    --palNeon-177: rgb(11.537957% 78.040875% 86.937106%);
    --palNeon-178: rgb(10.686324% 78.398067% 86.49672%);
    --palNeon-179: rgb(9.856704% 78.751668% 86.051289%);
    --palNeon-180: rgb(9.053712% 79.101797% 85.600966%);
    --palNeon-181: rgb(8.282936% 79.44858% 85.145873%);
    --palNeon-182: rgb(7.5512% 79.792142% 84.686128%);
    --palNeon-183: rgb(6.866711% 80.132609% 84.221829%);
    --palNeon-184: rgb(6.239013% 80.470121% 83.752981%);
    --palNeon-185: rgb(5.67914% 80.804811% 83.279583%);
    --palNeon-186: rgb(5.199186% 81.136816% 82.801602%);
    --palNeon-187: rgb(4.811846% 81.466246% 82.319115%);
    --palNeon-188: rgb(4.528328% 81.793243% 81.831976%);
    --palNeon-189: rgb(4.357124% 82.117942% 81.339994%);
    --palNeon-190: rgb(4.303076% 82.440429% 80.843308%);
    --palNeon-191: rgb(4.364513% 82.760863% 80.341448%);
    --palNeon-192: rgb(4.535609% 83.079313% 79.834556%);
    --palNeon-193: rgb(4.805322% 83.395922% 79.322133%);
    --palNeon-194: rgb(5.161012% 83.710757% 78.804217%);
    --palNeon-195: rgb(5.588791% 84.023927% 78.280412%);
    --palNeon-196: rgb(6.075636% 84.335521% 77.750413%);
    --palNeon-197: rgb(6.61015% 84.645596% 77.214115%);
    --palNeon-198: rgb(7.182503% 84.954232% 76.671132%);
    --palNeon-199: rgb(7.784721% 85.261494% 76.121098%);
    --palNeon-200: rgb(8.4105% 85.567433% 75.563697%);
    --palNeon-201: rgb(9.054918% 85.872094% 74.9986%);
    --palNeon-202: rgb(9.714194% 86.175511% 74.425459%);
    --palNeon-203: rgb(10.38547% 86.477713% 73.843914%);
    --palNeon-204: rgb(11.066615% 86.778721% 73.253593%);
    --palNeon-205: rgb(11.756078% 87.078547% 72.65411%);
    --palNeon-206: rgb(12.452755% 87.377196% 72.045067%);
    --palNeon-207: rgb(13.155891% 87.674668% 71.426056%);
    --palNeon-208: rgb(13.865002% 87.970952% 70.796659%);
    --palNeon-209: rgb(14.579812% 88.266033% 70.156447%);
    --palNeon-210: rgb(15.300204% 88.55989% 69.50498%);
    --palNeon-211: rgb(16.026152% 88.852487% 68.841907%);
    --palNeon-212: rgb(16.757694% 89.143781% 68.166931%);
    --palNeon-213: rgb(17.495026% 89.433747% 67.479383%);
    --palNeon-214: rgb(18.238344% 89.722339% 66.778783%);
    --palNeon-215: rgb(18.987716% 90.009483% 66.065101%);
    --palNeon-216: rgb(19.743481% 90.295146% 65.337495%);
    --palNeon-217: rgb(20.505841% 90.579264% 64.595567%);
    --palNeon-218: rgb(21.2749% 90.861762% 63.83914%);
    --palNeon-219: rgb(22.051049% 91.142594% 63.067239%);
    --palNeon-220: rgb(22.834201% 91.421664% 62.280075%);
    --palNeon-221: rgb(23.624833% 91.69893% 61.476379%);
    --palNeon-222: rgb(24.422766% 91.97429% 60.656428%);
    --palNeon-223: rgb(25.228423% 92.247694% 59.818978%);
    --palNeon-224: rgb(26.041676% 92.519047% 58.96401%);
    --palNeon-225: rgb(26.862725% 92.788281% 58.09066%);
    --palNeon-226: rgb(27.691682% 93.055321% 57.198198%);
    --palNeon-227: rgb(28.528317% 93.320075% 56.286541%);
    --palNeon-228: rgb(29.372913% 93.582479% 55.354404%);
    --palNeon-229: rgb(30.22545% 93.842451% 54.401067%);
    --palNeon-230: rgb(31.085609% 94.099906% 53.426337%);
    --palNeon-231: rgb(31.953606% 94.354775% 52.428776%);
    --palNeon-232: rgb(32.829374% 94.606981% 51.407435%);
    --palNeon-233: rgb(33.71282% 94.856447% 50.361276%);
    --palNeon-234: rgb(34.603654% 95.103098% 49.289543%);
    --palNeon-235: rgb(35.50192% 95.346865% 48.190607%);
    --palNeon-236: rgb(36.407528% 95.587674% 47.062942%);
    --palNeon-237: rgb(37.320343% 95.825456% 45.904902%);
    --palNeon-238: rgb(38.240221% 96.060143% 44.714612%);
    --palNeon-239: rgb(39.167011% 96.291667% 43.489917%);
    --palNeon-240: rgb(40.100558% 96.519966% 42.228327%);
    --palNeon-241: rgb(41.040702% 96.744976% 40.926937%);
    --palNeon-242: rgb(41.987245% 96.966638% 39.582409%);
    --palNeon-243: rgb(42.940052% 97.184892% 38.190624%);
    --palNeon-244: rgb(43.898985% 97.399681% 36.746644%);
    --palNeon-245: rgb(44.863879% 97.610948% 35.244542%);
    --palNeon-246: rgb(45.83457% 97.818641% 33.67701%);
    --palNeon-247: rgb(46.810894% 98.022706% 32.03489%);
    --palNeon-248: rgb(47.79261% 98.223101% 30.306677%);
    --palNeon-249: rgb(48.779607% 98.419773% 28.476928%);
    --palNeon-250: rgb(49.771732% 98.612677% 26.524969%);
    --palNeon-251: rgb(50.768829% 98.801767% 24.421878%);
    --palNeon-252: rgb(51.770748% 98.986999% 22.125155%);
    --palNeon-253: rgb(52.777342% 99.168334% 19.568083%);
    --palNeon-254: rgb(53.788468% 99.345728% 16.635353%);
    --palNeon-255: rgb(54.803986% 99.519145% 13.094595%);
    --palNeon-256: rgb(55.823761% 99.688544% 8.315849%);
}
