/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palNuuk-1: rgb(1.8013% 35.076% 55.062%);
    --palNuuk-2: rgb(2.5926% 35.177% 54.917%);
    --palNuuk-3: rgb(3.3826% 35.281% 54.772%);
    --palNuuk-4: rgb(4.2005% 35.384% 54.628%);
    --palNuuk-5: rgb(4.9338% 35.491% 54.484%);
    --palNuuk-6: rgb(5.6017% 35.596% 54.341%);
    --palNuuk-7: rgb(6.2265% 35.703% 54.199%);
    --palNuuk-8: rgb(6.8128% 35.81% 54.059%);
    --palNuuk-9: rgb(7.3701% 35.918% 53.92%);
    --palNuuk-10: rgb(7.8892% 36.028% 53.783%);
    --palNuuk-11: rgb(8.4046% 36.141% 53.646%);
    --palNuuk-12: rgb(8.8911% 36.254% 53.511%);
    --palNuuk-13: rgb(9.3625% 36.368% 53.377%);
    --palNuuk-14: rgb(9.8277% 36.485% 53.247%);
    --palNuuk-15: rgb(10.277% 36.604% 53.117%);
    --palNuuk-16: rgb(10.72% 36.724% 52.99%);
    --palNuuk-17: rgb(11.153% 36.847% 52.866%);
    --palNuuk-18: rgb(11.58% 36.971% 52.743%);
    --palNuuk-19: rgb(11.998% 37.098% 52.624%);
    --palNuuk-20: rgb(12.415% 37.227% 52.507%);
    --palNuuk-21: rgb(12.832% 37.36% 52.393%);
    --palNuuk-22: rgb(13.244% 37.494% 52.282%);
    --palNuuk-23: rgb(13.65% 37.633% 52.173%);
    --palNuuk-24: rgb(14.062% 37.772% 52.069%);
    --palNuuk-25: rgb(14.469% 37.915% 51.968%);
    --palNuuk-26: rgb(14.872% 38.062% 51.871%);
    --palNuuk-27: rgb(15.279% 38.21% 51.778%);
    --palNuuk-28: rgb(15.688% 38.364% 51.688%);
    --palNuuk-29: rgb(16.097% 38.519% 51.602%);
    --palNuuk-30: rgb(16.503% 38.678% 51.521%);
    --palNuuk-31: rgb(16.919% 38.842% 51.445%);
    --palNuuk-32: rgb(17.328% 39.007% 51.373%);
    --palNuuk-33: rgb(17.746% 39.178% 51.305%);
    --palNuuk-34: rgb(18.159% 39.352% 51.242%);
    --palNuuk-35: rgb(18.583% 39.53% 51.185%);
    --palNuuk-36: rgb(19.003% 39.71% 51.132%);
    --palNuuk-37: rgb(19.431% 39.896% 51.085%);
    --palNuuk-38: rgb(19.855% 40.087% 51.043%);
    --palNuuk-39: rgb(20.287% 40.279% 51.007%);
    --palNuuk-40: rgb(20.723% 40.475% 50.977%);
    --palNuuk-41: rgb(21.161% 40.677% 50.952%);
    --palNuuk-42: rgb(21.602% 40.882% 50.933%);
    --palNuuk-43: rgb(22.047% 41.091% 50.919%);
    --palNuuk-44: rgb(22.491% 41.305% 50.912%);
    --palNuuk-45: rgb(22.943% 41.521% 50.911%);
    --palNuuk-46: rgb(23.398% 41.742% 50.915%);
    --palNuuk-47: rgb(23.855% 41.967% 50.926%);
    --palNuuk-48: rgb(24.317% 42.194% 50.943%);
    --palNuuk-49: rgb(24.784% 42.427% 50.965%);
    --palNuuk-50: rgb(25.252% 42.664% 50.994%);
    --palNuuk-51: rgb(25.723% 42.904% 51.029%);
    --palNuuk-52: rgb(26.198% 43.148% 51.071%);
    --palNuuk-53: rgb(26.676% 43.393% 51.118%);
    --palNuuk-54: rgb(27.156% 43.644% 51.171%);
    --palNuuk-55: rgb(27.643% 43.897% 51.231%);
    --palNuuk-56: rgb(28.128% 44.155% 51.296%);
    --palNuuk-57: rgb(28.617% 44.415% 51.367%);
    --palNuuk-58: rgb(29.112% 44.677% 51.444%);
    --palNuuk-59: rgb(29.607% 44.943% 51.526%);
    --palNuuk-60: rgb(30.104% 45.213% 51.613%);
    --palNuuk-61: rgb(30.607% 45.484% 51.707%);
    --palNuuk-62: rgb(31.108% 45.757% 51.805%);
    --palNuuk-63: rgb(31.614% 46.033% 51.909%);
    --palNuuk-64: rgb(32.119% 46.311% 52.016%);
    --palNuuk-65: rgb(32.627% 46.592% 52.129%);
    --palNuuk-66: rgb(33.138% 46.876% 52.247%);
    --palNuuk-67: rgb(33.65% 47.162% 52.369%);
    --palNuuk-68: rgb(34.165% 47.448% 52.495%);
    --palNuuk-69: rgb(34.68% 47.736% 52.626%);
    --palNuuk-70: rgb(35.195% 48.027% 52.759%);
    --palNuuk-71: rgb(35.714% 48.318% 52.897%);
    --palNuuk-72: rgb(36.232% 48.612% 53.037%);
    --palNuuk-73: rgb(36.75% 48.906% 53.182%);
    --palNuuk-74: rgb(37.27% 49.202% 53.328%);
    --palNuuk-75: rgb(37.791% 49.499% 53.478%);
    --palNuuk-76: rgb(38.313% 49.798% 53.631%);
    --palNuuk-77: rgb(38.834% 50.096% 53.786%);
    --palNuuk-78: rgb(39.356% 50.396% 53.941%);
    --palNuuk-79: rgb(39.878% 50.695% 54.1%);
    --palNuuk-80: rgb(40.4% 50.996% 54.26%);
    --palNuuk-81: rgb(40.922% 51.298% 54.421%);
    --palNuuk-82: rgb(41.443% 51.599% 54.584%);
    --palNuuk-83: rgb(41.965% 51.903% 54.747%);
    --palNuuk-84: rgb(42.486% 52.205% 54.911%);
    --palNuuk-85: rgb(43.006% 52.509% 55.075%);
    --palNuuk-86: rgb(43.526% 52.812% 55.24%);
    --palNuuk-87: rgb(44.043% 53.115% 55.404%);
    --palNuuk-88: rgb(44.56% 53.418% 55.567%);
    --palNuuk-89: rgb(45.078% 53.722% 55.732%);
    --palNuuk-90: rgb(45.593% 54.025% 55.894%);
    --palNuuk-91: rgb(46.106% 54.328% 56.056%);
    --palNuuk-92: rgb(46.618% 54.631% 56.217%);
    --palNuuk-93: rgb(47.13% 54.933% 56.376%);
    --palNuuk-94: rgb(47.638% 55.235% 56.532%);
    --palNuuk-95: rgb(48.145% 55.536% 56.688%);
    --palNuuk-96: rgb(48.649% 55.837% 56.841%);
    --palNuuk-97: rgb(49.153% 56.138% 56.991%);
    --palNuuk-98: rgb(49.651% 56.437% 57.139%);
    --palNuuk-99: rgb(50.15% 56.736% 57.285%);
    --palNuuk-100: rgb(50.643% 57.033% 57.426%);
    --palNuuk-101: rgb(51.135% 57.331% 57.566%);
    --palNuuk-102: rgb(51.623% 57.628% 57.702%);
    --palNuuk-103: rgb(52.109% 57.922% 57.833%);
    --palNuuk-104: rgb(52.591% 58.215% 57.961%);
    --palNuuk-105: rgb(53.069% 58.508% 58.085%);
    --palNuuk-106: rgb(53.543% 58.798% 58.204%);
    --palNuuk-107: rgb(54.014% 59.087% 58.319%);
    --palNuuk-108: rgb(54.48% 59.375% 58.43%);
    --palNuuk-109: rgb(54.942% 59.662% 58.536%);
    --palNuuk-110: rgb(55.399% 59.946% 58.637%);
    --palNuuk-111: rgb(55.851% 60.229% 58.732%);
    --palNuuk-112: rgb(56.3% 60.509% 58.822%);
    --palNuuk-113: rgb(56.743% 60.789% 58.908%);
    --palNuuk-114: rgb(57.18% 61.065% 58.988%);
    --palNuuk-115: rgb(57.613% 61.339% 59.062%);
    --palNuuk-116: rgb(58.039% 61.612% 59.131%);
    --palNuuk-117: rgb(58.46% 61.882% 59.195%);
    --palNuuk-118: rgb(58.874% 62.149% 59.252%);
    --palNuuk-119: rgb(59.285% 62.415% 59.303%);
    --palNuuk-120: rgb(59.688% 62.677% 59.348%);
    --palNuuk-121: rgb(60.085% 62.936% 59.388%);
    --palNuuk-122: rgb(60.476% 63.194% 59.421%);
    --palNuuk-123: rgb(60.861% 63.449% 59.449%);
    --palNuuk-124: rgb(61.239% 63.7% 59.47%);
    --palNuuk-125: rgb(61.611% 63.949% 59.486%);
    --palNuuk-126: rgb(61.977% 64.195% 59.495%);
    --palNuuk-127: rgb(62.335% 64.438% 59.499%);
    --palNuuk-128: rgb(62.687% 64.679% 59.496%);
    --palNuuk-129: rgb(63.033% 64.916% 59.488%);
    --palNuuk-130: rgb(63.372% 65.151% 59.474%);
    --palNuuk-131: rgb(63.704% 65.382% 59.454%);
    --palNuuk-132: rgb(64.03% 65.611% 59.429%);
    --palNuuk-133: rgb(64.349% 65.836% 59.398%);
    --palNuuk-134: rgb(64.662% 66.058% 59.361%);
    --palNuuk-135: rgb(64.969% 66.278% 59.32%);
    --palNuuk-136: rgb(65.268% 66.494% 59.273%);
    --palNuuk-137: rgb(65.562% 66.708% 59.22%);
    --palNuuk-138: rgb(65.85% 66.919% 59.162%);
    --palNuuk-139: rgb(66.131% 67.127% 59.099%);
    --palNuuk-140: rgb(66.407% 67.332% 59.031%);
    --palNuuk-141: rgb(66.676% 67.535% 58.959%);
    --palNuuk-142: rgb(66.941% 67.735% 58.882%);
    --palNuuk-143: rgb(67.199% 67.932% 58.801%);
    --palNuuk-144: rgb(67.452% 68.126% 58.716%);
    --palNuuk-145: rgb(67.7% 68.319% 58.627%);
    --palNuuk-146: rgb(67.941% 68.509% 58.534%);
    --palNuuk-147: rgb(68.178% 68.696% 58.436%);
    --palNuuk-148: rgb(68.411% 68.881% 58.334%);
    --palNuuk-149: rgb(68.639% 69.063% 58.229%);
    --palNuuk-150: rgb(68.862% 69.245% 58.121%);
    --palNuuk-151: rgb(69.08% 69.423% 58.01%);
    --palNuuk-152: rgb(69.296% 69.6% 57.894%);
    --palNuuk-153: rgb(69.506% 69.774% 57.776%);
    --palNuuk-154: rgb(69.712% 69.947% 57.656%);
    --palNuuk-155: rgb(69.915% 70.119% 57.532%);
    --palNuuk-156: rgb(70.115% 70.289% 57.405%);
    --palNuuk-157: rgb(70.311% 70.457% 57.277%);
    --palNuuk-158: rgb(70.504% 70.624% 57.145%);
    --palNuuk-159: rgb(70.694% 70.789% 57.012%);
    --palNuuk-160: rgb(70.881% 70.953% 56.877%);
    --palNuuk-161: rgb(71.065% 71.116% 56.74%);
    --palNuuk-162: rgb(71.247% 71.278% 56.6%);
    --palNuuk-163: rgb(71.426% 71.439% 56.459%);
    --palNuuk-164: rgb(71.604% 71.6% 56.318%);
    --palNuuk-165: rgb(71.78% 71.759% 56.174%);
    --palNuuk-166: rgb(71.953% 71.917% 56.028%);
    --palNuuk-167: rgb(72.124% 72.075% 55.881%);
    --palNuuk-168: rgb(72.295% 72.233% 55.735%);
    --palNuuk-169: rgb(72.464% 72.39% 55.585%);
    --palNuuk-170: rgb(72.632% 72.548% 55.437%);
    --palNuuk-171: rgb(72.799% 72.705% 55.288%);
    --palNuuk-172: rgb(72.965% 72.862% 55.138%);
    --palNuuk-173: rgb(73.13% 73.02% 54.988%);
    --palNuuk-174: rgb(73.296% 73.177% 54.838%);
    --palNuuk-175: rgb(73.461% 73.335% 54.687%);
    --palNuuk-176: rgb(73.625% 73.494% 54.537%);
    --palNuuk-177: rgb(73.789% 73.652% 54.387%);
    --palNuuk-178: rgb(73.955% 73.812% 54.238%);
    --palNuuk-179: rgb(74.12% 73.974% 54.089%);
    --palNuuk-180: rgb(74.286% 74.135% 53.941%);
    --palNuuk-181: rgb(74.453% 74.3% 53.795%);
    --palNuuk-182: rgb(74.621% 74.464% 53.65%);
    --palNuuk-183: rgb(74.79% 74.631% 53.506%);
    --palNuuk-184: rgb(74.96% 74.8% 53.363%);
    --palNuuk-185: rgb(75.133% 74.97% 53.225%);
    --palNuuk-186: rgb(75.307% 75.144% 53.087%);
    --palNuuk-187: rgb(75.484% 75.318% 52.952%);
    --palNuuk-188: rgb(75.662% 75.497% 52.82%);
    --palNuuk-189: rgb(75.844% 75.678% 52.692%);
    --palNuuk-190: rgb(76.028% 75.863% 52.567%);
    --palNuuk-191: rgb(76.216% 76.051% 52.445%);
    --palNuuk-192: rgb(76.407% 76.242% 52.329%);
    --palNuuk-193: rgb(76.603% 76.438% 52.216%);
    --palNuuk-194: rgb(76.802% 76.638% 52.109%);
    --palNuuk-195: rgb(77.006% 76.843% 52.008%);
    --palNuuk-196: rgb(77.215% 77.053% 51.913%);
    --palNuuk-197: rgb(77.428% 77.269% 51.825%);
    --palNuuk-198: rgb(77.648% 77.489% 51.743%);
    --palNuuk-199: rgb(77.873% 77.717% 51.669%);
    --palNuuk-200: rgb(78.104% 77.95% 51.602%);
    --palNuuk-201: rgb(78.342% 78.19% 51.545%);
    --palNuuk-202: rgb(78.587% 78.437% 51.498%);
    --palNuuk-203: rgb(78.839% 78.691% 51.461%);
    --palNuuk-204: rgb(79.099% 78.953% 51.434%);
    --palNuuk-205: rgb(79.367% 79.223% 51.418%);
    --palNuuk-206: rgb(79.642% 79.501% 51.415%);
    --palNuuk-207: rgb(79.927% 79.787% 51.424%);
    --palNuuk-208: rgb(80.219% 80.083% 51.446%);
    --palNuuk-209: rgb(80.521% 80.388% 51.482%);
    --palNuuk-210: rgb(80.833% 80.702% 51.533%);
    --palNuuk-211: rgb(81.154% 81.024% 51.599%);
    --palNuuk-212: rgb(81.483% 81.357% 51.683%);
    --palNuuk-213: rgb(81.823% 81.699% 51.782%);
    --palNuuk-214: rgb(82.173% 82.05% 51.899%);
    --palNuuk-215: rgb(82.531% 82.411% 52.032%);
    --palNuuk-216: rgb(82.9% 82.782% 52.184%);
    --palNuuk-217: rgb(83.277% 83.162% 52.356%);
    --palNuuk-218: rgb(83.664% 83.55% 52.546%);
    --palNuuk-219: rgb(84.06% 83.947% 52.754%);
    --palNuuk-220: rgb(84.463% 84.352% 52.983%);
    --palNuuk-221: rgb(84.875% 84.765% 53.231%);
    --palNuuk-222: rgb(85.294% 85.185% 53.497%);
    --palNuuk-223: rgb(85.719% 85.612% 53.784%);
    --palNuuk-224: rgb(86.151% 86.045% 54.089%);
    --palNuuk-225: rgb(86.589% 86.483% 54.413%);
    --palNuuk-226: rgb(87.031% 86.927% 54.755%);
    --palNuuk-227: rgb(87.477% 87.373% 55.115%);
    --palNuuk-228: rgb(87.927% 87.824% 55.492%);
    --palNuuk-229: rgb(88.379% 88.276% 55.886%);
    --palNuuk-230: rgb(88.833% 88.731% 56.296%);
    --palNuuk-231: rgb(89.287% 89.186% 56.721%);
    --palNuuk-232: rgb(89.743% 89.642% 57.16%);
    --palNuuk-233: rgb(90.197% 90.097% 57.613%);
    --palNuuk-234: rgb(90.65% 90.551% 58.077%);
    --palNuuk-235: rgb(91.101% 91.004% 58.554%);
    --palNuuk-236: rgb(91.55% 91.453% 59.04%);
    --palNuuk-237: rgb(91.996% 91.9% 59.537%);
    --palNuuk-238: rgb(92.438% 92.344% 60.043%);
    --palNuuk-239: rgb(92.876% 92.784% 60.556%);
    --palNuuk-240: rgb(93.31% 93.22% 61.078%);
    --palNuuk-241: rgb(93.74% 93.652% 61.605%);
    --palNuuk-242: rgb(94.164% 94.079% 62.138%);
    --palNuuk-243: rgb(94.584% 94.502% 62.676%);
    --palNuuk-244: rgb(94.999% 94.92% 63.218%);
    --palNuuk-245: rgb(95.409% 95.334% 63.764%);
    --palNuuk-246: rgb(95.813% 95.742% 64.313%);
    --palNuuk-247: rgb(96.213% 96.146% 64.864%);
    --palNuuk-248: rgb(96.608% 96.546% 65.418%);
    --palNuuk-249: rgb(96.998% 96.942% 65.974%);
    --palNuuk-250: rgb(97.384% 97.334% 66.532%);
    --palNuuk-251: rgb(97.766% 97.722% 67.091%);
    --palNuuk-252: rgb(98.144% 98.106% 67.651%);
    --palNuuk-253: rgb(98.519% 98.488% 68.211%);
    --palNuuk-254: rgb(98.89% 98.867% 68.773%);
    --palNuuk-255: rgb(99.259% 99.243% 69.335%);
    --palNuuk-256: rgb(99.624% 99.617% 69.898%);
}
