/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOceanCM-1: rgb(11.036298% 0.169078% 25.302591%);
    --palOceanCM-2: rgb(11.229459% 0.603321% 25.753772%);
    --palOceanCM-3: rgb(11.418039% 1.060839% 26.20518%);
    --palOceanCM-4: rgb(11.601976% 1.542029% 26.656554%);
    --palOceanCM-5: rgb(11.781256% 2.047271% 27.107617%);
    --palOceanCM-6: rgb(11.955872% 2.576938% 27.558127%);
    --palOceanCM-7: rgb(12.125791% 3.131406% 28.007901%);
    --palOceanCM-8: rgb(12.291032% 3.711032% 28.456726%);
    --palOceanCM-9: rgb(12.451564% 4.306596% 28.904459%);
    --palOceanCM-10: rgb(12.607398% 4.880321% 29.350935%);
    --palOceanCM-11: rgb(12.758536% 5.434134% 29.79601%);
    --palOceanCM-12: rgb(12.904948% 5.971483% 30.239578%);
    --palOceanCM-13: rgb(13.046681% 6.494994% 30.68148%);
    --palOceanCM-14: rgb(13.183678% 7.006769% 31.121644%);
    --palOceanCM-15: rgb(13.315975% 7.508463% 31.559936%);
    --palOceanCM-16: rgb(13.443582% 8.001428% 31.996246%);
    --palOceanCM-17: rgb(13.566461% 8.486802% 32.4305%);
    --palOceanCM-18: rgb(13.684632% 8.965512% 32.86259%);
    --palOceanCM-19: rgb(13.798112% 9.438344% 33.292414%);
    --palOceanCM-20: rgb(13.906902% 9.905971% 33.719884%);
    --palOceanCM-21: rgb(14.01098% 10.368981% 34.144923%);
    --palOceanCM-22: rgb(14.110359% 10.827871% 34.56744%);
    --palOceanCM-23: rgb(14.20506% 11.283068% 34.987342%);
    --palOceanCM-24: rgb(14.295089% 11.734954% 35.404547%);
    --palOceanCM-25: rgb(14.380456% 12.183862% 35.818971%);
    --palOceanCM-26: rgb(14.461171% 12.630089% 36.230534%);
    --palOceanCM-27: rgb(14.53725% 13.073893% 36.639155%);
    --palOceanCM-28: rgb(14.608708% 13.515508% 37.044756%);
    --palOceanCM-29: rgb(14.675568% 13.95514% 37.447257%);
    --palOceanCM-30: rgb(14.737854% 14.392971% 37.846582%);
    --palOceanCM-31: rgb(14.795595% 14.829167% 38.242655%);
    --palOceanCM-32: rgb(14.848823% 15.263873% 38.635403%);
    --palOceanCM-33: rgb(14.897577% 15.697221% 39.024752%);
    --palOceanCM-34: rgb(14.941899% 16.129329% 39.410632%);
    --palOceanCM-35: rgb(14.981839% 16.5603% 39.792975%);
    --palOceanCM-36: rgb(15.017448% 16.990228% 40.171715%);
    --palOceanCM-37: rgb(15.048788% 17.419196% 40.546789%);
    --palOceanCM-38: rgb(15.075895% 17.847288% 40.91814%);
    --palOceanCM-39: rgb(15.098858% 18.274564% 41.285707%);
    --palOceanCM-40: rgb(15.117765% 18.701078% 41.649434%);
    --palOceanCM-41: rgb(15.132702% 19.126881% 42.00927%);
    --palOceanCM-42: rgb(15.143729% 19.552028% 42.36517%);
    --palOceanCM-43: rgb(15.150958% 19.976554% 42.717089%);
    --palOceanCM-44: rgb(15.154514% 20.400486% 43.064985%);
    --palOceanCM-45: rgb(15.154485% 20.823862% 43.408825%);
    --palOceanCM-46: rgb(15.150992% 21.246704% 43.748576%);
    --palOceanCM-47: rgb(15.144194% 21.669026% 44.08421%);
    --palOceanCM-48: rgb(15.134177% 22.090856% 44.415707%);
    --palOceanCM-49: rgb(15.121131% 22.512197% 44.743047%);
    --palOceanCM-50: rgb(15.105189% 22.933064% 45.066217%);
    --palOceanCM-51: rgb(15.086511% 23.353464% 45.385211%);
    --palOceanCM-52: rgb(15.065279% 23.773398% 45.700024%);
    --palOceanCM-53: rgb(15.041652% 24.192875% 46.010658%);
    --palOceanCM-54: rgb(15.015834% 24.611888% 46.317121%);
    --palOceanCM-55: rgb(14.988003% 25.030442% 46.619422%);
    --palOceanCM-56: rgb(14.95837% 25.448531% 46.91758%);
    --palOceanCM-57: rgb(14.927143% 25.866151% 47.211617%);
    --palOceanCM-58: rgb(14.894527% 26.283299% 47.501556%);
    --palOceanCM-59: rgb(14.86077% 26.699964% 47.787431%);
    --palOceanCM-60: rgb(14.826061% 27.116148% 48.069273%);
    --palOceanCM-61: rgb(14.790675% 27.531836% 48.347126%);
    --palOceanCM-62: rgb(14.754834% 27.947023% 48.621032%);
    --palOceanCM-63: rgb(14.718783% 28.361704% 48.891036%);
    --palOceanCM-64: rgb(14.682792% 28.775866% 49.157193%);
    --palOceanCM-65: rgb(14.647096% 29.189507% 49.419555%);
    --palOceanCM-66: rgb(14.611965% 29.602617% 49.67818%);
    --palOceanCM-67: rgb(14.577671% 30.015187% 49.933131%);
    --palOceanCM-68: rgb(14.544466% 30.427214% 50.184468%);
    --palOceanCM-69: rgb(14.512624% 30.838691% 50.43226%);
    --palOceanCM-70: rgb(14.482421% 31.249611% 50.676574%);
    --palOceanCM-71: rgb(14.454126% 31.65997% 50.917482%);
    --palOceanCM-72: rgb(14.427999% 32.069765% 51.155052%);
    --palOceanCM-73: rgb(14.404324% 32.47899% 51.389361%);
    --palOceanCM-74: rgb(14.383368% 32.887643% 51.620483%);
    --palOceanCM-75: rgb(14.365391% 33.295724% 51.848492%);
    --palOceanCM-76: rgb(14.350657% 33.703232% 52.073465%);
    --palOceanCM-77: rgb(14.339432% 34.110164% 52.295479%);
    --palOceanCM-78: rgb(14.33197% 34.516522% 52.514612%);
    --palOceanCM-79: rgb(14.328515% 34.922308% 52.730938%);
    --palOceanCM-80: rgb(14.329311% 35.327524% 52.944536%);
    --palOceanCM-81: rgb(14.334599% 35.732173% 53.155482%);
    --palOceanCM-82: rgb(14.344605% 36.136258% 53.363854%);
    --palOceanCM-83: rgb(14.35955% 36.539784% 53.569725%);
    --palOceanCM-84: rgb(14.379638% 36.942758% 53.773169%);
    --palOceanCM-85: rgb(14.405074% 37.345185% 53.974261%);
    --palOceanCM-86: rgb(14.436051% 37.747071% 54.173074%);
    --palOceanCM-87: rgb(14.472745% 38.148424% 54.36968%);
    --palOceanCM-88: rgb(14.515323% 38.549252% 54.564147%);
    --palOceanCM-89: rgb(14.563938% 38.949565% 54.756543%);
    --palOceanCM-90: rgb(14.618737% 39.34937% 54.946937%);
    --palOceanCM-91: rgb(14.679849% 39.748677% 55.135394%);
    --palOceanCM-92: rgb(14.747394% 40.147496% 55.321979%);
    --palOceanCM-93: rgb(14.821476% 40.545839% 55.506753%);
    --palOceanCM-94: rgb(14.902183% 40.943715% 55.689775%);
    --palOceanCM-95: rgb(14.989598% 41.341137% 55.871106%);
    --palOceanCM-96: rgb(15.083789% 41.738115% 56.050803%);
    --palOceanCM-97: rgb(15.18481% 42.134661% 56.22892%);
    --palOceanCM-98: rgb(15.292704% 42.530787% 56.405511%);
    --palOceanCM-99: rgb(15.407502% 42.926506% 56.580628%);
    --palOceanCM-100: rgb(15.529223% 43.321829% 56.754318%);
    --palOceanCM-101: rgb(15.657875% 43.716769% 56.92663%);
    --palOceanCM-102: rgb(15.793461% 44.111338% 57.09761%);
    --palOceanCM-103: rgb(15.93597% 44.505549% 57.267302%);
    --palOceanCM-104: rgb(16.085384% 44.899414% 57.435748%);
    --palOceanCM-105: rgb(16.241677% 45.292945% 57.602988%);
    --palOceanCM-106: rgb(16.404815% 45.686154% 57.769062%);
    --palOceanCM-107: rgb(16.574758% 46.079053% 57.934004%);
    --palOceanCM-108: rgb(16.751459% 46.471656% 58.09785%);
    --palOceanCM-109: rgb(16.934866% 46.863973% 58.260632%);
    --palOceanCM-110: rgb(17.124925% 47.256015% 58.422382%);
    --palOceanCM-111: rgb(17.32158% 47.647795% 58.58313%);
    --palOceanCM-112: rgb(17.524768% 48.039322% 58.742905%);
    --palOceanCM-113: rgb(17.734425% 48.430608% 58.901731%);
    --palOceanCM-114: rgb(17.950488% 48.821663% 59.059635%);
    --palOceanCM-115: rgb(18.172891% 49.212496% 59.216639%);
    --palOceanCM-116: rgb(18.401567% 49.603117% 59.372765%);
    --palOceanCM-117: rgb(18.636453% 49.993535% 59.528034%);
    --palOceanCM-118: rgb(18.877485% 50.383759% 59.682463%);
    --palOceanCM-119: rgb(19.1246% 50.773796% 59.836071%);
    --palOceanCM-120: rgb(19.377738% 51.163653% 59.988874%);
    --palOceanCM-121: rgb(19.636843% 51.553338% 60.140886%);
    --palOceanCM-122: rgb(19.901859% 51.942856% 60.292121%);
    --palOceanCM-123: rgb(20.172736% 52.332213% 60.442591%);
    --palOceanCM-124: rgb(20.449428% 52.721414% 60.592309%);
    --palOceanCM-125: rgb(20.731892% 53.110462% 60.741283%);
    --palOceanCM-126: rgb(21.02009% 53.499361% 60.889524%);
    --palOceanCM-127: rgb(21.313989% 53.888113% 61.03704%);
    --palOceanCM-128: rgb(21.613558% 54.27672% 61.183834%);
    --palOceanCM-129: rgb(21.918777% 54.665182% 61.329914%);
    --palOceanCM-130: rgb(22.229631% 55.053498% 61.475288%);
    --palOceanCM-131: rgb(22.546108% 55.441667% 61.619963%);
    --palOceanCM-132: rgb(22.868205% 55.829685% 61.763942%);
    --palOceanCM-133: rgb(23.195924% 56.21755% 61.907231%);
    --palOceanCM-134: rgb(23.529267% 56.605258% 62.049821%);
    --palOceanCM-135: rgb(23.868256% 56.9928% 62.191727%);
    --palOceanCM-136: rgb(24.212914% 57.38017% 62.332955%);
    --palOceanCM-137: rgb(24.563267% 57.767357% 62.4735%);
    --palOceanCM-138: rgb(24.919352% 58.154354% 62.613362%);
    --palOceanCM-139: rgb(25.281216% 58.541146% 62.752556%);
    --palOceanCM-140: rgb(25.648909% 58.92772% 62.891076%);
    --palOceanCM-141: rgb(26.022491% 59.314062% 63.028927%);
    --palOceanCM-142: rgb(26.402031% 59.700151% 63.166124%);
    --palOceanCM-143: rgb(26.787604% 60.085972% 63.302651%);
    --palOceanCM-144: rgb(27.179297% 60.4715% 63.438542%);
    --palOceanCM-145: rgb(27.577199% 60.856714% 63.573775%);
    --palOceanCM-146: rgb(27.981416% 61.241587% 63.708388%);
    --palOceanCM-147: rgb(28.392056% 61.626091% 63.842373%);
    --palOceanCM-148: rgb(28.809239% 62.010194% 63.975752%);
    --palOceanCM-149: rgb(29.233093% 62.393864% 64.10855%);
    --palOceanCM-150: rgb(29.663759% 62.777064% 64.240764%);
    --palOceanCM-151: rgb(30.101382% 63.159754% 64.372434%);
    --palOceanCM-152: rgb(30.546117% 63.541892% 64.503589%);
    --palOceanCM-153: rgb(30.99813% 63.923432% 64.634259%);
    --palOceanCM-154: rgb(31.457598% 64.304323% 64.764481%);
    --palOceanCM-155: rgb(31.924707% 64.684514% 64.894289%);
    --palOceanCM-156: rgb(32.399647% 65.063947% 65.023744%);
    --palOceanCM-157: rgb(32.88262% 65.442561% 65.152904%);
    --palOceanCM-158: rgb(33.373835% 65.820289% 65.281838%);
    --palOceanCM-159: rgb(33.873515% 66.197064% 65.410616%);
    --palOceanCM-160: rgb(34.381881% 66.572811% 65.53933%);
    --palOceanCM-161: rgb(34.89916% 66.947452% 65.668086%);
    --palOceanCM-162: rgb(35.425586% 67.320902% 65.797005%);
    --palOceanCM-163: rgb(35.961394% 67.693076% 65.926212%);
    --palOceanCM-164: rgb(36.506831% 68.063881% 66.055847%);
    --palOceanCM-165: rgb(37.062112% 68.433222% 66.186104%);
    --palOceanCM-166: rgb(37.627487% 68.800998% 66.317142%);
    --palOceanCM-167: rgb(38.203149% 69.167107% 66.44921%);
    --palOceanCM-168: rgb(38.78933% 69.531443% 66.582512%);
    --palOceanCM-169: rgb(39.386193% 69.8939% 66.717343%);
    --palOceanCM-170: rgb(39.993898% 70.254369% 66.853995%);
    --palOceanCM-171: rgb(40.612583% 70.612744% 66.992783%);
    --palOceanCM-172: rgb(41.24233% 70.96892% 67.134073%);
    --palOceanCM-173: rgb(41.883173% 71.322799% 67.278257%);
    --palOceanCM-174: rgb(42.535095% 71.674289% 67.425759%);
    --palOceanCM-175: rgb(43.198011% 72.023305% 67.57703%);
    --palOceanCM-176: rgb(43.871767% 72.369779% 67.732549%);
    --palOceanCM-177: rgb(44.556123% 72.713656% 67.892818%);
    --palOceanCM-178: rgb(45.250758% 73.054898% 68.058357%);
    --palOceanCM-179: rgb(45.955261% 73.393492% 68.229694%);
    --palOceanCM-180: rgb(46.66913% 73.729444% 68.407356%);
    --palOceanCM-181: rgb(47.391772% 74.062788% 68.591867%);
    --palOceanCM-182: rgb(48.122519% 74.393585% 68.783723%);
    --palOceanCM-183: rgb(48.86063% 74.72192% 68.983393%);
    --palOceanCM-184: rgb(49.605306% 75.047904% 69.191302%);
    --palOceanCM-185: rgb(50.355706% 75.371673% 69.407825%);
    --palOceanCM-186: rgb(51.110961% 75.693384% 69.633279%);
    --palOceanCM-187: rgb(51.870199% 76.013211% 69.867915%);
    --palOceanCM-188: rgb(52.632555% 76.331345% 70.111918%);
    --palOceanCM-189: rgb(53.397196% 76.647982% 70.365405%);
    --palOceanCM-190: rgb(54.163332% 76.963326% 70.628425%);
    --palOceanCM-191: rgb(54.930234% 77.277581% 70.900965%);
    --palOceanCM-192: rgb(55.697237% 77.590947% 71.182953%);
    --palOceanCM-193: rgb(56.463671% 77.903637% 71.474289%);
    --palOceanCM-194: rgb(57.229081% 78.215824% 71.77479%);
    --palOceanCM-195: rgb(57.992912% 78.52771% 72.084282%);
    --palOceanCM-196: rgb(58.754828% 78.839452% 72.402527%);
    --palOceanCM-197: rgb(59.514475% 79.151213% 72.729283%);
    --palOceanCM-198: rgb(60.271552% 79.463151% 73.064297%);
    --palOceanCM-199: rgb(61.025836% 79.775402% 73.407296%);
    --palOceanCM-200: rgb(61.77716% 80.088094% 73.758006%);
    --palOceanCM-201: rgb(62.525367% 80.401348% 74.116153%);
    --palOceanCM-202: rgb(63.270387% 80.715267% 74.48146%);
    --palOceanCM-203: rgb(64.012176% 81.029943% 74.853655%);
    --palOceanCM-204: rgb(64.750659% 81.345476% 75.23248%);
    --palOceanCM-205: rgb(65.48584% 81.661944% 75.617675%);
    --palOceanCM-206: rgb(66.217728% 81.979422% 76.008994%);
    --palOceanCM-207: rgb(66.946389% 82.297967% 76.406197%);
    --palOceanCM-208: rgb(67.671761% 82.617671% 76.809057%);
    --palOceanCM-209: rgb(68.39398% 82.938567% 77.217354%);
    --palOceanCM-210: rgb(69.113094% 83.26071% 77.630879%);
    --palOceanCM-211: rgb(69.829165% 83.584151% 78.049432%);
    --palOceanCM-212: rgb(70.542264% 83.908936% 78.472824%);
    --palOceanCM-213: rgb(71.25247% 84.235106% 78.900873%);
    --palOceanCM-214: rgb(71.95987% 84.562698% 79.333408%);
    --palOceanCM-215: rgb(72.664555% 84.891744% 79.770266%);
    --palOceanCM-216: rgb(73.366565% 85.222293% 80.211288%);
    --palOceanCM-217: rgb(74.066008% 85.554371% 80.656326%);
    --palOceanCM-218: rgb(74.763018% 85.88799% 81.105246%);
    --palOceanCM-219: rgb(75.457589% 86.223209% 81.557902%);
    --palOceanCM-220: rgb(76.149887% 86.560029% 82.014175%);
    --palOceanCM-221: rgb(76.83993% 86.898498% 82.473936%);
    --palOceanCM-222: rgb(77.527874% 87.238615% 82.937078%);
    --palOceanCM-223: rgb(78.213686% 87.580444% 83.403472%);
    --palOceanCM-224: rgb(78.897545% 87.923974% 83.873025%);
    --palOceanCM-225: rgb(79.579511% 88.269234% 84.345633%);
    --palOceanCM-226: rgb(80.259581% 88.616273% 84.821182%);
    --palOceanCM-227: rgb(80.937888% 88.965094% 85.299585%);
    --palOceanCM-228: rgb(81.614498% 89.315719% 85.780751%);
    --palOceanCM-229: rgb(82.28947% 89.668175% 86.264586%);
    --palOceanCM-230: rgb(82.962861% 90.022485% 86.751%);
    --palOceanCM-231: rgb(83.634729% 90.378676% 87.239906%);
    --palOceanCM-232: rgb(84.305129% 90.736771% 87.731217%);
    --palOceanCM-233: rgb(84.974113% 91.096796% 88.224848%);
    --palOceanCM-234: rgb(85.641734% 91.458776% 88.720714%);
    --palOceanCM-235: rgb(86.308039% 91.822735% 89.218732%);
    --palOceanCM-236: rgb(86.973073% 92.188701% 89.718817%);
    --palOceanCM-237: rgb(87.636879% 92.556701% 90.220883%);
    --palOceanCM-238: rgb(88.299495% 92.926763% 90.724844%);
    --palOceanCM-239: rgb(88.960897% 93.29894% 91.230596%);
    --palOceanCM-240: rgb(89.621156% 93.673248% 91.738058%);
    --palOceanCM-241: rgb(90.280302% 94.049718% 92.247137%);
    --palOceanCM-242: rgb(90.938335% 94.428393% 92.757732%);
    --palOceanCM-243: rgb(91.595203% 94.809341% 93.269721%);
    --palOceanCM-244: rgb(92.250973% 95.192575% 93.783015%);
    --palOceanCM-245: rgb(92.905588% 95.578166% 94.297488%);
    --palOceanCM-246: rgb(93.558995% 95.966178% 94.813012%);
    --palOceanCM-247: rgb(94.211204% 96.356654% 95.329477%);
    --palOceanCM-248: rgb(94.862035% 96.749711% 95.846718%);
    --palOceanCM-249: rgb(95.511504% 97.14539% 96.364632%);
    --palOceanCM-250: rgb(96.159359% 97.543838% 96.88305%);
    --palOceanCM-251: rgb(96.805534% 97.945125% 97.401875%);
    --palOceanCM-252: rgb(97.449688% 98.349435% 97.920966%);
    --palOceanCM-253: rgb(98.09163% 98.756881% 98.440279%);
    --palOceanCM-254: rgb(98.730941% 99.167667% 98.959791%);
    --palOceanCM-255: rgb(99.367218% 99.581976% 99.479608%);
    --palOceanCM-256: rgb(100% 100% 100%);
}
