/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palOcean-1: rgb(0% 50% 0%);
    --palOcean-2: rgb(0% 49.4118% 0.3922%);
    --palOcean-3: rgb(0% 48.8235% 0.7843%);
    --palOcean-4: rgb(0% 48.2353% 1.1765%);
    --palOcean-5: rgb(0% 47.6471% 1.5686%);
    --palOcean-6: rgb(0% 47.0588% 1.9608%);
    --palOcean-7: rgb(0% 46.4706% 2.3529%);
    --palOcean-8: rgb(0% 45.8824% 2.7451%);
    --palOcean-9: rgb(0% 45.2941% 3.1373%);
    --palOcean-10: rgb(0% 44.7059% 3.5294%);
    --palOcean-11: rgb(0% 44.1176% 3.9216%);
    --palOcean-12: rgb(0% 43.5294% 4.3137%);
    --palOcean-13: rgb(0% 42.9412% 4.7059%);
    --palOcean-14: rgb(0% 42.3529% 5.098%);
    --palOcean-15: rgb(0% 41.7647% 5.4902%);
    --palOcean-16: rgb(0% 41.1765% 5.8824%);
    --palOcean-17: rgb(0% 40.5882% 6.2745%);
    --palOcean-18: rgb(0% 40% 6.6667%);
    --palOcean-19: rgb(0% 39.4118% 7.0588%);
    --palOcean-20: rgb(0% 38.8235% 7.451%);
    --palOcean-21: rgb(0% 38.2353% 7.8431%);
    --palOcean-22: rgb(0% 37.6471% 8.2353%);
    --palOcean-23: rgb(0% 37.0588% 8.6275%);
    --palOcean-24: rgb(0% 36.4706% 9.0196%);
    --palOcean-25: rgb(0% 35.8824% 9.4118%);
    --palOcean-26: rgb(0% 35.2941% 9.8039%);
    --palOcean-27: rgb(0% 34.7059% 10.1961%);
    --palOcean-28: rgb(0% 34.1176% 10.5882%);
    --palOcean-29: rgb(0% 33.5294% 10.9804%);
    --palOcean-30: rgb(0% 32.9412% 11.3725%);
    --palOcean-31: rgb(0% 32.3529% 11.7647%);
    --palOcean-32: rgb(0% 31.7647% 12.1569%);
    --palOcean-33: rgb(0% 31.1765% 12.549%);
    --palOcean-34: rgb(0% 30.5882% 12.9412%);
    --palOcean-35: rgb(0% 30% 13.3333%);
    --palOcean-36: rgb(0% 29.4118% 13.7255%);
    --palOcean-37: rgb(0% 28.8235% 14.1176%);
    --palOcean-38: rgb(0% 28.2353% 14.5098%);
    --palOcean-39: rgb(0% 27.6471% 14.902%);
    --palOcean-40: rgb(0% 27.0588% 15.2941%);
    --palOcean-41: rgb(0% 26.4706% 15.6863%);
    --palOcean-42: rgb(0% 25.8824% 16.0784%);
    --palOcean-43: rgb(0% 25.2941% 16.4706%);
    --palOcean-44: rgb(0% 24.7059% 16.8627%);
    --palOcean-45: rgb(0% 24.1176% 17.2549%);
    --palOcean-46: rgb(0% 23.5294% 17.6471%);
    --palOcean-47: rgb(0% 22.9412% 18.0392%);
    --palOcean-48: rgb(0% 22.3529% 18.4314%);
    --palOcean-49: rgb(0% 21.7647% 18.8235%);
    --palOcean-50: rgb(0% 21.1765% 19.2157%);
    --palOcean-51: rgb(0% 20.5882% 19.6078%);
    --palOcean-52: rgb(0% 20% 20%);
    --palOcean-53: rgb(0% 19.4118% 20.3922%);
    --palOcean-54: rgb(0% 18.8235% 20.7843%);
    --palOcean-55: rgb(0% 18.2353% 21.1765%);
    --palOcean-56: rgb(0% 17.6471% 21.5686%);
    --palOcean-57: rgb(0% 17.0588% 21.9608%);
    --palOcean-58: rgb(0% 16.4706% 22.3529%);
    --palOcean-59: rgb(0% 15.8824% 22.7451%);
    --palOcean-60: rgb(0% 15.2941% 23.1373%);
    --palOcean-61: rgb(0% 14.7059% 23.5294%);
    --palOcean-62: rgb(0% 14.1176% 23.9216%);
    --palOcean-63: rgb(0% 13.5294% 24.3137%);
    --palOcean-64: rgb(0% 12.9412% 24.7059%);
    --palOcean-65: rgb(0% 12.3529% 25.098%);
    --palOcean-66: rgb(0% 11.7647% 25.4902%);
    --palOcean-67: rgb(0% 11.1765% 25.8824%);
    --palOcean-68: rgb(0% 10.5882% 26.2745%);
    --palOcean-69: rgb(0% 10% 26.6667%);
    --palOcean-70: rgb(0% 9.4118% 27.0588%);
    --palOcean-71: rgb(0% 8.8235% 27.451%);
    --palOcean-72: rgb(0% 8.2353% 27.8431%);
    --palOcean-73: rgb(0% 7.6471% 28.2353%);
    --palOcean-74: rgb(0% 7.0588% 28.6275%);
    --palOcean-75: rgb(0% 6.4706% 29.0196%);
    --palOcean-76: rgb(0% 5.8824% 29.4118%);
    --palOcean-77: rgb(0% 5.2941% 29.8039%);
    --palOcean-78: rgb(0% 4.7059% 30.1961%);
    --palOcean-79: rgb(0% 4.1176% 30.5882%);
    --palOcean-80: rgb(0% 3.5294% 30.9804%);
    --palOcean-81: rgb(0% 2.9412% 31.3725%);
    --palOcean-82: rgb(0% 2.3529% 31.7647%);
    --palOcean-83: rgb(0% 1.7647% 32.1569%);
    --palOcean-84: rgb(0% 1.1765% 32.549%);
    --palOcean-85: rgb(0% 0.5882% 32.9412%);
    --palOcean-86: rgb(0% 0% 33.3333%);
    --palOcean-87: rgb(0% 0.5882% 33.7255%);
    --palOcean-88: rgb(0% 1.1765% 34.1176%);
    --palOcean-89: rgb(0% 1.7647% 34.5098%);
    --palOcean-90: rgb(0% 2.3529% 34.902%);
    --palOcean-91: rgb(0% 2.9412% 35.2941%);
    --palOcean-92: rgb(0% 3.5294% 35.6863%);
    --palOcean-93: rgb(0% 4.1176% 36.0784%);
    --palOcean-94: rgb(0% 4.7059% 36.4706%);
    --palOcean-95: rgb(0% 5.2941% 36.8627%);
    --palOcean-96: rgb(0% 5.8824% 37.2549%);
    --palOcean-97: rgb(0% 6.4706% 37.6471%);
    --palOcean-98: rgb(0% 7.0588% 38.0392%);
    --palOcean-99: rgb(0% 7.6471% 38.4314%);
    --palOcean-100: rgb(0% 8.2353% 38.8235%);
    --palOcean-101: rgb(0% 8.8235% 39.2157%);
    --palOcean-102: rgb(0% 9.4118% 39.6078%);
    --palOcean-103: rgb(0% 10% 40%);
    --palOcean-104: rgb(0% 10.5882% 40.3922%);
    --palOcean-105: rgb(0% 11.1765% 40.7843%);
    --palOcean-106: rgb(0% 11.7647% 41.1765%);
    --palOcean-107: rgb(0% 12.3529% 41.5686%);
    --palOcean-108: rgb(0% 12.9412% 41.9608%);
    --palOcean-109: rgb(0% 13.5294% 42.3529%);
    --palOcean-110: rgb(0% 14.1176% 42.7451%);
    --palOcean-111: rgb(0% 14.7059% 43.1373%);
    --palOcean-112: rgb(0% 15.2941% 43.5294%);
    --palOcean-113: rgb(0% 15.8824% 43.9216%);
    --palOcean-114: rgb(0% 16.4706% 44.3137%);
    --palOcean-115: rgb(0% 17.0588% 44.7059%);
    --palOcean-116: rgb(0% 17.6471% 45.098%);
    --palOcean-117: rgb(0% 18.2353% 45.4902%);
    --palOcean-118: rgb(0% 18.8235% 45.8824%);
    --palOcean-119: rgb(0% 19.4118% 46.2745%);
    --palOcean-120: rgb(0% 20% 46.6667%);
    --palOcean-121: rgb(0% 20.5882% 47.0588%);
    --palOcean-122: rgb(0% 21.1765% 47.451%);
    --palOcean-123: rgb(0% 21.7647% 47.8431%);
    --palOcean-124: rgb(0% 22.3529% 48.2353%);
    --palOcean-125: rgb(0% 22.9412% 48.6275%);
    --palOcean-126: rgb(0% 23.5294% 49.0196%);
    --palOcean-127: rgb(0% 24.1176% 49.4118%);
    --palOcean-128: rgb(0% 24.7059% 49.8039%);
    --palOcean-129: rgb(0% 25.2941% 50.1961%);
    --palOcean-130: rgb(0% 25.8824% 50.5882%);
    --palOcean-131: rgb(0% 26.4706% 50.9804%);
    --palOcean-132: rgb(0% 27.0588% 51.3725%);
    --palOcean-133: rgb(0% 27.6471% 51.7647%);
    --palOcean-134: rgb(0% 28.2353% 52.1569%);
    --palOcean-135: rgb(0% 28.8235% 52.549%);
    --palOcean-136: rgb(0% 29.4118% 52.9412%);
    --palOcean-137: rgb(0% 30% 53.3333%);
    --palOcean-138: rgb(0% 30.5882% 53.7255%);
    --palOcean-139: rgb(0% 31.1765% 54.1176%);
    --palOcean-140: rgb(0% 31.7647% 54.5098%);
    --palOcean-141: rgb(0% 32.3529% 54.902%);
    --palOcean-142: rgb(0% 32.9412% 55.2941%);
    --palOcean-143: rgb(0% 33.5294% 55.6863%);
    --palOcean-144: rgb(0% 34.1176% 56.0784%);
    --palOcean-145: rgb(0% 34.7059% 56.4706%);
    --palOcean-146: rgb(0% 35.2941% 56.8627%);
    --palOcean-147: rgb(0% 35.8824% 57.2549%);
    --palOcean-148: rgb(0% 36.4706% 57.6471%);
    --palOcean-149: rgb(0% 37.0588% 58.0392%);
    --palOcean-150: rgb(0% 37.6471% 58.4314%);
    --palOcean-151: rgb(0% 38.2353% 58.8235%);
    --palOcean-152: rgb(0% 38.8235% 59.2157%);
    --palOcean-153: rgb(0% 39.4118% 59.6078%);
    --palOcean-154: rgb(0% 40% 60%);
    --palOcean-155: rgb(0% 40.5882% 60.3922%);
    --palOcean-156: rgb(0% 41.1765% 60.7843%);
    --palOcean-157: rgb(0% 41.7647% 61.1765%);
    --palOcean-158: rgb(0% 42.3529% 61.5686%);
    --palOcean-159: rgb(0% 42.9412% 61.9608%);
    --palOcean-160: rgb(0% 43.5294% 62.3529%);
    --palOcean-161: rgb(0% 44.1176% 62.7451%);
    --palOcean-162: rgb(0% 44.7059% 63.1373%);
    --palOcean-163: rgb(0% 45.2941% 63.5294%);
    --palOcean-164: rgb(0% 45.8824% 63.9216%);
    --palOcean-165: rgb(0% 46.4706% 64.3137%);
    --palOcean-166: rgb(0% 47.0588% 64.7059%);
    --palOcean-167: rgb(0% 47.6471% 65.098%);
    --palOcean-168: rgb(0% 48.2353% 65.4902%);
    --palOcean-169: rgb(0% 48.8235% 65.8824%);
    --palOcean-170: rgb(0% 49.4118% 66.2745%);
    --palOcean-171: rgb(0% 50% 66.6667%);
    --palOcean-172: rgb(1.1765% 50.5882% 67.0588%);
    --palOcean-173: rgb(2.3529% 51.1765% 67.451%);
    --palOcean-174: rgb(3.5294% 51.7647% 67.8431%);
    --palOcean-175: rgb(4.7059% 52.3529% 68.2353%);
    --palOcean-176: rgb(5.8824% 52.9412% 68.6275%);
    --palOcean-177: rgb(7.0588% 53.5294% 69.0196%);
    --palOcean-178: rgb(8.2353% 54.1176% 69.4118%);
    --palOcean-179: rgb(9.4118% 54.7059% 69.8039%);
    --palOcean-180: rgb(10.5882% 55.2941% 70.1961%);
    --palOcean-181: rgb(11.7647% 55.8824% 70.5882%);
    --palOcean-182: rgb(12.9412% 56.4706% 70.9804%);
    --palOcean-183: rgb(14.1176% 57.0588% 71.3725%);
    --palOcean-184: rgb(15.2941% 57.6471% 71.7647%);
    --palOcean-185: rgb(16.4706% 58.2353% 72.1569%);
    --palOcean-186: rgb(17.6471% 58.8235% 72.549%);
    --palOcean-187: rgb(18.8235% 59.4118% 72.9412%);
    --palOcean-188: rgb(20% 60% 73.3333%);
    --palOcean-189: rgb(21.1765% 60.5882% 73.7255%);
    --palOcean-190: rgb(22.3529% 61.1765% 74.1176%);
    --palOcean-191: rgb(23.5294% 61.7647% 74.5098%);
    --palOcean-192: rgb(24.7059% 62.3529% 74.902%);
    --palOcean-193: rgb(25.8824% 62.9412% 75.2941%);
    --palOcean-194: rgb(27.0588% 63.5294% 75.6863%);
    --palOcean-195: rgb(28.2353% 64.1176% 76.0784%);
    --palOcean-196: rgb(29.4118% 64.7059% 76.4706%);
    --palOcean-197: rgb(30.5882% 65.2941% 76.8627%);
    --palOcean-198: rgb(31.7647% 65.8824% 77.2549%);
    --palOcean-199: rgb(32.9412% 66.4706% 77.6471%);
    --palOcean-200: rgb(34.1176% 67.0588% 78.0392%);
    --palOcean-201: rgb(35.2941% 67.6471% 78.4314%);
    --palOcean-202: rgb(36.4706% 68.2353% 78.8235%);
    --palOcean-203: rgb(37.6471% 68.8235% 79.2157%);
    --palOcean-204: rgb(38.8235% 69.4118% 79.6078%);
    --palOcean-205: rgb(40% 70% 80%);
    --palOcean-206: rgb(41.1765% 70.5882% 80.3922%);
    --palOcean-207: rgb(42.3529% 71.1765% 80.7843%);
    --palOcean-208: rgb(43.5294% 71.7647% 81.1765%);
    --palOcean-209: rgb(44.7059% 72.3529% 81.5686%);
    --palOcean-210: rgb(45.8824% 72.9412% 81.9608%);
    --palOcean-211: rgb(47.0588% 73.5294% 82.3529%);
    --palOcean-212: rgb(48.2353% 74.1176% 82.7451%);
    --palOcean-213: rgb(49.4118% 74.7059% 83.1373%);
    --palOcean-214: rgb(50.5882% 75.2941% 83.5294%);
    --palOcean-215: rgb(51.7647% 75.8824% 83.9216%);
    --palOcean-216: rgb(52.9412% 76.4706% 84.3137%);
    --palOcean-217: rgb(54.1176% 77.0588% 84.7059%);
    --palOcean-218: rgb(55.2941% 77.6471% 85.098%);
    --palOcean-219: rgb(56.4706% 78.2353% 85.4902%);
    --palOcean-220: rgb(57.6471% 78.8235% 85.8824%);
    --palOcean-221: rgb(58.8235% 79.4118% 86.2745%);
    --palOcean-222: rgb(60% 80% 86.6667%);
    --palOcean-223: rgb(61.1765% 80.5882% 87.0588%);
    --palOcean-224: rgb(62.3529% 81.1765% 87.451%);
    --palOcean-225: rgb(63.5294% 81.7647% 87.8431%);
    --palOcean-226: rgb(64.7059% 82.3529% 88.2353%);
    --palOcean-227: rgb(65.8824% 82.9412% 88.6275%);
    --palOcean-228: rgb(67.0588% 83.5294% 89.0196%);
    --palOcean-229: rgb(68.2353% 84.1176% 89.4118%);
    --palOcean-230: rgb(69.4118% 84.7059% 89.8039%);
    --palOcean-231: rgb(70.5882% 85.2941% 90.1961%);
    --palOcean-232: rgb(71.7647% 85.8824% 90.5882%);
    --palOcean-233: rgb(72.9412% 86.4706% 90.9804%);
    --palOcean-234: rgb(74.1176% 87.0588% 91.3725%);
    --palOcean-235: rgb(75.2941% 87.6471% 91.7647%);
    --palOcean-236: rgb(76.4706% 88.2353% 92.1569%);
    --palOcean-237: rgb(77.6471% 88.8235% 92.549%);
    --palOcean-238: rgb(78.8235% 89.4118% 92.9412%);
    --palOcean-239: rgb(80% 90% 93.3333%);
    --palOcean-240: rgb(81.1765% 90.5882% 93.7255%);
    --palOcean-241: rgb(82.3529% 91.1765% 94.1176%);
    --palOcean-242: rgb(83.5294% 91.7647% 94.5098%);
    --palOcean-243: rgb(84.7059% 92.3529% 94.902%);
    --palOcean-244: rgb(85.8824% 92.9412% 95.2941%);
    --palOcean-245: rgb(87.0588% 93.5294% 95.6863%);
    --palOcean-246: rgb(88.2353% 94.1176% 96.0784%);
    --palOcean-247: rgb(89.4118% 94.7059% 96.4706%);
    --palOcean-248: rgb(90.5882% 95.2941% 96.8627%);
    --palOcean-249: rgb(91.7647% 95.8824% 97.2549%);
    --palOcean-250: rgb(92.9412% 96.4706% 97.6471%);
    --palOcean-251: rgb(94.1176% 97.0588% 98.0392%);
    --palOcean-252: rgb(95.2941% 97.6471% 98.4314%);
    --palOcean-253: rgb(96.4706% 98.2353% 98.8235%);
    --palOcean-254: rgb(97.6471% 98.8235% 99.2157%);
    --palOcean-255: rgb(98.8235% 99.4118% 99.6078%);
    --palOcean-256: rgb(100% 100% 100%);
}
