/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palOleron-1: rgb(10.105% 15.003% 35.027%);
    --palOleron-2: rgb(10.721% 15.579% 35.609%);
    --palOleron-3: rgb(11.329% 16.159% 36.192%);
    --palOleron-4: rgb(11.927% 16.739% 36.777%);
    --palOleron-5: rgb(12.525% 17.322% 37.365%);
    --palOleron-6: rgb(13.122% 17.911% 37.954%);
    --palOleron-7: rgb(13.717% 18.502% 38.546%);
    --palOleron-8: rgb(14.31% 19.093% 39.141%);
    --palOleron-9: rgb(14.904% 19.692% 39.737%);
    --palOleron-10: rgb(15.498% 20.288% 40.336%);
    --palOleron-11: rgb(16.095% 20.889% 40.937%);
    --palOleron-12: rgb(16.694% 21.492% 41.54%);
    --palOleron-13: rgb(17.291% 22.102% 42.146%);
    --palOleron-14: rgb(17.894% 22.709% 42.756%);
    --palOleron-15: rgb(18.498% 23.318% 43.365%);
    --palOleron-16: rgb(19.102% 23.934% 43.979%);
    --palOleron-17: rgb(19.712% 24.548% 44.594%);
    --palOleron-18: rgb(20.322% 25.169% 45.213%);
    --palOleron-19: rgb(20.936% 25.788% 45.832%);
    --palOleron-20: rgb(21.553% 26.413% 46.456%);
    --palOleron-21: rgb(22.171% 27.039% 47.08%);
    --palOleron-22: rgb(22.794% 27.666% 47.706%);
    --palOleron-23: rgb(23.417% 28.297% 48.335%);
    --palOleron-24: rgb(24.042% 28.929% 48.967%);
    --palOleron-25: rgb(24.672% 29.562% 49.6%);
    --palOleron-26: rgb(25.305% 30.198% 50.237%);
    --palOleron-27: rgb(25.939% 30.838% 50.876%);
    --palOleron-28: rgb(26.575% 31.478% 51.515%);
    --palOleron-29: rgb(27.212% 32.122% 52.157%);
    --palOleron-30: rgb(27.855% 32.766% 52.802%);
    --palOleron-31: rgb(28.496% 33.415% 53.448%);
    --palOleron-32: rgb(29.144% 34.064% 54.097%);
    --palOleron-33: rgb(29.79% 34.716% 54.747%);
    --palOleron-34: rgb(30.44% 35.367% 55.4%);
    --palOleron-35: rgb(31.094% 36.022% 56.055%);
    --palOleron-36: rgb(31.747% 36.681% 56.712%);
    --palOleron-37: rgb(32.403% 37.339% 57.37%);
    --palOleron-38: rgb(33.061% 38% 58.031%);
    --palOleron-39: rgb(33.723% 38.662% 58.693%);
    --palOleron-40: rgb(34.384% 39.328% 59.357%);
    --palOleron-41: rgb(35.05% 39.994% 60.023%);
    --palOleron-42: rgb(35.717% 40.664% 60.692%);
    --palOleron-43: rgb(36.384% 41.334% 61.361%);
    --palOleron-44: rgb(37.054% 42.006% 62.034%);
    --palOleron-45: rgb(37.727% 42.681% 62.707%);
    --palOleron-46: rgb(38.401% 43.356% 63.383%);
    --palOleron-47: rgb(39.077% 44.034% 64.06%);
    --palOleron-48: rgb(39.755% 44.713% 64.739%);
    --palOleron-49: rgb(40.434% 45.395% 65.42%);
    --palOleron-50: rgb(41.116% 46.078% 66.102%);
    --palOleron-51: rgb(41.799% 46.763% 66.787%);
    --palOleron-52: rgb(42.485% 47.45% 67.472%);
    --palOleron-53: rgb(43.173% 48.137% 68.16%);
    --palOleron-54: rgb(43.86% 48.828% 68.85%);
    --palOleron-55: rgb(44.55% 49.519% 69.541%);
    --palOleron-56: rgb(45.244% 50.212% 70.234%);
    --palOleron-57: rgb(45.937% 50.908% 70.929%);
    --palOleron-58: rgb(46.632% 51.603% 71.625%);
    --palOleron-59: rgb(47.329% 52.302% 72.322%);
    --palOleron-60: rgb(48.029% 53.002% 73.022%);
    --palOleron-61: rgb(48.73% 53.704% 73.723%);
    --palOleron-62: rgb(49.432% 54.406% 74.425%);
    --palOleron-63: rgb(50.136% 55.111% 75.13%);
    --palOleron-64: rgb(50.841% 55.817% 75.835%);
    --palOleron-65: rgb(51.547% 56.524% 76.542%);
    --palOleron-66: rgb(52.256% 57.235% 77.25%);
    --palOleron-67: rgb(52.967% 57.946% 77.96%);
    --palOleron-68: rgb(53.679% 58.658% 78.671%);
    --palOleron-69: rgb(54.392% 59.372% 79.382%);
    --palOleron-70: rgb(55.107% 60.087% 80.094%);
    --palOleron-71: rgb(55.822% 60.804% 80.806%);
    --palOleron-72: rgb(56.54% 61.521% 81.518%);
    --palOleron-73: rgb(57.26% 62.241% 82.23%);
    --palOleron-74: rgb(57.981% 62.961% 82.94%);
    --palOleron-75: rgb(58.702% 63.684% 83.647%);
    --palOleron-76: rgb(59.424% 64.405% 84.351%);
    --palOleron-77: rgb(60.147% 65.129% 85.051%);
    --palOleron-78: rgb(60.872% 65.852% 85.745%);
    --palOleron-79: rgb(61.595% 66.575% 86.431%);
    --palOleron-80: rgb(62.318% 67.298% 87.109%);
    --palOleron-81: rgb(63.04% 68.018% 87.775%);
    --palOleron-82: rgb(63.76% 68.737% 88.428%);
    --palOleron-83: rgb(64.477% 69.453% 89.065%);
    --palOleron-84: rgb(65.191% 70.165% 89.685%);
    --palOleron-85: rgb(65.9% 70.873% 90.284%);
    --palOleron-86: rgb(66.603% 71.575% 90.861%);
    --palOleron-87: rgb(67.3% 72.268% 91.414%);
    --palOleron-88: rgb(67.987% 72.954% 91.94%);
    --palOleron-89: rgb(68.666% 73.63% 92.438%);
    --palOleron-90: rgb(69.334% 74.297% 92.907%);
    --palOleron-91: rgb(69.991% 74.951% 93.347%);
    --palOleron-92: rgb(70.637% 75.595% 93.757%);
    --palOleron-93: rgb(71.269% 76.226% 94.137%);
    --palOleron-94: rgb(71.89% 76.845% 94.489%);
    --palOleron-95: rgb(72.499% 77.451% 94.812%);
    --palOleron-96: rgb(73.094% 78.046% 95.11%);
    --palOleron-97: rgb(73.679% 78.631% 95.383%);
    --palOleron-98: rgb(74.254% 79.203% 95.633%);
    --palOleron-99: rgb(74.818% 79.766% 95.864%);
    --palOleron-100: rgb(75.373% 80.321% 96.077%);
    --palOleron-101: rgb(75.92% 80.868% 96.274%);
    --palOleron-102: rgb(76.461% 81.408% 96.457%);
    --palOleron-103: rgb(76.995% 81.943% 96.63%);
    --palOleron-104: rgb(77.525% 82.473% 96.793%);
    --palOleron-105: rgb(78.052% 83% 96.948%);
    --palOleron-106: rgb(78.575% 83.524% 97.097%);
    --palOleron-107: rgb(79.096% 84.045% 97.241%);
    --palOleron-108: rgb(79.615% 84.564% 97.381%);
    --palOleron-109: rgb(80.133% 85.083% 97.518%);
    --palOleron-110: rgb(80.651% 85.602% 97.653%);
    --palOleron-111: rgb(81.168% 86.119% 97.787%);
    --palOleron-112: rgb(81.685% 86.637% 97.919%);
    --palOleron-113: rgb(82.203% 87.155% 98.05%);
    --palOleron-114: rgb(82.72% 87.673% 98.181%);
    --palOleron-115: rgb(83.238% 88.193% 98.311%);
    --palOleron-116: rgb(83.757% 88.712% 98.442%);
    --palOleron-117: rgb(84.276% 89.233% 98.572%);
    --palOleron-118: rgb(84.795% 89.753% 98.702%);
    --palOleron-119: rgb(85.315% 90.275% 98.831%);
    --palOleron-120: rgb(85.836% 90.797% 98.962%);
    --palOleron-121: rgb(86.357% 91.32% 99.091%);
    --palOleron-122: rgb(86.879% 91.844% 99.221%);
    --palOleron-123: rgb(87.4% 92.368% 99.351%);
    --palOleron-124: rgb(87.922% 92.893% 99.48%);
    --palOleron-125: rgb(88.444% 93.418% 99.61%);
    --palOleron-126: rgb(88.967% 93.945% 99.739%);
    --palOleron-127: rgb(89.489% 94.472% 99.869%);
    --palOleron-128: rgb(90.011% 94.999% 99.997%);
    --palOleron-129: rgb(10.024% 29.901% 0.015511%);
    --palOleron-130: rgb(11.206% 30.199% 0.022614%);
    --palOleron-131: rgb(12.317% 30.497% 0.025664%);
    --palOleron-132: rgb(13.39% 30.79% 0.024737%);
    --palOleron-133: rgb(14.418% 31.082% 0.020433%);
    --palOleron-134: rgb(15.412% 31.369% 0.016131%);
    --palOleron-135: rgb(16.383% 31.653% 0.012503%);
    --palOleron-136: rgb(17.323% 31.932% 0.009657%);
    --palOleron-137: rgb(18.245% 32.208% 0.007735%);
    --palOleron-138: rgb(19.152% 32.48% 0.006932%);
    --palOleron-139: rgb(20.04% 32.749% 0.007513%);
    --palOleron-140: rgb(20.919% 33.016% 0.009842%);
    --palOleron-141: rgb(21.784% 33.279% 0.014406%);
    --palOleron-142: rgb(22.64% 33.54% 0.021853%);
    --palOleron-143: rgb(23.486% 33.797% 0.033026%);
    --palOleron-144: rgb(24.321% 34.055% 0.049005%);
    --palOleron-145: rgb(25.156% 34.313% 0.071147%);
    --palOleron-146: rgb(25.983% 34.569% 0.10113%);
    --palOleron-147: rgb(26.806% 34.83% 0.14102%);
    --palOleron-148: rgb(27.631% 35.093% 0.19325%);
    --palOleron-149: rgb(28.451% 35.358% 0.26075%);
    --palOleron-150: rgb(29.274% 35.632% 0.34694%);
    --palOleron-151: rgb(30.099% 35.91% 0.45572%);
    --palOleron-152: rgb(30.93% 36.199% 0.5916%);
    --palOleron-153: rgb(31.763% 36.496% 0.75965%);
    --palOleron-154: rgb(32.602% 36.806% 0.9658%);
    --palOleron-155: rgb(33.451% 37.128% 1.2367%);
    --palOleron-156: rgb(34.305% 37.466% 1.5348%);
    --palOleron-157: rgb(35.167% 37.818% 1.893%);
    --palOleron-158: rgb(36.038% 38.186% 2.3166%);
    --palOleron-159: rgb(36.919% 38.571% 2.8136%);
    --palOleron-160: rgb(37.806% 38.973% 3.3895%);
    --palOleron-161: rgb(38.702% 39.393% 4.08%);
    --palOleron-162: rgb(39.605% 39.829% 4.7888%);
    --palOleron-163: rgb(40.512% 40.28% 5.5327%);
    --palOleron-164: rgb(41.425% 40.747% 6.302%);
    --palOleron-165: rgb(42.339% 41.228% 7.0789%);
    --palOleron-166: rgb(43.257% 41.721% 7.8726%);
    --palOleron-167: rgb(44.174% 42.223% 8.6949%);
    --palOleron-168: rgb(45.088% 42.738% 9.5228%);
    --palOleron-169: rgb(46% 43.259% 10.362%);
    --palOleron-170: rgb(46.91% 43.785% 11.211%);
    --palOleron-171: rgb(47.812% 44.317% 12.065%);
    --palOleron-172: rgb(48.71% 44.852% 12.932%);
    --palOleron-173: rgb(49.601% 45.389% 13.805%);
    --palOleron-174: rgb(50.487% 45.928% 14.676%);
    --palOleron-175: rgb(51.366% 46.468% 15.555%);
    --palOleron-176: rgb(52.237% 47.008% 16.436%);
    --palOleron-177: rgb(53.104% 47.548% 17.315%);
    --palOleron-178: rgb(53.964% 48.087% 18.196%);
    --palOleron-179: rgb(54.82% 48.628% 19.08%);
    --palOleron-180: rgb(55.67% 49.17% 19.962%);
    --palOleron-181: rgb(56.516% 49.712% 20.847%);
    --palOleron-182: rgb(57.361% 50.256% 21.731%);
    --palOleron-183: rgb(58.203% 50.804% 22.616%);
    --palOleron-184: rgb(59.044% 51.354% 23.5%);
    --palOleron-185: rgb(59.885% 51.909% 24.381%);
    --palOleron-186: rgb(60.727% 52.468% 25.267%);
    --palOleron-187: rgb(61.569% 53.033% 26.152%);
    --palOleron-188: rgb(62.414% 53.605% 27.039%);
    --palOleron-189: rgb(63.261% 54.183% 27.926%);
    --palOleron-190: rgb(64.111% 54.769% 28.812%);
    --palOleron-191: rgb(64.966% 55.363% 29.703%);
    --palOleron-192: rgb(65.823% 55.966% 30.594%);
    --palOleron-193: rgb(66.685% 56.576% 31.483%);
    --palOleron-194: rgb(67.551% 57.195% 32.377%);
    --palOleron-195: rgb(68.42% 57.822% 33.273%);
    --palOleron-196: rgb(69.296% 58.458% 34.168%);
    --palOleron-197: rgb(70.173% 59.1% 35.066%);
    --palOleron-198: rgb(71.056% 59.751% 35.964%);
    --palOleron-199: rgb(71.941% 60.408% 36.865%);
    --palOleron-200: rgb(72.83% 61.071% 37.767%);
    --palOleron-201: rgb(73.722% 61.74% 38.67%);
    --palOleron-202: rgb(74.616% 62.415% 39.577%);
    --palOleron-203: rgb(75.513% 63.095% 40.484%);
    --palOleron-204: rgb(76.411% 63.778% 41.394%);
    --palOleron-205: rgb(77.309% 64.467% 42.306%);
    --palOleron-206: rgb(78.209% 65.16% 43.223%);
    --palOleron-207: rgb(79.107% 65.857% 44.141%);
    --palOleron-208: rgb(80.005% 66.558% 45.063%);
    --palOleron-209: rgb(80.9% 67.262% 45.989%);
    --palOleron-210: rgb(81.789% 67.97% 46.922%);
    --palOleron-211: rgb(82.674% 68.682% 47.857%);
    --palOleron-212: rgb(83.551% 69.397% 48.799%);
    --palOleron-213: rgb(84.419% 70.116% 49.746%);
    --palOleron-214: rgb(85.274% 70.839% 50.699%);
    --palOleron-215: rgb(86.114% 71.565% 51.658%);
    --palOleron-216: rgb(86.936% 72.293% 52.624%);
    --palOleron-217: rgb(87.737% 73.025% 53.595%);
    --palOleron-218: rgb(88.513% 73.757% 54.572%);
    --palOleron-219: rgb(89.262% 74.491% 55.551%);
    --palOleron-220: rgb(89.981% 75.225% 56.535%);
    --palOleron-221: rgb(90.665% 75.957% 57.522%);
    --palOleron-222: rgb(91.313% 76.687% 58.508%);
    --palOleron-223: rgb(91.921% 77.413% 59.493%);
    --palOleron-224: rgb(92.491% 78.136% 60.476%);
    --palOleron-225: rgb(93.02% 78.851% 61.454%);
    --palOleron-226: rgb(93.507% 79.56% 62.429%);
    --palOleron-227: rgb(93.954% 80.262% 63.396%);
    --palOleron-228: rgb(94.361% 80.956% 64.355%);
    --palOleron-229: rgb(94.731% 81.641% 65.307%);
    --palOleron-230: rgb(95.066% 82.318% 66.252%);
    --palOleron-231: rgb(95.369% 82.988% 67.188%);
    --palOleron-232: rgb(95.641% 83.65% 68.116%);
    --palOleron-233: rgb(95.888% 84.305% 69.039%);
    --palOleron-234: rgb(96.112% 84.954% 69.955%);
    --palOleron-235: rgb(96.316% 85.598% 70.866%);
    --palOleron-236: rgb(96.502% 86.239% 71.773%);
    --palOleron-237: rgb(96.675% 86.875% 72.676%);
    --palOleron-238: rgb(96.835% 87.509% 73.578%);
    --palOleron-239: rgb(96.986% 88.142% 74.478%);
    --palOleron-240: rgb(97.13% 88.773% 75.378%);
    --palOleron-241: rgb(97.268% 89.405% 76.277%);
    --palOleron-242: rgb(97.4% 90.036% 77.179%);
    --palOleron-243: rgb(97.529% 90.668% 78.081%);
    --palOleron-244: rgb(97.655% 91.301% 78.985%);
    --palOleron-245: rgb(97.779% 91.936% 79.891%);
    --palOleron-246: rgb(97.902% 92.572% 80.799%);
    --palOleron-247: rgb(98.023% 93.209% 81.71%);
    --palOleron-248: rgb(98.143% 93.848% 82.624%);
    --palOleron-249: rgb(98.261% 94.489% 83.54%);
    --palOleron-250: rgb(98.378% 95.132% 84.459%);
    --palOleron-251: rgb(98.495% 95.776% 85.38%);
    --palOleron-252: rgb(98.609% 96.422% 86.304%);
    --palOleron-253: rgb(98.722% 97.069% 87.231%);
    --palOleron-254: rgb(98.833% 97.718% 88.159%);
    --palOleron-255: rgb(98.942% 98.369% 89.09%);
    --palOleron-256: rgb(99.049% 99.02% 90.023%);
}
