/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palOrangesCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palOrangesCP-2: rgb(10.9804% 11.7647% 13.7255%);
    --palOrangesCP-3: rgb(11.3725% 12.1569% 13.7255%);
    --palOrangesCP-4: rgb(11.3725% 12.1569% 13.7255%);
    --palOrangesCP-5: rgb(11.7647% 12.549% 14.1176%);
    --palOrangesCP-6: rgb(12.1569% 12.549% 14.1176%);
    --palOrangesCP-7: rgb(12.549% 12.549% 14.1176%);
    --palOrangesCP-8: rgb(12.549% 12.9412% 14.1176%);
    --palOrangesCP-9: rgb(12.9412% 12.9412% 14.1176%);
    --palOrangesCP-10: rgb(13.3333% 13.3333% 14.1176%);
    --palOrangesCP-11: rgb(13.7255% 13.3333% 14.5098%);
    --palOrangesCP-12: rgb(13.7255% 13.3333% 14.5098%);
    --palOrangesCP-13: rgb(14.1176% 13.7255% 14.5098%);
    --palOrangesCP-14: rgb(14.5098% 13.7255% 14.5098%);
    --palOrangesCP-15: rgb(14.902% 14.1176% 14.5098%);
    --palOrangesCP-16: rgb(14.902% 14.1176% 14.5098%);
    --palOrangesCP-17: rgb(15.2941% 14.1176% 14.902%);
    --palOrangesCP-18: rgb(15.6863% 14.5098% 14.902%);
    --palOrangesCP-19: rgb(16.0784% 14.5098% 14.902%);
    --palOrangesCP-20: rgb(16.0784% 14.5098% 14.902%);
    --palOrangesCP-21: rgb(16.4706% 14.902% 14.902%);
    --palOrangesCP-22: rgb(16.8627% 14.902% 14.902%);
    --palOrangesCP-23: rgb(16.8627% 15.2941% 15.2941%);
    --palOrangesCP-24: rgb(17.2549% 15.2941% 15.2941%);
    --palOrangesCP-25: rgb(17.6471% 15.6863% 15.2941%);
    --palOrangesCP-26: rgb(18.0392% 15.6863% 15.2941%);
    --palOrangesCP-27: rgb(18.0392% 15.6863% 15.2941%);
    --palOrangesCP-28: rgb(18.4314% 16.0784% 15.2941%);
    --palOrangesCP-29: rgb(18.8235% 16.0784% 15.6863%);
    --palOrangesCP-30: rgb(19.2157% 16.4706% 15.6863%);
    --palOrangesCP-31: rgb(19.2157% 16.4706% 15.6863%);
    --palOrangesCP-32: rgb(19.6078% 16.4706% 15.6863%);
    --palOrangesCP-33: rgb(20% 16.8627% 15.6863%);
    --palOrangesCP-34: rgb(20.3922% 16.8627% 15.6863%);
    --palOrangesCP-35: rgb(20.3922% 17.2549% 15.6863%);
    --palOrangesCP-36: rgb(20.7843% 17.2549% 16.0784%);
    --palOrangesCP-37: rgb(21.1765% 17.2549% 16.0784%);
    --palOrangesCP-38: rgb(21.1765% 17.6471% 16.0784%);
    --palOrangesCP-39: rgb(21.5686% 17.6471% 16.0784%);
    --palOrangesCP-40: rgb(21.9608% 18.0392% 16.0784%);
    --palOrangesCP-41: rgb(22.3529% 18.0392% 16.0784%);
    --palOrangesCP-42: rgb(22.3529% 18.0392% 16.4706%);
    --palOrangesCP-43: rgb(22.7451% 18.4314% 16.4706%);
    --palOrangesCP-44: rgb(23.1373% 18.4314% 16.4706%);
    --palOrangesCP-45: rgb(23.5294% 18.8235% 16.4706%);
    --palOrangesCP-46: rgb(23.5294% 18.8235% 16.4706%);
    --palOrangesCP-47: rgb(23.9216% 19.2157% 16.4706%);
    --palOrangesCP-48: rgb(24.3137% 19.2157% 16.4706%);
    --palOrangesCP-49: rgb(24.7059% 19.2157% 16.8627%);
    --palOrangesCP-50: rgb(24.7059% 19.6078% 16.8627%);
    --palOrangesCP-51: rgb(25.098% 19.6078% 16.8627%);
    --palOrangesCP-52: rgb(25.4902% 20% 16.8627%);
    --palOrangesCP-53: rgb(25.4902% 20% 16.8627%);
    --palOrangesCP-54: rgb(25.8824% 20% 16.8627%);
    --palOrangesCP-55: rgb(26.2745% 20.3922% 17.2549%);
    --palOrangesCP-56: rgb(26.6667% 20.3922% 17.2549%);
    --palOrangesCP-57: rgb(26.6667% 20.7843% 17.2549%);
    --palOrangesCP-58: rgb(27.0588% 20.7843% 17.2549%);
    --palOrangesCP-59: rgb(27.451% 21.1765% 17.2549%);
    --palOrangesCP-60: rgb(27.8431% 21.1765% 17.2549%);
    --palOrangesCP-61: rgb(27.8431% 21.1765% 17.2549%);
    --palOrangesCP-62: rgb(28.2353% 21.5686% 17.6471%);
    --palOrangesCP-63: rgb(28.6275% 21.5686% 17.6471%);
    --palOrangesCP-64: rgb(29.0196% 21.9608% 17.6471%);
    --palOrangesCP-65: rgb(29.0196% 21.9608% 17.6471%);
    --palOrangesCP-66: rgb(29.4118% 21.9608% 17.6471%);
    --palOrangesCP-67: rgb(29.8039% 22.3529% 17.6471%);
    --palOrangesCP-68: rgb(30.1961% 22.3529% 18.0392%);
    --palOrangesCP-69: rgb(30.1961% 22.7451% 18.0392%);
    --palOrangesCP-70: rgb(30.5882% 22.7451% 18.0392%);
    --palOrangesCP-71: rgb(30.9804% 23.1373% 18.0392%);
    --palOrangesCP-72: rgb(31.3725% 23.1373% 18.0392%);
    --palOrangesCP-73: rgb(31.3725% 23.1373% 18.0392%);
    --palOrangesCP-74: rgb(31.7647% 23.5294% 18.0392%);
    --palOrangesCP-75: rgb(32.1569% 23.5294% 18.4314%);
    --palOrangesCP-76: rgb(32.549% 23.9216% 18.4314%);
    --palOrangesCP-77: rgb(32.549% 23.9216% 18.4314%);
    --palOrangesCP-78: rgb(32.9412% 24.3137% 18.4314%);
    --palOrangesCP-79: rgb(33.3333% 24.3137% 18.4314%);
    --palOrangesCP-80: rgb(33.7255% 24.3137% 18.4314%);
    --palOrangesCP-81: rgb(33.7255% 24.7059% 18.4314%);
    --palOrangesCP-82: rgb(34.1176% 24.7059% 18.8235%);
    --palOrangesCP-83: rgb(34.5098% 25.098% 18.8235%);
    --palOrangesCP-84: rgb(34.902% 25.098% 18.8235%);
    --palOrangesCP-85: rgb(34.902% 25.4902% 18.8235%);
    --palOrangesCP-86: rgb(35.2941% 25.4902% 18.8235%);
    --palOrangesCP-87: rgb(35.6863% 25.8824% 18.8235%);
    --palOrangesCP-88: rgb(36.0784% 25.8824% 18.8235%);
    --palOrangesCP-89: rgb(36.0784% 25.8824% 19.2157%);
    --palOrangesCP-90: rgb(36.4706% 26.2745% 19.2157%);
    --palOrangesCP-91: rgb(36.8627% 26.2745% 19.2157%);
    --palOrangesCP-92: rgb(37.2549% 26.6667% 19.2157%);
    --palOrangesCP-93: rgb(37.2549% 26.6667% 19.2157%);
    --palOrangesCP-94: rgb(37.6471% 27.0588% 19.2157%);
    --palOrangesCP-95: rgb(38.0392% 27.0588% 19.6078%);
    --palOrangesCP-96: rgb(38.4314% 27.0588% 19.6078%);
    --palOrangesCP-97: rgb(38.4314% 27.451% 19.6078%);
    --palOrangesCP-98: rgb(38.8235% 27.451% 19.6078%);
    --palOrangesCP-99: rgb(39.2157% 27.8431% 19.6078%);
    --palOrangesCP-100: rgb(39.6078% 27.8431% 19.6078%);
    --palOrangesCP-101: rgb(39.6078% 28.2353% 19.6078%);
    --palOrangesCP-102: rgb(40% 28.2353% 20%);
    --palOrangesCP-103: rgb(40.3922% 28.6275% 20%);
    --palOrangesCP-104: rgb(40.7843% 28.6275% 20%);
    --palOrangesCP-105: rgb(41.1765% 28.6275% 20%);
    --palOrangesCP-106: rgb(41.1765% 29.0196% 20%);
    --palOrangesCP-107: rgb(41.5686% 29.0196% 20%);
    --palOrangesCP-108: rgb(41.9608% 29.4118% 20%);
    --palOrangesCP-109: rgb(42.3529% 29.4118% 20.3922%);
    --palOrangesCP-110: rgb(42.3529% 29.8039% 20.3922%);
    --palOrangesCP-111: rgb(42.7451% 29.8039% 20.3922%);
    --palOrangesCP-112: rgb(43.1373% 30.1961% 20.3922%);
    --palOrangesCP-113: rgb(43.5294% 30.1961% 20.3922%);
    --palOrangesCP-114: rgb(43.5294% 30.1961% 20.3922%);
    --palOrangesCP-115: rgb(43.9216% 30.5882% 20.3922%);
    --palOrangesCP-116: rgb(44.3137% 30.5882% 20.3922%);
    --palOrangesCP-117: rgb(44.7059% 30.9804% 20.7843%);
    --palOrangesCP-118: rgb(45.098% 30.9804% 20.7843%);
    --palOrangesCP-119: rgb(45.098% 31.3725% 20.7843%);
    --palOrangesCP-120: rgb(45.4902% 31.3725% 20.7843%);
    --palOrangesCP-121: rgb(45.8824% 31.7647% 20.7843%);
    --palOrangesCP-122: rgb(46.2745% 31.7647% 20.7843%);
    --palOrangesCP-123: rgb(46.2745% 31.7647% 20.7843%);
    --palOrangesCP-124: rgb(46.6667% 32.1569% 21.1765%);
    --palOrangesCP-125: rgb(47.0588% 32.1569% 21.1765%);
    --palOrangesCP-126: rgb(47.451% 32.549% 21.1765%);
    --palOrangesCP-127: rgb(47.8431% 32.549% 21.1765%);
    --palOrangesCP-128: rgb(47.8431% 32.9412% 21.1765%);
    --palOrangesCP-129: rgb(48.2353% 32.9412% 21.1765%);
    --palOrangesCP-130: rgb(48.6275% 33.3333% 21.1765%);
    --palOrangesCP-131: rgb(49.0196% 33.3333% 21.5686%);
    --palOrangesCP-132: rgb(49.4118% 33.3333% 21.5686%);
    --palOrangesCP-133: rgb(49.4118% 33.7255% 21.5686%);
    --palOrangesCP-134: rgb(49.8039% 33.7255% 21.5686%);
    --palOrangesCP-135: rgb(50.1961% 34.1176% 21.5686%);
    --palOrangesCP-136: rgb(50.5882% 34.1176% 21.5686%);
    --palOrangesCP-137: rgb(50.5882% 34.5098% 21.5686%);
    --palOrangesCP-138: rgb(50.9804% 34.5098% 21.9608%);
    --palOrangesCP-139: rgb(51.3725% 34.902% 21.9608%);
    --palOrangesCP-140: rgb(51.7647% 34.902% 21.9608%);
    --palOrangesCP-141: rgb(52.1569% 35.2941% 21.9608%);
    --palOrangesCP-142: rgb(52.1569% 35.2941% 21.9608%);
    --palOrangesCP-143: rgb(52.549% 35.6863% 21.9608%);
    --palOrangesCP-144: rgb(52.9412% 35.6863% 21.9608%);
    --palOrangesCP-145: rgb(53.3333% 35.6863% 21.9608%);
    --palOrangesCP-146: rgb(53.7255% 36.0784% 22.3529%);
    --palOrangesCP-147: rgb(53.7255% 36.0784% 22.3529%);
    --palOrangesCP-148: rgb(54.1176% 36.4706% 22.3529%);
    --palOrangesCP-149: rgb(54.5098% 36.4706% 22.3529%);
    --palOrangesCP-150: rgb(54.902% 36.8627% 22.3529%);
    --palOrangesCP-151: rgb(55.2941% 36.8627% 22.3529%);
    --palOrangesCP-152: rgb(55.2941% 37.2549% 22.3529%);
    --palOrangesCP-153: rgb(55.6863% 37.2549% 22.7451%);
    --palOrangesCP-154: rgb(56.0784% 37.6471% 22.7451%);
    --palOrangesCP-155: rgb(56.4706% 37.6471% 22.7451%);
    --palOrangesCP-156: rgb(56.8627% 37.6471% 22.7451%);
    --palOrangesCP-157: rgb(56.8627% 38.0392% 22.7451%);
    --palOrangesCP-158: rgb(57.2549% 38.0392% 22.7451%);
    --palOrangesCP-159: rgb(57.6471% 38.4314% 22.7451%);
    --palOrangesCP-160: rgb(58.0392% 38.4314% 22.7451%);
    --palOrangesCP-161: rgb(58.4314% 38.8235% 23.1373%);
    --palOrangesCP-162: rgb(58.4314% 38.8235% 23.1373%);
    --palOrangesCP-163: rgb(58.8235% 39.2157% 23.1373%);
    --palOrangesCP-164: rgb(59.2157% 39.2157% 23.1373%);
    --palOrangesCP-165: rgb(59.6078% 39.6078% 23.1373%);
    --palOrangesCP-166: rgb(60% 39.6078% 23.1373%);
    --palOrangesCP-167: rgb(60% 40% 23.1373%);
    --palOrangesCP-168: rgb(60.3922% 40% 23.1373%);
    --palOrangesCP-169: rgb(60.7843% 40.3922% 23.5294%);
    --palOrangesCP-170: rgb(61.1765% 40.3922% 23.5294%);
    --palOrangesCP-171: rgb(61.5686% 40.3922% 23.5294%);
    --palOrangesCP-172: rgb(61.5686% 40.7843% 23.5294%);
    --palOrangesCP-173: rgb(61.9608% 40.7843% 23.5294%);
    --palOrangesCP-174: rgb(62.3529% 41.1765% 23.5294%);
    --palOrangesCP-175: rgb(62.7451% 41.1765% 23.5294%);
    --palOrangesCP-176: rgb(63.1373% 41.5686% 23.9216%);
    --palOrangesCP-177: rgb(63.5294% 41.5686% 23.9216%);
    --palOrangesCP-178: rgb(63.5294% 41.9608% 23.9216%);
    --palOrangesCP-179: rgb(63.9216% 41.9608% 23.9216%);
    --palOrangesCP-180: rgb(64.3137% 42.3529% 23.9216%);
    --palOrangesCP-181: rgb(64.7059% 42.3529% 23.9216%);
    --palOrangesCP-182: rgb(65.098% 42.7451% 23.9216%);
    --palOrangesCP-183: rgb(65.098% 42.7451% 23.9216%);
    --palOrangesCP-184: rgb(65.4902% 43.1373% 24.3137%);
    --palOrangesCP-185: rgb(65.8824% 43.1373% 24.3137%);
    --palOrangesCP-186: rgb(66.2745% 43.5294% 24.3137%);
    --palOrangesCP-187: rgb(66.6667% 43.5294% 24.3137%);
    --palOrangesCP-188: rgb(67.0588% 43.5294% 24.3137%);
    --palOrangesCP-189: rgb(67.0588% 43.9216% 24.3137%);
    --palOrangesCP-190: rgb(67.451% 43.9216% 24.3137%);
    --palOrangesCP-191: rgb(67.8431% 44.3137% 24.3137%);
    --palOrangesCP-192: rgb(68.2353% 44.3137% 24.7059%);
    --palOrangesCP-193: rgb(68.6275% 44.7059% 24.7059%);
    --palOrangesCP-194: rgb(68.6275% 44.7059% 24.7059%);
    --palOrangesCP-195: rgb(69.0196% 45.098% 24.7059%);
    --palOrangesCP-196: rgb(69.4118% 45.098% 24.7059%);
    --palOrangesCP-197: rgb(69.8039% 45.4902% 24.7059%);
    --palOrangesCP-198: rgb(70.1961% 45.4902% 24.7059%);
    --palOrangesCP-199: rgb(70.5882% 45.8824% 24.7059%);
    --palOrangesCP-200: rgb(70.5882% 45.8824% 25.098%);
    --palOrangesCP-201: rgb(70.9804% 46.2745% 25.098%);
    --palOrangesCP-202: rgb(71.3725% 46.2745% 25.098%);
    --palOrangesCP-203: rgb(71.7647% 46.6667% 25.098%);
    --palOrangesCP-204: rgb(72.1569% 46.6667% 25.098%);
    --palOrangesCP-205: rgb(72.549% 47.0588% 25.098%);
    --palOrangesCP-206: rgb(72.549% 47.0588% 25.098%);
    --palOrangesCP-207: rgb(72.9412% 47.451% 25.098%);
    --palOrangesCP-208: rgb(73.3333% 47.451% 25.4902%);
    --palOrangesCP-209: rgb(73.7255% 47.8431% 25.4902%);
    --palOrangesCP-210: rgb(74.1176% 47.8431% 25.4902%);
    --palOrangesCP-211: rgb(74.5098% 47.8431% 25.4902%);
    --palOrangesCP-212: rgb(74.5098% 48.2353% 25.4902%);
    --palOrangesCP-213: rgb(74.902% 48.2353% 25.4902%);
    --palOrangesCP-214: rgb(75.2941% 48.6275% 25.4902%);
    --palOrangesCP-215: rgb(75.6863% 48.6275% 25.4902%);
    --palOrangesCP-216: rgb(76.0784% 49.0196% 25.4902%);
    --palOrangesCP-217: rgb(76.4706% 49.0196% 25.8824%);
    --palOrangesCP-218: rgb(76.4706% 49.4118% 25.8824%);
    --palOrangesCP-219: rgb(76.8627% 49.4118% 25.8824%);
    --palOrangesCP-220: rgb(77.2549% 49.8039% 25.8824%);
    --palOrangesCP-221: rgb(77.6471% 49.8039% 25.8824%);
    --palOrangesCP-222: rgb(78.0392% 50.1961% 25.8824%);
    --palOrangesCP-223: rgb(78.4314% 50.1961% 25.8824%);
    --palOrangesCP-224: rgb(78.8235% 50.5882% 25.8824%);
    --palOrangesCP-225: rgb(78.8235% 50.5882% 26.2745%);
    --palOrangesCP-226: rgb(79.2157% 50.9804% 26.2745%);
    --palOrangesCP-227: rgb(79.6078% 50.9804% 26.2745%);
    --palOrangesCP-228: rgb(80% 51.3725% 26.2745%);
    --palOrangesCP-229: rgb(80.3922% 51.3725% 26.2745%);
    --palOrangesCP-230: rgb(80.7843% 51.7647% 26.2745%);
    --palOrangesCP-231: rgb(80.7843% 51.7647% 26.2745%);
    --palOrangesCP-232: rgb(81.1765% 52.1569% 26.2745%);
    --palOrangesCP-233: rgb(81.5686% 52.1569% 26.2745%);
    --palOrangesCP-234: rgb(81.9608% 52.549% 26.6667%);
    --palOrangesCP-235: rgb(82.3529% 52.549% 26.6667%);
    --palOrangesCP-236: rgb(82.7451% 52.9412% 26.6667%);
    --palOrangesCP-237: rgb(83.1373% 52.9412% 26.6667%);
    --palOrangesCP-238: rgb(83.1373% 53.3333% 26.6667%);
    --palOrangesCP-239: rgb(83.5294% 53.3333% 26.6667%);
    --palOrangesCP-240: rgb(83.9216% 53.7255% 26.6667%);
    --palOrangesCP-241: rgb(84.3137% 53.7255% 26.6667%);
    --palOrangesCP-242: rgb(84.7059% 54.1176% 27.0588%);
    --palOrangesCP-243: rgb(85.098% 54.1176% 27.0588%);
    --palOrangesCP-244: rgb(85.4902% 54.5098% 27.0588%);
    --palOrangesCP-245: rgb(85.4902% 54.5098% 27.0588%);
    --palOrangesCP-246: rgb(85.8824% 54.902% 27.0588%);
    --palOrangesCP-247: rgb(86.2745% 54.902% 27.0588%);
    --palOrangesCP-248: rgb(86.6667% 55.2941% 27.0588%);
    --palOrangesCP-249: rgb(87.0588% 55.2941% 27.0588%);
    --palOrangesCP-250: rgb(87.451% 55.6863% 27.0588%);
    --palOrangesCP-251: rgb(87.8431% 55.6863% 27.451%);
    --palOrangesCP-252: rgb(87.8431% 56.0784% 27.451%);
    --palOrangesCP-253: rgb(88.2353% 56.0784% 27.451%);
    --palOrangesCP-254: rgb(88.6275% 56.4706% 27.451%);
    --palOrangesCP-255: rgb(89.0196% 56.4706% 27.451%);
}
