/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palOranges-1: rgb(100% 96.078431% 92.156863%);
    --palOranges-2: rgb(99.607843% 90.196078% 80.784314%);
    --palOranges-3: rgb(99.215686% 81.568627% 63.529412%);
    --palOranges-4: rgb(99.215686% 68.235294% 41.960784%);
    --palOranges-5: rgb(99.215686% 55.294118% 23.529412%);
    --palOranges-6: rgb(94.509804% 41.176471% 7.45098%);
    --palOranges-7: rgb(85.098039% 28.235294% 0.392157%);
    --palOranges-8: rgb(65.098039% 21.176471% 1.176471%);
    --palOranges-9: rgb(49.803922% 15.294118% 1.568627%);
}
