/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOryell2-1: rgb(75.390625% 26.5625% 0.390625%);
    --palOryell2-2: rgb(75.78125% 26.953125% 0.78125%);
    --palOryell2-3: rgb(76.171875% 26.953125% 0.78125%);
    --palOryell2-4: rgb(76.171875% 27.34375% 0.78125%);
    --palOryell2-5: rgb(76.5625% 27.734375% 0.78125%);
    --palOryell2-6: rgb(76.953125% 28.125% 0.78125%);
    --palOryell2-7: rgb(77.34375% 28.515625% 0.78125%);
    --palOryell2-8: rgb(77.734375% 28.515625% 0.78125%);
    --palOryell2-9: rgb(78.125% 28.90625% 0.78125%);
    --palOryell2-10: rgb(78.515625% 29.296875% 0.78125%);
    --palOryell2-11: rgb(78.515625% 29.6875% 0.78125%);
    --palOryell2-12: rgb(78.90625% 30.078125% 0.78125%);
    --palOryell2-13: rgb(79.296875% 30.078125% 0.78125%);
    --palOryell2-14: rgb(79.6875% 30.46875% 0.78125%);
    --palOryell2-15: rgb(80.078125% 30.859375% 0.78125%);
    --palOryell2-16: rgb(80.46875% 31.25% 0.78125%);
    --palOryell2-17: rgb(80.859375% 31.640625% 0.78125%);
    --palOryell2-18: rgb(80.859375% 31.640625% 0.78125%);
    --palOryell2-19: rgb(81.25% 32.03125% 0.78125%);
    --palOryell2-20: rgb(81.640625% 32.421875% 0.78125%);
    --palOryell2-21: rgb(82.03125% 32.8125% 0.78125%);
    --palOryell2-22: rgb(82.421875% 33.203125% 0.78125%);
    --palOryell2-23: rgb(82.8125% 33.203125% 0.78125%);
    --palOryell2-24: rgb(83.203125% 33.59375% 0.78125%);
    --palOryell2-25: rgb(83.203125% 33.984375% 0.78125%);
    --palOryell2-26: rgb(83.59375% 34.375% 0.78125%);
    --palOryell2-27: rgb(83.984375% 34.375% 0.78125%);
    --palOryell2-28: rgb(84.375% 34.765625% 0.78125%);
    --palOryell2-29: rgb(84.765625% 35.15625% 0.78125%);
    --palOryell2-30: rgb(85.15625% 35.546875% 1.171875%);
    --palOryell2-31: rgb(85.546875% 35.9375% 1.171875%);
    --palOryell2-32: rgb(85.546875% 35.9375% 1.171875%);
    --palOryell2-33: rgb(85.9375% 36.328125% 1.171875%);
    --palOryell2-34: rgb(86.328125% 36.71875% 1.171875%);
    --palOryell2-35: rgb(86.71875% 37.109375% 1.171875%);
    --palOryell2-36: rgb(87.109375% 37.109375% 1.171875%);
    --palOryell2-37: rgb(87.5% 37.5% 1.171875%);
    --palOryell2-38: rgb(87.890625% 37.890625% 1.171875%);
    --palOryell2-39: rgb(87.890625% 38.28125% 1.171875%);
    --palOryell2-40: rgb(88.28125% 38.671875% 1.171875%);
    --palOryell2-41: rgb(88.671875% 38.671875% 1.171875%);
    --palOryell2-42: rgb(89.0625% 39.0625% 1.171875%);
    --palOryell2-43: rgb(89.453125% 39.453125% 1.171875%);
    --palOryell2-44: rgb(89.84375% 39.84375% 1.171875%);
    --palOryell2-45: rgb(90.234375% 40.234375% 1.171875%);
    --palOryell2-46: rgb(90.234375% 40.234375% 1.171875%);
    --palOryell2-47: rgb(90.625% 40.625% 1.171875%);
    --palOryell2-48: rgb(91.015625% 41.015625% 1.171875%);
    --palOryell2-49: rgb(91.40625% 41.40625% 1.5625%);
    --palOryell2-50: rgb(91.796875% 41.40625% 1.5625%);
    --palOryell2-51: rgb(92.1875% 41.796875% 1.5625%);
    --palOryell2-52: rgb(92.578125% 42.1875% 1.5625%);
    --palOryell2-53: rgb(92.578125% 42.578125% 1.953125%);
    --palOryell2-54: rgb(92.578125% 42.96875% 2.34375%);
    --palOryell2-55: rgb(92.578125% 43.359375% 2.734375%);
    --palOryell2-56: rgb(92.578125% 43.75% 3.125%);
    --palOryell2-57: rgb(92.96875% 44.140625% 3.515625%);
    --palOryell2-58: rgb(92.96875% 44.53125% 3.90625%);
    --palOryell2-59: rgb(92.96875% 44.921875% 4.296875%);
    --palOryell2-60: rgb(92.96875% 45.3125% 4.6875%);
    --palOryell2-61: rgb(92.96875% 45.703125% 5.078125%);
    --palOryell2-62: rgb(93.359375% 46.09375% 5.46875%);
    --palOryell2-63: rgb(93.359375% 46.484375% 5.859375%);
    --palOryell2-64: rgb(93.359375% 46.875% 6.25%);
    --palOryell2-65: rgb(93.359375% 47.265625% 6.640625%);
    --palOryell2-66: rgb(93.359375% 47.65625% 7.03125%);
    --palOryell2-67: rgb(93.75% 48.046875% 7.421875%);
    --palOryell2-68: rgb(93.75% 48.4375% 7.8125%);
    --palOryell2-69: rgb(93.75% 48.828125% 7.8125%);
    --palOryell2-70: rgb(93.75% 49.21875% 8.203125%);
    --palOryell2-71: rgb(93.75% 49.609375% 8.59375%);
    --palOryell2-72: rgb(94.140625% 50% 8.984375%);
    --palOryell2-73: rgb(94.140625% 50.390625% 9.375%);
    --palOryell2-74: rgb(94.140625% 50.78125% 9.765625%);
    --palOryell2-75: rgb(94.140625% 51.171875% 9.765625%);
    --palOryell2-76: rgb(94.140625% 51.5625% 10.15625%);
    --palOryell2-77: rgb(94.140625% 51.953125% 10.546875%);
    --palOryell2-78: rgb(94.53125% 52.34375% 10.9375%);
    --palOryell2-79: rgb(94.53125% 52.734375% 10.9375%);
    --palOryell2-80: rgb(94.53125% 53.125% 11.328125%);
    --palOryell2-81: rgb(94.53125% 53.515625% 11.71875%);
    --palOryell2-82: rgb(94.53125% 53.90625% 12.109375%);
    --palOryell2-83: rgb(94.53125% 54.296875% 12.109375%);
    --palOryell2-84: rgb(94.921875% 54.6875% 12.5%);
    --palOryell2-85: rgb(94.921875% 55.078125% 12.890625%);
    --palOryell2-86: rgb(94.921875% 55.46875% 12.890625%);
    --palOryell2-87: rgb(94.921875% 55.859375% 13.28125%);
    --palOryell2-88: rgb(94.921875% 55.859375% 13.671875%);
    --palOryell2-89: rgb(94.921875% 56.25% 14.0625%);
    --palOryell2-90: rgb(94.921875% 56.640625% 14.0625%);
    --palOryell2-91: rgb(95.3125% 57.03125% 14.453125%);
    --palOryell2-92: rgb(95.3125% 57.421875% 14.84375%);
    --palOryell2-93: rgb(95.3125% 57.8125% 14.84375%);
    --palOryell2-94: rgb(95.3125% 58.203125% 15.234375%);
    --palOryell2-95: rgb(95.3125% 58.59375% 15.625%);
    --palOryell2-96: rgb(95.3125% 58.984375% 15.625%);
    --palOryell2-97: rgb(95.3125% 59.375% 16.015625%);
    --palOryell2-98: rgb(95.703125% 59.765625% 16.40625%);
    --palOryell2-99: rgb(95.703125% 60.15625% 16.40625%);
    --palOryell2-100: rgb(95.703125% 60.546875% 16.796875%);
    --palOryell2-101: rgb(95.703125% 60.9375% 17.1875%);
    --palOryell2-102: rgb(95.703125% 61.328125% 17.1875%);
    --palOryell2-103: rgb(95.703125% 61.71875% 17.578125%);
    --palOryell2-104: rgb(95.703125% 62.109375% 17.578125%);
    --palOryell2-105: rgb(96.09375% 62.5% 17.578125%);
    --palOryell2-106: rgb(96.09375% 62.890625% 17.578125%);
    --palOryell2-107: rgb(96.09375% 63.28125% 17.578125%);
    --palOryell2-108: rgb(96.09375% 63.671875% 17.578125%);
    --palOryell2-109: rgb(96.09375% 64.0625% 17.578125%);
    --palOryell2-110: rgb(96.484375% 64.453125% 17.578125%);
    --palOryell2-111: rgb(96.484375% 64.84375% 17.578125%);
    --palOryell2-112: rgb(96.484375% 65.234375% 17.578125%);
    --palOryell2-113: rgb(96.484375% 65.625% 17.578125%);
    --palOryell2-114: rgb(96.484375% 66.015625% 17.578125%);
    --palOryell2-115: rgb(96.875% 66.40625% 17.578125%);
    --palOryell2-116: rgb(96.875% 66.796875% 17.578125%);
    --palOryell2-117: rgb(96.875% 67.1875% 17.578125%);
    --palOryell2-118: rgb(96.875% 67.578125% 17.578125%);
    --palOryell2-119: rgb(96.875% 67.96875% 17.96875%);
    --palOryell2-120: rgb(97.265625% 68.359375% 17.96875%);
    --palOryell2-121: rgb(97.265625% 68.75% 17.96875%);
    --palOryell2-122: rgb(97.265625% 69.140625% 17.96875%);
    --palOryell2-123: rgb(97.265625% 69.53125% 17.96875%);
    --palOryell2-124: rgb(97.265625% 69.921875% 17.96875%);
    --palOryell2-125: rgb(97.265625% 70.3125% 17.96875%);
    --palOryell2-126: rgb(97.65625% 70.703125% 17.96875%);
    --palOryell2-127: rgb(97.65625% 71.09375% 17.96875%);
    --palOryell2-128: rgb(97.65625% 71.875% 17.96875%);
    --palOryell2-129: rgb(97.65625% 72.265625% 17.96875%);
    --palOryell2-130: rgb(97.65625% 72.65625% 17.96875%);
    --palOryell2-131: rgb(97.65625% 73.046875% 17.96875%);
    --palOryell2-132: rgb(98.046875% 73.4375% 17.96875%);
    --palOryell2-133: rgb(98.046875% 73.828125% 17.96875%);
    --palOryell2-134: rgb(98.046875% 74.21875% 17.96875%);
    --palOryell2-135: rgb(98.046875% 74.609375% 17.96875%);
    --palOryell2-136: rgb(98.046875% 75% 17.96875%);
    --palOryell2-137: rgb(98.046875% 75.390625% 17.96875%);
    --palOryell2-138: rgb(98.4375% 75.78125% 17.96875%);
    --palOryell2-139: rgb(98.4375% 76.171875% 17.96875%);
    --palOryell2-140: rgb(98.4375% 76.5625% 17.96875%);
    --palOryell2-141: rgb(98.4375% 76.953125% 17.96875%);
    --palOryell2-142: rgb(98.4375% 77.34375% 17.96875%);
    --palOryell2-143: rgb(98.4375% 77.734375% 17.96875%);
    --palOryell2-144: rgb(98.4375% 78.125% 17.96875%);
    --palOryell2-145: rgb(98.828125% 78.515625% 17.96875%);
    --palOryell2-146: rgb(98.828125% 78.90625% 17.96875%);
    --palOryell2-147: rgb(98.828125% 79.296875% 17.96875%);
    --palOryell2-148: rgb(98.828125% 79.6875% 17.96875%);
    --palOryell2-149: rgb(98.828125% 80.078125% 17.96875%);
    --palOryell2-150: rgb(98.828125% 80.46875% 17.96875%);
    --palOryell2-151: rgb(98.828125% 80.859375% 17.96875%);
    --palOryell2-152: rgb(99.21875% 81.25% 17.96875%);
    --palOryell2-153: rgb(99.21875% 81.640625% 17.96875%);
    --palOryell2-154: rgb(99.21875% 82.03125% 17.96875%);
    --palOryell2-155: rgb(99.21875% 82.03125% 18.359375%);
    --palOryell2-156: rgb(98.828125% 82.421875% 18.75%);
    --palOryell2-157: rgb(98.828125% 82.421875% 19.53125%);
    --palOryell2-158: rgb(98.828125% 82.421875% 19.921875%);
    --palOryell2-159: rgb(98.828125% 82.421875% 20.3125%);
    --palOryell2-160: rgb(98.828125% 82.421875% 21.09375%);
    --palOryell2-161: rgb(98.4375% 82.8125% 21.484375%);
    --palOryell2-162: rgb(98.4375% 82.8125% 21.875%);
    --palOryell2-163: rgb(98.4375% 82.8125% 22.65625%);
    --palOryell2-164: rgb(98.4375% 82.8125% 23.046875%);
    --palOryell2-165: rgb(98.046875% 83.203125% 23.4375%);
    --palOryell2-166: rgb(98.046875% 83.203125% 23.828125%);
    --palOryell2-167: rgb(98.046875% 83.203125% 24.21875%);
    --palOryell2-168: rgb(98.046875% 83.203125% 24.609375%);
    --palOryell2-169: rgb(98.046875% 83.203125% 25.390625%);
    --palOryell2-170: rgb(97.65625% 83.59375% 25.78125%);
    --palOryell2-171: rgb(97.65625% 83.59375% 26.171875%);
    --palOryell2-172: rgb(97.65625% 83.59375% 26.5625%);
    --palOryell2-173: rgb(97.65625% 83.59375% 26.953125%);
    --palOryell2-174: rgb(97.265625% 83.984375% 27.34375%);
    --palOryell2-175: rgb(97.265625% 83.984375% 27.734375%);
    --palOryell2-176: rgb(97.265625% 83.984375% 28.125%);
    --palOryell2-177: rgb(97.265625% 83.984375% 28.515625%);
    --palOryell2-178: rgb(96.875% 83.984375% 28.90625%);
    --palOryell2-179: rgb(96.875% 84.375% 29.296875%);
    --palOryell2-180: rgb(96.875% 84.375% 29.6875%);
    --palOryell2-181: rgb(96.875% 84.375% 30.078125%);
    --palOryell2-182: rgb(96.484375% 84.375% 30.46875%);
    --palOryell2-183: rgb(96.484375% 84.765625% 30.859375%);
    --palOryell2-184: rgb(96.484375% 84.765625% 31.25%);
    --palOryell2-185: rgb(96.484375% 84.765625% 31.640625%);
    --palOryell2-186: rgb(96.484375% 84.765625% 32.03125%);
    --palOryell2-187: rgb(96.09375% 84.765625% 32.421875%);
    --palOryell2-188: rgb(96.09375% 85.15625% 32.8125%);
    --palOryell2-189: rgb(96.09375% 85.15625% 33.203125%);
    --palOryell2-190: rgb(95.703125% 85.15625% 33.59375%);
    --palOryell2-191: rgb(95.703125% 85.15625% 33.984375%);
    --palOryell2-192: rgb(95.703125% 85.546875% 34.375%);
    --palOryell2-193: rgb(95.703125% 85.546875% 34.765625%);
    --palOryell2-194: rgb(95.3125% 85.546875% 35.15625%);
    --palOryell2-195: rgb(95.3125% 85.546875% 35.546875%);
    --palOryell2-196: rgb(95.3125% 85.9375% 35.9375%);
    --palOryell2-197: rgb(95.3125% 85.9375% 36.328125%);
    --palOryell2-198: rgb(94.921875% 85.9375% 36.71875%);
    --palOryell2-199: rgb(94.921875% 85.9375% 37.109375%);
    --palOryell2-200: rgb(94.921875% 85.9375% 37.5%);
    --palOryell2-201: rgb(94.921875% 86.328125% 37.890625%);
    --palOryell2-202: rgb(94.53125% 86.328125% 38.28125%);
    --palOryell2-203: rgb(94.53125% 86.328125% 38.671875%);
    --palOryell2-204: rgb(94.53125% 86.328125% 38.671875%);
    --palOryell2-205: rgb(94.53125% 86.71875% 39.0625%);
    --palOryell2-206: rgb(94.53125% 86.71875% 39.84375%);
    --palOryell2-207: rgb(94.53125% 87.109375% 40.625%);
    --palOryell2-208: rgb(94.921875% 87.109375% 41.40625%);
    --palOryell2-209: rgb(94.921875% 87.5% 42.1875%);
    --palOryell2-210: rgb(94.921875% 87.5% 42.96875%);
    --palOryell2-211: rgb(95.3125% 87.890625% 43.75%);
    --palOryell2-212: rgb(95.3125% 87.890625% 44.53125%);
    --palOryell2-213: rgb(95.3125% 88.28125% 45.3125%);
    --palOryell2-214: rgb(95.703125% 88.28125% 46.09375%);
    --palOryell2-215: rgb(95.703125% 88.671875% 46.875%);
    --palOryell2-216: rgb(95.703125% 89.0625% 47.65625%);
    --palOryell2-217: rgb(96.09375% 89.0625% 48.4375%);
    --palOryell2-218: rgb(96.09375% 89.453125% 49.21875%);
    --palOryell2-219: rgb(96.09375% 89.453125% 50%);
    --palOryell2-220: rgb(96.09375% 89.84375% 50.78125%);
    --palOryell2-221: rgb(96.484375% 89.84375% 51.171875%);
    --palOryell2-222: rgb(96.484375% 90.234375% 51.953125%);
    --palOryell2-223: rgb(96.484375% 90.234375% 52.734375%);
    --palOryell2-224: rgb(96.875% 90.625% 53.515625%);
    --palOryell2-225: rgb(96.875% 91.015625% 54.296875%);
    --palOryell2-226: rgb(96.875% 91.015625% 55.078125%);
    --palOryell2-227: rgb(96.875% 91.40625% 55.859375%);
    --palOryell2-228: rgb(97.265625% 91.40625% 56.640625%);
    --palOryell2-229: rgb(97.265625% 91.796875% 57.03125%);
    --palOryell2-230: rgb(97.265625% 91.796875% 57.8125%);
    --palOryell2-231: rgb(97.65625% 92.1875% 58.59375%);
    --palOryell2-232: rgb(97.65625% 92.578125% 59.375%);
    --palOryell2-233: rgb(97.65625% 92.578125% 60.15625%);
    --palOryell2-234: rgb(97.65625% 92.96875% 60.9375%);
    --palOryell2-235: rgb(97.65625% 92.96875% 61.71875%);
    --palOryell2-236: rgb(98.046875% 93.359375% 62.109375%);
    --palOryell2-237: rgb(98.046875% 93.359375% 62.890625%);
    --palOryell2-238: rgb(98.046875% 93.75% 63.671875%);
    --palOryell2-239: rgb(98.046875% 93.75% 64.453125%);
    --palOryell2-240: rgb(98.4375% 94.140625% 65.234375%);
    --palOryell2-241: rgb(98.4375% 94.53125% 66.015625%);
    --palOryell2-242: rgb(98.4375% 94.53125% 66.40625%);
    --palOryell2-243: rgb(98.4375% 94.921875% 67.1875%);
    --palOryell2-244: rgb(98.4375% 94.921875% 67.96875%);
    --palOryell2-245: rgb(98.828125% 95.3125% 68.75%);
    --palOryell2-246: rgb(98.828125% 95.3125% 69.53125%);
    --palOryell2-247: rgb(98.828125% 95.703125% 70.3125%);
    --palOryell2-248: rgb(98.828125% 96.09375% 71.09375%);
    --palOryell2-249: rgb(98.828125% 96.09375% 71.484375%);
    --palOryell2-250: rgb(99.21875% 96.484375% 72.265625%);
    --palOryell2-251: rgb(99.21875% 96.484375% 73.046875%);
    --palOryell2-252: rgb(99.21875% 96.875% 73.828125%);
    --palOryell2-253: rgb(99.21875% 97.265625% 74.609375%);
    --palOryell2-254: rgb(99.21875% 97.265625% 75.390625%);
    --palOryell2-255: rgb(99.21875% 97.65625% 75.78125%);
    --palOryell2-256: rgb(99.609375% 97.65625% 76.5625%);
}
