/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOslo-1: rgb(0.36704% 0.50824% 0.24536%);
    --palOslo-2: rgb(0.56626% 0.93944% 1.0695%);
    --palOslo-3: rgb(0.76737% 1.39% 1.9154%);
    --palOslo-4: rgb(0.97079% 1.8228% 2.7418%);
    --palOslo-5: rgb(1.1981% 2.2573% 3.5904%);
    --palOslo-6: rgb(1.404% 2.6935% 4.3975%);
    --palOslo-7: rgb(1.615% 3.1315% 5.138%);
    --palOslo-8: rgb(1.8294% 3.5927% 5.8123%);
    --palOslo-9: rgb(2.0473% 4.0333% 6.4433%);
    --palOslo-10: rgb(2.2689% 4.4608% 7.0257%);
    --palOslo-11: rgb(2.4947% 4.8672% 7.5728%);
    --palOslo-12: rgb(2.7247% 5.2453% 8.0952%);
    --palOslo-13: rgb(2.9592% 5.624% 8.5837%);
    --palOslo-14: rgb(3.1984% 5.9842% 9.0619%);
    --palOslo-15: rgb(3.4477% 6.3258% 9.5163%);
    --palOslo-16: rgb(3.7057% 6.6553% 9.953%);
    --palOslo-17: rgb(3.9346% 6.983% 10.4%);
    --palOslo-18: rgb(4.1492% 7.2993% 10.848%);
    --palOslo-19: rgb(4.3238% 7.6022% 11.31%);
    --palOslo-20: rgb(4.5051% 7.9044% 11.765%);
    --palOslo-21: rgb(4.6508% 8.2102% 12.227%);
    --palOslo-22: rgb(4.7784% 8.4964% 12.697%);
    --palOslo-23: rgb(4.9035% 8.7853% 13.174%);
    --palOslo-24: rgb(4.9925% 9.066% 13.649%);
    --palOslo-25: rgb(5.0671% 9.3388% 14.135%);
    --palOslo-26: rgb(5.1245% 9.6126% 14.619%);
    --palOslo-27: rgb(5.1698% 9.8921% 15.108%);
    --palOslo-28: rgb(5.216% 10.171% 15.603%);
    --palOslo-29: rgb(5.2632% 10.451% 16.098%);
    --palOslo-30: rgb(5.3115% 10.741% 16.595%);
    --palOslo-31: rgb(5.3612% 11.032% 17.099%);
    --palOslo-32: rgb(5.4125% 11.324% 17.602%);
    --palOslo-33: rgb(5.4655% 11.618% 18.112%);
    --palOslo-34: rgb(5.5201% 11.913% 18.627%);
    --palOslo-35: rgb(5.5777% 12.209% 19.14%);
    --palOslo-36: rgb(5.6384% 12.516% 19.661%);
    --palOslo-37: rgb(5.6955% 12.823% 20.178%);
    --palOslo-38: rgb(5.7498% 13.131% 20.704%);
    --palOslo-39: rgb(5.8136% 13.444% 21.23%);
    --palOslo-40: rgb(5.8867% 13.757% 21.759%);
    --palOslo-41: rgb(5.9601% 14.073% 22.291%);
    --palOslo-42: rgb(6.0281% 14.391% 22.826%);
    --palOslo-43: rgb(6.0943% 14.711% 23.36%);
    --palOslo-44: rgb(6.1699% 15.035% 23.901%);
    --palOslo-45: rgb(6.2585% 15.358% 24.441%);
    --palOslo-46: rgb(6.3381% 15.688% 24.986%);
    --palOslo-47: rgb(6.4199% 16.015% 25.535%);
    --palOslo-48: rgb(6.5067% 16.352% 26.083%);
    --palOslo-49: rgb(6.5965% 16.686% 26.635%);
    --palOslo-50: rgb(6.6906% 17.02% 27.186%);
    --palOslo-51: rgb(6.788% 17.357% 27.744%);
    --palOslo-52: rgb(6.8913% 17.697% 28.302%);
    --palOslo-53: rgb(6.9887% 18.038% 28.861%);
    --palOslo-54: rgb(7.0924% 18.381% 29.422%);
    --palOslo-55: rgb(7.1974% 18.728% 29.987%);
    --palOslo-56: rgb(7.3118% 19.072% 30.554%);
    --palOslo-57: rgb(7.4222% 19.423% 31.121%);
    --palOslo-58: rgb(7.5341% 19.77% 31.691%);
    --palOslo-59: rgb(7.6503% 20.119% 32.264%);
    --palOslo-60: rgb(7.7709% 20.473% 32.836%);
    --palOslo-61: rgb(7.8959% 20.826% 33.412%);
    --palOslo-62: rgb(8.0255% 21.181% 33.989%);
    --palOslo-63: rgb(8.1609% 21.535% 34.567%);
    --palOslo-64: rgb(8.2887% 21.892% 35.147%);
    --palOslo-65: rgb(8.4299% 22.249% 35.731%);
    --palOslo-66: rgb(8.5598% 22.609% 36.313%);
    --palOslo-67: rgb(8.7109% 22.965% 36.899%);
    --palOslo-68: rgb(8.8529% 23.325% 37.486%);
    --palOslo-69: rgb(9.0015% 23.69% 38.075%);
    --palOslo-70: rgb(9.1564% 24.048% 38.663%);
    --palOslo-71: rgb(9.3033% 24.41% 39.255%);
    --palOslo-72: rgb(9.4704% 24.776% 39.848%);
    --palOslo-73: rgb(9.6248% 25.14% 40.442%);
    --palOslo-74: rgb(9.7979% 25.504% 41.039%);
    --palOslo-75: rgb(9.9642% 25.867% 41.635%);
    --palOslo-76: rgb(10.138% 26.232% 42.232%);
    --palOslo-77: rgb(10.32% 26.598% 42.833%);
    --palOslo-78: rgb(10.497% 26.965% 43.433%);
    --palOslo-79: rgb(10.692% 27.331% 44.035%);
    --palOslo-80: rgb(10.879% 27.697% 44.639%);
    --palOslo-81: rgb(11.08% 28.062% 45.244%);
    --palOslo-82: rgb(11.283% 28.431% 45.849%);
    --palOslo-83: rgb(11.484% 28.799% 46.456%);
    --palOslo-84: rgb(11.699% 29.169% 47.064%);
    --palOslo-85: rgb(11.919% 29.536% 47.672%);
    --palOslo-86: rgb(12.14% 29.907% 48.282%);
    --palOslo-87: rgb(12.371% 30.275% 48.893%);
    --palOslo-88: rgb(12.613% 30.647% 49.506%);
    --palOslo-89: rgb(12.854% 31.018% 50.119%);
    --palOslo-90: rgb(13.107% 31.389% 50.733%);
    --palOslo-91: rgb(13.364% 31.762% 51.348%);
    --palOslo-92: rgb(13.625% 32.135% 51.964%);
    --palOslo-93: rgb(13.9% 32.509% 52.582%);
    --palOslo-94: rgb(14.184% 32.887% 53.2%);
    --palOslo-95: rgb(14.474% 33.265% 53.82%);
    --palOslo-96: rgb(14.772% 33.642% 54.44%);
    --palOslo-97: rgb(15.079% 34.023% 55.062%);
    --palOslo-98: rgb(15.395% 34.405% 55.685%);
    --palOslo-99: rgb(15.723% 34.791% 56.308%);
    --palOslo-100: rgb(16.061% 35.178% 56.932%);
    --palOslo-101: rgb(16.413% 35.57% 57.558%);
    --palOslo-102: rgb(16.771% 35.962% 58.184%);
    --palOslo-103: rgb(17.142% 36.359% 58.811%);
    --palOslo-104: rgb(17.526% 36.759% 59.439%);
    --palOslo-105: rgb(17.923% 37.163% 60.067%);
    --palOslo-106: rgb(18.33% 37.572% 60.697%);
    --palOslo-107: rgb(18.756% 37.985% 61.324%);
    --palOslo-108: rgb(19.189% 38.402% 61.953%);
    --palOslo-109: rgb(19.642% 38.824% 62.58%);
    --palOslo-110: rgb(20.102% 39.251% 63.207%);
    --palOslo-111: rgb(20.583% 39.683% 63.832%);
    --palOslo-112: rgb(21.074% 40.122% 64.454%);
    --palOslo-113: rgb(21.582% 40.565% 65.075%);
    --palOslo-114: rgb(22.103% 41.013% 65.692%);
    --palOslo-115: rgb(22.637% 41.465% 66.304%);
    --palOslo-116: rgb(23.185% 41.923% 66.91%);
    --palOslo-117: rgb(23.747% 42.385% 67.511%);
    --palOslo-118: rgb(24.318% 42.853% 68.103%);
    --palOslo-119: rgb(24.906% 43.324% 68.689%);
    --palOslo-120: rgb(25.504% 43.8% 69.265%);
    --palOslo-121: rgb(26.109% 44.277% 69.83%);
    --palOslo-122: rgb(26.724% 44.756% 70.383%);
    --palOslo-123: rgb(27.351% 45.24% 70.924%);
    --palOslo-124: rgb(27.982% 45.722% 71.45%);
    --palOslo-125: rgb(28.617% 46.205% 71.962%);
    --palOslo-126: rgb(29.259% 46.688% 72.457%);
    --palOslo-127: rgb(29.905% 47.169% 72.935%);
    --palOslo-128: rgb(30.552% 47.648% 73.395%);
    --palOslo-129: rgb(31.196% 48.123% 73.836%);
    --palOslo-130: rgb(31.844% 48.596% 74.258%);
    --palOslo-131: rgb(32.488% 49.065% 74.659%);
    --palOslo-132: rgb(33.129% 49.527% 75.04%);
    --palOslo-133: rgb(33.767% 49.983% 75.401%);
    --palOslo-134: rgb(34.399% 50.435% 75.741%);
    --palOslo-135: rgb(35.027% 50.878% 76.06%);
    --palOslo-136: rgb(35.647% 51.314% 76.358%);
    --palOslo-137: rgb(36.26% 51.744% 76.637%);
    --palOslo-138: rgb(36.866% 52.164% 76.895%);
    --palOslo-139: rgb(37.464% 52.578% 77.135%);
    --palOslo-140: rgb(38.054% 52.984% 77.355%);
    --palOslo-141: rgb(38.634% 53.381% 77.557%);
    --palOslo-142: rgb(39.208% 53.772% 77.743%);
    --palOslo-143: rgb(39.773% 54.152% 77.911%);
    --palOslo-144: rgb(40.33% 54.528% 78.064%);
    --palOslo-145: rgb(40.879% 54.895% 78.202%);
    --palOslo-146: rgb(41.42% 55.255% 78.326%);
    --palOslo-147: rgb(41.955% 55.607% 78.438%);
    --palOslo-148: rgb(42.482% 55.955% 78.536%);
    --palOslo-149: rgb(43.003% 56.296% 78.624%);
    --palOslo-150: rgb(43.518% 56.631% 78.702%);
    --palOslo-151: rgb(44.025% 56.961% 78.769%);
    --palOslo-152: rgb(44.529% 57.287% 78.828%);
    --palOslo-153: rgb(45.027% 57.608% 78.879%);
    --palOslo-154: rgb(45.521% 57.923% 78.922%);
    --palOslo-155: rgb(46.01% 58.235% 78.958%);
    --palOslo-156: rgb(46.496% 58.545% 78.988%);
    --palOslo-157: rgb(46.979% 58.85% 79.013%);
    --palOslo-158: rgb(47.458% 59.153% 79.033%);
    --palOslo-159: rgb(47.934% 59.453% 79.049%);
    --palOslo-160: rgb(48.408% 59.752% 79.06%);
    --palOslo-161: rgb(48.88% 60.047% 79.068%);
    --palOslo-162: rgb(49.35% 60.342% 79.073%);
    --palOslo-163: rgb(49.82% 60.634% 79.076%);
    --palOslo-164: rgb(50.285% 60.926% 79.075%);
    --palOslo-165: rgb(50.752% 61.215% 79.073%);
    --palOslo-166: rgb(51.216% 61.504% 79.069%);
    --palOslo-167: rgb(51.681% 61.793% 79.063%);
    --palOslo-168: rgb(52.144% 62.081% 79.057%);
    --palOslo-169: rgb(52.608% 62.368% 79.049%);
    --palOslo-170: rgb(53.07% 62.654% 79.04%);
    --palOslo-171: rgb(53.532% 62.94% 79.031%);
    --palOslo-172: rgb(53.994% 63.227% 79.021%);
    --palOslo-173: rgb(54.457% 63.513% 79.011%);
    --palOslo-174: rgb(54.92% 63.8% 79.001%);
    --palOslo-175: rgb(55.382% 64.086% 78.991%);
    --palOslo-176: rgb(55.845% 64.373% 78.981%);
    --palOslo-177: rgb(56.31% 64.661% 78.972%);
    --palOslo-178: rgb(56.773% 64.949% 78.964%);
    --palOslo-179: rgb(57.238% 65.238% 78.956%);
    --palOslo-180: rgb(57.704% 65.527% 78.95%);
    --palOslo-181: rgb(58.169% 65.818% 78.944%);
    --palOslo-182: rgb(58.637% 66.109% 78.94%);
    --palOslo-183: rgb(59.105% 66.403% 78.938%);
    --palOslo-184: rgb(59.574% 66.696% 78.937%);
    --palOslo-185: rgb(60.044% 66.993% 78.938%);
    --palOslo-186: rgb(60.516% 67.29% 78.942%);
    --palOslo-187: rgb(60.989% 67.589% 78.948%);
    --palOslo-188: rgb(61.464% 67.891% 78.957%);
    --palOslo-189: rgb(61.941% 68.194% 78.969%);
    --palOslo-190: rgb(62.419% 68.501% 78.985%);
    --palOslo-191: rgb(62.899% 68.81% 79.004%);
    --palOslo-192: rgb(63.382% 69.121% 79.027%);
    --palOslo-193: rgb(63.866% 69.435% 79.055%);
    --palOslo-194: rgb(64.352% 69.754% 79.087%);
    --palOslo-195: rgb(64.842% 70.076% 79.124%);
    --palOslo-196: rgb(65.334% 70.401% 79.167%);
    --palOslo-197: rgb(65.829% 70.731% 79.216%);
    --palOslo-198: rgb(66.327% 71.065% 79.272%);
    --palOslo-199: rgb(66.828% 71.403% 79.334%);
    --palOslo-200: rgb(67.332% 71.747% 79.403%);
    --palOslo-201: rgb(67.84% 72.094% 79.479%);
    --palOslo-202: rgb(68.351% 72.448% 79.564%);
    --palOslo-203: rgb(68.866% 72.807% 79.657%);
    --palOslo-204: rgb(69.384% 73.173% 79.759%);
    --palOslo-205: rgb(69.907% 73.544% 79.871%);
    --palOslo-206: rgb(70.433% 73.922% 79.993%);
    --palOslo-207: rgb(70.964% 74.305% 80.124%);
    --palOslo-208: rgb(71.499% 74.695% 80.266%);
    --palOslo-209: rgb(72.038% 75.093% 80.42%);
    --palOslo-210: rgb(72.581% 75.497% 80.584%);
    --palOslo-211: rgb(73.128% 75.908% 80.761%);
    --palOslo-212: rgb(73.679% 76.326% 80.949%);
    --palOslo-213: rgb(74.235% 76.752% 81.15%);
    --palOslo-214: rgb(74.795% 77.185% 81.362%);
    --palOslo-215: rgb(75.358% 77.626% 81.589%);
    --palOslo-216: rgb(75.926% 78.073% 81.827%);
    --palOslo-217: rgb(76.498% 78.528% 82.08%);
    --palOslo-218: rgb(77.073% 78.99% 82.345%);
    --palOslo-219: rgb(77.651% 79.46% 82.624%);
    --palOslo-220: rgb(78.233% 79.936% 82.916%);
    --palOslo-221: rgb(78.818% 80.419% 83.221%);
    --palOslo-222: rgb(79.406% 80.91% 83.539%);
    --palOslo-223: rgb(79.997% 81.406% 83.87%);
    --palOslo-224: rgb(80.59% 81.908% 84.215%);
    --palOslo-225: rgb(81.186% 82.418% 84.572%);
    --palOslo-226: rgb(81.783% 82.933% 84.942%);
    --palOslo-227: rgb(82.383% 83.454% 85.323%);
    --palOslo-228: rgb(82.985% 83.98% 85.717%);
    --palOslo-229: rgb(83.587% 84.511% 86.123%);
    --palOslo-230: rgb(84.192% 85.047% 86.54%);
    --palOslo-231: rgb(84.796% 85.588% 86.968%);
    --palOslo-232: rgb(85.402% 86.133% 87.406%);
    --palOslo-233: rgb(86.01% 86.682% 87.855%);
    --palOslo-234: rgb(86.617% 87.236% 88.313%);
    --palOslo-235: rgb(87.225% 87.793% 88.781%);
    --palOslo-236: rgb(87.832% 88.353% 89.257%);
    --palOslo-237: rgb(88.441% 88.917% 89.742%);
    --palOslo-238: rgb(89.049% 89.484% 90.235%);
    --palOslo-239: rgb(89.657% 90.052% 90.736%);
    --palOslo-240: rgb(90.265% 90.624% 91.243%);
    --palOslo-241: rgb(90.873% 91.198% 91.758%);
    --palOslo-242: rgb(91.481% 91.775% 92.278%);
    --palOslo-243: rgb(92.088% 92.353% 92.804%);
    --palOslo-244: rgb(92.695% 92.933% 93.336%);
    --palOslo-245: rgb(93.302% 93.515% 93.873%);
    --palOslo-246: rgb(93.91% 94.098% 94.414%);
    --palOslo-247: rgb(94.517% 94.683% 94.959%);
    --palOslo-248: rgb(95.123% 95.27% 95.509%);
    --palOslo-249: rgb(95.73% 95.858% 96.061%);
    --palOslo-250: rgb(96.337% 96.446% 96.617%);
    --palOslo-251: rgb(96.943% 97.036% 97.175%);
    --palOslo-252: rgb(97.55% 97.627% 97.736%);
    --palOslo-253: rgb(98.157% 98.22% 98.298%);
    --palOslo-254: rgb(98.765% 98.813% 98.863%);
    --palOslo-255: rgb(99.372% 99.407% 99.429%);
    --palOslo-256: rgb(99.98% 100% 99.996%);
}
