/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOtherOutl5-1: rgb(98.046875% 98.046875% 96.09375%);
    --palOtherOutl5-2: rgb(96.484375% 96.09375% 91.40625%);
    --palOtherOutl5-3: rgb(94.921875% 94.140625% 88.28125%);
    --palOtherOutl5-4: rgb(94.140625% 92.96875% 86.71875%);
    --palOtherOutl5-5: rgb(93.359375% 92.1875% 85.15625%);
    --palOtherOutl5-6: rgb(92.1875% 91.015625% 83.59375%);
    --palOtherOutl5-7: rgb(91.40625% 89.84375% 82.03125%);
    --palOtherOutl5-8: rgb(90.234375% 88.671875% 80.46875%);
    --palOtherOutl5-9: rgb(89.453125% 87.890625% 79.296875%);
    --palOtherOutl5-10: rgb(88.671875% 87.109375% 78.125%);
    --palOtherOutl5-11: rgb(87.890625% 85.9375% 76.953125%);
    --palOtherOutl5-12: rgb(87.109375% 85.15625% 75.78125%);
    --palOtherOutl5-13: rgb(86.328125% 84.375% 74.609375%);
    --palOtherOutl5-14: rgb(85.546875% 83.203125% 73.4375%);
    --palOtherOutl5-15: rgb(84.375% 82.421875% 72.65625%);
    --palOtherOutl5-16: rgb(83.59375% 81.640625% 71.484375%);
    --palOtherOutl5-17: rgb(83.203125% 80.46875% 70.3125%);
    --palOtherOutl5-18: rgb(82.421875% 79.6875% 69.53125%);
    --palOtherOutl5-19: rgb(81.640625% 79.296875% 68.359375%);
    --palOtherOutl5-20: rgb(80.859375% 78.515625% 67.578125%);
    --palOtherOutl5-21: rgb(80.46875% 77.734375% 66.40625%);
    --palOtherOutl5-22: rgb(79.6875% 76.953125% 65.625%);
    --palOtherOutl5-23: rgb(78.90625% 76.171875% 64.453125%);
    --palOtherOutl5-24: rgb(78.515625% 75.390625% 63.671875%);
    --palOtherOutl5-25: rgb(77.734375% 74.609375% 62.890625%);
    --palOtherOutl5-26: rgb(76.953125% 73.4375% 61.71875%);
    --palOtherOutl5-27: rgb(76.171875% 72.65625% 60.9375%);
    --palOtherOutl5-28: rgb(75.390625% 71.875% 60.15625%);
    --palOtherOutl5-29: rgb(74.609375% 71.09375% 58.984375%);
    --palOtherOutl5-30: rgb(73.828125% 70.3125% 58.203125%);
    --palOtherOutl5-31: rgb(73.046875% 69.140625% 57.421875%);
    --palOtherOutl5-32: rgb(72.265625% 68.359375% 56.25%);
    --palOtherOutl5-33: rgb(71.484375% 67.578125% 55.46875%);
    --palOtherOutl5-34: rgb(70.703125% 66.796875% 54.6875%);
    --palOtherOutl5-35: rgb(69.921875% 66.015625% 53.90625%);
    --palOtherOutl5-36: rgb(69.140625% 64.84375% 53.125%);
    --palOtherOutl5-37: rgb(68.75% 64.0625% 52.734375%);
    --palOtherOutl5-38: rgb(67.96875% 63.28125% 51.953125%);
    --palOtherOutl5-39: rgb(67.1875% 62.5% 51.171875%);
    --palOtherOutl5-40: rgb(66.40625% 61.71875% 50.390625%);
    --palOtherOutl5-41: rgb(65.625% 60.9375% 49.609375%);
    --palOtherOutl5-42: rgb(64.84375% 60.15625% 48.828125%);
    --palOtherOutl5-43: rgb(64.453125% 59.375% 48.4375%);
    --palOtherOutl5-44: rgb(63.671875% 58.59375% 47.65625%);
    --palOtherOutl5-45: rgb(62.890625% 58.203125% 46.875%);
    --palOtherOutl5-46: rgb(62.5% 57.421875% 46.484375%);
    --palOtherOutl5-47: rgb(61.71875% 56.640625% 45.703125%);
    --palOtherOutl5-48: rgb(61.328125% 55.859375% 44.921875%);
    --palOtherOutl5-49: rgb(60.546875% 55.46875% 44.53125%);
    --palOtherOutl5-50: rgb(60.15625% 54.6875% 44.140625%);
    --palOtherOutl5-51: rgb(59.765625% 54.296875% 43.359375%);
    --palOtherOutl5-52: rgb(58.984375% 53.515625% 42.96875%);
    --palOtherOutl5-53: rgb(58.59375% 53.125% 42.1875%);
    --palOtherOutl5-54: rgb(58.203125% 52.34375% 41.796875%);
    --palOtherOutl5-55: rgb(57.8125% 51.953125% 41.40625%);
    --palOtherOutl5-56: rgb(57.03125% 51.171875% 40.625%);
    --palOtherOutl5-57: rgb(56.640625% 50.78125% 40.234375%);
    --palOtherOutl5-58: rgb(56.25% 50% 39.84375%);
    --palOtherOutl5-59: rgb(55.46875% 49.609375% 39.0625%);
    --palOtherOutl5-60: rgb(55.078125% 48.828125% 38.671875%);
    --palOtherOutl5-61: rgb(54.6875% 48.4375% 38.28125%);
    --palOtherOutl5-62: rgb(53.90625% 48.046875% 37.5%);
    --palOtherOutl5-63: rgb(53.515625% 47.265625% 37.109375%);
    --palOtherOutl5-64: rgb(52.734375% 46.484375% 36.328125%);
    --palOtherOutl5-65: rgb(51.953125% 45.703125% 35.9375%);
    --palOtherOutl5-66: rgb(51.171875% 44.921875% 35.15625%);
    --palOtherOutl5-67: rgb(50.390625% 44.140625% 34.375%);
    --palOtherOutl5-68: rgb(49.609375% 43.359375% 33.984375%);
    --palOtherOutl5-69: rgb(48.4375% 42.1875% 33.203125%);
    --palOtherOutl5-70: rgb(47.65625% 41.40625% 32.421875%);
    --palOtherOutl5-71: rgb(46.875% 40.625% 31.640625%);
    --palOtherOutl5-72: rgb(46.09375% 39.84375% 31.25%);
    --palOtherOutl5-73: rgb(45.703125% 39.0625% 30.46875%);
    --palOtherOutl5-74: rgb(44.921875% 38.28125% 29.6875%);
    --palOtherOutl5-75: rgb(44.140625% 37.109375% 28.90625%);
    --palOtherOutl5-76: rgb(43.359375% 36.328125% 28.125%);
    --palOtherOutl5-77: rgb(42.578125% 35.546875% 27.734375%);
    --palOtherOutl5-78: rgb(41.796875% 34.765625% 26.953125%);
    --palOtherOutl5-79: rgb(37.890625% 39.84375% 40.234375%);
    --palOtherOutl5-80: rgb(37.890625% 40.234375% 40.625%);
    --palOtherOutl5-81: rgb(38.28125% 41.015625% 41.015625%);
    --palOtherOutl5-82: rgb(38.671875% 41.796875% 41.796875%);
    --palOtherOutl5-83: rgb(38.671875% 42.1875% 42.1875%);
    --palOtherOutl5-84: rgb(39.0625% 42.578125% 42.578125%);
    --palOtherOutl5-85: rgb(39.0625% 43.359375% 42.96875%);
    --palOtherOutl5-86: rgb(39.453125% 43.75% 43.359375%);
    --palOtherOutl5-87: rgb(39.453125% 44.140625% 43.75%);
    --palOtherOutl5-88: rgb(39.84375% 44.53125% 44.140625%);
    --palOtherOutl5-89: rgb(39.84375% 45.3125% 44.53125%);
    --palOtherOutl5-90: rgb(40.234375% 45.703125% 44.921875%);
    --palOtherOutl5-91: rgb(40.234375% 46.09375% 45.3125%);
    --palOtherOutl5-92: rgb(40.625% 46.875% 45.3125%);
    --palOtherOutl5-93: rgb(40.625% 47.265625% 45.703125%);
    --palOtherOutl5-94: rgb(41.015625% 48.046875% 46.09375%);
    --palOtherOutl5-95: rgb(41.40625% 48.4375% 46.484375%);
    --palOtherOutl5-96: rgb(41.796875% 49.21875% 46.875%);
    --palOtherOutl5-97: rgb(41.796875% 49.609375% 46.875%);
    --palOtherOutl5-98: rgb(42.578125% 50.390625% 47.265625%);
    --palOtherOutl5-99: rgb(42.96875% 50.78125% 47.65625%);
    --palOtherOutl5-100: rgb(43.359375% 51.171875% 48.046875%);
    --palOtherOutl5-101: rgb(44.140625% 51.953125% 48.4375%);
    --palOtherOutl5-102: rgb(44.53125% 52.34375% 48.828125%);
    --palOtherOutl5-103: rgb(45.3125% 53.125% 49.609375%);
    --palOtherOutl5-104: rgb(45.703125% 53.90625% 50%);
    --palOtherOutl5-105: rgb(46.484375% 54.6875% 50.78125%);
    --palOtherOutl5-106: rgb(47.265625% 55.46875% 51.5625%);
    --palOtherOutl5-107: rgb(48.046875% 56.25% 51.953125%);
    --palOtherOutl5-108: rgb(48.828125% 57.03125% 52.734375%);
    --palOtherOutl5-109: rgb(49.609375% 57.8125% 53.125%);
    --palOtherOutl5-110: rgb(50.390625% 58.984375% 53.515625%);
    --palOtherOutl5-111: rgb(51.171875% 59.765625% 54.296875%);
    --palOtherOutl5-112: rgb(51.953125% 60.546875% 54.6875%);
    --palOtherOutl5-113: rgb(53.125% 61.71875% 55.46875%);
    --palOtherOutl5-114: rgb(54.296875% 62.890625% 56.640625%);
    --palOtherOutl5-115: rgb(55.46875% 64.0625% 57.8125%);
    --palOtherOutl5-116: rgb(56.640625% 65.234375% 58.984375%);
    --palOtherOutl5-117: rgb(57.8125% 66.40625% 59.765625%);
    --palOtherOutl5-118: rgb(58.59375% 67.578125% 60.546875%);
    --palOtherOutl5-119: rgb(59.375% 68.75% 61.328125%);
    --palOtherOutl5-120: rgb(60.546875% 69.921875% 62.109375%);
    --palOtherOutl5-121: rgb(61.71875% 70.703125% 62.890625%);
    --palOtherOutl5-122: rgb(62.890625% 71.875% 63.671875%);
    --palOtherOutl5-123: rgb(63.671875% 73.046875% 64.84375%);
    --palOtherOutl5-124: rgb(64.84375% 73.828125% 65.625%);
    --palOtherOutl5-125: rgb(66.015625% 75% 66.40625%);
    --palOtherOutl5-126: rgb(66.796875% 76.171875% 67.1875%);
    --palOtherOutl5-127: rgb(67.578125% 76.953125% 67.96875%);
    --palOtherOutl5-128: rgb(68.75% 78.125% 68.75%);
    --palOtherOutl5-129: rgb(70.3125% 78.90625% 69.921875%);
    --palOtherOutl5-130: rgb(71.484375% 80.078125% 71.09375%);
    --palOtherOutl5-131: rgb(72.65625% 81.25% 72.265625%);
    --palOtherOutl5-132: rgb(73.828125% 82.03125% 73.046875%);
    --palOtherOutl5-133: rgb(75% 82.8125% 73.828125%);
    --palOtherOutl5-134: rgb(75.78125% 83.59375% 74.21875%);
    --palOtherOutl5-135: rgb(76.5625% 84.375% 75%);
    --palOtherOutl5-136: rgb(78.125% 85.546875% 76.171875%);
    --palOtherOutl5-137: rgb(79.296875% 86.71875% 77.34375%);
    --palOtherOutl5-138: rgb(80.46875% 87.5% 78.515625%);
    --palOtherOutl5-139: rgb(82.03125% 88.671875% 79.6875%);
    --palOtherOutl5-140: rgb(83.203125% 89.453125% 80.46875%);
    --palOtherOutl5-141: rgb(84.375% 90.234375% 81.640625%);
    --palOtherOutl5-142: rgb(85.546875% 91.015625% 82.421875%);
    --palOtherOutl5-143: rgb(86.328125% 91.796875% 83.203125%);
    --palOtherOutl5-144: rgb(87.5% 92.578125% 84.375%);
    --palOtherOutl5-145: rgb(88.671875% 93.359375% 85.546875%);
    --palOtherOutl5-146: rgb(89.453125% 94.140625% 86.328125%);
    --palOtherOutl5-147: rgb(90.625% 94.921875% 87.5%);
    --palOtherOutl5-148: rgb(91.796875% 95.703125% 88.28125%);
    --palOtherOutl5-149: rgb(92.578125% 96.484375% 89.0625%);
    --palOtherOutl5-150: rgb(93.75% 97.265625% 90.234375%);
    --palOtherOutl5-151: rgb(94.53125% 97.65625% 91.015625%);
    --palOtherOutl5-152: rgb(95.3125% 98.4375% 92.1875%);
    --palOtherOutl5-153: rgb(96.09375% 98.828125% 93.359375%);
    --palOtherOutl5-154: rgb(96.875% 99.21875% 94.140625%);
    --palOtherOutl5-155: rgb(96.484375% 98.046875% 98.828125%);
    --palOtherOutl5-156: rgb(93.359375% 96.09375% 98.4375%);
    --palOtherOutl5-157: rgb(90.625% 94.53125% 98.046875%);
    --palOtherOutl5-158: rgb(87.5% 92.96875% 97.265625%);
    --palOtherOutl5-159: rgb(85.9375% 91.796875% 96.484375%);
    --palOtherOutl5-160: rgb(83.984375% 90.625% 95.703125%);
    --palOtherOutl5-161: rgb(82.421875% 89.84375% 94.921875%);
    --palOtherOutl5-162: rgb(80.859375% 88.671875% 94.140625%);
    --palOtherOutl5-163: rgb(79.6875% 87.890625% 93.359375%);
    --palOtherOutl5-164: rgb(78.90625% 86.71875% 92.578125%);
    --palOtherOutl5-165: rgb(77.734375% 85.9375% 91.796875%);
    --palOtherOutl5-166: rgb(76.5625% 84.765625% 91.015625%);
    --palOtherOutl5-167: rgb(75.78125% 83.984375% 90.234375%);
    --palOtherOutl5-168: rgb(74.609375% 83.203125% 89.453125%);
    --palOtherOutl5-169: rgb(73.828125% 82.03125% 88.671875%);
    --palOtherOutl5-170: rgb(72.65625% 81.25% 87.890625%);
    --palOtherOutl5-171: rgb(71.875% 80.46875% 87.109375%);
    --palOtherOutl5-172: rgb(71.09375% 79.296875% 85.9375%);
    --palOtherOutl5-173: rgb(69.921875% 78.515625% 85.15625%);
    --palOtherOutl5-174: rgb(69.140625% 77.734375% 84.375%);
    --palOtherOutl5-175: rgb(68.359375% 76.5625% 83.203125%);
    --palOtherOutl5-176: rgb(67.578125% 75.78125% 82.421875%);
    --palOtherOutl5-177: rgb(66.796875% 75% 81.640625%);
    --palOtherOutl5-178: rgb(65.625% 73.828125% 80.46875%);
    --palOtherOutl5-179: rgb(64.84375% 72.65625% 79.296875%);
    --palOtherOutl5-180: rgb(64.0625% 71.484375% 78.515625%);
    --palOtherOutl5-181: rgb(62.890625% 70.703125% 77.34375%);
    --palOtherOutl5-182: rgb(62.109375% 69.53125% 76.5625%);
    --palOtherOutl5-183: rgb(61.328125% 68.359375% 75.390625%);
    --palOtherOutl5-184: rgb(60.15625% 67.1875% 74.21875%);
    --palOtherOutl5-185: rgb(59.375% 66.40625% 73.4375%);
    --palOtherOutl5-186: rgb(58.59375% 65.234375% 72.265625%);
    --palOtherOutl5-187: rgb(57.8125% 64.453125% 71.09375%);
    --palOtherOutl5-188: rgb(57.03125% 63.671875% 69.921875%);
    --palOtherOutl5-189: rgb(56.25% 62.5% 69.140625%);
    --palOtherOutl5-190: rgb(55.46875% 61.71875% 67.96875%);
    --palOtherOutl5-191: rgb(54.6875% 60.9375% 66.796875%);
    --palOtherOutl5-192: rgb(53.90625% 59.765625% 65.625%);
    --palOtherOutl5-193: rgb(53.125% 58.984375% 64.84375%);
    --palOtherOutl5-194: rgb(52.34375% 57.8125% 63.671875%);
    --palOtherOutl5-195: rgb(51.5625% 57.03125% 62.890625%);
    --palOtherOutl5-196: rgb(50.78125% 55.859375% 61.71875%);
    --palOtherOutl5-197: rgb(50% 55.078125% 60.546875%);
    --palOtherOutl5-198: rgb(49.21875% 54.296875% 59.765625%);
    --palOtherOutl5-199: rgb(48.4375% 53.125% 58.59375%);
    --palOtherOutl5-200: rgb(48.046875% 52.34375% 57.8125%);
    --palOtherOutl5-201: rgb(47.265625% 51.5625% 57.03125%);
    --palOtherOutl5-202: rgb(46.484375% 50.78125% 56.25%);
    --palOtherOutl5-203: rgb(46.09375% 50% 55.46875%);
    --palOtherOutl5-204: rgb(45.3125% 49.609375% 54.6875%);
    --palOtherOutl5-205: rgb(44.921875% 48.828125% 53.90625%);
    --palOtherOutl5-206: rgb(44.140625% 48.046875% 53.125%);
    --palOtherOutl5-207: rgb(43.75% 47.65625% 52.34375%);
    --palOtherOutl5-208: rgb(42.96875% 46.875% 51.5625%);
    --palOtherOutl5-209: rgb(42.578125% 46.484375% 51.171875%);
    --palOtherOutl5-210: rgb(42.578125% 46.09375% 50.390625%);
    --palOtherOutl5-211: rgb(42.1875% 45.703125% 50%);
    --palOtherOutl5-212: rgb(41.796875% 45.3125% 49.21875%);
    --palOtherOutl5-213: rgb(41.40625% 44.921875% 48.828125%);
    --palOtherOutl5-214: rgb(41.40625% 44.53125% 48.046875%);
    --palOtherOutl5-215: rgb(41.015625% 44.140625% 47.65625%);
    --palOtherOutl5-216: rgb(40.625% 43.75% 47.265625%);
    --palOtherOutl5-217: rgb(40.625% 43.359375% 46.484375%);
    --palOtherOutl5-218: rgb(40.234375% 42.96875% 46.09375%);
    --palOtherOutl5-219: rgb(40.234375% 42.578125% 45.703125%);
    --palOtherOutl5-220: rgb(39.84375% 42.1875% 44.921875%);
    --palOtherOutl5-221: rgb(39.84375% 41.796875% 44.53125%);
    --palOtherOutl5-222: rgb(39.453125% 41.40625% 44.140625%);
    --palOtherOutl5-223: rgb(39.0625% 41.015625% 43.359375%);
    --palOtherOutl5-224: rgb(39.0625% 41.015625% 42.96875%);
    --palOtherOutl5-225: rgb(38.671875% 40.625% 42.578125%);
    --palOtherOutl5-226: rgb(38.671875% 40.234375% 42.1875%);
    --palOtherOutl5-227: rgb(38.28125% 39.84375% 41.40625%);
    --palOtherOutl5-228: rgb(38.28125% 39.84375% 41.015625%);
    --palOtherOutl5-229: rgb(37.890625% 39.453125% 40.625%);
    --palOtherOutl5-230: rgb(37.890625% 39.0625% 39.84375%);
    --palOtherOutl5-231: rgb(13.671875% 7.03125% 33.203125%);
    --palOtherOutl5-232: rgb(16.015625% 10.9375% 42.1875%);
    --palOtherOutl5-233: rgb(15.234375% 10.9375% 48.4375%);
    --palOtherOutl5-234: rgb(12.109375% 10.9375% 52.734375%);
    --palOtherOutl5-235: rgb(10.546875% 11.71875% 56.640625%);
    --palOtherOutl5-236: rgb(9.765625% 13.671875% 60.546875%);
    --palOtherOutl5-237: rgb(8.59375% 16.40625% 63.671875%);
    --palOtherOutl5-238: rgb(8.203125% 19.921875% 66.40625%);
    --palOtherOutl5-239: rgb(7.8125% 23.828125% 69.140625%);
    --palOtherOutl5-240: rgb(7.8125% 27.734375% 71.09375%);
    --palOtherOutl5-241: rgb(8.59375% 31.25% 72.65625%);
    --palOtherOutl5-242: rgb(8.59375% 32.8125% 73.046875%);
    --palOtherOutl5-243: rgb(8.59375% 33.984375% 73.4375%);
    --palOtherOutl5-244: rgb(8.59375% 35.15625% 74.21875%);
    --palOtherOutl5-245: rgb(9.765625% 38.28125% 75%);
    --palOtherOutl5-246: rgb(12.5% 43.75% 76.5625%);
    --palOtherOutl5-247: rgb(16.40625% 49.21875% 78.125%);
    --palOtherOutl5-248: rgb(20.703125% 55.078125% 80.078125%);
    --palOtherOutl5-249: rgb(25% 60.15625% 81.640625%);
    --palOtherOutl5-250: rgb(29.296875% 65.234375% 83.203125%);
    --palOtherOutl5-251: rgb(33.984375% 70.3125% 84.765625%);
    --palOtherOutl5-252: rgb(38.671875% 76.171875% 86.328125%);
    --palOtherOutl5-253: rgb(44.53125% 82.03125% 88.671875%);
    --palOtherOutl5-254: rgb(50.78125% 87.5% 90.625%);
    --palOtherOutl5-255: rgb(58.203125% 92.96875% 93.359375%);
    --palOtherOutl5-256: rgb(79.6875% 99.609375% 98.046875%);
}
