/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOtherOutl2-1: rgb(99.609375% 98.046875% 89.84375%);
    --palOtherOutl2-2: rgb(96.484375% 94.921875% 71.484375%);
    --palOtherOutl2-3: rgb(91.40625% 92.578125% 58.59375%);
    --palOtherOutl2-4: rgb(84.375% 90.234375% 48.046875%);
    --palOtherOutl2-5: rgb(76.171875% 86.71875% 37.890625%);
    --palOtherOutl2-6: rgb(67.1875% 83.59375% 29.6875%);
    --palOtherOutl2-7: rgb(58.203125% 80.46875% 25%);
    --palOtherOutl2-8: rgb(48.828125% 77.34375% 19.53125%);
    --palOtherOutl2-9: rgb(39.453125% 74.609375% 14.453125%);
    --palOtherOutl2-10: rgb(30.46875% 71.484375% 10.9375%);
    --palOtherOutl2-11: rgb(22.265625% 67.96875% 8.59375%);
    --palOtherOutl2-12: rgb(14.453125% 64.453125% 5.859375%);
    --palOtherOutl2-13: rgb(9.375% 60.9375% 6.25%);
    --palOtherOutl2-14: rgb(8.59375% 57.421875% 9.375%);
    --palOtherOutl2-15: rgb(10.9375% 54.296875% 15.234375%);
    --palOtherOutl2-16: rgb(10.9375% 52.34375% 19.140625%);
    --palOtherOutl2-17: rgb(11.328125% 50% 22.265625%);
    --palOtherOutl2-18: rgb(11.328125% 47.265625% 25%);
    --palOtherOutl2-19: rgb(11.328125% 44.140625% 26.953125%);
    --palOtherOutl2-20: rgb(11.328125% 39.84375% 27.34375%);
    --palOtherOutl2-21: rgb(10.9375% 35.9375% 27.34375%);
    --palOtherOutl2-22: rgb(9.765625% 30.859375% 26.171875%);
    --palOtherOutl2-23: rgb(8.984375% 26.171875% 23.828125%);
    --palOtherOutl2-24: rgb(8.203125% 22.265625% 21.484375%);
    --palOtherOutl2-25: rgb(7.421875% 17.578125% 18.359375%);
    --palOtherOutl2-26: rgb(5.859375% 12.890625% 14.0625%);
    --palOtherOutl2-27: rgb(37.890625% 39.453125% 39.84375%);
    --palOtherOutl2-28: rgb(37.890625% 39.84375% 40.234375%);
    --palOtherOutl2-29: rgb(38.28125% 40.625% 40.625%);
    --palOtherOutl2-30: rgb(38.28125% 41.015625% 41.015625%);
    --palOtherOutl2-31: rgb(38.28125% 41.40625% 41.40625%);
    --palOtherOutl2-32: rgb(38.671875% 41.796875% 41.796875%);
    --palOtherOutl2-33: rgb(38.671875% 42.1875% 42.1875%);
    --palOtherOutl2-34: rgb(38.671875% 42.578125% 42.1875%);
    --palOtherOutl2-35: rgb(39.0625% 42.96875% 42.578125%);
    --palOtherOutl2-36: rgb(39.0625% 43.359375% 42.96875%);
    --palOtherOutl2-37: rgb(39.453125% 43.75% 43.359375%);
    --palOtherOutl2-38: rgb(39.453125% 44.140625% 43.75%);
    --palOtherOutl2-39: rgb(39.453125% 44.53125% 43.75%);
    --palOtherOutl2-40: rgb(39.84375% 44.921875% 44.140625%);
    --palOtherOutl2-41: rgb(39.84375% 45.3125% 44.53125%);
    --palOtherOutl2-42: rgb(40.234375% 45.703125% 44.921875%);
    --palOtherOutl2-43: rgb(40.234375% 46.09375% 44.921875%);
    --palOtherOutl2-44: rgb(40.234375% 46.484375% 45.3125%);
    --palOtherOutl2-45: rgb(40.625% 46.875% 45.3125%);
    --palOtherOutl2-46: rgb(40.625% 47.265625% 45.703125%);
    --palOtherOutl2-47: rgb(41.015625% 47.65625% 46.09375%);
    --palOtherOutl2-48: rgb(41.015625% 48.046875% 46.09375%);
    --palOtherOutl2-49: rgb(41.40625% 48.4375% 46.484375%);
    --palOtherOutl2-50: rgb(41.40625% 48.828125% 46.484375%);
    --palOtherOutl2-51: rgb(41.796875% 49.609375% 46.875%);
    --palOtherOutl2-52: rgb(42.1875% 50% 47.265625%);
    --palOtherOutl2-53: rgb(42.578125% 50.390625% 47.265625%);
    --palOtherOutl2-54: rgb(42.96875% 50.78125% 47.65625%);
    --palOtherOutl2-55: rgb(43.359375% 51.171875% 47.65625%);
    --palOtherOutl2-56: rgb(43.75% 51.5625% 48.046875%);
    --palOtherOutl2-57: rgb(44.140625% 51.953125% 48.4375%);
    --palOtherOutl2-58: rgb(44.53125% 52.34375% 48.828125%);
    --palOtherOutl2-59: rgb(44.921875% 52.734375% 49.21875%);
    --palOtherOutl2-60: rgb(45.3125% 53.515625% 49.609375%);
    --palOtherOutl2-61: rgb(45.703125% 53.90625% 50%);
    --palOtherOutl2-62: rgb(46.484375% 54.6875% 50.78125%);
    --palOtherOutl2-63: rgb(46.875% 55.078125% 51.171875%);
    --palOtherOutl2-64: rgb(47.65625% 55.859375% 51.5625%);
    --palOtherOutl2-65: rgb(48.046875% 56.25% 51.953125%);
    --palOtherOutl2-66: rgb(48.828125% 57.03125% 52.34375%);
    --palOtherOutl2-67: rgb(49.21875% 57.421875% 52.734375%);
    --palOtherOutl2-68: rgb(50% 58.203125% 53.125%);
    --palOtherOutl2-69: rgb(50.390625% 58.984375% 53.515625%);
    --palOtherOutl2-70: rgb(51.171875% 59.375% 53.90625%);
    --palOtherOutl2-71: rgb(51.5625% 60.15625% 54.296875%);
    --palOtherOutl2-72: rgb(51.953125% 60.546875% 54.6875%);
    --palOtherOutl2-73: rgb(53.125% 61.71875% 55.46875%);
    --palOtherOutl2-74: rgb(53.90625% 62.5% 56.640625%);
    --palOtherOutl2-75: rgb(54.6875% 63.28125% 57.421875%);
    --palOtherOutl2-76: rgb(55.859375% 64.453125% 58.203125%);
    --palOtherOutl2-77: rgb(56.640625% 65.234375% 58.984375%);
    --palOtherOutl2-78: rgb(57.421875% 66.015625% 59.765625%);
    --palOtherOutl2-79: rgb(58.203125% 66.796875% 60.15625%);
    --palOtherOutl2-80: rgb(58.59375% 67.96875% 60.546875%);
    --palOtherOutl2-81: rgb(59.375% 68.75% 61.328125%);
    --palOtherOutl2-82: rgb(60.15625% 69.53125% 61.71875%);
    --palOtherOutl2-83: rgb(60.9375% 70.3125% 62.5%);
    --palOtherOutl2-84: rgb(61.71875% 71.09375% 63.28125%);
    --palOtherOutl2-85: rgb(62.5% 71.875% 63.671875%);
    --palOtherOutl2-86: rgb(63.671875% 72.65625% 64.453125%);
    --palOtherOutl2-87: rgb(64.453125% 73.4375% 65.234375%);
    --palOtherOutl2-88: rgb(65.234375% 74.21875% 65.625%);
    --palOtherOutl2-89: rgb(65.625% 75% 66.40625%);
    --palOtherOutl2-90: rgb(66.40625% 75.78125% 66.796875%);
    --palOtherOutl2-91: rgb(67.1875% 76.5625% 67.1875%);
    --palOtherOutl2-92: rgb(67.96875% 77.34375% 67.96875%);
    --palOtherOutl2-93: rgb(68.75% 78.125% 68.75%);
    --palOtherOutl2-94: rgb(69.53125% 78.90625% 69.53125%);
    --palOtherOutl2-95: rgb(70.703125% 79.6875% 70.3125%);
    --palOtherOutl2-96: rgb(71.875% 80.078125% 71.09375%);
    --palOtherOutl2-97: rgb(72.65625% 80.859375% 71.875%);
    --palOtherOutl2-98: rgb(73.4375% 81.640625% 72.65625%);
    --palOtherOutl2-99: rgb(74.21875% 82.421875% 73.4375%);
    --palOtherOutl2-100: rgb(75% 82.8125% 73.828125%);
    --palOtherOutl2-101: rgb(75.78125% 83.59375% 74.21875%);
    --palOtherOutl2-102: rgb(76.171875% 84.375% 75%);
    --palOtherOutl2-103: rgb(76.953125% 84.765625% 75.390625%);
    --palOtherOutl2-104: rgb(78.125% 85.546875% 76.171875%);
    --palOtherOutl2-105: rgb(79.296875% 86.328125% 77.34375%);
    --palOtherOutl2-106: rgb(80.078125% 87.109375% 78.125%);
    --palOtherOutl2-107: rgb(81.25% 87.890625% 78.90625%);
    --palOtherOutl2-108: rgb(82.03125% 88.671875% 79.6875%);
    --palOtherOutl2-109: rgb(82.8125% 89.453125% 80.46875%);
    --palOtherOutl2-110: rgb(83.59375% 89.84375% 81.25%);
    --palOtherOutl2-111: rgb(84.765625% 90.625% 81.640625%);
    --palOtherOutl2-112: rgb(85.546875% 91.015625% 82.421875%);
    --palOtherOutl2-113: rgb(86.328125% 91.796875% 83.203125%);
    --palOtherOutl2-114: rgb(87.109375% 92.1875% 83.984375%);
    --palOtherOutl2-115: rgb(87.890625% 92.96875% 84.765625%);
    --palOtherOutl2-116: rgb(88.671875% 93.359375% 85.546875%);
    --palOtherOutl2-117: rgb(89.453125% 93.75% 86.328125%);
    --palOtherOutl2-118: rgb(90.234375% 94.53125% 87.109375%);
    --palOtherOutl2-119: rgb(91.015625% 94.921875% 87.890625%);
    --palOtherOutl2-120: rgb(91.796875% 95.703125% 88.28125%);
    --palOtherOutl2-121: rgb(92.578125% 96.09375% 89.0625%);
    --palOtherOutl2-122: rgb(93.359375% 96.875% 89.84375%);
    --palOtherOutl2-123: rgb(94.140625% 97.65625% 90.625%);
    --palOtherOutl2-124: rgb(94.53125% 98.046875% 91.40625%);
    --palOtherOutl2-125: rgb(95.3125% 98.4375% 92.1875%);
    --palOtherOutl2-126: rgb(95.703125% 98.828125% 92.96875%);
    --palOtherOutl2-127: rgb(96.484375% 99.21875% 93.75%);
    --palOtherOutl2-128: rgb(96.875% 99.21875% 94.140625%);
    --palOtherOutl2-129: rgb(97.265625% 98.046875% 99.21875%);
    --palOtherOutl2-130: rgb(94.921875% 96.875% 98.828125%);
    --palOtherOutl2-131: rgb(92.578125% 95.703125% 98.4375%);
    --palOtherOutl2-132: rgb(90.234375% 94.53125% 98.046875%);
    --palOtherOutl2-133: rgb(87.890625% 93.359375% 97.65625%);
    --palOtherOutl2-134: rgb(86.71875% 92.578125% 96.875%);
    --palOtherOutl2-135: rgb(85.15625% 91.796875% 96.484375%);
    --palOtherOutl2-136: rgb(83.984375% 90.625% 95.703125%);
    --palOtherOutl2-137: rgb(82.8125% 89.84375% 94.921875%);
    --palOtherOutl2-138: rgb(81.25% 89.0625% 94.53125%);
    --palOtherOutl2-139: rgb(80.46875% 88.28125% 93.75%);
    --palOtherOutl2-140: rgb(79.6875% 87.5% 93.359375%);
    --palOtherOutl2-141: rgb(78.90625% 87.109375% 92.578125%);
    --palOtherOutl2-142: rgb(78.125% 86.328125% 92.1875%);
    --palOtherOutl2-143: rgb(77.34375% 85.546875% 91.796875%);
    --palOtherOutl2-144: rgb(76.5625% 84.765625% 91.015625%);
    --palOtherOutl2-145: rgb(75.78125% 84.375% 90.625%);
    --palOtherOutl2-146: rgb(75% 83.59375% 89.84375%);
    --palOtherOutl2-147: rgb(74.21875% 82.8125% 89.453125%);
    --palOtherOutl2-148: rgb(73.828125% 82.03125% 88.671875%);
    --palOtherOutl2-149: rgb(73.046875% 81.640625% 88.28125%);
    --palOtherOutl2-150: rgb(72.265625% 80.859375% 87.5%);
    --palOtherOutl2-151: rgb(71.484375% 80.078125% 86.71875%);
    --palOtherOutl2-152: rgb(71.09375% 79.296875% 85.9375%);
    --palOtherOutl2-153: rgb(70.3125% 78.90625% 85.546875%);
    --palOtherOutl2-154: rgb(69.53125% 78.125% 84.765625%);
    --palOtherOutl2-155: rgb(69.140625% 77.34375% 83.984375%);
    --palOtherOutl2-156: rgb(68.359375% 76.5625% 83.203125%);
    --palOtherOutl2-157: rgb(67.578125% 76.171875% 82.8125%);
    --palOtherOutl2-158: rgb(67.1875% 75.390625% 82.03125%);
    --palOtherOutl2-159: rgb(66.40625% 74.609375% 81.25%);
    --palOtherOutl2-160: rgb(65.625% 73.828125% 80.46875%);
    --palOtherOutl2-161: rgb(65.234375% 73.046875% 79.6875%);
    --palOtherOutl2-162: rgb(64.453125% 72.265625% 78.90625%);
    --palOtherOutl2-163: rgb(63.671875% 71.484375% 78.125%);
    --palOtherOutl2-164: rgb(62.890625% 70.703125% 77.34375%);
    --palOtherOutl2-165: rgb(62.5% 69.921875% 76.5625%);
    --palOtherOutl2-166: rgb(61.71875% 69.140625% 75.78125%);
    --palOtherOutl2-167: rgb(60.9375% 68.359375% 75%);
    --palOtherOutl2-168: rgb(60.15625% 67.578125% 74.21875%);
    --palOtherOutl2-169: rgb(59.765625% 66.796875% 73.828125%);
    --palOtherOutl2-170: rgb(58.984375% 66.015625% 72.65625%);
    --palOtherOutl2-171: rgb(58.59375% 65.234375% 71.875%);
    --palOtherOutl2-172: rgb(57.8125% 64.453125% 71.09375%);
    --palOtherOutl2-173: rgb(57.421875% 64.0625% 70.3125%);
    --palOtherOutl2-174: rgb(56.640625% 63.28125% 69.53125%);
    --palOtherOutl2-175: rgb(56.25% 62.5% 68.75%);
    --palOtherOutl2-176: rgb(55.46875% 61.71875% 67.96875%);
    --palOtherOutl2-177: rgb(55.078125% 60.9375% 67.1875%);
    --palOtherOutl2-178: rgb(54.296875% 60.546875% 66.40625%);
    --palOtherOutl2-179: rgb(53.90625% 59.765625% 65.625%);
    --palOtherOutl2-180: rgb(53.125% 58.984375% 64.84375%);
    --palOtherOutl2-181: rgb(52.734375% 58.203125% 64.0625%);
    --palOtherOutl2-182: rgb(51.953125% 57.421875% 63.28125%);
    --palOtherOutl2-183: rgb(51.5625% 57.03125% 62.5%);
    --palOtherOutl2-184: rgb(51.171875% 56.25% 61.71875%);
    --palOtherOutl2-185: rgb(50.390625% 55.46875% 60.9375%);
    --palOtherOutl2-186: rgb(50% 54.6875% 60.15625%);
    --palOtherOutl2-187: rgb(49.21875% 53.90625% 59.375%);
    --palOtherOutl2-188: rgb(48.828125% 53.125% 58.59375%);
    --palOtherOutl2-189: rgb(48.046875% 52.34375% 58.203125%);
    --palOtherOutl2-190: rgb(47.65625% 51.953125% 57.421875%);
    --palOtherOutl2-191: rgb(47.265625% 51.5625% 56.640625%);
    --palOtherOutl2-192: rgb(46.875% 50.78125% 56.25%);
    --palOtherOutl2-193: rgb(46.09375% 50.390625% 55.46875%);
    --palOtherOutl2-194: rgb(45.703125% 50% 55.078125%);
    --palOtherOutl2-195: rgb(45.3125% 49.609375% 54.296875%);
    --palOtherOutl2-196: rgb(44.921875% 48.828125% 53.90625%);
    --palOtherOutl2-197: rgb(44.53125% 48.4375% 53.515625%);
    --palOtherOutl2-198: rgb(44.140625% 48.046875% 52.734375%);
    --palOtherOutl2-199: rgb(43.359375% 47.265625% 52.34375%);
    --palOtherOutl2-200: rgb(42.96875% 46.875% 51.5625%);
    --palOtherOutl2-201: rgb(42.96875% 46.875% 51.171875%);
    --palOtherOutl2-202: rgb(42.578125% 46.484375% 50.78125%);
    --palOtherOutl2-203: rgb(42.578125% 46.09375% 50.390625%);
    --palOtherOutl2-204: rgb(42.1875% 45.703125% 50%);
    --palOtherOutl2-205: rgb(41.796875% 45.3125% 49.609375%);
    --palOtherOutl2-206: rgb(41.796875% 45.3125% 49.21875%);
    --palOtherOutl2-207: rgb(41.40625% 44.921875% 48.828125%);
    --palOtherOutl2-208: rgb(41.40625% 44.53125% 48.4375%);
    --palOtherOutl2-209: rgb(41.015625% 44.140625% 48.046875%);
    --palOtherOutl2-210: rgb(41.015625% 44.140625% 47.65625%);
    --palOtherOutl2-211: rgb(40.625% 43.75% 47.265625%);
    --palOtherOutl2-212: rgb(40.625% 43.359375% 46.875%);
    --palOtherOutl2-213: rgb(40.234375% 42.96875% 46.484375%);
    --palOtherOutl2-214: rgb(40.234375% 42.96875% 46.09375%);
    --palOtherOutl2-215: rgb(40.234375% 42.578125% 45.703125%);
    --palOtherOutl2-216: rgb(39.84375% 42.1875% 45.3125%);
    --palOtherOutl2-217: rgb(39.84375% 42.1875% 44.921875%);
    --palOtherOutl2-218: rgb(39.453125% 41.796875% 44.53125%);
    --palOtherOutl2-219: rgb(39.453125% 41.40625% 44.140625%);
    --palOtherOutl2-220: rgb(39.453125% 41.40625% 43.75%);
    --palOtherOutl2-221: rgb(39.0625% 41.015625% 43.359375%);
    --palOtherOutl2-222: rgb(39.0625% 40.625% 42.96875%);
    --palOtherOutl2-223: rgb(38.671875% 40.625% 42.578125%);
    --palOtherOutl2-224: rgb(38.671875% 40.234375% 42.1875%);
    --palOtherOutl2-225: rgb(38.671875% 40.234375% 41.796875%);
    --palOtherOutl2-226: rgb(38.28125% 39.84375% 41.40625%);
    --palOtherOutl2-227: rgb(38.28125% 39.84375% 41.015625%);
    --palOtherOutl2-228: rgb(37.890625% 39.453125% 40.625%);
    --palOtherOutl2-229: rgb(37.890625% 39.0625% 40.234375%);
    --palOtherOutl2-230: rgb(37.890625% 39.0625% 39.84375%);
    --palOtherOutl2-231: rgb(14.0625% 7.421875% 34.375%);
    --palOtherOutl2-232: rgb(16.015625% 10.9375% 42.96875%);
    --palOtherOutl2-233: rgb(15.234375% 10.9375% 49.21875%);
    --palOtherOutl2-234: rgb(11.71875% 10.9375% 53.125%);
    --palOtherOutl2-235: rgb(10.15625% 12.109375% 57.03125%);
    --palOtherOutl2-236: rgb(9.765625% 14.0625% 60.9375%);
    --palOtherOutl2-237: rgb(8.59375% 16.796875% 63.671875%);
    --palOtherOutl2-238: rgb(8.203125% 20.3125% 66.796875%);
    --palOtherOutl2-239: rgb(7.8125% 23.828125% 69.53125%);
    --palOtherOutl2-240: rgb(7.8125% 28.125% 71.484375%);
    --palOtherOutl2-241: rgb(8.59375% 31.25% 72.65625%);
    --palOtherOutl2-242: rgb(8.59375% 32.8125% 73.046875%);
    --palOtherOutl2-243: rgb(8.59375% 33.984375% 73.4375%);
    --palOtherOutl2-244: rgb(8.59375% 35.546875% 74.21875%);
    --palOtherOutl2-245: rgb(9.765625% 38.671875% 75%);
    --palOtherOutl2-246: rgb(12.5% 44.140625% 76.5625%);
    --palOtherOutl2-247: rgb(16.796875% 49.21875% 78.125%);
    --palOtherOutl2-248: rgb(21.09375% 55.078125% 80.078125%);
    --palOtherOutl2-249: rgb(25.390625% 60.546875% 81.640625%);
    --palOtherOutl2-250: rgb(29.6875% 65.234375% 83.203125%);
    --palOtherOutl2-251: rgb(34.375% 70.703125% 84.765625%);
    --palOtherOutl2-252: rgb(38.671875% 76.171875% 86.328125%);
    --palOtherOutl2-253: rgb(44.53125% 82.03125% 88.671875%);
    --palOtherOutl2-254: rgb(50.78125% 87.5% 91.015625%);
    --palOtherOutl2-255: rgb(58.203125% 92.96875% 93.359375%);
    --palOtherOutl2-256: rgb(79.6875% 99.609375% 98.046875%);
}
