/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOtherOutl8-1: rgb(97.65625% 99.21875% 99.609375%);
    --palOtherOutl8-2: rgb(96.09375% 98.046875% 98.828125%);
    --palOtherOutl8-3: rgb(94.53125% 96.875% 98.4375%);
    --palOtherOutl8-4: rgb(92.1875% 95.3125% 97.65625%);
    --palOtherOutl8-5: rgb(89.84375% 93.75% 96.484375%);
    --palOtherOutl8-6: rgb(87.109375% 91.796875% 94.921875%);
    --palOtherOutl8-7: rgb(84.375% 89.84375% 93.75%);
    --palOtherOutl8-8: rgb(82.03125% 88.28125% 92.578125%);
    --palOtherOutl8-9: rgb(79.6875% 86.71875% 91.40625%);
    --palOtherOutl8-10: rgb(78.515625% 85.546875% 91.015625%);
    --palOtherOutl8-11: rgb(77.34375% 84.765625% 90.234375%);
    --palOtherOutl8-12: rgb(75.78125% 83.59375% 89.84375%);
    --palOtherOutl8-13: rgb(74.609375% 82.8125% 89.0625%);
    --palOtherOutl8-14: rgb(73.046875% 81.640625% 88.671875%);
    --palOtherOutl8-15: rgb(71.875% 80.859375% 87.890625%);
    --palOtherOutl8-16: rgb(70.703125% 79.6875% 87.5%);
    --palOtherOutl8-17: rgb(69.53125% 78.90625% 87.109375%);
    --palOtherOutl8-18: rgb(68.75% 78.515625% 86.328125%);
    --palOtherOutl8-19: rgb(67.96875% 77.734375% 85.9375%);
    --palOtherOutl8-20: rgb(67.578125% 76.953125% 85.546875%);
    --palOtherOutl8-21: rgb(66.796875% 76.5625% 85.15625%);
    --palOtherOutl8-22: rgb(66.015625% 75.78125% 84.765625%);
    --palOtherOutl8-23: rgb(65.234375% 75% 84.375%);
    --palOtherOutl8-24: rgb(64.453125% 74.609375% 83.59375%);
    --palOtherOutl8-25: rgb(63.671875% 73.828125% 83.203125%);
    --palOtherOutl8-26: rgb(62.890625% 73.046875% 82.8125%);
    --palOtherOutl8-27: rgb(62.109375% 72.265625% 82.421875%);
    --palOtherOutl8-28: rgb(61.328125% 71.484375% 81.640625%);
    --palOtherOutl8-29: rgb(60.546875% 70.703125% 80.859375%);
    --palOtherOutl8-30: rgb(59.375% 69.921875% 80.46875%);
    --palOtherOutl8-31: rgb(58.59375% 69.140625% 79.6875%);
    --palOtherOutl8-32: rgb(57.8125% 67.96875% 78.90625%);
    --palOtherOutl8-33: rgb(56.640625% 67.1875% 78.125%);
    --palOtherOutl8-34: rgb(55.859375% 66.40625% 77.734375%);
    --palOtherOutl8-35: rgb(55.078125% 65.625% 76.953125%);
    --palOtherOutl8-36: rgb(54.296875% 64.84375% 76.5625%);
    --palOtherOutl8-37: rgb(53.515625% 64.0625% 76.171875%);
    --palOtherOutl8-38: rgb(52.734375% 63.28125% 75.390625%);
    --palOtherOutl8-39: rgb(51.953125% 62.5% 75%);
    --palOtherOutl8-40: rgb(51.171875% 61.71875% 74.609375%);
    --palOtherOutl8-41: rgb(50.390625% 60.9375% 74.21875%);
    --palOtherOutl8-42: rgb(49.609375% 60.15625% 73.4375%);
    --palOtherOutl8-43: rgb(49.21875% 59.765625% 73.046875%);
    --palOtherOutl8-44: rgb(48.4375% 58.984375% 72.65625%);
    --palOtherOutl8-45: rgb(48.046875% 58.59375% 72.265625%);
    --palOtherOutl8-46: rgb(47.65625% 58.203125% 71.875%);
    --palOtherOutl8-47: rgb(46.875% 57.421875% 71.484375%);
    --palOtherOutl8-48: rgb(46.484375% 57.03125% 71.09375%);
    --palOtherOutl8-49: rgb(46.09375% 56.640625% 70.703125%);
    --palOtherOutl8-50: rgb(45.3125% 55.859375% 70.3125%);
    --palOtherOutl8-51: rgb(44.921875% 55.46875% 69.921875%);
    --palOtherOutl8-52: rgb(44.53125% 54.6875% 69.921875%);
    --palOtherOutl8-53: rgb(43.75% 54.296875% 69.140625%);
    --palOtherOutl8-54: rgb(43.359375% 53.90625% 68.75%);
    --palOtherOutl8-55: rgb(42.96875% 53.125% 68.359375%);
    --palOtherOutl8-56: rgb(42.1875% 52.734375% 67.96875%);
    --palOtherOutl8-57: rgb(41.796875% 51.953125% 67.578125%);
    --palOtherOutl8-58: rgb(41.40625% 51.5625% 67.1875%);
    --palOtherOutl8-59: rgb(40.625% 50.78125% 66.796875%);
    --palOtherOutl8-60: rgb(40.234375% 50.390625% 66.40625%);
    --palOtherOutl8-61: rgb(39.84375% 50% 66.015625%);
    --palOtherOutl8-62: rgb(39.453125% 49.21875% 65.625%);
    --palOtherOutl8-63: rgb(39.0625% 48.828125% 65.234375%);
    --palOtherOutl8-64: rgb(38.671875% 48.4375% 64.84375%);
    --palOtherOutl8-65: rgb(38.28125% 48.046875% 64.453125%);
    --palOtherOutl8-66: rgb(37.890625% 47.265625% 64.0625%);
    --palOtherOutl8-67: rgb(37.5% 46.875% 63.671875%);
    --palOtherOutl8-68: rgb(37.109375% 46.484375% 63.28125%);
    --palOtherOutl8-69: rgb(36.71875% 45.703125% 62.890625%);
    --palOtherOutl8-70: rgb(36.328125% 45.3125% 62.5%);
    --palOtherOutl8-71: rgb(36.328125% 44.921875% 62.109375%);
    --palOtherOutl8-72: rgb(35.9375% 44.53125% 61.71875%);
    --palOtherOutl8-73: rgb(35.546875% 44.140625% 61.328125%);
    --palOtherOutl8-74: rgb(35.15625% 43.75% 60.9375%);
    --palOtherOutl8-75: rgb(34.765625% 42.96875% 60.546875%);
    --palOtherOutl8-76: rgb(34.375% 42.578125% 60.15625%);
    --palOtherOutl8-77: rgb(33.984375% 41.796875% 59.375%);
    --palOtherOutl8-78: rgb(33.59375% 41.015625% 58.984375%);
    --palOtherOutl8-79: rgb(33.203125% 40.234375% 58.203125%);
    --palOtherOutl8-80: rgb(32.8125% 39.84375% 57.8125%);
    --palOtherOutl8-81: rgb(32.421875% 39.0625% 57.421875%);
    --palOtherOutl8-82: rgb(32.03125% 38.671875% 56.640625%);
    --palOtherOutl8-83: rgb(31.640625% 38.28125% 56.25%);
    --palOtherOutl8-84: rgb(31.25% 37.890625% 55.859375%);
    --palOtherOutl8-85: rgb(30.859375% 37.5% 55.46875%);
    --palOtherOutl8-86: rgb(30.46875% 36.71875% 55.078125%);
    --palOtherOutl8-87: rgb(30.078125% 36.328125% 54.6875%);
    --palOtherOutl8-88: rgb(29.6875% 35.9375% 54.296875%);
    --palOtherOutl8-89: rgb(29.296875% 35.546875% 53.90625%);
    --palOtherOutl8-90: rgb(28.90625% 35.15625% 53.515625%);
    --palOtherOutl8-91: rgb(28.515625% 34.765625% 53.125%);
    --palOtherOutl8-92: rgb(28.515625% 33.984375% 53.125%);
    --palOtherOutl8-93: rgb(28.125% 33.59375% 52.734375%);
    --palOtherOutl8-94: rgb(27.734375% 33.203125% 52.34375%);
    --palOtherOutl8-95: rgb(27.34375% 32.8125% 51.953125%);
    --palOtherOutl8-96: rgb(26.953125% 32.421875% 51.5625%);
    --palOtherOutl8-97: rgb(26.5625% 32.03125% 51.171875%);
    --palOtherOutl8-98: rgb(26.171875% 31.25% 50.78125%);
    --palOtherOutl8-99: rgb(26.171875% 30.859375% 50.390625%);
    --palOtherOutl8-100: rgb(25.78125% 30.46875% 50%);
    --palOtherOutl8-101: rgb(25.390625% 30.078125% 49.609375%);
    --palOtherOutl8-102: rgb(25% 29.6875% 49.21875%);
    --palOtherOutl8-103: rgb(24.609375% 29.296875% 48.4375%);
    --palOtherOutl8-104: rgb(24.609375% 28.515625% 48.4375%);
    --palOtherOutl8-105: rgb(24.21875% 28.125% 48.046875%);
    --palOtherOutl8-106: rgb(23.828125% 27.734375% 47.65625%);
    --palOtherOutl8-107: rgb(23.4375% 27.34375% 47.265625%);
    --palOtherOutl8-108: rgb(23.046875% 26.953125% 46.875%);
    --palOtherOutl8-109: rgb(23.046875% 26.5625% 46.484375%);
    --palOtherOutl8-110: rgb(22.65625% 26.171875% 46.09375%);
    --palOtherOutl8-111: rgb(22.265625% 25.78125% 45.703125%);
    --palOtherOutl8-112: rgb(21.875% 25.390625% 45.3125%);
    --palOtherOutl8-113: rgb(21.875% 25% 44.921875%);
    --palOtherOutl8-114: rgb(21.484375% 24.609375% 44.53125%);
    --palOtherOutl8-115: rgb(21.09375% 24.21875% 44.53125%);
    --palOtherOutl8-116: rgb(21.09375% 23.828125% 44.140625%);
    --palOtherOutl8-117: rgb(20.703125% 23.4375% 43.75%);
    --palOtherOutl8-118: rgb(20.703125% 23.046875% 43.359375%);
    --palOtherOutl8-119: rgb(20.3125% 22.65625% 42.96875%);
    --palOtherOutl8-120: rgb(19.921875% 22.265625% 42.578125%);
    --palOtherOutl8-121: rgb(19.921875% 22.265625% 42.1875%);
    --palOtherOutl8-122: rgb(19.53125% 21.875% 41.796875%);
    --palOtherOutl8-123: rgb(19.140625% 21.484375% 41.796875%);
    --palOtherOutl8-124: rgb(19.140625% 21.09375% 41.40625%);
    --palOtherOutl8-125: rgb(18.75% 20.703125% 41.015625%);
    --palOtherOutl8-126: rgb(18.359375% 20.703125% 40.625%);
    --palOtherOutl8-127: rgb(18.359375% 20.3125% 40.234375%);
    --palOtherOutl8-128: rgb(17.96875% 19.921875% 39.84375%);
    --palOtherOutl8-129: rgb(17.578125% 19.53125% 39.453125%);
    --palOtherOutl8-130: rgb(17.1875% 18.75% 39.0625%);
    --palOtherOutl8-131: rgb(17.1875% 18.359375% 39.0625%);
    --palOtherOutl8-132: rgb(16.796875% 17.96875% 38.671875%);
    --palOtherOutl8-133: rgb(16.40625% 17.1875% 38.28125%);
    --palOtherOutl8-134: rgb(16.015625% 16.796875% 37.890625%);
    --palOtherOutl8-135: rgb(75.78125% 43.359375% 27.34375%);
    --palOtherOutl8-136: rgb(76.5625% 45.703125% 28.515625%);
    --palOtherOutl8-137: rgb(77.34375% 47.65625% 29.296875%);
    --palOtherOutl8-138: rgb(78.515625% 50% 30.46875%);
    --palOtherOutl8-139: rgb(79.296875% 51.953125% 31.640625%);
    --palOtherOutl8-140: rgb(80.46875% 54.296875% 32.8125%);
    --palOtherOutl8-141: rgb(81.25% 56.25% 33.984375%);
    --palOtherOutl8-142: rgb(82.421875% 58.203125% 35.15625%);
    --palOtherOutl8-143: rgb(83.59375% 60.15625% 35.9375%);
    --palOtherOutl8-144: rgb(84.765625% 62.109375% 37.109375%);
    --palOtherOutl8-145: rgb(85.546875% 64.0625% 38.28125%);
    --palOtherOutl8-146: rgb(86.71875% 66.015625% 39.453125%);
    --palOtherOutl8-147: rgb(87.890625% 67.96875% 40.625%);
    --palOtherOutl8-148: rgb(89.0625% 69.921875% 41.40625%);
    --palOtherOutl8-149: rgb(90.234375% 71.875% 42.578125%);
    --palOtherOutl8-150: rgb(91.40625% 73.828125% 43.75%);
    --palOtherOutl8-151: rgb(92.1875% 75.78125% 44.921875%);
    --palOtherOutl8-152: rgb(92.96875% 77.34375% 46.484375%);
    --palOtherOutl8-153: rgb(93.75% 79.296875% 47.65625%);
    --palOtherOutl8-154: rgb(94.53125% 81.25% 48.828125%);
    --palOtherOutl8-155: rgb(95.3125% 83.203125% 50%);
    --palOtherOutl8-156: rgb(95.703125% 85.15625% 51.5625%);
    --palOtherOutl8-157: rgb(96.484375% 86.71875% 52.734375%);
    --palOtherOutl8-158: rgb(96.875% 87.5% 54.296875%);
    --palOtherOutl8-159: rgb(96.875% 88.671875% 55.46875%);
    --palOtherOutl8-160: rgb(97.265625% 89.84375% 57.03125%);
    --palOtherOutl8-161: rgb(97.65625% 90.625% 58.59375%);
    --palOtherOutl8-162: rgb(98.046875% 91.796875% 59.765625%);
    --palOtherOutl8-163: rgb(98.4375% 92.96875% 61.328125%);
    --palOtherOutl8-164: rgb(98.4375% 93.359375% 62.5%);
    --palOtherOutl8-165: rgb(98.4375% 93.75% 63.671875%);
    --palOtherOutl8-166: rgb(98.828125% 94.140625% 64.84375%);
    --palOtherOutl8-167: rgb(98.828125% 94.53125% 66.40625%);
    --palOtherOutl8-168: rgb(98.828125% 94.921875% 67.578125%);
    --palOtherOutl8-169: rgb(99.21875% 95.3125% 68.75%);
    --palOtherOutl8-170: rgb(99.21875% 95.703125% 69.921875%);
    --palOtherOutl8-171: rgb(99.21875% 96.484375% 71.484375%);
    --palOtherOutl8-172: rgb(99.609375% 96.875% 72.65625%);
    --palOtherOutl8-173: rgb(99.609375% 96.875% 75%);
    --palOtherOutl8-174: rgb(99.609375% 97.265625% 76.953125%);
    --palOtherOutl8-175: rgb(99.609375% 97.265625% 78.90625%);
    --palOtherOutl8-176: rgb(99.609375% 97.65625% 80.859375%);
    --palOtherOutl8-177: rgb(99.609375% 98.046875% 83.203125%);
    --palOtherOutl8-178: rgb(99.609375% 98.046875% 85.15625%);
    --palOtherOutl8-179: rgb(99.609375% 98.4375% 87.109375%);
    --palOtherOutl8-180: rgb(99.609375% 98.4375% 89.453125%);
    --palOtherOutl8-181: rgb(99.609375% 98.828125% 91.40625%);
    --palOtherOutl8-182: rgb(99.609375% 98.828125% 93.359375%);
    --palOtherOutl8-183: rgb(90.234375% 99.609375% 98.828125%);
    --palOtherOutl8-184: rgb(88.28125% 99.609375% 98.828125%);
    --palOtherOutl8-185: rgb(86.71875% 99.609375% 98.828125%);
    --palOtherOutl8-186: rgb(85.15625% 99.609375% 98.828125%);
    --palOtherOutl8-187: rgb(83.59375% 99.609375% 98.828125%);
    --palOtherOutl8-188: rgb(81.640625% 99.21875% 98.828125%);
    --palOtherOutl8-189: rgb(80.078125% 98.828125% 98.828125%);
    --palOtherOutl8-190: rgb(78.125% 98.4375% 98.828125%);
    --palOtherOutl8-191: rgb(76.171875% 97.65625% 98.4375%);
    --palOtherOutl8-192: rgb(74.21875% 97.265625% 98.4375%);
    --palOtherOutl8-193: rgb(72.265625% 96.875% 98.4375%);
    --palOtherOutl8-194: rgb(70.3125% 96.484375% 98.4375%);
    --palOtherOutl8-195: rgb(68.359375% 96.09375% 98.046875%);
    --palOtherOutl8-196: rgb(66.015625% 94.921875% 97.265625%);
    --palOtherOutl8-197: rgb(64.0625% 94.140625% 96.875%);
    --palOtherOutl8-198: rgb(61.71875% 92.96875% 96.09375%);
    --palOtherOutl8-199: rgb(59.375% 92.1875% 95.3125%);
    --palOtherOutl8-200: rgb(57.03125% 91.015625% 94.921875%);
    --palOtherOutl8-201: rgb(54.6875% 90.234375% 94.140625%);
    --palOtherOutl8-202: rgb(52.34375% 89.0625% 93.75%);
    --palOtherOutl8-203: rgb(50% 88.28125% 92.96875%);
    --palOtherOutl8-204: rgb(47.65625% 87.109375% 92.1875%);
    --palOtherOutl8-205: rgb(45.703125% 86.328125% 91.796875%);
    --palOtherOutl8-206: rgb(42.578125% 83.984375% 90.234375%);
    --palOtherOutl8-207: rgb(39.84375% 82.03125% 89.0625%);
    --palOtherOutl8-208: rgb(37.109375% 80.078125% 87.5%);
    --palOtherOutl8-209: rgb(34.375% 78.125% 86.328125%);
    --palOtherOutl8-210: rgb(31.640625% 76.171875% 85.15625%);
    --palOtherOutl8-211: rgb(28.90625% 74.21875% 83.59375%);
    --palOtherOutl8-212: rgb(26.171875% 72.265625% 82.421875%);
    --palOtherOutl8-213: rgb(23.828125% 70.3125% 80.859375%);
    --palOtherOutl8-214: rgb(22.65625% 67.96875% 79.296875%);
    --palOtherOutl8-215: rgb(21.09375% 66.015625% 77.734375%);
    --palOtherOutl8-216: rgb(19.921875% 63.671875% 76.171875%);
    --palOtherOutl8-217: rgb(18.359375% 61.71875% 74.609375%);
    --palOtherOutl8-218: rgb(17.1875% 59.375% 73.4375%);
    --palOtherOutl8-219: rgb(15.625% 57.421875% 71.875%);
    --palOtherOutl8-220: rgb(14.453125% 55.078125% 70.3125%);
    --palOtherOutl8-221: rgb(13.28125% 53.125% 68.75%);
    --palOtherOutl8-222: rgb(12.5% 51.5625% 67.1875%);
    --palOtherOutl8-223: rgb(11.71875% 50% 65.625%);
    --palOtherOutl8-224: rgb(10.9375% 48.4375% 64.0625%);
    --palOtherOutl8-225: rgb(9.765625% 46.484375% 62.890625%);
    --palOtherOutl8-226: rgb(8.984375% 44.921875% 61.328125%);
    --palOtherOutl8-227: rgb(8.203125% 43.359375% 59.765625%);
    --palOtherOutl8-228: rgb(7.421875% 41.40625% 58.203125%);
    --palOtherOutl8-229: rgb(6.640625% 39.84375% 56.640625%);
    --palOtherOutl8-230: rgb(5.859375% 38.28125% 55.078125%);
    --palOtherOutl8-231: rgb(21.09375% 23.828125% 48.046875%);
    --palOtherOutl8-232: rgb(20.3125% 22.265625% 47.265625%);
    --palOtherOutl8-233: rgb(19.140625% 21.09375% 46.484375%);
    --palOtherOutl8-234: rgb(18.359375% 19.921875% 45.3125%);
    --palOtherOutl8-235: rgb(17.1875% 18.359375% 44.53125%);
    --palOtherOutl8-236: rgb(16.40625% 17.1875% 43.75%);
    --palOtherOutl8-237: rgb(15.234375% 15.625% 42.578125%);
    --palOtherOutl8-238: rgb(14.453125% 14.453125% 41.796875%);
    --palOtherOutl8-239: rgb(14.0625% 13.671875% 41.015625%);
    --palOtherOutl8-240: rgb(13.671875% 13.28125% 40.234375%);
    --palOtherOutl8-241: rgb(13.28125% 12.5% 39.453125%);
    --palOtherOutl8-242: rgb(12.890625% 11.71875% 38.671875%);
    --palOtherOutl8-243: rgb(12.890625% 11.328125% 37.890625%);
    --palOtherOutl8-244: rgb(12.5% 10.546875% 37.109375%);
    --palOtherOutl8-245: rgb(12.109375% 10.15625% 36.328125%);
    --palOtherOutl8-246: rgb(11.71875% 9.375% 35.546875%);
    --palOtherOutl8-247: rgb(11.71875% 8.984375% 34.765625%);
    --palOtherOutl8-248: rgb(11.71875% 8.59375% 33.984375%);
    --palOtherOutl8-249: rgb(11.71875% 7.8125% 33.203125%);
    --palOtherOutl8-250: rgb(11.328125% 7.421875% 32.421875%);
    --palOtherOutl8-251: rgb(11.328125% 7.03125% 31.640625%);
    --palOtherOutl8-252: rgb(11.328125% 6.25% 30.859375%);
    --palOtherOutl8-253: rgb(11.328125% 5.859375% 30.078125%);
    --palOtherOutl8-254: rgb(8.59375% 4.296875% 23.4375%);
    --palOtherOutl8-255: rgb(4.296875% 1.953125% 11.71875%);
    --palOtherOutl8-256: rgb(0% 0% 0%);
}
