/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palOtherOutl1-1: rgb(17.578125% 19.921875% 16.40625%);
    --palOtherOutl1-2: rgb(19.140625% 23.046875% 15.625%);
    --palOtherOutl1-3: rgb(20.703125% 26.171875% 15.234375%);
    --palOtherOutl1-4: rgb(21.875% 29.296875% 14.84375%);
    --palOtherOutl1-5: rgb(23.046875% 31.25% 13.671875%);
    --palOtherOutl1-6: rgb(24.609375% 33.203125% 12.5%);
    --palOtherOutl1-7: rgb(25.78125% 35.15625% 12.109375%);
    --palOtherOutl1-8: rgb(27.734375% 37.109375% 12.109375%);
    --palOtherOutl1-9: rgb(29.6875% 39.0625% 12.109375%);
    --palOtherOutl1-10: rgb(31.25% 40.625% 12.109375%);
    --palOtherOutl1-11: rgb(32.8125% 42.578125% 12.109375%);
    --palOtherOutl1-12: rgb(34.375% 44.140625% 12.109375%);
    --palOtherOutl1-13: rgb(33.984375% 46.09375% 12.5%);
    --palOtherOutl1-14: rgb(33.203125% 48.046875% 12.890625%);
    --palOtherOutl1-15: rgb(32.8125% 49.609375% 12.890625%);
    --palOtherOutl1-16: rgb(32.03125% 51.5625% 13.28125%);
    --palOtherOutl1-17: rgb(31.640625% 53.125% 13.671875%);
    --palOtherOutl1-18: rgb(30.859375% 54.6875% 14.0625%);
    --palOtherOutl1-19: rgb(30.078125% 56.640625% 14.0625%);
    --palOtherOutl1-20: rgb(29.6875% 58.59375% 14.453125%);
    --palOtherOutl1-21: rgb(29.296875% 60.15625% 14.84375%);
    --palOtherOutl1-22: rgb(30.078125% 62.109375% 16.015625%);
    --palOtherOutl1-23: rgb(31.25% 63.671875% 16.796875%);
    --palOtherOutl1-24: rgb(32.03125% 65.625% 17.96875%);
    --palOtherOutl1-25: rgb(32.8125% 67.578125% 19.53125%);
    --palOtherOutl1-26: rgb(33.59375% 69.140625% 20.703125%);
    --palOtherOutl1-27: rgb(34.375% 71.09375% 21.484375%);
    --palOtherOutl1-28: rgb(35.15625% 72.65625% 22.65625%);
    --palOtherOutl1-29: rgb(35.546875% 74.21875% 23.4375%);
    --palOtherOutl1-30: rgb(36.328125% 75.78125% 25%);
    --palOtherOutl1-31: rgb(37.109375% 76.953125% 26.171875%);
    --palOtherOutl1-32: rgb(38.28125% 78.515625% 27.734375%);
    --palOtherOutl1-33: rgb(41.40625% 80.078125% 29.6875%);
    --palOtherOutl1-34: rgb(44.921875% 81.640625% 31.640625%);
    --palOtherOutl1-35: rgb(48.046875% 83.203125% 33.59375%);
    --palOtherOutl1-36: rgb(51.171875% 84.375% 35.9375%);
    --palOtherOutl1-37: rgb(54.296875% 85.9375% 37.890625%);
    --palOtherOutl1-38: rgb(57.421875% 87.109375% 40.234375%);
    --palOtherOutl1-39: rgb(60.546875% 88.671875% 42.1875%);
    --palOtherOutl1-40: rgb(63.671875% 90.234375% 44.53125%);
    --palOtherOutl1-41: rgb(66.796875% 91.015625% 46.484375%);
    --palOtherOutl1-42: rgb(69.53125% 91.796875% 48.4375%);
    --palOtherOutl1-43: rgb(72.65625% 92.1875% 50.390625%);
    --palOtherOutl1-44: rgb(75.390625% 92.96875% 52.34375%);
    --palOtherOutl1-45: rgb(78.125% 93.75% 54.6875%);
    --palOtherOutl1-46: rgb(80.859375% 94.53125% 56.640625%);
    --palOtherOutl1-47: rgb(83.203125% 94.921875% 58.984375%);
    --palOtherOutl1-48: rgb(85.546875% 95.703125% 61.328125%);
    --palOtherOutl1-49: rgb(88.28125% 96.484375% 63.28125%);
    --palOtherOutl1-50: rgb(90.625% 97.265625% 65.625%);
    --palOtherOutl1-51: rgb(92.96875% 98.046875% 67.96875%);
    --palOtherOutl1-52: rgb(96.09375% 98.046875% 93.359375%);
    --palOtherOutl1-53: rgb(94.921875% 98.046875% 92.1875%);
    --palOtherOutl1-54: rgb(94.140625% 97.65625% 91.015625%);
    --palOtherOutl1-55: rgb(92.96875% 97.265625% 89.84375%);
    --palOtherOutl1-56: rgb(92.1875% 96.875% 88.28125%);
    --palOtherOutl1-57: rgb(91.40625% 96.484375% 87.109375%);
    --palOtherOutl1-58: rgb(90.234375% 96.09375% 85.9375%);
    --palOtherOutl1-59: rgb(89.453125% 95.703125% 84.765625%);
    --palOtherOutl1-60: rgb(88.28125% 95.3125% 83.203125%);
    --palOtherOutl1-61: rgb(87.109375% 94.921875% 82.03125%);
    --palOtherOutl1-62: rgb(85.9375% 94.140625% 80.859375%);
    --palOtherOutl1-63: rgb(84.765625% 93.75% 79.6875%);
    --palOtherOutl1-64: rgb(83.203125% 93.359375% 78.515625%);
    --palOtherOutl1-65: rgb(82.03125% 92.96875% 77.34375%);
    --palOtherOutl1-66: rgb(80.859375% 92.1875% 76.171875%);
    --palOtherOutl1-67: rgb(79.296875% 91.796875% 75%);
    --palOtherOutl1-68: rgb(78.515625% 91.40625% 74.609375%);
    --palOtherOutl1-69: rgb(78.125% 91.015625% 74.21875%);
    --palOtherOutl1-70: rgb(77.34375% 90.625% 73.828125%);
    --palOtherOutl1-71: rgb(76.953125% 90.234375% 73.4375%);
    --palOtherOutl1-72: rgb(76.171875% 89.84375% 73.046875%);
    --palOtherOutl1-73: rgb(75.78125% 89.453125% 72.65625%);
    --palOtherOutl1-74: rgb(75% 88.671875% 71.875%);
    --palOtherOutl1-75: rgb(74.21875% 88.28125% 71.484375%);
    --palOtherOutl1-76: rgb(73.828125% 87.890625% 71.09375%);
    --palOtherOutl1-77: rgb(73.046875% 87.5% 70.703125%);
    --palOtherOutl1-78: rgb(72.265625% 87.109375% 69.921875%);
    --palOtherOutl1-79: rgb(71.484375% 86.328125% 69.53125%);
    --palOtherOutl1-80: rgb(70.703125% 85.9375% 68.75%);
    --palOtherOutl1-81: rgb(69.921875% 85.546875% 68.359375%);
    --palOtherOutl1-82: rgb(69.53125% 84.765625% 67.578125%);
    --palOtherOutl1-83: rgb(68.75% 84.375% 67.1875%);
    --palOtherOutl1-84: rgb(67.96875% 83.984375% 66.796875%);
    --palOtherOutl1-85: rgb(67.578125% 83.59375% 66.40625%);
    --palOtherOutl1-86: rgb(66.796875% 83.203125% 66.015625%);
    --palOtherOutl1-87: rgb(66.40625% 82.8125% 65.625%);
    --palOtherOutl1-88: rgb(65.625% 82.421875% 65.234375%);
    --palOtherOutl1-89: rgb(64.84375% 82.03125% 64.84375%);
    --palOtherOutl1-90: rgb(64.453125% 81.640625% 64.453125%);
    --palOtherOutl1-91: rgb(64.0625% 81.25% 64.0625%);
    --palOtherOutl1-92: rgb(63.28125% 80.46875% 63.671875%);
    --palOtherOutl1-93: rgb(62.890625% 80.078125% 63.28125%);
    --palOtherOutl1-94: rgb(62.5% 79.6875% 63.28125%);
    --palOtherOutl1-95: rgb(61.71875% 78.90625% 62.890625%);
    --palOtherOutl1-96: rgb(61.328125% 78.515625% 62.5%);
    --palOtherOutl1-97: rgb(60.9375% 78.125% 62.109375%);
    --palOtherOutl1-98: rgb(60.15625% 77.34375% 61.71875%);
    --palOtherOutl1-99: rgb(59.765625% 76.953125% 61.328125%);
    --palOtherOutl1-100: rgb(58.984375% 76.5625% 60.9375%);
    --palOtherOutl1-101: rgb(58.59375% 75.78125% 60.546875%);
    --palOtherOutl1-102: rgb(57.8125% 75.390625% 60.15625%);
    --palOtherOutl1-103: rgb(57.421875% 75% 59.765625%);
    --palOtherOutl1-104: rgb(56.640625% 74.609375% 59.375%);
    --palOtherOutl1-105: rgb(55.859375% 73.828125% 58.984375%);
    --palOtherOutl1-106: rgb(55.46875% 73.4375% 58.59375%);
    --palOtherOutl1-107: rgb(54.6875% 73.046875% 58.203125%);
    --palOtherOutl1-108: rgb(54.296875% 72.265625% 57.8125%);
    --palOtherOutl1-109: rgb(53.90625% 71.875% 57.421875%);
    --palOtherOutl1-110: rgb(53.125% 71.484375% 57.03125%);
    --palOtherOutl1-111: rgb(52.734375% 70.703125% 57.03125%);
    --palOtherOutl1-112: rgb(51.953125% 70.3125% 56.640625%);
    --palOtherOutl1-113: rgb(51.5625% 69.921875% 56.25%);
    --palOtherOutl1-114: rgb(50.78125% 69.140625% 55.859375%);
    --palOtherOutl1-115: rgb(50% 68.75% 55.46875%);
    --palOtherOutl1-116: rgb(49.609375% 67.96875% 55.078125%);
    --palOtherOutl1-117: rgb(48.828125% 67.578125% 54.6875%);
    --palOtherOutl1-118: rgb(48.046875% 67.1875% 53.90625%);
    --palOtherOutl1-119: rgb(47.65625% 66.40625% 53.515625%);
    --palOtherOutl1-120: rgb(46.875% 66.015625% 53.125%);
    --palOtherOutl1-121: rgb(46.09375% 65.234375% 52.734375%);
    --palOtherOutl1-122: rgb(45.3125% 64.453125% 52.34375%);
    --palOtherOutl1-123: rgb(44.53125% 63.28125% 51.5625%);
    --palOtherOutl1-124: rgb(43.75% 62.5% 50.78125%);
    --palOtherOutl1-125: rgb(42.96875% 61.71875% 50%);
    --palOtherOutl1-126: rgb(42.1875% 60.546875% 49.609375%);
    --palOtherOutl1-127: rgb(41.40625% 59.765625% 48.828125%);
    --palOtherOutl1-128: rgb(40.625% 58.984375% 48.046875%);
    --palOtherOutl1-129: rgb(40.234375% 48.4375% 58.203125%);
    --palOtherOutl1-130: rgb(41.015625% 49.21875% 58.984375%);
    --palOtherOutl1-131: rgb(41.796875% 50.390625% 60.15625%);
    --palOtherOutl1-132: rgb(42.578125% 51.5625% 61.328125%);
    --palOtherOutl1-133: rgb(43.75% 52.34375% 62.109375%);
    --palOtherOutl1-134: rgb(44.53125% 53.515625% 63.28125%);
    --palOtherOutl1-135: rgb(45.3125% 54.296875% 64.0625%);
    --palOtherOutl1-136: rgb(46.09375% 55.46875% 65.234375%);
    --palOtherOutl1-137: rgb(47.265625% 56.640625% 66.40625%);
    --palOtherOutl1-138: rgb(48.4375% 57.8125% 67.578125%);
    --palOtherOutl1-139: rgb(49.21875% 58.59375% 68.359375%);
    --palOtherOutl1-140: rgb(50.390625% 59.765625% 69.53125%);
    --palOtherOutl1-141: rgb(51.5625% 60.9375% 70.703125%);
    --palOtherOutl1-142: rgb(52.734375% 62.109375% 71.875%);
    --palOtherOutl1-143: rgb(53.515625% 62.890625% 72.65625%);
    --palOtherOutl1-144: rgb(54.6875% 64.0625% 73.828125%);
    --palOtherOutl1-145: rgb(55.078125% 64.453125% 74.21875%);
    --palOtherOutl1-146: rgb(55.859375% 65.234375% 74.609375%);
    --palOtherOutl1-147: rgb(56.25% 65.625% 75.390625%);
    --palOtherOutl1-148: rgb(57.03125% 66.40625% 75.78125%);
    --palOtherOutl1-149: rgb(57.421875% 66.796875% 76.171875%);
    --palOtherOutl1-150: rgb(57.8125% 67.1875% 76.953125%);
    --palOtherOutl1-151: rgb(58.59375% 67.96875% 77.34375%);
    --palOtherOutl1-152: rgb(58.984375% 68.359375% 77.734375%);
    --palOtherOutl1-153: rgb(59.765625% 69.140625% 78.515625%);
    --palOtherOutl1-154: rgb(60.15625% 69.921875% 78.90625%);
    --palOtherOutl1-155: rgb(60.9375% 70.703125% 79.296875%);
    --palOtherOutl1-156: rgb(61.71875% 71.09375% 79.6875%);
    --palOtherOutl1-157: rgb(62.109375% 71.875% 80.46875%);
    --palOtherOutl1-158: rgb(62.890625% 72.65625% 80.859375%);
    --palOtherOutl1-159: rgb(63.28125% 73.046875% 81.25%);
    --palOtherOutl1-160: rgb(63.671875% 73.4375% 81.640625%);
    --palOtherOutl1-161: rgb(64.0625% 73.828125% 82.03125%);
    --palOtherOutl1-162: rgb(64.84375% 74.609375% 82.8125%);
    --palOtherOutl1-163: rgb(65.234375% 75% 83.203125%);
    --palOtherOutl1-164: rgb(65.625% 75.390625% 83.59375%);
    --palOtherOutl1-165: rgb(66.015625% 75.78125% 83.984375%);
    --palOtherOutl1-166: rgb(66.40625% 76.171875% 84.375%);
    --palOtherOutl1-167: rgb(66.796875% 76.5625% 84.765625%);
    --palOtherOutl1-168: rgb(67.1875% 76.953125% 85.15625%);
    --palOtherOutl1-169: rgb(67.96875% 77.734375% 85.546875%);
    --palOtherOutl1-170: rgb(68.359375% 78.125% 86.328125%);
    --palOtherOutl1-171: rgb(69.140625% 78.90625% 86.71875%);
    --palOtherOutl1-172: rgb(69.53125% 79.296875% 87.109375%);
    --palOtherOutl1-173: rgb(69.921875% 79.6875% 87.890625%);
    --palOtherOutl1-174: rgb(70.703125% 80.46875% 88.28125%);
    --palOtherOutl1-175: rgb(71.09375% 80.859375% 88.671875%);
    --palOtherOutl1-176: rgb(71.484375% 81.25% 89.0625%);
    --palOtherOutl1-177: rgb(71.875% 81.640625% 89.453125%);
    --palOtherOutl1-178: rgb(72.265625% 82.03125% 89.84375%);
    --palOtherOutl1-179: rgb(72.65625% 82.421875% 90.234375%);
    --palOtherOutl1-180: rgb(73.046875% 82.8125% 90.625%);
    --palOtherOutl1-181: rgb(73.4375% 83.203125% 91.015625%);
    --palOtherOutl1-182: rgb(73.828125% 83.59375% 91.40625%);
    --palOtherOutl1-183: rgb(74.609375% 84.375% 91.796875%);
    --palOtherOutl1-184: rgb(75% 84.765625% 92.1875%);
    --palOtherOutl1-185: rgb(75.390625% 85.15625% 92.578125%);
    --palOtherOutl1-186: rgb(75.78125% 85.546875% 92.96875%);
    --palOtherOutl1-187: rgb(76.171875% 85.9375% 93.359375%);
    --palOtherOutl1-188: rgb(76.5625% 86.328125% 93.75%);
    --palOtherOutl1-189: rgb(77.34375% 87.109375% 94.140625%);
    --palOtherOutl1-190: rgb(77.734375% 87.5% 94.53125%);
    --palOtherOutl1-191: rgb(78.90625% 88.28125% 94.921875%);
    --palOtherOutl1-192: rgb(80.078125% 89.0625% 95.3125%);
    --palOtherOutl1-193: rgb(81.25% 89.84375% 95.703125%);
    --palOtherOutl1-194: rgb(82.03125% 90.234375% 96.09375%);
    --palOtherOutl1-195: rgb(83.203125% 91.015625% 96.484375%);
    --palOtherOutl1-196: rgb(84.375% 91.796875% 96.875%);
    --palOtherOutl1-197: rgb(85.546875% 92.578125% 97.265625%);
    --palOtherOutl1-198: rgb(86.71875% 93.359375% 97.65625%);
    --palOtherOutl1-199: rgb(87.890625% 93.75% 97.65625%);
    --palOtherOutl1-200: rgb(89.453125% 94.53125% 97.65625%);
    --palOtherOutl1-201: rgb(90.625% 95.3125% 97.65625%);
    --palOtherOutl1-202: rgb(92.1875% 95.703125% 98.046875%);
    --palOtherOutl1-203: rgb(93.359375% 96.484375% 98.046875%);
    --palOtherOutl1-204: rgb(94.921875% 97.265625% 98.046875%);
    --palOtherOutl1-205: rgb(96.09375% 98.046875% 98.046875%);
    --palOtherOutl1-206: rgb(87.109375% 96.484375% 96.09375%);
    --palOtherOutl1-207: rgb(78.90625% 95.703125% 94.53125%);
    --palOtherOutl1-208: rgb(73.046875% 95.3125% 93.75%);
    --palOtherOutl1-209: rgb(70.3125% 94.53125% 93.75%);
    --palOtherOutl1-210: rgb(67.578125% 93.75% 93.75%);
    --palOtherOutl1-211: rgb(62.5% 91.015625% 92.1875%);
    --palOtherOutl1-212: rgb(57.03125% 88.671875% 90.625%);
    --palOtherOutl1-213: rgb(52.734375% 86.328125% 89.453125%);
    --palOtherOutl1-214: rgb(49.21875% 84.375% 88.28125%);
    --palOtherOutl1-215: rgb(46.09375% 82.421875% 87.5%);
    --palOtherOutl1-216: rgb(44.921875% 80.078125% 86.328125%);
    --palOtherOutl1-217: rgb(43.75% 78.125% 85.546875%);
    --palOtherOutl1-218: rgb(42.578125% 75.390625% 83.984375%);
    --palOtherOutl1-219: rgb(39.84375% 72.265625% 82.03125%);
    --palOtherOutl1-220: rgb(37.5% 69.140625% 80.078125%);
    --palOtherOutl1-221: rgb(35.546875% 66.40625% 78.515625%);
    --palOtherOutl1-222: rgb(33.984375% 64.0625% 77.34375%);
    --palOtherOutl1-223: rgb(32.421875% 61.71875% 76.171875%);
    --palOtherOutl1-224: rgb(30.859375% 58.984375% 75.390625%);
    --palOtherOutl1-225: rgb(29.6875% 56.640625% 74.609375%);
    --palOtherOutl1-226: rgb(28.90625% 54.6875% 74.21875%);
    --palOtherOutl1-227: rgb(28.125% 52.734375% 73.4375%);
    --palOtherOutl1-228: rgb(27.734375% 51.171875% 73.046875%);
    --palOtherOutl1-229: rgb(27.34375% 49.21875% 72.65625%);
    --palOtherOutl1-230: rgb(26.5625% 47.65625% 71.875%);
    --palOtherOutl1-231: rgb(25.78125% 46.09375% 71.484375%);
    --palOtherOutl1-232: rgb(24.609375% 44.921875% 70.703125%);
    --palOtherOutl1-233: rgb(23.4375% 43.75% 70.3125%);
    --palOtherOutl1-234: rgb(22.265625% 42.578125% 69.53125%);
    --palOtherOutl1-235: rgb(21.09375% 41.015625% 68.75%);
    --palOtherOutl1-236: rgb(20.703125% 40.234375% 68.359375%);
    --palOtherOutl1-237: rgb(20.703125% 39.453125% 67.578125%);
    --palOtherOutl1-238: rgb(20.703125% 38.671875% 66.796875%);
    --palOtherOutl1-239: rgb(21.09375% 38.28125% 66.015625%);
    --palOtherOutl1-240: rgb(21.09375% 37.5% 65.234375%);
    --palOtherOutl1-241: rgb(21.09375% 36.71875% 64.0625%);
    --palOtherOutl1-242: rgb(20.703125% 35.546875% 62.890625%);
    --palOtherOutl1-243: rgb(20.3125% 34.375% 61.328125%);
    --palOtherOutl1-244: rgb(19.921875% 33.203125% 60.15625%);
    --palOtherOutl1-245: rgb(19.53125% 32.03125% 58.59375%);
    --palOtherOutl1-246: rgb(19.140625% 30.859375% 57.421875%);
    --palOtherOutl1-247: rgb(19.140625% 29.6875% 56.25%);
    --palOtherOutl1-248: rgb(18.75% 28.90625% 55.078125%);
    --palOtherOutl1-249: rgb(18.359375% 27.734375% 53.90625%);
    --palOtherOutl1-250: rgb(17.96875% 26.953125% 52.734375%);
    --palOtherOutl1-251: rgb(17.578125% 25.78125% 51.5625%);
    --palOtherOutl1-252: rgb(15.234375% 22.65625% 49.609375%);
    --palOtherOutl1-253: rgb(13.28125% 19.53125% 47.65625%);
    --palOtherOutl1-254: rgb(12.109375% 17.1875% 45.3125%);
    --palOtherOutl1-255: rgb(12.109375% 15.625% 42.578125%);
    --palOtherOutl1-256: rgb(12.109375% 14.0625% 39.84375%);
}
