/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPepper-1: rgb(24.309136% 1.863338% 8.934888%);
    --palPepper-2: rgb(24.804834% 1.832749% 9.05624%);
    --palPepper-3: rgb(25.300942% 1.797397% 9.171907%);
    --palPepper-4: rgb(25.797417% 1.75732% 9.281736%);
    --palPepper-5: rgb(26.294307% 1.712403% 9.385472%);
    --palPepper-6: rgb(26.791452% 1.662911% 9.483032%);
    --palPepper-7: rgb(27.288913% 1.608733% 9.574117%);
    --palPepper-8: rgb(27.786538% 1.550157% 9.658607%);
    --palPepper-9: rgb(28.284278% 1.487304% 9.73627%);
    --palPepper-10: rgb(28.782102% 1.420276% 9.806832%);
    --palPepper-11: rgb(29.279871% 1.349403% 9.870107%);
    --palPepper-12: rgb(29.777491% 1.274961% 9.925847%);
    --palPepper-13: rgb(30.274847% 1.197287% 9.973799%);
    --palPepper-14: rgb(30.771804% 1.116788% 10.013708%);
    --palPepper-15: rgb(31.268232% 1.0339% 10.045291%);
    --palPepper-16: rgb(31.763972% 0.94915% 10.068267%);
    --palPepper-17: rgb(32.2588% 0.863243% 10.082417%);
    --palPepper-18: rgb(32.752565% 0.776775% 10.087393%);
    --palPepper-19: rgb(33.244986% 0.690668% 10.083001%);
    --palPepper-20: rgb(33.735854% 0.60574% 10.068909%);
    --palPepper-21: rgb(34.224871% 0.52306% 10.044894%);
    --palPepper-22: rgb(34.711725% 0.443797% 10.010734%);
    --palPepper-23: rgb(35.196078% 0.369238% 9.966226%);
    --palPepper-24: rgb(35.677561% 0.300812% 9.911207%);
    --palPepper-25: rgb(36.155796% 0.240036% 9.845512%);
    --palPepper-26: rgb(36.630323% 0.188703% 9.769155%);
    --palPepper-27: rgb(37.10071% 0.148604% 9.682094%);
    --palPepper-28: rgb(37.566464% 0.121756% 9.584471%);
    --palPepper-29: rgb(38.027106% 0.110208% 9.476441%);
    --palPepper-30: rgb(38.482137% 0.116127% 9.358301%);
    --palPepper-31: rgb(38.931057% 0.141734% 9.230471%);
    --palPepper-32: rgb(39.373387% 0.189244% 9.093464%);
    --palPepper-33: rgb(39.808681% 0.260823% 8.947884%);
    --palPepper-34: rgb(40.236528% 0.358566% 8.794465%);
    --palPepper-35: rgb(40.656573% 0.484424% 8.634009%);
    --palPepper-36: rgb(41.06853% 0.640163% 8.467365%);
    --palPepper-37: rgb(41.472185% 0.827339% 8.295418%);
    --palPepper-38: rgb(41.867398% 1.047271% 8.11907%);
    --palPepper-39: rgb(42.254107% 1.301029% 7.939194%);
    --palPepper-40: rgb(42.632324% 1.589441% 7.75662%);
    --palPepper-41: rgb(43.002124% 1.913101% 7.572116%);
    --palPepper-42: rgb(43.363642% 2.272395% 7.386387%);
    --palPepper-43: rgb(43.717059% 2.667527% 7.200027%);
    --palPepper-44: rgb(44.062592% 3.098552% 7.013558%);
    --palPepper-45: rgb(44.400487% 3.565401% 6.827425%);
    --palPepper-46: rgb(44.731003% 4.067491% 6.641981%);
    --palPepper-47: rgb(45.054413% 4.575655% 6.457493%);
    --palPepper-48: rgb(45.37099% 5.080261% 6.274171%);
    --palPepper-49: rgb(45.681004% 5.581132% 6.092161%);
    --palPepper-50: rgb(45.984719% 6.078162% 5.911559%);
    --palPepper-51: rgb(46.282395% 6.57129% 5.732446%);
    --palPepper-52: rgb(46.574272% 7.060526% 5.554812%);
    --palPepper-53: rgb(46.860579% 7.54591% 5.378637%);
    --palPepper-54: rgb(47.14154% 8.027487% 5.203924%);
    --palPepper-55: rgb(47.417354% 8.505361% 5.030583%);
    --palPepper-56: rgb(47.688217% 8.979616% 4.858581%);
    --palPepper-57: rgb(47.9543% 9.450386% 4.687801%);
    --palPepper-58: rgb(48.215778% 9.917766% 4.518209%);
    --palPepper-59: rgb(48.4728% 10.381898% 4.349685%);
    --palPepper-60: rgb(48.725506% 10.842912% 4.182137%);
    --palPepper-61: rgb(48.974031% 11.300935% 4.01504%);
    --palPepper-62: rgb(49.218496% 11.756094% 3.84912%);
    --palPepper-63: rgb(49.459017% 12.208515% 3.687955%);
    --palPepper-64: rgb(49.695696% 12.658323% 3.531382%);
    --palPepper-65: rgb(49.928632% 13.105642% 3.379248%);
    --palPepper-66: rgb(50.157913% 13.550589% 3.231415%);
    --palPepper-67: rgb(50.383622% 13.993281% 3.087752%);
    --palPepper-68: rgb(50.605833% 14.433831% 2.948142%);
    --palPepper-69: rgb(50.824623% 14.872334% 2.812502%);
    --palPepper-70: rgb(51.040058% 15.308895% 2.680734%);
    --palPepper-71: rgb(51.25219% 15.743625% 2.552737%);
    --palPepper-72: rgb(51.461087% 16.1766% 2.428472%);
    --palPepper-73: rgb(51.666794% 16.607921% 2.307861%);
    --palPepper-74: rgb(51.86936% 17.037673% 2.190855%);
    --palPepper-75: rgb(52.068834% 17.465933% 2.077423%);
    --palPepper-76: rgb(52.265254% 17.892785% 1.967526%);
    --palPepper-77: rgb(52.458658% 18.318304% 1.86114%);
    --palPepper-78: rgb(52.649089% 18.742553% 1.758266%);
    --palPepper-79: rgb(52.836568% 19.165615% 1.658871%);
    --palPepper-80: rgb(53.021138% 19.587543% 1.562982%);
    --palPepper-81: rgb(53.202823% 20.008401% 1.4706%);
    --palPepper-82: rgb(53.381645% 20.428257% 1.381731%);
    --palPepper-83: rgb(53.557629% 20.847165% 1.296398%);
    --palPepper-84: rgb(53.730808% 21.26517% 1.214649%);
    --palPepper-85: rgb(53.901195% 21.682331% 1.136507%);
    --palPepper-86: rgb(54.068808% 22.098699% 1.06201%);
    --palPepper-87: rgb(54.233666% 22.514321% 0.991205%);
    --palPepper-88: rgb(54.395785% 22.929243% 0.924148%);
    --palPepper-89: rgb(54.555181% 23.343506% 0.860897%);
    --palPepper-90: rgb(54.711869% 23.757152% 0.801515%);
    --palPepper-91: rgb(54.86586% 24.17022% 0.746073%);
    --palPepper-92: rgb(55.017168% 24.582748% 0.694643%);
    --palPepper-93: rgb(55.165803% 24.994772% 0.647303%);
    --palPepper-94: rgb(55.311774% 25.406326% 0.604137%);
    --palPepper-95: rgb(55.455091% 25.817444% 0.565232%);
    --palPepper-96: rgb(55.595761% 26.228158% 0.530679%);
    --palPepper-97: rgb(55.733792% 26.638496% 0.500573%);
    --palPepper-98: rgb(55.869191% 27.04849% 0.475014%);
    --palPepper-99: rgb(56.001963% 27.458166% 0.454106%);
    --palPepper-100: rgb(56.132113% 27.867551% 0.437954%);
    --palPepper-101: rgb(56.259646% 28.27667% 0.42667%);
    --palPepper-102: rgb(56.38457% 28.685546% 0.42037%);
    --palPepper-103: rgb(56.506891% 29.094196% 0.419178%);
    --palPepper-104: rgb(56.626609% 29.50265% 0.423205%);
    --palPepper-105: rgb(56.743724% 29.910929% 0.432573%);
    --palPepper-106: rgb(56.85824% 30.319052% 0.44741%);
    --palPepper-107: rgb(56.970165% 30.727034% 0.467849%);
    --palPepper-108: rgb(57.079503% 31.134892% 0.494022%);
    --palPepper-109: rgb(57.186247% 31.54265% 0.526054%);
    --palPepper-110: rgb(57.2904% 31.950324% 0.564079%);
    --palPepper-111: rgb(57.391977% 32.357919% 0.608247%);
    --palPepper-112: rgb(57.490968% 32.76546% 0.658685%);
    --palPepper-113: rgb(57.587371% 33.172962% 0.715529%);
    --palPepper-114: rgb(57.681201% 33.58043% 0.77893%);
    --palPepper-115: rgb(57.772452% 33.987882% 0.849022%);
    --palPepper-116: rgb(57.861118% 34.395334% 0.925941%);
    --palPepper-117: rgb(57.947219% 34.802786% 1.009843%);
    --palPepper-118: rgb(58.030739% 35.21026% 1.100855%);
    --palPepper-119: rgb(58.111684% 35.617763% 1.19912%);
    --palPepper-120: rgb(58.190064% 36.025301% 1.304785%);
    --palPepper-121: rgb(58.265865% 36.432891% 1.417975%);
    --palPepper-122: rgb(58.339105% 36.840533% 1.538841%);
    --palPepper-123: rgb(58.409771% 37.248243% 1.667507%);
    --palPepper-124: rgb(58.477872% 37.656025% 1.804109%);
    --palPepper-125: rgb(58.543408% 38.063888% 1.948778%);
    --palPepper-126: rgb(58.606378% 38.471841% 2.101636%);
    --palPepper-127: rgb(58.666789% 38.879886% 2.262811%);
    --palPepper-128: rgb(58.724632% 39.288038% 2.432417%);
    --palPepper-129: rgb(58.779921% 39.696294% 2.610575%);
    --palPepper-130: rgb(58.832644% 40.10467% 2.797386%);
    --palPepper-131: rgb(58.882816% 40.513162% 2.992964%);
    --palPepper-132: rgb(58.930423% 40.921787% 3.197399%);
    --palPepper-133: rgb(58.97548% 41.330542% 3.410791%);
    --palPepper-134: rgb(59.017975% 41.739439% 3.633221%);
    --palPepper-135: rgb(59.057918% 42.148479% 3.864772%);
    --palPepper-136: rgb(59.095302% 42.557671% 4.104236%);
    --palPepper-137: rgb(59.130131% 42.96702% 4.34372%);
    --palPepper-138: rgb(59.162403% 43.37653% 4.583796%);
    --palPepper-139: rgb(59.192114% 43.786212% 4.82437%);
    --palPepper-140: rgb(59.21927% 44.196064% 5.065361%);
    --palPepper-141: rgb(59.243858% 44.606101% 5.30668%);
    --palPepper-142: rgb(59.26589% 45.01632% 5.548251%);
    --palPepper-143: rgb(59.285348% 45.426735% 5.78999%);
    --palPepper-144: rgb(59.302237% 45.837349% 6.031823%);
    --palPepper-145: rgb(59.31655% 46.248168% 6.273671%);
    --palPepper-146: rgb(59.328277% 46.659204% 6.515459%);
    --palPepper-147: rgb(59.337424% 47.070457% 6.757114%);
    --palPepper-148: rgb(59.34397% 47.48194% 6.99856%);
    --palPepper-149: rgb(59.347912% 47.89366% 7.239723%);
    --palPepper-150: rgb(59.349244% 48.305623% 7.480532%);
    --palPepper-151: rgb(59.347948% 48.717842% 7.720911%);
    --palPepper-152: rgb(59.344019% 49.130321% 7.960789%);
    --palPepper-153: rgb(59.337441% 49.543072% 8.200092%);
    --palPepper-154: rgb(59.328194% 49.956106% 8.438746%);
    --palPepper-155: rgb(59.316273% 50.369428% 8.67668%);
    --palPepper-156: rgb(59.301651% 50.783055% 8.913818%);
    --palPepper-157: rgb(59.284309% 51.196996% 9.150088%);
    --palPepper-158: rgb(59.264235% 51.611258% 9.385417%);
    --palPepper-159: rgb(59.241396% 52.025858% 9.61973%);
    --palPepper-160: rgb(59.215766% 52.440808% 9.852953%);
    --palPepper-161: rgb(59.187331% 52.856117% 10.085013%);
    --palPepper-162: rgb(59.156051% 53.271802% 10.315834%);
    --palPepper-163: rgb(59.121894% 53.687876% 10.545341%);
    --palPepper-164: rgb(59.084837% 54.104351% 10.77346%);
    --palPepper-165: rgb(59.044837% 54.521243% 11.000116%);
    --palPepper-166: rgb(59.001854% 54.938568% 11.225233%);
    --palPepper-167: rgb(58.955855% 55.35634% 11.448735%);
    --palPepper-168: rgb(58.906795% 55.774574% 11.670547%);
    --palPepper-169: rgb(58.854625% 56.193288% 11.890591%);
    --palPepper-170: rgb(58.799298% 56.612498% 12.108792%);
    --palPepper-171: rgb(58.740771% 57.03222% 12.325073%);
    --palPepper-172: rgb(58.678981% 57.452473% 12.539356%);
    --palPepper-173: rgb(58.613873% 57.873275% 12.751563%);
    --palPepper-174: rgb(58.545394% 58.294641% 12.961618%);
    --palPepper-175: rgb(58.473477% 58.716592% 13.169441%);
    --palPepper-176: rgb(58.398056% 59.139147% 13.374953%);
    --palPepper-177: rgb(58.319061% 59.562324% 13.578074%);
    --palPepper-178: rgb(58.236429% 59.986142% 13.778727%);
    --palPepper-179: rgb(58.150075% 60.410621% 13.976829%);
    --palPepper-180: rgb(58.059922% 60.835783% 14.172299%);
    --palPepper-181: rgb(57.96589% 61.261645% 14.365056%);
    --palPepper-182: rgb(57.867895% 61.688228% 14.555018%);
    --palPepper-183: rgb(57.765843% 62.115554% 14.742099%);
    --palPepper-184: rgb(57.659641% 62.543642% 14.926217%);
    --palPepper-185: rgb(57.549192% 62.972515% 15.107287%);
    --palPepper-186: rgb(57.434398% 63.40219% 15.285221%);
    --palPepper-187: rgb(57.315149% 63.832693% 15.459932%);
    --palPepper-188: rgb(57.191335% 64.264042% 15.631332%);
    --palPepper-189: rgb(57.062842% 64.69626% 15.79933%);
    --palPepper-190: rgb(56.929555% 65.129366% 15.963836%);
    --palPepper-191: rgb(56.791345% 65.563383% 16.124755%);
    --palPepper-192: rgb(56.648083% 65.998334% 16.281993%);
    --palPepper-193: rgb(56.499636% 66.434239% 16.435454%);
    --palPepper-194: rgb(56.345871% 66.871117% 16.58504%);
    --palPepper-195: rgb(56.186636% 67.308993% 16.73065%);
    --palPepper-196: rgb(56.021781% 67.747887% 16.872181%);
    --palPepper-197: rgb(55.851151% 68.187821% 17.009527%);
    --palPepper-198: rgb(55.674586% 68.628814% 17.142584%);
    --palPepper-199: rgb(55.491916% 69.070889% 17.271239%);
    --palPepper-200: rgb(55.302964% 69.514067% 17.395381%);
    --palPepper-201: rgb(55.107547% 69.958369% 17.514891%);
    --palPepper-202: rgb(54.905473% 70.403815% 17.629652%);
    --palPepper-203: rgb(54.696553% 70.850424% 17.739543%);
    --palPepper-204: rgb(54.480574% 71.298219% 17.844435%);
    --palPepper-205: rgb(54.257321% 71.74722% 17.944198%);
    --palPepper-206: rgb(54.02657% 72.197446% 18.038698%);
    --palPepper-207: rgb(53.788088% 72.648916% 18.127797%);
    --palPepper-208: rgb(53.54164% 73.10165% 18.211352%);
    --palPepper-209: rgb(53.286962% 73.555668% 18.289215%);
    --palPepper-210: rgb(53.023791% 74.010988% 18.361229%);
    --palPepper-211: rgb(52.751846% 74.467629% 18.427237%);
    --palPepper-212: rgb(52.470839% 74.92561% 18.487072%);
    --palPepper-213: rgb(52.180471% 75.384947% 18.540566%);
    --palPepper-214: rgb(51.880417% 75.845659% 18.587537%);
    --palPepper-215: rgb(51.570339% 76.307763% 18.627798%);
    --palPepper-216: rgb(51.249886% 76.771277% 18.661155%);
    --palPepper-217: rgb(50.918685% 77.236217% 18.687405%);
    --palPepper-218: rgb(50.576348% 77.702598% 18.706336%);
    --palPepper-219: rgb(50.222468% 78.170436% 18.71773%);
    --palPepper-220: rgb(49.856601% 78.639746% 18.72135%);
    --palPepper-221: rgb(49.478284% 79.110545% 18.716951%);
    --palPepper-222: rgb(49.08703% 79.582847% 18.704278%);
    --palPepper-223: rgb(48.682317% 80.056665% 18.683059%);
    --palPepper-224: rgb(48.263593% 80.532013% 18.65301%);
    --palPepper-225: rgb(47.830282% 81.008902% 18.613835%);
    --palPepper-226: rgb(47.381743% 81.487347% 18.565211%);
    --palPepper-227: rgb(46.917302% 81.967359% 18.5068%);
    --palPepper-228: rgb(46.436236% 82.448952% 18.438241%);
    --palPepper-229: rgb(45.937767% 82.932135% 18.359154%);
    --palPepper-230: rgb(45.421058% 83.416919% 18.26913%);
    --palPepper-231: rgb(44.885201% 83.903314% 18.167733%);
    --palPepper-232: rgb(44.329221% 84.391329% 18.054498%);
    --palPepper-233: rgb(43.75205% 84.880972% 17.928924%);
    --palPepper-234: rgb(43.152512% 85.372253% 17.790462%);
    --palPepper-235: rgb(42.529326% 85.86518% 17.638526%);
    --palPepper-236: rgb(41.881084% 86.35976% 17.472476%);
    --palPepper-237: rgb(41.20623% 86.856% 17.291617%);
    --palPepper-238: rgb(40.503036% 87.353906% 17.095189%);
    --palPepper-239: rgb(39.769574% 87.853483% 16.882354%);
    --palPepper-240: rgb(39.003682% 88.354737% 16.652189%);
    --palPepper-241: rgb(38.20292% 88.857672% 16.40367%);
    --palPepper-242: rgb(37.364516% 89.362293% 16.135653%);
    --palPepper-243: rgb(36.485299% 89.868601% 15.846859%);
    --palPepper-244: rgb(35.561615% 90.376599% 15.535841%);
    --palPepper-245: rgb(34.589207% 90.88629% 15.200954%);
    --palPepper-246: rgb(33.56306% 91.397675% 14.840307%);
    --palPepper-247: rgb(32.477213% 91.910757% 14.451714%);
    --palPepper-248: rgb(31.324486% 92.425534% 14.032627%);
    --palPepper-249: rgb(30.096083% 92.942009% 13.580031%);
    --palPepper-250: rgb(28.781045% 93.460179% 13.090324%);
    --palPepper-251: rgb(27.365414% 93.980045% 12.559132%);
    --palPepper-252: rgb(25.830942% 94.501603% 11.98105%);
    --palPepper-253: rgb(24.152998% 95.024853% 11.349274%);
    --palPepper-254: rgb(22.296933% 95.549793% 10.655012%);
    --palPepper-255: rgb(20.211288% 96.076418% 9.886573%);
    --palPepper-256: rgb(17.813682% 96.604726% 9.027807%);
}
