/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPhase-1: rgb(65.882353% 47.058824% 5.098039%);
    --palPhase-2: rgb(66.27451% 46.666667% 5.882353%);
    --palPhase-3: rgb(67.058824% 46.27451% 6.666667%);
    --palPhase-4: rgb(67.45098% 45.882353% 7.45098%);
    --palPhase-5: rgb(68.235294% 45.490196% 7.843137%);
    --palPhase-6: rgb(68.627451% 45.098039% 8.627451%);
    --palPhase-7: rgb(69.411765% 44.705882% 9.411765%);
    --palPhase-8: rgb(69.803922% 44.313725% 9.803922%);
    --palPhase-9: rgb(70.196078% 43.921569% 10.588235%);
    --palPhase-10: rgb(70.980392% 43.529412% 11.372549%);
    --palPhase-11: rgb(71.372549% 43.137255% 11.764706%);
    --palPhase-12: rgb(71.764706% 42.745098% 12.54902%);
    --palPhase-13: rgb(72.54902% 42.352941% 13.333333%);
    --palPhase-14: rgb(72.941176% 41.960784% 13.72549%);
    --palPhase-15: rgb(73.333333% 41.568627% 14.509804%);
    --palPhase-16: rgb(74.117647% 41.176471% 14.901961%);
    --palPhase-17: rgb(74.509804% 40.784314% 15.686275%);
    --palPhase-18: rgb(74.901961% 40.392157% 16.470588%);
    --palPhase-19: rgb(75.294118% 40% 16.862745%);
    --palPhase-20: rgb(75.686275% 39.607843% 17.647059%);
    --palPhase-21: rgb(76.078431% 39.215686% 18.039216%);
    --palPhase-22: rgb(76.862745% 38.431373% 18.823529%);
    --palPhase-23: rgb(77.254902% 38.039216% 19.607843%);
    --palPhase-24: rgb(77.647059% 37.647059% 20%);
    --palPhase-25: rgb(78.039216% 37.254902% 20.784314%);
    --palPhase-26: rgb(78.431373% 36.862745% 21.568627%);
    --palPhase-27: rgb(78.823529% 36.470588% 21.960784%);
    --palPhase-28: rgb(79.215686% 36.078431% 22.745098%);
    --palPhase-29: rgb(79.607843% 35.294118% 23.529412%);
    --palPhase-30: rgb(80% 34.901961% 24.313725%);
    --palPhase-31: rgb(80.392157% 34.509804% 24.705882%);
    --palPhase-32: rgb(80.784314% 34.117647% 25.490196%);
    --palPhase-33: rgb(81.176471% 33.72549% 26.27451%);
    --palPhase-34: rgb(81.568627% 32.941176% 27.058824%);
    --palPhase-35: rgb(81.568627% 32.54902% 27.843137%);
    --palPhase-36: rgb(81.960784% 32.156863% 28.627451%);
    --palPhase-37: rgb(82.352941% 31.764706% 29.411765%);
    --palPhase-38: rgb(82.745098% 30.980392% 30.196078%);
    --palPhase-39: rgb(83.137255% 30.588235% 30.980392%);
    --palPhase-40: rgb(83.529412% 30.196078% 31.764706%);
    --palPhase-41: rgb(83.529412% 29.411765% 32.54902%);
    --palPhase-42: rgb(83.921569% 29.019608% 33.333333%);
    --palPhase-43: rgb(84.313725% 28.627451% 34.117647%);
    --palPhase-44: rgb(84.705882% 27.843137% 35.294118%);
    --palPhase-45: rgb(84.705882% 27.45098% 36.078431%);
    --palPhase-46: rgb(85.098039% 27.058824% 36.862745%);
    --palPhase-47: rgb(85.098039% 26.27451% 38.039216%);
    --palPhase-48: rgb(85.490196% 25.882353% 38.823529%);
    --palPhase-49: rgb(85.882353% 25.098039% 40%);
    --palPhase-50: rgb(85.882353% 24.705882% 40.784314%);
    --palPhase-51: rgb(86.27451% 23.921569% 41.960784%);
    --palPhase-52: rgb(86.27451% 23.529412% 42.745098%);
    --palPhase-53: rgb(86.666667% 22.745098% 43.921569%);
    --palPhase-54: rgb(86.666667% 22.352941% 45.098039%);
    --palPhase-55: rgb(86.666667% 21.960784% 46.27451%);
    --palPhase-56: rgb(87.058824% 21.176471% 47.058824%);
    --palPhase-57: rgb(87.058824% 20.784314% 48.235294%);
    --palPhase-58: rgb(87.058824% 20% 49.411765%);
    --palPhase-59: rgb(87.058824% 19.607843% 50.588235%);
    --palPhase-60: rgb(87.45098% 19.215686% 51.764706%);
    --palPhase-61: rgb(87.45098% 18.431373% 52.941176%);
    --palPhase-62: rgb(87.45098% 18.039216% 54.117647%);
    --palPhase-63: rgb(87.45098% 17.647059% 55.294118%);
    --palPhase-64: rgb(87.45098% 16.862745% 56.470588%);
    --palPhase-65: rgb(87.45098% 16.470588% 57.647059%);
    --palPhase-66: rgb(87.058824% 16.078431% 59.215686%);
    --palPhase-67: rgb(87.058824% 15.686275% 60.392157%);
    --palPhase-68: rgb(87.058824% 15.686275% 61.568627%);
    --palPhase-69: rgb(87.058824% 15.294118% 62.745098%);
    --palPhase-70: rgb(86.666667% 14.901961% 63.921569%);
    --palPhase-71: rgb(86.666667% 14.901961% 65.098039%);
    --palPhase-72: rgb(86.27451% 14.509804% 66.27451%);
    --palPhase-73: rgb(86.27451% 14.509804% 67.843137%);
    --palPhase-74: rgb(85.882353% 14.509804% 69.019608%);
    --palPhase-75: rgb(85.490196% 14.509804% 70.196078%);
    --palPhase-76: rgb(85.490196% 14.901961% 71.372549%);
    --palPhase-77: rgb(85.098039% 14.901961% 72.54902%);
    --palPhase-78: rgb(84.705882% 15.294118% 73.72549%);
    --palPhase-79: rgb(84.313725% 15.294118% 74.509804%);
    --palPhase-80: rgb(83.921569% 15.686275% 75.686275%);
    --palPhase-81: rgb(83.529412% 16.078431% 76.862745%);
    --palPhase-82: rgb(83.137255% 16.470588% 78.039216%);
    --palPhase-83: rgb(82.745098% 16.862745% 78.823529%);
    --palPhase-84: rgb(82.352941% 17.647059% 80%);
    --palPhase-85: rgb(81.960784% 18.039216% 80.784314%);
    --palPhase-86: rgb(81.568627% 18.431373% 81.568627%);
    --palPhase-87: rgb(81.176471% 19.215686% 82.745098%);
    --palPhase-88: rgb(80.392157% 19.607843% 83.529412%);
    --palPhase-89: rgb(80% 20.392157% 84.313725%);
    --palPhase-90: rgb(79.607843% 20.784314% 85.098039%);
    --palPhase-91: rgb(78.823529% 21.568627% 85.882353%);
    --palPhase-92: rgb(78.431373% 22.352941% 86.666667%);
    --palPhase-93: rgb(77.647059% 22.745098% 87.45098%);
    --palPhase-94: rgb(77.254902% 23.529412% 88.235294%);
    --palPhase-95: rgb(76.470588% 24.313725% 88.627451%);
    --palPhase-96: rgb(76.078431% 24.705882% 89.411765%);
    --palPhase-97: rgb(75.294118% 25.490196% 89.803922%);
    --palPhase-98: rgb(74.509804% 26.27451% 90.588235%);
    --palPhase-99: rgb(74.117647% 27.058824% 90.980392%);
    --palPhase-100: rgb(73.333333% 27.45098% 91.372549%);
    --palPhase-101: rgb(72.54902% 28.235294% 92.156863%);
    --palPhase-102: rgb(72.156863% 29.019608% 92.54902%);
    --palPhase-103: rgb(71.372549% 29.411765% 92.941176%);
    --palPhase-104: rgb(70.588235% 30.196078% 93.333333%);
    --palPhase-105: rgb(69.803922% 30.980392% 93.72549%);
    --palPhase-106: rgb(69.019608% 31.372549% 93.72549%);
    --palPhase-107: rgb(68.235294% 32.156863% 94.117647%);
    --palPhase-108: rgb(67.45098% 32.941176% 94.509804%);
    --palPhase-109: rgb(66.666667% 33.333333% 94.509804%);
    --palPhase-110: rgb(66.27451% 34.117647% 94.901961%);
    --palPhase-111: rgb(65.490196% 34.901961% 95.294118%);
    --palPhase-112: rgb(64.313725% 35.294118% 95.294118%);
    --palPhase-113: rgb(63.529412% 36.078431% 95.294118%);
    --palPhase-114: rgb(62.745098% 36.470588% 95.686275%);
    --palPhase-115: rgb(61.960784% 37.254902% 95.686275%);
    --palPhase-116: rgb(61.176471% 37.647059% 95.686275%);
    --palPhase-117: rgb(60.392157% 38.431373% 95.686275%);
    --palPhase-118: rgb(59.607843% 38.823529% 95.686275%);
    --palPhase-119: rgb(58.431373% 39.607843% 95.686275%);
    --palPhase-120: rgb(57.647059% 40% 95.686275%);
    --palPhase-121: rgb(56.862745% 40.784314% 95.686275%);
    --palPhase-122: rgb(56.078431% 41.176471% 95.686275%);
    --palPhase-123: rgb(54.901961% 41.960784% 95.294118%);
    --palPhase-124: rgb(54.117647% 42.352941% 95.294118%);
    --palPhase-125: rgb(52.941176% 42.745098% 95.294118%);
    --palPhase-126: rgb(52.156863% 43.529412% 94.901961%);
    --palPhase-127: rgb(50.980392% 43.921569% 94.509804%);
    --palPhase-128: rgb(50.196078% 44.313725% 94.509804%);
    --palPhase-129: rgb(49.019608% 45.098039% 94.117647%);
    --palPhase-130: rgb(48.235294% 45.490196% 93.72549%);
    --palPhase-131: rgb(47.058824% 45.882353% 93.72549%);
    --palPhase-132: rgb(46.27451% 46.666667% 93.333333%);
    --palPhase-133: rgb(45.098039% 47.058824% 92.941176%);
    --palPhase-134: rgb(43.921569% 47.45098% 92.54902%);
    --palPhase-135: rgb(43.137255% 47.843137% 92.156863%);
    --palPhase-136: rgb(41.960784% 48.235294% 91.372549%);
    --palPhase-137: rgb(40.784314% 48.627451% 90.980392%);
    --palPhase-138: rgb(40% 49.411765% 90.588235%);
    --palPhase-139: rgb(38.823529% 49.803922% 90.196078%);
    --palPhase-140: rgb(37.647059% 50.196078% 89.411765%);
    --palPhase-141: rgb(36.470588% 50.588235% 89.019608%);
    --palPhase-142: rgb(35.294118% 50.980392% 88.235294%);
    --palPhase-143: rgb(34.509804% 51.372549% 87.45098%);
    --palPhase-144: rgb(33.333333% 51.764706% 87.058824%);
    --palPhase-145: rgb(32.156863% 52.156863% 86.27451%);
    --palPhase-146: rgb(30.980392% 52.54902% 85.490196%);
    --palPhase-147: rgb(30.196078% 52.941176% 84.705882%);
    --palPhase-148: rgb(29.019608% 52.941176% 84.313725%);
    --palPhase-149: rgb(27.843137% 53.333333% 83.529412%);
    --palPhase-150: rgb(27.058824% 53.72549% 82.745098%);
    --palPhase-151: rgb(25.882353% 54.117647% 81.960784%);
    --palPhase-152: rgb(25.098039% 54.117647% 81.176471%);
    --palPhase-153: rgb(23.921569% 54.509804% 80.392157%);
    --palPhase-154: rgb(23.137255% 54.901961% 79.607843%);
    --palPhase-155: rgb(21.960784% 54.901961% 78.823529%);
    --palPhase-156: rgb(21.176471% 55.294118% 78.039216%);
    --palPhase-157: rgb(20.392157% 55.686275% 76.862745%);
    --palPhase-158: rgb(19.607843% 55.686275% 76.078431%);
    --palPhase-159: rgb(18.823529% 56.078431% 75.294118%);
    --palPhase-160: rgb(18.039216% 56.078431% 74.509804%);
    --palPhase-161: rgb(17.254902% 56.470588% 73.72549%);
    --palPhase-162: rgb(16.470588% 56.470588% 72.941176%);
    --palPhase-163: rgb(15.686275% 56.862745% 72.156863%);
    --palPhase-164: rgb(15.294118% 56.862745% 71.372549%);
    --palPhase-165: rgb(14.509804% 56.862745% 70.588235%);
    --palPhase-166: rgb(14.117647% 57.254902% 69.803922%);
    --palPhase-167: rgb(13.72549% 57.254902% 69.019608%);
    --palPhase-168: rgb(12.941176% 57.254902% 68.235294%);
    --palPhase-169: rgb(12.54902% 57.647059% 67.45098%);
    --palPhase-170: rgb(12.156863% 57.647059% 66.666667%);
    --palPhase-171: rgb(11.764706% 57.647059% 65.882353%);
    --palPhase-172: rgb(11.372549% 58.039216% 65.098039%);
    --palPhase-173: rgb(10.980392% 58.039216% 64.313725%);
    --palPhase-174: rgb(10.588235% 58.039216% 63.529412%);
    --palPhase-175: rgb(10.196078% 58.039216% 62.745098%);
    --palPhase-176: rgb(9.803922% 58.431373% 61.960784%);
    --palPhase-177: rgb(9.803922% 58.431373% 61.176471%);
    --palPhase-178: rgb(9.411765% 58.431373% 60.392157%);
    --palPhase-179: rgb(9.019608% 58.431373% 59.607843%);
    --palPhase-180: rgb(8.627451% 58.823529% 58.823529%);
    --palPhase-181: rgb(8.235294% 58.823529% 58.039216%);
    --palPhase-182: rgb(7.843137% 58.823529% 57.254902%);
    --palPhase-183: rgb(7.843137% 58.823529% 56.470588%);
    --palPhase-184: rgb(7.45098% 59.215686% 55.686275%);
    --palPhase-185: rgb(7.058824% 59.215686% 54.901961%);
    --palPhase-186: rgb(6.666667% 59.215686% 54.117647%);
    --palPhase-187: rgb(6.27451% 59.215686% 53.333333%);
    --palPhase-188: rgb(5.882353% 59.215686% 52.54902%);
    --palPhase-189: rgb(5.490196% 59.607843% 51.764706%);
    --palPhase-190: rgb(5.098039% 59.607843% 50.980392%);
    --palPhase-191: rgb(5.098039% 59.607843% 50.196078%);
    --palPhase-192: rgb(4.705882% 59.607843% 49.411765%);
    --palPhase-193: rgb(4.705882% 59.607843% 48.627451%);
    --palPhase-194: rgb(4.313725% 60% 47.45098%);
    --palPhase-195: rgb(4.313725% 60% 46.666667%);
    --palPhase-196: rgb(4.313725% 60% 45.882353%);
    --palPhase-197: rgb(4.705882% 60% 45.098039%);
    --palPhase-198: rgb(5.098039% 60% 43.921569%);
    --palPhase-199: rgb(5.490196% 60% 43.137255%);
    --palPhase-200: rgb(5.882353% 60.392157% 41.960784%);
    --palPhase-201: rgb(6.666667% 60.392157% 41.176471%);
    --palPhase-202: rgb(7.45098% 60.392157% 40%);
    --palPhase-203: rgb(8.235294% 60.392157% 38.823529%);
    --palPhase-204: rgb(9.019608% 60.392157% 38.039216%);
    --palPhase-205: rgb(9.803922% 60.392157% 36.862745%);
    --palPhase-206: rgb(10.980392% 60.392157% 35.686275%);
    --palPhase-207: rgb(12.156863% 60.392157% 34.509804%);
    --palPhase-208: rgb(12.941176% 60.392157% 33.333333%);
    --palPhase-209: rgb(14.117647% 60.392157% 32.156863%);
    --palPhase-210: rgb(15.294118% 60.392157% 30.980392%);
    --palPhase-211: rgb(16.862745% 60.392157% 29.803922%);
    --palPhase-212: rgb(18.039216% 60.392157% 28.627451%);
    --palPhase-213: rgb(19.215686% 60% 27.45098%);
    --palPhase-214: rgb(20.784314% 60% 26.27451%);
    --palPhase-215: rgb(21.960784% 60% 25.098039%);
    --palPhase-216: rgb(23.529412% 60% 23.529412%);
    --palPhase-217: rgb(25.098039% 59.607843% 22.352941%);
    --palPhase-218: rgb(26.27451% 59.607843% 21.176471%);
    --palPhase-219: rgb(27.843137% 59.215686% 19.607843%);
    --palPhase-220: rgb(29.411765% 59.215686% 18.431373%);
    --palPhase-221: rgb(30.980392% 58.823529% 17.254902%);
    --palPhase-222: rgb(32.54902% 58.823529% 16.078431%);
    --palPhase-223: rgb(33.72549% 58.431373% 14.901961%);
    --palPhase-224: rgb(35.294118% 58.039216% 13.72549%);
    --palPhase-225: rgb(36.862745% 58.039216% 12.54902%);
    --palPhase-226: rgb(38.039216% 57.647059% 11.764706%);
    --palPhase-227: rgb(39.607843% 57.254902% 10.588235%);
    --palPhase-228: rgb(40.784314% 56.862745% 9.803922%);
    --palPhase-229: rgb(41.960784% 56.470588% 9.019608%);
    --palPhase-230: rgb(43.529412% 56.470588% 8.627451%);
    --palPhase-231: rgb(44.705882% 56.078431% 7.843137%);
    --palPhase-232: rgb(45.490196% 55.686275% 7.45098%);
    --palPhase-233: rgb(46.666667% 55.294118% 7.058824%);
    --palPhase-234: rgb(47.843137% 54.901961% 6.666667%);
    --palPhase-235: rgb(49.019608% 54.509804% 6.27451%);
    --palPhase-236: rgb(49.803922% 54.509804% 5.882353%);
    --palPhase-237: rgb(50.980392% 54.117647% 5.882353%);
    --palPhase-238: rgb(51.764706% 53.72549% 5.490196%);
    --palPhase-239: rgb(52.54902% 53.333333% 5.490196%);
    --palPhase-240: rgb(53.333333% 52.941176% 5.490196%);
    --palPhase-241: rgb(54.509804% 52.54902% 5.098039%);
    --palPhase-242: rgb(55.294118% 52.156863% 5.098039%);
    --palPhase-243: rgb(56.078431% 51.764706% 5.098039%);
    --palPhase-244: rgb(56.862745% 51.372549% 5.098039%);
    --palPhase-245: rgb(57.647059% 51.372549% 5.098039%);
    --palPhase-246: rgb(58.431373% 50.980392% 5.098039%);
    --palPhase-247: rgb(59.215686% 50.588235% 5.098039%);
    --palPhase-248: rgb(60% 50.196078% 5.098039%);
    --palPhase-249: rgb(60.784314% 49.803922% 5.098039%);
    --palPhase-250: rgb(61.568627% 49.411765% 5.098039%);
    --palPhase-251: rgb(62.352941% 49.019608% 5.098039%);
    --palPhase-252: rgb(63.137255% 48.627451% 5.098039%);
    --palPhase-253: rgb(63.529412% 48.235294% 5.098039%);
    --palPhase-254: rgb(64.313725% 47.843137% 5.098039%);
    --palPhase-255: rgb(65.098039% 47.45098% 5.098039%);
    --palPhase-256: rgb(65.882353% 47.058824% 5.098039%);
}
