/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palPink-1: rgb(11.78% 0% 0%);
    --palPink-2: rgb(19.5857% 10.2869% 10.2869%);
    --palPink-3: rgb(25.0661% 14.5479% 14.5479%);
    --palPink-4: rgb(29.5468% 17.8174% 17.8174%);
    --palPink-5: rgb(33.4324% 20.5738% 20.5738%);
    --palPink-6: rgb(36.9112% 23.0022% 23.0022%);
    --palPink-7: rgb(40.0892% 25.1976% 25.1976%);
    --palPink-8: rgb(43.0331% 27.2166% 27.2166%);
    --palPink-9: rgb(45.7882% 29.0957% 29.0957%);
    --palPink-10: rgb(48.3867% 30.8607% 30.8607%);
    --palPink-11: rgb(50.8525% 32.53% 32.53%);
    --palPink-12: rgb(53.2042% 34.1178% 34.1178%);
    --palPink-13: rgb(55.4563% 35.6348% 35.6348%);
    --palPink-14: rgb(57.6204% 37.0899% 37.0899%);
    --palPink-15: rgb(59.7061% 38.49% 38.49%);
    --palPink-16: rgb(61.7213% 39.841% 39.841%);
    --palPink-17: rgb(63.6729% 41.1476% 41.1476%);
    --palPink-18: rgb(65.5663% 42.4139% 42.4139%);
    --palPink-19: rgb(67.4066% 43.6436% 43.6436%);
    --palPink-20: rgb(69.198% 44.8395% 44.8395%);
    --palPink-21: rgb(70.9441% 46.0044% 46.0044%);
    --palPink-22: rgb(72.6483% 47.1405% 47.1405%);
    --palPink-23: rgb(74.3134% 48.2498% 48.2498%);
    --palPink-24: rgb(75.9421% 49.3342% 49.3342%);
    --palPink-25: rgb(76.6356% 51.7549% 50.3953%);
    --palPink-26: rgb(77.3229% 54.0674% 51.4344%);
    --palPink-27: rgb(78.0042% 56.2849% 52.4531%);
    --palPink-28: rgb(78.6796% 58.4183% 53.4522%);
    --palPink-29: rgb(79.3492% 60.4765% 54.4331%);
    --palPink-30: rgb(80.0132% 62.4669% 55.3966%);
    --palPink-31: rgb(80.6718% 64.3958% 56.3436%);
    --palPink-32: rgb(81.325% 66.2687% 57.275%);
    --palPink-33: rgb(81.973% 68.09% 58.1914%);
    --palPink-34: rgb(82.616% 69.8638% 59.0937%);
    --palPink-35: rgb(83.2539% 71.5937% 59.9824%);
    --palPink-36: rgb(83.887% 73.2828% 60.8581%);
    --palPink-37: rgb(84.5154% 74.9338% 61.7213%);
    --palPink-38: rgb(85.1392% 76.5493% 62.5727%);
    --palPink-39: rgb(85.7584% 78.1313% 63.4126%);
    --palPink-40: rgb(86.3731% 79.6819% 64.2416%);
    --palPink-41: rgb(86.9835% 81.2029% 65.06%);
    --palPink-42: rgb(87.5897% 82.696% 65.8682%);
    --palPink-43: rgb(88.1917% 84.1625% 66.6667%);
    --palPink-44: rgb(88.7896% 85.604% 67.4556%);
    --palPink-45: rgb(89.3835% 87.0216% 68.2355%);
    --palPink-46: rgb(89.9735% 88.4164% 69.0066%);
    --palPink-47: rgb(90.5597% 89.7896% 69.7691%);
    --palPink-48: rgb(91.1421% 91.1421% 70.5234%);
    --palPink-49: rgb(91.7208% 91.7208% 72.7166%);
    --palPink-50: rgb(92.2958% 92.2958% 74.8455%);
    --palPink-51: rgb(92.8673% 92.8673% 76.9156%);
    --palPink-52: rgb(93.4353% 93.4353% 78.9314%);
    --palPink-53: rgb(93.9999% 93.9999% 80.8969%);
    --palPink-54: rgb(94.5611% 94.5611% 82.8159%);
    --palPink-55: rgb(95.119% 95.119% 84.6913%);
    --palPink-56: rgb(95.6736% 95.6736% 86.5261%);
    --palPink-57: rgb(96.225% 96.225% 88.3229%);
    --palPink-58: rgb(96.7733% 96.7733% 90.0837%);
    --palPink-59: rgb(97.3185% 97.3185% 91.8109%);
    --palPink-60: rgb(97.8607% 97.8607% 93.5061%);
    --palPink-61: rgb(98.3999% 98.3999% 95.1711%);
    --palPink-62: rgb(98.9361% 98.9361% 96.8075%);
    --palPink-63: rgb(99.4695% 99.4695% 98.4167%);
    --palPink-64: rgb(100% 100% 100%);
}
