/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palPinkgreen-1: rgb(85.8824% 50.5882% 68.2353%);
    --palPinkgreen-2: rgb(85.098% 50.1961% 67.8431%);
    --palPinkgreen-3: rgb(84.7059% 49.8039% 67.451%);
    --palPinkgreen-4: rgb(83.9216% 49.4118% 66.6667%);
    --palPinkgreen-5: rgb(83.1373% 49.4118% 66.2745%);
    --palPinkgreen-6: rgb(82.7451% 49.0196% 65.8824%);
    --palPinkgreen-7: rgb(81.9608% 48.6275% 65.4902%);
    --palPinkgreen-8: rgb(81.1765% 48.2353% 65.098%);
    --palPinkgreen-9: rgb(80.7843% 47.8431% 64.3137%);
    --palPinkgreen-10: rgb(80% 47.8431% 63.9216%);
    --palPinkgreen-11: rgb(79.2157% 47.451% 63.5294%);
    --palPinkgreen-12: rgb(78.8235% 47.0588% 63.1373%);
    --palPinkgreen-13: rgb(78.0392% 46.6667% 62.3529%);
    --palPinkgreen-14: rgb(77.2549% 46.2745% 61.9608%);
    --palPinkgreen-15: rgb(76.8627% 45.8824% 61.5686%);
    --palPinkgreen-16: rgb(76.0784% 45.8824% 61.1765%);
    --palPinkgreen-17: rgb(75.2941% 45.4902% 60.7843%);
    --palPinkgreen-18: rgb(74.902% 45.098% 60%);
    --palPinkgreen-19: rgb(74.1176% 44.7059% 59.6078%);
    --palPinkgreen-20: rgb(73.3333% 44.3137% 59.2157%);
    --palPinkgreen-21: rgb(72.9412% 43.9216% 58.8235%);
    --palPinkgreen-22: rgb(72.1569% 43.9216% 58.4314%);
    --palPinkgreen-23: rgb(71.3725% 43.5294% 58.0392%);
    --palPinkgreen-24: rgb(70.9804% 43.1373% 57.2549%);
    --palPinkgreen-25: rgb(70.1961% 42.7451% 56.8627%);
    --palPinkgreen-26: rgb(69.4118% 42.3529% 56.4706%);
    --palPinkgreen-27: rgb(69.0196% 42.3529% 56.0784%);
    --palPinkgreen-28: rgb(68.2353% 41.9608% 55.6863%);
    --palPinkgreen-29: rgb(67.8431% 41.5686% 54.902%);
    --palPinkgreen-30: rgb(67.0588% 41.1765% 54.5098%);
    --palPinkgreen-31: rgb(66.2745% 40.7843% 54.1176%);
    --palPinkgreen-32: rgb(65.8824% 40.3922% 53.7255%);
    --palPinkgreen-33: rgb(65.098% 40.3922% 53.3333%);
    --palPinkgreen-34: rgb(64.7059% 40% 52.9412%);
    --palPinkgreen-35: rgb(63.9216% 39.6078% 52.1569%);
    --palPinkgreen-36: rgb(63.1373% 39.2157% 51.7647%);
    --palPinkgreen-37: rgb(62.7451% 38.8235% 51.3725%);
    --palPinkgreen-38: rgb(61.9608% 38.8235% 50.9804%);
    --palPinkgreen-39: rgb(61.5686% 38.4314% 50.5882%);
    --palPinkgreen-40: rgb(60.7843% 38.0392% 50.1961%);
    --palPinkgreen-41: rgb(60% 37.6471% 49.8039%);
    --palPinkgreen-42: rgb(59.6078% 37.2549% 49.0196%);
    --palPinkgreen-43: rgb(58.8235% 37.2549% 48.6275%);
    --palPinkgreen-44: rgb(58.4314% 36.8627% 48.2353%);
    --palPinkgreen-45: rgb(57.6471% 36.4706% 47.8431%);
    --palPinkgreen-46: rgb(56.8627% 36.0784% 47.451%);
    --palPinkgreen-47: rgb(56.4706% 35.6863% 47.0588%);
    --palPinkgreen-48: rgb(55.6863% 35.6863% 46.6667%);
    --palPinkgreen-49: rgb(55.2941% 35.2941% 45.8824%);
    --palPinkgreen-50: rgb(54.5098% 34.902% 45.4902%);
    --palPinkgreen-51: rgb(54.1176% 34.5098% 45.098%);
    --palPinkgreen-52: rgb(53.3333% 34.1176% 44.7059%);
    --palPinkgreen-53: rgb(52.549% 34.1176% 44.3137%);
    --palPinkgreen-54: rgb(52.1569% 33.7255% 43.9216%);
    --palPinkgreen-55: rgb(51.3725% 33.3333% 43.5294%);
    --palPinkgreen-56: rgb(50.9804% 32.9412% 43.1373%);
    --palPinkgreen-57: rgb(50.1961% 32.549% 42.3529%);
    --palPinkgreen-58: rgb(49.8039% 32.549% 41.9608%);
    --palPinkgreen-59: rgb(49.0196% 32.1569% 41.5686%);
    --palPinkgreen-60: rgb(48.6275% 31.7647% 41.1765%);
    --palPinkgreen-61: rgb(47.8431% 31.3725% 40.7843%);
    --palPinkgreen-62: rgb(47.451% 31.3725% 40.3922%);
    --palPinkgreen-63: rgb(46.6667% 30.9804% 40%);
    --palPinkgreen-64: rgb(46.2745% 30.5882% 39.6078%);
    --palPinkgreen-65: rgb(45.4902% 30.1961% 39.2157%);
    --palPinkgreen-66: rgb(45.098% 29.8039% 38.4314%);
    --palPinkgreen-67: rgb(44.3137% 29.8039% 38.0392%);
    --palPinkgreen-68: rgb(43.5294% 29.4118% 37.6471%);
    --palPinkgreen-69: rgb(43.1373% 29.0196% 37.2549%);
    --palPinkgreen-70: rgb(42.3529% 28.6275% 36.8627%);
    --palPinkgreen-71: rgb(41.9608% 28.6275% 36.4706%);
    --palPinkgreen-72: rgb(41.1765% 28.2353% 36.0784%);
    --palPinkgreen-73: rgb(40.7843% 27.8431% 35.6863%);
    --palPinkgreen-74: rgb(40% 27.451% 35.2941%);
    --palPinkgreen-75: rgb(39.6078% 27.0588% 34.902%);
    --palPinkgreen-76: rgb(39.2157% 27.0588% 34.5098%);
    --palPinkgreen-77: rgb(38.4314% 26.6667% 33.7255%);
    --palPinkgreen-78: rgb(38.0392% 26.2745% 33.3333%);
    --palPinkgreen-79: rgb(37.2549% 25.8824% 32.9412%);
    --palPinkgreen-80: rgb(36.8627% 25.8824% 32.549%);
    --palPinkgreen-81: rgb(36.0784% 25.4902% 32.1569%);
    --palPinkgreen-82: rgb(35.6863% 25.098% 31.7647%);
    --palPinkgreen-83: rgb(34.902% 24.7059% 31.3725%);
    --palPinkgreen-84: rgb(34.5098% 24.7059% 30.9804%);
    --palPinkgreen-85: rgb(33.7255% 24.3137% 30.5882%);
    --palPinkgreen-86: rgb(33.3333% 23.9216% 30.1961%);
    --palPinkgreen-87: rgb(32.549% 23.5294% 29.8039%);
    --palPinkgreen-88: rgb(32.1569% 23.5294% 29.4118%);
    --palPinkgreen-89: rgb(31.7647% 23.1373% 29.0196%);
    --palPinkgreen-90: rgb(30.9804% 22.7451% 28.6275%);
    --palPinkgreen-91: rgb(30.5882% 22.3529% 28.2353%);
    --palPinkgreen-92: rgb(29.8039% 21.9608% 27.8431%);
    --palPinkgreen-93: rgb(29.4118% 21.9608% 27.451%);
    --palPinkgreen-94: rgb(28.6275% 21.5686% 26.6667%);
    --palPinkgreen-95: rgb(28.2353% 21.1765% 26.2745%);
    --palPinkgreen-96: rgb(27.8431% 20.7843% 25.8824%);
    --palPinkgreen-97: rgb(27.0588% 20.7843% 25.4902%);
    --palPinkgreen-98: rgb(26.6667% 20.3922% 25.098%);
    --palPinkgreen-99: rgb(25.8824% 20% 24.7059%);
    --palPinkgreen-100: rgb(25.4902% 19.6078% 24.3137%);
    --palPinkgreen-101: rgb(25.098% 19.6078% 23.9216%);
    --palPinkgreen-102: rgb(24.3137% 19.2157% 23.5294%);
    --palPinkgreen-103: rgb(23.9216% 18.8235% 23.1373%);
    --palPinkgreen-104: rgb(23.1373% 18.8235% 22.7451%);
    --palPinkgreen-105: rgb(22.7451% 18.4314% 22.3529%);
    --palPinkgreen-106: rgb(22.3529% 18.0392% 21.9608%);
    --palPinkgreen-107: rgb(21.5686% 17.6471% 21.5686%);
    --palPinkgreen-108: rgb(21.1765% 17.6471% 21.1765%);
    --palPinkgreen-109: rgb(20.3922% 17.2549% 20.7843%);
    --palPinkgreen-110: rgb(20% 16.8627% 20.3922%);
    --palPinkgreen-111: rgb(19.6078% 16.4706% 20%);
    --palPinkgreen-112: rgb(18.8235% 16.4706% 19.6078%);
    --palPinkgreen-113: rgb(18.4314% 16.0784% 19.2157%);
    --palPinkgreen-114: rgb(18.0392% 15.6863% 18.8235%);
    --palPinkgreen-115: rgb(17.2549% 15.2941% 18.4314%);
    --palPinkgreen-116: rgb(16.8627% 15.2941% 18.0392%);
    --palPinkgreen-117: rgb(16.4706% 14.902% 17.6471%);
    --palPinkgreen-118: rgb(15.6863% 14.5098% 17.2549%);
    --palPinkgreen-119: rgb(15.2941% 14.5098% 17.2549%);
    --palPinkgreen-120: rgb(14.902% 14.1176% 16.8627%);
    --palPinkgreen-121: rgb(14.1176% 13.7255% 16.4706%);
    --palPinkgreen-122: rgb(13.7255% 13.3333% 16.0784%);
    --palPinkgreen-123: rgb(13.3333% 13.3333% 15.6863%);
    --palPinkgreen-124: rgb(12.549% 12.9412% 15.2941%);
    --palPinkgreen-125: rgb(12.1569% 12.549% 14.902%);
    --palPinkgreen-126: rgb(11.7647% 12.1569% 14.5098%);
    --palPinkgreen-127: rgb(10.9804% 12.1569% 14.1176%);
    --palPinkgreen-128: rgb(10.5882% 11.7647% 13.7255%);
    --palPinkgreen-129: rgb(10.9804% 12.1569% 14.1176%);
    --palPinkgreen-130: rgb(11.3725% 12.549% 14.1176%);
    --palPinkgreen-131: rgb(11.3725% 12.9412% 14.5098%);
    --palPinkgreen-132: rgb(11.7647% 13.3333% 14.5098%);
    --palPinkgreen-133: rgb(12.1569% 13.7255% 14.902%);
    --palPinkgreen-134: rgb(12.549% 14.1176% 14.902%);
    --palPinkgreen-135: rgb(12.549% 14.5098% 15.2941%);
    --palPinkgreen-136: rgb(12.9412% 14.902% 15.2941%);
    --palPinkgreen-137: rgb(13.3333% 15.2941% 15.6863%);
    --palPinkgreen-138: rgb(13.7255% 16.0784% 15.6863%);
    --palPinkgreen-139: rgb(13.7255% 16.4706% 16.0784%);
    --palPinkgreen-140: rgb(14.1176% 16.8627% 16.0784%);
    --palPinkgreen-141: rgb(14.5098% 17.2549% 16.4706%);
    --palPinkgreen-142: rgb(14.902% 17.6471% 16.8627%);
    --palPinkgreen-143: rgb(14.902% 18.0392% 16.8627%);
    --palPinkgreen-144: rgb(15.2941% 18.4314% 17.2549%);
    --palPinkgreen-145: rgb(15.6863% 18.8235% 17.2549%);
    --palPinkgreen-146: rgb(16.0784% 19.2157% 17.6471%);
    --palPinkgreen-147: rgb(16.0784% 19.6078% 17.6471%);
    --palPinkgreen-148: rgb(16.4706% 20% 18.0392%);
    --palPinkgreen-149: rgb(16.8627% 20.7843% 18.0392%);
    --palPinkgreen-150: rgb(17.2549% 21.1765% 18.4314%);
    --palPinkgreen-151: rgb(17.2549% 21.5686% 18.4314%);
    --palPinkgreen-152: rgb(17.6471% 21.9608% 18.8235%);
    --palPinkgreen-153: rgb(18.0392% 22.3529% 18.8235%);
    --palPinkgreen-154: rgb(18.4314% 22.7451% 19.2157%);
    --palPinkgreen-155: rgb(18.4314% 23.1373% 19.6078%);
    --palPinkgreen-156: rgb(18.8235% 23.5294% 19.6078%);
    --palPinkgreen-157: rgb(19.2157% 24.3137% 20%);
    --palPinkgreen-158: rgb(19.6078% 24.7059% 20%);
    --palPinkgreen-159: rgb(20% 25.098% 20.3922%);
    --palPinkgreen-160: rgb(20% 25.4902% 20.3922%);
    --palPinkgreen-161: rgb(20.3922% 25.8824% 20.7843%);
    --palPinkgreen-162: rgb(20.7843% 26.2745% 20.7843%);
    --palPinkgreen-163: rgb(21.1765% 26.6667% 21.1765%);
    --palPinkgreen-164: rgb(21.1765% 27.451% 21.1765%);
    --palPinkgreen-165: rgb(21.5686% 27.8431% 21.5686%);
    --palPinkgreen-166: rgb(21.9608% 28.2353% 21.9608%);
    --palPinkgreen-167: rgb(22.3529% 28.6275% 21.9608%);
    --palPinkgreen-168: rgb(22.3529% 29.0196% 22.3529%);
    --palPinkgreen-169: rgb(22.7451% 29.4118% 22.3529%);
    --palPinkgreen-170: rgb(23.1373% 30.1961% 22.7451%);
    --palPinkgreen-171: rgb(23.5294% 30.5882% 22.7451%);
    --palPinkgreen-172: rgb(23.9216% 30.9804% 23.1373%);
    --palPinkgreen-173: rgb(23.9216% 31.3725% 23.1373%);
    --palPinkgreen-174: rgb(24.3137% 31.7647% 23.5294%);
    --palPinkgreen-175: rgb(24.7059% 32.549% 23.5294%);
    --palPinkgreen-176: rgb(25.098% 32.9412% 23.9216%);
    --palPinkgreen-177: rgb(25.098% 33.3333% 24.3137%);
    --palPinkgreen-178: rgb(25.4902% 33.7255% 24.3137%);
    --palPinkgreen-179: rgb(25.8824% 34.1176% 24.7059%);
    --palPinkgreen-180: rgb(26.2745% 34.902% 24.7059%);
    --palPinkgreen-181: rgb(26.6667% 35.2941% 25.098%);
    --palPinkgreen-182: rgb(26.6667% 35.6863% 25.098%);
    --palPinkgreen-183: rgb(27.0588% 36.0784% 25.4902%);
    --palPinkgreen-184: rgb(27.451% 36.4706% 25.4902%);
    --palPinkgreen-185: rgb(27.8431% 37.2549% 25.8824%);
    --palPinkgreen-186: rgb(28.2353% 37.6471% 25.8824%);
    --palPinkgreen-187: rgb(28.2353% 38.0392% 26.2745%);
    --palPinkgreen-188: rgb(28.6275% 38.4314% 26.6667%);
    --palPinkgreen-189: rgb(29.0196% 39.2157% 26.6667%);
    --palPinkgreen-190: rgb(29.4118% 39.6078% 27.0588%);
    --palPinkgreen-191: rgb(29.8039% 40% 27.0588%);
    --palPinkgreen-192: rgb(29.8039% 40.3922% 27.451%);
    --palPinkgreen-193: rgb(30.1961% 41.1765% 27.451%);
    --palPinkgreen-194: rgb(30.5882% 41.5686% 27.8431%);
    --palPinkgreen-195: rgb(30.9804% 41.9608% 27.8431%);
    --palPinkgreen-196: rgb(30.9804% 42.3529% 28.2353%);
    --palPinkgreen-197: rgb(31.3725% 42.7451% 28.6275%);
    --palPinkgreen-198: rgb(31.7647% 43.5294% 28.6275%);
    --palPinkgreen-199: rgb(32.1569% 43.9216% 29.0196%);
    --palPinkgreen-200: rgb(32.549% 44.3137% 29.0196%);
    --palPinkgreen-201: rgb(32.549% 45.098% 29.4118%);
    --palPinkgreen-202: rgb(32.9412% 45.4902% 29.4118%);
    --palPinkgreen-203: rgb(33.3333% 45.8824% 29.8039%);
    --palPinkgreen-204: rgb(33.7255% 46.2745% 29.8039%);
    --palPinkgreen-205: rgb(34.1176% 47.0588% 30.1961%);
    --palPinkgreen-206: rgb(34.5098% 47.451% 30.1961%);
    --palPinkgreen-207: rgb(34.5098% 47.8431% 30.5882%);
    --palPinkgreen-208: rgb(34.902% 48.2353% 30.9804%);
    --palPinkgreen-209: rgb(35.2941% 49.0196% 30.9804%);
    --palPinkgreen-210: rgb(35.6863% 49.4118% 31.3725%);
    --palPinkgreen-211: rgb(36.0784% 49.8039% 31.3725%);
    --palPinkgreen-212: rgb(36.0784% 50.5882% 31.7647%);
    --palPinkgreen-213: rgb(36.4706% 50.9804% 31.7647%);
    --palPinkgreen-214: rgb(36.8627% 51.3725% 32.1569%);
    --palPinkgreen-215: rgb(37.2549% 51.7647% 32.1569%);
    --palPinkgreen-216: rgb(37.6471% 52.549% 32.549%);
    --palPinkgreen-217: rgb(37.6471% 52.9412% 32.9412%);
    --palPinkgreen-218: rgb(38.0392% 53.3333% 32.9412%);
    --palPinkgreen-219: rgb(38.4314% 54.1176% 33.3333%);
    --palPinkgreen-220: rgb(38.8235% 54.5098% 33.3333%);
    --palPinkgreen-221: rgb(39.2157% 54.902% 33.7255%);
    --palPinkgreen-222: rgb(39.6078% 55.6863% 33.7255%);
    --palPinkgreen-223: rgb(39.6078% 56.0784% 34.1176%);
    --palPinkgreen-224: rgb(40% 56.4706% 34.5098%);
    --palPinkgreen-225: rgb(40.3922% 57.2549% 34.5098%);
    --palPinkgreen-226: rgb(40.7843% 57.6471% 34.902%);
    --palPinkgreen-227: rgb(41.1765% 58.0392% 34.902%);
    --palPinkgreen-228: rgb(41.1765% 58.4314% 35.2941%);
    --palPinkgreen-229: rgb(41.5686% 59.2157% 35.2941%);
    --palPinkgreen-230: rgb(41.9608% 59.6078% 35.6863%);
    --palPinkgreen-231: rgb(42.3529% 60% 35.6863%);
    --palPinkgreen-232: rgb(42.7451% 60.7843% 36.0784%);
    --palPinkgreen-233: rgb(43.1373% 61.1765% 36.4706%);
    --palPinkgreen-234: rgb(43.1373% 61.5686% 36.4706%);
    --palPinkgreen-235: rgb(43.5294% 62.3529% 36.8627%);
    --palPinkgreen-236: rgb(43.9216% 62.7451% 36.8627%);
    --palPinkgreen-237: rgb(44.3137% 63.1373% 37.2549%);
    --palPinkgreen-238: rgb(44.7059% 63.9216% 37.2549%);
    --palPinkgreen-239: rgb(45.098% 64.3137% 37.6471%);
    --palPinkgreen-240: rgb(45.098% 65.098% 38.0392%);
    --palPinkgreen-241: rgb(45.4902% 65.4902% 38.0392%);
    --palPinkgreen-242: rgb(45.8824% 65.8824% 38.4314%);
    --palPinkgreen-243: rgb(46.2745% 66.6667% 38.4314%);
    --palPinkgreen-244: rgb(46.6667% 67.0588% 38.8235%);
    --palPinkgreen-245: rgb(47.0588% 67.451% 38.8235%);
    --palPinkgreen-246: rgb(47.0588% 68.2353% 39.2157%);
    --palPinkgreen-247: rgb(47.451% 68.6275% 39.2157%);
    --palPinkgreen-248: rgb(47.8431% 69.0196% 39.6078%);
    --palPinkgreen-249: rgb(48.2353% 69.8039% 40%);
    --palPinkgreen-250: rgb(48.6275% 70.1961% 40%);
    --palPinkgreen-251: rgb(49.0196% 70.9804% 40.3922%);
    --palPinkgreen-252: rgb(49.0196% 71.3725% 40.3922%);
    --palPinkgreen-253: rgb(49.4118% 71.7647% 40.7843%);
    --palPinkgreen-254: rgb(49.8039% 72.549% 40.7843%);
    --palPinkgreen-255: rgb(50.1961% 72.9412% 41.1765%);
}
