/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPiYG-1: rgb(55.686275% 0.392157% 32.156863%);
    --palPiYG-2: rgb(77.254902% 10.588235% 49.019608%);
    --palPiYG-3: rgb(87.058824% 46.666667% 68.235294%);
    --palPiYG-4: rgb(94.509804% 71.372549% 85.490196%);
    --palPiYG-5: rgb(99.215686% 87.843137% 93.72549%);
    --palPiYG-6: rgb(96.862745% 96.862745% 96.862745%);
    --palPiYG-7: rgb(90.196078% 96.078431% 81.568627%);
    --palPiYG-8: rgb(72.156863% 88.235294% 52.54902%);
    --palPiYG-9: rgb(49.803922% 73.72549% 25.490196%);
    --palPiYG-10: rgb(30.196078% 57.254902% 12.941176%);
    --palPiYG-11: rgb(15.294118% 39.215686% 9.803922%);
}
