/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPlasma-1: rgb(5.0383% 2.9803% 52.7975%);
    --palPlasma-2: rgb(6.3536% 2.8426% 53.3124%);
    --palPlasma-3: rgb(7.5353% 2.7206% 53.8007%);
    --palPlasma-4: rgb(8.6222% 2.6125% 54.2658%);
    --palPlasma-5: rgb(9.6379% 2.5165% 54.7103%);
    --palPlasma-6: rgb(10.598% 2.4309% 55.1368%);
    --palPlasma-7: rgb(11.5124% 2.3556% 55.5468%);
    --palPlasma-8: rgb(12.3903% 2.2878% 55.9423%);
    --palPlasma-9: rgb(13.2381% 2.2258% 56.325%);
    --palPlasma-10: rgb(14.0603% 2.1687% 56.6959%);
    --palPlasma-11: rgb(14.8607% 2.1154% 57.0562%);
    --palPlasma-12: rgb(15.6421% 2.0651% 57.4065%);
    --palPlasma-13: rgb(16.407% 2.0171% 57.7478%);
    --palPlasma-14: rgb(17.1574% 1.9706% 58.0806%);
    --palPlasma-15: rgb(17.895% 1.9252% 58.4054%);
    --palPlasma-16: rgb(18.6213% 1.8803% 58.7228%);
    --palPlasma-17: rgb(19.3374% 1.8354% 59.033%);
    --palPlasma-18: rgb(20.0445% 1.7902% 59.3364%);
    --palPlasma-19: rgb(20.7435% 1.7442% 59.6333%);
    --palPlasma-20: rgb(21.435% 1.6973% 59.9239%);
    --palPlasma-21: rgb(22.1197% 1.6497% 60.2083%);
    --palPlasma-22: rgb(22.7983% 1.6007% 60.4867%);
    --palPlasma-23: rgb(23.4715% 1.5502% 60.7592%);
    --palPlasma-24: rgb(24.1396% 1.4979% 61.0259%);
    --palPlasma-25: rgb(24.8032% 1.4439% 61.2868%);
    --palPlasma-26: rgb(25.4627% 1.3882% 61.5419%);
    --palPlasma-27: rgb(26.1183% 1.3308% 61.7911%);
    --palPlasma-28: rgb(26.7703% 1.2716% 62.0346%);
    --palPlasma-29: rgb(27.4191% 1.2109% 62.2722%);
    --palPlasma-30: rgb(28.0648% 1.1488% 62.5038%);
    --palPlasma-31: rgb(28.7076% 1.0855% 62.7295%);
    --palPlasma-32: rgb(29.3478% 1.0213% 62.949%);
    --palPlasma-33: rgb(29.9855% 0.9561% 63.1624%);
    --palPlasma-34: rgb(30.621% 0.8902% 63.3694%);
    --palPlasma-35: rgb(31.2543% 0.8239% 63.57%);
    --palPlasma-36: rgb(31.8856% 0.7576% 63.764%);
    --palPlasma-37: rgb(32.515% 0.6915% 63.9512%);
    --palPlasma-38: rgb(33.1426% 0.6261% 64.1316%);
    --palPlasma-39: rgb(33.7683% 0.5618% 64.3049%);
    --palPlasma-40: rgb(34.3925% 0.4991% 64.471%);
    --palPlasma-41: rgb(35.015% 0.4382% 64.6298%);
    --palPlasma-42: rgb(35.6359% 0.3798% 64.781%);
    --palPlasma-43: rgb(36.2553% 0.3243% 64.9245%);
    --palPlasma-44: rgb(36.8733% 0.2724% 65.0601%);
    --palPlasma-45: rgb(37.4897% 0.2245% 65.1876%);
    --palPlasma-46: rgb(38.1047% 0.1814% 65.3068%);
    --palPlasma-47: rgb(38.7183% 0.1434% 65.4177%);
    --palPlasma-48: rgb(39.3304% 0.1114% 65.5199%);
    --palPlasma-49: rgb(39.9411% 0.0859% 65.6133%);
    --palPlasma-50: rgb(40.5503% 0.0678% 65.6977%);
    --palPlasma-51: rgb(41.158% 0.0577% 65.773%);
    --palPlasma-52: rgb(41.7642% 0.0564% 65.839%);
    --palPlasma-53: rgb(42.3689% 0.0646% 65.8956%);
    --palPlasma-54: rgb(42.9719% 0.0831% 65.9425%);
    --palPlasma-55: rgb(43.5734% 0.1127% 65.9797%);
    --palPlasma-56: rgb(44.1732% 0.154% 66.0069%);
    --palPlasma-57: rgb(44.7714% 0.208% 66.024%);
    --palPlasma-58: rgb(45.3677% 0.2755% 66.031%);
    --palPlasma-59: rgb(45.9623% 0.3574% 66.0277%);
    --palPlasma-60: rgb(46.555% 0.4545% 66.0139%);
    --palPlasma-61: rgb(47.1457% 0.5678% 65.9897%);
    --palPlasma-62: rgb(47.7344% 0.698% 65.9549%);
    --palPlasma-63: rgb(48.321% 0.846% 65.9095%);
    --palPlasma-64: rgb(48.9055% 1.0127% 65.8534%);
    --palPlasma-65: rgb(49.4877% 1.199% 65.7865%);
    --palPlasma-66: rgb(50.0678% 1.4055% 65.7088%);
    --palPlasma-67: rgb(50.6454% 1.6333% 65.6202%);
    --palPlasma-68: rgb(51.2206% 1.8833% 65.5209%);
    --palPlasma-69: rgb(51.7933% 2.1563% 65.4109%);
    --palPlasma-70: rgb(52.3633% 2.4532% 65.2901%);
    --palPlasma-71: rgb(52.9306% 2.7747% 65.1586%);
    --palPlasma-72: rgb(53.4952% 3.1217% 65.0165%);
    --palPlasma-73: rgb(54.057% 3.495% 64.864%);
    --palPlasma-74: rgb(54.6157% 3.8954% 64.701%);
    --palPlasma-75: rgb(55.1715% 4.3136% 64.5277%);
    --palPlasma-76: rgb(55.7243% 4.7331% 64.3443%);
    --palPlasma-77: rgb(56.2738% 5.1545% 64.1509%);
    --palPlasma-78: rgb(56.8201% 5.5778% 63.9477%);
    --palPlasma-79: rgb(57.3632% 6.0028% 63.7349%);
    --palPlasma-80: rgb(57.9029% 6.4296% 63.5126%);
    --palPlasma-81: rgb(58.4391% 6.8579% 63.2812%);
    --palPlasma-82: rgb(58.9719% 7.2878% 63.0408%);
    --palPlasma-83: rgb(59.5011% 7.719% 62.7917%);
    --palPlasma-84: rgb(60.0266% 8.1516% 62.5342%);
    --palPlasma-85: rgb(60.5485% 8.5854% 62.2686%);
    --palPlasma-86: rgb(61.0667% 9.0204% 61.9951%);
    --palPlasma-87: rgb(61.5812% 9.4564% 61.714%);
    --palPlasma-88: rgb(62.0919% 9.8934% 61.4257%);
    --palPlasma-89: rgb(62.5987% 10.3312% 61.1305%);
    --palPlasma-90: rgb(63.1017% 10.7699% 60.8287%);
    --palPlasma-91: rgb(63.6008% 11.2092% 60.5205%);
    --palPlasma-92: rgb(64.0959% 11.6492% 60.2065%);
    --palPlasma-93: rgb(64.5872% 12.0898% 59.8867%);
    --palPlasma-94: rgb(65.0746% 12.5309% 59.5617%);
    --palPlasma-95: rgb(65.558% 12.9725% 59.2317%);
    --palPlasma-96: rgb(66.0374% 13.4144% 58.8971%);
    --palPlasma-97: rgb(66.5129% 13.8566% 58.5582%);
    --palPlasma-98: rgb(66.9845% 14.2992% 58.2154%);
    --palPlasma-99: rgb(67.4522% 14.7419% 57.8688%);
    --palPlasma-100: rgb(67.916% 15.1848% 57.5189%);
    --palPlasma-101: rgb(68.3758% 15.6278% 57.166%);
    --palPlasma-102: rgb(68.8318% 16.0709% 56.8103%);
    --palPlasma-103: rgb(69.284% 16.5141% 56.4522%);
    --palPlasma-104: rgb(69.7324% 16.9573% 56.0919%);
    --palPlasma-105: rgb(70.1769% 17.4005% 55.7296%);
    --palPlasma-106: rgb(70.6178% 17.8437% 55.3657%);
    --palPlasma-107: rgb(71.0549% 18.2868% 55.0004%);
    --palPlasma-108: rgb(71.4883% 18.7299% 54.6338%);
    --palPlasma-109: rgb(71.9181% 19.1729% 54.2663%);
    --palPlasma-110: rgb(72.3444% 19.6158% 53.8981%);
    --palPlasma-111: rgb(72.767% 20.0586% 53.5293%);
    --palPlasma-112: rgb(73.1862% 20.5013% 53.1601%);
    --palPlasma-113: rgb(73.6019% 20.9439% 52.7908%);
    --palPlasma-114: rgb(74.0143% 21.3864% 52.4216%);
    --palPlasma-115: rgb(74.4232% 21.8288% 52.0524%);
    --palPlasma-116: rgb(74.8289% 22.2711% 51.6834%);
    --palPlasma-117: rgb(75.2312% 22.7133% 51.3149%);
    --palPlasma-118: rgb(75.6304% 23.1555% 50.9468%);
    --palPlasma-119: rgb(76.0264% 23.5976% 50.5794%);
    --palPlasma-120: rgb(76.4193% 24.0396% 50.2126%);
    --palPlasma-121: rgb(76.809% 24.4817% 49.8465%);
    --palPlasma-122: rgb(77.1958% 24.9237% 49.4813%);
    --palPlasma-123: rgb(77.5796% 25.3658% 49.1171%);
    --palPlasma-124: rgb(77.9604% 25.8078% 48.7539%);
    --palPlasma-125: rgb(78.3383% 26.25% 48.3918%);
    --palPlasma-126: rgb(78.7133% 26.6922% 48.0307%);
    --palPlasma-127: rgb(79.0855% 27.1345% 47.6706%);
    --palPlasma-128: rgb(79.4549% 27.577% 47.3117%);
    --palPlasma-129: rgb(79.8216% 28.0197% 46.9538%);
    --palPlasma-130: rgb(80.1855% 28.4626% 46.5971%);
    --palPlasma-131: rgb(80.5467% 28.9057% 46.2415%);
    --palPlasma-132: rgb(80.9052% 29.3491% 45.887%);
    --palPlasma-133: rgb(81.2612% 29.7928% 45.5338%);
    --palPlasma-134: rgb(81.6144% 30.2368% 45.1816%);
    --palPlasma-135: rgb(81.9651% 30.6812% 44.8306%);
    --palPlasma-136: rgb(82.3132% 31.1261% 44.4806%);
    --palPlasma-137: rgb(82.6588% 31.5714% 44.1316%);
    --palPlasma-138: rgb(83.0018% 32.0172% 43.7836%);
    --palPlasma-139: rgb(83.3422% 32.4635% 43.4366%);
    --palPlasma-140: rgb(83.6801% 32.9105% 43.0905%);
    --palPlasma-141: rgb(84.0155% 33.358% 42.7455%);
    --palPlasma-142: rgb(84.3484% 33.8062% 42.4013%);
    --palPlasma-143: rgb(84.6788% 34.2551% 42.0579%);
    --palPlasma-144: rgb(85.0066% 34.7048% 41.7153%);
    --palPlasma-145: rgb(85.3319% 35.1553% 41.3734%);
    --palPlasma-146: rgb(85.6547% 35.6066% 41.0322%);
    --palPlasma-147: rgb(85.975% 36.0588% 40.6917%);
    --palPlasma-148: rgb(86.2927% 36.5119% 40.3519%);
    --palPlasma-149: rgb(86.6078% 36.966% 40.0126%);
    --palPlasma-150: rgb(86.9203% 37.4212% 39.6738%);
    --palPlasma-151: rgb(87.2303% 37.8774% 39.3355%);
    --palPlasma-152: rgb(87.5376% 38.3347% 38.9976%);
    --palPlasma-153: rgb(87.8423% 38.7932% 38.66%);
    --palPlasma-154: rgb(88.1443% 39.2529% 38.3229%);
    --palPlasma-155: rgb(88.4436% 39.7139% 37.986%);
    --palPlasma-156: rgb(88.7402% 40.1762% 37.6494%);
    --palPlasma-157: rgb(89.034% 40.6398% 37.313%);
    --palPlasma-158: rgb(89.325% 41.1048% 36.9768%);
    --palPlasma-159: rgb(89.6131% 41.5712% 36.6407%);
    --palPlasma-160: rgb(89.8984% 42.0392% 36.3047%);
    --palPlasma-161: rgb(90.1807% 42.5087% 35.9688%);
    --palPlasma-162: rgb(90.4601% 42.9797% 35.6329%);
    --palPlasma-163: rgb(90.7365% 43.4524% 35.297%);
    --palPlasma-164: rgb(91.0098% 43.9268% 34.961%);
    --palPlasma-165: rgb(91.28% 44.4029% 34.6251%);
    --palPlasma-166: rgb(91.5471% 44.8807% 34.289%);
    --palPlasma-167: rgb(91.8109% 45.3603% 33.9529%);
    --palPlasma-168: rgb(92.0714% 45.8417% 33.6166%);
    --palPlasma-169: rgb(92.3287% 46.3251% 33.2801%);
    --palPlasma-170: rgb(92.5825% 46.8103% 32.9435%);
    --palPlasma-171: rgb(92.8329% 47.2975% 32.6067%);
    --palPlasma-172: rgb(93.0798% 47.7867% 32.2697%);
    --palPlasma-173: rgb(93.3232% 48.278% 31.9325%);
    --palPlasma-174: rgb(93.563% 48.7712% 31.5952%);
    --palPlasma-175: rgb(93.799% 49.2667% 31.2575%);
    --palPlasma-176: rgb(94.0313% 49.7642% 30.9197%);
    --palPlasma-177: rgb(94.2598% 50.2639% 30.5816%);
    --palPlasma-178: rgb(94.4844% 50.7658% 30.2433%);
    --palPlasma-179: rgb(94.7051% 51.2699% 29.9049%);
    --palPlasma-180: rgb(94.9217% 51.7763% 29.5662%);
    --palPlasma-181: rgb(95.1344% 52.285% 29.2275%);
    --palPlasma-182: rgb(95.3428% 52.796% 28.8883%);
    --palPlasma-183: rgb(95.547% 53.3093% 28.549%);
    --palPlasma-184: rgb(95.7469% 53.825% 28.2096%);
    --palPlasma-185: rgb(95.9424% 54.3431% 27.8701%);
    --palPlasma-186: rgb(96.1336% 54.8636% 27.5305%);
    --palPlasma-187: rgb(96.3203% 55.3865% 27.1909%);
    --palPlasma-188: rgb(96.5024% 55.9118% 26.8513%);
    --palPlasma-189: rgb(96.6798% 56.4396% 26.5118%);
    --palPlasma-190: rgb(96.8526% 56.97% 26.1721%);
    --palPlasma-191: rgb(97.0205% 57.5028% 25.8325%);
    --palPlasma-192: rgb(97.1835% 58.0382% 25.4931%);
    --palPlasma-193: rgb(97.3416% 58.5761% 25.154%);
    --palPlasma-194: rgb(97.4947% 59.1165% 24.8151%);
    --palPlasma-195: rgb(97.6428% 59.6595% 24.4767%);
    --palPlasma-196: rgb(97.7856% 60.2051% 24.1387%);
    --palPlasma-197: rgb(97.9233% 60.7532% 23.8013%);
    --palPlasma-198: rgb(98.0556% 61.3039% 23.4646%);
    --palPlasma-199: rgb(98.1826% 61.8572% 23.1287%);
    --palPlasma-200: rgb(98.3041% 62.4131% 22.7937%);
    --palPlasma-201: rgb(98.4199% 62.9718% 22.4595%);
    --palPlasma-202: rgb(98.5301% 63.533% 22.1265%);
    --palPlasma-203: rgb(98.6345% 64.0969% 21.7948%);
    --palPlasma-204: rgb(98.7332% 64.6633% 21.4648%);
    --palPlasma-205: rgb(98.826% 65.2325% 21.1364%);
    --palPlasma-206: rgb(98.9128% 65.8043% 20.81%);
    --palPlasma-207: rgb(98.9935% 66.3787% 20.4859%);
    --palPlasma-208: rgb(99.0681% 66.9558% 20.1642%);
    --palPlasma-209: rgb(99.1365% 67.5355% 19.8453%);
    --palPlasma-210: rgb(99.1985% 68.1179% 19.5295%);
    --palPlasma-211: rgb(99.2541% 68.703% 19.217%);
    --palPlasma-212: rgb(99.3032% 69.2907% 18.9084%);
    --palPlasma-213: rgb(99.3456% 69.881% 18.6041%);
    --palPlasma-214: rgb(99.3814% 70.4741% 18.3043%);
    --palPlasma-215: rgb(99.4103% 71.0698% 18.0097%);
    --palPlasma-216: rgb(99.4324% 71.6681% 17.7208%);
    --palPlasma-217: rgb(99.4474% 72.2691% 17.4381%);
    --palPlasma-218: rgb(99.4553% 72.8728% 17.1622%);
    --palPlasma-219: rgb(99.4561% 73.4791% 16.8938%);
    --palPlasma-220: rgb(99.4495% 74.088% 16.6335%);
    --palPlasma-221: rgb(99.4355% 74.6995% 16.3821%);
    --palPlasma-222: rgb(99.4141% 75.3137% 16.1404%);
    --palPlasma-223: rgb(99.3851% 75.9304% 15.9092%);
    --palPlasma-224: rgb(99.3482% 76.5499% 15.6891%);
    --palPlasma-225: rgb(99.3033% 77.172% 15.4808%);
    --palPlasma-226: rgb(99.2505% 77.7967% 15.2855%);
    --palPlasma-227: rgb(99.1897% 78.4239% 15.1042%);
    --palPlasma-228: rgb(99.1209% 79.0537% 14.9377%);
    --palPlasma-229: rgb(99.0439% 79.6859% 14.787%);
    --palPlasma-230: rgb(98.9587% 80.3205% 14.6529%);
    --palPlasma-231: rgb(98.8648% 80.9579% 14.5357%);
    --palPlasma-232: rgb(98.7621% 81.5978% 14.4363%);
    --palPlasma-233: rgb(98.6509% 82.2401% 14.3557%);
    --palPlasma-234: rgb(98.5314% 82.8846% 14.2945%);
    --palPlasma-235: rgb(98.4031% 83.5315% 14.2528%);
    --palPlasma-236: rgb(98.2653% 84.1812% 14.2303%);
    --palPlasma-237: rgb(98.119% 84.8329% 14.2279%);
    --palPlasma-238: rgb(97.9644% 85.4866% 14.2453%);
    --palPlasma-239: rgb(97.7995% 86.1432% 14.2808%);
    --palPlasma-240: rgb(97.6265% 86.8016% 14.3351%);
    --palPlasma-241: rgb(97.4443% 87.4622% 14.4061%);
    --palPlasma-242: rgb(97.253% 88.125% 14.4923%);
    --palPlasma-243: rgb(97.0533% 88.7896% 14.5919%);
    --palPlasma-244: rgb(96.8443% 89.4564% 14.7014%);
    --palPlasma-245: rgb(96.6271% 90.1249% 14.818%);
    --palPlasma-246: rgb(96.4021% 90.795% 14.937%);
    --palPlasma-247: rgb(96.1681% 91.4672% 15.052%);
    --palPlasma-248: rgb(95.9276% 92.1407% 15.1566%);
    --palPlasma-249: rgb(95.6808% 92.8152% 15.2409%);
    --palPlasma-250: rgb(95.4287% 93.4908% 15.2921%);
    --palPlasma-251: rgb(95.1726% 94.1671% 15.2925%);
    --palPlasma-252: rgb(94.9151% 94.8435% 15.2178%);
    --palPlasma-253: rgb(94.6602% 95.519% 15.0328%);
    --palPlasma-254: rgb(94.4152% 96.1916% 14.6861%);
    --palPlasma-255: rgb(94.1896% 96.859% 14.0956%);
    --palPlasma-256: rgb(94.0015% 97.5158% 13.1326%);
}
