/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palPurpleGrey-1: rgb(75.2941% 53.3333% 87.0588%);
    --palPurpleGrey-2: rgb(74.902% 52.9412% 86.2745%);
    --palPurpleGrey-3: rgb(74.1176% 52.549% 85.8824%);
    --palPurpleGrey-4: rgb(73.7255% 52.1569% 85.098%);
    --palPurpleGrey-5: rgb(72.9412% 51.7647% 84.3137%);
    --palPurpleGrey-6: rgb(72.549% 51.3725% 83.9216%);
    --palPurpleGrey-7: rgb(71.7647% 51.3725% 83.1373%);
    --palPurpleGrey-8: rgb(71.3725% 50.9804% 82.3529%);
    --palPurpleGrey-9: rgb(70.5882% 50.5882% 81.9608%);
    --palPurpleGrey-10: rgb(70.1961% 50.1961% 81.1765%);
    --palPurpleGrey-11: rgb(69.8039% 49.8039% 80.7843%);
    --palPurpleGrey-12: rgb(69.0196% 49.4118% 80%);
    --palPurpleGrey-13: rgb(68.6275% 49.0196% 79.2157%);
    --palPurpleGrey-14: rgb(67.8431% 48.6275% 78.8235%);
    --palPurpleGrey-15: rgb(67.451% 48.2353% 78.0392%);
    --palPurpleGrey-16: rgb(66.6667% 47.8431% 77.2549%);
    --palPurpleGrey-17: rgb(66.2745% 47.8431% 76.8627%);
    --palPurpleGrey-18: rgb(65.8824% 47.451% 76.0784%);
    --palPurpleGrey-19: rgb(65.098% 47.0588% 75.2941%);
    --palPurpleGrey-20: rgb(64.7059% 46.6667% 74.902%);
    --palPurpleGrey-21: rgb(63.9216% 46.2745% 74.1176%);
    --palPurpleGrey-22: rgb(63.5294% 45.8824% 73.7255%);
    --palPurpleGrey-23: rgb(62.7451% 45.4902% 72.9412%);
    --palPurpleGrey-24: rgb(62.3529% 45.098% 72.1569%);
    --palPurpleGrey-25: rgb(61.9608% 44.7059% 71.7647%);
    --palPurpleGrey-26: rgb(61.1765% 44.7059% 70.9804%);
    --palPurpleGrey-27: rgb(60.7843% 44.3137% 70.5882%);
    --palPurpleGrey-28: rgb(60% 43.9216% 69.8039%);
    --palPurpleGrey-29: rgb(59.6078% 43.5294% 69.0196%);
    --palPurpleGrey-30: rgb(59.2157% 43.1373% 68.6275%);
    --palPurpleGrey-31: rgb(58.4314% 42.7451% 67.8431%);
    --palPurpleGrey-32: rgb(58.0392% 42.3529% 67.451%);
    --palPurpleGrey-33: rgb(57.2549% 41.9608% 66.6667%);
    --palPurpleGrey-34: rgb(56.8627% 41.9608% 66.2745%);
    --palPurpleGrey-35: rgb(56.4706% 41.5686% 65.4902%);
    --palPurpleGrey-36: rgb(55.6863% 41.1765% 64.7059%);
    --palPurpleGrey-37: rgb(55.2941% 40.7843% 64.3137%);
    --palPurpleGrey-38: rgb(54.902% 40.3922% 63.5294%);
    --palPurpleGrey-39: rgb(54.1176% 40% 63.1373%);
    --palPurpleGrey-40: rgb(53.7255% 39.6078% 62.3529%);
    --palPurpleGrey-41: rgb(52.9412% 39.2157% 61.9608%);
    --palPurpleGrey-42: rgb(52.549% 39.2157% 61.1765%);
    --palPurpleGrey-43: rgb(52.1569% 38.8235% 60.3922%);
    --palPurpleGrey-44: rgb(51.3725% 38.4314% 60%);
    --palPurpleGrey-45: rgb(50.9804% 38.0392% 59.2157%);
    --palPurpleGrey-46: rgb(50.5882% 37.6471% 58.8235%);
    --palPurpleGrey-47: rgb(49.8039% 37.2549% 58.0392%);
    --palPurpleGrey-48: rgb(49.4118% 36.8627% 57.6471%);
    --palPurpleGrey-49: rgb(49.0196% 36.8627% 56.8627%);
    --palPurpleGrey-50: rgb(48.2353% 36.4706% 56.4706%);
    --palPurpleGrey-51: rgb(47.8431% 36.0784% 55.6863%);
    --palPurpleGrey-52: rgb(47.451% 35.6863% 55.2941%);
    --palPurpleGrey-53: rgb(46.6667% 35.2941% 54.5098%);
    --palPurpleGrey-54: rgb(46.2745% 34.902% 54.1176%);
    --palPurpleGrey-55: rgb(45.4902% 34.5098% 53.3333%);
    --palPurpleGrey-56: rgb(45.098% 34.5098% 52.9412%);
    --palPurpleGrey-57: rgb(44.7059% 34.1176% 52.1569%);
    --palPurpleGrey-58: rgb(43.9216% 33.7255% 51.3725%);
    --palPurpleGrey-59: rgb(43.5294% 33.3333% 50.9804%);
    --palPurpleGrey-60: rgb(43.1373% 32.9412% 50.1961%);
    --palPurpleGrey-61: rgb(42.7451% 32.549% 49.8039%);
    --palPurpleGrey-62: rgb(41.9608% 32.549% 49.0196%);
    --palPurpleGrey-63: rgb(41.5686% 32.1569% 48.6275%);
    --palPurpleGrey-64: rgb(41.1765% 31.7647% 47.8431%);
    --palPurpleGrey-65: rgb(40.3922% 31.3725% 47.451%);
    --palPurpleGrey-66: rgb(40% 30.9804% 47.0588%);
    --palPurpleGrey-67: rgb(39.6078% 30.5882% 46.2745%);
    --palPurpleGrey-68: rgb(38.8235% 30.5882% 45.8824%);
    --palPurpleGrey-69: rgb(38.4314% 30.1961% 45.098%);
    --palPurpleGrey-70: rgb(38.0392% 29.8039% 44.7059%);
    --palPurpleGrey-71: rgb(37.2549% 29.4118% 43.9216%);
    --palPurpleGrey-72: rgb(36.8627% 29.0196% 43.5294%);
    --palPurpleGrey-73: rgb(36.4706% 28.6275% 42.7451%);
    --palPurpleGrey-74: rgb(36.0784% 28.6275% 42.3529%);
    --palPurpleGrey-75: rgb(35.2941% 28.2353% 41.5686%);
    --palPurpleGrey-76: rgb(34.902% 27.8431% 41.1765%);
    --palPurpleGrey-77: rgb(34.5098% 27.451% 40.3922%);
    --palPurpleGrey-78: rgb(34.1176% 27.0588% 40%);
    --palPurpleGrey-79: rgb(33.3333% 26.6667% 39.6078%);
    --palPurpleGrey-80: rgb(32.9412% 26.6667% 38.8235%);
    --palPurpleGrey-81: rgb(32.549% 26.2745% 38.4314%);
    --palPurpleGrey-82: rgb(31.7647% 25.8824% 37.6471%);
    --palPurpleGrey-83: rgb(31.3725% 25.4902% 37.2549%);
    --palPurpleGrey-84: rgb(30.9804% 25.098% 36.4706%);
    --palPurpleGrey-85: rgb(30.5882% 25.098% 36.0784%);
    --palPurpleGrey-86: rgb(29.8039% 24.7059% 35.6863%);
    --palPurpleGrey-87: rgb(29.4118% 24.3137% 34.902%);
    --palPurpleGrey-88: rgb(29.0196% 23.9216% 34.5098%);
    --palPurpleGrey-89: rgb(28.6275% 23.5294% 33.7255%);
    --palPurpleGrey-90: rgb(27.8431% 23.5294% 33.3333%);
    --palPurpleGrey-91: rgb(27.451% 23.1373% 32.9412%);
    --palPurpleGrey-92: rgb(27.0588% 22.7451% 32.1569%);
    --palPurpleGrey-93: rgb(26.6667% 22.3529% 31.7647%);
    --palPurpleGrey-94: rgb(26.2745% 21.9608% 30.9804%);
    --palPurpleGrey-95: rgb(25.4902% 21.9608% 30.5882%);
    --palPurpleGrey-96: rgb(25.098% 21.5686% 30.1961%);
    --palPurpleGrey-97: rgb(24.7059% 21.1765% 29.4118%);
    --palPurpleGrey-98: rgb(24.3137% 20.7843% 29.0196%);
    --palPurpleGrey-99: rgb(23.5294% 20.3922% 28.6275%);
    --palPurpleGrey-100: rgb(23.1373% 20.3922% 27.8431%);
    --palPurpleGrey-101: rgb(22.7451% 20% 27.451%);
    --palPurpleGrey-102: rgb(22.3529% 19.6078% 26.6667%);
    --palPurpleGrey-103: rgb(21.9608% 19.2157% 26.2745%);
    --palPurpleGrey-104: rgb(21.1765% 18.8235% 25.8824%);
    --palPurpleGrey-105: rgb(20.7843% 18.8235% 25.098%);
    --palPurpleGrey-106: rgb(20.3922% 18.4314% 24.7059%);
    --palPurpleGrey-107: rgb(20% 18.0392% 24.3137%);
    --palPurpleGrey-108: rgb(19.6078% 17.6471% 23.5294%);
    --palPurpleGrey-109: rgb(19.2157% 17.2549% 23.1373%);
    --palPurpleGrey-110: rgb(18.4314% 17.2549% 22.7451%);
    --palPurpleGrey-111: rgb(18.0392% 16.8627% 22.3529%);
    --palPurpleGrey-112: rgb(17.6471% 16.4706% 21.5686%);
    --palPurpleGrey-113: rgb(17.2549% 16.0784% 21.1765%);
    --palPurpleGrey-114: rgb(16.8627% 16.0784% 20.7843%);
    --palPurpleGrey-115: rgb(16.4706% 15.6863% 20%);
    --palPurpleGrey-116: rgb(15.6863% 15.2941% 19.6078%);
    --palPurpleGrey-117: rgb(15.2941% 14.902% 19.2157%);
    --palPurpleGrey-118: rgb(14.902% 14.902% 18.4314%);
    --palPurpleGrey-119: rgb(14.5098% 14.5098% 18.0392%);
    --palPurpleGrey-120: rgb(14.1176% 14.1176% 17.6471%);
    --palPurpleGrey-121: rgb(13.7255% 13.7255% 17.2549%);
    --palPurpleGrey-122: rgb(13.3333% 13.7255% 16.4706%);
    --palPurpleGrey-123: rgb(12.9412% 13.3333% 16.0784%);
    --palPurpleGrey-124: rgb(12.1569% 12.9412% 15.6863%);
    --palPurpleGrey-125: rgb(11.7647% 12.549% 15.2941%);
    --palPurpleGrey-126: rgb(11.3725% 12.1569% 14.5098%);
    --palPurpleGrey-127: rgb(10.9804% 12.1569% 14.1176%);
    --palPurpleGrey-128: rgb(10.5882% 11.7647% 13.7255%);
    --palPurpleGrey-129: rgb(10.9804% 12.1569% 14.1176%);
    --palPurpleGrey-130: rgb(11.3725% 12.549% 14.5098%);
    --palPurpleGrey-131: rgb(11.7647% 12.9412% 14.5098%);
    --palPurpleGrey-132: rgb(11.7647% 12.9412% 14.902%);
    --palPurpleGrey-133: rgb(12.1569% 13.3333% 15.2941%);
    --palPurpleGrey-134: rgb(12.549% 13.7255% 15.6863%);
    --palPurpleGrey-135: rgb(12.9412% 14.1176% 16.0784%);
    --palPurpleGrey-136: rgb(13.3333% 14.5098% 16.4706%);
    --palPurpleGrey-137: rgb(13.7255% 14.902% 16.8627%);
    --palPurpleGrey-138: rgb(14.1176% 15.2941% 16.8627%);
    --palPurpleGrey-139: rgb(14.5098% 15.2941% 17.2549%);
    --palPurpleGrey-140: rgb(14.902% 15.6863% 17.6471%);
    --palPurpleGrey-141: rgb(15.2941% 16.0784% 18.0392%);
    --palPurpleGrey-142: rgb(15.2941% 16.4706% 18.4314%);
    --palPurpleGrey-143: rgb(15.6863% 16.8627% 18.8235%);
    --palPurpleGrey-144: rgb(16.0784% 17.2549% 19.2157%);
    --palPurpleGrey-145: rgb(16.4706% 17.6471% 19.2157%);
    --palPurpleGrey-146: rgb(16.8627% 18.0392% 19.6078%);
    --palPurpleGrey-147: rgb(17.2549% 18.4314% 20%);
    --palPurpleGrey-148: rgb(17.6471% 18.4314% 20.3922%);
    --palPurpleGrey-149: rgb(18.0392% 18.8235% 20.7843%);
    --palPurpleGrey-150: rgb(18.4314% 19.2157% 21.1765%);
    --palPurpleGrey-151: rgb(18.8235% 19.6078% 21.5686%);
    --palPurpleGrey-152: rgb(19.2157% 20% 21.9608%);
    --palPurpleGrey-153: rgb(19.6078% 20.3922% 21.9608%);
    --palPurpleGrey-154: rgb(19.6078% 20.7843% 22.3529%);
    --palPurpleGrey-155: rgb(20% 21.1765% 22.7451%);
    --palPurpleGrey-156: rgb(20.3922% 21.5686% 23.1373%);
    --palPurpleGrey-157: rgb(20.7843% 21.9608% 23.5294%);
    --palPurpleGrey-158: rgb(21.1765% 22.3529% 23.9216%);
    --palPurpleGrey-159: rgb(21.5686% 22.7451% 24.3137%);
    --palPurpleGrey-160: rgb(21.9608% 22.7451% 24.7059%);
    --palPurpleGrey-161: rgb(22.3529% 23.1373% 25.098%);
    --palPurpleGrey-162: rgb(22.7451% 23.5294% 25.098%);
    --palPurpleGrey-163: rgb(23.1373% 23.9216% 25.4902%);
    --palPurpleGrey-164: rgb(23.5294% 24.3137% 25.8824%);
    --palPurpleGrey-165: rgb(23.9216% 24.7059% 26.2745%);
    --palPurpleGrey-166: rgb(24.3137% 25.098% 26.6667%);
    --palPurpleGrey-167: rgb(24.7059% 25.4902% 27.0588%);
    --palPurpleGrey-168: rgb(25.098% 25.8824% 27.451%);
    --palPurpleGrey-169: rgb(25.4902% 26.2745% 27.8431%);
    --palPurpleGrey-170: rgb(25.8824% 26.6667% 28.2353%);
    --palPurpleGrey-171: rgb(26.2745% 27.0588% 28.6275%);
    --palPurpleGrey-172: rgb(26.6667% 27.451% 29.0196%);
    --palPurpleGrey-173: rgb(27.0588% 27.8431% 29.4118%);
    --palPurpleGrey-174: rgb(27.451% 28.2353% 29.4118%);
    --palPurpleGrey-175: rgb(27.8431% 28.6275% 29.8039%);
    --palPurpleGrey-176: rgb(28.2353% 29.0196% 30.1961%);
    --palPurpleGrey-177: rgb(28.6275% 29.4118% 30.5882%);
    --palPurpleGrey-178: rgb(29.0196% 29.8039% 30.9804%);
    --palPurpleGrey-179: rgb(29.4118% 30.1961% 31.3725%);
    --palPurpleGrey-180: rgb(29.8039% 30.5882% 31.7647%);
    --palPurpleGrey-181: rgb(30.1961% 30.9804% 32.1569%);
    --palPurpleGrey-182: rgb(30.5882% 31.3725% 32.549%);
    --palPurpleGrey-183: rgb(30.9804% 31.7647% 32.9412%);
    --palPurpleGrey-184: rgb(31.3725% 32.1569% 33.3333%);
    --palPurpleGrey-185: rgb(31.7647% 32.549% 33.7255%);
    --palPurpleGrey-186: rgb(32.1569% 32.9412% 34.1176%);
    --palPurpleGrey-187: rgb(32.549% 33.3333% 34.5098%);
    --palPurpleGrey-188: rgb(32.9412% 33.7255% 34.902%);
    --palPurpleGrey-189: rgb(33.3333% 33.7255% 35.2941%);
    --palPurpleGrey-190: rgb(33.7255% 34.1176% 35.6863%);
    --palPurpleGrey-191: rgb(34.1176% 34.5098% 35.6863%);
    --palPurpleGrey-192: rgb(34.5098% 34.902% 36.0784%);
    --palPurpleGrey-193: rgb(34.902% 35.2941% 36.4706%);
    --palPurpleGrey-194: rgb(35.2941% 36.0784% 36.8627%);
    --palPurpleGrey-195: rgb(35.6863% 36.4706% 37.2549%);
    --palPurpleGrey-196: rgb(36.0784% 36.8627% 37.6471%);
    --palPurpleGrey-197: rgb(36.4706% 37.2549% 38.0392%);
    --palPurpleGrey-198: rgb(36.8627% 37.6471% 38.4314%);
    --palPurpleGrey-199: rgb(37.2549% 38.0392% 38.8235%);
    --palPurpleGrey-200: rgb(37.6471% 38.4314% 39.2157%);
    --palPurpleGrey-201: rgb(38.0392% 38.8235% 39.6078%);
    --palPurpleGrey-202: rgb(38.4314% 39.2157% 40%);
    --palPurpleGrey-203: rgb(38.8235% 39.6078% 40.3922%);
    --palPurpleGrey-204: rgb(39.2157% 40% 40.7843%);
    --palPurpleGrey-205: rgb(39.6078% 40.3922% 41.1765%);
    --palPurpleGrey-206: rgb(40% 40.7843% 41.5686%);
    --palPurpleGrey-207: rgb(40.3922% 41.1765% 41.9608%);
    --palPurpleGrey-208: rgb(41.1765% 41.5686% 42.3529%);
    --palPurpleGrey-209: rgb(41.5686% 41.9608% 42.7451%);
    --palPurpleGrey-210: rgb(41.9608% 42.3529% 43.1373%);
    --palPurpleGrey-211: rgb(42.3529% 42.7451% 43.5294%);
    --palPurpleGrey-212: rgb(42.7451% 43.1373% 43.9216%);
    --palPurpleGrey-213: rgb(43.1373% 43.5294% 44.3137%);
    --palPurpleGrey-214: rgb(43.5294% 43.9216% 44.7059%);
    --palPurpleGrey-215: rgb(43.9216% 44.3137% 45.098%);
    --palPurpleGrey-216: rgb(44.3137% 44.7059% 45.4902%);
    --palPurpleGrey-217: rgb(44.7059% 45.098% 45.8824%);
    --palPurpleGrey-218: rgb(45.098% 45.4902% 46.2745%);
    --palPurpleGrey-219: rgb(45.4902% 45.8824% 46.6667%);
    --palPurpleGrey-220: rgb(45.8824% 46.2745% 47.0588%);
    --palPurpleGrey-221: rgb(46.2745% 46.6667% 47.451%);
    --palPurpleGrey-222: rgb(47.0588% 47.0588% 47.8431%);
    --palPurpleGrey-223: rgb(47.451% 47.451% 48.2353%);
    --palPurpleGrey-224: rgb(47.8431% 47.8431% 48.6275%);
    --palPurpleGrey-225: rgb(48.2353% 48.6275% 49.0196%);
    --palPurpleGrey-226: rgb(48.6275% 49.0196% 49.4118%);
    --palPurpleGrey-227: rgb(49.0196% 49.4118% 49.8039%);
    --palPurpleGrey-228: rgb(49.4118% 49.8039% 50.1961%);
    --palPurpleGrey-229: rgb(49.8039% 50.1961% 50.5882%);
    --palPurpleGrey-230: rgb(50.1961% 50.5882% 50.9804%);
    --palPurpleGrey-231: rgb(50.5882% 50.9804% 51.3725%);
    --palPurpleGrey-232: rgb(50.9804% 51.3725% 51.7647%);
    --palPurpleGrey-233: rgb(51.3725% 51.7647% 52.1569%);
    --palPurpleGrey-234: rgb(52.1569% 52.1569% 52.549%);
    --palPurpleGrey-235: rgb(52.549% 52.549% 52.9412%);
    --palPurpleGrey-236: rgb(52.9412% 52.9412% 53.3333%);
    --palPurpleGrey-237: rgb(53.3333% 53.3333% 53.7255%);
    --palPurpleGrey-238: rgb(53.7255% 53.7255% 54.1176%);
    --palPurpleGrey-239: rgb(54.1176% 54.5098% 54.5098%);
    --palPurpleGrey-240: rgb(54.5098% 54.902% 54.902%);
    --palPurpleGrey-241: rgb(54.902% 55.2941% 55.2941%);
    --palPurpleGrey-242: rgb(55.2941% 55.6863% 55.6863%);
    --palPurpleGrey-243: rgb(56.0784% 56.0784% 56.4706%);
    --palPurpleGrey-244: rgb(56.4706% 56.4706% 56.8627%);
    --palPurpleGrey-245: rgb(56.8627% 56.8627% 57.2549%);
    --palPurpleGrey-246: rgb(57.2549% 57.2549% 57.6471%);
    --palPurpleGrey-247: rgb(57.6471% 57.6471% 58.0392%);
    --palPurpleGrey-248: rgb(58.0392% 58.0392% 58.4314%);
    --palPurpleGrey-249: rgb(58.4314% 58.4314% 58.8235%);
    --palPurpleGrey-250: rgb(58.8235% 59.2157% 59.2157%);
    --palPurpleGrey-251: rgb(59.6078% 59.6078% 59.6078%);
    --palPurpleGrey-252: rgb(60% 60% 60%);
    --palPurpleGrey-253: rgb(60.3922% 60.3922% 60.3922%);
    --palPurpleGrey-254: rgb(60.7843% 60.7843% 60.7843%);
    --palPurpleGrey-255: rgb(61.1765% 61.1765% 61.1765%);
}
