/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palPurp2-1: rgb(28.125% 15.234375% 33.984375%);
    --palPurp2-2: rgb(28.515625% 15.234375% 33.984375%);
    --palPurp2-3: rgb(28.515625% 15.625% 34.375%);
    --palPurp2-4: rgb(28.515625% 15.625% 34.375%);
    --palPurp2-5: rgb(28.515625% 15.625% 34.765625%);
    --palPurp2-6: rgb(28.90625% 16.015625% 35.15625%);
    --palPurp2-7: rgb(28.90625% 16.015625% 35.15625%);
    --palPurp2-8: rgb(28.90625% 16.015625% 35.546875%);
    --palPurp2-9: rgb(29.296875% 16.40625% 35.546875%);
    --palPurp2-10: rgb(29.296875% 16.40625% 35.9375%);
    --palPurp2-11: rgb(29.296875% 16.40625% 35.9375%);
    --palPurp2-12: rgb(29.6875% 16.796875% 36.328125%);
    --palPurp2-13: rgb(29.6875% 16.796875% 36.328125%);
    --palPurp2-14: rgb(29.6875% 17.1875% 36.71875%);
    --palPurp2-15: rgb(30.078125% 17.1875% 36.71875%);
    --palPurp2-16: rgb(30.078125% 17.1875% 37.109375%);
    --palPurp2-17: rgb(30.078125% 17.578125% 37.109375%);
    --palPurp2-18: rgb(30.46875% 17.578125% 37.5%);
    --palPurp2-19: rgb(30.46875% 17.578125% 37.5%);
    --palPurp2-20: rgb(30.46875% 17.96875% 37.890625%);
    --palPurp2-21: rgb(30.46875% 17.96875% 37.890625%);
    --palPurp2-22: rgb(30.859375% 18.359375% 38.28125%);
    --palPurp2-23: rgb(30.859375% 18.359375% 38.28125%);
    --palPurp2-24: rgb(30.859375% 18.359375% 38.671875%);
    --palPurp2-25: rgb(31.25% 18.75% 38.671875%);
    --palPurp2-26: rgb(31.25% 18.75% 39.0625%);
    --palPurp2-27: rgb(31.25% 18.75% 39.0625%);
    --palPurp2-28: rgb(31.640625% 19.140625% 39.453125%);
    --palPurp2-29: rgb(31.640625% 19.140625% 39.453125%);
    --palPurp2-30: rgb(31.640625% 19.53125% 39.84375%);
    --palPurp2-31: rgb(32.03125% 19.53125% 39.84375%);
    --palPurp2-32: rgb(32.03125% 19.53125% 40.234375%);
    --palPurp2-33: rgb(32.03125% 19.921875% 40.234375%);
    --palPurp2-34: rgb(32.421875% 19.921875% 40.625%);
    --palPurp2-35: rgb(32.421875% 19.921875% 40.625%);
    --palPurp2-36: rgb(32.421875% 20.3125% 41.015625%);
    --palPurp2-37: rgb(32.421875% 20.3125% 41.015625%);
    --palPurp2-38: rgb(32.8125% 20.703125% 41.40625%);
    --palPurp2-39: rgb(32.8125% 20.703125% 41.796875%);
    --palPurp2-40: rgb(33.203125% 21.09375% 41.796875%);
    --palPurp2-41: rgb(33.203125% 21.09375% 42.1875%);
    --palPurp2-42: rgb(33.59375% 21.484375% 42.578125%);
    --palPurp2-43: rgb(33.59375% 21.484375% 42.96875%);
    --palPurp2-44: rgb(33.59375% 21.875% 42.96875%);
    --palPurp2-45: rgb(33.984375% 21.875% 43.359375%);
    --palPurp2-46: rgb(33.984375% 22.265625% 43.75%);
    --palPurp2-47: rgb(34.375% 22.65625% 43.75%);
    --palPurp2-48: rgb(34.375% 22.65625% 44.140625%);
    --palPurp2-49: rgb(34.375% 23.046875% 44.53125%);
    --palPurp2-50: rgb(34.765625% 23.046875% 44.921875%);
    --palPurp2-51: rgb(34.765625% 23.4375% 44.921875%);
    --palPurp2-52: rgb(35.15625% 23.4375% 45.3125%);
    --palPurp2-53: rgb(35.15625% 23.828125% 45.703125%);
    --palPurp2-54: rgb(35.546875% 23.828125% 45.703125%);
    --palPurp2-55: rgb(35.546875% 24.21875% 46.09375%);
    --palPurp2-56: rgb(35.546875% 24.21875% 46.484375%);
    --palPurp2-57: rgb(35.9375% 24.609375% 46.484375%);
    --palPurp2-58: rgb(35.9375% 24.609375% 46.875%);
    --palPurp2-59: rgb(36.328125% 25% 47.265625%);
    --palPurp2-60: rgb(36.328125% 25.390625% 47.65625%);
    --palPurp2-61: rgb(36.71875% 25.390625% 47.65625%);
    --palPurp2-62: rgb(36.71875% 25.78125% 48.046875%);
    --palPurp2-63: rgb(36.71875% 25.78125% 48.4375%);
    --palPurp2-64: rgb(37.109375% 26.171875% 48.4375%);
    --palPurp2-65: rgb(37.109375% 26.171875% 48.828125%);
    --palPurp2-66: rgb(37.5% 26.5625% 49.21875%);
    --palPurp2-67: rgb(37.5% 26.5625% 49.609375%);
    --palPurp2-68: rgb(37.890625% 26.953125% 49.609375%);
    --palPurp2-69: rgb(37.890625% 26.953125% 50%);
    --palPurp2-70: rgb(37.890625% 27.34375% 50.390625%);
    --palPurp2-71: rgb(38.28125% 27.734375% 50.390625%);
    --palPurp2-72: rgb(38.28125% 27.734375% 50.78125%);
    --palPurp2-73: rgb(38.671875% 28.125% 51.171875%);
    --palPurp2-74: rgb(38.671875% 28.125% 51.5625%);
    --palPurp2-75: rgb(38.671875% 28.515625% 51.5625%);
    --palPurp2-76: rgb(39.0625% 28.515625% 51.953125%);
    --palPurp2-77: rgb(39.0625% 28.90625% 52.34375%);
    --palPurp2-78: rgb(39.0625% 28.90625% 52.34375%);
    --palPurp2-79: rgb(39.453125% 29.296875% 52.734375%);
    --palPurp2-80: rgb(39.453125% 29.296875% 53.125%);
    --palPurp2-81: rgb(39.453125% 29.6875% 53.125%);
    --palPurp2-82: rgb(39.453125% 29.6875% 53.515625%);
    --palPurp2-83: rgb(39.84375% 30.078125% 53.90625%);
    --palPurp2-84: rgb(39.84375% 30.078125% 53.90625%);
    --palPurp2-85: rgb(39.84375% 30.46875% 54.296875%);
    --palPurp2-86: rgb(40.234375% 30.46875% 54.6875%);
    --palPurp2-87: rgb(40.234375% 30.859375% 54.6875%);
    --palPurp2-88: rgb(40.234375% 30.859375% 55.078125%);
    --palPurp2-89: rgb(40.625% 31.25% 55.46875%);
    --palPurp2-90: rgb(40.625% 31.25% 55.46875%);
    --palPurp2-91: rgb(40.625% 31.640625% 55.859375%);
    --palPurp2-92: rgb(40.625% 31.640625% 56.25%);
    --palPurp2-93: rgb(41.015625% 32.03125% 56.25%);
    --palPurp2-94: rgb(41.015625% 32.03125% 56.640625%);
    --palPurp2-95: rgb(41.015625% 32.421875% 57.03125%);
    --palPurp2-96: rgb(41.40625% 32.421875% 57.421875%);
    --palPurp2-97: rgb(41.40625% 32.8125% 57.421875%);
    --palPurp2-98: rgb(41.40625% 32.8125% 57.8125%);
    --palPurp2-99: rgb(41.40625% 33.203125% 58.203125%);
    --palPurp2-100: rgb(41.796875% 33.203125% 58.203125%);
    --palPurp2-101: rgb(41.796875% 33.59375% 58.59375%);
    --palPurp2-102: rgb(41.796875% 33.59375% 58.984375%);
    --palPurp2-103: rgb(42.1875% 33.984375% 58.984375%);
    --palPurp2-104: rgb(42.1875% 33.984375% 59.375%);
    --palPurp2-105: rgb(42.1875% 34.375% 59.765625%);
    --palPurp2-106: rgb(42.578125% 34.375% 59.765625%);
    --palPurp2-107: rgb(42.578125% 34.765625% 60.15625%);
    --palPurp2-108: rgb(42.578125% 34.765625% 60.546875%);
    --palPurp2-109: rgb(42.578125% 35.15625% 60.546875%);
    --palPurp2-110: rgb(42.96875% 35.15625% 60.9375%);
    --palPurp2-111: rgb(42.96875% 35.546875% 61.328125%);
    --palPurp2-112: rgb(42.96875% 35.9375% 61.328125%);
    --palPurp2-113: rgb(42.96875% 35.9375% 61.71875%);
    --palPurp2-114: rgb(43.359375% 36.328125% 61.71875%);
    --palPurp2-115: rgb(43.359375% 36.328125% 62.109375%);
    --palPurp2-116: rgb(43.359375% 36.71875% 62.109375%);
    --palPurp2-117: rgb(43.359375% 36.71875% 62.5%);
    --palPurp2-118: rgb(43.75% 37.109375% 62.5%);
    --palPurp2-119: rgb(43.75% 37.109375% 62.890625%);
    --palPurp2-120: rgb(43.75% 37.5% 62.890625%);
    --palPurp2-121: rgb(43.75% 37.5% 63.28125%);
    --palPurp2-122: rgb(44.140625% 37.890625% 63.671875%);
    --palPurp2-123: rgb(44.140625% 38.28125% 63.671875%);
    --palPurp2-124: rgb(44.140625% 38.28125% 64.0625%);
    --palPurp2-125: rgb(44.140625% 38.671875% 64.0625%);
    --palPurp2-126: rgb(44.140625% 38.671875% 64.453125%);
    --palPurp2-127: rgb(44.53125% 39.0625% 64.453125%);
    --palPurp2-128: rgb(44.53125% 39.0625% 64.84375%);
    --palPurp2-129: rgb(44.53125% 39.453125% 64.84375%);
    --palPurp2-130: rgb(44.53125% 39.453125% 65.234375%);
    --palPurp2-131: rgb(44.921875% 39.84375% 65.234375%);
    --palPurp2-132: rgb(44.921875% 40.234375% 65.625%);
    --palPurp2-133: rgb(44.921875% 40.234375% 65.625%);
    --palPurp2-134: rgb(44.921875% 40.625% 66.015625%);
    --palPurp2-135: rgb(45.3125% 40.625% 66.40625%);
    --palPurp2-136: rgb(45.3125% 41.015625% 66.40625%);
    --palPurp2-137: rgb(45.3125% 41.015625% 66.796875%);
    --palPurp2-138: rgb(45.3125% 41.40625% 66.796875%);
    --palPurp2-139: rgb(45.703125% 41.40625% 67.1875%);
    --palPurp2-140: rgb(45.703125% 41.796875% 67.1875%);
    --palPurp2-141: rgb(45.703125% 41.796875% 67.578125%);
    --palPurp2-142: rgb(45.703125% 42.1875% 67.578125%);
    --palPurp2-143: rgb(45.703125% 42.578125% 67.96875%);
    --palPurp2-144: rgb(46.09375% 42.578125% 67.96875%);
    --palPurp2-145: rgb(46.09375% 42.96875% 68.359375%);
    --palPurp2-146: rgb(46.09375% 42.96875% 68.75%);
    --palPurp2-147: rgb(46.09375% 43.359375% 68.75%);
    --palPurp2-148: rgb(46.484375% 43.75% 69.140625%);
    --palPurp2-149: rgb(46.875% 43.75% 69.140625%);
    --palPurp2-150: rgb(46.875% 44.140625% 69.53125%);
    --palPurp2-151: rgb(47.265625% 44.53125% 69.921875%);
    --palPurp2-152: rgb(47.265625% 44.921875% 69.921875%);
    --palPurp2-153: rgb(47.65625% 45.3125% 70.3125%);
    --palPurp2-154: rgb(48.046875% 45.703125% 70.703125%);
    --palPurp2-155: rgb(48.046875% 45.703125% 71.09375%);
    --palPurp2-156: rgb(48.4375% 46.09375% 71.09375%);
    --palPurp2-157: rgb(48.4375% 46.484375% 71.484375%);
    --palPurp2-158: rgb(48.828125% 46.875% 71.875%);
    --palPurp2-159: rgb(48.828125% 47.265625% 71.875%);
    --palPurp2-160: rgb(49.21875% 47.65625% 72.265625%);
    --palPurp2-161: rgb(49.609375% 47.65625% 72.65625%);
    --palPurp2-162: rgb(49.609375% 48.046875% 72.65625%);
    --palPurp2-163: rgb(50% 48.4375% 73.046875%);
    --palPurp2-164: rgb(50% 48.828125% 73.4375%);
    --palPurp2-165: rgb(50.390625% 49.21875% 73.4375%);
    --palPurp2-166: rgb(50.390625% 49.21875% 73.828125%);
    --palPurp2-167: rgb(50.78125% 49.609375% 74.21875%);
    --palPurp2-168: rgb(51.171875% 50% 74.21875%);
    --palPurp2-169: rgb(51.171875% 50.390625% 74.609375%);
    --palPurp2-170: rgb(51.5625% 50.78125% 75%);
    --palPurp2-171: rgb(51.5625% 51.171875% 75%);
    --palPurp2-172: rgb(51.953125% 51.171875% 75.390625%);
    --palPurp2-173: rgb(52.34375% 51.5625% 75.78125%);
    --palPurp2-174: rgb(52.34375% 51.953125% 75.78125%);
    --palPurp2-175: rgb(52.734375% 52.34375% 76.171875%);
    --palPurp2-176: rgb(52.734375% 52.734375% 76.5625%);
    --palPurp2-177: rgb(53.125% 53.125% 76.5625%);
    --palPurp2-178: rgb(53.125% 53.125% 76.953125%);
    --palPurp2-179: rgb(53.515625% 53.515625% 77.34375%);
    --palPurp2-180: rgb(53.90625% 53.90625% 77.34375%);
    --palPurp2-181: rgb(53.90625% 54.296875% 77.734375%);
    --palPurp2-182: rgb(54.296875% 54.6875% 78.125%);
    --palPurp2-183: rgb(54.296875% 55.078125% 78.125%);
    --palPurp2-184: rgb(54.6875% 55.078125% 78.515625%);
    --palPurp2-185: rgb(55.078125% 55.46875% 78.515625%);
    --palPurp2-186: rgb(55.46875% 55.859375% 78.90625%);
    --palPurp2-187: rgb(55.859375% 56.25% 78.90625%);
    --palPurp2-188: rgb(55.859375% 56.640625% 79.296875%);
    --palPurp2-189: rgb(56.25% 57.03125% 79.296875%);
    --palPurp2-190: rgb(56.640625% 57.421875% 79.6875%);
    --palPurp2-191: rgb(57.03125% 57.8125% 79.6875%);
    --palPurp2-192: rgb(57.421875% 58.203125% 79.6875%);
    --palPurp2-193: rgb(57.8125% 58.59375% 80.078125%);
    --palPurp2-194: rgb(57.8125% 58.984375% 80.078125%);
    --palPurp2-195: rgb(58.203125% 59.375% 80.46875%);
    --palPurp2-196: rgb(58.59375% 59.765625% 80.46875%);
    --palPurp2-197: rgb(58.984375% 60.15625% 80.859375%);
    --palPurp2-198: rgb(59.375% 60.15625% 80.859375%);
    --palPurp2-199: rgb(59.765625% 60.546875% 80.859375%);
    --palPurp2-200: rgb(59.765625% 60.9375% 81.25%);
    --palPurp2-201: rgb(60.15625% 61.328125% 81.25%);
    --palPurp2-202: rgb(60.546875% 61.71875% 81.640625%);
    --palPurp2-203: rgb(60.9375% 62.109375% 81.640625%);
    --palPurp2-204: rgb(61.328125% 62.5% 82.03125%);
    --palPurp2-205: rgb(61.71875% 62.890625% 82.03125%);
    --palPurp2-206: rgb(61.71875% 63.28125% 82.03125%);
    --palPurp2-207: rgb(62.109375% 63.671875% 82.421875%);
    --palPurp2-208: rgb(62.5% 64.0625% 82.421875%);
    --palPurp2-209: rgb(62.890625% 64.453125% 82.8125%);
    --palPurp2-210: rgb(63.28125% 64.84375% 82.8125%);
    --palPurp2-211: rgb(63.671875% 64.84375% 83.203125%);
    --palPurp2-212: rgb(63.671875% 65.234375% 83.203125%);
    --palPurp2-213: rgb(64.0625% 65.625% 83.203125%);
    --palPurp2-214: rgb(64.453125% 66.015625% 83.59375%);
    --palPurp2-215: rgb(64.84375% 66.40625% 83.59375%);
    --palPurp2-216: rgb(65.234375% 66.796875% 83.984375%);
    --palPurp2-217: rgb(65.625% 67.1875% 83.984375%);
    --palPurp2-218: rgb(65.625% 67.578125% 84.375%);
    --palPurp2-219: rgb(66.015625% 67.96875% 84.375%);
    --palPurp2-220: rgb(66.40625% 68.359375% 84.765625%);
    --palPurp2-221: rgb(66.796875% 68.75% 84.765625%);
    --palPurp2-222: rgb(67.1875% 69.140625% 85.15625%);
    --palPurp2-223: rgb(67.578125% 69.53125% 85.15625%);
    --palPurp2-224: rgb(67.96875% 69.921875% 85.546875%);
    --palPurp2-225: rgb(68.359375% 70.3125% 85.546875%);
    --palPurp2-226: rgb(68.75% 70.703125% 85.9375%);
    --palPurp2-227: rgb(69.53125% 71.484375% 85.9375%);
    --palPurp2-228: rgb(69.921875% 71.875% 86.328125%);
    --palPurp2-229: rgb(70.3125% 72.265625% 86.328125%);
    --palPurp2-230: rgb(70.703125% 72.65625% 86.71875%);
    --palPurp2-231: rgb(71.09375% 73.046875% 86.71875%);
    --palPurp2-232: rgb(71.484375% 73.4375% 87.109375%);
    --palPurp2-233: rgb(71.875% 73.828125% 87.109375%);
    --palPurp2-234: rgb(72.265625% 74.21875% 87.5%);
    --palPurp2-235: rgb(72.65625% 74.609375% 87.5%);
    --palPurp2-236: rgb(73.046875% 75% 87.890625%);
    --palPurp2-237: rgb(73.4375% 75.390625% 87.890625%);
    --palPurp2-238: rgb(73.828125% 76.171875% 88.28125%);
    --palPurp2-239: rgb(74.21875% 76.5625% 88.28125%);
    --palPurp2-240: rgb(74.609375% 76.953125% 88.671875%);
    --palPurp2-241: rgb(75% 77.34375% 88.671875%);
    --palPurp2-242: rgb(75.390625% 77.734375% 89.0625%);
    --palPurp2-243: rgb(75.78125% 78.125% 89.0625%);
    --palPurp2-244: rgb(76.171875% 78.515625% 89.453125%);
    --palPurp2-245: rgb(76.5625% 78.90625% 89.453125%);
    --palPurp2-246: rgb(77.34375% 79.296875% 89.84375%);
    --palPurp2-247: rgb(77.734375% 79.6875% 89.84375%);
    --palPurp2-248: rgb(78.125% 80.46875% 90.234375%);
    --palPurp2-249: rgb(78.515625% 80.859375% 90.234375%);
    --palPurp2-250: rgb(78.90625% 81.25% 90.625%);
    --palPurp2-251: rgb(79.296875% 81.640625% 90.625%);
    --palPurp2-252: rgb(79.6875% 82.03125% 91.015625%);
    --palPurp2-253: rgb(80.078125% 82.421875% 91.015625%);
    --palPurp2-254: rgb(80.46875% 82.8125% 91.40625%);
    --palPurp2-255: rgb(80.859375% 83.203125% 91.40625%);
    --palPurp2-256: rgb(81.25% 83.59375% 91.796875%);
}
