/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palPurple-1: rgb(0% 0% 0%);
    --palPurple-2: rgb(5.882353% 5.490196% 13.72549%);
    --palPurple-3: rgb(12.156863% 10.980392% 26.666667%);
    --palPurple-4: rgb(18.431373% 16.862745% 38.823529%);
    --palPurple-5: rgb(24.705882% 23.137255% 49.803922%);
    --palPurple-6: rgb(30.980392% 29.411765% 59.607843%);
    --palPurple-7: rgb(37.647059% 35.686275% 68.235294%);
    --palPurple-8: rgb(44.313725% 41.960784% 76.078431%);
    --palPurple-9: rgb(50.980392% 48.627451% 82.745098%);
    --palPurple-10: rgb(57.647059% 55.686275% 88.235294%);
    --palPurple-11: rgb(64.313725% 62.745098% 92.941176%);
    --palPurple-12: rgb(71.372549% 69.803922% 96.470588%);
    --palPurple-13: rgb(78.431373% 76.862745% 98.823529%);
    --palPurple-14: rgb(85.490196% 84.313725% 100%);
    --palPurple-15: rgb(92.54902% 92.156863% 100%);
    --palPurple-16: rgb(100% 100% 100%);
}
