/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRainforest-1: rgb(0% 0% 0%);
    --palRainforest-2: rgb(0.035348% 0.018213% 0.028529%);
    --palRainforest-3: rgb(0.128648% 0.060495% 0.102842%);
    --palRainforest-4: rgb(0.278017% 0.120245% 0.221135%);
    --palRainforest-5: rgb(0.48408% 0.19387% 0.384561%);
    --palRainforest-6: rgb(0.747951% 0.278742% 0.59528%);
    --palRainforest-7: rgb(1.070945% 0.372704% 0.856159%);
    --palRainforest-8: rgb(1.454267% 0.473959% 1.170513%);
    --palRainforest-9: rgb(1.89926% 0.580832% 1.542306%);
    --palRainforest-10: rgb(2.407094% 0.691841% 1.975933%);
    --palRainforest-11: rgb(2.978955% 0.80556% 2.476426%);
    --palRainforest-12: rgb(3.615793% 0.920708% 3.049255%);
    --palRainforest-13: rgb(4.309015% 1.035914% 3.700839%);
    --palRainforest-14: rgb(5.002764% 1.150036% 4.42085%);
    --palRainforest-15: rgb(5.690889% 1.261875% 5.15558%);
    --palRainforest-16: rgb(6.373722% 1.370261% 5.903594%);
    --palRainforest-17: rgb(7.051465% 1.474054% 6.666383%);
    --palRainforest-18: rgb(7.724209% 1.572147% 7.445354%);
    --palRainforest-19: rgb(8.391944% 1.663467% 8.241831%);
    --palRainforest-20: rgb(9.054575% 1.746977% 9.05706%);
    --palRainforest-21: rgb(9.711928% 1.821687% 9.892205%);
    --palRainforest-22: rgb(10.363755% 1.886656% 10.748338%);
    --palRainforest-23: rgb(11.009796% 1.940935% 11.626554%);
    --palRainforest-24: rgb(11.64973% 1.98362% 12.527872%);
    --palRainforest-25: rgb(12.283067% 2.014042% 13.452913%);
    --palRainforest-26: rgb(12.909439% 2.03135% 14.402636%);
    --palRainforest-27: rgb(13.528273% 2.035041% 15.377434%);
    --palRainforest-28: rgb(14.139011% 2.024637% 16.377707%);
    --palRainforest-29: rgb(14.741086% 1.999714% 17.403814%);
    --palRainforest-30: rgb(15.333851% 1.960089% 18.455794%);
    --palRainforest-31: rgb(15.916608% 1.905793% 19.533444%);
    --palRainforest-32: rgb(16.488647% 1.837026% 20.636417%);
    --palRainforest-33: rgb(17.049218% 1.754237% 21.764133%);
    --palRainforest-34: rgb(17.59755% 1.65812% 22.915829%);
    --palRainforest-35: rgb(18.132834% 1.549679% 24.090499%);
    --palRainforest-36: rgb(18.654212% 1.43035% 25.286782%);
    --palRainforest-37: rgb(19.160807% 1.301909% 26.503145%);
    --palRainforest-38: rgb(19.651733% 1.16641% 27.738033%);
    --palRainforest-39: rgb(20.126018% 1.026643% 28.989271%);
    --palRainforest-40: rgb(20.58269% 0.885675% 30.254797%);
    --palRainforest-41: rgb(21.020707% 0.747322% 31.532054%);
    --palRainforest-42: rgb(21.438997% 0.615793% 32.818551%);
    --palRainforest-43: rgb(21.83642% 0.496178% 34.111258%);
    --palRainforest-44: rgb(22.21179% 0.394128% 35.4071%);
    --palRainforest-45: rgb(22.563857% 0.315967% 36.702864%);
    --palRainforest-46: rgb(22.891311% 0.268921% 37.994912%);
    --palRainforest-47: rgb(23.192784% 0.260911% 39.279509%);
    --palRainforest-48: rgb(23.466851% 0.300633% 40.552711%);
    --palRainforest-49: rgb(23.712033% 0.397543% 41.810379%);
    --palRainforest-50: rgb(23.92681% 0.561814% 43.0482%);
    --palRainforest-51: rgb(24.109636% 0.804265% 44.261706%);
    --palRainforest-52: rgb(24.258951% 1.136251% 45.446314%);
    --palRainforest-53: rgb(24.373208% 1.569526% 46.597364%);
    --palRainforest-54: rgb(24.450903% 2.116053% 47.710173%);
    --palRainforest-55: rgb(24.490602% 2.787786% 48.780105%);
    --palRainforest-56: rgb(24.490975% 3.596403% 49.802654%);
    --palRainforest-57: rgb(24.450851% 4.527317% 50.773491%);
    --palRainforest-58: rgb(24.369255% 5.485464% 51.68858%);
    --palRainforest-59: rgb(24.245442% 6.459689% 52.544292%);
    --palRainforest-60: rgb(24.078934% 7.446643% 53.337486%);
    --palRainforest-61: rgb(23.869576% 8.443034% 54.065588%);
    --palRainforest-62: rgb(23.617539% 9.4456% 54.726684%);
    --palRainforest-63: rgb(23.323344% 10.451116% 55.319577%);
    --palRainforest-64: rgb(22.987882% 11.456402% 55.843817%);
    --palRainforest-65: rgb(22.612359% 12.458403% 56.299728%);
    --palRainforest-66: rgb(22.198312% 13.45421% 56.688374%);
    --palRainforest-67: rgb(21.747564% 14.441114% 57.011523%);
    --palRainforest-68: rgb(21.262202% 15.41663% 57.271576%);
    --palRainforest-69: rgb(20.744476% 16.378577% 57.471484%);
    --palRainforest-70: rgb(20.196762% 17.325075% 57.614642%);
    --palRainforest-71: rgb(19.621532% 18.254549% 57.704782%);
    --palRainforest-72: rgb(19.021288% 19.165743% 57.745873%);
    --palRainforest-73: rgb(18.398508% 20.057702% 57.742012%);
    --palRainforest-74: rgb(17.755678% 20.929734% 57.697362%);
    --palRainforest-75: rgb(17.095138% 21.78144% 57.616024%);
    --palRainforest-76: rgb(16.419068% 22.612677% 57.501971%);
    --palRainforest-77: rgb(15.72956% 23.423486% 57.359029%);
    --palRainforest-78: rgb(15.028788% 24.214004% 57.190944%);
    --palRainforest-79: rgb(14.318305% 24.984699% 57.000995%);
    --palRainforest-80: rgb(13.600121% 25.735938% 56.792527%);
    --palRainforest-81: rgb(12.875507% 26.468395% 56.568325%);
    --palRainforest-82: rgb(12.146089% 27.182656% 56.331179%);
    --palRainforest-83: rgb(11.41315% 27.879434% 56.083519%);
    --palRainforest-84: rgb(10.677811% 28.559492% 55.827508%);
    --palRainforest-85: rgb(9.941208% 29.223583% 55.565145%);
    --palRainforest-86: rgb(9.204385% 29.872479% 55.298213%);
    --palRainforest-87: rgb(8.468313% 30.506954% 55.028291%);
    --palRainforest-88: rgb(7.733906% 31.127781% 54.75677%);
    --palRainforest-89: rgb(7.002039% 31.735725% 54.484867%);
    --palRainforest-90: rgb(6.273575% 32.331535% 54.213637%);
    --palRainforest-91: rgb(5.549391% 32.915943% 53.943989%);
    --palRainforest-92: rgb(4.830422% 33.489659% 53.676697%);
    --palRainforest-93: rgb(4.117711% 34.053373% 53.412415%);
    --palRainforest-94: rgb(3.431301% 34.607743% 53.151696%);
    --palRainforest-95: rgb(2.823151% 35.15338% 52.89509%);
    --palRainforest-96: rgb(2.291138% 35.690931% 52.642828%);
    --palRainforest-97: rgb(1.831692% 36.220981% 52.395192%);
    --palRainforest-98: rgb(1.441361% 36.744062% 52.152493%);
    --palRainforest-99: rgb(1.116009% 37.260755% 51.914697%);
    --palRainforest-100: rgb(0.852043% 37.771542% 51.681985%);
    --palRainforest-101: rgb(0.645349% 38.276942% 51.454247%);
    --palRainforest-102: rgb(0.492165% 38.777406% 51.231495%);
    --palRainforest-103: rgb(0.388401% 39.273403% 51.013518%);
    --palRainforest-104: rgb(0.330343% 39.765337% 50.800245%);
    --palRainforest-105: rgb(0.313922% 40.253639% 50.591329%);
    --palRainforest-106: rgb(0.335534% 40.738675% 50.386607%);
    --palRainforest-107: rgb(0.39135% 41.220824% 50.185688%);
    --palRainforest-108: rgb(0.477763% 41.700434% 49.988199%);
    --palRainforest-109: rgb(0.591469% 42.177814% 49.793828%);
    --palRainforest-110: rgb(0.729035% 42.653287% 49.602046%);
    --palRainforest-111: rgb(0.887382% 43.127137% 49.412384%);
    --palRainforest-112: rgb(1.063728% 43.599622% 49.224386%);
    --palRainforest-113: rgb(1.255386% 44.070995% 49.037469%);
    --palRainforest-114: rgb(1.459998% 44.541483% 48.85105%);
    --palRainforest-115: rgb(1.675538% 45.011291% 48.664535%);
    --palRainforest-116: rgb(1.900372% 45.4806% 48.477336%);
    --palRainforest-117: rgb(2.133114% 45.949578% 48.288771%);
    --palRainforest-118: rgb(2.372824% 46.418372% 48.098173%);
    --palRainforest-119: rgb(2.618991% 46.887103% 47.904864%);
    --palRainforest-120: rgb(2.871551% 47.355874% 47.708154%);
    --palRainforest-121: rgb(3.130917% 47.824765% 47.50735%);
    --palRainforest-122: rgb(3.397939% 48.29384% 47.301725%);
    --palRainforest-123: rgb(3.673999% 48.763141% 47.090565%);
    --palRainforest-124: rgb(3.960997% 49.232687% 46.873158%);
    --palRainforest-125: rgb(4.254495% 49.702482% 46.648794%);
    --palRainforest-126: rgb(4.550242% 50.172506% 46.416771%);
    --palRainforest-127: rgb(4.851696% 50.642727% 46.176388%);
    --palRainforest-128: rgb(5.161452% 51.11309% 45.926961%);
    --palRainforest-129: rgb(5.482105% 51.583525% 45.667819%);
    --palRainforest-130: rgb(5.8162% 52.053947% 45.398309%);
    --palRainforest-131: rgb(6.166185% 52.524253% 45.117794%);
    --palRainforest-132: rgb(6.534357% 52.99433% 44.825642%);
    --palRainforest-133: rgb(6.922865% 53.464049% 44.521263%);
    --palRainforest-134: rgb(7.33364% 53.933267% 44.204082%);
    --palRainforest-135: rgb(7.768384% 54.401831% 43.873546%);
    --palRainforest-136: rgb(8.228551% 54.869579% 43.529123%);
    --palRainforest-137: rgb(8.715324% 55.336341% 43.170265%);
    --palRainforest-138: rgb(9.229669% 55.801931% 42.796498%);
    --palRainforest-139: rgb(9.772305% 56.26616% 42.407362%);
    --palRainforest-140: rgb(10.34372% 56.728829% 42.002408%);
    --palRainforest-141: rgb(10.944196% 57.189736% 41.581155%);
    --palRainforest-142: rgb(11.57385% 57.648671% 41.143183%);
    --palRainforest-143: rgb(12.232648% 58.105412% 40.688128%);
    --palRainforest-144: rgb(12.920424% 58.559738% 40.215589%);
    --palRainforest-145: rgb(13.636922% 59.011427% 39.725069%);
    --palRainforest-146: rgb(14.381797% 59.460238% 39.216313%);
    --palRainforest-147: rgb(15.154652% 59.905933% 38.688917%);
    --palRainforest-148: rgb(15.955083% 60.348273% 38.142398%);
    --palRainforest-149: rgb(16.782596% 60.787002% 37.576548%);
    --palRainforest-150: rgb(17.636792% 61.22187% 36.990793%);
    --palRainforest-151: rgb(18.517164% 61.65261% 36.384903%);
    --palRainforest-152: rgb(19.423323% 62.078959% 35.758343%);
    --palRainforest-153: rgb(20.354805% 62.500639% 35.110816%);
    --palRainforest-154: rgb(21.311291% 62.917367% 34.441716%);
    --palRainforest-155: rgb(22.292319% 63.328853% 33.750808%);
    --palRainforest-156: rgb(23.297712% 63.734796% 33.037299%);
    --palRainforest-157: rgb(24.327075% 64.134885% 32.300881%);
    --palRainforest-158: rgb(25.380149% 64.528801% 31.541%);
    --palRainforest-159: rgb(26.456806% 64.916207% 30.756892%);
    --palRainforest-160: rgb(27.556862% 65.296757% 29.947914%);
    --palRainforest-161: rgb(28.680131% 65.670094% 29.113422%);
    --palRainforest-162: rgb(29.826515% 66.035841% 28.252611%);
    --palRainforest-163: rgb(30.995941% 66.39361% 27.364605%);
    --palRainforest-164: rgb(32.188354% 66.742992% 26.448458%);
    --palRainforest-165: rgb(33.403704% 67.083566% 25.503144%);
    --palRainforest-166: rgb(34.641936% 67.414894% 24.527563%);
    --palRainforest-167: rgb(35.903067% 67.736514% 23.520375%);
    --palRainforest-168: rgb(37.187089% 68.047947% 22.480135%);
    --palRainforest-169: rgb(38.493698% 68.348739% 21.405665%);
    --palRainforest-170: rgb(39.822972% 68.638367% 20.29496%);
    --palRainforest-171: rgb(41.17439% 68.916381% 19.14666%);
    --palRainforest-172: rgb(42.547894% 69.182246% 17.958321%);
    --palRainforest-173: rgb(43.942652% 69.435547% 16.728307%);
    --palRainforest-174: rgb(45.357915% 69.675858% 15.454345%);
    --palRainforest-175: rgb(46.792606% 69.902821% 14.134113%);
    --palRainforest-176: rgb(48.245238% 70.116178% 12.765286%);
    --palRainforest-177: rgb(49.71384% 70.31581% 11.345636%);
    --palRainforest-178: rgb(51.195889% 70.501777% 9.87317%);
    --palRainforest-179: rgb(52.688474% 70.674308% 8.346012%);
    --palRainforest-180: rgb(54.187673% 70.833987% 6.764129%);
    --palRainforest-181: rgb(55.689246% 70.981624% 5.129587%);
    --palRainforest-182: rgb(57.188177% 71.118407% 3.467604%);
    --palRainforest-183: rgb(58.679239% 71.245786% 2.096499%);
    --palRainforest-184: rgb(60.156811% 71.365546% 1.144501%);
    --palRainforest-185: rgb(61.615466% 71.479652% 0.628442%);
    --palRainforest-186: rgb(63.050079% 71.590203% 0.56129%);
    --palRainforest-187: rgb(64.456172% 71.6993% 0.951989%);
    --palRainforest-188: rgb(65.830117% 71.808941% 1.805924%);
    --palRainforest-189: rgb(67.169008% 71.921013% 3.125583%);
    --palRainforest-190: rgb(68.471159% 72.037067% 4.849044%);
    --palRainforest-191: rgb(69.735437% 72.158502% 6.611147%);
    --palRainforest-192: rgb(70.961598% 72.286398% 8.347276%);
    --palRainforest-193: rgb(72.149995% 72.421591% 10.054993%);
    --palRainforest-194: rgb(73.301372% 72.564719% 11.73516%);
    --palRainforest-195: rgb(74.416804% 72.716234% 13.389929%);
    --palRainforest-196: rgb(75.497589% 72.876431% 15.02192%);
    --palRainforest-197: rgb(76.54507% 73.045515% 16.633694%);
    --palRainforest-198: rgb(77.560665% 73.223593% 18.227761%);
    --palRainforest-199: rgb(78.545927% 73.410637% 19.806771%);
    --palRainforest-200: rgb(79.502059% 73.606716% 21.372532%);
    --palRainforest-201: rgb(80.430524% 73.811714% 22.927357%);
    --palRainforest-202: rgb(81.33254% 74.025571% 24.473025%);
    --palRainforest-203: rgb(82.209182% 74.248244% 26.01098%);
    --palRainforest-204: rgb(83.061539% 74.479634% 27.542763%);
    --palRainforest-205: rgb(83.890582% 74.719653% 29.069728%);
    --palRainforest-206: rgb(84.697167% 74.96823% 30.593027%);
    --palRainforest-207: rgb(85.482062% 75.225302% 32.113698%);
    --palRainforest-208: rgb(86.245947% 75.490816% 33.632669%);
    --palRainforest-209: rgb(86.989396% 75.764747% 35.150687%);
    --palRainforest-210: rgb(87.712923% 76.04707% 36.668485%);
    --palRainforest-211: rgb(88.416978% 76.337768% 38.186782%);
    --palRainforest-212: rgb(89.101913% 76.636851% 39.706152%);
    --palRainforest-213: rgb(89.767991% 76.944365% 41.226982%);
    --palRainforest-214: rgb(90.41542% 77.260358% 42.749685%);
    --palRainforest-215: rgb(91.044358% 77.584886% 44.274736%);
    --palRainforest-216: rgb(91.654853% 77.918057% 45.802267%);
    --palRainforest-217: rgb(92.246923% 78.259973% 47.332599%);
    --palRainforest-218: rgb(92.820506% 78.610768% 48.865891%);
    --palRainforest-219: rgb(93.375472% 78.970603% 50.402183%);
    --palRainforest-220: rgb(93.911639% 79.33965% 51.941608%);
    --palRainforest-221: rgb(94.428753% 79.718118% 53.484032%);
    --palRainforest-222: rgb(94.926502% 80.106227% 55.029462%);
    --palRainforest-223: rgb(95.404514% 80.504233% 56.577636%);
    --palRainforest-224: rgb(95.862355% 80.912404% 58.128369%);
    --palRainforest-225: rgb(96.299535% 81.33104% 59.681267%);
    --palRainforest-226: rgb(96.71551% 81.760462% 61.235912%);
    --palRainforest-227: rgb(97.109682% 82.201013% 62.791738%);
    --palRainforest-228: rgb(97.48141% 82.653054% 64.348056%);
    --palRainforest-229: rgb(97.830011% 83.116968% 65.904062%);
    --palRainforest-230: rgb(98.154779% 83.593148% 67.458753%);
    --palRainforest-231: rgb(98.454982% 84.081997% 69.011015%);
    --palRainforest-232: rgb(98.729905% 84.58392% 70.559469%);
    --palRainforest-233: rgb(98.978835% 85.099316% 72.102612%);
    --palRainforest-234: rgb(99.201133% 85.628564% 73.638624%);
    --palRainforest-235: rgb(99.396216% 86.172014% 75.165543%);
    --palRainforest-236: rgb(99.56365% 86.729965% 76.681061%);
    --palRainforest-237: rgb(99.703146% 87.302652% 78.182704%);
    --palRainforest-238: rgb(99.814653% 87.890219% 79.667691%);
    --palRainforest-239: rgb(99.898398% 88.492695% 81.133029%);
    --palRainforest-240: rgb(99.954928% 89.109977% 82.575569%);
    --palRainforest-241: rgb(99.98523% 89.741786% 83.991936%);
    --palRainforest-242: rgb(99.990681% 90.387677% 85.378806%);
    --palRainforest-243: rgb(99.973262% 91.046972% 86.732686%);
    --palRainforest-244: rgb(99.935332% 91.718818% 88.050438%);
    --palRainforest-245: rgb(99.880092% 92.402056% 89.328714%);
    --palRainforest-246: rgb(99.810973% 93.095404% 90.564927%);
    --palRainforest-247: rgb(99.732359% 93.797243% 91.756364%);
    --palRainforest-248: rgb(99.64929% 94.505713% 92.900703%);
    --palRainforest-249: rgb(99.567604% 95.218676% 93.995905%);
    --palRainforest-250: rgb(99.494896% 95.933417% 95.039442%);
    --palRainforest-251: rgb(99.442226% 96.646091% 96.027218%);
    --palRainforest-252: rgb(99.43242% 97.349028% 96.947845%);
    --palRainforest-253: rgb(99.602609% 97.996738% 97.716299%);
    --palRainforest-254: rgb(99.775551% 98.647064% 98.470323%);
    --palRainforest-255: rgb(99.904735% 99.315948% 99.234139%);
    --palRainforest-256: rgb(100% 100% 100%);
}
