/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRainbowCP-1: rgb(75.2941% 53.3333% 87.0588%);
    --palRainbowCP-2: rgb(74.902% 53.7255% 87.451%);
    --palRainbowCP-3: rgb(74.1176% 54.1176% 87.451%);
    --palRainbowCP-4: rgb(73.7255% 54.1176% 87.8431%);
    --palRainbowCP-5: rgb(73.3333% 54.5098% 88.2353%);
    --palRainbowCP-6: rgb(72.549% 54.902% 88.2353%);
    --palRainbowCP-7: rgb(72.1569% 55.2941% 88.6275%);
    --palRainbowCP-8: rgb(71.7647% 55.2941% 89.0196%);
    --palRainbowCP-9: rgb(70.9804% 55.6863% 89.0196%);
    --palRainbowCP-10: rgb(70.5882% 56.0784% 89.4118%);
    --palRainbowCP-11: rgb(69.8039% 56.4706% 89.8039%);
    --palRainbowCP-12: rgb(69.4118% 56.4706% 90.1961%);
    --palRainbowCP-13: rgb(68.6275% 56.8627% 90.1961%);
    --palRainbowCP-14: rgb(68.2353% 57.2549% 90.5882%);
    --palRainbowCP-15: rgb(67.8431% 57.6471% 90.9804%);
    --palRainbowCP-16: rgb(67.0588% 57.6471% 90.9804%);
    --palRainbowCP-17: rgb(66.2745% 58.0392% 91.3725%);
    --palRainbowCP-18: rgb(65.8824% 58.4314% 91.7647%);
    --palRainbowCP-19: rgb(65.098% 58.8235% 91.7647%);
    --palRainbowCP-20: rgb(64.7059% 58.8235% 92.1569%);
    --palRainbowCP-21: rgb(63.9216% 59.2157% 92.549%);
    --palRainbowCP-22: rgb(63.5294% 59.6078% 92.549%);
    --palRainbowCP-23: rgb(62.7451% 59.6078% 92.9412%);
    --palRainbowCP-24: rgb(61.9608% 60% 93.3333%);
    --palRainbowCP-25: rgb(61.1765% 60.3922% 93.3333%);
    --palRainbowCP-26: rgb(60.7843% 60.3922% 93.7255%);
    --palRainbowCP-27: rgb(60% 60.7843% 94.1176%);
    --palRainbowCP-28: rgb(59.2157% 61.1765% 94.5098%);
    --palRainbowCP-29: rgb(58.4314% 61.1765% 94.5098%);
    --palRainbowCP-30: rgb(58.0392% 61.5686% 94.902%);
    --palRainbowCP-31: rgb(57.2549% 61.9608% 95.2941%);
    --palRainbowCP-32: rgb(56.4706% 62.3529% 95.2941%);
    --palRainbowCP-33: rgb(55.6863% 62.3529% 95.6863%);
    --palRainbowCP-34: rgb(54.902% 62.7451% 96.0784%);
    --palRainbowCP-35: rgb(54.1176% 63.1373% 96.0784%);
    --palRainbowCP-36: rgb(53.3333% 63.1373% 96.4706%);
    --palRainbowCP-37: rgb(52.549% 63.5294% 96.8627%);
    --palRainbowCP-38: rgb(52.1569% 63.5294% 96.4706%);
    --palRainbowCP-39: rgb(51.7647% 63.9216% 96.0784%);
    --palRainbowCP-40: rgb(51.3725% 64.3137% 95.2941%);
    --palRainbowCP-41: rgb(50.9804% 64.7059% 94.902%);
    --palRainbowCP-42: rgb(50.9804% 64.7059% 94.1176%);
    --palRainbowCP-43: rgb(50.5882% 65.098% 93.7255%);
    --palRainbowCP-44: rgb(50.1961% 65.4902% 93.3333%);
    --palRainbowCP-45: rgb(50.1961% 65.4902% 92.549%);
    --palRainbowCP-46: rgb(49.8039% 65.8824% 92.1569%);
    --palRainbowCP-47: rgb(49.4118% 66.2745% 91.3725%);
    --palRainbowCP-48: rgb(49.0196% 66.2745% 90.9804%);
    --palRainbowCP-49: rgb(48.6275% 66.6667% 90.5882%);
    --palRainbowCP-50: rgb(48.6275% 67.0588% 89.8039%);
    --palRainbowCP-51: rgb(48.2353% 67.0588% 89.4118%);
    --palRainbowCP-52: rgb(47.8431% 67.451% 88.6275%);
    --palRainbowCP-53: rgb(47.451% 67.451% 88.2353%);
    --palRainbowCP-54: rgb(47.0588% 67.8431% 87.8431%);
    --palRainbowCP-55: rgb(46.6667% 68.2353% 87.0588%);
    --palRainbowCP-56: rgb(46.6667% 68.2353% 86.6667%);
    --palRainbowCP-57: rgb(46.2745% 68.6275% 85.8824%);
    --palRainbowCP-58: rgb(45.8824% 69.0196% 85.4902%);
    --palRainbowCP-59: rgb(45.4902% 69.0196% 85.098%);
    --palRainbowCP-60: rgb(45.098% 69.4118% 84.3137%);
    --palRainbowCP-61: rgb(44.7059% 69.4118% 83.9216%);
    --palRainbowCP-62: rgb(44.3137% 69.8039% 83.1373%);
    --palRainbowCP-63: rgb(43.9216% 70.1961% 82.7451%);
    --palRainbowCP-64: rgb(43.5294% 70.1961% 81.9608%);
    --palRainbowCP-65: rgb(43.1373% 70.5882% 81.5686%);
    --palRainbowCP-66: rgb(42.7451% 70.9804% 81.1765%);
    --palRainbowCP-67: rgb(42.3529% 70.9804% 80.3922%);
    --palRainbowCP-68: rgb(41.9608% 71.3725% 80%);
    --palRainbowCP-69: rgb(41.1765% 71.3725% 79.2157%);
    --palRainbowCP-70: rgb(40.7843% 71.7647% 78.8235%);
    --palRainbowCP-71: rgb(40.3922% 71.7647% 78.4314%);
    --palRainbowCP-72: rgb(40% 72.1569% 77.6471%);
    --palRainbowCP-73: rgb(39.6078% 72.549% 77.2549%);
    --palRainbowCP-74: rgb(39.6078% 72.549% 76.4706%);
    --palRainbowCP-75: rgb(40% 72.549% 75.2941%);
    --palRainbowCP-76: rgb(40.7843% 72.549% 74.5098%);
    --palRainbowCP-77: rgb(41.1765% 72.549% 73.7255%);
    --palRainbowCP-78: rgb(41.5686% 72.549% 72.549%);
    --palRainbowCP-79: rgb(42.3529% 72.549% 71.7647%);
    --palRainbowCP-80: rgb(42.7451% 72.549% 70.5882%);
    --palRainbowCP-81: rgb(43.1373% 72.549% 69.8039%);
    --palRainbowCP-82: rgb(43.5294% 72.549% 68.6275%);
    --palRainbowCP-83: rgb(43.9216% 72.549% 67.8431%);
    --palRainbowCP-84: rgb(44.3137% 72.549% 66.6667%);
    --palRainbowCP-85: rgb(44.7059% 72.549% 65.8824%);
    --palRainbowCP-86: rgb(45.098% 72.549% 64.7059%);
    --palRainbowCP-87: rgb(45.4902% 72.549% 63.9216%);
    --palRainbowCP-88: rgb(45.8824% 72.549% 62.7451%);
    --palRainbowCP-89: rgb(46.2745% 72.549% 61.9608%);
    --palRainbowCP-90: rgb(46.6667% 72.549% 60.7843%);
    --palRainbowCP-91: rgb(46.6667% 72.549% 60%);
    --palRainbowCP-92: rgb(47.0588% 72.549% 58.8235%);
    --palRainbowCP-93: rgb(47.451% 72.549% 58.0392%);
    --palRainbowCP-94: rgb(47.8431% 72.549% 56.8627%);
    --palRainbowCP-95: rgb(47.8431% 72.549% 56.0784%);
    --palRainbowCP-96: rgb(48.2353% 72.549% 54.902%);
    --palRainbowCP-97: rgb(48.2353% 72.549% 54.1176%);
    --palRainbowCP-98: rgb(48.6275% 72.9412% 52.9412%);
    --palRainbowCP-99: rgb(48.6275% 72.9412% 52.1569%);
    --palRainbowCP-100: rgb(49.0196% 72.9412% 50.9804%);
    --palRainbowCP-101: rgb(49.0196% 72.9412% 50.1961%);
    --palRainbowCP-102: rgb(49.4118% 72.9412% 49.0196%);
    --palRainbowCP-103: rgb(49.4118% 72.9412% 48.2353%);
    --palRainbowCP-104: rgb(49.4118% 72.9412% 47.0588%);
    --palRainbowCP-105: rgb(49.8039% 72.9412% 46.2745%);
    --palRainbowCP-106: rgb(49.8039% 72.9412% 45.098%);
    --palRainbowCP-107: rgb(49.8039% 72.9412% 43.9216%);
    --palRainbowCP-108: rgb(50.1961% 72.9412% 43.1373%);
    --palRainbowCP-109: rgb(50.1961% 72.9412% 41.9608%);
    --palRainbowCP-110: rgb(50.1961% 72.9412% 41.1765%);
    --palRainbowCP-111: rgb(51.3725% 72.9412% 40.7843%);
    --palRainbowCP-112: rgb(52.1569% 72.9412% 40.3922%);
    --palRainbowCP-113: rgb(52.9412% 72.549% 40.3922%);
    --palRainbowCP-114: rgb(53.7255% 72.549% 40%);
    --palRainbowCP-115: rgb(54.5098% 72.549% 39.6078%);
    --palRainbowCP-116: rgb(55.2941% 72.549% 39.2157%);
    --palRainbowCP-117: rgb(56.0784% 72.1569% 38.8235%);
    --palRainbowCP-118: rgb(56.8627% 72.1569% 38.8235%);
    --palRainbowCP-119: rgb(57.6471% 72.1569% 38.4314%);
    --palRainbowCP-120: rgb(58.4314% 72.1569% 38.0392%);
    --palRainbowCP-121: rgb(59.2157% 71.7647% 37.6471%);
    --palRainbowCP-122: rgb(60% 71.7647% 37.6471%);
    --palRainbowCP-123: rgb(60.7843% 71.7647% 37.2549%);
    --palRainbowCP-124: rgb(61.5686% 71.7647% 36.8627%);
    --palRainbowCP-125: rgb(62.3529% 71.3725% 36.4706%);
    --palRainbowCP-126: rgb(62.7451% 71.3725% 36.0784%);
    --palRainbowCP-127: rgb(63.5294% 71.3725% 36.0784%);
    --palRainbowCP-128: rgb(64.3137% 70.9804% 35.6863%);
    --palRainbowCP-129: rgb(65.098% 70.9804% 35.2941%);
    --palRainbowCP-130: rgb(65.4902% 70.9804% 34.902%);
    --palRainbowCP-131: rgb(66.2745% 70.9804% 34.5098%);
    --palRainbowCP-132: rgb(67.0588% 70.5882% 34.5098%);
    --palRainbowCP-133: rgb(67.8431% 70.5882% 34.1176%);
    --palRainbowCP-134: rgb(68.2353% 70.5882% 33.7255%);
    --palRainbowCP-135: rgb(69.0196% 70.1961% 33.3333%);
    --palRainbowCP-136: rgb(69.8039% 70.1961% 32.9412%);
    --palRainbowCP-137: rgb(70.1961% 70.1961% 32.9412%);
    --palRainbowCP-138: rgb(70.9804% 70.1961% 32.549%);
    --palRainbowCP-139: rgb(71.7647% 69.8039% 32.1569%);
    --palRainbowCP-140: rgb(72.1569% 69.8039% 31.7647%);
    --palRainbowCP-141: rgb(72.9412% 69.8039% 31.3725%);
    --palRainbowCP-142: rgb(73.3333% 69.4118% 30.9804%);
    --palRainbowCP-143: rgb(74.1176% 69.4118% 30.9804%);
    --palRainbowCP-144: rgb(74.902% 69.4118% 30.5882%);
    --palRainbowCP-145: rgb(75.2941% 69.0196% 30.1961%);
    --palRainbowCP-146: rgb(76.0784% 69.0196% 29.8039%);
    --palRainbowCP-147: rgb(76.4706% 68.6275% 29.8039%);
    --palRainbowCP-148: rgb(76.8627% 68.2353% 29.8039%);
    --palRainbowCP-149: rgb(77.2549% 68.2353% 29.8039%);
    --palRainbowCP-150: rgb(77.6471% 67.8431% 29.4118%);
    --palRainbowCP-151: rgb(78.0392% 67.451% 29.4118%);
    --palRainbowCP-152: rgb(78.4314% 67.0588% 29.4118%);
    --palRainbowCP-153: rgb(78.8235% 66.6667% 29.4118%);
    --palRainbowCP-154: rgb(79.2157% 66.6667% 29.4118%);
    --palRainbowCP-155: rgb(79.6078% 66.2745% 29.0196%);
    --palRainbowCP-156: rgb(80% 65.8824% 29.0196%);
    --palRainbowCP-157: rgb(80.3922% 65.4902% 29.0196%);
    --palRainbowCP-158: rgb(80.7843% 65.098% 29.0196%);
    --palRainbowCP-159: rgb(81.1765% 64.7059% 29.0196%);
    --palRainbowCP-160: rgb(81.5686% 64.3137% 29.0196%);
    --palRainbowCP-161: rgb(81.5686% 64.3137% 28.6275%);
    --palRainbowCP-162: rgb(81.9608% 63.9216% 28.6275%);
    --palRainbowCP-163: rgb(82.3529% 63.5294% 28.6275%);
    --palRainbowCP-164: rgb(82.7451% 63.1373% 28.6275%);
    --palRainbowCP-165: rgb(83.1373% 62.7451% 28.6275%);
    --palRainbowCP-166: rgb(83.5294% 62.3529% 28.6275%);
    --palRainbowCP-167: rgb(83.9216% 61.9608% 28.2353%);
    --palRainbowCP-168: rgb(84.3137% 61.5686% 28.2353%);
    --palRainbowCP-169: rgb(84.7059% 61.5686% 28.2353%);
    --palRainbowCP-170: rgb(85.098% 61.1765% 28.2353%);
    --palRainbowCP-171: rgb(85.098% 60.7843% 28.2353%);
    --palRainbowCP-172: rgb(85.4902% 60.3922% 28.2353%);
    --palRainbowCP-173: rgb(85.8824% 60% 27.8431%);
    --palRainbowCP-174: rgb(86.2745% 59.6078% 27.8431%);
    --palRainbowCP-175: rgb(86.6667% 59.2157% 27.8431%);
    --palRainbowCP-176: rgb(87.0588% 58.8235% 27.8431%);
    --palRainbowCP-177: rgb(87.451% 58.4314% 27.8431%);
    --palRainbowCP-178: rgb(87.451% 58.0392% 27.8431%);
    --palRainbowCP-179: rgb(87.8431% 57.6471% 27.8431%);
    --palRainbowCP-180: rgb(88.2353% 57.2549% 27.451%);
    --palRainbowCP-181: rgb(88.6275% 56.8627% 27.451%);
    --palRainbowCP-182: rgb(89.0196% 56.4706% 27.451%);
    --palRainbowCP-183: rgb(89.0196% 56.4706% 27.8431%);
    --palRainbowCP-184: rgb(89.4118% 56.0784% 28.2353%);
    --palRainbowCP-185: rgb(89.4118% 55.6863% 29.0196%);
    --palRainbowCP-186: rgb(89.8039% 55.2941% 29.4118%);
    --palRainbowCP-187: rgb(89.8039% 55.2941% 29.8039%);
    --palRainbowCP-188: rgb(90.1961% 54.902% 30.5882%);
    --palRainbowCP-189: rgb(90.5882% 54.5098% 30.9804%);
    --palRainbowCP-190: rgb(90.5882% 54.1176% 31.3725%);
    --palRainbowCP-191: rgb(90.9804% 54.1176% 32.1569%);
    --palRainbowCP-192: rgb(90.9804% 53.7255% 32.549%);
    --palRainbowCP-193: rgb(91.3725% 53.3333% 32.9412%);
    --palRainbowCP-194: rgb(91.3725% 52.9412% 33.7255%);
    --palRainbowCP-195: rgb(91.7647% 52.549% 34.1176%);
    --palRainbowCP-196: rgb(91.7647% 52.549% 34.5098%);
    --palRainbowCP-197: rgb(92.1569% 52.1569% 34.902%);
    --palRainbowCP-198: rgb(92.1569% 51.7647% 35.6863%);
    --palRainbowCP-199: rgb(92.549% 51.3725% 36.0784%);
    --palRainbowCP-200: rgb(92.549% 50.9804% 36.4706%);
    --palRainbowCP-201: rgb(92.9412% 50.9804% 36.8627%);
    --palRainbowCP-202: rgb(92.9412% 50.5882% 37.2549%);
    --palRainbowCP-203: rgb(93.3333% 50.1961% 38.0392%);
    --palRainbowCP-204: rgb(93.3333% 49.8039% 38.4314%);
    --palRainbowCP-205: rgb(93.7255% 49.4118% 38.8235%);
    --palRainbowCP-206: rgb(93.7255% 49.0196% 39.2157%);
    --palRainbowCP-207: rgb(94.1176% 49.0196% 39.6078%);
    --palRainbowCP-208: rgb(94.1176% 48.6275% 40.3922%);
    --palRainbowCP-209: rgb(94.5098% 48.2353% 40.7843%);
    --palRainbowCP-210: rgb(94.5098% 47.8431% 41.1765%);
    --palRainbowCP-211: rgb(94.5098% 47.451% 41.5686%);
    --palRainbowCP-212: rgb(94.902% 47.0588% 41.9608%);
    --palRainbowCP-213: rgb(94.902% 46.6667% 42.3529%);
    --palRainbowCP-214: rgb(95.2941% 46.2745% 43.1373%);
    --palRainbowCP-215: rgb(95.2941% 45.8824% 43.5294%);
    --palRainbowCP-216: rgb(95.6863% 45.8824% 43.9216%);
    --palRainbowCP-217: rgb(95.6863% 45.4902% 44.3137%);
    --palRainbowCP-218: rgb(96.0784% 45.098% 44.7059%);
    --palRainbowCP-219: rgb(96.0784% 44.7059% 45.098%);
    --palRainbowCP-220: rgb(95.6863% 45.098% 45.8824%);
    --palRainbowCP-221: rgb(95.6863% 45.098% 46.6667%);
    --palRainbowCP-222: rgb(95.2941% 45.098% 47.0588%);
    --palRainbowCP-223: rgb(94.902% 45.4902% 47.8431%);
    --palRainbowCP-224: rgb(94.902% 45.4902% 48.6275%);
    --palRainbowCP-225: rgb(94.5098% 45.8824% 49.0196%);
    --palRainbowCP-226: rgb(94.5098% 45.8824% 49.8039%);
    --palRainbowCP-227: rgb(94.1176% 46.2745% 50.1961%);
    --palRainbowCP-228: rgb(93.7255% 46.2745% 50.9804%);
    --palRainbowCP-229: rgb(93.7255% 46.2745% 51.7647%);
    --palRainbowCP-230: rgb(93.3333% 46.6667% 52.1569%);
    --palRainbowCP-231: rgb(92.9412% 46.6667% 52.9412%);
    --palRainbowCP-232: rgb(92.9412% 47.0588% 53.7255%);
    --palRainbowCP-233: rgb(92.549% 47.0588% 54.1176%);
    --palRainbowCP-234: rgb(92.1569% 47.0588% 54.902%);
    --palRainbowCP-235: rgb(92.1569% 47.451% 55.2941%);
    --palRainbowCP-236: rgb(91.7647% 47.451% 56.0784%);
    --palRainbowCP-237: rgb(91.3725% 47.8431% 56.8627%);
    --palRainbowCP-238: rgb(91.3725% 47.8431% 57.2549%);
    --palRainbowCP-239: rgb(90.9804% 47.8431% 58.0392%);
    --palRainbowCP-240: rgb(90.5882% 48.2353% 58.8235%);
    --palRainbowCP-241: rgb(90.1961% 48.2353% 59.2157%);
    --palRainbowCP-242: rgb(90.1961% 48.6275% 60%);
    --palRainbowCP-243: rgb(89.8039% 48.6275% 60.3922%);
    --palRainbowCP-244: rgb(89.4118% 49.0196% 61.1765%);
    --palRainbowCP-245: rgb(89.0196% 49.0196% 61.9608%);
    --palRainbowCP-246: rgb(89.0196% 49.0196% 62.3529%);
    --palRainbowCP-247: rgb(88.6275% 49.4118% 63.1373%);
    --palRainbowCP-248: rgb(88.2353% 49.4118% 63.9216%);
    --palRainbowCP-249: rgb(87.8431% 49.8039% 64.3137%);
    --palRainbowCP-250: rgb(87.451% 49.8039% 65.098%);
    --palRainbowCP-251: rgb(87.0588% 49.8039% 65.4902%);
    --palRainbowCP-252: rgb(87.0588% 50.1961% 66.2745%);
    --palRainbowCP-253: rgb(86.6667% 50.1961% 67.0588%);
    --palRainbowCP-254: rgb(86.2745% 50.5882% 67.451%);
    --palRainbowCP-255: rgb(85.8824% 50.5882% 68.2353%);
}
