/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRainbow-1: rgb(50% 0% 100%);
    --palRainbow-2: rgb(49.22% 1.23% 100%);
    --palRainbow-3: rgb(48.43% 2.46% 99.99%);
    --palRainbow-4: rgb(47.65% 3.7% 99.98%);
    --palRainbow-5: rgb(46.86% 4.93% 99.97%);
    --palRainbow-6: rgb(46.08% 6.16% 99.95%);
    --palRainbow-7: rgb(45.29% 7.39% 99.93%);
    --palRainbow-8: rgb(44.51% 8.61% 99.91%);
    --palRainbow-9: rgb(43.73% 9.84% 99.88%);
    --palRainbow-10: rgb(42.94% 11.07% 99.85%);
    --palRainbow-11: rgb(42.16% 12.29% 99.81%);
    --palRainbow-12: rgb(41.37% 13.51% 99.77%);
    --palRainbow-13: rgb(40.59% 14.73% 99.73%);
    --palRainbow-14: rgb(39.8% 15.95% 99.68%);
    --palRainbow-15: rgb(39.02% 17.16% 99.63%);
    --palRainbow-16: rgb(38.24% 18.37% 99.57%);
    --palRainbow-17: rgb(37.45% 19.58% 99.51%);
    --palRainbow-18: rgb(36.67% 20.79% 99.45%);
    --palRainbow-19: rgb(35.88% 21.99% 99.39%);
    --palRainbow-20: rgb(35.1% 23.19% 99.32%);
    --palRainbow-21: rgb(34.31% 24.39% 99.24%);
    --palRainbow-22: rgb(33.53% 25.58% 99.16%);
    --palRainbow-23: rgb(32.75% 26.77% 99.08%);
    --palRainbow-24: rgb(31.96% 27.96% 99%);
    --palRainbow-25: rgb(31.18% 29.14% 98.91%);
    --palRainbow-26: rgb(30.39% 30.32% 98.82%);
    --palRainbow-27: rgb(29.61% 31.49% 98.72%);
    --palRainbow-28: rgb(28.82% 32.65% 98.62%);
    --palRainbow-29: rgb(28.04% 33.82% 98.52%);
    --palRainbow-30: rgb(27.25% 34.97% 98.41%);
    --palRainbow-31: rgb(26.47% 36.12% 98.3%);
    --palRainbow-32: rgb(25.69% 37.27% 98.18%);
    --palRainbow-33: rgb(24.9% 38.41% 98.06%);
    --palRainbow-34: rgb(24.12% 39.55% 97.94%);
    --palRainbow-35: rgb(23.33% 40.67% 97.81%);
    --palRainbow-36: rgb(22.55% 41.8% 97.68%);
    --palRainbow-37: rgb(21.76% 42.91% 97.55%);
    --palRainbow-38: rgb(20.98% 44.02% 97.41%);
    --palRainbow-39: rgb(20.2% 45.12% 97.27%);
    --palRainbow-40: rgb(19.41% 46.22% 97.13%);
    --palRainbow-41: rgb(18.63% 47.31% 96.98%);
    --palRainbow-42: rgb(17.84% 48.39% 96.83%);
    --palRainbow-43: rgb(17.06% 49.47% 96.67%);
    --palRainbow-44: rgb(16.27% 50.53% 96.51%);
    --palRainbow-45: rgb(15.49% 51.59% 96.35%);
    --palRainbow-46: rgb(14.71% 52.64% 96.18%);
    --palRainbow-47: rgb(13.92% 53.69% 96.01%);
    --palRainbow-48: rgb(13.14% 54.72% 95.84%);
    --palRainbow-49: rgb(12.35% 55.75% 95.66%);
    --palRainbow-50: rgb(11.57% 56.77% 95.48%);
    --palRainbow-51: rgb(10.78% 57.78% 95.29%);
    --palRainbow-52: rgb(10% 58.78% 95.11%);
    --palRainbow-53: rgb(9.22% 59.77% 94.91%);
    --palRainbow-54: rgb(8.43% 60.75% 94.72%);
    --palRainbow-55: rgb(7.65% 61.73% 94.52%);
    --palRainbow-56: rgb(6.86% 62.69% 94.32%);
    --palRainbow-57: rgb(6.08% 63.65% 94.11%);
    --palRainbow-58: rgb(5.29% 64.59% 93.9%);
    --palRainbow-59: rgb(4.51% 65.53% 93.69%);
    --palRainbow-60: rgb(3.73% 66.45% 93.47%);
    --palRainbow-61: rgb(2.94% 67.37% 93.25%);
    --palRainbow-62: rgb(2.16% 68.27% 93.02%);
    --palRainbow-63: rgb(1.37% 69.17% 92.8%);
    --palRainbow-64: rgb(0.59% 70.05% 92.56%);
    --palRainbow-65: rgb(0.2% 70.93% 92.33%);
    --palRainbow-66: rgb(0.98% 71.79% 92.09%);
    --palRainbow-67: rgb(1.76% 72.64% 91.85%);
    --palRainbow-68: rgb(2.55% 73.48% 91.6%);
    --palRainbow-69: rgb(3.33% 74.31% 91.35%);
    --palRainbow-70: rgb(4.12% 75.13% 91.1%);
    --palRainbow-71: rgb(4.9% 75.94% 90.85%);
    --palRainbow-72: rgb(5.69% 76.74% 90.59%);
    --palRainbow-73: rgb(6.47% 77.52% 90.32%);
    --palRainbow-74: rgb(7.25% 78.29% 90.06%);
    --palRainbow-75: rgb(8.04% 79.05% 89.79%);
    --palRainbow-76: rgb(8.82% 79.8% 89.52%);
    --palRainbow-77: rgb(9.61% 80.54% 89.24%);
    --palRainbow-78: rgb(10.39% 81.26% 88.96%);
    --palRainbow-79: rgb(11.18% 81.97% 88.68%);
    --palRainbow-80: rgb(11.96% 82.67% 88.39%);
    --palRainbow-81: rgb(12.75% 83.36% 88.1%);
    --palRainbow-82: rgb(13.53% 84.03% 87.81%);
    --palRainbow-83: rgb(14.31% 84.7% 87.51%);
    --palRainbow-84: rgb(15.1% 85.34% 87.21%);
    --palRainbow-85: rgb(15.88% 85.98% 86.91%);
    --palRainbow-86: rgb(16.67% 86.6% 86.6%);
    --palRainbow-87: rgb(17.45% 87.21% 86.29%);
    --palRainbow-88: rgb(18.24% 87.81% 85.98%);
    --palRainbow-89: rgb(19.02% 88.39% 85.66%);
    --palRainbow-90: rgb(19.8% 88.96% 85.34%);
    --palRainbow-91: rgb(20.59% 89.52% 85.02%);
    --palRainbow-92: rgb(21.37% 90.06% 84.7%);
    --palRainbow-93: rgb(22.16% 90.59% 84.37%);
    --palRainbow-94: rgb(22.94% 91.1% 84.03%);
    --palRainbow-95: rgb(23.73% 91.6% 83.7%);
    --palRainbow-96: rgb(24.51% 92.09% 83.36%);
    --palRainbow-97: rgb(25.29% 92.56% 83.02%);
    --palRainbow-98: rgb(26.08% 93.02% 82.67%);
    --palRainbow-99: rgb(26.86% 93.47% 82.33%);
    --palRainbow-100: rgb(27.65% 93.9% 81.97%);
    --palRainbow-101: rgb(28.43% 94.32% 81.62%);
    --palRainbow-102: rgb(29.22% 94.72% 81.26%);
    --palRainbow-103: rgb(30% 95.11% 80.9%);
    --palRainbow-104: rgb(30.78% 95.48% 80.54%);
    --palRainbow-105: rgb(31.57% 95.84% 80.17%);
    --palRainbow-106: rgb(32.35% 96.18% 79.8%);
    --palRainbow-107: rgb(33.14% 96.51% 79.43%);
    --palRainbow-108: rgb(33.92% 96.83% 79.05%);
    --palRainbow-109: rgb(34.71% 97.13% 78.67%);
    --palRainbow-110: rgb(35.49% 97.41% 78.29%);
    --palRainbow-111: rgb(36.27% 97.68% 77.91%);
    --palRainbow-112: rgb(37.06% 97.94% 77.52%);
    --palRainbow-113: rgb(37.84% 98.18% 77.13%);
    --palRainbow-114: rgb(38.63% 98.41% 76.74%);
    --palRainbow-115: rgb(39.41% 98.62% 76.34%);
    --palRainbow-116: rgb(40.2% 98.82% 75.94%);
    --palRainbow-117: rgb(40.98% 99% 75.54%);
    --palRainbow-118: rgb(41.76% 99.16% 75.13%);
    --palRainbow-119: rgb(42.55% 99.32% 74.73%);
    --palRainbow-120: rgb(43.33% 99.45% 74.31%);
    --palRainbow-121: rgb(44.12% 99.57% 73.9%);
    --palRainbow-122: rgb(44.9% 99.68% 73.48%);
    --palRainbow-123: rgb(45.69% 99.77% 73.07%);
    --palRainbow-124: rgb(46.47% 99.85% 72.64%);
    --palRainbow-125: rgb(47.25% 99.91% 72.22%);
    --palRainbow-126: rgb(48.04% 99.95% 71.79%);
    --palRainbow-127: rgb(48.82% 99.98% 71.36%);
    --palRainbow-128: rgb(49.61% 100% 70.93%);
    --palRainbow-129: rgb(50.39% 100% 70.49%);
    --palRainbow-130: rgb(51.18% 99.98% 70.05%);
    --palRainbow-131: rgb(51.96% 99.95% 69.61%);
    --palRainbow-132: rgb(52.75% 99.91% 69.17%);
    --palRainbow-133: rgb(53.53% 99.85% 68.72%);
    --palRainbow-134: rgb(54.31% 99.77% 68.27%);
    --palRainbow-135: rgb(55.1% 99.68% 67.82%);
    --palRainbow-136: rgb(55.88% 99.57% 67.37%);
    --palRainbow-137: rgb(56.67% 99.45% 66.91%);
    --palRainbow-138: rgb(57.45% 99.32% 66.45%);
    --palRainbow-139: rgb(58.24% 99.16% 65.99%);
    --palRainbow-140: rgb(59.02% 99% 65.53%);
    --palRainbow-141: rgb(59.8% 98.82% 65.06%);
    --palRainbow-142: rgb(60.59% 98.62% 64.59%);
    --palRainbow-143: rgb(61.37% 98.41% 64.12%);
    --palRainbow-144: rgb(62.16% 98.18% 63.65%);
    --palRainbow-145: rgb(62.94% 97.94% 63.17%);
    --palRainbow-146: rgb(63.73% 97.68% 62.69%);
    --palRainbow-147: rgb(64.51% 97.41% 62.21%);
    --palRainbow-148: rgb(65.29% 97.13% 61.73%);
    --palRainbow-149: rgb(66.08% 96.83% 61.24%);
    --palRainbow-150: rgb(66.86% 96.51% 60.75%);
    --palRainbow-151: rgb(67.65% 96.18% 60.26%);
    --palRainbow-152: rgb(68.43% 95.84% 59.77%);
    --palRainbow-153: rgb(69.22% 95.48% 59.28%);
    --palRainbow-154: rgb(70% 95.11% 58.78%);
    --palRainbow-155: rgb(70.78% 94.72% 58.28%);
    --palRainbow-156: rgb(71.57% 94.32% 57.78%);
    --palRainbow-157: rgb(72.35% 93.9% 57.27%);
    --palRainbow-158: rgb(73.14% 93.47% 56.77%);
    --palRainbow-159: rgb(73.92% 93.02% 56.26%);
    --palRainbow-160: rgb(74.71% 92.56% 55.75%);
    --palRainbow-161: rgb(75.49% 92.09% 55.24%);
    --palRainbow-162: rgb(76.27% 91.6% 54.72%);
    --palRainbow-163: rgb(77.06% 91.1% 54.21%);
    --palRainbow-164: rgb(77.84% 90.59% 53.69%);
    --palRainbow-165: rgb(78.63% 90.06% 53.17%);
    --palRainbow-166: rgb(79.41% 89.52% 52.64%);
    --palRainbow-167: rgb(80.2% 88.96% 52.12%);
    --palRainbow-168: rgb(80.98% 88.39% 51.59%);
    --palRainbow-169: rgb(81.76% 87.81% 51.06%);
    --palRainbow-170: rgb(82.55% 87.21% 50.53%);
    --palRainbow-171: rgb(83.33% 86.6% 50%);
    --palRainbow-172: rgb(84.12% 85.98% 49.47%);
    --palRainbow-173: rgb(84.9% 85.34% 48.93%);
    --palRainbow-174: rgb(85.69% 84.7% 48.39%);
    --palRainbow-175: rgb(86.47% 84.03% 47.85%);
    --palRainbow-176: rgb(87.25% 83.36% 47.31%);
    --palRainbow-177: rgb(88.04% 82.67% 46.77%);
    --palRainbow-178: rgb(88.82% 81.97% 46.22%);
    --palRainbow-179: rgb(89.61% 81.26% 45.67%);
    --palRainbow-180: rgb(90.39% 80.54% 45.12%);
    --palRainbow-181: rgb(91.18% 79.8% 44.57%);
    --palRainbow-182: rgb(91.96% 79.05% 44.02%);
    --palRainbow-183: rgb(92.75% 78.29% 43.47%);
    --palRainbow-184: rgb(93.53% 77.52% 42.91%);
    --palRainbow-185: rgb(94.31% 76.74% 42.35%);
    --palRainbow-186: rgb(95.1% 75.94% 41.8%);
    --palRainbow-187: rgb(95.88% 75.13% 41.24%);
    --palRainbow-188: rgb(96.67% 74.31% 40.67%);
    --palRainbow-189: rgb(97.45% 73.48% 40.11%);
    --palRainbow-190: rgb(98.24% 72.64% 39.55%);
    --palRainbow-191: rgb(99.02% 71.79% 38.98%);
    --palRainbow-192: rgb(99.8% 70.93% 38.41%);
    --palRainbow-193: rgb(100% 70.05% 37.84%);
    --palRainbow-194: rgb(100% 69.17% 37.27%);
    --palRainbow-195: rgb(100% 68.27% 36.7%);
    --palRainbow-196: rgb(100% 67.37% 36.12%);
    --palRainbow-197: rgb(100% 66.45% 35.55%);
    --palRainbow-198: rgb(100% 65.53% 34.97%);
    --palRainbow-199: rgb(100% 64.59% 34.39%);
    --palRainbow-200: rgb(100% 63.65% 33.82%);
    --palRainbow-201: rgb(100% 62.69% 33.24%);
    --palRainbow-202: rgb(100% 61.73% 32.65%);
    --palRainbow-203: rgb(100% 60.75% 32.07%);
    --palRainbow-204: rgb(100% 59.77% 31.49%);
    --palRainbow-205: rgb(100% 58.78% 30.9%);
    --palRainbow-206: rgb(100% 57.78% 30.32%);
    --palRainbow-207: rgb(100% 56.77% 29.73%);
    --palRainbow-208: rgb(100% 55.75% 29.14%);
    --palRainbow-209: rgb(100% 54.72% 28.55%);
    --palRainbow-210: rgb(100% 53.69% 27.96%);
    --palRainbow-211: rgb(100% 52.64% 27.37%);
    --palRainbow-212: rgb(100% 51.59% 26.77%);
    --palRainbow-213: rgb(100% 50.53% 26.18%);
    --palRainbow-214: rgb(100% 49.47% 25.58%);
    --palRainbow-215: rgb(100% 48.39% 24.99%);
    --palRainbow-216: rgb(100% 47.31% 24.39%);
    --palRainbow-217: rgb(100% 46.22% 23.79%);
    --palRainbow-218: rgb(100% 45.12% 23.19%);
    --palRainbow-219: rgb(100% 44.02% 22.6%);
    --palRainbow-220: rgb(100% 42.91% 21.99%);
    --palRainbow-221: rgb(100% 41.8% 21.39%);
    --palRainbow-222: rgb(100% 40.67% 20.79%);
    --palRainbow-223: rgb(100% 39.55% 20.19%);
    --palRainbow-224: rgb(100% 38.41% 19.58%);
    --palRainbow-225: rgb(100% 37.27% 18.98%);
    --palRainbow-226: rgb(100% 36.12% 18.37%);
    --palRainbow-227: rgb(100% 34.97% 17.77%);
    --palRainbow-228: rgb(100% 33.82% 17.16%);
    --palRainbow-229: rgb(100% 32.65% 16.56%);
    --palRainbow-230: rgb(100% 31.49% 15.95%);
    --palRainbow-231: rgb(100% 30.32% 15.34%);
    --palRainbow-232: rgb(100% 29.14% 14.73%);
    --palRainbow-233: rgb(100% 27.96% 14.12%);
    --palRainbow-234: rgb(100% 26.77% 13.51%);
    --palRainbow-235: rgb(100% 25.58% 12.9%);
    --palRainbow-236: rgb(100% 24.39% 12.29%);
    --palRainbow-237: rgb(100% 23.19% 11.68%);
    --palRainbow-238: rgb(100% 21.99% 11.07%);
    --palRainbow-239: rgb(100% 20.79% 10.45%);
    --palRainbow-240: rgb(100% 19.58% 9.84%);
    --palRainbow-241: rgb(100% 18.37% 9.23%);
    --palRainbow-242: rgb(100% 17.16% 8.61%);
    --palRainbow-243: rgb(100% 15.95% 8%);
    --palRainbow-244: rgb(100% 14.73% 7.39%);
    --palRainbow-245: rgb(100% 13.51% 6.77%);
    --palRainbow-246: rgb(100% 12.29% 6.16%);
    --palRainbow-247: rgb(100% 11.07% 5.54%);
    --palRainbow-248: rgb(100% 9.84% 4.93%);
    --palRainbow-249: rgb(100% 8.61% 4.31%);
    --palRainbow-250: rgb(100% 7.39% 3.7%);
    --palRainbow-251: rgb(100% 6.16% 3.08%);
    --palRainbow-252: rgb(100% 4.93% 2.46%);
    --palRainbow-253: rgb(100% 3.7% 1.85%);
    --palRainbow-254: rgb(100% 2.46% 1.23%);
    --palRainbow-255: rgb(100% 1.23% 0.62%);
    --palRainbow-256: rgb(100% 0% 0%);
}
