/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRainbow-1: rgb(50% 0% 100%);
    --palRainbow-2: rgb(49.2157% 1.232% 99.9981%);
    --palRainbow-3: rgb(48.4314% 2.4637% 99.9924%);
    --palRainbow-4: rgb(47.6471% 3.6951% 99.9829%);
    --palRainbow-5: rgb(46.8627% 4.926% 99.9696%);
    --palRainbow-6: rgb(46.0784% 6.1561% 99.9526%);
    --palRainbow-7: rgb(45.2941% 7.3853% 99.9317%);
    --palRainbow-8: rgb(44.5098% 8.6133% 99.907%);
    --palRainbow-9: rgb(43.7255% 9.84% 99.8786%);
    --palRainbow-10: rgb(42.9412% 11.0653% 99.8464%);
    --palRainbow-11: rgb(42.1569% 12.2888% 99.8103%);
    --palRainbow-12: rgb(41.3725% 13.5105% 99.7705%);
    --palRainbow-13: rgb(40.5882% 14.7302% 99.7269%);
    --palRainbow-14: rgb(39.8039% 15.9476% 99.6795%);
    --palRainbow-15: rgb(39.0196% 17.1626% 99.6284%);
    --palRainbow-16: rgb(38.2353% 18.375% 99.5734%);
    --palRainbow-17: rgb(37.451% 19.5845% 99.5147%);
    --palRainbow-18: rgb(36.6667% 20.7912% 99.4522%);
    --palRainbow-19: rgb(35.8824% 21.9946% 99.3859%);
    --palRainbow-20: rgb(35.098% 23.1948% 99.3159%);
    --palRainbow-21: rgb(34.3137% 24.3914% 99.2421%);
    --palRainbow-22: rgb(33.5294% 25.5843% 99.1645%);
    --palRainbow-23: rgb(32.7451% 26.7733% 99.0831%);
    --palRainbow-24: rgb(31.9608% 27.9583% 98.998%);
    --palRainbow-25: rgb(31.1765% 29.139% 98.9092%);
    --palRainbow-26: rgb(30.3922% 30.3153% 98.8165%);
    --palRainbow-27: rgb(29.6078% 31.487% 98.7202%);
    --palRainbow-28: rgb(28.8235% 32.6539% 98.6201%);
    --palRainbow-29: rgb(28.0392% 33.8158% 98.5162%);
    --palRainbow-30: rgb(27.2549% 34.9727% 98.4086%);
    --palRainbow-31: rgb(26.4706% 36.1242% 98.2973%);
    --palRainbow-32: rgb(25.6863% 37.2702% 98.1823%);
    --palRainbow-33: rgb(24.902% 38.4106% 98.0635%);
    --palRainbow-34: rgb(24.1176% 39.5451% 97.941%);
    --palRainbow-35: rgb(23.3333% 40.6737% 97.8148%);
    --palRainbow-36: rgb(22.549% 41.796% 97.6848%);
    --palRainbow-37: rgb(21.7647% 42.9121% 97.5512%);
    --palRainbow-38: rgb(20.9804% 44.0216% 97.4139%);
    --palRainbow-39: rgb(20.1961% 45.1244% 97.2728%);
    --palRainbow-40: rgb(19.4118% 46.2204% 97.1281%);
    --palRainbow-41: rgb(18.6275% 47.3094% 96.9797%);
    --palRainbow-42: rgb(17.8431% 48.3911% 96.8276%);
    --palRainbow-43: rgb(17.0588% 49.4656% 96.6718%);
    --palRainbow-44: rgb(16.2745% 50.5325% 96.5124%);
    --palRainbow-45: rgb(15.4902% 51.5918% 96.3493%);
    --palRainbow-46: rgb(14.7059% 52.6432% 96.1826%);
    --palRainbow-47: rgb(13.9216% 53.6867% 96.0122%);
    --palRainbow-48: rgb(13.1373% 54.722% 95.8381%);
    --palRainbow-49: rgb(12.3529% 55.7489% 95.6604%);
    --palRainbow-50: rgb(11.5686% 56.7675% 95.4791%);
    --palRainbow-51: rgb(10.7843% 57.7774% 95.2942%);
    --palRainbow-52: rgb(10% 58.7785% 95.1057%);
    --palRainbow-53: rgb(9.2157% 59.7707% 94.9135%);
    --palRainbow-54: rgb(8.4314% 60.7539% 94.7177%);
    --palRainbow-55: rgb(7.6471% 61.7278% 94.5184%);
    --palRainbow-56: rgb(6.8627% 62.6924% 94.3154%);
    --palRainbow-57: rgb(6.0784% 63.6474% 94.1089%);
    --palRainbow-58: rgb(5.2941% 64.5928% 93.8988%);
    --palRainbow-59: rgb(4.5098% 65.5284% 93.6852%);
    --palRainbow-60: rgb(3.7255% 66.454% 93.468%);
    --palRainbow-61: rgb(2.9412% 67.3696% 93.2472%);
    --palRainbow-62: rgb(2.1569% 68.2749% 93.0229%);
    --palRainbow-63: rgb(1.3725% 69.1698% 92.7951%);
    --palRainbow-64: rgb(0.5882% 70.0543% 92.5638%);
    --palRainbow-65: rgb(0.1961% 70.9281% 92.3289%);
    --palRainbow-66: rgb(0.9804% 71.7912% 92.0906%);
    --palRainbow-67: rgb(1.7647% 72.6434% 91.8487%);
    --palRainbow-68: rgb(2.549% 73.4845% 91.6034%);
    --palRainbow-69: rgb(3.3333% 74.3145% 91.3545%);
    --palRainbow-70: rgb(4.1176% 75.1332% 91.1023%);
    --palRainbow-71: rgb(4.902% 75.9405% 90.8465%);
    --palRainbow-72: rgb(5.6863% 76.7363% 90.5873%);
    --palRainbow-73: rgb(6.4706% 77.5204% 90.3247%);
    --palRainbow-74: rgb(7.2549% 78.2928% 90.0587%);
    --palRainbow-75: rgb(8.0392% 79.0532% 89.7892%);
    --palRainbow-76: rgb(8.8235% 79.8017% 89.5163%);
    --palRainbow-77: rgb(9.6078% 80.5381% 89.2401%);
    --palRainbow-78: rgb(10.3922% 81.2622% 88.9604%);
    --palRainbow-79: rgb(11.1765% 81.974% 88.6774%);
    --palRainbow-80: rgb(11.9608% 82.6734% 88.391%);
    --palRainbow-81: rgb(12.7451% 83.3602% 88.1012%);
    --palRainbow-82: rgb(13.5294% 84.0344% 87.8081%);
    --palRainbow-83: rgb(14.3137% 84.6958% 87.5117%);
    --palRainbow-84: rgb(15.098% 85.3444% 87.212%);
    --palRainbow-85: rgb(15.8824% 85.98% 86.9089%);
    --palRainbow-86: rgb(16.6667% 86.6025% 86.6025%);
    --palRainbow-87: rgb(17.451% 87.212% 86.2929%);
    --palRainbow-88: rgb(18.2353% 87.8081% 85.98%);
    --palRainbow-89: rgb(19.0196% 88.391% 85.6638%);
    --palRainbow-90: rgb(19.8039% 88.9604% 85.3444%);
    --palRainbow-91: rgb(20.5882% 89.5163% 85.0217%);
    --palRainbow-92: rgb(21.3725% 90.0587% 84.6958%);
    --palRainbow-93: rgb(22.1569% 90.5873% 84.3667%);
    --palRainbow-94: rgb(22.9412% 91.1023% 84.0344%);
    --palRainbow-95: rgb(23.7255% 91.6034% 83.6989%);
    --palRainbow-96: rgb(24.5098% 92.0906% 83.3602%);
    --palRainbow-97: rgb(25.2941% 92.5638% 83.0184%);
    --palRainbow-98: rgb(26.0784% 93.0229% 82.6734%);
    --palRainbow-99: rgb(26.8627% 93.468% 82.3253%);
    --palRainbow-100: rgb(27.6471% 93.8988% 81.974%);
    --palRainbow-101: rgb(28.4314% 94.3154% 81.6197%);
    --palRainbow-102: rgb(29.2157% 94.7177% 81.2622%);
    --palRainbow-103: rgb(30% 95.1057% 80.9017%);
    --palRainbow-104: rgb(30.7843% 95.4791% 80.5381%);
    --palRainbow-105: rgb(31.5686% 95.8381% 80.1714%);
    --palRainbow-106: rgb(32.3529% 96.1826% 79.8017%);
    --palRainbow-107: rgb(33.1373% 96.5124% 79.429%);
    --palRainbow-108: rgb(33.9216% 96.8276% 79.0532%);
    --palRainbow-109: rgb(34.7059% 97.1281% 78.6745%);
    --palRainbow-110: rgb(35.4902% 97.4139% 78.2928%);
    --palRainbow-111: rgb(36.2745% 97.6848% 77.9081%);
    --palRainbow-112: rgb(37.0588% 97.941% 77.5204%);
    --palRainbow-113: rgb(37.8431% 98.1823% 77.1298%);
    --palRainbow-114: rgb(38.6275% 98.4086% 76.7363%);
    --palRainbow-115: rgb(39.4118% 98.6201% 76.3398%);
    --palRainbow-116: rgb(40.1961% 98.8165% 75.9405%);
    --palRainbow-117: rgb(40.9804% 98.998% 75.5383%);
    --palRainbow-118: rgb(41.7647% 99.1645% 75.1332%);
    --palRainbow-119: rgb(42.549% 99.3159% 74.7253%);
    --palRainbow-120: rgb(43.3333% 99.4522% 74.3145%);
    --palRainbow-121: rgb(44.1176% 99.5734% 73.9009%);
    --palRainbow-122: rgb(44.902% 99.6795% 73.4845%);
    --palRainbow-123: rgb(45.6863% 99.7705% 73.0653%);
    --palRainbow-124: rgb(46.4706% 99.8464% 72.6434%);
    --palRainbow-125: rgb(47.2549% 99.907% 72.2186%);
    --palRainbow-126: rgb(48.0392% 99.9526% 71.7912%);
    --palRainbow-127: rgb(48.8235% 99.9829% 71.361%);
    --palRainbow-128: rgb(49.6078% 99.9981% 70.9281%);
    --palRainbow-129: rgb(50.3922% 99.9981% 70.4926%);
    --palRainbow-130: rgb(51.1765% 99.9829% 70.0543%);
    --palRainbow-131: rgb(51.9608% 99.9526% 69.6134%);
    --palRainbow-132: rgb(52.7451% 99.907% 69.1698%);
    --palRainbow-133: rgb(53.5294% 99.8464% 68.7237%);
    --palRainbow-134: rgb(54.3137% 99.7705% 68.2749%);
    --palRainbow-135: rgb(55.098% 99.6795% 67.8235%);
    --palRainbow-136: rgb(55.8824% 99.5734% 67.3696%);
    --palRainbow-137: rgb(56.6667% 99.4522% 66.9131%);
    --palRainbow-138: rgb(57.451% 99.3159% 66.454%);
    --palRainbow-139: rgb(58.2353% 99.1645% 65.9925%);
    --palRainbow-140: rgb(59.0196% 98.998% 65.5284%);
    --palRainbow-141: rgb(59.8039% 98.8165% 65.0618%);
    --palRainbow-142: rgb(60.5882% 98.6201% 64.5928%);
    --palRainbow-143: rgb(61.3725% 98.4086% 64.1213%);
    --palRainbow-144: rgb(62.1569% 98.1823% 63.6474%);
    --palRainbow-145: rgb(62.9412% 97.941% 63.1711%);
    --palRainbow-146: rgb(63.7255% 97.6848% 62.6924%);
    --palRainbow-147: rgb(64.5098% 97.4139% 62.2113%);
    --palRainbow-148: rgb(65.2941% 97.1281% 61.7278%);
    --palRainbow-149: rgb(66.0784% 96.8276% 61.242%);
    --palRainbow-150: rgb(66.8627% 96.5124% 60.7539%);
    --palRainbow-151: rgb(67.6471% 96.1826% 60.2635%);
    --palRainbow-152: rgb(68.4314% 95.8381% 59.7707%);
    --palRainbow-153: rgb(69.2157% 95.4791% 59.2758%);
    --palRainbow-154: rgb(70% 95.1057% 58.7785%);
    --palRainbow-155: rgb(70.7843% 94.7177% 58.2791%);
    --palRainbow-156: rgb(71.5686% 94.3154% 57.7774%);
    --palRainbow-157: rgb(72.3529% 93.8988% 57.2735%);
    --palRainbow-158: rgb(73.1373% 93.468% 56.7675%);
    --palRainbow-159: rgb(73.9216% 93.0229% 56.2593%);
    --palRainbow-160: rgb(74.7059% 92.5638% 55.7489%);
    --palRainbow-161: rgb(75.4902% 92.0906% 55.2365%);
    --palRainbow-162: rgb(76.2745% 91.6034% 54.722%);
    --palRainbow-163: rgb(77.0588% 91.1023% 54.2053%);
    --palRainbow-164: rgb(77.8431% 90.5873% 53.6867%);
    --palRainbow-165: rgb(78.6275% 90.0587% 53.1659%);
    --palRainbow-166: rgb(79.4118% 89.5163% 52.6432%);
    --palRainbow-167: rgb(80.1961% 88.9604% 52.1185%);
    --palRainbow-168: rgb(80.9804% 88.391% 51.5918%);
    --palRainbow-169: rgb(81.7647% 87.8081% 51.0631%);
    --palRainbow-170: rgb(82.549% 87.212% 50.5325%);
    --palRainbow-171: rgb(83.3333% 86.6025% 50%);
    --palRainbow-172: rgb(84.1176% 85.98% 49.4656%);
    --palRainbow-173: rgb(84.902% 85.3444% 48.9293%);
    --palRainbow-174: rgb(85.6863% 84.6958% 48.3911%);
    --palRainbow-175: rgb(86.4706% 84.0344% 47.8512%);
    --palRainbow-176: rgb(87.2549% 83.3602% 47.3094%);
    --palRainbow-177: rgb(88.0392% 82.6734% 46.7658%);
    --palRainbow-178: rgb(88.8235% 81.974% 46.2204%);
    --palRainbow-179: rgb(89.6078% 81.2622% 45.6733%);
    --palRainbow-180: rgb(90.3922% 80.5381% 45.1244%);
    --palRainbow-181: rgb(91.1765% 79.8017% 44.5738%);
    --palRainbow-182: rgb(91.9608% 79.0532% 44.0216%);
    --palRainbow-183: rgb(92.7451% 78.2928% 43.4676%);
    --palRainbow-184: rgb(93.5294% 77.5204% 42.9121%);
    --palRainbow-185: rgb(94.3137% 76.7363% 42.3549%);
    --palRainbow-186: rgb(95.098% 75.9405% 41.796%);
    --palRainbow-187: rgb(95.8824% 75.1332% 41.2356%);
    --palRainbow-188: rgb(96.6667% 74.3145% 40.6737%);
    --palRainbow-189: rgb(97.451% 73.4845% 40.1102%);
    --palRainbow-190: rgb(98.2353% 72.6434% 39.5451%);
    --palRainbow-191: rgb(99.0196% 71.7912% 38.9786%);
    --palRainbow-192: rgb(99.8039% 70.9281% 38.4106%);
    --palRainbow-193: rgb(100% 70.0543% 37.8411%);
    --palRainbow-194: rgb(100% 69.1698% 37.2702%);
    --palRainbow-195: rgb(100% 68.2749% 36.6979%);
    --palRainbow-196: rgb(100% 67.3696% 36.1242%);
    --palRainbow-197: rgb(100% 66.454% 35.5491%);
    --palRainbow-198: rgb(100% 65.5284% 34.9727%);
    --palRainbow-199: rgb(100% 64.5928% 34.3949%);
    --palRainbow-200: rgb(100% 63.6474% 33.8158%);
    --palRainbow-201: rgb(100% 62.6924% 33.2355%);
    --palRainbow-202: rgb(100% 61.7278% 32.6539%);
    --palRainbow-203: rgb(100% 60.7539% 32.071%);
    --palRainbow-204: rgb(100% 59.7707% 31.487%);
    --palRainbow-205: rgb(100% 58.7785% 30.9017%);
    --palRainbow-206: rgb(100% 57.7774% 30.3153%);
    --palRainbow-207: rgb(100% 56.7675% 29.7277%);
    --palRainbow-208: rgb(100% 55.7489% 29.139%);
    --palRainbow-209: rgb(100% 54.722% 28.5492%);
    --palRainbow-210: rgb(100% 53.6867% 27.9583%);
    --palRainbow-211: rgb(100% 52.6432% 27.3663%);
    --palRainbow-212: rgb(100% 51.5918% 26.7733%);
    --palRainbow-213: rgb(100% 50.5325% 26.1793%);
    --palRainbow-214: rgb(100% 49.4656% 25.5843%);
    --palRainbow-215: rgb(100% 48.3911% 24.9883%);
    --palRainbow-216: rgb(100% 47.3094% 24.3914%);
    --palRainbow-217: rgb(100% 46.2204% 23.7935%);
    --palRainbow-218: rgb(100% 45.1244% 23.1948%);
    --palRainbow-219: rgb(100% 44.0216% 22.5951%);
    --palRainbow-220: rgb(100% 42.9121% 21.9946%);
    --palRainbow-221: rgb(100% 41.796% 21.3933%);
    --palRainbow-222: rgb(100% 40.6737% 20.7912%);
    --palRainbow-223: rgb(100% 39.5451% 20.1882%);
    --palRainbow-224: rgb(100% 38.4106% 19.5845%);
    --palRainbow-225: rgb(100% 37.2702% 18.9801%);
    --palRainbow-226: rgb(100% 36.1242% 18.375%);
    --palRainbow-227: rgb(100% 34.9727% 17.7691%);
    --palRainbow-228: rgb(100% 33.8158% 17.1626%);
    --palRainbow-229: rgb(100% 32.6539% 16.5554%);
    --palRainbow-230: rgb(100% 31.487% 15.9476%);
    --palRainbow-231: rgb(100% 30.3153% 15.3392%);
    --palRainbow-232: rgb(100% 29.139% 14.7302%);
    --palRainbow-233: rgb(100% 27.9583% 14.1206%);
    --palRainbow-234: rgb(100% 26.7733% 13.5105%);
    --palRainbow-235: rgb(100% 25.5843% 12.8999%);
    --palRainbow-236: rgb(100% 24.3914% 12.2888%);
    --palRainbow-237: rgb(100% 23.1948% 11.6773%);
    --palRainbow-238: rgb(100% 21.9946% 11.0653%);
    --palRainbow-239: rgb(100% 20.7912% 10.4528%);
    --palRainbow-240: rgb(100% 19.5845% 9.84%);
    --palRainbow-241: rgb(100% 18.375% 9.2268%);
    --palRainbow-242: rgb(100% 17.1626% 8.6133%);
    --palRainbow-243: rgb(100% 15.9476% 7.9994%);
    --palRainbow-244: rgb(100% 14.7302% 7.3853%);
    --palRainbow-245: rgb(100% 13.5105% 6.7708%);
    --palRainbow-246: rgb(100% 12.2888% 6.1561%);
    --palRainbow-247: rgb(100% 11.0653% 5.5411%);
    --palRainbow-248: rgb(100% 9.84% 4.926%);
    --palRainbow-249: rgb(100% 8.6133% 4.3107%);
    --palRainbow-250: rgb(100% 7.3853% 3.6951%);
    --palRainbow-251: rgb(100% 6.1561% 3.0795%);
    --palRainbow-252: rgb(100% 4.926% 2.4637%);
    --palRainbow-253: rgb(100% 3.6951% 1.8479%);
    --palRainbow-254: rgb(100% 2.4637% 1.232%);
    --palRainbow-255: rgb(100% 1.232% 0.616%);
    --palRainbow-256: rgb(100% 0% 0%);
}
