/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedGrey-1: rgb(96.0784% 44.7059% 45.098%);
    --palRedGrey-2: rgb(95.2941% 44.3137% 44.7059%);
    --palRedGrey-3: rgb(94.5098% 44.3137% 44.7059%);
    --palRedGrey-4: rgb(93.7255% 43.9216% 44.3137%);
    --palRedGrey-5: rgb(92.9412% 43.5294% 43.9216%);
    --palRedGrey-6: rgb(92.549% 43.5294% 43.9216%);
    --palRedGrey-7: rgb(91.7647% 43.1373% 43.5294%);
    --palRedGrey-8: rgb(90.9804% 42.7451% 43.1373%);
    --palRedGrey-9: rgb(90.1961% 42.7451% 43.1373%);
    --palRedGrey-10: rgb(89.4118% 42.3529% 42.7451%);
    --palRedGrey-11: rgb(88.6275% 41.9608% 42.3529%);
    --palRedGrey-12: rgb(87.8431% 41.9608% 42.3529%);
    --palRedGrey-13: rgb(87.0588% 41.5686% 41.9608%);
    --palRedGrey-14: rgb(86.6667% 41.1765% 41.5686%);
    --palRedGrey-15: rgb(85.8824% 41.1765% 41.5686%);
    --palRedGrey-16: rgb(85.098% 40.7843% 41.1765%);
    --palRedGrey-17: rgb(84.3137% 40.3922% 40.7843%);
    --palRedGrey-18: rgb(83.5294% 40.3922% 40.7843%);
    --palRedGrey-19: rgb(82.7451% 40% 40.3922%);
    --palRedGrey-20: rgb(81.9608% 39.6078% 40%);
    --palRedGrey-21: rgb(81.5686% 39.2157% 40%);
    --palRedGrey-22: rgb(80.7843% 39.2157% 39.6078%);
    --palRedGrey-23: rgb(80% 38.8235% 39.2157%);
    --palRedGrey-24: rgb(79.2157% 38.4314% 39.2157%);
    --palRedGrey-25: rgb(78.4314% 38.4314% 38.8235%);
    --palRedGrey-26: rgb(77.6471% 38.0392% 38.4314%);
    --palRedGrey-27: rgb(77.2549% 37.6471% 38.4314%);
    --palRedGrey-28: rgb(76.4706% 37.6471% 38.0392%);
    --palRedGrey-29: rgb(75.6863% 37.2549% 37.6471%);
    --palRedGrey-30: rgb(74.902% 36.8627% 37.6471%);
    --palRedGrey-31: rgb(74.1176% 36.8627% 37.2549%);
    --palRedGrey-32: rgb(73.7255% 36.4706% 36.8627%);
    --palRedGrey-33: rgb(72.9412% 36.0784% 36.8627%);
    --palRedGrey-34: rgb(72.1569% 36.0784% 36.4706%);
    --palRedGrey-35: rgb(71.3725% 35.6863% 36.0784%);
    --palRedGrey-36: rgb(70.5882% 35.2941% 36.0784%);
    --palRedGrey-37: rgb(69.8039% 35.2941% 35.6863%);
    --palRedGrey-38: rgb(69.4118% 34.902% 35.2941%);
    --palRedGrey-39: rgb(68.6275% 34.5098% 35.2941%);
    --palRedGrey-40: rgb(67.8431% 34.5098% 34.902%);
    --palRedGrey-41: rgb(67.0588% 34.1176% 34.5098%);
    --palRedGrey-42: rgb(66.6667% 33.7255% 34.5098%);
    --palRedGrey-43: rgb(65.8824% 33.7255% 34.1176%);
    --palRedGrey-44: rgb(65.098% 33.3333% 33.7255%);
    --palRedGrey-45: rgb(64.3137% 32.9412% 33.7255%);
    --palRedGrey-46: rgb(63.5294% 32.9412% 33.3333%);
    --palRedGrey-47: rgb(63.1373% 32.549% 32.9412%);
    --palRedGrey-48: rgb(62.3529% 32.1569% 32.9412%);
    --palRedGrey-49: rgb(61.5686% 32.1569% 32.549%);
    --palRedGrey-50: rgb(60.7843% 31.7647% 32.549%);
    --palRedGrey-51: rgb(60.3922% 31.3725% 32.1569%);
    --palRedGrey-52: rgb(59.6078% 31.3725% 31.7647%);
    --palRedGrey-53: rgb(58.8235% 30.9804% 31.7647%);
    --palRedGrey-54: rgb(58.0392% 30.5882% 31.3725%);
    --palRedGrey-55: rgb(57.6471% 30.5882% 30.9804%);
    --palRedGrey-56: rgb(56.8627% 30.1961% 30.9804%);
    --palRedGrey-57: rgb(56.0784% 30.1961% 30.5882%);
    --palRedGrey-58: rgb(55.2941% 29.8039% 30.1961%);
    --palRedGrey-59: rgb(54.902% 29.4118% 30.1961%);
    --palRedGrey-60: rgb(54.1176% 29.4118% 29.8039%);
    --palRedGrey-61: rgb(53.3333% 29.0196% 29.4118%);
    --palRedGrey-62: rgb(52.9412% 28.6275% 29.4118%);
    --palRedGrey-63: rgb(52.1569% 28.6275% 29.0196%);
    --palRedGrey-64: rgb(51.3725% 28.2353% 29.0196%);
    --palRedGrey-65: rgb(50.5882% 27.8431% 28.6275%);
    --palRedGrey-66: rgb(50.1961% 27.8431% 28.2353%);
    --palRedGrey-67: rgb(49.4118% 27.451% 28.2353%);
    --palRedGrey-68: rgb(48.6275% 27.0588% 27.8431%);
    --palRedGrey-69: rgb(48.2353% 27.0588% 27.451%);
    --palRedGrey-70: rgb(47.451% 26.6667% 27.451%);
    --palRedGrey-71: rgb(46.6667% 26.2745% 27.0588%);
    --palRedGrey-72: rgb(45.8824% 26.2745% 27.0588%);
    --palRedGrey-73: rgb(45.4902% 25.8824% 26.6667%);
    --palRedGrey-74: rgb(44.7059% 25.4902% 26.2745%);
    --palRedGrey-75: rgb(43.9216% 25.4902% 26.2745%);
    --palRedGrey-76: rgb(43.5294% 25.098% 25.8824%);
    --palRedGrey-77: rgb(42.7451% 24.7059% 25.4902%);
    --palRedGrey-78: rgb(41.9608% 24.7059% 25.4902%);
    --palRedGrey-79: rgb(41.5686% 24.3137% 25.098%);
    --palRedGrey-80: rgb(40.7843% 23.9216% 25.098%);
    --palRedGrey-81: rgb(40% 23.9216% 24.7059%);
    --palRedGrey-82: rgb(39.6078% 23.5294% 24.3137%);
    --palRedGrey-83: rgb(38.8235% 23.1373% 24.3137%);
    --palRedGrey-84: rgb(38.0392% 23.1373% 23.9216%);
    --palRedGrey-85: rgb(37.6471% 22.7451% 23.5294%);
    --palRedGrey-86: rgb(36.8627% 22.3529% 23.5294%);
    --palRedGrey-87: rgb(36.4706% 22.3529% 23.1373%);
    --palRedGrey-88: rgb(35.6863% 21.9608% 23.1373%);
    --palRedGrey-89: rgb(34.902% 21.5686% 22.7451%);
    --palRedGrey-90: rgb(34.5098% 21.5686% 22.3529%);
    --palRedGrey-91: rgb(33.7255% 21.1765% 22.3529%);
    --palRedGrey-92: rgb(32.9412% 21.1765% 21.9608%);
    --palRedGrey-93: rgb(32.549% 20.7843% 21.9608%);
    --palRedGrey-94: rgb(31.7647% 20.3922% 21.5686%);
    --palRedGrey-95: rgb(31.3725% 20.3922% 21.1765%);
    --palRedGrey-96: rgb(30.5882% 20% 21.1765%);
    --palRedGrey-97: rgb(29.8039% 19.6078% 20.7843%);
    --palRedGrey-98: rgb(29.4118% 19.6078% 20.7843%);
    --palRedGrey-99: rgb(28.6275% 19.2157% 20.3922%);
    --palRedGrey-100: rgb(27.8431% 18.8235% 20%);
    --palRedGrey-101: rgb(27.451% 18.8235% 20%);
    --palRedGrey-102: rgb(26.6667% 18.4314% 19.6078%);
    --palRedGrey-103: rgb(26.2745% 18.0392% 19.6078%);
    --palRedGrey-104: rgb(25.4902% 18.0392% 19.2157%);
    --palRedGrey-105: rgb(25.098% 17.6471% 18.8235%);
    --palRedGrey-106: rgb(24.3137% 17.2549% 18.8235%);
    --palRedGrey-107: rgb(23.5294% 17.2549% 18.4314%);
    --palRedGrey-108: rgb(23.1373% 16.8627% 18.4314%);
    --palRedGrey-109: rgb(22.3529% 16.4706% 18.0392%);
    --palRedGrey-110: rgb(21.9608% 16.4706% 17.6471%);
    --palRedGrey-111: rgb(21.1765% 16.0784% 17.6471%);
    --palRedGrey-112: rgb(20.3922% 15.6863% 17.2549%);
    --palRedGrey-113: rgb(20% 15.6863% 17.2549%);
    --palRedGrey-114: rgb(19.2157% 15.2941% 16.8627%);
    --palRedGrey-115: rgb(18.8235% 14.902% 16.8627%);
    --palRedGrey-116: rgb(18.0392% 14.902% 16.4706%);
    --palRedGrey-117: rgb(17.6471% 14.5098% 16.0784%);
    --palRedGrey-118: rgb(16.8627% 14.5098% 16.0784%);
    --palRedGrey-119: rgb(16.0784% 14.1176% 15.6863%);
    --palRedGrey-120: rgb(15.6863% 13.7255% 15.6863%);
    --palRedGrey-121: rgb(14.902% 13.7255% 15.2941%);
    --palRedGrey-122: rgb(14.5098% 13.3333% 14.902%);
    --palRedGrey-123: rgb(13.7255% 12.9412% 14.902%);
    --palRedGrey-124: rgb(12.9412% 12.9412% 14.5098%);
    --palRedGrey-125: rgb(12.549% 12.549% 14.5098%);
    --palRedGrey-126: rgb(11.7647% 12.1569% 14.1176%);
    --palRedGrey-127: rgb(11.3725% 12.1569% 14.1176%);
    --palRedGrey-128: rgb(10.5882% 11.7647% 13.7255%);
    --palRedGrey-129: rgb(10.9804% 12.1569% 14.1176%);
    --palRedGrey-130: rgb(11.3725% 12.549% 14.5098%);
    --palRedGrey-131: rgb(11.7647% 12.9412% 14.5098%);
    --palRedGrey-132: rgb(11.7647% 12.9412% 14.902%);
    --palRedGrey-133: rgb(12.1569% 13.3333% 15.2941%);
    --palRedGrey-134: rgb(12.549% 13.7255% 15.6863%);
    --palRedGrey-135: rgb(12.9412% 14.1176% 16.0784%);
    --palRedGrey-136: rgb(13.3333% 14.5098% 16.4706%);
    --palRedGrey-137: rgb(13.7255% 14.902% 16.8627%);
    --palRedGrey-138: rgb(14.1176% 15.2941% 16.8627%);
    --palRedGrey-139: rgb(14.5098% 15.2941% 17.2549%);
    --palRedGrey-140: rgb(14.902% 15.6863% 17.6471%);
    --palRedGrey-141: rgb(15.2941% 16.0784% 18.0392%);
    --palRedGrey-142: rgb(15.2941% 16.4706% 18.4314%);
    --palRedGrey-143: rgb(15.6863% 16.8627% 18.8235%);
    --palRedGrey-144: rgb(16.0784% 17.2549% 19.2157%);
    --palRedGrey-145: rgb(16.4706% 17.6471% 19.2157%);
    --palRedGrey-146: rgb(16.8627% 18.0392% 19.6078%);
    --palRedGrey-147: rgb(17.2549% 18.4314% 20%);
    --palRedGrey-148: rgb(17.6471% 18.4314% 20.3922%);
    --palRedGrey-149: rgb(18.0392% 18.8235% 20.7843%);
    --palRedGrey-150: rgb(18.4314% 19.2157% 21.1765%);
    --palRedGrey-151: rgb(18.8235% 19.6078% 21.5686%);
    --palRedGrey-152: rgb(19.2157% 20% 21.9608%);
    --palRedGrey-153: rgb(19.6078% 20.3922% 21.9608%);
    --palRedGrey-154: rgb(19.6078% 20.7843% 22.3529%);
    --palRedGrey-155: rgb(20% 21.1765% 22.7451%);
    --palRedGrey-156: rgb(20.3922% 21.5686% 23.1373%);
    --palRedGrey-157: rgb(20.7843% 21.9608% 23.5294%);
    --palRedGrey-158: rgb(21.1765% 22.3529% 23.9216%);
    --palRedGrey-159: rgb(21.5686% 22.7451% 24.3137%);
    --palRedGrey-160: rgb(21.9608% 22.7451% 24.7059%);
    --palRedGrey-161: rgb(22.3529% 23.1373% 25.098%);
    --palRedGrey-162: rgb(22.7451% 23.5294% 25.098%);
    --palRedGrey-163: rgb(23.1373% 23.9216% 25.4902%);
    --palRedGrey-164: rgb(23.5294% 24.3137% 25.8824%);
    --palRedGrey-165: rgb(23.9216% 24.7059% 26.2745%);
    --palRedGrey-166: rgb(24.3137% 25.098% 26.6667%);
    --palRedGrey-167: rgb(24.7059% 25.4902% 27.0588%);
    --palRedGrey-168: rgb(25.098% 25.8824% 27.451%);
    --palRedGrey-169: rgb(25.4902% 26.2745% 27.8431%);
    --palRedGrey-170: rgb(25.8824% 26.6667% 28.2353%);
    --palRedGrey-171: rgb(26.2745% 27.0588% 28.6275%);
    --palRedGrey-172: rgb(26.6667% 27.451% 29.0196%);
    --palRedGrey-173: rgb(27.0588% 27.8431% 29.4118%);
    --palRedGrey-174: rgb(27.451% 28.2353% 29.4118%);
    --palRedGrey-175: rgb(27.8431% 28.6275% 29.8039%);
    --palRedGrey-176: rgb(28.2353% 29.0196% 30.1961%);
    --palRedGrey-177: rgb(28.6275% 29.4118% 30.5882%);
    --palRedGrey-178: rgb(29.0196% 29.8039% 30.9804%);
    --palRedGrey-179: rgb(29.4118% 30.1961% 31.3725%);
    --palRedGrey-180: rgb(29.8039% 30.5882% 31.7647%);
    --palRedGrey-181: rgb(30.1961% 30.9804% 32.1569%);
    --palRedGrey-182: rgb(30.5882% 31.3725% 32.549%);
    --palRedGrey-183: rgb(30.9804% 31.7647% 32.9412%);
    --palRedGrey-184: rgb(31.3725% 32.1569% 33.3333%);
    --palRedGrey-185: rgb(31.7647% 32.549% 33.7255%);
    --palRedGrey-186: rgb(32.1569% 32.9412% 34.1176%);
    --palRedGrey-187: rgb(32.549% 33.3333% 34.5098%);
    --palRedGrey-188: rgb(32.9412% 33.7255% 34.902%);
    --palRedGrey-189: rgb(33.3333% 33.7255% 35.2941%);
    --palRedGrey-190: rgb(33.7255% 34.1176% 35.6863%);
    --palRedGrey-191: rgb(34.1176% 34.5098% 35.6863%);
    --palRedGrey-192: rgb(34.5098% 34.902% 36.0784%);
    --palRedGrey-193: rgb(34.902% 35.2941% 36.4706%);
    --palRedGrey-194: rgb(35.2941% 36.0784% 36.8627%);
    --palRedGrey-195: rgb(35.6863% 36.4706% 37.2549%);
    --palRedGrey-196: rgb(36.0784% 36.8627% 37.6471%);
    --palRedGrey-197: rgb(36.4706% 37.2549% 38.0392%);
    --palRedGrey-198: rgb(36.8627% 37.6471% 38.4314%);
    --palRedGrey-199: rgb(37.2549% 38.0392% 38.8235%);
    --palRedGrey-200: rgb(37.6471% 38.4314% 39.2157%);
    --palRedGrey-201: rgb(38.0392% 38.8235% 39.6078%);
    --palRedGrey-202: rgb(38.4314% 39.2157% 40%);
    --palRedGrey-203: rgb(38.8235% 39.6078% 40.3922%);
    --palRedGrey-204: rgb(39.2157% 40% 40.7843%);
    --palRedGrey-205: rgb(39.6078% 40.3922% 41.1765%);
    --palRedGrey-206: rgb(40% 40.7843% 41.5686%);
    --palRedGrey-207: rgb(40.3922% 41.1765% 41.9608%);
    --palRedGrey-208: rgb(41.1765% 41.5686% 42.3529%);
    --palRedGrey-209: rgb(41.5686% 41.9608% 42.7451%);
    --palRedGrey-210: rgb(41.9608% 42.3529% 43.1373%);
    --palRedGrey-211: rgb(42.3529% 42.7451% 43.5294%);
    --palRedGrey-212: rgb(42.7451% 43.1373% 43.9216%);
    --palRedGrey-213: rgb(43.1373% 43.5294% 44.3137%);
    --palRedGrey-214: rgb(43.5294% 43.9216% 44.7059%);
    --palRedGrey-215: rgb(43.9216% 44.3137% 45.098%);
    --palRedGrey-216: rgb(44.3137% 44.7059% 45.4902%);
    --palRedGrey-217: rgb(44.7059% 45.098% 45.8824%);
    --palRedGrey-218: rgb(45.098% 45.4902% 46.2745%);
    --palRedGrey-219: rgb(45.4902% 45.8824% 46.6667%);
    --palRedGrey-220: rgb(45.8824% 46.2745% 47.0588%);
    --palRedGrey-221: rgb(46.2745% 46.6667% 47.451%);
    --palRedGrey-222: rgb(47.0588% 47.0588% 47.8431%);
    --palRedGrey-223: rgb(47.451% 47.451% 48.2353%);
    --palRedGrey-224: rgb(47.8431% 47.8431% 48.6275%);
    --palRedGrey-225: rgb(48.2353% 48.6275% 49.0196%);
    --palRedGrey-226: rgb(48.6275% 49.0196% 49.4118%);
    --palRedGrey-227: rgb(49.0196% 49.4118% 49.8039%);
    --palRedGrey-228: rgb(49.4118% 49.8039% 50.1961%);
    --palRedGrey-229: rgb(49.8039% 50.1961% 50.5882%);
    --palRedGrey-230: rgb(50.1961% 50.5882% 50.9804%);
    --palRedGrey-231: rgb(50.5882% 50.9804% 51.3725%);
    --palRedGrey-232: rgb(50.9804% 51.3725% 51.7647%);
    --palRedGrey-233: rgb(51.3725% 51.7647% 52.1569%);
    --palRedGrey-234: rgb(52.1569% 52.1569% 52.549%);
    --palRedGrey-235: rgb(52.549% 52.549% 52.9412%);
    --palRedGrey-236: rgb(52.9412% 52.9412% 53.3333%);
    --palRedGrey-237: rgb(53.3333% 53.3333% 53.7255%);
    --palRedGrey-238: rgb(53.7255% 53.7255% 54.1176%);
    --palRedGrey-239: rgb(54.1176% 54.5098% 54.5098%);
    --palRedGrey-240: rgb(54.5098% 54.902% 54.902%);
    --palRedGrey-241: rgb(54.902% 55.2941% 55.2941%);
    --palRedGrey-242: rgb(55.2941% 55.6863% 55.6863%);
    --palRedGrey-243: rgb(56.0784% 56.0784% 56.4706%);
    --palRedGrey-244: rgb(56.4706% 56.4706% 56.8627%);
    --palRedGrey-245: rgb(56.8627% 56.8627% 57.2549%);
    --palRedGrey-246: rgb(57.2549% 57.2549% 57.6471%);
    --palRedGrey-247: rgb(57.6471% 57.6471% 58.0392%);
    --palRedGrey-248: rgb(58.0392% 58.0392% 58.4314%);
    --palRedGrey-249: rgb(58.4314% 58.4314% 58.8235%);
    --palRedGrey-250: rgb(58.8235% 59.2157% 59.2157%);
    --palRedGrey-251: rgb(59.6078% 59.6078% 59.6078%);
    --palRedGrey-252: rgb(60% 60% 60%);
    --palRedGrey-253: rgb(60.3922% 60.3922% 60.3922%);
    --palRedGrey-254: rgb(60.7843% 60.7843% 60.7843%);
    --palRedGrey-255: rgb(61.1765% 61.1765% 61.1765%);
}
