/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedgrey-1: rgb(96.0784% 44.7059% 45.098%);
    --palRedgrey-2: rgb(95.2941% 44.3137% 44.7059%);
    --palRedgrey-3: rgb(94.5098% 44.3137% 44.7059%);
    --palRedgrey-4: rgb(93.7255% 43.9216% 44.3137%);
    --palRedgrey-5: rgb(92.9412% 43.5294% 43.9216%);
    --palRedgrey-6: rgb(92.549% 43.5294% 43.9216%);
    --palRedgrey-7: rgb(91.7647% 43.1373% 43.5294%);
    --palRedgrey-8: rgb(90.9804% 42.7451% 43.1373%);
    --palRedgrey-9: rgb(90.1961% 42.7451% 43.1373%);
    --palRedgrey-10: rgb(89.4118% 42.3529% 42.7451%);
    --palRedgrey-11: rgb(88.6275% 41.9608% 42.3529%);
    --palRedgrey-12: rgb(87.8431% 41.9608% 42.3529%);
    --palRedgrey-13: rgb(87.0588% 41.5686% 41.9608%);
    --palRedgrey-14: rgb(86.6667% 41.1765% 41.5686%);
    --palRedgrey-15: rgb(85.8824% 41.1765% 41.5686%);
    --palRedgrey-16: rgb(85.098% 40.7843% 41.1765%);
    --palRedgrey-17: rgb(84.3137% 40.3922% 40.7843%);
    --palRedgrey-18: rgb(83.5294% 40.3922% 40.7843%);
    --palRedgrey-19: rgb(82.7451% 40% 40.3922%);
    --palRedgrey-20: rgb(81.9608% 39.6078% 40%);
    --palRedgrey-21: rgb(81.5686% 39.2157% 40%);
    --palRedgrey-22: rgb(80.7843% 39.2157% 39.6078%);
    --palRedgrey-23: rgb(80% 38.8235% 39.2157%);
    --palRedgrey-24: rgb(79.2157% 38.4314% 39.2157%);
    --palRedgrey-25: rgb(78.4314% 38.4314% 38.8235%);
    --palRedgrey-26: rgb(77.6471% 38.0392% 38.4314%);
    --palRedgrey-27: rgb(77.2549% 37.6471% 38.4314%);
    --palRedgrey-28: rgb(76.4706% 37.6471% 38.0392%);
    --palRedgrey-29: rgb(75.6863% 37.2549% 37.6471%);
    --palRedgrey-30: rgb(74.902% 36.8627% 37.6471%);
    --palRedgrey-31: rgb(74.1176% 36.8627% 37.2549%);
    --palRedgrey-32: rgb(73.7255% 36.4706% 36.8627%);
    --palRedgrey-33: rgb(72.9412% 36.0784% 36.8627%);
    --palRedgrey-34: rgb(72.1569% 36.0784% 36.4706%);
    --palRedgrey-35: rgb(71.3725% 35.6863% 36.0784%);
    --palRedgrey-36: rgb(70.5882% 35.2941% 36.0784%);
    --palRedgrey-37: rgb(69.8039% 35.2941% 35.6863%);
    --palRedgrey-38: rgb(69.4118% 34.902% 35.2941%);
    --palRedgrey-39: rgb(68.6275% 34.5098% 35.2941%);
    --palRedgrey-40: rgb(67.8431% 34.5098% 34.902%);
    --palRedgrey-41: rgb(67.0588% 34.1176% 34.5098%);
    --palRedgrey-42: rgb(66.6667% 33.7255% 34.5098%);
    --palRedgrey-43: rgb(65.8824% 33.7255% 34.1176%);
    --palRedgrey-44: rgb(65.098% 33.3333% 33.7255%);
    --palRedgrey-45: rgb(64.3137% 32.9412% 33.7255%);
    --palRedgrey-46: rgb(63.5294% 32.9412% 33.3333%);
    --palRedgrey-47: rgb(63.1373% 32.549% 32.9412%);
    --palRedgrey-48: rgb(62.3529% 32.1569% 32.9412%);
    --palRedgrey-49: rgb(61.5686% 32.1569% 32.549%);
    --palRedgrey-50: rgb(60.7843% 31.7647% 32.549%);
    --palRedgrey-51: rgb(60.3922% 31.3725% 32.1569%);
    --palRedgrey-52: rgb(59.6078% 31.3725% 31.7647%);
    --palRedgrey-53: rgb(58.8235% 30.9804% 31.7647%);
    --palRedgrey-54: rgb(58.0392% 30.5882% 31.3725%);
    --palRedgrey-55: rgb(57.6471% 30.5882% 30.9804%);
    --palRedgrey-56: rgb(56.8627% 30.1961% 30.9804%);
    --palRedgrey-57: rgb(56.0784% 30.1961% 30.5882%);
    --palRedgrey-58: rgb(55.2941% 29.8039% 30.1961%);
    --palRedgrey-59: rgb(54.902% 29.4118% 30.1961%);
    --palRedgrey-60: rgb(54.1176% 29.4118% 29.8039%);
    --palRedgrey-61: rgb(53.3333% 29.0196% 29.4118%);
    --palRedgrey-62: rgb(52.9412% 28.6275% 29.4118%);
    --palRedgrey-63: rgb(52.1569% 28.6275% 29.0196%);
    --palRedgrey-64: rgb(51.3725% 28.2353% 29.0196%);
    --palRedgrey-65: rgb(50.5882% 27.8431% 28.6275%);
    --palRedgrey-66: rgb(50.1961% 27.8431% 28.2353%);
    --palRedgrey-67: rgb(49.4118% 27.451% 28.2353%);
    --palRedgrey-68: rgb(48.6275% 27.0588% 27.8431%);
    --palRedgrey-69: rgb(48.2353% 27.0588% 27.451%);
    --palRedgrey-70: rgb(47.451% 26.6667% 27.451%);
    --palRedgrey-71: rgb(46.6667% 26.2745% 27.0588%);
    --palRedgrey-72: rgb(45.8824% 26.2745% 27.0588%);
    --palRedgrey-73: rgb(45.4902% 25.8824% 26.6667%);
    --palRedgrey-74: rgb(44.7059% 25.4902% 26.2745%);
    --palRedgrey-75: rgb(43.9216% 25.4902% 26.2745%);
    --palRedgrey-76: rgb(43.5294% 25.098% 25.8824%);
    --palRedgrey-77: rgb(42.7451% 24.7059% 25.4902%);
    --palRedgrey-78: rgb(41.9608% 24.7059% 25.4902%);
    --palRedgrey-79: rgb(41.5686% 24.3137% 25.098%);
    --palRedgrey-80: rgb(40.7843% 23.9216% 25.098%);
    --palRedgrey-81: rgb(40% 23.9216% 24.7059%);
    --palRedgrey-82: rgb(39.6078% 23.5294% 24.3137%);
    --palRedgrey-83: rgb(38.8235% 23.1373% 24.3137%);
    --palRedgrey-84: rgb(38.0392% 23.1373% 23.9216%);
    --palRedgrey-85: rgb(37.6471% 22.7451% 23.5294%);
    --palRedgrey-86: rgb(36.8627% 22.3529% 23.5294%);
    --palRedgrey-87: rgb(36.4706% 22.3529% 23.1373%);
    --palRedgrey-88: rgb(35.6863% 21.9608% 23.1373%);
    --palRedgrey-89: rgb(34.902% 21.5686% 22.7451%);
    --palRedgrey-90: rgb(34.5098% 21.5686% 22.3529%);
    --palRedgrey-91: rgb(33.7255% 21.1765% 22.3529%);
    --palRedgrey-92: rgb(32.9412% 21.1765% 21.9608%);
    --palRedgrey-93: rgb(32.549% 20.7843% 21.9608%);
    --palRedgrey-94: rgb(31.7647% 20.3922% 21.5686%);
    --palRedgrey-95: rgb(31.3725% 20.3922% 21.1765%);
    --palRedgrey-96: rgb(30.5882% 20% 21.1765%);
    --palRedgrey-97: rgb(29.8039% 19.6078% 20.7843%);
    --palRedgrey-98: rgb(29.4118% 19.6078% 20.7843%);
    --palRedgrey-99: rgb(28.6275% 19.2157% 20.3922%);
    --palRedgrey-100: rgb(27.8431% 18.8235% 20%);
    --palRedgrey-101: rgb(27.451% 18.8235% 20%);
    --palRedgrey-102: rgb(26.6667% 18.4314% 19.6078%);
    --palRedgrey-103: rgb(26.2745% 18.0392% 19.6078%);
    --palRedgrey-104: rgb(25.4902% 18.0392% 19.2157%);
    --palRedgrey-105: rgb(25.098% 17.6471% 18.8235%);
    --palRedgrey-106: rgb(24.3137% 17.2549% 18.8235%);
    --palRedgrey-107: rgb(23.5294% 17.2549% 18.4314%);
    --palRedgrey-108: rgb(23.1373% 16.8627% 18.4314%);
    --palRedgrey-109: rgb(22.3529% 16.4706% 18.0392%);
    --palRedgrey-110: rgb(21.9608% 16.4706% 17.6471%);
    --palRedgrey-111: rgb(21.1765% 16.0784% 17.6471%);
    --palRedgrey-112: rgb(20.3922% 15.6863% 17.2549%);
    --palRedgrey-113: rgb(20% 15.6863% 17.2549%);
    --palRedgrey-114: rgb(19.2157% 15.2941% 16.8627%);
    --palRedgrey-115: rgb(18.8235% 14.902% 16.8627%);
    --palRedgrey-116: rgb(18.0392% 14.902% 16.4706%);
    --palRedgrey-117: rgb(17.6471% 14.5098% 16.0784%);
    --palRedgrey-118: rgb(16.8627% 14.5098% 16.0784%);
    --palRedgrey-119: rgb(16.0784% 14.1176% 15.6863%);
    --palRedgrey-120: rgb(15.6863% 13.7255% 15.6863%);
    --palRedgrey-121: rgb(14.902% 13.7255% 15.2941%);
    --palRedgrey-122: rgb(14.5098% 13.3333% 14.902%);
    --palRedgrey-123: rgb(13.7255% 12.9412% 14.902%);
    --palRedgrey-124: rgb(12.9412% 12.9412% 14.5098%);
    --palRedgrey-125: rgb(12.549% 12.549% 14.5098%);
    --palRedgrey-126: rgb(11.7647% 12.1569% 14.1176%);
    --palRedgrey-127: rgb(11.3725% 12.1569% 14.1176%);
    --palRedgrey-128: rgb(10.5882% 11.7647% 13.7255%);
    --palRedgrey-129: rgb(10.9804% 12.1569% 14.1176%);
    --palRedgrey-130: rgb(11.3725% 12.549% 14.5098%);
    --palRedgrey-131: rgb(11.7647% 12.9412% 14.5098%);
    --palRedgrey-132: rgb(11.7647% 12.9412% 14.902%);
    --palRedgrey-133: rgb(12.1569% 13.3333% 15.2941%);
    --palRedgrey-134: rgb(12.549% 13.7255% 15.6863%);
    --palRedgrey-135: rgb(12.9412% 14.1176% 16.0784%);
    --palRedgrey-136: rgb(13.3333% 14.5098% 16.4706%);
    --palRedgrey-137: rgb(13.7255% 14.902% 16.8627%);
    --palRedgrey-138: rgb(14.1176% 15.2941% 16.8627%);
    --palRedgrey-139: rgb(14.5098% 15.2941% 17.2549%);
    --palRedgrey-140: rgb(14.902% 15.6863% 17.6471%);
    --palRedgrey-141: rgb(15.2941% 16.0784% 18.0392%);
    --palRedgrey-142: rgb(15.2941% 16.4706% 18.4314%);
    --palRedgrey-143: rgb(15.6863% 16.8627% 18.8235%);
    --palRedgrey-144: rgb(16.0784% 17.2549% 19.2157%);
    --palRedgrey-145: rgb(16.4706% 17.6471% 19.2157%);
    --palRedgrey-146: rgb(16.8627% 18.0392% 19.6078%);
    --palRedgrey-147: rgb(17.2549% 18.4314% 20%);
    --palRedgrey-148: rgb(17.6471% 18.4314% 20.3922%);
    --palRedgrey-149: rgb(18.0392% 18.8235% 20.7843%);
    --palRedgrey-150: rgb(18.4314% 19.2157% 21.1765%);
    --palRedgrey-151: rgb(18.8235% 19.6078% 21.5686%);
    --palRedgrey-152: rgb(19.2157% 20% 21.9608%);
    --palRedgrey-153: rgb(19.6078% 20.3922% 21.9608%);
    --palRedgrey-154: rgb(19.6078% 20.7843% 22.3529%);
    --palRedgrey-155: rgb(20% 21.1765% 22.7451%);
    --palRedgrey-156: rgb(20.3922% 21.5686% 23.1373%);
    --palRedgrey-157: rgb(20.7843% 21.9608% 23.5294%);
    --palRedgrey-158: rgb(21.1765% 22.3529% 23.9216%);
    --palRedgrey-159: rgb(21.5686% 22.7451% 24.3137%);
    --palRedgrey-160: rgb(21.9608% 22.7451% 24.7059%);
    --palRedgrey-161: rgb(22.3529% 23.1373% 25.098%);
    --palRedgrey-162: rgb(22.7451% 23.5294% 25.098%);
    --palRedgrey-163: rgb(23.1373% 23.9216% 25.4902%);
    --palRedgrey-164: rgb(23.5294% 24.3137% 25.8824%);
    --palRedgrey-165: rgb(23.9216% 24.7059% 26.2745%);
    --palRedgrey-166: rgb(24.3137% 25.098% 26.6667%);
    --palRedgrey-167: rgb(24.7059% 25.4902% 27.0588%);
    --palRedgrey-168: rgb(25.098% 25.8824% 27.451%);
    --palRedgrey-169: rgb(25.4902% 26.2745% 27.8431%);
    --palRedgrey-170: rgb(25.8824% 26.6667% 28.2353%);
    --palRedgrey-171: rgb(26.2745% 27.0588% 28.6275%);
    --palRedgrey-172: rgb(26.6667% 27.451% 29.0196%);
    --palRedgrey-173: rgb(27.0588% 27.8431% 29.4118%);
    --palRedgrey-174: rgb(27.451% 28.2353% 29.4118%);
    --palRedgrey-175: rgb(27.8431% 28.6275% 29.8039%);
    --palRedgrey-176: rgb(28.2353% 29.0196% 30.1961%);
    --palRedgrey-177: rgb(28.6275% 29.4118% 30.5882%);
    --palRedgrey-178: rgb(29.0196% 29.8039% 30.9804%);
    --palRedgrey-179: rgb(29.4118% 30.1961% 31.3725%);
    --palRedgrey-180: rgb(29.8039% 30.5882% 31.7647%);
    --palRedgrey-181: rgb(30.1961% 30.9804% 32.1569%);
    --palRedgrey-182: rgb(30.5882% 31.3725% 32.549%);
    --palRedgrey-183: rgb(30.9804% 31.7647% 32.9412%);
    --palRedgrey-184: rgb(31.3725% 32.1569% 33.3333%);
    --palRedgrey-185: rgb(31.7647% 32.549% 33.7255%);
    --palRedgrey-186: rgb(32.1569% 32.9412% 34.1176%);
    --palRedgrey-187: rgb(32.549% 33.3333% 34.5098%);
    --palRedgrey-188: rgb(32.9412% 33.7255% 34.902%);
    --palRedgrey-189: rgb(33.3333% 33.7255% 35.2941%);
    --palRedgrey-190: rgb(33.7255% 34.1176% 35.6863%);
    --palRedgrey-191: rgb(34.1176% 34.5098% 35.6863%);
    --palRedgrey-192: rgb(34.5098% 34.902% 36.0784%);
    --palRedgrey-193: rgb(34.902% 35.2941% 36.4706%);
    --palRedgrey-194: rgb(35.2941% 36.0784% 36.8627%);
    --palRedgrey-195: rgb(35.6863% 36.4706% 37.2549%);
    --palRedgrey-196: rgb(36.0784% 36.8627% 37.6471%);
    --palRedgrey-197: rgb(36.4706% 37.2549% 38.0392%);
    --palRedgrey-198: rgb(36.8627% 37.6471% 38.4314%);
    --palRedgrey-199: rgb(37.2549% 38.0392% 38.8235%);
    --palRedgrey-200: rgb(37.6471% 38.4314% 39.2157%);
    --palRedgrey-201: rgb(38.0392% 38.8235% 39.6078%);
    --palRedgrey-202: rgb(38.4314% 39.2157% 40%);
    --palRedgrey-203: rgb(38.8235% 39.6078% 40.3922%);
    --palRedgrey-204: rgb(39.2157% 40% 40.7843%);
    --palRedgrey-205: rgb(39.6078% 40.3922% 41.1765%);
    --palRedgrey-206: rgb(40% 40.7843% 41.5686%);
    --palRedgrey-207: rgb(40.3922% 41.1765% 41.9608%);
    --palRedgrey-208: rgb(41.1765% 41.5686% 42.3529%);
    --palRedgrey-209: rgb(41.5686% 41.9608% 42.7451%);
    --palRedgrey-210: rgb(41.9608% 42.3529% 43.1373%);
    --palRedgrey-211: rgb(42.3529% 42.7451% 43.5294%);
    --palRedgrey-212: rgb(42.7451% 43.1373% 43.9216%);
    --palRedgrey-213: rgb(43.1373% 43.5294% 44.3137%);
    --palRedgrey-214: rgb(43.5294% 43.9216% 44.7059%);
    --palRedgrey-215: rgb(43.9216% 44.3137% 45.098%);
    --palRedgrey-216: rgb(44.3137% 44.7059% 45.4902%);
    --palRedgrey-217: rgb(44.7059% 45.098% 45.8824%);
    --palRedgrey-218: rgb(45.098% 45.4902% 46.2745%);
    --palRedgrey-219: rgb(45.4902% 45.8824% 46.6667%);
    --palRedgrey-220: rgb(45.8824% 46.2745% 47.0588%);
    --palRedgrey-221: rgb(46.2745% 46.6667% 47.451%);
    --palRedgrey-222: rgb(47.0588% 47.0588% 47.8431%);
    --palRedgrey-223: rgb(47.451% 47.451% 48.2353%);
    --palRedgrey-224: rgb(47.8431% 47.8431% 48.6275%);
    --palRedgrey-225: rgb(48.2353% 48.6275% 49.0196%);
    --palRedgrey-226: rgb(48.6275% 49.0196% 49.4118%);
    --palRedgrey-227: rgb(49.0196% 49.4118% 49.8039%);
    --palRedgrey-228: rgb(49.4118% 49.8039% 50.1961%);
    --palRedgrey-229: rgb(49.8039% 50.1961% 50.5882%);
    --palRedgrey-230: rgb(50.1961% 50.5882% 50.9804%);
    --palRedgrey-231: rgb(50.5882% 50.9804% 51.3725%);
    --palRedgrey-232: rgb(50.9804% 51.3725% 51.7647%);
    --palRedgrey-233: rgb(51.3725% 51.7647% 52.1569%);
    --palRedgrey-234: rgb(52.1569% 52.1569% 52.549%);
    --palRedgrey-235: rgb(52.549% 52.549% 52.9412%);
    --palRedgrey-236: rgb(52.9412% 52.9412% 53.3333%);
    --palRedgrey-237: rgb(53.3333% 53.3333% 53.7255%);
    --palRedgrey-238: rgb(53.7255% 53.7255% 54.1176%);
    --palRedgrey-239: rgb(54.1176% 54.5098% 54.5098%);
    --palRedgrey-240: rgb(54.5098% 54.902% 54.902%);
    --palRedgrey-241: rgb(54.902% 55.2941% 55.2941%);
    --palRedgrey-242: rgb(55.2941% 55.6863% 55.6863%);
    --palRedgrey-243: rgb(56.0784% 56.0784% 56.4706%);
    --palRedgrey-244: rgb(56.4706% 56.4706% 56.8627%);
    --palRedgrey-245: rgb(56.8627% 56.8627% 57.2549%);
    --palRedgrey-246: rgb(57.2549% 57.2549% 57.6471%);
    --palRedgrey-247: rgb(57.6471% 57.6471% 58.0392%);
    --palRedgrey-248: rgb(58.0392% 58.0392% 58.4314%);
    --palRedgrey-249: rgb(58.4314% 58.4314% 58.8235%);
    --palRedgrey-250: rgb(58.8235% 59.2157% 59.2157%);
    --palRedgrey-251: rgb(59.6078% 59.6078% 59.6078%);
    --palRedgrey-252: rgb(60% 60% 60%);
    --palRedgrey-253: rgb(60.3922% 60.3922% 60.3922%);
    --palRedgrey-254: rgb(60.7843% 60.7843% 60.7843%);
    --palRedgrey-255: rgb(61.1765% 61.1765% 61.1765%);
}
