/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedp1-1: rgb(16.796875% 2.734375% 35.9375%);
    --palRedp1-2: rgb(17.578125% 2.734375% 36.328125%);
    --palRedp1-3: rgb(18.359375% 2.734375% 36.328125%);
    --palRedp1-4: rgb(19.140625% 2.734375% 36.328125%);
    --palRedp1-5: rgb(19.53125% 2.734375% 36.71875%);
    --palRedp1-6: rgb(20.3125% 2.734375% 36.71875%);
    --palRedp1-7: rgb(21.09375% 3.125% 37.109375%);
    --palRedp1-8: rgb(21.484375% 3.125% 37.109375%);
    --palRedp1-9: rgb(22.265625% 3.125% 37.5%);
    --palRedp1-10: rgb(23.046875% 3.125% 37.5%);
    --palRedp1-11: rgb(23.4375% 3.125% 37.890625%);
    --palRedp1-12: rgb(24.21875% 3.515625% 37.890625%);
    --palRedp1-13: rgb(25% 3.515625% 38.28125%);
    --palRedp1-14: rgb(25.390625% 3.515625% 38.28125%);
    --palRedp1-15: rgb(26.171875% 3.515625% 38.671875%);
    --palRedp1-16: rgb(26.5625% 3.90625% 38.671875%);
    --palRedp1-17: rgb(27.34375% 3.90625% 39.0625%);
    --palRedp1-18: rgb(27.734375% 3.90625% 39.0625%);
    --palRedp1-19: rgb(28.515625% 3.90625% 39.453125%);
    --palRedp1-20: rgb(29.296875% 4.296875% 39.453125%);
    --palRedp1-21: rgb(29.6875% 4.296875% 39.84375%);
    --palRedp1-22: rgb(30.46875% 4.296875% 39.84375%);
    --palRedp1-23: rgb(30.859375% 4.296875% 40.234375%);
    --palRedp1-24: rgb(31.640625% 4.6875% 40.234375%);
    --palRedp1-25: rgb(32.03125% 4.6875% 40.625%);
    --palRedp1-26: rgb(32.8125% 4.6875% 40.625%);
    --palRedp1-27: rgb(33.203125% 4.6875% 40.625%);
    --palRedp1-28: rgb(33.984375% 4.6875% 39.84375%);
    --palRedp1-29: rgb(34.765625% 4.6875% 39.0625%);
    --palRedp1-30: rgb(35.9375% 4.6875% 38.671875%);
    --palRedp1-31: rgb(36.71875% 4.6875% 37.890625%);
    --palRedp1-32: rgb(37.5% 4.6875% 37.5%);
    --palRedp1-33: rgb(38.28125% 4.6875% 36.71875%);
    --palRedp1-34: rgb(38.671875% 4.6875% 36.328125%);
    --palRedp1-35: rgb(39.453125% 4.6875% 35.546875%);
    --palRedp1-36: rgb(40.234375% 4.6875% 34.765625%);
    --palRedp1-37: rgb(41.015625% 4.6875% 34.375%);
    --palRedp1-38: rgb(41.40625% 4.6875% 33.59375%);
    --palRedp1-39: rgb(42.1875% 4.6875% 33.203125%);
    --palRedp1-40: rgb(42.96875% 4.6875% 32.421875%);
    --palRedp1-41: rgb(43.359375% 4.6875% 32.03125%);
    --palRedp1-42: rgb(44.140625% 4.6875% 31.25%);
    --palRedp1-43: rgb(44.53125% 4.6875% 30.46875%);
    --palRedp1-44: rgb(45.3125% 4.6875% 30.078125%);
    --palRedp1-45: rgb(46.09375% 4.6875% 29.296875%);
    --palRedp1-46: rgb(46.484375% 5.078125% 28.90625%);
    --palRedp1-47: rgb(46.875% 5.078125% 28.125%);
    --palRedp1-48: rgb(47.65625% 5.078125% 27.734375%);
    --palRedp1-49: rgb(48.046875% 5.078125% 26.953125%);
    --palRedp1-50: rgb(48.828125% 5.46875% 26.171875%);
    --palRedp1-51: rgb(49.21875% 5.46875% 25.78125%);
    --palRedp1-52: rgb(50% 5.46875% 25%);
    --palRedp1-53: rgb(50% 5.859375% 25%);
    --palRedp1-54: rgb(50% 5.859375% 25%);
    --palRedp1-55: rgb(50.390625% 6.25% 25%);
    --palRedp1-56: rgb(50.390625% 6.25% 25%);
    --palRedp1-57: rgb(50.390625% 6.640625% 25.390625%);
    --palRedp1-58: rgb(50.78125% 6.640625% 25.390625%);
    --palRedp1-59: rgb(50.78125% 7.03125% 25.390625%);
    --palRedp1-60: rgb(51.171875% 7.03125% 25.390625%);
    --palRedp1-61: rgb(51.171875% 7.421875% 25.390625%);
    --palRedp1-62: rgb(51.171875% 7.421875% 25.390625%);
    --palRedp1-63: rgb(51.5625% 7.8125% 25.390625%);
    --palRedp1-64: rgb(51.5625% 7.8125% 25.390625%);
    --palRedp1-65: rgb(51.953125% 8.203125% 25.390625%);
    --palRedp1-66: rgb(51.953125% 8.203125% 25.390625%);
    --palRedp1-67: rgb(51.953125% 8.59375% 25.390625%);
    --palRedp1-68: rgb(52.34375% 8.59375% 25.390625%);
    --palRedp1-69: rgb(52.34375% 8.984375% 25.390625%);
    --palRedp1-70: rgb(52.734375% 8.984375% 25.390625%);
    --palRedp1-71: rgb(52.734375% 9.375% 25.390625%);
    --palRedp1-72: rgb(52.734375% 9.375% 25.390625%);
    --palRedp1-73: rgb(53.125% 9.765625% 25.390625%);
    --palRedp1-74: rgb(53.125% 9.765625% 25.390625%);
    --palRedp1-75: rgb(53.515625% 10.15625% 25.390625%);
    --palRedp1-76: rgb(53.515625% 10.15625% 25.390625%);
    --palRedp1-77: rgb(53.515625% 10.15625% 25.78125%);
    --palRedp1-78: rgb(53.90625% 10.546875% 25.390625%);
    --palRedp1-79: rgb(54.296875% 10.15625% 24.609375%);
    --palRedp1-80: rgb(54.6875% 10.15625% 23.828125%);
    --palRedp1-81: rgb(55.078125% 10.15625% 23.4375%);
    --palRedp1-82: rgb(55.078125% 10.15625% 22.65625%);
    --palRedp1-83: rgb(55.46875% 9.765625% 22.265625%);
    --palRedp1-84: rgb(55.859375% 9.765625% 21.484375%);
    --palRedp1-85: rgb(56.25% 9.765625% 20.703125%);
    --palRedp1-86: rgb(56.640625% 9.765625% 20.3125%);
    --palRedp1-87: rgb(57.03125% 9.765625% 19.53125%);
    --palRedp1-88: rgb(57.03125% 9.375% 18.75%);
    --palRedp1-89: rgb(57.421875% 9.375% 18.359375%);
    --palRedp1-90: rgb(57.8125% 9.375% 17.578125%);
    --palRedp1-91: rgb(58.203125% 9.375% 16.796875%);
    --palRedp1-92: rgb(58.59375% 9.375% 16.40625%);
    --palRedp1-93: rgb(58.59375% 8.984375% 15.625%);
    --palRedp1-94: rgb(58.984375% 8.984375% 14.84375%);
    --palRedp1-95: rgb(59.375% 8.984375% 14.0625%);
    --palRedp1-96: rgb(59.765625% 8.984375% 13.671875%);
    --palRedp1-97: rgb(59.765625% 8.984375% 12.890625%);
    --palRedp1-98: rgb(60.15625% 8.59375% 12.109375%);
    --palRedp1-99: rgb(60.546875% 8.59375% 11.328125%);
    --palRedp1-100: rgb(60.546875% 8.59375% 10.546875%);
    --palRedp1-101: rgb(60.9375% 8.59375% 9.765625%);
    --palRedp1-102: rgb(61.328125% 8.59375% 8.984375%);
    --palRedp1-103: rgb(61.71875% 8.59375% 8.59375%);
    --palRedp1-104: rgb(61.71875% 8.59375% 8.59375%);
    --palRedp1-105: rgb(62.109375% 8.984375% 8.59375%);
    --palRedp1-106: rgb(62.5% 8.984375% 8.59375%);
    --palRedp1-107: rgb(62.890625% 9.375% 8.59375%);
    --palRedp1-108: rgb(63.28125% 9.375% 8.59375%);
    --palRedp1-109: rgb(63.28125% 9.765625% 8.59375%);
    --palRedp1-110: rgb(63.671875% 9.765625% 8.59375%);
    --palRedp1-111: rgb(64.0625% 10.15625% 8.59375%);
    --palRedp1-112: rgb(64.453125% 10.15625% 8.984375%);
    --palRedp1-113: rgb(64.84375% 10.546875% 8.984375%);
    --palRedp1-114: rgb(65.234375% 10.546875% 8.984375%);
    --palRedp1-115: rgb(65.234375% 10.9375% 8.984375%);
    --palRedp1-116: rgb(65.625% 10.9375% 8.984375%);
    --palRedp1-117: rgb(66.015625% 11.328125% 8.984375%);
    --palRedp1-118: rgb(66.40625% 11.328125% 8.984375%);
    --palRedp1-119: rgb(66.796875% 11.71875% 8.984375%);
    --palRedp1-120: rgb(66.796875% 11.71875% 9.375%);
    --palRedp1-121: rgb(67.1875% 12.109375% 9.375%);
    --palRedp1-122: rgb(67.578125% 12.109375% 9.375%);
    --palRedp1-123: rgb(67.96875% 12.5% 9.375%);
    --palRedp1-124: rgb(68.359375% 12.5% 9.375%);
    --palRedp1-125: rgb(68.75% 12.890625% 9.375%);
    --palRedp1-126: rgb(68.75% 12.890625% 9.375%);
    --palRedp1-127: rgb(69.140625% 13.28125% 9.375%);
    --palRedp1-128: rgb(69.53125% 13.28125% 9.375%);
    --palRedp1-129: rgb(69.921875% 13.671875% 9.765625%);
    --palRedp1-130: rgb(70.3125% 14.0625% 9.765625%);
    --palRedp1-131: rgb(70.703125% 14.453125% 10.15625%);
    --palRedp1-132: rgb(71.09375% 14.84375% 10.15625%);
    --palRedp1-133: rgb(71.09375% 15.234375% 10.546875%);
    --palRedp1-134: rgb(71.484375% 15.625% 10.546875%);
    --palRedp1-135: rgb(71.875% 16.015625% 10.9375%);
    --palRedp1-136: rgb(72.265625% 16.40625% 10.9375%);
    --palRedp1-137: rgb(72.65625% 16.796875% 11.328125%);
    --palRedp1-138: rgb(73.046875% 17.1875% 11.328125%);
    --palRedp1-139: rgb(73.4375% 17.578125% 11.71875%);
    --palRedp1-140: rgb(73.4375% 17.96875% 11.71875%);
    --palRedp1-141: rgb(73.828125% 18.359375% 12.109375%);
    --palRedp1-142: rgb(74.21875% 18.75% 12.109375%);
    --palRedp1-143: rgb(74.609375% 19.140625% 12.5%);
    --palRedp1-144: rgb(75% 19.53125% 12.5%);
    --palRedp1-145: rgb(75.390625% 19.921875% 12.890625%);
    --palRedp1-146: rgb(75.78125% 20.3125% 12.890625%);
    --palRedp1-147: rgb(75.78125% 20.703125% 13.28125%);
    --palRedp1-148: rgb(76.171875% 21.09375% 13.28125%);
    --palRedp1-149: rgb(76.5625% 21.484375% 13.671875%);
    --palRedp1-150: rgb(76.953125% 21.875% 13.671875%);
    --palRedp1-151: rgb(77.34375% 22.265625% 14.0625%);
    --palRedp1-152: rgb(77.734375% 22.65625% 14.0625%);
    --palRedp1-153: rgb(78.125% 23.046875% 14.453125%);
    --palRedp1-154: rgb(78.125% 23.046875% 14.84375%);
    --palRedp1-155: rgb(78.515625% 23.4375% 14.84375%);
    --palRedp1-156: rgb(78.90625% 23.828125% 15.234375%);
    --palRedp1-157: rgb(79.296875% 24.21875% 15.625%);
    --palRedp1-158: rgb(79.6875% 24.609375% 15.625%);
    --palRedp1-159: rgb(80.078125% 25% 16.015625%);
    --palRedp1-160: rgb(80.46875% 25.390625% 16.40625%);
    --palRedp1-161: rgb(80.859375% 25.78125% 16.40625%);
    --palRedp1-162: rgb(81.25% 26.171875% 16.796875%);
    --palRedp1-163: rgb(81.640625% 26.5625% 17.1875%);
    --palRedp1-164: rgb(82.03125% 26.953125% 17.578125%);
    --palRedp1-165: rgb(82.03125% 27.34375% 17.578125%);
    --palRedp1-166: rgb(82.421875% 27.734375% 17.96875%);
    --palRedp1-167: rgb(82.8125% 28.125% 18.359375%);
    --palRedp1-168: rgb(83.203125% 28.515625% 18.359375%);
    --palRedp1-169: rgb(83.59375% 28.90625% 18.75%);
    --palRedp1-170: rgb(83.984375% 29.296875% 19.140625%);
    --palRedp1-171: rgb(84.375% 29.6875% 19.140625%);
    --palRedp1-172: rgb(84.765625% 30.078125% 19.53125%);
    --palRedp1-173: rgb(85.15625% 30.46875% 19.921875%);
    --palRedp1-174: rgb(85.546875% 30.46875% 20.3125%);
    --palRedp1-175: rgb(85.546875% 30.859375% 20.3125%);
    --palRedp1-176: rgb(85.9375% 31.25% 20.703125%);
    --palRedp1-177: rgb(86.328125% 31.640625% 21.09375%);
    --palRedp1-178: rgb(86.71875% 32.03125% 21.09375%);
    --palRedp1-179: rgb(87.109375% 32.421875% 21.484375%);
    --palRedp1-180: rgb(87.5% 32.8125% 21.875%);
    --palRedp1-181: rgb(87.890625% 33.59375% 22.65625%);
    --palRedp1-182: rgb(87.890625% 34.375% 23.046875%);
    --palRedp1-183: rgb(88.28125% 35.15625% 23.828125%);
    --palRedp1-184: rgb(88.671875% 35.546875% 24.609375%);
    --palRedp1-185: rgb(89.0625% 36.328125% 25%);
    --palRedp1-186: rgb(89.0625% 37.109375% 25.78125%);
    --palRedp1-187: rgb(89.453125% 37.5% 26.171875%);
    --palRedp1-188: rgb(89.84375% 38.28125% 26.953125%);
    --palRedp1-189: rgb(90.234375% 39.0625% 27.734375%);
    --palRedp1-190: rgb(90.234375% 39.453125% 28.125%);
    --palRedp1-191: rgb(90.625% 40.234375% 28.90625%);
    --palRedp1-192: rgb(91.015625% 41.015625% 29.296875%);
    --palRedp1-193: rgb(91.015625% 41.40625% 30.078125%);
    --palRedp1-194: rgb(91.40625% 42.1875% 30.859375%);
    --palRedp1-195: rgb(91.796875% 42.96875% 31.25%);
    --palRedp1-196: rgb(91.796875% 43.359375% 32.03125%);
    --palRedp1-197: rgb(92.1875% 44.140625% 32.421875%);
    --palRedp1-198: rgb(92.578125% 44.53125% 33.203125%);
    --palRedp1-199: rgb(92.96875% 45.3125% 33.984375%);
    --palRedp1-200: rgb(92.96875% 46.09375% 34.375%);
    --palRedp1-201: rgb(93.359375% 46.484375% 35.15625%);
    --palRedp1-202: rgb(93.75% 47.265625% 35.9375%);
    --palRedp1-203: rgb(93.75% 47.65625% 36.328125%);
    --palRedp1-204: rgb(94.140625% 48.4375% 37.109375%);
    --palRedp1-205: rgb(94.53125% 49.21875% 37.5%);
    --palRedp1-206: rgb(94.53125% 50% 38.671875%);
    --palRedp1-207: rgb(94.53125% 50.78125% 39.453125%);
    --palRedp1-208: rgb(94.921875% 51.5625% 40.625%);
    --palRedp1-209: rgb(94.921875% 52.34375% 41.40625%);
    --palRedp1-210: rgb(94.921875% 53.515625% 42.1875%);
    --palRedp1-211: rgb(95.3125% 54.296875% 43.359375%);
    --palRedp1-212: rgb(95.3125% 55.078125% 44.140625%);
    --palRedp1-213: rgb(95.3125% 55.859375% 44.921875%);
    --palRedp1-214: rgb(95.3125% 56.640625% 46.09375%);
    --palRedp1-215: rgb(95.703125% 57.421875% 46.875%);
    --palRedp1-216: rgb(95.703125% 58.59375% 47.65625%);
    --palRedp1-217: rgb(95.703125% 59.375% 48.828125%);
    --palRedp1-218: rgb(95.703125% 60.15625% 49.609375%);
    --palRedp1-219: rgb(95.703125% 60.9375% 50.78125%);
    --palRedp1-220: rgb(96.09375% 61.71875% 51.5625%);
    --palRedp1-221: rgb(96.09375% 62.5% 52.34375%);
    --palRedp1-222: rgb(96.09375% 63.671875% 53.515625%);
    --palRedp1-223: rgb(96.09375% 64.453125% 54.296875%);
    --palRedp1-224: rgb(96.09375% 65.234375% 55.46875%);
    --palRedp1-225: rgb(96.09375% 66.015625% 56.25%);
    --palRedp1-226: rgb(96.09375% 66.796875% 57.421875%);
    --palRedp1-227: rgb(96.09375% 67.578125% 58.203125%);
    --palRedp1-228: rgb(96.09375% 68.359375% 58.984375%);
    --palRedp1-229: rgb(96.09375% 69.140625% 60.15625%);
    --palRedp1-230: rgb(96.09375% 69.921875% 60.9375%);
    --palRedp1-231: rgb(96.484375% 70.703125% 62.109375%);
    --palRedp1-232: rgb(96.484375% 71.484375% 62.890625%);
    --palRedp1-233: rgb(96.484375% 72.265625% 63.671875%);
    --palRedp1-234: rgb(96.875% 73.046875% 64.453125%);
    --palRedp1-235: rgb(96.875% 73.4375% 65.234375%);
    --palRedp1-236: rgb(96.875% 74.21875% 66.40625%);
    --palRedp1-237: rgb(96.875% 75% 67.1875%);
    --palRedp1-238: rgb(97.265625% 75.390625% 67.96875%);
    --palRedp1-239: rgb(97.265625% 76.171875% 68.75%);
    --palRedp1-240: rgb(97.265625% 76.953125% 69.53125%);
    --palRedp1-241: rgb(97.265625% 77.734375% 70.703125%);
    --palRedp1-242: rgb(97.65625% 78.125% 71.484375%);
    --palRedp1-243: rgb(97.65625% 78.90625% 72.265625%);
    --palRedp1-244: rgb(97.65625% 79.6875% 73.046875%);
    --palRedp1-245: rgb(97.65625% 80.078125% 74.21875%);
    --palRedp1-246: rgb(97.65625% 80.859375% 75%);
    --palRedp1-247: rgb(98.046875% 81.640625% 75.78125%);
    --palRedp1-248: rgb(98.046875% 82.421875% 76.5625%);
    --palRedp1-249: rgb(98.046875% 82.8125% 77.734375%);
    --palRedp1-250: rgb(98.046875% 83.59375% 78.515625%);
    --palRedp1-251: rgb(98.046875% 84.375% 79.296875%);
    --palRedp1-252: rgb(98.046875% 85.15625% 80.078125%);
    --palRedp1-253: rgb(98.046875% 85.546875% 81.25%);
    --palRedp1-254: rgb(98.046875% 86.328125% 82.03125%);
    --palRedp1-255: rgb(98.046875% 87.109375% 82.8125%);
    --palRedp1-256: rgb(98.046875% 87.890625% 83.59375%);
}
