/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedsun1-1: rgb(99.609375% 89.84375% 78.515625%);
    --palRedsun1-2: rgb(99.21875% 89.453125% 77.734375%);
    --palRedsun1-3: rgb(99.21875% 89.0625% 77.34375%);
    --palRedsun1-4: rgb(99.21875% 88.671875% 76.5625%);
    --palRedsun1-5: rgb(98.828125% 88.28125% 76.171875%);
    --palRedsun1-6: rgb(98.828125% 87.5% 75.390625%);
    --palRedsun1-7: rgb(98.828125% 87.109375% 75%);
    --palRedsun1-8: rgb(98.828125% 86.71875% 74.21875%);
    --palRedsun1-9: rgb(98.4375% 86.328125% 73.4375%);
    --palRedsun1-10: rgb(98.4375% 85.9375% 73.046875%);
    --palRedsun1-11: rgb(98.4375% 85.15625% 72.265625%);
    --palRedsun1-12: rgb(98.046875% 84.765625% 71.875%);
    --palRedsun1-13: rgb(98.046875% 84.375% 71.09375%);
    --palRedsun1-14: rgb(98.046875% 83.984375% 70.703125%);
    --palRedsun1-15: rgb(98.046875% 83.203125% 69.921875%);
    --palRedsun1-16: rgb(97.65625% 82.8125% 69.53125%);
    --palRedsun1-17: rgb(97.65625% 82.421875% 68.75%);
    --palRedsun1-18: rgb(97.65625% 82.03125% 67.96875%);
    --palRedsun1-19: rgb(97.265625% 81.640625% 67.578125%);
    --palRedsun1-20: rgb(97.265625% 80.859375% 66.796875%);
    --palRedsun1-21: rgb(97.265625% 80.46875% 66.40625%);
    --palRedsun1-22: rgb(97.265625% 80.078125% 65.625%);
    --palRedsun1-23: rgb(96.875% 79.6875% 65.234375%);
    --palRedsun1-24: rgb(96.875% 79.296875% 64.453125%);
    --palRedsun1-25: rgb(96.875% 78.515625% 64.0625%);
    --palRedsun1-26: rgb(96.484375% 78.125% 63.28125%);
    --palRedsun1-27: rgb(96.484375% 77.734375% 62.5%);
    --palRedsun1-28: rgb(96.484375% 77.34375% 62.109375%);
    --palRedsun1-29: rgb(96.484375% 76.953125% 61.328125%);
    --palRedsun1-30: rgb(96.09375% 76.171875% 60.9375%);
    --palRedsun1-31: rgb(96.09375% 75.78125% 60.15625%);
    --palRedsun1-32: rgb(96.09375% 75.390625% 59.765625%);
    --palRedsun1-33: rgb(96.09375% 75% 58.984375%);
    --palRedsun1-34: rgb(95.703125% 74.21875% 58.203125%);
    --palRedsun1-35: rgb(95.703125% 73.828125% 57.8125%);
    --palRedsun1-36: rgb(95.703125% 73.4375% 57.03125%);
    --palRedsun1-37: rgb(95.3125% 73.046875% 56.640625%);
    --palRedsun1-38: rgb(95.3125% 72.65625% 55.859375%);
    --palRedsun1-39: rgb(95.3125% 71.875% 55.46875%);
    --palRedsun1-40: rgb(95.3125% 71.484375% 54.6875%);
    --palRedsun1-41: rgb(94.921875% 71.09375% 54.296875%);
    --palRedsun1-42: rgb(94.921875% 70.703125% 53.515625%);
    --palRedsun1-43: rgb(94.921875% 70.3125% 52.734375%);
    --palRedsun1-44: rgb(94.53125% 69.53125% 52.34375%);
    --palRedsun1-45: rgb(94.53125% 69.140625% 51.5625%);
    --palRedsun1-46: rgb(94.53125% 68.75% 51.171875%);
    --palRedsun1-47: rgb(94.53125% 68.359375% 50.390625%);
    --palRedsun1-48: rgb(94.140625% 67.96875% 50%);
    --palRedsun1-49: rgb(94.140625% 67.1875% 49.21875%);
    --palRedsun1-50: rgb(94.140625% 66.796875% 48.4375%);
    --palRedsun1-51: rgb(93.75% 66.40625% 48.046875%);
    --palRedsun1-52: rgb(93.75% 66.015625% 47.265625%);
    --palRedsun1-53: rgb(93.75% 65.625% 46.875%);
    --palRedsun1-54: rgb(93.75% 64.84375% 46.09375%);
    --palRedsun1-55: rgb(93.359375% 64.453125% 45.703125%);
    --palRedsun1-56: rgb(93.359375% 64.0625% 44.921875%);
    --palRedsun1-57: rgb(93.359375% 63.671875% 44.53125%);
    --palRedsun1-58: rgb(93.359375% 62.890625% 43.75%);
    --palRedsun1-59: rgb(92.96875% 62.5% 42.96875%);
    --palRedsun1-60: rgb(92.96875% 62.109375% 42.578125%);
    --palRedsun1-61: rgb(92.96875% 61.71875% 41.796875%);
    --palRedsun1-62: rgb(92.578125% 61.328125% 41.40625%);
    --palRedsun1-63: rgb(92.578125% 60.546875% 40.625%);
    --palRedsun1-64: rgb(92.578125% 60.15625% 40.234375%);
    --palRedsun1-65: rgb(92.578125% 59.765625% 39.453125%);
    --palRedsun1-66: rgb(92.1875% 59.375% 39.0625%);
    --palRedsun1-67: rgb(92.1875% 58.984375% 38.671875%);
    --palRedsun1-68: rgb(91.796875% 58.59375% 38.671875%);
    --palRedsun1-69: rgb(91.796875% 58.203125% 38.28125%);
    --palRedsun1-70: rgb(91.40625% 57.8125% 37.890625%);
    --palRedsun1-71: rgb(91.40625% 57.421875% 37.5%);
    --palRedsun1-72: rgb(91.015625% 57.03125% 37.109375%);
    --palRedsun1-73: rgb(91.015625% 56.640625% 36.71875%);
    --palRedsun1-74: rgb(91.015625% 56.25% 36.328125%);
    --palRedsun1-75: rgb(90.625% 55.859375% 35.9375%);
    --palRedsun1-76: rgb(90.625% 55.46875% 35.546875%);
    --palRedsun1-77: rgb(90.234375% 55.078125% 35.546875%);
    --palRedsun1-78: rgb(90.234375% 54.6875% 35.15625%);
    --palRedsun1-79: rgb(89.84375% 54.296875% 34.765625%);
    --palRedsun1-80: rgb(89.84375% 53.90625% 34.375%);
    --palRedsun1-81: rgb(89.84375% 53.515625% 33.984375%);
    --palRedsun1-82: rgb(89.453125% 53.125% 33.59375%);
    --palRedsun1-83: rgb(89.453125% 52.734375% 33.203125%);
    --palRedsun1-84: rgb(89.0625% 52.34375% 32.8125%);
    --palRedsun1-85: rgb(89.0625% 51.953125% 32.8125%);
    --palRedsun1-86: rgb(88.671875% 51.5625% 32.421875%);
    --palRedsun1-87: rgb(88.671875% 51.171875% 32.03125%);
    --palRedsun1-88: rgb(88.28125% 50.78125% 31.640625%);
    --palRedsun1-89: rgb(88.28125% 50.390625% 31.25%);
    --palRedsun1-90: rgb(88.28125% 50% 30.859375%);
    --palRedsun1-91: rgb(87.890625% 49.609375% 30.46875%);
    --palRedsun1-92: rgb(87.890625% 49.21875% 30.078125%);
    --palRedsun1-93: rgb(87.5% 48.828125% 29.6875%);
    --palRedsun1-94: rgb(87.5% 48.4375% 29.6875%);
    --palRedsun1-95: rgb(87.109375% 48.046875% 29.296875%);
    --palRedsun1-96: rgb(87.109375% 47.65625% 28.90625%);
    --palRedsun1-97: rgb(86.71875% 47.265625% 28.515625%);
    --palRedsun1-98: rgb(86.71875% 46.875% 28.125%);
    --palRedsun1-99: rgb(86.71875% 46.484375% 27.734375%);
    --palRedsun1-100: rgb(86.328125% 46.09375% 27.34375%);
    --palRedsun1-101: rgb(86.328125% 45.703125% 26.953125%);
    --palRedsun1-102: rgb(85.9375% 44.921875% 26.5625%);
    --palRedsun1-103: rgb(85.9375% 44.53125% 26.5625%);
    --palRedsun1-104: rgb(85.546875% 44.140625% 26.171875%);
    --palRedsun1-105: rgb(85.546875% 43.75% 25.78125%);
    --palRedsun1-106: rgb(85.546875% 43.359375% 25.390625%);
    --palRedsun1-107: rgb(85.15625% 42.96875% 25%);
    --palRedsun1-108: rgb(85.15625% 42.578125% 24.609375%);
    --palRedsun1-109: rgb(84.765625% 42.1875% 24.21875%);
    --palRedsun1-110: rgb(84.765625% 41.796875% 23.828125%);
    --palRedsun1-111: rgb(84.375% 41.40625% 23.4375%);
    --palRedsun1-112: rgb(84.375% 41.015625% 23.4375%);
    --palRedsun1-113: rgb(83.984375% 40.625% 23.046875%);
    --palRedsun1-114: rgb(83.984375% 40.234375% 22.65625%);
    --palRedsun1-115: rgb(83.984375% 39.84375% 22.265625%);
    --palRedsun1-116: rgb(83.59375% 39.453125% 21.875%);
    --palRedsun1-117: rgb(83.59375% 39.0625% 21.484375%);
    --palRedsun1-118: rgb(83.203125% 38.671875% 21.09375%);
    --palRedsun1-119: rgb(83.203125% 38.28125% 20.703125%);
    --palRedsun1-120: rgb(82.8125% 37.890625% 20.3125%);
    --palRedsun1-121: rgb(82.8125% 37.5% 20.3125%);
    --palRedsun1-122: rgb(82.8125% 37.109375% 19.921875%);
    --palRedsun1-123: rgb(82.421875% 36.71875% 19.53125%);
    --palRedsun1-124: rgb(82.421875% 36.328125% 19.140625%);
    --palRedsun1-125: rgb(82.03125% 35.9375% 18.75%);
    --palRedsun1-126: rgb(82.03125% 35.546875% 18.359375%);
    --palRedsun1-127: rgb(81.640625% 35.15625% 17.96875%);
    --palRedsun1-128: rgb(81.640625% 34.765625% 17.578125%);
    --palRedsun1-129: rgb(81.25% 34.375% 17.578125%);
    --palRedsun1-130: rgb(81.25% 33.984375% 17.1875%);
    --palRedsun1-131: rgb(81.25% 33.59375% 17.1875%);
    --palRedsun1-132: rgb(80.859375% 33.203125% 16.796875%);
    --palRedsun1-133: rgb(80.859375% 32.8125% 16.796875%);
    --palRedsun1-134: rgb(80.46875% 32.421875% 16.796875%);
    --palRedsun1-135: rgb(80.46875% 32.03125% 16.40625%);
    --palRedsun1-136: rgb(80.46875% 31.640625% 16.40625%);
    --palRedsun1-137: rgb(80.078125% 31.25% 16.015625%);
    --palRedsun1-138: rgb(80.078125% 30.859375% 16.015625%);
    --palRedsun1-139: rgb(79.6875% 30.46875% 15.625%);
    --palRedsun1-140: rgb(79.6875% 30.078125% 15.625%);
    --palRedsun1-141: rgb(79.6875% 29.6875% 15.625%);
    --palRedsun1-142: rgb(79.296875% 29.296875% 15.234375%);
    --palRedsun1-143: rgb(79.296875% 28.90625% 15.234375%);
    --palRedsun1-144: rgb(78.90625% 28.515625% 14.84375%);
    --palRedsun1-145: rgb(78.90625% 28.125% 14.84375%);
    --palRedsun1-146: rgb(78.90625% 27.734375% 14.453125%);
    --palRedsun1-147: rgb(78.515625% 27.34375% 14.453125%);
    --palRedsun1-148: rgb(78.515625% 26.953125% 14.453125%);
    --palRedsun1-149: rgb(78.125% 26.5625% 14.0625%);
    --palRedsun1-150: rgb(78.125% 26.171875% 14.0625%);
    --palRedsun1-151: rgb(78.125% 25.78125% 13.671875%);
    --palRedsun1-152: rgb(77.734375% 25.390625% 13.671875%);
    --palRedsun1-153: rgb(77.734375% 25% 13.671875%);
    --palRedsun1-154: rgb(77.34375% 24.609375% 13.28125%);
    --palRedsun1-155: rgb(77.34375% 23.828125% 13.28125%);
    --palRedsun1-156: rgb(77.34375% 23.4375% 12.890625%);
    --palRedsun1-157: rgb(76.953125% 23.046875% 12.890625%);
    --palRedsun1-158: rgb(76.953125% 22.65625% 12.5%);
    --palRedsun1-159: rgb(76.5625% 22.265625% 12.5%);
    --palRedsun1-160: rgb(76.5625% 21.875% 12.5%);
    --palRedsun1-161: rgb(76.5625% 21.484375% 12.109375%);
    --palRedsun1-162: rgb(76.171875% 21.09375% 12.109375%);
    --palRedsun1-163: rgb(76.171875% 20.703125% 11.71875%);
    --palRedsun1-164: rgb(75.78125% 20.3125% 11.71875%);
    --palRedsun1-165: rgb(75.78125% 19.921875% 11.328125%);
    --palRedsun1-166: rgb(75.78125% 19.53125% 11.328125%);
    --palRedsun1-167: rgb(75.390625% 19.140625% 11.328125%);
    --palRedsun1-168: rgb(75.390625% 18.75% 10.9375%);
    --palRedsun1-169: rgb(75% 18.359375% 10.9375%);
    --palRedsun1-170: rgb(75% 17.96875% 10.546875%);
    --palRedsun1-171: rgb(75% 17.578125% 10.546875%);
    --palRedsun1-172: rgb(74.609375% 17.1875% 10.15625%);
    --palRedsun1-173: rgb(74.609375% 16.796875% 10.15625%);
    --palRedsun1-174: rgb(74.21875% 16.40625% 10.15625%);
    --palRedsun1-175: rgb(74.21875% 16.015625% 9.765625%);
    --palRedsun1-176: rgb(74.21875% 15.625% 9.765625%);
    --palRedsun1-177: rgb(73.828125% 15.234375% 9.375%);
    --palRedsun1-178: rgb(73.828125% 14.84375% 9.375%);
    --palRedsun1-179: rgb(73.4375% 14.453125% 8.984375%);
    --palRedsun1-180: rgb(73.4375% 14.0625% 8.984375%);
    --palRedsun1-181: rgb(73.4375% 13.671875% 8.984375%);
    --palRedsun1-182: rgb(73.046875% 13.28125% 8.59375%);
    --palRedsun1-183: rgb(73.046875% 12.890625% 8.59375%);
    --palRedsun1-184: rgb(72.65625% 12.5% 8.203125%);
    --palRedsun1-185: rgb(72.65625% 12.109375% 8.203125%);
    --palRedsun1-186: rgb(72.65625% 11.71875% 8.203125%);
    --palRedsun1-187: rgb(72.265625% 11.328125% 7.8125%);
    --palRedsun1-188: rgb(72.265625% 10.9375% 7.8125%);
    --palRedsun1-189: rgb(71.875% 10.546875% 7.421875%);
    --palRedsun1-190: rgb(71.875% 10.15625% 7.421875%);
    --palRedsun1-191: rgb(71.875% 9.765625% 7.03125%);
    --palRedsun1-192: rgb(71.484375% 9.375% 7.03125%);
    --palRedsun1-193: rgb(71.484375% 8.984375% 7.03125%);
    --palRedsun1-194: rgb(71.09375% 8.984375% 7.03125%);
    --palRedsun1-195: rgb(70.703125% 8.59375% 7.03125%);
    --palRedsun1-196: rgb(70.703125% 8.59375% 7.03125%);
    --palRedsun1-197: rgb(70.3125% 8.59375% 7.03125%);
    --palRedsun1-198: rgb(69.921875% 8.203125% 7.03125%);
    --palRedsun1-199: rgb(69.53125% 8.203125% 7.03125%);
    --palRedsun1-200: rgb(69.53125% 8.203125% 7.03125%);
    --palRedsun1-201: rgb(69.140625% 7.8125% 7.03125%);
    --palRedsun1-202: rgb(68.75% 7.8125% 7.03125%);
    --palRedsun1-203: rgb(68.75% 7.8125% 7.421875%);
    --palRedsun1-204: rgb(68.359375% 7.421875% 7.421875%);
    --palRedsun1-205: rgb(67.96875% 7.421875% 7.421875%);
    --palRedsun1-206: rgb(67.96875% 7.421875% 7.421875%);
    --palRedsun1-207: rgb(67.578125% 7.03125% 7.421875%);
    --palRedsun1-208: rgb(67.1875% 7.03125% 7.421875%);
    --palRedsun1-209: rgb(67.1875% 7.03125% 7.421875%);
    --palRedsun1-210: rgb(66.796875% 6.640625% 7.421875%);
    --palRedsun1-211: rgb(66.40625% 6.640625% 7.421875%);
    --palRedsun1-212: rgb(66.40625% 6.640625% 7.421875%);
    --palRedsun1-213: rgb(66.015625% 6.25% 7.421875%);
    --palRedsun1-214: rgb(65.625% 6.25% 7.421875%);
    --palRedsun1-215: rgb(65.625% 6.25% 7.421875%);
    --palRedsun1-216: rgb(65.234375% 5.859375% 7.421875%);
    --palRedsun1-217: rgb(64.84375% 5.859375% 7.421875%);
    --palRedsun1-218: rgb(64.84375% 5.859375% 7.8125%);
    --palRedsun1-219: rgb(64.453125% 5.46875% 7.8125%);
    --palRedsun1-220: rgb(64.0625% 5.46875% 7.8125%);
    --palRedsun1-221: rgb(63.671875% 5.46875% 7.8125%);
    --palRedsun1-222: rgb(63.671875% 5.078125% 7.8125%);
    --palRedsun1-223: rgb(63.28125% 5.078125% 7.8125%);
    --palRedsun1-224: rgb(62.890625% 5.078125% 7.8125%);
    --palRedsun1-225: rgb(62.890625% 4.6875% 7.8125%);
    --palRedsun1-226: rgb(62.5% 4.6875% 7.8125%);
    --palRedsun1-227: rgb(62.109375% 4.6875% 7.8125%);
    --palRedsun1-228: rgb(62.109375% 4.296875% 7.8125%);
    --palRedsun1-229: rgb(61.71875% 4.296875% 7.8125%);
    --palRedsun1-230: rgb(61.328125% 3.90625% 7.8125%);
    --palRedsun1-231: rgb(61.328125% 3.90625% 7.8125%);
    --palRedsun1-232: rgb(60.9375% 3.90625% 7.8125%);
    --palRedsun1-233: rgb(60.546875% 3.515625% 7.8125%);
    --palRedsun1-234: rgb(60.546875% 3.515625% 8.203125%);
    --palRedsun1-235: rgb(60.15625% 3.515625% 8.203125%);
    --palRedsun1-236: rgb(59.765625% 3.125% 8.203125%);
    --palRedsun1-237: rgb(59.765625% 3.125% 8.203125%);
    --palRedsun1-238: rgb(59.375% 3.125% 8.203125%);
    --palRedsun1-239: rgb(58.984375% 2.734375% 8.203125%);
    --palRedsun1-240: rgb(58.59375% 2.734375% 8.203125%);
    --palRedsun1-241: rgb(58.59375% 2.734375% 8.203125%);
    --palRedsun1-242: rgb(58.203125% 2.34375% 8.203125%);
    --palRedsun1-243: rgb(57.8125% 2.34375% 8.203125%);
    --palRedsun1-244: rgb(57.8125% 2.34375% 8.203125%);
    --palRedsun1-245: rgb(57.421875% 1.953125% 8.203125%);
    --palRedsun1-246: rgb(57.03125% 1.953125% 8.203125%);
    --palRedsun1-247: rgb(57.03125% 1.953125% 8.203125%);
    --palRedsun1-248: rgb(56.640625% 1.5625% 8.203125%);
    --palRedsun1-249: rgb(56.25% 1.5625% 8.203125%);
    --palRedsun1-250: rgb(56.25% 1.5625% 8.59375%);
    --palRedsun1-251: rgb(55.859375% 1.171875% 8.59375%);
    --palRedsun1-252: rgb(55.46875% 1.171875% 8.59375%);
    --palRedsun1-253: rgb(55.46875% 1.171875% 8.59375%);
    --palRedsun1-254: rgb(55.078125% 0.78125% 8.59375%);
    --palRedsun1-255: rgb(54.6875% 0.78125% 8.59375%);
    --palRedsun1-256: rgb(54.6875% 0.78125% 8.59375%);
}
