/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedsCP-1: rgb(10.5882% 11.7647% 13.7255%);
    --palRedsCP-2: rgb(10.9804% 11.7647% 13.7255%);
    --palRedsCP-3: rgb(11.3725% 12.1569% 14.1176%);
    --palRedsCP-4: rgb(11.3725% 12.1569% 14.1176%);
    --palRedsCP-5: rgb(11.7647% 12.1569% 14.1176%);
    --palRedsCP-6: rgb(12.1569% 12.549% 14.1176%);
    --palRedsCP-7: rgb(12.549% 12.549% 14.5098%);
    --palRedsCP-8: rgb(12.9412% 12.549% 14.5098%);
    --palRedsCP-9: rgb(12.9412% 12.9412% 14.5098%);
    --palRedsCP-10: rgb(13.3333% 12.9412% 14.902%);
    --palRedsCP-11: rgb(13.7255% 12.9412% 14.902%);
    --palRedsCP-12: rgb(14.1176% 13.3333% 14.902%);
    --palRedsCP-13: rgb(14.5098% 13.3333% 14.902%);
    --palRedsCP-14: rgb(14.5098% 13.3333% 15.2941%);
    --palRedsCP-15: rgb(14.902% 13.7255% 15.2941%);
    --palRedsCP-16: rgb(15.2941% 13.7255% 15.2941%);
    --palRedsCP-17: rgb(15.6863% 13.7255% 15.6863%);
    --palRedsCP-18: rgb(16.0784% 14.1176% 15.6863%);
    --palRedsCP-19: rgb(16.0784% 14.1176% 15.6863%);
    --palRedsCP-20: rgb(16.4706% 14.1176% 15.6863%);
    --palRedsCP-21: rgb(16.8627% 14.5098% 16.0784%);
    --palRedsCP-22: rgb(17.2549% 14.5098% 16.0784%);
    --palRedsCP-23: rgb(17.6471% 14.5098% 16.0784%);
    --palRedsCP-24: rgb(17.6471% 14.902% 16.4706%);
    --palRedsCP-25: rgb(18.0392% 14.902% 16.4706%);
    --palRedsCP-26: rgb(18.4314% 14.902% 16.4706%);
    --palRedsCP-27: rgb(18.8235% 14.902% 16.8627%);
    --palRedsCP-28: rgb(18.8235% 15.2941% 16.8627%);
    --palRedsCP-29: rgb(19.2157% 15.2941% 16.8627%);
    --palRedsCP-30: rgb(19.6078% 15.2941% 16.8627%);
    --palRedsCP-31: rgb(20% 15.6863% 17.2549%);
    --palRedsCP-32: rgb(20.3922% 15.6863% 17.2549%);
    --palRedsCP-33: rgb(20.3922% 15.6863% 17.2549%);
    --palRedsCP-34: rgb(20.7843% 16.0784% 17.6471%);
    --palRedsCP-35: rgb(21.1765% 16.0784% 17.6471%);
    --palRedsCP-36: rgb(21.5686% 16.0784% 17.6471%);
    --palRedsCP-37: rgb(21.9608% 16.4706% 17.6471%);
    --palRedsCP-38: rgb(21.9608% 16.4706% 18.0392%);
    --palRedsCP-39: rgb(22.3529% 16.4706% 18.0392%);
    --palRedsCP-40: rgb(22.7451% 16.8627% 18.0392%);
    --palRedsCP-41: rgb(23.1373% 16.8627% 18.4314%);
    --palRedsCP-42: rgb(23.5294% 16.8627% 18.4314%);
    --palRedsCP-43: rgb(23.5294% 17.2549% 18.4314%);
    --palRedsCP-44: rgb(23.9216% 17.2549% 18.8235%);
    --palRedsCP-45: rgb(24.3137% 17.2549% 18.8235%);
    --palRedsCP-46: rgb(24.7059% 17.6471% 18.8235%);
    --palRedsCP-47: rgb(25.098% 17.6471% 18.8235%);
    --palRedsCP-48: rgb(25.098% 17.6471% 19.2157%);
    --palRedsCP-49: rgb(25.4902% 18.0392% 19.2157%);
    --palRedsCP-50: rgb(25.8824% 18.0392% 19.2157%);
    --palRedsCP-51: rgb(26.2745% 18.0392% 19.6078%);
    --palRedsCP-52: rgb(26.2745% 18.4314% 19.6078%);
    --palRedsCP-53: rgb(26.6667% 18.4314% 19.6078%);
    --palRedsCP-54: rgb(27.0588% 18.4314% 19.6078%);
    --palRedsCP-55: rgb(27.451% 18.8235% 20%);
    --palRedsCP-56: rgb(27.8431% 18.8235% 20%);
    --palRedsCP-57: rgb(27.8431% 18.8235% 20%);
    --palRedsCP-58: rgb(28.2353% 19.2157% 20.3922%);
    --palRedsCP-59: rgb(28.6275% 19.2157% 20.3922%);
    --palRedsCP-60: rgb(29.0196% 19.2157% 20.3922%);
    --palRedsCP-61: rgb(29.4118% 19.6078% 20.7843%);
    --palRedsCP-62: rgb(29.4118% 19.6078% 20.7843%);
    --palRedsCP-63: rgb(29.8039% 19.6078% 20.7843%);
    --palRedsCP-64: rgb(30.1961% 20% 20.7843%);
    --palRedsCP-65: rgb(30.5882% 20% 21.1765%);
    --palRedsCP-66: rgb(30.9804% 20% 21.1765%);
    --palRedsCP-67: rgb(31.3725% 20.3922% 21.1765%);
    --palRedsCP-68: rgb(31.3725% 20.3922% 21.5686%);
    --palRedsCP-69: rgb(31.7647% 20.3922% 21.5686%);
    --palRedsCP-70: rgb(32.1569% 20.7843% 21.5686%);
    --palRedsCP-71: rgb(32.549% 20.7843% 21.9608%);
    --palRedsCP-72: rgb(32.9412% 20.7843% 21.9608%);
    --palRedsCP-73: rgb(32.9412% 21.1765% 21.9608%);
    --palRedsCP-74: rgb(33.3333% 21.1765% 22.3529%);
    --palRedsCP-75: rgb(33.7255% 21.1765% 22.3529%);
    --palRedsCP-76: rgb(34.1176% 21.5686% 22.3529%);
    --palRedsCP-77: rgb(34.5098% 21.5686% 22.3529%);
    --palRedsCP-78: rgb(34.5098% 21.5686% 22.7451%);
    --palRedsCP-79: rgb(34.902% 21.5686% 22.7451%);
    --palRedsCP-80: rgb(35.2941% 21.9608% 22.7451%);
    --palRedsCP-81: rgb(35.6863% 21.9608% 23.1373%);
    --palRedsCP-82: rgb(36.0784% 21.9608% 23.1373%);
    --palRedsCP-83: rgb(36.4706% 22.3529% 23.1373%);
    --palRedsCP-84: rgb(36.4706% 22.3529% 23.5294%);
    --palRedsCP-85: rgb(36.8627% 22.3529% 23.5294%);
    --palRedsCP-86: rgb(37.2549% 22.7451% 23.5294%);
    --palRedsCP-87: rgb(37.6471% 22.7451% 23.5294%);
    --palRedsCP-88: rgb(38.0392% 22.7451% 23.9216%);
    --palRedsCP-89: rgb(38.0392% 23.1373% 23.9216%);
    --palRedsCP-90: rgb(38.4314% 23.1373% 23.9216%);
    --palRedsCP-91: rgb(38.8235% 23.1373% 24.3137%);
    --palRedsCP-92: rgb(39.2157% 23.5294% 24.3137%);
    --palRedsCP-93: rgb(39.6078% 23.5294% 24.3137%);
    --palRedsCP-94: rgb(40% 23.5294% 24.7059%);
    --palRedsCP-95: rgb(40% 23.9216% 24.7059%);
    --palRedsCP-96: rgb(40.3922% 23.9216% 24.7059%);
    --palRedsCP-97: rgb(40.7843% 23.9216% 25.098%);
    --palRedsCP-98: rgb(41.1765% 24.3137% 25.098%);
    --palRedsCP-99: rgb(41.5686% 24.3137% 25.098%);
    --palRedsCP-100: rgb(41.9608% 24.3137% 25.098%);
    --palRedsCP-101: rgb(41.9608% 24.7059% 25.4902%);
    --palRedsCP-102: rgb(42.3529% 24.7059% 25.4902%);
    --palRedsCP-103: rgb(42.7451% 24.7059% 25.4902%);
    --palRedsCP-104: rgb(43.1373% 25.098% 25.8824%);
    --palRedsCP-105: rgb(43.5294% 25.098% 25.8824%);
    --palRedsCP-106: rgb(43.9216% 25.098% 25.8824%);
    --palRedsCP-107: rgb(43.9216% 25.4902% 26.2745%);
    --palRedsCP-108: rgb(44.3137% 25.4902% 26.2745%);
    --palRedsCP-109: rgb(44.7059% 25.4902% 26.2745%);
    --palRedsCP-110: rgb(45.098% 25.8824% 26.6667%);
    --palRedsCP-111: rgb(45.4902% 25.8824% 26.6667%);
    --palRedsCP-112: rgb(45.8824% 25.8824% 26.6667%);
    --palRedsCP-113: rgb(45.8824% 26.2745% 27.0588%);
    --palRedsCP-114: rgb(46.2745% 26.2745% 27.0588%);
    --palRedsCP-115: rgb(46.6667% 26.2745% 27.0588%);
    --palRedsCP-116: rgb(47.0588% 26.6667% 27.0588%);
    --palRedsCP-117: rgb(47.451% 26.6667% 27.451%);
    --palRedsCP-118: rgb(47.8431% 26.6667% 27.451%);
    --palRedsCP-119: rgb(48.2353% 27.0588% 27.451%);
    --palRedsCP-120: rgb(48.2353% 27.0588% 27.8431%);
    --palRedsCP-121: rgb(48.6275% 27.0588% 27.8431%);
    --palRedsCP-122: rgb(49.0196% 27.451% 27.8431%);
    --palRedsCP-123: rgb(49.4118% 27.451% 28.2353%);
    --palRedsCP-124: rgb(49.8039% 27.451% 28.2353%);
    --palRedsCP-125: rgb(50.1961% 27.8431% 28.2353%);
    --palRedsCP-126: rgb(50.5882% 27.8431% 28.6275%);
    --palRedsCP-127: rgb(50.5882% 27.8431% 28.6275%);
    --palRedsCP-128: rgb(50.9804% 28.2353% 28.6275%);
    --palRedsCP-129: rgb(51.3725% 28.2353% 29.0196%);
    --palRedsCP-130: rgb(51.7647% 28.2353% 29.0196%);
    --palRedsCP-131: rgb(52.1569% 28.6275% 29.0196%);
    --palRedsCP-132: rgb(52.549% 28.6275% 29.4118%);
    --palRedsCP-133: rgb(52.9412% 28.6275% 29.4118%);
    --palRedsCP-134: rgb(52.9412% 29.0196% 29.4118%);
    --palRedsCP-135: rgb(53.3333% 29.0196% 29.4118%);
    --palRedsCP-136: rgb(53.7255% 29.0196% 29.8039%);
    --palRedsCP-137: rgb(54.1176% 29.4118% 29.8039%);
    --palRedsCP-138: rgb(54.5098% 29.4118% 29.8039%);
    --palRedsCP-139: rgb(54.902% 29.4118% 30.1961%);
    --palRedsCP-140: rgb(55.2941% 29.8039% 30.1961%);
    --palRedsCP-141: rgb(55.2941% 29.8039% 30.1961%);
    --palRedsCP-142: rgb(55.6863% 29.8039% 30.5882%);
    --palRedsCP-143: rgb(56.0784% 30.1961% 30.5882%);
    --palRedsCP-144: rgb(56.4706% 30.1961% 30.5882%);
    --palRedsCP-145: rgb(56.8627% 30.1961% 30.9804%);
    --palRedsCP-146: rgb(57.2549% 30.5882% 30.9804%);
    --palRedsCP-147: rgb(57.6471% 30.5882% 30.9804%);
    --palRedsCP-148: rgb(58.0392% 30.5882% 31.3725%);
    --palRedsCP-149: rgb(58.0392% 30.5882% 31.3725%);
    --palRedsCP-150: rgb(58.4314% 30.9804% 31.3725%);
    --palRedsCP-151: rgb(58.8235% 30.9804% 31.7647%);
    --palRedsCP-152: rgb(59.2157% 30.9804% 31.7647%);
    --palRedsCP-153: rgb(59.6078% 31.3725% 31.7647%);
    --palRedsCP-154: rgb(60% 31.3725% 32.1569%);
    --palRedsCP-155: rgb(60.3922% 31.3725% 32.1569%);
    --palRedsCP-156: rgb(60.7843% 31.7647% 32.1569%);
    --palRedsCP-157: rgb(60.7843% 31.7647% 32.549%);
    --palRedsCP-158: rgb(61.1765% 31.7647% 32.549%);
    --palRedsCP-159: rgb(61.5686% 32.1569% 32.549%);
    --palRedsCP-160: rgb(61.9608% 32.1569% 32.549%);
    --palRedsCP-161: rgb(62.3529% 32.1569% 32.9412%);
    --palRedsCP-162: rgb(62.7451% 32.549% 32.9412%);
    --palRedsCP-163: rgb(63.1373% 32.549% 32.9412%);
    --palRedsCP-164: rgb(63.5294% 32.549% 33.3333%);
    --palRedsCP-165: rgb(63.5294% 32.9412% 33.3333%);
    --palRedsCP-166: rgb(63.9216% 32.9412% 33.3333%);
    --palRedsCP-167: rgb(64.3137% 32.9412% 33.7255%);
    --palRedsCP-168: rgb(64.7059% 33.3333% 33.7255%);
    --palRedsCP-169: rgb(65.098% 33.3333% 33.7255%);
    --palRedsCP-170: rgb(65.4902% 33.3333% 34.1176%);
    --palRedsCP-171: rgb(65.8824% 33.7255% 34.1176%);
    --palRedsCP-172: rgb(66.2745% 33.7255% 34.1176%);
    --palRedsCP-173: rgb(66.6667% 33.7255% 34.5098%);
    --palRedsCP-174: rgb(66.6667% 34.1176% 34.5098%);
    --palRedsCP-175: rgb(67.0588% 34.1176% 34.5098%);
    --palRedsCP-176: rgb(67.451% 34.1176% 34.902%);
    --palRedsCP-177: rgb(67.8431% 34.5098% 34.902%);
    --palRedsCP-178: rgb(68.2353% 34.5098% 34.902%);
    --palRedsCP-179: rgb(68.6275% 34.5098% 35.2941%);
    --palRedsCP-180: rgb(69.0196% 34.902% 35.2941%);
    --palRedsCP-181: rgb(69.4118% 34.902% 35.2941%);
    --palRedsCP-182: rgb(69.8039% 34.902% 35.6863%);
    --palRedsCP-183: rgb(69.8039% 35.2941% 35.6863%);
    --palRedsCP-184: rgb(70.1961% 35.2941% 35.6863%);
    --palRedsCP-185: rgb(70.5882% 35.2941% 36.0784%);
    --palRedsCP-186: rgb(70.9804% 35.6863% 36.0784%);
    --palRedsCP-187: rgb(71.3725% 35.6863% 36.0784%);
    --palRedsCP-188: rgb(71.7647% 35.6863% 36.4706%);
    --palRedsCP-189: rgb(72.1569% 36.0784% 36.4706%);
    --palRedsCP-190: rgb(72.549% 36.0784% 36.4706%);
    --palRedsCP-191: rgb(72.9412% 36.0784% 36.8627%);
    --palRedsCP-192: rgb(73.3333% 36.4706% 36.8627%);
    --palRedsCP-193: rgb(73.7255% 36.4706% 36.8627%);
    --palRedsCP-194: rgb(73.7255% 36.4706% 37.2549%);
    --palRedsCP-195: rgb(74.1176% 36.8627% 37.2549%);
    --palRedsCP-196: rgb(74.5098% 36.8627% 37.2549%);
    --palRedsCP-197: rgb(74.902% 36.8627% 37.6471%);
    --palRedsCP-198: rgb(75.2941% 37.2549% 37.6471%);
    --palRedsCP-199: rgb(75.6863% 37.2549% 37.6471%);
    --palRedsCP-200: rgb(76.0784% 37.2549% 38.0392%);
    --palRedsCP-201: rgb(76.4706% 37.6471% 38.0392%);
    --palRedsCP-202: rgb(76.8627% 37.6471% 38.0392%);
    --palRedsCP-203: rgb(77.2549% 37.6471% 38.4314%);
    --palRedsCP-204: rgb(77.6471% 38.0392% 38.4314%);
    --palRedsCP-205: rgb(77.6471% 38.0392% 38.4314%);
    --palRedsCP-206: rgb(78.0392% 38.0392% 38.8235%);
    --palRedsCP-207: rgb(78.4314% 38.4314% 38.8235%);
    --palRedsCP-208: rgb(78.8235% 38.4314% 38.8235%);
    --palRedsCP-209: rgb(79.2157% 38.4314% 39.2157%);
    --palRedsCP-210: rgb(79.6078% 38.8235% 39.2157%);
    --palRedsCP-211: rgb(80% 38.8235% 39.2157%);
    --palRedsCP-212: rgb(80.3922% 38.8235% 39.6078%);
    --palRedsCP-213: rgb(80.7843% 39.2157% 39.6078%);
    --palRedsCP-214: rgb(81.1765% 39.2157% 39.6078%);
    --palRedsCP-215: rgb(81.5686% 39.2157% 40%);
    --palRedsCP-216: rgb(81.9608% 39.6078% 40%);
    --palRedsCP-217: rgb(81.9608% 39.6078% 40%);
    --palRedsCP-218: rgb(82.3529% 40% 40.3922%);
    --palRedsCP-219: rgb(82.7451% 40% 40.3922%);
    --palRedsCP-220: rgb(83.1373% 40% 40.3922%);
    --palRedsCP-221: rgb(83.5294% 40.3922% 40.7843%);
    --palRedsCP-222: rgb(83.9216% 40.3922% 40.7843%);
    --palRedsCP-223: rgb(84.3137% 40.3922% 40.7843%);
    --palRedsCP-224: rgb(84.7059% 40.7843% 41.1765%);
    --palRedsCP-225: rgb(85.098% 40.7843% 41.1765%);
    --palRedsCP-226: rgb(85.4902% 40.7843% 41.1765%);
    --palRedsCP-227: rgb(85.8824% 41.1765% 41.5686%);
    --palRedsCP-228: rgb(86.2745% 41.1765% 41.5686%);
    --palRedsCP-229: rgb(86.6667% 41.1765% 41.5686%);
    --palRedsCP-230: rgb(87.0588% 41.5686% 41.9608%);
    --palRedsCP-231: rgb(87.0588% 41.5686% 41.9608%);
    --palRedsCP-232: rgb(87.451% 41.5686% 41.9608%);
    --palRedsCP-233: rgb(87.8431% 41.9608% 42.3529%);
    --palRedsCP-234: rgb(88.2353% 41.9608% 42.3529%);
    --palRedsCP-235: rgb(88.6275% 41.9608% 42.3529%);
    --palRedsCP-236: rgb(89.0196% 42.3529% 42.7451%);
    --palRedsCP-237: rgb(89.4118% 42.3529% 42.7451%);
    --palRedsCP-238: rgb(89.8039% 42.3529% 42.7451%);
    --palRedsCP-239: rgb(90.1961% 42.7451% 43.1373%);
    --palRedsCP-240: rgb(90.5882% 42.7451% 43.1373%);
    --palRedsCP-241: rgb(90.9804% 42.7451% 43.1373%);
    --palRedsCP-242: rgb(91.3725% 43.1373% 43.5294%);
    --palRedsCP-243: rgb(91.7647% 43.1373% 43.5294%);
    --palRedsCP-244: rgb(92.1569% 43.1373% 43.5294%);
    --palRedsCP-245: rgb(92.549% 43.5294% 43.9216%);
    --palRedsCP-246: rgb(92.549% 43.5294% 43.9216%);
    --palRedsCP-247: rgb(92.9412% 43.5294% 43.9216%);
    --palRedsCP-248: rgb(93.3333% 43.9216% 44.3137%);
    --palRedsCP-249: rgb(93.7255% 43.9216% 44.3137%);
    --palRedsCP-250: rgb(94.1176% 43.9216% 44.3137%);
    --palRedsCP-251: rgb(94.5098% 44.3137% 44.7059%);
    --palRedsCP-252: rgb(94.902% 44.3137% 44.7059%);
    --palRedsCP-253: rgb(95.2941% 44.3137% 44.7059%);
    --palRedsCP-254: rgb(95.6863% 44.7059% 45.098%);
    --palRedsCP-255: rgb(96.0784% 44.7059% 45.098%);
}
