/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedShift-1: rgb(57.869284% 94.700453% 95.383509%);
    --palRedShift-2: rgb(57.330096% 94.244813% 95.218584%);
    --palRedShift-3: rgb(56.790414% 93.790619% 95.055025%);
    --palRedShift-4: rgb(56.250183% 93.337844% 94.89295%);
    --palRedShift-5: rgb(55.7094% 92.88647% 94.732325%);
    --palRedShift-6: rgb(55.168026% 92.436472% 94.573223%);
    --palRedShift-7: rgb(54.626041% 91.987829% 94.415663%);
    --palRedShift-8: rgb(54.083428% 91.540519% 94.259649%);
    --palRedShift-9: rgb(53.540142% 91.094515% 94.105277%);
    --palRedShift-10: rgb(52.996183% 90.649797% 93.952504%);
    --palRedShift-11: rgb(52.451517% 90.206341% 93.801392%);
    --palRedShift-12: rgb(51.906115% 89.764122% 93.65198%);
    --palRedShift-13: rgb(51.359971% 89.323118% 93.504255%);
    --palRedShift-14: rgb(50.813051% 88.883304% 93.358271%);
    --palRedShift-15: rgb(50.265329% 88.444654% 93.214066%);
    --palRedShift-16: rgb(49.716797% 88.007146% 93.071625%);
    --palRedShift-17: rgb(49.167433% 87.570754% 92.930975%);
    --palRedShift-18: rgb(48.617195% 87.135452% 92.79219%);
    --palRedShift-19: rgb(48.06608% 86.701216% 92.655247%);
    --palRedShift-20: rgb(47.514069% 86.26802% 92.520162%);
    --palRedShift-21: rgb(46.961139% 85.835838% 92.386959%);
    --palRedShift-22: rgb(46.407266% 85.404645% 92.255672%);
    --palRedShift-23: rgb(45.852424% 84.974413% 92.126329%);
    --palRedShift-24: rgb(45.296603% 84.545117% 91.998924%);
    --palRedShift-25: rgb(44.739784% 84.116729% 91.873474%);
    --palRedShift-26: rgb(44.181946% 83.689223% 91.749997%);
    --palRedShift-27: rgb(43.62307% 83.262572% 91.628509%);
    --palRedShift-28: rgb(43.063137% 82.836747% 91.509023%);
    --palRedShift-29: rgb(42.502129% 82.411721% 91.391555%);
    --palRedShift-30: rgb(41.940026% 81.987466% 91.276117%);
    --palRedShift-31: rgb(41.376812% 81.563953% 91.162721%);
    --palRedShift-32: rgb(40.812469% 81.141153% 91.051377%);
    --palRedShift-33: rgb(40.24698% 80.719037% 90.942095%);
    --palRedShift-34: rgb(39.68033% 80.297576% 90.834883%);
    --palRedShift-35: rgb(39.112505% 79.876739% 90.729746%);
    --palRedShift-36: rgb(38.543488% 79.456497% 90.626692%);
    --palRedShift-37: rgb(37.973269% 79.036819% 90.525724%);
    --palRedShift-38: rgb(37.401834% 78.617674% 90.426845%);
    --palRedShift-39: rgb(36.829174% 78.199032% 90.330056%);
    --palRedShift-40: rgb(36.255279% 77.780859% 90.235356%);
    --palRedShift-41: rgb(35.680142% 77.363124% 90.142744%);
    --palRedShift-42: rgb(35.103745% 76.945793% 90.052248%);
    --palRedShift-43: rgb(34.526089% 76.528834% 89.963852%);
    --palRedShift-44: rgb(33.947179% 76.112213% 89.877532%);
    --palRedShift-45: rgb(33.367017% 75.695898% 89.793279%);
    --palRedShift-46: rgb(32.785588% 75.279849% 89.711137%);
    --palRedShift-47: rgb(32.202912% 74.864036% 89.63106%);
    --palRedShift-48: rgb(31.619008% 74.448422% 89.553017%);
    --palRedShift-49: rgb(31.033866% 74.032967% 89.477063%);
    --palRedShift-50: rgb(30.447528% 73.617639% 89.403125%);
    --palRedShift-51: rgb(29.860011% 73.202399% 89.331209%);
    --palRedShift-52: rgb(29.271343% 72.787206% 89.261309%);
    --palRedShift-53: rgb(28.681572% 72.372025% 89.193378%);
    --palRedShift-54: rgb(28.090735% 71.956814% 89.127427%);
    --palRedShift-55: rgb(27.498896% 71.541533% 89.063408%);
    --palRedShift-56: rgb(26.906124% 71.126143% 89.001292%);
    --palRedShift-57: rgb(26.312486% 70.710597% 88.941086%);
    --palRedShift-58: rgb(25.718092% 70.294859% 88.882703%);
    --palRedShift-59: rgb(25.123043% 69.878883% 88.82614%);
    --palRedShift-60: rgb(24.527462% 69.462621% 88.771373%);
    --palRedShift-61: rgb(23.931508% 69.046034% 88.718322%);
    --palRedShift-62: rgb(23.335351% 68.629075% 88.666946%);
    --palRedShift-63: rgb(22.739188% 68.211696% 88.617198%);
    --palRedShift-64: rgb(22.143248% 67.793848% 88.569042%);
    --palRedShift-65: rgb(21.5478% 67.375483% 88.522406%);
    --palRedShift-66: rgb(20.953152% 66.956553% 88.477214%);
    --palRedShift-67: rgb(20.359659% 66.537008% 88.433394%);
    --palRedShift-68: rgb(19.76773% 66.116797% 88.390868%);
    --palRedShift-69: rgb(19.177835% 65.695868% 88.349548%);
    --palRedShift-70: rgb(18.590517% 65.274164% 88.309369%);
    --palRedShift-71: rgb(18.006401% 64.851634% 88.270206%);
    --palRedShift-72: rgb(17.426203% 64.428224% 88.231942%);
    --palRedShift-73: rgb(16.850747% 64.003882% 88.19445%);
    --palRedShift-74: rgb(16.280986% 63.578543% 88.157637%);
    --palRedShift-75: rgb(15.718007% 63.152155% 88.121346%);
    --palRedShift-76: rgb(15.163047% 62.724665% 88.085394%);
    --palRedShift-77: rgb(14.617558% 62.296002% 88.049685%);
    --palRedShift-78: rgb(14.083138% 61.866121% 88.013964%);
    --palRedShift-79: rgb(13.561664% 61.434953% 87.97809%);
    --palRedShift-80: rgb(13.055227% 61.002443% 87.941833%);
    --palRedShift-81: rgb(12.566179% 60.568534% 87.904945%);
    --palRedShift-82: rgb(12.097171% 60.133167% 87.867186%);
    --palRedShift-83: rgb(11.651156% 59.696278% 87.828307%);
    --palRedShift-84: rgb(11.23134% 59.257814% 87.787994%);
    --palRedShift-85: rgb(10.841196% 58.817719% 87.74592%);
    --palRedShift-86: rgb(10.48443% 58.37594% 87.70174%);
    --palRedShift-87: rgb(10.164914% 57.93242% 87.655087%);
    --palRedShift-88: rgb(9.88651% 57.487117% 87.605525%);
    --palRedShift-89: rgb(9.652994% 57.03999% 87.552588%);
    --palRedShift-90: rgb(9.468006% 56.590987% 87.495827%);
    --palRedShift-91: rgb(9.334588% 56.140087% 87.434666%);
    --palRedShift-92: rgb(9.255347% 55.687251% 87.368561%);
    --palRedShift-93: rgb(9.231938% 55.232472% 87.296842%);
    --palRedShift-94: rgb(9.265244% 54.775739% 87.218838%);
    --palRedShift-95: rgb(9.355187% 54.317052% 87.133816%);
    --palRedShift-96: rgb(9.50067% 53.85643% 87.040963%);
    --palRedShift-97: rgb(9.699741% 53.393908% 86.939415%);
    --palRedShift-98: rgb(9.949602% 52.929541% 86.828228%);
    --palRedShift-99: rgb(10.24681% 52.463411% 86.706387%);
    --palRedShift-100: rgb(10.587541% 51.995613% 86.572833%);
    --palRedShift-101: rgb(10.967576% 51.526281% 86.426419%);
    --palRedShift-102: rgb(11.38258% 51.055574% 86.26595%);
    --palRedShift-103: rgb(11.82805% 50.583694% 86.090155%);
    --palRedShift-104: rgb(12.299581% 50.110877% 85.897736%);
    --palRedShift-105: rgb(12.792818% 49.637399% 85.687361%);
    --palRedShift-106: rgb(13.303495% 49.163581% 85.457687%);
    --palRedShift-107: rgb(13.827461% 48.689788% 85.207389%);
    --palRedShift-108: rgb(14.360717% 48.216423% 84.93519%);
    --palRedShift-109: rgb(14.899424% 47.743927% 84.639902%);
    --palRedShift-110: rgb(15.439799% 47.272781% 84.320453%);
    --palRedShift-111: rgb(15.978344% 46.803477% 83.975943%);
    --palRedShift-112: rgb(16.511635% 46.336535% 83.605671%);
    --palRedShift-113: rgb(17.036521% 45.872465% 83.209177%);
    --palRedShift-114: rgb(17.550082% 45.411767% 82.786267%);
    --palRedShift-115: rgb(18.049667% 44.954915% 82.337025%);
    --palRedShift-116: rgb(18.532943% 44.502339% 81.861819%);
    --palRedShift-117: rgb(18.997899% 44.054421% 81.361291%);
    --palRedShift-118: rgb(19.442908% 43.611475% 80.836325%);
    --palRedShift-119: rgb(19.866639% 43.173758% 80.28803%);
    --palRedShift-120: rgb(20.268189% 42.741446% 79.717672%);
    --palRedShift-121: rgb(20.646873% 42.314661% 79.126674%);
    --palRedShift-122: rgb(21.002416% 41.893452% 78.516513%);
    --palRedShift-123: rgb(21.334744% 41.477813% 77.888727%);
    --palRedShift-124: rgb(21.644007% 41.067692% 77.244864%);
    --palRedShift-125: rgb(21.930549% 40.662992% 76.586449%);
    --palRedShift-126: rgb(22.194871% 40.263581% 75.914954%);
    --palRedShift-127: rgb(22.437598% 39.869301% 75.231781%);
    --palRedShift-128: rgb(22.659392% 39.479978% 74.538284%);
    --palRedShift-129: rgb(22.86102% 39.09542% 73.835702%);
    --palRedShift-130: rgb(23.043243% 38.715428% 73.125216%);
    --palRedShift-131: rgb(23.206893% 38.339797% 72.407881%);
    --palRedShift-132: rgb(23.352752% 37.968323% 71.684701%);
    --palRedShift-133: rgb(23.481608% 37.600805% 70.95659%);
    --palRedShift-134: rgb(23.59424% 37.237043% 70.224378%);
    --palRedShift-135: rgb(23.691411% 36.876841% 69.48881%);
    --palRedShift-136: rgb(23.773864% 36.520013% 68.750558%);
    --palRedShift-137: rgb(23.842228% 36.166379% 68.010314%);
    --palRedShift-138: rgb(23.897259% 35.815764% 67.26855%);
    --palRedShift-139: rgb(23.939501% 35.468004% 66.525875%);
    --palRedShift-140: rgb(23.969623% 35.122941% 65.782678%);
    --palRedShift-141: rgb(23.988177% 34.780424% 65.039394%);
    --palRedShift-142: rgb(23.995694% 34.440312% 64.296415%);
    --palRedShift-143: rgb(23.992678% 34.10247% 63.554088%);
    --palRedShift-144: rgb(23.979609% 33.766769% 62.812723%);
    --palRedShift-145: rgb(23.956944% 33.433088% 62.072594%);
    --palRedShift-146: rgb(23.925118% 33.101313% 61.333943%);
    --palRedShift-147: rgb(23.884542% 32.771334% 60.596984%);
    --palRedShift-148: rgb(23.835581% 32.44305% 59.861944%);
    --palRedShift-149: rgb(23.77858% 32.116362% 59.129023%);
    --palRedShift-150: rgb(23.713919% 31.791178% 58.398324%);
    --palRedShift-151: rgb(23.641859% 31.46741% 57.670083%);
    --palRedShift-152: rgb(23.562751% 31.144977% 56.944356%);
    --palRedShift-153: rgb(23.476863% 30.823799% 56.221282%);
    --palRedShift-154: rgb(23.384436% 30.503801% 55.501014%);
    --palRedShift-155: rgb(23.285756% 30.184913% 54.783592%);
    --palRedShift-156: rgb(23.181055% 29.867067% 54.069108%);
    --palRedShift-157: rgb(23.070554% 29.550198% 53.357645%);
    --palRedShift-158: rgb(22.954464% 29.234247% 52.649273%);
    --palRedShift-159: rgb(22.832987% 28.919153% 51.944051%);
    --palRedShift-160: rgb(22.706312% 28.604862% 51.242029%);
    --palRedShift-161: rgb(22.574622% 28.29132% 50.54325%);
    --palRedShift-162: rgb(22.438088% 27.978477% 49.847747%);
    --palRedShift-163: rgb(22.296875% 27.666284% 49.155548%);
    --palRedShift-164: rgb(22.15114% 27.354694% 48.466672%);
    --palRedShift-165: rgb(22.001024% 27.043662% 47.781146%);
    --palRedShift-166: rgb(21.846644% 26.733144% 47.099036%);
    --palRedShift-167: rgb(21.688162% 26.4231% 46.420287%);
    --palRedShift-168: rgb(21.525699% 26.113489% 45.744915%);
    --palRedShift-169: rgb(21.359342% 25.804272% 45.072991%);
    --palRedShift-170: rgb(21.189245% 25.495414% 44.404423%);
    --palRedShift-171: rgb(21.015473% 25.186874% 43.739306%);
    --palRedShift-172: rgb(20.838166% 24.878622% 43.077545%);
    --palRedShift-173: rgb(20.657379% 24.570619% 42.419227%);
    --palRedShift-174: rgb(20.473243% 24.262836% 41.76425%);
    --palRedShift-175: rgb(20.285807% 23.955237% 41.112692%);
    --palRedShift-176: rgb(20.095176% 23.647793% 40.464482%);
    --palRedShift-177: rgb(19.90143% 23.340473% 39.819596%);
    --palRedShift-178: rgb(19.704615% 23.033243% 39.178094%);
    --palRedShift-179: rgb(19.504823% 22.726077% 38.539893%);
    --palRedShift-180: rgb(19.302121% 22.418944% 37.904975%);
    --palRedShift-181: rgb(19.096568% 22.111817% 37.273324%);
    --palRedShift-182: rgb(18.888207% 21.804663% 36.644962%);
    --palRedShift-183: rgb(18.677107% 21.497457% 36.019827%);
    --palRedShift-184: rgb(18.463321% 21.19017% 35.397893%);
    --palRedShift-185: rgb(18.246898% 20.882775% 34.779136%);
    --palRedShift-186: rgb(18.027883% 20.575244% 34.163532%);
    --palRedShift-187: rgb(17.806319% 20.267549% 33.551054%);
    --palRedShift-188: rgb(17.582247% 19.959662% 32.941673%);
    --palRedShift-189: rgb(17.355705% 19.651555% 32.335359%);
    --palRedShift-190: rgb(17.126727% 19.343202% 31.732082%);
    --palRedShift-191: rgb(16.895348% 19.034573% 31.131809%);
    --palRedShift-192: rgb(16.661598% 18.725641% 30.534506%);
    --palRedShift-193: rgb(16.425505% 18.416377% 29.940139%);
    --palRedShift-194: rgb(16.187095% 18.106754% 29.348671%);
    --palRedShift-195: rgb(15.946392% 17.796741% 28.760066%);
    --palRedShift-196: rgb(15.703418% 17.48631% 28.174285%);
    --palRedShift-197: rgb(15.458188% 17.17543% 27.5913%);
    --palRedShift-198: rgb(15.210713% 16.864071% 27.011088%);
    --palRedShift-199: rgb(14.961017% 16.552201% 26.433584%);
    --palRedShift-200: rgb(14.709112% 16.239789% 25.858744%);
    --palRedShift-201: rgb(14.455007% 15.926804% 25.286525%);
    --palRedShift-202: rgb(14.198701% 15.61321% 24.716916%);
    --palRedShift-203: rgb(13.940203% 15.298974% 24.149861%);
    --palRedShift-204: rgb(13.679522% 14.984061% 23.585293%);
    --palRedShift-205: rgb(13.416654% 14.668436% 23.023175%);
    --palRedShift-206: rgb(13.151588% 14.352057% 22.463501%);
    --palRedShift-207: rgb(12.884334% 14.03489% 21.906169%);
    --palRedShift-208: rgb(12.614878% 13.716893% 21.351147%);
    --palRedShift-209: rgb(12.343203% 13.398023% 20.798415%);
    --palRedShift-210: rgb(12.069311% 13.07824% 20.247868%);
    --palRedShift-211: rgb(11.793173% 12.757495% 19.699505%);
    --palRedShift-212: rgb(11.514778% 12.435745% 19.153238%);
    --palRedShift-213: rgb(11.234104% 12.112938% 18.609015%);
    --palRedShift-214: rgb(10.951121% 11.789024% 18.066797%);
    --palRedShift-215: rgb(10.66581% 11.46395% 17.526489%);
    --palRedShift-216: rgb(10.378128% 11.137658% 16.988075%);
    --palRedShift-217: rgb(10.088052% 10.81009% 16.451437%);
    --palRedShift-218: rgb(9.795529% 10.481182% 15.916562%);
    --palRedShift-219: rgb(9.500529% 10.150871% 15.383328%);
    --palRedShift-220: rgb(9.202991% 9.819083% 14.851704%);
    --palRedShift-221: rgb(8.902871% 9.485748% 14.321584%);
    --palRedShift-222: rgb(8.600106% 9.150787% 13.792899%);
    --palRedShift-223: rgb(8.29463% 8.814114% 13.265572%);
    --palRedShift-224: rgb(7.986379% 8.475645% 12.739482%);
    --palRedShift-225: rgb(7.675264% 8.135279% 12.214593%);
    --palRedShift-226: rgb(7.361211% 7.792919% 11.690747%);
    --palRedShift-227: rgb(7.044121% 7.448455% 11.167864%);
    --palRedShift-228: rgb(6.72389% 7.101767% 10.64584%);
    --palRedShift-229: rgb(6.40041% 6.752732% 10.124526%);
    --palRedShift-230: rgb(6.073553% 6.40121% 9.603817%);
    --palRedShift-231: rgb(5.743181% 6.047052% 9.083573%);
    --palRedShift-232: rgb(5.409148% 5.690097% 8.563621%);
    --palRedShift-233: rgb(5.071284% 5.330166% 8.043811%);
    --palRedShift-234: rgb(4.729398% 4.967062% 7.52398%);
    --palRedShift-235: rgb(4.38329% 4.600573% 7.003905%);
    --palRedShift-236: rgb(4.032533% 4.230459% 6.48337%);
    --palRedShift-237: rgb(3.681198% 3.85588% 5.962158%);
    --palRedShift-238: rgb(3.343838% 3.492349% 5.43999%);
    --palRedShift-239: rgb(3.020655% 3.145663% 4.916556%);
    --palRedShift-240: rgb(2.711859% 2.815891% 4.391515%);
    --palRedShift-241: rgb(2.417669% 2.503115% 3.863829%);
    --palRedShift-242: rgb(2.138315% 2.207428% 3.360127%);
    --palRedShift-243: rgb(1.87405% 1.928945% 2.894484%);
    --palRedShift-244: rgb(1.62514% 1.667799% 2.466102%);
    --palRedShift-245: rgb(1.391875% 1.424146% 2.074208%);
    --palRedShift-246: rgb(1.17457% 1.19817% 1.718058%);
    --palRedShift-247: rgb(0.973575% 0.990088% 1.396944%);
    --palRedShift-248: rgb(0.789285% 0.80016% 1.110189%);
    --palRedShift-249: rgb(0.622148% 0.628698% 0.857157%);
    --palRedShift-250: rgb(0.472684% 0.476083% 0.637274%);
    --palRedShift-251: rgb(0.341513% 0.34279% 0.450037%);
    --palRedShift-252: rgb(0.229394% 0.229426% 0.295046%);
    --palRedShift-253: rgb(0.137302% 0.1368% 0.172056%);
    --palRedShift-254: rgb(0.066576% 0.066063% 0.081098%);
    --palRedShift-255: rgb(0.019292% 0.01906% 0.022793%);
    --palRedShift-256: rgb(0% 0% 0%);
    --palRedShift-257: rgb(0.02504% 0.017502% 0.016171%);
    --palRedShift-258: rgb(0.08925% 0.059932% 0.054846%);
    --palRedShift-259: rgb(0.189565% 0.122701% 0.111293%);
    --palRedShift-260: rgb(0.325248% 0.203616% 0.183195%);
    --palRedShift-261: rgb(0.496152% 0.301225% 0.268996%);
    --palRedShift-262: rgb(0.702387% 0.414441% 0.367535%);
    --palRedShift-263: rgb(0.944207% 0.542401% 0.477886%);
    --palRedShift-264: rgb(1.221955% 0.68439% 0.599285%);
    --palRedShift-265: rgb(1.536031% 0.839795% 0.731084%);
    --palRedShift-266: rgb(1.886877% 1.008083% 0.872721%);
    --palRedShift-267: rgb(2.274967% 1.188778% 1.0237%);
    --palRedShift-268: rgb(2.700798% 1.381454% 1.183582%);
    --palRedShift-269: rgb(3.164888% 1.58572% 1.351971%);
    --palRedShift-270: rgb(3.667771% 1.801217% 1.528506%);
    --palRedShift-271: rgb(4.205331% 2.027615% 1.71286%);
    --palRedShift-272: rgb(4.743448% 2.264601% 1.904731%);
    --palRedShift-273: rgb(5.27828% 2.511884% 2.103842%);
    --palRedShift-274: rgb(5.810212% 2.769188% 2.309935%);
    --palRedShift-275: rgb(6.339578% 3.036252% 2.52277%);
    --palRedShift-276: rgb(6.866672% 3.312824% 2.742124%);
    --palRedShift-277: rgb(7.391755% 3.598666% 2.967787%);
    --palRedShift-278: rgb(7.915058% 3.893547% 3.199563%);
    --palRedShift-279: rgb(8.436788% 4.193076% 3.437269%);
    --palRedShift-280: rgb(8.957133% 4.48731% 3.68073%);
    --palRedShift-281: rgb(9.476262% 4.777329% 3.929785%);
    --palRedShift-282: rgb(9.994327% 5.063312% 4.180586%);
    --palRedShift-283: rgb(10.51147% 5.345424% 4.426624%);
    --palRedShift-284: rgb(11.027818% 5.623812% 4.669049%);
    --palRedShift-285: rgb(11.543497% 5.89861% 4.908014%);
    --palRedShift-286: rgb(12.058623% 6.169939% 5.143664%);
    --palRedShift-287: rgb(12.573283% 6.437919% 5.376147%);
    --palRedShift-288: rgb(13.087571% 6.702659% 5.605592%);
    --palRedShift-289: rgb(13.601574% 6.964256% 5.832121%);
    --palRedShift-290: rgb(14.115372% 7.222801% 6.055848%);
    --palRedShift-291: rgb(14.629062% 7.478363% 6.276864%);
    --palRedShift-292: rgb(15.142706% 7.731028% 6.495279%);
    --palRedShift-293: rgb(15.656359% 7.980873% 6.711196%);
    --palRedShift-294: rgb(16.170085% 8.227966% 6.924706%);
    --palRedShift-295: rgb(16.68396% 8.472357% 7.135883%);
    --palRedShift-296: rgb(17.198044% 8.714103% 7.344805%);
    --palRedShift-297: rgb(17.712369% 8.953271% 7.55157%);
    --palRedShift-298: rgb(18.226984% 9.189912% 7.756253%);
    --palRedShift-299: rgb(18.741984% 9.424042% 7.958888%);
    --palRedShift-300: rgb(19.257368% 9.655736% 8.159583%);
    --palRedShift-301: rgb(19.773177% 9.885035% 8.358407%);
    --palRedShift-302: rgb(20.289508% 10.111941% 8.555379%);
    --palRedShift-303: rgb(20.806344% 10.336526% 8.750608%);
    --palRedShift-304: rgb(21.323743% 10.558811% 8.944138%);
    --palRedShift-305: rgb(21.841762% 10.778812% 9.136011%);
    --palRedShift-306: rgb(22.360393% 10.996587% 9.32632%);
    --palRedShift-307: rgb(22.87973% 11.21212% 9.51507%);
    --palRedShift-308: rgb(23.399749% 11.425475% 9.702362%);
    --palRedShift-309: rgb(23.920524% 11.636644% 9.888215%);
    --palRedShift-310: rgb(24.442056% 11.84567% 10.072704%);
    --palRedShift-311: rgb(24.964399% 12.052553% 10.255859%);
    --palRedShift-312: rgb(25.487559% 12.257327% 10.437748%);
    --palRedShift-313: rgb(26.011591% 12.459987% 10.6184%);
    --palRedShift-314: rgb(26.536485% 12.660577% 10.797891%);
    --palRedShift-315: rgb(27.06232% 12.859067% 10.976227%);
    --palRedShift-316: rgb(27.589064% 13.055515% 11.153501%);
    --palRedShift-317: rgb(28.11679% 13.249892% 11.329723%);
    --palRedShift-318: rgb(28.645496% 13.442228% 11.504958%);
    --palRedShift-319: rgb(29.175191% 13.632542% 11.679264%);
    --palRedShift-320: rgb(29.705953% 13.820797% 11.852645%);
    --palRedShift-321: rgb(30.237754% 14.007037% 12.025185%);
    --palRedShift-322: rgb(30.770619% 14.191267% 12.19693%);
    --palRedShift-323: rgb(31.304596% 14.373465% 12.367902%);
    --palRedShift-324: rgb(31.839698% 14.553642% 12.538157%);
    --palRedShift-325: rgb(32.375929% 14.731812% 12.707753%);
    --palRedShift-326: rgb(32.913312% 14.907971% 12.876734%);
    --palRedShift-327: rgb(33.451869% 15.082119% 13.045146%);
    --palRedShift-328: rgb(33.99164% 15.254233% 13.21302%);
    --palRedShift-329: rgb(34.532626% 15.424328% 13.380421%);
    --palRedShift-330: rgb(35.074842% 15.592402% 13.547398%);
    --palRedShift-331: rgb(35.618306% 15.758449% 13.714001%);
    --palRedShift-332: rgb(36.163037% 15.922465% 13.880282%);
    --palRedShift-333: rgb(36.709053% 16.084442% 14.046291%);
    --palRedShift-334: rgb(37.256368% 16.244373% 14.212082%);
    --palRedShift-335: rgb(37.805% 16.402251% 14.37771%);
    --palRedShift-336: rgb(38.354964% 16.558067% 14.543231%);
    --palRedShift-337: rgb(38.906272% 16.711815% 14.708703%);
    --palRedShift-338: rgb(39.458938% 16.863485% 14.874187%);
    --palRedShift-339: rgb(40.012983% 17.01306% 15.039738%);
    --palRedShift-340: rgb(40.568435% 17.160517% 15.20541%);
    --palRedShift-341: rgb(41.125283% 17.305863% 15.371282%);
    --palRedShift-342: rgb(41.683537% 17.44909% 15.537425%);
    --palRedShift-343: rgb(42.24321% 17.590183% 15.703906%);
    --palRedShift-344: rgb(42.804355% 17.72909% 15.87077%);
    --palRedShift-345: rgb(43.36693% 17.865845% 16.038126%);
    --palRedShift-346: rgb(43.930967% 18.000413% 16.206038%);
    --palRedShift-347: rgb(44.496489% 18.132764% 16.374576%);
    --palRedShift-348: rgb(45.063472% 18.262915% 16.543847%);
    --palRedShift-349: rgb(45.63197% 18.390803% 16.71391%);
    --palRedShift-350: rgb(46.20195% 18.516452% 16.884881%);
    --palRedShift-351: rgb(46.773436% 18.639826% 17.056845%);
    --palRedShift-352: rgb(47.346448% 18.760891% 17.229894%);
    --palRedShift-353: rgb(47.920962% 18.87966% 17.404153%);
    --palRedShift-354: rgb(48.496988% 18.996107% 17.579727%);
    --palRedShift-355: rgb(49.074562% 19.110178% 17.756713%);
    --palRedShift-356: rgb(49.653658% 19.221882% 17.935252%);
    --palRedShift-357: rgb(50.234275% 19.3312% 18.115474%);
    --palRedShift-358: rgb(50.816415% 19.438111% 18.297514%);
    --palRedShift-359: rgb(51.400073% 19.542596% 18.481519%);
    --palRedShift-360: rgb(51.985242% 19.64464% 18.667645%);
    --palRedShift-361: rgb(52.571914% 19.744228% 18.856057%);
    --palRedShift-362: rgb(53.160107% 19.841308% 19.046915%);
    --palRedShift-363: rgb(53.749771% 19.93591% 19.240426%);
    --palRedShift-364: rgb(54.340877% 20.028035% 19.436797%);
    --palRedShift-365: rgb(54.933468% 20.1176% 19.636211%);
    --palRedShift-366: rgb(55.52744% 20.204691% 19.838936%);
    --palRedShift-367: rgb(56.122832% 20.289223% 20.045191%);
    --palRedShift-368: rgb(56.719565% 20.371253% 20.25526%);
    --palRedShift-369: rgb(57.317599% 20.450784% 20.469433%);
    --palRedShift-370: rgb(57.916892% 20.527822% 20.688019%);
    --palRedShift-371: rgb(58.517386% 20.602391% 20.911357%);
    --palRedShift-372: rgb(59.119008% 20.67453% 21.139818%);
    --palRedShift-373: rgb(59.721668% 20.744301% 21.373809%);
    --palRedShift-374: rgb(60.325256% 20.811785% 21.613772%);
    --palRedShift-375: rgb(60.929703% 20.877009% 21.860179%);
    --palRedShift-376: rgb(61.534817% 20.940159% 22.11357%);
    --palRedShift-377: rgb(62.140456% 21.001357% 22.374524%);
    --palRedShift-378: rgb(62.746447% 21.060762% 22.643678%);
    --palRedShift-379: rgb(63.352553% 21.118613% 22.921738%);
    --palRedShift-380: rgb(63.958513% 21.175191% 23.209485%);
    --palRedShift-381: rgb(64.563982% 21.230887% 23.507773%);
    --palRedShift-382: rgb(65.168622% 21.286089% 23.81755%);
    --palRedShift-383: rgb(65.771956% 21.341377% 24.13985%);
    --palRedShift-384: rgb(66.373458% 21.397413% 24.47581%);
    --palRedShift-385: rgb(66.972486% 21.455034% 24.826659%);
    --palRedShift-386: rgb(67.568308% 21.515214% 25.193732%);
    --palRedShift-387: rgb(68.160009% 21.579224% 25.578419%);
    --palRedShift-388: rgb(68.746554% 21.648527% 25.982171%);
    --palRedShift-389: rgb(69.32673% 21.724893% 26.406422%);
    --palRedShift-390: rgb(69.899173% 21.810359% 26.852538%);
    --palRedShift-391: rgb(70.462353% 21.90727% 27.321678%);
    --palRedShift-392: rgb(71.014648% 22.01817% 27.814698%);
    --palRedShift-393: rgb(71.554399% 22.145733% 28.331983%);
    --palRedShift-394: rgb(72.080022% 22.292581% 28.873331%);
    --palRedShift-395: rgb(72.590133% 22.461074% 29.437873%);
    --palRedShift-396: rgb(73.083669% 22.653107% 30.024056%);
    --palRedShift-397: rgb(73.55998% 22.869924% 30.629757%);
    --palRedShift-398: rgb(74.018868% 23.112025% 31.252449%);
    --palRedShift-399: rgb(74.460563% 23.379177% 31.889417%);
    --palRedShift-400: rgb(74.885652% 23.670514% 32.537978%);
    --palRedShift-401: rgb(75.294975% 23.984693% 33.195617%);
    --palRedShift-402: rgb(75.689531% 24.320059% 33.860116%);
    --palRedShift-403: rgb(76.07038% 24.674807% 34.529597%);
    --palRedShift-404: rgb(76.438593% 25.047094% 35.202454%);
    --palRedShift-405: rgb(76.795189% 25.435133% 35.877448%);
    --palRedShift-406: rgb(77.141115% 25.837247% 36.553575%);
    --palRedShift-407: rgb(77.477256% 26.251881% 37.229998%);
    --palRedShift-408: rgb(77.804379% 26.677651% 37.906169%);
    --palRedShift-409: rgb(78.123206% 27.11329% 38.581549%);
    --palRedShift-410: rgb(78.434357% 27.557695% 39.255809%);
    --palRedShift-411: rgb(78.738394% 28.009877% 39.928656%);
    --palRedShift-412: rgb(79.035818% 28.468967% 40.599881%);
    --palRedShift-413: rgb(79.327055% 28.934218% 41.269364%);
    --palRedShift-414: rgb(79.612522% 29.404938% 41.93694%);
    --palRedShift-415: rgb(79.892565% 29.880546% 42.602547%);
    --palRedShift-416: rgb(80.167495% 30.360528% 43.266135%);
    --palRedShift-417: rgb(80.4376% 30.844427% 43.927664%);
    --palRedShift-418: rgb(80.703138% 31.331841% 44.587105%);
    --palRedShift-419: rgb(80.964362% 31.822399% 45.24441%);
    --palRedShift-420: rgb(81.221449% 32.31582% 45.899641%);
    --palRedShift-421: rgb(81.474632% 32.811795% 46.552728%);
    --palRedShift-422: rgb(81.724057% 33.310108% 47.20374%);
    --palRedShift-423: rgb(81.969904% 33.810529% 47.852656%);
    --palRedShift-424: rgb(82.212337% 34.312856% 48.499471%);
    --palRedShift-425: rgb(82.451481% 34.816932% 49.144226%);
    --palRedShift-426: rgb(82.687469% 35.322603% 49.786935%);
    --palRedShift-427: rgb(82.920424% 35.829737% 50.427616%);
    --palRedShift-428: rgb(83.150475% 36.338199% 51.066266%);
    --palRedShift-429: rgb(83.377726% 36.847888% 51.702911%);
    --palRedShift-430: rgb(83.602265% 37.358719% 52.337592%);
    --palRedShift-431: rgb(83.824196% 37.8706% 52.970315%);
    --palRedShift-432: rgb(84.04363% 38.38344% 53.601074%);
    --palRedShift-433: rgb(84.260624% 38.897198% 54.229933%);
    --palRedShift-434: rgb(84.475296% 39.411782% 54.856862%);
    --palRedShift-435: rgb(84.687704% 39.927156% 55.48191%);
    --palRedShift-436: rgb(84.897918% 40.443278% 56.105104%);
    --palRedShift-437: rgb(85.106052% 40.960072% 56.726414%);
    --palRedShift-438: rgb(85.31215% 41.477522% 57.345893%);
    --palRedShift-439: rgb(85.51628% 41.995592% 57.963557%);
    --palRedShift-440: rgb(85.718516% 42.514246% 58.579419%);
    --palRedShift-441: rgb(85.918925% 43.033456% 59.193494%);
    --palRedShift-442: rgb(86.117573% 43.553193% 59.805796%);
    --palRedShift-443: rgb(86.314524% 44.073436% 60.416341%);
    --palRedShift-444: rgb(86.509839% 44.594163% 61.025145%);
    --palRedShift-445: rgb(86.703576% 45.115357% 61.632226%);
    --palRedShift-446: rgb(86.895794% 45.637003% 62.237602%);
    --palRedShift-447: rgb(87.086547% 46.159088% 62.841291%);
    --palRedShift-448: rgb(87.275892% 46.681601% 63.443311%);
    --palRedShift-449: rgb(87.46392% 47.204504% 64.043642%);
    --palRedShift-450: rgb(87.650647% 47.727814% 64.642338%);
    --palRedShift-451: rgb(87.836125% 48.251527% 65.239419%);
    --palRedShift-452: rgb(88.020442% 48.775608% 65.834869%);
    --palRedShift-453: rgb(88.203632% 49.300068% 66.428723%);
    --palRedShift-454: rgb(88.385731% 49.824908% 67.02101%);
    --palRedShift-455: rgb(88.566842% 50.350091% 67.611704%);
    --palRedShift-456: rgb(88.746952% 50.875657% 68.200879%);
    --palRedShift-457: rgb(88.926189% 51.40155% 68.788483%);
    --palRedShift-458: rgb(89.104529% 51.927818% 69.374601%);
    --palRedShift-459: rgb(89.282093% 52.454412% 69.95919%);
    --palRedShift-460: rgb(89.458878% 52.981366% 70.542311%);
    --palRedShift-461: rgb(89.634962% 53.508661% 71.123963%);
    --palRedShift-462: rgb(89.810404% 54.036289% 71.704153%);
    --palRedShift-463: rgb(89.985224% 54.564269% 72.282926%);
    --palRedShift-464: rgb(90.159503% 55.092583% 72.860276%);
    --palRedShift-465: rgb(90.333293% 55.621228% 73.436222%);
    --palRedShift-466: rgb(90.506623% 56.15022% 74.010799%);
    --palRedShift-467: rgb(90.679545% 56.679555% 74.584023%);
    --palRedShift-468: rgb(90.852137% 57.209219% 75.155895%);
    --palRedShift-469: rgb(91.02444% 57.739217% 75.726444%);
    --palRedShift-470: rgb(91.196493% 58.269559% 76.295698%);
    --palRedShift-471: rgb(91.36835% 58.800243% 76.863675%);
    --palRedShift-472: rgb(91.540062% 59.331269% 77.430396%);
    --palRedShift-473: rgb(91.711684% 59.862638% 77.995883%);
    --palRedShift-474: rgb(91.883267% 60.39435% 78.560155%);
    --palRedShift-475: rgb(92.054867% 60.926404% 79.123233%);
    --palRedShift-476: rgb(92.226538% 61.4588% 79.685141%);
    --palRedShift-477: rgb(92.398322% 61.991544% 80.245907%);
    --palRedShift-478: rgb(92.570273% 62.524639% 80.805555%);
    --palRedShift-479: rgb(92.742442% 63.058086% 81.364111%);
    --palRedShift-480: rgb(92.91488% 63.591886% 81.9216%);
    --palRedShift-481: rgb(93.087638% 64.126043% 82.478051%);
    --palRedShift-482: rgb(93.260773% 64.660556% 83.033488%);
    --palRedShift-483: rgb(93.43434% 65.195425% 83.587937%);
    --palRedShift-484: rgb(93.608384% 65.730657% 84.141433%);
    --palRedShift-485: rgb(93.782955% 66.266254% 84.694004%);
    --palRedShift-486: rgb(93.958104% 66.80222% 85.245683%);
    --palRedShift-487: rgb(94.133881% 67.338558% 85.796503%);
    --palRedShift-488: rgb(94.310336% 67.875272% 86.346495%);
    --palRedShift-489: rgb(94.487519% 68.412366% 86.895696%);
    --palRedShift-490: rgb(94.665494% 68.949837% 87.444133%);
    --palRedShift-491: rgb(94.844316% 69.487684% 87.99184%);
    --palRedShift-492: rgb(95.024017% 70.025923% 88.538863%);
    --palRedShift-493: rgb(95.204644% 70.564557% 89.085241%);
    --palRedShift-494: rgb(95.386245% 71.103593% 89.631013%);
    --palRedShift-495: rgb(95.568907% 71.643015% 90.176204%);
    --palRedShift-496: rgb(95.752647% 72.182844% 90.720868%);
    --palRedShift-497: rgb(95.937505% 72.723088% 91.265052%);
    --palRedShift-498: rgb(96.123539% 73.263749% 91.808795%);
    --palRedShift-499: rgb(96.310823% 73.804818% 92.35213%);
    --palRedShift-500: rgb(96.499363% 74.34632% 92.895121%);
    --palRedShift-501: rgb(96.68921% 74.88826% 93.437814%);
    --palRedShift-502: rgb(96.880452% 75.430622% 93.980239%);
    --palRedShift-503: rgb(97.073082% 75.973439% 94.522466%);
    --palRedShift-504: rgb(97.267159% 76.51671% 95.064542%);
    --palRedShift-505: rgb(97.46275% 77.060429% 95.606508%);
    --palRedShift-506: rgb(97.659851% 77.604628% 96.148437%);
    --palRedShift-507: rgb(97.85855% 78.149292% 96.690364%);
    --palRedShift-508: rgb(98.058853% 78.694445% 97.23236%);
    --palRedShift-509: rgb(98.260802% 79.240093% 97.77448%);
    --palRedShift-510: rgb(98.464455% 79.786238% 98.316775%);
    --palRedShift-511: rgb(98.669804% 80.33291% 98.859321%);
}
