/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palRedy3-1: rgb(98.046875% 99.609375% 88.28125%);
    --palRedy3-2: rgb(98.4375% 99.609375% 87.5%);
    --palRedy3-3: rgb(98.4375% 99.609375% 86.328125%);
    --palRedy3-4: rgb(98.828125% 99.609375% 85.15625%);
    --palRedy3-5: rgb(98.828125% 99.609375% 83.984375%);
    --palRedy3-6: rgb(98.828125% 99.609375% 82.8125%);
    --palRedy3-7: rgb(99.21875% 99.21875% 81.25%);
    --palRedy3-8: rgb(99.21875% 99.21875% 80.078125%);
    --palRedy3-9: rgb(99.21875% 99.21875% 78.515625%);
    --palRedy3-10: rgb(99.21875% 98.828125% 76.953125%);
    --palRedy3-11: rgb(99.21875% 98.828125% 75.78125%);
    --palRedy3-12: rgb(99.21875% 98.828125% 74.21875%);
    --palRedy3-13: rgb(99.21875% 98.828125% 72.65625%);
    --palRedy3-14: rgb(99.609375% 98.4375% 71.484375%);
    --palRedy3-15: rgb(99.609375% 98.046875% 69.921875%);
    --palRedy3-16: rgb(99.609375% 97.65625% 68.359375%);
    --palRedy3-17: rgb(99.609375% 97.265625% 67.1875%);
    --palRedy3-18: rgb(99.609375% 96.875% 65.625%);
    --palRedy3-19: rgb(99.609375% 96.484375% 64.453125%);
    --palRedy3-20: rgb(99.609375% 96.09375% 62.890625%);
    --palRedy3-21: rgb(99.609375% 95.703125% 61.328125%);
    --palRedy3-22: rgb(99.609375% 94.921875% 60.15625%);
    --palRedy3-23: rgb(99.609375% 94.53125% 58.59375%);
    --palRedy3-24: rgb(99.609375% 94.140625% 57.421875%);
    --palRedy3-25: rgb(99.609375% 93.75% 55.859375%);
    --palRedy3-26: rgb(99.609375% 93.359375% 54.296875%);
    --palRedy3-27: rgb(99.609375% 92.96875% 53.125%);
    --palRedy3-28: rgb(99.609375% 92.1875% 52.34375%);
    --palRedy3-29: rgb(99.609375% 91.796875% 51.5625%);
    --palRedy3-30: rgb(99.609375% 91.015625% 50.78125%);
    --palRedy3-31: rgb(99.609375% 90.234375% 50%);
    --palRedy3-32: rgb(99.609375% 89.84375% 49.21875%);
    --palRedy3-33: rgb(99.609375% 89.0625% 48.4375%);
    --palRedy3-34: rgb(99.609375% 88.671875% 47.65625%);
    --palRedy3-35: rgb(99.609375% 87.890625% 46.875%);
    --palRedy3-36: rgb(99.609375% 87.5% 46.09375%);
    --palRedy3-37: rgb(99.609375% 86.71875% 45.3125%);
    --palRedy3-38: rgb(99.609375% 85.9375% 44.53125%);
    --palRedy3-39: rgb(99.609375% 85.546875% 43.75%);
    --palRedy3-40: rgb(99.609375% 84.765625% 42.96875%);
    --palRedy3-41: rgb(99.609375% 83.984375% 42.1875%);
    --palRedy3-42: rgb(99.609375% 83.203125% 41.40625%);
    --palRedy3-43: rgb(99.609375% 82.421875% 40.625%);
    --palRedy3-44: rgb(99.609375% 81.640625% 39.84375%);
    --palRedy3-45: rgb(99.609375% 80.859375% 39.0625%);
    --palRedy3-46: rgb(99.609375% 80.078125% 38.28125%);
    --palRedy3-47: rgb(99.609375% 79.296875% 37.5%);
    --palRedy3-48: rgb(99.609375% 78.515625% 36.71875%);
    --palRedy3-49: rgb(99.609375% 77.734375% 35.9375%);
    --palRedy3-50: rgb(99.609375% 76.953125% 35.15625%);
    --palRedy3-51: rgb(99.609375% 76.171875% 34.375%);
    --palRedy3-52: rgb(99.609375% 75.390625% 33.59375%);
    --palRedy3-53: rgb(99.21875% 74.609375% 33.203125%);
    --palRedy3-54: rgb(99.21875% 74.21875% 32.8125%);
    --palRedy3-55: rgb(99.21875% 73.4375% 32.421875%);
    --palRedy3-56: rgb(99.21875% 73.046875% 31.640625%);
    --palRedy3-57: rgb(98.828125% 72.265625% 31.25%);
    --palRedy3-58: rgb(98.828125% 71.875% 30.859375%);
    --palRedy3-59: rgb(98.828125% 71.09375% 30.46875%);
    --palRedy3-60: rgb(98.828125% 70.703125% 29.6875%);
    --palRedy3-61: rgb(98.4375% 69.921875% 29.296875%);
    --palRedy3-62: rgb(98.4375% 69.53125% 28.90625%);
    --palRedy3-63: rgb(98.4375% 68.75% 28.515625%);
    --palRedy3-64: rgb(98.4375% 68.359375% 27.734375%);
    --palRedy3-65: rgb(98.046875% 67.578125% 27.34375%);
    --palRedy3-66: rgb(98.046875% 66.796875% 26.953125%);
    --palRedy3-67: rgb(98.046875% 66.40625% 26.953125%);
    --palRedy3-68: rgb(98.046875% 65.625% 26.5625%);
    --palRedy3-69: rgb(98.046875% 64.84375% 26.171875%);
    --palRedy3-70: rgb(98.046875% 64.0625% 25.78125%);
    --palRedy3-71: rgb(98.046875% 63.671875% 25.390625%);
    --palRedy3-72: rgb(97.65625% 62.890625% 25%);
    --palRedy3-73: rgb(97.65625% 62.109375% 24.609375%);
    --palRedy3-74: rgb(97.65625% 61.71875% 24.609375%);
    --palRedy3-75: rgb(97.65625% 60.9375% 24.21875%);
    --palRedy3-76: rgb(97.65625% 60.15625% 23.828125%);
    --palRedy3-77: rgb(97.65625% 59.375% 23.4375%);
    --palRedy3-78: rgb(97.265625% 58.984375% 23.046875%);
    --palRedy3-79: rgb(97.265625% 58.203125% 22.65625%);
    --palRedy3-80: rgb(97.265625% 57.421875% 22.265625%);
    --palRedy3-81: rgb(96.875% 56.640625% 21.875%);
    --palRedy3-82: rgb(96.875% 55.859375% 21.875%);
    --palRedy3-83: rgb(96.484375% 55.078125% 21.484375%);
    --palRedy3-84: rgb(96.484375% 54.296875% 21.09375%);
    --palRedy3-85: rgb(96.484375% 53.515625% 20.703125%);
    --palRedy3-86: rgb(96.09375% 52.734375% 20.3125%);
    --palRedy3-87: rgb(96.09375% 51.953125% 19.921875%);
    --palRedy3-88: rgb(95.703125% 51.171875% 19.53125%);
    --palRedy3-89: rgb(95.703125% 50.390625% 19.53125%);
    --palRedy3-90: rgb(95.703125% 49.609375% 19.140625%);
    --palRedy3-91: rgb(95.3125% 48.828125% 18.75%);
    --palRedy3-92: rgb(95.3125% 48.4375% 18.75%);
    --palRedy3-93: rgb(94.921875% 48.046875% 18.359375%);
    --palRedy3-94: rgb(94.921875% 47.265625% 18.359375%);
    --palRedy3-95: rgb(94.921875% 46.875% 17.96875%);
    --palRedy3-96: rgb(94.53125% 46.09375% 17.96875%);
    --palRedy3-97: rgb(94.53125% 45.703125% 17.578125%);
    --palRedy3-98: rgb(94.140625% 45.3125% 17.578125%);
    --palRedy3-99: rgb(94.140625% 44.53125% 17.1875%);
    --palRedy3-100: rgb(94.140625% 44.140625% 17.1875%);
    --palRedy3-101: rgb(93.75% 43.359375% 16.796875%);
    --palRedy3-102: rgb(93.75% 42.96875% 16.796875%);
    --palRedy3-103: rgb(93.359375% 42.578125% 16.40625%);
    --palRedy3-104: rgb(93.359375% 41.796875% 16.40625%);
    --palRedy3-105: rgb(92.96875% 41.015625% 16.40625%);
    --palRedy3-106: rgb(92.96875% 40.234375% 16.015625%);
    --palRedy3-107: rgb(92.578125% 39.453125% 16.015625%);
    --palRedy3-108: rgb(92.1875% 38.671875% 15.625%);
    --palRedy3-109: rgb(92.1875% 38.28125% 15.625%);
    --palRedy3-110: rgb(91.796875% 37.5% 15.234375%);
    --palRedy3-111: rgb(91.40625% 36.71875% 15.234375%);
    --palRedy3-112: rgb(91.40625% 35.9375% 14.84375%);
    --palRedy3-113: rgb(91.015625% 35.15625% 14.84375%);
    --palRedy3-114: rgb(91.015625% 34.765625% 14.453125%);
    --palRedy3-115: rgb(90.625% 33.984375% 14.453125%);
    --palRedy3-116: rgb(90.234375% 33.203125% 14.0625%);
    --palRedy3-117: rgb(90.234375% 32.421875% 14.0625%);
    --palRedy3-118: rgb(89.84375% 31.25% 13.671875%);
    --palRedy3-119: rgb(89.453125% 30.46875% 13.671875%);
    --palRedy3-120: rgb(89.453125% 29.6875% 13.671875%);
    --palRedy3-121: rgb(89.0625% 28.90625% 13.28125%);
    --palRedy3-122: rgb(89.0625% 27.734375% 13.28125%);
    --palRedy3-123: rgb(88.671875% 26.953125% 12.890625%);
    --palRedy3-124: rgb(88.28125% 26.171875% 12.890625%);
    --palRedy3-125: rgb(88.28125% 25% 12.5%);
    --palRedy3-126: rgb(87.890625% 24.21875% 12.5%);
    --palRedy3-127: rgb(87.5% 23.4375% 12.109375%);
    --palRedy3-128: rgb(87.5% 22.65625% 12.109375%);
    --palRedy3-129: rgb(87.109375% 21.484375% 11.71875%);
    --palRedy3-130: rgb(86.71875% 20.703125% 11.71875%);
    --palRedy3-131: rgb(86.328125% 19.921875% 11.71875%);
    --palRedy3-132: rgb(85.546875% 18.75% 11.328125%);
    --palRedy3-133: rgb(85.15625% 17.96875% 11.328125%);
    --palRedy3-134: rgb(84.765625% 17.1875% 11.328125%);
    --palRedy3-135: rgb(84.375% 16.015625% 10.9375%);
    --palRedy3-136: rgb(83.984375% 15.234375% 10.9375%);
    --palRedy3-137: rgb(83.59375% 14.0625% 10.9375%);
    --palRedy3-138: rgb(82.8125% 13.28125% 10.9375%);
    --palRedy3-139: rgb(82.421875% 12.5% 10.546875%);
    --palRedy3-140: rgb(82.03125% 11.328125% 10.546875%);
    --palRedy3-141: rgb(81.640625% 10.546875% 10.546875%);
    --palRedy3-142: rgb(81.25% 10.546875% 10.546875%);
    --palRedy3-143: rgb(80.46875% 10.546875% 10.546875%);
    --palRedy3-144: rgb(80.078125% 10.546875% 10.546875%);
    --palRedy3-145: rgb(79.6875% 10.9375% 10.9375%);
    --palRedy3-146: rgb(79.296875% 10.9375% 10.9375%);
    --palRedy3-147: rgb(78.90625% 10.9375% 10.9375%);
    --palRedy3-148: rgb(78.515625% 11.328125% 11.328125%);
    --palRedy3-149: rgb(77.734375% 11.328125% 11.328125%);
    --palRedy3-150: rgb(77.34375% 11.328125% 11.328125%);
    --palRedy3-151: rgb(76.953125% 11.71875% 11.71875%);
    --palRedy3-152: rgb(76.5625% 11.71875% 11.71875%);
    --palRedy3-153: rgb(76.171875% 11.71875% 11.71875%);
    --palRedy3-154: rgb(75.390625% 12.109375% 12.109375%);
    --palRedy3-155: rgb(75% 12.109375% 12.109375%);
    --palRedy3-156: rgb(74.609375% 12.109375% 12.109375%);
    --palRedy3-157: rgb(74.21875% 12.5% 12.5%);
    --palRedy3-158: rgb(73.828125% 12.5% 12.5%);
    --palRedy3-159: rgb(73.4375% 12.5% 12.5%);
    --palRedy3-160: rgb(72.65625% 12.890625% 12.890625%);
    --palRedy3-161: rgb(72.265625% 12.890625% 12.890625%);
    --palRedy3-162: rgb(71.875% 13.28125% 13.28125%);
    --palRedy3-163: rgb(71.484375% 13.28125% 13.28125%);
    --palRedy3-164: rgb(71.09375% 13.28125% 13.28125%);
    --palRedy3-165: rgb(70.703125% 13.671875% 13.671875%);
    --palRedy3-166: rgb(69.921875% 13.671875% 13.671875%);
    --palRedy3-167: rgb(69.53125% 14.0625% 14.0625%);
    --palRedy3-168: rgb(68.75% 14.0625% 14.0625%);
    --palRedy3-169: rgb(68.359375% 14.453125% 14.453125%);
    --palRedy3-170: rgb(67.578125% 14.84375% 14.84375%);
    --palRedy3-171: rgb(67.1875% 14.84375% 14.84375%);
    --palRedy3-172: rgb(66.40625% 15.234375% 15.234375%);
    --palRedy3-173: rgb(65.625% 15.234375% 15.234375%);
    --palRedy3-174: rgb(65.234375% 15.625% 15.625%);
    --palRedy3-175: rgb(64.453125% 16.015625% 16.015625%);
    --palRedy3-176: rgb(63.671875% 16.015625% 16.015625%);
    --palRedy3-177: rgb(63.28125% 16.40625% 16.40625%);
    --palRedy3-178: rgb(62.5% 16.796875% 16.796875%);
    --palRedy3-179: rgb(61.71875% 16.796875% 16.796875%);
    --palRedy3-180: rgb(61.328125% 17.1875% 17.1875%);
    --palRedy3-181: rgb(60.9375% 17.1875% 17.1875%);
    --palRedy3-182: rgb(60.546875% 17.1875% 17.578125%);
    --palRedy3-183: rgb(59.765625% 17.1875% 17.578125%);
    --palRedy3-184: rgb(59.375% 17.1875% 17.96875%);
    --palRedy3-185: rgb(58.984375% 17.1875% 18.359375%);
    --palRedy3-186: rgb(58.59375% 17.578125% 18.359375%);
    --palRedy3-187: rgb(58.203125% 17.578125% 18.75%);
    --palRedy3-188: rgb(57.421875% 17.578125% 18.75%);
    --palRedy3-189: rgb(57.03125% 17.578125% 19.140625%);
    --palRedy3-190: rgb(56.640625% 17.578125% 19.140625%);
    --palRedy3-191: rgb(56.25% 17.578125% 19.53125%);
    --palRedy3-192: rgb(55.859375% 17.578125% 19.53125%);
    --palRedy3-193: rgb(55.46875% 17.96875% 19.921875%);
    --palRedy3-194: rgb(55.078125% 17.96875% 19.921875%);
    --palRedy3-195: rgb(54.6875% 17.96875% 19.921875%);
    --palRedy3-196: rgb(54.296875% 17.96875% 20.3125%);
    --palRedy3-197: rgb(53.90625% 17.96875% 20.3125%);
    --palRedy3-198: rgb(53.515625% 17.96875% 20.3125%);
    --palRedy3-199: rgb(53.125% 17.96875% 20.703125%);
    --palRedy3-200: rgb(52.734375% 17.96875% 20.703125%);
    --palRedy3-201: rgb(52.34375% 17.96875% 20.703125%);
    --palRedy3-202: rgb(51.953125% 17.96875% 21.09375%);
    --palRedy3-203: rgb(51.5625% 17.96875% 21.09375%);
    --palRedy3-204: rgb(51.171875% 17.96875% 21.09375%);
    --palRedy3-205: rgb(50.78125% 18.359375% 21.09375%);
    --palRedy3-206: rgb(50% 18.359375% 21.484375%);
    --palRedy3-207: rgb(49.609375% 18.359375% 21.484375%);
    --palRedy3-208: rgb(49.21875% 18.359375% 21.484375%);
    --palRedy3-209: rgb(48.828125% 18.359375% 21.875%);
    --palRedy3-210: rgb(48.4375% 18.359375% 21.875%);
    --palRedy3-211: rgb(48.046875% 18.359375% 21.875%);
    --palRedy3-212: rgb(47.65625% 18.359375% 22.265625%);
    --palRedy3-213: rgb(47.265625% 18.359375% 22.265625%);
    --palRedy3-214: rgb(46.875% 18.359375% 22.265625%);
    --palRedy3-215: rgb(46.484375% 18.359375% 22.65625%);
    --palRedy3-216: rgb(46.09375% 18.359375% 22.65625%);
    --palRedy3-217: rgb(45.703125% 18.359375% 22.65625%);
    --palRedy3-218: rgb(45.3125% 17.96875% 23.046875%);
    --palRedy3-219: rgb(44.921875% 17.96875% 23.046875%);
    --palRedy3-220: rgb(44.53125% 17.96875% 23.046875%);
    --palRedy3-221: rgb(44.140625% 17.96875% 23.046875%);
    --palRedy3-222: rgb(44.140625% 17.96875% 23.046875%);
    --palRedy3-223: rgb(43.75% 17.96875% 23.4375%);
    --palRedy3-224: rgb(43.359375% 17.96875% 23.4375%);
    --palRedy3-225: rgb(42.96875% 17.578125% 23.4375%);
    --palRedy3-226: rgb(42.578125% 17.578125% 23.4375%);
    --palRedy3-227: rgb(42.1875% 17.578125% 23.828125%);
    --palRedy3-228: rgb(41.796875% 17.578125% 23.828125%);
    --palRedy3-229: rgb(41.40625% 17.578125% 23.828125%);
    --palRedy3-230: rgb(41.015625% 17.578125% 23.828125%);
    --palRedy3-231: rgb(40.625% 17.1875% 24.21875%);
    --palRedy3-232: rgb(40.234375% 17.1875% 24.21875%);
    --palRedy3-233: rgb(39.84375% 17.1875% 24.21875%);
    --palRedy3-234: rgb(39.453125% 17.1875% 24.21875%);
    --palRedy3-235: rgb(39.0625% 16.796875% 24.609375%);
    --palRedy3-236: rgb(38.671875% 16.796875% 24.609375%);
    --palRedy3-237: rgb(38.28125% 16.796875% 24.609375%);
    --palRedy3-238: rgb(37.890625% 16.796875% 24.609375%);
    --palRedy3-239: rgb(37.5% 16.796875% 24.609375%);
    --palRedy3-240: rgb(37.109375% 16.40625% 25%);
    --palRedy3-241: rgb(36.71875% 16.40625% 25%);
    --palRedy3-242: rgb(36.328125% 16.40625% 25%);
    --palRedy3-243: rgb(35.9375% 16.40625% 25%);
    --palRedy3-244: rgb(35.546875% 16.015625% 25%);
    --palRedy3-245: rgb(34.765625% 16.015625% 25%);
    --palRedy3-246: rgb(34.375% 15.625% 25%);
    --palRedy3-247: rgb(33.984375% 15.625% 25%);
    --palRedy3-248: rgb(33.59375% 15.625% 25%);
    --palRedy3-249: rgb(33.203125% 15.234375% 25%);
    --palRedy3-250: rgb(32.8125% 15.234375% 24.609375%);
    --palRedy3-251: rgb(32.03125% 14.84375% 24.609375%);
    --palRedy3-252: rgb(31.640625% 14.84375% 24.609375%);
    --palRedy3-253: rgb(31.25% 14.84375% 24.609375%);
    --palRedy3-254: rgb(30.859375% 14.453125% 24.609375%);
    --palRedy3-255: rgb(30.46875% 14.453125% 24.609375%);
    --palRedy3-256: rgb(30.078125% 14.0625% 24.609375%);
}
