/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palSapphire-1: rgb(0% 0% 0%);
    --palSapphire-2: rgb(0.019243% 0.019125% 0.022348%);
    --palSapphire-3: rgb(0.066397% 0.066318% 0.079297%);
    --palSapphire-4: rgb(0.136919% 0.137385% 0.167808%);
    --palSapphire-5: rgb(0.228749% 0.230493% 0.28709%);
    --palSapphire-6: rgb(0.340565% 0.344497% 0.436952%);
    --palSapphire-7: rgb(0.471417% 0.478595% 0.617483%);
    --palSapphire-8: rgb(0.620572% 0.632185% 0.828931%);
    --palSapphire-9: rgb(0.787441% 0.804794% 1.071648%);
    --palSapphire-10: rgb(0.971537% 0.996043% 1.346058%);
    --palSapphire-11: rgb(1.17245% 1.205619% 1.652639%);
    --palSapphire-12: rgb(1.389826% 1.433263% 1.991913%);
    --palSapphire-13: rgb(1.623357% 1.678753% 2.364436%);
    --palSapphire-14: rgb(1.872772% 1.941904% 2.770797%);
    --palSapphire-15: rgb(2.137831% 2.222556% 3.211609%);
    --palSapphire-16: rgb(2.418317% 2.520571% 3.687508%);
    --palSapphire-17: rgb(2.714037% 2.83583% 4.194909%);
    --palSapphire-18: rgb(3.024815% 3.168231% 4.703353%);
    --palSapphire-19: rgb(3.35049% 3.517686% 5.20972%);
    --palSapphire-20: rgb(3.690916% 3.884119% 5.714355%);
    --palSapphire-21: rgb(4.045939% 4.260315% 6.217557%);
    --palSapphire-22: rgb(4.399981% 4.631752% 6.719596%);
    --palSapphire-23: rgb(4.749933% 4.999517% 7.220711%);
    --palSapphire-24: rgb(5.096041% 5.363845% 7.721118%);
    --palSapphire-25: rgb(5.438525% 5.724946% 8.221017%);
    --palSapphire-26: rgb(5.777584% 6.083014% 8.720581%);
    --palSapphire-27: rgb(6.113399% 6.438223% 9.219974%);
    --palSapphire-28: rgb(6.446137% 6.790731% 9.719346%);
    --palSapphire-29: rgb(6.775946% 7.140685% 10.218837%);
    --palSapphire-30: rgb(7.102967% 7.488218% 10.718574%);
    --palSapphire-31: rgb(7.427327% 7.833453% 11.218675%);
    --palSapphire-32: rgb(7.749143% 8.176505% 11.719249%);
    --palSapphire-33: rgb(8.068524% 8.517479% 12.220405%);
    --palSapphire-34: rgb(8.38557% 8.856473% 12.722239%);
    --palSapphire-35: rgb(8.700375% 9.193578% 13.224841%);
    --palSapphire-36: rgb(9.013026% 9.52888% 13.728295%);
    --palSapphire-37: rgb(9.323603% 9.862457% 14.232693%);
    --palSapphire-38: rgb(9.632181% 10.194386% 14.738106%);
    --palSapphire-39: rgb(9.938832% 10.524735% 15.244607%);
    --palSapphire-40: rgb(10.24362% 10.85357% 15.752271%);
    --palSapphire-41: rgb(10.546608% 11.180953% 16.261168%);
    --palSapphire-42: rgb(10.847853% 11.506943% 16.771355%);
    --palSapphire-43: rgb(11.147408% 11.831594% 17.282901%);
    --palSapphire-44: rgb(11.445325% 12.154959% 17.795868%);
    --palSapphire-45: rgb(11.741652% 12.477088% 18.310305%);
    --palSapphire-46: rgb(12.036431% 12.798026% 18.826278%);
    --palSapphire-47: rgb(12.329706% 13.117819% 19.343838%);
    --palSapphire-48: rgb(12.621518% 13.436509% 19.86303%);
    --palSapphire-49: rgb(12.911899% 13.754136% 20.383921%);
    --palSapphire-50: rgb(13.200888% 14.070738% 20.906547%);
    --palSapphire-51: rgb(13.488516% 14.386353% 21.430961%);
    --palSapphire-52: rgb(13.774812% 14.701015% 21.957213%);
    --palSapphire-53: rgb(14.059808% 15.014758% 22.485339%);
    --palSapphire-54: rgb(14.343526% 15.327613% 23.015402%);
    --palSapphire-55: rgb(14.625996% 15.639613% 23.547423%);
    --palSapphire-56: rgb(14.907235% 15.950784% 24.081472%);
    --palSapphire-57: rgb(15.187272% 16.261159% 24.617563%);
    --palSapphire-58: rgb(15.466119% 16.570762% 25.155765%);
    --palSapphire-59: rgb(15.743802% 16.879621% 25.69609%);
    --palSapphire-60: rgb(16.020331% 17.187759% 26.238611%);
    --palSapphire-61: rgb(16.295728% 17.495205% 26.783336%);
    --palSapphire-62: rgb(16.570001% 17.801978% 27.33033%);
    --palSapphire-63: rgb(16.843168% 18.108104% 27.879612%);
    --palSapphire-64: rgb(17.115237% 18.413605% 28.431229%);
    --palSapphire-65: rgb(17.386217% 18.718501% 28.985223%);
    --palSapphire-66: rgb(17.656122% 19.022815% 29.541615%);
    --palSapphire-67: rgb(17.924952% 19.326566% 30.100463%);
    --palSapphire-68: rgb(18.192718% 19.629776% 30.66179%);
    --palSapphire-69: rgb(18.459425% 19.932463% 31.225626%);
    --palSapphire-70: rgb(18.725072% 20.234647% 31.792022%);
    --palSapphire-71: rgb(18.989663% 20.536346% 32.36101%);
    --palSapphire-72: rgb(19.2532% 20.83758% 32.932614%);
    --palSapphire-73: rgb(19.515682% 21.138366% 33.50687%);
    --palSapphire-74: rgb(19.777104% 21.438722% 34.083822%);
    --palSapphire-75: rgb(20.037462% 21.738667% 34.663506%);
    --palSapphire-76: rgb(20.296752% 22.038217% 35.245946%);
    --palSapphire-77: rgb(20.554969% 22.337392% 35.831175%);
    --palSapphire-78: rgb(20.812102% 22.636207% 36.419227%);
    --palSapphire-79: rgb(21.068141% 22.934682% 37.010135%);
    --palSapphire-80: rgb(21.323074% 23.232833% 37.603932%);
    --palSapphire-81: rgb(21.576888% 23.530679% 38.200651%);
    --palSapphire-82: rgb(21.829565% 23.828237% 38.800322%);
    --palSapphire-83: rgb(22.081089% 24.125525% 39.402976%);
    --palSapphire-84: rgb(22.331438% 24.422562% 40.008644%);
    --palSapphire-85: rgb(22.580592% 24.719367% 40.617353%);
    --palSapphire-86: rgb(22.828525% 25.015959% 41.229131%);
    --palSapphire-87: rgb(23.07521% 25.312358% 41.844003%);
    --palSapphire-88: rgb(23.320613% 25.608583% 42.46202%);
    --palSapphire-89: rgb(23.564702% 25.904657% 43.083196%);
    --palSapphire-90: rgb(23.807445% 26.200601% 43.707541%);
    --palSapphire-91: rgb(24.048799% 26.496438% 44.335093%);
    --palSapphire-92: rgb(24.288715% 26.792191% 44.965896%);
    --palSapphire-93: rgb(24.527158% 27.087888% 45.599923%);
    --palSapphire-94: rgb(24.764056% 27.383549% 46.237267%);
    --palSapphire-95: rgb(24.999372% 27.67921% 46.877871%);
    --palSapphire-96: rgb(25.233026% 27.974893% 47.521824%);
    --palSapphire-97: rgb(25.46496% 28.270636% 48.169095%);
    --palSapphire-98: rgb(25.6951% 28.56647% 48.819697%);
    --palSapphire-99: rgb(25.923354% 28.86243% 49.473675%);
    --palSapphire-100: rgb(26.149637% 29.158557% 50.131022%);
    --palSapphire-101: rgb(26.37385% 29.454893% 50.791733%);
    --palSapphire-102: rgb(26.595885% 29.751484% 51.45581%);
    --palSapphire-103: rgb(26.815622% 30.048381% 52.123246%);
    --palSapphire-104: rgb(27.032929% 30.34564% 52.794026%);
    --palSapphire-105: rgb(27.24765% 30.643318% 53.468164%);
    --palSapphire-106: rgb(27.45963% 30.941485% 54.145604%);
    --palSapphire-107: rgb(27.668698% 31.240218% 54.826279%);
    --palSapphire-108: rgb(27.874626% 31.539594% 55.51022%);
    --palSapphire-109: rgb(28.077214% 31.839712% 56.197285%);
    --palSapphire-110: rgb(28.276202% 32.140676% 56.887409%);
    --palSapphire-111: rgb(28.4713% 32.442604% 57.580502%);
    --palSapphire-112: rgb(28.662183% 32.745632% 58.276436%);
    --palSapphire-113: rgb(28.848487% 33.049916% 58.975031%);
    --palSapphire-114: rgb(29.029806% 33.355639% 59.676043%);
    --palSapphire-115: rgb(29.205645% 33.663008% 60.379245%);
    --palSapphire-116: rgb(29.375466% 33.972271% 61.08425%);
    --palSapphire-117: rgb(29.538623% 34.283716% 61.790644%);
    --palSapphire-118: rgb(29.694378% 34.597689% 62.497846%);
    --palSapphire-119: rgb(29.841873% 34.914607% 63.205098%);
    --palSapphire-120: rgb(29.980091% 35.234971% 63.911438%);
    --palSapphire-121: rgb(30.107837% 35.559396% 64.615585%);
    --palSapphire-122: rgb(30.223771% 35.888642% 65.315716%);
    --palSapphire-123: rgb(30.326269% 36.223644% 66.009509%);
    --palSapphire-124: rgb(30.413586% 36.56556% 66.69362%);
    --palSapphire-125: rgb(30.483898% 36.915807% 67.363428%);
    --palSapphire-126: rgb(30.535529% 37.276056% 68.012621%);
    --palSapphire-127: rgb(30.567606% 37.648139% 68.632646%);
    --palSapphire-128: rgb(30.580909% 38.033759% 69.212832%);
    --palSapphire-129: rgb(30.579143% 38.433904% 69.74144%);
    --palSapphire-130: rgb(30.569412% 38.848165% 70.208607%);
    --palSapphire-131: rgb(30.561025% 39.274449% 70.609911%);
    --palSapphire-132: rgb(30.562815% 39.709519% 70.947957%);
    --palSapphire-133: rgb(30.58085% 40.150021% 71.230615%);
    --palSapphire-134: rgb(30.618086% 40.593198% 71.467768%);
    --palSapphire-135: rgb(30.675101% 41.037122% 71.668827%);
    --palSapphire-136: rgb(30.751245% 41.480523% 71.841742%);
    --palSapphire-137: rgb(30.845221% 41.922652% 71.992777%);
    --palSapphire-138: rgb(30.955578% 42.363076% 72.126766%);
    --palSapphire-139: rgb(31.080918% 42.801553% 72.24745%);
    --palSapphire-140: rgb(31.21995% 43.237971% 72.357716%);
    --palSapphire-141: rgb(31.371495% 43.672306% 72.459788%);
    --palSapphire-142: rgb(31.534534% 44.104571% 72.555443%);
    --palSapphire-143: rgb(31.708149% 44.534817% 72.646071%);
    --palSapphire-144: rgb(31.891556% 44.963099% 72.732833%);
    --palSapphire-145: rgb(32.084052% 45.389488% 72.816665%);
    --palSapphire-146: rgb(32.284974% 45.814084% 72.898261%);
    --palSapphire-147: rgb(32.493773% 46.236963% 72.978273%);
    --palSapphire-148: rgb(32.709934% 46.658213% 73.057201%);
    --palSapphire-149: rgb(32.933014% 47.077912% 73.135513%);
    --palSapphire-150: rgb(33.162598% 47.496141% 73.213579%);
    --palSapphire-151: rgb(33.398301% 47.912987% 73.291694%);
    --palSapphire-152: rgb(33.639765% 48.328538% 73.370088%);
    --palSapphire-153: rgb(33.886718% 48.742837% 73.449122%);
    --palSapphire-154: rgb(34.138819% 49.155995% 73.528845%);
    --palSapphire-155: rgb(34.395827% 49.568062% 73.609521%);
    --palSapphire-156: rgb(34.657491% 49.979108% 73.691295%);
    --palSapphire-157: rgb(34.923568% 50.389205% 73.774268%);
    --palSapphire-158: rgb(35.193845% 50.798418% 73.858561%);
    --palSapphire-159: rgb(35.468119% 51.206806% 73.944274%);
    --palSapphire-160: rgb(35.746199% 51.614432% 74.031489%);
    --palSapphire-161: rgb(36.027917% 52.021345% 74.120326%);
    --palSapphire-162: rgb(36.313103% 52.427602% 74.21084%);
    --palSapphire-163: rgb(36.601584% 52.833272% 74.30303%);
    --palSapphire-164: rgb(36.893232% 53.238388% 74.397037%);
    --palSapphire-165: rgb(37.18789% 53.643015% 74.49284%);
    --palSapphire-166: rgb(37.485437% 54.047191% 74.590536%);
    --palSapphire-167: rgb(37.78573% 54.450981% 74.690075%);
    --palSapphire-168: rgb(38.088676% 54.854402% 74.791636%);
    --palSapphire-169: rgb(38.394139% 55.257524% 74.895125%);
    --palSapphire-170: rgb(38.702011% 55.660388% 75.000583%);
    --palSapphire-171: rgb(39.012193% 56.063032% 75.108045%);
    --palSapphire-172: rgb(39.324595% 56.465488% 75.21759%);
    --palSapphire-173: rgb(39.639113% 56.867808% 75.329175%);
    --palSapphire-174: rgb(39.955656% 57.27003% 75.44282%);
    --palSapphire-175: rgb(40.274138% 57.672193% 75.55854%);
    --palSapphire-176: rgb(40.594477% 58.074333% 75.676347%);
    --palSapphire-177: rgb(40.916593% 58.476488% 75.796251%);
    --palSapphire-178: rgb(41.240408% 58.878695% 75.918255%);
    --palSapphire-179: rgb(41.565853% 59.280984% 76.042396%);
    --palSapphire-180: rgb(41.892855% 59.68339% 76.168675%);
    --palSapphire-181: rgb(42.221342% 60.085953% 76.297067%);
    --palSapphire-182: rgb(42.551248% 60.488706% 76.427569%);
    --palSapphire-183: rgb(42.882506% 60.891685% 76.560175%);
    --palSapphire-184: rgb(43.215068% 61.294904% 76.694988%);
    --palSapphire-185: rgb(43.548861% 61.698414% 76.831898%);
    --palSapphire-186: rgb(43.883824% 62.102247% 76.970895%);
    --palSapphire-187: rgb(44.219917% 62.506414% 77.112108%);
    --palSapphire-188: rgb(44.557068% 62.910968% 77.25539%);
    --palSapphire-189: rgb(44.895233% 63.315925% 77.400819%);
    --palSapphire-190: rgb(45.234356% 63.721322% 77.548365%);
    --palSapphire-191: rgb(45.574388% 64.127186% 77.698022%);
    --palSapphire-192: rgb(45.91528% 64.533545% 77.849799%);
    --palSapphire-193: rgb(46.256983% 64.940429% 78.003681%);
    --palSapphire-194: rgb(46.599448% 65.347869% 78.159647%);
    --palSapphire-195: rgb(46.942635% 65.755885% 78.31774%);
    --palSapphire-196: rgb(47.286489% 66.16452% 78.47786%);
    --palSapphire-197: rgb(47.630979% 66.573782% 78.640124%);
    --palSapphire-198: rgb(47.976052% 66.983714% 78.804423%);
    --palSapphire-199: rgb(48.321662% 67.394345% 78.97074%);
    --palSapphire-200: rgb(48.667784% 67.805683% 79.139178%);
    --palSapphire-201: rgb(49.014363% 68.217774% 79.309619%);
    --palSapphire-202: rgb(49.36136% 68.630642% 79.482056%);
    --palSapphire-203: rgb(49.70874% 69.044308% 79.656519%);
    --palSapphire-204: rgb(50.056468% 69.458797% 79.833005%);
    --palSapphire-205: rgb(50.404498% 69.874143% 80.011454%);
    --palSapphire-206: rgb(50.752794% 70.29037% 80.191855%);
    --palSapphire-207: rgb(51.10132% 70.707506% 80.374196%);
    --palSapphire-208: rgb(51.450045% 71.125569% 80.558495%);
    --palSapphire-209: rgb(51.798932% 71.544589% 80.744725%);
    --palSapphire-210: rgb(52.147944% 71.964593% 80.932844%);
    --palSapphire-211: rgb(52.497047% 72.385608% 81.122836%);
    --palSapphire-212: rgb(52.846207% 72.807659% 81.314683%);
    --palSapphire-213: rgb(53.195393% 73.230771% 81.508366%);
    --palSapphire-214: rgb(53.544572% 73.654969% 81.703865%);
    --palSapphire-215: rgb(53.893713% 74.080279% 81.901157%);
    --palSapphire-216: rgb(54.242785% 74.506725% 82.10022%);
    --palSapphire-217: rgb(54.591759% 74.934332% 82.301031%);
    --palSapphire-218: rgb(54.940606% 75.363125% 82.503564%);
    --palSapphire-219: rgb(55.289296% 75.793128% 82.707794%);
    --palSapphire-220: rgb(55.637803% 76.224368% 82.913693%);
    --palSapphire-221: rgb(55.986099% 76.656866% 83.121233%);
    --palSapphire-222: rgb(56.334158% 77.090649% 83.330385%);
    --palSapphire-223: rgb(56.681954% 77.52574% 83.541118%);
    --palSapphire-224: rgb(57.029463% 77.962164% 83.753402%);
    --palSapphire-225: rgb(57.37666% 78.399944% 83.967204%);
    --palSapphire-226: rgb(57.723524% 78.839104% 84.18249%);
    --palSapphire-227: rgb(58.070031% 79.279667% 84.399226%);
    --palSapphire-228: rgb(58.416161% 79.721657% 84.617377%);
    --palSapphire-229: rgb(58.761893% 80.165098% 84.836907%);
    --palSapphire-230: rgb(59.107208% 80.610012% 85.057778%);
    --palSapphire-231: rgb(59.452102% 81.056413% 85.279998%);
    --palSapphire-232: rgb(59.796546% 81.504331% 85.503489%);
    --palSapphire-233: rgb(60.140523% 81.953789% 85.728208%);
    --palSapphire-234: rgb(60.484018% 82.404809% 85.954115%);
    --palSapphire-235: rgb(60.827017% 82.857413% 86.181167%);
    --palSapphire-236: rgb(61.169511% 83.311619% 86.409337%);
    --palSapphire-237: rgb(61.511505% 83.767441% 86.638624%);
    --palSapphire-238: rgb(61.85297% 84.22491% 86.868933%);
    --palSapphire-239: rgb(62.193896% 84.684047% 87.100218%);
    --palSapphire-240: rgb(62.534275% 85.144871% 87.332436%);
    --palSapphire-241: rgb(62.874125% 85.60739% 87.565605%);
    --palSapphire-242: rgb(63.213426% 86.071633% 87.799637%);
    --palSapphire-243: rgb(63.552164% 86.537621% 88.034468%);
    --palSapphire-244: rgb(63.890337% 87.005376% 88.270051%);
    --palSapphire-245: rgb(64.227985% 87.474894% 88.506435%);
    --palSapphire-246: rgb(64.565066% 87.946214% 88.743481%);
    --palSapphire-247: rgb(64.901583% 88.419354% 88.981141%);
    --palSapphire-248: rgb(65.237567% 88.894318% 89.219435%);
    --palSapphire-249: rgb(65.573011% 89.371127% 89.458291%);
    --palSapphire-250: rgb(65.9079% 89.849809% 89.69762%);
    --palSapphire-251: rgb(66.242273% 90.330365% 89.937441%);
    --palSapphire-252: rgb(66.576131% 90.812813% 90.177696%);
    --palSapphire-253: rgb(66.909457% 91.297182% 90.418285%);
    --palSapphire-254: rgb(67.242305% 91.783468% 90.65925%);
    --palSapphire-255: rgb(67.574664% 92.271695% 90.900496%);
    --palSapphire-256: rgb(67.906523% 92.761889% 91.141938%);
}
