/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palSineBow-1: rgb(96.0784% 44.7059% 45.098%);
    --palSineBow-2: rgb(96.0784% 45.098% 44.7059%);
    --palSineBow-3: rgb(95.6863% 45.4902% 44.3137%);
    --palSineBow-4: rgb(95.6863% 45.8824% 43.9216%);
    --palSineBow-5: rgb(95.2941% 46.2745% 43.1373%);
    --palSineBow-6: rgb(95.2941% 46.6667% 42.7451%);
    --palSineBow-7: rgb(94.902% 47.0588% 42.3529%);
    --palSineBow-8: rgb(94.902% 47.0588% 41.9608%);
    --palSineBow-9: rgb(94.5098% 47.451% 41.5686%);
    --palSineBow-10: rgb(94.5098% 47.8431% 41.1765%);
    --palSineBow-11: rgb(94.1176% 48.2353% 40.3922%);
    --palSineBow-12: rgb(94.1176% 48.6275% 40%);
    --palSineBow-13: rgb(93.7255% 49.0196% 39.6078%);
    --palSineBow-14: rgb(93.7255% 49.4118% 39.2157%);
    --palSineBow-15: rgb(93.7255% 49.4118% 38.8235%);
    --palSineBow-16: rgb(93.3333% 49.8039% 38.4314%);
    --palSineBow-17: rgb(93.3333% 50.1961% 37.6471%);
    --palSineBow-18: rgb(92.9412% 50.5882% 37.2549%);
    --palSineBow-19: rgb(92.9412% 50.9804% 36.8627%);
    --palSineBow-20: rgb(92.549% 51.3725% 36.4706%);
    --palSineBow-21: rgb(92.549% 51.3725% 35.6863%);
    --palSineBow-22: rgb(92.1569% 51.7647% 35.2941%);
    --palSineBow-23: rgb(92.1569% 52.1569% 34.902%);
    --palSineBow-24: rgb(91.7647% 52.549% 34.5098%);
    --palSineBow-25: rgb(91.7647% 52.9412% 33.7255%);
    --palSineBow-26: rgb(91.3725% 52.9412% 33.3333%);
    --palSineBow-27: rgb(91.3725% 53.3333% 32.9412%);
    --palSineBow-28: rgb(90.9804% 53.7255% 32.549%);
    --palSineBow-29: rgb(90.5882% 54.1176% 31.7647%);
    --palSineBow-30: rgb(90.5882% 54.5098% 31.3725%);
    --palSineBow-31: rgb(90.1961% 54.5098% 30.9804%);
    --palSineBow-32: rgb(90.1961% 54.902% 30.1961%);
    --palSineBow-33: rgb(89.8039% 55.2941% 29.8039%);
    --palSineBow-34: rgb(89.8039% 55.6863% 29.4118%);
    --palSineBow-35: rgb(89.4118% 55.6863% 28.6275%);
    --palSineBow-36: rgb(89.4118% 56.0784% 28.2353%);
    --palSineBow-37: rgb(89.0196% 56.4706% 27.451%);
    --palSineBow-38: rgb(88.6275% 56.8627% 27.451%);
    --palSineBow-39: rgb(88.6275% 57.2549% 27.451%);
    --palSineBow-40: rgb(88.2353% 57.6471% 27.451%);
    --palSineBow-41: rgb(87.8431% 58.0392% 27.8431%);
    --palSineBow-42: rgb(87.451% 58.4314% 27.8431%);
    --palSineBow-43: rgb(87.0588% 58.4314% 27.8431%);
    --palSineBow-44: rgb(86.6667% 58.8235% 27.8431%);
    --palSineBow-45: rgb(86.6667% 59.2157% 27.8431%);
    --palSineBow-46: rgb(86.2745% 59.6078% 27.8431%);
    --palSineBow-47: rgb(85.8824% 60% 28.2353%);
    --palSineBow-48: rgb(85.4902% 60.3922% 28.2353%);
    --palSineBow-49: rgb(85.098% 60.7843% 28.2353%);
    --palSineBow-50: rgb(84.7059% 61.1765% 28.2353%);
    --palSineBow-51: rgb(84.3137% 61.5686% 28.2353%);
    --palSineBow-52: rgb(84.3137% 61.9608% 28.2353%);
    --palSineBow-53: rgb(83.9216% 62.3529% 28.6275%);
    --palSineBow-54: rgb(83.5294% 62.3529% 28.6275%);
    --palSineBow-55: rgb(83.1373% 62.7451% 28.6275%);
    --palSineBow-56: rgb(82.7451% 63.1373% 28.6275%);
    --palSineBow-57: rgb(82.3529% 63.5294% 28.6275%);
    --palSineBow-58: rgb(81.9608% 63.9216% 28.6275%);
    --palSineBow-59: rgb(81.5686% 64.3137% 29.0196%);
    --palSineBow-60: rgb(81.1765% 64.7059% 29.0196%);
    --palSineBow-61: rgb(80.7843% 65.098% 29.0196%);
    --palSineBow-62: rgb(80.3922% 65.098% 29.0196%);
    --palSineBow-63: rgb(80% 65.4902% 29.0196%);
    --palSineBow-64: rgb(79.6078% 65.8824% 29.0196%);
    --palSineBow-65: rgb(79.6078% 66.2745% 29.4118%);
    --palSineBow-66: rgb(79.2157% 66.6667% 29.4118%);
    --palSineBow-67: rgb(78.8235% 67.0588% 29.4118%);
    --palSineBow-68: rgb(78.4314% 67.0588% 29.4118%);
    --palSineBow-69: rgb(78.0392% 67.451% 29.4118%);
    --palSineBow-70: rgb(77.6471% 67.8431% 29.4118%);
    --palSineBow-71: rgb(77.2549% 68.2353% 29.8039%);
    --palSineBow-72: rgb(76.8627% 68.6275% 29.8039%);
    --palSineBow-73: rgb(76.4706% 69.0196% 29.8039%);
    --palSineBow-74: rgb(75.6863% 69.0196% 29.8039%);
    --palSineBow-75: rgb(75.2941% 69.0196% 30.1961%);
    --palSineBow-76: rgb(74.5098% 69.4118% 30.5882%);
    --palSineBow-77: rgb(74.1176% 69.4118% 30.9804%);
    --palSineBow-78: rgb(73.3333% 69.4118% 31.3725%);
    --palSineBow-79: rgb(72.549% 69.8039% 31.7647%);
    --palSineBow-80: rgb(72.1569% 69.8039% 31.7647%);
    --palSineBow-81: rgb(71.3725% 69.8039% 32.1569%);
    --palSineBow-82: rgb(70.9804% 70.1961% 32.549%);
    --palSineBow-83: rgb(70.1961% 70.1961% 32.9412%);
    --palSineBow-84: rgb(69.4118% 70.1961% 33.3333%);
    --palSineBow-85: rgb(69.0196% 70.5882% 33.3333%);
    --palSineBow-86: rgb(68.2353% 70.5882% 33.7255%);
    --palSineBow-87: rgb(67.451% 70.5882% 34.1176%);
    --palSineBow-88: rgb(66.6667% 70.5882% 34.5098%);
    --palSineBow-89: rgb(66.2745% 70.9804% 34.902%);
    --palSineBow-90: rgb(65.4902% 70.9804% 34.902%);
    --palSineBow-91: rgb(64.7059% 70.9804% 35.2941%);
    --palSineBow-92: rgb(63.9216% 71.3725% 35.6863%);
    --palSineBow-93: rgb(63.5294% 71.3725% 36.0784%);
    --palSineBow-94: rgb(62.7451% 71.3725% 36.4706%);
    --palSineBow-95: rgb(61.9608% 71.3725% 36.4706%);
    --palSineBow-96: rgb(61.1765% 71.7647% 36.8627%);
    --palSineBow-97: rgb(60.3922% 71.7647% 37.2549%);
    --palSineBow-98: rgb(59.6078% 71.7647% 37.6471%);
    --palSineBow-99: rgb(58.8235% 71.7647% 38.0392%);
    --palSineBow-100: rgb(58.4314% 72.1569% 38.0392%);
    --palSineBow-101: rgb(57.6471% 72.1569% 38.4314%);
    --palSineBow-102: rgb(56.8627% 72.1569% 38.8235%);
    --palSineBow-103: rgb(56.0784% 72.1569% 39.2157%);
    --palSineBow-104: rgb(55.2941% 72.549% 39.2157%);
    --palSineBow-105: rgb(54.1176% 72.549% 39.6078%);
    --palSineBow-106: rgb(53.3333% 72.549% 40%);
    --palSineBow-107: rgb(52.549% 72.549% 40.3922%);
    --palSineBow-108: rgb(51.7647% 72.9412% 40.7843%);
    --palSineBow-109: rgb(50.9804% 72.9412% 40.7843%);
    --palSineBow-110: rgb(50.1961% 72.9412% 41.1765%);
    --palSineBow-111: rgb(50.1961% 72.9412% 42.3529%);
    --palSineBow-112: rgb(49.8039% 72.9412% 43.5294%);
    --palSineBow-113: rgb(49.8039% 72.9412% 44.3137%);
    --palSineBow-114: rgb(49.8039% 72.9412% 45.4902%);
    --palSineBow-115: rgb(49.8039% 72.9412% 46.2745%);
    --palSineBow-116: rgb(49.4118% 72.9412% 47.451%);
    --palSineBow-117: rgb(49.4118% 72.9412% 48.6275%);
    --palSineBow-118: rgb(49.0196% 72.9412% 49.4118%);
    --palSineBow-119: rgb(49.0196% 72.9412% 50.5882%);
    --palSineBow-120: rgb(49.0196% 72.9412% 51.3725%);
    --palSineBow-121: rgb(48.6275% 72.9412% 52.549%);
    --palSineBow-122: rgb(48.6275% 72.9412% 53.3333%);
    --palSineBow-123: rgb(48.2353% 72.549% 54.5098%);
    --palSineBow-124: rgb(48.2353% 72.549% 55.2941%);
    --palSineBow-125: rgb(47.8431% 72.549% 56.4706%);
    --palSineBow-126: rgb(47.451% 72.549% 57.2549%);
    --palSineBow-127: rgb(47.451% 72.549% 58.4314%);
    --palSineBow-128: rgb(47.0588% 72.549% 59.2157%);
    --palSineBow-129: rgb(46.6667% 72.549% 60.3922%);
    --palSineBow-130: rgb(46.2745% 72.549% 61.1765%);
    --palSineBow-131: rgb(46.2745% 72.549% 62.3529%);
    --palSineBow-132: rgb(45.8824% 72.549% 63.1373%);
    --palSineBow-133: rgb(45.4902% 72.549% 64.3137%);
    --palSineBow-134: rgb(45.098% 72.549% 65.098%);
    --palSineBow-135: rgb(44.7059% 72.549% 65.8824%);
    --palSineBow-136: rgb(44.3137% 72.549% 67.0588%);
    --palSineBow-137: rgb(43.9216% 72.549% 67.8431%);
    --palSineBow-138: rgb(43.5294% 72.549% 69.0196%);
    --palSineBow-139: rgb(43.1373% 72.549% 69.8039%);
    --palSineBow-140: rgb(42.7451% 72.549% 70.9804%);
    --palSineBow-141: rgb(41.9608% 72.549% 71.7647%);
    --palSineBow-142: rgb(41.5686% 72.549% 72.9412%);
    --palSineBow-143: rgb(41.1765% 72.549% 73.7255%);
    --palSineBow-144: rgb(40.3922% 72.549% 74.902%);
    --palSineBow-145: rgb(40% 72.549% 75.6863%);
    --palSineBow-146: rgb(39.2157% 72.549% 76.8627%);
    --palSineBow-147: rgb(39.6078% 72.1569% 77.2549%);
    --palSineBow-148: rgb(40% 72.1569% 78.0392%);
    --palSineBow-149: rgb(40.3922% 71.7647% 78.4314%);
    --palSineBow-150: rgb(41.1765% 71.7647% 78.8235%);
    --palSineBow-151: rgb(41.5686% 71.3725% 79.6078%);
    --palSineBow-152: rgb(41.9608% 71.3725% 80%);
    --palSineBow-153: rgb(42.3529% 70.9804% 80.7843%);
    --palSineBow-154: rgb(42.7451% 70.5882% 81.1765%);
    --palSineBow-155: rgb(43.1373% 70.5882% 81.5686%);
    --palSineBow-156: rgb(43.5294% 70.1961% 82.3529%);
    --palSineBow-157: rgb(43.9216% 70.1961% 82.7451%);
    --palSineBow-158: rgb(44.3137% 69.8039% 83.5294%);
    --palSineBow-159: rgb(44.7059% 69.4118% 83.9216%);
    --palSineBow-160: rgb(45.098% 69.4118% 84.7059%);
    --palSineBow-161: rgb(45.4902% 69.0196% 85.098%);
    --palSineBow-162: rgb(45.8824% 68.6275% 85.4902%);
    --palSineBow-163: rgb(46.2745% 68.6275% 86.2745%);
    --palSineBow-164: rgb(46.6667% 68.2353% 86.6667%);
    --palSineBow-165: rgb(47.0588% 68.2353% 87.451%);
    --palSineBow-166: rgb(47.451% 67.8431% 87.8431%);
    --palSineBow-167: rgb(47.451% 67.451% 88.2353%);
    --palSineBow-168: rgb(47.8431% 67.451% 89.0196%);
    --palSineBow-169: rgb(48.2353% 67.0588% 89.4118%);
    --palSineBow-170: rgb(48.6275% 66.6667% 90.1961%);
    --palSineBow-171: rgb(49.0196% 66.6667% 90.5882%);
    --palSineBow-172: rgb(49.0196% 66.2745% 90.9804%);
    --palSineBow-173: rgb(49.4118% 65.8824% 91.7647%);
    --palSineBow-174: rgb(49.8039% 65.8824% 92.1569%);
    --palSineBow-175: rgb(50.1961% 65.4902% 92.9412%);
    --palSineBow-176: rgb(50.5882% 65.098% 93.3333%);
    --palSineBow-177: rgb(50.5882% 65.098% 93.7255%);
    --palSineBow-178: rgb(50.9804% 64.7059% 94.5098%);
    --palSineBow-179: rgb(51.3725% 64.3137% 94.902%);
    --palSineBow-180: rgb(51.3725% 64.3137% 95.6863%);
    --palSineBow-181: rgb(51.7647% 63.9216% 96.0784%);
    --palSineBow-182: rgb(52.1569% 63.5294% 96.4706%);
    --palSineBow-183: rgb(52.549% 63.5294% 96.8627%);
    --palSineBow-184: rgb(53.3333% 63.1373% 96.4706%);
    --palSineBow-185: rgb(54.1176% 62.7451% 96.0784%);
    --palSineBow-186: rgb(54.902% 62.7451% 96.0784%);
    --palSineBow-187: rgb(55.6863% 62.3529% 95.6863%);
    --palSineBow-188: rgb(56.4706% 61.9608% 95.2941%);
    --palSineBow-189: rgb(57.2549% 61.9608% 94.902%);
    --palSineBow-190: rgb(58.0392% 61.5686% 94.902%);
    --palSineBow-191: rgb(58.8235% 61.1765% 94.5098%);
    --palSineBow-192: rgb(59.6078% 61.1765% 94.1176%);
    --palSineBow-193: rgb(60% 60.7843% 94.1176%);
    --palSineBow-194: rgb(60.7843% 60.3922% 93.7255%);
    --palSineBow-195: rgb(61.5686% 60.3922% 93.3333%);
    --palSineBow-196: rgb(62.3529% 60% 93.3333%);
    --palSineBow-197: rgb(62.7451% 59.6078% 92.9412%);
    --palSineBow-198: rgb(63.5294% 59.2157% 92.549%);
    --palSineBow-199: rgb(64.3137% 59.2157% 92.549%);
    --palSineBow-200: rgb(64.7059% 58.8235% 92.1569%);
    --palSineBow-201: rgb(65.4902% 58.4314% 91.7647%);
    --palSineBow-202: rgb(65.8824% 58.4314% 91.3725%);
    --palSineBow-203: rgb(66.6667% 58.0392% 91.3725%);
    --palSineBow-204: rgb(67.0588% 57.6471% 90.9804%);
    --palSineBow-205: rgb(67.8431% 57.2549% 90.5882%);
    --palSineBow-206: rgb(68.2353% 57.2549% 90.5882%);
    --palSineBow-207: rgb(69.0196% 56.8627% 90.1961%);
    --palSineBow-208: rgb(69.4118% 56.4706% 89.8039%);
    --palSineBow-209: rgb(70.1961% 56.0784% 89.8039%);
    --palSineBow-210: rgb(70.5882% 56.0784% 89.4118%);
    --palSineBow-211: rgb(71.3725% 55.6863% 89.0196%);
    --palSineBow-212: rgb(71.7647% 55.2941% 89.0196%);
    --palSineBow-213: rgb(72.1569% 54.902% 88.6275%);
    --palSineBow-214: rgb(72.9412% 54.902% 88.2353%);
    --palSineBow-215: rgb(73.3333% 54.5098% 88.2353%);
    --palSineBow-216: rgb(73.7255% 54.1176% 87.8431%);
    --palSineBow-217: rgb(74.5098% 53.7255% 87.451%);
    --palSineBow-218: rgb(74.902% 53.7255% 87.0588%);
    --palSineBow-219: rgb(75.2941% 53.3333% 87.0588%);
    --palSineBow-220: rgb(75.6863% 53.3333% 86.2745%);
    --palSineBow-221: rgb(76.0784% 53.3333% 85.8824%);
    --palSineBow-222: rgb(76.4706% 52.9412% 85.4902%);
    --palSineBow-223: rgb(76.8627% 52.9412% 84.7059%);
    --palSineBow-224: rgb(77.2549% 52.9412% 84.3137%);
    --palSineBow-225: rgb(77.6471% 52.9412% 83.9216%);
    --palSineBow-226: rgb(77.6471% 52.9412% 83.1373%);
    --palSineBow-227: rgb(78.0392% 52.549% 82.7451%);
    --palSineBow-228: rgb(78.4314% 52.549% 82.3529%);
    --palSineBow-229: rgb(78.8235% 52.549% 81.5686%);
    --palSineBow-230: rgb(79.2157% 52.549% 81.1765%);
    --palSineBow-231: rgb(79.6078% 52.549% 80.7843%);
    --palSineBow-232: rgb(79.6078% 52.1569% 80%);
    --palSineBow-233: rgb(80% 52.1569% 79.6078%);
    --palSineBow-234: rgb(80.3922% 52.1569% 79.2157%);
    --palSineBow-235: rgb(80.7843% 52.1569% 78.4314%);
    --palSineBow-236: rgb(80.7843% 52.1569% 78.0392%);
    --palSineBow-237: rgb(81.1765% 51.7647% 77.6471%);
    --palSineBow-238: rgb(81.5686% 51.7647% 76.8627%);
    --palSineBow-239: rgb(81.9608% 51.7647% 76.4706%);
    --palSineBow-240: rgb(81.9608% 51.7647% 76.0784%);
    --palSineBow-241: rgb(82.3529% 51.7647% 75.2941%);
    --palSineBow-242: rgb(82.7451% 51.3725% 74.902%);
    --palSineBow-243: rgb(82.7451% 51.3725% 74.5098%);
    --palSineBow-244: rgb(83.1373% 51.3725% 73.7255%);
    --palSineBow-245: rgb(83.5294% 51.3725% 73.3333%);
    --palSineBow-246: rgb(83.5294% 51.3725% 72.9412%);
    --palSineBow-247: rgb(83.9216% 50.9804% 72.549%);
    --palSineBow-248: rgb(84.3137% 50.9804% 71.7647%);
    --palSineBow-249: rgb(84.3137% 50.9804% 71.3725%);
    --palSineBow-250: rgb(84.7059% 50.9804% 70.9804%);
    --palSineBow-251: rgb(85.098% 50.9804% 70.1961%);
    --palSineBow-252: rgb(85.098% 50.9804% 69.8039%);
    --palSineBow-253: rgb(85.4902% 50.5882% 69.4118%);
    --palSineBow-254: rgb(85.4902% 50.5882% 68.6275%);
    --palSineBow-255: rgb(85.8824% 50.5882% 68.2353%);
}
