/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palSunBurst-1: rgb(0% 0% 0%);
    --palSunBurst-2: rgb(0.028691% 0.020835% 0.028279%);
    --palSunBurst-3: rgb(0.102421% 0.070903% 0.101021%);
    --palSunBurst-4: rgb(0.218033% 0.144242% 0.214845%);
    --palSunBurst-5: rgb(0.37528% 0.23779% 0.368891%);
    --palSunBurst-6: rgb(0.574727% 0.349371% 0.562841%);
    --palSunBurst-7: rgb(0.817359% 0.477242% 0.796563%);
    --palSunBurst-8: rgb(1.104432% 0.619914% 1.069976%);
    --palSunBurst-9: rgb(1.437378% 0.776073% 1.38297%);
    --palSunBurst-10: rgb(1.817764% 0.944524% 1.735364%);
    --palSunBurst-11: rgb(2.247277% 1.124162% 2.126897%);
    --palSunBurst-12: rgb(2.727694% 1.313949% 2.557207%);
    --palSunBurst-13: rgb(3.260869% 1.512908% 3.025819%);
    --palSunBurst-14: rgb(3.848721% 1.720107% 3.532137%);
    --palSunBurst-15: rgb(4.472223% 1.934661% 4.074862%);
    --palSunBurst-16: rgb(5.095008% 2.155723% 4.620189%);
    --palSunBurst-17: rgb(5.718085% 2.382484% 5.156892%);
    --palSunBurst-18: rgb(6.341877% 2.614168% 5.685075%);
    --palSunBurst-19: rgb(6.966727% 2.850036% 6.204782%);
    --palSunBurst-20: rgb(7.592916% 3.089381% 6.716019%);
    --palSunBurst-21: rgb(8.220666% 3.331529% 7.218757%);
    --palSunBurst-22: rgb(8.850155% 3.575837% 7.712945%);
    --palSunBurst-23: rgb(9.481532% 3.821687% 8.19852%);
    --palSunBurst-24: rgb(10.114895% 4.068063% 8.675399%);
    --palSunBurst-25: rgb(10.750319% 4.306161% 9.143498%);
    --palSunBurst-26: rgb(11.387855% 4.536332% 9.602729%);
    --palSunBurst-27: rgb(12.027537% 4.758808% 10.053004%);
    --palSunBurst-28: rgb(12.669388% 4.973801% 10.494242%);
    --palSunBurst-29: rgb(13.31341% 5.181515% 10.926361%);
    --palSunBurst-30: rgb(13.959587% 5.382147% 11.349284%);
    --palSunBurst-31: rgb(14.607903% 5.575879% 11.762946%);
    --palSunBurst-32: rgb(15.258333% 5.762879% 12.167284%);
    --palSunBurst-33: rgb(15.91085% 5.943303% 12.562246%);
    --palSunBurst-34: rgb(16.565413% 6.11731% 12.947786%);
    --palSunBurst-35: rgb(17.221981% 6.28504% 13.323866%);
    --palSunBurst-36: rgb(17.880518% 6.446624% 13.690456%);
    --palSunBurst-37: rgb(18.54098% 6.602187% 14.047531%);
    --palSunBurst-38: rgb(19.203321% 6.751848% 14.395075%);
    --palSunBurst-39: rgb(19.867499% 6.895715% 14.733079%);
    --palSunBurst-40: rgb(20.533472% 7.033887% 15.061537%);
    --palSunBurst-41: rgb(21.201197% 7.16646% 15.38045%);
    --palSunBurst-42: rgb(21.870632% 7.293518% 15.689824%);
    --palSunBurst-43: rgb(22.541736% 7.415142% 15.989669%);
    --palSunBurst-44: rgb(23.214472% 7.531401% 16.279996%);
    --palSunBurst-45: rgb(23.888802% 7.642364% 16.560823%);
    --palSunBurst-46: rgb(24.564687% 7.748088% 16.832171%);
    --palSunBurst-47: rgb(25.242097% 7.848626% 17.094058%);
    --palSunBurst-48: rgb(25.920996% 7.944023% 17.346508%);
    --palSunBurst-49: rgb(26.601352% 8.034324% 17.589547%);
    --palSunBurst-50: rgb(27.283134% 8.119562% 17.823199%);
    --palSunBurst-51: rgb(27.966317% 8.199764% 18.047489%);
    --palSunBurst-52: rgb(28.650868% 8.274959% 18.262446%);
    --palSunBurst-53: rgb(29.33676% 8.345167% 18.468096%);
    --palSunBurst-54: rgb(30.023971% 8.410396% 18.66446%);
    --palSunBurst-55: rgb(30.712474% 8.470663% 18.851568%);
    --palSunBurst-56: rgb(31.40224% 8.525975% 19.029445%);
    --palSunBurst-57: rgb(32.093251% 8.576327% 19.19811%);
    --palSunBurst-58: rgb(32.785482% 8.621717% 19.357587%);
    --palSunBurst-59: rgb(33.478905% 8.662148% 19.507899%);
    --palSunBurst-60: rgb(34.173503% 8.697601% 19.649062%);
    --palSunBurst-61: rgb(34.869254% 8.72806% 19.781092%);
    --palSunBurst-62: rgb(35.566125% 8.753522% 19.904011%);
    --palSunBurst-63: rgb(36.264104% 8.773953% 20.017823%);
    --palSunBurst-64: rgb(36.963165% 8.789334% 20.122542%);
    --palSunBurst-65: rgb(37.663272% 8.799656% 20.218186%);
    --palSunBurst-66: rgb(38.364424% 8.804859% 20.30474%);
    --palSunBurst-67: rgb(39.066574% 8.804944% 20.382227%);
    --palSunBurst-68: rgb(39.769703% 8.799872% 20.450641%);
    --palSunBurst-69: rgb(40.473792% 8.789596% 20.509971%);
    --palSunBurst-70: rgb(41.17879% 8.774121% 20.560237%);
    --palSunBurst-71: rgb(41.884704% 8.753353% 20.601388%);
    --palSunBurst-72: rgb(42.591463% 8.727325% 20.633459%);
    --palSunBurst-73: rgb(43.299069% 8.695948% 20.656394%);
    --palSunBurst-74: rgb(44.007455% 8.659242% 20.670212%);
    --palSunBurst-75: rgb(44.716616% 8.617128% 20.674851%);
    --palSunBurst-76: rgb(45.426479% 8.569637% 20.670331%);
    --palSunBurst-77: rgb(46.137042% 8.516677% 20.656566%);
    --palSunBurst-78: rgb(46.848219% 8.458313% 20.633582%);
    --palSunBurst-79: rgb(47.560004% 8.394454% 20.60128%);
    --palSunBurst-80: rgb(48.272316% 8.325159% 20.559662%);
    --palSunBurst-81: rgb(48.985104% 8.250434% 20.508677%);
    --palSunBurst-82: rgb(49.69834% 8.170242% 20.448225%);
    --palSunBurst-83: rgb(50.411927% 8.08469% 20.378304%);
    --palSunBurst-84: rgb(51.125803% 7.99383% 20.298844%);
    --palSunBurst-85: rgb(51.839929% 7.897664% 20.209721%);
    --palSunBurst-86: rgb(52.554202% 7.796358% 20.110904%);
    --palSunBurst-87: rgb(53.268538% 7.690049% 20.002312%);
    --palSunBurst-88: rgb(53.982852% 7.578902% 19.883855%);
    --palSunBurst-89: rgb(54.697049% 7.463129% 19.755431%);
    --palSunBurst-90: rgb(55.411028% 7.34299% 19.616934%);
    --palSunBurst-91: rgb(56.124678% 7.21881% 19.468248%);
    --palSunBurst-92: rgb(56.83788% 7.090985% 19.309253%);
    --palSunBurst-93: rgb(57.550502% 6.959997% 19.139818%);
    --palSunBurst-94: rgb(58.2624% 6.826431% 18.959809%);
    --palSunBurst-95: rgb(58.973418% 6.690989% 18.769083%);
    --palSunBurst-96: rgb(59.683382% 6.554515% 18.56749%);
    --palSunBurst-97: rgb(60.392106% 6.418012% 18.354875%);
    --palSunBurst-98: rgb(61.099403% 6.282598% 18.131023%);
    --palSunBurst-99: rgb(61.805061% 6.149625% 17.89573%);
    --palSunBurst-100: rgb(62.508803% 6.020822% 17.64889%);
    --palSunBurst-101: rgb(63.210426% 5.897851% 17.390136%);
    --palSunBurst-102: rgb(63.909578% 5.783082% 17.119418%);
    --palSunBurst-103: rgb(64.606007% 5.678752% 16.836327%);
    --palSunBurst-104: rgb(65.299326% 5.587785% 16.540731%);
    --palSunBurst-105: rgb(65.98916% 5.513269% 16.232365%);
    --palSunBurst-106: rgb(66.675096% 5.458598% 15.910942%);
    --palSunBurst-107: rgb(67.35668% 5.427454% 15.576179%);
    --palSunBurst-108: rgb(68.033403% 5.423761% 15.227799%);
    --palSunBurst-109: rgb(68.704706% 5.451589% 14.865546%);
    --palSunBurst-110: rgb(69.369969% 5.51504% 14.489185%);
    --palSunBurst-111: rgb(70.028509% 5.618108% 14.098519%);
    --palSunBurst-112: rgb(70.679624% 5.764355% 13.693176%);
    --palSunBurst-113: rgb(71.322465% 5.957213% 13.273203%);
    --palSunBurst-114: rgb(71.956187% 6.199294% 12.838347%);
    --palSunBurst-115: rgb(72.579832% 6.492701% 12.388673%);
    --palSunBurst-116: rgb(73.192387% 6.838759% 11.924309%);
    --palSunBurst-117: rgb(73.792785% 7.238015% 11.445523%);
    --palSunBurst-118: rgb(74.379911% 7.690258% 10.952793%);
    --palSunBurst-119: rgb(74.952631% 8.19453% 10.44678%);
    --palSunBurst-120: rgb(75.509807% 8.749192% 9.928513%);
    --palSunBurst-121: rgb(76.050344% 9.351949% 9.399345%);
    --palSunBurst-122: rgb(76.573234% 9.999923% 8.860931%);
    --palSunBurst-123: rgb(77.077595% 10.689714% 8.31539%);
    --palSunBurst-124: rgb(77.562724% 11.417469% 7.765262%);
    --palSunBurst-125: rgb(78.028137% 12.178994% 7.213493%);
    --palSunBurst-126: rgb(78.473594% 12.969861% 6.663478%);
    --palSunBurst-127: rgb(78.89912% 13.785534% 6.119075%);
    --palSunBurst-128: rgb(79.304987% 14.621526% 5.58459%);
    --palSunBurst-129: rgb(79.691698% 15.473527% 5.064835%);
    --palSunBurst-130: rgb(80.059949% 16.337512% 4.565234%);
    --palSunBurst-131: rgb(80.410578% 17.209842% 4.091877%);
    --palSunBurst-132: rgb(80.744502% 18.087354% 3.65633%);
    --palSunBurst-133: rgb(81.062721% 18.967261% 3.284897%);
    --palSunBurst-134: rgb(81.366202% 19.847328% 2.978095%);
    --palSunBurst-135: rgb(81.655911% 20.725703% 2.735425%);
    --palSunBurst-136: rgb(81.932773% 21.600901% 2.556368%);
    --palSunBurst-137: rgb(82.197656% 22.471783% 2.440445%);
    --palSunBurst-138: rgb(82.451354% 23.337504% 2.387282%);
    --palSunBurst-139: rgb(82.694588% 24.19747% 2.396658%);
    --palSunBurst-140: rgb(82.928% 25.051291% 2.468537%);
    --palSunBurst-141: rgb(83.152234% 25.898625% 2.603161%);
    --palSunBurst-142: rgb(83.367755% 26.739445% 2.80085%);
    --palSunBurst-143: rgb(83.575119% 27.573587% 3.06227%);
    --palSunBurst-144: rgb(83.774693% 28.401176% 3.388176%);
    --palSunBurst-145: rgb(83.966871% 29.222281% 3.779577%);
    --palSunBurst-146: rgb(84.152% 30.03702% 4.231855%);
    --palSunBurst-147: rgb(84.33039% 30.845547% 4.718171%);
    --palSunBurst-148: rgb(84.502314% 31.648042% 5.232334%);
    --palSunBurst-149: rgb(84.668012% 32.444703% 5.76985%);
    --palSunBurst-150: rgb(84.8277% 33.235739% 6.32708%);
    --palSunBurst-151: rgb(84.981598% 34.021329% 6.901096%);
    --palSunBurst-152: rgb(85.129899% 34.80166% 7.489554%);
    --palSunBurst-153: rgb(85.272715% 35.576999% 8.090629%);
    --palSunBurst-154: rgb(85.410285% 36.347441% 8.702799%);
    --palSunBurst-155: rgb(85.542653% 37.113285% 9.324952%);
    --palSunBurst-156: rgb(85.670046% 37.874607% 9.956104%);
    --palSunBurst-157: rgb(85.792511% 38.631664% 10.59557%);
    --palSunBurst-158: rgb(85.910167% 39.384615% 11.242769%);
    --palSunBurst-159: rgb(86.023184% 40.13356% 11.8972%);
    --palSunBurst-160: rgb(86.131603% 40.87871% 12.558544%);
    --palSunBurst-161: rgb(86.235527% 41.620202% 13.226519%);
    --palSunBurst-162: rgb(86.335049% 42.358173% 13.900904%);
    --palSunBurst-163: rgb(86.430261% 43.092748% 14.58153%);
    --palSunBurst-164: rgb(86.521249% 43.824051% 15.26827%);
    --palSunBurst-165: rgb(86.608094% 44.552198% 15.96103%);
    --palSunBurst-166: rgb(86.690878% 45.277298% 16.659744%);
    --palSunBurst-167: rgb(86.769678% 45.999455% 17.364368%);
    --palSunBurst-168: rgb(86.844571% 46.718767% 18.074877%);
    --palSunBurst-169: rgb(86.915633% 47.435325% 18.791261%);
    --palSunBurst-170: rgb(86.98294% 48.149217% 19.51352%);
    --palSunBurst-171: rgb(87.046566% 48.860521% 20.241667%);
    --palSunBurst-172: rgb(87.106589% 49.569313% 20.975721%);
    --palSunBurst-173: rgb(87.163086% 50.275663% 21.715708%);
    --palSunBurst-174: rgb(87.216162% 50.979614% 22.461634%);
    --palSunBurst-175: rgb(87.265881% 51.68124% 23.213553%);
    --palSunBurst-176: rgb(87.312317% 52.3806% 23.97151%);
    --palSunBurst-177: rgb(87.355555% 53.077744% 24.735548%);
    --palSunBurst-178: rgb(87.395712% 53.772697% 25.505684%);
    --palSunBurst-179: rgb(87.432861% 54.465512% 26.281981%);
    --palSunBurst-180: rgb(87.467085% 55.156232% 27.064498%);
    --palSunBurst-181: rgb(87.498503% 55.844876% 27.853263%);
    --palSunBurst-182: rgb(87.527217% 56.531471% 28.648326%);
    --palSunBurst-183: rgb(87.553313% 57.216055% 29.449756%);
    --palSunBurst-184: rgb(87.57693% 57.89863% 30.257577%);
    --palSunBurst-185: rgb(87.598171% 58.579221% 31.071851%);
    --palSunBurst-186: rgb(87.617147% 59.257844% 31.892638%);
    --palSunBurst-187: rgb(87.63402% 59.934489% 32.719953%);
    --palSunBurst-188: rgb(87.648888% 60.609181% 33.553878%);
    --palSunBurst-189: rgb(87.661914% 61.281908% 34.394439%);
    --palSunBurst-190: rgb(87.67324% 61.95267% 35.241687%);
    --palSunBurst-191: rgb(87.683016% 62.621463% 36.095669%);
    --palSunBurst-192: rgb(87.691421% 63.288268% 36.95641%);
    --palSunBurst-193: rgb(87.698607% 63.953083% 37.823972%);
    --palSunBurst-194: rgb(87.704779% 64.615877% 38.698363%);
    --palSunBurst-195: rgb(87.710104% 65.27664% 39.579639%);
    --palSunBurst-196: rgb(87.714801% 65.935338% 40.467811%);
    --palSunBurst-197: rgb(87.719069% 66.591948% 41.362916%);
    --palSunBurst-198: rgb(87.723137% 67.246435% 42.264965%);
    --palSunBurst-199: rgb(87.727233% 67.898764% 43.173978%);
    --palSunBurst-200: rgb(87.731605% 68.548896% 44.089961%);
    --palSunBurst-201: rgb(87.736509% 69.196788% 45.012917%);
    --palSunBurst-202: rgb(87.742214% 69.842394% 45.942844%);
    --palSunBurst-203: rgb(87.749005% 70.485663% 46.879727%);
    --palSunBurst-204: rgb(87.757175% 71.126545% 47.823549%);
    --palSunBurst-205: rgb(87.767038% 71.764981% 48.774277%);
    --palSunBurst-206: rgb(87.778914% 72.400915% 49.731878%);
    --palSunBurst-207: rgb(87.793145% 73.034282% 50.696296%);
    --palSunBurst-208: rgb(87.810081% 73.66502% 51.667477%);
    --palSunBurst-209: rgb(87.830092% 74.29306% 52.645341%);
    --palSunBurst-210: rgb(87.853556% 74.918334% 53.629808%);
    --palSunBurst-211: rgb(87.880873% 75.540769% 54.620771%);
    --palSunBurst-212: rgb(87.912449% 76.160293% 55.618122%);
    --palSunBurst-213: rgb(87.948712% 76.77683% 56.62172%);
    --palSunBurst-214: rgb(87.990092% 77.390307% 57.631429%);
    --palSunBurst-215: rgb(88.037047% 78.000643% 58.64707%);
    --palSunBurst-216: rgb(88.090027% 78.607767% 59.668473%);
    --palSunBurst-217: rgb(88.149514% 79.211598% 60.695418%);
    --palSunBurst-218: rgb(88.215974% 79.812065% 61.7277%);
    --palSunBurst-219: rgb(88.289909% 80.40909% 62.765056%);
    --palSunBurst-220: rgb(88.371798% 81.002606% 63.80724%);
    --palSunBurst-221: rgb(88.462153% 81.59254% 64.853946%);
    --palSunBurst-222: rgb(88.561459% 82.178829% 65.904886%);
    --palSunBurst-223: rgb(88.670229% 82.761408% 66.959711%);
    --palSunBurst-224: rgb(88.788952% 83.340224% 68.018083%);
    --palSunBurst-225: rgb(88.918122% 83.915225% 69.079625%);
    --palSunBurst-226: rgb(89.058234% 84.486362% 70.14393%);
    --palSunBurst-227: rgb(89.209744% 85.053601% 71.210615%);
    --palSunBurst-228: rgb(89.373153% 85.616903% 72.279183%);
    --palSunBurst-229: rgb(89.548875% 86.176252% 73.349245%);
    --palSunBurst-230: rgb(89.737373% 86.731625% 74.420272%);
    --palSunBurst-231: rgb(89.939058% 87.283016% 75.491787%);
    --palSunBurst-232: rgb(90.154313% 87.830429% 76.563309%);
    --palSunBurst-233: rgb(90.383561% 88.373862% 77.634217%);
    --palSunBurst-234: rgb(90.627132% 88.913338% 78.704028%);
    --palSunBurst-235: rgb(90.885368% 89.448881% 79.772179%);
    --palSunBurst-236: rgb(91.158625% 89.980515% 80.838%);
    --palSunBurst-237: rgb(91.447204% 90.508277% 81.900898%);
    --palSunBurst-238: rgb(91.751403% 91.032207% 82.960244%);
    --palSunBurst-239: rgb(92.071527% 91.552347% 84.015333%);
    --palSunBurst-240: rgb(92.407894% 92.068737% 85.065379%);
    --palSunBurst-241: rgb(92.760832% 92.581419% 86.109531%);
    --palSunBurst-242: rgb(93.130674% 93.09043% 87.146916%);
    --palSunBurst-243: rgb(93.517804% 93.595804% 88.176475%);
    --palSunBurst-244: rgb(93.922654% 94.097572% 89.196965%);
    --palSunBurst-245: rgb(94.345707% 94.595767% 90.206897%);
    --palSunBurst-246: rgb(94.787482% 95.090438% 91.20444%);
    --palSunBurst-247: rgb(95.248483% 95.581688% 92.187319%);
    --palSunBurst-248: rgb(95.729065% 96.069726% 93.152703%);
    --palSunBurst-249: rgb(96.229171% 96.554987% 94.097172%);
    --palSunBurst-250: rgb(96.747854% 97.038293% 95.016887%);
    --palSunBurst-251: rgb(97.282603% 97.521057% 95.908244%);
    --palSunBurst-252: rgb(97.828739% 98.00538% 96.769236%);
    --palSunBurst-253: rgb(98.379547% 98.493815% 97.601254%);
    --palSunBurst-254: rgb(98.927857% 98.988597% 98.410494%);
    --palSunBurst-255: rgb(99.468526% 99.490795% 99.206668%);
    --palSunBurst-256: rgb(100% 100% 100%);
}
