/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palSwamp-1: rgb(0% 0% 0%);
    --palSwamp-2: rgb(0.025767% 0.02196% 0.028478%);
    --palSwamp-3: rgb(0.090079% 0.075614% 0.102215%);
    --palSwamp-4: rgb(0.187832% 0.155684% 0.21859%);
    --palSwamp-5: rgb(0.316739% 0.25981% 0.377674%);
    --palSwamp-6: rgb(0.475245% 0.386531% 0.580255%);
    --palSwamp-7: rgb(0.662104% 0.534846% 0.827471%);
    --palSwamp-8: rgb(0.876215% 0.704041% 1.120675%);
    --palSwamp-9: rgb(1.116543% 0.893603% 1.461365%);
    --palSwamp-10: rgb(1.382066% 1.103168% 1.851133%);
    --palSwamp-11: rgb(1.671753% 1.332496% 2.291657%);
    --palSwamp-12: rgb(1.98454% 1.581446% 2.784682%);
    --palSwamp-13: rgb(2.319317% 1.849968% 3.331977%);
    --palSwamp-14: rgb(2.674914% 2.138098% 3.935336%);
    --palSwamp-15: rgb(3.050097% 2.445942% 4.567157%);
    --palSwamp-16: rgb(3.443559% 2.77368% 5.197192%);
    --palSwamp-17: rgb(3.853914% 3.121565% 5.8268%);
    --palSwamp-18: rgb(4.271965% 3.489918% 6.45626%);
    --palSwamp-19: rgb(4.678359% 3.879125% 7.085771%);
    --palSwamp-20: rgb(5.073657% 4.281417% 7.71545%);
    --palSwamp-21: rgb(5.457818% 4.680719% 8.345304%);
    --palSwamp-22: rgb(5.830748% 5.078329% 8.9753%);
    --palSwamp-23: rgb(6.192317% 5.474727% 9.605317%);
    --palSwamp-24: rgb(6.542368% 5.870363% 10.235162%);
    --palSwamp-25: rgb(6.880715% 6.265659% 10.864586%);
    --palSwamp-26: rgb(7.207153% 6.661012% 11.493279%);
    --palSwamp-27: rgb(7.52147% 7.056793% 12.120868%);
    --palSwamp-28: rgb(7.823446% 7.453351% 12.746921%);
    --palSwamp-29: rgb(8.112866% 7.851009% 13.370952%);
    --palSwamp-30: rgb(8.389523% 8.250064% 13.992429%);
    --palSwamp-31: rgb(8.653227% 8.650785% 14.610773%);
    --palSwamp-32: rgb(8.903811% 9.053414% 15.225372%);
    --palSwamp-33: rgb(9.141132% 9.458161% 15.835592%);
    --palSwamp-34: rgb(9.36509% 9.865206% 16.440767%);
    --palSwamp-35: rgb(9.575626% 10.274694% 17.040222%);
    --palSwamp-36: rgb(9.772719% 10.686737% 17.633294%);
    --palSwamp-37: rgb(9.956411% 11.101412% 18.219317%);
    --palSwamp-38: rgb(10.126787% 11.51876% 18.797655%);
    --palSwamp-39: rgb(10.283993% 11.938792% 19.367701%);
    --palSwamp-40: rgb(10.428224% 12.361482% 19.928893%);
    --palSwamp-41: rgb(10.559734% 12.786776% 20.480716%);
    --palSwamp-42: rgb(10.678818% 13.214593% 21.022721%);
    --palSwamp-43: rgb(10.785832% 13.644824% 21.554512%);
    --palSwamp-44: rgb(10.881155% 14.077345% 22.07577%);
    --palSwamp-45: rgb(10.965208% 14.512011% 22.586245%);
    --palSwamp-46: rgb(11.038454% 14.948662% 23.085746%);
    --palSwamp-47: rgb(11.101356% 15.387133% 23.574164%);
    --palSwamp-48: rgb(11.154399% 15.827255% 24.051447%);
    --palSwamp-49: rgb(11.198081% 16.268852% 24.517605%);
    --palSwamp-50: rgb(11.232901% 16.711752% 24.972701%);
    --palSwamp-51: rgb(11.259354% 17.155786% 25.41685%);
    --palSwamp-52: rgb(11.277928% 17.600793% 25.850207%);
    --palSwamp-53: rgb(11.289094% 18.046618% 26.272965%);
    --palSwamp-54: rgb(11.293308% 18.493117% 26.685348%);
    --palSwamp-55: rgb(11.291008% 18.940157% 27.087603%);
    --palSwamp-56: rgb(11.282647% 19.387606% 27.479991%);
    --palSwamp-57: rgb(11.268574% 19.835363% 27.862796%);
    --palSwamp-58: rgb(11.249204% 20.283317% 28.236304%);
    --palSwamp-59: rgb(11.224851% 20.731387% 28.600806%);
    --palSwamp-60: rgb(11.195893% 21.179483% 28.956598%);
    --palSwamp-61: rgb(11.162587% 21.627547% 29.303969%);
    --palSwamp-62: rgb(11.125221% 22.075516% 29.643207%);
    --palSwamp-63: rgb(11.084084% 22.523336% 29.974596%);
    --palSwamp-64: rgb(11.039397% 22.970968% 30.298405%);
    --palSwamp-65: rgb(10.991368% 23.418381% 30.6149%);
    --palSwamp-66: rgb(10.940197% 23.865547% 30.924331%);
    --palSwamp-67: rgb(10.886057% 24.312448% 31.22694%);
    --palSwamp-68: rgb(10.829118% 24.759068% 31.522956%);
    --palSwamp-69: rgb(10.769545% 25.205394% 31.812603%);
    --palSwamp-70: rgb(10.707435% 25.65143% 32.096078%);
    --palSwamp-71: rgb(10.642894% 26.097177% 32.373572%);
    --palSwamp-72: rgb(10.576059% 26.542632% 32.645271%);
    --palSwamp-73: rgb(10.507019% 26.987805% 32.911343%);
    --palSwamp-74: rgb(10.435814% 27.432711% 33.171935%);
    --palSwamp-75: rgb(10.362598% 27.877351% 33.427207%);
    --palSwamp-76: rgb(10.287353% 28.321751% 33.677275%);
    --palSwamp-77: rgb(10.210206% 28.765917% 33.922274%);
    --palSwamp-78: rgb(10.131186% 29.209871% 34.162311%);
    --palSwamp-79: rgb(10.050322% 29.653634% 34.39748%);
    --palSwamp-80: rgb(9.967731% 30.097214% 34.627888%);
    --palSwamp-81: rgb(9.88343% 30.540637% 34.85361%);
    --palSwamp-82: rgb(9.797459% 30.983923% 35.074717%);
    --palSwamp-83: rgb(9.709882% 31.42709% 35.291274%);
    --palSwamp-84: rgb(9.620763% 31.870159% 35.503342%);
    --palSwamp-85: rgb(9.530178% 32.313144% 35.710971%);
    --palSwamp-86: rgb(9.438211% 32.756065% 35.91421%);
    --palSwamp-87: rgb(9.344924% 33.198942% 36.113087%);
    --palSwamp-88: rgb(9.250411% 33.641792% 36.307635%);
    --palSwamp-89: rgb(9.154779% 34.084631% 36.497878%);
    --palSwamp-90: rgb(9.058146% 34.527476% 36.683834%);
    --palSwamp-91: rgb(8.960664% 34.97034% 36.865521%);
    --palSwamp-92: rgb(8.862483% 35.413237% 37.042948%);
    --palSwamp-93: rgb(8.763766% 35.856181% 37.216116%);
    --palSwamp-94: rgb(8.664708% 36.299184% 37.385026%);
    --palSwamp-95: rgb(8.565527% 36.742259% 37.549672%);
    --palSwamp-96: rgb(8.466468% 37.185414% 37.710048%);
    --palSwamp-97: rgb(8.367822% 37.628657% 37.866147%);
    --palSwamp-98: rgb(8.26992% 38.071992% 38.017964%);
    --palSwamp-99: rgb(8.173062% 38.515432% 38.165469%);
    --palSwamp-100: rgb(8.077623% 38.95898% 38.308643%);
    --palSwamp-101: rgb(7.984053% 39.402637% 38.447477%);
    --palSwamp-102: rgb(7.892807% 39.846407% 38.581946%);
    --palSwamp-103: rgb(7.804348% 40.290293% 38.712015%);
    --palSwamp-104: rgb(7.719249% 40.734294% 38.837666%);
    --palSwamp-105: rgb(7.638113% 41.178407% 38.958876%);
    --palSwamp-106: rgb(7.561528% 41.622634% 39.075601%);
    --palSwamp-107: rgb(7.490227% 42.066967% 39.187826%);
    --palSwamp-108: rgb(7.42491% 42.511404% 39.295513%);
    --palSwamp-109: rgb(7.366336% 42.955939% 39.398625%);
    --palSwamp-110: rgb(7.315367% 43.40056% 39.497144%);
    --palSwamp-111: rgb(7.272795% 43.845265% 39.591018%);
    --palSwamp-112: rgb(7.239552% 44.290039% 39.68023%);
    --palSwamp-113: rgb(7.216516% 44.734874% 39.764734%);
    --palSwamp-114: rgb(7.20463% 45.179757% 39.8445%);
    --palSwamp-115: rgb(7.204831% 45.624673% 39.919493%);
    --palSwamp-116: rgb(7.218047% 46.069608% 39.989677%);
    --palSwamp-117: rgb(7.245219% 46.514546% 40.055021%);
    --palSwamp-118: rgb(7.287228% 46.959469% 40.115485%);
    --palSwamp-119: rgb(7.344957% 47.404357% 40.171041%);
    --palSwamp-120: rgb(7.419207% 47.849192% 40.221649%);
    --palSwamp-121: rgb(7.510743% 48.29395% 40.26728%);
    --palSwamp-122: rgb(7.620248% 48.738609% 40.307898%);
    --palSwamp-123: rgb(7.748329% 49.183144% 40.343472%);
    --palSwamp-124: rgb(7.895513% 49.627529% 40.373971%);
    --palSwamp-125: rgb(8.062227% 50.071736% 40.399361%);
    --palSwamp-126: rgb(8.24882% 50.515735% 40.419616%);
    --palSwamp-127: rgb(8.455541% 50.959495% 40.434706%);
    --palSwamp-128: rgb(8.682555% 51.402984% 40.444601%);
    --palSwamp-129: rgb(8.929951% 51.846166% 40.449281%);
    --palSwamp-130: rgb(9.197724% 52.289005% 40.44871%);
    --palSwamp-131: rgb(9.48584% 52.731459% 40.442886%);
    --palSwamp-132: rgb(9.794146% 53.173493% 40.431756%);
    --palSwamp-133: rgb(10.122517% 53.615057% 40.415334%);
    --palSwamp-134: rgb(10.470729% 54.056108% 40.393583%);
    --palSwamp-135: rgb(10.83856% 54.496596% 40.366495%);
    --palSwamp-136: rgb(11.22578% 54.936468% 40.33408%);
    --palSwamp-137: rgb(11.632101% 55.375673% 40.296286%);
    --palSwamp-138: rgb(12.057295% 55.814149% 40.25315%);
    --palSwamp-139: rgb(12.501114% 56.251832% 40.204682%);
    --palSwamp-140: rgb(12.963299% 56.688663% 40.150839%);
    --palSwamp-141: rgb(13.443652% 57.124566% 40.091679%);
    --palSwamp-142: rgb(13.941978% 57.559464% 40.027225%);
    --palSwamp-143: rgb(14.458111% 57.99328% 39.957506%);
    --palSwamp-144: rgb(14.991911% 58.425929% 39.882518%);
    --palSwamp-145: rgb(15.543289% 58.857315% 39.802354%);
    --palSwamp-146: rgb(16.112185% 59.287339% 39.717077%);
    --palSwamp-147: rgb(16.698583% 59.715894% 39.626765%);
    --palSwamp-148: rgb(17.302508% 60.142864% 39.531515%);
    --palSwamp-149: rgb(17.924036% 60.568124% 39.431443%);
    --palSwamp-150: rgb(18.56329% 60.991536% 39.326693%);
    --palSwamp-151: rgb(19.220446% 61.412953% 39.217442%);
    --palSwamp-152: rgb(19.895734% 61.832213% 39.103903%);
    --palSwamp-153: rgb(20.589438% 62.24914% 38.986338%);
    --palSwamp-154: rgb(21.301899% 62.663539% 38.865062%);
    --palSwamp-155: rgb(22.033574% 63.0752% 38.740354%);
    --palSwamp-156: rgb(22.784899% 63.483887% 38.612742%);
    --palSwamp-157: rgb(23.556408% 63.889344% 38.482773%);
    --palSwamp-158: rgb(24.348795% 64.291283% 38.35097%);
    --palSwamp-159: rgb(25.162664% 64.689393% 38.218237%);
    --palSwamp-160: rgb(25.998821% 65.083323% 38.085445%);
    --palSwamp-161: rgb(26.858113% 65.472688% 37.953706%);
    --palSwamp-162: rgb(27.741365% 65.857064% 37.824465%);
    --palSwamp-163: rgb(28.649485% 66.235987% 37.699406%);
    --palSwamp-164: rgb(29.583356% 66.60895% 37.580599%);
    --palSwamp-165: rgb(30.543762% 66.975412% 37.470591%);
    --palSwamp-166: rgb(31.531446% 67.334793% 37.372375%);
    --palSwamp-167: rgb(32.54662% 67.686527% 37.28977%);
    --palSwamp-168: rgb(33.589213% 68.030053% 37.227147%);
    --palSwamp-169: rgb(34.658253% 68.364904% 37.189748%);
    --palSwamp-170: rgb(35.751865% 68.690747% 37.183437%);
    --palSwamp-171: rgb(36.866839% 69.007489% 37.2146%);
    --palSwamp-172: rgb(37.998463% 69.315365% 37.28974%);
    --palSwamp-173: rgb(39.140568% 69.615009% 37.414858%);
    --palSwamp-174: rgb(40.285889% 69.907462% 37.594744%);
    --palSwamp-175: rgb(41.426725% 70.194103% 37.832333%);
    --palSwamp-176: rgb(42.555725% 70.476519% 38.128362%);
    --palSwamp-177: rgb(43.666594% 70.756339% 38.481397%);
    --palSwamp-178: rgb(44.754941% 71.034993% 38.888256%);
    --palSwamp-179: rgb(45.817442% 71.313819% 39.344572%);
    --palSwamp-180: rgb(46.852922% 71.593746% 39.84546%);
    --palSwamp-181: rgb(47.861146% 71.875501% 40.385952%);
    --palSwamp-182: rgb(48.842361% 72.159682% 40.961184%);
    --palSwamp-183: rgb(49.798215% 72.446493% 41.56699%);
    --palSwamp-184: rgb(50.729689% 72.736262% 42.199322%);
    --palSwamp-185: rgb(51.638604% 73.029033% 42.854901%);
    --palSwamp-186: rgb(52.526595% 73.324844% 43.530825%);
    --palSwamp-187: rgb(53.394962% 73.623776% 44.224394%);
    --palSwamp-188: rgb(54.245593% 73.925682% 44.933705%);
    --palSwamp-189: rgb(55.07963% 74.230592% 45.656722%);
    --palSwamp-190: rgb(55.898614% 74.53837% 46.392046%);
    --palSwamp-191: rgb(56.70349% 74.849031% 47.138102%);
    --palSwamp-192: rgb(57.495417% 75.162488% 47.893751%);
    --palSwamp-193: rgb(58.27548% 75.478644% 48.658053%);
    --palSwamp-194: rgb(59.044598% 75.797433% 49.430131%);
    --palSwamp-195: rgb(59.803395% 76.118866% 50.208978%);
    --palSwamp-196: rgb(60.552817% 76.44282% 50.994115%);
    --palSwamp-197: rgb(61.293654% 76.769205% 51.785066%);
    --palSwamp-198: rgb(62.026315% 77.098054% 52.58103%);
    --palSwamp-199: rgb(62.751514% 77.429272% 53.381701%);
    --palSwamp-200: rgb(63.46973% 77.762838% 54.186594%);
    --palSwamp-201: rgb(64.181571% 78.098666% 54.995501%);
    --palSwamp-202: rgb(64.887209% 78.436837% 55.807684%);
    --palSwamp-203: rgb(65.587355% 78.777199% 56.623271%);
    --palSwamp-204: rgb(66.282341% 79.119744% 57.441922%);
    --palSwamp-205: rgb(66.97238% 79.46451% 58.263159%);
    --palSwamp-206: rgb(67.657838% 79.811461% 59.086808%);
    --palSwamp-207: rgb(68.339098% 80.160547% 59.912783%);
    --palSwamp-208: rgb(69.016431% 80.511756% 60.74087%);
    --palSwamp-209: rgb(69.690097% 80.865079% 61.570883%);
    --palSwamp-210: rgb(70.360344% 81.220504% 62.402654%);
    --palSwamp-211: rgb(71.02741% 81.578021% 63.236036%);
    --palSwamp-212: rgb(71.691519% 81.937619% 64.070899%);
    --palSwamp-213: rgb(72.352888% 82.299288% 64.907126%);
    --palSwamp-214: rgb(73.011639% 82.66306% 65.744449%);
    --palSwamp-215: rgb(73.667949% 83.028935% 66.582726%);
    --palSwamp-216: rgb(74.322086% 83.396868% 67.422029%);
    --palSwamp-217: rgb(74.974233% 83.766848% 68.262288%);
    --palSwamp-218: rgb(75.624553% 84.138874% 69.10341%);
    --palSwamp-219: rgb(76.272953% 84.513075% 69.944775%);
    --palSwamp-220: rgb(76.91985% 84.889312% 70.786863%);
    --palSwamp-221: rgb(77.565402% 85.267578% 71.629626%);
    --palSwamp-222: rgb(78.209427% 85.648047% 72.472271%);
    --palSwamp-223: rgb(78.852378% 86.03055% 73.315423%);
    --palSwamp-224: rgb(79.494255% 86.415162% 74.158708%);
    --palSwamp-225: rgb(80.135116% 86.801925% 75.001884%);
    --palSwamp-226: rgb(80.77526% 87.190745% 75.845276%);
    --palSwamp-227: rgb(81.414521% 87.581791% 76.688121%);
    --palSwamp-228: rgb(82.053341% 87.974883% 77.531095%);
    --palSwamp-229: rgb(82.691478% 88.370234% 78.373247%);
    --palSwamp-230: rgb(83.329381% 88.76766% 79.215269%);
    --palSwamp-231: rgb(83.966867% 89.167341% 80.056336%);
    --palSwamp-232: rgb(84.604262% 89.569163% 80.89684%);
    --palSwamp-233: rgb(85.24157% 89.9732% 81.736377%);
    --palSwamp-234: rgb(85.87888% 90.379478% 82.57474%);
    --palSwamp-235: rgb(86.516472% 90.787909% 83.412169%);
    --palSwamp-236: rgb(87.154157% 91.198691% 84.247714%);
    --palSwamp-237: rgb(87.792321% 91.611678% 85.081833%);
    --palSwamp-238: rgb(88.431062% 92.0269% 85.914219%);
    --palSwamp-239: rgb(89.070285% 92.444508% 86.744058%);
    --palSwamp-240: rgb(89.710357% 92.864379% 87.571624%);
    --palSwamp-241: rgb(90.351398% 93.286542% 88.396529%);
    --palSwamp-242: rgb(90.993329% 93.711159% 89.217834%);
    --palSwamp-243: rgb(91.636456% 94.138157% 90.035491%);
    --palSwamp-244: rgb(92.280917% 94.567575% 90.848971%);
    --palSwamp-245: rgb(92.926782% 94.9995% 91.657536%);
    --palSwamp-246: rgb(93.573948% 95.434125% 92.460051%);
    --palSwamp-247: rgb(94.222569% 95.871483% 93.256014%);
    --palSwamp-248: rgb(94.872497% 96.31178% 94.044382%);
    --palSwamp-249: rgb(95.523387% 96.755307% 94.824021%);
    --palSwamp-250: rgb(96.174541% 97.202512% 95.593657%);
    --palSwamp-251: rgb(96.824903% 97.653955% 96.352289%);
    --palSwamp-252: rgb(97.473013% 98.110298% 97.09953%);
    --palSwamp-253: rgb(98.116807% 98.572376% 97.835654%);
    --palSwamp-254: rgb(98.753906% 99.04102% 98.562198%);
    --palSwamp-255: rgb(99.382096% 99.516844% 99.282208%);
    --palSwamp-256: rgb(100% 100% 100%);
}
