/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palTerrain-1: rgb(20% 20% 60%);
    --palTerrain-2: rgb(19.4771% 21.0458% 61.0458%);
    --palTerrain-3: rgb(18.9542% 22.0915% 62.0915%);
    --palTerrain-4: rgb(18.4314% 23.1373% 63.1373%);
    --palTerrain-5: rgb(17.9085% 24.183% 64.183%);
    --palTerrain-6: rgb(17.3856% 25.2288% 65.2288%);
    --palTerrain-7: rgb(16.8627% 26.2745% 66.2745%);
    --palTerrain-8: rgb(16.3399% 27.3203% 67.3203%);
    --palTerrain-9: rgb(15.817% 28.366% 68.366%);
    --palTerrain-10: rgb(15.2941% 29.4118% 69.4118%);
    --palTerrain-11: rgb(14.7712% 30.4575% 70.4575%);
    --palTerrain-12: rgb(14.2484% 31.5033% 71.5033%);
    --palTerrain-13: rgb(13.7255% 32.549% 72.549%);
    --palTerrain-14: rgb(13.2026% 33.5948% 73.5948%);
    --palTerrain-15: rgb(12.6797% 34.6405% 74.6405%);
    --palTerrain-16: rgb(12.1569% 35.6863% 75.6863%);
    --palTerrain-17: rgb(11.634% 36.732% 76.732%);
    --palTerrain-18: rgb(11.1111% 37.7778% 77.7778%);
    --palTerrain-19: rgb(10.5882% 38.8235% 78.8235%);
    --palTerrain-20: rgb(10.0654% 39.8693% 79.8693%);
    --palTerrain-21: rgb(9.5425% 40.915% 80.915%);
    --palTerrain-22: rgb(9.0196% 41.9608% 81.9608%);
    --palTerrain-23: rgb(8.4967% 43.0065% 83.0065%);
    --palTerrain-24: rgb(7.9739% 44.0523% 84.0523%);
    --palTerrain-25: rgb(7.451% 45.098% 85.098%);
    --palTerrain-26: rgb(6.9281% 46.1438% 86.1438%);
    --palTerrain-27: rgb(6.4052% 47.1895% 87.1895%);
    --palTerrain-28: rgb(5.8824% 48.2353% 88.2353%);
    --palTerrain-29: rgb(5.3595% 49.281% 89.281%);
    --palTerrain-30: rgb(4.8366% 50.3268% 90.3268%);
    --palTerrain-31: rgb(4.3137% 51.3725% 91.3725%);
    --palTerrain-32: rgb(3.7908% 52.4183% 92.4183%);
    --palTerrain-33: rgb(3.268% 53.4641% 93.4641%);
    --palTerrain-34: rgb(2.7451% 54.5098% 94.5098%);
    --palTerrain-35: rgb(2.2222% 55.5556% 95.5556%);
    --palTerrain-36: rgb(1.6993% 56.6013% 96.6013%);
    --palTerrain-37: rgb(1.1765% 57.6471% 97.6471%);
    --palTerrain-38: rgb(0.6536% 58.6928% 98.6928%);
    --palTerrain-39: rgb(0.1307% 59.7386% 99.7386%);
    --palTerrain-40: rgb(0% 60.5882% 98.2353%);
    --palTerrain-41: rgb(0% 61.3725% 95.8824%);
    --palTerrain-42: rgb(0% 62.1569% 93.5294%);
    --palTerrain-43: rgb(0% 62.9412% 91.1765%);
    --palTerrain-44: rgb(0% 63.7255% 88.8235%);
    --palTerrain-45: rgb(0% 64.5098% 86.4706%);
    --palTerrain-46: rgb(0% 65.2941% 84.1176%);
    --palTerrain-47: rgb(0% 66.0784% 81.7647%);
    --palTerrain-48: rgb(0% 66.8627% 79.4118%);
    --palTerrain-49: rgb(0% 67.6471% 77.0588%);
    --palTerrain-50: rgb(0% 68.4314% 74.7059%);
    --palTerrain-51: rgb(0% 69.2157% 72.3529%);
    --palTerrain-52: rgb(0% 70% 70%);
    --palTerrain-53: rgb(0% 70.7843% 67.6471%);
    --palTerrain-54: rgb(0% 71.5686% 65.2941%);
    --palTerrain-55: rgb(0% 72.3529% 62.9412%);
    --palTerrain-56: rgb(0% 73.1373% 60.5882%);
    --palTerrain-57: rgb(0% 73.9216% 58.2353%);
    --palTerrain-58: rgb(0% 74.7059% 55.8824%);
    --palTerrain-59: rgb(0% 75.4902% 53.5294%);
    --palTerrain-60: rgb(0% 76.2745% 51.1765%);
    --palTerrain-61: rgb(0% 77.0588% 48.8235%);
    --palTerrain-62: rgb(0% 77.8431% 46.4706%);
    --palTerrain-63: rgb(0% 78.6275% 44.1176%);
    --palTerrain-64: rgb(0% 79.4118% 41.7647%);
    --palTerrain-65: rgb(0.3922% 80.0784% 40.0784%);
    --palTerrain-66: rgb(1.9608% 80.3922% 40.3922%);
    --palTerrain-67: rgb(3.5294% 80.7059% 40.7059%);
    --palTerrain-68: rgb(5.098% 81.0196% 41.0196%);
    --palTerrain-69: rgb(6.6667% 81.3333% 41.3333%);
    --palTerrain-70: rgb(8.2353% 81.6471% 41.6471%);
    --palTerrain-71: rgb(9.8039% 81.9608% 41.9608%);
    --palTerrain-72: rgb(11.3725% 82.2745% 42.2745%);
    --palTerrain-73: rgb(12.9412% 82.5882% 42.5882%);
    --palTerrain-74: rgb(14.5098% 82.902% 42.902%);
    --palTerrain-75: rgb(16.0784% 83.2157% 43.2157%);
    --palTerrain-76: rgb(17.6471% 83.5294% 43.5294%);
    --palTerrain-77: rgb(19.2157% 83.8431% 43.8431%);
    --palTerrain-78: rgb(20.7843% 84.1569% 44.1569%);
    --palTerrain-79: rgb(22.3529% 84.4706% 44.4706%);
    --palTerrain-80: rgb(23.9216% 84.7843% 44.7843%);
    --palTerrain-81: rgb(25.4902% 85.098% 45.098%);
    --palTerrain-82: rgb(27.0588% 85.4118% 45.4118%);
    --palTerrain-83: rgb(28.6275% 85.7255% 45.7255%);
    --palTerrain-84: rgb(30.1961% 86.0392% 46.0392%);
    --palTerrain-85: rgb(31.7647% 86.3529% 46.3529%);
    --palTerrain-86: rgb(33.3333% 86.6667% 46.6667%);
    --palTerrain-87: rgb(34.902% 86.9804% 46.9804%);
    --palTerrain-88: rgb(36.4706% 87.2941% 47.2941%);
    --palTerrain-89: rgb(38.0392% 87.6078% 47.6078%);
    --palTerrain-90: rgb(39.6078% 87.9216% 47.9216%);
    --palTerrain-91: rgb(41.1765% 88.2353% 48.2353%);
    --palTerrain-92: rgb(42.7451% 88.549% 48.549%);
    --palTerrain-93: rgb(44.3137% 88.8627% 48.8627%);
    --palTerrain-94: rgb(45.8824% 89.1765% 49.1765%);
    --palTerrain-95: rgb(47.451% 89.4902% 49.4902%);
    --palTerrain-96: rgb(49.0196% 89.8039% 49.8039%);
    --palTerrain-97: rgb(50.5882% 90.1176% 50.1176%);
    --palTerrain-98: rgb(52.1569% 90.4314% 50.4314%);
    --palTerrain-99: rgb(53.7255% 90.7451% 50.7451%);
    --palTerrain-100: rgb(55.2941% 91.0588% 51.0588%);
    --palTerrain-101: rgb(56.8627% 91.3725% 51.3725%);
    --palTerrain-102: rgb(58.4314% 91.6863% 51.6863%);
    --palTerrain-103: rgb(60% 92% 52%);
    --palTerrain-104: rgb(61.5686% 92.3137% 52.3137%);
    --palTerrain-105: rgb(63.1373% 92.6275% 52.6275%);
    --palTerrain-106: rgb(64.7059% 92.9412% 52.9412%);
    --palTerrain-107: rgb(66.2745% 93.2549% 53.2549%);
    --palTerrain-108: rgb(67.8431% 93.5686% 53.5686%);
    --palTerrain-109: rgb(69.4118% 93.8824% 53.8824%);
    --palTerrain-110: rgb(70.9804% 94.1961% 54.1961%);
    --palTerrain-111: rgb(72.549% 94.5098% 54.5098%);
    --palTerrain-112: rgb(74.1176% 94.8235% 54.8235%);
    --palTerrain-113: rgb(75.6863% 95.1373% 55.1373%);
    --palTerrain-114: rgb(77.2549% 95.451% 55.451%);
    --palTerrain-115: rgb(78.8235% 95.7647% 55.7647%);
    --palTerrain-116: rgb(80.3922% 96.0784% 56.0784%);
    --palTerrain-117: rgb(81.9608% 96.3922% 56.3922%);
    --palTerrain-118: rgb(83.5294% 96.7059% 56.7059%);
    --palTerrain-119: rgb(85.098% 97.0196% 57.0196%);
    --palTerrain-120: rgb(86.6667% 97.3333% 57.3333%);
    --palTerrain-121: rgb(88.2353% 97.6471% 57.6471%);
    --palTerrain-122: rgb(89.8039% 97.9608% 57.9608%);
    --palTerrain-123: rgb(91.3725% 98.2745% 58.2745%);
    --palTerrain-124: rgb(92.9412% 98.5882% 58.5882%);
    --palTerrain-125: rgb(94.5098% 98.902% 58.902%);
    --palTerrain-126: rgb(96.0784% 99.2157% 59.2157%);
    --palTerrain-127: rgb(97.6471% 99.5294% 59.5294%);
    --palTerrain-128: rgb(99.2157% 99.8431% 59.8431%);
    --palTerrain-129: rgb(99.6078% 99.498% 59.7882%);
    --palTerrain-130: rgb(98.8235% 98.4941% 59.3647%);
    --palTerrain-131: rgb(98.0392% 97.4902% 58.9412%);
    --palTerrain-132: rgb(97.2549% 96.4863% 58.5176%);
    --palTerrain-133: rgb(96.4706% 95.4824% 58.0941%);
    --palTerrain-134: rgb(95.6863% 94.4784% 57.6706%);
    --palTerrain-135: rgb(94.902% 93.4745% 57.2471%);
    --palTerrain-136: rgb(94.1176% 92.4706% 56.8235%);
    --palTerrain-137: rgb(93.3333% 91.4667% 56.4%);
    --palTerrain-138: rgb(92.549% 90.4627% 55.9765%);
    --palTerrain-139: rgb(91.7647% 89.4588% 55.5529%);
    --palTerrain-140: rgb(90.9804% 88.4549% 55.1294%);
    --palTerrain-141: rgb(90.1961% 87.451% 54.7059%);
    --palTerrain-142: rgb(89.4118% 86.4471% 54.2824%);
    --palTerrain-143: rgb(88.6275% 85.4431% 53.8588%);
    --palTerrain-144: rgb(87.8431% 84.4392% 53.4353%);
    --palTerrain-145: rgb(87.0588% 83.4353% 53.0118%);
    --palTerrain-146: rgb(86.2745% 82.4314% 52.5882%);
    --palTerrain-147: rgb(85.4902% 81.4275% 52.1647%);
    --palTerrain-148: rgb(84.7059% 80.4235% 51.7412%);
    --palTerrain-149: rgb(83.9216% 79.4196% 51.3176%);
    --palTerrain-150: rgb(83.1373% 78.4157% 50.8941%);
    --palTerrain-151: rgb(82.3529% 77.4118% 50.4706%);
    --palTerrain-152: rgb(81.5686% 76.4078% 50.0471%);
    --palTerrain-153: rgb(80.7843% 75.4039% 49.6235%);
    --palTerrain-154: rgb(80% 74.4% 49.2%);
    --palTerrain-155: rgb(79.2157% 73.3961% 48.7765%);
    --palTerrain-156: rgb(78.4314% 72.3922% 48.3529%);
    --palTerrain-157: rgb(77.6471% 71.3882% 47.9294%);
    --palTerrain-158: rgb(76.8627% 70.3843% 47.5059%);
    --palTerrain-159: rgb(76.0784% 69.3804% 47.0824%);
    --palTerrain-160: rgb(75.2941% 68.3765% 46.6588%);
    --palTerrain-161: rgb(74.5098% 67.3725% 46.2353%);
    --palTerrain-162: rgb(73.7255% 66.3686% 45.8118%);
    --palTerrain-163: rgb(72.9412% 65.3647% 45.3882%);
    --palTerrain-164: rgb(72.1569% 64.3608% 44.9647%);
    --palTerrain-165: rgb(71.3725% 63.3569% 44.5412%);
    --palTerrain-166: rgb(70.5882% 62.3529% 44.1176%);
    --palTerrain-167: rgb(69.8039% 61.349% 43.6941%);
    --palTerrain-168: rgb(69.0196% 60.3451% 43.2706%);
    --palTerrain-169: rgb(68.2353% 59.3412% 42.8471%);
    --palTerrain-170: rgb(67.451% 58.3373% 42.4235%);
    --palTerrain-171: rgb(66.6667% 57.3333% 42%);
    --palTerrain-172: rgb(65.8824% 56.3294% 41.5765%);
    --palTerrain-173: rgb(65.098% 55.3255% 41.1529%);
    --palTerrain-174: rgb(64.3137% 54.3216% 40.7294%);
    --palTerrain-175: rgb(63.5294% 53.3176% 40.3059%);
    --palTerrain-176: rgb(62.7451% 52.3137% 39.8824%);
    --palTerrain-177: rgb(61.9608% 51.3098% 39.4588%);
    --palTerrain-178: rgb(61.1765% 50.3059% 39.0353%);
    --palTerrain-179: rgb(60.3922% 49.302% 38.6118%);
    --palTerrain-180: rgb(59.6078% 48.298% 38.1882%);
    --palTerrain-181: rgb(58.8235% 47.2941% 37.7647%);
    --palTerrain-182: rgb(58.0392% 46.2902% 37.3412%);
    --palTerrain-183: rgb(57.2549% 45.2863% 36.9176%);
    --palTerrain-184: rgb(56.4706% 44.2824% 36.4941%);
    --palTerrain-185: rgb(55.6863% 43.2784% 36.0706%);
    --palTerrain-186: rgb(54.902% 42.2745% 35.6471%);
    --palTerrain-187: rgb(54.1176% 41.2706% 35.2235%);
    --palTerrain-188: rgb(53.3333% 40.2667% 34.8%);
    --palTerrain-189: rgb(52.549% 39.2627% 34.3765%);
    --palTerrain-190: rgb(51.7647% 38.2588% 33.9529%);
    --palTerrain-191: rgb(50.9804% 37.2549% 33.5294%);
    --palTerrain-192: rgb(50.1961% 36.251% 33.1059%);
    --palTerrain-193: rgb(50.5882% 36.7529% 33.7882%);
    --palTerrain-194: rgb(51.3725% 37.7569% 34.8392%);
    --palTerrain-195: rgb(52.1569% 38.7608% 35.8902%);
    --palTerrain-196: rgb(52.9412% 39.7647% 36.9412%);
    --palTerrain-197: rgb(53.7255% 40.7686% 37.9922%);
    --palTerrain-198: rgb(54.5098% 41.7725% 39.0431%);
    --palTerrain-199: rgb(55.2941% 42.7765% 40.0941%);
    --palTerrain-200: rgb(56.0784% 43.7804% 41.1451%);
    --palTerrain-201: rgb(56.8627% 44.7843% 42.1961%);
    --palTerrain-202: rgb(57.6471% 45.7882% 43.2471%);
    --palTerrain-203: rgb(58.4314% 46.7922% 44.298%);
    --palTerrain-204: rgb(59.2157% 47.7961% 45.349%);
    --palTerrain-205: rgb(60% 48.8% 46.4%);
    --palTerrain-206: rgb(60.7843% 49.8039% 47.451%);
    --palTerrain-207: rgb(61.5686% 50.8078% 48.502%);
    --palTerrain-208: rgb(62.3529% 51.8118% 49.5529%);
    --palTerrain-209: rgb(63.1373% 52.8157% 50.6039%);
    --palTerrain-210: rgb(63.9216% 53.8196% 51.6549%);
    --palTerrain-211: rgb(64.7059% 54.8235% 52.7059%);
    --palTerrain-212: rgb(65.4902% 55.8275% 53.7569%);
    --palTerrain-213: rgb(66.2745% 56.8314% 54.8078%);
    --palTerrain-214: rgb(67.0588% 57.8353% 55.8588%);
    --palTerrain-215: rgb(67.8431% 58.8392% 56.9098%);
    --palTerrain-216: rgb(68.6275% 59.8431% 57.9608%);
    --palTerrain-217: rgb(69.4118% 60.8471% 59.0118%);
    --palTerrain-218: rgb(70.1961% 61.851% 60.0627%);
    --palTerrain-219: rgb(70.9804% 62.8549% 61.1137%);
    --palTerrain-220: rgb(71.7647% 63.8588% 62.1647%);
    --palTerrain-221: rgb(72.549% 64.8627% 63.2157%);
    --palTerrain-222: rgb(73.3333% 65.8667% 64.2667%);
    --palTerrain-223: rgb(74.1176% 66.8706% 65.3176%);
    --palTerrain-224: rgb(74.902% 67.8745% 66.3686%);
    --palTerrain-225: rgb(75.6863% 68.8784% 67.4196%);
    --palTerrain-226: rgb(76.4706% 69.8824% 68.4706%);
    --palTerrain-227: rgb(77.2549% 70.8863% 69.5216%);
    --palTerrain-228: rgb(78.0392% 71.8902% 70.5725%);
    --palTerrain-229: rgb(78.8235% 72.8941% 71.6235%);
    --palTerrain-230: rgb(79.6078% 73.898% 72.6745%);
    --palTerrain-231: rgb(80.3922% 74.902% 73.7255%);
    --palTerrain-232: rgb(81.1765% 75.9059% 74.7765%);
    --palTerrain-233: rgb(81.9608% 76.9098% 75.8275%);
    --palTerrain-234: rgb(82.7451% 77.9137% 76.8784%);
    --palTerrain-235: rgb(83.5294% 78.9176% 77.9294%);
    --palTerrain-236: rgb(84.3137% 79.9216% 78.9804%);
    --palTerrain-237: rgb(85.098% 80.9255% 80.0314%);
    --palTerrain-238: rgb(85.8824% 81.9294% 81.0824%);
    --palTerrain-239: rgb(86.6667% 82.9333% 82.1333%);
    --palTerrain-240: rgb(87.451% 83.9373% 83.1843%);
    --palTerrain-241: rgb(88.2353% 84.9412% 84.2353%);
    --palTerrain-242: rgb(89.0196% 85.9451% 85.2863%);
    --palTerrain-243: rgb(89.8039% 86.949% 86.3373%);
    --palTerrain-244: rgb(90.5882% 87.9529% 87.3882%);
    --palTerrain-245: rgb(91.3725% 88.9569% 88.4392%);
    --palTerrain-246: rgb(92.1569% 89.9608% 89.4902%);
    --palTerrain-247: rgb(92.9412% 90.9647% 90.5412%);
    --palTerrain-248: rgb(93.7255% 91.9686% 91.5922%);
    --palTerrain-249: rgb(94.5098% 92.9725% 92.6431%);
    --palTerrain-250: rgb(95.2941% 93.9765% 93.6941%);
    --palTerrain-251: rgb(96.0784% 94.9804% 94.7451%);
    --palTerrain-252: rgb(96.8627% 95.9843% 95.7961%);
    --palTerrain-253: rgb(97.6471% 96.9882% 96.8471%);
    --palTerrain-254: rgb(98.4314% 97.9922% 97.898%);
    --palTerrain-255: rgb(99.2157% 98.9961% 98.949%);
    --palTerrain-256: rgb(100% 100% 100%);
}
