/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palTokyo-1: rgb(10.878% 5.5655% 20.253%);
    --palTokyo-2: rgb(11.553% 5.7566% 20.467%);
    --palTokyo-3: rgb(12.228% 5.9414% 20.681%);
    --palTokyo-4: rgb(12.908% 6.0986% 20.893%);
    --palTokyo-5: rgb(13.58% 6.2796% 21.11%);
    --palTokyo-6: rgb(14.254% 6.4494% 21.326%);
    --palTokyo-7: rgb(14.922% 6.6291% 21.547%);
    --palTokyo-8: rgb(15.591% 6.8179% 21.768%);
    --palTokyo-9: rgb(16.257% 7.007% 21.991%);
    --palTokyo-10: rgb(16.925% 7.2039% 22.213%);
    --palTokyo-11: rgb(17.586% 7.4123% 22.437%);
    --palTokyo-12: rgb(18.254% 7.6185% 22.667%);
    --palTokyo-13: rgb(18.923% 7.8381% 22.894%);
    --palTokyo-14: rgb(19.59% 8.0712% 23.124%);
    --palTokyo-15: rgb(20.256% 8.3077% 23.351%);
    --palTokyo-16: rgb(20.923% 8.552% 23.584%);
    --palTokyo-17: rgb(21.59% 8.8145% 23.814%);
    --palTokyo-18: rgb(22.253% 9.0813% 24.044%);
    --palTokyo-19: rgb(22.915% 9.3538% 24.275%);
    --palTokyo-20: rgb(23.576% 9.6383% 24.506%);
    --palTokyo-21: rgb(24.232% 9.9393% 24.738%);
    --palTokyo-22: rgb(24.887% 10.248% 24.966%);
    --palTokyo-23: rgb(25.536% 10.567% 25.197%);
    --palTokyo-24: rgb(26.179% 10.896% 25.424%);
    --palTokyo-25: rgb(26.816% 11.237% 25.647%);
    --palTokyo-26: rgb(27.448% 11.586% 25.871%);
    --palTokyo-27: rgb(28.071% 11.944% 26.092%);
    --palTokyo-28: rgb(28.688% 12.311% 26.311%);
    --palTokyo-29: rgb(29.296% 12.691% 26.525%);
    --palTokyo-30: rgb(29.894% 13.083% 26.735%);
    --palTokyo-31: rgb(30.481% 13.48% 26.947%);
    --palTokyo-32: rgb(31.059% 13.881% 27.149%);
    --palTokyo-33: rgb(31.623% 14.295% 27.352%);
    --palTokyo-34: rgb(32.175% 14.713% 27.549%);
    --palTokyo-35: rgb(32.714% 15.138% 27.74%);
    --palTokyo-36: rgb(33.242% 15.571% 27.929%);
    --palTokyo-37: rgb(33.753% 16.003% 28.109%);
    --palTokyo-38: rgb(34.252% 16.448% 28.289%);
    --palTokyo-39: rgb(34.736% 16.894% 28.46%);
    --palTokyo-40: rgb(35.203% 17.339% 28.627%);
    --palTokyo-41: rgb(35.657% 17.793% 28.79%);
    --palTokyo-42: rgb(36.093% 18.24% 28.948%);
    --palTokyo-43: rgb(36.516% 18.695% 29.1%);
    --palTokyo-44: rgb(36.923% 19.148% 29.245%);
    --palTokyo-45: rgb(37.313% 19.603% 29.386%);
    --palTokyo-46: rgb(37.69% 20.053% 29.521%);
    --palTokyo-47: rgb(38.049% 20.506% 29.652%);
    --palTokyo-48: rgb(38.393% 20.955% 29.776%);
    --palTokyo-49: rgb(38.721% 21.403% 29.897%);
    --palTokyo-50: rgb(39.035% 21.847% 30.01%);
    --palTokyo-51: rgb(39.334% 22.287% 30.119%);
    --palTokyo-52: rgb(39.618% 22.723% 30.223%);
    --palTokyo-53: rgb(39.888% 23.156% 30.323%);
    --palTokyo-54: rgb(40.145% 23.582% 30.418%);
    --palTokyo-55: rgb(40.388% 24.002% 30.509%);
    --palTokyo-56: rgb(40.618% 24.418% 30.596%);
    --palTokyo-57: rgb(40.835% 24.832% 30.676%);
    --palTokyo-58: rgb(41.042% 25.236% 30.752%);
    --palTokyo-59: rgb(41.236% 25.633% 30.826%);
    --palTokyo-60: rgb(41.418% 26.026% 30.897%);
    --palTokyo-61: rgb(41.59% 26.413% 30.963%);
    --palTokyo-62: rgb(41.753% 26.79% 31.025%);
    --palTokyo-63: rgb(41.905% 27.164% 31.085%);
    --palTokyo-64: rgb(42.049% 27.532% 31.139%);
    --palTokyo-65: rgb(42.183% 27.892% 31.191%);
    --palTokyo-66: rgb(42.311% 28.246% 31.242%);
    --palTokyo-67: rgb(42.431% 28.59% 31.291%);
    --palTokyo-68: rgb(42.544% 28.932% 31.337%);
    --palTokyo-69: rgb(42.649% 29.265% 31.38%);
    --palTokyo-70: rgb(42.75% 29.592% 31.42%);
    --palTokyo-71: rgb(42.843% 29.915% 31.459%);
    --palTokyo-72: rgb(42.931% 30.228% 31.496%);
    --palTokyo-73: rgb(43.015% 30.54% 31.532%);
    --palTokyo-74: rgb(43.094% 30.842% 31.566%);
    --palTokyo-75: rgb(43.169% 31.139% 31.599%);
    --palTokyo-76: rgb(43.239% 31.431% 31.629%);
    --palTokyo-77: rgb(43.305% 31.719% 31.658%);
    --palTokyo-78: rgb(43.368% 32.001% 31.686%);
    --palTokyo-79: rgb(43.428% 32.277% 31.713%);
    --palTokyo-80: rgb(43.487% 32.547% 31.739%);
    --palTokyo-81: rgb(43.542% 32.815% 31.764%);
    --palTokyo-82: rgb(43.594% 33.076% 31.788%);
    --palTokyo-83: rgb(43.644% 33.336% 31.811%);
    --palTokyo-84: rgb(43.692% 33.588% 31.834%);
    --palTokyo-85: rgb(43.739% 33.837% 31.855%);
    --palTokyo-86: rgb(43.783% 34.084% 31.877%);
    --palTokyo-87: rgb(43.826% 34.327% 31.897%);
    --palTokyo-88: rgb(43.867% 34.564% 31.917%);
    --palTokyo-89: rgb(43.908% 34.801% 31.937%);
    --palTokyo-90: rgb(43.947% 35.034% 31.957%);
    --palTokyo-91: rgb(43.986% 35.263% 31.976%);
    --palTokyo-92: rgb(44.024% 35.491% 31.994%);
    --palTokyo-93: rgb(44.06% 35.715% 32.013%);
    --palTokyo-94: rgb(44.096% 35.936% 32.031%);
    --palTokyo-95: rgb(44.132% 36.157% 32.049%);
    --palTokyo-96: rgb(44.168% 36.375% 32.066%);
    --palTokyo-97: rgb(44.203% 36.592% 32.083%);
    --palTokyo-98: rgb(44.237% 36.807% 32.1%);
    --palTokyo-99: rgb(44.271% 37.021% 32.116%);
    --palTokyo-100: rgb(44.305% 37.234% 32.133%);
    --palTokyo-101: rgb(44.338% 37.447% 32.15%);
    --palTokyo-102: rgb(44.372% 37.659% 32.166%);
    --palTokyo-103: rgb(44.406% 37.87% 32.183%);
    --palTokyo-104: rgb(44.439% 38.081% 32.2%);
    --palTokyo-105: rgb(44.472% 38.292% 32.217%);
    --palTokyo-106: rgb(44.505% 38.502% 32.234%);
    --palTokyo-107: rgb(44.538% 38.713% 32.252%);
    --palTokyo-108: rgb(44.572% 38.926% 32.269%);
    --palTokyo-109: rgb(44.606% 39.139% 32.285%);
    --palTokyo-110: rgb(44.641% 39.351% 32.302%);
    --palTokyo-111: rgb(44.675% 39.567% 32.319%);
    --palTokyo-112: rgb(44.71% 39.782% 32.337%);
    --palTokyo-113: rgb(44.745% 39.999% 32.354%);
    --palTokyo-114: rgb(44.78% 40.218% 32.371%);
    --palTokyo-115: rgb(44.817% 40.439% 32.389%);
    --palTokyo-116: rgb(44.854% 40.663% 32.407%);
    --palTokyo-117: rgb(44.891% 40.889% 32.426%);
    --palTokyo-118: rgb(44.928% 41.117% 32.445%);
    --palTokyo-119: rgb(44.966% 41.348% 32.464%);
    --palTokyo-120: rgb(45.005% 41.582% 32.483%);
    --palTokyo-121: rgb(45.045% 41.818% 32.503%);
    --palTokyo-122: rgb(45.085% 42.059% 32.523%);
    --palTokyo-123: rgb(45.126% 42.302% 32.543%);
    --palTokyo-124: rgb(45.167% 42.551% 32.564%);
    --palTokyo-125: rgb(45.21% 42.803% 32.585%);
    --palTokyo-126: rgb(45.253% 43.058% 32.607%);
    --palTokyo-127: rgb(45.297% 43.317% 32.629%);
    --palTokyo-128: rgb(45.341% 43.582% 32.652%);
    --palTokyo-129: rgb(45.387% 43.849% 32.675%);
    --palTokyo-130: rgb(45.434% 44.122% 32.699%);
    --palTokyo-131: rgb(45.482% 44.4% 32.723%);
    --palTokyo-132: rgb(45.53% 44.682% 32.748%);
    --palTokyo-133: rgb(45.579% 44.968% 32.773%);
    --palTokyo-134: rgb(45.629% 45.261% 32.799%);
    --palTokyo-135: rgb(45.68% 45.557% 32.826%);
    --palTokyo-136: rgb(45.733% 45.858% 32.854%);
    --palTokyo-137: rgb(45.786% 46.165% 32.882%);
    --palTokyo-138: rgb(45.841% 46.477% 32.911%);
    --palTokyo-139: rgb(45.897% 46.794% 32.941%);
    --palTokyo-140: rgb(45.953% 47.117% 32.971%);
    --palTokyo-141: rgb(46.01% 47.444% 33.002%);
    --palTokyo-142: rgb(46.069% 47.776% 33.034%);
    --palTokyo-143: rgb(46.129% 48.114% 33.066%);
    --palTokyo-144: rgb(46.19% 48.457% 33.1%);
    --palTokyo-145: rgb(46.252% 48.807% 33.136%);
    --palTokyo-146: rgb(46.315% 49.162% 33.173%);
    --palTokyo-147: rgb(46.381% 49.521% 33.212%);
    --palTokyo-148: rgb(46.448% 49.886% 33.251%);
    --palTokyo-149: rgb(46.514% 50.256% 33.292%);
    --palTokyo-150: rgb(46.583% 50.631% 33.334%);
    --palTokyo-151: rgb(46.654% 51.013% 33.378%);
    --palTokyo-152: rgb(46.726% 51.401% 33.423%);
    --palTokyo-153: rgb(46.799% 51.793% 33.471%);
    --palTokyo-154: rgb(46.874% 52.189% 33.521%);
    --palTokyo-155: rgb(46.952% 52.594% 33.572%);
    --palTokyo-156: rgb(47.03% 53.002% 33.625%);
    --palTokyo-157: rgb(47.11% 53.416% 33.683%);
    --palTokyo-158: rgb(47.193% 53.837% 33.743%);
    --palTokyo-159: rgb(47.277% 54.261% 33.804%);
    --palTokyo-160: rgb(47.363% 54.692% 33.871%);
    --palTokyo-161: rgb(47.454% 55.128% 33.941%);
    --palTokyo-162: rgb(47.545% 55.568% 34.013%);
    --palTokyo-163: rgb(47.639% 56.017% 34.09%);
    --palTokyo-164: rgb(47.736% 56.468% 34.171%);
    --palTokyo-165: rgb(47.836% 56.926% 34.257%);
    --palTokyo-166: rgb(47.94% 57.39% 34.347%);
    --palTokyo-167: rgb(48.046% 57.859% 34.442%);
    --palTokyo-168: rgb(48.156% 58.334% 34.543%);
    --palTokyo-169: rgb(48.27% 58.814% 34.651%);
    --palTokyo-170: rgb(48.388% 59.301% 34.765%);
    --palTokyo-171: rgb(48.51% 59.792% 34.885%);
    --palTokyo-172: rgb(48.637% 60.289% 35.012%);
    --palTokyo-173: rgb(48.77% 60.793% 35.147%);
    --palTokyo-174: rgb(48.906% 61.3% 35.291%);
    --palTokyo-175: rgb(49.05% 61.815% 35.442%);
    --palTokyo-176: rgb(49.198% 62.336% 35.603%);
    --palTokyo-177: rgb(49.353% 62.862% 35.774%);
    --palTokyo-178: rgb(49.515% 63.394% 35.954%);
    --palTokyo-179: rgb(49.683% 63.931% 36.145%);
    --palTokyo-180: rgb(49.86% 64.474% 36.348%);
    --palTokyo-181: rgb(50.044% 65.024% 36.563%);
    --palTokyo-182: rgb(50.237% 65.579% 36.79%);
    --palTokyo-183: rgb(50.44% 66.14% 37.03%);
    --palTokyo-184: rgb(50.65% 66.706% 37.284%);
    --palTokyo-185: rgb(50.873% 67.279% 37.553%);
    --palTokyo-186: rgb(51.104% 67.856% 37.837%);
    --palTokyo-187: rgb(51.348% 68.44% 38.137%);
    --palTokyo-188: rgb(51.602% 69.029% 38.451%);
    --palTokyo-189: rgb(51.87% 69.624% 38.784%);
    --palTokyo-190: rgb(52.15% 70.224% 39.136%);
    --palTokyo-191: rgb(52.444% 70.83% 39.504%);
    --palTokyo-192: rgb(52.752% 71.44% 39.89%);
    --palTokyo-193: rgb(53.075% 72.055% 40.298%);
    --palTokyo-194: rgb(53.413% 72.676% 40.724%);
    --palTokyo-195: rgb(53.769% 73.301% 41.172%);
    --palTokyo-196: rgb(54.139% 73.93% 41.641%);
    --palTokyo-197: rgb(54.528% 74.562% 42.13%);
    --palTokyo-198: rgb(54.935% 75.199% 42.643%);
    --palTokyo-199: rgb(55.359% 75.84% 43.178%);
    --palTokyo-200: rgb(55.803% 76.483% 43.735%);
    --palTokyo-201: rgb(56.267% 77.129% 44.315%);
    --palTokyo-202: rgb(56.75% 77.777% 44.919%);
    --palTokyo-203: rgb(57.253% 78.426% 45.546%);
    --palTokyo-204: rgb(57.776% 79.077% 46.196%);
    --palTokyo-205: rgb(58.321% 79.728% 46.87%);
    --palTokyo-206: rgb(58.886% 80.379% 47.567%);
    --palTokyo-207: rgb(59.473% 81.03% 48.286%);
    --palTokyo-208: rgb(60.08% 81.679% 49.029%);
    --palTokyo-209: rgb(60.709% 82.326% 49.795%);
    --palTokyo-210: rgb(61.356% 82.971% 50.58%);
    --palTokyo-211: rgb(62.026% 83.611% 51.388%);
    --palTokyo-212: rgb(62.714% 84.247% 52.215%);
    --palTokyo-213: rgb(63.422% 84.876% 53.062%);
    --palTokyo-214: rgb(64.146% 85.5% 53.926%);
    --palTokyo-215: rgb(64.89% 86.115% 54.808%);
    --palTokyo-216: rgb(65.649% 86.722% 55.705%);
    --palTokyo-217: rgb(66.423% 87.32% 56.615%);
    --palTokyo-218: rgb(67.211% 87.908% 57.537%);
    --palTokyo-219: rgb(68.011% 88.484% 58.471%);
    --palTokyo-220: rgb(68.823% 89.047% 59.412%);
    --palTokyo-221: rgb(69.644% 89.597% 60.362%);
    --palTokyo-222: rgb(70.472% 90.132% 61.314%);
    --palTokyo-223: rgb(71.306% 90.653% 62.271%);
    --palTokyo-224: rgb(72.144% 91.157% 63.229%);
    --palTokyo-225: rgb(72.986% 91.645% 64.185%);
    --palTokyo-226: rgb(73.827% 92.115% 65.139%);
    --palTokyo-227: rgb(74.667% 92.569% 66.086%);
    --palTokyo-228: rgb(75.505% 93.004% 67.029%);
    --palTokyo-229: rgb(76.337% 93.42% 67.96%);
    --palTokyo-230: rgb(77.164% 93.818% 68.883%);
    --palTokyo-231: rgb(77.983% 94.197% 69.792%);
    --palTokyo-232: rgb(78.792% 94.557% 70.689%);
    --palTokyo-233: rgb(79.591% 94.898% 71.57%);
    --palTokyo-234: rgb(80.378% 95.221% 72.434%);
    --palTokyo-235: rgb(81.153% 95.526% 73.282%);
    --palTokyo-236: rgb(81.912% 95.813% 74.111%);
    --palTokyo-237: rgb(82.658% 96.082% 74.921%);
    --palTokyo-238: rgb(83.388% 96.335% 75.712%);
    --palTokyo-239: rgb(84.101% 96.571% 76.482%);
    --palTokyo-240: rgb(84.797% 96.792% 77.231%);
    --palTokyo-241: rgb(85.476% 96.997% 77.959%);
    --palTokyo-242: rgb(86.137% 97.189% 78.667%);
    --palTokyo-243: rgb(86.782% 97.366% 79.353%);
    --palTokyo-244: rgb(87.407% 97.531% 80.018%);
    --palTokyo-245: rgb(88.016% 97.684% 80.663%);
    --palTokyo-246: rgb(88.607% 97.825% 81.287%);
    --palTokyo-247: rgb(89.181% 97.957% 81.892%);
    --palTokyo-248: rgb(89.739% 98.078% 82.478%);
    --palTokyo-249: rgb(90.28% 98.191% 83.047%);
    --palTokyo-250: rgb(90.807% 98.295% 83.598%);
    --palTokyo-251: rgb(91.319% 98.393% 84.133%);
    --palTokyo-252: rgb(91.818% 98.484% 84.654%);
    --palTokyo-253: rgb(92.305% 98.569% 85.161%);
    --palTokyo-254: rgb(92.781% 98.65% 85.657%);
    --palTokyo-255: rgb(93.248% 98.726% 86.143%);
    --palTokyo-256: rgb(93.707% 98.799% 86.62%);
}
