/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palTropical-1: rgb(56.455228% 5.411374% 64.628069%);
    --palTropical-2: rgb(56.944818% 5.368478% 64.276375%);
    --palTropical-3: rgb(57.434602% 5.314874% 63.921671%);
    --palTropical-4: rgb(57.924515% 5.250974% 63.56362%);
    --palTropical-5: rgb(58.414518% 5.177101% 63.201829%);
    --palTropical-6: rgb(58.904474% 5.093764% 62.836101%);
    --palTropical-7: rgb(59.394345% 5.001254% 62.466046%);
    --palTropical-8: rgb(59.884006% 4.900039% 62.091449%);
    --palTropical-9: rgb(60.373382% 4.790475% 61.71199%);
    --palTropical-10: rgb(60.862359% 4.673015% 61.327438%);
    --palTropical-11: rgb(61.350851% 4.54806% 60.937502%);
    --palTropical-12: rgb(61.838721% 4.416151% 60.542001%);
    --palTropical-13: rgb(62.325899% 4.277693% 60.140609%);
    --palTropical-14: rgb(62.812219% 4.133374% 59.733216%);
    --palTropical-15: rgb(63.297595% 3.982967% 59.319535%);
    --palTropical-16: rgb(63.781889% 3.829265% 58.899395%);
    --palTropical-17: rgb(64.264953% 3.675466% 58.472657%);
    --palTropical-18: rgb(64.746668% 3.522607% 58.039113%);
    --palTropical-19: rgb(65.226902% 3.371776% 57.598584%);
    --palTropical-20: rgb(65.705489% 3.224182% 57.150985%);
    --palTropical-21: rgb(66.18228% 3.081001% 56.696189%);
    --palTropical-22: rgb(66.657121% 2.943445% 56.234081%);
    --palTropical-23: rgb(67.129853% 2.812765% 55.764566%);
    --palTropical-24: rgb(67.600321% 2.690227% 55.287541%);
    --palTropical-25: rgb(68.068345% 2.577189% 54.802973%);
    --palTropical-26: rgb(68.533748% 2.475027% 54.310825%);
    --palTropical-27: rgb(68.996351% 2.385154% 53.811074%);
    --palTropical-28: rgb(69.455968% 2.309028% 53.303718%);
    --palTropical-29: rgb(69.91241% 2.248146% 52.788771%);
    --palTropical-30: rgb(70.365492% 2.204027% 52.266239%);
    --palTropical-31: rgb(70.815008% 2.178275% 51.736197%);
    --palTropical-32: rgb(71.260754% 2.172528% 51.198731%);
    --palTropical-33: rgb(71.702522% 2.188464% 50.653942%);
    --palTropical-34: rgb(72.140099% 2.227802% 50.101956%);
    --palTropical-35: rgb(72.573281% 2.292279% 49.542874%);
    --palTropical-36: rgb(73.001853% 2.3837% 48.976861%);
    --palTropical-37: rgb(73.425579% 2.503938% 48.404156%);
    --palTropical-38: rgb(73.84425% 2.654848% 47.824923%);
    --palTropical-39: rgb(74.257644% 2.838346% 47.239388%);
    --palTropical-40: rgb(74.665521% 3.056407% 46.647869%);
    --palTropical-41: rgb(75.067679% 3.310966% 46.050537%);
    --palTropical-42: rgb(75.463868% 3.604071% 45.447817%);
    --palTropical-43: rgb(75.853889% 3.937705% 44.83991%);
    --palTropical-44: rgb(76.237498% 4.304459% 44.227269%);
    --palTropical-45: rgb(76.61449% 4.692205% 43.610189%);
    --palTropical-46: rgb(76.984645% 5.100055% 42.989086%);
    --palTropical-47: rgb(77.347747% 5.526275% 42.364388%);
    --palTropical-48: rgb(77.703604% 5.96926% 41.736452%);
    --palTropical-49: rgb(78.052008% 6.427545% 41.105769%);
    --palTropical-50: rgb(78.39277% 6.899791% 40.472794%);
    --palTropical-51: rgb(78.725713% 7.384778% 39.837975%);
    --palTropical-52: rgb(79.050667% 7.881402% 39.201764%);
    --palTropical-53: rgb(79.36747% 8.388646% 38.564673%);
    --palTropical-54: rgb(79.675976% 8.905583% 37.927182%);
    --palTropical-55: rgb(79.976051% 9.431365% 37.289773%);
    --palTropical-56: rgb(80.267575% 9.965207% 36.652927%);
    --palTropical-57: rgb(80.550444% 10.506387% 36.01712%);
    --palTropical-58: rgb(80.824566% 11.05423% 35.382818%);
    --palTropical-59: rgb(81.089868% 11.608107% 34.750486%);
    --palTropical-60: rgb(81.34629% 12.167429% 34.120571%);
    --palTropical-61: rgb(81.59379% 12.731644% 33.493497%);
    --palTropical-62: rgb(81.83234% 13.300231% 32.869674%);
    --palTropical-63: rgb(82.06193% 13.872703% 32.249484%);
    --palTropical-64: rgb(82.282562% 14.448597% 31.63329%);
    --palTropical-65: rgb(82.494256% 15.027477% 31.021425%);
    --palTropical-66: rgb(82.697044% 15.608933% 30.414196%);
    --palTropical-67: rgb(82.890971% 16.192577% 29.811878%);
    --palTropical-68: rgb(83.076096% 16.778046% 29.214719%);
    --palTropical-69: rgb(83.252488% 17.364996% 28.622935%);
    --palTropical-70: rgb(83.420228% 17.953105% 28.036713%);
    --palTropical-71: rgb(83.579403% 18.542075% 27.456203%);
    --palTropical-72: rgb(83.730109% 19.131627% 26.881525%);
    --palTropical-73: rgb(83.872451% 19.721502% 26.312771%);
    --palTropical-74: rgb(84.006537% 20.311461% 25.750001%);
    --palTropical-75: rgb(84.13248% 20.901284% 25.193246%);
    --palTropical-76: rgb(84.250398% 21.490764% 24.64252%);
    --palTropical-77: rgb(84.360412% 22.079711% 24.097808%);
    --palTropical-78: rgb(84.46264% 22.667967% 23.559052%);
    --palTropical-79: rgb(84.557203% 23.255381% 23.02618%);
    --palTropical-80: rgb(84.64422% 23.841815% 22.499105%);
    --palTropical-81: rgb(84.723819% 24.427132% 21.977746%);
    --palTropical-82: rgb(84.796109% 25.011245% 21.461939%);
    --palTropical-83: rgb(84.861202% 25.594061% 20.951537%);
    --palTropical-84: rgb(84.919225% 26.175472% 20.446427%);
    --palTropical-85: rgb(84.970271% 26.755435% 19.946387%);
    --palTropical-86: rgb(85.014449% 27.333884% 19.451245%);
    --palTropical-87: rgb(85.051865% 27.910758% 18.960826%);
    --palTropical-88: rgb(85.082598% 28.486043% 18.474878%);
    --palTropical-89: rgb(85.106762% 29.059669% 17.993253%);
    --palTropical-90: rgb(85.124415% 29.631659% 17.515656%);
    --palTropical-91: rgb(85.135664% 30.20195% 17.041934%);
    --palTropical-92: rgb(85.140556% 30.770579% 16.571782%);
    --palTropical-93: rgb(85.139186% 31.337501% 16.105031%);
    --palTropical-94: rgb(85.131595% 31.90275% 15.641389%);
    --palTropical-95: rgb(85.117852% 32.466319% 15.18064%);
    --palTropical-96: rgb(85.09801% 33.028216% 14.722544%);
    --palTropical-97: rgb(85.072104% 33.588475% 14.266829%);
    --palTropical-98: rgb(85.040192% 34.14709% 13.81329%);
    --palTropical-99: rgb(85.0023% 34.704095% 13.361666%);
    --palTropical-100: rgb(84.958455% 35.259523% 12.911701%);
    --palTropical-101: rgb(84.908687% 35.813391% 12.463171%);
    --palTropical-102: rgb(84.853026% 36.365717% 12.015859%);
    --palTropical-103: rgb(84.791475% 36.916547% 11.569506%);
    --palTropical-104: rgb(84.724045% 37.465912% 11.123888%);
    --palTropical-105: rgb(84.650743% 38.013842% 10.67879%);
    --palTropical-106: rgb(84.571579% 38.560359% 10.234018%);
    --palTropical-107: rgb(84.48655% 39.105501% 9.789367%);
    --palTropical-108: rgb(84.395643% 39.649305% 9.344641%);
    --palTropical-109: rgb(84.298849% 40.191804% 8.899672%);
    --palTropical-110: rgb(84.196153% 40.73303% 8.454308%);
    --palTropical-111: rgb(84.08754% 41.273015% 8.008424%);
    --palTropical-112: rgb(83.972988% 41.81179% 7.561925%);
    --palTropical-113: rgb(83.852473% 42.349386% 7.114753%);
    --palTropical-114: rgb(83.725967% 42.885833% 6.666897%);
    --palTropical-115: rgb(83.593441% 43.421159% 6.218408%);
    --palTropical-116: rgb(83.454862% 43.955392% 5.769412%);
    --palTropical-117: rgb(83.310194% 44.488559% 5.320136%);
    --palTropical-118: rgb(83.159399% 45.020686% 4.870934%);
    --palTropical-119: rgb(83.002435% 45.551796% 4.422324%);
    --palTropical-120: rgb(82.839261% 46.081911% 3.974216%);
    --palTropical-121: rgb(82.669832% 46.611053% 3.540953%);
    --palTropical-122: rgb(82.4941% 47.139241% 3.13986%);
    --palTropical-123: rgb(82.312017% 47.666492% 2.7712%);
    --palTropical-124: rgb(82.123534% 48.192824% 2.435299%);
    --palTropical-125: rgb(81.928597% 48.718251% 2.132545%);
    --palTropical-126: rgb(81.727153% 49.242785% 1.863384%);
    --palTropical-127: rgb(81.519149% 49.766439% 1.628324%);
    --palTropical-128: rgb(81.304526% 50.289221% 1.427932%);
    --palTropical-129: rgb(81.083233% 50.811136% 1.262838%);
    --palTropical-130: rgb(80.855209% 51.332192% 1.133724%);
    --palTropical-131: rgb(80.62039% 51.852397% 1.041329%);
    --palTropical-132: rgb(80.378714% 52.371753% 0.986456%);
    --palTropical-133: rgb(80.13012% 52.890263% 0.969965%);
    --palTropical-134: rgb(79.874541% 53.407928% 0.992776%);
    --palTropical-135: rgb(79.611913% 53.924747% 1.055866%);
    --palTropical-136: rgb(79.342175% 54.440712% 1.160276%);
    --palTropical-137: rgb(79.065251% 54.955827% 1.3071%);
    --palTropical-138: rgb(78.78107% 55.470087% 1.497493%);
    --palTropical-139: rgb(78.489559% 55.983486% 1.732677%);
    --palTropical-140: rgb(78.190645% 56.496019% 2.01393%);
    --palTropical-141: rgb(77.884252% 57.007675% 2.342598%);
    --palTropical-142: rgb(77.570301% 57.518449% 2.720086%);
    --palTropical-143: rgb(77.248708% 58.028332% 3.14787%);
    --palTropical-144: rgb(76.919389% 58.537316% 3.627489%);
    --palTropical-145: rgb(76.582256% 59.045388% 4.157678%);
    --palTropical-146: rgb(76.23722% 59.552539% 4.704716%);
    --palTropical-147: rgb(75.884188% 60.058757% 5.26093%);
    --palTropical-148: rgb(75.523059% 60.564031% 5.825116%);
    --palTropical-149: rgb(75.153734% 61.068347% 6.396368%);
    --palTropical-150: rgb(74.776108% 61.571693% 6.97401%);
    --palTropical-151: rgb(74.390069% 62.074056% 7.557546%);
    --palTropical-152: rgb(73.995504% 62.575421% 8.146611%);
    --palTropical-153: rgb(73.592294% 63.075773% 8.740952%);
    --palTropical-154: rgb(73.180317% 63.575097% 9.340396%);
    --palTropical-155: rgb(72.759444% 64.073377% 9.944836%);
    --palTropical-156: rgb(72.329536% 64.570597% 10.554222%);
    --palTropical-157: rgb(71.890457% 65.066738% 11.168542%);
    --palTropical-158: rgb(71.442064% 65.561782% 11.787819%);
    --palTropical-159: rgb(70.984205% 66.055709% 12.412104%);
    --palTropical-160: rgb(70.516726% 66.548496% 13.041474%);
    --palTropical-161: rgb(70.03946% 67.040125% 13.676024%);
    --palTropical-162: rgb(69.55224% 67.53057% 14.315866%);
    --palTropical-163: rgb(69.054897% 68.019806% 14.961124%);
    --palTropical-164: rgb(68.547252% 68.507803% 15.611932%);
    --palTropical-165: rgb(68.029123% 68.994534% 16.268439%);
    --palTropical-166: rgb(67.50032% 69.479965% 16.930799%);
    --palTropical-167: rgb(66.960646% 69.964065% 17.599179%);
    --palTropical-168: rgb(66.409902% 70.446796% 18.273747%);
    --palTropical-169: rgb(65.847892% 70.928116% 18.954675%);
    --palTropical-170: rgb(65.274412% 71.407982% 19.642142%);
    --palTropical-171: rgb(64.689253% 71.886348% 20.336329%);
    --palTropical-172: rgb(64.092206% 72.363162% 21.037422%);
    --palTropical-173: rgb(63.483059% 72.83837% 21.745606%);
    --palTropical-174: rgb(62.861601% 73.311914% 22.46107%);
    --palTropical-175: rgb(62.227614% 73.783732% 23.184004%);
    --palTropical-176: rgb(61.580897% 74.253753% 23.914588%);
    --palTropical-177: rgb(60.921244% 74.721905% 24.653006%);
    --palTropical-178: rgb(60.248455% 75.188108% 25.399437%);
    --palTropical-179: rgb(59.562335% 75.65228% 26.154056%);
    --palTropical-180: rgb(58.862695% 76.114331% 26.917031%);
    --palTropical-181: rgb(58.149359% 76.574166% 27.688525%);
    --palTropical-182: rgb(57.422159% 77.031683% 28.46869%);
    --palTropical-183: rgb(56.680942% 77.486778% 29.25767%);
    --palTropical-184: rgb(55.925572% 77.939336% 30.055596%);
    --palTropical-185: rgb(55.155928% 78.389241% 30.862585%);
    --palTropical-186: rgb(54.371913% 78.836367% 31.678743%);
    --palTropical-187: rgb(53.57345% 79.280585% 32.504155%);
    --palTropical-188: rgb(52.76049% 79.721761% 33.338891%);
    --palTropical-189: rgb(51.933015% 80.159753% 34.182998%);
    --palTropical-190: rgb(51.091035% 80.594418% 35.036505%);
    --palTropical-191: rgb(50.234597% 81.025606% 35.899416%);
    --palTropical-192: rgb(49.363785% 81.453165% 36.771712%);
    --palTropical-193: rgb(48.478724% 81.876939% 37.653346%);
    --palTropical-194: rgb(47.579584% 82.296771% 38.544246%);
    --palTropical-195: rgb(46.666582% 82.712501% 39.444311%);
    --palTropical-196: rgb(45.739987% 83.123971% 40.353412%);
    --palTropical-197: rgb(44.80012% 83.531019% 41.271388%);
    --palTropical-198: rgb(43.847363% 83.933488% 42.198049%);
    --palTropical-199: rgb(42.882156% 84.331224% 43.133175%);
    --palTropical-200: rgb(41.905005% 84.724072% 44.076517%);
    --palTropical-201: rgb(40.916483% 85.111888% 45.027794%);
    --palTropical-202: rgb(39.917249% 85.494527% 45.98669%);
    --palTropical-203: rgb(38.908045% 85.871854% 46.952857%);
    --palTropical-204: rgb(37.889654% 86.243745% 47.925944%);
    --palTropical-205: rgb(36.862966% 86.610083% 48.905566%);
    --palTropical-206: rgb(35.828964% 86.970762% 49.891313%);
    --palTropical-207: rgb(34.788725% 87.325686% 50.88276%);
    --palTropical-208: rgb(33.743494% 87.674768% 51.879427%);
    --palTropical-209: rgb(32.694603% 88.017936% 52.880839%);
    --palTropical-210: rgb(31.643427% 88.355138% 53.886564%);
    --palTropical-211: rgb(30.591537% 88.68633% 54.896129%);
    --palTropical-212: rgb(29.540838% 89.011474% 55.908952%);
    --palTropical-213: rgb(28.493164% 89.33056% 56.924602%);
    --palTropical-214: rgb(27.450569% 89.643592% 57.94264%);
    --palTropical-215: rgb(26.41572% 89.950568% 58.962406%);
    --palTropical-216: rgb(25.390975% 90.251531% 59.98359%);
    --palTropical-217: rgb(24.379475% 90.546512% 61.00561%);
    --palTropical-218: rgb(23.384436% 90.83557% 62.028055%);
    --palTropical-219: rgb(22.409624% 91.118769% 63.050437%);
    --palTropical-220: rgb(21.459076% 91.396191% 64.072381%);
    --palTropical-221: rgb(20.537615% 91.667923% 65.093355%);
    --palTropical-222: rgb(19.65009% 91.93407% 66.113144%);
    --palTropical-223: rgb(18.802519% 92.194739% 67.131172%);
    --palTropical-224: rgb(18.000958% 92.450052% 68.1472%);
    --palTropical-225: rgb(17.252068% 92.700139% 69.160949%);
    --palTropical-226: rgb(16.563088% 92.945133% 70.172061%);
    --palTropical-227: rgb(15.941552% 93.185177% 71.180153%);
    --palTropical-228: rgb(15.394631% 93.420419% 72.185109%);
    --palTropical-229: rgb(14.929371% 93.651011% 73.186693%);
    --palTropical-230: rgb(14.552056% 93.877108% 74.184696%);
    --palTropical-231: rgb(14.267763% 94.09887% 75.178939%);
    --palTropical-232: rgb(14.079933% 94.31646% 76.169269%);
    --palTropical-233: rgb(13.990036% 94.53004% 77.155565%);
    --palTropical-234: rgb(13.997391% 94.739774% 78.137734%);
    --palTropical-235: rgb(14.099175% 94.945828% 79.115709%);
    --palTropical-236: rgb(14.290638% 95.148365% 80.089455%);
    --palTropical-237: rgb(14.565463% 95.347546% 81.058963%);
    --palTropical-238: rgb(14.916227% 95.543533% 82.02425%);
    --palTropical-239: rgb(15.334884% 95.736486% 82.985328%);
    --palTropical-240: rgb(15.8132% 95.926575% 83.942078%);
    --palTropical-241: rgb(16.343017% 96.113938% 84.894778%);
    --palTropical-242: rgb(16.916656% 96.298723% 85.843548%);
    --palTropical-243: rgb(17.527005% 96.48109% 86.788344%);
    --palTropical-244: rgb(18.167605% 96.661184% 87.729297%);
    --palTropical-245: rgb(18.832745% 96.839121% 88.666775%);
    --palTropical-246: rgb(19.5173% 97.015069% 89.6006%);
    --palTropical-247: rgb(20.216919% 97.189127% 90.531247%);
    --palTropical-248: rgb(20.927745% 97.361437% 91.458761%);
    --palTropical-249: rgb(21.646507% 97.532109% 92.383407%);
    --palTropical-250: rgb(22.370382% 97.701262% 93.305384%);
    --palTropical-251: rgb(23.096998% 97.868993% 94.225002%);
    --palTropical-252: rgb(23.824254% 98.035424% 95.14235%);
    --palTropical-253: rgb(24.550556% 98.200612% 96.058006%);
    --palTropical-254: rgb(25.274256% 98.364704% 96.971787%);
    --palTropical-255: rgb(25.994303% 98.527734% 97.884366%);
    --palTropical-256: rgb(26.709688% 98.689776% 98.796051%);
}
