/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palVik-1: rgb(0.13282% 6.9836% 37.953%);
    --palVik-2: rgb(0.23664% 7.6475% 38.352%);
    --palVik-3: rgb(0.33042% 8.3083% 38.749%);
    --palVik-4: rgb(0.41459% 8.959% 39.148%);
    --palVik-5: rgb(0.48968% 9.5948% 39.545%);
    --palVik-6: rgb(0.55632% 10.227% 39.941%);
    --palVik-7: rgb(0.61512% 10.85% 40.339%);
    --palVik-8: rgb(0.66676% 11.469% 40.734%);
    --palVik-9: rgb(0.71192% 12.085% 41.129%);
    --palVik-10: rgb(0.75116% 12.696% 41.523%);
    --palVik-11: rgb(0.78503% 13.307% 41.917%);
    --palVik-12: rgb(0.81413% 13.909% 42.308%);
    --palVik-13: rgb(0.83912% 14.517% 42.701%);
    --palVik-14: rgb(0.86057% 15.114% 43.091%);
    --palVik-15: rgb(0.87895% 15.714% 43.481%);
    --palVik-16: rgb(0.89466% 16.315% 43.869%);
    --palVik-17: rgb(0.90802% 16.914% 44.259%);
    --palVik-18: rgb(0.91935% 17.51% 44.646%);
    --palVik-19: rgb(0.92897% 18.105% 45.034%);
    --palVik-20: rgb(0.93719% 18.705% 45.421%);
    --palVik-21: rgb(0.94431% 19.303% 45.808%);
    --palVik-22: rgb(0.95061% 19.9% 46.195%);
    --palVik-23: rgb(0.95639% 20.501% 46.582%);
    --palVik-24: rgb(0.96192% 21.102% 46.971%);
    --palVik-25: rgb(0.96751% 21.705% 47.357%);
    --palVik-26: rgb(0.97347% 22.308% 47.746%);
    --palVik-27: rgb(0.98019% 22.912% 48.135%);
    --palVik-28: rgb(0.98809% 23.521% 48.525%);
    --palVik-29: rgb(0.99771% 24.128% 48.916%);
    --palVik-30: rgb(1.0098% 24.739% 49.308%);
    --palVik-31: rgb(1.0254% 25.352% 49.702%);
    --palVik-32: rgb(1.0463% 25.968% 50.097%);
    --palVik-33: rgb(1.0755% 26.585% 50.494%);
    --palVik-34: rgb(1.1176% 27.204% 50.893%);
    --palVik-35: rgb(1.1716% 27.83% 51.292%);
    --palVik-36: rgb(1.2286% 28.455% 51.695%);
    --palVik-37: rgb(1.2934% 29.087% 52.1%);
    --palVik-38: rgb(1.379% 29.721% 52.507%);
    --palVik-39: rgb(1.4838% 30.358% 52.918%);
    --palVik-40: rgb(1.6131% 31.002% 53.331%);
    --palVik-41: rgb(1.7711% 31.647% 53.748%);
    --palVik-42: rgb(1.963% 32.299% 54.168%);
    --palVik-43: rgb(2.1948% 32.955% 54.593%);
    --palVik-44: rgb(2.473% 33.614% 55.021%);
    --palVik-45: rgb(2.8047% 34.283% 55.454%);
    --palVik-46: rgb(3.198% 34.954% 55.891%);
    --palVik-47: rgb(3.6812% 35.633% 56.334%);
    --palVik-48: rgb(4.2229% 36.317% 56.781%);
    --palVik-49: rgb(4.8008% 37.009% 57.235%);
    --palVik-50: rgb(5.4292% 37.708% 57.693%);
    --palVik-51: rgb(6.0963% 38.413% 58.157%);
    --palVik-52: rgb(6.8081% 39.126% 58.628%);
    --palVik-53: rgb(7.5457% 39.846% 59.104%);
    --palVik-54: rgb(8.3246% 40.574% 59.587%);
    --palVik-55: rgb(9.1425% 41.309% 60.075%);
    --palVik-56: rgb(9.9832% 42.05% 60.57%);
    --palVik-57: rgb(10.859% 42.8% 61.071%);
    --palVik-58: rgb(11.769% 43.557% 61.577%);
    --palVik-59: rgb(12.704% 44.319% 62.09%);
    --palVik-60: rgb(13.67% 45.089% 62.606%);
    --palVik-61: rgb(14.661% 45.864% 63.129%);
    --palVik-62: rgb(15.679% 46.646% 63.656%);
    --palVik-63: rgb(16.719% 47.432% 64.187%);
    --palVik-64: rgb(17.781% 48.224% 64.722%);
    --palVik-65: rgb(18.861% 49.019% 65.26%);
    --palVik-66: rgb(19.958% 49.819% 65.802%);
    --palVik-67: rgb(21.078% 50.62% 66.346%);
    --palVik-68: rgb(22.212% 51.426% 66.892%);
    --palVik-69: rgb(23.36% 52.232% 67.44%);
    --palVik-70: rgb(24.523% 53.041% 67.989%);
    --palVik-71: rgb(25.7% 53.852% 68.541%);
    --palVik-72: rgb(26.887% 54.662% 69.091%);
    --palVik-73: rgb(28.08% 55.472% 69.643%);
    --palVik-74: rgb(29.285% 56.282% 70.193%);
    --palVik-75: rgb(30.498% 57.091% 70.745%);
    --palVik-76: rgb(31.717% 57.9% 71.295%);
    --palVik-77: rgb(32.944% 58.706% 71.845%);
    --palVik-78: rgb(34.173% 59.512% 72.393%);
    --palVik-79: rgb(35.407% 60.316% 72.941%);
    --palVik-80: rgb(36.646% 61.119% 73.488%);
    --palVik-81: rgb(37.886% 61.919% 74.032%);
    --palVik-82: rgb(39.131% 62.716% 74.576%);
    --palVik-83: rgb(40.376% 63.511% 75.118%);
    --palVik-84: rgb(41.623% 64.305% 75.658%);
    --palVik-85: rgb(42.871% 65.096% 76.197%);
    --palVik-86: rgb(44.12% 65.884% 76.734%);
    --palVik-87: rgb(45.37% 66.67% 77.27%);
    --palVik-88: rgb(46.62% 67.454% 77.804%);
    --palVik-89: rgb(47.87% 68.235% 78.337%);
    --palVik-90: rgb(49.121% 69.014% 78.868%);
    --palVik-91: rgb(50.369% 69.791% 79.398%);
    --palVik-92: rgb(51.618% 70.566% 79.926%);
    --palVik-93: rgb(52.868% 71.339% 80.452%);
    --palVik-94: rgb(54.115% 72.109% 80.977%);
    --palVik-95: rgb(55.362% 72.878% 81.501%);
    --palVik-96: rgb(56.61% 73.644% 82.023%);
    --palVik-97: rgb(57.856% 74.409% 82.544%);
    --palVik-98: rgb(59.101% 75.172% 83.063%);
    --palVik-99: rgb(60.347% 75.931% 83.579%);
    --palVik-100: rgb(61.591% 76.69% 84.094%);
    --palVik-101: rgb(62.835% 77.445% 84.606%);
    --palVik-102: rgb(64.078% 78.199% 85.115%);
    --palVik-103: rgb(65.32% 78.949% 85.621%);
    --palVik-104: rgb(66.563% 79.694% 86.121%);
    --palVik-105: rgb(67.805% 80.437% 86.617%);
    --palVik-106: rgb(69.046% 81.174% 87.106%);
    --palVik-107: rgb(70.287% 81.905% 87.587%);
    --palVik-108: rgb(71.526% 82.629% 88.057%);
    --palVik-109: rgb(72.765% 83.344% 88.515%);
    --palVik-110: rgb(74.002% 84.048% 88.957%);
    --palVik-111: rgb(75.235% 84.738% 89.381%);
    --palVik-112: rgb(76.466% 85.413% 89.782%);
    --palVik-113: rgb(77.692% 86.068% 90.156%);
    --palVik-114: rgb(78.91% 86.699% 90.499%);
    --palVik-115: rgb(80.117% 87.303% 90.804%);
    --palVik-116: rgb(81.311% 87.874% 91.065%);
    --palVik-117: rgb(82.487% 88.406% 91.276%);
    --palVik-118: rgb(83.64% 88.893% 91.43%);
    --palVik-119: rgb(84.762% 89.329% 91.52%);
    --palVik-120: rgb(85.847% 89.707% 91.539%);
    --palVik-121: rgb(86.887% 90.021% 91.481%);
    --palVik-122: rgb(87.873% 90.264% 91.342%);
    --palVik-123: rgb(88.797% 90.43% 91.116%);
    --palVik-124: rgb(89.65% 90.518% 90.803%);
    --palVik-125: rgb(90.424% 90.522% 90.401%);
    --palVik-126: rgb(91.115% 90.442% 89.913%);
    --palVik-127: rgb(91.718% 90.28% 89.341%);
    --palVik-128: rgb(92.229% 90.037% 88.691%);
    --palVik-129: rgb(92.648% 89.717% 87.969%);
    --palVik-130: rgb(92.979% 89.326% 87.183%);
    --palVik-131: rgb(93.224% 88.87% 86.34%);
    --palVik-132: rgb(93.388% 88.355% 85.448%);
    --palVik-133: rgb(93.478% 87.789% 84.515%);
    --palVik-134: rgb(93.501% 87.18% 83.549%);
    --palVik-135: rgb(93.464% 86.531% 82.556%);
    --palVik-136: rgb(93.375% 85.852% 81.542%);
    --palVik-137: rgb(93.241% 85.147% 80.511%);
    --palVik-138: rgb(93.068% 84.421% 79.468%);
    --palVik-139: rgb(92.862% 83.678% 78.417%);
    --palVik-140: rgb(92.63% 82.921% 77.358%);
    --palVik-141: rgb(92.375% 82.154% 76.296%);
    --palVik-142: rgb(92.102% 81.38% 75.231%);
    --palVik-143: rgb(91.815% 80.6% 74.166%);
    --palVik-144: rgb(91.516% 79.816% 73.101%);
    --palVik-145: rgb(91.208% 79.029% 72.037%);
    --palVik-146: rgb(90.893% 78.242% 70.975%);
    --palVik-147: rgb(90.574% 77.454% 69.915%);
    --palVik-148: rgb(90.251% 76.667% 68.859%);
    --palVik-149: rgb(89.925% 75.881% 67.805%);
    --palVik-150: rgb(89.597% 75.097% 66.755%);
    --palVik-151: rgb(89.269% 74.315% 65.709%);
    --palVik-152: rgb(88.94% 73.535% 64.666%);
    --palVik-153: rgb(88.612% 72.757% 63.627%);
    --palVik-154: rgb(88.283% 71.983% 62.592%);
    --palVik-155: rgb(87.956% 71.211% 61.562%);
    --palVik-156: rgb(87.629% 70.442% 60.536%);
    --palVik-157: rgb(87.303% 69.676% 59.514%);
    --palVik-158: rgb(86.978% 68.914% 58.497%);
    --palVik-159: rgb(86.655% 68.154% 57.483%);
    --palVik-160: rgb(86.333% 67.398% 56.475%);
    --palVik-161: rgb(86.012% 66.645% 55.471%);
    --palVik-162: rgb(85.692% 65.896% 54.471%);
    --palVik-163: rgb(85.373% 65.15% 53.475%);
    --palVik-164: rgb(85.056% 64.406% 52.484%);
    --palVik-165: rgb(84.74% 63.667% 51.497%);
    --palVik-166: rgb(84.426% 62.93% 50.515%);
    --palVik-167: rgb(84.113% 62.196% 49.537%);
    --palVik-168: rgb(83.8% 61.465% 48.563%);
    --palVik-169: rgb(83.489% 60.739% 47.594%);
    --palVik-170: rgb(83.18% 60.014% 46.628%);
    --palVik-171: rgb(82.872% 59.294% 45.668%);
    --palVik-172: rgb(82.564% 58.576% 44.711%);
    --palVik-173: rgb(82.258% 57.86% 43.759%);
    --palVik-174: rgb(81.953% 57.148% 42.811%);
    --palVik-175: rgb(81.65% 56.439% 41.866%);
    --palVik-176: rgb(81.346% 55.733% 40.926%);
    --palVik-177: rgb(81.045% 55.028% 39.989%);
    --palVik-178: rgb(80.744% 54.327% 39.058%);
    --palVik-179: rgb(80.445% 53.629% 38.13%);
    --palVik-180: rgb(80.145% 52.933% 37.204%);
    --palVik-181: rgb(79.847% 52.238% 36.284%);
    --palVik-182: rgb(79.55% 51.546% 35.366%);
    --palVik-183: rgb(79.253% 50.857% 34.452%);
    --palVik-184: rgb(78.957% 50.169% 33.544%);
    --palVik-185: rgb(78.662% 49.483% 32.634%);
    --palVik-186: rgb(78.366% 48.798% 31.731%);
    --palVik-187: rgb(78.07% 48.112% 30.83%);
    --palVik-188: rgb(77.774% 47.43% 29.933%);
    --palVik-189: rgb(77.476% 46.746% 29.035%);
    --palVik-190: rgb(77.179% 46.062% 28.142%);
    --palVik-191: rgb(76.879% 45.378% 27.251%);
    --palVik-192: rgb(76.578% 44.693% 26.364%);
    --palVik-193: rgb(76.272% 44.005% 25.476%);
    --palVik-194: rgb(75.964% 43.315% 24.587%);
    --palVik-195: rgb(75.651% 42.62% 23.705%);
    --palVik-196: rgb(75.332% 41.922% 22.819%);
    --palVik-197: rgb(75.005% 41.216% 21.933%);
    --palVik-198: rgb(74.67% 40.503% 21.047%);
    --palVik-199: rgb(74.324% 39.782% 20.159%);
    --palVik-200: rgb(73.965% 39.049% 19.274%);
    --palVik-201: rgb(73.59% 38.306% 18.385%);
    --palVik-202: rgb(73.199% 37.547% 17.498%);
    --palVik-203: rgb(72.786% 36.774% 16.605%);
    --palVik-204: rgb(72.352% 35.985% 15.713%);
    --palVik-205: rgb(71.891% 35.177% 14.821%);
    --palVik-206: rgb(71.403% 34.35% 13.928%);
    --palVik-207: rgb(70.884% 33.505% 13.046%);
    --palVik-208: rgb(70.332% 32.635% 12.154%);
    --palVik-209: rgb(69.745% 31.75% 11.284%);
    --palVik-210: rgb(69.123% 30.846% 10.413%);
    --palVik-211: rgb(68.465% 29.926% 9.5633%);
    --palVik-212: rgb(67.773% 28.992% 8.735%);
    --palVik-213: rgb(67.048% 28.048% 7.9197%);
    --palVik-214: rgb(66.29% 27.102% 7.151%);
    --palVik-215: rgb(65.505% 26.152% 6.4079%);
    --palVik-216: rgb(64.697% 25.208% 5.7104%);
    --palVik-217: rgb(63.869% 24.271% 5.0618%);
    --palVik-218: rgb(63.026% 23.349% 4.475%);
    --palVik-219: rgb(62.172% 22.445% 3.9414%);
    --palVik-220: rgb(61.313% 21.566% 3.4829%);
    --palVik-221: rgb(60.454% 20.709% 3.1072%);
    --palVik-222: rgb(59.595% 19.874% 2.8212%);
    --palVik-223: rgb(58.74% 19.07% 2.6019%);
    --palVik-224: rgb(57.894% 18.292% 2.4396%);
    --palVik-225: rgb(57.054% 17.542% 2.3257%);
    --palVik-226: rgb(56.227% 16.817% 2.2523%);
    --palVik-227: rgb(55.408% 16.12% 2.211%);
    --palVik-228: rgb(54.601% 15.44% 2.1861%);
    --palVik-229: rgb(53.804% 14.785% 2.1737%);
    --palVik-230: rgb(53.018% 14.149% 2.1722%);
    --palVik-231: rgb(52.242% 13.528% 2.18%);
    --palVik-232: rgb(51.478% 12.921% 2.1957%);
    --palVik-233: rgb(50.721% 12.327% 2.2179%);
    --palVik-234: rgb(49.973% 11.749% 2.2455%);
    --palVik-235: rgb(49.235% 11.182% 2.2775%);
    --palVik-236: rgb(48.503% 10.621% 2.313%);
    --palVik-237: rgb(47.78% 10.061% 2.3513%);
    --palVik-238: rgb(47.064% 9.5156% 2.3916%);
    --palVik-239: rgb(46.353% 8.9668% 2.4336%);
    --palVik-240: rgb(45.649% 8.4258% 2.4766%);
    --palVik-241: rgb(44.952% 7.8741% 2.5203%);
    --palVik-242: rgb(44.26% 7.3404% 2.5644%);
    --palVik-243: rgb(43.574% 6.7904% 2.6084%);
    --palVik-244: rgb(42.892% 6.2415% 2.6522%);
    --palVik-245: rgb(42.215% 5.6832% 2.6954%);
    --palVik-246: rgb(41.544% 5.1116% 2.7378%);
    --palVik-247: rgb(40.877% 4.5352% 2.779%);
    --palVik-248: rgb(40.213% 3.9448% 2.8189%);
    --palVik-249: rgb(39.556% 3.3385% 2.857%);
    --palVik-250: rgb(38.902% 2.7844% 2.8932%);
    --palVik-251: rgb(38.25% 2.2586% 2.9271%);
    --palVik-252: rgb(37.603% 1.7608% 2.9583%);
    --palVik-253: rgb(36.958% 1.289% 2.9866%);
    --palVik-254: rgb(36.316% 0.82428% 3.0115%);
    --palVik-255: rgb(35.679% 0.40345% 3.0327%);
    --palVik-256: rgb(35.042% 0.006114% 3.0499%);
}
