/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palVikO-1: rgb(30.979% 10.09% 23.843%);
    --palVikO-2: rgb(30.692% 10.306% 24.318%);
    --palVikO-3: rgb(30.406% 10.526% 24.805%);
    --palVikO-4: rgb(30.121% 10.764% 25.296%);
    --palVikO-5: rgb(29.836% 11.017% 25.796%);
    --palVikO-6: rgb(29.551% 11.276% 26.307%);
    --palVikO-7: rgb(29.265% 11.545% 26.825%);
    --palVikO-8: rgb(28.98% 11.832% 27.354%);
    --palVikO-9: rgb(28.692% 12.122% 27.891%);
    --palVikO-10: rgb(28.406% 12.431% 28.434%);
    --palVikO-11: rgb(28.118% 12.753% 28.989%);
    --palVikO-12: rgb(27.83% 13.089% 29.552%);
    --palVikO-13: rgb(27.542% 13.435% 30.123%);
    --palVikO-14: rgb(27.249% 13.793% 30.704%);
    --palVikO-15: rgb(26.96% 14.163% 31.293%);
    --palVikO-16: rgb(26.666% 14.548% 31.89%);
    --palVikO-17: rgb(26.374% 14.942% 32.495%);
    --palVikO-18: rgb(26.079% 15.348% 33.107%);
    --palVikO-19: rgb(25.783% 15.771% 33.729%);
    --palVikO-20: rgb(25.491% 16.208% 34.356%);
    --palVikO-21: rgb(25.194% 16.655% 34.991%);
    --palVikO-22: rgb(24.899% 17.114% 35.633%);
    --palVikO-23: rgb(24.602% 17.586% 36.279%);
    --palVikO-24: rgb(24.308% 18.073% 36.931%);
    --palVikO-25: rgb(24.015% 18.575% 37.589%);
    --palVikO-26: rgb(23.728% 19.084% 38.251%);
    --palVikO-27: rgb(23.439% 19.609% 38.918%);
    --palVikO-28: rgb(23.155% 20.143% 39.588%);
    --palVikO-29: rgb(22.875% 20.694% 40.259%);
    --palVikO-30: rgb(22.6% 21.253% 40.935%);
    --palVikO-31: rgb(22.331% 21.825% 41.612%);
    --palVikO-32: rgb(22.071% 22.406% 42.289%);
    --palVikO-33: rgb(21.817% 23% 42.969%);
    --palVikO-34: rgb(21.576% 23.608% 43.648%);
    --palVikO-35: rgb(21.343% 24.222% 44.326%);
    --palVikO-36: rgb(21.128% 24.849% 45.004%);
    --palVikO-37: rgb(20.925% 25.484% 45.68%);
    --palVikO-38: rgb(20.741% 26.127% 46.354%);
    --palVikO-39: rgb(20.574% 26.779% 47.026%);
    --palVikO-40: rgb(20.429% 27.443% 47.695%);
    --palVikO-41: rgb(20.303% 28.113% 48.361%);
    --palVikO-42: rgb(20.203% 28.792% 49.024%);
    --palVikO-43: rgb(20.129% 29.478% 49.683%);
    --palVikO-44: rgb(20.083% 30.171% 50.338%);
    --palVikO-45: rgb(20.067% 30.874% 50.989%);
    --palVikO-46: rgb(20.082% 31.581% 51.636%);
    --palVikO-47: rgb(20.13% 32.294% 52.278%);
    --palVikO-48: rgb(20.213% 33.012% 52.917%);
    --palVikO-49: rgb(20.331% 33.737% 53.549%);
    --palVikO-50: rgb(20.484% 34.466% 54.177%);
    --palVikO-51: rgb(20.676% 35.201% 54.801%);
    --palVikO-52: rgb(20.9% 35.941% 55.42%);
    --palVikO-53: rgb(21.166% 36.686% 56.035%);
    --palVikO-54: rgb(21.466% 37.435% 56.644%);
    --palVikO-55: rgb(21.806% 38.186% 57.249%);
    --palVikO-56: rgb(22.181% 38.942% 57.849%);
    --palVikO-57: rgb(22.595% 39.701% 58.446%);
    --palVikO-58: rgb(23.04% 40.464% 59.037%);
    --palVikO-59: rgb(23.526% 41.231% 59.625%);
    --palVikO-60: rgb(24.039% 41.999% 60.208%);
    --palVikO-61: rgb(24.588% 42.771% 60.787%);
    --palVikO-62: rgb(25.172% 43.544% 61.361%);
    --palVikO-63: rgb(25.782% 44.319% 61.933%);
    --palVikO-64: rgb(26.424% 45.096% 62.499%);
    --palVikO-65: rgb(27.094% 45.875% 63.062%);
    --palVikO-66: rgb(27.791% 46.655% 63.62%);
    --palVikO-67: rgb(28.513% 47.436% 64.173%);
    --palVikO-68: rgb(29.262% 48.218% 64.724%);
    --palVikO-69: rgb(30.034% 48.999% 65.269%);
    --palVikO-70: rgb(30.829% 49.783% 65.811%);
    --palVikO-71: rgb(31.647% 50.564% 66.348%);
    --palVikO-72: rgb(32.484% 51.347% 66.879%);
    --palVikO-73: rgb(33.343% 52.127% 67.406%);
    --palVikO-74: rgb(34.22% 52.908% 67.927%);
    --palVikO-75: rgb(35.115% 53.686% 68.443%);
    --palVikO-76: rgb(36.026% 54.462% 68.955%);
    --palVikO-77: rgb(36.956% 55.236% 69.458%);
    --palVikO-78: rgb(37.901% 56.007% 69.956%);
    --palVikO-79: rgb(38.861% 56.775% 70.447%);
    --palVikO-80: rgb(39.834% 57.539% 70.931%);
    --palVikO-81: rgb(40.821% 58.298% 71.406%);
    --palVikO-82: rgb(41.82% 59.053% 71.873%);
    --palVikO-83: rgb(42.832% 59.803% 72.331%);
    --palVikO-84: rgb(43.853% 60.546% 72.78%);
    --palVikO-85: rgb(44.887% 61.283% 73.218%);
    --palVikO-86: rgb(45.928% 62.014% 73.644%);
    --palVikO-87: rgb(46.979% 62.734% 74.06%);
    --palVikO-88: rgb(48.036% 63.448% 74.462%);
    --palVikO-89: rgb(49.102% 64.15% 74.851%);
    --palVikO-90: rgb(50.172% 64.843% 75.226%);
    --palVikO-91: rgb(51.247% 65.525% 75.586%);
    --palVikO-92: rgb(52.327% 66.195% 75.929%);
    --palVikO-93: rgb(53.409% 66.852% 76.256%);
    --palVikO-94: rgb(54.494% 67.495% 76.565%);
    --palVikO-95: rgb(55.578% 68.123% 76.854%);
    --palVikO-96: rgb(56.664% 68.736% 77.124%);
    --palVikO-97: rgb(57.747% 69.332% 77.372%);
    --palVikO-98: rgb(58.828% 69.91% 77.598%);
    --palVikO-99: rgb(59.905% 70.47% 77.802%);
    --palVikO-100: rgb(60.976% 71.01% 77.981%);
    --palVikO-101: rgb(62.041% 71.529% 78.135%);
    --palVikO-102: rgb(63.096% 72.026% 78.263%);
    --palVikO-103: rgb(64.142% 72.501% 78.364%);
    --palVikO-104: rgb(65.177% 72.951% 78.438%);
    --palVikO-105: rgb(66.2% 73.377% 78.482%);
    --palVikO-106: rgb(67.207% 73.776% 78.496%);
    --palVikO-107: rgb(68.198% 74.149% 78.481%);
    --palVikO-108: rgb(69.173% 74.495% 78.434%);
    --palVikO-109: rgb(70.129% 74.812% 78.356%);
    --palVikO-110: rgb(71.064% 75.1% 78.246%);
    --palVikO-111: rgb(71.977% 75.357% 78.103%);
    --palVikO-112: rgb(72.866% 75.584% 77.928%);
    --palVikO-113: rgb(73.73% 75.781% 77.72%);
    --palVikO-114: rgb(74.568% 75.945% 77.478%);
    --palVikO-115: rgb(75.379% 76.078% 77.204%);
    --palVikO-116: rgb(76.161% 76.178% 76.897%);
    --palVikO-117: rgb(76.913% 76.246% 76.558%);
    --palVikO-118: rgb(77.635% 76.282% 76.186%);
    --palVikO-119: rgb(78.325% 76.286% 75.783%);
    --palVikO-120: rgb(78.982% 76.257% 75.349%);
    --palVikO-121: rgb(79.607% 76.197% 74.884%);
    --palVikO-122: rgb(80.198% 76.105% 74.39%);
    --palVikO-123: rgb(80.756% 75.982% 73.867%);
    --palVikO-124: rgb(81.279% 75.829% 73.316%);
    --palVikO-125: rgb(81.768% 75.645% 72.738%);
    --palVikO-126: rgb(82.224% 75.433% 72.135%);
    --palVikO-127: rgb(82.645% 75.191% 71.507%);
    --palVikO-128: rgb(83.032% 74.922% 70.856%);
    --palVikO-129: rgb(83.386% 74.627% 70.181%);
    --palVikO-130: rgb(83.707% 74.306% 69.486%);
    --palVikO-131: rgb(83.996% 73.96% 68.771%);
    --palVikO-132: rgb(84.252% 73.588% 68.036%);
    --palVikO-133: rgb(84.477% 73.195% 67.285%);
    --palVikO-134: rgb(84.672% 72.779% 66.516%);
    --palVikO-135: rgb(84.838% 72.343% 65.733%);
    --palVikO-136: rgb(84.974% 71.887% 64.934%);
    --palVikO-137: rgb(85.082% 71.411% 64.122%);
    --palVikO-138: rgb(85.164% 70.918% 63.299%);
    --palVikO-139: rgb(85.22% 70.406% 62.464%);
    --palVikO-140: rgb(85.25% 69.879% 61.619%);
    --palVikO-141: rgb(85.256% 69.337% 60.765%);
    --palVikO-142: rgb(85.238% 68.779% 59.901%);
    --palVikO-143: rgb(85.198% 68.208% 59.03%);
    --palVikO-144: rgb(85.135% 67.624% 58.153%);
    --palVikO-145: rgb(85.052% 67.028% 57.27%);
    --palVikO-146: rgb(84.95% 66.419% 56.381%);
    --palVikO-147: rgb(84.827% 65.799% 55.487%);
    --palVikO-148: rgb(84.686% 65.169% 54.589%);
    --palVikO-149: rgb(84.527% 64.528% 53.688%);
    --palVikO-150: rgb(84.35% 63.879% 52.782%);
    --palVikO-151: rgb(84.157% 63.22% 51.875%);
    --palVikO-152: rgb(83.948% 62.552% 50.965%);
    --palVikO-153: rgb(83.723% 61.876% 50.053%);
    --palVikO-154: rgb(83.482% 61.191% 49.142%);
    --palVikO-155: rgb(83.226% 60.499% 48.228%);
    --palVikO-156: rgb(82.956% 59.798% 47.312%);
    --palVikO-157: rgb(82.672% 59.091% 46.399%);
    --palVikO-158: rgb(82.372% 58.376% 45.485%);
    --palVikO-159: rgb(82.06% 57.655% 44.57%);
    --palVikO-160: rgb(81.733% 56.924% 43.657%);
    --palVikO-161: rgb(81.392% 56.189% 42.746%);
    --palVikO-162: rgb(81.038% 55.445% 41.834%);
    --palVikO-163: rgb(80.671% 54.695% 40.925%);
    --palVikO-164: rgb(80.289% 53.937% 40.018%);
    --palVikO-165: rgb(79.894% 53.172% 39.114%);
    --palVikO-166: rgb(79.485% 52.401% 38.211%);
    --palVikO-167: rgb(79.062% 51.622% 37.312%);
    --palVikO-168: rgb(78.625% 50.837% 36.416%);
    --palVikO-169: rgb(78.173% 50.043% 35.526%);
    --palVikO-170: rgb(77.707% 49.243% 34.637%);
    --palVikO-171: rgb(77.227% 48.436% 33.755%);
    --palVikO-172: rgb(76.731% 47.623% 32.878%);
    --palVikO-173: rgb(76.221% 46.802% 32.008%);
    --palVikO-174: rgb(75.697% 45.974% 31.141%);
    --palVikO-175: rgb(75.157% 45.14% 30.283%);
    --palVikO-176: rgb(74.602% 44.3% 29.434%);
    --palVikO-177: rgb(74.032% 43.452% 28.593%);
    --palVikO-178: rgb(73.447% 42.599% 27.763%);
    --palVikO-179: rgb(72.846% 41.741% 26.943%);
    --palVikO-180: rgb(72.231% 40.876% 26.133%);
    --palVikO-181: rgb(71.602% 40.008% 25.336%);
    --palVikO-182: rgb(70.958% 39.136% 24.551%);
    --palVikO-183: rgb(70.3% 38.259% 23.784%);
    --palVikO-184: rgb(69.628% 37.381% 23.028%);
    --palVikO-185: rgb(68.944% 36.499% 22.293%);
    --palVikO-186: rgb(68.246% 35.617% 21.574%);
    --palVikO-187: rgb(67.538% 34.735% 20.873%);
    --palVikO-188: rgb(66.819% 33.852% 20.192%);
    --palVikO-189: rgb(66.089% 32.973% 19.535%);
    --palVikO-190: rgb(65.35% 32.095% 18.9%);
    --palVikO-191: rgb(64.604% 31.219% 18.286%);
    --palVikO-192: rgb(63.85% 30.351% 17.7%);
    --palVikO-193: rgb(63.092% 29.488% 17.138%);
    --palVikO-194: rgb(62.328% 28.632% 16.602%);
    --palVikO-195: rgb(61.56% 27.787% 16.097%);
    --palVikO-196: rgb(60.792% 26.95% 15.619%);
    --palVikO-197: rgb(60.022% 26.122% 15.165%);
    --palVikO-198: rgb(59.253% 25.308% 14.746%);
    --palVikO-199: rgb(58.486% 24.505% 14.353%);
    --palVikO-200: rgb(57.721% 23.721% 13.988%);
    --palVikO-201: rgb(56.961% 22.946% 13.656%);
    --palVikO-202: rgb(56.209% 22.19% 13.356%);
    --palVikO-203: rgb(55.461% 21.451% 13.084%);
    --palVikO-204: rgb(54.721% 20.731% 12.838%);
    --palVikO-205: rgb(53.99% 20.025% 12.623%);
    --palVikO-206: rgb(53.27% 19.344% 12.431%);
    --palVikO-207: rgb(52.56% 18.679% 12.269%);
    --palVikO-208: rgb(51.862% 18.034% 12.135%);
    --palVikO-209: rgb(51.174% 17.413% 12.028%);
    --palVikO-210: rgb(50.5% 16.809% 11.946%);
    --palVikO-211: rgb(49.839% 16.231% 11.889%);
    --palVikO-212: rgb(49.191% 15.672% 11.853%);
    --palVikO-213: rgb(48.556% 15.132% 11.838%);
    --palVikO-214: rgb(47.937% 14.618% 11.844%);
    --palVikO-215: rgb(47.329% 14.126% 11.87%);
    --palVikO-216: rgb(46.739% 13.65% 11.913%);
    --palVikO-217: rgb(46.161% 13.203% 11.974%);
    --palVikO-218: rgb(45.597% 12.774% 12.054%);
    --palVikO-219: rgb(45.047% 12.364% 12.15%);
    --palVikO-220: rgb(44.511% 11.98% 12.263%);
    --palVikO-221: rgb(43.989% 11.62% 12.393%);
    --palVikO-222: rgb(43.479% 11.277% 12.538%);
    --palVikO-223: rgb(42.983% 10.956% 12.692%);
    --palVikO-224: rgb(42.5% 10.654% 12.863%);
    --palVikO-225: rgb(42.027% 10.371% 13.049%);
    --palVikO-226: rgb(41.568% 10.106% 13.241%);
    --palVikO-227: rgb(41.12% 9.8655% 13.449%);
    --palVikO-228: rgb(40.683% 9.6378% 13.662%);
    --palVikO-229: rgb(40.256% 9.442% 13.89%);
    --palVikO-230: rgb(39.84% 9.2523% 14.132%);
    --palVikO-231: rgb(39.433% 9.0892% 14.379%);
    --palVikO-232: rgb(39.036% 8.9396% 14.636%);
    --palVikO-233: rgb(38.647% 8.809% 14.904%);
    --palVikO-234: rgb(38.268% 8.6971% 15.18%);
    --palVikO-235: rgb(37.896% 8.5915% 15.466%);
    --palVikO-236: rgb(37.531% 8.5142% 15.761%);
    --palVikO-237: rgb(37.174% 8.4549% 16.064%);
    --palVikO-238: rgb(36.825% 8.407% 16.38%);
    --palVikO-239: rgb(36.48% 8.3717% 16.7%);
    --palVikO-240: rgb(36.142% 8.3521% 17.027%);
    --palVikO-241: rgb(35.81% 8.3485% 17.363%);
    --palVikO-242: rgb(35.484% 8.3605% 17.709%);
    --palVikO-243: rgb(35.16% 8.3878% 18.06%);
    --palVikO-244: rgb(34.843% 8.4281% 18.422%);
    --palVikO-245: rgb(34.529% 8.4781% 18.793%);
    --palVikO-246: rgb(34.219% 8.5387% 19.167%);
    --palVikO-247: rgb(33.913% 8.6179% 19.552%);
    --palVikO-248: rgb(33.609% 8.7176% 19.943%);
    --palVikO-249: rgb(33.31% 8.819% 20.346%);
    --palVikO-250: rgb(33.012% 8.9356% 20.755%);
    --palVikO-251: rgb(32.715% 9.0652% 21.172%);
    --palVikO-252: rgb(32.422% 9.2078% 21.597%);
    --palVikO-253: rgb(32.131% 9.3564% 22.031%);
    --palVikO-254: rgb(31.841% 9.5269% 22.468%);
    --palVikO-255: rgb(31.553% 9.6976% 22.92%);
    --palVikO-256: rgb(31.264% 9.8899% 23.377%);
}
