/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palVoltage-1: rgb(0% 0% 0%);
    --palVoltage-2: rgb(0.031246% 0.020111% 0.025627%);
    --palVoltage-3: rgb(0.112231% 0.068156% 0.090515%);
    --palVoltage-4: rgb(0.239896% 0.13819% 0.190777%);
    --palVoltage-5: rgb(0.413895% 0.227217% 0.325294%);
    --palVoltage-6: rgb(0.634537% 0.333163% 0.49374%);
    --palVoltage-7: rgb(0.902409% 0.454421% 0.696179%);
    --palVoltage-8: rgb(1.218267% 0.589658% 0.932927%);
    --palVoltage-9: rgb(1.582945% 0.737731% 1.204468%);
    --palVoltage-10: rgb(1.997325% 0.897635% 1.511413%);
    --palVoltage-11: rgb(2.46234% 1.068456% 1.854486%);
    --palVoltage-12: rgb(2.978979% 1.249342% 2.234523%);
    --palVoltage-13: rgb(3.548237% 1.439508% 2.652436%);
    --palVoltage-14: rgb(4.167864% 1.638226% 3.109205%);
    --palVoltage-15: rgb(4.793582% 1.844783% 3.605917%);
    --palVoltage-16: rgb(5.415654% 2.05849% 4.141397%);
    --palVoltage-17: rgb(6.034557% 2.278724% 4.682409%);
    --palVoltage-18: rgb(6.650808% 2.504817% 5.222469%);
    --palVoltage-19: rgb(7.264753% 2.736176% 5.762094%);
    --palVoltage-20: rgb(7.876737% 2.97219% 6.301786%);
    --palVoltage-21: rgb(8.487075% 3.212247% 6.842017%);
    --palVoltage-22: rgb(9.095989% 3.455789% 7.383177%);
    --palVoltage-23: rgb(9.703748% 3.702196% 7.925694%);
    --palVoltage-24: rgb(10.310516% 3.950925% 8.469904%);
    --palVoltage-25: rgb(10.91649% 4.197056% 9.016173%);
    --palVoltage-26: rgb(11.521837% 4.434927% 9.564841%);
    --palVoltage-27: rgb(12.12665% 4.665645% 10.116184%);
    --palVoltage-28: rgb(12.731142% 4.889222% 10.670591%);
    --palVoltage-29: rgb(13.335353% 5.105807% 11.228296%);
    --palVoltage-30: rgb(13.939383% 5.315462% 11.78959%);
    --palVoltage-31: rgb(14.543374% 5.518173% 12.354815%);
    --palVoltage-32: rgb(15.147372% 5.714% 12.924223%);
    --palVoltage-33: rgb(15.751435% 5.902971% 13.498083%);
    --palVoltage-34: rgb(16.355626% 6.08508% 14.076677%);
    --palVoltage-35: rgb(16.96% 6.26031% 14.660287%);
    --palVoltage-36: rgb(17.564611% 6.428622% 15.249203%);
    --palVoltage-37: rgb(18.1695% 6.589972% 15.843708%);
    --palVoltage-38: rgb(18.774677% 6.74433% 16.444064%);
    --palVoltage-39: rgb(19.380164% 6.891635% 17.050552%);
    --palVoltage-40: rgb(19.985972% 7.031815% 17.663454%);
    --palVoltage-41: rgb(20.592106% 7.164791% 18.283055%);
    --palVoltage-42: rgb(21.198587% 7.290437% 18.909673%);
    --palVoltage-43: rgb(21.805388% 7.408672% 19.543581%);
    --palVoltage-44: rgb(22.412484% 7.519393% 20.185063%);
    --palVoltage-45: rgb(23.019844% 7.622486% 20.834412%);
    --palVoltage-46: rgb(23.627427% 7.717828% 21.491919%);
    --palVoltage-47: rgb(24.235253% 7.805177% 22.157986%);
    --palVoltage-48: rgb(24.843203% 7.884488% 22.832824%);
    --palVoltage-49: rgb(25.451222% 7.955585% 23.51676%);
    --palVoltage-50: rgb(26.059284% 8.018223% 24.210183%);
    --palVoltage-51: rgb(26.667241% 8.072334% 24.913312%);
    --palVoltage-52: rgb(27.275065% 8.117617% 25.626577%);
    --palVoltage-53: rgb(27.8826% 8.153962% 26.350227%);
    --palVoltage-54: rgb(28.489723% 8.181183% 27.084577%);
    --palVoltage-55: rgb(29.096358% 8.198959% 27.830065%);
    --palVoltage-56: rgb(29.702302% 8.207192% 28.586912%);
    --palVoltage-57: rgb(30.307395% 8.205667% 29.355451%);
    --palVoltage-58: rgb(30.911459% 8.194169% 30.136007%);
    --palVoltage-59: rgb(31.514295% 8.1725% 30.92889%);
    --palVoltage-60: rgb(32.11568% 8.140474% 31.734395%);
    --palVoltage-61: rgb(32.715368% 8.09793% 32.552795%);
    --palVoltage-62: rgb(33.313088% 8.044737% 33.384339%);
    --palVoltage-63: rgb(33.908542% 7.980801% 34.229246%);
    --palVoltage-64: rgb(34.501425% 7.906022% 35.087753%);
    --palVoltage-65: rgb(35.091402% 7.820361% 35.960048%);
    --palVoltage-66: rgb(35.678059% 7.724% 36.846149%);
    --palVoltage-67: rgb(36.261051% 7.616906% 37.74629%);
    --palVoltage-68: rgb(36.839888% 7.499522% 38.660322%);
    --palVoltage-69: rgb(37.414151% 7.372084% 39.588331%);
    --palVoltage-70: rgb(37.983327% 7.235224% 40.530123%);
    --palVoltage-71: rgb(38.546889% 7.089703% 41.485479%);
    --palVoltage-72: rgb(39.104291% 6.936492% 42.454112%);
    --palVoltage-73: rgb(39.654956% 6.776848% 43.435623%);
    --palVoltage-74: rgb(40.198284% 6.612364% 44.429498%);
    --palVoltage-75: rgb(40.733651% 6.445017% 45.435099%);
    --palVoltage-76: rgb(41.260418% 6.277218% 46.451665%);
    --palVoltage-77: rgb(41.777939% 6.111855% 47.478307%);
    --palVoltage-78: rgb(42.285565% 5.952328% 48.514013%);
    --palVoltage-79: rgb(42.782659% 5.802486% 49.557717%);
    --palVoltage-80: rgb(43.268582% 5.666848% 50.608125%);
    --palVoltage-81: rgb(43.742726% 5.550325% 51.6639%);
    --palVoltage-82: rgb(44.204513% 5.458165% 52.723648%);
    --palVoltage-83: rgb(44.653397% 5.395922% 53.785824%);
    --palVoltage-84: rgb(45.088883% 5.369027% 54.848918%);
    --palVoltage-85: rgb(45.510522% 5.382701% 55.911317%);
    --palVoltage-86: rgb(45.917927% 5.441507% 56.97145%);
    --palVoltage-87: rgb(46.310766% 5.549137% 58.027742%);
    --palVoltage-88: rgb(46.688772% 5.708145% 59.078658%);
    --palVoltage-89: rgb(47.051741% 5.919812% 60.122724%);
    --palVoltage-90: rgb(47.39953% 6.184117% 61.158545%);
    --palVoltage-91: rgb(47.732056% 6.499851% 62.184802%);
    --palVoltage-92: rgb(48.049291% 6.864775% 63.200298%);
    --palVoltage-93: rgb(48.35126% 7.275889% 64.203927%);
    --palVoltage-94: rgb(48.638035% 7.729672% 65.194705%);
    --palVoltage-95: rgb(48.90973% 8.222323% 66.171766%);
    --palVoltage-96: rgb(49.166496% 8.749968% 67.134353%);
    --palVoltage-97: rgb(49.408514% 9.308809% 68.081816%);
    --palVoltage-98: rgb(49.635987% 9.895222% 69.013638%);
    --palVoltage-99: rgb(49.849156% 10.505847% 69.929343%);
    --palVoltage-100: rgb(50.048254% 11.13759% 70.828623%);
    --palVoltage-101: rgb(50.233543% 11.787666% 71.711216%);
    --palVoltage-102: rgb(50.405303% 12.453572% 72.576907%);
    --palVoltage-103: rgb(50.563797% 13.133085% 73.425617%);
    --palVoltage-104: rgb(50.709307% 13.824237% 74.257292%);
    --palVoltage-105: rgb(50.842113% 14.525291% 75.071938%);
    --palVoltage-106: rgb(50.962496% 15.23472% 75.869606%);
    --palVoltage-107: rgb(51.070736% 15.951182% 76.650391%);
    --palVoltage-108: rgb(51.16711% 16.673502% 77.414424%);
    --palVoltage-109: rgb(51.251888% 17.400648% 78.161867%);
    --palVoltage-110: rgb(51.325338% 18.131718% 78.892907%);
    --palVoltage-111: rgb(51.387721% 18.865921% 79.607754%);
    --palVoltage-112: rgb(51.439291% 19.602566% 80.306633%);
    --palVoltage-113: rgb(51.480296% 20.341048% 80.989783%);
    --palVoltage-114: rgb(51.510977% 21.080838% 81.657454%);
    --palVoltage-115: rgb(51.53157% 21.821474% 82.309901%);
    --palVoltage-116: rgb(51.542301% 22.562551% 82.947387%);
    --palVoltage-117: rgb(51.543415% 23.303699% 83.570159%);
    --palVoltage-118: rgb(51.535107% 24.044625% 84.178498%);
    --palVoltage-119: rgb(51.517586% 24.785059% 84.772665%);
    --palVoltage-120: rgb(51.491068% 25.524758% 85.352914%);
    --palVoltage-121: rgb(51.455754% 26.263517% 85.919502%);
    --palVoltage-122: rgb(51.411822% 27.00117% 86.472687%);
    --palVoltage-123: rgb(51.359482% 27.737548% 87.012706%);
    --palVoltage-124: rgb(51.298904% 28.472528% 87.539803%);
    --palVoltage-125: rgb(51.230269% 29.205997% 88.054209%);
    --palVoltage-126: rgb(51.153768% 29.937847% 88.556143%);
    --palVoltage-127: rgb(51.069552% 30.668011% 89.045825%);
    --palVoltage-128: rgb(50.977821% 31.396399% 89.523452%);
    --palVoltage-129: rgb(50.878714% 32.122973% 89.989228%);
    --palVoltage-130: rgb(50.77243% 32.847663% 90.44333%);
    --palVoltage-131: rgb(50.659106% 33.570449% 90.88594%);
    --palVoltage-132: rgb(50.538936% 34.29128% 91.317217%);
    --palVoltage-133: rgb(50.412065% 35.010144% 91.737317%);
    --palVoltage-134: rgb(50.278681% 35.72701% 92.146382%);
    --palVoltage-135: rgb(50.138942% 36.44187% 92.544542%);
    --palVoltage-136: rgb(49.99303% 37.154707% 92.931919%);
    --palVoltage-137: rgb(49.841121% 37.865516% 93.308619%);
    --palVoltage-138: rgb(49.683398% 38.574291% 93.67474%);
    --palVoltage-139: rgb(49.520056% 39.281027% 94.030367%);
    --palVoltage-140: rgb(49.351285% 39.985726% 94.375573%);
    --palVoltage-141: rgb(49.177299% 40.688384% 94.71042%);
    --palVoltage-142: rgb(48.99831% 41.389003% 95.034958%);
    --palVoltage-143: rgb(48.814547% 42.087583% 95.349225%);
    --palVoltage-144: rgb(48.626251% 42.784124% 95.653246%);
    --palVoltage-145: rgb(48.43368% 43.478625% 95.947037%);
    --palVoltage-146: rgb(48.237102% 44.171086% 96.230598%);
    --palVoltage-147: rgb(48.036816% 44.861499% 96.503923%);
    --palVoltage-148: rgb(47.833124% 45.549864% 96.766989%);
    --palVoltage-149: rgb(47.626373% 46.236169% 97.019765%);
    --palVoltage-150: rgb(47.416915% 46.920405% 97.262205%);
    --palVoltage-151: rgb(47.205144% 47.602558% 97.494257%);
    --palVoltage-152: rgb(46.991481% 48.282608% 97.715854%);
    --palVoltage-153: rgb(46.776372% 48.960538% 97.926917%);
    --palVoltage-154: rgb(46.560321% 49.636315% 98.127364%);
    --palVoltage-155: rgb(46.343842% 50.309916% 98.317091%);
    --palVoltage-156: rgb(46.127529% 50.981294% 98.496001%);
    --palVoltage-157: rgb(45.911981% 51.650417% 98.663968%);
    --palVoltage-158: rgb(45.697893% 52.317226% 98.820879%);
    --palVoltage-159: rgb(45.48597% 52.981674% 98.966594%);
    --palVoltage-160: rgb(45.277011% 53.643692% 99.100984%);
    --palVoltage-161: rgb(45.071855% 54.30321% 99.223903%);
    --palVoltage-162: rgb(44.871406% 54.960153% 99.335202%);
    --palVoltage-163: rgb(44.676665% 55.614422% 99.434747%);
    --palVoltage-164: rgb(44.488639% 56.265938% 99.522365%);
    --palVoltage-165: rgb(44.308487% 56.914577% 99.597931%);
    --palVoltage-166: rgb(44.137397% 57.560228% 99.661298%);
    --palVoltage-167: rgb(43.97662% 58.20277% 99.712316%);
    --palVoltage-168: rgb(43.827527% 58.842056% 99.750876%);
    --palVoltage-169: rgb(43.691538% 59.477937% 99.776866%);
    --palVoltage-170: rgb(43.570118% 60.110264% 99.790168%);
    --palVoltage-171: rgb(43.464843% 60.738857% 99.790727%);
    --palVoltage-172: rgb(43.377328% 61.363535% 99.778493%);
    --palVoltage-173: rgb(43.309232% 61.984106% 99.753448%);
    --palVoltage-174: rgb(43.262243% 62.600374% 99.715601%);
    --palVoltage-175: rgb(43.238086% 63.212125% 99.665016%);
    --palVoltage-176: rgb(43.238487% 63.819141% 99.601806%);
    --palVoltage-177: rgb(43.265151% 64.421198% 99.52613%);
    --palVoltage-178: rgb(43.319741% 65.018068% 99.43821%);
    --palVoltage-179: rgb(43.403856% 65.609523% 99.338327%);
    --palVoltage-180: rgb(43.519% 66.195334% 99.226837%);
    --palVoltage-181: rgb(43.666556% 66.775277% 99.104163%);
    --palVoltage-182: rgb(43.847758% 67.349134% 98.970814%);
    --palVoltage-183: rgb(44.063658% 67.916699% 98.827371%);
    --palVoltage-184: rgb(44.315105% 68.47778% 98.674494%);
    --palVoltage-185: rgb(44.60272% 69.032206% 98.512916%);
    --palVoltage-186: rgb(44.926876% 69.579827% 98.343447%);
    --palVoltage-187: rgb(45.287691% 70.120519% 98.166958%);
    --palVoltage-188: rgb(45.685017% 70.654187% 97.984398%);
    --palVoltage-189: rgb(46.118441% 71.180769% 97.796752%);
    --palVoltage-190: rgb(46.58729% 71.70024% 97.605029%);
    --palVoltage-191: rgb(47.090655% 72.21261% 97.410266%);
    --palVoltage-192: rgb(47.627396% 72.71792% 97.213557%);
    --palVoltage-193: rgb(48.196178% 73.216253% 97.015966%);
    --palVoltage-194: rgb(48.795513% 73.707731% 96.818479%);
    --palVoltage-195: rgb(49.423737% 74.192493% 96.622226%);
    --palVoltage-196: rgb(50.079146% 74.670729% 96.428075%);
    --palVoltage-197: rgb(50.75989% 75.14264% 96.237083%);
    --palVoltage-198: rgb(51.464171% 75.608463% 96.050004%);
    --palVoltage-199: rgb(52.190077% 76.068447% 95.867798%);
    --palVoltage-200: rgb(52.935797% 76.522862% 95.691155%);
    --palVoltage-201: rgb(53.699541% 76.971992% 95.520746%);
    --palVoltage-202: rgb(54.479559% 77.416124% 95.357212%);
    --palVoltage-203: rgb(55.274175% 77.855558% 95.201122%);
    --palVoltage-204: rgb(56.081796% 78.290593% 95.052976%);
    --palVoltage-205: rgb(56.900925% 78.72153% 94.913199%);
    --palVoltage-206: rgb(57.730169% 79.148666% 94.782152%);
    --palVoltage-207: rgb(58.568238% 79.572294% 94.660125%);
    --palVoltage-208: rgb(59.413953% 79.992699% 94.547349%);
    --palVoltage-209: rgb(60.266194% 80.410164% 94.444057%);
    --palVoltage-210: rgb(61.123873% 80.824967% 94.350526%);
    --palVoltage-211: rgb(61.986233% 81.237355% 94.26666%);
    --palVoltage-212: rgb(62.85226% 81.647602% 94.192797%);
    --palVoltage-213: rgb(63.721403% 82.055927% 94.128733%);
    --palVoltage-214: rgb(64.592748% 82.462593% 94.07481%);
    --palVoltage-215: rgb(65.465898% 82.867796% 94.03077%);
    --palVoltage-216: rgb(66.340275% 83.271754% 93.996652%);
    --palVoltage-217: rgb(67.215238% 83.674693% 93.97262%);
    --palVoltage-218: rgb(68.090506% 84.076785% 93.958452%);
    --palVoltage-219: rgb(68.965684% 84.478217% 93.954112%);
    --palVoltage-220: rgb(69.840426% 84.879167% 93.959548%);
    --palVoltage-221: rgb(70.714432% 85.279803% 93.974694%);
    --palVoltage-222: rgb(71.587442% 85.680284% 93.999469%);
    --palVoltage-223: rgb(72.459236% 86.080761% 94.033785%);
    --palVoltage-224: rgb(73.329625% 86.481377% 94.07754%);
    --palVoltage-225: rgb(74.198452% 86.882267% 94.13063%);
    --palVoltage-226: rgb(75.065588% 87.283558% 94.192942%);
    --palVoltage-227: rgb(75.930745% 87.685409% 94.264556%);
    --palVoltage-228: rgb(76.79399% 88.087904% 94.345188%);
    --palVoltage-229: rgb(77.655261% 88.491151% 94.434714%);
    --palVoltage-230: rgb(78.514349% 88.895287% 94.53318%);
    --palVoltage-231: rgb(79.371246% 89.300405% 94.640437%);
    --palVoltage-232: rgb(80.226011% 89.706581% 94.756279%);
    --palVoltage-233: rgb(81.078346% 90.113969% 94.880881%);
    --palVoltage-234: rgb(81.928545% 90.522587% 95.013824%);
    --palVoltage-235: rgb(82.776227% 90.932608% 95.155384%);
    --palVoltage-236: rgb(83.621702% 91.344039% 95.305152%);
    --palVoltage-237: rgb(84.464705% 91.757024% 95.4633%);
    --palVoltage-238: rgb(85.305358% 92.171613% 95.629628%);
    --palVoltage-239: rgb(86.143702% 92.587871% 95.80402%);
    --palVoltage-240: rgb(86.979478% 93.00594% 95.986662%);
    --palVoltage-241: rgb(87.812911% 93.425838% 96.177275%);
    --palVoltage-242: rgb(88.643972% 93.847643% 96.375834%);
    --palVoltage-243: rgb(89.472555% 94.271457% 96.582393%);
    --palVoltage-244: rgb(90.29863% 94.697357% 96.796934%);
    --palVoltage-245: rgb(91.122262% 95.125397% 97.01936%);
    --palVoltage-246: rgb(91.943415% 95.555654% 97.249673%);
    --palVoltage-247: rgb(92.762042% 95.988208% 97.487889%);
    --palVoltage-248: rgb(93.578091% 96.423141% 97.734034%);
    --palVoltage-249: rgb(94.391496% 96.860538% 97.988153%);
    --palVoltage-250: rgb(95.202139% 97.300497% 98.250342%);
    --palVoltage-251: rgb(96.009954% 97.743102% 98.520655%);
    --palVoltage-252: rgb(96.814816% 98.188453% 98.799202%);
    --palVoltage-253: rgb(97.616544% 98.636667% 99.086151%);
    --palVoltage-254: rgb(98.414897% 99.087878% 99.381721%);
    --palVoltage-255: rgb(99.209543% 99.542251% 99.686206%);
    --palVoltage-256: rgb(100% 100% 100%);
}
