/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palVvltTurq3-1: rgb(87.890625% 96.484375% 99.609375%);
    --palVvltTurq3-2: rgb(87.890625% 96.484375% 99.21875%);
    --palVvltTurq3-3: rgb(87.5% 96.484375% 99.21875%);
    --palVvltTurq3-4: rgb(87.5% 96.09375% 98.828125%);
    --palVvltTurq3-5: rgb(87.109375% 96.09375% 98.828125%);
    --palVvltTurq3-6: rgb(86.71875% 95.703125% 98.4375%);
    --palVvltTurq3-7: rgb(86.71875% 95.703125% 98.4375%);
    --palVvltTurq3-8: rgb(86.328125% 95.703125% 98.046875%);
    --palVvltTurq3-9: rgb(86.328125% 95.3125% 98.046875%);
    --palVvltTurq3-10: rgb(85.9375% 95.3125% 97.65625%);
    --palVvltTurq3-11: rgb(85.546875% 95.3125% 97.65625%);
    --palVvltTurq3-12: rgb(85.546875% 94.921875% 97.65625%);
    --palVvltTurq3-13: rgb(85.15625% 94.921875% 97.265625%);
    --palVvltTurq3-14: rgb(84.765625% 94.53125% 97.265625%);
    --palVvltTurq3-15: rgb(84.765625% 94.53125% 96.875%);
    --palVvltTurq3-16: rgb(84.375% 94.53125% 96.875%);
    --palVvltTurq3-17: rgb(84.375% 94.140625% 96.484375%);
    --palVvltTurq3-18: rgb(83.984375% 94.140625% 96.484375%);
    --palVvltTurq3-19: rgb(83.59375% 94.140625% 96.09375%);
    --palVvltTurq3-20: rgb(83.59375% 93.75% 96.09375%);
    --palVvltTurq3-21: rgb(83.203125% 93.75% 95.703125%);
    --palVvltTurq3-22: rgb(82.8125% 93.359375% 95.703125%);
    --palVvltTurq3-23: rgb(82.8125% 93.359375% 95.703125%);
    --palVvltTurq3-24: rgb(82.421875% 93.359375% 95.3125%);
    --palVvltTurq3-25: rgb(82.421875% 92.96875% 95.3125%);
    --palVvltTurq3-26: rgb(82.03125% 92.96875% 94.921875%);
    --palVvltTurq3-27: rgb(81.640625% 92.96875% 94.921875%);
    --palVvltTurq3-28: rgb(81.640625% 92.578125% 94.53125%);
    --palVvltTurq3-29: rgb(81.25% 92.578125% 94.53125%);
    --palVvltTurq3-30: rgb(81.25% 92.1875% 94.140625%);
    --palVvltTurq3-31: rgb(80.859375% 92.1875% 94.140625%);
    --palVvltTurq3-32: rgb(80.46875% 92.1875% 94.140625%);
    --palVvltTurq3-33: rgb(80.46875% 91.796875% 93.75%);
    --palVvltTurq3-34: rgb(80.078125% 91.796875% 93.75%);
    --palVvltTurq3-35: rgb(79.6875% 91.796875% 93.359375%);
    --palVvltTurq3-36: rgb(79.6875% 91.40625% 93.359375%);
    --palVvltTurq3-37: rgb(79.296875% 91.40625% 92.96875%);
    --palVvltTurq3-38: rgb(79.296875% 91.015625% 92.96875%);
    --palVvltTurq3-39: rgb(78.90625% 91.015625% 92.578125%);
    --palVvltTurq3-40: rgb(78.515625% 91.015625% 92.578125%);
    --palVvltTurq3-41: rgb(78.515625% 90.625% 92.1875%);
    --palVvltTurq3-42: rgb(78.125% 90.625% 92.1875%);
    --palVvltTurq3-43: rgb(78.125% 90.234375% 92.1875%);
    --palVvltTurq3-44: rgb(77.734375% 90.234375% 91.796875%);
    --palVvltTurq3-45: rgb(77.34375% 90.234375% 91.796875%);
    --palVvltTurq3-46: rgb(77.34375% 89.84375% 91.40625%);
    --palVvltTurq3-47: rgb(76.953125% 89.84375% 91.40625%);
    --palVvltTurq3-48: rgb(76.5625% 89.84375% 91.015625%);
    --palVvltTurq3-49: rgb(76.5625% 89.453125% 91.015625%);
    --palVvltTurq3-50: rgb(76.171875% 89.453125% 90.625%);
    --palVvltTurq3-51: rgb(76.171875% 89.0625% 90.625%);
    --palVvltTurq3-52: rgb(75.78125% 89.0625% 90.625%);
    --palVvltTurq3-53: rgb(75.390625% 89.0625% 90.234375%);
    --palVvltTurq3-54: rgb(75.390625% 88.671875% 90.234375%);
    --palVvltTurq3-55: rgb(75% 88.671875% 89.84375%);
    --palVvltTurq3-56: rgb(74.609375% 88.28125% 89.84375%);
    --palVvltTurq3-57: rgb(74.609375% 88.28125% 89.84375%);
    --palVvltTurq3-58: rgb(74.21875% 87.890625% 89.453125%);
    --palVvltTurq3-59: rgb(73.828125% 87.890625% 89.453125%);
    --palVvltTurq3-60: rgb(73.828125% 87.890625% 89.453125%);
    --palVvltTurq3-61: rgb(73.4375% 87.5% 89.0625%);
    --palVvltTurq3-62: rgb(73.046875% 87.5% 89.0625%);
    --palVvltTurq3-63: rgb(72.65625% 87.109375% 89.0625%);
    --palVvltTurq3-64: rgb(72.65625% 87.109375% 88.671875%);
    --palVvltTurq3-65: rgb(72.265625% 86.71875% 88.671875%);
    --palVvltTurq3-66: rgb(71.875% 86.71875% 88.28125%);
    --palVvltTurq3-67: rgb(71.875% 86.71875% 88.28125%);
    --palVvltTurq3-68: rgb(71.484375% 86.328125% 88.28125%);
    --palVvltTurq3-69: rgb(71.09375% 86.328125% 87.890625%);
    --palVvltTurq3-70: rgb(71.09375% 85.9375% 87.890625%);
    --palVvltTurq3-71: rgb(70.703125% 85.9375% 87.890625%);
    --palVvltTurq3-72: rgb(70.3125% 85.546875% 87.5%);
    --palVvltTurq3-73: rgb(70.3125% 85.546875% 87.5%);
    --palVvltTurq3-74: rgb(69.921875% 85.546875% 87.5%);
    --palVvltTurq3-75: rgb(69.53125% 85.15625% 87.109375%);
    --palVvltTurq3-76: rgb(69.53125% 85.15625% 87.109375%);
    --palVvltTurq3-77: rgb(69.140625% 84.765625% 86.71875%);
    --palVvltTurq3-78: rgb(68.75% 84.765625% 86.71875%);
    --palVvltTurq3-79: rgb(68.75% 84.375% 86.71875%);
    --palVvltTurq3-80: rgb(68.359375% 84.375% 86.328125%);
    --palVvltTurq3-81: rgb(67.96875% 84.375% 86.328125%);
    --palVvltTurq3-82: rgb(67.578125% 83.984375% 86.328125%);
    --palVvltTurq3-83: rgb(67.578125% 83.984375% 85.9375%);
    --palVvltTurq3-84: rgb(67.1875% 83.59375% 85.9375%);
    --palVvltTurq3-85: rgb(66.796875% 83.59375% 85.9375%);
    --palVvltTurq3-86: rgb(66.796875% 83.203125% 85.546875%);
    --palVvltTurq3-87: rgb(66.40625% 83.203125% 85.546875%);
    --palVvltTurq3-88: rgb(66.015625% 83.203125% 85.546875%);
    --palVvltTurq3-89: rgb(66.015625% 82.8125% 85.15625%);
    --palVvltTurq3-90: rgb(65.625% 82.8125% 85.15625%);
    --palVvltTurq3-91: rgb(65.234375% 82.421875% 84.765625%);
    --palVvltTurq3-92: rgb(65.234375% 82.421875% 84.765625%);
    --palVvltTurq3-93: rgb(64.84375% 82.03125% 84.765625%);
    --palVvltTurq3-94: rgb(64.453125% 82.03125% 84.375%);
    --palVvltTurq3-95: rgb(64.453125% 82.03125% 84.375%);
    --palVvltTurq3-96: rgb(64.0625% 81.640625% 84.375%);
    --palVvltTurq3-97: rgb(63.671875% 81.640625% 83.984375%);
    --palVvltTurq3-98: rgb(63.671875% 81.25% 83.984375%);
    --palVvltTurq3-99: rgb(63.28125% 81.25% 83.984375%);
    --palVvltTurq3-100: rgb(62.890625% 80.859375% 83.59375%);
    --palVvltTurq3-101: rgb(62.5% 80.859375% 83.59375%);
    --palVvltTurq3-102: rgb(62.5% 80.46875% 83.203125%);
    --palVvltTurq3-103: rgb(62.109375% 80.46875% 83.203125%);
    --palVvltTurq3-104: rgb(61.71875% 80.46875% 83.203125%);
    --palVvltTurq3-105: rgb(61.71875% 80.078125% 82.8125%);
    --palVvltTurq3-106: rgb(61.328125% 80.078125% 82.8125%);
    --palVvltTurq3-107: rgb(60.9375% 79.6875% 82.8125%);
    --palVvltTurq3-108: rgb(60.9375% 79.6875% 82.421875%);
    --palVvltTurq3-109: rgb(60.546875% 79.296875% 82.421875%);
    --palVvltTurq3-110: rgb(60.15625% 79.296875% 82.421875%);
    --palVvltTurq3-111: rgb(60.15625% 79.296875% 82.03125%);
    --palVvltTurq3-112: rgb(59.765625% 78.90625% 82.03125%);
    --palVvltTurq3-113: rgb(59.375% 78.90625% 81.640625%);
    --palVvltTurq3-114: rgb(59.375% 78.515625% 81.640625%);
    --palVvltTurq3-115: rgb(58.984375% 78.515625% 81.640625%);
    --palVvltTurq3-116: rgb(58.59375% 78.125% 81.25%);
    --palVvltTurq3-117: rgb(58.59375% 78.125% 81.25%);
    --palVvltTurq3-118: rgb(58.203125% 78.125% 81.25%);
    --palVvltTurq3-119: rgb(57.8125% 77.734375% 80.859375%);
    --palVvltTurq3-120: rgb(57.8125% 77.734375% 80.859375%);
    --palVvltTurq3-121: rgb(57.421875% 77.34375% 80.859375%);
    --palVvltTurq3-122: rgb(57.03125% 77.34375% 80.46875%);
    --palVvltTurq3-123: rgb(56.640625% 76.953125% 80.46875%);
    --palVvltTurq3-124: rgb(56.640625% 76.953125% 80.46875%);
    --palVvltTurq3-125: rgb(56.25% 76.953125% 80.078125%);
    --palVvltTurq3-126: rgb(55.859375% 76.5625% 80.078125%);
    --palVvltTurq3-127: rgb(55.859375% 76.5625% 79.6875%);
    --palVvltTurq3-128: rgb(55.46875% 76.171875% 79.6875%);
    --palVvltTurq3-129: rgb(55.078125% 76.171875% 79.6875%);
    --palVvltTurq3-130: rgb(55.078125% 75.78125% 79.296875%);
    --palVvltTurq3-131: rgb(54.6875% 75.78125% 79.296875%);
    --palVvltTurq3-132: rgb(54.6875% 75.390625% 78.90625%);
    --palVvltTurq3-133: rgb(54.296875% 75% 78.90625%);
    --palVvltTurq3-134: rgb(54.296875% 75% 78.515625%);
    --palVvltTurq3-135: rgb(53.90625% 74.609375% 78.515625%);
    --palVvltTurq3-136: rgb(53.90625% 74.609375% 78.515625%);
    --palVvltTurq3-137: rgb(53.515625% 74.21875% 78.125%);
    --palVvltTurq3-138: rgb(53.515625% 74.21875% 78.125%);
    --palVvltTurq3-139: rgb(53.125% 73.828125% 77.734375%);
    --palVvltTurq3-140: rgb(53.125% 73.4375% 77.734375%);
    --palVvltTurq3-141: rgb(52.734375% 73.4375% 77.34375%);
    --palVvltTurq3-142: rgb(52.734375% 73.046875% 77.34375%);
    --palVvltTurq3-143: rgb(52.34375% 73.046875% 76.953125%);
    --palVvltTurq3-144: rgb(52.34375% 72.65625% 76.953125%);
    --palVvltTurq3-145: rgb(51.953125% 72.65625% 76.953125%);
    --palVvltTurq3-146: rgb(51.953125% 72.265625% 76.5625%);
    --palVvltTurq3-147: rgb(51.5625% 71.875% 76.5625%);
    --palVvltTurq3-148: rgb(51.5625% 71.875% 76.171875%);
    --palVvltTurq3-149: rgb(51.171875% 71.484375% 76.171875%);
    --palVvltTurq3-150: rgb(51.171875% 71.484375% 75.78125%);
    --palVvltTurq3-151: rgb(50.78125% 71.09375% 75.78125%);
    --palVvltTurq3-152: rgb(50.78125% 70.703125% 75.78125%);
    --palVvltTurq3-153: rgb(50.390625% 70.703125% 75.390625%);
    --palVvltTurq3-154: rgb(50% 70.3125% 75.390625%);
    --palVvltTurq3-155: rgb(50% 70.3125% 75%);
    --palVvltTurq3-156: rgb(49.609375% 69.921875% 75%);
    --palVvltTurq3-157: rgb(49.609375% 69.921875% 74.609375%);
    --palVvltTurq3-158: rgb(49.21875% 69.53125% 74.609375%);
    --palVvltTurq3-159: rgb(49.21875% 69.140625% 74.21875%);
    --palVvltTurq3-160: rgb(48.828125% 69.140625% 74.21875%);
    --palVvltTurq3-161: rgb(48.828125% 68.75% 74.21875%);
    --palVvltTurq3-162: rgb(48.4375% 68.75% 73.828125%);
    --palVvltTurq3-163: rgb(48.4375% 68.359375% 73.828125%);
    --palVvltTurq3-164: rgb(48.046875% 68.359375% 73.4375%);
    --palVvltTurq3-165: rgb(48.046875% 67.96875% 73.4375%);
    --palVvltTurq3-166: rgb(47.65625% 67.578125% 73.046875%);
    --palVvltTurq3-167: rgb(47.65625% 67.578125% 73.046875%);
    --palVvltTurq3-168: rgb(47.265625% 67.1875% 72.65625%);
    --palVvltTurq3-169: rgb(47.265625% 67.1875% 72.65625%);
    --palVvltTurq3-170: rgb(46.875% 66.796875% 72.65625%);
    --palVvltTurq3-171: rgb(46.875% 66.796875% 72.265625%);
    --palVvltTurq3-172: rgb(46.484375% 66.40625% 72.265625%);
    --palVvltTurq3-173: rgb(46.484375% 66.015625% 71.875%);
    --palVvltTurq3-174: rgb(46.09375% 66.015625% 71.875%);
    --palVvltTurq3-175: rgb(46.09375% 65.625% 71.484375%);
    --palVvltTurq3-176: rgb(45.703125% 65.625% 71.484375%);
    --palVvltTurq3-177: rgb(45.703125% 65.234375% 71.09375%);
    --palVvltTurq3-178: rgb(45.3125% 64.84375% 71.09375%);
    --palVvltTurq3-179: rgb(44.921875% 64.84375% 71.09375%);
    --palVvltTurq3-180: rgb(44.921875% 64.453125% 70.703125%);
    --palVvltTurq3-181: rgb(44.53125% 64.453125% 70.703125%);
    --palVvltTurq3-182: rgb(44.53125% 64.0625% 70.3125%);
    --palVvltTurq3-183: rgb(44.140625% 64.0625% 70.3125%);
    --palVvltTurq3-184: rgb(44.140625% 63.671875% 69.921875%);
    --palVvltTurq3-185: rgb(43.75% 63.28125% 69.921875%);
    --palVvltTurq3-186: rgb(43.75% 63.28125% 69.53125%);
    --palVvltTurq3-187: rgb(43.359375% 62.890625% 69.53125%);
    --palVvltTurq3-188: rgb(43.359375% 62.890625% 69.53125%);
    --palVvltTurq3-189: rgb(42.96875% 62.5% 69.140625%);
    --palVvltTurq3-190: rgb(42.96875% 62.5% 69.140625%);
    --palVvltTurq3-191: rgb(42.578125% 62.109375% 68.75%);
    --palVvltTurq3-192: rgb(42.578125% 61.71875% 68.75%);
    --palVvltTurq3-193: rgb(42.1875% 61.71875% 68.359375%);
    --palVvltTurq3-194: rgb(42.1875% 61.328125% 68.359375%);
    --palVvltTurq3-195: rgb(41.796875% 61.328125% 68.359375%);
    --palVvltTurq3-196: rgb(41.796875% 60.9375% 67.96875%);
    --palVvltTurq3-197: rgb(41.40625% 60.9375% 67.96875%);
    --palVvltTurq3-198: rgb(41.40625% 60.546875% 67.578125%);
    --palVvltTurq3-199: rgb(41.015625% 60.15625% 67.578125%);
    --palVvltTurq3-200: rgb(41.015625% 60.15625% 67.1875%);
    --palVvltTurq3-201: rgb(40.625% 59.765625% 67.1875%);
    --palVvltTurq3-202: rgb(40.625% 59.765625% 66.796875%);
    --palVvltTurq3-203: rgb(40.234375% 59.375% 66.796875%);
    --palVvltTurq3-204: rgb(39.84375% 59.375% 66.796875%);
    --palVvltTurq3-205: rgb(39.84375% 58.984375% 66.40625%);
    --palVvltTurq3-206: rgb(39.84375% 58.59375% 66.40625%);
    --palVvltTurq3-207: rgb(39.453125% 58.59375% 66.015625%);
    --palVvltTurq3-208: rgb(39.453125% 58.203125% 66.015625%);
    --palVvltTurq3-209: rgb(39.0625% 57.8125% 65.625%);
    --palVvltTurq3-210: rgb(39.0625% 57.8125% 65.625%);
    --palVvltTurq3-211: rgb(38.671875% 57.421875% 65.234375%);
    --palVvltTurq3-212: rgb(38.671875% 57.03125% 65.234375%);
    --palVvltTurq3-213: rgb(38.671875% 57.03125% 65.234375%);
    --palVvltTurq3-214: rgb(38.28125% 56.640625% 64.84375%);
    --palVvltTurq3-215: rgb(38.28125% 56.25% 64.84375%);
    --palVvltTurq3-216: rgb(37.890625% 56.25% 64.453125%);
    --palVvltTurq3-217: rgb(37.890625% 55.859375% 64.453125%);
    --palVvltTurq3-218: rgb(37.5% 55.46875% 64.0625%);
    --palVvltTurq3-219: rgb(37.5% 55.46875% 64.0625%);
    --palVvltTurq3-220: rgb(37.5% 55.078125% 63.671875%);
    --palVvltTurq3-221: rgb(37.109375% 54.6875% 63.671875%);
    --palVvltTurq3-222: rgb(37.109375% 54.6875% 63.671875%);
    --palVvltTurq3-223: rgb(36.71875% 54.296875% 63.28125%);
    --palVvltTurq3-224: rgb(36.71875% 53.90625% 63.28125%);
    --palVvltTurq3-225: rgb(36.328125% 53.90625% 62.890625%);
    --palVvltTurq3-226: rgb(36.328125% 53.515625% 62.890625%);
    --palVvltTurq3-227: rgb(35.9375% 53.125% 62.5%);
    --palVvltTurq3-228: rgb(35.9375% 53.125% 62.5%);
    --palVvltTurq3-229: rgb(35.9375% 52.734375% 62.109375%);
    --palVvltTurq3-230: rgb(35.546875% 52.34375% 62.109375%);
    --palVvltTurq3-231: rgb(35.546875% 52.34375% 62.109375%);
    --palVvltTurq3-232: rgb(35.15625% 51.953125% 61.71875%);
    --palVvltTurq3-233: rgb(35.15625% 51.5625% 61.71875%);
    --palVvltTurq3-234: rgb(34.765625% 51.5625% 61.328125%);
    --palVvltTurq3-235: rgb(34.765625% 51.171875% 61.328125%);
    --palVvltTurq3-236: rgb(34.765625% 50.78125% 60.9375%);
    --palVvltTurq3-237: rgb(34.375% 50.78125% 60.9375%);
    --palVvltTurq3-238: rgb(34.375% 50.390625% 60.9375%);
    --palVvltTurq3-239: rgb(33.984375% 50% 60.546875%);
    --palVvltTurq3-240: rgb(33.984375% 50% 60.546875%);
    --palVvltTurq3-241: rgb(33.59375% 49.609375% 60.15625%);
    --palVvltTurq3-242: rgb(33.59375% 49.21875% 60.15625%);
    --palVvltTurq3-243: rgb(33.59375% 49.21875% 59.765625%);
    --palVvltTurq3-244: rgb(33.203125% 48.828125% 59.765625%);
    --palVvltTurq3-245: rgb(33.203125% 48.4375% 59.375%);
    --palVvltTurq3-246: rgb(32.8125% 48.046875% 59.375%);
    --palVvltTurq3-247: rgb(32.8125% 48.046875% 59.375%);
    --palVvltTurq3-248: rgb(32.421875% 47.65625% 58.984375%);
    --palVvltTurq3-249: rgb(32.421875% 47.265625% 58.984375%);
    --palVvltTurq3-250: rgb(32.421875% 47.265625% 58.59375%);
    --palVvltTurq3-251: rgb(32.03125% 46.875% 58.59375%);
    --palVvltTurq3-252: rgb(32.03125% 46.484375% 58.203125%);
    --palVvltTurq3-253: rgb(31.640625% 46.484375% 58.203125%);
    --palVvltTurq3-254: rgb(31.640625% 46.09375% 57.8125%);
    --palVvltTurq3-255: rgb(31.25% 45.703125% 57.8125%);
    --palVvltTurq3-256: rgb(31.25% 45.703125% 57.8125%);
}
