/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palWarm-1: rgb(10.5882% 11.7647% 13.7255%);
    --palWarm-2: rgb(10.9804% 11.7647% 14.1176%);
    --palWarm-3: rgb(11.3725% 12.1569% 14.5098%);
    --palWarm-4: rgb(11.7647% 12.1569% 14.902%);
    --palWarm-5: rgb(11.7647% 12.549% 15.2941%);
    --palWarm-6: rgb(12.1569% 12.549% 15.6863%);
    --palWarm-7: rgb(12.549% 12.549% 16.0784%);
    --palWarm-8: rgb(12.9412% 12.9412% 16.4706%);
    --palWarm-9: rgb(13.3333% 12.9412% 16.8627%);
    --palWarm-10: rgb(13.7255% 13.3333% 17.2549%);
    --palWarm-11: rgb(14.1176% 13.3333% 17.6471%);
    --palWarm-12: rgb(14.5098% 13.7255% 18.0392%);
    --palWarm-13: rgb(14.902% 13.7255% 18.4314%);
    --palWarm-14: rgb(15.2941% 13.7255% 18.8235%);
    --palWarm-15: rgb(15.2941% 14.1176% 19.2157%);
    --palWarm-16: rgb(15.6863% 14.1176% 19.6078%);
    --palWarm-17: rgb(16.0784% 14.5098% 20%);
    --palWarm-18: rgb(16.4706% 14.5098% 20.3922%);
    --palWarm-19: rgb(16.8627% 14.5098% 20.7843%);
    --palWarm-20: rgb(17.2549% 14.902% 21.1765%);
    --palWarm-21: rgb(17.6471% 14.902% 21.5686%);
    --palWarm-22: rgb(18.0392% 15.2941% 21.9608%);
    --palWarm-23: rgb(18.4314% 15.2941% 22.3529%);
    --palWarm-24: rgb(18.8235% 15.2941% 22.7451%);
    --palWarm-25: rgb(19.2157% 15.6863% 23.1373%);
    --palWarm-26: rgb(19.6078% 15.6863% 23.5294%);
    --palWarm-27: rgb(19.6078% 16.0784% 23.9216%);
    --palWarm-28: rgb(20% 16.0784% 24.3137%);
    --palWarm-29: rgb(20.3922% 16.0784% 24.7059%);
    --palWarm-30: rgb(20.7843% 16.4706% 25.098%);
    --palWarm-31: rgb(21.1765% 16.4706% 25.4902%);
    --palWarm-32: rgb(21.5686% 16.4706% 25.8824%);
    --palWarm-33: rgb(21.9608% 16.8627% 26.2745%);
    --palWarm-34: rgb(22.3529% 16.8627% 26.6667%);
    --palWarm-35: rgb(22.7451% 17.2549% 27.0588%);
    --palWarm-36: rgb(23.1373% 17.2549% 27.451%);
    --palWarm-37: rgb(23.5294% 17.2549% 27.8431%);
    --palWarm-38: rgb(23.9216% 17.6471% 28.2353%);
    --palWarm-39: rgb(24.3137% 17.6471% 28.2353%);
    --palWarm-40: rgb(24.7059% 18.0392% 28.6275%);
    --palWarm-41: rgb(25.098% 18.0392% 29.0196%);
    --palWarm-42: rgb(25.4902% 18.0392% 29.4118%);
    --palWarm-43: rgb(25.8824% 18.4314% 29.8039%);
    --palWarm-44: rgb(26.2745% 18.4314% 30.1961%);
    --palWarm-45: rgb(26.6667% 18.8235% 30.5882%);
    --palWarm-46: rgb(27.0588% 18.8235% 30.9804%);
    --palWarm-47: rgb(27.451% 18.8235% 31.3725%);
    --palWarm-48: rgb(27.8431% 19.2157% 31.7647%);
    --palWarm-49: rgb(28.2353% 19.2157% 32.1569%);
    --palWarm-50: rgb(28.6275% 19.2157% 32.1569%);
    --palWarm-51: rgb(29.0196% 19.6078% 32.549%);
    --palWarm-52: rgb(29.4118% 19.6078% 32.9412%);
    --palWarm-53: rgb(29.8039% 20% 33.3333%);
    --palWarm-54: rgb(30.1961% 20% 33.7255%);
    --palWarm-55: rgb(30.5882% 20% 34.1176%);
    --palWarm-56: rgb(30.9804% 20.3922% 34.5098%);
    --palWarm-57: rgb(31.7647% 20.3922% 34.902%);
    --palWarm-58: rgb(32.1569% 20.7843% 34.902%);
    --palWarm-59: rgb(32.549% 20.7843% 35.2941%);
    --palWarm-60: rgb(32.9412% 20.7843% 35.6863%);
    --palWarm-61: rgb(33.3333% 21.1765% 36.0784%);
    --palWarm-62: rgb(33.7255% 21.1765% 36.4706%);
    --palWarm-63: rgb(34.1176% 21.1765% 36.8627%);
    --palWarm-64: rgb(34.5098% 21.5686% 36.8627%);
    --palWarm-65: rgb(34.902% 21.5686% 37.2549%);
    --palWarm-66: rgb(35.2941% 21.9608% 37.6471%);
    --palWarm-67: rgb(35.6863% 21.9608% 38.0392%);
    --palWarm-68: rgb(36.0784% 21.9608% 38.0392%);
    --palWarm-69: rgb(36.8627% 22.3529% 38.4314%);
    --palWarm-70: rgb(37.2549% 22.3529% 38.8235%);
    --palWarm-71: rgb(37.6471% 22.3529% 39.2157%);
    --palWarm-72: rgb(38.0392% 22.7451% 39.6078%);
    --palWarm-73: rgb(38.4314% 22.7451% 39.6078%);
    --palWarm-74: rgb(38.8235% 23.1373% 40%);
    --palWarm-75: rgb(39.2157% 23.1373% 40.3922%);
    --palWarm-76: rgb(40% 23.1373% 40.3922%);
    --palWarm-77: rgb(40.3922% 23.5294% 40.7843%);
    --palWarm-78: rgb(40.7843% 23.5294% 41.1765%);
    --palWarm-79: rgb(41.1765% 23.5294% 41.1765%);
    --palWarm-80: rgb(41.5686% 23.9216% 41.5686%);
    --palWarm-81: rgb(41.9608% 23.9216% 41.9608%);
    --palWarm-82: rgb(42.7451% 24.3137% 41.9608%);
    --palWarm-83: rgb(43.1373% 24.3137% 42.3529%);
    --palWarm-84: rgb(43.5294% 24.3137% 42.7451%);
    --palWarm-85: rgb(43.9216% 24.7059% 42.7451%);
    --palWarm-86: rgb(44.3137% 24.7059% 43.1373%);
    --palWarm-87: rgb(45.098% 24.7059% 43.5294%);
    --palWarm-88: rgb(45.4902% 25.098% 43.5294%);
    --palWarm-89: rgb(45.8824% 25.098% 43.9216%);
    --palWarm-90: rgb(46.2745% 25.098% 43.9216%);
    --palWarm-91: rgb(46.6667% 25.4902% 44.3137%);
    --palWarm-92: rgb(47.451% 25.4902% 44.3137%);
    --palWarm-93: rgb(47.8431% 25.8824% 44.7059%);
    --palWarm-94: rgb(48.2353% 25.8824% 44.7059%);
    --palWarm-95: rgb(48.6275% 25.8824% 45.098%);
    --palWarm-96: rgb(49.4118% 26.2745% 45.098%);
    --palWarm-97: rgb(49.8039% 26.2745% 45.4902%);
    --palWarm-98: rgb(50.1961% 26.2745% 45.4902%);
    --palWarm-99: rgb(50.5882% 26.6667% 45.8824%);
    --palWarm-100: rgb(51.3725% 26.6667% 45.8824%);
    --palWarm-101: rgb(51.7647% 27.0588% 46.2745%);
    --palWarm-102: rgb(52.1569% 27.0588% 46.2745%);
    --palWarm-103: rgb(52.549% 27.0588% 46.2745%);
    --palWarm-104: rgb(53.3333% 27.451% 46.6667%);
    --palWarm-105: rgb(53.7255% 27.451% 46.6667%);
    --palWarm-106: rgb(54.1176% 27.451% 46.6667%);
    --palWarm-107: rgb(54.5098% 27.8431% 47.0588%);
    --palWarm-108: rgb(55.2941% 27.8431% 47.0588%);
    --palWarm-109: rgb(55.6863% 27.8431% 47.0588%);
    --palWarm-110: rgb(56.0784% 28.2353% 47.0588%);
    --palWarm-111: rgb(56.8627% 28.2353% 47.451%);
    --palWarm-112: rgb(57.2549% 28.6275% 47.451%);
    --palWarm-113: rgb(57.6471% 28.6275% 47.451%);
    --palWarm-114: rgb(58.4314% 28.6275% 47.451%);
    --palWarm-115: rgb(58.8235% 29.0196% 47.451%);
    --palWarm-116: rgb(59.2157% 29.0196% 47.451%);
    --palWarm-117: rgb(60% 29.0196% 47.8431%);
    --palWarm-118: rgb(60.3922% 29.4118% 47.8431%);
    --palWarm-119: rgb(60.7843% 29.4118% 47.8431%);
    --palWarm-120: rgb(61.5686% 29.8039% 47.8431%);
    --palWarm-121: rgb(61.9608% 29.8039% 47.8431%);
    --palWarm-122: rgb(62.3529% 29.8039% 47.8431%);
    --palWarm-123: rgb(63.1373% 30.1961% 47.8431%);
    --palWarm-124: rgb(63.5294% 30.1961% 47.451%);
    --palWarm-125: rgb(63.9216% 30.5882% 47.451%);
    --palWarm-126: rgb(64.7059% 30.5882% 47.451%);
    --palWarm-127: rgb(65.098% 30.5882% 47.451%);
    --palWarm-128: rgb(65.8824% 30.9804% 47.451%);
    --palWarm-129: rgb(66.2745% 30.9804% 47.451%);
    --palWarm-130: rgb(66.6667% 30.9804% 47.0588%);
    --palWarm-131: rgb(67.451% 31.3725% 47.0588%);
    --palWarm-132: rgb(67.8431% 31.3725% 46.6667%);
    --palWarm-133: rgb(68.6275% 31.7647% 46.6667%);
    --palWarm-134: rgb(69.0196% 31.7647% 46.6667%);
    --palWarm-135: rgb(69.4118% 31.7647% 46.2745%);
    --palWarm-136: rgb(70.1961% 32.1569% 46.2745%);
    --palWarm-137: rgb(70.5882% 32.1569% 45.8824%);
    --palWarm-138: rgb(71.3725% 32.549% 45.4902%);
    --palWarm-139: rgb(71.7647% 32.549% 45.4902%);
    --palWarm-140: rgb(72.549% 32.9412% 45.098%);
    --palWarm-141: rgb(72.9412% 32.9412% 44.7059%);
    --palWarm-142: rgb(73.3333% 33.3333% 44.7059%);
    --palWarm-143: rgb(73.3333% 33.7255% 44.3137%);
    --palWarm-144: rgb(73.7255% 34.1176% 44.3137%);
    --palWarm-145: rgb(74.1176% 34.5098% 43.9216%);
    --palWarm-146: rgb(74.5098% 34.5098% 43.9216%);
    --palWarm-147: rgb(74.5098% 34.902% 43.5294%);
    --palWarm-148: rgb(74.902% 35.2941% 43.5294%);
    --palWarm-149: rgb(75.2941% 35.6863% 43.1373%);
    --palWarm-150: rgb(75.6863% 36.0784% 43.1373%);
    --palWarm-151: rgb(75.6863% 36.4706% 42.7451%);
    --palWarm-152: rgb(76.0784% 36.8627% 42.7451%);
    --palWarm-153: rgb(76.4706% 37.2549% 42.7451%);
    --palWarm-154: rgb(76.4706% 37.6471% 42.3529%);
    --palWarm-155: rgb(76.8627% 38.0392% 42.3529%);
    --palWarm-156: rgb(77.2549% 38.4314% 41.9608%);
    --palWarm-157: rgb(77.2549% 38.8235% 41.9608%);
    --palWarm-158: rgb(77.6471% 39.2157% 41.9608%);
    --palWarm-159: rgb(77.6471% 39.6078% 41.5686%);
    --palWarm-160: rgb(78.0392% 40% 41.5686%);
    --palWarm-161: rgb(78.4314% 40.3922% 41.1765%);
    --palWarm-162: rgb(78.4314% 40.7843% 41.1765%);
    --palWarm-163: rgb(78.8235% 41.1765% 41.1765%);
    --palWarm-164: rgb(78.8235% 41.5686% 40.7843%);
    --palWarm-165: rgb(79.2157% 41.9608% 40.7843%);
    --palWarm-166: rgb(79.2157% 41.9608% 40.7843%);
    --palWarm-167: rgb(79.6078% 42.3529% 40.3922%);
    --palWarm-168: rgb(80% 42.7451% 40.3922%);
    --palWarm-169: rgb(80% 43.1373% 40.3922%);
    --palWarm-170: rgb(80.3922% 43.5294% 40%);
    --palWarm-171: rgb(80.3922% 43.9216% 40%);
    --palWarm-172: rgb(80.7843% 44.3137% 40%);
    --palWarm-173: rgb(80.7843% 44.7059% 40%);
    --palWarm-174: rgb(80.7843% 45.098% 39.6078%);
    --palWarm-175: rgb(81.1765% 45.4902% 39.6078%);
    --palWarm-176: rgb(81.1765% 45.8824% 39.6078%);
    --palWarm-177: rgb(81.5686% 46.2745% 39.6078%);
    --palWarm-178: rgb(81.5686% 46.6667% 39.2157%);
    --palWarm-179: rgb(81.9608% 47.0588% 39.2157%);
    --palWarm-180: rgb(81.9608% 47.451% 39.2157%);
    --palWarm-181: rgb(82.3529% 47.8431% 39.2157%);
    --palWarm-182: rgb(82.3529% 48.2353% 38.8235%);
    --palWarm-183: rgb(82.3529% 48.6275% 38.8235%);
    --palWarm-184: rgb(82.7451% 49.4118% 38.8235%);
    --palWarm-185: rgb(82.7451% 49.8039% 38.8235%);
    --palWarm-186: rgb(83.1373% 50.1961% 38.8235%);
    --palWarm-187: rgb(83.1373% 50.5882% 38.4314%);
    --palWarm-188: rgb(83.1373% 50.9804% 38.4314%);
    --palWarm-189: rgb(83.5294% 51.3725% 38.4314%);
    --palWarm-190: rgb(83.5294% 51.7647% 38.4314%);
    --palWarm-191: rgb(83.5294% 52.1569% 38.4314%);
    --palWarm-192: rgb(83.9216% 52.549% 38.0392%);
    --palWarm-193: rgb(83.9216% 52.9412% 38.0392%);
    --palWarm-194: rgb(83.9216% 53.3333% 38.0392%);
    --palWarm-195: rgb(84.3137% 53.7255% 38.0392%);
    --palWarm-196: rgb(84.3137% 54.1176% 38.0392%);
    --palWarm-197: rgb(84.3137% 54.5098% 38.0392%);
    --palWarm-198: rgb(84.7059% 54.902% 38.0392%);
    --palWarm-199: rgb(84.7059% 55.2941% 37.6471%);
    --palWarm-200: rgb(84.7059% 55.6863% 37.6471%);
    --palWarm-201: rgb(85.098% 56.0784% 37.6471%);
    --palWarm-202: rgb(85.098% 56.4706% 37.6471%);
    --palWarm-203: rgb(85.098% 56.8627% 37.6471%);
    --palWarm-204: rgb(85.098% 57.2549% 37.6471%);
    --palWarm-205: rgb(85.4902% 57.6471% 37.6471%);
    --palWarm-206: rgb(85.4902% 58.0392% 37.6471%);
    --palWarm-207: rgb(85.4902% 58.4314% 37.6471%);
    --palWarm-208: rgb(85.4902% 58.8235% 37.6471%);
    --palWarm-209: rgb(85.4902% 59.2157% 37.6471%);
    --palWarm-210: rgb(85.8824% 60% 37.2549%);
    --palWarm-211: rgb(85.8824% 60.3922% 37.2549%);
    --palWarm-212: rgb(85.8824% 60.7843% 37.2549%);
    --palWarm-213: rgb(85.8824% 61.1765% 37.2549%);
    --palWarm-214: rgb(85.8824% 61.5686% 37.2549%);
    --palWarm-215: rgb(86.2745% 61.9608% 37.2549%);
    --palWarm-216: rgb(86.2745% 62.3529% 37.2549%);
    --palWarm-217: rgb(86.2745% 62.7451% 37.2549%);
    --palWarm-218: rgb(86.2745% 63.1373% 37.2549%);
    --palWarm-219: rgb(86.2745% 63.5294% 37.2549%);
    --palWarm-220: rgb(86.2745% 63.9216% 37.2549%);
    --palWarm-221: rgb(86.2745% 64.3137% 37.2549%);
    --palWarm-222: rgb(86.6667% 64.7059% 37.2549%);
    --palWarm-223: rgb(86.6667% 65.098% 37.2549%);
    --palWarm-224: rgb(86.6667% 65.4902% 37.2549%);
    --palWarm-225: rgb(86.6667% 66.2745% 37.2549%);
    --palWarm-226: rgb(86.6667% 66.6667% 37.2549%);
    --palWarm-227: rgb(86.6667% 67.0588% 37.2549%);
    --palWarm-228: rgb(86.6667% 67.451% 37.2549%);
    --palWarm-229: rgb(86.6667% 67.8431% 37.2549%);
    --palWarm-230: rgb(86.6667% 68.2353% 37.6471%);
    --palWarm-231: rgb(86.6667% 68.6275% 37.6471%);
    --palWarm-232: rgb(86.6667% 69.0196% 37.6471%);
    --palWarm-233: rgb(86.6667% 69.4118% 37.6471%);
    --palWarm-234: rgb(86.6667% 69.8039% 37.6471%);
    --palWarm-235: rgb(86.6667% 70.1961% 37.6471%);
    --palWarm-236: rgb(86.6667% 70.5882% 37.6471%);
    --palWarm-237: rgb(86.6667% 70.9804% 37.6471%);
    --palWarm-238: rgb(86.6667% 71.3725% 37.6471%);
    --palWarm-239: rgb(86.6667% 72.1569% 37.6471%);
    --palWarm-240: rgb(86.6667% 72.549% 37.6471%);
    --palWarm-241: rgb(86.6667% 72.9412% 38.0392%);
    --palWarm-242: rgb(86.6667% 73.3333% 38.0392%);
    --palWarm-243: rgb(86.6667% 73.7255% 38.0392%);
    --palWarm-244: rgb(86.6667% 74.1176% 38.0392%);
    --palWarm-245: rgb(86.6667% 74.5098% 38.0392%);
    --palWarm-246: rgb(86.6667% 74.902% 38.0392%);
    --palWarm-247: rgb(86.6667% 75.2941% 38.0392%);
    --palWarm-248: rgb(86.6667% 75.6863% 38.4314%);
    --palWarm-249: rgb(86.6667% 76.0784% 38.4314%);
    --palWarm-250: rgb(86.6667% 76.8627% 38.4314%);
    --palWarm-251: rgb(86.6667% 77.2549% 38.4314%);
    --palWarm-252: rgb(86.2745% 77.6471% 38.4314%);
    --palWarm-253: rgb(86.2745% 78.0392% 38.8235%);
    --palWarm-254: rgb(86.2745% 78.4314% 38.8235%);
    --palWarm-255: rgb(86.2745% 78.8235% 38.8235%);
}
