/* ------------------------------------------------------------------ */
/* -- File created by the ''@prism'' project which is developed at -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism .  -- */
/* ------------------------------------------------------------------ */

:root {
    --palWater-1: rgb(10.5882% 11.7647% 13.7255%);
    --palWater-2: rgb(10.5882% 12.1569% 14.1176%);
    --palWater-3: rgb(10.9804% 12.1569% 14.5098%);
    --palWater-4: rgb(10.9804% 12.549% 14.902%);
    --palWater-5: rgb(11.3725% 12.549% 15.2941%);
    --palWater-6: rgb(11.3725% 12.9412% 15.6863%);
    --palWater-7: rgb(11.7647% 12.9412% 16.0784%);
    --palWater-8: rgb(11.7647% 13.3333% 16.4706%);
    --palWater-9: rgb(11.7647% 13.3333% 16.8627%);
    --palWater-10: rgb(12.1569% 13.7255% 17.2549%);
    --palWater-11: rgb(12.1569% 13.7255% 17.6471%);
    --palWater-12: rgb(12.549% 14.1176% 18.0392%);
    --palWater-13: rgb(12.549% 14.1176% 18.4314%);
    --palWater-14: rgb(12.9412% 14.5098% 18.8235%);
    --palWater-15: rgb(12.9412% 14.5098% 19.2157%);
    --palWater-16: rgb(12.9412% 14.902% 19.6078%);
    --palWater-17: rgb(13.3333% 15.2941% 19.6078%);
    --palWater-18: rgb(13.3333% 15.2941% 20%);
    --palWater-19: rgb(13.7255% 15.6863% 20.3922%);
    --palWater-20: rgb(13.7255% 15.6863% 20.7843%);
    --palWater-21: rgb(13.7255% 16.0784% 21.1765%);
    --palWater-22: rgb(14.1176% 16.0784% 21.5686%);
    --palWater-23: rgb(14.1176% 16.4706% 21.9608%);
    --palWater-24: rgb(14.5098% 16.4706% 22.3529%);
    --palWater-25: rgb(14.5098% 16.8627% 22.7451%);
    --palWater-26: rgb(14.5098% 17.2549% 23.1373%);
    --palWater-27: rgb(14.902% 17.2549% 23.5294%);
    --palWater-28: rgb(14.902% 17.6471% 23.9216%);
    --palWater-29: rgb(15.2941% 17.6471% 24.3137%);
    --palWater-30: rgb(15.2941% 18.0392% 24.7059%);
    --palWater-31: rgb(15.2941% 18.0392% 25.098%);
    --palWater-32: rgb(15.6863% 18.4314% 25.4902%);
    --palWater-33: rgb(15.6863% 18.8235% 25.8824%);
    --palWater-34: rgb(16.0784% 18.8235% 26.2745%);
    --palWater-35: rgb(16.0784% 19.2157% 26.6667%);
    --palWater-36: rgb(16.0784% 19.2157% 27.0588%);
    --palWater-37: rgb(16.4706% 19.6078% 27.451%);
    --palWater-38: rgb(16.4706% 19.6078% 27.8431%);
    --palWater-39: rgb(16.8627% 20% 28.2353%);
    --palWater-40: rgb(16.8627% 20.3922% 28.6275%);
    --palWater-41: rgb(16.8627% 20.3922% 29.4118%);
    --palWater-42: rgb(17.2549% 20.7843% 29.8039%);
    --palWater-43: rgb(17.2549% 20.7843% 30.1961%);
    --palWater-44: rgb(17.6471% 21.1765% 30.5882%);
    --palWater-45: rgb(17.6471% 21.1765% 30.9804%);
    --palWater-46: rgb(17.6471% 21.5686% 31.3725%);
    --palWater-47: rgb(18.0392% 21.9608% 31.7647%);
    --palWater-48: rgb(18.0392% 21.9608% 32.1569%);
    --palWater-49: rgb(18.4314% 22.3529% 32.549%);
    --palWater-50: rgb(18.4314% 22.3529% 32.9412%);
    --palWater-51: rgb(18.4314% 22.7451% 33.3333%);
    --palWater-52: rgb(18.8235% 23.1373% 33.7255%);
    --palWater-53: rgb(18.8235% 23.1373% 34.1176%);
    --palWater-54: rgb(19.2157% 23.5294% 34.5098%);
    --palWater-55: rgb(19.2157% 23.5294% 34.902%);
    --palWater-56: rgb(19.2157% 23.9216% 35.2941%);
    --palWater-57: rgb(19.6078% 24.3137% 35.6863%);
    --palWater-58: rgb(19.6078% 24.3137% 36.0784%);
    --palWater-59: rgb(19.6078% 24.7059% 36.4706%);
    --palWater-60: rgb(20% 24.7059% 36.8627%);
    --palWater-61: rgb(20% 25.098% 37.2549%);
    --palWater-62: rgb(20.3922% 25.4902% 37.6471%);
    --palWater-63: rgb(20.3922% 25.4902% 38.0392%);
    --palWater-64: rgb(20.3922% 25.8824% 38.4314%);
    --palWater-65: rgb(20.7843% 25.8824% 38.8235%);
    --palWater-66: rgb(20.7843% 26.2745% 39.2157%);
    --palWater-67: rgb(20.7843% 26.6667% 39.6078%);
    --palWater-68: rgb(21.1765% 26.6667% 40%);
    --palWater-69: rgb(21.1765% 27.0588% 40.3922%);
    --palWater-70: rgb(21.5686% 27.0588% 40.7843%);
    --palWater-71: rgb(21.5686% 27.451% 41.1765%);
    --palWater-72: rgb(21.5686% 27.8431% 41.5686%);
    --palWater-73: rgb(21.9608% 27.8431% 41.9608%);
    --palWater-74: rgb(21.9608% 28.2353% 42.3529%);
    --palWater-75: rgb(21.9608% 28.6275% 42.7451%);
    --palWater-76: rgb(22.3529% 28.6275% 43.1373%);
    --palWater-77: rgb(22.3529% 29.0196% 43.5294%);
    --palWater-78: rgb(22.7451% 29.0196% 43.9216%);
    --palWater-79: rgb(22.7451% 29.4118% 44.3137%);
    --palWater-80: rgb(22.7451% 29.8039% 44.7059%);
    --palWater-81: rgb(23.1373% 29.8039% 45.4902%);
    --palWater-82: rgb(23.1373% 30.1961% 45.4902%);
    --palWater-83: rgb(23.1373% 30.5882% 46.2745%);
    --palWater-84: rgb(23.5294% 30.5882% 46.6667%);
    --palWater-85: rgb(23.5294% 30.9804% 47.0588%);
    --palWater-86: rgb(23.9216% 30.9804% 47.451%);
    --palWater-87: rgb(23.9216% 31.3725% 47.8431%);
    --palWater-88: rgb(23.9216% 31.7647% 48.2353%);
    --palWater-89: rgb(24.3137% 31.7647% 48.6275%);
    --palWater-90: rgb(24.3137% 32.1569% 49.0196%);
    --palWater-91: rgb(24.3137% 32.549% 49.4118%);
    --palWater-92: rgb(24.7059% 32.549% 49.8039%);
    --palWater-93: rgb(24.7059% 32.9412% 50.1961%);
    --palWater-94: rgb(25.098% 33.3333% 50.5882%);
    --palWater-95: rgb(25.098% 33.3333% 50.9804%);
    --palWater-96: rgb(25.098% 33.7255% 51.3725%);
    --palWater-97: rgb(25.4902% 34.1176% 51.7647%);
    --palWater-98: rgb(25.4902% 34.1176% 52.1569%);
    --palWater-99: rgb(25.4902% 34.5098% 52.549%);
    --palWater-100: rgb(25.8824% 34.902% 52.9412%);
    --palWater-101: rgb(25.8824% 34.902% 53.3333%);
    --palWater-102: rgb(25.8824% 35.2941% 53.7255%);
    --palWater-103: rgb(26.2745% 35.6863% 54.1176%);
    --palWater-104: rgb(26.2745% 35.6863% 54.5098%);
    --palWater-105: rgb(26.6667% 36.0784% 54.902%);
    --palWater-106: rgb(26.6667% 36.4706% 55.2941%);
    --palWater-107: rgb(26.6667% 36.4706% 55.6863%);
    --palWater-108: rgb(27.0588% 36.8627% 56.0784%);
    --palWater-109: rgb(27.0588% 37.2549% 56.4706%);
    --palWater-110: rgb(27.0588% 37.2549% 56.8627%);
    --palWater-111: rgb(27.451% 37.6471% 57.2549%);
    --palWater-112: rgb(27.451% 38.0392% 57.6471%);
    --palWater-113: rgb(27.8431% 38.0392% 58.0392%);
    --palWater-114: rgb(27.8431% 38.4314% 58.4314%);
    --palWater-115: rgb(27.8431% 38.8235% 58.8235%);
    --palWater-116: rgb(28.2353% 38.8235% 59.2157%);
    --palWater-117: rgb(28.2353% 39.2157% 59.6078%);
    --palWater-118: rgb(28.2353% 39.6078% 60%);
    --palWater-119: rgb(28.6275% 39.6078% 60%);
    --palWater-120: rgb(28.6275% 40% 60.3922%);
    --palWater-121: rgb(28.6275% 40.3922% 60.7843%);
    --palWater-122: rgb(29.0196% 40.3922% 61.1765%);
    --palWater-123: rgb(29.0196% 40.7843% 61.5686%);
    --palWater-124: rgb(29.4118% 41.1765% 61.9608%);
    --palWater-125: rgb(29.4118% 41.1765% 62.3529%);
    --palWater-126: rgb(29.4118% 41.5686% 62.7451%);
    --palWater-127: rgb(29.8039% 41.9608% 63.1373%);
    --palWater-128: rgb(29.8039% 41.9608% 63.5294%);
    --palWater-129: rgb(29.8039% 42.3529% 63.9216%);
    --palWater-130: rgb(30.1961% 42.7451% 64.3137%);
    --palWater-131: rgb(30.1961% 43.1373% 64.7059%);
    --palWater-132: rgb(30.5882% 43.1373% 65.098%);
    --palWater-133: rgb(30.5882% 43.5294% 65.4902%);
    --palWater-134: rgb(30.5882% 43.9216% 65.4902%);
    --palWater-135: rgb(30.9804% 43.9216% 65.8824%);
    --palWater-136: rgb(30.9804% 44.3137% 66.2745%);
    --palWater-137: rgb(30.9804% 44.7059% 66.6667%);
    --palWater-138: rgb(31.3725% 45.098% 67.0588%);
    --palWater-139: rgb(31.3725% 45.098% 67.451%);
    --palWater-140: rgb(31.3725% 45.4902% 67.8431%);
    --palWater-141: rgb(31.7647% 45.8824% 68.2353%);
    --palWater-142: rgb(31.7647% 45.8824% 68.6275%);
    --palWater-143: rgb(32.1569% 46.2745% 68.6275%);
    --palWater-144: rgb(32.1569% 46.6667% 69.0196%);
    --palWater-145: rgb(32.1569% 47.0588% 69.4118%);
    --palWater-146: rgb(32.549% 47.0588% 69.8039%);
    --palWater-147: rgb(32.549% 47.451% 70.1961%);
    --palWater-148: rgb(32.549% 47.8431% 70.5882%);
    --palWater-149: rgb(32.9412% 48.2353% 70.5882%);
    --palWater-150: rgb(32.9412% 48.2353% 70.9804%);
    --palWater-151: rgb(32.9412% 48.6275% 71.3725%);
    --palWater-152: rgb(33.3333% 49.0196% 71.7647%);
    --palWater-153: rgb(33.3333% 49.0196% 71.7647%);
    --palWater-154: rgb(33.7255% 49.4118% 72.1569%);
    --palWater-155: rgb(33.7255% 49.8039% 72.549%);
    --palWater-156: rgb(33.7255% 50.1961% 72.9412%);
    --palWater-157: rgb(34.1176% 50.1961% 72.9412%);
    --palWater-158: rgb(34.1176% 50.5882% 73.3333%);
    --palWater-159: rgb(34.1176% 50.9804% 73.7255%);
    --palWater-160: rgb(34.5098% 51.3725% 74.1176%);
    --palWater-161: rgb(34.5098% 51.7647% 74.1176%);
    --palWater-162: rgb(34.5098% 51.7647% 74.5098%);
    --palWater-163: rgb(34.902% 52.1569% 74.902%);
    --palWater-164: rgb(34.902% 52.549% 74.902%);
    --palWater-165: rgb(35.2941% 52.9412% 75.2941%);
    --palWater-166: rgb(35.2941% 52.9412% 75.2941%);
    --palWater-167: rgb(35.2941% 53.3333% 75.6863%);
    --palWater-168: rgb(35.6863% 53.7255% 76.0784%);
    --palWater-169: rgb(35.6863% 54.1176% 76.0784%);
    --palWater-170: rgb(35.6863% 54.5098% 76.4706%);
    --palWater-171: rgb(36.0784% 54.5098% 76.4706%);
    --palWater-172: rgb(36.0784% 54.902% 76.8627%);
    --palWater-173: rgb(36.0784% 55.2941% 76.8627%);
    --palWater-174: rgb(36.4706% 55.6863% 77.2549%);
    --palWater-175: rgb(36.4706% 56.0784% 77.2549%);
    --palWater-176: rgb(36.4706% 56.4706% 77.2549%);
    --palWater-177: rgb(36.8627% 56.4706% 77.6471%);
    --palWater-178: rgb(36.8627% 56.8627% 77.6471%);
    --palWater-179: rgb(36.8627% 57.2549% 77.6471%);
    --palWater-180: rgb(37.2549% 57.6471% 77.6471%);
    --palWater-181: rgb(37.2549% 58.0392% 78.0392%);
    --palWater-182: rgb(37.2549% 58.4314% 78.0392%);
    --palWater-183: rgb(37.6471% 58.4314% 78.0392%);
    --palWater-184: rgb(37.6471% 58.8235% 78.0392%);
    --palWater-185: rgb(37.6471% 59.2157% 78.0392%);
    --palWater-186: rgb(37.6471% 59.6078% 78.0392%);
    --palWater-187: rgb(37.6471% 60% 78.0392%);
    --palWater-188: rgb(38.0392% 60.3922% 78.0392%);
    --palWater-189: rgb(38.0392% 60.7843% 78.0392%);
    --palWater-190: rgb(38.0392% 61.1765% 78.0392%);
    --palWater-191: rgb(38.0392% 61.5686% 78.0392%);
    --palWater-192: rgb(38.4314% 61.9608% 78.0392%);
    --palWater-193: rgb(38.4314% 62.3529% 78.0392%);
    --palWater-194: rgb(38.4314% 62.3529% 78.0392%);
    --palWater-195: rgb(38.4314% 62.7451% 78.0392%);
    --palWater-196: rgb(38.4314% 63.1373% 78.0392%);
    --palWater-197: rgb(38.8235% 63.5294% 78.0392%);
    --palWater-198: rgb(38.8235% 63.9216% 78.0392%);
    --palWater-199: rgb(38.8235% 64.3137% 78.0392%);
    --palWater-200: rgb(38.8235% 64.7059% 78.0392%);
    --palWater-201: rgb(39.2157% 65.098% 78.0392%);
    --palWater-202: rgb(39.2157% 65.098% 78.0392%);
    --palWater-203: rgb(39.2157% 65.4902% 78.0392%);
    --palWater-204: rgb(39.6078% 65.8824% 78.4314%);
    --palWater-205: rgb(39.6078% 66.2745% 78.4314%);
    --palWater-206: rgb(39.6078% 66.6667% 78.4314%);
    --palWater-207: rgb(39.6078% 67.0588% 78.4314%);
    --palWater-208: rgb(40% 67.451% 78.4314%);
    --palWater-209: rgb(40% 67.8431% 78.4314%);
    --palWater-210: rgb(40% 67.8431% 78.8235%);
    --palWater-211: rgb(40.3922% 68.2353% 78.8235%);
    --palWater-212: rgb(40.3922% 68.6275% 78.8235%);
    --palWater-213: rgb(40.3922% 69.0196% 78.8235%);
    --palWater-214: rgb(40.7843% 69.4118% 78.8235%);
    --palWater-215: rgb(40.7843% 69.8039% 79.2157%);
    --palWater-216: rgb(40.7843% 70.1961% 79.2157%);
    --palWater-217: rgb(41.1765% 70.1961% 79.2157%);
    --palWater-218: rgb(41.1765% 70.5882% 79.2157%);
    --palWater-219: rgb(41.1765% 70.9804% 79.6078%);
    --palWater-220: rgb(41.5686% 71.3725% 79.6078%);
    --palWater-221: rgb(41.5686% 71.7647% 79.6078%);
    --palWater-222: rgb(41.9608% 72.1569% 80%);
    --palWater-223: rgb(41.9608% 72.1569% 80%);
    --palWater-224: rgb(41.9608% 72.549% 80%);
    --palWater-225: rgb(42.3529% 72.9412% 80.3922%);
    --palWater-226: rgb(42.3529% 73.3333% 80.3922%);
    --palWater-227: rgb(42.7451% 73.7255% 80.3922%);
    --palWater-228: rgb(42.7451% 74.1176% 80.7843%);
    --palWater-229: rgb(43.1373% 74.1176% 80.7843%);
    --palWater-230: rgb(43.1373% 74.5098% 81.1765%);
    --palWater-231: rgb(43.5294% 74.902% 81.1765%);
    --palWater-232: rgb(43.5294% 75.2941% 81.1765%);
    --palWater-233: rgb(43.9216% 75.6863% 81.5686%);
    --palWater-234: rgb(43.9216% 76.0784% 81.5686%);
    --palWater-235: rgb(44.3137% 76.0784% 81.9608%);
    --palWater-236: rgb(44.3137% 76.4706% 81.9608%);
    --palWater-237: rgb(44.7059% 76.8627% 82.3529%);
    --palWater-238: rgb(44.7059% 77.2549% 82.3529%);
    --palWater-239: rgb(45.098% 77.6471% 82.7451%);
    --palWater-240: rgb(45.098% 77.6471% 82.7451%);
    --palWater-241: rgb(45.4902% 78.0392% 83.1373%);
    --palWater-242: rgb(45.8824% 78.4314% 83.1373%);
    --palWater-243: rgb(45.8824% 78.8235% 83.5294%);
    --palWater-244: rgb(46.2745% 78.8235% 83.9216%);
    --palWater-245: rgb(46.6667% 79.2157% 83.9216%);
    --palWater-246: rgb(46.6667% 79.6078% 84.3137%);
    --palWater-247: rgb(47.0588% 80% 84.7059%);
    --palWater-248: rgb(47.451% 80.3922% 84.7059%);
    --palWater-249: rgb(47.451% 80.3922% 85.098%);
    --palWater-250: rgb(47.8431% 80.7843% 85.4902%);
    --palWater-251: rgb(48.2353% 81.1765% 85.4902%);
    --palWater-252: rgb(48.2353% 81.5686% 85.8824%);
    --palWater-253: rgb(48.6275% 81.5686% 86.2745%);
    --palWater-254: rgb(49.0196% 81.9608% 86.2745%);
    --palWater-255: rgb(49.4118% 82.3529% 86.6667%);
}
