/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palWYmiddle1-1: rgb(2.734375% 8.203125% 42.578125%);
    --palWYmiddle1-2: rgb(3.125% 9.375% 43.359375%);
    --palWYmiddle1-3: rgb(3.515625% 10.15625% 44.140625%);
    --palWYmiddle1-4: rgb(3.515625% 11.328125% 44.53125%);
    --palWYmiddle1-5: rgb(3.90625% 12.5% 45.3125%);
    --palWYmiddle1-6: rgb(4.296875% 13.671875% 46.09375%);
    --palWYmiddle1-7: rgb(4.6875% 14.453125% 46.875%);
    --palWYmiddle1-8: rgb(4.6875% 15.625% 47.265625%);
    --palWYmiddle1-9: rgb(5.078125% 16.796875% 48.046875%);
    --palWYmiddle1-10: rgb(5.46875% 17.96875% 48.828125%);
    --palWYmiddle1-11: rgb(5.859375% 19.140625% 49.21875%);
    --palWYmiddle1-12: rgb(5.859375% 19.921875% 50%);
    --palWYmiddle1-13: rgb(6.25% 21.09375% 50.78125%);
    --palWYmiddle1-14: rgb(6.640625% 22.265625% 51.5625%);
    --palWYmiddle1-15: rgb(6.640625% 23.4375% 51.953125%);
    --palWYmiddle1-16: rgb(7.03125% 24.21875% 52.734375%);
    --palWYmiddle1-17: rgb(7.421875% 25.390625% 53.515625%);
    --palWYmiddle1-18: rgb(7.8125% 26.5625% 54.296875%);
    --palWYmiddle1-19: rgb(7.8125% 27.734375% 54.6875%);
    --palWYmiddle1-20: rgb(8.203125% 28.90625% 55.46875%);
    --palWYmiddle1-21: rgb(8.59375% 29.6875% 56.25%);
    --palWYmiddle1-22: rgb(8.984375% 30.859375% 57.03125%);
    --palWYmiddle1-23: rgb(8.984375% 32.03125% 57.421875%);
    --palWYmiddle1-24: rgb(9.375% 33.203125% 58.203125%);
    --palWYmiddle1-25: rgb(9.765625% 33.984375% 58.984375%);
    --palWYmiddle1-26: rgb(10.15625% 35.15625% 59.375%);
    --palWYmiddle1-27: rgb(10.15625% 36.328125% 60.15625%);
    --palWYmiddle1-28: rgb(10.546875% 37.5% 60.9375%);
    --palWYmiddle1-29: rgb(10.9375% 38.671875% 61.71875%);
    --palWYmiddle1-30: rgb(11.328125% 39.453125% 62.109375%);
    --palWYmiddle1-31: rgb(11.328125% 40.625% 62.890625%);
    --palWYmiddle1-32: rgb(11.71875% 41.796875% 63.671875%);
    --palWYmiddle1-33: rgb(12.109375% 42.96875% 64.453125%);
    --palWYmiddle1-34: rgb(12.109375% 44.140625% 64.84375%);
    --palWYmiddle1-35: rgb(12.5% 44.921875% 65.625%);
    --palWYmiddle1-36: rgb(12.890625% 46.09375% 66.40625%);
    --palWYmiddle1-37: rgb(13.28125% 47.265625% 67.1875%);
    --palWYmiddle1-38: rgb(13.28125% 48.4375% 67.578125%);
    --palWYmiddle1-39: rgb(13.671875% 49.21875% 68.359375%);
    --palWYmiddle1-40: rgb(14.0625% 50.390625% 69.140625%);
    --palWYmiddle1-41: rgb(14.453125% 51.5625% 69.53125%);
    --palWYmiddle1-42: rgb(14.453125% 52.734375% 70.3125%);
    --palWYmiddle1-43: rgb(15.234375% 53.515625% 70.703125%);
    --palWYmiddle1-44: rgb(15.625% 54.296875% 71.09375%);
    --palWYmiddle1-45: rgb(16.015625% 55.078125% 71.09375%);
    --palWYmiddle1-46: rgb(16.796875% 55.859375% 71.484375%);
    --palWYmiddle1-47: rgb(17.1875% 56.640625% 71.875%);
    --palWYmiddle1-48: rgb(17.96875% 57.03125% 71.875%);
    --palWYmiddle1-49: rgb(18.359375% 57.8125% 72.265625%);
    --palWYmiddle1-50: rgb(18.75% 58.59375% 72.65625%);
    --palWYmiddle1-51: rgb(19.53125% 59.375% 72.65625%);
    --palWYmiddle1-52: rgb(19.921875% 60.15625% 73.046875%);
    --palWYmiddle1-53: rgb(20.703125% 60.9375% 73.4375%);
    --palWYmiddle1-54: rgb(21.09375% 61.71875% 73.4375%);
    --palWYmiddle1-55: rgb(21.484375% 62.5% 73.828125%);
    --palWYmiddle1-56: rgb(22.265625% 63.28125% 74.21875%);
    --palWYmiddle1-57: rgb(22.65625% 64.0625% 74.21875%);
    --palWYmiddle1-58: rgb(23.4375% 64.84375% 74.609375%);
    --palWYmiddle1-59: rgb(23.828125% 65.625% 75%);
    --palWYmiddle1-60: rgb(24.21875% 66.40625% 75%);
    --palWYmiddle1-61: rgb(25% 67.1875% 75.390625%);
    --palWYmiddle1-62: rgb(25.390625% 67.96875% 75.78125%);
    --palWYmiddle1-63: rgb(26.171875% 68.359375% 75.78125%);
    --palWYmiddle1-64: rgb(26.5625% 69.140625% 76.171875%);
    --palWYmiddle1-65: rgb(26.953125% 69.921875% 76.5625%);
    --palWYmiddle1-66: rgb(27.734375% 70.703125% 76.5625%);
    --palWYmiddle1-67: rgb(28.125% 71.484375% 76.953125%);
    --palWYmiddle1-68: rgb(28.515625% 72.265625% 77.34375%);
    --palWYmiddle1-69: rgb(29.296875% 73.046875% 77.34375%);
    --palWYmiddle1-70: rgb(29.6875% 73.828125% 77.734375%);
    --palWYmiddle1-71: rgb(30.46875% 74.609375% 78.125%);
    --palWYmiddle1-72: rgb(30.859375% 75.390625% 78.125%);
    --palWYmiddle1-73: rgb(31.25% 76.171875% 78.515625%);
    --palWYmiddle1-74: rgb(32.03125% 76.953125% 78.515625%);
    --palWYmiddle1-75: rgb(32.421875% 77.734375% 78.90625%);
    --palWYmiddle1-76: rgb(33.203125% 78.515625% 79.296875%);
    --palWYmiddle1-77: rgb(33.59375% 79.296875% 79.296875%);
    --palWYmiddle1-78: rgb(33.984375% 79.6875% 79.6875%);
    --palWYmiddle1-79: rgb(34.765625% 80.46875% 80.078125%);
    --palWYmiddle1-80: rgb(35.15625% 81.25% 80.078125%);
    --palWYmiddle1-81: rgb(35.9375% 82.03125% 80.46875%);
    --palWYmiddle1-82: rgb(36.328125% 82.8125% 80.859375%);
    --palWYmiddle1-83: rgb(36.71875% 83.59375% 80.859375%);
    --palWYmiddle1-84: rgb(37.5% 84.375% 81.25%);
    --palWYmiddle1-85: rgb(37.890625% 85.15625% 81.640625%);
    --palWYmiddle1-86: rgb(38.671875% 85.9375% 81.640625%);
    --palWYmiddle1-87: rgb(39.0625% 86.71875% 82.03125%);
    --palWYmiddle1-88: rgb(39.453125% 87.5% 82.421875%);
    --palWYmiddle1-89: rgb(40.234375% 88.28125% 82.421875%);
    --palWYmiddle1-90: rgb(40.625% 89.0625% 82.8125%);
    --palWYmiddle1-91: rgb(41.40625% 89.453125% 83.203125%);
    --palWYmiddle1-92: rgb(42.96875% 89.84375% 83.203125%);
    --palWYmiddle1-93: rgb(44.53125% 90.234375% 83.203125%);
    --palWYmiddle1-94: rgb(46.09375% 90.234375% 83.203125%);
    --palWYmiddle1-95: rgb(47.65625% 90.625% 83.203125%);
    --palWYmiddle1-96: rgb(48.828125% 91.015625% 83.203125%);
    --palWYmiddle1-97: rgb(50.390625% 91.015625% 83.203125%);
    --palWYmiddle1-98: rgb(51.953125% 91.40625% 83.203125%);
    --palWYmiddle1-99: rgb(53.515625% 91.796875% 83.203125%);
    --palWYmiddle1-100: rgb(55.078125% 91.796875% 83.203125%);
    --palWYmiddle1-101: rgb(56.640625% 92.1875% 83.203125%);
    --palWYmiddle1-102: rgb(57.8125% 92.578125% 83.59375%);
    --palWYmiddle1-103: rgb(59.375% 92.578125% 83.59375%);
    --palWYmiddle1-104: rgb(60.9375% 92.96875% 83.59375%);
    --palWYmiddle1-105: rgb(62.5% 93.359375% 83.59375%);
    --palWYmiddle1-106: rgb(64.0625% 93.359375% 83.59375%);
    --palWYmiddle1-107: rgb(65.625% 93.75% 83.59375%);
    --palWYmiddle1-108: rgb(66.796875% 94.140625% 83.59375%);
    --palWYmiddle1-109: rgb(68.359375% 94.140625% 83.59375%);
    --palWYmiddle1-110: rgb(69.921875% 94.53125% 83.59375%);
    --palWYmiddle1-111: rgb(71.484375% 94.921875% 83.59375%);
    --palWYmiddle1-112: rgb(73.046875% 94.921875% 83.984375%);
    --palWYmiddle1-113: rgb(74.609375% 95.3125% 83.984375%);
    --palWYmiddle1-114: rgb(75.78125% 95.703125% 83.984375%);
    --palWYmiddle1-115: rgb(77.34375% 95.703125% 83.984375%);
    --palWYmiddle1-116: rgb(78.90625% 96.09375% 83.984375%);
    --palWYmiddle1-117: rgb(80.46875% 96.484375% 83.984375%);
    --palWYmiddle1-118: rgb(82.03125% 96.484375% 83.984375%);
    --palWYmiddle1-119: rgb(83.59375% 96.875% 83.984375%);
    --palWYmiddle1-120: rgb(84.765625% 97.265625% 83.984375%);
    --palWYmiddle1-121: rgb(86.328125% 97.265625% 83.984375%);
    --palWYmiddle1-122: rgb(87.890625% 97.65625% 84.375%);
    --palWYmiddle1-123: rgb(89.453125% 98.046875% 84.375%);
    --palWYmiddle1-124: rgb(91.015625% 98.046875% 84.375%);
    --palWYmiddle1-125: rgb(92.578125% 98.4375% 84.375%);
    --palWYmiddle1-126: rgb(93.75% 98.828125% 84.375%);
    --palWYmiddle1-127: rgb(95.3125% 98.828125% 84.375%);
    --palWYmiddle1-128: rgb(96.875% 99.21875% 84.375%);
    --palWYmiddle1-129: rgb(98.046875% 99.21875% 83.984375%);
    --palWYmiddle1-130: rgb(98.046875% 98.828125% 82.421875%);
    --palWYmiddle1-131: rgb(98.046875% 98.046875% 80.859375%);
    --palWYmiddle1-132: rgb(97.65625% 97.65625% 78.90625%);
    --palWYmiddle1-133: rgb(97.65625% 96.875% 77.34375%);
    --palWYmiddle1-134: rgb(97.65625% 96.484375% 75.390625%);
    --palWYmiddle1-135: rgb(97.265625% 95.703125% 73.828125%);
    --palWYmiddle1-136: rgb(97.265625% 95.3125% 71.875%);
    --palWYmiddle1-137: rgb(97.265625% 94.53125% 70.3125%);
    --palWYmiddle1-138: rgb(96.875% 94.140625% 68.359375%);
    --palWYmiddle1-139: rgb(96.875% 93.359375% 66.796875%);
    --palWYmiddle1-140: rgb(96.875% 92.96875% 65.234375%);
    --palWYmiddle1-141: rgb(96.484375% 92.1875% 63.28125%);
    --palWYmiddle1-142: rgb(96.484375% 91.796875% 61.71875%);
    --palWYmiddle1-143: rgb(96.484375% 91.015625% 59.765625%);
    --palWYmiddle1-144: rgb(96.09375% 90.625% 58.203125%);
    --palWYmiddle1-145: rgb(96.09375% 89.84375% 56.25%);
    --palWYmiddle1-146: rgb(96.09375% 89.453125% 54.6875%);
    --palWYmiddle1-147: rgb(95.703125% 88.671875% 52.734375%);
    --palWYmiddle1-148: rgb(95.703125% 88.28125% 51.171875%);
    --palWYmiddle1-149: rgb(95.703125% 87.890625% 49.21875%);
    --palWYmiddle1-150: rgb(95.3125% 87.109375% 47.65625%);
    --palWYmiddle1-151: rgb(95.3125% 86.71875% 46.09375%);
    --palWYmiddle1-152: rgb(95.3125% 85.9375% 44.140625%);
    --palWYmiddle1-153: rgb(94.921875% 85.546875% 42.578125%);
    --palWYmiddle1-154: rgb(94.921875% 84.765625% 40.625%);
    --palWYmiddle1-155: rgb(94.921875% 84.375% 39.0625%);
    --palWYmiddle1-156: rgb(94.921875% 83.59375% 37.109375%);
    --palWYmiddle1-157: rgb(94.53125% 83.203125% 35.546875%);
    --palWYmiddle1-158: rgb(94.53125% 82.421875% 33.59375%);
    --palWYmiddle1-159: rgb(94.53125% 82.03125% 32.03125%);
    --palWYmiddle1-160: rgb(94.140625% 80.859375% 31.25%);
    --palWYmiddle1-161: rgb(93.75% 80.078125% 30.859375%);
    --palWYmiddle1-162: rgb(93.359375% 78.90625% 30.078125%);
    --palWYmiddle1-163: rgb(93.359375% 78.125% 29.6875%);
    --palWYmiddle1-164: rgb(92.96875% 76.953125% 29.296875%);
    --palWYmiddle1-165: rgb(92.578125% 75.78125% 28.515625%);
    --palWYmiddle1-166: rgb(92.1875% 75% 28.125%);
    --palWYmiddle1-167: rgb(91.796875% 73.828125% 27.34375%);
    --palWYmiddle1-168: rgb(91.796875% 73.046875% 26.953125%);
    --palWYmiddle1-169: rgb(91.40625% 71.875% 26.171875%);
    --palWYmiddle1-170: rgb(91.015625% 71.09375% 25.78125%);
    --palWYmiddle1-171: rgb(90.625% 69.921875% 25.390625%);
    --palWYmiddle1-172: rgb(90.625% 69.140625% 24.609375%);
    --palWYmiddle1-173: rgb(90.234375% 67.96875% 24.21875%);
    --palWYmiddle1-174: rgb(89.84375% 66.796875% 23.4375%);
    --palWYmiddle1-175: rgb(89.453125% 66.015625% 23.046875%);
    --palWYmiddle1-176: rgb(89.453125% 64.84375% 22.265625%);
    --palWYmiddle1-177: rgb(89.0625% 64.0625% 21.875%);
    --palWYmiddle1-178: rgb(88.671875% 62.890625% 21.484375%);
    --palWYmiddle1-179: rgb(88.28125% 62.109375% 20.703125%);
    --palWYmiddle1-180: rgb(88.28125% 60.9375% 20.3125%);
    --palWYmiddle1-181: rgb(87.890625% 60.15625% 19.53125%);
    --palWYmiddle1-182: rgb(87.5% 58.984375% 19.140625%);
    --palWYmiddle1-183: rgb(87.109375% 57.8125% 18.359375%);
    --palWYmiddle1-184: rgb(87.109375% 57.03125% 17.96875%);
    --palWYmiddle1-185: rgb(86.71875% 55.859375% 17.578125%);
    --palWYmiddle1-186: rgb(86.328125% 55.078125% 16.796875%);
    --palWYmiddle1-187: rgb(85.9375% 53.90625% 16.40625%);
    --palWYmiddle1-188: rgb(85.546875% 53.125% 15.625%);
    --palWYmiddle1-189: rgb(85.546875% 51.953125% 15.234375%);
    --palWYmiddle1-190: rgb(85.15625% 51.171875% 14.453125%);
    --palWYmiddle1-191: rgb(84.765625% 50% 14.0625%);
    --palWYmiddle1-192: rgb(84.375% 48.828125% 13.671875%);
    --palWYmiddle1-193: rgb(84.375% 48.046875% 12.890625%);
    --palWYmiddle1-194: rgb(83.984375% 46.875% 12.5%);
    --palWYmiddle1-195: rgb(83.59375% 46.09375% 11.71875%);
    --palWYmiddle1-196: rgb(83.203125% 44.921875% 11.328125%);
    --palWYmiddle1-197: rgb(83.203125% 44.140625% 10.546875%);
    --palWYmiddle1-198: rgb(82.8125% 42.96875% 10.15625%);
    --palWYmiddle1-199: rgb(82.421875% 42.1875% 9.765625%);
    --palWYmiddle1-200: rgb(82.03125% 41.015625% 8.984375%);
    --palWYmiddle1-201: rgb(82.03125% 39.84375% 8.59375%);
    --palWYmiddle1-202: rgb(81.640625% 39.0625% 7.8125%);
    --palWYmiddle1-203: rgb(81.25% 37.890625% 7.421875%);
    --palWYmiddle1-204: rgb(80.859375% 37.109375% 6.640625%);
    --palWYmiddle1-205: rgb(80.859375% 35.9375% 6.25%);
    --palWYmiddle1-206: rgb(80.078125% 35.546875% 6.25%);
    --palWYmiddle1-207: rgb(79.296875% 34.765625% 6.25%);
    --palWYmiddle1-208: rgb(78.90625% 34.375% 5.859375%);
    --palWYmiddle1-209: rgb(78.125% 33.59375% 5.859375%);
    --palWYmiddle1-210: rgb(77.34375% 33.203125% 5.859375%);
    --palWYmiddle1-211: rgb(76.953125% 32.421875% 5.859375%);
    --palWYmiddle1-212: rgb(76.171875% 32.03125% 5.46875%);
    --palWYmiddle1-213: rgb(75.390625% 31.25% 5.46875%);
    --palWYmiddle1-214: rgb(75% 30.859375% 5.46875%);
    --palWYmiddle1-215: rgb(74.21875% 30.078125% 5.46875%);
    --palWYmiddle1-216: rgb(73.4375% 29.6875% 5.078125%);
    --palWYmiddle1-217: rgb(73.046875% 28.90625% 5.078125%);
    --palWYmiddle1-218: rgb(72.265625% 28.515625% 5.078125%);
    --palWYmiddle1-219: rgb(71.484375% 27.734375% 5.078125%);
    --palWYmiddle1-220: rgb(71.09375% 27.34375% 4.6875%);
    --palWYmiddle1-221: rgb(70.3125% 26.5625% 4.6875%);
    --palWYmiddle1-222: rgb(69.53125% 26.171875% 4.6875%);
    --palWYmiddle1-223: rgb(69.140625% 25.390625% 4.6875%);
    --palWYmiddle1-224: rgb(68.359375% 24.609375% 4.296875%);
    --palWYmiddle1-225: rgb(67.578125% 24.21875% 4.296875%);
    --palWYmiddle1-226: rgb(67.1875% 23.4375% 4.296875%);
    --palWYmiddle1-227: rgb(66.40625% 23.046875% 4.296875%);
    --palWYmiddle1-228: rgb(65.625% 22.265625% 3.90625%);
    --palWYmiddle1-229: rgb(65.234375% 21.875% 3.90625%);
    --palWYmiddle1-230: rgb(64.453125% 21.09375% 3.90625%);
    --palWYmiddle1-231: rgb(63.671875% 20.703125% 3.515625%);
    --palWYmiddle1-232: rgb(63.28125% 19.921875% 3.515625%);
    --palWYmiddle1-233: rgb(62.5% 19.53125% 3.515625%);
    --palWYmiddle1-234: rgb(61.71875% 18.75% 3.515625%);
    --palWYmiddle1-235: rgb(61.328125% 18.359375% 3.125%);
    --palWYmiddle1-236: rgb(60.546875% 17.578125% 3.125%);
    --palWYmiddle1-237: rgb(59.765625% 17.1875% 3.125%);
    --palWYmiddle1-238: rgb(59.375% 16.40625% 3.125%);
    --palWYmiddle1-239: rgb(58.59375% 16.015625% 2.734375%);
    --palWYmiddle1-240: rgb(57.8125% 15.234375% 2.734375%);
    --palWYmiddle1-241: rgb(57.421875% 14.84375% 2.734375%);
    --palWYmiddle1-242: rgb(56.640625% 14.0625% 2.734375%);
    --palWYmiddle1-243: rgb(55.859375% 13.671875% 2.34375%);
    --palWYmiddle1-244: rgb(55.46875% 12.890625% 2.34375%);
    --palWYmiddle1-245: rgb(54.6875% 12.5% 2.34375%);
    --palWYmiddle1-246: rgb(53.90625% 11.71875% 2.34375%);
    --palWYmiddle1-247: rgb(53.515625% 11.328125% 1.953125%);
    --palWYmiddle1-248: rgb(52.734375% 10.546875% 1.953125%);
    --palWYmiddle1-249: rgb(52.34375% 10.15625% 1.953125%);
    --palWYmiddle1-250: rgb(51.5625% 9.375% 1.953125%);
    --palWYmiddle1-251: rgb(50.78125% 8.984375% 1.5625%);
    --palWYmiddle1-252: rgb(50.390625% 8.203125% 1.5625%);
    --palWYmiddle1-253: rgb(49.609375% 7.8125% 1.5625%);
    --palWYmiddle1-254: rgb(48.828125% 7.03125% 1.5625%);
    --palWYmiddle1-255: rgb(48.4375% 6.640625% 1.171875%);
    --palWYmiddle1-256: rgb(47.65625% 5.859375% 1.171875%);
}
