/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palYg1-1: rgb(93.359375% 93.359375% 91.796875%);
    --palYg1-2: rgb(92.96875% 92.1875% 89.84375%);
    --palYg1-3: rgb(92.1875% 91.40625% 88.28125%);
    --palYg1-4: rgb(91.40625% 90.625% 86.71875%);
    --palYg1-5: rgb(90.625% 89.84375% 84.765625%);
    --palYg1-6: rgb(89.84375% 89.0625% 83.203125%);
    --palYg1-7: rgb(89.453125% 88.671875% 82.421875%);
    --palYg1-8: rgb(89.0625% 88.28125% 82.03125%);
    --palYg1-9: rgb(89.0625% 88.28125% 81.640625%);
    --palYg1-10: rgb(88.671875% 87.890625% 81.25%);
    --palYg1-11: rgb(88.671875% 87.5% 80.859375%);
    --palYg1-12: rgb(88.28125% 87.5% 80.46875%);
    --palYg1-13: rgb(88.28125% 87.109375% 79.6875%);
    --palYg1-14: rgb(87.890625% 86.71875% 79.296875%);
    --palYg1-15: rgb(87.890625% 86.71875% 78.90625%);
    --palYg1-16: rgb(87.5% 86.328125% 78.515625%);
    --palYg1-17: rgb(87.5% 86.328125% 78.125%);
    --palYg1-18: rgb(87.109375% 85.9375% 77.34375%);
    --palYg1-19: rgb(87.109375% 85.546875% 76.953125%);
    --palYg1-20: rgb(86.71875% 85.546875% 76.5625%);
    --palYg1-21: rgb(86.328125% 85.15625% 76.171875%);
    --palYg1-22: rgb(86.328125% 84.765625% 75.78125%);
    --palYg1-23: rgb(85.9375% 84.765625% 75.390625%);
    --palYg1-24: rgb(85.9375% 84.375% 74.609375%);
    --palYg1-25: rgb(85.546875% 83.984375% 74.21875%);
    --palYg1-26: rgb(85.546875% 83.984375% 73.828125%);
    --palYg1-27: rgb(85.15625% 83.59375% 73.4375%);
    --palYg1-28: rgb(85.15625% 83.59375% 73.046875%);
    --palYg1-29: rgb(85.15625% 83.203125% 73.046875%);
    --palYg1-30: rgb(84.765625% 83.203125% 72.65625%);
    --palYg1-31: rgb(84.765625% 82.8125% 72.265625%);
    --palYg1-32: rgb(84.375% 82.8125% 72.265625%);
    --palYg1-33: rgb(84.375% 82.421875% 71.875%);
    --palYg1-34: rgb(84.375% 82.421875% 71.484375%);
    --palYg1-35: rgb(83.984375% 82.03125% 71.09375%);
    --palYg1-36: rgb(83.984375% 82.03125% 71.09375%);
    --palYg1-37: rgb(83.59375% 81.640625% 70.703125%);
    --palYg1-38: rgb(83.59375% 81.640625% 70.3125%);
    --palYg1-39: rgb(83.59375% 81.25% 70.3125%);
    --palYg1-40: rgb(83.203125% 81.25% 69.921875%);
    --palYg1-41: rgb(83.203125% 80.859375% 69.53125%);
    --palYg1-42: rgb(82.8125% 80.859375% 69.53125%);
    --palYg1-43: rgb(82.8125% 80.46875% 69.140625%);
    --palYg1-44: rgb(82.8125% 80.46875% 68.75%);
    --palYg1-45: rgb(82.421875% 80.078125% 68.359375%);
    --palYg1-46: rgb(82.421875% 80.078125% 68.359375%);
    --palYg1-47: rgb(82.03125% 79.6875% 67.96875%);
    --palYg1-48: rgb(82.03125% 79.6875% 67.578125%);
    --palYg1-49: rgb(82.03125% 79.296875% 67.578125%);
    --palYg1-50: rgb(81.640625% 79.296875% 67.1875%);
    --palYg1-51: rgb(81.640625% 78.90625% 66.796875%);
    --palYg1-52: rgb(81.640625% 78.90625% 66.40625%);
    --palYg1-53: rgb(81.25% 78.515625% 66.40625%);
    --palYg1-54: rgb(81.25% 78.515625% 66.015625%);
    --palYg1-55: rgb(81.25% 78.125% 65.625%);
    --palYg1-56: rgb(80.859375% 78.125% 65.625%);
    --palYg1-57: rgb(80.859375% 77.734375% 65.234375%);
    --palYg1-58: rgb(80.859375% 77.734375% 64.84375%);
    --palYg1-59: rgb(80.46875% 77.34375% 64.84375%);
    --palYg1-60: rgb(80.46875% 77.34375% 64.453125%);
    --palYg1-61: rgb(80.46875% 77.34375% 64.0625%);
    --palYg1-62: rgb(80.078125% 76.953125% 63.671875%);
    --palYg1-63: rgb(80.078125% 76.953125% 63.671875%);
    --palYg1-64: rgb(80.078125% 76.5625% 63.28125%);
    --palYg1-65: rgb(79.6875% 76.5625% 62.890625%);
    --palYg1-66: rgb(79.6875% 76.171875% 62.890625%);
    --palYg1-67: rgb(79.6875% 76.171875% 62.5%);
    --palYg1-68: rgb(79.296875% 76.171875% 62.109375%);
    --palYg1-69: rgb(79.296875% 75.78125% 61.71875%);
    --palYg1-70: rgb(79.296875% 75.78125% 61.71875%);
    --palYg1-71: rgb(79.296875% 75.390625% 61.328125%);
    --palYg1-72: rgb(78.90625% 75.390625% 60.9375%);
    --palYg1-73: rgb(78.90625% 75% 60.9375%);
    --palYg1-74: rgb(78.90625% 75% 60.546875%);
    --palYg1-75: rgb(78.515625% 75% 60.15625%);
    --palYg1-76: rgb(78.515625% 74.609375% 60.15625%);
    --palYg1-77: rgb(78.515625% 74.609375% 59.765625%);
    --palYg1-78: rgb(78.125% 74.21875% 59.375%);
    --palYg1-79: rgb(78.125% 74.21875% 59.375%);
    --palYg1-80: rgb(78.125% 74.21875% 58.984375%);
    --palYg1-81: rgb(78.125% 73.828125% 58.984375%);
    --palYg1-82: rgb(77.734375% 73.828125% 58.59375%);
    --palYg1-83: rgb(77.734375% 73.4375% 58.59375%);
    --palYg1-84: rgb(77.734375% 73.4375% 58.203125%);
    --palYg1-85: rgb(77.34375% 73.4375% 58.203125%);
    --palYg1-86: rgb(77.34375% 73.046875% 58.203125%);
    --palYg1-87: rgb(77.34375% 73.046875% 57.8125%);
    --palYg1-88: rgb(77.34375% 72.65625% 57.8125%);
    --palYg1-89: rgb(76.953125% 72.65625% 57.421875%);
    --palYg1-90: rgb(76.953125% 72.65625% 57.421875%);
    --palYg1-91: rgb(76.953125% 72.265625% 57.03125%);
    --palYg1-92: rgb(76.953125% 72.265625% 57.03125%);
    --palYg1-93: rgb(76.5625% 71.875% 56.640625%);
    --palYg1-94: rgb(76.5625% 71.875% 56.640625%);
    --palYg1-95: rgb(76.5625% 71.875% 56.25%);
    --palYg1-96: rgb(76.171875% 71.484375% 56.25%);
    --palYg1-97: rgb(76.171875% 71.484375% 55.859375%);
    --palYg1-98: rgb(76.171875% 71.09375% 55.859375%);
    --palYg1-99: rgb(76.171875% 71.09375% 55.46875%);
    --palYg1-100: rgb(75.78125% 71.09375% 55.46875%);
    --palYg1-101: rgb(75.78125% 70.703125% 55.078125%);
    --palYg1-102: rgb(75.78125% 70.703125% 55.078125%);
    --palYg1-103: rgb(75.390625% 70.703125% 54.6875%);
    --palYg1-104: rgb(75.390625% 70.3125% 54.6875%);
    --palYg1-105: rgb(75.390625% 70.3125% 54.6875%);
    --palYg1-106: rgb(75.390625% 70.3125% 54.296875%);
    --palYg1-107: rgb(75.390625% 69.921875% 54.296875%);
    --palYg1-108: rgb(75.390625% 69.921875% 54.296875%);
    --palYg1-109: rgb(75% 69.921875% 53.90625%);
    --palYg1-110: rgb(75% 69.53125% 53.90625%);
    --palYg1-111: rgb(75% 69.53125% 53.90625%);
    --palYg1-112: rgb(75% 69.53125% 53.515625%);
    --palYg1-113: rgb(75% 69.140625% 53.515625%);
    --palYg1-114: rgb(74.609375% 69.140625% 53.515625%);
    --palYg1-115: rgb(74.609375% 69.140625% 53.125%);
    --palYg1-116: rgb(74.609375% 68.75% 53.125%);
    --palYg1-117: rgb(74.609375% 68.75% 53.125%);
    --palYg1-118: rgb(74.609375% 68.75% 52.734375%);
    --palYg1-119: rgb(74.21875% 68.359375% 52.734375%);
    --palYg1-120: rgb(74.21875% 68.359375% 52.734375%);
    --palYg1-121: rgb(74.21875% 68.359375% 52.34375%);
    --palYg1-122: rgb(74.21875% 68.359375% 52.34375%);
    --palYg1-123: rgb(74.21875% 67.96875% 51.953125%);
    --palYg1-124: rgb(73.828125% 67.96875% 51.953125%);
    --palYg1-125: rgb(73.828125% 67.96875% 51.953125%);
    --palYg1-126: rgb(73.828125% 67.578125% 51.5625%);
    --palYg1-127: rgb(73.828125% 67.578125% 51.5625%);
    --palYg1-128: rgb(73.828125% 67.578125% 51.5625%);
    --palYg1-129: rgb(73.4375% 67.1875% 51.171875%);
    --palYg1-130: rgb(73.4375% 67.1875% 51.171875%);
    --palYg1-131: rgb(73.4375% 67.1875% 51.171875%);
    --palYg1-132: rgb(73.4375% 66.796875% 50.78125%);
    --palYg1-133: rgb(73.4375% 66.796875% 50.78125%);
    --palYg1-134: rgb(73.046875% 66.796875% 50.78125%);
    --palYg1-135: rgb(73.046875% 66.40625% 50.390625%);
    --palYg1-136: rgb(73.046875% 66.40625% 50.390625%);
    --palYg1-137: rgb(73.046875% 66.015625% 50%);
    --palYg1-138: rgb(73.046875% 66.015625% 50%);
    --palYg1-139: rgb(72.65625% 66.015625% 50%);
    --palYg1-140: rgb(72.65625% 65.625% 49.609375%);
    --palYg1-141: rgb(72.65625% 65.625% 49.609375%);
    --palYg1-142: rgb(72.65625% 65.625% 49.609375%);
    --palYg1-143: rgb(72.65625% 65.234375% 49.21875%);
    --palYg1-144: rgb(72.265625% 65.234375% 49.21875%);
    --palYg1-145: rgb(72.265625% 65.234375% 49.21875%);
    --palYg1-146: rgb(72.265625% 64.84375% 48.828125%);
    --palYg1-147: rgb(72.265625% 64.84375% 48.828125%);
    --palYg1-148: rgb(72.265625% 64.84375% 48.828125%);
    --palYg1-149: rgb(71.875% 64.453125% 48.4375%);
    --palYg1-150: rgb(71.875% 64.453125% 48.4375%);
    --palYg1-151: rgb(71.875% 64.453125% 48.4375%);
    --palYg1-152: rgb(71.875% 64.0625% 48.046875%);
    --palYg1-153: rgb(71.875% 64.0625% 48.046875%);
    --palYg1-154: rgb(71.875% 63.671875% 48.046875%);
    --palYg1-155: rgb(71.484375% 63.671875% 47.65625%);
    --palYg1-156: rgb(71.484375% 63.671875% 47.65625%);
    --palYg1-157: rgb(71.09375% 63.28125% 47.265625%);
    --palYg1-158: rgb(71.09375% 63.28125% 47.265625%);
    --palYg1-159: rgb(70.703125% 62.890625% 46.875%);
    --palYg1-160: rgb(70.703125% 62.890625% 46.875%);
    --palYg1-161: rgb(70.3125% 62.5% 46.484375%);
    --palYg1-162: rgb(70.3125% 62.5% 46.484375%);
    --palYg1-163: rgb(70.3125% 62.109375% 46.09375%);
    --palYg1-164: rgb(69.921875% 62.109375% 46.09375%);
    --palYg1-165: rgb(69.921875% 61.71875% 45.703125%);
    --palYg1-166: rgb(69.53125% 61.71875% 45.703125%);
    --palYg1-167: rgb(69.53125% 61.328125% 45.3125%);
    --palYg1-168: rgb(69.140625% 61.328125% 45.3125%);
    --palYg1-169: rgb(69.140625% 60.9375% 44.921875%);
    --palYg1-170: rgb(69.140625% 60.9375% 44.921875%);
    --palYg1-171: rgb(68.75% 60.546875% 44.53125%);
    --palYg1-172: rgb(68.75% 60.546875% 44.53125%);
    --palYg1-173: rgb(68.359375% 60.546875% 44.53125%);
    --palYg1-174: rgb(68.359375% 60.15625% 44.140625%);
    --palYg1-175: rgb(67.96875% 60.15625% 44.140625%);
    --palYg1-176: rgb(67.96875% 59.765625% 43.75%);
    --palYg1-177: rgb(67.96875% 59.765625% 43.75%);
    --palYg1-178: rgb(67.578125% 59.375% 43.359375%);
    --palYg1-179: rgb(67.578125% 59.375% 43.359375%);
    --palYg1-180: rgb(67.1875% 58.984375% 42.96875%);
    --palYg1-181: rgb(67.1875% 58.984375% 42.96875%);
    --palYg1-182: rgb(67.1875% 58.59375% 42.578125%);
    --palYg1-183: rgb(66.796875% 58.59375% 42.578125%);
    --palYg1-184: rgb(66.796875% 58.203125% 42.578125%);
    --palYg1-185: rgb(66.40625% 58.203125% 42.1875%);
    --palYg1-186: rgb(66.40625% 57.8125% 42.1875%);
    --palYg1-187: rgb(66.40625% 57.8125% 41.796875%);
    --palYg1-188: rgb(66.015625% 57.421875% 41.796875%);
    --palYg1-189: rgb(66.015625% 57.421875% 41.40625%);
    --palYg1-190: rgb(65.625% 57.03125% 41.40625%);
    --palYg1-191: rgb(65.625% 57.03125% 41.40625%);
    --palYg1-192: rgb(65.625% 56.640625% 41.015625%);
    --palYg1-193: rgb(65.234375% 56.640625% 41.015625%);
    --palYg1-194: rgb(65.234375% 56.25% 40.625%);
    --palYg1-195: rgb(64.84375% 56.25% 40.625%);
    --palYg1-196: rgb(64.84375% 55.859375% 40.234375%);
    --palYg1-197: rgb(64.84375% 55.859375% 40.234375%);
    --palYg1-198: rgb(64.453125% 55.46875% 40.234375%);
    --palYg1-199: rgb(64.453125% 55.46875% 39.84375%);
    --palYg1-200: rgb(64.0625% 55.078125% 39.84375%);
    --palYg1-201: rgb(64.0625% 55.078125% 39.453125%);
    --palYg1-202: rgb(64.0625% 54.6875% 39.453125%);
    --palYg1-203: rgb(63.671875% 54.6875% 39.0625%);
    --palYg1-204: rgb(63.671875% 54.296875% 39.0625%);
    --palYg1-205: rgb(63.671875% 53.90625% 39.0625%);
    --palYg1-206: rgb(63.28125% 53.90625% 38.671875%);
    --palYg1-207: rgb(63.28125% 53.515625% 38.671875%);
    --palYg1-208: rgb(62.890625% 53.515625% 38.28125%);
    --palYg1-209: rgb(62.890625% 53.125% 38.28125%);
    --palYg1-210: rgb(62.890625% 53.125% 37.890625%);
    --palYg1-211: rgb(62.5% 52.734375% 37.890625%);
    --palYg1-212: rgb(62.5% 52.734375% 37.5%);
    --palYg1-213: rgb(62.109375% 52.34375% 37.5%);
    --palYg1-214: rgb(62.109375% 52.34375% 37.5%);
    --palYg1-215: rgb(62.109375% 51.953125% 37.109375%);
    --palYg1-216: rgb(61.71875% 51.953125% 37.109375%);
    --palYg1-217: rgb(61.71875% 51.5625% 36.71875%);
    --palYg1-218: rgb(61.328125% 51.5625% 36.71875%);
    --palYg1-219: rgb(61.328125% 51.171875% 36.328125%);
    --palYg1-220: rgb(61.328125% 51.171875% 36.328125%);
    --palYg1-221: rgb(60.9375% 50.78125% 36.328125%);
    --palYg1-222: rgb(60.9375% 50.78125% 35.9375%);
    --palYg1-223: rgb(60.546875% 50.390625% 35.9375%);
    --palYg1-224: rgb(60.546875% 50.390625% 35.546875%);
    --palYg1-225: rgb(60.546875% 50% 35.546875%);
    --palYg1-226: rgb(60.15625% 50% 35.15625%);
    --palYg1-227: rgb(60.15625% 49.609375% 35.15625%);
    --palYg1-228: rgb(59.765625% 49.609375% 35.15625%);
    --palYg1-229: rgb(59.765625% 49.21875% 34.765625%);
    --palYg1-230: rgb(59.765625% 49.21875% 34.765625%);
    --palYg1-231: rgb(59.375% 48.828125% 34.375%);
    --palYg1-232: rgb(59.375% 48.828125% 34.375%);
    --palYg1-233: rgb(58.984375% 48.4375% 33.984375%);
    --palYg1-234: rgb(58.984375% 48.046875% 33.984375%);
    --palYg1-235: rgb(58.59375% 48.046875% 33.59375%);
    --palYg1-236: rgb(58.59375% 47.65625% 33.59375%);
    --palYg1-237: rgb(58.203125% 47.265625% 33.203125%);
    --palYg1-238: rgb(58.203125% 47.265625% 33.203125%);
    --palYg1-239: rgb(57.8125% 46.875% 32.8125%);
    --palYg1-240: rgb(57.8125% 46.875% 32.8125%);
    --palYg1-241: rgb(57.421875% 46.484375% 32.421875%);
    --palYg1-242: rgb(57.421875% 46.09375% 32.421875%);
    --palYg1-243: rgb(57.03125% 46.09375% 32.03125%);
    --palYg1-244: rgb(57.03125% 45.703125% 32.03125%);
    --palYg1-245: rgb(56.640625% 45.3125% 31.640625%);
    --palYg1-246: rgb(56.640625% 45.3125% 31.640625%);
    --palYg1-247: rgb(56.25% 44.921875% 31.25%);
    --palYg1-248: rgb(56.25% 44.921875% 31.25%);
    --palYg1-249: rgb(55.859375% 44.53125% 30.859375%);
    --palYg1-250: rgb(55.859375% 44.140625% 30.859375%);
    --palYg1-251: rgb(55.46875% 44.140625% 30.46875%);
    --palYg1-252: rgb(55.46875% 43.75% 30.46875%);
    --palYg1-253: rgb(55.078125% 43.359375% 30.078125%);
    --palYg1-254: rgb(55.078125% 43.359375% 30.078125%);
    --palYg1-255: rgb(54.6875% 42.96875% 29.6875%);
    --palYg1-256: rgb(54.6875% 42.96875% 29.296875%);
}
