/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palYlOrRd-1: rgb(100% 100% 80%);
    --palYlOrRd-2: rgb(100% 92.941176% 62.745098%);
    --palYlOrRd-3: rgb(99.607843% 85.098039% 46.27451%);
    --palYlOrRd-4: rgb(99.607843% 69.803922% 29.803922%);
    --palYlOrRd-5: rgb(99.215686% 55.294118% 23.529412%);
    --palYlOrRd-6: rgb(98.823529% 30.588235% 16.470588%);
    --palYlOrRd-7: rgb(89.019608% 10.196078% 10.980392%);
    --palYlOrRd-8: rgb(74.117647% 0% 14.901961%);
    --palYlOrRd-9: rgb(50.196078% 0% 14.901961%);
}
