/* ----------------------------------------------------------------- */
/* -- File created by the ''@prism'' project, version 1.3.0,      -- */
/* -- which is developed at                                       -- */
/* -- https://github.com/projetmbc/for-writing/tree/main/@prism . -- */
/* ----------------------------------------------------------------- */

:root {
    --palActon-1: rgb(14.94% 4.9588% 24.92%);
    --palActon-2: rgb(15.292% 5.4745% 25.374%);
    --palActon-3: rgb(15.65% 5.9987% 25.825%);
    --palActon-4: rgb(15.997% 6.5016% 26.278%);
    --palActon-5: rgb(16.352% 7.0056% 26.727%);
    --palActon-6: rgb(16.701% 7.5019% 27.176%);
    --palActon-7: rgb(17.046% 7.9947% 27.627%);
    --palActon-8: rgb(17.39% 8.4871% 28.07%);
    --palActon-9: rgb(17.734% 8.9731% 28.514%);
    --palActon-10: rgb(18.072% 9.4578% 28.957%);
    --palActon-11: rgb(18.411% 9.9319% 29.396%);
    --palActon-12: rgb(18.75% 10.408% 29.834%);
    --palActon-13: rgb(19.081% 10.88% 30.269%);
    --palActon-14: rgb(19.416% 11.354% 30.703%);
    --palActon-15: rgb(19.745% 11.822% 31.134%);
    --palActon-16: rgb(20.071% 12.281% 31.563%);
    --palActon-17: rgb(20.401% 12.746% 31.99%);
    --palActon-18: rgb(20.725% 13.209% 32.412%);
    --palActon-19: rgb(21.047% 13.666% 32.835%);
    --palActon-20: rgb(21.368% 14.126% 33.256%);
    --palActon-21: rgb(21.689% 14.581% 33.673%);
    --palActon-22: rgb(22.007% 15.032% 34.089%);
    --palActon-23: rgb(22.323% 15.482% 34.503%);
    --palActon-24: rgb(22.638% 15.931% 34.915%);
    --palActon-25: rgb(22.949% 16.383% 35.325%);
    --palActon-26: rgb(23.263% 16.825% 35.734%);
    --palActon-27: rgb(23.575% 17.27% 36.14%);
    --palActon-28: rgb(23.883% 17.714% 36.545%);
    --palActon-29: rgb(24.192% 18.153% 36.948%);
    --palActon-30: rgb(24.497% 18.597% 37.35%);
    --palActon-31: rgb(24.807% 19.033% 37.75%);
    --palActon-32: rgb(25.111% 19.472% 38.15%);
    --palActon-33: rgb(25.414% 19.904% 38.546%);
    --palActon-34: rgb(25.717% 20.34% 38.942%);
    --palActon-35: rgb(26.018% 20.772% 39.336%);
    --palActon-36: rgb(26.319% 21.205% 39.729%);
    --palActon-37: rgb(26.619% 21.635% 40.122%);
    --palActon-38: rgb(26.918% 22.063% 40.511%);
    --palActon-39: rgb(27.212% 22.486% 40.9%);
    --palActon-40: rgb(27.51% 22.913% 41.288%);
    --palActon-41: rgb(27.806% 23.336% 41.674%);
    --palActon-42: rgb(28.099% 23.762% 42.058%);
    --palActon-43: rgb(28.393% 24.182% 42.442%);
    --palActon-44: rgb(28.685% 24.6% 42.824%);
    --palActon-45: rgb(28.978% 25.018% 43.206%);
    --palActon-46: rgb(29.268% 25.438% 43.585%);
    --palActon-47: rgb(29.558% 25.853% 43.963%);
    --palActon-48: rgb(29.848% 26.268% 44.341%);
    --palActon-49: rgb(30.136% 26.681% 44.716%);
    --palActon-50: rgb(30.425% 27.094% 45.091%);
    --palActon-51: rgb(30.713% 27.503% 45.465%);
    --palActon-52: rgb(31.003% 27.914% 45.836%);
    --palActon-53: rgb(31.289% 28.321% 46.207%);
    --palActon-54: rgb(31.58% 28.726% 46.576%);
    --palActon-55: rgb(31.868% 29.133% 46.946%);
    --palActon-56: rgb(32.158% 29.535% 47.311%);
    --palActon-57: rgb(32.451% 29.938% 47.677%);
    --palActon-58: rgb(32.747% 30.337% 48.041%);
    --palActon-59: rgb(33.046% 30.736% 48.403%);
    --palActon-60: rgb(33.35% 31.133% 48.764%);
    --palActon-61: rgb(33.657% 31.528% 49.123%);
    --palActon-62: rgb(33.973% 31.92% 49.478%);
    --palActon-63: rgb(34.295% 32.31% 49.832%);
    --palActon-64: rgb(34.623% 32.694% 50.18%);
    --palActon-65: rgb(34.964% 33.075% 50.525%);
    --palActon-66: rgb(35.314% 33.453% 50.866%);
    --palActon-67: rgb(35.676% 33.82% 51.199%);
    --palActon-68: rgb(36.048% 34.183% 51.526%);
    --palActon-69: rgb(36.434% 34.536% 51.845%);
    --palActon-70: rgb(36.834% 34.88% 52.152%);
    --palActon-71: rgb(37.244% 35.21% 52.45%);
    --palActon-72: rgb(37.668% 35.531% 52.735%);
    --palActon-73: rgb(38.102% 35.833% 53.006%);
    --palActon-74: rgb(38.545% 36.12% 53.263%);
    --palActon-75: rgb(38.998% 36.391% 53.502%);
    --palActon-76: rgb(39.459% 36.646% 53.727%);
    --palActon-77: rgb(39.925% 36.88% 53.932%);
    --palActon-78: rgb(40.397% 37.095% 54.121%);
    --palActon-79: rgb(40.87% 37.293% 54.294%);
    --palActon-80: rgb(41.346% 37.473% 54.449%);
    --palActon-81: rgb(41.821% 37.636% 54.589%);
    --palActon-82: rgb(42.296% 37.78% 54.712%);
    --palActon-83: rgb(42.772% 37.91% 54.822%);
    --palActon-84: rgb(43.245% 38.027% 54.919%);
    --palActon-85: rgb(43.716% 38.13% 55.004%);
    --palActon-86: rgb(44.186% 38.221% 55.079%);
    --palActon-87: rgb(44.653% 38.304% 55.145%);
    --palActon-88: rgb(45.121% 38.377% 55.203%);
    --palActon-89: rgb(45.586% 38.442% 55.254%);
    --palActon-90: rgb(46.051% 38.502% 55.299%);
    --palActon-91: rgb(46.517% 38.556% 55.34%);
    --palActon-92: rgb(46.983% 38.606% 55.377%);
    --palActon-93: rgb(47.45% 38.652% 55.411%);
    --palActon-94: rgb(47.917% 38.696% 55.442%);
    --palActon-95: rgb(48.385% 38.738% 55.472%);
    --palActon-96: rgb(48.857% 38.778% 55.499%);
    --palActon-97: rgb(49.329% 38.817% 55.525%);
    --palActon-98: rgb(49.805% 38.855% 55.551%);
    --palActon-99: rgb(50.281% 38.893% 55.575%);
    --palActon-100: rgb(50.762% 38.929% 55.6%);
    --palActon-101: rgb(51.244% 38.965% 55.624%);
    --palActon-102: rgb(51.73% 39% 55.649%);
    --palActon-103: rgb(52.217% 39.037% 55.673%);
    --palActon-104: rgb(52.71% 39.073% 55.697%);
    --palActon-105: rgb(53.204% 39.11% 55.721%);
    --palActon-106: rgb(53.701% 39.146% 55.745%);
    --palActon-107: rgb(54.2% 39.182% 55.769%);
    --palActon-108: rgb(54.703% 39.219% 55.792%);
    --palActon-109: rgb(55.209% 39.255% 55.816%);
    --palActon-110: rgb(55.718% 39.292% 55.841%);
    --palActon-111: rgb(56.23% 39.329% 55.865%);
    --palActon-112: rgb(56.744% 39.367% 55.89%);
    --palActon-113: rgb(57.262% 39.404% 55.915%);
    --palActon-114: rgb(57.781% 39.442% 55.94%);
    --palActon-115: rgb(58.304% 39.48% 55.965%);
    --palActon-116: rgb(58.83% 39.519% 55.991%);
    --palActon-117: rgb(59.359% 39.557% 56.016%);
    --palActon-118: rgb(59.891% 39.596% 56.041%);
    --palActon-119: rgb(60.425% 39.634% 56.067%);
    --palActon-120: rgb(60.962% 39.673% 56.092%);
    --palActon-121: rgb(61.501% 39.712% 56.118%);
    --palActon-122: rgb(62.045% 39.752% 56.145%);
    --palActon-123: rgb(62.589% 39.793% 56.172%);
    --palActon-124: rgb(63.138% 39.834% 56.2%);
    --palActon-125: rgb(63.689% 39.874% 56.227%);
    --palActon-126: rgb(64.242% 39.916% 56.256%);
    --palActon-127: rgb(64.797% 39.958% 56.284%);
    --palActon-128: rgb(65.356% 40.003% 56.315%);
    --palActon-129: rgb(65.918% 40.05% 56.346%);
    --palActon-130: rgb(66.482% 40.098% 56.379%);
    --palActon-131: rgb(67.049% 40.146% 56.414%);
    --palActon-132: rgb(67.618% 40.198% 56.451%);
    --palActon-133: rgb(68.188% 40.254% 56.491%);
    --palActon-134: rgb(68.762% 40.315% 56.535%);
    --palActon-135: rgb(69.337% 40.381% 56.585%);
    --palActon-136: rgb(69.914% 40.452% 56.64%);
    --palActon-137: rgb(70.491% 40.532% 56.702%);
    --palActon-138: rgb(71.07% 40.621% 56.77%);
    --palActon-139: rgb(71.648% 40.719% 56.848%);
    --palActon-140: rgb(72.223% 40.83% 56.936%);
    --palActon-141: rgb(72.798% 40.954% 57.036%);
    --palActon-142: rgb(73.368% 41.094% 57.149%);
    --palActon-143: rgb(73.934% 41.25% 57.277%);
    --palActon-144: rgb(74.492% 41.424% 57.419%);
    --palActon-145: rgb(75.043% 41.618% 57.58%);
    --palActon-146: rgb(75.583% 41.833% 57.756%);
    --palActon-147: rgb(76.111% 42.07% 57.953%);
    --palActon-148: rgb(76.624% 42.33% 58.167%);
    --palActon-149: rgb(77.122% 42.613% 58.402%);
    --palActon-150: rgb(77.601% 42.919% 58.656%);
    --palActon-151: rgb(78.061% 43.248% 58.928%);
    --palActon-152: rgb(78.501% 43.597% 59.221%);
    --palActon-153: rgb(78.919% 43.967% 59.529%);
    --palActon-154: rgb(79.315% 44.356% 59.854%);
    --palActon-155: rgb(79.688% 44.763% 60.195%);
    --palActon-156: rgb(80.039% 45.187% 60.549%);
    --palActon-157: rgb(80.368% 45.624% 60.917%);
    --palActon-158: rgb(80.677% 46.074% 61.294%);
    --palActon-159: rgb(80.965% 46.535% 61.683%);
    --palActon-160: rgb(81.235% 47.006% 62.08%);
    --palActon-161: rgb(81.487% 47.484% 62.483%);
    --palActon-162: rgb(81.725% 47.969% 62.893%);
    --palActon-163: rgb(81.948% 48.458% 63.307%);
    --palActon-164: rgb(82.159% 48.952% 63.726%);
    --palActon-165: rgb(82.36% 49.451% 64.148%);
    --palActon-166: rgb(82.551% 49.95% 64.574%);
    --palActon-167: rgb(82.735% 50.454% 65.002%);
    --palActon-168: rgb(82.912% 50.958% 65.431%);
    --palActon-169: rgb(83.084% 51.464% 65.862%);
    --palActon-170: rgb(83.251% 51.971% 66.295%);
    --palActon-171: rgb(83.415% 52.48% 66.728%);
    --palActon-172: rgb(83.576% 52.989% 67.162%);
    --palActon-173: rgb(83.735% 53.498% 67.597%);
    --palActon-174: rgb(83.892% 54.009% 68.032%);
    --palActon-175: rgb(84.048% 54.52% 68.469%);
    --palActon-176: rgb(84.203% 55.032% 68.906%);
    --palActon-177: rgb(84.356% 55.544% 69.343%);
    --palActon-178: rgb(84.51% 56.057% 69.78%);
    --palActon-179: rgb(84.663% 56.569% 70.217%);
    --palActon-180: rgb(84.816% 57.083% 70.655%);
    --palActon-181: rgb(84.969% 57.598% 71.093%);
    --palActon-182: rgb(85.12% 58.112% 71.531%);
    --palActon-183: rgb(85.273% 58.627% 71.969%);
    --palActon-184: rgb(85.425% 59.141% 72.406%);
    --palActon-185: rgb(85.577% 59.657% 72.843%);
    --palActon-186: rgb(85.728% 60.172% 73.281%);
    --palActon-187: rgb(85.879% 60.688% 73.717%);
    --palActon-188: rgb(86.03% 61.203% 74.153%);
    --palActon-189: rgb(86.18% 61.72% 74.588%);
    --palActon-190: rgb(86.331% 62.235% 75.022%);
    --palActon-191: rgb(86.479% 62.751% 75.455%);
    --palActon-192: rgb(86.628% 63.267% 75.886%);
    --palActon-193: rgb(86.776% 63.783% 76.316%);
    --palActon-194: rgb(86.924% 64.298% 76.744%);
    --palActon-195: rgb(87.07% 64.812% 77.17%);
    --palActon-196: rgb(87.216% 65.326% 77.594%);
    --palActon-197: rgb(87.36% 65.84% 78.016%);
    --palActon-198: rgb(87.503% 66.353% 78.436%);
    --palActon-199: rgb(87.645% 66.865% 78.852%);
    --palActon-200: rgb(87.786% 67.375% 79.265%);
    --palActon-201: rgb(87.925% 67.885% 79.676%);
    --palActon-202: rgb(88.064% 68.393% 80.083%);
    --palActon-203: rgb(88.201% 68.9% 80.488%);
    --palActon-204: rgb(88.337% 69.404% 80.889%);
    --palActon-205: rgb(88.471% 69.908% 81.286%);
    --palActon-206: rgb(88.604% 70.41% 81.681%);
    --palActon-207: rgb(88.735% 70.91% 82.072%);
    --palActon-208: rgb(88.866% 71.406% 82.459%);
    --palActon-209: rgb(88.994% 71.902% 82.844%);
    --palActon-210: rgb(89.122% 72.395% 83.225%);
    --palActon-211: rgb(89.248% 72.885% 83.603%);
    --palActon-212: rgb(89.373% 73.373% 83.978%);
    --palActon-213: rgb(89.497% 73.859% 84.348%);
    --palActon-214: rgb(89.62% 74.342% 84.717%);
    --palActon-215: rgb(89.742% 74.822% 85.082%);
    --palActon-216: rgb(89.862% 75.299% 85.446%);
    --palActon-217: rgb(89.982% 75.775% 85.805%);
    --palActon-218: rgb(90.101% 76.247% 86.163%);
    --palActon-219: rgb(90.218% 76.716% 86.517%);
    --palActon-220: rgb(90.335% 77.183% 86.87%);
    --palActon-221: rgb(90.451% 77.647% 87.22%);
    --palActon-222: rgb(90.567% 78.107% 87.566%);
    --palActon-223: rgb(90.681% 78.565% 87.911%);
    --palActon-224: rgb(90.794% 79.02% 88.253%);
    --palActon-225: rgb(90.906% 79.472% 88.593%);
    --palActon-226: rgb(91.019% 79.922% 88.931%);
    --palActon-227: rgb(91.13% 80.367% 89.266%);
    --palActon-228: rgb(91.24% 80.81% 89.599%);
    --palActon-229: rgb(91.349% 81.25% 89.93%);
    --palActon-230: rgb(91.458% 81.688% 90.258%);
    --palActon-231: rgb(91.565% 82.121% 90.584%);
    --palActon-232: rgb(91.673% 82.552% 90.907%);
    --palActon-233: rgb(91.78% 82.98% 91.228%);
    --palActon-234: rgb(91.885% 83.405% 91.546%);
    --palActon-235: rgb(91.99% 83.826% 91.863%);
    --palActon-236: rgb(92.093% 84.245% 92.177%);
    --palActon-237: rgb(92.197% 84.659% 92.488%);
    --palActon-238: rgb(92.299% 85.071% 92.797%);
    --palActon-239: rgb(92.401% 85.48% 93.104%);
    --palActon-240: rgb(92.501% 85.885% 93.408%);
    --palActon-241: rgb(92.601% 86.287% 93.71%);
    --palActon-242: rgb(92.699% 86.685% 94.009%);
    --palActon-243: rgb(92.797% 87.08% 94.306%);
    --palActon-244: rgb(92.894% 87.472% 94.599%);
    --palActon-245: rgb(92.991% 87.86% 94.891%);
    --palActon-246: rgb(93.086% 88.245% 95.18%);
    --palActon-247: rgb(93.18% 88.626% 95.466%);
    --palActon-248: rgb(93.273% 89.004% 95.749%);
    --palActon-249: rgb(93.365% 89.378% 96.031%);
    --palActon-250: rgb(93.457% 89.75% 96.309%);
    --palActon-251: rgb(93.547% 90.117% 96.585%);
    --palActon-252: rgb(93.637% 90.482% 96.859%);
    --palActon-253: rgb(93.725% 90.844% 97.131%);
    --palActon-254: rgb(93.813% 91.203% 97.4%);
    --palActon-255: rgb(93.9% 91.56% 97.668%);
    --palActon-256: rgb(93.986% 91.915% 97.935%);
}
