/***
this:: author = First Name, Last Name
css::
    #8B0000
    #CB2600
    #FF5500
    #FFA600
    #C6A71C
    #393064
    #101A70
    #2A4654
    #1A2C2C
    #000000
***/
:root {
  --color-1: #8B0000;
  --color-2: #CB2600;
  --color-3: #FF5500;
  --color-4: #FFA600;
  --color-5: #C6A71C;
  --color-6: #393064;
  --color-7: #101A70;
  --color-8: #2A4654;
  --color-9: #1A2C2C;
  --color-10: #000000;

  /* Gradients */
  --gradient-palette: linear-gradient(90deg, #8B0000, #CB2600, #FF5500, #FFA600, #C6A71C, #393064, #101A70, #2A4654, #1A2C2C, #000000);
  --gradient-palette-reverse: linear-gradient(90deg, #000000, #1A2C2C, #2A4654, #101A70, #393064, #C6A71C, #FFA600, #FF5500, #CB2600, #8B0000);
  --gradient-palette-shift1: linear-gradient(90deg, #CB2600, #FF5500, #FFA600, #C6A71C, #393064, #101A70, #2A4654, #1A2C2C, #000000, #8B0000);
  --gradient-palette-shift2: linear-gradient(90deg, #FF5500, #FFA600, #C6A71C, #393064, #101A70, #2A4654, #1A2C2C, #000000, #8B0000, #CB2600);
}
